---
title: Explorer for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-explorer-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Explorer for ArcGIS Home page."><META name="last-modified" content="2016-2-9"><META name="product" content="explorer-iphone,explorer-ipad,explorer-mac,explorer-android-phone,explorer-android-tablet"><META name="sub_category" content="Explorer for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Explorer for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/explorer/">Explorer for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Explorer">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="explorer-ipad" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/explorer/">Inicio</a></li>
        <li><a href="/es/explorer/author-maps/create-a-map.htm">Crear mapas</a></li>
        <li><a href="/es/explorer/android-phone/use-maps/guided-tour-user.htm">Usar mapas</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/explorer-for-arcgis">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <h3 class="gray">Acceda a sus mapas, busque y visualice sus datos e informe a los interesados.</h3>

	<!--
          <span id="appVersion"><strong>Version:</strong> 10.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	-->

        <p>
          <a href="https://itunes.apple.com/us/app/explorer-for-arcgis/id860708788"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
          <a href="http://links.esri.com/explorer-mac-install"><img src="mac-app.png" style="margin:10px; vertical-align:middle"/></a>
          <a href="https://play.google.com/store/apps/details?id=com.esri.explorer"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
        </p>
        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="explorer-home-2.png" />

          <h3>Crea un mapa</h3>
          <p>Cree un mapa en su organización de ArcGIS para usarlo en Explorer.</p>
          <p>
            <a href="/es/explorer/author-maps/create-a-map.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
			<!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->

          </p>
        </div>

	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="explorer-home-1.png" />

          <h3>Recorrido guiado</h3>
          <p>Busque los mapas que le interesan, busque y visualice sus datos, encuentre sus activos y vea sus detalles, y comparta los mapas con otros usuarios. </p>
          <p>
            <a href="/es/explorer/android-phone/use-maps/guided-tour-user.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br /><br/>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorMapFeature" class="column-12 phone-column-24">
	          <img src="story-graphic-3.png" />

	  <h3>Comunicar con mapas</h3>
	  <p>Use su dispositivo para compartir las presentaciones creadas con su mapa. Interactúe con los datos mientras realiza una presentación, lo que incluye la posibilidad de dibujar en el mapa.</p>
	  <p>
	    <a href="/es/explorer/android-phone/use-maps/view-a-presentation.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
	    <!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->
	  </p>
        </div>

	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="explorer-home-3.png" />

          <h3>¿Necesita ayuda?</h3>
          <p>Consulte las <a href="/es/explorer/android-phone/use-maps/faqs-use-maps.htm">Preguntas frecuentes</a> para obtener respuestas a preguntas habituales, utilice la <a href="/es/explorer/android-phone/use-maps/quick-reference-user.htm">Referencia rápida</a> para saber dónde se encuentran las herramientas en la aplicación o visite nuestro <a href="https://geonet.esri.com/community/gis/applications/explorer-for-arcgis">foro</a>.</p>
        </div>

        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Características</h2>
        <p>Acceda a sus mapas, busque y visualice sus datos y haga presentaciones. </p>
        <ul>
          <li>Disfrute de una aplicación personalizada con sus mapas favoritos, sus lugares y sus contactos.</li>
          <li>Descubra mapas.</li>
          <li>Vea sus datos.</li>
          <li>Comparta mapas y datos como imágenes o vínculos.</li>
          <li>Búsqueda de datos.</li>
          <li>Haga presentaciones con mapas interactivos.</li>
        </ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos del sistema</h2>

        <p> Existen algunos requisitos de dispositivo para ejecutar Explorer, así como requisitos para los datos utilizados en la aplicación.</p>


        <h3>Requisitos de datos</h3>
        <p>Para utilizar los mapas en Explorer, debe tener una cuenta de organización de ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server.</p>


        <h3>Requisitos de dispositivo</h3>
        <table><tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">
iOS</h4>
            <ul>
              <li>Versión 7 o posterior</li>
              <li>iPhone, iPad, iPod touch</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-apple">Mac</h4>
            <ul>
              <li>OS X Mavericks (10.9) o posterior</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">
Android</h4>
            <ul>
              <li>Android 4.0.3 (Ice Cream Sandwich) o posterior</li>
              <li>Procesador ARMv7 o x86</li>
              <li>Compatibilidad con OpenGL ES 2.0</li>
            </ul>
          </td>
        <tr></table>

	<h3>Idiomas compatibles</h3>
	    <p>Árabe, checo, danés, holandés, inglés, estonio (<span class="icon-android"/>), finlandés, francés, alemán, griego, hebreo, italiano,
	       japonés, coreano, lituano (<span class="icon-android"/>), letón (<span class="icon-android"/>), noruego, polaco,
	       portugués (Brasil), portugués (Portugal), rumano, ruso, chino simplificado, español, sueco,
	       tailandés (<span class="icon-apple"/> iOS, <span class="icon-android"/>), turco y vietnamita (<span class="icon-android"/>).</p>

	    <p>La configuración de idioma del dispositivo determinará el idioma utilizado por la aplicación.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novedades</h2>
        <table>
          <tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">
iOS</h4>
            <p>Explorer for ArcGIS 10.2.9 se publicó en noviembre de 2015. Incluye las siguientes mejoras:
          </td>
          <td valign="top" width="250px;"><h4 class="icon-apple">Mac</h4>
            <p>Explorer for ArcGIS 10.2.4 se publicó en septiembre de 2014. Incluye las siguientes mejoras:</p>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">
Android</h4>
            <p>Explorer for ArcGIS 10.2.9 se publicó en mayo de 2016. Incluye las siguientes mejoras:</p>
          </td>
        <tr>
        <tr>
          <!-- iOS -->
          <td valign="top">
            <ul>
              <li>Varias soluciones de errores y mejoras</li>
            </ul>
          </td>
          <!-- Mac -->
          <td valign="top">
            <ul>
              <li>Traducido a árabe, checo, danés, holandés, inglés, finlandés, francés, alemán, hebreo, italiano, japonés, coreano, noruego, polaco,
                 portugués (Brasil), portugués (Portugal), rumano, ruso, chino simplificado, español, sueco y turco.</li>
              <li>Varias soluciones de errores y mejoras</li>
            </ul>
          </td>
          <!-- Android -->
          <td valign="top">
            <ul>
             <li>Varias correcciones de errores y mejoras</li>
            </ul>
          </td>
        </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">Avance de novedades</h2>
	<p>Hoy en día, Explorer es una excelente aplicación para trabajar con los mapas y las presentaciones en iPhones, iPads, Macs y dispositivos Android. Pero hay más novedades en camino. En la siguiente tabla se indica el desarrollo previsto para esta aplicación, con las funciones que aportará a los distintos dispositivos:

	<style>
	  table.sneakPeek
	  {
	    text-align:center;
	  }
	  table.sneakPeek tr.heading th
	  {
	    background-color:lightgray;
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	  table.sneakPeek tr#deviceHeadings th
	  {
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	</style>
        <table class="sneakPeek" border="1">
	  <caption>Funcionalidad por plataforma<br/>
	  <span class="icon-check" style="color:black"></span> disponible, <span class="icon-check icon-orange"></span> en desarrollo, <span class="icon-check" style="color:lightgray"></span><span class="clear"/> próximamente<br/>
Las celdas en blanco indican que se trata de una funcionalidad no planificada.<br/>
	  Por el momento, no está prevista la compatibilidad con Windows Phone y Windows Store.
	  </caption>
	  <tr id="deviceHeadings"><td rowspan="2"></td>
	    <th colspan="2">Teléfono</th>
	    <th colspan="2">Tablet</th>
	    <th colspan="2">Escritorio</th>
	  </tr>
	  <tr>
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <!--<td><span class="icon-windows-8 icon-purple"/></td>-->
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <!--<td><span class="icon-windows-8 icon-purple"/></td>-->
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-windows-classic" style="color:#21C9FF"/></td>
	  </tr>
	  <tr>
	    <td>Trabajar con ArcGIS Online</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Trabajar con Portal for ArcGIS</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Ver mapas</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Crear mapas</td>
	    <td></td>
	    <td></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Buscar datos</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Editar datos</td>
	    <td></td>
	    <td></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Compatibilidad con datos no espaciales (tablas relacionadas)</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>Trabajar fuera de línea</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>3D</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>llevar a cabo el análisis</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>

	<p>Comparta sus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="mailto:Explorer4ArcGIS@esri.com?subject=Explorer%20feedback">envíenos sus comentarios</a>.</p>

        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detalles</h3>

	  <h4><a href="#features">Características</a></h4>
	  <h4><a href="#systemRequirements">Requisitos del sistema</a></h4>
	  <h4><a href="#whatsNew">Novedades</a></h4>
	  <h4><a href="#sneakPeek">Avance de novedades</a></h4>

        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>


	<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/explorer-for-arcgis/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
