---
title: Business Analyst Desktop
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init


metatags:
  - <META name="description" content="Business Analyst Desktop Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="bus-analyst-desktop"><META name="sub_category" content="Business Analyst Desktop"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Business Analyst Desktop"><META name="search-category" content="help-general"><META name="subject_label" content="BUSINESS ANALYST,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="BUSINESS ANALYST,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Business Analyst Desktop</h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Business Analyst Desktop" data-langlabel="search-business-analyst-desktop">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="bus-analyst-desktop" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/business-analyst/">Home</a></li>
        <!--<li><a href="http://links.esri.com/ba-desktop-help">Help</a></li>-->
        <li><a href="/en/business-analyst/desktop/install/">Installation Guide</a></li>
        <li><a href="http://desktop.arcgis.com/en/analytics/case-studies/case-studies-overview.htm">Case Studies</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">

		  <h2 id="appTitle">Get started</h2>
          <span id="appVersion"><strong>Version:</strong> 10.4</span>
          <span id="appReleased"><strong>Updated:</strong> March 2016</span>


          <p>Through the use of powerful geospatial analysis tools and workflows, Business Analyst Desktop allows you to perform detailed analyses of customers and sales in combination with a wealth of up-to-date demographic, consumer spending, market segmentation, and business data provided by Esri. The end result is a set of maps and comprehensive reports that are used to support and recommend business decisions.</p>

          <p>
             <a  class="btn secondary" href="http://resources.arcgis.com/en/communities/business-analyst/01s80000000s000000.htm" target="_blank">Setup Online Access</a>
          </p>

        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="ba-action.jpg" />

          <h3>Getting Started in Business Analyst</h3>
          <p>This video presents an overview of Esri Business Analyst Desktop 10.3. Viewers will learn how to maneuver around the software, customize it to their preferences and learn where to get more help. </p>
          <p>
            <!-- <a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch the video</a> -->
			<a title="Getting Started in Business Analyst 10.3" href="http://video.arcgis.com/iframe/321/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="3010" class="mobileVideo">
			  <source src="http://video.arcgis.com/iframe/321/000000/width/480/1">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="ba-demo.jpg" />

          <h3>Online Access in Business Analyst</h3>
          <p>This video will provide information about how Business Analyst 10 accesses the cloud to provide you with the most up-to-date information: including basemaps from ArcGIS Online and reports and data from Business Analyst Online.</p>
          <p>
           <!-- <a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch the video</a> -->
			<a title="Add Data from ArcGIS Online" href="http://video.arcgis.com/iframe/322/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="3012" class="mobileVideo">
			  <source src="http://video.arcgis.com/iframe/322/000000/width/480/1">
			</video>
          </p>
        </div>

        <div class="clear"></div>



        <!-- <h3>Supported languages</h3>
        <p>Arabic, English, Chinese, French, German, Italian, Japanese, Spanish, Portuguese (Brazil), and Russian.</p> -->





        <a name="whatsNew"></a>
        <h3>What's new</h3>
        <p>The latest release includes the following enhancements:</p>
        <ul>
        <li>Python support for summarization scripts.</li>
        <li>Background geoprocessing (64-bit).</li>
		<li>More connectivity to Esri's GeoEnrichment Services.</li>
        <li>More enabled features when a local dataset is not present.</li>
        <li>Support for GeoEnrichment hierarchies.</li>
        <li>Read the complete <a href="http://support.esri.com/en/knowledgebase/whitepapers/view/productid/153/metaid/2149">document</a> which details each of these points..</li>
		</ul>
		
		
		<!-- <a name="commingSoon"></a>
        <h3>Coming soon ...</h3>
        <p>Subscribers will soon have access to international data for any country as it is added to the application.</p>


        <h3>Previous version</h3>
        <p>Version 2.0.2 was released in May 2013, including the following enhancements:</p>
        <ul>
          <li>Enrich your data with geographic context using the new 'Enrich Layer' tool</li>
		  <li>Select features on your map and find nearby features within other layers </li>
		  <li>Map pop-ups now contain Infographics that provide rich contextual information about the areas surrounding the features in your map</li>
		  <li>Preview support for Portal for ArcGIS 10.2</li>
		  <li>New configuration options for heat maps and clustering</li>
		  <li>Added the ability to filter grouped features on the map by clicking on the class breaks in the map legend</li>
		  <li>Improved workflow for address geocoding</li>
		  <li>Support for customizing the basemap gallery from your ArcGIS Online organization</li>
		  <li>Insert Map uses the default basemap from your ArcGIS Online organization</li>
		  <li>Search for data on ArcGIS Online using popular categories such as Wealth, Business, Policy, and Health</li>
		  <li>Place names are now based on data location. For example, labels in the geocoding workflow will show prefectures in Japan, states in the United States, and provinces in Canada</li>
		  <li>Support for Microsoft Office 2013</li>
		  <li>Other quality, usability, and cartographic enhancements</li>
        </ul> -->


        <a name="systemRequirements"></a>
        <h3>System requirements</h3>

<p><b>CPU Speed</b>: 2.2 GHz minimum; Hyper-threading (HHT) or Multi-core recommended</p>
<p><b>Processor</b>: Intel Core Duo, Intel Pentium 4, or Intel Xeon processors; SSE3 minimum.  Run this <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722" target="_blank">Microsoft utility</a> from your Windows command prompt to check your processor.</p>
<p><b>Operating System</b>:
<ul class="alternate" type="square">
	<li>Windows 8.1 Basic, Professional and Enterprise (64 bit [EM64T])**</li>
	<li>Windows 8 Basic, Professional and Enterprise (64-bit (EM64T))</li>
	<li>Windows 7 Ultimate, Enterprise, Professional, Home Premium (64-bit (EM64T))</li>
	<li>Windows Vista Ultimate, Enterprise, Business, Home Premium (64-bit (EM64T))&nbsp; Version: min SP1 max SP2</li>
	<li>Windows Server 2012 R2 Standard, and Datacenter (64 bit [EM64T])**</li>
	<li>Windows Server 2012 Standard, and Datacenter (64-bit [EM64T])</li>
	<li>Windows 2008 Server Standard, Enterprise & Datacenter (64-bit (EM64T))  Version: max SP2</li>
	<li>Windows 2008 R2 Server Standard, Enterprise & Datacenter (64-bit (EM64T))</li>
	<li>Windows Server 2008 R2 with Citrix XenApp 6 and XenApp 6.5*</li>
	<li>Windows 2003 Server Terminal Services  Version: min SP2 max SP2</li>
	<li>Windows 2003 Server Standard, Enterprise & Datacenter (64-bit (EM64T))  Version: min SP2 max SP2</li>
</ul>
<p><b>Note</b>: Microsoft Windows Server 2003, 2003 R2, Vista and XP are no longer supported starting at ArcGIS 10.2.2.</p>
<p><b>Display</b>: Greater than 256 color depth </p>
<p><b>RAM</b>: 4 GB minimum, 6 GB or higher recommended </p>
<p><b>Swap Space</b>: Determined by the operating system; 500 MB minimum </p>
<p><b>Disk Space</b>: 43 GB NTFS for complete software and data </p>
<p><b>*</b> ArcGIS ArcGIS 10.1 as a hosted application with Citrix XenApp 6 and XenApp 6.5 with Windows 2008 R2 using the Citrix ICA Online Plug-in for Windows 13.1. Please note that ArcGlobe, ArcScene, and any other 3D application generally will not perform well over Remote Desktop or other Windows Terminal Services clients, because these configurations do not support OpenGL 3D graphics acceleration from the server. The <a href="http://support.esri.com/en/knowledgebase/techarticles/detail/39490" target="_blank">Best practices for running ArcGIS for Desktop in a Citrix XenApp environment</a> contains additional information regarding deploying ArcGIS for Desktop with Citrix XenApp.<br>
<b>**</b> Windows 8.1 and Windows Server 2012 R2 support begins at ArcGIS 10.2.1.</p>
<p><b>Processor Note:</b> See <a href="http://support.esri.com/en/knowledgebase/techarticles/detail/31903" target="_blank">Dual or dual-core support policy</a></p>
 
<p><b>Screen Resolution:</b> 1024x768 recommend or higher at Normal size (96dpi)</p>
 
<p><b>Video/Graphics Adapter:</b> <a href="http://cyri.systemrequirementslab.com/Client/Standard/?apikey=50F41142-39B0-4061-97C2-BA7B7FE43D0E&refid=1186&item=10895" target="_blank">Check your computer's ability to run ArcGIS</a>. 64 MB RAM minimum, 256 MB RAM or higher recommended. NVIDIA, ATI, and Intel chipsets supported, 24-bit capable graphics accelerator, OpenGL version 2.0 runtime minimum is required, and Shader Model 3.0 or higher is recommended.  Be sure to use the latest available driver.</p>
 
<p><b>Networking Hardware:</b> Simple TCP/IP, Network Card or Microsoft Loopback Adapter is required for the License Manger.</p>
 
<p><b>Media Player:</b> USB drive is required to install the application.</p>
 
<h4>Microsoft .NET Framework 4.0 Requirement</h4>
 
<p>The installation process will verify that you have the Microsoft .NET Framework 4 installed.  If it is not installed, it is available on the USB install media and will be installed.</p>
 
<h4>Internet Explorer Requirement</h4>
 
<p>ArcGIS for Desktop requires a minimum installation of Microsoft Internet Explorer Version 7.0 or 8.0. If you do not have an installation of Microsoft Internet Explorer Version 7.0/8.0, you must obtain and install it prior to installing ArcGIS for Desktop. Internet Explorer Versions 9 and 10 are also supported.</p>
 
<!-- <p>IE 7 Limitations: You cannot see inset maps in the directions window  until you right-click on the box with the red X to bring up the context  menu and then click on "Show Picture."</p> -->
 
<h4>Python Requirement for Geoprocessing</h4>
 
<p>ArcGIS for Desktop geoprocessing tools require that Python 2.7.x and Numerical Python 1.6.x are installed. If the ArcGIS for Desktop setup does not find either Python 2.7.x or Numerical Python (NumPy) 1.6.x installed on the target computer, Python 2.7.2 and Numerical Python 1.6.1 will be installed during a complete installation. You can choose a Custom installation to unselect the Python feature and avoid installing it. Additionally, if the Python setup is executed during the ArcGIS for Desktop installation, you will be provided with the opportunity to choose its installation location. The Python installation location should not include spaces.</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Quick Links</h3>
          <ul>
		    <li><a href="http://links.esri.com/ba-desktop-help">Business Analyst Help</a></li>
            <li><a href="#whatsNew">What's new</a></li>
            <li><a href="#systemRequirements">System requirements</a></li>
            <!--<li><a href="http://resources.arcgis.com/en/communities/business-analyst/01s80000000s000000.htm">Setup Online Access</a></li>-->
            <li><a href="http://support.esri.com/en/knowledgebase/whitepapers/view/productid/153/metaid/2131">What's New - Esri 2015 US Data Update</a></li>
			<li><a href="http://video.arcgis.com/series/27/business-analyst-desktop-and-server/order/desc">Watch videos</a></li>
            <!-- <li><a href="http://support.esri.com/en/downloads/patches-servicepacks/list/productid/153">Patches & Service Packs</a></li>
            <li><a href="http://support.esri.com/en/downloads/samples-and-utilities/list/productid/153">Samples & Utilities</a></li>
            <li><a href="http://support.esri.com/en/knowledgebase/product-announcements/list/productid/153?&productversions=10.2.2">Product & Data Documentation</a></li>
			<li><a href="http://support.esri.com/en/knowledgebase/whitepapers/list/productid/153?&productVersions=10.3&productVersions=10.2.2">Whitepapers</a></li> -->
          </ul>
        </div>

        <br />
		

 </div>

    </div>