---
title: Raportoi suojausongelmasta
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fi/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/fi/trust/">Trust</a></li>
        <li><a title="ArcGIS Online -j&auml;rjestelm&auml;n tila" href="/fi/trust/system-status/">J&auml;rjestelm&auml;n tila</a></li>
        <li><a title="ArcGIS Online -tietosuoja" href="/fi/trust/security/">Tietosuoja</a></li>
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/privacy/">Yksityisyys</a></li>
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/compliance/">Lainmukaisuus</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Raportoi tietosuojaongelmasta</h2>
      </header>
	  <section>
		<p data-langlabel="">T&auml;yt&auml; oikealla oleva lomake k&auml;ytett&auml;viss&auml; olevilla tiedoilla. T&auml;yt&auml; my&ouml;s ongelmaasi liittyv&auml;t tiedot. Yhteystietojasi k&auml;ytet&auml;&auml;n antamiesi tietojen seurantaan. Valitse soveltuva aihe avattavasta aiheluettelosta.</p>
		<ul>
			<li data-langlabel="">Haavoittuvuus &ndash; raportoi sivustosta tai sovelluksesta l&ouml;ytyneest&auml; haavoittuvuudesta.</li>
			<li data-langlabel="">Ep&auml;ilytt&auml;v&auml; Esrin l&auml;hett&auml;m&auml; s&auml;hk&ouml;postiviesti &ndash; jos ep&auml;ilet olevasi mahdollisen tietojen kalasteluviestin kohteena, joka on l&auml;hetetty Esrin s&auml;hk&ouml;postiosoitteesta, tai jos olet vastaanottanut muita ep&auml;ilytt&auml;vi&auml; s&auml;hk&ouml;postiviestej&auml; Esrilt&auml;.</li>
			<li data-langlabel="">Yksityisyyteen liittyv&auml; ongelma &ndash; jos olet huolestunut sovellukseemme tai organisaatioomme liittyvist&auml; yksityisyysk&auml;yt&auml;nn&ouml;ist&auml;.</li>
			<li data-langlabel="">Muu &ndash; kaikki muut tietosuojaan, yksityisyyteen tai lainmukaisuuteen liittyv&auml;t ongelmat.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Haavoittuvuuden raportointik&auml;yt&auml;nt&ouml;</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com-tietosuojaty&ouml;ryhm&auml; arvostaa t&auml;rke&auml;&auml; roolia, joka itsen&auml;isill&auml; tietosuojan tutkijoilla on Internetin suojauksessa. Rohkaisemme k&auml;ytt&auml;ji&auml; raportoimaan kaikista haavoittuvuuksista, joita saattaa esiinty&auml; sivustollamme tai sovelluksessamme. Esri on sitoutunut ty&ouml;skentelem&auml;&auml;n tietosuojayhteis&ouml;n kanssa kaikkien meille raportoitujen mahdollisten haavoittuvuuksien tarkistamiseksi ja niihin reagoimiseksi. Esri ei haasta sinua oikeuteen tai aloita lainvalvontaan liittyv&auml;&auml; tutkimusta, jos noudatat t&auml;t&auml; k&auml;yt&auml;nt&ouml;&auml;.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com ei salli seuraavanlaista tietosuojatutkimusta</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Palvelunestotilanteen (DoS) aiheuttamista tai sen yritt&auml;mist&auml;.</li>
		<li data-langlabel="">Automaattisten tietosuojaty&ouml;kalujen k&auml;ytt&ouml; ilman Esrin erillist&auml; lupaa. Automaattisten ty&ouml;kalujen k&auml;ytt&ouml; voi johtaa tutkintaan tai IP-osoitteesi (tai -osoitteidesi) lukitsemiseen.</li>
		<li data-langlabel="">Sellaisten tietojen k&auml;ytt&ouml; tai k&auml;yt&ouml;n yritys, jotka eiv&auml;t kuulu sinulle.</li>
		<li data-langlabel="">Sellaisten tietojen tuhoaminen tai vioittaminen tai niiden yritys, jotka eiv&auml;t kuulu sinulle.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com-tietosuojaty&ouml;ryhm&auml;n sitoutuminen</h4>
	  </header>
		<p data-langlabel="">Kaikkien niiden tietosuojan tutkijoiden osalta, jotka noudattavat t&auml;t&auml; ArcGIS.comin haavoittuvuuden raportointik&auml;yt&auml;nt&ouml;&auml;, ArcGIS.com-tietosuojaty&ouml;ryhm&auml; sitoutuu seuraavaan:</p>
		
		<ul>
		<li data-langlabel="">vastaamaan ja kuittaamaan raportin vastaanoton nopeasti</li>
		<li data-langlabel="">antamaan aika-arvion t&auml;m&auml;n haavoittuvuuden k&auml;sittelyst&auml;</li>
		<li data-langlabel="">ilmoittamaan raportoineelle henkil&ouml;lle, kun haavoittuvuus on korjattu.</li>		
		</ul>
		
		<div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> Participating Security Researchers</span>
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">We would like to thank the following security researchers for participating in our responsible reporting program:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
	
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Nimi: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">S&auml;hk&ouml;postiosoite: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Puhelinnumero: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organisaatio <span class="optional">(valinnainen):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Aihe: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">Haavoittuvuus</option> <option value="Suspicious E-mail from Esri">Ep&auml;ilytt&auml;v&auml; Esrin l&auml;hett&auml;m&auml; s&auml;hk&ouml;postiviesti</option> <option value="Privacy Issue">Yksityisyyteen liittyv&auml; ongelma</option> <option value="audi">Muu</option>
			  </select>

			  <label data-langlabel="" for="description">Kuvaus: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Voit est&auml;&auml; automaattisen roskapostin kirjoittamalla annetut numerot: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Numerot: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="sis&auml;inen" name="source" id="source">

			  <input value="yksityiskohtainen" name="resultType" id="resultType" type="hidden">
			  <input value="Tietosuojaongelma" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="fi" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">L&auml;het&auml;</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Kiitos, ett&auml; raportoit t&auml;st&auml; ongelmasta. Tutkimme ongelmaa muutaman arkip&auml;iv&auml;n sis&auml;ll&auml;.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>L&auml;hetyksen aikana tapahtui virhe. L&auml;het&auml; huolesi my&ouml;hemmin uudelleen.</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink">Palaa <a id="feedback-referring-link" href="">viittaavalle sivulle</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">L&auml;het&auml;</a> toinen tietosuojaongelma</span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

