---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-online/">ArcGIS Online Help</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Help" href="/en/arcgis-online/">Home</a></li>
		<li><a title="Use maps and scenes" href="/en/arcgis-online/use-maps/">Use</a></li>
        <li><a title="Create maps, scenes and apps" href="/en/arcgis-online/create-maps/">Create</a></li>
        <li><a title="Share maps, scenes and apps" href="/en/arcgis-online/share-maps/">Share</a></li>
        <li><a title="Administer your organization" href="/en/arcgis-online/administer/">Administer</a></li>
        <li><a title="Reference" href="/en/arcgis-online/reference/">Reference</a></li>
        <li><a title="Apps for everyone" href="/en/arcgis-online/apps/arcgis-apps.htm">Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="en" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Maps, scenes, analytics, apps, collaboration&mdash;you can do it all with ArcGIS Online.</p>
	
	<p> New to ArcGIS? Get started with maps, scenes, apps, analysis, sharing, and administration. When you're ready to learn more, try a lesson or explore popular topics. 
	</p> 
	<p>Be sure to check out the latest news from our <a href="#blog"> blog</a> and the <a href="#community">community</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/en/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/en/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/en/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/en/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">What's new</h3>
        <p>The September 2016 update includes enhanced support for open standards and improvements throughout the site.
        </p>
			<!--<a href="/en/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/en/arcgis-online/reference/whats-new.htm" class="btn secondary">Learn more</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Get started</h2>
      <div class="make-first">
        <a href="/en/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Map</h2></a>
        <a href="/en/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Scene</h2></a>
        <a href="/en/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">App</h2></a>
        <a href="/en/arcgis-online/use-maps/get-started-with-analysis.htm"><h2 class="icon-analytics">Analysis</h2></a>
        <a href="/en/arcgis-online/share-maps/share-maps-apps.htm"><h2 class="icon-community">Share</h2></a>
		<a href="/en/arcgis-online/administer/admin-org.htm"><h2 class="icon-user">Administration</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>See popular topics:</h4></li>
        <li><a href="/en/arcgis-online/reference/faq.htm">Frequently asked questions</a></li>
		<li><a href="/en/arcgis-online/share-maps/add-items.htm">Add items</a></li>
		<li><a href="/en/arcgis-online/share-maps/publish-features.htm">Publish features</a></li>
        <li><a href="/en/arcgis-online/reference/roles.htm">Roles</a></li>
		<li><a href="/en/arcgis-online/reference/best-practices-layers.htm">Best practices for layers</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Take a lesson
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">More lessons <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Get Started with ArcGIS Online</a></h3>
          <p>
            Learn the basics of making maps online.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Demographic Analysis and Smart Mapping</a></h3>
          <p>
            Locate children in poverty using demographic analysis, smart mapping, and a web app.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/mudslide-before-after.jpg" alt="Mudslide before and after" />
          <h3 class="no-trailer"><a href="https://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">Web Apps</a></h3>
          <p>
           Compare imagery before and after a landslide disaster by creating a web app. 
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/track-crime-patterns.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Track Crime Patterns</a></h3>
          <p>
            Map crime density to find patterns and make decisions about resource allocation.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Read our blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">More blog posts <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Join the conversation
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">More discussions <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Find training courses</a></h4>
      <p class="no-trailer">
        Search Esri training courses for more learning.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B">Watch videos</a></h4>
      <p class="no-trailer">
        View a set of videos about ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Get technical support</a></h4>
      <p class="no-trailer">
        Contact Support through chat, email, or telephone.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h4>
      <p class="no-trailer">
        See the status of ArcGIS Online and report issues.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
