---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-online/">ArcGIS Online Help</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Help" href="/en/arcgis-online/">Home</a></li>
        <li><a title="Use maps and scenes" href="/en/arcgis-online/use-maps/">Use</a></li>
        <li><a title="Create maps, scenes, and apps" href="/en/arcgis-online/create-maps/">Create</a></li>		
        <li><a title="Share maps, scenes, and apps" href="/en/arcgis-online/share-maps/">Share</a></li>
		<li><a title="Administer your organization" href="/en/arcgis-online/administer/">Administer</a></li>
		<li><a title="Reference" href="/en/arcgis-online/reference/">Reference</a></li>
		<li><a title="Ready-to-use apps" href="/en/arcgis-online/apps/arcgis-apps.htm">Apps</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">

<h3 class="gray"><form class="agolhomesearchForm" id="helpSearchForm" target="_top">
  What do you want to do?           
        <input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="<%= current_language %>">
      </form>
              </h3>
	
	<hr />
	
    <div id="collectorMapFeature" class="column-12 phone-column-24">
	<h3><a href="/en/arcgis-online/use-maps/use-maps.htm" class="">Use maps and scenes</a></h3>
		<a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/247/000000/width/960/0/00:00:00"><img src="img/perform-analysis.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
          
        </div>


    <div id="collectorDataFeature" class="column-12 phone-column-24">
		<h3><a href="/en/arcgis-online/create-maps/create-maps-and-apps.htm" class="">Create maps, scenes and apps</a></h3>
		<a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="img/create-maps-apps.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
          
        </div>
		<div class="clear"></div>
		
		 <br />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
		<h3><a href="/en/arcgis-online/share-maps/share-maps-apps.htm" class="">Share your items</a></h3> 
		<a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/1341/000000/width/960/0/00:00:00"><img src="img/share-maps-apps.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
                  
        </div>
       
	
	<div id="collectorMapFeature" class="column-12 phone-column-24">
		<h3><a href="/en/arcgis-online/use-maps/perform-analysis.htm"class="">Perform analysis</a></h3> 
		<a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/3689/000000/width/960/0/00:00:00"><img src="img/perform-analysis.png"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
        </div>
	
	<div class="clear"></div>
	 <br />	
	
	<div id="collectorMapFeature" class="column-12 phone-column-24">
		 <h3><a href="/en/arcgis-online/share-maps/hosted-web-layers.htm" class="">Publish hosted web layers</a></h3>  
		 <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/1342/000000/width/960/0/00:00:00"><img src="img/publish-hosted-web-layers.png"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
		     
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
			 <h3><a href="/en/arcgis-online/administer/admin-org.htm" class="">Administer your organization</a></h3>           
			<a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/1340/000000/width/960/0/00:00:00"><img src="img/admin-org.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
         
        </div>
		<div class="clear"></div>
		
        <div class="clear"></div>
        <!--  <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>Additional resources</h3>
		          <p>Discover more apps, maps, and tools for your organization.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> 
				 <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br>
				 <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; Living Atlas of the World</a></br>
				 <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a>
				
			 </p></div>-->
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>New to ArcGIS Online?</h3>
		  <p><a  class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Discover hands-on lessons</a></p>
				
				<a href="http://video.esri.com/watch/3625/what-is-arcgis_question_" class="colorbox-evlarge"><img src="img/playbtn-small.png"> Watch a video tour</a></br><br/>
		  <a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png">  Find training courses</a>
        </div>
	
	 	 
		 <br />
		 <div class="greyFrame">
		<h3>Quick reference</h3>
		         <ul>
				<li><a href="/en/arcgis-online/reference/troubleshoot-account.htm">Troubleshoot sign in issues</a></li>
				<li><a href="/en/arcgis-online/reference/whats-new.htm">What's new</a></li>
				<li><a href="/en/arcgis-online/reference/faq.htm">Frequently asked questions</a></li>
				<li><a href="/en/arcgis-online/reference/arcgis-apps.htm">Ready-to-use apps</a></li>
				<li><a href="/en/trust/system-status/">System status</a></li></ul> </div><br/>
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">More Blog Posts</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>
<div class="column-8 phone-column-24">
  <!--<div class="row">-->
    <section class="support-option">
      <h4 class="icon-help icon-red divider"><a target="_blank" href="http://support.esri.com/en/">Esri Technical Support</a></h4>
      <p>Contact Support through chat, email, or phone.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">
  <!--<div class="row">-->
    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange divider"><a target="_blank" href="http://ideas.arcgis.com/">ArcGIS Ideas</a></h4>
      <p>Submit your feedback on the software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24">
  <!--<div class="row">-->
   <h4 class="icon-comment icon-blue divider"><a target="_blank" href="http://GeoNet.esri.com/">ArcGIS Forums</a></h4>
      <p>Join the discussions on Geonet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>