---
title: ArcGIS Online Help
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Online Help</h1>
        </div>
        <div class="leader-1 text-right">
          <p><button class="btn margin-left-1 btn-clear">60-day Free Trial</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="ArcGIS Online Help" href="/en/arcgis-online/">Home</a>
        <a class="sub-nav-link" title="Get started with ArcGIS Online" href="/en/arcgis-online/get-started/">Get Started</a>
			  <a class="sub-nav-link" title="Create maps, scenes and apps" href="/en/arcgis-online/create-maps/">Create</a>
        <a class="sub-nav-link" title="Perform analysis" href="/en/arcgis-online/analyze/">Analyze</a>
			  <a class="sub-nav-link" title="Share maps, scenes and apps" href="/en/arcgis-online/share-maps/">Share</a>
			  <a class="sub-nav-link" title="Administer your organization" href="/en/arcgis-online/administer/">Administer</a>
			  <a class="sub-nav-link" title="Reference" href="/en/arcgis-online/reference/">Reference</a>
			  <a class="sub-nav-link" title="Apps for everyone" href="/en/arcgis-online/apps/arcgis-apps.htm">Apps</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-15">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-15 trailer-1">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online help, exercises, blog posts, and more">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="arcgis-online" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="column-4 right padding-right-0">
    <a href="https://www.youtube.com/embed/Csjt1OCy9yY?showinfo=0&amp;autoplay=1" class="colorbox-evlarge cboxElement videoElement" title="Get Started with ArcGIS Online" onclick="return false;">
      <img style="width:225px;height:130px;position:relative;display:block;" alt="Get Started with ArcGIS Online" src="https://i.ytimg.com/vi/Csjt1OCy9yY/maxresdefault.jpg">
      <div class='play-button'><div class="play-icon"></div></div>
    </a>
    </div>
    <div class="column-10">
      <h3>Maps, scenes, analytics, apps, collaboration—you can do it all with ArcGIS Online.<p class="font-size-1"><a href="https://www.arcgis.com/features/features.html">Discover the features of ArcGIS Online</a></p></h3>
    </div>
  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">What's new</h4>
      <p>The September 2016 minor update includes enhanced support for open standards and improvements throughout the site.</p>
      <a class="btn secondary" href="#">Learn more</a>
    </div>
  </div>
</div>

<div class="grid-container leader-2">
  <div class="js-tab-group trailer-half">
    <nav class="tab-nav">
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0 is-active" style="max-width: 25%;">Start with the basics</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" style="max-width: 25%;">Learn by doing</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" tabindex="0" style="max-width: 25%;">Manage an organization</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" style="max-width: 25%;">Popular resources</a>
    </nav>
    <section class="tab-contents">
      <!--Start with basics tab -->
      <article class="tab-section js-tab-section is-active">
        <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="create-maps/make-your-first-map.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="create-maps/make-your-first-map.htm">Make your first map</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics of making maps online.</p>
            </div>
            <a href="create-maps/make-your-first-map.htm" class="btn btn-clear btn-fill leader-0">Start making maps</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="create-maps/make-your-first-scene.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="create-maps/make-your-first-scene.htm">Make your first scene</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Go 3D with web scenes.</p>
            </div>
            <a href="create-maps/make-your-first-scene.htm" class="btn btn-clear btn-fill leader-0">Start making web scenes</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="create-maps/make-your-first-app.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="create-maps/make-your-first-app.htm">Make your first app</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics of making a web app.</p>
            </div>
            <a href="create-maps/make-your-first-app.htm" class="btn btn-clear btn-fill leader-0">Start making apps</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="use-maps/get-started-with-analysis.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="use-maps/get-started-with-analysis.htm">Get started with analysis</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics of performing analysis on your maps, scenes, and apps.</p>
            </div>
            <a href="use-maps/get-started-with-analysis.htm" class="btn btn-clear btn-fill leader-0">Start analyzing your map's data</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="share-maps/get-started-with-sharing.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="share-maps/get-started-with-sharing.htm">Get started with sharing</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics of sharing your maps, scenes, and apps with others.</p>
            </div>
            <a href="share-maps/get-started-with-sharing.htm" class="btn btn-clear btn-fill leader-0">Start sharing your work</a>
          </div>

        </div>
      </article>

      <!-- Learn by doing tab -->
      <article class="tab-section js-tab-section">
        <p class="text-right"><a href="tbd">More exercises</a></p>
        <div class="block-group block-group-4-up tablet-block-group-2-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Get Started with ArcGIS Online</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Exercise: 1 hour 30 minutes</p>
              <p class="trailer-0">Learn the basics of making maps online.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/" class="btn btn-clear btn-fill leader-0">Start learning the basics</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">
                <img alt="" src="img/fight-child-poverty-with-demographic-analysis.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Demographic Analysis and Smart Mapping</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Exercise: 1 hour 20 minutes</p>
              <p class="trailer-0">Locate children in poverty using demographic analysis, smart mapping, and a web app.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/" class="btn btn-clear btn-fill leader-0">Complete this exercise</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">
                <img alt="" src="img/restaurant-report-cards-final-map.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Plan Routes</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Exercise: 1 hour</p>
              <p class="trailer-0">Help four health officials inspect 36 restaurants in San Diego County.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/" class="btn btn-clear btn-fill leader-0">Start planning routes</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">
                <img alt="" src="img/live-above-shop-below.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Spatial Analysis</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Exercise: 40 Minutes</p>
              <p class="trailer-0">Find the best areas for a new mixed-use housing development.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/" class="btn btn-clear btn-fill leader-0">Build your analysis skills</a>
          </div>

        </div>

      </article>

      <!-- Org Admin tab -->
      <article class="tab-section js-tab-section">

        <div class="block-group block-group-4-up tablet-block-group-2-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="administer/get-started-with-administration.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="administer/get-started-with-administration.htm">Get Started with administration</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics of administering an ArcGIS Online organization.</p>
            </div>
            <a href="administer/get-started-with-administration.htm" class="btn btn-clear btn-fill leader-0">Start learning the basics</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="reference/credits.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="reference/credits.htm">Understanding credits</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn how credits are consumed.</p>
            </div>
            <a href="reference/credits.htm" class="btn btn-clear btn-fill leader-0">Learn about credits</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="reference/roles.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="reference/roles.htm">Organizational roles</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn about organizational roles</p>
            </div>
            <a href="reference/roles.htm" class="btn btn-clear btn-fill leader-0">Manage roles</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="administer/view-status.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="administer/view-status.htm">View status</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Track usage.</p>
            </div>
            <a href="administer/view-status.htm" class="btn btn-clear btn-fill leader-0">Track usage</a>
          </div>
        </div>

      </article>


      <!-- Popular topics tab -->
      <article class="tab-section js-tab-section" aria-expanded="false" role="tabpanel">
        <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/reference/faq.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/reference/faq.htm">Frequently asked questions</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">FAQs when working with ArcGIS Online.</p>
            </div>
            <a href="/en/arcgis-online/reference/faq.htm" class="btn btn-clear btn-fill leader-0">Review ArcGIS Online FAQs</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/share-maps/add-items.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/share-maps/add-items.htm">Add items</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Items are...</p>
            </div>
            <a href="/en/arcgis-online/share-maps/add-items.htm" class="btn btn-clear btn-fill leader-0">Learn about adding items</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/share-maps/publish-features.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/share-maps/publish-features.htm">Publish features</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn about publishing features....</p>
            </div>
            <a href="/en/arcgis-online/share-maps/publish-features.htm" class="btn btn-clear btn-fill leader-0">Publishing features</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/tbd.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/tbd.htm">Change styles</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Topic: 15 minutes</p>
              <p class="trailer-0">Learn the basics changing styles.</p>
            </div>
            <a href="/en/arcgis-online/tbd.htm" class="btn btn-clear btn-fill leader-0">Start changing styles</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="https://status.arcgis.com">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="https://status.arcgis.com">ArcGIS Online System Status</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">Web site</p>
              <p class="trailer-0">See the status of ArcGIS Online and report issues.</p>
            </div>
            <a href="https://status.arcgis.com" class="btn btn-clear btn-fill leader-0">Check system health</a>
          </div>

        </div>
      </article>
    </section>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a>
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-1 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/en/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the discussion
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">More discussions</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-blue panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-half text-center">
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half link-white"><a href="http://www.esri.com/training/main/arcgis-online-training">Find training courses</a></h5>
          <p class="trailer-0 text-white">
            Search Esri training courses for more learning.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half link-white"><a href="http://support.esri.com/en/">Get technical support</a></h5>
          <p class="trailer-0text-white">
            Contact Support through chat, email, or telephone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half link-white"><a href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h5>
          <p class="trailer-0 text-white">
            See the status of ArcGIS Online and report issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
