---
title: ArcGIS Online Help
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Online Help</h1>
        </div>
        <div class="leader-1 text-right">
          <p><button class="btn margin-left-1 btn-clear">60-day Free Trial</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="ArcGIS Online Help" href="/en/arcgis-online/">Home</a>
        <a class="sub-nav-link" title="Get started with ArcGIS Online" href="/en/arcgis-online/get-started/">Get Started</a>
			  <a class="sub-nav-link" title="Create maps, scenes and apps" href="/en/arcgis-online/create-maps/">Create</a>
        <a class="sub-nav-link" title="Perform analysis" href="/en/arcgis-online/analyze/">Analyze</a>
			  <a class="sub-nav-link" title="Share maps, scenes and apps" href="/en/arcgis-online/share-maps/">Share</a>
			  <a class="sub-nav-link" title="Administer your organization" href="/en/arcgis-online/administer/">Administer</a>
			  <a class="sub-nav-link" title="Reference" href="/en/arcgis-online/reference/">Reference</a>
			  <a class="sub-nav-link" title="Apps for everyone" href="/en/arcgis-online/apps/arcgis-apps.htm">Apps</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online help, exercises, blog posts, and more">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="arcgis-online" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="column-5 right margin-right-1 padding-left-0">
      <a href="https://www.youtube.com/embed/Csjt1OCy9yY?showinfo=0&amp;autoplay=1" class="colorbox-evlarge cboxElement videoElement right" title="Get Started with ArcGIS Online" onclick="return false;">
        <img alt="Get Started with ArcGIS Online" src="img/gallery-video.png"">
        <div class='play-button'><div class="play-icon"></div></div>
      </a>
    </div>
    <div class="column-10">
      <h4>Maps, scenes, analytics, apps, collaboration—you can do it all with ArcGIS Online, a complete, cloud-based web solution. <a href="https://www.arcgis.com/features/features.html">Read more about the features of ArcGIS Online.</a></p></h4>
    </div>
  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">What's new</h4>
      <p>The December 2016 update includes new member levels and a new default Viewer role, enhancements to managing feature data, and other improvements throughout the site.</p>
      <a class="btn secondary" href="reference/whats-new.htm">Learn more</a>
    </div>
  </div>
</div>

<div class="grid-container leader-2">
  <div class="js-tab-group trailer-half">
    <nav class="tab-nav">
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0 is-active" style="max-width: 25%;">Start with the basics</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" style="max-width: 25%;">Learn by doing</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" tabindex="0" style="max-width: 25%;">Administer an organization</a>
      <a class="tab-title js-tab font-size-1 avenir-demi trailer-0" style="max-width: 25%;">Popular resources</a>
    </nav>
    <section class="tab-contents">
      <!--Start with basics tab -->
      <article class="tab-section js-tab-section is-active">
        <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="get-started/get-started-with-maps.htm">
				        <img alt="" src="img/icon-documentation.png">
              </a>
              <div class="card-image-caption text-darker-gray padding-leader-0 avenir-bold padding-left-1 padding-right-1">HELP</div>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="get-started/get-started-with-maps.htm">Get started with maps</a>
              </h5>
              <p class="trailer-0">Key steps for creating a web map.</p>
            </div>
			      <a href="get-started/get-started-with-maps.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="get-started/get-started-with-scenes.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="get-started/get-started-with-scenes.htm">Get started with scenes</a>
              </h5>
              <p class="trailer-0">Go 3D with scenes.</p>
	          </div>
			      <a href="get-started/get-started-with-scenes.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
		      </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="get-started/get-started-with-apps.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="get-started/get-started-with-apps.htm">Get started with apps</a>
              </h5>
              <p class="trailer-0">Learn the basics of making a web app.</p>
            </div>
			      <a href="get-started/get-started-with-apps.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="get-started/get-started-with-analysis.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="get-started/get-started-with-analysis.htm">Get started with analysis</a>
              </h5>
              <p class="trailer-0">Five steps to spatial analysis.</p>
            </div>
			      <a href="get-started/get-started-with-analysis.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="get-started/get-started-with-sharing.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="get-started/get-started-with-sharing.htm">Get started with sharing</a>
              </h5>
              <p class="trailer-0">How to share content in four steps.</p>
            </div>
			      <a href="get-started/get-started-with-sharing.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>

        </div>
      </article>

      <!-- Learn by doing tab -->
      <article class="tab-section js-tab-section">
        <div class="block-group block-group-5-up tablet-block-group-2-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="en/arcgis-online/get-started/quick-exercise-maps.htm">
                <img alt="" src="img/create-a-map.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="en/arcgis-online/get-started/quick-exercise-maps.htm">Create a map</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">20 minutes</p>
              <p class="trailer-0">Create a web map as part of your investigation into hospitals in Clark County, Nevada.</p>
            </div>
            <a href="en/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Start the exercise →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/get-started/quick-exercise-apps.htm">
                <img alt="" src="img/create-an-app.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/get-started/quick-exercise-apps.htm">Create an app</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">20 minutes</p>
              <p class="trailer-0">Create a configurable app that you share with your business partners.</p>
            </div>
            <a href="/en/arcgis-online/get-started/quick-exercise-apps.htm" class="btn btn-clear btn-fill leader-0">Start the exercise →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
                <img alt="" src="img/get-started-with-scene-viewer.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Get started with the scene viewer</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">2 hours</p>
              <p class="trailer-0">Create a 3D scene showing Florida's beaches and inlets.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">Start the exercise →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
                <img alt="" src="img/track-crime-rates.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Track crime rates</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">40 Minutes</p>
              <p class="trailer-0">Create a crime density map to help the Lincoln, Nebraska police department allocate resources.  </p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">Start the exercise →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">
                <img alt="" src="img/live-above-shop-below.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Get started setting up your organization</a>
              </h5>
              <p class="font-size--2 text-light-gray trailer-half">60 Minutes</p>
              <p class="trailer-0">Set up an ArcGIS Online organization for your college Geography department.</p>
            </div>
            <a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/" class="btn btn-clear btn-fill leader-0">Start the exercise →</a>
          </div>
        </div>
        <p class="text-right leader-half trailer-0"><a href="tbd">More exercises</a></p>
      </article>

      <!-- Org Admin tab -->
      <article class="tab-section js-tab-section">

        <div class="block-group block-group-5-up tablet-block-group-2-up">
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="administer/get-started-with-administration.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="administer/get-started-with-administration.htm">Get started with administration</a>
              </h5>
              <p class="trailer-0">Learn the fundamentals of setting up and managing your organization.</p>
            </div>
            <a href="administer/get-started-with-administration.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="reference/credits.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="reference/credits.htm">Understand credits</a>
              </h5>
              <p class="trailer-0">Service credits are the currency across ArcGIS.</p>
            </div>
            <a href="reference/credits.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="reference/roles.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="reference/roles.htm">Levels, roles, and privileges</a>
              </h5>
              <p class="trailer-0">Levels allow organizations to control the scope of privileges that can be assigned to members through roles.</p>
            </div>
            <a href="reference/roles.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="administer/view-status.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="administer/view-status.htm">View status</a>
              </h5>
              <p class="trailer-0">Keep your organization running smoothly by viewing status reports.</p>
            </div>
            <a href="administer/view-status.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
		      <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="http://links.esri.com/agol-help/administering-platform">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="http://links.esri.com/agol-help/administering-platform">Administering your location platform</a>
              </h5>
              <p class="trailer-0">Review best practices and resources for managing your organization.</p>
            </div>
            <a href="http://links.esri.com/agol-help/administering-platform" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
        </div>

      </article>


      <!-- Popular topics tab -->
      <article class="tab-section js-tab-section" aria-expanded="false" role="tabpanel">
        <div class="block-group block-group-5-up tablet-block-group-2-up phone-block-group-1-up">

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/reference/faq.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/reference/faq.htm">Frequently asked questions</a>
              </h5>
              <p class="trailer-0">Get answers to your questions about ArcGIS Online.</p>
            </div>
            <a href="/en/arcgis-online/reference/faq.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/share-maps/add-items.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/share-maps/add-items.htm">Add items</a>
              </h5>
              <p class="trailer-0">Learn how to add items to ArcGIS Online.</p>
            </div>
            <a href="/en/arcgis-online/share-maps/add-items.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>

          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/share-maps/publish-features.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/share-maps/publish-features.htm">Publish feature layers</a>
              </h5>
              <p class="trailer-0">Learn details on publishing hosted feature layers.</p>
            </div>
            <a href="/en/arcgis-online/share-maps/publish-features.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="/en/arcgis-online/create-maps/change-style.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="/en/arcgis-online/create-maps/change-style.htm">Change styles</a>
              </h5>
              <p class="trailer-0">Discover how to use smart mapping to style map layers.</p>
            </div>
            <a href="/en/arcgis-online/create-maps/change-style.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>
          <div class="card block leader-0">
            <figure class="card-image-wrap">
              <a href="en/arcgis-online/reference/best-practices-layers.htm">
                <img alt="" src="img/get-started-with-arcgis-online.png">
              </a>
            </figure>
            <div class="card-content leader-0 padding-leader-half">
              <h5 class="trailer-0 leader-0">
                <a href="en/arcgis-online/reference/best-practices-layers.htm">Best practices for layers</a>
              </h5>
              <p class="trailer-0">Learn how to optimize your map layers for high demand.</p>
            </div>
            <a href="en/arcgis-online/reference/best-practices-layers.htm" class="btn btn-clear btn-fill leader-0">Read the article →</a>
          </div>

        </div>
      </article>
    </section>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a>
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-1 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the discussion
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">More discussions</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-blue panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-half text-center">
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half link-white"><a href="http://www.esri.com/training/main/arcgis-online-training">Find training courses</a></h5>
          <p class="trailer-0 text-white">
            Search Esri training courses for more learning.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half link-white"><a href="http://support.esri.com/en/">Get technical support</a></h5>
          <p class="trailer-0text-white">
            Contact Support through chat, email, or telephone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half link-white"><a href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h5>
          <p class="trailer-0 text-white">
            See the status of ArcGIS Online and report issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
