---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-online/">Help</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Help" href="/en/arcgis-online/">Main</a></li>
        <li><a title="Use maps and scenes" href="/en/arcgis-online/use-maps/">Use</a></li>
        <li><a title="Create maps, scenes, and apps" href="/en/arcgis-online/create-maps/">Create</a></li>		
        <li><a title="Share maps, scenes, and apps" href="/en/arcgis-online/share-maps/">Share</a></li>
		<li><a title="Administer your organization" href="/en/arcgis-online/administer/">Administer</a></li>
		<li><a href="/en/arcgis-online/reference/">Reference</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">What do you want to do?
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
	</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Use maps and scenes</h3>
         
 
         <p>Use maps and scenes to explore, understand, and measure geographic data.</p>

      
         <p><a href="/en/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;View data in maps</a>
		<br/>
         <a href="/en/arcgis-online/use-maps/view-scenes.htm" class="icon-right-arrow">&nbsp;&nbsp;View data in scenes</a>  </br>
         <a href="/en/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Perform analysis</a><br/></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Create maps, scenes and apps</h3>
          <p>Build interactive maps, scenes and apps your organization can access on any device, anywhere, anytime.</p>


            <p><a href="/en/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Make your first map</a>
			    <br/>
<a href="/en/arcgis-online/create-maps/make-your-first-scene.htm" class="icon-right-arrow">&nbsp;&nbsp;Make your first scene</a> <br/>
            <a href="/en/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Make your first app</a><br/>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Share maps, scenes, and apps</h3>
          <p>Put your data to work by sharing maps, scenes and apps within your organization or community.</p>

         <p><a href="/en/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Add items</a>
         <br/><a href="/en/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Share items</a>
         <br/>
	<a href="/en/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Publish hosted features and tiles</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administer your organization</h3>
          <p>Extend the use of your GIS by configuring ArcGIS Online for your organization, inviting members to join, and managing resources.</p>
          <p>
            <a href="/en/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Configure the website</a>
               <br/> <a href="/en/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Invite members</a>
               <br/>
            <a href="/en/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;View org stats</a></p>
           
        </div>
		<div class="clear"></div>

       <!-- <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Ready-to-use apps</h3>
         <p>Learn more about the ready-to-use apps that are included with ArcGIS Online.</p>
		 <p>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/>
		 <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/>
		  <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a></br><a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/>
		   <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS app for smartphones and tablets</a>
		
		 </p>
        </div>	-->
	
       <!-- <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Configurable and builder apps</h3>
          <p>See how to use configurable apps and builders to create apps for your organization and the community.</p>
		 <p><a href="http://links.esri.com/configurableapps" class="icon-right-arrow">&nbsp;&nbsp; Esri Configurable Apps</a><br>
		 <a href="http://storymaps.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; Story Maps</a></br>
		 <a href="http://solutions.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Solutions</a><br>
		 <a href="http://doc.arcgis.com/en/web-appbuilder/" class="icon-right-arrow">&nbsp;&nbsp; Web AppBuilder for ArcGIS</a></p>
		 
        </div>-->
        <div class="clear"></div>
        <!--  <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>Additional resources</h3>
		          <p>Discover more apps, maps, and tools for your organization.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> 
				 <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br>
				 <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; Living Atlas of the World</a></br>
				 <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a>
				
			 </p></div>-->
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>New to ArcGIS Online?</h3>
		  <!--<p>Have fun with ArcGIS Online while learning how to:</p>-->
		   <a class="videoLink colorbox-evlarge" href="http://video.esri.com/watch/3625/what-is-arcgis_question"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		   <video width="320" height="240" controls id="2194" class="mobileVideo">
			<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_">
			</video>
		     <!--<table><tr><td>
		          <ul>
		            <li>Explore a map</li>
		            <li>Create a map</li>
		            <li>Add a layer from a file</li>
		            <li>Configure pop-ups</li>
		            <li>Make a web app</li>
		          </ul></td>
		          <td valign="top">
		          <ul><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online" class="btn secondary">Start Now</a>-->
		            
        </ul></td><tr></table>
    
		 
		<p>Discover other hands-on lessons at <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Learn ArcGIS</a><br>
		  <a href="http://www.esri.com/training/main/arcgis-online-training">Find training for ArcGIS Online</a></p>
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Popular topics</h3>
         <ul>
		<!--<li><a href="/en/arcgis-online/reference/what-is-agol.htm" >&nbsp;What is ArcGIS Online?</a></li>-->
		<li><a href="/en/arcgis-online/reference/whats-new.htm" >&nbsp;What's new?</a></li>
		<li><a href="/en/arcgis-online/reference/faq.htm">&nbsp;Frequently asked questions</a></li>
		<!--<li><a href="http://doc.arcgis.com/en/trust/">&nbsp;Trust ArcGIS</a></li>-->
		<li><a href="http://doc.arcgis.com/en/trust/">&nbsp;Account troubleshooting</a></li>
		<li><a href="http://doc.arcgis.com/en/trust/">&nbsp;System status</a></li>
		
        
        </div>
	
		 <br />
	
	<!--<section id="video-column">
      <div class="panel">
        <h3>Create a map</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Learn how to use the built-in map viewer to create maps.</p>
        <a href="/en/arcgis-online/reference/videos.htm" class="btn secondary">More Videos</a>
      </div>
    </section>	-->
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">More Blog Posts</a>
        </div>
		 <br />
		 
     <!--<section id="forum-container">
      <div class="panel">
        <h3>Discussions on GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2055" class="btn secondary">Start one</a>&nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Read More</a>
      </div>
    </section> -->     
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>