---
title: Dodatek ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2015-10-30"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/pl/maps-for-office/">Dodatek ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/pl/maps-for-office/">Strona główna</a></li>
        <li><a href="/pl/maps-for-office/install-and-configure/">Instalowanie i konfigurowanie</a></li>
        <li><a href="/pl/maps-for-office/design-and-use/">Projektowanie map i korzystanie z nich</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~tag%5B_office%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">Pobierz aplikację</h2>
        <span id="appVersion"><strong>Wersja:</strong> 4.0</span>
        <span id="appReleased"><strong>Dostępność:</strong> wiosna 2016 r.</span>

          <p>Zwiększ swoją wydajność dzięki analizom opartym na lokalizacji. W zupełnie nowy sposób korzystaj z analiz w pakiecie Microsoft Office. Uzyskuj nowe informacje i podejmuj bardziej świadome decyzje. W prosty sposób dodawaj mapy do arkuszy kalkulacyjnych Excel i prezentacji PowerPoint.</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Uzyskaj dodatek ArcGIS Maps for Office</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>Twórz mapy z danych Excel</h3>
			<p>W programie Excel twórz interaktywne mapy w oparciu o dane zawarte w arkuszu kalkulacyjnym. Kilkoma kliknięciami utwórz oznaczane kolorami mapy punktowe, mapy zagęszczenia punktów oraz mapy skupień i uzyskaj wizualną reprezentację danych umożliwiającą ich lepsze zrozumienie.</p>
			<p>&gt; <a href="/pl/maps-for-office/design-and-use/add-a-map-to-excel.htm">Dowiedz się więcej</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>Dodawaj dynamiczne mapy do programu PowerPoint</h3>
			<p>Dodawaj mapy z konta ArcGIS instytucji do programu PowerPoint, aby tworzyć atrakcyjne, dynamiczne prezentacje.</p>
			<p>&gt; <a href="/pl/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">Dowiedz się więcej</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>Wzbogać swoje biznesowe arkusze kalkulacyjne</h3>
			<p>Dodaj dane demograficzne i dane dotyczące stylu życia z systemu ArcGIS bezpośrednio do arkuszy kalkulacyjnych w programie Excel i uzyskaj więcej informacji kontekstowych na temat miejsc, które są dla Ciebie ważne. Przeglądaj lokalizacje na bieżąco dzięki infografikom w oknach podręcznych.</p>
			<p>&gt; <a href="/pl/maps-for-office/design-and-use/enrich-your-data.htm">Dowiedz się więcej</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>Udostępniaj mapy z programu Excel</h3>
			<p>Udostępniaj mapy za pomocą usługi ArcGIS Online lub witryny Portal for ArcGIS, przesyłaj w wiadomościach e-mail, wstawiaj w prezentacjach PowerPoint lub dokumentach Word.</p>
			<p>&gt; <a href="/pl/maps-for-office/design-and-use/share-a-map-on-arcgis.htm">Dowiedz się więcej</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>Co nowego</h2>	
	<p>&gt; Czy masz koncepcję funkcji, która ucieszyłaby Cię w dodatku ArcGIS Maps for Office? Opowiedz nam o tym w witrynie <a href="http://ideas.arcgis.com/ideaList?c=09a300000004xET&category=Esri+Maps+for+Office" target="_blank">ArcGIS Ideas</a>.</p>
 	<p>Dodatek ArcGIS Maps for Office w wersji 4.0 jest już dostępny. Ta wersja zawiera znaczące aktualizacje i udoskonalenia. Oto niektóre z nich.</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<h3>Aktualizacje w wersji 4.0</h3>
		<p>Dodatek ArcGIS Maps for Office 4.0 zawiera następujące nowe funkcje:
			<ul>
				<li><b>Użyj opcji <a href="/pl/maps-for-office/design-and-use/change-a-layer-s-style.htm">inteligentnego tworzenia map</a>, aby szybko tworzyć piękne mapy</b>
					<p>Niezależnie od tego, czy jesteś ekspertem w pracy z mapami, czy dopiero zaczynasz, tworzenie atrakcyjnych wizualnie map, które prezentują Twój przekaz, nigdy nie było łatwiejsze. Dodatek ArcGIS Maps for Office analizuje dane w arkuszu kalkulacyjnym i sugeruje najlepsze sposoby przedstawienia ich na mapie, oferując zestaw stylów do wyboru. Wybierz styl i błyskawicznie utwórz mapę lub dostosuj opcje stylu odpowiednio do przedmiotu prezentacji. Inteligentne tworzenie map udostępnia także pożądaną możliwość ręcznego ustawiania podziałów klas dla swoich warstw.</p>
				</li>
				<li><b>Znajdowanie wzorców czasowych w lokalizacjach dzięki <a href="/pl/maps-for-office/design-and-use/map-temporal-data.htm">animacjom opartym na upływie czasu</a></b>
					<p>Jeśli dane zawierają wartości czasowe, można dodać do mapy warstwę czasową w programie Excel i uruchomić animację, która przedstawi zmianę wzorców w danych wraz z upływem czasu. Ta funkcja obsługuje także warstwy czasowe na platformie ArcGIS, umożliwiając porównywanie wzorców czasowych w danych z podobnymi wzorcami w instytucji lub z wiarygodnych źródeł, jak np. północnoamerykańska agencja NOOA (National Oceanic and Atmospheric Administration).</p>
				</li>
				<li><b>Efektywniejsze prezentowanie swojej pracy dzięki zupełnie nowym wrażeniom w programie <a href="/pl/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">PowerPoint</a></b>
					<p>Dodatek ArcGIS Maps for Office daje w pełni zaktualizowane możliwości ulepszania prezentacji programu PowerPoint poprzez interaktywne, dynamiczne mapy dzięki łatwiejszemu i szybszemu wyszukiwaniu zawartości. Mapy można dodawać bezpośrednio do programu PowerPoint, używając zawartości pochodzącej od instytucji ArcGIS lub edytując istniejące slajdy map. Należy wprowadzić mapę na slajd i odpowiednio ustawić — samą lub w połączeniu z innymi standardowymi elementami programu PowerPoint, takimi jak diagram, obraz lub tekst. W trybie pokazu slajdów można powiększać mapę i przesuwać ją oraz wybierać obiekty w celu wyświetlenia szczegółowych informacji, umożliwiających szybkie udzielanie odpowiedzi na pytania zadawane podczas prezentacji.</p>
				<li><b>Do koncentrowania się na ważnych wierszach służy funkcja <a href="/pl/maps-for-office/design-and-use/select-features.htm#ESRI_SECTION1_53FF2A6DECC04ED4A5AAED1BDDBC9515">filtrowania bazującego na mapach</a></b>
					<p>Od dawna możliwe jest filtrowanie arkuszy według wartości komórki. Obecnie dodatek ArcGIS Maps for Office umożliwia filtrowanie arkusza kalkulacyjnego przez wybranie elementów na mapie, co pozwala skupić się bezpośrednio na obiektach, z którymi pracuje się w danej chwili. Arkusz kalkulacyjny można przefiltrować, aby wyświetlić tylko wybrane obiekty, a następnie można użyć standardowych funkcji programu Excel do pracy z potrzebnymi danymi.</p>
				</li>
				<li><b>W śledzeniu zmian danych pomaga ustawienie <a href="/pl/maps-for-office/design-and-use/set-refresh-interval.htm">interwału odświeżania</a></b>
					<p>Warstwy statyczne dodane z systemu ArcGIS pomagają wizualizować obiekty nieruchome, jak np. budynki, drogi lub granice. Obecnie dodatek ArcGIS Maps for Office umożliwia śledzenie przedmiotów, które się poruszają, zmieniają lub ewoluują — takich jak burze, pojazdy lub status prac w terenie. Funkcja interwału odświeżania pozwala podać częstotliwość odpytywania warstwy o aktualizacje; można także kliknąć przycisk, aby niezwłocznie zaktualizować warstwę</p>
				</li>
			</ul>
		</p>
	


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>Obsługiwane środowiska</h2>
		<p>Oprogramowanie ArcGIS Maps for Office jest wdrażane jako dodatek do programów Microsoft Excel i Microsoft PowerPoint. W celu poprawnego działania dodatku ArcGIS Maps for Office firma Esri zakłada konfigurację pracy tych aplikacji. Firma Esri testuje dodatek ArcGIS Maps for Office tylko w środowiskach programowych certyfikowanych jako obsługiwane przez program Microsoft Excel lub PowerPoint; nie wszystkie środowiska obsługiwane przez programy Excel i PowerPoint zostały przetestowane lub certyfikowane. Więcej informacji zawiera temat <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Polityka firmy ESRI w zakresie obsługiwanych środowisk</a>.</p>
		
		<p><b>Uwaga:</b> Program Microsoft Word umożliwia osadzanie w dokumencie arkuszy kalkulacyjnych programu Excel i pracę z nimi. Ta procedura wykonywania zadań nie jest obsługiwana przez dodatek ArcGIS Maps for Office i nie jest zalecana.</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Wymagania systemowe</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>Dodatek Esri Maps for Office wymaga konta ArcGIS należącego do instytucji oraz programów Microsoft Office Excel lub PowerPoint (z pakietu Microsoft Office 2010, 2013 lub 2016).</p>
			<p>Aby uzyskać dodatkowe informacje, w tym dane dotyczące wymaganej szybkości procesora, ilości pamięci i miejsca na dysku twardym, zapoznaj się z tematem dotyczącym wymagań systemowych dla następującego oprogramowania:
			<ul>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li><a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">Wymagane oprogramowanie</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>Dodatek ArcGIS Maps for Office wymaga dokonanej przez instytucję subskrypcji usługi <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a> lub lokalnego wdrożenia witryny Portal for ArcGIS. Zakłada się, że metoda uwierzytelniania używana na potrzeby dostępu do platformy została poprawnie skonfigurowana przez administratora systemu ArcGIS.</p>

			<p>Ponadto w systemie musi być zainstalowane i skonfigurowane następujące oprogramowanie:</p>
				<ul>
					<li>Microsoft Office 2010, 2013 lub 2016*</br>
						* Dodatek ArcGIS Maps for Office obsługuje pakiet Microsoft Office 2016 w wersji 16.0.4266.1003 i wcześniejszych.
					</li>
					<li>Internet Explorer 9, 10 lub 11**</li>
					<li>Microsoft Windows Obsługiwane wersje:
						<ul>
							<li>Windows 7 (wersja 32-bitowa i 64-bitowa)</li>
							<li>Windows 8 (wersja 32-bitowa i 64-bitowa)</li>
							<li>Windows 8.1 (wersja 32-bitowa i 64-bitowa)</li>
							<li>Windows 10 (wersja 32-bitowa i 64-bitowa)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
				</ul>
			<p>** Dodatek ArcGIS Maps for Office używa języka JavaScript w przeglądarce internetowej do wyświetlania map. Program Microsoft Excel wymaga używania przeglądarki Internet Explorer (IE) do wyświetlania zawartości sieci Web, więc nie ma możliwości używania innej przeglądarki. Funkcjonalność w aplikacji wymaga używania przeglądarki IE 9 lub nowszej; starsze wersje nie są obsługiwane.</p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">Obsługiwane języki</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>Dodatek ArcGIS Maps for Office jest dostępny w następujących językach:</p>
			<p>angielski, arabski, chiński (uproszczony), chiński (tradycyjny, Hong Kong), chiński (tradycyjny, Tajwan), czeski, duński, estoński, fiński, francuski, grecki, hebrajski, hiszpański, japoński, koreański, litewski, łotewski, niderlandzki, niemiecki, norweski, polski, portugalski (brazylijski), portugalski (Portugalia), rumuński, rosyjski, szwedzki, tajski, turecki, wietnamski i włoski.</p>
			
			<p>Dodatek ArcGIS Maps for Office korzysta z ustawień językowych skonfigurowanych w menu Opcje programu Excel, a nie z ustawień regionalnych systemu operacyjnego. Jeżeli skonfigurowany język nie jest obsługiwany, w aplikacji wybierany jest język angielski.</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Wprowadzenie</h3>
          <ul>
           <li><a href="#whatsNew">Co nowego</a></li>
            <li><a href="#supportedEnvironments">Obsługiwane środowiska</a></li>
			<li>Pomoc do poprzednich wersji:
				<ul>
					<li><a href="/pl/maps-for-office/3.1/welcome.htm">Pomoc online do wersji 3.1</a></li>
				</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Zapoznaj się z materiałami wideo</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Na naszym blogu</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
