---
title: Dodatek Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="pl">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/maps-for-office/">Dodatek Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pl/maps-for-office/">Strona gł&oacute;wna</a></li>
        <li><a href="/pl/maps-for-office/help/">Pomoc</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	  <h2 id="appTitle">Pobierz aplikację</h2>
          <span id="appVersion"><strong>Wersja:</strong> 3.0</span> <span id="appReleased"><strong>Dostępna:</strong> wiosna 2015&nbsp;r.</span>


          <p>Zwiększ swoją wydajność dzięki analizom opartym na lokalizacji. Nadaj nowy analityczny wymiar pakietowi Microsoft Office. Uzyskuj nowe informacje i podejmuj lepsze decyzje. W prosty spos&oacute;b dodawaj mapy do arkuszy kalkulacyjnych Excel i prezentacji PowerPoint.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Pobierz dodatek Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="Map-your-data.png" />

          <h3>Tw&oacute;rz mapy z danych Excel</h3>
          <p>W programie Excel tw&oacute;rz interaktywne mapy w oparciu o dane zawarte w arkuszu kalkulacyjnym. Kilkoma kliknięciami utw&oacute;rz oznaczane kolorami mapy punktowe, mapy zagęszczenia punkt&oacute;w oraz mapy skupień i uzyskaj wizualną reprezentację danych umożliwiającą ich lepsze zrozumienie.</p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="Analyze-your-data.png" />

          <h3>Analizuj dane Excel na mapach</h3>
          <p>Odkryj wzorce i trendy, kt&oacute;re nie są jasno widoczne podczas prezentowania danych w postaci tabel lub wykres&oacute;w. Znajdź statystycznie istotne lokalizacje hot spot oraz cold spot w swoich danych. Wykonuj wyszukiwania przestrzenne w oparciu o czas przejazdu lub zakresy odległości i znajduj pobliskie interesujące rekordy. </p>         
        </div>


	<div id="collectorThirdFeature" class="column-12 phone-column-24">
          <img src="Enrich-your-spreadsheets.png" />

          <h3>Wzbogać i ożyw swoje biznesowe arkusze kalkulacyjne</h3>
          <p>Dodaj dane demograficzne Esri i dane dotyczące stylu życia bezpośrednio do arkuszy kalkulacyjnych w programie Excel i uzyskaj więcej informacji kontekstowych na temat miejsc, kt&oacute;re są dla Ciebie ważne. Przeglądaj lokalizacje na bieżąco dzięki infografikom w oknach podręcznych.</p>
        </div>

	<div id="collectorFourthFeature" class="column-12 phone-column-24">
          <img src="Share-your-data.png" />

          <h3>Udostępniaj mapy z programu Excel</h3>
          <p>Udostępniaj mapy za pomocą usługi ArcGIS Online lub witryny Portal for ArcGIS, przesyłaj w wiadomościach e-mail, wstawiaj w prezentacjach PowerPoint lub dokumentach Word.</p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Wymagania systemowe</h2>

        <p>Dodatek Esri Maps for Office wymaga konta należącego do instytucji w usłudze <a href="http://help.arcgis.com/pl/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> oraz program&oacute;w Microsoft Office Excel lub PowerPoint 2010 lub Microsoft Office Excel lub PowerPoint 2013. Obsługiwane systemy operacyjne to:</p>
		<ul>
		  <li>Windows 7 (wersja 32-bitowa i 64-bitowa)</li>
		 <li>Windows 8 (wersja 32-bitowa i 64-bitowa)</li>
		 <li>Windows 8,1 (wersja 32-bitowa i 64-bitowa)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Aby uzyskać dodatkowe informacje, w tym dane dotyczące wymaganej prędkości procesora, ilości pamięci i miejsca na twardym dysku, zapoznaj się z tematem dotyczącym wymagań systemowych pakiet&oacute;w <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> i <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Co nowego</h2>
        <p>Dodatek Esri Maps for Office w wersji 3.0 został opublikowany w kwietniu 2015 roku. Obejmuje on następujące ulepszenia:</p>
        <ul>
        <li>W bardziej przejrzysty spos&oacute;b wizualizuj dane Excel, korzystając z wielu map w arkuszu kalkulacyjnym. Dla r&oacute;żnych tabel w arkuszu kalkulacyjnym możesz tworzyć oddzielne mapy.</li>
	<li>Por&oacute;wnuj mapy obok siebie lub przeciągnij je na inny monitor, aby nie zasłaniać okna programu Excel.</li>
	<li>W prosty spos&oacute;b obsługuj dane na mapach za pomocą narzędzi w oknie mapy.</li>
	<li>Za pomocą nowego narzędzia wyszukiwania szybko odnajduj wszystkie lokalizacje.</li>
	<li>Aby tworzyć piękne mapy, nie musisz być ekspertem ds. GIS. Sprawdź, jak mapa będzie wyglądać przed dodaniem do niej danych. Style mapy są sugerowane w oparciu o dodawane dane tak, aby uzyskiwać najlepsze efekty wizualne.</li>
	<li>Używaj wybranego układu wsp&oacute;łrzędnych, aby w prosty spos&oacute;b nakładać inne zestawy danych wyrażone w lokalnym układzie wsp&oacute;łrzędnych.</li>
	<li>Niestandardowe typy lokalizacji obejmują teraz obiekty liniowe.</li>
	<li>Szerszy zakres pomocy dla nowych użytkownik&oacute;w.</li>
        </ul>


        <h3>Poprzednie wersje</h3>
        
        <p>Dodatek Esri Maps for Office w wersji 2.1.5 został opublikowany w zimie 2015 roku. Obejmuje on następujące ulepszenia:</p>
        <ul>
        <li>Obsługa zabezpieczonych i niezabezpieczonych serwer&oacute;w proxy WWW.</li>
        </ul>

	<p>Dodatek Esri Maps for Office w wersji 2.1.4 został opublikowany na wiosnę 2014 roku. Zawierała ona następujące ulepszenia:</p>
        <ul>
        <li>Aktualizacje zabezpieczeń.</li>
        </ul>

        <p>Dodatek Esri Maps for Office w wersji 2.1.3 został opublikowany na wiosnę 2014 roku. Zawierała ona następujące ulepszenia:</p>
        <ul>
        <li>Obsługa niestandardowych r&oacute;l.</li>
        <li>Nowe parametry instalacji dyskretnej zapewniające lepsze sterowanie wdrożeniami na dużą skalę.</li>
        <li>Sprawdzanie połączenia dodatku Maps for Office z&nbsp;systemem ArcGIS i&nbsp;powiadamianie o&nbsp;braku dostępności wymaganych usług.</li>
		<li>Poprawki i&nbsp;udoskonalenia w&nbsp;zakresie obsługi, w&nbsp;tym:</li>
			<ul>
			<li>Możliwość używania hostowanych usług mapowych jako niestandardowych typ&oacute;w lokalizacji.</li>
			<li>Wyeliminowane problemy z&nbsp;widocznością warstw w&nbsp;zlokalizowanych wersjach dodatku.</li>
			<li>Wyeliminowane problemy związane&nbsp;z nagłymi awariami dodatku w&nbsp;przypadku obecności w&nbsp;systemie starszych wersji Narzędzi Visual Studio dla pakietu Office.</li>
			<li>W&nbsp;procesie dodawania danych niestandardowe lokatory wyświetlane są przy użyciu ich nazwy, zamiast wartości &quot;Adres&quot;.</li>
			<li>Lepsze zarządzanie rejestrem podczas dezinstalacji.</li>
			<li>Wydajniejsze przechowywanie geometrii uzyskanych z&nbsp;systemu ArcGIS.</li>
			<li>Po nawiązaniu połączenia z portalem nie są wysyłane już żądania do usługi ArcGIS Online.</li>
			<li>Poprawna obsługa przecinka jako symbolu miejsca dziesiętnego.</li>
			<li>Możliwość zmiany stylu i grupowania w przypadku wzbogaconych warstw według nowo dodanych kolumn.</li>
			<li>Poprawne nagł&oacute;wki kolumn wyświetlane w&nbsp;oknach podręcznych wzbogaconych warstw.</li>
			<li>Wyeliminowana awaria dodatku w&nbsp;przypadku rozłączenia z&nbsp;Internetem.</li>
			<li>Dodatek Esri Maps for Office w&nbsp;aplikacji PowerPoint uwzględnia domyślną mapę bazową wybraną przez instytucję.</li>
			</ul>
        </ul>


        <p>Dodatek Esri Maps for Office w wersji 2.1.2 został opublikowany w listopadzie 2013 roku. Zawierała ona następujące ulepszenia:</p>
        <ul>
		<li>Poprawki i&nbsp;udoskonalenia w&nbsp;zakresie obsługi, w&nbsp;tym:</li>
			<ul>
			<li>Udoskonalenia narzędzia Wzbogać warstwę, takie jak: wydajniejsze użycie pamięci umożliwiające obsługę rozbudowanych poleceń wzbogacania oraz ulepszony wskaźnik postępu.</li>
			<li>Usunięcie usterki powodującej awarię programu Excel po zainstalowaniu dodatku Esri Maps. </li>
			<li>Usunięcie usterki powodującej wyświetlanie nieprawidłowych rastr&oacute;w w&nbsp;panelu Wyszukaj.</li>
			<li>Usunięcie usterki powodującej niepowodzenie wyszukiwania niestandardowych typ&oacute;w lokalizacji w&nbsp;japońskiej, rosyjskiej oraz chińskiej wersji językowej.</li>
			<li>Skorygowane zlokalizowane ciągi w&nbsp;sekcjach Najważniejsze dane, Zamożność, Polityka i&nbsp;Zdrowie w&nbsp;panelu Wyszukaj.</li>
			</ul>
        </ul>
		
		<p>Wersja 2.1.1 została opublikowana w październiku 2013 roku. Zawierała ona następujące ulepszenia:</p>
        <ul>
        <li>Nowe zlokalizowane wersje oprogramowania w 22 obsługiwanych językach:</li>
			<ul>
			<li>arabskim, chińskim (uproszczonym), duńskim, holenderskim, angielskim, estońskim, francuskim, niemieckim, hebrajskim, włoskim, japońskim, koreańskim, łotewskim, litewskim, norweskim, polskim, portugalskim (Brazylia), portugalskim (Portugalia), rumuńskim, rosyjskim, hiszpańskim i szwedzkim</li>
			</ul>
		<li>Obsługa okien podręcznych na mapach internetowych</li>
		<li>Symbolizacja obiekt&oacute;w za pomocą ikony dostępnej za pośrednictwem adresu URL atrybutu</li>
		<li>Poprawki i zwiększona funkcjonalność produktu, w tym:
			<ul>
			<li>Lepsza obsługa logowania z użyciem protokołu OAuth</li>
			<li>Bardziej użyteczne komunikaty narzędzia Znajdź lokalizacje hot spot</li>
			<li>Narzędzie Znajdź lokalizacje hot spot obsługuje obecnie nazwy kolumn zawierające spacje</li>
			<li>Narzędzie selekcji obsługuje teraz bufory o rozmiarze &quot;0&quot;</li>
			<li>Rozwiązane problemy związane z panelem zadań</li>
			<li>Usunięte błędy związane z widocznością grup</li>
			<li>Lepsza obsługa instytucji stosujących protok&oacute;ł SSL we wszystkich połączeniach</li>
			<li>Właściwe działanie funkcji grupowania przy zastosowaniu kolumn dodanych z narzędzia Wzbogać warstwę</li>
			</ul>
        </ul>
		
        <p>Wersja 2.1 została opublikowana w&nbsp;czerwcu 2013&nbsp;r. Obejmuje on następujące ulepszenia: </p>
        <ul>
        <li>Analiza statystyczna zależności za pomocą narzędzia Znajdź lokalizacje hot spot</li>
		<li>Ulepszenia wzbogacania danych, w tym większa liczba zbior&oacute;w danych oraz możliwość wyboru poszczeg&oacute;lnych zmiennych ze zbior&oacute;w danych</li>
		<li>Obsługa bezpiecznego logowania za pomocą protokołu OAuth+SAML (AGOL)</li>
        <li>Obsługa bezpiecznego logowania przy użyciu IWA, PKI (tylko Portal)</li>
		<li>Usprawnienia interfejsu użytkownika w przypadku Infografik i narzędzia Wzbogać warstwę</li>
		<li>Ulepszony schemat pracy dotyczący aktualizacji dodatku Maps for Office do najnowszej wersji</li>
        </ul>
		<br>
        <p>Wersja 2.0.2 została opublikowana w maju 2013 roku. Zawierała ona następujące ulepszenia:</p>
        <ul>
          <li>Wzbogacanie własnych danych kontekstem geograficznym za pomocą nowego narzędzia Wzbogać warstwę</li>
		  <li>Wyb&oacute;r obiekt&oacute;w na własnej mapie i wyszukiwanie najbliższych obiekt&oacute;w w innych warstwach </li>
		  <li>Menu kontekstowe mapy zawierają teraz Infografiki, kt&oacute;re zapewniają bogate informacje kontekstowe o obszarach otaczających obiekty na mapie</li>
		  <li>Obsługa podglądu w witrynie Portal for ArcGIS 10.2</li>
		  <li>Nowe opcje konfiguracyjne map skupień i koncentracji</li>
		  <li>Dodano możliwość filtrowania pogrupowanych obiekt&oacute;w na mapie. Ta funkcja jest dostępna po kliknięciu granicy klasy w legendzie mapy</li>
		  <li>Ulepszony schemat pracy podczas geokodowania adres&oacute;w</li>
		  <li>Obsługa dostosowywania galerii map bazowych z poziomu instytucji w usłudze ArcGIS Online</li>
		  <li>Funkcja Wstaw mapę korzysta z domyślnej mapy bazowej instytucji w usłudze ArcGIS Online</li>
		  <li>Wyszukiwanie danych w usłudze ArcGIS Online z wykorzystaniem popularnych kategorii, takich jak Zamożność, Biznes, Polityka i Zdrowie</li>
		  <li>Nazwy miejsc są teraz oparte na lokalizacji danych Na przykład etykiety w procedurze organizacji prac geokodowania pokażą prefektury w Japonii, stany w Stanach Zjednoczonych i prowincje w Kanadzie</li>
		  <li>Obsługa pakietu Microsoft Office 2013</li>
		  <li>Inne udoskonalenia dotyczące jakości, użyteczności oraz funkcji kartograficznych</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Wprowadzenie</h3>
          <ul>
           <li><a href="#whatsNew">Co nowego</a></li>
            <li><a href="#systemRequirements">Wymagania systemowe</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Zapoznaj się z materiałami wideo</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Na naszym blogu</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
