---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="app-studio"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ko">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/appstudio/">AppStudio for ArcGIS(베타)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ko/appstudio/">홈</a></li>
        <li><a href="/ko/appstudio/create-apps/">앱 생성</a></li>
       <!-- <li><a href="/ko/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/ko/appstudio/extend-apps/">앱 확장</a></li>
		<li><a href="https://betacommunity.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">포럼</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS는 맵을 Mac, iOS, Android, Windows 및 Linux용 모바일 앱으로 변환하는 획기적인 도구입니다.</h3>
  
	<a href="http://beta.esri.com/community/" class="btn primary icon-storage">베타 버전 다운로드</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>보다 짧은 시간에 더 많은 작업 수행</h3>
          <p>20분 이내에 아이디어를 앱으로 만들고 앱 스토어에 발행할 수 있습니다. </p>		  
		           
          <p>
            <a href="/ko/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>테스트 및 배포</h3>
		  <p>내 기관 내에서 자신이 만든 앱을 배포하고 보호할 수 있습니다.</p>
	       
          <p>
            <a href="/ko/appstudio/create-apps/whatisappstudio.htm#ESRI_SECTION1_FE63E486A16B4260A0B9D2802784E616" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>크로스 플랫폼 개발</h3>
		  <p>앱 하나를 만든 다음 Android, iOS, Windows, Mac, Linux 등의 여러 플랫폼과 폼 팩터에 배포할 수 있습니다.</p>
	      
          <p>
            <a href="/ko/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>공용/기업용 앱</h3>
		  <p>사용자 고유 브랜드의 앱을 Google Play, Apple, Microsoft 앱 스토어에 발행할 수 있습니다.</p>
	      
          <p>
            <a href="/ko/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">특징</h2>
		
		   <ul><li>간편한 앱 생성 </li>
		       <li>포함된 구성 설정 앱 템플릿을 사용할 수 있습니다.</li>
			   <li>어떤 기기에서나 앱을 실행할 수 있습니다.</li>
			   <li>웹 맵, 맵 도구 및 피처 서비스를 다시 사용하여 ArcGIS 활용도를 높일 수 있습니다.</li>
			   <li>포함된 크로스 플랫폼 개발자 생산성 도구를 사용할 수 있습니다.</li>
			   <li>배포와 업데이트를 단순화할 수 있습니다.</li>
			   <li>개발 중에 앱 검토를 위한 테스트 환경을 배포할 수 있습니다.</li>
			   <li>설치 파일을 수동으로 배포하거나 내부/공개 스토어에 발행할 수 있습니다.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">시스템 요구 사항</h2>
		
          <p>앱 내에서 사용되는 데이터에 대한 요구 사항과 더불어 AppStudio for ArcGIS 및 Player를 실행하는 데에는 특정한 기기 요구 사항이 있습니다.</p>
          <p>	

          <h3>데이터 요구 사항</h3>
          <p>AppStudio에서 맵을 사용하려면 ArcGIS 기관 계정이 있어야 합니다. 맵에 ArcGIS Online, Portal for ArcGIS, ArcGIS for Server의 데이터를 포함할 수 있습니다.</p>
          <p>		  
		
          <h3>기기 요구 사항</h3>
          <p>지원되는 운영 체제의 최소 버전은 다음과 같습니다.</p>
          <p>
		  	  
          <h4>AppStudio for ArcGIS</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>

        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>
          <li>Android 4.1(Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>지원되는 언어</h3> 
        <p>제공 예정</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio에서는 ArcGIS Runtime SDK 10.2.5 for Qt를 지원합니다.</p>


        <p><a href="http://ideas.arcgis.com/">아이디어</a>를 공유하고 <a href="http://support.esri.com/en/">피드백을 보내 주세요</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>AppStudio를 처음 사용하시나요?</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  비디오 보기</a></h4>  
          <h4><a href="#features">특징</a></h4>
          <h4><a href="#systemrequirements">시스템 요구 사항</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">추가 블로그 게시물</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
