---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2015-01-06"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="no">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/no/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/no/operations-dashboard/">Hjem</a></li>
        <li><a href="/no/operations-dashboard/windows-desktop/author/create-a-map.htm">Opprette visninger</a></li>
        <li><a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Bruke visninger</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Overv&aring;k aktiviteter og hendelser, spor medarbeidere som er ute i felten, og vurder statusen for og resultatet av det daglige arbeidet.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">F&aring; Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Opprette og dele en arbeidsvisning</h3>
          <p>Med tre enkle trinn kan du opprette og dele arbeidsvisninger som inneholder kart, lister, diagrammer, m&aring;lere og mer, basert p&aring; geografiske data i sanntid definert i et webkart eller en webtjeneste.</p>
          <p>
            <a href="/no/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Overv&aring;ke og respondere p&aring; hendelser</h3>
          <p>Bruk arbeidsvisningene dine til &aring; fokusere p&aring; de aspektene av arbeidet som er viktige for deg. Overv&aring;k tjenester, leveranser, personer, kj&oslash;ret&oslash;y og mer, hvor som helst i verden, i fire trinn.</p>
          <p>
            <a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br /> <!--<a href="http://resources.arcgis.com/no/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Overv&aring;k i nettleser</h3>
          <p>Bruk arbeidsvisningen i nettleseren. Ingenting &aring; installere, bare &aring;pne en arbeidsvisning og hold deg oppdatert om arbeidet, ogs&aring; fra iPad-en.</p>
          <p>
            <a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br /> <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Utvikle tilleggsprogrammer</h3>
          <p>Ta med din unike forretningslogikk til arbeidsvisningen ved &aring; bruke tilpassede widgeter, geoobjekthandlinger og kartverkt&oslash;y. </p>
          <p>
            <a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Funksjoner</h2>
	<p>F&aring; en samlet oversikt over systemene og ressursene du administrerer. Overv&aring;k datafeeder i sanntid for store hendelser eller den daglige driften p&aring; datamaskinen eller nettbrettet. Opprett fokuserte administrative dashboard som integrerer kart, diagrammer og grafer.</p>
	
	<ul>
	<li>Bruk kart med dynamiske datakilder, s&aring; kan du vise ting i sanntid.</li>
	<li>Konfigurer diagrammer, m&aring;lere, histogrammer og mer for &aring; gi statistisk kontekst.</li>
	<li>Opprett og del arbeidsvisninger som fokuserer p&aring; et bestemt behov.</li>
	<li>Utform visninger som kan brukes p&aring; flere skjermer eller p&aring; enheter med &eacute;n skjerm.</li>
	<li>Opprett tilpassede miniprogrammer og verkt&oslash;y som passer dine behov.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Systemkrav</h2>

        <p>Det finnes noen systemkrav til enheter du skal kj&oslash;re Operations Dashboard p&aring;, samt krav til dataene som brukes i selve programmet. Operations Dashboard st&oslash;ttes p&aring; en rekke spr&aring;k.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Windows-app</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Operativsystemer som st&oslash;ttes</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 8.1, Windows 8.1 Pro og Windows 8.1 Enterprise (32-biters og 64-biters [EM64T])</li>
          <li>Windows 8, Windows 8 Pro og Windows 8 Enterprise (32-biters og 64-biters [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional og Home Premium (32-biters og 64-biters [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard og Datacenter (64-biters [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise og Datacenter (64-biters [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise og Datacenter (32-biters og 64-biters [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Maskinvarekrav</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Prosessorhastighet: 2,2 GHz eller h&oslash;yere. Hyper-Threading Technology (HTT) eller Multi-core anbefales.</li>
			<li>Prosessor: Intel Pentium 4-, Core Duo- eller Xeon-prosessor, minimum SSE2. Kj&oslash;r verkt&oslash;yet Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a>  fra ledeteksten i Windows for &aring; kontrollere prosessoren.</li>
			<li>Diskplass: 1,5 GB ledig diskplass.</li>
			<li>Minne/RAM: 2 GB eller h&oslash;yere.</li>
			<li>Visningsegenskaper: 24-biters fargedybde.</li>
			<li>Skjermoppl&oslash;sning: 1024 x 768 eller h&oslash;yere i normal st&oslash;rrelse (96 dpi).</li>
			<li>Veksleplass: Bestemmes av operativsystemet; minimum 500 MB.</li>
			<li>Skjerm-/grafikkort: Minimum 64 MB RAM, 256 MB RAM anbefales. NVIDIA-, ATI- og Intel-brikkesett st&oslash;ttes. Driver for akselerert grafikkort. Shader Model 2.0 (minimum). Kontroller at du bruker den nyeste tilgjengelige driveren.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Programvarekrav</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px"><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> eller senere er p&aring;krevd. Du m&aring; ha administratorrettigheter p&aring; maskinen for &aring; kunne installere det.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Utviklerkrav</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px">Du m&aring; ha <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.5.2 for WPF</a> for &aring; tilpasse Operations Dashboard for ArcGIS. Microsoft Visual Studio 2012 eller 2013 Professional, Premium eller Ultimate er ogs&aring; p&aring;krevd. </p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Spr&aring;k som st&oslash;ttes</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">Arabisk, dansk, engelsk, estisk, finsk, fransk, hebraisk, italiensk, japansk, kinesisk (forenklet), koreansk, latvisk, litauisk, nederlandsk, norsk, polsk, portugisisk (Brasil), portugisisk (Portugal), rumensk, russisk, spansk, svensk, thai, tsjekkisk, tyrkisk og tysk.</p>
     	<p style="padding:0 15px">Spr&aring;ket som brukes i Windows-versjonen av appen, avhenger av spr&aring;kinnstillingen for operativsystemet. Hvis du bruker en spr&aring;kinnstilling som ikke st&oslash;ttes, bruker appen engelsk.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Nettleser-app</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">St&oslash;ttede nettlesere</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Skrivebord
 <ul style="padding:0 15px">
 <li>Chrome versjon 19.0 og senere</li>
 <li>Firefox versjon 4.0 og senere</li>
 <li>Internet Explorer versjon 9.0 og senere</li>
 <li>Safari versjon 5.1 og senere</li>
 </ul> 
 Nettbrett 
 <ul style="padding:0 15px">
 <li>Android 4.0 og nyere som kj&oslash;rer Chrome versjon 19.0 eller nyere</li>
 <li>iOS 6.0 og senere med Safari</li>
 </ul>
 Telefon 
 <p style="padding:0 15px">Det er for &oslash;yeblikket ikke st&oslash;tte for nettlesere p&aring; smarttelefon.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Spr&aring;k som st&oslash;ttes</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Dansk, engelsk, estisk, finsk, fransk, gresk, italiensk, japansk, kinesisk (forenklet), koreansk, latvisk, litauisk, nederlandsk, norsk, polsk, portugisisk (Brasil), portugisisk (Portugal), rumensk, russisk, spansk, svensk, thai, tsjekkisk, tyrkisk, tysk og vietnamesisk.</p>
      	<p style="padding:0 15px">I nettleserversjonen brukes ArcGIS Online-profilen din til &aring; angi spr&aring;k. Hvis du bruker en spr&aring;kinnstilling som ikke st&oslash;ttes, bruker appen engelsk.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Datakrav</h3>
		<p>Du m&aring; ha en ArcGIS-organisasjonskonto for &aring; kunne bruke kartene dine i Operations Dashboard. Kartene dine kan inneholde data fra ArcGIS Online, Portal for ArcGIS og ArcGIS for Server. Datakildene m&aring; hostes p&aring; ArcGIS Online eller ArcGIS 10.1 for Server eller senere.</p>
		<p>Hvis en arbeidsvisning deles offentlig, kan den vises i webleserprogrammet uten p&aring;logging.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Nyheter</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS 10.3 ble utgitt i januar 2015. Det inneholder f&oslash;lgende:</p>
	        <ul>
	          <li>Mulighet til &aring; filtrere informasjon geografisk</li>
	          <li>St&oslash;tte for frittst&aring;ende tabeller som eksterne datakilder</li>
	          <li>Oppdateringsinnstillinger for bilder i miniprogram for geoobjektdetaljer</li>
	          <li>Oversatt til thai</li>
	          <li>Forskjellige feilrettinger og forbedringer, blant annet NIM093876, NIM098864, NIM099167, NIM099471, NIM100316, NIM100385, NIM100527, NIM100801, NIM101153, NIM101987, NIM102275, NIM102487, NIM102751, NIM102978, NIM103026, BUG-000081941, BUG-000082011, BUG-000082326 og ENH-000081122</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Nettleser</h4>
	        <p>Webleserprogrammet for Operations Dashboard for ArcGIS ble oppdatert i februar 2015. Den inneholder f&oslash;lgende forbedringer:</p>
	        <ul>
	          <li>St&oslash;tte for &aring; vise offentlig delte arbeidsvisninger uten &aring; logge p&aring;</li>
	          <li>Flere miniprogramtyper kan utvides til fullskjermvisning</li>
	          <li>Oversatt til gresk</li>
	          <li>Diverse feilrettinger og forbedringer, inkludert BUG-000084352</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Sniktitt</h2>
	<p>Operations Dashboard er allerede i dag et utmekret program til &aring; f&oslash;lge med p&aring; driften. Men det er mer i vente! Det f&oslash;lgende skisserer hvor vi &oslash;nsker &aring; ta dette programmet, og vi viser egenskaper vi vil bringe til hver av enhetene dine:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Planlagt funksjonalitet etter plattform <br/> <span class="icon-check" style="color:black"></span> n&aring;, <span class="icon-check icon-green"/> snart, <span class="icon-check" style="color:lightgray"></span> senere<br/></caption>
	  <tr><td></td>
	    <th>Windows-skrivebordet</th>
	    <th>Nettleser</th>
	  </tr>
	  <tr><th>Opprette arbeidsvisninger</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Bruke arbeidsvisninger</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Arbeidsvisning med &eacute;n skjerm</span></td>
	  </tr>
	  <tr><th>Fungerer med Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 og nyere</span></td>
	  </tr>
	  <tr><th>Kan utvides</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Bruk karttjenester som datakilder</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>S&oslash;k i data</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtrer informasjon geografisk</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>St&oslash;tte for frittst&aring;ende tabeller som datakilder</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* For &oslash;yeblikket som eksterne datakilder</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* For &oslash;yeblikket som eksterne datakilder</span></td>
	  </tr>
	  <tr><th>St&oslash;tte for relaterte tabeller</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>3D-visning</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Medarbeideradministrasjon</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Del <a href="http://ideas.arcgis.com/">ideene</a> dine og <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">send oss tilbakemelding</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Detaljer</h3>
          
	  <h4><a href="#features">Funksjoner</a></h4>
	  <h4><a href="#systemRequirements">Systemkrav</a></h4>
	  <h4><a href="#whatsNew">Nyheter</a></h4>
	  <h4><a href="#sneakPeek">Sniktitt</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra bloggen v&aring;r</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
