---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/no/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/no/operations-dashboard/">Hjem</a></li>
        <li><a href="/no/operations-dashboard/windows-desktop/author/create-a-map.htm">Opprette visninger</a></li>
        <li><a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Bruke visninger</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Last ned appen</h2>
          <span id="appVersion"><strong>Versjon:</strong> 10.2</span> <span id="appReleased"><strong>Utgitt:</strong> November 2013</span>

          <p>Overv&aring;k aktiviteter og hendelser, spor medarbeidere som er ute i felten, og vurder statusen for og resultatet av det daglige arbeidet.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">F&aring; Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Systemkrav</a> <a id="appWhatsNew" href="#whatsNew">Nyheter</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/no/operations-dashboard/dashboard-create-small.png" />

          <h3>Opprette og dele en arbeidsvisning</h3>
          <p>Med tre enkle trinn kan du opprette og dele arbeidsvisninger som inneholder kart, lister, diagrammer, m&aring;lere og mer, basert p&aring; geografiske data i sanntid definert i et webkart eller en webtjeneste.</p>
          <p>
            <a href="/no/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/no/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Overv&aring;ke og respondere p&aring; hendelser</h3>
          <p>Bruk arbeidsvisningene dine til &aring; fokusere p&aring; de aspektene av arbeidet som er viktige for deg. Overv&aring;k tjenester, leveranser, personer, kj&oslash;ret&oslash;y og mer, hvor som helst i verden, i fire trinn.</p>
          <p>
            <a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a><br /> <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Det finnes noen systemkrav til enheter du skal kj&oslash;re Operations Dashboard p&aring;, samt krav til dataene som brukes i selve programmet. Operations Dashboard st&oslash;ttes p&aring; en rekke spr&aring;k.</p>


        <h3>Operativsystemer som st&oslash;ttes</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro og Windows 8.1 Enterprise (32-biters og 64 -biters [EM64T])</li>
          <li>Windows 8, Windows 8 Pro og Windows 8 Enterprise (32-biters og 64-biters [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional og Home Premium (32-biters og 64-biters [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard og Datacenter (64-biters [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise og Datacenter (64-biters [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise og Datacenter (32-biters og 64-biters [EM64T]) SP2</li>
        </ul>


        <h3>Maskinvarekrav</h3>
        <ul>
			<li>Prosessorhastighet: 2.2 GHz eller h&oslash;yere; Hyper-Threading (HTT) eller Multi-core anbefales.</li>
			<li>Prosessor: Intel Pentium 4-, Core Duo- eller Xeon-prosessor; minimum SSE2. Kj&oslash;r dette Microsoft-verkt&oslash;yet fra ledeteksten i Windows for &aring; kontrollere prosessoren.</li>
			<li>Diskplass: 1,5 GB ledig diskplass.</li>
			<li>Minne/RAM: 2 GB eller h&oslash;yere.</li>
			<li>Visningsegenskaper: 24-biters fargedybde.</li>
			<li>Skjermoppl&oslash;sning: 1024 x 768 eller h&oslash;yere i normal st&oslash;rrelse (96 dpi).</li>
			<li>Veksleplass: Bestemmes av operativsystemet; minimum 500 MB.</li>
			<li>Skjerm-/grafikkort: minimum 64 MB RAM, 256 MB RAM anbefales; NVIDIA-, ATI- og Intel-brikkesett st&oslash;ttes. Driver for akselerert grafikkort. Shader Model 2.0 (minimum). Kontroller at du bruker den nyeste tilgjengelige driveren.</li>
		</ul>


        <h3>Programvarekrav</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> er p&aring;krevd. Du m&aring; ha administratorrettigheter p&aring; maskinen for &aring; kunne installere det.</p>

        <h3>Datakrav</h3>
		<p>Du m&aring; ha en ArcGIS-organisasjonskonto for &aring; kunne bruke kartene dine i Operations Dashboard. Kartene dine kan inneholde data fra ArcGIS Online, Portal for ArcGIS og ArcGIS for Server. ArcGIS Online eller ArcGIS 10.1 for Server eller senere m&aring; v&aelig;re vert for datakildene.</p>

		<h3>Utviklerkrav</h3>
		<p>Du m&aring; ha <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a> for &aring; tilpasse Operations Dashboard for ArcGIS.</p>

	<h3>Spr&aring;k som st&oslash;ttes</h3>
	<p>Arabisk, dansk, estisk, finsk, fransk, hebraisk, italiensk, japansk, kinesisk (forenklet) , koreansk, latvisk, litauisk, nederlandsk, norsk, polsk, portugisisk (Brasil), portugisisk (Portugal), rumensk, russisk, spansk, svensk, tsjekkisk og tysk</p>
	<p>Spr&aring;ket som brukes i appen, avhenger av spr&aring;kinnstillingen for operativsystemet.</p>

        <a name="whatsNew"></a>
        <h2>Nyheter</h2>
        <p>Operations Dashboard for ArcGIS versjon 10.2 ble utgitt i november 2013. Det inneholder f&oslash;lgende forbedringer:</p>
        <ul>
        <li>St&oslash;tte for bedriftsp&aring;logging.</li>
        <li>St&oslash;tte for Portal for ArcGIS.</li>
        <li>Forbedrede miniprogrammer for lister og m&aring;linger.</li>
        <li>Sprettoppvinduer inkluderer bilder og diagrammer.</li>
        <li>Forbedret proxy-st&oslash;tte.</li>
        <li>St&oslash;tte for lokal tid.</li>
        <li>Forbedret filtrering p&aring; tid og datoer.</li>
        <li>Bruker ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>ArcGIS Runtime SDK 10.2 for WPF kan brukes til utvikling av tillegg.</li>
        <li>Oversatt til arabisk, dansk, estisk, finsk, fransk, hebraisk, italiensk, japansk, kinesisk (forenklet) , koreansk, latvisk, litauisk, nederlandsk, norsk, polsk, portugisisk (Brasil), portugisisk (Portugal), rumensk, russisk, spansk, svensk, tsjekkisk og tysk.</li>
        </ul>
      
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Komme i gang</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Installere det</a></li>
            <li><a href="/no/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Opprette og dele en arbeidsvisning</a></li>
            <li><a href="/no/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Overv&aring;ke og respondere p&aring; aktiviteter og hendelser</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Utvikle tilleggsprogrammer</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra bloggen v&aring;r</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
