<!doctype html>
---
title: Trust – Sistemos būsena
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="lt">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/lt/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/lt/trust/">Trust</a></li>
        <li class='current'><a title="ArcGIS Online sistemos būsena" href="/lt/trust/system-status/">Sistemos būsena</a></li>
        <li><a title="ArcGIS Online sauga" href="/lt/trust/security/">Sauga</a></li>		
        <li><a title="ArcGIS Online privatumas" href="/lt/trust/privacy/">Privatumas</a></li>
        <li><a title="ArcGIS Online privatumas" href="/lt/trust/compliance/">Atitiktis</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Klaida: nepavyksta rodyti įterptų duomenų.</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online būsenos indikatoriai pateikia patvirtintą informaciją, galinčią paveikti daugumą vartotojų. ArcGIS Online yra debesų technologija pagrįsta platforma ir daugelis įvykių neturi arba turi labai ribotą poveikį platesnei mūsų vartotojų daliai. Šiame būsenos puslapyje neskelbiamos konkrečių organizacijų klausimai, nes skatiname juos spręsti naudojant mūsų priežiūros tarnybą.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
