---
title: Maps for Adobe Creative Cloud
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Maps for Adobe Creative Cloud"><META name="last-modified" content="2017-01-01"><META name="product" content="Ad,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Creative Cloud Help</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="http://doc.arcgis.com/en/appstudio/download/">Get the Desktop version</a>
          <!-- INSTRUCTIONS: Remove this p tag if not needed
          <p class="trailer-0 leader-half text-white font-size--2"><strong>Version VERSION_NUMBER</strong> RELEASE DATE</p>-->
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/maps-for-adobecc/">Home</a>
        <a class="sub-nav-link" href="/en/maps-for-adobecc/install/">Install and Configure</a>
        <a class="sub-nav-link" href="/en/maps-for-adobecc/mapboards/">Mapboards</a>
		<a class="sub-nav-link" href="/en/maps-for-adobecc/compile-maps/">Compile Maps</a>
		<a class="sub-nav-link" href="/en/maps-for-adobecc/sync-content/">Synchronize Content</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Search Maps for Adobe Creative Cloud">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="maps-for-adobecc" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>

 
    <div class="column-16 tablet-column-7">
      <p>Use ArcGIS Maps for Adobe Creative Cloud app to access millions of data-driven maps including street, political, and physical feature and many more directly into Illustrator and Photoshop. Allows design professionals to directly access fit-for-use GIS content from your ArcGIS platform. Enrich publicly available content with your own local data and create map artwork that stands out with your branding information.</p>
    </div>
    
    <!-- INSTRUCTIONS: If you don't want to use an image in this section, uncomment the div above and remove the two divs below.
    <div class="column-4 right margin-right-1 padding-left-0">
      <img src="img/PRODUCT_IMAGE_231x149.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>MAIN_TEXT</p>
    </div>-->


  </div>
  <!--<div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">What's new</h4>
      <p>WHATS_NEW_TEXT</p>
      <a class="btn secondary" href="WHATS_NEW_LINK">Learn more</a>
    </div>
  </div>-->
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/en/maps-for-adobecc/install/troubleshooting.htm">Troubleshooting</a></li>
        <li><a href="/en/maps-for-adobecc/mapboards/create-a-mapboard.htm">Create a mapboard</a></li>
	      <li><a href="/en/maps-for-adobecc/install/tips-and-tricks.htm">Tips and tricks</a></li>
        <li><a href="/en/maps-for-adobecc/mapboards/based-specific-parameters.htm">Example workflows</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-adobecc/mapboards/create-a-mapboard.htm">
            <img alt="" src="img/illustrator.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-adobecc/mapboards/create-a-mapboard.htm">Artistic control</a>
          </h5>
          <p>With Adobe Illustrator/PhotoShop, you now have the creative freedom to create geographic art.</p>
        </div>
        <a href="/en/maps-for-adobecc/mapboards/create-a-mapboard.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-adobecc/mapboards/scale-extent.htm">
            <img alt="" src="img/PhotoShop.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-adobecc/mapboards/scale-extent.htm">Seamless experience</a>
          </h5>
          <p>The tools provided in Photoshop allow you to make changes to your map while keeping data and file formats in sync between ArcGIS and Adobe.</p>
        </div>
        <a href="/en/maps-for-adobecc/mapboards/scale-extent.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-adobecc/mapboards/mapboard-exisiting-webmap.htm">
            <img alt="" src="img/webmaps.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-adobecc/mapboards/mapboard-exisiting-webmap.htm">Merge your webmaps</a>
          </h5>
          <p>Upload your webmaps from ArcGIS Online to enhance the cartographic qualities of your map. </p>
        </div>
        <a href="/en/maps-for-adobecc/mapboards/mapboard-exisiting-webmap.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
     <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-adobecc/compile-maps/layer-properties.htm">
            <img alt="" src="img/data-investment.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-adobecc/compile-maps/layer-properties.htm">Data management</a>
          </h5>
          <p>Layers on your map can be individually edited with AI/PhotoShop.</p>
        </div>
        <a href="/en/maps-for-adobecc/compile-maps/layer-properties.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/channel/UC9Enaz73q18cUufdb-_Jmqw">More videos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="PLup4xRBBJiSJPWNDwjvdm4PCa2-5GyGRh" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<!--<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with Maps for Adobe Creative Cloud</h4>
    <!-- INSTRUCTIONS: Remove any links that are not applicable.
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="TWITTER_LINK"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="LINKEDIN_LINK"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="GITHUB_LINK"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="FACEBOOK_LINK"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="GEONET_LINK"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>-->

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="BLOG_LINK">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="BLOG_FEED_URL" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the discussion
        <a class="btn btn-transparent btn-large right" href="GEONET_LINK">More discussions</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="GEONET_FEED_LINK" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
