---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/appstudio/">AppStudio for ArcGIS (Beta)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/en/appstudio/">Home</a></li>
        <li><a href="/en/appstudio/create-apps/">Create Apps</a></li>
       <!-- <li><a href="/en/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/en/appstudio/extend-apps/">Extend Apps</a></li>
		<li><a href="https://earlyadopter.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS is a groundbreaking tool that converts your maps into beautiful mobile apps for Mac, iOS, Android, Windows, and Linux.</h3>
  
	<a href="https://earlyadopter.esri.com/project/version/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F&arttypeid={621BE177-A8BD-43C6-BAFB-945C11D5DC50}" class="btn primary icon-storage">Download the Beta version</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>Do more in less time</h3>
          <p>Go from idea to app store in less than 20 minutes. </p>		  
		           
          <p>
            <a href="/en/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>Test and deploy</h3>
		  <p>Deploy and secure your own apps within your organization.</p>
	       
          <p>
            <a href="/en/appstudio/create-apps/whatisappstudio.htm#ESRI_SECTION1_FE63E486A16B4260A0B9D2802784E616" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Cross platform development</h3>
		  <p>Build one app and deploy it across multiple form factors and platforms including Android, iOS, Windows, Mac, and Linux.</p>
	      
          <p>
            <a href="/en/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>Apps for public and enterprise</h3>
		  <p>Get your own branded apps into the Google Play, Apple, and Microsoft app stores.</p>
	      
          <p>
            <a href="/en/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">Features</h2>
		
		   <ul><li>Easily create apps </li>
		       <li>Use the included configurable app templates.</li>
			   <li>Run your apps on any device.</li>
			   <li>Leverage your ArcGIS investment by reusing your web maps, map tools, and feature services.</li>
			   <li>Use the included cross-platform developer productivity tools.</li>
			   <li>Simplify deployment and updates.</li>
			   <li>Deploy a test environment for app review during development.</li>
			   <li>Distribute installation files manually or publish to an internal or public store.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">System requirements</h2>
		
          <p>There are certain device requirements to run AppStudio for ArcGIS and the Player, as well as requirements on the data that is used within the app.</p>
          <p>	

          <h3>Data requirements</h3>
          <p>To use your maps in AppStudio, you must have an ArcGIS organizational account. Your maps can include data from ArcGIS Online, Portal for ArcGIS, and ArcGIS for Server.</p>
          <p>		  
		
          <h3>Device requirements</h3>
          <p>The following operating systems (with minimum versions) are supported:</p>
          <p>
		  	  
          <h4>AppStudio for ArcGIS</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>

        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>Supported languages</h3> 
        <p>Arabic, Czech, Danish, Dutch, English, Estonian, Finnish, French, German, Greek, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Simplified Chinese, Spanish, Swedish, Thai, Turkish and Vietnamese.</p>
        <p>The language used by AppStudio for ArcGIS and AppStudio Player, is determined by your device's language setting.</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio supports ArcGIS Runtime SDK 10.2.5 for Qt.</p>


        <p>Share your <a href="http://ideas.arcgis.com/">ideas</a> and <a href="http://support.esri.com/en/">send us your feedback</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>New to AppStudio?</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00"  class="colorbox-evlarge"><img src="img/playbtn-small.png">  Watch a video tour</a></h4>  
          <h4><a href="#features">Features</a></h4>
          <h4><a href="#systemrequirements">System requirements</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">More Blog Posts</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
