---
title: AppStudio for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-1-12"><META name="product" content="app-studio"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/appstudio/">AppStudio for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/en/appstudio/">Home</a></li>
        <li><a href="/en/appstudio/create-apps/">Create Apps</a></li>
       <!-- <li><a href="/en/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/en/appstudio/extend-apps/">Extend Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">Create apps once and deliver on all operating system with your branding and style. </h3>
  
    <hr />


        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Create once and use everywhere</h3>
           <p>Create an app on your preferred desktop, that can be run on all available operating systems.</p>         
          <p>
            <a href="/en/appstudio/create-apps/usetemplatecreateapp.htm class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/CreateFromTemplate.PNG" />
          <p></p>

          <h3>Use a template to create an app</h3>
          <p>Create an app using a predefined template.</p>
          <p>
            <a href="/en/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/UseCloudMake.PNG" />
          <p></p>

          <h3>Have Esri make executables for all platforms</h3>
          <p>Use a cloud service to generate the executables you need to install you app on all devices.
          <p>
            <a href="/en/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/Store.png" />
          <p></p>

          <h3>Publish to a Store</h3>
          <p>Use a cloud service to push your apps to your Store of choice.</p>
          <p>

          </p>
        </div>

        <div class="clear"></div>


        <a name="supportedOS"></a>
        <h2 class="divider">Supported operating systems</h2>
        <ul>
          <li>Windows</li>
          <li>Mac</li>
          <li>Linux</li>
          <li>Android</li>
		  <li>iOS</li>
		  <li>Windows Phone coming soon</li>		  
        </ul>
        
        <a name="license"></a>
        <h2 class="divider">License</h2>

        <p>To use AppStudio, you must have an ArcGIS organizational account. </p>

        <a name="features"></a>
        <h2 class="divider">Key Features</h2>
        <ul>
          <li>Create apps that run on any device and make the most of device hardware.</li>
          <li>Use your branding and styling to make these your very own.</li>
          <li>Create your own app templates to share.</li>
		  <li>Use the QML API to build simple or sophisticated apps.</li>
        </ul>
        

         <a name="supportedAPI"></a>
        <h2 class="divider">Supported version of ArcGIS Runtime SDK for Qt</h2>
        <p>AppStudio supports ArcGIS Runtime SDK 10.2.5 for Qt.</p>

        <h3>Supported languages</h3>
        <p>Coming soon.</p>

        <p>Share your <a href="http://ideas.arcgis.com/">ideas</a> and <a href="http://support.esri.com/en/">send us your feedback</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Details</h3>
          
          <h4><a href="#features">Key Features</a></h4>
          <h4><a href="#supportedOS">Supported operating systems</a></h4>
          <h4><a href="#license">License</a></h4>
          <h4><a href="#whatIsNew">What's new</a></h4>
          <h4><a href="#supportedAPI">Supported Versions of ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">More Blog Posts</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussions on GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Start one</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/appstudio/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Read More</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
