---
title: Confianza: estado del sistema
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="Confianza de ArcGIS Online" href="/es/trust/">Confianza</a></li>
        <li class='current'><a title="Estado del sistema de ArcGIS Online" href="/es/trust/system-status/">Estado del sistema</a></li>
        <li><a title="Seguridad de ArcGIS Online" href="/es/trust/security/">Seguridad</a></li>		
        <li><a title="Privacidad de ArcGIS Online" href="/es/trust/privacy/">Privacidad</a></li>
        <li><a title="Privacidad de ArcGIS Online" href="/es/trust/compliance/">Conformidad</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">
  Error: los datos integrados no se pueden mostrar. 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard proporciona información de estado que ha afectado de forma general a los usuarios. Dado que ArcGIS Online es una gran plataforma basada en la nube, muchos eventos tienen un efecto limitado en nuestra base de usuarios general, si es que tienen alguno. En esta página de estado no se publican problemas específicos de la organización, ya que animamos a los usuarios a resolver este tipo de problemas con la ayuda de los servicios de soporte disponibles.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
