---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-CN/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-CN/maps-for-office/">主页</a></li>
        <li><a href="/zh-CN/maps-for-office/help/">帮助</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">论坛</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">下载应用程序</h2>
          <span id="appVersion"><strong>版本：</strong>2.1.1</span> <span id="appReleased"><strong>发布日期：</strong>2013 年秋</span>


          <p>借助 Esri Maps for Office，您可快速创建 Excel 数据的动态交互式地图，并以全新的方式进行浏览。Esri Maps for Office 还可帮助您揭示表格数据和图表中隐含的模式和趋势。地图可通过 PowerPoint 演示文稿或将其一键发布至 Esri 的制图平台 ArcGIS Online 中以共享。</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">获取 Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>绘制电子表格 </h3>
          <p>了解如何使用 Esri Maps for Office 绘制 Excel 数据。可以直接在 Excel 中轻松创建交互式彩色编码地图、点状地图、聚类点地图和热点图，并获取数据直观深入的分析。</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;观看视频</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>丰富数据</h3>
          <p>利用 Esri 的丰富数据集向业务数据中添加值。直接向 Excel 电子表格中添加人口统计和生活方式数据，并获取重要位置的更多环境信息。使用弹出窗口信息图表快速浏览动态位置。</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;观看视频</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>系统要求</h2>

        <p>Esri Maps for Office 需要一个属于 <a href="http://help.arcgis.com/zh-CN/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> 组织的帐户和 Microsoft Office Excel/PowerPoint 2010 或 Microsoft Office Excel/PowerPoint 2013。受支持的操作系统包括：</p>
		<ul>
		 <li>Windows XP（必须具有 SP3）（32 位）</li>
		 <li>Windows 7（32 位和 64 位）</li>
		 <li>Windows 8（32 位和 64 位）</li>
		 <li>Windows Server 2003 SP2和 MSXML 6.0（仅限于 32 位 Office）</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>有关所需处理器速度、内存和硬盘空间的详细信息，请参阅 <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> 和 <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a> 的系统要求。</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>新特性</h2>
        <p>Esri Maps for Office 2.1.1 已于 2013 年 10 月发布。该版本包括以下增强：</p>
        <ul>
        <li>22 种支持语言的全新本地化版本：</li>
			<ul>
			<li>阿拉伯语、中文（简体）、丹麦语、荷兰语、英语、爱沙尼亚语、法语、德语、希伯来语、意大利语、日语、韩语、拉脱维亚语、立陶宛语、挪威语、波兰语、葡萄牙语（巴西）、葡萄牙语（葡萄牙）、罗马尼亚语、俄语、西班牙语和瑞典语</li>
			</ul>
		<li>支持 Web 地图弹出窗口</li>
		<li>使用属性 URL 中的图标符号化要素</li>
		<li>所有产品的漏洞修复和可用性改进，包括：
			<ul>
			<li>改进的 OAuth 登录操作</li>
			<li>&ldquo;查找热点&rdquo;工具中更有帮助的错误消息</li>
			<li>&ldquo;查找热点&rdquo;工具现可处理带有空格的列名</li>
			<li>&ldquo;选择&rdquo;工具现支持大小为&ldquo;0&rdquo;的缓冲</li>
			<li>&ldquo;任务窗格&rdquo;问题已修复</li>
			<li>组可见性漏洞已修复</li>
			<li>改进了对所有连接都使用 SSL 的组织的支持</li>
			<li>使用通过&ldquo;丰富图层&rdquo;工具添加的列时，分组功能可正常工作</li>
			</ul>
        </ul>


        <h3>先前版本</h3>
		
        <p>2.1 版本已于 2013 年 7 月发布。该版本包括以下增强： </p>
        <ul>
        <li>可使用&ldquo;热点&rdquo;工具进行统计模式分析</li>
		<li>改进了&ldquo;数据丰富&rdquo;功能，其中包括更多的数据集合以及从数据集合中选择单个变量的功能</li>
		<li>支持使用 OAuth+SAML (AGOL) 进行安全登录</li>
        <li>支持使用 IWA、PKI（仅限于 Portal）进行安全登录</li>
		<li>&ldquo;信息图表&rdquo;和&ldquo;丰富图层&rdquo;工具的用户界面改进</li>
		<li>改进了将 Maps for Office 升级为最新版本的工作流程</li>
        </ul>
		<br>
        <p>2.0.2 版本已于 2013 年 5 月发布。该版本包括以下增强：</p>
        <ul>
          <li>使用新的&ldquo;丰富图层&rdquo;工具丰富含地理环境的数据</li>
		  <li>在地图上选择要素以及在其他图层内查找邻近要素 </li>
		  <li>地图弹出窗口现在包含&ldquo;信息图表&rdquo;，将提供地图中要素周围区域丰富的上下文信息</li>
		  <li>Portal for ArcGIS 10.2 支持预览</li>
		  <li>热点图和聚簇的新配置选项</li>
		  <li>单击地图图例的分类间隔，在地图上添加过滤分组要素的功能</li>
		  <li>地址地理编码改进的工作流</li>
		  <li>支持自定义底图库，此底图库属于 ArcGIS Online 组织</li>
		  <li>插入地图时使用 ArcGIS Online 组织的默认底图</li>
		  <li>使用热门类别（例如财富、商业、政策以及健康）在 ArcGIS Online 上搜索数据</li>
		  <li>地点名称现在基于数据位置进行显示。例如，地理编码工作流中的标注将在日本显示郡县，在美国显示州，在加拿大显示省</li>
		  <li>支持 Microsoft Office 2013</li>
		  <li>其他特性、可用性和制图方面的增强。</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入门</h3>
          <ul>
           <li><a href="#whatsNew">新特性</a></li>
            <li><a href="#systemRequirements">系统要求</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">观看视频</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
