---
title: ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2016-07-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1>
          <a href="/ro/maps-for-office/">ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'>
          <a href="/ro/maps-for-office/">Pagina principală</a></li>
        <li>
          <a href="/ro/maps-for-office/install-and-configure/">Instalare şi configurare</a></li>
        <li>
          <a href="/ro/maps-for-office/design-and-use/">Proiectaţi şi utilizaţi hărţi</a></li>
        <li>
          <a href="https://geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">Descărcaţi aplicaţia</h2>
        
          <span id="appVersion">           <strong>Versiune:</strong> 4.1</span><span id="appReleased"><strong>Disponibil:</strong> toamna anului 2016</span>

          <p>Fiţi mai productivi prin intermediul analizei bazate pe locaţie. Conferiţi o nouă dimensiune analitică suitei Microsoft Office. Obţineţi noi informaţii şi luaţi decizii mai informate. Adăugaţi cartografieri la foile de calcul din Excel şi la prezentările din PowerPoint.</p>

          <p>
             
          <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Descărcaţi ArcGIS Maps for Office</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>Cartografiaţi datele din Excel</h3>
			<p>Creaţi hărţi interactive din date din foi de calcul direct în Excel. Cu câteva clicuri puteţi crea hărţi interactive codificate pe culori, de puncte sau de tip heat-map, obţinând astfel informaţii vizuale detaliate despre datele dvs.</p>
			<p>&gt; <a href="/ro/maps-for-office/design-and-use/add-a-map-to-excel.htm">Aflaţi mai multe</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>Adăugarea hărţilor dinamice la PowerPoint</h3>
			<p>Adăugaţi hărţi din organizaţia dvs. ArcGIS în PowerPoint pentru a crea prezentări excepţionale, dinamice.</p>
			<p>&gt; <a href="/ro/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">Aflaţi mai multe</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>Îmbogăţiţi foile de calcul destinate afacerilor</h3>
			<p>Adăugaţi date demografice şi despre modul de viaţă din ArcGIS direct în foile de calcul Excel şi obţineţi un context mai larg despre locaţiile importante pentru dvs. Exploraţi rapid şi pe parcurs locaţii utilizând grafice informative pop-up.</p>
			<p>&gt; <a href="/ro/maps-for-office/design-and-use/enrich-your-data.htm">Aflaţi mai multe</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>Partajaţi hărţile din Excel</h3>
			<p>Partajaţi hărţile utilizând ArcGIS Online sau Portal for ArcGIS ori integraţi-le în e-mail-uri, prezentări PowerPoint sau documente Word.</p>
			<p>&gt; <a href="/ro/maps-for-office/design-and-use/share-a-map-to-arcgis.htm">Aflaţi mai multe</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>Ce este nou</h2>	
	<p>&gt; Aveţi idei pentru caracteristici pe care aţi dori să le vedeţi în ArcGIS Maps for Office? Vorbiţi-ne despre acest lucru pe site-ul <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Barcgis-maps-for-office%5D" target="_blank">ArcGIS Ideas</a>.</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<p>ArcGIS Maps for Office 4.1 este o actualizare minoră care aduce o viteză îmbunătăţită, utilizare mai bună şi numeroase corecţii pentru buguri. Iată câteva elemente importante:</p>
			<ul>
				<li>ArcGIS Maps for Office recunoaşte acum instrumentul de geocodificare implicit al organizaţiei.</li>
				<li>ArcGIS Maps for Office utilizează acum un browser bazat pe Chromium pentru a afişa hărţi, însemnând că lucrul cu datele este mult mai rapid. Chiar şi atunci când lucraţi cu un volum mare de date, puteţi panorama şi transfoca hărţile fără efort.</li>
				<li>ArcGIS Maps for Office acceptă acum hărţi fundal şi straturi tematice vectoriale, ceea ce înseamnă că hărţile arată mai bine pe monitoare cu rezoluţie ridicată.</li>
				<li>Acum puteţi selecta elemente pe o hartă şi puteţi exporta rândurile corespunzătoare de date într-o <a href="/ro/maps-for-office/design-and-use/export-layer-data.htm#ESRI_SECTION1_C600AB636AC342D4A10E7F119CF29F21" target="_blank">foaie de lucru</a> nouă sau un nou <a href="http://docdev.arcgis.com/ro/maps-for-office/design-and-use/export-layer-data.htm#ESRI_SECTION1_CC8A61DBF1C94C8B805C25E9944047FF" target="_blank">registru de lucru</a> Excel, permiţându-vă să lucraţi cu datele oriunde doriţi.</li>
				<li>Vizualizaţi îmbunătăţirile interfeţelor <a href="/ro/maps-for-office/design-and-use/add-layers-from-excel.htm" target="_blank">Adăugare date</a> şi <a href="/ro/maps-for-office/design-and-use/change-a-layer-s-style.htm" target="_blank">Strat tematic stil</a> vă ajută să încărcaţi şi să vizualizaţi mai uşor datele.</li>
				<li>
          <a href="/ro/maps-for-office/design-and-use/view-infographics.htm" target="_blank">Setările infograficului pop-up</a> persistă în toate straturile tematice, astfel că nu trebuie să efectuaţi schimbări pentru fiecare strat tematic individual.</li>
				<li>Celulele care conţin formule actualizează harta atunci când datele sursei sunt actualizate.</li>
				<li>Stilurile hărţilor şi straturilor tematice sunt redate corect atunci când valorile celulelor se schimbă.</li>
				<li>Acum puteţi specifica sistemul de referinţe spaţiale care va fi utilizat atunci când <a href="/ro/maps-for-office/design-and-use/export-layer-data.htm" target="_blank">exportaţi un strat tematic</a>.</li>
				<li>Mult mai multe corecţii de buguri, inclusiv pentru problemele de localizare şi internaţionalizare.</li>
			</ul>
		</p>


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>Medii acceptate</h2>
		<p>ArcGIS Maps for Office este implementat ca add-on în Microsoft Excel şi Microsoft PowerPoint. Pentru ca ArcGIS Maps for Office să funcţioneze corespunzător, Esri asumă o configuraţie operaţională a acestor aplicaţii. Esri testează ArcGIS Maps for Office doar în medii software certificate sau acceptate de Microsoft Excel sau PowerPoint; nu toate mediile acceptate de Excel sau PowerPoint au fost testate sau certificate. Pentru informaţii suplimentare, consultaţi <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Politica Esri privind mediile acceptate</a>.</p>
		
		<p>
          <b>Notă:</b> Microsoft Word vă permite să încorporaţi şi să lucraţi cu o foaie de calcul Excel într-un document. Acest flux de lucru nu este acceptat de ArcGIS Maps for Office şi nu este recomandat.</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		
          <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Cerinţele de sistem</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>Pentru ArcGIS Maps for Office este necesar un cont care să facă parte dintr-o organizaţie ArcGIS, precum şi de aplicaţia Microsoft Office Excel sau PowerPoint (Microsoft Office 2010, 2013 sau 2016).</p>
			<p>Pentru informaţii suplimentare, inclusiv frecvenţa procesorului, cantitatea de memorie şi spaţiul pe hard disk necesare, consultaţi cerinţele de sistem pentru următoarele:
			<ul>
				<li>
          <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li>
          <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li>
          <a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		
          <a class="icon-right-arrow" onclick="exp(event,'div','exp2')">Software necesar</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office necesită un abonament de organizaţie <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a> sau o implementare locală de Portal for ArcGIS. Se presupune că metoda de autentificare utilizată pentru a accesa platforma a fost configurată corespunzător de administratorul ArcGIS.</p>
			<p>ArcGIS Maps for Office 4.1 acceptă următoarele versiuni ArcGIS:
				<ul>
					<li>ArcGIS Online: versiunea curentă</li>
					<li>Portal for ArcGIS: 10.2, 10.2.1, 10.2.2, 10.3, 10.3.1, 10.4, 10.4.1</li>
				</ul>
			</p>

			<p>În plus, următorul software trebuie instalat şi configurat pe sistemul dvs.:</p>
				<ul>
					<li>Microsoft Office 2010, 2013 sau 2016*</br>
						* <b>Important:</b> Cu Microsoft Office 2016 versiunea 16.0.6326.1010, comenzile ArcGIS Maps for Office backstage nu funcţionează conform concepţiei. Toate celelalte versiuni Microsoft Office 2016 sunt acceptate.
					</li>
					<li>Microsoft Windows. Versiuni suportate:
						<ul>
							<li>Windows 7 (32 şi 64 de biţi)</li>
							<li>Windows 8 (32 şi 64 de biţi)</li>
							<li>Windows 8.1 (32 şi 64 de biţi)</li>
							<li>Windows 10 (32 şi 64 de biţi)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
					<li>Microsoft .NET Framework 4.0 sau o versiune ulterioară</li>
					<li>Mediul de execuţie Microsoft Visual Studio 2010 Tools for Office</li>
					<li>Ansamblurile mediului de execuţie Microsoft Visual C++ 2015</li>
				</ul>
			<p></p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		
          <a class="icon-right-arrow" onclick="exp(event,'div','exp3')">Limbi acceptate</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office este disponibil în următoarele limbi:</p>
			<p>arabă, chineză (simplificată), chineză (tradiţională Hong Kong), chineză (tradiţională Taiwan), cehă, daneză, germană, greacă, engleză, spaniolă, estonă, finlandeză, franceză, ebraică, italiană, japoneză, coreeană, lituaniană, letonă, olandeză, norvegiană, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, suedeză, thailandeză, turcă şi vietnameză.</p>
			
			<p>ArcGIS Maps for Office utilizează limba specificată în meniul Opţiuni Excel şi nu setarea pentru cultură a sistemului de operare. Dacă utilizaţi o limbă neacceptată, aplicaţia utilizează limba engleză.</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Începeţi</h3>
          <ul>
           <li>
          <a href="#whatsNew">Ce este nou</a></li>
            <li>
          <a href="#supportedEnvironments">Medii acceptate</a></li>
			<li>Ajutor pentru versiunile anterioare:
				<ul>
					<!-- TODO: verify URL for archived 4.0 help -->
					<li>
          <a href="/ro/maps-for-office/4.0/">Ajutor online 4.0</a></li>
				</ul>
			</li>
			<li>
          <a href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Vizionaţi videoclipurile</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
