---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/maps-for-office/">Prima pagină</a></li>
        <li><a href="/ro/maps-for-office/help/">Ajutor</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descărcaţi aplicaţia</h2>
          <span id="appVersion"><strong>Versiune:</strong> 2.1.4</span> <span id="appReleased"><strong>Disponibilă din:</strong> Primăvara 2014</span>


          <p>Esri Maps for Office vă permite să creaţi rapid hărţi dinamice şi interactive pe baza datelor în format Excel şi să începeţi să exploraţi aceste hărţi într-un mod cu totul inedit. Esri Maps for Office vă permite să scoateţi la iveală modele şi tendinţe care nu sunt evidente în datele tabelare şi în diagrame. Hărţile pot fi partajate imediat prin intermediul prezentărilor PowerPoint sau prin publicarea lor printr-un singur clic în platforma Esri pentru hărţi, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obţineţi Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Transpuneţi pe hartă foile de calcul </h3>
          <p>Aflaţi cum să transpuneţi pe hartă datele Excel utilizând Esri Maps for Office. Puteţi să creaţi cu uşurinţă, direct în Excel, hărţi interactive codificate pe culori, de puncte simple, de puncte grupate sau de tip heat-map direct în Excel, obţinând astfel informaţii vizuale detaliate despre datele dvs.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Vizionaţi un videoclip</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Îmbogăţiţi datele</h3>
          <p>Utilizaţi nenumăratele colecţii de date Esri pentru a adăuga valoare datelor dvs. de afaceri. Adăugaţi date demografice şi despre modul de viaţă direct în foile de calcul Excel şi obţineţi un context mai larg despre locaţiile importante pentru dvs. Exploraţi rapid şi pe parcurs locaţii utilizând grafice informative pop-up.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Vizionaţi un videoclip</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Cerinţele de sistem</h2>

        <p>Pentru Esri Maps for Office este necesar un cont care să facă parte dintr-o organizaţie <a href="http://help.arcgis.com/ro/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, precum şi de aplicaţia Microsoft Office Excel sau PowerPoint 2010 ori Microsoft Office Excel sau PowerPoint 2013. Printre sistemele de operare acceptate se numără:</p>
		<ul>
		 <li>Windows XP (obligatoriu cu SP3) (32 de biţi)</li>
		 <li>Windows 7 (32 şi 64 de biţi)</li>
		 <li>Windows 8 (32 şi 64 de biţi)</li>
		 <li>Windows Server 2003 cu SP2 şi MSXML 6.0 (numai Office pe 32 de biţi)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>entru informaţii suplimentare, inclusiv frecvenţa procesorului, cantitatea de memorie şi spaţiul pe hard disk necesare, consultaţi cerinţele de sistem pentru <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> şi <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!--  		<h3>Support for the following languages</h3>         <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p> 		//-->




        <a name="whatsNew"></a>
        <h2>Ce este nou</h2>
        <p>Esri Maps for Office versiunea 2.1.4 a fost lansată în primăvara 2014. Aceasta include următoarele îmbunătăţiri:</p>
        <ul>
        <li>Actualizări de securitate.</li>
        </ul>


        <h3>Versiunile anterioare</h3>
        
        <p>Esri Maps for Office versiunea 2.1.3 a fost lansată în primăvara 2014. Aceasta a inclus următoarele îmbunătăţiri:</p>
        <ul>
        <li>Suport pentru roluri particularizate.</li>
        <li>Parametrii de instalare silenţioasă noi permit un control mai bun asupra instalărilor la scară mare.</li>
        <li>Maps for Office verifică acum conectivitate la ArcGIS şi vă înştiinţează când nu sunt disponibile servicii necesare.</li>
		<li>Remedieri de defecte şi îmbunătăţiri ale caracterului utilizabil, printre care:</li>
			<ul>
			<li>Capacitatea de a utiliza servicii de hărţi găzduite drept tipuri de locaţii particularizate.</li>
			<li>Problemele de vizibilitate a straturilor tematice în versiuni localizate au fost corectate.</li>
			<li>Problemele de blocare aleatorie provocate de versiuni mai vechi ale Visual Studio Tools for Office au fost remediate.</li>
			<li>Aplicaţiile de localizare particularizate sunt acum prezentate cu numele lor în loc de „Adresă” în fluxul de adăugare a datelor.</li>
			<li>Administrare mai bună a înregistrării la dezinstalare.</li>
			<li>Stocare mai eficientă a geometriilor returnate din ArcGIS.</li>
			<li>În timpul conectării la Portal, nu se mai efectuează solicitări către ArcGIS Online.</li>
			<li>Virgulele ca separatoare zecimale sunt acum gestionate corect.</li>
			<li>Straturile tematice îmbogăţite pot fi acum particularizate şi grupate după coloane nou adăugate.</li>
			<li>Ferestrele pop-up pentru straturi tematice îmbogăţite afişează acum antente de coloane corecte.</li>
			<li>La deconectarea de la internet, nu se mai produc blocaje.</li>
			<li>Esri Maps for Office în PowerPoint accepă acum harta fundal implicită a organizaţiei.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office versiunea 2.1.2 a fost lansată în noiembrie 2013. Aceasta includea următoarele îmbunătăţiri:</p>
        <ul>
		<li>Remedieri de defecte şi îmbunătăţiri ale caracterului utilizabil, printre care:</li>
			<ul>
			<li>Îmbunătăţiri ale instrumentului Îmbogăţire strat tematic, precum: o utilizare mai eficientă a memoriei pentru a satisface solicitări de îmbunătăţire mai mari şi un indicator de progres îmbunătăţit.</li>
			<li>A fost remediat un defect care provoca blocarea aplicaţiei Excel după instalarea Esri Maps. </li>
			<li>A fost remediat un defect prin care erau afişate imagini incorecte în panoul Căutare.</li>
			<li>A fost remediat un defect care determina eşuarea căutărilor după tipuri de locaţii particularizate în limbile japoneză, rusă şi chineză.</li>
			<li>Au fost aranjate şirurile localizate pentru Date cheie, Avere, Politică şi Sănătate din panoul Căutare.</li>
			</ul>
        </ul>
		
		<p>Versiunea 2.1.1 a fost lansată în octombrie 2013. Aceasta includea următoarele îmbunătăţiri:</p>
        <ul>
        <li>Versiuni localizate noi pentru 22 de limbi suportate:</li>
			<ul>
			<li>arabă, chineză (simplificată), coreeană, daneză, ebraică, engleză, estoniană, franceză, germană, italiană, japoneză, letonă, lituaniană, norvegiană, olandeză, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă şi suedeză</li>
			</ul>
		<li>Suport pentru ferestre pop-up în hărţi web</li>
		<li>Caracteristici de simbolizare cu ajutorul unei pictograme dintr-un URL de atribut</li>
		<li>Remedieri şi îmbunătăţiri ale utilizării în întregul produs, printre care:
			<ul>
			<li>Gestionare îmbunătăţită pentru autentificările OAuth</li>
			<li>Mesaje de eroare mai utile în instrumentul Găsire hot spot</li>
			<li>Instrumentul Găsire hot spot poate gestiona acum nume de coloane cu spaţii</li>
			<li>Instrumentul Selectare suportă acum buffere de dimensiune „0”</li>
			<li>Au fost remediate probleme legate de panoul de activităţi</li>
			<li>Au fost remediate defecte de vizibilitate a grupurilor</li>
			<li>A fost îmbunătăţit suportul pentru organizaţii care utilizează SSL pentru toate conexiunile</li>
			<li>Grupare funcţionează acum corect la utilizarea coloanelor adăugate din instrumentul Îmbogăţire strat tematic</li>
			</ul>
        </ul>
		
        <p>Versiunea 2.1 a fost lansată în iulie 2013. Aceasta include următoarele îmbunătăţiri: </p>
        <ul>
        <li>Analiza modelelor statistice prin instrumentul Puncte de interes</li>
		<li>Îmbunătăţiri aduse îmbogăţirii datelor, inclusiv colecţii de date suplimentare şi posibilitatea de a selecta variabile individuale din colecţiile de date</li>
		<li>Suport pentru autentificare securizată utilizând OAuth+SAML (AGOL)</li>
        <li>Suport pentru autentificare securizată utilizând IWA, PKI (numai în portal)</li>
		<li>Îmbunătăţiri aduse interfeţei cu utilizatorul la nivelul graficelor informative şi al instrumentului Îmbogăţire strat tematic</li>
		<li>Flux de lucru îmbunătăţit pentru upgrade-ul Maps for Office la cea mai recentă versiune</li>
        </ul>
		<br>
        <p>Versiunea 2.0.2 a fost lansată în mai 2013. Aceasta a inclus următoarele îmbunătăţiri:</p>
        <ul>
          <li>Îmbogăţirea datelor prin adăugarea unui context geografic utilizând instrumentul nou „Îmbogăţire strat tematic”</li>
		  <li>Selectarea obiectelor spaţiale pe hartă şi găsirea de obiecte spaţiale din apropiere în alte straturi tematice </li>
		  <li>Acum, ferestrele pop-up cu hărţi conţin grafice informative, care furnizează informaţii contextuale extinse despre zonele ce înconjoară obiectele spaţiale de pe hartă.</li>
		  <li>Suport pentru previzualizare pentru Portal for ArcGIS 10.2</li>
		  <li>Opţiuni de configurare noi pentru hărţile de temperaturi şi pentru grupări</li>
		  <li>A fost adăugată posibilitatea de a filtra obiectele spaţiale grupate pe hartă făcând clic pe pauzele de clasă în legenda hărţii</li>
		  <li>Flux de lucru îmbunătăţit pentru geocodificarea adreselor</li>
		  <li>Suport pentru personalizarea hărţilor fundal din organizaţia ArcGIS Online</li>
		  <li>Funcţia Inserare hartă utilizează harta fundal implicită din organizaţia ArcGIS Online</li>
		  <li>Căutaţi date în ArcGIS Online utilizând categorii populare precum Bogăţie, Afaceri, Politică şi Sănătate</li>
		  <li>Acum, numele de locuri sunt bazate pe locaţia datelor. De exemplu, etichetele din fluxul de lucru cu geocoduri vor afişa nume de prefecturi în Japonia, nume de state în Statele Unite şi provincii în Canada</li>
		  <li>Suport pentru Microsoft Office 2013</li>
		  <li>Alte îmbunătăţiri calitative, cartografice şi privind utilizarea</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Începeţi</h3>
          <ul>
           <li><a href="#whatsNew">Ce este nou</a></li>
            <li><a href="#systemRequirements">Cerinţele de sistem</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Vizionaţi videoclipurile</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
