---
title: Esri Maps for Office
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:

  - libs/jquery-1.9.1.min
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header> <nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">Prima pagină</a></li>
        <li><a href="/en/maps-for-office/help/">Ajutor</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descărcaţi aplicaţia</h2>
          <span id="appVersion"><strong>Versiune:</strong> 2.1</span> <span id="appReleased"><strong>Disponibilă din:</strong> iulie 2013</span>


          <p>Esri Maps for Office vă permite să creaţi rapid hărţi dinamice şi interactive pe baza datelor în format Excel şi să începeţi să exploraţi aceste hărţi într-un mod cu totul inedit. Esri Maps for Office vă permite să scoateţi la iveală modele şi tendinţe care nu sunt evidente în datele tabelare şi în diagrame. Hărţile pot fi partajate imediat prin intermediul prezentărilor PowerPoint sau prin publicarea lor printr-un singur clic în cloudul Esri pentru hărţi, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obţineţi Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Transpuneţi pe hartă foile de calcul </h3>
          <p>Aflaţi cum să transpuneţi pe hartă datele Excel utilizând Esri Maps for Office. Puteţi să creaţi cu uşurinţă, direct în Excel, hărţi interactive codificate pe culori, de puncte simple, de puncte grupate sau de temperaturi Excel, obţinând astfel informaţii vizuale detaliate despre datele dvs.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Vizionaţi un videoclip</a> <video width="320" height="240" controls id="2457" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2457/mp4/480"></video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Îmbogăţiţi datele</h3>
          <p>Utilizaţi nenumăratele colecţii de date Esri pentru a adăuga valoare datelor dvs. de afaceri. Adăugaţi date demografice şi despre modul de viaţă direct în foile de calcul Excel şi obţineţi un context mai larg despre locaţiile importante pentru dvs. Exploraţi rapid şi pe parcurs locaţii utilizând grafice informative pop-up.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Vizionaţi un videoclip</a> <video width="320" height="240" controls id="2468" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2468/mp4/480"></video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Cerinţele de sistem</h2>

        <p>Pentru Esri Maps for Office este necesar un cont care să facă parte dintr-o organizaţie <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, precum şi de aplicaţia Microsoft Office Excel sau PowerPoint 2010 ori Microsoft Office Excel sau PowerPoint 2013. Printre sistemele de operare acceptate se numără:</p>
		<ul>
		 <li>Windows XP (obligatoriu cu SP3) (32 de biţi)</li>
		 <li>Windows 7 (32 şi 64 de biţi)</li>
		 <li>Windows 8 (32 şi 64 de biţi)</li>
		 <li>Windows Server 2003 cu SP2 şi MSXML 6.0 (numai Office pe 32 de biţi)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Pentru informaţii suplimentare, inclusiv frecvenţa procesorului, cantitatea de memorie şi spaţiul pe hard disk necesare, consultaţi cerinţele de sistem pentru <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> şi <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Asistenţă preconizată pentru următoarele limbi</h3>
        <p>Arabă, engleză, chineză, franceză, germană, italiană, japoneză, spaniolă, portugheză (Brazilia) şi rusă</p>





        <a name="whatsNew"></a>
        <h2>Ce este nou</h2>
        <p>Esri Maps for Office versiunea 2.1 a fost lansată în iulie 2013. Aceasta include următoarele îmbunătăţiri:</p>
        <ul>
        <li>Analiza modelelor statistice prin instrumentul Puncte de interes</li>
		<li>Îmbunătăţiri aduse îmbogăţirii datelor, inclusiv colecţii de date suplimentare şi posibilitatea de a selecta variabile individuale din colecţiile de date</li>
		<li>Suport pentru autentificare securizată utilizând OAuth+SAML (AGOL)</li>
        <li>Suport pentru autentificare securizată utilizând IWA, PKI (numai în portal)</li>
		<li>Îmbunătăţiri aduse interfeţei cu utilizatorul la nivelul graficelor informative şi al instrumentului Îmbogăţire strat tematic</li>
		<li>Flux de lucru îmbunătăţit pentru upgrade-ul Maps for Office la cea mai recentă versiune</li>
        </ul>


        <h3>Versiunea anterioară</h3>
        <p>Versiunea 2.0.2 a fost lansată în mai 2013. Aceasta a inclus următoarele îmbunătăţiri:</p>
        <ul>
          <li>Îmbogăţirea datelor prin adăugarea unui context geografic utilizând instrumentul nou „Îmbogăţire strat tematic”</li>
		  <li>Selectarea obiectelor spaţiale pe hartă şi găsirea de obiecte spaţiale din apropiere în alte straturi tematice </li>
		  <li>Acum, ferestrele pop-up cu hărţi conţin grafice informative, care furnizează informaţii contextuale extinse despre zonele ce înconjoară obiectele spaţiale de pe hartă.</li>
		  <li>Suport pentru previzualizare pentru Portal for ArcGIS 10.2</li>
		  <li>Opţiuni de configurare noi pentru hărţile de temperaturi şi pentru grupări</li>
		  <li>A fost adăugată posibilitatea de a filtra obiectele spaţiale grupate pe hartă făcând clic pe pauzele de clasă în legenda hărţii</li>
		  <li>Flux de lucru îmbunătăţit pentru geocodificarea adreselor</li>
		  <li>Suport pentru personalizarea hărţilor fundal din organizaţia ArcGIS Online</li>
		  <li>Funcţia Inserare hartă utilizează harta fundal implicită din organizaţia ArcGIS Online</li>
		  <li>Căutaţi date în ArcGIS Online utilizând categorii populare precum Bogăţie, Afaceri, Politică şi Sănătate</li>
		  <li>Acum, numele de locuri sunt bazate pe locaţia datelor. De exemplu, etichetele din fluxul de lucru cu geocoduri vor afişa nume de prefecturi în Japonia, nume de state în Statele Unite şi provincii în Canada</li>
		  <li>Suport pentru Microsoft Office 2013</li>
		  <li>Alte îmbunătăţiri calitative, cartografice şi privind utilizarea</li>
        </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Începeţi</h3>
          <ul>
           <li><a href="#whatsNew">Ce este nou</a></li>
            <li><a href="#systemRequirements">Cerinţele de sistem</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Vizionaţi videoclipurile</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>