---
title: ArcGIS Online 說明
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="zh-hk">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-hk/arcgis-online/">ArcGIS Online 說明</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online 說明" href="/zh-hk/arcgis-online/">首頁</a></li>
        <li><a title="使用地圖和場景" href="/zh-hk/arcgis-online/use-maps/">使用</a></li>
        <li><a title="建立地圖、場景和應用程式" href="/zh-hk/arcgis-online/create-maps/">建立</a></li>
        <li><a title="分享地圖、場景和應用程式" href="/zh-hk/arcgis-online/share-maps/">分享</a></li>
        <li><a title="管理您的組織" href="/zh-hk/arcgis-online/administer/">管理</a></li>
        <li><a title="參考" href="/zh-hk/arcgis-online/reference/">參考</a></li>
        <li><a title="適用於每個人的應用程式" href="/zh-hk/arcgis-online/apps/arcgis-apps.htm">應用程式</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="zh-hk" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		地圖、場景、分析、應用程式、協同作業 - 全都可以使用 ArcGIS Online 執行。</p>
	
	<p>ArcGIS 的新功能為何？ 從製作您的第一個地圖、場景、應用程式或群組開始。當您準備好深入瞭解時，請嘗試課程或探索更流行的主題。您是組織<a href="/zh-hk/arcgis-online/administer/admin-org.htm">管理員</a>嗎？ 瞭解如何使用自訂角色、安全性設定和靈活的配置。
	</p> 
	<p>請務必從我們的<a href="#blog">部落格</a>和<a href="#community">社群</a>參考最新消息。
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/zh-hk/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/zh-hk/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/zh-hk/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/zh-hk/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Portal for ArcGIS 10.4.1 的</h3>
        <p>2016 年 6 月更新包含改良的項目頁面、用於檢視時間的新選項、支援整合式網格圖層及更多功能。
        </p>
			<!--<a href="/zh-hk/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/zh-hk/arcgis-online/reference/whats-new.htm" class="btn secondary">瞭解詳細資訊</a>
      </div>

    </div>
    <div class="column-24">
      <h2>製作您的第一個</h2>
      <div class="make-first">
        <a href="/zh-hk/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">地圖</h2></a>
        <a href="/zh-hk/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">場景</h2></a>
        <a href="/zh-hk/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">應用程式</h2></a>
        <a href="/zh-hk/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">群組</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>請參閱常見主題：</h4></li>
        <li><a href="/zh-hk/arcgis-online/reference/faq.htm">常見問題集</a></li>
		<li><a href="/zh-hk/arcgis-online/share-maps/add-items.htm">新增項目</a></li>
        <li><a href="/zh-hk/arcgis-online/use-maps/perform-analysis.htm">執行分析</a></li>
		<li><a href="/zh-hk/arcgis-online/share-maps/publish-features.htm">發佈圖徵</a></li>
		<li><a href="/zh-hk/arcgis-online/administer/view-status.htm">檢視狀態</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>上課
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">更多課程 <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">ArcGIS Online 入門</a></h3>
          <p>
學習線上製作地圖的基本知識。
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">人口統計分析和智慧型製圖</a></h3>
          <p>
            使用人口統計分析、智慧型製圖和 Web 應用程式來尋找貧困兒童。
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">計劃路徑</a></h3>
          <p>
           協助四名衛生官員檢查聖地牙哥郡的 36 家餐廳。
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">空間分析</a></h3>
          <p>
            尋找混合用途的住宅開發所適用的最佳新區域。
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> 閱讀我們的我們的部落格
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">更多部落格文章 <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">參與討論
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">更多討論 <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">尋找培訓課程</a></h4>
      <p class="no-trailer">
        搜尋 Esri 培訓課程以學習更多知識。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">觀看影片</a></h4>
      <p class="no-trailer">
        觀賞一組 ArcGIS Online 影片。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">取得技術支援</a></h4>
      <p class="no-trailer">
        透過聊天、電子郵件或電話聯繫支援部門。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">檢查系統健康</a></h4>
      <p class="no-trailer">
        查看 ArcGIS Online 的狀態並回報問題。
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
