---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="fr">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/maps-for-office/">Accueil</a></li>
        <li><a href="/fr/maps-for-office/help/">Aide</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	  <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 3.0</span>
          <span id="appReleased"><strong>Disponibilité :</strong> printemps 2015</span>


          <p>Renforcez votre productivité grâce à l'analyse de localisation. Apportez une dimension analytique entièrement nouvelle dans Microsoft Office. Bénéficiez immédiatement de nouvelles perspectives et d'une prise de décision plus avisée. Intégrez facilement la cartographie dans vos feuilles de calcul Excel et présentations PowerPoint.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obtenir Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="Map-your-data.png" />

          <h3>Cartographier vos données Excel</h3>
          <p>Créez des cartes interactives à partir des données de vos feuilles de calcul directement dans Excel. En quelques clics, créez des cartes avec code couleur, de points, de points agrégés et de densité, et bénéficiez d'une vision plus claire de vos données.</p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="Analyze-your-data.png" />

          <h3>Analyser vos données Excel sur des cartes</h3>
          <p>Identifiez les modèles et les tendances qui sont dissimulés dans les données tabulaires et les diagrammes. Recherchez des points chauds et froids statistiquement significatifs au sein de vos données. Réalisez des recherches spatiales à l'aide de temps de trajet ou d'anneaux afin de détecter les enregistrements d'intérêt à proximité. </p>         
        </div>


	<div id="collectorThirdFeature" class="column-12 phone-column-24">
          <img src="Enrich-your-spreadsheets.png" />

          <h3>Enrichir vos feuilles de calcul professionnelles</h3>
          <p>Ajoutez les données démographiques et de style de vie d'Esri directement dans vos feuilles de calcul Excel, et obtenez des données contextuelles supplémentaires sur les emplacements qui sont importants pour vous. Explorez rapidement des emplacements à la volée grâce à l'infographie contextuelle.</p>
        </div>

	<div id="collectorFourthFeature" class="column-12 phone-column-24">
          <img src="Share-your-data.png" />

          <h3>Partager vos cartes depuis Excel</h3>
          <p>Partagez vos cartes à l'aide d'ArcGIS Online ou de Portal for ArcGIS, ou insérez-les dans des messages électroniques, des présentations PowerPoint ou des documents Word.</p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Configuration du système</h2>

        <p>Esri Maps for Office requiert un compte faisant partie d'une organisation <a href="http://help.arcgis.com/fr/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, ainsi que Microsoft Office Excel ou PowerPoint 2010 ou Microsoft Office Excel ou PowerPoint 2013. Les systèmes d'exploitation pris en charge sont notamment :</p>
		<ul>
		  <li>Windows 7 (32 bits et 64 bits)</li>
		 <li>Windows 8 (32 bits et 64 bits)</li>
		 <li>Windows 8.1 (32 bits et 64 bits)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Pour plus d'informations, notamment pour connaître la vitesse de processeur, la mémoire et l'espace disque requis, consultez la configuration système requise de <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> et de <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Nouveautés</h2>
        <p>Esri Maps for Office version 3.0 est disponible depuis avril 2015. L'application présente les améliorations suivantes :</p>
        <ul>
        <li>Visualisez plus clairement vos données Excel en insérant plusieurs cartes dans votre feuille de calcul. Vous pouvez créer plusieurs cartes pour différentes tables présentes dans les feuilles de calcul.</li>
	<li>Comparez des cartes côte à côte ou faites-les glisser vers d'autres moniteurs pour qu'elles n'encombrent pas votre fenêtre Excel.</li>
	<li>Utilisez facilement les données cartographiées à l'aide des outils de la fenêtre cartographique.</li>
	<li>Tirez parti du nouvel outil de recherche pour trouver rapidement des emplacements.</li>
	<li>Il n'est pas nécessaire d'être un expert SIG pour créer de magnifiques cartes. Obtenez un aperçu de votre carte avant de cartographier les données. Les styles cartographiques sont recommandés en fonction des données que vous cartographiez, afin d'obtenir les meilleurs effets visuels.</li>
	<li>Utilisez le système de coordonnées de votre choix et superposez facilement d'autres jeux de données SIG qui se trouvent dans votre système de coordonnées local.</li>
	<li>Les types de localisants personnalisés intègrent désormais les entités linéaires.</li>
	<li>Aide supplémentaire pour aider les nouveaux utilisateurs à démarrer rapidement et facilement.</li>
        </ul>


        <h3>Versions antérieures</h3>
        
        <p>Esri Maps for Office version 2.1.5 est disponible depuis l'hiver 2015. L'application présente les améliorations suivantes :</p>
        <ul>
        <li>Prise en charge des proxys Web sécurisés et non sécurisés.</li>
        </ul>

	<p>Esri Maps for Office version 2.1.4 est disponible depuis le printemps 2014. L'application présente les améliorations suivantes :</p>
        <ul>
        <li>Mises à jour de sécurité.</li>
        </ul>

        <p>Esri Maps for Office version 2.1.3 est disponible depuis le printemps 2014. L'application présente les améliorations suivantes :</p>
        <ul>
        <li>Prise en charge des rôles personnalisés.</li>
        <li>Nouveaux paramètres d'installation en mode silencieux pour un meilleur contrôle des déploiements à grande échelle.</li>
        <li>Maps for Office vérifie désormais la connexion à ArcGIS et vous avertit de la disponibilité des services nécessaires.</li>
		<li>Résolutions de bogues et améliorations d'usabilité, notamment :</li>
			<ul>
			<li>Possibilité d'utiliser des services de carte hébergés en tant que types d'emplacements personnalisés.</li>
			<li>Les problèmes de visibilité de couches dans certaines versions localisées ont été résolus.</li>
			<li>Les problèmes de blocage aléatoire occasionnés par les versions plus anciennes de Visual Studio Tools for Office ont été résolus.</li>
			<li>Les localisateurs personnalisés sont maintenant affichés par leur nom plutôt qu'avec « Address » dans le workflow d'ajout de données.</li>
			<li>Meilleure gestion du registre au moment de la désinstallation.</li>
			<li>Stockage plus efficace des géométries renvoyées d'ArcGIS.</li>
			<li>Lorsqu'une connexion est établie à un portail, aucune requête n'est faite à ArcGIS Online.</li>
			<li>Les virgules comme séparateurs décimaux sont désormais gérées correctement.</li>
			<li>Les couches enrichies peuvent maintenant être stylisées et regroupées selon les colonnes récemment ajoutées.</li>
			<li>Les fenêtres contextuelles correspondant aux couches enrichies s'affichent désormais dans les bons en-têtes de colonnes.</li>
			<li>Lorsque vous êtes hors ligne, aucun blocage ne survient.</li>
			<li>Esri Maps for Office dans PowerPoint respecte désormais le fond de carte d'organisation par défaut.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office version 2.1.2 est disponible depuis novembre 2013. Il présente les améliorations suivantes :</p>
        <ul>
		<li>Résolutions de bogues et améliorations d'usabilité, notamment :</li>
			<ul>
			<li>Améliorations apportées à l'outil Enrichir la couche, telles que : une utilisation optimisée de la mémoire afin de gérer des demandes d'enrichissement plus importantes et un indicateur de progression amélioré.</li>
			<li>Le bogue qui provoquait le blocage d'Excel après l'installation d'Esri Maps a été résolu. </li>
			<li>Le bogue qui provoquait l'affichage d'images incorrectes dans le volet Rechercher a été résolu.</li>
			<li>Le bogue qui provoquait l'échec de la recherche du type de localisant personnalisé en japonais, russe et chinois a été résolu.</li>
			<li>Les chaînes localisées ont été nettoyées pour Faits importants, Richesse, Règle et Santé dans le volet Rechercher.</li>
			</ul>
        </ul>
		
		<p>La version 2.1.1 est disponible depuis octobre 2013. Elle présente les améliorations suivantes :</p>
        <ul>
        <li>Nouvelles versions localisées pour prendre en charge 22 langues :</li>
			<ul>
			<li>Allemand, anglais, arabe, chinois (simplifié), coréen, danois, espagnol, estonien, français, hébreu, italien, japonais, letton, lituanien, néerlandais, norvégien, polonais, portugais (Brésil), portugais (Portugal), roumain, russe et suédois.</li>
			</ul>
		<li>Prise en charge des fenêtres contextuelles dans les cartes Web</li>
		<li>Symbolisation d'entités à l'aide d'une icône issue d'une URL d'attribut</li>
		<li>Bogues corrigés et utilisation améliorée dans l'ensemble du produit, dont notamment :
			<ul>
			<li>Gestion améliorée des connexions à OAuth</li>
			<li>Utilité accrue des messages d'erreur dans l'outil Rechercher les points chauds</li>
			<li>Gestion des noms de colonnes avec espaces dans l'outil Rechercher les points chauds</li>
			<li>Prise en charge des zones tampons de taille "0" par l'outil Sélection</li>
			<li>Résolution des problèmes du volet de tâches</li>
			<li>Résolution des bogues de visibilité de groupes</li>
			<li>Amélioration de la prise en charge pour les organisations utilisant SSL pour toutes les connexions</li>
			<li>Fonctionnement correct du regroupement lors de l'utilisation de colonnes ajoutées à l'aide de l'outil Enrichir la couche</li>
			</ul>
        </ul>
		
        <p>La version 2.1 est disponible depuis juillet 2013. Elle présente les améliorations suivantes : </p>
        <ul>
        <li>Analyse des modèles statistiques via l'outil Point chaud</li>
		<li>Améliorations de l'enrichissement des données, avec notamment davantage de collections de données et la capacité de sélectionner des variables individuelles à partir des collections de données</li>
		<li>Prise en charge des connexions sécurisées à l'aide d'OAuth+SAML (AGOL)</li>
        <li>Prise en charge des connexions sécurisées à l'aide de l'authentification IWA, PKI (portail uniquement)</li>
		<li>Améliorations de l'interface utilisateur pour l'infographie et l'outil Enrichir la couche</li>
		<li>Workflow amélioré pour la mise à niveau d'Esri Maps for Office vers la version la plus récente</li>
        </ul>
		<br>
        <p>La version 2.0.2 est disponible depuis mai 2013. Elle présente les améliorations suivantes :</p>
        <ul>
          <li>Enrichissement des données en apportant un contexte géographique grâce au nouvel outil 'Enrichir la couche'</li>
		  <li>Sélection des entités sur la carte et recherche des entités à proximité au sein des autres couches </li>
		  <li>Nouvelle option Infographie dans les fenêtres contextuelles des cartes, qui apporte des informations contextuelles détaillées sur les régions environnant les entités de la carte</li>
		  <li>Prise en charge de Portal for ArcGIS 10.2</li>
		  <li>Nouvelles options de configuration des cartes de densité et de l'agrégation</li>
		  <li>Capacité de filtrer les entités regroupées sur la carte en cliquant sur les interruptions de classe dans la légende de la carte</li>
		  <li>Amélioration du workflow pour le géocodage des adresses</li>
		  <li>Prise en charge de la personnalisation de la bibliothèque de fonds de carte depuis votre organisation ArcGIS Online</li>
		  <li>Utilisation par la fonction Insérer une carte du fond de carte par défaut de votre organisation ArcGIS Online</li>
		  <li>Recherche de données sur ArcGIS Online à l'aide de catégories plébiscitées, telles que Richesse, Affaires, Règle et Santé.</li>
		  <li>Les noms de sites reposent dorénavant sur l'emplacement des données. Par exemple, les étiquettes dans le workflow de géocodage affichent des préfectures au Japon, des états aux Etats-Unis et des provinces au Canada.</li>
		  <li>Prise en charge de Microsoft Office 2013</li>
		  <li>Autres améliorations en termes de qualité, facilité d'utilisation et cartographie.</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
           <li><a href="#whatsNew">Nouveautés</a></li>
            <li><a href="#systemRequirements">Configuration du système</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Visionner des clips vidéo</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
