---
title: ArcGIS Maps for Office
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2016-11-02"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4."><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="fr">
    
mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Maps for Office</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="//www.esri.com/software/arcgis/arcgisonline/apps/download">Télécharger Maps for Office</a>
          <p class="trailer-0 leader-half text-white font-size--2"><strong>Version 4.1</strong> Automne 2016</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/fr/maps-for-office/">Accueil</a>
        <a class="sub-nav-link" href="/fr/maps-for-office/install-and-configure/">Installer et configurer</a>
        <a class="sub-nav-link" href="/fr/maps-for-office/design-and-use/">Concevoir et utiliser des cartes</a>
        <a class="sub-nav-link" href="//geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Parcourir ArcGIS Maps for Office">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="esri-maps-office" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="column-4 right margin-right-1 padding-left-0">
      <img src="m4o_banner.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>Renforcez votre productivité grâce à l'analyse de localisation. Apportez une dimension analytique entièrement nouvelle dans Microsoft Office. Bénéficiez immédiatement de nouvelles perspectives et d'une prise de décision plus avisée. Intégrez facilement la cartographie dans vos feuilles de calcul Excel et présentations PowerPoint.</p>
    </div>
  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">Nouveautés</h4>
      <p>ArcGIS Maps for Office 4.1 est une mise à jour mineure qui résout de nombreux bogues, optimise la vitesse et améliore l'usabilité.</p>
      <a class="btn secondary" href="/fr/maps-for-office/install-and-configure/whats-new.htm">En savoir plus</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/fr/maps-for-office/install-and-configure/whats-new.htm">Nouveautés</a></li>
        <li><a href="/fr/maps-for-office/install-and-configure/supported-environments.htm">Environnements pris en charge</a></li>
	      <li><a href="/fr/maps-for-office/4.0/install-and-configure/about-esri-maps-for-office.htm">Aide archivée</a></li>
        <li><a href="//www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Visionner des clips vidéo</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-excel.htm">
            <img alt="" src="Map-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-excel.htm">Cartographier vos données Excel</a>
          </h5>
          <p>Créez des cartes interactives à partir des données de vos feuilles de calcul directement dans Excel. En quelques clics, créez des cartes avec code couleur, de points, de points agrégés et de densité, et bénéficiez d'une vision plus claire de vos données.</p>
        </div>
        <a href="design-and-use/add-a-map-to-excel.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-powerpoint.htm">
            <img alt="" src="Analyze-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-powerpoint.htm">Ajouter des cartes dynamiques dans PowerPoint</a>
          </h5>
          <p>Ajoutez des cartes de votre organisation ArcGIS dans PowerPoint pour créer de remarquables présentations dynamiques.</p>
        </div>
        <a href="design-and-use/add-a-map-to-powerpoint.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/enrich-your-data.htm">
            <img alt="" src="Enrich-your-spreadsheets.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/enrich-your-data.htm">Enrichir vos feuilles de calcul professionnelles</a>
          </h5>
          <p>Ajoutez les données démographiques et de style de vie d'ArcGIS directement dans vos feuilles de calcul Excel, et obtenez des données contextuelles supplémentaires sur les emplacements qui sont importants pour vous. Explorez rapidement des emplacements à la volée grâce à l'infographie contextuelle.</p>
        </div>
        <a href="design-and-use/enrich-your-data.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/share-a-map-to-arcgis.htm">
            <img alt="" src="Share-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/share-a-map-to-arcgis.htm">Partager vos cartes depuis Excel</a>
          </h5>
          <p>Partagez vos cartes à l'aide d'ArcGIS Online ou de Portal for ArcGIS ou insérez-les dans des messages électroniques, des présentations PowerPoint ou des documents Word.</p>
        </div>
        <a href="design-and-use/share-a-map-to-arcgis.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h3 class="leader-half trailer-0 text-center padding-trailer-0">Visionner nos clips vidéo</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Autres vidéos</a>
      <div playlistid="PLpq4BB-MZiMchCC8XEpSWGlEN89qls1FJ" class="video-holder block-group block-group-3-up tablet-block-group-1-up leader-1 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Se connecter à ArcGIS Maps for Office</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/mapsforoffice"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/company/5311?trk=vsrp_companies_hero_name&trkInfo=VSRPsearchId%3A62267361477673144233%2CVSRPtargetId%3A5311%2CVSRPcmpt%3Ahero"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/esrigis/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/arcgis-maps-for-office"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Lire notre blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/">Autres billets de blog</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Rejoindre la discussion
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/groups/arcgis-maps-for-office">Autres discussions</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
