---
title: Esri Maps for Office
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">Accueil</a></li>
        <li><a href="/en/maps-for-office/help/">Aide</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">T&eacute;l&eacute;charger l'application</h2>
          <span id="appVersion"><strong>Version&nbsp;:</strong> 2.1</span> <span id="appReleased"><strong>Disponible&nbsp;:</strong> Juillet&nbsp;2013</span>


          <p>Esri Maps for Office vous permet de cr&eacute;er rapidement des cartes interactives et dynamiques de vos donn&eacute;es Excel, et vous permet de les explorer de fa&ccedil;on innovante. Esri Maps for Office vous permet d'identifier les mod&egrave;les et les tendances dissimul&eacute;s dans les donn&eacute;es tabulaires et les diagrammes. Les cartes peuvent &ecirc;tre partag&eacute;es imm&eacute;diatement gr&acirc;ce &agrave; des pr&eacute;sentations PowerPoint ou &agrave; une publication en un clic sur le cloud de cartographie d'Esri, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obtenir Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Cartographier vos feuilles de calcul </h3>
          <p>D&eacute;couvrez comment cartographier vos donn&eacute;es Excel &agrave; l'aide d'Esri Maps for Office. Vous pouvez ais&eacute;ment cr&eacute;er des cartes interactives cod&eacute;es par couleurs, de points, de points agr&eacute;g&eacute;s ou de densit&eacute;, directement dans Excel et b&eacute;n&eacute;ficier d'une vision plus claire de vos donn&eacute;es.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vid&eacute;o</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enrichir vos donn&eacute;es</h3>
          <p>Tirez profit de la large gamme de collections de donn&eacute;es d'Esri pour conf&eacute;rer une valeur ajout&eacute;e &agrave; vos donn&eacute;es professionnelles. Ajoutez des donn&eacute;es d&eacute;mographiques et de style de vie directement dans vos feuilles de calcul Excel, et obtenez des donn&eacute;es contextuelles suppl&eacute;mentaires sur les emplacements qui sont importants pour vous. Explorez rapidement des emplacements &agrave; la vol&eacute;e gr&acirc;ce &agrave; l'infographie contextuelle.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vid&eacute;o</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Configuration du syst&egrave;me</h2>

        <p>Esri Maps for Office requiert un compte faisant partie d'une organisation <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, ainsi que Microsoft Office Excel ou PowerPoint&nbsp;2010 ou Microsoft Office Excel ou PowerPoint&nbsp;2013. Les syst&egrave;mes d'exploitation pris en charge sont notamment&nbsp;:</p>
		<ul>
		 <li>Windows&nbsp;XP (SP3 obligatoire) (32&nbsp;bits)</li>
		 <li>Windows&nbsp;7 (32&nbsp;bits et 64&nbsp;bits)</li>
		 <li>Windows&nbsp;8 (32&nbsp;bits et 64&nbsp;bits)</li>
		 <li>Windows Server&nbsp;2003 avec SP2 et MSXML&nbsp;6.0 (version 32&nbsp;bits d'Office uniquement)</li>
		 <li>Windows Server&nbsp;2008&nbsp;R2</li>
		 <li>Windows Server&nbsp;2012</li>
		</ul>
		<p>Pour plus d'informations, notamment pour conna&icirc;tre la vitesse de processeur, la m&eacute;moire et l'espace disque requis, consultez la configuration syst&egrave;me requise de <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office&nbsp;2010</a> et de <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office&nbsp;2013</a>.</p>



        <h3>Prise en charge pr&eacute;vue pour les langues suivantes</h3>
        <p>Allemand, anglais, arabe, chinois, espagnol, fran&ccedil;ais, italien, japonais, portugais (br&eacute;silien) et russe</p>





        <a name="whatsNew"></a>
        <h2>Nouveaut&eacute;s</h2>
        <p>Esri Maps for Office version&nbsp;2.1 a &eacute;t&eacute; publi&eacute; en juillet&nbsp;2013. Cette version inclut les am&eacute;liorations suivantes&nbsp;:</p>
        <ul>
        <li>Analyse des mod&egrave;les statistiques via l'outil Point chaud</li>
		<li>Am&eacute;liorations de l'enrichissement des donn&eacute;es, avec notamment davantage de collections de donn&eacute;es et la capacit&eacute; de s&eacute;lectionner des variables individuelles &agrave; partir des collections de donn&eacute;es</li>
		<li>Prise en charge des connexions s&eacute;curis&eacute;es &agrave; l'aide d'OAuth+SAML (AGOL)</li>
        <li>Prise en charge des connexions s&eacute;curis&eacute;es &agrave; l'aide de l'authentification IWA, PKI (portail uniquement)</li>
		<li>Am&eacute;liorations de l'interface utilisateur pour l'infographie et l'outil Enrichir la couche</li>
		<li>Workflow am&eacute;lior&eacute; pour la mise &agrave; niveau d'Esri Maps for Office vers la version la plus r&eacute;cente</li>
        </ul>


        <h3>Version ant&eacute;rieure</h3>
        <p>La version&nbsp;2.0.2 a &eacute;t&eacute; publi&eacute;e en mai&nbsp;2013. Cette version pr&eacute;sentait les am&eacute;liorations suivantes&nbsp;:</p>
        <ul>
          <li>Enrichissement des donn&eacute;es en apportant un contexte g&eacute;ographique gr&acirc;ce au nouvel outil 'Enrichir la couche'</li>
		  <li>S&eacute;lection des entit&eacute;s sur la carte et recherche des entit&eacute;s &agrave; proximit&eacute; au sein des autres couches </li>
		  <li>Nouvelle option Infographie dans les fen&ecirc;tres contextuelles des cartes, qui apporte des informations contextuelles d&eacute;taill&eacute;es sur les r&eacute;gions environnant les entit&eacute;s de la carte</li>
		  <li>Prise en charge de Portal for ArcGIS&nbsp;10.2</li>
		  <li>Nouvelles options de configuration des cartes de densit&eacute; et de l'agr&eacute;gation</li>
		  <li>Capacit&eacute; de filtrer les entit&eacute;s regroup&eacute;es sur la carte en cliquant sur les interruptions de classe dans la l&eacute;gende de la carte</li>
		  <li>Am&eacute;lioration du workflow pour le g&eacute;ocodage des adresses</li>
		  <li>Prise en charge de la personnalisation de la biblioth&egrave;que de fonds de carte depuis votre organisation ArcGIS Online</li>
		  <li>Utilisation par la fonction Ins&eacute;rer une carte du fond de carte par d&eacute;faut de votre organisation ArcGIS Online</li>
		  <li>Recherche de donn&eacute;es sur ArcGIS Online &agrave; l'aide de cat&eacute;gories pl&eacute;biscit&eacute;es, telles que Richesse, Affaires, R&egrave;gle et Sant&eacute;.</li>
		  <li>Les noms de sites reposent dor&eacute;navant sur l'emplacement des donn&eacute;es. Par exemple, les &eacute;tiquettes dans le workflow de g&eacute;ocodage affichent des pr&eacute;fectures au Japon, des &eacute;tats aux Etats-Unis et des provinces au Canada.</li>
		  <li>Prise en charge de Microsoft Office&nbsp;2013</li>
		  <li>Autres am&eacute;liorations en termes de qualit&eacute;, facilit&eacute; d'utilisation et cartographie.</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
           <li><a href="#whatsNew">Nouveaut&eacute;s</a></li>
            <li><a href="#systemRequirements">Configuration du syst&egrave;me</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Visionner des clips vid&eacute;o</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
