---
title: Data Appliance 6.1 for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - home
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Data Appliance 6.1 for ArcGIS Home page."><META name="last-modified" content="2014-9-11"><META name="product" content="data-appliance"><META name="sub_category" content="Data Appliance"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Data Appliance"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/operations-dashboard/">Data Appliance 6.1 for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Data Appliance for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="data-appliance" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/operations-dashboard/">Home</a></li>
        <li><a href="/en/data-appliance/6.1/maps/">Maps and Globes</a></li>
        <li><a href="/en/data-appliance/6.1/deploy/">Deploy</a></li>
        <li><a href="/en/data-appliance/6.1/use/">Use</a></li>
        <li><a href="/en/data-appliance/6.1/reference/">Reference</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Data Appliance for ArcGIS is a turnkey GIS solution with much of the same data content that is available through ArcGIS Online services</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 6.1</span>
          <span id="appReleased"><strong>Released:</strong> September 2014</span>
	 	  -->

        <hr />

        <div id="collectorMapFeature" class="icon-container column-12 phone-column-24">
          <h3 class="icon-map">Maps</h3>
          <p>Learn about the available maps.</p>
          <p>
            <a href="/en/data-appliance/6.1/maps/" class="icon-right-arrow">&nbsp;Show me details</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="icon-container column-12 phone-column-24">
          <h3 class="icon-list">Deploy</h3>
          <p>Configure your data appliance and deploy the services on ArcGIS for Server. </p>
          <p>
            <a href="/en/data-appliance/6.1/deploy/" class="icon-right-arrow">&nbsp;Show me how</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="icon-container column-12 phone-column-24">
		  <h3 class="icon-map-trail">Use</h3>
          <p>Use the services in your ArcGIS client. </p>
          <p>
            <a href="/en/data-appliance/6.1/use/" class="icon-right-arrow">&nbsp;Show me how</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="icon-container column-12 phone-column-24">
          <!-- <img src="/en/operations-dashboard/story-graphic-4.png" />  -->
		<h3 class="icon-open-book">Reference</h3>
          <p>View general information, frequently asked questions, and terms of use as well as links for the previous version.  </p>
          <p>
            <a href="/en/data-appliance/6.1/reference//" class="icon-right-arrow">&nbsp;Show me details</a><br />
          </p>
        </div>        

        <div class="clear"></div>




<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
     

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Details</h3>
          
	  <h4><a href="/en/data-appliance/6.1/reference/data-appliance-overview.htm">Data Appliance overview</a></h4>
	  <h4><a href="/en/data-appliance/6.1/reference/whats-new.htm">What's new</a></h4>
	  <h4><a href="/en/data-appliance/6.1/deploy/system-reqs-61.htm">System requirements</a></h4>
	  <h4><a href="/en/data-appliance/6.1/deploy/quick-start-guides-61.htm">Quick-start guides</a></h4>
          
        </div>

        <br />

        <div class="panel">
          <h3>Previous Version (6.0)</h3>
		  <ul>
 	          <li><a href="/en/data-appliance/6.1/reference/system-reqs-60.htm">System requirements</a></li>
 	          <li><a href="/en/data-appliance/6.1/reference/quick-start-guides-60.htm">Quick-start guide</a></li>
 	          <li><a href="/en/data-appliance/6.1/reference/help-doc-60.htm">Help documentation</a></li>
		  </ul>
        </div>

 </div>

    </div>

