---
title: Operations Dashboard for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/operations-dashboard-1

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2017-01-12"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="de">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Operations Dashboard for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Windows-Version abrufen</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/operations-dashboard/" selected>Startseite</option>
        <option value="/en/operations-dashboard/overview/overview.htm">Übersicht</a>
        <option value="/en/operations-dashboard/windows-desktop/author/create-a-map.htm">Erstellen von Sichten</a>
        <option value="/en/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Verwenden von Sichten</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/de/operations-dashboard/">Startseite</a>
        <a class="sub-nav-link" href="/de/operations-dashboard/overview/overview.htm">Übersicht</a>
        <a class="sub-nav-link" href="/de/operations-dashboard/windows-desktop/author/create-a-map.htm">Erstellen von Sichten</a>
        <a class="sub-nav-link" href="/de/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Verwenden von Sichten</a>
      </nav>
    </div>
  </div>
</header>

<!-- beta announcement -->
<div class="panel panel-dark panel-no-border panel-no-padding leader-2 text-center">
  <div class="grid-container padding-leader-half padding-trailer-half trailer-0">
    <div class="column-24">
      <h5 class="trailer-0 leader-0">Profitieren auch Sie von innovativen Funktionen und höchster Benutzerfreundlichkeit. <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 0px 0 0 10px;">Nehmen Sie am Beta-Programm teil</a>
      </h5>
    </div>
  </div>
</div>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Status stets zur Hand</h1>
      <!--<br/>
      Know Operational Status Like You Are There<br/>
      Be There Without Leaving Your Office<br/>
      Know Operational Status Like You Are There<br/>
      Know the Status of your Operations<br/>
      Monitor, Track, and Assess Your Daily Operations<br/>
      Monitor, Track, and Assess What Matters Most (to You)<br/>
      Monitor, Track, and Assess with a Dynamic View of your Operations<br/>
      Know; outlook; view <br/>-->
      <h5>Überwachen Sie Aktivitäten und Ereignisse, verfolgen Sie Ihre Außendienstteams und bewerten Sie den Status und die Performance Ihrer täglichen Abläufe von einem beliebigen Standort aus.</h5>
      <!--Monitor, track, and assess what matters most to you from whereever you are. Use your laptop or tablet to see your operations as they progress. -->

    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Operations Dashboard-Hilfe durchsuchen">
              <input type="hidden" name="collection" value="help" />
              <!--input type="hidden" name="platform" value="detect" / -->
              <input type="hidden" name="product" value="ops-dashboard" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-2 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/de/operations-dashboard/overview/whats-new.htm">Neuerungen</a></li>
	<li><a href="/de/operations-dashboard/overview/requirements.htm">Anforderungen </a></li>
        <li><a href="/de/operations-dashboard/overview/sneak-peek.htm">Vorschau</a></li>
	<li><a href="/de/operations-dashboard/windows-desktop/author/faqs-author.htm">FAQs zum Erstellen von Sichten</a></li>
	<li><a href="/de/operations-dashboard/windows-desktop/user/faqs-user.htm">FAQs zum Verwenden von Sichten</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">
            <img alt="" src="/en/operations-dashboard/img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Erstellen und Freigeben einer Lagebild-Sicht</a>
          </h5>
          <p>Erstellen Sie in drei einfachen Schritten Lagebild-Sichten mit Karten, Listen, Diagrammen, Skalen usw. auf Grundlage von geographischen Live-Daten, die in einem Karten- oder Web-Service definiert werden, und geben Sie sie frei.</p>
        </div>
        <a href="/de/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="btn btn-clear btn-fill leader-0">Übung beginnen</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">
            <img alt="" src="/en/operations-dashboard/img/monitorAndRespond.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Überwachen und Reagieren auf Ereignisse</a>
          </h5>
          <p>Verwenden Sie die Lagebild-Sicht, um sich auf die Aspekte des Vorgangs zu konzentrieren, die für Sie von Belang sind. Überwachen Sie Services, Zustellungen, Personen, Fahrzeuge usw. überall auf der Welt in vier Schritten.</p>
        </div>
        <nav>
          <a href="/de/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="btn btn-grouped btn-clear btn-half leader-0">Mehr erfahren</a>
          <a href="http://video.arcgis.com/iframe/2195/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">Video ansehen</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/operations-dashboard/web/user/monitor-and-respond-to-events.htm">
            <img alt="" src="/en/operations-dashboard/img/browserApp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/operations-dashboard/web/user/monitor-and-respond-to-events.htm">Überwachen im Browser</a>
          </h5>
          <p>Verwenden Sie die Lagebild-Sicht in einem Browser. Es ist keine Installation erforderlich: Öffnen Sie einfach eine Lagebild-Sicht und bleiben Sie auf dem neuesten Stand – auch mobil auf dem iPad.</p>
        </div>
        <a href="/de/operations-dashboard/web/user/monitor-and-respond-to-events.htm" class="btn btn-clear btn-fill leader-0">Weitere Informationen</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/operations-dashboard/windows-desktop/author/custom-addins.htm">
            <img alt="" src="/en/operations-dashboard/img/developExtensions.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/operations-dashboard/windows-desktop/author/custom-addins.htm">Entwickeln von Erweiterungen</a>
          </h5>
          <p>Übertragen Sie Ihre ganz spezifische Geschäftslogik mithilfe von benutzerdefinierten Widgets, Feature-Aktionen und Kartenwerkzeugen in Ihre Lagebild-Sicht.</p>
        </div>
        <nav>
          <a href="/de/operations-dashboard/windows-desktop/author/custom-addins.htm" class="btn btn-grouped btn-clear btn-half leader-0">Weitere Informationen</a>
          <a href="https://github.com/Esri/dashboard-samples" class="btn btn-grouped btn-clear btn-half leader-0">Beispiele</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">ArcGIS optimal nutzen</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developer</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Mit Operations Dashboard vernetzen</h4>
    <a aria-label="Auf LinkedIn vernetzen" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="GitHub­Projekte anzeigen" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/dashboard-samples"></a>
    <a aria-label="Treten Sie der Community bei" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis"></a>
    <a aria-label="Geben Sie uns Ihr Feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Lesen Sie unseren Blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/operations-dashboard/">Weitere Blogbeiträge</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Tauschen Sie sich mit anderen Nutzern aus
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Weitere Konversationen</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2121" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Lektionen zur Vertiefung erkunden</a></h5>
          <p class="trailer-0">
 Erkunden Sie die Lektionen von Learn ArcGIS, um realistische Fragestellungen mit ArcGIS zu bearbeiten.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Schulungsangebot durchsuchen</a></h5>
          <p class="trailer-0">
 Erfahren Sie mehr über ArcGIS durch dozentengeführte Schulungen, webbasierte Kurse und Seminare.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Technischen Support anfordern</a></h5>
          <p class="trailer-0">
 Sie erreichen den Esri Support per Chat, E-Mail oder Telefon.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Systemstatus überprüfen</a></h5>
          <p class="trailer-0">
 Überprüfen Sie den Status von ArcGIS Online und melden Sie Probleme.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
