---
layout: marketplace/layout

title: Autentificare – ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp
  - marketplace/init

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">Autentificaţi-vă pentru a fi furnizor</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">Comercializaţi-vă aplicaţia pe ArcGIS Marketplace. Obţineţi acces la cea mai mare bază de utilizator GIS din lume. Noi vă ajutăm să vă conectaţi uşor cu utilizatori, să furnizaţi abonamente de încercare gratuită şi să generaţi clienţi potenţiali. În calitate de furnizor de aplicaţii, păstraţi 100% din veniturile generate prin vânzarea aplicaţiilor dvs. Pentru detalii, consultaţi <a href="/ro/marketplace/provider/faq.htm">Întrebările frecvente</a>. </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">Sunteţi deja Partener Esri?</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">Beneficiaţi de o audienţă mai largă prin listarea soluţiei dvs. în ArcGIS Marketplace. Autentificaţi-vă la <a href="http://partnerportal.esri.com/">Portalul pentru parteneri Esri</a> pentru a afla de ce este nevoie pentru a deveni furnizor.</p>
		
      </section>

	<header>
        <h2 data-langlabel="already-an-esri-partner">Deveniţi un Startup Esri alăturându-vă programului Esri Emerging Business</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">Programul <a href="https://developers.arcgis.com/startups/">Esri Emerging Business</a> este un program gratuit cu durata de trei ani, care oferă companiilor noi instrumentele necesare integrării în produsele lor a capacităţilor de cartografiere şi analiza locaţiei. Companiile noi (Startupuri) care se califică primesc servicii online, software, instruire, susţinere, conţinut şi alte oportunităţi pentru a le ajuta să reuşească.</p>
		

      </section>
	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">Nu sunteţi partener? Sunteţi nou la Esri?</h2>
		<p data-langlabel="provider-signup-note">Suntem în căutare de dezvoltatori, companii noi (Startupuri) şi organizaţii care doresc să creeze soluţii deosebite pentru utilizatorii noştri. Spuneţi-ne cine sunteţi şi cu ce vă ocupaţi, iar noi vă vom ajuta să începeţi.</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="/apps/feedback/api/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="company-name" for="company-name">Numele companiei: </label>
			  <input type="text" id="companyName" name="companyName">
			  <label data-langlabel="first-name" for="first-name">Prenume: </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">Nume de familie: </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">Adresă de e-mail: </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Număr de telefon: </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">Daţi-ne detalii despre dvs. sau despre organizaţia dvs.: </label>
			  <textarea data-langlabel="comment" placeholder="My organization..." name="userComment" id="userComment"></textarea>
			  <label data-langlabel="services" for="services">Daţi-ne detalii despre soluţiile sau serviciile dvs.: </label>
			  <textarea data-langlabel="my-services" placeholder="My services..." name="userServices" id="userServices"></textarea>
			  <label data-langlabel="website" for="website">Site web: </label>
			  <input type="text" id="userWebsite" placeholder="http://www.esri.com/" name="userWebsite">
			  
			  <label data-langlabel="feedback-spam-note" for="spam">Pentru a ajuta la prevenirea mesajelor spam automate, introduceţi cifrele furnizate: </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">Cifre: <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="internal" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="ro" name="lg">
			<input value="Marketplace Sign Up" name="datablock" id="datablock" type="hidden">
			<input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" name="submit-signup" data-langlabel="contact-us">Trimitere</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>Vă mulţumim pentru interesul manifestat pentru a deveni furnizor ArcGIS Marketplace. Vă vom contacta în următoarele câteva zile lucrătoare.</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>

