---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="pt-br">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/pt-br/marketplace/">Ajuda</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-br/marketplace/">Principal</a></li>
        <li><a href="/pt-br/marketplace/consumer/">Para Consumidores</a></li>
        <li><a href="/pt-br/marketplace/provider/">Para Provedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">Aprenda como aproveitar o máximo do ArcGIS Marketplace.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>Para Consumidores </h3>
          <p>Aprenda como localizar e utilizar os aplicativos e dados.</p>
          <ul>			
			<li><a href="/pt-br/marketplace/consumer/get-started-consumers.htm">Aproveite o máximo do ArcGIS Marketplace</a></li>
			<li><a href="/pt-br/marketplace/consumer/search-for-apps-and-data.htm">Pesquisar por itens</a></li>
			<li><a href="/pt-br/marketplace/consumer/subscribe-to-apps-and-data.htm">Obter itens</a></li>
			<li><a href="/pt-br/marketplace/consumer/faq.htm">Perguntas mais frequentes</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>Para Provedores</h3>
          <p>Aprenda como adicionar, promover e vender seus aplicativos e dados.</p>
          <ul>			
			<li><a href="/pt-br/marketplace/provider/become-a-provider.htm">Torne-se um provedor</a></li>
			<li><a href="/pt-br/marketplace/provider/listing-tips.htm">Dicas para uma lista bem sucedida</a></li>
			<li><a href="/pt-br/marketplace/provider/create-listings.htm">Sobre listas</a></li>
			<li><a href="/pt-br/marketplace/provider/faq.htm">Perguntas mais frequentes</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Suporte Técnico da Esri</a></h4>
      <p>Entre em contato com Suporte por chat, e-mail ou telefone.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">Idéias do ArcGIS</a></h4>
      <p>Envie seu comentário sobre o software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">A Comunidade da Esri</a></h4>
      <p>Participe das discussões no Geonet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






