---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/pt-br/marketplace/">Ajuda</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header> <nav>
      <ul>
        <li class='current'><a href="/pt-br/marketplace/">Principal</a></li>
        <li><a href="/pt-br/marketplace/consumer/">Para Consumidores</a></li>
        <li><a href="/pt-br/marketplace/provider/">Para Provedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">O que é o marketplace?</h2>

          <p>O ArcGIS Marketplace é um destino que permite as organizações do ArcGIS Online pesquisar, descobrir e obter aplicativos e dados de provedores qualificados (Esri Business Partners, Esri Distributors, and Esri) para utilizar dentro da sua organização. Os serviços de dados e aplicativos listados na marketplace podem ser disponibilizados para qualquer organização do ArcGIS Online, mundial.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Potencialize seu empreendimento </h3>
          <p>Encontre serviços de dados e aplicativos para utilizar na sua organização. Após obter um serviço de dados ou aplicativo você pode facilmente compartilhá-lo com grupos e usuários dentro da sua organização.</p>
          <p>

			<a href="/pt-br/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a> <br/> <a href="/pt-br/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Alcance seus usuários</h3>
          <p>O ArcGIS Marketplace fornece um mecanismo para gerar guias, oferecer testes gratuitos, conceder acesso para suas listas e gerenciar assinaturas.</p>
          <p>
            <a href="/pt-br/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a> <br/> 
			<a href="/pt-br/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Qualificando como um provedor</a> <br/> <a href="/pt-br/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">Site de Idéias do ArcGIS</h3>
         <p>Não visualiza o aplicativo ou dados que você precisa? Poste uma sugestão ou voto sobre idéias existentes.</p>
         <p>Você é um provedor procurando por idéias? Veja o que clientes estão pedindo. Convide contribuintes para colaborar reservadamente com você para evoluir idéias.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

