---
title: Esri Maps for SharePoint
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Sharepoint">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-sharepoint" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-sharepoint/beta">Home</a></li>
        <li><a href="/en/maps-for-sharepoint/beta/install-and-configure/">Install and Configure</a></li>
        <li><a href="/en/maps-for-sharepoint/beta/esri-maps-web-part/">Esri Maps Web Part</a></li>
        <li><a href="/en/maps-for-sharepoint/beta/arcgis-map-web-part/">ArcGIS Map Web Part</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Download the app</h2>
          <span id="appVersion"><strong>Version:</strong> 4.0 Beta 2</span>
          <span id="appReleased"><strong>Available:</strong> September 2014</span>


          <p>Esri Maps for SharePoint leverages the Microsoft SharePoint 2010, 2013 and Online framework to offer interactive and configurable mapping components that can give you a geospatial view of your organization's data. </p>

          <p>
             <a  class="btn primary" href="http://betacommunity.esri.com">Get Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />

 <div id="enablemapping" class="column-12 phone-column-24">
          <img src="m4sp1.png" />

          <h3>Enable mapping in SharePoint</h3>
          <p>Add dynamic maps to your SharePoint site to help you analyze your business data visually.</p>
          <p>
           <a href="/en/maps-for-sharepoint/beta/esri-maps-web-part/about-the-esri-maps-web-part.htm" class="icon-right-arrow">&nbsp;Learn more</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/2906/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2906/mp4/480">
			</video>
          </p>
        </div>


        <div id="sharemaps" class="column-12 phone-column-24">
          <img src="m4sp2.png" />

          <h3>Share your SharePoint maps</h3>
          <p>Learn how to share the maps from your SharePoint data. Publish your map on ArcGIS Online to share with others.</p>
          <p>
			<a href="/en/maps-for-sharepoint/beta/esri-maps-web-part/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>
			<br/>
		   <a href="http://video.arcgis.com/iframe/2907/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		<video width="320" height="240" controls id="2907" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2907/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>
        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <p>Esri Maps for SharePoint requires an <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm">ArcGIS Online</a> organization or Portal for ArcGIS account and either Microsoft SharePoint 2010, 2013, or Online.</p>


 <a name="whatsNew"></a>
 	<h2>4.0 Beta 2</h2>	
 	<p>Esri Maps for SharePoint 4.0 Beta 2 is available on the <a href="http://betacommunity.esri.com">Esri Beta Community</a>. System requirements, supported platforms, help documentation, and the download can be found in the Esri Maps for SharePoint beta opportunity. For additional information, see our blog post: <a href="http://blogs.esri.com/esri/arcgis/2013/12/02/esri-maps-for-sharepoint-4-0-beta-released/">Esri Maps for SharePoint beta released</a>. </p>
	
	 <h2>What's new 4.0 Beta 2</h2>        
		 <p>Esri Maps for SharePoint version 4.0 Beta 2 includes the following updates and enhancements:</p>        
		 <ul>        
		 <li>Support for working in a disconnected environment</li>
		 <li>Extensibility – create custom tools and behaviors for the Esri Maps Web Part</li>
		 <li>Editing – add, modify, and delete features</li>
		 <li>Map Contents/Legend configuration</li>
		 <li>Print tool</li>
		 <li>Measure tool</li>	
		 </ul>
		 
		 <h2>What's new 3.0.1</h2>        
		 <p>Esri Maps for SharePoint version 3.0.1 was released in October 2013. It includes the following updates and enhancements:</p>        
		 <ul>        
		 <li>Localization support for 21 languages: Arabic, Chinese (Simplified), Danish, Dutch, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian,  Norwegian, Polish, Portuguese, Portuguese (Brazilian),
Romanian, Russian, Spanish, and Swedish.</li>	
		 <li>Support for custom location types in the Esri Maps Locate workflow.</li>	
		 <li>Geostatistical hot spot analysis.</li>	
		     
		 </ul>
		       
		 <h2>What's new 3.0</h2>        
		 <p>Esri Maps for SharePoint version 3.0 was released in July 2013. It includes the following updates and enhancements:</p>        
		 <ul>        
		 <li>New product name—Esri Maps for SharePoint</li>	
		 <li>Support for SharePoint 2010 and SharePoint 2013 (on-premises)</li>	
		 <li>Initial release of Esri Maps Web Part—JavaScript-based web part supported in SharePoint 2010 and SharePoint 2013 (on-premises).</li>	
		 <li>Portal for ArcGIS 10.2 support</li>	
		 <li>External data connectivity via SharePoint Business Connectivity Services (BCS) (JavaScript Map Web Part)</li>	
		 <li>Web Part-to-Web Part connections (JavaScript Map Web Part)</li>	
		  </ul>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
         <ul>
            <li><a href="#systemRequirements">System requirements</a></li>
	 <li><a href="#whatsNew">What's new</a></li>
	 <li>Help for previous versions:
	 <ul>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Interactive Samples (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/help/sharepoint/apiref/api_start.htm">API Reference (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/communities/sharepoint/01t800000009000000.htm">ArcGIS for SharePoint 2.1.1 help</a></li>
         </ul> </li> </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
