<Comment>
layout: marketplace/layout

title: Sign Up - ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

</Comment>
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">注册成为供应商</h1>
    </header>
	<nav>&nbsp;</nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">在 ArcGIS Marketplace 中销售应用程序。获得世界上最大的 GIS 用户群。我们会使您轻松地联系用户、提供免费试用并挖掘潜在客户。作为应用程序供应商，您可以得到销售应用程序所获得的全部收入。有关详细信息，请查看<a href="/en/marketplace/provider/faq.htm">常见问题解答</a>。 </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">已经是 Esri 合作伙伴？</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">通过在 ArcGIS Marketplace 中列出您的解决方案以扩大用户群。登录 <a href="http://partnerportal.esri.com/">Esri Partner Portal</a> 以了解要成为供应商需要满足哪些条件。</p>

      </section>

	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">不是合作伙伴？Esri 的新用户？</h2>
		<p data-langlabel="provider-signup-note">我们在寻找希望为用户构建出色解决方案的开发者。请向我们介绍您自己以及您即将进行的开发，我们将帮助您入门。</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="http://resources.arcgis.com/apps/contact-us/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="first-name" for="first-name">名字： </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">姓氏： </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">电子邮箱： </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">电话号码： </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">关于您： </label>
			  <textarea data-langlabel="comment" placeholder="I build apps that..." name="userComment" id="userComment"></textarea>
			  
			  <label data-langlabel="feedback-spam-note" for="spam">为阻止自动垃圾邮件，请输入以下数字： </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">数字： <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="内部" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="zh-cn" name="lg">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" data-langlabel="contact-us">提交</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>谢谢您对成为 ArcGIS Marketplace 供应商感兴趣。我们将在接下来的几个工作日内联系您。</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>
