---
layout: marketplace/layout

title: 注册 - ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp
  - marketplace/init

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">注册成为提供商</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">在 ArcGIS Marketplace 中销售应用程序。获得世界上最大的 GIS 用户群。我们会使您轻松地联系用户、提供免费试用并挖掘潜在客户。作为应用程序供应商，您可以得到销售应用程序所获得的全部收入。有关详细信息，请查看<a href="/zh-cn/marketplace/provider/faq.htm">常见问题</a>。</p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">已是 Esri 合作伙伴？</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">通过在 ArcGIS Marketplace 上列出您的解决方案获得更加广泛的受众。登录 <a href="http://partnerportal.esri.com/">Esri Partner Portal</a> 了解如何成为提供商。</p>
		
      </section>

	<header>
        <h2 data-langlabel="already-an-esri-partner">加入 Esri Emerging Business Program，成为 Esri 初创公司</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience"><a href="https://developers.arcgis.com/startups/">Esri Emerging Business Program</a> 是一款三年内免费的计划，该计划向新兴业务提供工具，用以向其产品构建制图和位置分析功能。符合资质的初创公司将收到在线服务、软件培训和支持、内容，以及可帮助他们成功的其他机会。</p>
		

      </section>
	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">还不是合作伙伴？ Esri 的新客户？</h2>
		<p data-langlabel="provider-signup-note">我们正在寻求愿意为用户构建大型解决方案的开发商、初创公司和组织。请告知我们您的名称和专注领域，我们将协助您起步。</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="/apps/feedback/api/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="company-name" for="company-name">公司名称： </label>
			  <input type="text" id="companyName" name="companyName">
			  <label data-langlabel="first-name" for="first-name">名字： </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">姓氏： </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">电子邮件地址： </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">电话号码： </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">介绍您或您的组织： </label>
			  <textarea data-langlabel="comment" placeholder="My organization..." name="userComment" id="userComment"></textarea>
			  <label data-langlabel="services" for="services">介绍您的解决方案或服务： </label>
			  <textarea data-langlabel="my-services" placeholder="My services..." name="userServices" id="userServices"></textarea>
			  <label data-langlabel="website" for="website">网址: </label>
			  <input type="text" id="userWebsite" placeholder="http://www.esri.com/" name="userWebsite">
			  
			  <label data-langlabel="feedback-spam-note" for="spam">为防止自动接收垃圾邮件，请输入以下数字： </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">数字：<strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="internal" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="zh-cn" name="lg">
			<input value="Marketplace Sign Up" name="datablock" id="datablock" type="hidden">
			<input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" name="submit-signup" data-langlabel="contact-us">提交</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>感谢您有兴趣成为 ArcGIS Marketplace 提供商。我们将在接下来的几个工作日内与您联系。</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>

