---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2016-01-29"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.1" />
					<input type="hidden" name="language" value="ja" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/maps-for-cognos/">ホーム</a></li>
        <li><a href="/ja/maps-for-cognos/install-windows/">インストールと構成</a></li>
        <li><a href="/ja/maps-for-cognos/author-maps/">マップの作成</a></li>
        <li><a href="/ja/maps-for-cognos/use-maps/">マップの使用</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリの取得</h2>
          <span id="appVersion"><strong>バージョン:</strong> 6.1</span> <span id="appReleased"><strong>公開時期:</strong> 2016 年 2 月</span>


          <p>カスタム コーディングや GIS の経験がなくても、慣れている日々のワークフローを使用して、動的なライブ マップで IBM Cognos レポートに情報を付加できます。Esri Maps for IBM Cognos は、IBM Cognos とシームレスに統合されます。これにより、レポート作成者は、IBM Cognos レポート内で他のオブジェクトと連携するマップを追加および構成できます。ArcGIS から公開された地理データを IBM Cognos のビジネス データと組み合わせることで、高度な分析を実行できるマップを作成できます。レポート利用者は、特別なスキルやツールがなくても、マップ連動型レポートを使用してデータを視覚的に分析できます。
</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Esri Maps for IBM Cognos の取得</a>

          </p>

        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Add maps -->
        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <a title="レポートへのマップの追加" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/4951/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c1a.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>レポートへのマップの追加 </h3>
          <p>動的なマップを IBM Cognos レポートに追加すると、ビジネス データを視覚的に分析できます。</p>
          <p>
           <a href="/ja/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;詳細を見る</a>
			<br/>
			<a title="レポートへのマップの追加" href="http://video.arcgis.com/iframe/4951/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="4951" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4951/mp4/480">
			</video>
          </p>
        </div>

		<!-- Configure interactive behaviors -->
        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <a title="対話機能の構成" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/4952/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c2.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>対話機能の構成</h3>
          <p>レポート利用者のためにレポートの対話機能を強化できます。マップ上のフィーチャを選択して他のレポートを更新したり、プロンプトを設定したり、外部のレポートにドリル スルーしたりできます。</p>
          <p>
			<a href="/ja/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;詳細を見る</a>
			<br/>
		   <a title="対話機能の構成" href="http://video.arcgis.com/iframe/4952/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
		<video width="320" height="240" controls id="4952" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4952/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>ArcGIS からのデータの追加</h3>
          <p>ArcGIS から公開された地理データをマップ連動型レポートに追加して、ビジネス データを簡単に分析できます。</p>
          <p><a href="/ja/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;詳細を見る</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>マップとレイヤーの共有</h3>
          <p>組織内外のユーザーが使用できるように、マップや個々のレイヤーを ArcGIS で共有できます。</p>
          <p><a href="/ja/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;マップの共有</a>
		  <br/>
		  <a href="/ja/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;レイヤーの共有</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>新機能</h2>
<p>Esri Maps for IBM Cognos 6.1 は、レポート作成者、利用者、および管理者向けの重要な更新と拡張機能を提供します。以下では、主な新機能について説明します。
</p>


<ul>
<li>さらに効率化されたマップ アプリケーション</li>
<li>マップへの追加後でも <a href="/ja/maps-for-cognos/author-maps/edit-layer-properties.htm">IBM Cognos レイヤー プロパティをすぐに変更可能</a></li>
<li>データのシンボル設定に<a href="/ja/maps-for-cognos/author-maps/feature-display-and-style.htm#GUID-59F7F621-EEF8-40E5-829B-41DBC0C358B4">手動分類</a>を追加</li>
<li>サイズ変更が可能な、フローティング タイプの新しいマップの凡例 (<a href="/ja/maps-for-cognos/author-maps/use-the-legend.htm">レポート作成者</a>および<a href="/ja/maps-for-cognos/use-maps/use-the-legend.htm">利用者</a>)</li>
<li>凡例内のグループの順序変更 (<a href="/ja/maps-for-cognos/author-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">レポート作成者</a>および<a href="/ja/maps-for-cognos/use-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">利用者</a>)</li>
<li>マップ ツールやその他設定を構成する</li>
<li><a href="/ja/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_096AEB7953914BEAA4F1FB4AD718A1DF">マップ ツール</a>および<a href="/ja/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_B3B7D16E14EF4CBAA70C5C39494A7DDB">構成要素</a>のカスタマイズ</li>
<li><a href="/ja/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#GUID-0BCF234E-5050-4785-B2C0-91B4732D931A">すぐに利用できるテーマ</a>、または<a href="/ja/maps-for-cognos/install-windows/define-a-custom-map-theme.htm">カスタムのテーマ</a>を使用してマップの外観を変更</li>
<li>レイヤーのシンボル設定に利用できる<a href="/ja/maps-for-cognos/install-windows/modify-default-symbols-and-color-ramps.htm">デフォルトのシンボルおよびカラー ランプ</a>の変更、または独自の<a href="/ja/maps-for-cognos/install-windows/add-custom-symbol-sets.htm">カスタム シンボル セット</a>の追加</li>
<li>ヒート マップ アルゴリズムの改善による、属性値による重み付けに対応 (<a href="/ja/maps-for-cognos/author-maps/apply-a-heat-map.htm">レポート作成者</a>および<a href="/ja/maps-for-cognos/use-maps/apply-a-heat-map.htm">利用者</a>)</li>
<li>フィーチャの属性テーブルの操作性を改善 (<a href="/ja/maps-for-cognos/author-maps/view-records.htm">レポート作成者</a>および<a href="/ja/maps-for-cognos/use-maps/view-records.htm">利用者</a>)</li>
<li>数字、日付、および通貨の形式を追加</li>
<li>PDF レポートでの透過表示をサポート</li>
<li>ArcGIS Web Map Service (WMS) レイヤーのサポート</li>
<li>ArcGIS ロールおよび権限</li>
<li>管理者向けの<a href="/ja/maps-for-cognos/install-windows/troubleshooting-view-as-pdf-or-excel.htm">トラブルシューティング ドキュメント</a></li>
</ul>



<hr />

 <a name="supportedEnvironments"></a>
        <h2>サポートされている環境</h2>

        <p>Esri Maps for IBM Cognos が適切に動作することを確認するのに、Esri は IBM Cognos Business Intelligence (BI) の運用構成を想定しています。IBM Cognos BI のソフトウェア環境は、アクティブ、互換、または非サポートとして記載されています。Esri がテストしているのは、アクティブな構成を使用した Esri Maps for IBM Cognos だけです。また、アクティブなすべての構成をテスト/認定しているわけではありません。</p>
		<p>現在利用中の IBM Cognos の構成が以下に記載されていない場合は、将来のリリースで計画されているかどうか、また計画リストに載せることが可能かどうかを、Esri テクニカル サポートまたは Esri の営業担当者にお問い合わせください。通常、Esri では、新しくリリースされた IBM Cognos Fix Pack のダウンロードが利用できるようになってから 60 日後にサポートを開始します。</p>

<p>Esri Maps for IBM Cognos は、IBM Cognos Enterprise および IBM Cognos Express 10.2.2 以降での使用をサポートしています。開発者向けエディションでの使用はサポートされていません。&nbsp;</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')"> システム要件</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>ハード ディスク: 300 MB</li>
          <li>メモリ: 2 GB</li>
	</ul>
	<p><b>注意:</b> ディスク空き容量の要件は、Excel 2002 のレポート形式オプションの使用によって異なります。詳細については「<a href="/ja/maps-for-cognos/install-windows/report-formats.htm">レポート形式</a>」をご参照ください。</p>
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')"> IBM Cognos のバージョン</a></h3>
<div exp2='yes' style="display:none;padding:0 15px;">

<p>通常、Esri では、新しくリリースされた IBM Cognos Fix Pack のダウンロードが利用できるようになってから 60 日後にサポートを開始します。</p>
 <p>次の表は、各バージョンの Esri Maps for IBM Cognos でサポートされている IBM Cognos のバージョンと Fix Pack を示しています。</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">IBM Cognos のバージョン</th>
<th colspan="5">Esri Maps for IBM Cognos のバージョン</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
<th colspan="1" rowspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1.1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="10" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP2</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP3</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP4</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP5</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP6</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP7</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP8</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP9</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><p><b>10.2.2**</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP3</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>* Esri Maps for IBM Cognos バージョン 5.0.1 をインストールしている場合、Fix Pack をインストールする前に、<a href="http://support.esri.com/en/knowledgebase/techarticles/detail/41743">技術情報記事 41743</a> で詳細情報をご参照ください。</p>
<p>** Esri Maps for IBM Cognos 6.0.1 以降は、IBM Cognos Express 10.2.2 および IBM Cognos Enterprise をサポートしています。</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')"> オペレーティング システム</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

 <p>IBM は、CPU アーキテクチャと呼ばれる一連の CPU チップセットと互換性のあるオペレーティング システムを認定およびサポートしています。Esri は、IBM がアクティブとして記載しているオペレーティング システム (およびチップセット) のサブセットを使用して Esri Maps for IBM Cognos をテストしています。Esri がテストするリストは、市場調査と既存のクライアント構成に基づいています。</p>
 <p>次の表は、各バージョンの Esri Maps for IBM Cognos でサポートされているオペレーション システムを示しています。</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">オペレーティング システム</th>
<th rowspan="1" colspan="5">Esri Maps for IBM Cognos のバージョン</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
<th rowspan="1" colspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows Server</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">System z では10.3 以降</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>*64 ビット バージョンの System z のみがサポートされています。</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')"> 前提条件 (Linux および UNIX のみ)</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

	 <p>Linux および UNIX オペレーティング システム上で Esri Maps for IBM Cognos の EM4C ゲートウェイを実行するには、次のシステム ライブラリが必要です。</p>

        <ul>
          <li>Linux (32 ビット)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 ビット)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 ビット)* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 ビット)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 ビット)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* バージョン 6.0.1 以降で必須</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')"> Web ブラウザー</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">
	 <p>Esri は、IBM がサポート対象に記載したすべての Web ブラウザー (および基本となるクライアント オペレーティング システム) の組み合わせをテストしたわけではありません。Web ブラウザーのサブセットが選択され、最新のオペレーティング システム上でテストが行われています。選択されたすべてのブラウザーが、動作確認されたすべてのオペレーティング システム上でテストされているわけではありません。</p>
       

<p>同様に、Esri では Windows プラットフォームでのみ、厳しいブラウザーのテストを実行しています。ただし、Esri Maps for IBM Cognos は、以下に示す Web ブラウザーのいずれかが使用された場合、Windows 以外のクライアント上で期待通りに動作することが予想されます。これらに該当しない場合、その特定のオペレーティング システムと Web ブラウザーをテストするように Esri テクニカル サポートに依頼してください。</p>

<p>次の表は、各バージョンの Esri Maps for IBM Cognos でサポートされているブラウザーを示しています。</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">ブラウザー</th>
<th colspan="5">Esri Maps for IBM Cognos のバージョン</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
<th>6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>iOS 上の Apple Safari</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="3" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">41</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="2" colspan="1"><b>Android 用 Google Chrome</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="4" colspan="1"><b>Internet Explorer*</b></td>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 38</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>*ヒート マップは、Internet Explorer 内で動作する IBM Cognos との互換性はありません。Esri Maps for IBM Cognos 6.0.1 以前では、パイ チャート クラスターも、Internet Explorer 内で動作する IBM Cognos との互換性はありません。詳細については、<a href="http://support.esri.com/en/knowledgebase/techarticles/detail/42801">技術情報記事 42801</a> をご参照ください。</p>
<p>**Internet Explorer 10 および 11 は、互換性モードでのみサポートされています。</p>
<p>Android 用 Google Chrome、および iOS 上の Apple Safari の各ブラウザーは、レポート利用者に対してのみサポートされています。Esri Maps Designer は、これらのブラウザーでサポートされていません。</p>

<p>Internet Explorer でのマップ フィーチャとグラフィックスのレンダリングの改善のために、Silverlight 5.x をダウンロードしてクライアントにインストールすることをお勧めします。</p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')"> 言語</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
       <p>次の言語は、Esri Maps for IBM Cognos 6.0.1、6.0.2、6.1 でサポートされている製品の言語です。</p>
	
        <ul>
          <li>中国語 (中国)</li>
		  <li>英語</li>
		  <li>フランス語</li>
		  <li>ドイツ語</li>
		  <li>日本語</li>
		  <li>韓国語</li>
		  <li>ロシア語</li>
	</ul>

       <p>Esri Maps for IBM Cognos 6.0 および 5.0.1 は、英語のみでサポートされています。</p>
        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')"> サポート</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
<p>IBM Cognos が正しく動作するには、複数のサードパーティのコンポーネントを構成する必要があります。これらのコンポーネントには、アプリケーション サーバー、Web サーバー、データベース サーバー、Java Runtime ライブラリなどがあります。IBM テクニカル サポートは、これらのコンポーネントを使用した IBM Cognos の配置を支援しています。Esri テクニカル サポートは、Esri Maps for IBM Cognos の配置 (および使用) を支援しています。</p>

<p>Esri テクニカル サポートのアナリストは、IBM Cognos で可能なすべての構成に精通しているわけではありません。同様に、IBM テクニカル サポートのエンジニアは、Esri Maps for IBM Cognos の運用構成に必要なすべてのサードパーティのコンポーネントに精通しているわけではありません。そのため、IBM Cognos の構成中に問題が発生した際、多くの場合は、IBM テクニカル サポートから支援を受けるほうが効率的です。同様に、サードパーティのコンポーネントで構成の問題が発生した場合、そのサードパーティのサポート組織から支援を受けるほうが効率的です。問題が Esri Maps for IBM Cognos にあると考えられる場合、Esri テクニカル サポートとして、IBM テクニカル サポート、およびサードパーティ ベンダーまたはサードパーティ ベンダーのコンサルタントを合わせて利用することができます。</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
          <ul>
          <li><a href="#whatsNew">新機能</a></li>		
		  <li><a href="#supportedEnvironments">サポートされている環境</a></li>
		  <li>以前のバージョンのヘルプ:
			<ul>
				
				<li><a href="/ja/maps-for-cognos/6.0.2">6.0.2</a></li>
				<li><a href="/ja/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">インストールおよび構成ガイド</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">レポート作成者ガイド<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">ビデオを見る</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
