---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.1" />
					<input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/maps-for-cognos/">ホーム</a></li>
        <li><a href="/ja/maps-for-cognos/install-windows/">インストールと構成</a></li>
        <li><a href="/ja/maps-for-cognos/author-maps/">マップの作成</a></li>
        <li><a href="/ja/maps-for-cognos/use-maps/">マップの使用</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリケーションの取得</h2>
          <span id="appVersion"><strong>バージョン:</strong>6.0.1</span> <span id="appReleased"><strong>公開時期:</strong>2015 年 1 月</span>


          <p>カスタム コーディングや GIS の経験がなくても、慣れている日々のワークフローを使用して、動的なライブ マップで IBM Cognos レポートに情報を付加できます。Esri Maps for IBM Cognos は、IBM Cognos 10 とシームレスに統合されます。これにより、レポート作成者は、IBM Cognos レポート内で他のオブジェクトと相互作用するマップを追加および構成できます。ArcGIS から公開された地理データを IBM Cognos のビジネス データと組み合わせて、高度な分析を実行できるマップを作成できます。レポート利用者は、特別なスキルやツールがなくても、マップ連動型レポートを使用してデータを視覚的に分析できます。   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Esri Maps for IBM Cognos の取得</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>レポートへのマップの追加 </h3>
          <p>動的なマップを IBM Cognos レポートに追加すると、ビジネス データを視覚的に分析できます。</p>
          <p>
           <a href="/ja/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;詳細を見る</a> <br/> <a title="レポートへのマップの追加" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>対話機能の構成</h3>
          <p>レポート利用者のためにレポートの対話機能を強化できます。マップ上のフィーチャを選択して他のレポートを更新したり、プロンプトを設定したり、外部のレポートにドリル スルーしたりできます。</p>
          <p>
			<a href="/ja/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;詳細を見る</a> <br/> <a title="対話機能の構成" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>ArcGIS からのデータの追加</h3>
          <p>ArcGIS から公開された地理データをマップ連動型レポートに追加して、ビジネス データを簡単に分析できます。</p>
          <p><a href="/ja/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;詳細を見る</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>マップとレイヤの共有</h3>
          <p>組織内外のユーザが使用できるように、複数のマップや個別のマップ レイヤを ArcGIS で共有できます。</p>
          <p><a href="/ja/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;マップを共有する</a> <br/> <a href="/ja/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;レイヤを共有する</a>
          </p>
        </div>
    <div class="clear"></div> 
	  
	  
<br />
<hr />	  
<div class="clear"></div>
<a name="whatsNew"></a>
<h2>新機能</h2>
<p>Esri Maps for IBM Cognos は、レポート作成者、利用者、および管理者向けの重要な更新と拡張機能を提供します。以下では、主な新機能について説明します。
</p>

<h3>6.0.1 の更新</h3>
<ul>
	<li>レポート利用者は ArcGIS からのデータをマップに追加できます</li>
	<li>IBM Cognos 10.1、10.1.1、10.2 FP 4、10.2.1 FP5、および 10.2.2 のサポート</li>
	<li>System z 上の Novell SUSE Linux Enterprise Server および Red Hat Enterprise Linux Server のサポート</li>
	<li>iOS 8.x 上の Apple Safari のサポート</li>
		<li>ソフトウェアとドキュメントは 7 か国語（英語、ドイツ語、フランス語、日本語、韓国語、ロシア語、簡体字中国語）で利用できます。</li>
</ul>
<br/>

<h3>6.0 の更新</h3>
<ul>
<li>オフラインでの Portal for ArcGIS の配置のサポート</li>
<li>ダイナミック マップ サービス レイヤの対話機能の構成</li>
<li>構成された対話機能をトリガするための新しい描画ツール</li>
<li>[レイヤのフィルタ] ツールを使用したマップ上に表示されるフィーチャのフィルタリング</li>
<li>[計測] ツールを使用した面積、距離、および X、Y 座標の計測</li>
<li>[ルートの取得] ツールを使用した住所のジオコーディングとルートの検索</li>
<li>インフォグラフィックスとその他のマップ ツールおよび設定の構成</li>
<li>概観図およびその他のナビゲーション ツールを使用したマップ範囲の変更</li>
<li>ポイント データをマップに追加するときの X、Y 座標の WKID の指定</li>
<li>レイヤに対する複数のスタイルの構成</li>
<li>ポップアップからの対話機能の開始</li>
<li>マップ連動型レポートのさまざまな形式での表示および印刷</li>
<li>パフォーマンスの強化によるマップの読み込みの高速化</li>
<li>Esri Maps for IBM Cognos にアクセスして使用できるユーザを制御できる管理者向けの新機能</li>
<li>IBM Cognos 10.2.1 Fix Packs 1、2、3、4 のサポート</li>
<li>モバイル ブラウザのサポート:  
<ul>
<li>iOS 上の Apple Safari</li>
<li>Android 用 Google Chrome</li>
</ul> 
</li>

</ul>
<br/>
<h3>5.0.1 の更新</h3>
<ul>
<li> IBM Cognos 10.2.1 のサポート</li>
<li> Linux および UNIX プラットフォームのサポート: 
<ul><li> Linux Red Hat 5.3+</li>
<li>Linux SUSE 10 SP1+</li>
<li> AIX 6.1+</li>
</ul></li>
</ul>
<br/>
<h3>5.0 の更新</h3>
<ul>
<li>マップの WYSIWYG（What You See Is What You Get）表示を備えた新しいユーザ インタフェース。これにより、マップの設計が一層簡単になりました。</li>
<li> ArcGIS Online と Portal for ArcGIS 10.2 のサポート</li>
<li> ArcGIS プラットフォームの完全な統合:   
<ul>
<li>ArcGIS からマップまたはマップ レイヤを追加することによるマップの強化</li>
<li>ArcGIS でのマップとレイヤの共有<li>
</ul></li>
<li>クラスタリングを有効化および構成し、容易に膨大な数のフィーチャを一度に表示および分析できるようになりました</li>
<li>豊富なマップ アイコンによる、要件に合ったマップのスタイルの設定</li>
<li> ヒート マップの新しい構成オプション</li>
<li>マップのポップアップ ウィンドウにインフォグラフィックスが含まれるようになりました。これは、マップ上で選択した任意のエリアについて、リアルタイムの人口統計情報を提供します。</li>
<li>ArcGIS プラットフォームを使用した、セキュリティで保護された Web サービスへの簡単なアクセス</li>
<li>フィーチャの選択とマップ内の付近のデータ検索<li>
<li>住所のジオコーディング（グローバル ジオコーディングのサポート）。</li>
<li>ArcGIS 組織サイトからのベースマップ ギャラリーのカスタマイズ</li>
<li>資産、ビジネス、ポリシー、医療などの人気の高いカテゴリを使用した ArcGIS のデータ検索</li>
<li>その他品質、操作性、およびカートグラフィックの機能強化</li>
</ul>
  <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
          <ul>
           <li><a href="#whatsNew">新機能</a></li>		
		  <li>サポートされている環境
			<ul>
			<li><a href="/ja/maps-for-cognos/install-windows/supported-environments.htm">Windows</a></li>
			<li><a href="/ja/maps-for-cognos/install-linux/supported-environments.htm">Linux および UNIX</a></li>
			</ul></li>
		  
			<li>以前のバージョンのヘルプ: 
			<ul>
			<li><a href="/en/maps-for-cognos/6.0">6.0</a>
			<li><a href="/en/maps-for-cognos/5.0.1">5.0.1</a></li>
			<li>4.3.2
				<ul>
					<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">インストールおよび構成ガイド</a></li>
					<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">レポート作成者ガイド<li>
				</ul>
			</li>
			</ul>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">ビデオを見る</a></li>
		  </ul>
		  </li>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
