---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2015-01-06"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="ru">

dashboardDownloadLink: http://www.arcgis.com/opsdashboard/OperationsDashboard.application
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/operations-dashboard/">На главную</a></li>
        <li><a href="/ru/operations-dashboard/windows-desktop/author/create-a-map.htm">Создание видов</a></li>
        <li><a href="/ru/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Использование видов</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Форум</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Приложение позволяет осуществлять мониторинг действий и события, слежение за полевыми работами, а также оценку состояния повседневных операций.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" id="dashboardDownloadLink" href="#">Получить Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Создать и сделать доступным рабочий вид</h3>
          <p>За три простых шага создайте и опубликуйте рабочие виды, включающие карты, списки, диаграммы, измерения и другую информацию, основанную на текущих географических данных с карты или веб-сервиса.</p>
          <p>
            <a href="/ru/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Покажите мне как</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Отслеживание и реагирование на события</h3>
          <p>Используйте рабочие виды, чтобы сфокусироваться на значимых элементах операции. Отслеживайте сервисы, службу доставки, людей, транспорт и другие объекты во всех точках земного шара всего за четыре шага.</p>
          <p>
            <a href="/ru/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Покажите мне как</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
			<a title="Monitor and respond to events" href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Просмотреть видео</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Мониторинг в браузере</h3>
          <p>Отслеживайте объекты рабочего вида в браузере. Ничего не надо инсталлировать, просто откройте рабочий вид, и будете всегда иметь самую свежую информацию о своих операциях, даже со своего iPad.</p>
          <p>
            <a href="/ru/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Покажите мне как</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Открыть рабочий вид</h3>
          <p>Дополните рабочий вид бизнес-логикой вашей профессиональной сферы с помощью виджетов, действий с объектами и картографических инструментов.</p>
          <p>
            <a href="/ru/operations-dashboard/windows-desktop/author/custom-addins.htm" class="icon-right-arrow">&nbsp;Покажите мне как</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Объекты</h2>
	<p>Отображайте в едином интерфейсе ваши ресурсы и системы управления. В режиме реального времени отслеживайте данные о масштабных событиях и каждодневных операциях, используя настольное или планшетное приложение. Создавайте собственные рабочие панели управления, объединяющие карты, диаграммы и графики.</p>
	
	<ul>
	<li>Используйте карты с динамическими источниками данных, обеспечивающими отображение в реальном времени.</li>
	<li>Настраивайте диаграммы, шкалы, гистограммы и т.п. для статистического контекста.</li>
	<li>Создавайте и публикуйте рабочие виды, нацеленные на решение определенных задач.</li>
	<li>Создавайте изображения для отображения на нескольких или на одном мониторе.</li>
	<li>Создавайте собственные виджеты и инструменты для ваших целей.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Системные требования</h2>

        <p>Для запуска Operations Dashboard имеются определенные требования к устройству, а также требования к данным, использующимся в приложении. Operations Dashboard поддерживается на нескольких языках.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Windows для приложения</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Поддерживаемые операционные системы</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 8.1, Windows 8.1 Pro и Windows 8.1 Enterprise (32- и 64-разрядные [EM64T])</li>
          <li>Windows 8.1, Windows 8.1 Pro и Windows 8.1 Enterprise (32- и 64-разрядные [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional и Home Premium (32- и 64-разрядные [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard и Datacenter (64-разрядная [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise и Datacenter (64-разрядные [EM64T]) SP1</li>
		<li>Windows Server 2008 EM64T Standard, Enterprise и Datacenter (32- и 64-разрядные [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Требования к аппаратному обеспечению</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Частота процессора: 2.2 ГГц или выше; рекомендуется технология Hyper-Threading (HTT) или Multi-core.</li>
			<li>Процессор: Intel Pentium 4, Core Duo или Xeon; SSE2 (или выше)Для проверки процессора из командной строки Windows запустите утилиту Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a>.</li>
			<li>Пространство на диске: 1,5 ГБ свободного места на диске.</li>
			<li>Память/RAM: 2 ГБ или выше.</li>
			<li>Свойства отображения: глубина цвета 24 разряда.</li>
			<li>Разрешение экрана: Для нормального размера (96 dpi) рекомендуется разрешение 1024x768 или выше.</li>
			<li>Пространство для файла подкачки: определяется операционной системой; минимум 500 МБ.</li>
			<li>Видео/графический адаптер: минимум 64 МБ RAM; рекомендуется 256 МБ RAM; поддерживаются чипсеты NVIDIA, ATI и INTEL. Драйвер видеокарты с ускорителем. Shader Model 2.0 минимум. Убедитесь, что вы используете новейший драйвер.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Требования к программному обеспечению</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px">Требуется <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a>, или более поздняя. Чтобы установить его, необходимы права администратора.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Требования разработчика</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px">Для настройки Operations Dashboard for ArcGIS необходимо программное обеспечение <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> или <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.5 for WPF</a>. Для использования ArcGIS Runtime SDK for WPF также требуется Microsoft Visual Studio 2012 или 2013 Professional, Premium или Ultimate.</p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Поддерживаемые языки</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">Арабский, чешский, датский, нидерландский, английский, эстонский, греческий, финский, французский, немецкий, иврит, итальянский, японский, корейский, латвийский, литовский, норвежский, польский, португальский, португальский (бразильский), румынский, русский, китайский (упрощенный), испанский, шведский, тайский, турецкий и вьетнамский.</p>
     	<p style="padding:0 15px">Язык, используемый в версии приложения для ОС Windows, определяется настройками языка вашей операционной системы. Если в настройках используется неподдерживаемый язык, приложение будет работать на английском языке.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Браузер для приложения</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Поддерживаемые браузеры</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px">Desktop
 <ul style="padding:0 15px">
 <li>Google Chrome (начиная с версии 19.0)</li>
 <li>Firefox (начиная с версии 4.0)</li>
 <li>Microsoft Internet Explorer (начиная с версии 9.0)</li>
 <li>Safari (начиная с версии 5.1)</li>
 </ul> 
Планшет
 <ul style="padding:0 15px">
 <li>Android, начиная с версии 4.0, использующий Chrome, начиная с версии 19.0</li>
 <li>iOS, начиная с версии 6.0, использующий Safari</li>
 </ul>
Телефон (Phone)
 <p style="padding:0 15px">Браузеры смартфонов в настоящее время поддерживается.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp12');" style="display:inline;">Требования разработчика</a>
 <div exp12='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Для настройки Operations Dashboard for ArcGIS необходимо программное обеспечение <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Поддерживаемые языки</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Арабский, чешский, датский, нидерландский, английский, эстонский, греческий, финский, французский, немецкий, иврит, итальянский, японский, корейский, латвийский, литовский, норвежский, польский, португальский, португальский (бразильский), румынский, русский, китайский (упрощенный), китайский традиционный, испанский, шведский, тайский, турецкий и вьетнамский.</p>
      	<p style="padding:0 15px">В версии для браузера задать язык можно в вашем профиле ArcGIS Online. Если в настройках используется неподдерживаемый язык, приложение будет работать на английском языке.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Требования к данным</h3>
		<p>Чтобы использовать карты в Operations Dashboard, необходима учетная запись организации. Ваши карты могут содержать данные с ArcGIS Online, Portal for ArcGIS и ArcGIS for Server. Источники данных должны быть размещены на ArcGIS Online или на ArcGIS for Server версии 10.1 или более новой.</p>
		<p>Если данные опубликованы для общего доступа, рабочий вид можно просматривать в браузере без авторизации.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Что нового</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS версии 10.3.1 был выпущен в сентябре 2015. Он включает в себя:</p>
	        <ul>
	          <li>Исправлен ряд ошибок и добавлено несколько усовершенствований, включая BUG-000089887</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Браузер</h4>
	        <p>Браузерное приложение Operations Dashboard for ArcGIS было обновлено в июле 2015 г. Она включает следующую новую функциональность:</p>
	        <ul>
	          <li>Возможность расширения с помощью ArcGIS API for JavaScript</li>
                  <li>Поддержка темных тонов</li>
                  <li>Поддержка предложений в инструменте Найти местоположения</li>
                  <li>Единицы измерения по умолчанию на основании пользовательского профиля.</li>
	          <li>Локализация на традиционный китайский язык</li>
	          <li>Исправлен ряд ошибок и добавлено несколько усовершенствований, включая BUG-000085800, BUG-000086399, BUG-000085999, BUG-000086586 и NIM101460</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Краткий обзор</h2>
	<p>Operations Dashboard является мощным приложением для мониторинга ваших операций. Но это еще не все! В следующей таблице перечислены области применения этого приложения на ваших устройствах:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Функциональные возможности в зависимости от платформы<br/>
	  <span class="icon-check" style="color:black"></span> в настоящее время, <span class="icon-check icon-green"/> скоро, <span class="icon-check" style="color:lightgray"></span> позднее<br/></caption>
	  <tr><td></td>
	    <th>Windows Desktop</th>
	    <th>Браузер</th>
	  </tr>
	  <tr><th>Создание рабочих видов</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Использование рабочих видов</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Рабочие виды с одним дисплеем</span></td>
	  </tr>
	  <tr><th>Работа с Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 или позже</span></td>
	  </tr>
	  <tr><th>Расширяемый</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Поддерживается в ArcGIS Online</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Возможность расширения с помощью ArcGIS API for JavaScript</span><br/><span style="font-size:12px">* Поддерживается в ArcGIS Online</span></td>
	  </tr>
	  <tr><th>Использование картографических сервисов как источников данных</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>Поиск данных</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Фильтрация пространственной информации</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>Поддержка автономных таблиц как источников данных</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* В настоящий момент как внешние источники данных</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* В настоящий момент как внешние источники данных</span></td>
	  </tr>
	  <tr><th>Поддержка связанных таблиц</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>3D вид</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Управление полевыми работниками</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Делитесь вашими <a href="http://ideas.arcgis.com/">идеями</a> и <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">присылайте нам ваши отзывы</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Подробнее</h3>
          
	  <h4><a href="#features">Пространственные объекты</a></h4>
	  <h4><a href="#systemRequirements">Системные требования</a></h4>
	  <h4><a href="#whatsNew">Что нового</a></h4>
	  <h4><a href="#sneakPeek">Краткий обзор</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
$("#dashboardDownloadLink").click(function (){
	window.location = "<%=data.page.dashboardDownloadLink%>";
})

  </script>
