@import "calcite-web/imports";

.js-version:after {
  display: none;
}

.js-version.icon-ui-check-mark:before {
  color: $white;
}

.js-version.icon-ui-check-mark:hover:before {
  color: $gray;
}

.js-version.icon-ui-check-mark.version-is-active:before {
  color: $green;
}

.js-version.icon-ui-check-mark.version-is-active:hover:before {
  color: $green;
}

developers-download-btn {
  margin-top: .375rem;
}
