
.slideshow .slide .item{float:left;}
.slideshow .slide .item-content{height:300px;overflow:hidden}
.slideshow .prev,.slideshow .next{position:absolute;display:block;height:44px;width:33px;background:url("../img/carousel-arrows.png")}
.slideshow .prev.disabled,.slideshow .next.disabled{cursor:default}
.slideshow .prev{background-position:0 -44px;position:absolute;left:-30px;top:40%}
.slideshow .prev:hover,.slideshow .prev:focus{background-position:-26px -44px}
.slideshow .prev.disabled{background-position:-52px -44px}
.slideshow .next{background-position:0 0;position:absolute;right:-30px;top:40%}
.slideshow .next:hover,.slideshow .next:focus{background-position:-26px 0}
.slideshow .next.disabled{background-position:-52px 0}
.slideshow .cycle-pager{text-align:center;font-size:2.625em;line-height:1.14286em}
.slideshow .cycle-pager span{padding:.125em;color:rgba(0,0,0,0.1);cursor:pointer}
.slideshow .cycle-pager span.cycle-pager-active{color:#007ac2}
.slideshow .cycle-pager span:hover,.slideshow .cycle-pager span:focus{color:#00B9F2}
.slideshow a:hover {text-decoration: none;}
