---
title: Collector for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-12-15"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">
mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Collector for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="http://www.arcgis.com/features/free-trial.html">60-day Free Trial</a>         
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/collector/">Home</a>
        <a class="sub-nav-link" href="/en/collector/overview/overview.htm">Overview</a>
        <a class="sub-nav-link" href="/en/collector/android/create-maps/create-maps.htm">Create Maps</a>
        <a class="sub-nav-link" href="/en/collector/android/collect-data/collect-tutorial.htm">Collect Data</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Put Mapping in the Hands of your Field Workforce</h1>
      <h5>Use your smartphone or tablet to collect and update information in the field, whether connected or disconnected.</h5>
      <!--h5>Start using ArcGIS Online now. <a href="http://www.arcgis.com/features/free-trial.html" >Sign up for your free ArcGIS trial.</a></h5-->
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="Search Collector Help">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="collector-android" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
      <!-- download badges -->
      <p class="trailer-0 leader-half font-size--2"><strong>Version 10.4.1</strong> December 2016
        <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="img/ios-app.png" alt="Download on the App Store" style="margin:10px; vertical-align:middle"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="height:58px; margin:10px; vertical-align:middle"/></a>
        <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store"  style="margin:10px; vertical-align:middle; height:40px"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="./overview/what-s-new.htm">What's new</a></li>
	<li><a href="./overview/requirements.htm">Requirements</a></li>
        <li><a href="./overview/what-s-new.htm">Sneak Peek</a></li>
	<li><a href="./android/create-maps/faqs-create-map.htm">FAQs for creating maps</a></li>
	<li><a href="./android/collect-data/faqs-collect.htm">FAQs for collecting data</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="./android/create-maps/create-maps.htm">
            <img alt="" src="img/CARD_IMAGE_1.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="./android/create-maps/create-maps.htm">Create and share a map</a>
          </h5>
          <p>Extend the reach of ArcGIS into the field, and improve the accuracy and currency of your spatial data. Create and share maps for data collection in two steps.</p>
        </div>
        <a href="./android/create-maps/create-maps.htm" class="btn btn-clear btn-fill leader-0">Start the exercise</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="./android/collect-data/collect-tutorial.htm">
            <img alt="" src="img/CARD_IMAGE_2.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="./android/collect-data/collect-tutorial.htm">Collect data</a>
          </h5>
          <p>Create the data that matters to your organization, from damage reports and service requests to places of historical interest. Easily include images and videos, and share your work.</p>
        </div>
        <nav class="leader-1 trailer-0">
          <a href="./android/collect-data/collect-tutorial.htm" class="btn btn-grouped btn-clear btn-half leader-0">Do it</a>
          <a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">Watch it</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="./android/collect-data/offline-use.htm">
            <img alt="" src="img/CARD_IMAGE_3.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="./android/collect-data/offline-use.htm">Go offline</a>
          </h5>
          <p>Fieldwork takes you places without a data connection. Take your maps and data offline, collect data, and get back in sync once reconnected.</p>
        </div>
        <a href="./android/collect-data/offline-use.htm" class="btn btn-clear btn-fill leader-0">Learn how</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="./android/create-maps/gps-high-accuracy-receivers.htm">
            <img alt="" src="img/CARD_IMAGE_4.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="./android/create-maps/gps-high-accuracy-receivers.htm">Get professional-grade accuracy</a>
          </h5>
          <p>Use a high-accuracy receiver and get up to centimeter accuracy. Capture with confidence and record GPS metadata to know the quality of your data.</p>
        </div>
        <nav class="leader-1">
          <a href="./android/create-maps/gps-high-accuracy-receivers.htm" class="btn btn-grouped btn-clear btn-half leader-0">Set up</a>
          <a href="./android/collect-data/high-accuracy-gps.htm" class="btn btn-grouped btn-clear btn-half leader-0">Use it</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Get even more out of ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/"  title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/"  title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with Collector</h4>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/collector-tools"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/collector/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/collector/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds?community=2120" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
