---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-03-01"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Home</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Create Maps</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Collect Data</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Use your smartphone or tablet to collect and update information in the field, whether connected or disconnected.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store"  style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" alt="Create a map" title="Create a map"/>

          <h3>Create and share a map</h3>
          <p>Extend the reach of ArcGIS into the field, and improve the accuracy and currency of your spatial data. Create and share maps for data collection in two steps.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
            <a href="https://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Jump-start with templates</a>
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" alt="Collect data" title="Collect data"/>

          <h3>Collect data</h3>
          <p>Create the data that matters to your organization, from damage reports and service requests to places of historical interest. Easily include images and videos, and share your work.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

			<a title="Collect data" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" alt="Go offline" title="Go offline" />

          <h3>Go offline</h3>
          <p>Fieldwork takes you places without a data connection. Take your maps and data offline, collect data, and get back in sync once reconnected.</p>
          <p>
            <a href="/en/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png"  alt="Professional-grade accuracy" title="Professional-grade accuracy"/>

          <h3>Get professional-grade accuracy</h3>
          <p>Use a high-accuracy receiver and get up to centimeter accuracy. Capture with confidence and record GPS metadata to know the quality of your data.</p>
          <p>
            <a href="/en/collector/android/create-maps/gps-high-accuracy-receivers.htm" class="icon-right-arrow">&nbsp;Set up for collection</a><br />
            <a href="/en/collector/android/collect-data/high-accuracy-gps.htm" class="icon-right-arrow">&nbsp;Use high-accuracy GPS</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Features</h2>
	<p>Collect and update data in the field, log your current location, and put the data you capture to work so you can make more informed and timely decisions. 
	Use maps anywhere to ground-truth your data, make observations, and respond to events. 
	You'll improve the efficiency of your field workforce and the accuracy of your GIS.</p>
	
	<ul>
	<li>Collect and update data using the map or GPS.</li>
	<li>Download maps to your device and work offline.</li>
	<li>Collect points, lines, areas, and related data.</li>
	<li>Fill out easy-to-use, map-driven forms.</li>
	<li>Attach photos to your features.</li>
	<li>Use professional-grade GPS receivers.</li>
	<li>Search for places and features.</li>
	<li>Track and report where you've been.</li>
	<li>Integrate with <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>).</li>
	<li>Integrate with <a href="http://workforce.arcgis.com">Workforce for ArcGIS</a> (<span class="icon-apple"/>).</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">System requirements</h2>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.1 (Jelly Bean) or later</li>
          <li>ARMv7 or x86 processor</li>
          <li>OpenGL ES 2.0 support</li>
          <li>Precise location (GPS and network-based) support</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 8 or later</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10.0.586 or later (tablet and PC)</li>
        </ul></td></tr>
        </table>

        <h3>Supported languages</h3>
        <p>Arabic, Croatian, Czech, Danish, Dutch, English, Estonian (<span class="icon-android"/>, <span class="icon-windows-8"/>), Finnish, 
           French, German, Greek, Hebrew, Italian, Japanese, Korean, Latvian (<span class="icon-android"/>, <span class="icon-windows-8"/>), 
           Lithuanian (<span class="icon-android"/>, <span class="icon-windows-8"/>), Norwegian, Polish, Portuguese (Brazil), 
           Portuguese (Portugal), Romanian, Russian, Simplified Chinese, Serbian (<span class="icon-android"/>, <span class="icon-windows-8"/>), 
           Spanish, Swedish, Thai, Traditional Chinese (Hong Kong), Traditional Chinese (Taiwan), Turkish, and Vietnamese.</p>
        <p>The language used by the app is determined by your device's language setting.</p>
        
        <a name="arcgisRequirements"></a>
        <h2 class="divider">ArcGIS requirements</h2>
        <p>To use your maps in Collector, you must have an ArcGIS organizational account. ArcGIS Online and Portal for ArcGIS 10.3.1 and later are supported.</p>
        <p>Your maps can include data from ArcGIS Online, Portal for ArcGIS, and ArcGIS for Server. For details, see <a href="/en/collector/android/create-maps/supported-data.htm">Supported data</a>.</p>
       

        <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>
        <p>Collector for ArcGIS 10.4 was released in July 2016 (Android coming soon). It includes the following enhancements:</p>
        <ul>
	  <li>Support for high-accuracy GPS receivers</li>  
	  <li>Preserve EXIF data on attachments</li>
	  <li>Support for attaching additional file types, including PDF and Word docs (<span class="icon-windows-8"/>)</li>
	  <li>Integration with <a href="http://workforce.arcgis.com">Workforce for ArcGIS</a> (<span class="icon-apple"/>)</li>
	  <li>Localized into Croatian and Serbian</li>
	  <li>Various bug fixes and improvements, including <a href="http://support.esri.com/bugs/nimbus/QlVHLTAwMDA5NDM1NQ==">BUG-000094355</a>, <a href="http://support.esri.com/bugs/nimbus/QlVHLTAwMDA5NDcwNA==">BUG-000094704</a>, and <a href="http://support.esri.com/bugs/nimbus/QlVHLTAwMDA5NTY2MA==">BUG-000095660</a></li>
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">Sneak peek</h2>
	<p>Today, Collector is a great app for collecting and editing your data in the field. But there is more to come!
	
	<table><tr><td valign="top"><h4>In development</h4>
	<p>We are currently working to add these features:</p>
	<ul>
		<li>Data collection with offsets</li>
		<li>Integration with <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>)</li>
		<li>Integration with <a href="http://workforce.arcgis.com">Workforce for ArcGIS</a> (<span class="icon-android"/>, <span class="icon-windows-8"/>)</li>
	</ul>
	</td>
	<td valign="top"><h4>Planned</h4>
	<p>Over time, we plan to add the following features:</p>
	<ul>
		  <li>Smarter data collection forms</li>
		  <li>More tools for planning offline field operations</li>
		  <li>Integration of peripherals (laser range finders, bar code scanners, and so on)</li>
		  <li>Support for Windows 10 Mobile</li>
	</ul>
	</td></tr></table>

	<p>Share your <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Bcollector-for-arcgis%5D">ideas</a>, and <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">send us your feedback</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">System requirements</a></h4>
	  <h4><a href="#arcgisRequirements">ArcGIS requirements</a></h4>
	  <h4><a href="#whatsNew">What's new</a></h4>
	  <h4><a href="#sneakPeek">Sneak peek</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
