---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ko">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/ko/web-appbuilder/">홈</a></li>
        <li><a href="/ko/web-appbuilder/create-apps/">앱 생성</a></li>
        <li><a href="/ko/web-appbuilder/manage-apps/">앱 관리</a></li>
        <li class='current'><a href="/ko/web-appbuilder/extend-apps/">앱 확장</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">개발자 버전으로 Web AppBuilder 확장</h2> 

          <p>Web AppBuilder for ArcGIS(개발자 버전)를 사용하여 위젯과 테마를 생성합니다. <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"></a>를 방문하여 개발자 버전을 다운로드하고 나만의 고유한 사용자 정의 앱을 생성하는 방법에 대해 알아보세요.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>기업 역량 강화 </h3>
          <p><ul>
            <li>데스크톱, 태블릿, 스마트폰에서 실행되는 웹 앱 생성의 생산성 강화</li>
            <li>여러분의 워크플로에 특정한 컴포넌트를 생성하는 데 중점을 두도록 응용프로그램 프레임워크와 즉시 사용 가능한 위젯 활용</li>
            <li>사용자 정의 테마를 생성하여 앱을 개인 설정</li>
            <li>다른 개발자가 공유한 위젯 및 테마를 사용하여 새 앱 생성</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>판매할 앱 생성</h3>
          <p><ul>
            <li>앱을 생성하여 <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a>에서 홍보하고 판매 <a class="icon-external-link" href="http://marketplace.arcgis.com/"></a></li>
            <li>고객이 Web AppBuilder로 효과적인 새 앱을 구성하는 데 사용할 수 있도록 사용자 정의 위젯 및 테마 생성</li>
            <li>회사 고유 브랜드의 사용자 정의 테마 생성</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>다운로드하고 자세한 내용을 보려면 <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"></a>를 방문하세요.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

