<!doctype html>
---
title: Usaldus – Süsteemi olek
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online'i usaldus" href="/en/trust/">Usaldus</a></li>
        <li class='current'><a title="ArcGIS Online'i süsteemi olek" href="/en/trust/system-status/">Süsteemi olek</a></li>
        <li><a title="ArcGIS Online'i turvalisus" href="/en/trust/security/">Turvalisus</a></li>		
        <li><a title="ArcGIS Online'i privaatsus" href="/en/trust/privacy/">Privaatsus</a></li>
        <li><a title="ArcGIS Online'i privaatsus" href="/en/trust/compliance/">Nõuetele vastavus</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Viga: manustatud andmeid ei õnnestunud kuvada.</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online'i toimimise staatused annavad kontrollitud olekuteavet, mis kehtib enamiku kasutajate jaoks. Kuna ArcGIS Online on suur pilvepõhine platvorm, mõjutavad paljud sündmused laiemat kasutajaskonda piiratud määral (kui sedagi). Sellele olekulehele ei postitata konkreetseid ettevõtteid puudutavaid probleeme, sest soovime, et nendele leitaks lahendus meie olemasolevate tugiteenuste kaudu.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
