---
title: Esri Maps for SAP BusinessObjects
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SAP BusinessObjects Home page."><META name="last-modified" content="2014-09-17"><META name="product" content="esri-maps-bo"><META name="sub_category" content="Esri Maps for SAP BusinessObjects"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SAP BusinessObjects"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="sapbobj-1.0,sapbobj-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/en/maps-for-sap-bobj/">Esri Maps for SAP BusinessObjects</a>
          </nav>
          <h1 class="sub-nav-title leader-1 text-white">Esri Maps for SAP BusinessObjects</h1>
          <p>&nbsp;</p>

          <p class="text-white font-size--2"><strong>Version 2.0</strong> Fall 2014</p>
        </div>
        <!-- Placeholder for image in blue banner-->
        <div class="sdk-home-banner-image">
          <img src="../arcgis-online/img/main-scalable.png">
        </div>
        <div class="search-bar">
          <form id="helpSearchForm" target="_top">
            <input type="search" name="q" class="leader" placeholder="Search Esri Maps for SAP BOBJ">
            <input type="hidden" name="collection" value="help" />
            <input type="hidden" name="product" value="esri-maps-sapbobj" />
            <input type="hidden" name="language" value="<%= current_language %>" />
            <button class="search-submit icon-ui-search" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link is-active" href="/en/maps-for-sap-bobj/">Home</a></li>
        <a class="sub-nav-link" href="/en/maps-for-sap-bobj/install-and-configure/">Install</a>
        <a class="sub-nav-link" href="/en/maps-for-sap-bobj/design-maps/">Design Maps</a>
        <a class="sub-nav-link" href="/en/maps-for-sap-bobj/use-maps/">Use Maps</a>
        <a class="sub-nav-link" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus[published]~objecttype~objecttype[thread]&filterID=contentstatus[published]~tag[_sap_business_objects]">GeoNet</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <h2 id="appTitle">Get the app</h2>
    <p>Enrich your SAP models with live interactive maps, allowing dashboard consumers to analyze business data visually and interactively. Create maps that interact with other components in your dashboard, and combine published geographic data from ArcGIS with SAP BusinessObjects business data for richer analysis. Esri Maps for SAP BusinessObjects seamlessly integrates into the everyday workflows familiar to you and dashboard consumers, without the need for custom coding or GIS expertise. Dashboard consumers require no additional skills or tools to start using map-enabled reports to analyze their data visually; they can view, browse, query, and manipulate the maps in the dashboards using tools and actions that you configure.</p>
    <p>
      <a class="btn" href="http://www.esri.com/software/location-analytics/esri-maps-for-sap-business-objects/pricing">Get Esri Maps for SAP BusinessObjects</a>
    </p>
  </div>
  <div class="column-8 tablet-column-12 right">
	  <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">Esri Maps for SAP BusinessObjects offers significant updates and enhancements for dashboard designers, consumers, and administrators.</p>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="#">What's new</a></li>
        <li><a href="#">Supported environments</a></li>
	      <li><a href="/en/maps-for-sap-bobj/design-maps/build-a-map-enabled-dashboard.htm">Build a map-enabled dashboard</a></li>
        <li><a href="/en/maps-for-sap-bobj/1.0/">Help for previous versions</a></li>
        <li><a href="http://video.arcgis.com/series/158/location-analytics/">Watch Location Analytics videos</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>


<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/maps-for-sap-bobj/design-maps/build-a-map-enabled-dashboard.htm"><img class="trailer-1" alt="" src="map-your-data.png"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Map your universe data</h3>
            <p>With Esri Maps for SAP BusinessObjects, you can easily map your SAP BusinessObjects data, whether it's stored in a universe or in the dashboard's embedded spreadsheet.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-sap-bobj/design-maps/build-a-map-enabled-dashboard.htm">Learn more</a></p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge cboxElement" title="Watch a video" href="http://video.arcgis.com/iframe/4102/000000/width/960/0/00:00:00">Watch a video</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/maps-for-sap-bobj/use-maps/add-data-from-arcgis.htm"><img class="trailer-1" alt="" src="addArcGISdata.png"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Add data from ArcGIS to your map</h3>
            <p>Esri Maps for SAP BusinessObjects works directly with your ArcGIS subscription, allowing you to search for content within your organization and other public content published by the GIS community. Adding data from ArcGIS is a quick and easy way to complement your existing SAP Dashboards data.</p>
				    <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-sap-bobj/use-maps/add-data-from-arcgis.htm">Learn more</a></p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge cboxElement" title="Watch a video" href="http://video.arcgis.com/iframe/4103/000000/width/960/0/00:00:00">Watch a video</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/maps-for-sap-bobj/design-maps/configure-the-map-as-a-selector.htm"><img class="trailer-1" alt="" src="config-selector.png"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Configure a map as a selector</h3>
            <p>You can quickly add interactivity between components in your map-enabled dashboard by configuring selectors. A map configured as a selector lets users dynamically update other dashboard components by selecting features on the map.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-sap-bobj/design-maps/configure-the-map-as-a-selector.htm">Learn More</a></p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge cboxElement" title="Watch a video" href="http://video.arcgis.com/iframe/4104/000000/width/960/0/00:00:00">Watch a video</a></p>
          </div>
        </div>
      </div>
		  <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/maps-for-sap-bobj/design-maps/configure-the-map-as-the-target-of-selectors.htm"><img class="trailer-1" alt="" src="mapTarget.png"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Configure a map as a target</h3>
            <p>Esri Maps for SAP BusinessObjects lets you configure standard SAP Dashboards components to seamlessly update features on the map based on the user's interaction with other objects on the dashboard.</p>
				    <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-sap-bobj/design-maps/configure-the-map-as-the-target-of-selectors.htm">Learn more</a></p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge cboxElement" title="Watch a video" href="http://video.arcgis.com/iframe/4102/000000/width/960/0/00:00:00">Watch a video</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Collapsible contents -->

<!-- Blog -->
<div class="panel panel panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">From our Blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/location-analytics/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/location-analytics/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Discussions on GeoNet
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus[published]~objecttype~objecttype[thread]&filterID=contentstatus[published]~tag[_sap_business_objects]">Read more  <span class="icon-ui-small icon-ui-link-external"></span></a>
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/discussion/create.jspa?sr=cmenu&question=false&suppressMarkQuestion=true&containerType=14&containerID=2086">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/threads?community=2086" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
	<div class="grid-container">
	  <div class="column-25 text-white text-center">
			<h4 class="trailer-half">Connect with the Esri Maps for SAP BusinessObjects</h4>
			<a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISRuntime"></a>
			<a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Android"></a>
			<a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/EsriGeoDev"></a>
			<a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-android"></a>
			<a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
		</div>
	</div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-white text-rule padding-trailer-half">From our Videos
        <a class="btn btn-transparent btn-large right" href="http://video.esri.com/search/sap-business-objects">More Videos <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div class="flexible-block-group flexible-block-group-4-up">
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3133/000000/width/960/1" class="colorbox-evlarge" title="Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects"><img alt="Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects" src="http://video.esri.com/thumbs/2014/02/3133/3133-integrating-our-enterprise-systems-_dash_-esri-maps-for-sap-business-objects-with-david-schmidt_x.jpg"></a>
            <h5 class="leader-1">Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/3133/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="//video.arcgis.com/iframe/2484/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Business Intelligence"><img alt="Esri Maps for Business Intelligence" src="http://video.esri.com/thumbs/2013/08/2720/2720-esri-maps-for-business-intelligence_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Business Intelligence</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/2720/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3133/000000/width/960/1" class="colorbox-evlarge" title="Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects"><img alt="Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects" src="http://video.esri.com/thumbs/2014/02/3133/3133-integrating-our-enterprise-systems-_dash_-esri-maps-for-sap-business-objects-with-david-schmidt_x.jpg"></a>
            <h5 class="leader-1">Integrating Our Enterprise Systems - Esri Maps for SAP Business Objects</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/3133/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="//video.arcgis.com/iframe/2484/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Business Intelligence"><img alt="Esri Maps for Business Intelligence" src="http://video.esri.com/thumbs/2013/08/2720/2720-esri-maps-for-business-intelligence_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Business Intelligence</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/2720/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
