---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">ホーム</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">マップの作成</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">データの収集</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリケーションのダウンロード</h2>
          <span id="appVersion"><strong>バージョン:</strong>10.2</span> <span id="appReleased"><strong>公開日時:</strong>2013 年 11 月</span>


          <p>スマートフォンを使用して、現場での情報の収集や更新、現在地のログ記録、および取得したデータの操作などを行えるため、より多くの情報を基にしてタイムリーな意志決定を行うことができます。</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">システム要件</a> <a id="appWhatsNew" href="#whatsNew">新機能</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>マップの作成および共有</h3>
          <p>ArcGIS の活用範囲をフィールドに拡大し、空間データの正確性と最新性を改善します。2 つの手順でデータ収集のためのマップを作成および共有します。</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;使用方法</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>データの収集</h3>
          <p>場所の検索、距離の計算、サービス リクエストの作成、損害報告などは、データ収集におけるマップの機能のほんの一部に過ぎません。画像やビデオと共にインテリジェントなデータを作成し、そのデータを 5 つの手順で世界のユーザと共有します。</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;使用方法</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>システム要件</h2>

        <p>Collector for ArcGIS を実行するためのデバイス要件は、次のとおりです。アプリケーション内で使用するデータについても要件があります。Collector for ArcGIS では、多数の言語がサポートされています。</p>


        <h3>データ要件</h3>
        <p>Collector for ArcGIS でマップを使用するには、ArcGIS Online 組織向けアカウントが必要です。マップには、ArcGIS Online、Portal for ArcGIS、および ArcGIS for Server のデータを含めることができます。</p>


        <h3>デバイス要件</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0（Ice Cream Sandwich）<br/>以降</li>
          <li>Armv7 プロセッサ</li>
          <li>OpenGL ES 2.0 のサポート</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 以降</li>
        </ul></td><tr></table>


        <h3>サポートされている言語</h3>
        <p>Arabic, Czech, Danish, Dutch, English, Estonian (<span class="icon-android"/>), Finnish, French, German, Hebrew, Italian, Japanese, Korean, Latvian (<span class="icon-android"/>), Lithuanian (<span class="icon-android"/>), Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Simplified Chinese, Spanish, and Swedish.</p>
        <p>アプリケーションで使用される言語は、お使いのスマートフォンの言語設定によって決まります。</p>


        <a name="whatsNew"></a>
        <h2>新機能</h2>
        <p>2013 年 11 月にリリースされた Collector for ArcGIS バージョン 10.2 では、次の機能が強化されました。</p>
        <ul>
        <li>ユーザ エクスペリエンスの向上</li>
        <li>タブレットおよび iPad に特化された操作性</li>
        <li>ラインおよびポリゴンの収集をサポート</li>
        <li>GPS ストリーミング</li>
        <li>収集ワークフローの改善</li>
        <li>マップのタップ操作の改善</li>
        <li>いくつかのバグ修正および機能改善</li>
        <li>エンタープライズ ログインのサポート</li>
        <li>サポート言語の追加</li>
        <li>Android で解決された問題: NIM090003、NIM090935、NIM091973、NIM092424、NIM092833</li>
        <li>iOS で解決された問題: NIM094438、NIM094401</li>
        </ul>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">ガイド ツアー</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">マップの作成および共有</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">データの収集</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
