---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-03-01"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="ja"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/collector/">ホーム</a></li>
        <li><a href="/ja/collector/android/create-maps/create-maps.htm">マップの作成</a></li>
        <li><a href="/ja/collector/android/collect-data/collect-tutorial.htm">データの収集</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">オンラインでもオフラインでも、スマートフォンまたはタブレットを使用して、現場で情報を収集および更新できます。</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>マップの作成と共有</h3>
          <p>ArcGIS を屋外で利用することにより、お持ちの空間データの精度と鮮度が向上します。2 つの手順でデータ収集のためのマップを作成および共有します。</p>
          <p>
            <a href="/ja/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;使用方法</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>データの収集</h3>
          <p>損害報告や史跡の修繕依頼など、組織にとって重要なデータを作成します。画像およびビデオを簡単に追加して、データを共有します。</p>
          <p>
            <a href="/ja/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;使用方法</a><br />

			<a title="データの収集" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>オフライン操作</h3>
          <p>インターネットに接続できない場所でも現場作業を行えます。マップおよびデータをオフラインで使用し、データを収集します。再度オンラインに接続したときにデータを同期します。</p>
          <p>
            <a href="/ja/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;使用方法</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>テンプレートを使用してジャンプ スタート</h3>
          <p>各業界には、その業界で一般的に使用されるデータセットがあります。テンプレートをダウンロードして必要な基本データ構造を作成し、特定の業務に合わせてカスタマイズします。</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;ダウンロードの表示</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">特長</h2>
	<p>現場で情報を収集および更新したり、現在の位置を記録したり、キャプチャしたデータを作業に活かし、情報を得た上での意思決定をタイムリーに下せます。
	どこにいてもマップを使用して、データの現地調査、観測、イベントへの対応に利用できます。
	屋外調査員の効率性と GIS の正確性が改善されます。</p>
	
	<ul>
	<li>マップを各種端末にダウンロードしてオフラインで操作</li>
	<li>GPS を使用したマップ データの作成と更新</li>
	<li>ポイント、ライン、およびポリゴン フィーチャの収集</li>
	<li>マップ ドリブンで使いやすいフォームでのデータ入力</li>
	<li>場所とフィーチャを検索します。</li>
	<li>訪問したエリアの記録と報告</li>	
	<li><a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>) と統合します。</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">システム要件</h2>

        <p>Collector for ArcGIS を実行するためのデバイス要件は、次のとおりです。アプリ内で使用するデータについても要件があります。Collector for ArcGIS では、多数の言語がサポートされています。</p>


        <h3>データ要件</h3>
        <p>Collector for ArcGIS でマップを使用するには、ArcGIS の組織アカウントが必要です。マップには、ArcGIS Online、Portal for ArcGIS、および ArcGIS for Server のデータを含めることができます。</p>


        <h3>デバイス要件</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) 以降</li>
          <li>ARMv7 または x86 プロセッサ</li>
          <li>OpenGL ES 2.0 サポート</li>
          <li>正確な位置を (GPS およびネットワークに基づいて) サポート</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 8 以降</li>
          <li>iPhone、iPad、iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10 以降 (タブレットおよび PC)</li>
        </ul></td></tr>
        </table>


        <h3>サポートされている言語</h3>
        <p>アラビア語、チェコ語、デンマーク語、オランダ語、英語、エストニア語 (<span class="icon-android"/>、<span class="icon-windows-8"/>)、フィンランド語、フランス語、ドイツ語、ギリシャ語、ヘブライ語、イタリア語、日本語、韓国語、ラトビア語 (<span class="icon-android"/>、<span class="icon-windows-8"/>)、リトアニア語 (<span class="icon-android"/>、<span class="icon-windows-8"/>)、ノルウェー語、ポーランド語、ポルトガル (ブラジル) 語、ポルトガル (ポルトガル) 語、ルーマニア語、ロシア語、中国語 (簡体字)、スペイン語、スウェーデン語、タイ語、繁体字中国語 (香港)、トルコ語、およびベトナム語。</p>
        <p>アプリで使用される言語は、デバイスの言語設定によって決まります。</p>

        <a name="whatsNew"></a>
        <h2 class="divider">新機能</h2>
        <!--p>Collector for ArcGIS 10.3.7 was released on Windows in February 2016, and on Android and iOS in March 2016. It includes the following enhancements:</p>
        <ul>
	  <li>Support for advanced offline options to optimize download and sync</li>          
	  <li>Various bug fixes and improvements, including <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MjY2Mw==">BUG-000092663</a></li>
        </ul-->
        <table>
          <tr>
            <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
              <p>Collector for ArcGIS 10.3.8 は、2016 年 3 月にリリースされました。機能強化された点は次のとおりです。</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
              <p>Collector for ArcGIS 10.3.7 は、2016 年 3 月にリリースされました。機能強化された点は次のとおりです。</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-windows-8">Windows</h4>
              <p>Collector for ArcGIS 10.3.7 は、2016 年 2 月にリリースされました。機能強化された点は次のとおりです。</p>
            </td>
          </tr>
          <tr>
            <td valign="top"><ul>
              <li>ダウンロードおよび同期を最適化する高度なオフライン オプションのサポート</li>          
              <li>BUG-000092663 など、多数のバグ修正および機能改善</li>
            </ul></td>
            <td valign="top"><ul>
              <li>ダウンロードおよび同期を最適化する高度なオフライン オプションのサポート</li>
            </ul></td>
            <td valign="top"><ul>
              <li>ダウンロードおよび同期を最適化する高度なオフライン オプションのサポート</li>
            </ul></td>
          </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">追加予定の機能</h2>
	<p>Collector for ArcGIS は、現場でデータを収集したり編集するための非常に優れたアプリです。今後、さまざまな機能の追加が予定されています。
	
	<table><tr><td valign="top"><h4>開発中の機能</h4>
	<p>現在、次の機能の追加に取り組んでいます。</p>
	<ul>
		<li>外部 GNSS レシーバーのサポート</li>
		<li>Windows 10 Mobile のサポート</li>
		<li><a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>) との統合</li>
	</ul>
	</td>
	<td valign="top"><h4>計画中の機能</h4>
	<p>次のような機能の搭載を予定しています。</p>
	<ul>
		  <li>よりスマートなデータ収集フォーム</li>
		  <li>オフラインでの現場操作を計画するためのツール</li>
		  <li>オフセットを使用したデータ収集</li>
		  <li>周辺機器 (レーザー レンジ ファインダー、バーコード スキャナーなど) との統合</li>
	</ul>
	</td></tr></table>

	<p><a href="http://ideas.arcgis.com/">アイデア</a>を共有したり、<a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">フィードバックを送信</a>します。</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>詳細</h3>
	          
	  <h4><a href="#features">特長</a></h4>
	  <h4><a href="#systemRequirements">システム要件</a></h4>
	  <h4><a href="#whatsNew">新機能</a></h4>
	  <h4><a href="#sneakPeek">追加予定の機能</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
