---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/da/marketplace/">Hj&aelig;lp</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/marketplace/">Hoved</a></li>
        <li><a href="/da/marketplace/consumer/">For forbrugere</a></li>
        <li><a href="/da/marketplace/provider/">For udbydere</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Hvad er Markedsplads?</h2>

          <p>ArcGIS Markedsplads er en destination, der g&oslash;r det muligt for ArcGIS Online-organisationer at s&oslash;ge i, udforske og hente apps og data fra kvalificerede udbydere (Esri-forretningspartnere, Esri-distribut&oslash;rer og Esri) til brug inden for deres organisation. De apps og datatjenester, der findes p&aring; markedspladsen, kan g&oslash;res tilg&aelig;ngelige for enhver ArcGIS Online-organisation p&aring; verdensplan.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Optim&eacute;r din virksomhed </h3>
          <p>Find apps og datatjenester, som du kan bruge i din organisation. N&aring;r du har hentet en app eller datatjeneste, kan du nemt dele den med grupper og brugere inden for din organisation.</p>
          <p>

			<a href="/da/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a> 
			<br/> 
			<a href="/da/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>N&aring; ud til dine brugere</h3>
          <p>ArcGIS Markedsplads indeholder en mekanisme til at generere kundeemner, levere gratis pr&oslash;veversioner, give adgang til dine lister og administrere abonnementer.</p>
          <p>
            <a href="/da/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a> <br/> 
			<a href="/da/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Kvalifikation som udbyder</a> <br/> 
			<a href="/da/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS-websted til id&eacute;er</h3>
         <p>Kan du ikke finde den app eller datatjeneste, du skal bruge? Send et forslag, eller stem p&aring; eksisterende id&eacute;er.</p>
         <p>Er du udbyder og s&oslash;ger efter id&eacute;er? Se, hvad kunderne beder om. Invit&eacute;r bidragydere til at arbejde privat sammen med dig om at udvikle id&eacute;er.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

