---
title: Navigator for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/navigator-1

metatags:
  - <META name="description" content="Navigator for ArcGIS Home page."><META name="last-modified" content="2017-01-11"><META name="product" content="navigator-iphone,navigator-ipad,navigator-android-tablet,navigator-android-phone"><META name="sub_category" content="Navigator for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Navigator for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="it"><META name="msApplication-TileImage" content="/img/app-tile/navigator.jpg">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Navigator for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="https://marketplace.arcgis.com/signin.html?returnUrl=purchase.html%3Fid%3Db2d9a4dd70174fac8986dd2bf15a477a%26trial%3Dtrue">Versione di prova</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/navigator/" selected>Home</option>
        <option value="/en/navigator/overview/overview.htm">Panoramica</a>
	<option value="/en/navigator/prepare-maps/prepare-maps.htm">Prepara mappe</a>
        <option value="/en/navigator/android-phone/navigate/guided-tour.htm">Naviga</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/it/navigator/">Home</a>
        <a class="sub-nav-link" href="/it/navigator/overview/overview.htm">Panoramica</a>
        <a class="sub-nav-link" href="/it/navigator/prepare-maps/prepare-maps.htm">Prepara mappe</a>
        <a class="sub-nav-link" href="/it/navigator/android-phone/navigate/guided-tour.htm">Naviga</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Vai dove è richiesta la tua presenza</h1>
      <h5>Impiegare i dati forniti, i dati personali o entrambi per cercare e navigare direttamente verso le risorse dell'organizzazione, aumentando l'efficienza e migliorando l'affidabilità degli addetti sul campo.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Guida della ricerca di Navigator">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="navigator-android-phone" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
      <!-- download badges -->
      <p class="trailer-0 leader-half font-size--2">
        <a href="https://itunes.apple.com/us/app/navigator-for-arcgis/id980973560"><img src="/assets/img/badges/app_store.svg" alt="Scarica nell'App Store" style="margin:10px; vertical-align:middle"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.esri.navigator&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Ottienilo in Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="height:58px; margin:10px; vertical-align:middle"/></a>
        <a href="https://www.amazon.com/Esri-Inc-Navigator-for-ArcGIS/dp/B01GKLLC36/"><img alt="Disponibile presso Amazon" src="/assets/img/badges/amazon.png" style="height:40px; margin:10px; vertical-align:middle"/></a>

      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/it/navigator/overview/whats-new.htm">Novità</a></li>
	<li><a href="/it/navigator/overview/requirements.htm">Requisiti</a></li>
	<li><a href="/it/navigator/prepare-maps/faqs-author.htm">Domande frequenti relative alla preparazione delle mappe</a></li>
	<li><a href="/it/navigator/android-phone/navigate/faqs.htm">Domande frequenti relative alla navigazione</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/it/navigator/android-phone/navigate/guided-tour.htm">
            <img alt="" src="/en/navigator/img/guidedTour.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/it/navigator/android-phone/navigate/guided-tour.htm">Tour guidato</a>
          </h5>
          <p>Prova Navigator: scarica mappe pertinenti, crea un percorso, riordina le soste, configura le modalità di viaggio e crea un percorso verso la destinazione.</p>
        </div>
        <nav>
          <a href="/it/navigator/android-phone/navigate/guided-tour.htm" class="btn btn-grouped btn-clear btn-half leader-0">Eseguilo</a> <a href="http://video.arcgis.com/iframe/4633/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">Guardalo</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/it/navigator/prepare-maps/prepare-maps.htm">
            <img alt="" src="/en/navigator/img/yourData.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/it/navigator/prepare-maps/prepare-maps.htm">Usa i tuoi dati</a>
          </h5>
          <p>Creare mappe di navigazione con i propri dati, cercare le risorse, il percorso sulle strade e visualizzare i layer.</p>
        </div>
        <a href="/it/navigator/prepare-maps/prepare-maps.htm" class="btn btn-clear btn-fill leader-0">Avviare l'esercizio</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/it/navigator/android-phone/navigate/esri-app-integration.htm">
            <img alt="" src="/en/navigator/img/collectData.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/it/navigator/android-phone/navigate/esri-app-integration.htm">Integrare con Collector</a>
          </h5>
          <p>Connettersi facilmente con altre app Esri quali Collector for ArcGIS per raggiungere le sedi di lavoro durante il lavoro sul campo.</p>
        </div>
        <a href="/it/navigator/android-phone/navigate/esri-app-integration.htm" class="btn btn-clear btn-fill leader-0">Ulteriori informazioni</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="https://github.com/Esri/navigator-integration">
            <img alt="" src="/en/navigator/img/sendStops.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="https://github.com/Esri/navigator-integration">Inviare le fermate a Navigator</a>
          </h5>
          <p>Utilizzare lo schema URL personalizzato per consentire agli utenti di avviare Navigator dall'app, dal sito Web o dall'e-mail e navigare in base ai parametri forniti.</p>
        </div>
        <a href="https://github.com/Esri/navigator-integration" class="btn btn-clear btn-fill leader-0">Vedi come fare su GitHub</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Ottenere ancora di più da ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Collegarsi con Navigator</h4>
    <a aria-label="Connettersi su LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="Visualizza progetti GitHub" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/navigator-integration"></a>
    <a aria-label="Partecipare alla community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/navigator"></a>
    <a aria-label="Inviateci i vostri commenti e suggerimenti" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Leggi il nostro blog <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/">Altri post</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Partecipa alla conversazione <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/navigator">Altre conversazioni</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4109" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Seguire una lezione approfondita</a></h5>
          <p class="trailer-0">
 Trova e completa gli esercizi in cui vengono risolti problemi reali con ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/Bookmark/BJ6jZllDe">Trovare corsi di formazione</a></h5>
          <p class="trailer-0">
            Ulteriori informazioni su Navigator for ArcGIS tramite corsi con istruttore, corsi Web e seminari.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Ottenere supporto tecnico</a></h5>
          <p class="trailer-0">
 Contattare il supporto Esri attraverso chat, e-mail o telefono.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Controllo dell'integrità del sistema</a></h5>
          <p class="trailer-0">
 Vedere lo stato di ArcGIS Online e segnalare problemi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
