---
title: AppStudio for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-1-12"><META name="product" content="app-studio"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/appstudio/">AppStudio for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li><a href="/en/appstudio/">Home</a></li>
        <li><a href="/en/appstudio/create-apps/">Create Apps</a></li>
       <!-- <li><a href="/en/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li class='current'><a href="/en/appstudio/extend-apps/">Extend Apps</a></li>
      </ul>
    </nav>
  </div>
</div>


<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Extend AppStudio with the Developer Edition</h2> 

          <p>Create your own widgets and themes using AppStudio for ArcGIS (Developer Edition). Visit <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> to download the Developer Edition and learn more about creating your own custom apps.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="http://www.placehold.it/350x150" />

          <h3>Power your enterprise </h3>
          <p><ul>
            <li>Boost your productivity for building web apps that run on desktops, tablets, and smartphones</li>
            <li>Leverage the application framework and out-of-the-box widgets so you can focus on building components specific to your workflows</li>
            <li>Personalize your app by building a custom theme</li>
            <li>Create new apps using widgets and themes shared by other developers</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="http://www.placehold.it/350x150" />

          <h3>Build apps to sell</h3>
          <p><ul>
            <li>Build an app to promote and sell in <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Create custom widgets and themes that your customers can use to configure powerful new apps in AppStudio</li>
            <li>Create a custom theme that is unique and branded for your company</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Visit <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> to download and learn more.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

