---
title: Report a Security Concern
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="">Report a Security Concern</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Security Concern</h2>
      </header>

      <section>
        <p data-langlabel="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </section> 
  </div> 

    <div class="contact-form-signup">
		<h2 data-langlabel="">Send us your concern</h2>
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="http://docdev.arcgis.com/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Name: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">Email Address: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Phone Number: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organization <span class="optional">(optional):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Subject: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Vulnerability</option>
				  <option value="Suspicious E-mail from Esri">Suspicious E-mail from Esri</option>
				  <option value="Privacy Issue">Privacy Issue</option>
				  <option value="audi">Other</option>
			  </select>

			  <label data-langlabel="" for="description">Description: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">To help prevent automated spam, enter the numerals provided: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Numerals: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Security Concern" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Submit</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Thank you for reporting this issue. We will investigate and address your concern within the next few business days.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>An error occurred during your submission. Please resubmit your concern at a later time.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Return to the <a id="feedback-referring-link" href="">referring page</a></span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Submit</a> another security concern formform</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

