---
title: Esri Maps for SharePoint
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/maps-for-sharepoint/">Home</a></li>
        <li><a href="/it/maps-for-sharepoint/get-started/">Introduzione</a></li>
        <li><a href="/it/maps-for-sharepoint/esri-maps-web-part/">Web part di Esri Maps</a></li>
        <li><a href="/it/maps-for-sharepoint/arcgis-map-web-part/">Web part ArcGIS Map</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Scarica l'applicazione</h2>
          <span id="appVersion"><strong>Versione:</strong> 3.0.1</span> <span id="appReleased"><strong>Disponibile:</strong> ottobre 2013</span>


          <p>Esri Maps for SharePoint sfrutta la struttura Microsoft SharePoint 2010 e 2013 per offrire componenti di mappatura interattivi e configurabili che forniscono una vista geospaziale dei dati dell'organizzazione. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">Ottieni Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisiti di sistema</h2>

        <p>Per Esri Maps for SharePoint è richiesto un account che faccia parte di un'organizzazione <a href="http://help.arcgis.com/it/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, oltre a Microsoft SharePoint 2010 o 2013 Foundation, Server Standard o Server Enterprise Edition.</p>


 <a name="whatsNew"></a>        
		 <h2>Novità della versione 3.0.1</h2>        
		 <p>Esri Maps for SharePoint versione 3.0.1, rilasciato a ottobre 2013, include i seguenti aggiornamenti e miglioramenti:</p>        
		 <ul>        
		 <li>Supporto di localizzazione per 21 lingue: arabo, cinese (semplificato), coreano, danese, ebraico, estone, francese, giapponese, italiano, lettone, lituano, norvegese, olandese, polacco, portoghese (Brasile), portoghese, rumeno, russo, spagnolo, svedese e tedesco</li>	
		 <li>Supporto per i tipi di posizione personalizzati nel flusso di lavoro Individuazione località di Esri Maps.</li>	
		 <li>Analisi geostatistica degli hot spot.</li>	
		     
		 </ul>
		       
		 <h2>Novità della versione 3.0</h2>        
		 <p>Esri Maps for SharePoint versione 3.0, rilasciato a luglio 2013, include i seguenti aggiornamenti e miglioramenti:</p>        
		 <ul>        
		 <li>Nuovo nome del prodotto: Esri Maps for SharePoint</li>	
		 <li>Supporto per SharePoint 2010 e SharePoint 2013 (locali)</li>	
		 <li>Versione iniziale della Web part di Esri Maps: Web part basata su JavaScript supportata in SharePoint 2010 e SharePoint 2013 (locali).</li>	
		 <li>Supporto per Portal for ArcGIS 10.2</li>	
		 <li>Connettività dati esterni mediante i Servizi di connettività Business (BCS) di SharePoint (Web part di Map JavaScript)</li>	
		 <li>Connessioni da Web part a Web part (Web part di Map JavaScript)</li>	
		 <li>Aggiornato per il supporto degli SDK ArcGIS for Silverlight v3.1 e ArcGIS Extensibility v3.1 (solo Web part di Map Silverlight)</li>        
		 </ul>

		  
		 <p>Con la Web part di Esri Maps è possibile effettuare le seguenti operazioni: 	
		 <ul>	
		 <li>Aggiungere mappe Web e servizi da ArcGIS, che sia ArcGIS Online o Portal for ArcGIS.</li>	
		 <li>Condividere mappe e layer su ArcGIS per il pubblico o l'organizzazione.</li>	
		 <li>Visualizzare elenchi di SharePoint e collegarsi a sorgenti dati esterne tramite i Servizi di connettività Business (BCS).</li>	
		 <li>Collegarsi a Web part di Elenco e Grafico tramite connessioni da Web part a Web part.</li>	
		 <li>Abilitare spazialmente (geocodificare) elementi in un elenco SharePoint.</li>	
		 <li>Configurare in modo interattivo l'aspetto, i layer e altre impostazioni della mappa.</li>	
		 <li>Scegliere tra mappe di sfondo inserite dalla gallerie di mappe di base dell'organizzazione ArcGIS.</li>	
		 <li>Definire l'aspetto di set di dati (simboleggiare) mediante simboli semplici, di interruzioni di classe o di valori unici.</li>	
		 <li>Visualizzare feature punto utilizzando il clustering o mappe termiche. </li>	
		 <li>Configurare l'aspetto di finestre popup. Specificare lo stile e i campi della finestra popup da visualizzare quando si passa il puntatore su feature mappa. </li>	
		 <li>Visualizzare infografiche in finestre popup che forniscono informazioni contestuali avanzate sulle aree in prossimità delle feature nella mappa.</li>	
		 <li>Effettuare analisi dei dati basate sui percorsi.</li>	
		 <li>Selezionare e filtrare in modo interattivo dati entro distanze circoscritte o definite dal tempo di percorrenza.</li>	
		 <li>Recuperare in modo interattivo ulteriori informazioni demografiche e contestuali associate a posizioni mappate.</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introduzione</h3>
         <ul>
            <li><a href="#systemRequirements">Requisiti di sistema</a></li>
	 <li><a href="#whatsNew">Novità</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Esempi interattivi (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/help/sharepoint/apiref/api_start.htm">Riferimento per le API (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/communities/sharepoint/01t800000009000000.htm">Guida di ArcGIS for SharePoint 2.1.1</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
