---
title: Web AppBuilder for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="zh-cn">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Web AppBuilder for ArcGIS</h1>
        </div>
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="搜索 Web AppBuilder" class="leader">
	          <input type="hidden" name="collection" value="help">
            <input type="hidden" name="platform" value="detect">
	          <input type="hidden" name="product" value="web-appbuilder">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="zh-cn">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link" href="/zh-cn/web-appbuilder/">主页</a>
        <a class="sub-nav-link" href="/zh-cn/web-appbuilder/create-apps/">创建应用程序</a>
        <a class="sub-nav-link" href="/zh-cn/web-appbuilder/manage-apps/">管理应用程序</a>
        <a class="sub-nav-link is-active" href="/zh-cn/web-appbuilder/extend-apps/">扩展应用程序</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-24 tablet-column-7">
    <h3 class="gray">使用开发版扩展 Web AppBuilder</h3>
    <h5>使用 Web AppBuilder for ArcGIS（开发版）创建您自己的微件和主题。访问 <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> 以下载开发版并了解有关创建自定义应用程序的详细信息。</h5>
  </div>
</div>

<div class="grid-container leader-1 trailer-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-2-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-widget-theme.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            助力企业发展
          </h5>
          <ul>
            <li>提高您创建在台式电脑、平板电脑和智能手机上运行的 web 应用程序时的工作效率</li>
            <li>利用应用程序框架和即用型微件，以便重点构建工作流的特定组件</li>
            <li>通过构建自定义主题来对应用程序进行个性化设置</li>
            <li>使用其他开发人员共享的微件和主题来创建新的应用程序</li>
          </ul>
        </div>
      </div>
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-sell.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
构建商业用途的应用程序
          </h5>
          <ul>
            <li>在 <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a> 中构建要推广和销售的应用程序</li>
            <li>在 Web AppBuilder 中创建客户可用来配置功能强大的新应用程序的自定义微件和主题</li>
            <li>为您的公司创建一个独特并具有品牌效应的自定义主题</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column-24 text-center leader-1">
    <p>请访问 <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> 进行下载并了解相关详细信息。</p>
  </div>
</div>
