---
title: ArcGIS Open Data 帮助
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/open-data/">主要内容</a></li>
        <li><a href="/zh-cn/open-data/consumer/">针对用户</a></li>
        <li><a href="/zh-cn/open-data/provider/">针对提供商</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">什么是 ArcGIS Open Data？</h2>

          <p>通过 Open Data，组织可使用 ArcGIS 平台向公众提供对其权威数据的开放访问权限。组织可根据自己喜欢的外观配置网站，并指定共享特定项目的 Open Data 群组。普通公众可使用 Open Data 站点按主题或位置进行搜索、下载多种格式的数据以及在交互式地图和表中查看数据。</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>针对用户 </h3>
          <p>通过图表、表格和地图与数据交互，帮助您了解您的社区。查找、浏览和下载数据，或共享指向感兴趣数据集的链接。</p>
          <p>

			<a href="/zh-cn/open-data/consumer/" class="icon-right-arrow">&nbsp;详情介绍</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>针对提供商</h3>
          <p>设置自定义的网站并选择想要共享的权威数据。允许所有人搜索、查看并以多种格式下载您的数据。</p>
          <p>
            <a href="/zh-cn/open-data/provider/" class="icon-right-arrow">&nbsp;详情介绍</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">功能</h2>

        <p>使用已知的创建 Open Data 站点的工作流创建并共享您自己的数据。</p>
		<ul>
			<li>在您的组织和群组中启用 Open Data。</li>
			<li>为您的数据创建自定义站点。</li>
			<li>允许跨组织和群组进行联合搜索。</li>
			<li>支持空间表和非空间表。</li>
			<li>提供用于浏览数据的交互式过滤器。</li>
			<li>共享指向数据集过滤视图的链接。</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">数据要求</h2>
        <p>ArcGIS Open Data 当前使用来自托管要素图层、ArcGIS Server 要素服务、ArcGIS Server 地图服务、ArcGIS Server 影像服务、CSV 文件和托管表格的数据。ArcGIS Open Data 对外部 URL、Web 地图和其它文档（例如 Word 文档和 PDF）提供有限的支持。</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">新特性</h2>
		<p>2015 年 7 月更新的 Open Data 具有如下特性和功能： </p>
		
		<ul>
			<li>显示大型数据集的栅格化密度 (GeoHash)。</li>
			<li>支持来自 ArcGIS Online 的正规元数据。</li>
			<li>使用 ArcGIS Online 帐户登录和注册。</li>
			<li>用户和管理员可对数据集添加注释。</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">抢先预览</h2>
		<p>ArcGIS Open Data 刚刚问世，我们计划在未来提供一些激动人心的功能：</p>
		
		<ul>
			<li>用于追踪下载次数和查看详情的统计信息。</li>
			<li>对数据集和采集提供更高的管理控制权限。</li>
			<li>提升用户在搜索和过滤数据集方面的体验。</li>
		</ul>
		        <p>&nbsp;</p>
		<p>共享您在 ArcGIS Open Data 发展方向方面的<a class="" href="http://ideas.arcgis.com">想法</a>！</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>详细信息</h3>
	          
	  <h4><a href="#features">功能</a></h4>
	  <h4><a href="#dataRequirements">数据要求</a></h4>
	  <h4><a href="#whatsNew">新特性</a></h4>
	  <h4><a href="#SneakPeek">抢先预览</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas 网站</h3>
         <p>共享您在 ArcGIS Open Data 发展方向方面的想法！ 请提交建议或对现有创想投票。</p> <br/>
         <p>您是正在寻求想法的提供商吗？ 了解客户的需求。邀请贡献者与您私下合作来共同开展创意。</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


