---
title: Esri Demographics
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/arcgis-app-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Demographics"><META name="last-modified" content="2014-7-2"><META name="product" content="arcgis-online; esri-demographics"><META name="sub_category" content="ArcGIS app"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS app"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/esri-demographics/">Esri Demographics</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Demographics">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="esri-demographics" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/esri-demographics/">Home</a></li>
        <li><a href="/en/esri-demographics/access/">Access</a></li>
        <li><a href="/en/esri-demographics/data/">Data</a></li>
        <li><a href="/en/esri-demographics/coverage/">Coverage</a></li>
        <li><a href="/en/esri-demographics/reference/">Reference</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

	<h3 class="gray">Esri Demographics powers the ArcGIS System with access to global demographic, spending, lifestyle, and business data. </h3>
	<p style="padding-top:15px;">Esri Demographics are used for mapping and analysis purposes. Esri Demographics support commercial market analytics and non-commercial usages, such as economic development, planning and at risk population assessment. Esri Demographics are accessible in four ways: dynamic webmaps, data enrichment, reports and infographics. </p>
	<p>To see the comprehensive set of global Esri Demographics data available, use the Data Browser below by selecting a country and then perusing the available categories of data.</p>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">

        </div>
			<iframe src="http://ladev.arcgis.com/databrowser/index.html" width="815" height="850" frameborder="0">
				Error: Embedded data could not be displayed. 
			</iframe>
 
        <div class="clear"></div>



      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
           <li><a href="/en/esri-demographics/access/">Access</a></li>
           <li><a href="/en/esri-demographics/data/">Data</a></li>
           <li><a href="/en/esri-demographics/coverage/">Coverage</a></li>
           <li><a href="/en/esri-demographics/reference/">Reference</a></li>


          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/demographics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
