---
title: Esri Demographics
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
   - <META name="description" content="Esri Demographics"><META name="last-modified" content="2014-7-2"><META name="product" content="esri-demographics"><META name="sub_category" content="Esri Demographics"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Demographics"><META name="search-category" content="help-general"><META name="subject_label" content="DATA,BUSINESS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="DATA,BUSINESS"><META name="content-language" content="en">

mobile: true

---
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Esri Demographics</h1>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/esri-demographics/">Home</a>
        <a class="sub-nav-link" href="/en/esri-demographics/access/">Access</a>
        <a class="sub-nav-link" href="/en/esri-demographics/data/">Data</a>
        <a class="sub-nav-link" href="/en/esri-demographics/coverage/">Coverage</a>
        <a class="sub-nav-link" href="/en/esri-demographics/reference/">Reference</a>
      </nav>
    </div>
  </div>
</header>


<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Power your GIS with global demographic, spending, lifestyle, and business data.</h1>
      <h5>Esri Demographics is used for mapping and analysis purposes. Esri Demographics supports commercial market analytics and noncommercial usages, such as economic development, planning, and at-risk population assessment. Esri Demographics is accessible in four ways: dynamic web maps, data enrichment, reports, and infographics.</h5>
      <h5>Find out what's new in this release. <a href="/en/esri-demographics/reference/whats-new.htm">Learn more.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="Search Esri Demographics">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="esri-demographics" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="column-24">
      <hr class="leader-half trailer-0">
    </div>
  </div>
</div>
<div class="grid-container leader-2">
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 text-center">
      <h2 class="text-center">What demographics data is available?</h2>
      <p>
        To see the available comprehensive set of global Esri Demographics data, use the data browser below by selecting a country and peruse the available data categories.
      </p>
      <iframe src="//la.arcgis.com/databrowser/index.html" width="815" height="850" frameborder="0">
  			Error: Embedded data could not be displayed.
  		</iframe>
    </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/demographics/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/demographics/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>
