---
title: Trust
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="pt-br">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="Responsabilidade do AcGIS Online" href="/pt-br/trust/">Responsabilidade</a></li>
        <li><a title="Status de Sistema do ArcGIS Online" href="/pt-br/trust/system-status/">Status de Sistema</a></li>
        <li><a title="Segurança do ArcGIS Online" href="/pt-br/trust/security/">Segurança</a></li>
        <li><a title="Privacidade do ArcGIS Online" href="/pt-br/trust/privacy/">Privacidade</a></li>
        <li><a title="Privacidade do ArcGIS Online" href="/pt-br/trust/compliance/">Conformidade</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">O ArcGIS Online é projetado como um sistema seguro com acesso controlado</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Propriedade dos dados de segurança" />
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>O Trust.ArcGIS.com é seu caminho para recurso das informações de segurança, privacidade e conformidade. Localize: </p>
      <ul>
        <li>Disponibilidade de serviço do ArcGIS Online, informações de desempenho do sistema e histórico de status</li>
        <li>Atualizações de segurança e alertas atuais</li>
        <li>Informações de segurança do produto para ArcGIS Online</li>
        <li>Melhores práticas de segurança para sua organização</li>
        <li>Informações de segurança e conformidade</li>
      </ul>
      <p>O Trust.ArcGIS.com é inspirado em conversações com nossos clientes. O que você gostaria de ver aqui? Se você tiver sugestões, poste no <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>.</p>
    </div>
    <div class="clear"></div>

    <div style="text-align:center; padding-top:150px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div>
      <a href="/pt-br/trust/system-status/" class="btn tertiary" style="width:100%;text-align:center;" >Verificar Status do Sistema</a>
    </div>
    <br/>
    <div class="imgFrame block">
      <h3 class="icon-announcement">Alertas e Anúncios</h3>
      <p>Em 6 de Junho de 2014, o ArcGIS Online recebeu a Autoridade baixa de FISMA para Operar (ATO) do governo. O processo de credenciamento da FISMA garante que ArcGIS Online foi rigorosamente revisado por um assessor terceirizado para se ajustar aos requisitos de segurança rigorosos conforme revisto pelo Publicação Especial 800-53 do Instituto Nacional de Padrões e Tecnologia (NIST). <a href="http://www.esri.com/esri-news/releases/14-2qtr/esri-mapping-platform-secured-for-federal-agencys-use">Continuar lendo...</a></p>
    </div>
    <br />
    <div class="panel">
      <h4>"A Esri está empenhada em melhorar continuamente a segurança da sua plataforma de mapeamento e solidificar a confiança do cliente através de credenciamentos como FISMA."</h4>
      <p>Michael Young, Principal Arquiteto de Segurança, Esri</p>

    </div>
    <br/>
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/pt-br/trust/security-concern/"> Relatar uma Preocupação de Segurança</a>  </h4>
    </div>
  </div>

 </div>

  <!-- <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">     $(window).load(function() {       $('#blog').rssFeed({         url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',         max: 2,         layout: 0       });       });     </script>  -->
