---
title: MOOC Download
css:
  - stat-page-specific
  - homepage

js:
  - download.js

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true
require_login: Yes

---
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Software downloads for MOOC participants</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="grid-container">
  <div class="column-6 leader-2 trailer-2 pre-9 download-section">
    <div class="block-group block-group-1-up tablet-block-group-1-up phone-block-group-1-up row downloads secured-org">
      <div class="card card-shaped block trailer-1">
        <figure class="card-image-wrap">
          <img src="img/icon-download.png" alt="ArcGIS Pro" class="card-image">
        </figure>

        <div class="card-content">
          <div class="text-center">
            <h4>ArcGIS Pro</h4>
            <p class="text-light file-size"><%= getAttrData("pro~secured", 'filesize') %></p>
            <%= generateVersionDropDown("pro~secured") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <!--  <div class="card block trailer-1">
<div class="card-content">
<p class="font-size-1 card-last">Drone2Map for ArcGIS</p>

<div class="js-download  clearfix" data-sdk="drone2map-secured-1.2">
       <div class="column-5 first-column">
         <a href="#" class="btn btn-fill icon-ui-download download-link" style="margin:.375rem 0" data-filename="Drone2Map_12_158101.exe" data-folder="software/Drone2Map"></a>
       </div>
       <div class="column-6 text-gray font-size--3 last-column">
         <p class="trailer-0 leader-half"><b>Size:</b> <span>270 MB</span></p>
       </div>
     </div>
</div>
</div> -->


<script>
	var allowedSubTypes = ["In House"]
</script>
