---
title: MOOC Download
css:
  - stat-page-specific
  - homepage

js:
  - download.js

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true
require_login: Yes

---
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Software downloads for MOOC attendees</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="grid-container">
<div class="column-24 leader-1">
 <div class="block-group block-group-2-up tablet-block-group-2-up phone-block-group-1-up">
   <div class="card block trailer-1">

    <div class="card-content">
      <p class="font-size-1 card-last">ArcGIS Pro 2.0</p>

      <%= generateVersionButtons("pro~secured") %>
    </div>
  </div>
  
<!--  <div class="card block trailer-1">
   <div class="card-content">
     <p class="font-size-1 card-last">Drone2Map for ArcGIS</p>

     <%= generateVersionButtons("drone2map~secured") %>
   </div>
 </div> -->
 </div>

</div>



<script>
	var allowedSubTypes = ["In House"]
</script>
