---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2016-07-18"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="ko">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.1" />
					<input type="hidden" name="language" value="ko" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ko/maps-for-cognos/">홈</a></li>
        <li><a href="/ko/maps-for-cognos/install-windows/">설치 및 구성</a></li>
        <li><a href="/ko/maps-for-cognos/author-maps/">맵 작성</a></li>
        <li><a href="/ko/maps-for-cognos/use-maps/">맵 사용</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">앱 다운로드</h2>
          <span id="appVersion"><strong>버전:</strong> 6.1.1</span>
          <span id="appReleased"><strong>출시일:</strong> 2016년 9월</span>


          <p>사용자 정의 코딩 또는 GIS 전문 지식 없이도 친숙한 일상적인 워크플로를 사용하여 실시간 동적 맵으로 IBM Cognos 보고서를 보강할 수 있습니다. Esri Maps for IBM Cognos는 IBM Cognos 10과 원활하게 통합되므로 보고서 작성자는 IBM Cognos 보고서의 다른 개체와 상호 작용하는 맵을 추가하고 구성할 수 있습니다. 풍부한 분석을 위해 ArcGIS에서 발행한 지리 데이터와 IBM Cognos 비즈니스 데이터를 결합하는 맵을 생성할 수 있습니다. 보고서 사용자가 데이터를 시각적으로 분석하기 위해 맵 지원 보고서를 사용하는 데 추가적인 기술이나 도구는 필요하지 않습니다. 
		</p>

        <p><a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Esri Maps for IBM Cognos 다운로드</a></p>
        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>보고서에 맵 추가 </h3>
          <p>동적 맵을 IBM Cognos 보고서에 추가하여 비즈니스 데이터를 쉽게 시각적으로 분석할 수 있습니다.</p>
          <p>
           <a href="/ko/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;자세한 정보</a>
			<br/>
			<a title="보고서에 맵 추가" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;비디오 보기</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>대화형 동작 구성</h3>
          <p>보고서 사용자를 위해 보다 효율적인 대화형 보고서를 작성합니다. 맵에서 피처를 선택하여 다른 보고서 개체를 업데이트하거나 프롬프트를 설정하거나 외부 보고서로 드릴스루할 수 있습니다.</p>
          <p>
			<a href="/ko/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;자세한 정보</a>
			<br/>
		   <a title="대화형 동작 구성" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;비디오 보기</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>ArcGIS에서 데이터 추가</h3>
          <p>ArcGIS에서 발행한 지리 데이터를 맵 지원 보고서에 추가하여 비즈니스 데이터를 쉽게 분석할 수 있습니다.</p>
          <p><a href="/ko/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;자세한 정보</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>맵 및 레이어 공유</h3>
          <p>기관 내부 또는 외부의 다른 사용자가 사용할 수 있도록 맵 또는 개별 맵 레이어를 ArcGIS에 공유합니다.</p>
          <p><a href="/ko/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;맵 공유</a>
		  <br/>
		  <a href="/ko/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;레이어 공유</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>새로운 기능</h2>
	<p>Esri Maps for IBM Cognos 6.1.1에서는 보고서 작성자, 사용자, 관리자를 위해 중요한 업데이트와 향상된 기능을 제공합니다. 주요 업데이트와 향상된 기능은 다음과 같습니다.</p>
	
	<p>
		<ul>
			<li>맵을 업데이트할 새 <a href="/ko/maps-for-cognos/author-maps/configure-an-interactive-behavior-to-update-the-map.htm" target="_blank">대화형 동작</a>이 추가되었습니다.</li>
			<li><a href="/ko/maps-for-cognos/author-maps/apply-a-filter.htm#ESRI_SECTION1_265BEE531525472EAE6D2EE86721E40A" target="_blank">보고서 작성자</a>와 <a href="/ko/maps-for-cognos/use-maps/apply-a-filter.htm#ESRI_SECTION1_265BEE531525472EAE6D2EE86721E40A" target="_blank">보고서 사용자</a>를 위해 IBM Cognos 비즈니스 레이어 필터링에 대한 사용자 경험이 개선되었습니다.</li>
			<li>새 레이블 기능이 추가되었습니다. 레이블 <a href="/ko/maps-for-cognos/author-maps/create-labels.htm" target="_blank">만들기</a>와 <a href="/ko/maps-for-cognos/use-maps/use-labels.htm" target="_blank">사용</a> 방법에 대해 알아봅니다.</li>
			<li><a href="/ko/maps-for-cognos/use-maps/clear-all-interactions.htm" target="_blank">상호 작용 지우기</a>에 대한 사용자 경험이 개선되었습니다.</li>
			<li><a href="/ko/maps-for-cognos/author-maps/change-layer-display.htm#GUID-B2C0DE23-53A8-4792-93FB-1981993F0C94" target="_blank">가시 범위</a> 설정에 대한 사용자 경험이 개선되었습니다.</li>
			<li>대용량 데이터셋에서 포인트 레이어의 <a href="/ko/maps-for-cognos/install-windows/configure-administrative-settings.htm#ESRI_SECTION1_20F5DB6012" target="_blank">자동 군집</a>에 대한 지원이 추가되었습니다.</li>
			<li><a href="/ko/maps-for-cognos/install-windows/configure-administrative-settings.htm#ESRI_SECTION1_20F5DB60124C452FB74095DE7031D1AC" target="_blank">관리자</a>와 <a href="/ko/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_B3B7D16E14EF4CBAA70C5C39494A7DDB" target="_blank">보고서 작성자</a>를 위해 윤곽선 색상 설정에 대한 사용자 경험이 개선되었습니다.</li>
			<li>대화형 동작을 통해 <a href="/ko/maps-for-cognos/author-maps/copy-a-layer.htm" target="_blank">레이어 복사</a>에 대한 사용자 경험이 개선되었습니다.</li>
			<li>벡터 파일 레어와 베이스맵에 대한 지원이 추가되었습니다.</li>
			<li><a href="/ko/maps-for-cognos/author-maps/view-records.htm" target="_blank">보고서 작성자</a>와 <a href="/ko/maps-for-cognos/use-maps-mobile/view-records.htm" target="_blank">보고서 사용자</a>를 위해 피처 속성 테이블 작업에 대한 사용자 경험이 개선되었습니다.
			</li>
			<li>추가 아이콘이 제공됩니다.</li>
		</ul>
	</p>




<hr />

 <a name="supportedEnvironments"></a>
        <h2>지원 환경</h2>

        <p>Esri Maps for IBM Cognos를 제대로 작동할 수 있도록 하기 위해 Esri에서는 IBM Cognos BI(Business Intelligence)의 작동 구성을 적용합니다. IBM Cognos BI의 소프트웨어 환경은 활성, 호환, 또는 지원되지 않음으로 나타납니다. Esri는 활성 구성만을 사용하여 Esri Maps for IBM Cognos를 테스트하며 일부 활성 구성은 테스트/인증 되지 않습니다. </p>
		<p>IBM Cognos 구성이 아래에 나와 있지 않은 경우 Esri 기술 지원이나 Esri 영업 담당자에게 연락하여 이후 버전이 예정되어 있는지 또는 계획 목록에 추가할 수 있는 지 여부를 문의할 수 있습니다. 일반적으로 Esri 정책에 따라 새로 출시된 IBM Cognos 수정 팩은 다운로드가 제공되는 날부터 60일 후에 지원됩니다.</p>

<p>Esri Maps for IBM Cognos는 IBM Cognos Enterprise and IBM Cognos Express 10.2.2 이상 버전과 함께 사용할 수 있습니다. 기타 개발자 버전에 대해서는 지원되지 않습니다.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')">
시스템 요구 사항</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>하드 디스크: 300MB</li>
          <li>메모리: 2 GB</li>
	</ul>
	<p><b>참고:</b> 디스크 공간 요구 사항은 Excel 2002 보고서 형식 옵션의 선택 여부에 따라 다를 수 있습니다. 자세한 내용은 <a href="/ko/maps-for-cognos/install-windows/report-formats.htm">보고서 형식</a>을 참고하세요.</p>
</div>
<div class="clear"></div>

<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')">
ArcGIS</a></h3>
	<div exp2='yes' style="display:none;padding:0 15px;">
		<p>Esri Maps for IBM Cognos를 사용하려면 ArcGIS Online 기관 구독 또는 온-프레미스 Portal for ArcGIS 배포가 필요합니다. 여기에서는 ArcGIS Administrator에서 플랫폼 접근 인증 방법을 올바르게 구성한 것으로 가정합니다.</p>
		<p>Esri Maps for IBM Cognos 6.1.1은 다음의 ArcGIS 버전에서 지원됩니다.
			<ul>
				<li><b>ArcGIS Online:</b> 현재 버전</li>
				<li><b>Portal for ArcGIS:</b> 10.3, 10.3.1, 10.4, 10.4.1</li>
			</ul>
		</p>
	</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')">
IBM Cognos 버전</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

<p>일반적으로 Esri 정책에 따라 새로 출시된 IBM Cognos 수정 팩은 다운로드가 제공되는 날부터 60일 후에 지원됩니다.</p>
 <p>다음 표에는 각 버전의 Esri Maps for IBM Cognos에 대해 지원되는 IBM Cognos 버전과 수정 팩이 나와 있습니다.</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">IBM Cognos 버전</th>
<th colspan="6">Esri Maps for IBM Cognos 버전</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
<th colspan="1" rowspan="1">6.1</th>
<th colspan="1" rowspan="1">6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="6 colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1.1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP5</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="11" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP2</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP3</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP4</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP5</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP6</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP7</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP8</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP9</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP10</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="6" colspan="1"><p><b>10.2.2**</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP3</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP4</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP5</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>* Esri Maps for IBM Cognos 버전 5.0.1이 설치되어 있는 경우 수정 팩을 설치하기 전에 자세한 내용을 보려면 Knowledge Base article <a href="http://support.esri.com/technical-article/000011906" target="_blank">000011906</a>을 참조하세요.</p>
<p>** Esri Maps for IBM Cognos 6.0.1 이상 버전은 IBM Cognos Enterprise 외에 IBM Cognos Express 10.2.2도 지원합니다.</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')">
운영 체제</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

 <p>IBM은 CPU 아키텍처로 알려진 CPU 칩셋 집합과 호환되는 운영 체제를 인증하고 지원합니다. Esri에서는 IBM에서 활성화하는 운영 체제와 칩셋의 일부분에서 Esri Maps for IBM Cognos를 테스트합니다. Esri 테스트 목록은 시장 조사와 기존 클라이언트 구성을 기반으로 합니다.</p>
 <p>다음 표에는 각 버전의 Esri Maps for IBM Cognos에 대해 지원되는 운영 체제가 나와 있습니다.</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">운영 체제</th>
<th rowspan="1" colspan="6">Esri Maps for IBM Cognos 버전</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
<th rowspan="1" colspan="1">6.1</th>
<th rowspan="1" colspan="1">6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows Server</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.3+ on System z</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>*64비트 버전의 시스템 z만 지원됩니다.</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')">
필수 구성 요소(Linux 및 UNIX만 해당)</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">

	 <p>다음의 시스템 라이브러리는 Linux 및 UNIX 운영 체제에서 Esri Maps for IBM Cognos EM4C 게이트웨이를 실행해야 합니다.</p>

        <ul>
          <li>Linux(32비트)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux(64비트)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z(64비트)* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX(32비트)
		  <ul>
			<li>Unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX(64비트)
		  <ul>
			<li>Unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* 6.0.1, 6.0.2 버전에만 필요</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')">
웹 브라우저</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
	 <p>Esri에서는 IBM에서 지원하는 일부 웹 브라우저와 기본 클라이언트 운영 체제의 조합을 테스트하지 않습니다. 대신, 웹 브라우저의 일부분이 선택되고 대부분의 최신 운영 체제에서 테스트가 수행됩니다. 선택한 모든 브라우저를 확인된 모든 운영 체제에서 테스트하는 것은 아닙니다.</p>
       

<p>Esri에서는 이와 유사하게 Windows 플랫폼에서만 강력한 브라우저 테스트를 수행합니다. 그러나 아래에 나온 웹 브라우저 중 하나가 사용된 경우 Esri Maps for IBM Cognos를 비Windows 클라이언트에서 원하는 대로 작동할 수 있습니다. 사용 중인 환경이 아닌 경우에는 Esri 기술 지원에 연락하여 테스트해야 할 특정 운영 체제와 웹 브라우저를 문의하세요.</p>

<p>다음 표에는 각 버전의 Esri Maps for IBM Cognos에 대해 테스트된 브라우저가 나와 있습니다.</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">브라우저</th>
<th colspan="6">Esri Maps for IBM Cognos 버전</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
<th>6.1</th>
<th>6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>iOS의 Apple Safari</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="4" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">41</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">51</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="3" colspan="1"><b>Android용 Google Chrome</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">51</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="3" colspan="1"><b>Internet Explorer* °</b></td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 38</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 45</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>*히트 맵은 Internet Explorer에서 실행 중인 IBM Cognos와 호환되지 않습니다. Esri Maps for IBM Cognos 6.0.1 이하 버전에서는 원형 차트 군집도 Internet Explorer에서 실행 중인 IBM Cognos와 호환되지 않습니다. 자세한 내용은 Knowledge Base article <a href="http://support.esri.com/technical-article/000012099" target="_blank">000012099</a>를 참고하세요.</p>
<p>° Internet Explorer 8 및 9는 더 이상 지원되지 않습니다.</p>
<p>**Internet Explorer 10 및 11은 호환 모드에서만 지원됩니다.</p>
<p>Android용 Google Chrome 및 iOS의 Apple Safari는 보고서 고객에게만 지원됩니다. Esri Maps Designer는 이러한 브라우저에서만 지원됩니다.</p>

<p>Internet Explorer에서 맵 피처 및 그래픽의 향상된 랜더링의 경우 Silverlight 5.x를 다운로드하고 클라이언트에 설치하는 것이 좋습니다. </p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')">
지원되는 언어</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
		<p>ArcGIS Maps for IBM Cognos 6.1.1은 다음 언어로 제공됩니다.</p>
		<p>
        <ul>
          <li>중국어(중국)</li>
		  <li>영어</li>
		  <li>프랑스어</li>
		  <li>독일어</li>
		  <li>일본어</li>
		  <li>한국어</li>
		</ul>
		</p>        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp8')">
지원</a></h3>
<div exp8='yes' style="display:none;padding:0 15px;">
<p>IBM Cognos를 올바르게 작동하려면 몇 가지 서드 파티 컴포넌트를 구성해야 합니다. 이러한 컴포넌트에는 응용프로그램 서버, 웹 서버, 데이터베이스 서버, Java 런타임 라이브러리 등이 포함되어 있습니다. IBM 기술 지원이 이러한 컴포넌트와 IBM Cognos의 배포를 지원합니다. Esri 기술 지원이 Esri Maps for IBM Cognos의 배포와 사용을 지원합니다.</p>

<p>Esri 기술 지원 분석가가 IBM Cognos의 모든 가능한 구성에 대한 전문가는 아닙니다. 마찬가지로 IBM 기술 지원 부서의 엔지니어가 Esri Maps for IBM Cognos의 작동 구성에 필요한 모든 서드 파티 컴포넌트의 전문가는 아닙니다. IBM Cognos를 구성하는 동안 문제가 발생하는 경우 IBM 기술 지원에서 도움을 받는 것이 더욱 효과적인 경우가 많습니다. 마찬가지로 서드 파티 컴포넌트와 함께 구성 문제가 발생하는 경우에는 서드 파티의 지원 기관에서 도움을 받는 것이 더욱 효과적입니다. Esri Maps for IBM Cognos에 문제가 있다고 생각되는 경우 Esri 기술 지원 부서에서 IBM 기술 지원 및/또는 서드 파티 공급업체 및/또는 해당 컨설턴트와 함께 작업하여 해결할 수 있습니다.</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>시작하기</h3>
          <ul>
          <li><a href="#whatsNew">새로운 기능</a></li>		
		  <li><a href="#supportedEnvironments">지원 환경</a></li>
		  <li>이전 버전에 대한 도움말:
			<ul>
				<li><a href="/ko/maps-for-cognos/6.1/">6.1</a></li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">비디오 보기</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
