---
title: Rapport&eacute;r et sikkerhedsproblem
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/da/trust/">Trust</a></li>
        <li><a title="ArcGIS Online-systemstatus" href="/da/trust/system-status/">Systemstatus</a></li>
        <li><a title="ArcGIS Online-sikkerhed" href="/da/trust/security/">Sikkerhed</a></li>
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/da/trust/privacy/">Beskyttelse af personlige oplysninger</a></li>
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/da/trust/compliance/">Overensstemmelse</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Rapport&eacute;r et sikkerhedsproblem</h2>
      </header>
	  <section>
		<p data-langlabel="">Udfyld formularen til h&oslash;jre med alle relevante oplysninger, herunder en tilstr&aelig;kkeligt detaljeret beskrivelse af dit specifikke problem. Dine kontaktoplysninger vil blive brugt til at f&oslash;lge op p&aring; de oplysninger, du sender os. V&aelig;lg det relevante emne p&aring; emne-rullemenuen.</p>
		<ul>
			<li data-langlabel="">S&aring;rbarhed - rapport&eacute;r en s&aring;rbarhed, der er fundet p&aring; vores websted eller i vores applikation.</li>
			<li data-langlabel="">Mist&aelig;nkelig e-mail fra Esri - hvis du tror, at du har v&aelig;ret m&aring;l for et muligt phishing-angreb fra en Esri e-mailadresse, eller hvis du har modtaget anden mist&aelig;nkelig e-mail-korrespondance fra Esri.</li>
			<li data-langlabel="">Fortrolighedsproblem - Hvis du har et problem vedr&oslash;rende dine personlige oplysninger med relation til vores applikation eller organisation.</li>
			<li data-langlabel="">Andet - for alle andre problemer med relation til sikkerhed, personlige oplysninger eller overensstemmelse.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Politik vedr&oslash;rende rapportering af s&aring;rbarhed</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com-sikkerhedsteamet anerkender den v&aelig;rdifulde rolle, som uafh&aelig;ngige sikkerheds-researchere spiller for internetsikkerheden. Vi opmuntrer til ansvarlig rapportering af eventuelle s&aring;rbarheder, der bliver fundet p&aring; vores websted eller i vores applikation. Esri er forpligtet p&aring; at arbejde sammen med sikkerhedsf&aelig;llesskabet med henblik p&aring; at verificere og svare p&aring; eventuelle potentielle s&aring;rbarheder, der rapporteres til os. Esri vil ikke anl&aelig;gge sag imod dig eller iv&aelig;rks&aelig;tte politiunders&oslash;gelser, hvis du f&oslash;lger denne politik.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com tillader ikke f&oslash;lgende typer sikkerheds-research</h4>
	  </header>
	  <ul>
			<li data-langlabel="">For&aring;rsagelse &ndash; eller fors&oslash;g p&aring; for&aring;rsagelse &ndash; af en Denial of Service (DoS)-situation.</li>
		<li data-langlabel="">Brug af automatiserede sikkerhedsv&aelig;rkt&oslash;jer uden Esris udtrykkelige tilladelse. Brug af automatiserede v&aelig;rkt&oslash;jer kan resultere i unders&oslash;gelser, eller at din(e) IP-adresse(r) bliver blokeret.</li>
		<li data-langlabel="">Adgang til &ndash; eller fors&oslash;g p&aring; adgang til &ndash; data eller oplysninger, der ikke tilh&oslash;rer dig.</li>
		<li data-langlabel="">&Oslash;del&aelig;ggelse eller beskadigelse af &ndash; eller fors&oslash;g p&aring; &oslash;del&aelig;ggelse eller beskadigelse af &ndash; data eller oplysninger, der ikke tilh&oslash;rer dig.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com-sikkerhedsteamets forpligtelse</h4>
	  </header>
		<p data-langlabel="">Overfor alle sikkerhedsresearchere, der f&oslash;lger denne ArcGIS.com-politik vedr&oslash;rende rapportering af s&aring;rbarhed, forpligter ArcGIS.com-sikkerhedsteamet sig til f&oslash;lgende:</p>
		
		<ul>
		<li data-langlabel="">At sende svar inden for en rimelig tidsramme samt anerkende modtagelse af din rapport.</li>
		<li data-langlabel="">At angive en forventet tidsramme for adressering af den p&aring;g&aelig;ldende s&aring;rbarhed.</li>
		<li data-langlabel="">At give den person, der har rapporteret problemet, besked, n&aring;r problemet er blevet l&oslash;st.</li>		
		</ul>
		
		<div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> Participating Security Researchers</span>
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">We would like to thank the following security researchers for participating in our responsible reporting program:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
	
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Navn: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">E-mailadresse: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Telefonnummer: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organisation <span class="optional">(valgfrit):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Emne: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">S&aring;rbarhed</option> <option value="Suspicious E-mail from Esri">Mist&aelig;nkelig e-mail fra Esri</option> <option value="Privacy Issue">Fortrolighedsproblem</option> <option value="audi">Andet</option>
			  </select>

			  <label data-langlabel="" for="description">Beskrivelse: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Indtast de viste tal, s&aring; vi undg&aring;r automatisk spam: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Tal: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="intern" name="source" id="source">

			  <input value="ord" name="resultType" id="resultType" type="hidden">
			  <input value="Sikkerhedsproblem" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="da" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Send</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Tak, fordi du har rapporteret dette problem. Vi vil unders&oslash;ge og adressere dit problem inden for de n&aelig;ste par arbejdsdage.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Der er opst&aring;et en fejl under din afsendelse. Send dit problem igen p&aring; et senere tidspunkt.</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink">Vend tilbage til <a id="feedback-referring-link" href="">henvisningssiden</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Send</a> endnu et sikkerhedsproblem</span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

