---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/ja/web-appbuilder/">ホーム</a></li>
        <li><a href="/ja/web-appbuilder/create-apps/">アプリの作成</a></li>
        <li><a href="/ja/web-appbuilder/manage-apps/">アプリの管理</a></li>
        <li class='current'><a href="/ja/web-appbuilder/extend-apps/">アプリの拡張</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Developer Edition を使用した Web AppBuilder の拡張</h2> 

          <p>Web AppBuilder for ArcGIS (Developer Edition) を使用して、独自のウィジェットとテーマを作成します。Developer Edition  のダウンロードと、独自のカスタム アプリの作成の詳細については、<a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> をご覧ください。</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>ビジネスをパワーアップ </h3>
          <p><ul>
            <li>デスクトップ、タブレット、スマートフォンで動作する Web アプリを構築するときの生産性を向上します</li>
            <li>アプリケーション フレームワークとすぐに使用できるウィジェットを活用して、ワークフロー固有のコンポーネントの構築に集中できます</li>
            <li>カスタム テーマを構築して、アプリをカスタマイズできます</li>
            <li>他の開発者と共有するウィジェットやテーマを使用して、新しいアプリを作成できます</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>アプリを構築して販売</h3>
          <p><ul>
            <li>アプリを構築して、<a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a> で販売促進および販売できます</li>
            <li>顧客が Web AppBuilder で新しい強力なアプリを構成するのに使用できる、カスタム ウィジェットとテーマを作成できます</li>
            <li>会社の独自ブランドのカスタム テーマを作成できます</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>ダウンロードと詳細については、<a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> をご覧ください。</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

