---
title: Rapportera ett s&auml;kerhetsproblem
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="F&ouml;rtroende f&ouml;r ArcGIS Online" href="/sv/trust/">F&ouml;rtroende</a></li>
        <li><a title="Systemstatus f&ouml;r ArcGIS Online" href="/sv/trust/system-status/">Systemstatus</a></li>
        <li><a title="S&auml;kerhet f&ouml;r ArcGIS Online" href="/sv/trust/security/">S&auml;kerhet</a></li>
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/privacy/">Sekretess</a></li>
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/compliance/">Efterlevnad</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Rapportera ett s&auml;kerhetsproblem</h2>
      </header>
	  <section>
		<p data-langlabel="">Fyll i formul&auml;ret till h&ouml;ger med all aktuell information, inklusive n&ouml;dv&auml;ndig information som om just ditt problem. Din kontaktinformation kommer att anv&auml;ndas f&ouml;r att f&ouml;lja upp den information du har angett. V&auml;lj det &auml;mne som passar b&auml;st i &auml;mneslistrutan.</p>
		<ul>
			<li data-langlabel="">S&aring;rbarhet &ndash; rapportera en s&aring;rbarhet som uppt&auml;ckts p&aring; v&aring;r webbplats eller i v&aring;ra applikationer.</li>
			<li data-langlabel="">Misst&auml;nkt e-post fr&aring;n Esri &ndash; om du tror att du har r&aring;kat ut f&ouml;r m&ouml;jligt n&auml;tfiske fr&aring;n en av Esris e-postadresser, eller har f&aring;tt n&aring;got annat misst&auml;nkt e-postmeddelande fr&aring;n Esri.</li>
			<li data-langlabel="">Sekretessfr&aring;ga &ndash; om du har en sekretessfr&aring;ga som r&ouml;r v&aring;r applikation eller organisation.</li>
			<li data-langlabel="">Annat &ndash; f&ouml;r alla andra fr&aring;gor som r&ouml;r s&auml;kerhet, sekretess eller efterlevnad.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Policy f&ouml;r rapportering av s&aring;rbarheter</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com-s&auml;kerhetsteamet anser att unders&ouml;kningar fr&aring;n frist&aring;ende anv&auml;ndare spelar en viktig roll f&ouml;r s&auml;kerheten p&aring; Internet. Vi uppmuntrar ansvarsfull rapportering av s&aring;rbarheter som kan hittas p&aring; v&aring;r webbplats eller i v&aring;ra applikationer. Esri str&auml;var efter att samarbeta med den &ouml;vriga s&auml;kerhetsgemenskapen f&ouml;r att verifiera och hantera m&ouml;jliga s&aring;rbarheter som rapporteras till oss. Esri kommer inte att st&auml;mma eller vidta r&auml;ttsliga &aring;tg&auml;rder mot dig om du f&ouml;ljer denna policy.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com till&aring;ter <strong>inte</strong> f&ouml;ljande typer av s&auml;kerhetsunders&ouml;kningar</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Orsaka eller f&ouml;rs&ouml;ka orsaka ett DoS-tillst&aring;nd (Denial of Service).</li>
		<li data-langlabel="">Anv&auml;nda automatiska s&auml;kerhetsverktyg utan Esris uttryckliga tillst&aring;nd. Anv&auml;ndning av automatiska verktyg kan leda till att en unders&ouml;kning inleds eller att din IP-adress blockeras.</li>
		<li data-langlabel="">F&aring; &aring;tkomst eller f&ouml;rs&ouml;ka f&aring; &aring;tkomst till data eller information som inte tillh&ouml;r dig.</li>
		<li data-langlabel="">F&ouml;rst&ouml;ra och skada, eller f&ouml;rs&ouml;ka f&ouml;rst&ouml;ra och skada, data eller information som inte tillh&ouml;r dig.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com-s&auml;kerhetsteamets &aring;tagande</h4>
	  </header>
		<p data-langlabel="">Till alla anv&auml;ndare som f&ouml;ljer den policy som fastst&auml;llts f&ouml;r ArcGIS.com r&ouml;rande rapportering av s&aring;rbarheter vid unders&ouml;kning av s&auml;kerheten g&ouml;r ArcGIS.com-s&auml;kerhetsteamet f&ouml;ljande &aring;tagande:</p>
		
		<ul>
		<li data-langlabel="">Att svara snabbt och bekr&auml;fta mottagandet av rapporten.</li>
		<li data-langlabel="">Att presentera en ber&auml;knad tidsram f&ouml;r att &aring;tg&auml;rda s&aring;rbarheten.</li>
		<li data-langlabel="">Att meddela personen som l&auml;mnat rapporten n&auml;r s&aring;rbarheten har &aring;tg&auml;rdats.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Namn: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">E-postadress: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Telefonnummer: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organisation <span class="optional">(valfritt):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">&Auml;mne: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">S&aring;rbarhet</option> <option value="Suspicious E-mail from Esri">Misst&auml;nkt e-post fr&aring;n Esri</option> <option value="Privacy Issue">Sekretessfr&aring;ga</option> <option value="audi">Annat</option>
			  </select>

			  <label data-langlabel="" for="description">Beskrivning: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Ange siffrorna som visas f&ouml;r att f&ouml;rhindra automatisk skr&auml;ppost: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Siffror: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="intern" name="source" id="source">

			  <input value="utf&ouml;rlig" name="resultType" id="resultType" type="hidden">
			  <input value="S&auml;kerhetsfr&aring;ga" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Skicka</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Tack f&ouml;r att du rapporterar det h&auml;r problemet. Vi kommer att unders&ouml;ka och hantera fr&aring;gan inom ett par arbetsdagar.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Ett fel uppstod n&auml;r du skickade in ditt &auml;rende. Var v&auml;nlig rapportera problemet igen senare.</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink">&Aring;terg&aring; till <a id="feedback-referring-link" href="">refererande sida</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Skicka in</a> en annan s&auml;kerhetsfr&aring;ga</span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

