---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/arcgis-online/">Aide</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Aide d'ArcGIS Online" href="/fr/arcgis-online/">Principal</a></li>
        <li><a title="Utiliser des cartes" href="/fr/arcgis-online/use-maps/">Utiliser</a></li>
        <li><a title="Créer des cartes et des applications" href="/fr/arcgis-online/create-maps/">Créer</a></li>		
        <li><a title="Partager des cartes et applications" href="/fr/arcgis-online/share-maps/">Partager</a></li>
		<li><a title="Administrer votre organisation" href="/fr/arcgis-online/administer/">Administration</a></li>
		<li><a href="/fr/arcgis-online/reference/">Référence</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Utilisez et créez des cartes et applications interactives et partagez-les avec le reste de votre organisation. Découvrez comment.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Utiliser des cartes</h3>
         
 
         <p>Utilisez des cartes pour explorer, comprendre et mesurer les données géographiques.</p>

      
         <p><a href="/fr/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">  Afficher les données</a> <br/> <a href="/fr/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">  Effectuer une analyse</a><br/> <a href="/fr/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">  Modification des entités</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Créer des cartes et des applications</h3>
          <p>Créez des cartes et applications interactives auxquelles les membres de votre organisation peuvent accéder sur n'importe quel appareil, où qu'ils soient et à tout moment.</p>


            <p><a href="/fr/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">  Créer votre première carte</a> <br/>

            <a href="/fr/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">  Créer votre première carte</a><br/> <a href="/fr/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">  Définir les propriétés de la carte et de la couche</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Partager des cartes et applications</h3>
          <p>Rendez vos données opérationnelles en partageant des cartes et applications au sein de votre organisation ou communauté.</p>

         <p><a href="/fr/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">  Ajouter des éléments</a> <br/><a href="/fr/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">  Partager des éléments</a> <br/> <a href="/fr/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">  Publier des entités et des tuiles hébergées</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administrer votre organisation</h3>
          <p>Etendez l'utilisation de votre SIG en configurant ArcGIS Online pour votre organisation, en invitant des utilisateurs à participer et en gérant les ressources.</p>
          <p>
            <a href="/fr/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">  Configurer le site Web</a> <br/> <a href="/fr/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">  Inviter des utilisateurs</a> <br/> <a href="/fr/arcgis-online/administer/view-status.htm" class="icon-right-arrow">  Consulter les statistiques de l'organisation</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Applications prêtes à l'emploi</h3>
         <p>Profitez d'applications prêtes à l'emploi pour la collecte de données sur le terrain, les tableaux de bord opérationnels, Microsoft Office et Sharepoint.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">  Applications ArcGIS</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>API pour développeurs</h3>
          <p>La plateforme ArcGIS inclut des API et des SDK permettant de concevoir des applications pour votre organisation et la communauté dans son ensemble.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">   ArcGIS pour les développeurs</a></p>
        </div>
	
        <div class="clear"></div>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Commencer</h3>
		  <p>Des didacticiels expliquent comment utiliser la plateforme ArcGIS.</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/fr/get-started/web/">Utiliser des cartes</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/fr/get-started/services/">Partager des données</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/fr/get-started/organizations/">Administrer votre organisation</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>A propos d'ArcGIS Online</h3>
         <ul>
		 <li><a href="/fr/arcgis-online/reference/what-is-agol.htm"> Présentation d'ArcGIS Online</a></li>
		 <li>
		 <a href="/fr/arcgis-online/reference/whats-new.htm" > Nouveautés</a>
		 </li>
		 <li><a href="/fr/arcgis-online/reference/faq.htm"> Forum aux questions</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Créer une carte</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Apprenez à utiliser la visionneuse de carte intégrée pour créer des cartes.</p>
        <a href="/fr/arcgis-online/reference/videos.htm" class="btn secondary">Plus de vidéos</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Plus de billets de blog</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Sur notre forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Plus de billets sur le forum</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
