---
title: Aide d'ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="fr">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/arcgis-online/">Aide d'ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Aide d'ArcGIS Online" href="/fr/arcgis-online/">Accueil</a></li>
        <li><a title="Utiliser des cartes et des scènes" href="/fr/arcgis-online/use-maps/">Utilisation</a></li>
        <li><a title="Créer des cartes, des scènes et des applications" href="/fr/arcgis-online/create-maps/">Créer</a></li>
        <li><a title="Partager des cartes, des scènes et des applications" href="/fr/arcgis-online/share-maps/">Share</a></li>
        <li><a title="Administrer votre organisation" href="/fr/arcgis-online/administer/">Administrer</a></li>
        <li><a title="Référence" href="/fr/arcgis-online/reference/">Référence</a></li>
        <li><a title="Des applications pour tout le monde" href="/fr/arcgis-online/apps/arcgis-apps.htm">Applications</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="fr" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Cartes, scènes, analyses, applications, collaboration : à portée de main avec ArcGIS Online.</p>
	
	<p> Nouveautés d'ArcGIS Commencez en créant votre propre carte, scène, application ou groupe. Si vous êtes prêt à en savoir plus, essayez un cours ou explorez les rubriques populaires. Êtes-vous un <a href="/fr/arcgis-online/administer/admin-org.htm">administrateur</a> d'organisation ? Découvrez comment utiliser les rôles personnalisés, les paramètres de sécurité et les configurations flexibles.
	</p> 
	<p>Veillez à consulter les dernières actualités sur notre <a href="#blog"> blog</a> et la <a href="#community">communauté</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/fr/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/fr/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/fr/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/fr/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Nouveautés</h3>
        <p>La mise à jour de juin 2016 inclut les pages d'élément améliorées, de nouvelles options pour afficher l'heure, le support pour les couches de maillage intégrées, etc.
        </p>
			<!--<a href="/fr/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/fr/arcgis-online/reference/whats-new.htm" class="btn secondary">En savoir plus</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Créer votre premier/première</h2>
      <div class="make-first">
        <a href="/fr/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Carte</h2></a>
        <a href="/fr/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Scène</h2></a>
        <a href="/fr/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">Application</h2></a>
        <a href="/fr/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Groupe</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Voir les rubriques populaires :</h4></li>
        <li><a href="/fr/arcgis-online/reference/faq.htm">Forum aux questions</a></li>
		<li><a href="/fr/arcgis-online/share-maps/add-items.htm">Ajouter des éléments</a></li>
        <li><a href="/fr/arcgis-online/use-maps/perform-analysis.htm">Perform Analysis (Effectuer une analyse)</a></li>
		<li><a href="/fr/arcgis-online/share-maps/publish-features.htm">Publier des entités</a></li>
		<li><a href="/fr/arcgis-online/administer/view-status.htm">Consulter le statut</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Suivre un cours
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Autres cours <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Démarrer avec ArcGIS Online</a></h3>
          <p>
 Apprenez les fondamentaux de la création de cartes en ligne.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Analyse démographique et cartographie intelligente</a></h3>
          <p>
            Localisez les enfants souffrant de pauvreté dans le monde à l'aide d'analyses démographiques, d'une cartographie intelligente et d'une application Web.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Planifier des itinéraires</a></h3>
          <p>
 Aidez quatre représentants officiels à inspecter 36 restaurants dans le comté de San Diego.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Analyse spatiale</a></h3>
          <p>
 Trouvez les zones adaptées à un nouveau développement de logement mixte.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Lire notre blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Autres billets de blog <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Rejoindre la conversation
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Autres discussions <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Rechercher des cours de formation</a></h4>
      <p class="no-trailer">
        Recherchez des cours de formation Esri pour approfondir votre formation.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Visionner des clips vidéo</a></h4>
      <p class="no-trailer">
        Affichez un ensemble de vidéos sur ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Obtenir l'aide du support technique</a></h4>
      <p class="no-trailer">
        Contactez le support via la discussion en ligne, par courrier électronique ou par téléphone.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Vérifier la santé du système</a></h4>
      <p class="no-trailer">
        Découvrez le statut d'ArcGIS Online et signalez les problèmes.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script></Comment>--&gt;   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
