---
title: Aide d'ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/arcgis-online/">Aide</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Aide d'ArcGIS Online" href="/fr/arcgis-online/">Principale</a></li>
        <li><a title="Utiliser des cartes" href="/fr/arcgis-online/use-maps/">Utiliser</a></li>
        <li><a title="Créer des cartes et des applications" href="/fr/arcgis-online/create-maps/">Créer</a></li>		
        <li><a title="Partager des cartes et des applications" href="/fr/arcgis-online/share-maps/">Partager</a></li>
		<li><a title="Administrer votre organisation" href="/fr/arcgis-online/administer/">Administrer</a></li>
		<li><a href="/fr/arcgis-online/reference/">Référence</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Utilisez et créez des cartes et applications interactives et partagez-les avec le reste de votre organisation. Découvrez comment.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Utiliser des cartes</h3>
         
 
         <p>Utilisez des cartes pour explorer, comprendre et mesurer les données géographiques.</p>

      
         <p><a href="/fr/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Afficher les données</a>
		<br/>
         <a href="/fr/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Effectuer une analyse</a><br/>
         <a href="/fr/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Modification des entités</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Créer des cartes et des applications</h3>
          <p>Créez des cartes et applications interactives auxquelles les membres de votre organisation peuvent accéder sur n'importe quel appareil, où qu'ils soient et à tout moment.</p>


            <p><a href="/fr/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Créer votre première carte</a>
			    <br/>

            <a href="/fr/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Concevoir votre première application</a><br/>
			<a href="/fr/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Définir les propriétés de la carte et de la couche</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Partager des cartes et applications</h3>
          <p>Rendez vos données opérationnelles en partageant des cartes et applications au sein de votre organisation ou communauté.</p>

         <p><a href="/fr/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Ajouter des éléments</a>
         <br/><a href="/fr/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Partager des éléments</a>
         <br/>
	<a href="/fr/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Publier des entités et des tuiles hébergées</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administrer votre organisation</h3>
          <p>Etendez l'utilisation de votre SIG en configurant ArcGIS Online pour votre organisation, en invitant des membres à participer et en gérant les ressources.</p>
          <p>
            <a href="/fr/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Configurer le site Web</a>
               <br/> <a href="/fr/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Inviter des membres</a>
               <br/>
            <a href="/fr/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Afficher les statistiques de l'organisation</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Applications prêtes à l'emploi</h3>
         <p>En savoir plus sur les applications prêtes à l'emploi qui sont incluses avec ArcGIS Online.</p>
		 <p>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/>
		 <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/>
		  <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a></br><a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/>
		   <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;Application ArcGIS pour smartphones et tablettes</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Applications configurables</h3>
          <p>Apprenez à utiliser les modèles configurables pour créer des applications adaptées à votre organisation et à la communauté.</p>
		 <p><a href="http://links.esri.com/configurableapps" class="icon-right-arrow">&nbsp;&nbsp; Applications configurables Esri</a><br>
		 <a href="http://storymaps.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; Cartes de narration</a></br>
		 <a href="http://solutions.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; Solutions ArcGIS</a><br></p>
		 
        </div>
        <div class="clear"></div>
          <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>Ressources supplémentaires</h3>
		          <p>Découvrez plus d'applications, de cartes et d'outils pour votre organisation.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> 
				 <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br>
				 <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; Atlas mondial dynamique</a></br>
				 <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS pour les développeurs</a>
				
			 </p></div>
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Commencer</h3>
		  <p>Amusez-vous avec ArcGIS Online tout en apprenant à :</p>
		  
		     <table><tr><td>
		          <ul>
		            <li>Explorer une carte</li>
		            <li>Créer une carte</li>
		            <li>Ajouter une couche à partir d'un fichier</li>
		            <li>Configurer les fenêtres contextuelles</li>
		            <li>Créer une carte Web</li>
		          </ul></td>
		          <td valign="top">
		          <ul><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online" class="btn secondary">Commencer maintenant</a>
		            
        </ul></td><tr></table>
    
		 
		<p>Découvrez d'autres cours pratiques sur <a href="http://learn.arcgis.com">Apprendre à utiliser ArcGIS</a><br>
		 Vous recherchez une formation ? Trouvez des <a href="http://www.esri.com/training/main/arcgis-online-training">cours sur ArcGIS Online</a></p>
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Détails</h3>
         <ul>
		<li><a href="/fr/arcgis-online/reference/what-is-agol.htm" >&nbsp;Présentation d'ArcGIS Online</a></li>
		<li><a href="/fr/arcgis-online/reference/whats-new.htm" >&nbsp;Nouveautés</a></li>
		<li><a href="/fr/arcgis-online/reference/faq.htm">&nbsp;Forum aux questions</a></li>
		<li><a href="http://doc.arcgis.com/fr/trust/">&nbsp;Trust ArcGIS</a></li>
		 
		
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Créer une carte</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Apprenez à utiliser la visionneuse de carte intégrée pour créer des cartes.</p>
        <a href="/fr/arcgis-online/reference/videos.htm" class="btn secondary">Plus de vidéos</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Plus de billets de blog</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Discussion sur GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2055" class="btn secondary">En commencer une</a>&nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">En savoir plus</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
