---
title: Report a Security Concern
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/Trust/">Trust ArcGIS</a></h1>
   <!--    <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>  -->
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/en/trust/">Trust</a></li>
        <li><a title="ArcGIS Online System Status" href="/en/trust/system-status/">System Status</a></li>
        <li><a title="ArcGIS Online Security" href="/en/trust/security/">Security</a></li>
        <li><a title="ArcGIS Online Privacy" href="/en/trust/privacy/">Privacy</a></li>
        <li><a title="ArcGIS Online Privacy" href="/en/trust/compliance/">Compliance</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Report a Security Concern</h2>
      </header>
	  <section>
		<p data-langlabel="">Please fill out the form on the right with all applicable information including sufficient details of your specific concern. Your contact details will be used to follow up on the information you provided. Please select the applicable subject from the subject drop-down menu.</p>
		<ul>
			<li data-langlabel="">Vulnerability - report a vulnerability found in our site or application.</li>
			<li data-langlabel="">Suspicious E-mail from Esri - if you believe you were targeted by a possible phishing attack from an Esri e-mail address, or have received other suspicious e-mail correspondance from Esri.</li>
			<li data-langlabel="">Privacy Issue - if you have a privacy concern related to our application or organization.</li>
			<li data-langlabel="">Other - for all other security, privacy or compliance related concerns.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Vulnerability Reporting Policy</h3>
	  </header>
      
        <p data-langlabel="">The ArcGIS.com security team acknowledges the valuable role that independent security researchers play in Internet security. We encourage responsible reporting of any vulnerabilities that may be found in our site or application. Esri is committed to working with the security community to verify and respond to any potential vulnerabilities that are reported to us. Esri will not bring a lawsuit or begin law enforcement investigation of you if this policy is followed.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com does <strong>not</strong> permit the following types of security research</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Causing, or attempting to cause, a Denial of Service (DoS) condition.</li>
		<li data-langlabel="">Use automated security tools without Esri's explicit consent. Use of automated tools may result in investigative action or your IP(s) being blocked.</li>
		<li data-langlabel="">Accessing, or attempting to access, data or information that does not belong to you.</li>
		<li data-langlabel="">Destroying or corrupting, or attempting to destroy or corrupt, data or information that does not belong to you.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">The ArcGIS.com Security Team commitment</h4>
	  </header>
		<p data-langlabel="">To all security researchers who follow this ArcGIS.com Vulnerability Reporting Policy, the ArcGIS.com Security Team commits the following:</p>
		
		<ul>
		<li data-langlabel="">To respond in a timely manner, acknowledging receipt of your report.</li>
		<li data-langlabel="">To provide an estimated time frame for addressing this vulnerability.</li>
		<li data-langlabel="">To notify the reporting individual when the vulnerability has been fixed.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Name: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">Email Address: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Phone Number: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organization <span class="optional">(optional):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Subject: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Vulnerability</option>
				  <option value="Suspicious E-mail from Esri">Suspicious E-mail from Esri</option>
				  <option value="Privacy Issue">Privacy Issue</option>
				  <option value="audi">Other</option>
			  </select>

			  <label data-langlabel="" for="description">Description: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">To help prevent automated spam, enter the numerals provided: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Numerals: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Security Concern" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Submit</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Thank you for reporting this issue. We will investigate and address your concern within the next few business days.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>An error occurred during your submission. Please resubmit your concern at a later time.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Return to the <a id="feedback-referring-link" href="">referring page</a></span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Submit</a> another security concern</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

