---
title: Report a Security Concern
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar">
  <div class="container feedback">
    <header>
      <h1 data-langlabel=""><a href="/en/trust/">Trust ArcGIS</a></h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Responsible discloser vulnerability reporting policy</h2>
      </header>
	  <section>
		<p data-langlabel="">The ArcGIS.com security team acknowledges the valuable role that independent security researchers play in Internet security. We encourage responsible reporting of any vulnerabilities that may be found in our site or application. Esri is committed to working with the security community to verify and respond to any potential vulnerabilities that are reported to us. Esri will not bring a lawsuit or begin law enforcement investigation of you if this policy is followed.</p>
	  
	  <header>
		<h3 data-langlabel="">Reporting a potential security vulnerability</h3>
	  </header>
      
        <p data-langlabel="">Privately share details of the suspected vulnerability with Esri by submitting the form on this page with Vulnerability selected for Subject.</p>
		
		<p data-langlabel="">Provide full details of the suspected vulnerability so the ArcGIS.com security team may validate and reproduce the issue.</p>
      
	  <header>
		<h3 data-langlabel="">ArcGIS.com does NOT permit the following types of security research</h3>
	  </header>
	  
		<p data-langlabel="">Causing, or attempting to cause, a Denial of Service (DoS) condition.</p>
		<p data-langlabel="">Use automated security tools without Esri's explicit consent. Use of automated tools may result in investigative action or your IP(s) being blocked.</p>
		<p data-langlabel="">Accessing, or attempting to access, data or information that does not belong to you.</p>
		<p data-langlabel="">Destroying or corrupting, or attempting to destroy or corrupt, data or information that does not belong to you.</p>
	 <header>
	  <h3 data-langlabel="">The ArcGIS.com security team commitment</h3>
	  </header>
		<p data-langlabel="">To all security researchers who follow this ArcGIS.com Vulnerability Reporting Policy, the arcgis.com security team commits the following:</p>
		<p data-langlabel="">To respond in a timely manner, acknowledging receipt of your report.</p>
		<p data-langlabel="">To provide an estimated time frame for addressing this vulnerability.</p>
		<p data-langlabel="">To notify the reporting individual when the vulnerability has been fixed.</p>
	  <header>
	  <h3 data-langlabel="">No compensation</h3>
	  </header>
	    <p data-langlabel="">Esri does not compensate people for reporting a security vulnerability, and any requests for such compensation will be considered a violation of the conditions above. In such an event, Esri reserves all of its legal rights.</p>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Name: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">Email Address: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Phone Number: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organization <span class="optional">(optional):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Subject: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Vulnerability</option>
				  <option value="Suspicious E-mail from Esri">Suspicious E-mail from Esri</option>
				  <option value="Privacy Issue">Privacy Issue</option>
				  <option value="audi">Other</option>
			  </select>

			  <label data-langlabel="" for="description">Description: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">To help prevent automated spam, enter the numerals provided: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Numerals: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Security Concern" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Submit</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Thank you for reporting this issue. We will investigate and address your concern within the next few business days.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>An error occurred during your submission. Please resubmit your concern at a later time.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Return to the <a id="feedback-referring-link" href="">referring page</a></span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Submit</a> another security concern</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

