---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="it">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/it/marketplace/">Guida</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/marketplace/">Principale</a></li>
        <li><a href="/it/marketplace/consumer/">Per gli utenti</a></li>
        <li><a href="/it/marketplace/provider/">Per i fornitori</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">Informazioni su come sfruttare al massimo ArcGIS Marketplace.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>Per gli utenti </h3>
          <p>Informazioni su come trovare e utilizzare app e dati.</p>
          <ul>			
			<li><a href="/it/marketplace/consumer/get-started-consumers.htm">Sfruttare al massimo ArcGIS Marketplace</a></li>
			<li><a href="/it/marketplace/consumer/search-for-apps-and-data.htm">Cercare elementi</a></li>
			<li><a href="/it/marketplace/consumer/subscribe-to-apps-and-data.htm">Acquisire gli elementi</a></li>
			<li><a href="/it/marketplace/consumer/faq.htm">Domande frequenti</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>Per i provider</h3>
          <p>Informazioni su come aggiungere, promuovere e vendere app e dati.</p>
          <ul>			
			<li><a href="/it/marketplace/provider/become-a-provider.htm">Diventare un provider</a></li>
			<li><a href="/it/marketplace/provider/listing-tips.htm">Suggerimenti per una presentazione di successo</a></li>
			<li><a href="/it/marketplace/provider/create-listings.htm">Informazioni sulle presentazioni</a></li>
			<li><a href="/it/marketplace/provider/faq.htm">Domande frequenti</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Supporto tecnico Esri</a></h4>
      <p>Contattare il supporto tecnico attraverso chat, e-mail o telefono.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">Idee ArcGIS</a></h4>
      <p>Inviare feedback sul software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">La community Esri</a></h4>
      <p>Partecipare a discussioni su GeoNet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






