---
title: Administering your org in ArcGIS Online
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js

metatags:
  - <META name="description" content="Administering your org in ArcGIS Online"><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-online/">Help</a></h1>
      <form id="helpSearchForm">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a href="/en/arcgis-online/">Main</a></li>
        <li><a href="/en/arcgis-online/use-maps/">Use maps</a></li>
        <li><a href="/en/arcgis-online/create-maps/">Create maps</a></li>		<li><a href="/en/arcgis-online/share-maps/">Share maps and apps</a></li>
		<li class='current'><a href="/en/arcgis-online/administer/">Administer your org</a></li>
		<li><a href="/en/arcgis-online/reference/">Reference</a></li>
		</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Administer your org signpost</h2>

          <p>ArcGIS Marketplace is a destination that allows ArcGIS Online organizations to search, discover, and get apps and data from qualified providers (Esri Business Partners, Esri Distributors, and Esri) for use within their organization. The apps and data services listed in the marketplace can be made available to any ArcGIS online organization, worldwide.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Create maps</h3>
          <p>Find apps and data services to use in your organization. Once you get an app or data service you can easily share it with groups and users within your organization.</p>
          <p>

			<a href="/en/marketplace/consumer/search-for-apps-and-data.htm" class="icon-right-arrow">&nbsp;Show me how</a>
         <br/>
         <a href="/en/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Use maps</h3>
          <p>ArcGIS Marketplace provides a mechanism to generate leads, provide free trials, grant access to your listings, and manage subscriptions.</p>
          <p>
            <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Show me how</a>
               <br/>
            <a href="http://www.esri.com/partners/partner-network/marketplaceprovider" class="icon-right-arrow">&nbsp;Qualifying as a provider</a>
               <br/>
            <a href="/en/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Share maps and apps</h3>
          <p>Find apps and data services to use in your organization. Once you get an app or data service you can easily share it with groups and users within your organization.</p>
          <p>

			<a href="/en/marketplace/consumer/search-for-apps-and-data.htm" class="icon-right-arrow">&nbsp;Show me how</a>
         <br/>
         <a href="/en/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Administer your organization</h3>
          <p>ArcGIS Marketplace provides a mechanism to generate leads, provide free trials, grant access to your listings, and manage subscriptions.</p>
          <p>
            <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Show me how</a>
               <br/>
            <a href="http://www.esri.com/partners/partner-network/marketplaceprovider" class="icon-right-arrow">&nbsp;Qualifying as a provider</a>
               <br/>
            <a href="/en/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>		
		
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	 <div class="imgFrame block">
          <h3>Ready to use apps</h3>
         <p>Your ArcGIS organizational account includes ready-to-use apps:</p>
		 <p>
		 <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Collector for ArcGIS</a>
		 <br/>
		 <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Operations Dashboard for ArcGIS</a>
		 <br/>
		 <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Esri Maps for Office</a>
		 <br/>
		 <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Esri Maps for Sharepoint</a>
		 <br/>
		 <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;ArcGIS app for smartphones and tablets</a>
		 <br/>
		 </p>
        
        </div>
	
		 <br />
	
        <div class="sidebar-panel">
          <h3>Developer APIs</h3>
         <p>ArcGIS organizational accounts include APIs and SDKs to build web and mobile applications that meet specific workflows and provide rich geographic content interaction on any device. </p>
		 
		 <p><a href="https://developers.arcgis.com"> developers.arcgis.com</a></p>
		 

        </div>


		
       


 </div>

    </div>

