---
title: Esri Maps for Office
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">Home</a></li>
        <li><a href="/en/maps-for-office/help/">Help</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Download the app</h2>
          <span id="appVersion"><strong>Version:</strong> 2.1.1</span>
          <span id="appReleased"><strong>Available:</strong> Fall 2013</span>


          <p>Esri Maps for Office allows you to quickly create dynamic, interactive maps of your Excel data and start exploring it in a whole new way. Esri Maps for Office enables you to uncover patterns and trends not evident in tabular data and charts. Maps can be shared immediately through PowerPoint presentations or by one-click publishing to Esri's mapping platform, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Get Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Map your spreadsheets </h3>
          <p>Learn how to map your Excel data using Esri Maps for Office. You can easily create interactive color-coded, point, clustered-point and heat maps directly in Excel and gain visual insights about your data.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>-->
			<a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enrich your data</h3>
          <p>Utilize Esri's wealth of data collections to add value to your business data. Add demographics and lifestyle data directly to Excel spreadsheets and get more context about the locations that are important to you. Quickly explore locations on-the-fly using pop-up infographics.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>-->
		   <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <p>Esri Maps for Office requires an account that is part of an <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> organization and Microsoft Office Excel or PowerPoint 2010 or Microsoft Office Excel or PowerPoint 2013. The supported operating systems include:</p>
		<ul>
		 <li>Windows XP (must have SP3) (32-bit)</li>
		 <li>Windows 7 (32-bit and 64-bit)</li>
		 <li>Windows 8 (32-bit and 64-bit)</li>
		 <li>Windows Server 2003 with SP2 and MSXML 6.0 (32-bit Office only)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>For additional information including the required processor speed, memory, and hard disk space, see the system requirements for <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> and <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>What's new</h2>
        <p>Esri Maps for Office version 2.1.1 was released in October 2013. It includes the following enhancements:</p>
        <ul>
        <li>New localized versions for 22 supported languages:</li>
			<ul>
			<li>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish</li>
			</ul>
		<li>Support for pop-ups in web maps</li>
		<li>Symbolize features using an icon from an attribute URL</li>
		<li>Bug fixes and usability improvements throughout the product, including:
			<ul>
			<li>Improved handling of OAuth logins</li>
			<li>More useful error messages in the Find Hot Spot tool</li>
			<li>Find Hot Spot tool can now handle column names with spaces</li>
			<li>Select tool now supports buffers of size "0"</li>
			<li>Fixed Task Pane issues</li>
			<li>Fixed group visibility bugs</li>
			<li>Improved support for organizations that use SSL for all connections</li>
			<li>Grouping now works properly when using columns added from the Enrich Layer tool</li>
			</ul>
        </ul>


        <h3>Previous versions</h3>
		
        <p>Version 2.1 was released in July 2013. It includes the following enhancements: </p>
        <ul>
        <li>Statistical pattern analysis via the Hot Spot tool</li>
		<li>Data enrichment improvements including more data collections and the ability to select individual variables from data collections</li>
		<li>Support for secure sign-in using OAuth+SAML (AGOL)</li>
        <li>Support for secure sign-in using IWA, PKI (Portal Only)</li>
		<li>User interface improvements for Infographics and the Enrich Layer tool</li>
		<li>Improved workflow for upgrading Maps for Office to the latest version</li>
        </ul>
		<br>
        <p>Version 2.0.2 was released in May 2013. It included the following enhancements:</p>
        <ul>
          <li>Enrich your data with geographic context using the new 'Enrich Layer' tool</li>
		  <li>Select features on your map and find nearby features within other layers </li>
		  <li>Map pop-ups now contain Infographics that provide rich contextual information about the areas surrounding the features in your map</li>
		  <li>Preview support for Portal for ArcGIS 10.2</li>
		  <li>New configuration options for heat maps and clustering</li>
		  <li>Added the ability to filter grouped features on the map by clicking on the class breaks in the map legend</li>
		  <li>Improved workflow for address geocoding</li>
		  <li>Support for customizing the basemap gallery from your ArcGIS Online organization</li>
		  <li>Insert Map uses the default basemap from your ArcGIS Online organization</li>
		  <li>Search for data on ArcGIS Online using popular categories such as Wealth, Business, Policy, and Health</li>
		  <li>Place names are now based on data location. For example, labels in the geocoding workflow will show prefectures in Japan, states in the United States, and provinces in Canada</li>
		  <li>Support for Microsoft Office 2013</li>
		  <li>Other quality, usability, and cartographic enhancements</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
           <li><a href="#whatsNew">What's new</a></li>
            <li><a href="#systemRequirements">System requirements</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Watch videos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>