---
title: Navigator for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/navigator-1
  - libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="Navigator for ArcGIS Home page."><META name="last-modified" content="2016-07-05"><META name="product" content="navigator-iphone,navigator-ipad"><META name="sub_category" content="Navigator for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Navigator for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/navigator/">Navigator for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
       <input type="search" name="q" class="leader" placeholder="Navigator durchsuchen"> 
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="navigator-ipad" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/de/navigator/">Startseite</a></li>
        <li><a href="/de/navigator/prepare-maps/prepare-maps.htm">Karten vorbereiten</a></li>
        <li><a href="/de/navigator/ipad/navigate/guided-tour.htm">Navigieren</a></li>
        <li><a href="http://links.esri.com/geonet-navigator">Forum</a></li> 
      </ul>
    </nav>  
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
	   <h3 class="gray">Navigieren Sie zu jedem gewünschten Ort, steigern Sie Ihre Effizienz und erhöhen Sie die Zuverlässigkeit Ihrer Mitarbeiter im Außendienst.</h3>

        <p>
          <a href="http://links.esri.com/navigator-ios-install"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a> 
          <a style="font-size:1.23em; margin:10px; vertical-align:middle" class="btn primary icon-android" href="https://earlyadopter.esri.com/callout/?callid=%7b28F9956B-A1F0-4793-8B7E-BA0E9473D06A%7d">Android ist jetzt als Betaversion verfügbar!</a>
        </p> 
        </header>
        <hr />
        <br />


        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement" title="Erste Schritte mit Navigator for ArcGIS"><img src="nav-home-1.png" /><img src="/img/playbtn.png" class="playbtn"></a>
		
          <h3>Einführung</h3>
          <p>Laden Sie aktuell benötigte Karten herunter, erstellen Sie eine Route, ordnen Sie Stopps neu an, konfigurieren Sie Reisemodi und ermitteln Sie eine Route zum gewünschten Ziel.</p>
          <p>
		<a href="/de/navigator/ipad/navigate/guided-tour.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />  
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" title="Erste Schritte mit Navigator for ArcGIS" class="videoLink colorbox-evlarge cboxElement icon-play">&nbsp;Video ansehen</a>
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="nav-home-2.png" title="Eigene Daten nutzen"/>

          <h3>Eigene Daten nutzen</h3>
          <p>Erstellen Sie Navigationskarten mit Ihren eigenen Daten: Durchsuchen Sie Ihre Ressourcen, erstellen Sie Routen auf Ihren Straßen, und zeigen Sie Ihre Layer an.</p>
          <p>
		  
		<a href="/de/navigator/prepare-maps" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />
				
          </p>
        </div>
        
        <div class="clear"></div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<img src="1.png" title="Integration mit Collector"/>
		
          <h3>Integration mit Collector</h3>
          <p>Stellen Sie mühelos eine Verbindung zu anderen Esri Apps her, z. B. Collector for ArcGIS, um zu Standorten Ihres Außeneinsatzes zu navigieren.</p>
          <p>
		  
		<a href="/de/navigator/ipad/navigate/esri-app-integration.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="4.PNG" title="Stopps an Navigator übertragen"/>

          <h3>Stopps an Navigator übertragen</h3>
          <p>Verwenden Sie das benutzerdefinierte URL-Schema, damit Ihre Benutzer Navigator über Ihre App, Ihre Website oder per E-Mail starten und anhand der bereitgestellten Parameter navigieren können.</p>
          <p>
            <a href="https://github.com/Esri/navigator-integration" class="icon-github">&nbsp;Weitere Informationen zur Vorgehensweise finden Sie auf GitHub</a>.<br />
          </p>
        </div>
        
        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Features</h2>
        <p>Rufen Sie Wegbeschreibungen ab, bearbeiten Sie Routen und starten Sie die Navigation, um Ihr Team zu seinen Einsatzorten zu geleiten.</p>
        <ul>
          <li>Nutzen Sie sprachgesteuerte Wegbeschreibungen mit automatischer Neuberechnung von Routen.</li>
          <li>Navigieren Sie vollständig offline mit lokal gespeicherten Daten.</li>
          <li>Greifen Sie auf die Navigationsdaten von Esri zu, oder verwenden Sie Ihre eigenen Karten: Durchsuchen Sie Ihre Ressourcen, erstellen Sie Routen auf Ihren Straßen, und zeigen Sie Ihre Layer an.</li>
          <li>Schließen Sie einzelne Stopps nacheinander ab, oder erstellen Sie eine Arbeitsliste für einen gesamten Arbeitstag.</li>
          <li>Verwenden Sie fahrzeugspezifische Reisemodi.</li>
          <li>Rufen Sie Stopps aus einer E-Mail, aus Ihrer eigenen oder aus anderen ArcGIS-Apps wie Collector for ArcGIS auf.</li>
        </ul>
        
        <a name="systemRequirements"></a>
        <h2 class="divider">Systemanforderungen</h2>
	<table><tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
            <ul>
              <li>Version 8 oder höher</li>
              <li>iPad (vierte Generation oder höher für optimale Performance), iPhone (6 oder höher für optimale Performance), iPod Touch</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">Android (Beta)</h4>
	    <ul>
	      <li>Android 4.2 (Jelly Bean) oder höher</li>
	      <li>ARMv7- oder x86-Prozessor</li>
	      <li>Unterstützung für OpenGL ES 2.0</li>
	      <li>Unterstützung für exakte Ortung (GPS- und netzbasiert)</li>
            </ul>
          </td>
        <tr></table>

	 <h3>Unterstützte Sprachen</h3>
	    <p>Arabisch, Chinesisch (vereinfacht), Deutsch, Englisch, Französisch, Griechisch, Hebräisch, Italienisch, Japanisch, Koreanisch, Niederländisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Russisch, Spanisch und Türkisch.</p>        


	<a name="arcgisRequirements"></a>
        <h2 class="divider">ArcGIS-Anforderungen</h2>
        <p>Für die Nutzung von Navigator for ArcGIS benötigen Sie ein ArcGIS-Organisationskonto, das mit einer Navigator for ArcGIS-Lizenz ausgestattet wurde. 
        Weitere Informationen zum Verwenden von ArcGIS Online finden Sie unter <a href="/de/arcgis-online/administer/manage-licenses.htm#ESRI_SECTION1_C9282762EB1F4A72BB3D8794F2E4E516" target="_blank">Weitere Informationen zur Lizenzierung von Navigator for ArcGIS</a>. 
        Weitere Informationen zum Verwenden von Portal for ArcGIS finden Sie unter <a href="http://server.arcgis.com/en/portal/latest/administer/windows/configure-navigator-for-arcgis-licenses.htm#ESRI_SECTION1_D9DCE11B3F03413BBD608ECFA8BC4A04">Konfigurieren von Navigator for ArcGIS-Lizenzen für Ihre Organisation</a>. 
        Unterstützung für ArcGIS Online und Portal for ArcGIS 10.4 und höher. </p>
        
        <p>Sie können von Esri bereitgestellte Navigationskarten verwenden oder eigene erstellen. Von Esri bereitgestellte Karten sind in ArcGIS Online oder Portal for ArcGIS verfügbar und können auf Ihr Gerät heruntergeladen werden. Weitere Informationen zu den bereitgestellten Karten finden Sie unter <a href="http://server.arcgis.com/en/streetmap-premium/latest/coverage/navigator-maps.htm">Karten-Coverage in Navigator</a>.</p>
        <p>Die Anforderungen zum Erstellen oder Ändern einer Karte für die Verwendung in Navigator sind davon abhängig, welche Elemente Sie bearbeiten möchten. Weitere Informationen finden Sie unter <a href="/de/navigator/prepare-maps/faqs-author.htm#anchor3">Welche Lizenzen benötige ich, um mit Navigationskarten zu arbeiten?</a></p>
            
        <a name="whatsNew"></a>
        <h2 class="divider">Neuerungen</h2>     
        
        <table>
	  <tr>
	    <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
	      <p>Navigator for ArcGIS 2.0 wurde im Juli 2016 veröffentlicht. Diese Version enthält folgende Verbesserungen:</p>
	    </td>
	    <td valign="top" width="250px;"><h4 class="icon-android">Android (Beta)</h4>
	      <p>Navigator for ArcGIS liegt seit Mai 2016 als Betaversion vor. Diese Version enthält folgende Verbesserungen:</p>
	    </td>
	  </tr>
	  <tr>
	    <td valign="top"><ul>
              <li>Verwenden Sie eigene Karten: Durchsuchen Sie Ihre Ressourcen, erstellen Sie Routen auf Ihren Straßen, und zeigen Sie Ihre Layer an.</li>
              <li>Mehrere Stopps können automatisch in optimierte Routen neu angeordnet werden.</li>
              <li>Übergeben von Adressen mit benutzerdefiniertem URL-Schema</li>
              <li>Unterstützung für Portal for ArcGIS 10.4 und höher</li>
              <li>in Arabisch, Niederländisch, Hebräisch und Portugiesisch (Brasilien) lokalisiert</li>
              <li>verschiedene Bugfixes und Verbesserungen</li>
	    </ul></td>
	    <td valign="top"><ul>
	      <li>Umfasst alle Features, die in der <a href="#sneakPeak">Vorschau</a>tabelle als in der Entwicklung für Android befindlich aufgelistet sind. Alle derzeit unter iOS veröffentlichten Features werden unterstützt.</li>
	    </ul></td>
	  </tr>
        </table>
        
	<a name="sneakPeek"></a>
	<h2 class="divider">Vorschau</h2>
	<p>	In der folgenden Tabelle wird die Weiterentwicklung dieser App mit den Funktionen für die jeweilige Geräteplattform dargestellt: </p>
	
	<style>
	  table.sneakPeek
	  {
	    text-align:center;
	  }
	  table.sneakPeek tr.heading th
	  {
	    background-color:lightgray;
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	  table.sneakPeek tr#deviceHeadings th
	  {
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	</style>
        <table class="sneakPeek" border="1">
	  <caption>Funktionalität nach Plattform<br/>
	  <span class="icon-check" style="color:black"></span> verfügbar, <span class="icon-check icon-orange"></span> in Entwicklung, <span class="icon-check" style="color:lightgray"></span><span class="clear"/> später<br/>
Leere Zellen bedeuten ungeplante Funktionen.<br/>
Die Unterstützung von Desktops ist derzeit nicht geplant.
	  </caption>
	  <tr>
	    <td></td>
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <td><span class="icon-windows-8 icon-purple"/></td>
	  </tr>
	  <tr>
	    <td>Navigieren mit enthaltenen Karten</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Navigieren mit eigenen benutzerdefinierten Karten (Geokodierung, Routenerstellung und Anzeige)</td>
	    <td><span class="icon-check"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr> 
	  <tr>
	    <td>Verwenden mit ArcGIS Online</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>Verwenden mit Portal for ArcGIS</td>
	    <td><span class="icon-check"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Navigieren, Erstellen von Routen und Suchen mithilfe von auf Ihrem Gerät gespeicherten Karten</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	</table>
	
	<p>Teilen Sie uns Ihre <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Bnavigator-for-arcgis%5D">Ideen</a> mit, und <a href="mailto:Navigator4ArcGIS@esri.com?subject=Navigator%20feedback">geben Sie uns Ihr Feedback</a>.</p>
	
        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">Systemanforderungen</a></h4>
	  <h4><a href="#arcgisRequirements">ArcGIS-Anforderungen</a></h4>
	  <h4><a href="#whatsNew">Neuerungen</a></h4>
	  <h4><a href="#sneakPeek">Vorschau</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
       <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
          </div>
        </div> 

 </div>

    </div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/feed/',
        max: 5,
        layout: 0
      });
    });
/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
  </script>
