---
title: Esri Maps for SharePoint
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/maps-for-sharepoint/">主页</a></li>
        <li><a href="/zh-cn/maps-for-sharepoint/get-started/">入门</a></li>
        <li><a href="/zh-cn/maps-for-sharepoint/esri-maps-web-part/">Esri Maps Web 部件</a></li>
        <li><a href="/zh-cn/maps-for-sharepoint/arcgis-map-web-part/">ArcGIS Map Web 部件</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">论坛</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">下载应用程序</h2>
          <span id="appVersion"><strong>版本：</strong>3.0</span> <span id="appReleased"><strong>发布日期：</strong>2013 年 7 月</span>


          <p>Esri Maps for SharePoint 充分利用 Microsoft SharePoint 2010 和 2013 框架提供可配置的交互式制图组件，以便您了解组织数据的地理空间视图。 </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">获取 Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>系统要求</h2>

        <p>Esri Maps for SharePoint 需要一个属于 <a href="http://help.arcgis.com/zh-cn/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> 组织的帐户和 Microsoft SharePoint Foundation 2010/2013、或 Microsoft SharePoint Server 2010/2013（Standard 或 Enterprise 版）。</p>


        <h3>受支持语言</h3>
        <p></p>


 <a name="whatsNew"></a>        
		 <h2>3.0.1 版的新特性</h2>        
		 <p>Esri Maps for SharePoint 3.0.1 已于 2013 年 10 月发布。该版本包括以下更新和增强：</p>        
		 <ul>        
		 <li>支持 21 种语言的本地化：阿拉伯语、中文（简体）、丹麦语、荷兰语、爱沙尼亚语、法语、德语、希伯来语、意大利语、日语、朝鲜语、立陶宛语、拉脱维亚语、挪威语、波兰语、葡萄牙语、葡萄牙语（巴西）、罗马尼亚语、俄语、西班牙语和瑞典语。</li>	
		 <li>在 Esri Maps 定位工作流中支持自定义位置类型。</li>	
		 <li>地统计热点分析。</li>	
		     
		 </ul>
		       
		 <h2>3.0 版的新特性</h2>        
		 <p>Esri Maps for SharePoint 3.0 已于 2013 年 7 月发布。该版本包括以下更新和增强：</p>        
		 <ul>        
		 <li>新产品名称 - Esri Maps for SharePoint</li>	
		 <li>支持 SharePoint 2010 和 SharePoint 2013（预置）</li>	
		 <li>Esri Maps Web 部件的首发版本 - SharePoint 2010 和 SharePoint 2013（预置）支持的基于 JavaScript 的 Web 部件。</li>	
		 <li>Portal for ArcGIS 10.2 支持</li>	
		 <li>通过 SharePoint 业务连通性服务 (BCS) 实现了外部数据的连接（基于 JavaScript 的地图 Web 部件）</li>	
		 <li>Web 部件之间的连接（基于 JavaScript 的地图 Web 部件）</li>	
		 <li>更新为支持 ArcGIS for Silverlight v3.1 和 ArcGIS Extensibility v3.1 SDK（仅限基于 Silverlight 的地图 Web 部件）</li>        
		 </ul>

		  
		 <p>使用 Esri Maps Web 部件，您可以执行以下操作： 	
		 <ul>	
		 <li>通过 ArcGIS（ArcGIS Online 或 Portal for ArcGIS）添加 web 地图和服务。</li>	
		 <li>与公众或组织共享 ArcGIS 中的地图和图层。</li>	
		 <li>显示 SharePoint 列表，并通过业务连通性服务 (BCS) 连接到外部数据源。</li>	
		 <li>通过 Web 部件之间的连接，连接到列表和图表 web 部件。</li>	
		 <li>对 SharePoint 列表中的项目进行空间化（地理编码）。</li>	
		 <li>交互式配置地图外观、图层及其他设置。</li>	
		 <li>在由 ArcGIS 组织的底图库所组成的背景地图中进行选择。</li>	
		 <li>使用单一、分类间隔或唯一值符号定义（符号化）数据集的外观。</li>	
		 <li>使用聚类或热点图显示点要素。 </li>	
		 <li>配置弹出窗口的外观。指定在鼠标指针悬停于地图要素上时将显示的弹出窗口样式和字段。 </li>	
		 <li>查看弹出窗口中的信息图表，该信息图表提供了地图中要素周围区域丰富的上下文信息。</li>	
		 <li>执行基于路径的数据分析。</li>	
		 <li>在基于环或行驶时间距离的范围内进行交互式选择和过滤数据。</li>	
		 <li>交互式检索与已绘制地点相关联的附加人口统计和上下文信息。</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入门</h3>
         <ul>
            <li><a href="#systemRequirements">系统要求</a></li>
	 <li><a href="#whatsNew">新特性</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">交互示例 (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/zh-cn/help/sharepoint/apiref/api_start.htm">API 参考 (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/zh-cn/communities/sharepoint/01t800000009000000.htm">ArcGIS for SharePoint 2.1.1 帮助</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
