---
title: Esri Maps for Office
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">Startsida</a></li>
        <li><a href="/en/maps-for-office/help/">Hj&auml;lp</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">H&auml;mta applikationen</h2>
          <span id="appVersion"><strong>Version:</strong> 2.1</span> <span id="appReleased"><strong>Tillg&auml;nglig:</strong> juli 2013</span>


          <p>Med Esri Maps for Office kan du snabbt och enkelt skapa dynamiska och interaktiva kartor baserat p&aring; Excel-data och f&aring; en helt ny bild av dem. Du kan se m&ouml;nster och trender som inte framg&aring;r n&auml;r informationen visas i tabeller och diagram. Kartorna kan l&auml;ggas in direkt i PowerPoint-presentationer eller publiceras i Esris molntj&auml;nst f&ouml;r kartor, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">H&auml;mta Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>G&ouml;r kartor av dina kalkylblad </h3>
          <p>L&auml;r dig hur du g&ouml;r kartor av dina Excel-data med Esri Maps for Office. Du kan enkelt skapa olika typer av kartor som kan ge ett nytt perspektiv p&aring; dina data direkt i Excel. Det kan vara interaktiva f&auml;rgkodade kartor, punktkartor, kartor med klustrade punkter eller intensitetskartor.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visa en film</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Berika data</h3>
          <p>Tillsammans med Esris omfattande datasamlingar blir din verksamhets aff&auml;rsdata mer v&auml;rdefull. L&auml;gg till data om demografi och livsstil direkt i Excel-kalkylbladen och se de platser som &auml;r relevanta f&ouml;r dig i ett st&ouml;rre sammanhang. Du kan snabbt f&aring; mer information om platser med hj&auml;lp av infografik som visas i popup-f&ouml;nster.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visa en film</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>F&ouml;r att anv&auml;nda Esri Maps for Office m&aring;ste du ha ett konto som &auml;r en del av en <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-organisation och antingen Microsoft Office Excel eller PowerPoint 2010, eller Microsoft Office Excel eller PowerPoint 2013. Operativsystem som st&ouml;ds:</p>
		<ul>
		 <li>Windows XP (SP3) (32-bitars)</li>
		 <li>Windows 7 (32-bitars och 64-bitars)</li>
		 <li>Windows 8 (32-bitars och 64-bitars)</li>
		 <li>Windows Server 2003 med SP2 och MSXML 6.0 (endast 32-bitars-Office)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Mer information om krav p&aring; bland annat processor, minne och h&aring;rddiskutrymme finns i systemkraven f&ouml;r <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> och <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Spr&aring;k som planeras att lanseras</h3>
        <p>Arabiska, engelska, kinesiska, franska, tyska, italienska, japanska, spanska, portugisiska (Brasilien) och ryska</p>





        <a name="whatsNew"></a>
        <h2>Nyheter</h2>
        <p>Esri Maps for Office version 2.1 sl&auml;pptes i juli 2013. Den h&auml;r versionen inneh&aring;ller f&ouml;ljande f&ouml;rb&auml;ttringar:</p>
        <ul>
        <li>Analys av statistiska m&ouml;nster med hotspot-verktyget</li>
		<li>B&auml;ttre databerikningsfunktioner, till exempel fler datasamlingar och alternativet att kunna v&auml;lja enskilda variabler i datasamlingar</li>
		<li>St&ouml;d f&ouml;r s&auml;ker inloggning med OAuth+SAML (AGOL)</li>
        <li>St&ouml;d f&ouml;r s&auml;ker inloggning med IWA, PKI (endast Portal)</li>
		<li>B&auml;ttre anv&auml;ndargr&auml;nssnitt f&ouml;r infografik och verktyget Berika lager</li>
		<li>B&auml;ttre process f&ouml;r att uppgradera Maps for Office till den senaste versionen</li>
        </ul>


        <h3>F&ouml;reg&aring;ende version</h3>
        <p>Version 2.0.2 sl&auml;pptes i maj 2013. Den versionen inneh&ouml;ll f&ouml;ljande f&ouml;rb&auml;ttringar:</p>
        <ul>
          <li>Berika data med verktyget Berika lager f&ouml;r ett geografiskt sammanhang</li>
		  <li>V&auml;lj geoobjekt p&aring; kartan och s&ouml;k efter andra geoobjekt i n&auml;rheten inom andra lager </li>
		  <li>Popup-f&ouml;nster har f&aring;tt infografik med information om omr&aring;dena i n&auml;rheten av geoobjekten p&aring; kartan</li>
		  <li>St&ouml;d f&ouml;r f&ouml;rhandsgranskning i Portal for ArcGIS 10.2</li>
		  <li>Nya konfigurationsalternativ f&ouml;r intensitetskartor och klustring</li>
		  <li>Filtrering av grupperade geoobjekt genom att klicka p&aring; klassbrytningar i teckenf&ouml;rklaringen</li>
		  <li>B&auml;ttre process f&ouml;r adressgeokodning</li>
		  <li>St&ouml;d f&ouml;r anpassning av galleriet f&ouml;r baskartor fr&aring;n ArcGIS Online-organisationen</li>
		  <li>Infoga karta anv&auml;nder standardbaskartan fr&aring;n ArcGIS Online-organisationen</li>
		  <li>S&ouml;k efter data p&aring; ArcGIS Online i vanliga kategorier som inkomst, aff&auml;rer, politiska sympatier och sjukv&aring;rd</li>
		  <li>Platsnamn utg&aring;r numera fr&aring;n dataplatsen. Till exempel kommer etiketter i arbetsfl&ouml;det f&ouml;r geokodning att visa prefekturer f&ouml;r Japan, stater f&ouml;r USA och provinser f&ouml;r Kanada</li>
		  <li>St&ouml;d f&ouml;r Microsoft Office 2013</li>
		  <li>Andra f&ouml;rb&auml;ttringar av kvalitet, anv&auml;ndarv&auml;nlighet och kartografi</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Komma ig&aring;ng</h3>
          <ul>
           <li><a href="#whatsNew">Nyheter</a></li>
            <li><a href="#systemRequirements">Systemkrav</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Visa videor</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fr&aring;n bloggen</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
