.wfheader {
	display: block;
	width: 80%;
	margin: 1em;
	padding: 1em;
}

.wfmetahead {
	display: list-item;
	margin-left: 1em;
	font-weight: bold;
}

.wfmetacontent {
	display: block;
	margin-left: 2em;
	margin-bottom: 0.5em;
}