---
title: Location Analytics con ArcGIS
css:
  - product-page
  - stat-page-specific
js: 
  - libs/jquery.easing.1.3
  - libs/jquery.quicksand

metatags:
  - <META name="description" content="Add smart maps, map-driven analysis, and rich geographic context to your BI, CRM, or ERP enterprise business system."><META name="last-modified" content="2014-2-26"><META name="product" content=""><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en"><META name="content-language" content="en">

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Location Analytics</h1>
	  <!--<form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Location Analytics" data-langlabel="search-location-analytics">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="" />          
                    <input type="hidden" name="language" value="en" />
      </form>-->
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
    <section class="feature-product">
    <div class="product-desc">
      <p>Location analytics aporta capacidades GIS a la multitud ajena al GIS; facilita colocar los datos en un mapa y descubre tendencias y patrones que son invisibles con tabletas, diagramas y gr&aacute;ficos. Esto significa que los analistas de inteligencia empresarial, los gestores de cuenta, los profesionales de marketing y los supervisores de operaciones pueden sacar m&aacute;s de sus datos sin dejar los sistemas empresariales que usan a diario. Un mejor conocimiento implica decisiones m&aacute;s efectivas y mejores resultados empresariales. Todos los miembros de la organizaci&oacute;n se benefician.</p>
    </div>
    <div class="product-img">
      <img src="/en/location-analytics/img/main.jpg"
    </div>
  </section>
  </div>
  <hr>
  <div class="filter-nav">
    <form id="filter">
      <fieldset>
        <label class="active"><input type="radio" name="type" value="todos" checked="checked">Todas las aplicaciones</label>
        <label><input type="radio" name="type" value="productividad">Productividad y colaboraci&oacute;n</label>
        <label><input type="radio" name="type" value="intelempr">Inteligencia empresarial</label>
        <label><input type="radio" name="type" value="arc">Administraci&oacute;n de relaci&oacute;n con el cliente</label>
        <label><input type="radio" name="type" value="soludiri">Soluciones dirigidas</label>
      </fieldset>
    </form>
  </div>
  <div class="content">
    <ul id="applications" class="image-grid">
      <li class="product" data-id="id-1" data-type="focusolu">
        <a href="http://location-analytics.arcgis.com/en/bao/"><img src="/en/location-analytics/img/business-analyst.jpg"></a>
        <h3>Business Analyst Online</h3>
        <p>Crear mapas e informes personalizados para la selecci&oacute;n del sitio y el an&aacute;lisis de mercado usando datos de segmentaci&oacute;n de Tapestry de Esri, datos de gasto del consumidor, datos minoristas y mucho m&aacute;s.</p>
        <a href="http://location-analytics.arcgis.com/en/bao/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-2" data-type="focusolu">
        <a href="http://location-analytics.arcgis.com/en/community-analyst/"><img src="/en/location-analytics/img/community-analyst.jpg"></a>
        <h3>Community Analyst</h3>
        <p>Crear mapas e informes personalizados para la asignaci&oacute;n de recursos y el an&aacute;lisis de la comunidad usando datos de segmentaci&oacute;n de Tapestry de Esri, datos demogr&aacute;ficos, tr&aacute;fico y mucho m&aacute;s.</p>
        <a href="http://location-analytics.arcgis.com/en/community-analyst/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-3" data-type="crm">
        <a href="http://location-analytics.arcgis.com/en/maps-for-dynamics-crm/"><img src="/en/location-analytics/img/dynamic-crm.jpg"></a>
        <h3>Esri Maps for Dynamics CRM</h3>
        <p>Use Esri Maps and location analytics con Microsoft Dynamics CRM para mejorar las campa&ntilde;as de retenci&oacute;n de clientes, dirigir las promociones al objetivo m&aacute;s eficazmente y comprender mejor los territorios de ventas.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-dynamics-crm/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-4" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/en/maps-for-cognos/"><img src="/en/location-analytics/img/ibm-cognos.jpg"></a>
        <h3>Esri Maps for IBM Cognos</h3>
        <p>Use Esri Maps with IBM Cognos para visualizar, analizar y enriquecer datos BI con datos demogr&aacute;ficos basados en la ubicaci&oacute;n, gasto del consumidor y datos empresariales para obtener una nueva perspectiva.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-cognos/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-5" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/es/maps-for-microstrategy/"><img src="/en/location-analytics/img/microstrategy.jpg"></a>
        <h3>Esri Maps for MicroStrategy</h3>
        <p>Use Esri Maps with MicroStrategy para visualizar, analizar y enriquecer datos BI con datos demogr&aacute;ficos basados en la ubicaci&oacute;n, gasto del consumidor y datos de estilo de vida para responder a preguntas empresariales complicadas.</p>
        <a href="http://location-analytics.arcgis.com/es/maps-for-microstrategy/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-6" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/en/maps-for-sap-bobj/"><img src="/en/location-analytics/img/sap.jpg"></a>
        <h3>Esri Maps for SAP BusinessObjects</h3>
        <p>Use Esri Maps with SAP BusinessObjects para visualizar, analizar y enriquecer datos BI con datos demogr&aacute;ficos basados en la ubicaci&oacute;n, gasto del consumidor y datos de estilo de vida para mejorar el &eacute;xito general de la empresa.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-sap-bobj/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>      
      <li class="product" data-id="id-7" data-type="productivity">
        <a href="/es/maps-for-office/"><img src="/en/location-analytics/img/office.jpg"></a>
        <h3>Esri Maps for Office</h3>
        <p>Use Esri Maps and location analytics con Microsoft Office para habilitar mapas, enriquecer y analizar sus datos con Excel y compartir mapas interactivos en directo a trav&eacute;s de PowerPoint.</p>
        <a href="/es/maps-for-office/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-8" data-type="productivity">
        <a href="/es/maps-for-sharepoint/"><img src="/en/location-analytics/img/sharepoint.jpg"></a>
        <h3>Esri Maps for SharePoint</h3>
        <p>Use Esri Maps and location analytics con Microsoft SharePoint para habilitar listas SharePoint, enriquecer datos de almac&eacute;n de datos con datos demogr&aacute;ficos y mejorar la colaboraci&oacute;n.</p>
        <a href="/es/maps-for-sharepoint/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
      <li class="product" data-id="id-9" data-type="crm">
        <a href="http://location-analytics.arcgis.com/en/maps-for-salesforce/"><img src="/en/location-analytics/img/salesforce.png"></a>
        <h3>Esri Maps for Salesforce</h3>
        <p>Use Esri Maps and location analytics con Salesforce para mejorar el compromiso del cliente y el rendimiento de la campa&ntilde;a, visualizar y analizar las ventas geogr&aacute;ficamente, y conocer mejor el negocio.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-salesforce/"><h5 class="icon-right-arrow">M&aacute;s informaci&oacute;n</h5></a>
      </li>
    </ul>
  </div>
</div>
<script>
// Custom sorting plugin
(function($) {
  $.fn.sorted = function(customOptions) {
    var options = {
      reversed: false,
      by: function(a) { return a.text(); }
    };
    $.extend(options, customOptions);
    $data = $(this);
    arr = $data.get();
    arr.sort(function(a, b) {
      var valA = options.by($(a));
      var valB = options.by($(b));
      if (options.reversed) {
        return (valA < valB) ? 1 : (valA > valB) ? -1 : 0;
      } else {
        return (valA < valB) ? -1 : (valA > valB) ? 1 : 0;
      }
    });
    return $(arr);
  };
})(jQuery);

// DOMContentLoaded
$(function() {

  // bind radiobuttons in the form
  var $filterType = $('#filter input[name="type"]');
  var $filterSort = $('#filter input[name="sort"]');
  var $clicked = $('#filter fieldset label');

  // get the first collection
  var $applications = $('#applications');

  // clone applications to get a second collection
  var $data = $applications.clone();
  $('#filter fieldset label').click(function(event) {
    $clicked.removeClass('active');
    var clicked = $(this).addClass('active');
  });

  // attempt to call Quicksand on every form change
  $filterType.add($filterSort).change(function(e) {
    if ($('#filter input[name="type"]:checked').val() == 'all') {
      var $filteredData = $data.find('li');
    } else {
      var $filteredData = $data.find('li[data-type=' + $('#filter input[name="type"]:checked').val() + ']');
    }

    // if sorted by size
    if ($('#filter input[name="sort"]:checked').val() == "size") {
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return parseFloat($(v).find('span[data-type=size]').text());
        }
      });
    } else {
      // if sorted by name
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return $(v).find('strong').text().toLowerCase();
        }
      });
    }   

    // finally, call quicksand
    $applications.quicksand($sortedData, {
      duration: 800,
      easing: 'easeInOutQuad'
    });

  });
  
  // This tmp fix is for documentation page specific only.
  $(".navigation-bar .leader").css("margin-top","2em")
});</script>
