---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/sv/marketplace/">Hj&auml;lp</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/sv/marketplace/">Start</a></li>
        <li><a href="/sv/marketplace/consumer/">F&ouml;r anv&auml;ndare</a></li>
        <li><a href="/sv/marketplace/provider/">F&ouml;r leverant&ouml;rer</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Vad &auml;r Marketplace?</h2>

          <p>ArcGIS Marketplace &auml;r en plats d&auml;r ArcGIS Online-organisationer kan s&ouml;ka, uppt&auml;cka och skaffa appar och data fr&aring;n kvalificerade leverant&ouml;rer (Esris partners, Esris distribut&ouml;rer och Esri) som de kan anv&auml;nda med sin organisation. De appar och datatj&auml;nster som visas p&aring; Marketplace kan g&ouml;ras tillg&auml;ngliga f&ouml;r alla ArcGIS Online-organisationer v&auml;rlden runt.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>St&auml;rk f&ouml;retaget </h3>
          <p>Hitta appar och datatj&auml;nster som du kan anv&auml;nda i din organisation. N&auml;r du skaffar en app eller datatj&auml;nst kan du enkelt dela den med grupper och anv&auml;ndare i organisationen.</p>
          <p>

			<a href="/sv/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a> <br/> <a href="/sv/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;Vanliga fr&aring;gor</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>N&aring; dina anv&auml;ndare</h3>
          <p>ArcGIS Marketplace &auml;r ett s&auml;tt att skapa leads, tillhandah&aring;lla gratis provperioder, ge &aring;tkomst till dina listor och hantera abonnemang.</p>
          <p>
            <a href="/sv/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a> <br/> 
			<a href="/sv/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Kvalificera sig som leverant&ouml;r</a> <br/> 
			<a href="/sv/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;Vanliga fr&aring;gor</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">Webbplatsen ArcGIS Ideas</h3>
         <p>Kan du inte hitta de appar eller data som du beh&ouml;ver? Skicka ett f&ouml;rslag eller r&ouml;sta p&aring; befintliga id&eacute;er.</p>
         <p>&Auml;r du en leverant&ouml;r p&aring; jakt efter id&eacute;er? Se vad kunderna efterfr&aring;gar. Bjud in bidragsgivare som kan samarbeta med dig privat och utveckla id&eacute;er.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

