---
title: Esri Maps for SharePoint
css:
  - documentation
  - screen
  - /ro/asset/css/common
  - stat-page-specific
  - /ro/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/maps-for-sharepoint/">Inicio</a></li>
        <li><a href="/ro/maps-for-sharepoint/get-started/">C&oacute;mo empezar</a></li>
        <li><a href="/ro/maps-for-sharepoint/esri-maps-web-part/">Elemento Web de Esri Maps</a></li>
        <li><a href="/ro/maps-for-sharepoint/arcgis-map-web-part/">Elemento Web de mapas de ArcGIS</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descargar la aplicaci&oacute;n</h2>
          <span id="appVersion"><strong>Versi&oacute;n:</strong> 3.0</span> <span id="appReleased"><strong>Disponible:</strong> Julio de 2013</span>


          <p>Esri Maps for SharePoint aprovecha el marco de Microsoft SharePoint 2010 y 2013 para ofrecer componentes de representaci&oacute;n cartogr&aacute;fica configurables e interactivos que pueden proporcionar una vista geoespacial de los datos de la organizaci&oacute;n. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">Obtenga Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos del sistema</h2>

        <p>Esri Maps for SharePoint requiere una cuenta que sea parte de una organizaci&oacute;n de <a href="http://help.arcgis.com/ro/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> y Microsoft SharePoint 2010 o 2013 Foundation, edici&oacute;n Server Standard o Server Enterprise.</p>


        <h3>Idiomas compatibles</h3>
        <p></p>


 <a name="whatsNew"></a>        
		 <h2>Novedades 3.0.1</h2>        
		 <p>La versi&oacute;n 3.0.1 de Esri Maps for SharePoint se lanz&oacute; en octubre de 2013. La versi&oacute;n incluye las siguientes actualizaciones y mejoras:</p>        
		 <ul>        
		 <li>Localizaci&oacute;n en 22 idiomas: Alem&aacute;n, &aacute;rabe, chino (Simplificado), coreano, dan&eacute;s, espa&ntilde;ol, estonio, franc&eacute;s, hebreo, ingl&eacute;s, italiano, japon&eacute;s, let&oacute;n, lituano, neerland&eacute;s, noruego, polaco, portugu&eacute;s (Brasil), portugu&eacute;s (Portugal), rumano, ruso y sueco.</li>	
		 <li>Admite tipos de ubicaci&oacute;n personalizados en el flujo de trabajo de ubicaci&oacute;n de Esri Maps.</li>	
		 <li>An&aacute;lisis geoestad&iacute;stico de puntos calientes.</li>	
		     
		 </ul>
		       
		 <h2>Novedades 3.0</h2>        
		 <p>La versi&oacute;n 3.0 de Esri Maps for SharePoint se lanz&oacute; en julio de 2013. La versi&oacute;n incluye las siguientes actualizaciones y mejoras:</p>        
		 <ul>        
		 <li>Nombre del nuevo producto: Esri Maps for SharePoint</li>	
		 <li>Compatibilidad con SharePoint 2010 y SharePoint 2013 (en las instalaciones).</li>	
		 <li>Versi&oacute;n inicial del elemento Web de Esri Maps: elemento Web basado en JavaScript compatible con SharePoint 2010 y SharePoint 2013 (en las instalaciones).</li>	
		 <li>Compatibilidad con Portal for ArcGIS 10.2</li>	
		 <li>Conectividad de datos externos mediante Business Connectivity Services (BCS) de SharePoint (elemento Web de mapas de JavaScript)</li>	
		 <li>Conexiones entre elementos Web (elemento Web de mapas de JavaScript).</li>	
		 <li>Actualizaci&oacute;n para ofrecer compatibilidad con los SDK ArcGIS for Silverlight v3.1 y ArcGIS Extensibility v3.1 (solo elemento Web de mapas de Silverlight)</li>        
		 </ul>

		  
		 <p>Con el elemento Web de Esri Maps es posible hacer lo siguiente: 	
		 <ul>	
		 <li>Agregar mapas Web y servicios de ArcGIS, ya sea ArcGIS Online o Portal for ArcGIS.</li>	
		 <li>Compartir mapas y capas en ArcGIS para el p&uacute;blico o la organizaci&oacute;n.</li>	
		 <li>Visualizar listas de SharePoint y conectarse con fuentes de datos externas mediante Business Connectivity Services (BCS).</li>	
		 <li>Conectarse con elementos Web de listas y gr&aacute;ficos mediante conexiones entre elementos Web.</li>	
		 <li>Habilitar espacialmente (geocodificar) los elementos en una lista de SharePoint.</li>	
		 <li>Configurar de forma interactiva el aspecto del mapa, las capas y otros ajustes.</li>	
		 <li>Elegir entre los mapas de fondo rellenados por la galer&iacute;a de mapas base de su organizaci&oacute;n de ArcGIS.</li>	
		 <li>Definir el aspecto de los datasets (simbolizar) mediante s&iacute;mbolos simples, de cortes de clase o de valor &uacute;nico.</li>	
		 <li>Visualizar entidades de punto mediante clustering o mapas de calor. </li>	
		 <li>Configurar la apariencia de ventanas emergentes. Especificar el estilo de la ventana emergente y los campos que desea mostrar cuando pasa el puntero sobre las entidades de mapa. </li>	
		 <li>Visualizar infograf&iacute;a en ventanas emergentes que proporcionan informaci&oacute;n contextual enriquecida sobre las &aacute;reas aleda&ntilde;as a las entidades de su mapa.</li>	
		 <li>Realizar un an&aacute;lisis de los datos basado en la ruta.</li>	
		 <li>Seleccionar y filtrar los datos de forma interactiva dentro de las distancias basadas en anillos o en el tiempo de conducci&oacute;n.</li>	
		 <li>Recuperar de forma interactiva informaci&oacute;n demogr&aacute;fica y contextual asociada a las ubicaciones del mapa.</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>C&oacute;mo empezar</h3>
         <ul>
            <li><a href="#systemRequirements">Requisitos del sistema</a></li>
	 <li><a href="#whatsNew">Novedades</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Muestras interactivas (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/ro/help/sharepoint/apiref/api_start.htm">Referencia de API (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/ro/communities/sharepoint/01t800000009000000.htm">Ayuda de ArcGIS for SharePoint 2.1.1</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/ro/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
