---
title: Ajuda do ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="pt-br">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/arcgis-online/">Ajuda do ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Ajuda do ArcGIS Online" href="/pt-br/arcgis-online/">Página Inicial</a></li>
        <li><a title="Utilizar mapas e cenas" href="/pt-br/arcgis-online/use-maps/">Uso</a></li>
        <li><a title="Criar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/create-maps/">Criar</a></li>
        <li><a title="Compartilhar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/share-maps/">Compartilhar</a></li>
        <li><a title="Administrar sua organização" href="/pt-br/arcgis-online/administer/">Administrar</a></li>
        <li><a title="Referência" href="/pt-br/arcgis-online/reference/">Referência</a></li>
        <li><a title="Aplicativos para todos" href="/pt-br/arcgis-online/apps/arcgis-apps.htm">Aplicativos</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="pt-br" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Mapas, cenas, analíticos, aplicativos, colaboração—você pode fazer isto tudo com o ArcGIS Online.</p>
	
	<p> Novo no ArcGIS? Comece criando seu primeiro mapa, cena, aplicativo ou grupo. Quando você estiver pronto para obter mais informações, tente uma lição ou explore tópicos populares. Você é um <a href="/pt-br/arcgis-online/administer/admin-org.htm">administrador</a> de organização? Aprenda como utilizar papéis personalizados, parâmetros de segurança e configurações flexíveis.
	</p> 
	<p>Tenha certeza de verificar as notícias mais recentes do nosso <a href="#blog"> blog</a> e da <a href="#community">comunidade</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/pt-br/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/pt-br/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/pt-br/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/pt-br/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Quais as novidades</h3>
        <p>A atualização de Junho de 2016 inclui páginas de item melhoradas, novas opções para visualizar tempo, suporte para camadas de malha integrada, e mais.
        </p>
			<!--<a href="/pt-br/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/pt-br/arcgis-online/reference/whats-new.htm" class="btn secondary">Mais informações</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Crie seu primeiro</h2>
      <div class="make-first">
        <a href="/pt-br/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Mapa</h2></a>
        <a href="/pt-br/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Cena</h2></a>
        <a href="/pt-br/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">Aplicativo</h2></a>
        <a href="/pt-br/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Grupo</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Veja tópicos populares:</h4></li>
        <li><a href="/pt-br/arcgis-online/reference/faq.htm">Perguntas mais frequentes</a></li>
		<li><a href="/pt-br/arcgis-online/share-maps/add-items.htm">Adicionar itens</a></li>
        <li><a href="/pt-br/arcgis-online/use-maps/perform-analysis.htm">Executar análise</a></li>
		<li><a href="/pt-br/arcgis-online/share-maps/publish-features.htm">Publicar feições</a></li>
		<li><a href="/pt-br/arcgis-online/administer/view-status.htm">Visualizar status</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Aprender uma lição
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Mais lições <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Iniciar com o ArcGIS Online</a></h3>
          <p>
 Aprenda os fundamentos para criar mapas online.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Análise Demográfica e Mapeamento Inteligente</a></h3>
          <p>
            Localize crianças carentes utilizando análise demográfica, mapeamento inteligente e um aplicativo da web.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Planejar Rotas</a></h3>
          <p>
           Ajude quatro oficiais da saúde a inspecionarem 36 restaurantes no Município de San Diego.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer">
<a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Análise Espacial</a></h3>
          <p>
            Localize as melhores áreas para um novo desenvolvimento de habitação de uso misto.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Leia nosso blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Mais postagens do blog <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Participar da conversa
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Mais discussões <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Encontrar cursos de treinamento</a></h4>
      <p class="no-trailer">
        Pesquise cursos de treinamento da Esri para mais aprendizagem.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Assista aos vídeos</a></h4>
      <p class="no-trailer">
        Visualize um conjunto de vídeos sobre ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Obter técnica de suporte</a></h4>
      <p class="no-trailer">
        Entre em contato com Suporte por chat, e-mail ou telefone.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Verificar desempenho do sistema</a></h4>
      <p class="no-trailer">
        Veja o status do ArcGIS Online e informe problemas.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
