---
title: Ajuda do ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Ajuda do ArcGIS Online</h1>
        </div>
        <div class="leader-1 text-right">
          <p> <a href="http://www.arcgis.com/features/free-trial.html"> <button class="btn margin-left-1 btn-clear">60 Dias Grátis para Testes</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="Ajuda do ArcGIS Online" href="/pt-br/arcgis-online/">Página Inicial</a>
        <a class="sub-nav-link" title="Iniciando com ArcGIS Online" href="/pt-br/arcgis-online/get-started/">Iniciar</a>
			  <a class="sub-nav-link" title="Criar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/create-maps/">Criar</a>
        <a class="sub-nav-link" title="Executar análise" href="/pt-br/arcgis-online/analyze/">Analisar</a>
			  <a class="sub-nav-link" title="Compartilhar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/share-maps/">Compartilhar</a>
			  <a class="sub-nav-link" title="Administrar sua organização" href="/pt-br/arcgis-online/administer/">Administrar</a>
			  <a class="sub-nav-link" title="Referência" href="/pt-br/arcgis-online/reference/">Referência</a>
			  <a class="sub-nav-link" title="Aplicativos para todos" href="/pt-br/arcgis-online/apps/arcgis-apps.htm">Aplicativos</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Crie Mapas que Importam em Minutos</h1>
      <h5> O ArcGIS Online oferece um sistema de informações geográficas do mundo baseado em nuvem, completo.</h5>
      <h5>Inicie utilizando o ArcGIS Online agora. <a href="http://www.arcgis.com/features/free-trial.html" >Registre para seu teste gratuito do ArcGIS.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="Pesquisa de Ajuda do ArcGIS Online">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="pt-br" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Atualização:</strong> Dezembro de 2016</li>
        <li><a href="/pt-br/arcgis-online/reference/whats-new.htm">Quais as novidades</a></li>
	      <li><a href="/pt-br/arcgis-online/reference/faq.htm">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Guia de Introdução
        <a class="btn btn-transparent text-white btn-large right" href="/pt-br/arcgis-online/get-started/online-quick-exercises.htm">Mais exercícios</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/pt-br/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/pt-br/arcgis-online/get-started/quick-exercise-maps.htm">Criar um mapa</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minutos</p>-
            <p class="trailer-0 text-off-black">Crie um mapa da web como parte de uma investigação em hospitais de Clark County, Nevada.</p>
          </div>
          <a href="/pt-br/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">
              <img alt="" src="img/create-an-app.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">Criar um aplicativo da web</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 hora</p>
            <p class="trailer-0 text-off-black">Crie um aplicativo da web para o deslizamento de terra em Oso no Estado de Washington.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Siga em 3D com o visualizador de cena</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 hora 20 minutos</p>
            <p class="trailer-0 text-off-black">Crie uma cena 3D mostrando praias e enseadas da Flórida.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
              <img alt="" src="img/track-crime-rates.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Rastrear taxas de criminalidade</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">40 minutos</p>
            <p class="trailer-0 text-off-black">Crie um mapa de densidade de crime para Lincoln, Nebraska.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">
              <img alt="" src="img/get-started-with-collector.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">Configurar um mapa do Collector</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">30 minutos</p>
            <p class="trailer-0 text-off-black">Crie um mapa para utilizar com Collector for ArcGIS para coletar os dados para avaliações de danos.</p>
          </div>
          <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Configurar uma organização do ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minutos</p>
            <p class="trailer-0 text-off-black">Configure o site para uma nova organização do ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
        <div class="row">
          <h2>&nbsp;</h2>
          <h2 class="text-center">O que você pode fazer com o ArcGIS Online?</h2>
        </div>
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-maps text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Criar mapas</h3>
              <p class="trailer-half">
                Aprenda mais sobre o papel de mapas para compartilhar GIS com seus usuários.
              </p>
              <ul class="bulleted trailer-0">
                <li>
                  <a href="/pt-br/arcgis-online/get-started/get-started-with-maps.htm">Iniciar a criação de mapas</a>
                </li>
                <li>
                  <a href="/pt-br/arcgis-online/share-maps/share-maps.htm">Compartilhar mapas</a>
                </li>
                <li>
                  <a href="/pt-br/arcgis-online/get-started/view-maps.htm">Exibir mapas no visualizador de mapa</a>
                </li>
                <li>
                  <a href="//storymaps.arcgis.com/">Utilizar mapas históricos para contar sua história</a>
                </li>
                <li>
                  <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">Aprenda como utilizar mapeamento inteligente em três etapas</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-globe text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Trabalhar com GIS em 3D</h3>
                <p class="trailer-half">
                  Ganhe uma nova perspectiva visualizando suas informações em 3D. Utilize recursos GIS em 3D para resolver problemas que não podem ser abordados em um contexto 2D.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/pt-br/arcgis-online/get-started/get-started-with-scenes.htm">Iniciar a criação de cenas</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/get-started/view-scenes.htm">Exbir cenas no visualizador de cena</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-3d">Acessar cenas 3D prontas para uso no Atlas em Tempo Real</a>
                  </li>
                  <li>
                    <a href="/pt-br/drone2map/quick-start-exercises/3d-mapping.htm">Utilizar Drone2Map for ArcGIS para gerar camadas 3D</a>
                  </li>
                </ul>

            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Executar análise</h3>
                <p class="trailer-half">
                   Combine informações de múltiplas camadas e aplique operações espaciais para resolver uma ampla variedade de problemas. Explore e visualize seus resultados para tomar decisões e obter percepções mais detalhadas.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/pt-br/arcgis-online/get-started/get-started-with-analysis.htm">Iniciar com análise</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/analyze/perform-analysis.htm">Executar análise com mapas</a>
                  </li>
                  <li>
                    <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Explorar a pobreza infantil utilizando análise demográfica</a>
                  </li>
				  <li>
                    <a href="/pt-br/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">Responder perguntas espaciais com mapeamento inteligente</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-layers text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Acessar Atlas em Tempo Real</h3>
                <p class="trailer-half">
                  Inicie o seu GIS com o Atlas Mundial em Tempo Real, uma coleção global curada dos melhores mapas, aplicativos e dados disponíveis a partir de usuários do ArcGIS e da Esri e seus parceiros.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="http://links.esri.com/agol-help/living-atlas">Acessar Atlas em Tempo Real</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-storymap">Explorar o Atlas em Tempo Real através de um mapa histórico</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Procurar camadas do Atlas em Tempo Real para adicionar seu mapa</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">Adicionar Atlas em Tempo Real na sua cena</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/get-started/quick-exercise-explore-data.htm">Utilize um mapa do Atlas em Tempo Real para localizar padrões espaciais</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-collection text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Gerenciar dados</h3>
                <p class="trailer-half">
                  Faça seus dados ganharem vida. Compartilhe feições e muito mais publicando camadas que outros possam utilizar em seus mapas e cenas. Habilite a edição para coletar comentários da comunidade.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/pt-br/arcgis-online/share-maps/hosted-web-layers.htm">Publicar feições, mosaicos e mais como camadas</a></li>
                  <li>
                    <a href="/pt-br/arcgis-online/create-maps/edit-features.htm">Editar feições</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/create-maps/take-maps-offline.htm">Utilizar mapas offline</a>
                  </li>
                  <li>
                    <a href="/pt-br/arcgis-online/reference/best-practices-layers.htm">Aprenda as melhores práticas para utilizar camadas em mapas</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-share text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Compartilhar seu trabalho</h3>
                <p class="trailer-half">
                  Compartilhe seus itens de informações geográficas eficientes para alcançar seus usuários. Coloque suas informações valiosas para funcionar, fornecendo acesso através de vários aplicativos e mapas históricos.
                </p>
                <ul class="bulleted trailer-0">
                  <li><a href="/pt-br/arcgis-online/get-started/get-started-with-sharing.htm">Iniciar com compartilhamento</a></li>
                  <li><a href="//storymaps.arcgis.com/en/">Utilizar aplicativos para compartilhar sua história</a></li>
                  <li><a href="/pt-br/arcgis-online/reference/best-practices-share.htm">Aprenda as melhores práticas para compartilhamento</a></li>
                  <li><a href="/pt-br/arcgis-online/reference/ogc.htm">Compartilhar dados através de padrões abertos</a></li>
				  <li><a href="http://opendata.arcgis.com/">Compartilhar com Open Data for ArcGIS</a></li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-applications text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Utilizar aplicativos</h3>
              <p class="trailer-half">
                Os aplicativos do ArcGIS são interfaces e ferramentas focadas para seus mapas, cenas e dados. O ArcGIS Online vem com dezenas de aplicativos que permitem a sua organização realizar seu trabalho.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="//www.esri.com/software/apps/field">Revisar aplicativos para campo</a></li>
                <li><a href="//www.esri.com/software/apps/office">Revisar aplicativos para escritório</a></li>
                <li><a href="//www.esri.com/software/apps/community">Revisar aplicativos para comunidade</a></li>
                <li><a href="//www.esri.com/software/apps/builders">Construir seus próprios aplicativos</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-search text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Descobrir e gerenciar itens</h3>
              <p class="trailer-half">
                O ArcGIS Online oferece acesso a um GIS pesquisável do mundo com uma ampla variedade de mapas, cenas, camadas, análises e aplicativos fornecidos pela comunidade GIS, por sua organização e você. Estes itens são organizados em galerias de informações para que você possa descobrir rapidamente o conteúdo relevante para seu trabalho.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/pt-br/arcgis-online/reference/geo-info.htm">Revisar o modelo de informações do ArcGIS</a></li>
                <li><a href="/pt-br/arcgis-online/share-maps/add-items.htm">Adicionar seus itens no ArcGIS Online</a></li>
                <li><a href="/pt-br/arcgis-online/get-started/get-started-with-groups.htm">Utilizar grupos para compartilhar informações</a></li>
                <li><a href="//links.esri.com/agol-help/living-atlas">Localizar mapas e mais no Atlas em Tempo Real</a></li>
                <li><a href="/pt-br/arcgis-online/reference/search.htm">Descobrir itens no ArcGIS Online</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Administrar sua organização</h3>
              <p class="trailer-half">
                Em papéis de configuração personalizados e configurações de segurança para gerenciar licenças para visualizar os relatórios de uso, o ArcGIS Online inclui tudo o que você precisa para administrar sua organização.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/pt-br/arcgis-online/administer/get-started-with-administration.htm">Iniciar com administração</a></li>
                <li><a href="//links.esri.com/agol-help/administering-platform">Aprenda as melhores práticas e recursos para administradores</a></li>
                <li><a href="/pt-br/arcgis-online/reference/roles.htm">Entender níveis, papéis e privilégios</a></li>
                <li><a href="/pt-br/arcgis-online/reference/credits.htm">Entenda os créditos</a></li>
                <li><a href="/pt-br/trust/security/security-overview.htm">Revisar segurança do ArcGIS</a></li>
                <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">Procurar ferramentas de administração adicionais</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Aproveite ainda mais o ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Assista nossos vídeos
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">Mais vídeos</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Conectar com ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Leia nosso blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Mais postagens do blog</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Participar da conversa
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Mais conversas</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Mergulhe em um livro
        <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">Mais livros</a>
      </h2>
      <div class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">O Livro do ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Entenda e utilize o GIS da Web para criar e compartilhar informações geográficas. Visualize o site da web, baixe o PDF interativo gratuito ou compre a edição impressa.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Ler agora</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">Guia de Instrução do Livro do ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Obtenha atividades, recursos, lições e dados relacionados ao ArcGIS Online e GIS da Web. Disponível como uma edição de impressão.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">Comprar agora</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=308&moduleID=0">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">O Livro de Imagens do ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Explore como as imagens e o sensoriamento remoto alimentam o GIS moderno. Visualize o site da web, baixe o PDF interativo gratuito ou compre a edição impressa.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Ler agora</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="http://links.esri.com/agol-help/learn/agol">Fazer uma lição detalhada</a></h5>
          <p class="trailer-0">
            Pesquise no Learn ArcGIS para encontrar e completar exercícios que resolvem problemas reais com ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main/arcgis-online-training">Encontrar cursos de treinamento</a></h5>
          <p class="trailer-0">
            Aprenda mais sobre o ArcGIS através de cursos, cursos da web e seminários orientados por instrutores.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">Obter técnica de suporte</a></h5>
          <p class="trailer-0">
            Entre em contato com Esri Support por chat, e-mail ou telefone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">Verificar desempenho do sistema</a></h5>
          <p class="trailer-0">
            Veja o status do ArcGIS Online e informe problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
