---
title: Ajuda do ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="pt-br">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/arcgis-online/">Ajuda do ArcGIS Online</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Ajuda do ArcGIS Online" href="/pt-br/arcgis-online/">Página Inicial</a></li>
        <li><a title="Utilizar mapas e cenas" href="/pt-br/arcgis-online/use-maps/">Uso</a></li>
        <li><a title="Criar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/create-maps/">Criar</a></li>		
        <li><a title="Compartilhar mapas, cenas e aplicativos" href="/pt-br/arcgis-online/share-maps/">Compartilhar</a></li>
		<li><a title="Administrar sua organização" href="/pt-br/arcgis-online/administer/">Administrar</a></li>
		<li><a title="Referência" href="/pt-br/arcgis-online/reference/">Referência</a></li>
		<li><a title="Aplicativos para todos" href="/pt-br/arcgis-online/apps/arcgis-apps.htm">Aplicativos</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="pt-br" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="pt-br">
      </form>-->

                
	<hr>
<!--What's new information-->
	<a name="WhatsNew"></a>
	<h2>&nbsp;Quais as novidades </h2>
		<p>A atualização de Março de 2016 apresenta os aplicativos da web 3D. Também inclui melhorias para mapeamento inteligente, administração de organização e aplicativos. <a href="/pt-br/arcgis-online/reference/whats-new.htm" class="">Mais informações</a></p>
		<ul>
		     <li><a href="/pt-br/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_ABE7B08B9DD94D3AAD71B2A1A327B21C" class="">Aplicativos da web 3D</a> - Cria aplicativos da web 3D baseado nas cenas.</li>
		     <li><a href="/pt-br/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_511E424D3FC74BC0A8E7663C5B04CCA4" class="">Mapeamento inteligente</a> - Novas opções para criar visualizações de dados.</li>
		     <li><a href="/pt-br/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_76123A29A4EE4FEE918D7644FF3EAB90" class="">Administração de organização</a> - Mais controle sobre as configurações do site.</li>
		</ul>
		
	<hr>
<!-- Videos -->
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<img src="img/perform-analysis.jpg" title="Utilizar mapas e cenas">
		<!--<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>-->
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		 <img src="img/create-maps-apps.jpg" title="Criar mapas, cenas e aplicativos">
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
     <section class="support-option">
      <img src="img/share-maps-apps.jpg" title="Compartilhar seus itens">
   </section>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/pt-br/arcgis-online/use-maps/use-maps.htm" class="">Utilizar mapas e cenas</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/pt-br/arcgis-online/create-maps/create-maps-and-apps.htm" class="">Criar mapas, cenas e aplicativos</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/pt-br/arcgis-online/share-maps/share-maps-apps.htm" class="">Compartilhar seus itens</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/perform-analysis.png" title="Executar análise">
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/publish-hosted-web-layers.png" title="Publicar camadas da web hospedadas">
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/admin-org.jpg" title="Administrar sua organização">
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/pt-br/arcgis-online/use-maps/perform-analysis.htm">Executar análise</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/pt-br/arcgis-online/share-maps/hosted-web-layers.htm">Publicar camadas da web hospedadas</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/pt-br/arcgis-online/administer/admin-org.htm">Administrar sua organização</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Suporte Técnico da Esri</a></h4>
      <p>Entre em contato com Suporte por chat, e-mail ou telefone.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">Idéias do ArcGIS</a></h4>
      <p>Envie seu comentário sobre o software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">Forum do ArcGIS</a></h4>
      <p>Participe das discussões no Geonet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>Novo no ArcGIS Online?</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Descobrir lições</a></p>
			<a title="Visão Geral do ArcGIS Online" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  Assista ao vídeo</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png"> Encontrar cursos de treinamento</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>Referência rápida</h3>
         <ul>   <li><a href="/pt-br/arcgis-online/reference/troubleshoot-account.htm">&nbsp;Correção de problemas de registro</a></li>
		<!--<li><a href="/pt-br/arcgis-online/reference/whats-new.htm" >&nbsp;What's new</a></li>-->
		<li><a href="/pt-br/arcgis-online/reference/faq.htm">&nbsp;Perguntas mais frequentes</a></li>
		<li><a href="/pt-br/trust/system-status/">&nbsp;Status do sistema</a></li>
		<li><a href="/pt-br/living-atlas/about/">&nbsp;Conteúdo selecionado do ArcGIS Online</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Mais Postagens do Blog</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });
	 
	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
