---
title: Trust ArcGIS
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - rssfeed

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="tr">


mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Trust ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="/tr/trust/system-status/">Sistem Durumu Denetleme</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/" selected>Trust</option>
        <option value="/en/trust/system-status/">ArcGIS Online Durumu</option>
        <option value="/en/trust/security/">Güvenlik</option>
        <option value="/en/trust/privacy/">Gizlilik</option>
        <option value="/en/trust/compliance/">Uyumluluk</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/tr/trust/">Trust ArcGIS</a>
        <a class="sub-nav-link" href="/tr/trust/system-status/">ArcGIS Online Durumu</a>
        <a class="sub-nav-link" href="/tr/trust/security/">Gü</a>
        <a class="sub-nav-link" href="/tr/trust/privacy/">Privacy</a>
        <a class="sub-nav-link" href="/tr/trust/compliance/">Compliance</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-0">
      <h1>ArcGIS; güvenli ve güvenilir konum platformu</h1>
      <h5>Trust.ArcGIS.com güvenlik, gizlilik ve uyumluluk için başvurabileceğiniz tek kaynak</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <p class="trailer-0 leader-0 font-size--2">
        <a href="http://www.fedramp.gov/"><img src="img/fedramp.png"/></a>
        <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a>
        <a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a>
        <a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="/tr/trust/security-concern/" class="icon-ui-notice-triangle">Güvenlikle İlgili Şüphe Bildirimi</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>


<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/tr/trust/system-status/">ArcGIS Online Durumu</a>
          </h5>
          <p>ArcGIS Online için hizmet kullanılabilirliğini, sistem performans bilgilerini ve durum geçmişini inceleyin.</p>
        </div>
        <a href="/tr/trust/system-status/" class="btn btn-clear btn-fill leader-0">Daha fazla bilgi edinin</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/tr/trust/security/">Güvenlik ve En İyi Uygulamalar</a>
          </h5>
          <p>ArcGIS’teki güvenlik özellikleri hakkında genel bilgiler edinin. En iyi uygulamaları kullanan özellikleri uygulayın.</p>
        </div>
        <a href="/tr/trust/security/" class="btn btn-clear btn-fill leader-0">Daha fazla bilgi edinin</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/tr/trust/privacy/">Gizliliğiniz ve Esri</a>
          </h5>
          <p>Esri Gizlilik Bildirimi ve bunu tamamlayıcı kapsamda bir Ürünler ve Servisler Gizlilik Bildirimi hak ettiğiniz ve almayı beklediğiniz gizlilik düzeyini size sağlar.</p>
        </div>
        <a href="/tr/trust/privacy/" class="btn btn-clear btn-fill leader-0">Daha fazla bilgi edinin</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/tr/trust/compliance/">Uyumluluk İnisiyatifleri</a>
          </h5>
          <p>ArcGIS yönetmelikler, standartlar ve en iyi uygulamalara uygun olarak tasarlanmıştır ve bu çerçevede yönetilir. Esri'nin uyumluluk İnisiyatifleri hakkında bilgi edinin.</p>
        </div>
        <a href="/tr/trust/compliance/" class="btn btn-clear btn-fill leader-0">Daha fazla bilgi edinin</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1">
    <div class="column-24 text-center">
      <h4>“Esri, ArcGIS Platformunun DNA’sına güvenlik ekleme konusunda sürekli olarak gelişme gösteriyor."</h4>
      <p>Michael E. Young, Kıdemli Ürün Güvenliği Yetkilisi, Esri</p>
    </div>
  </div>
</div>
<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Uyarılar ve duyurular
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">Tüm uyarıları görüntüle</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Ayrıntılı ders alın</a></h5>
          <p class="trailer-0">
            ArcGIS ile gerçek dünyada yaşanan sorunların çözüldüğü alıştırmalar bulun ve tamamlayın.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Eğitim kursları bulun</a></h5>
          <p class="trailer-0">
            Eğitmenli kurslar, web kursları ve seminerler aracılığıyla ArcGIS hakkında daha fazla bilgi edinin.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Teknik destek edinin</a></h5>
          <p class="trailer-0">
            Sohbet, e-posta veya telefon aracılığıyla Esri Destek ile iletişim kurun.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Sistem durumunu denetleyin</a></h5>
          <p class="trailer-0">
            ArcGIS Online uygulamasının durumunu görüntüleyin ve sorunları bildirin.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
