<!doctype html>
---
title: Praneškite apie saugos problemą
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/lt/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/lt/trust/">Trust</a></li>
        <li><a title="ArcGIS Online sistemos būsena" href="/lt/trust/system-status/">Sistemos būsena</a></li>
        <li><a title="ArcGIS Online sauga" href="/lt/trust/security/">Sauga</a></li>
        <li><a title="ArcGIS Online privatumas" href="/lt/trust/privacy/">Privatumas</a></li>
        <li><a title="ArcGIS Online privatumas" href="/lt/trust/compliance/">Atitiktis</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Praneškite apie saugos problemą</h2>
      </header>
	  <section>
		<p data-langlabel="">Užpildykite dešinėje pateiktą formą ir pateikite reikiamą informaciją apie problemą. Kontaktiniai duomenys bus naudojami su jūsų pateikta informacija susijusiais klausimais. Pasirinkite atitinkamą temą iš temų išskleidžiamojo meniu.</p>
		<ul>
			<li data-langlabel="">Pažeidžiamumas – praneškite apie mūsų svetainėje ar aplikacijoje aptiktą pažeidžiamumą.</li>
			<li data-langlabel="">Įtartini el. laiškai iš Esri – jei manote, kad galbūt gavote apsimestinių el. laiškų iš Esri el. pašto adreso ar kitos įtartinos el. pašto korespondencijos iš Esri.</li>
			<li data-langlabel="">Privatumo problema – jei turite kokį nors privatumo klausimą, susijusį su mūsų aplikacija ar organizacija.</li>
			<li data-langlabel="">Kita – visos kitos saugos, privatumo ar atitikties problemos.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Pranešimo apie pažeidžiamumą politika</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com saugos komanda supranta, kokį svarbų vaidmenį nepriklausomi saugos specialistai vaidina interneto saugos srityje. Skatiname atsakingai pranešti apie bet kokius pažeidimus, aptiktus mūsų svetainėje ar aplikacijoje. Esri siekia bendradarbiauti su saugos bendruomene, tikrinti ir reaguoti į visus galimus pažeidžiamumus, apie kuriuos mums pranešama. Esri nepateiks ieškinio ir nepradės teisinio jūsų tyrimo, jei bus laikomasi šios politikos.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>neleidžia</strong> šių tipų saugos tyrimų</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Aptarnavimo perkrovos (DoS) sukėlimas arba bandymas ją sukelti.</li>
		<li data-langlabel="">Automatizuotų saugos įrankių naudojimas be atskiro Esri sutikimo. Naudojant automatizuotus įrankius, gali būti pradėtas tyrimas arba gali būti užblokuotas jūsų IP.</li>
		<li data-langlabel="">Jums nepriklausančių duomenų ar informacijos naudojimas arba bandymas prie jų prieiti.</li>
		<li data-langlabel="">Jums nepriklausančių duomenų ar informacijos sunaikinimas ar sugadinimas arba bandymas juos sunaikinti ar sugadinti.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com saugos komandos įsipareigojimas</h4>
	  </header>
		<p data-langlabel="">Visiems saugos specialistams, besilaikantiems šios ArcGIS.com pranešimo apie pažeidžiamumą politikos, ArcGIS.com saugos komanda įsipareigoja:</p>
		
		<ul>
		<li data-langlabel="">Laiku sureaguoti ir priimti jūsų pranešimą.</li>
		<li data-langlabel="">Pateikti numatytą pažeidžiamumo išsprendimo laikotarpį.</li>
		<li data-langlabel="">Informuoti pranešusį asmenį, kai pažeidžiamumas bus ištaisytas.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Vardas: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">El. paštas: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Telefono numeris: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organizacija <span class="optional">(neprivalomas):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Tema: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">Pažeidžiamumas</option> <option value="Suspicious E-mail from Esri">Įtartini el. laiškai iš Esri</option> <option value="Privacy Issue">Privatumo problema</option> <option value="audi">Kita</option>
			  </select>

			  <label data-langlabel="" for="description">Aprašymas: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Kad padėtumėte išvengti automatinių brukalų, įveskite matomus skaitmenis: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Skaitmenys: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Saugos problema" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Pateikti</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Ačiū, kad pranešėte apie problemą. Per kelias darbo dienas ištirsime ir spręsime jūsų problemą.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Pateikiant įvyko klaida. Pranešimą pabandykite pateikti šiek tiek vėliau.</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink">Grįžti į <a id="feedback-referring-link" href="">nukreipusį puslapį</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Pateikti</a> kitą saugos problemą</span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

