---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/de/web-appbuilder/">Startseite</a></li>
        <li><a href="/de/web-appbuilder/create-apps/">Erstellen von Apps </a></li>
        <li><a href="/de/web-appbuilder/manage-apps/">Verwalten von Apps</a></li>
        <li class='current'><a href="/de/web-appbuilder/extend-apps/">Erweitern von Apps </a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Erweitern von Web AppBuilder mit der Developer-Version</h2> 

          <p>Erstellen Sie mit Web AppBuilder for ArcGIS (Developer-Version) Ihre eigenen Widgets und Designs. Besuchen Sie die Website <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, um die Developer-Version herunterzuladen und Näheres über die Erstellung eigener benutzerdefinierter Apps zu erfahren.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Noch effizienteres Arbeiten </h3>
          <p><ul>
            <li>Steigern Sie Ihre Produktivität bei der Erstellung von Web-Apps, die auf Desktops, Tablets und Smartphones ausgeführt werden können.</li>
            <li>Mithilfe des gesamten Anwendungs-Frameworks und sofort einsetzbarer Widgets können Sie sich auf die Erstellung von Komponenten konzentrieren, die sich nahtlos in Ihre Workflows einfügen.</li>
            <li>Personalisieren Sie Ihre App durch die Erstellung eines individuellen Designs.</li>
            <li>Erstellen Sie neue Apps und nutzen Sie Widgets und Designs, die von anderen Entwicklern bereitgestellt wurden.</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Apps für Kunden</h3>
          <p><ul>
            <li>Erstellen Sie eine App, die Interessenten über <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a> angeboten werden kann.</li>
            <li>Erstellen Sie eigene Widgets und Designs, die Ihre Kunden für die Konfigurierung leistungsfähiger neuer Apps in Web AppBuilder verwenden können.</li>
            <li>Erstellen Sie ein benutzerdefiniertes Design, das Ihr Unternehmen unverwechselbar macht.</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Weitere Informationen und Ressourcen finden Sie unter <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

