---
title: Esri Maps for MicroStrategy

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - 1.0/ui/jquery.colorbox.min
  - 1.0/ui/jquery.colorbox.init
  - 1.0/ui/video.init

metatags:
  - <META name="description" content="Esri Maps for MicroStrategy Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-microStrategy"><META name="sub_category" content="Esri Maps for MicroStrategy"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for MicroStrategy"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/maps-for-microStrategy/">Esri Maps for MicroStrategy</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for MicroStrategy" data-langlabel="search-esri-maps-micro">
                    <input type="hidden" name="collection" value="ayuda" />
                    <input type="hidden" name="product" value="esri-maps-micro" />          
                    <input type="hidden" name="language" value="es" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/maps-for-microstrategy/">Inicio</a></li>
        <li><a href="/es/maps-for-microstrategy/install-and-configure/">Instalar y configurar</a></li>
        <li><a href="/es/maps-for-microstrategy/design-and-use-map/">Diseñar y utilizar mapas</a></li>
		<!--<li><a href="/es/maps-for-microstrategy/use-maps-mobile/">Use Maps on Mobile - Beta 1</a></li>-->
        <li><a href="http://forums.arcgis.com/forums/233-Esri-Maps-for-MicroStrategy">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Obtener la aplicación</h2>
          <span id="appVersion"><strong>Versión:</strong> 1.1</span> <span id="appReleased"><strong>Disponible:</strong> Enero de 2014</span>


          <p>Enriquezca sus documentos de Servicios de informes de MicroStrategy con mapas dinámicos en directo, lo que le permite analizar sus datos de empresa de forma visual e interactiva. Esri Maps for MicroStrategy está diseñado para integrarse perfectamente en los flujos de trabajo con los que los diseñadores y analistas de MicroStrategy trabajan a diario, sin necesidad de personalizar la codificación ni de experiencia SIG. Cree mapas enriquecidos que interactúan con otros datasets en sus documentos e informes y combine datos geográficos publicados con los datos de empresa de MicroStrategy para facilitar el análisis. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy/pricing">Obtener Esri Maps for MicroStrategy</a>

          </p>

        </header>
        <hr />
        <br />

		<div id="addandconfigureamap-report" class="column-12 phone-column-24">
          <img src="em4m3b.png" />

          <h3>Cree un informe con mapa habilitado</h3>
          <p>Agregue un mapa dinámico de Esri a su informe web para ayudar a tomar mejores decisiones de negocio. </p>
          <p>
            <a href="/es/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow"> Más información</a> <br/> <a href="http://video.arcgis.com/iframe/3098/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
			<video width="320" height="240" controls id="3098" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3098/mp4/480">
			</video>			
          </p>
		
        </div>
        
		
		<div id="addandconfigureamap-dashboard" class="column-12 phone-column-24">
          <img src="em4m1.png" />

          <h3>Añada mapas a su panel de control</h3>
          <p>Mejore su panel de control con uno o varios mapas interactivos para visualizar sus datos de MicroStrategy de nuevas maneras. </p>
          <p>
            <a href="/es/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow"> Más información</a> <br/> <a href="http://video.arcgis.com/iframe/3096/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
			<video width="320" height="240" controls id="3096" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3096/mp4/480">
			</video>
			
			
          </p>
		  <br/>
        </div>
		
		<div class="clear"></div>


        <div id="configureanduseselectors" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Configure selectores</h3>
          <p>Agregue interactividad entre datasets en su documento configurando su mapa como selector o como destino de un selector. </p>
          <p>
		  <a href="/es/maps-for-microstrategy/design-and-use-map/configure-and-use-selectors.htm" class="icon-right-arrow"> Más información</a> <br/> <a href="http://video.arcgis.com/iframe/3097/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
		   <video width="320" height="240" controls id="3097" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3097/mp4/480">
			</video>
			
			
          </p>
        </div>
		
		<div id="dynamiclinking" class="column-12 phone-column-24">
          <img src="em4m4.png"/>

          <h3>Agregue vinculación dinámica</h3>
          <p>Configure un vínculo dinámico a partir de un mapa en un informe o documento para iniciar un informe o documento externo. </p>
          <p>
          <a href="/es/maps-for-microstrategy/design-and-use-map/configure-and-use-links.htm" class="icon-right-arrow"> Más información</a>
          </p>
        </div>

        <div class="clear"></div>

<!--Commenting this section out until I get better screenshots
<div id="adddatafromarcgis" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Add data from ArcGIS</h3>
          <p>Add published geographic data from ArcGIS to your map-enabled document or report for easier analysis of your business data.</p>
          <p><a href="/es/maps-for-microstrategy/design-and-use-map/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>         
          </p>
        </div>
		
		<div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Share maps and layers</h3>
          <p>Share maps or individual map layers to ArcGIS for use by others in or outside of your organization.</p>
          <p><a href="/es/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>
-->
      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>C&#243;mo empezar</h3>
          <ul>
           <li><a href="/es/maps-for-microstrategy/design-and-use-map/what-s-new.htm">Novedades</a></li>
            <li><a href="/es/maps-for-microstrategy/install-and-configure/supported-environments.htm">Entornos compatibles</a></li>
			<li><a href="/es/maps-for-microstrategy/1.0.1/">Archivo de ayuda para la versión 1.0.1</a></li>			
			<li><a href="http://video.arcgis.com/series/158/location-analytics/">Ver vídeos de Location Analytics</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/js/1.0/ui/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
