---
title: Ajuda do ArcGIS Open Data
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="pt-br">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-br/open-data/">Principal</a></li>
        <li><a href="/pt-br/open-data/consumer/">Para Consumidores</a></li>
        <li><a href="/pt-br/open-data/provider/">Para Provedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">O que é ArcGIS Open Data?</h2>

          <p>O Open Data permite as organizações utilizarem a plataforma ArcGIS para fornecer ao público acesso gratuito para seus dados autorizados. As organizações configuram um site da web com seu próprio visual e comportamento e especificam grupos do Open Data para compartilhar itens específicos. O público em geral pode utilizar sites do Open Data para procurar por tópico ou locais, baixar dados em múltiplos formatos e visualizar dados em uma tabela ou mapa interativo.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Para Consumidores </h3>
          <p>Interaja com dados através de gráficos, tabelas e mapas para ajudá-lo a aprender mais sobre sua comunidade. Descubra, explore e baixe os dados ou compartilhe um link de um conjunto de dados interessante.</p>
          <p>

			<a href="/pt-br/open-data/consumer/" class="icon-right-arrow">&nbsp;Mostre-me como</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Para Provedores</h3>
          <p>Configure um site da web personalizado e selecione os dados autorizados que deseja compartilhar. Permita que todos possam procurar, visualizar e baixar seus dados em múltiplos formatos.</p>
          <p>
            <a href="/pt-br/open-data/provider/" class="icon-right-arrow">&nbsp;Mostre-me como</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Recursos</h2>

        <p>Crie e compartilhe seus próprios dados utilizando os fluxos de trabalho que você já conhece para criar um site do Open Data.</p>
		<ul>
			<li>Habilite o Open Data em sua organização e grupos.</li>
			<li>Crie sites personalizados para seus dados.</li>
			<li>Permita pesquisas federadas através das organizações e grupos.</li>
			<li>Forneça suporte para tabelas espaciais e não espaciais.</li>
			<li>Forneça filtros interativos para explorar os dados.</li>
			<li>Compartilhe links para visualizações filtradas de conjunto de dados.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Requisitos dos dados</h2>
        <p>O ArcGIS Open Data atualmente trabalha com dados de camadas de feição hospedadas, serviços de feição do ArcGIS Server, serviços de mapa do ArcGIS Server, serviços de imagem do ArcGIS Server, arquivos CSV, tabelas hospedadas. O ArcGIS Open Data oferece suporte limitado para URLs externas, mapas da web e outros documentos (como documentos do Word e PDFs).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Quais as novidades</h2>
		<p>O Open Data foi atualizado em Julho de 2015 com os seguintes recursos e funcionalidades: </p>
		
		<ul>
			<li>Visualizações de densidade em grade para conjunto de dados grandes (GeoHash).</li>
			<li>Suporte para metadados formal do ArcGIS Online.</li>
			<li>Entre e registre com contas do ArcGIS Online.</li>
			<li>Usuário e administrador comentam no conjunto de dados.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Prévia</h2>
		<p>O ArcGIS Open Data acabou de ser lançado e estamos planejando algumas coisas importantes adiante:</p>
		
		<ul>
			<li>Informações de estatísticas sobre seus dados para localizar contagens de downloads e detalhes nas visualizações.</li>
			<li>Maior controle administrativo sobre os conjuntos de dados e pesquisas.</li>
			<li>Experiência de usuário melhorada para pesquisar e filtrar conjuntos de dados.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Compartilhe suas <a class="" href="http://ideas.arcgis.com">idéias</a> onde estiver o ArcGIS Open Data!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Detalhes</h3>
	          
	  <h4><a href="#features">Recursos</a></h4>
	  <h4><a href="#dataRequirements">Requisitos dos dados</a></h4>
	  <h4><a href="#whatsNew">Quais as novidades</a></h4>
	  <h4><a href="#SneakPeek">Prévia</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Site de Idéias do ArcGIS</h3>
         <p>Compartilhe suas idéias onde estiver o ArcGIS Open Data! Poste uma sugestão ou voto sobre idéias existentes.</p> <br/>
         <p>Você é um provedor procurando por idéias? Veja o que clientes estão pedindo. Convide contribuintes para colaborar reservadamente com você para evoluir idéias.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


