---
title: Operations Dashboard for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/operations-dashboard-1

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2017-01-12"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="ar">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Operations Dashboard for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">الحصول على إصدار Windows</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/operations-dashboard/" selected>الصفحة الرئيسية</option>
        <option value="/en/operations-dashboard/overview/overview.htm">نظرة عامة</a>
        <option value="/en/operations-dashboard/windows-desktop/author/create-a-map.htm">طرق عرض المؤلف</a>
        <option value="/en/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">استخدم طرق العرض</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/ar/operations-dashboard/">الرئيسية</a>
        <a class="sub-nav-link" href="/ar/operations-dashboard/overview/overview.htm">رؤية عامة</a>
        <a class="sub-nav-link" href="/ar/operations-dashboard/windows-desktop/author/create-a-map.htm">طرق عرض المؤلف</a>
        <a class="sub-nav-link" href="/ar/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">استخدام طرق العرض</a></span>
      </nav>
    </div>
  </div>
</header>

<!-- beta announcement -->
<div class="panel panel-dark panel-no-border panel-no-padding leader-2 text-center">
  <div class="grid-container padding-leader-half padding-trailer-half trailer-0">
    <div class="column-24">
      <h5 class="trailer-0 leader-0">تجربة الجيل التالي هنا! <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 0px 0 0 10px;">الانضمام إلى الإصدار التجريبي</a>
      </h5>
    </div>
  </div>
</div>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>الحالة في متناول يدك</h1>
      <!--<br/>
      Know Operational Status Like You Are There<br/>
      Be There Without Leaving Your Office<br/>
      Know Operational Status Like You Are There<br/>
      Know the Status of your Operations<br/>
      Monitor, Track, and Assess Your Daily Operations<br/>
      Monitor, Track, and Assess What Matters Most (to You)<br/>
      Monitor, Track, and Assess with a Dynamic View of your Operations<br/>
      Know; outlook; view <br/>-->
      <h5>مراقبة الأنشطة والأحداث وتتبع مقومات عمل الحقل والوصول إلى حالة العمليات اليومية وأدائها من أي مكان تكون فيه.</h5>
      <!--Monitor, track, and assess what matters most to you from whereever you are. Use your laptop or tablet to see your operations as they progress. -->
          
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="تعليمات البحث عن Operations Dashboard">
              <input type="hidden" name="collection" value="help" />
              <!--input type="hidden" name="platform" value="detect" / -->
              <input type="hidden" name="product" value="ops-dashboard" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-2 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/ar/operations-dashboard/overview/whats-new.htm">ما الجديد</a></li>
	<li><a href="/ar/operations-dashboard/overview/requirements.htm">المتطلبات</a></li>
        <li><a href="/ar/operations-dashboard/overview/sneak-peek.htm">نظرة خاطفة</a></li>
	<li><a href="/ar/operations-dashboard/windows-desktop/author/faqs-author.htm">الأسئلة المتداولة الخاصة بمناطق عرض التأليف</a></li>
	<li><a href="/ar/operations-dashboard/windows-desktop/user/faqs-user.htm">الأسئلة المتداولة باستخدام مناطق العرض</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ar/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">
            <img alt="" src="img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ar/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">إنشاء عرض العملية ومشاركتها</a>
          </h5>
          <p>في الخطوات الثلاث السهلة، قم بإنشاء عمليات عرض العملية التي تتضمن الخرائط والقوائم والمخططات وأجهزة القياس والمزيد ومشاركتها استنادًا إلى بيانات الجغرافيا الحية المُعرفة في خريطة أو خدمات الويب.</p>
        </div>
        <a href="/ar/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ar/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/monitorAndRespond.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ar/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">مراقبة الأحداث والاستجابة لها</a>
          </h5>
          <p>استخدم عرض العملية للتركيز على جوانب العملية التي تهمك. توجد خدمات المراقبة والتسليمات والأشخاص والمركبات وأكثر في كل مكان في العالم في أربع خطوات.</p>
        </div>
        <nav>
          <a href="/ar/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="btn btn-grouped btn-clear btn-half leader-0">افعلها</a>
          <a href="http://video.arcgis.com/iframe/2195/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">شاهدها</a></span>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ar/operations-dashboard/web/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/browserApp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ar/operations-dashboard/web/user/monitor-and-respond-to-events.htm">المراقبة في المستعرض</a>
          </h5>
          <p>استخدام عرض العملية في المستعرض. لا يوجد شيء لتثبيته، فقط افتح عرض العملية وتحديثها على العمليات، حتى من خلال iPad.</p>
        </div>
        <a href="/ar/operations-dashboard/web/user/monitor-and-respond-to-events.htm" class="btn btn-clear btn-fill leader-0">تعلم كيفية</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ar/operations-dashboard/windows-desktop/author/custom-addins.htm">
            <img alt="" src="img/developExtensions.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ar/operations-dashboard/windows-desktop/author/custom-addins.htm">تطوير الملحقات</a>
          </h5>
          <p>أحضر منطق تسلسل العمل الفريد داخل عرض العملية باستخدام عناصر واجهة الاستخدام وإجراءات المعالم وأدوات الخريطة.</p>
        </div>
        <nav>
          <a href="/ar/operations-dashboard/windows-desktop/author/custom-addins.htm" class="btn btn-grouped btn-clear btn-half leader-0">اقرأ المزيد</a>
          <a href="https://github.com/Esri/dashboard-samples" class="btn btn-grouped btn-clear btn-half leader-0">العينات</a></span>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">الحصول على المزيد من ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">الاتصال بلوحة معلومات Operations Dashboard</h4>
    <a aria-label="الاتصال على LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="عرض مشروعات GitHub" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/dashboard-samples"></a>
    <a aria-label="الانضمام إلى المجتمع" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis"></a>
    <a aria-label="أرسل لنا تعليقك" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">اقرأ مدونتنا
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/operations-dashboard/">مزيد من النشرات</a></span>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">الانضمام إلى المحادثة <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">المزيد من المحادثات</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2121" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">تناول درس متعمق</a></h5>
          <p class="trailer-0">
 ابحث عن "تعرف على ArcGIS" للعثور على التدريبات التي تقدم حلولاً لمشكلات عالم الواقع باستخدام ArcGIS وإكمالها.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">البحث عن الدورات التدريبية</a></h5>
          <p class="trailer-0">
 تعلم المزيد عن ArcGIS من خلال دورات تدريبية بإشراف محاضر، ودورات تدريبية على الويب، وندوات.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">الحصول على الدعم الفني</a></h5>
          <p class="trailer-0">
 الاتصال بدعم Esri عن طريق محادثات الدردشة أو البريد الإلكتروني أو الهاتف.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">التحقق من صحة النظام</a></h5>
          <p class="trailer-0">
 راجع حالة ArcGIS Online ومشكلات التقرير.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
