.toc {
  @extend %panel;
  background: $light-tan;
  float: right;
  padding: 1em;
  margin: 0 0 2em 2em;
  @include border-radius(10px);
  h5:first-of-type {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}