---
title: ArcGIS Open Data — Pomoc
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pl/open-data/">Strona główna</a></li>
        <li><a href="/pl/open-data/consumer/">Dla klientów</a></li>
        <li><a href="/pl/open-data/provider/">Dla dostawców</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Czym jest platforma ArcGIS Open Data?</h2>

          <p>Możliwość tworzenia witryn Open Data pozwala instytucjom na wykorzystanie platformy ArcGIS do zapewniania ogółowi użytkowników uzyskania dostępu do ich własnych wiarygodnych danych. Instytucje mogą skonfigurować witrynę, dostosowując jej wygląd i styl, oraz określić grupy Open Data, w których udostępniane będą określone elementy. Użytkownicy mogą korzystać z witryn Open Data do wyszukiwania według tematu bądź lokalizacji, pobierać dane w różnych formatach, a także wyświetlać je na interaktywnych mapach i w tabeli.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Dla klientów </h3>
          <p>Możesz wchodzić w interakcję z danymi poprzez diagramy, tabele i mapy, i w ten sposób poznawać lokalną społeczność. Po odkryciu interesującego zestawu danych możesz go badać, pobierać z niego dane oraz udostępnić łącze do niego.</p>
          <p>

			<a href="/pl/open-data/consumer/" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Dla dostawców</h3>
          <p>Skonfiguruj witrynę, dostosowując jej wygląd i styl wedle uznania i wybierz wiarygodne dane, które chcesz udostępnić. Możesz każdemu zezwolić na wyszukiwanie, wyświetlanie i pobieranie danych w różnych formatach.</p>
          <p>
            <a href="/pl/open-data/provider/" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Obiekty</h2>

        <p>Używając procedur wykonywania zadań, które już znasz, utwórz i udostępnij swoje dane w witrynie Open Data.</p>
		<ul>
			<li>Włącz funkcje Open Data w swojej instytucji i w grupach.</li>
			<li>Twórz dostosowane witryny dla swoich danych.</li>
			<li>Zezwalaj na sfederowane wyszukiwanie w instytucjach i grupach.</li>
			<li>Zapewniaj obsługę tabel z danymi przestrzennymi i innymi.</li>
			<li>Udostępniaj interaktywne filtry do badania danych.</li>
			<li>Udostępniaj łącza do filtrowanych widoków zestawów danych.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Wymagania dotyczące danych</h2>
        <p>Platforma ArcGIS Open Data obecnie obsługuje dane z hostowanych warstw obiektów, usług obiektowych ArcGIS Server, usług map ArcGIS Server, usług obrazów ArcGIS Server, plików CSV oraz tabel hostowanych. Platforma ArcGIS Open Data oferuje ograniczoną usługę zewnętrznych adresów URL, map internetowych i innych dokumentów (takich jak dokumenty programu Word czy dokumenty w formacie PDF).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Co nowego</h2>
		<p>W lipcu 2015 r. platforma Open Data została zaktualizowana i rozbudowana o następujące funkcje i funkcjonalności: </p>
		
		<ul>
			<li>Wizualizacje z siatką gęstości dla dużych zestawów danych (GeoHash).</li>
			<li>Obsługa formalnych metadanych z usługi ArcGIS Online.</li>
			<li>Logowanie na kontach w usłudze ArcGIS Online i rejestracja takich kont.</li>
			<li>Komentarze użytkowników i administratora do zestawów danych.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Zapowiedź</h2>
		<p>Platforma ArcGIS Open Data została właśnie udostępniona. W niedalekiej przyszłości planujemy wprowadzenie kilku atrakcyjnych funkcji:</p>
		
		<ul>
			<li>Informacje statystyczne o danych w celu śledzenia liczby pobrań i szczegóły dotyczące wyświetlania.</li>
			<li>Większa kontrola administracyjna nad zestawami danych i pozyskiwaniem danych.</li>
			<li>Udoskonalenie funkcji wyszukiwania i filtrowania zestawów danych.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Podziel się swoimi <a class="" href="http://ideas.arcgis.com">pomysłami</a> dotyczącymi przyszłości platformy ArcGIS Open Data!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Szczegóły</h3>
	          
	  <h4><a href="#features">Charakterystyka</a></h4>
	  <h4><a href="#dataRequirements">Wymagania dotyczące danych</a></h4>
	  <h4><a href="#whatsNew">Co nowego</a></h4>
	  <h4><a href="#SneakPeek">Zapowiedź</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Witryna ArcGIS Ideas</h3>
         <p>Podziel się swoimi pomysłami dotyczącymi przyszłości platformy ArcGIS Open Data! Zgłaszaj propozycje lub głosuj na istniejące pomysły.</p> <br/>
         <p>Jesteś dostawcą szukającym inspiracji? Sprawdź, czego szukają klienci. Zapraszaj pomysłodawców do prywatnej współpracy, aby rozwijać pomysły.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


