---
title: AppStudio for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min

metatags:
  - <META name="description" content="The topics listed in this API guide include developer concepts and detail to help you use ArcGIS Runtime in your AppStudio apps. Topics in the API guide are available in English only."><META name="last-modified" content="2017-3-27"><META name="product" content="appstudio"><META name="sub_category" content="AppStudio for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">AppStudio for ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="Search AppStudio for ArcGIS" class="leader">
	          <input type="hidden" name="collection" value="help">
	          <input type="hidden" name="product" value="appstudio">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="en">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/appstudio/">Home</option>
        <option value="/en/appstudio/create-apps/">Create Apps</option>
        <option value="/en/appstudio/extend-apps/">Extend Apps</option>
        <option value="/en/appstudio/api/guide/">API Guide</option>
        <option value="/en/appstudio/api/reference/" selected>API Reference</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link" href="/en/appstudio/">Home</a>
        <a class="sub-nav-link" href="/en/appstudio/create-apps/">Create Apps</a>
        <a class="sub-nav-link" href="/en/appstudio/extend-apps/">Extend Apps</a>
        <a class="sub-nav-link" href="/en/appstudio/api/guide/">API Guide</a>
        <a class="sub-nav-link is-active" href="/en/appstudio/api/reference/">API Reference</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-half">
      <h1>API Reference</h1>
      <h5>The topics listed in this API guide include developer concepts and detail to help you use the AppStudio framework in your apps.</h5>
    </div>
  </div>
</div>

<div class="grid-container trailer-2">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block leader-1">
        <figure class="card-image-wrap">
          <a href="/en/appstudio/api-guide/apiguide.htm">
            <img alt="" src="/en/appstudio/img/APIGuide.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/appstudio/api-guide/apiguide.htm">AppFramework API Guide</a>
          </h5>
          <p>For building apps with AppStudio's specialized app framework.</p>
        </div>
        <a href="/en/appstudio/api-guide/apiguide.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block leader-1">
        <figure class="card-image-wrap">
          <a href="https://developers.arcgis.com/qt/latest/qml/guide/arcgis-runtime-sdk-for-qt.htm">
            <img alt="" src="/en/appstudio/img/100Runtime.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="https://developers.arcgis.com/qt/latest/qml/guide/arcgis-runtime-sdk-for-qt.htm">ArcGIS Runtime 100.0 Guide</a>
          </h5>
          <p>For building apps with Esri's up-to-date ArcGIS Runtime version 100.0.</p>
        </div>
        <a href="https://developers.arcgis.com/qt/latest/qml/guide/arcgis-runtime-sdk-for-qt.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block leader-1">
        <figure class="card-image-wrap">
          <a href="https://developers.arcgis.com/qt/10-2/qml/guide/arcgis-runtime-sdk-for-qt.htm">
            <img alt="" src="/en/appstudio/img/1026Runtime.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="https://developers.arcgis.com/qt/10-2/qml/guide/arcgis-runtime-sdk-for-qt.htm">ArcGIS Runtime 10.2 Guide</a>
          </h5>
          <p>For building legacy apps with ArcGIS Runtime version 10.2.6.</p>
        </div>
        <a href="https://developers.arcgis.com/qt/10-2/qml/guide/arcgis-runtime-sdk-for-qt.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block leader-1">
        <figure class="card-image-wrap">
          <a href="http://doc.qt.io/qt-5/qmlapplications.html">
            <img alt="" src="/en/appstudio/img/QtDocs.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="http://doc.qt.io/qt-5/qmlapplications.html">Qt QML Guide</a>
          </h5>
          <p>Qt's own guide to making apps with Qt QML.</p>
        </div>
        <a href="http://doc.qt.io/qt-5/qmlapplications.html" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>
