---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/operations-dashboard/">Accueil</a></li>
        <li><a href="/fr/operations-dashboard/windows-desktop/author/create-a-map.htm">Créer des vues</a></li>
        <li><a href="/fr/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Utiliser des vues</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 10.2</span> <span id="appReleased"><strong>Date de sortie :</strong> Novembre 2013</span>

          <p>Surveillez les activités et les événements, suivez votre personnel sur le terrain et évaluez le statut et les performances de vos opérations quotidiennes.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Obtenir Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Configurations requises</a> <a id="appWhatsNew" href="#whatsNew">Nouveautés</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/fr/operations-dashboard/dashboard-create-small.png" />

          <h3>Créer et partager une vue des opérations</h3>
          <p>Vous pouvez, en trois étapes faciles, créer et partager des vues d'opérations incluant des cartes, des listes, des diagrammes, des jauges, ainsi que d'autres éléments basés sur les données géographiques dynamiques définies dans une carte Web ou un service Web.</p>
          <p>
            <a href="/fr/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow"> Comment</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/fr/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Intervenir et surveiller des événements</h3>
          <p>Utilisez votre vue d'opération pour vous concentrer sur des aspects de l'opération qui sont importants à vos yeux. Surveiller les services, livraisons, personnes, véhicules et autres, partout dans le monde, en quatre étapes.</p>
          <p>
            <a href="/fr/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow"> <br /><!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --><a href="/fr/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">Comment</a> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Visionner une vidéo</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Configuration du système</h2>

        <p>L'exécution d'Operations Dashboard implique certaines conditions en termes de périphériques, mais aussi de données utilisées dans l'application. Operations Dashboard est pris en charge dans plusieurs langues.</p>


        <h3>Systèmes d'exploitation pris en charge</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro et Windows 8.1 Enterprise (32 bits et 64 bits [EM64T])</li>
          <li>Windows 8, Windows 8 Pro et Windows 8 Enterprise (32 bits et 64 bits [EM64T])</li>
		  <li>Windows 7 Édition Intégrale, Entreprise, Professionnelle et Familiale Premium (32 et 64 bits [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard et Datacenter (64 bits [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise et Datacenter (64 bits [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise et Datacenter (32 bits et 64 bits [EM64T]) SP2</li>
        </ul>


        <h3>Configuration matérielle</h3>
        <ul>
			<li>Vitesse de processeur : 2,2 GHz au minimum ou plus ; processeur Hyper-Threading (HTT) ou multicœur recommandé.</li>
			<li>Processeur: Processeurs Intel Pentium 4, Core Duo ou Xeon ; SSE2 minimum. Exécutez cet utilitaire Microsoft à partir de l'invite de commandes Windows pour vérifier votre processeur.</li>
			<li>Espace disque : 1,5 Go d'espace disponible sur le disque.</li>
			<li>Mémoire/Mémoire vive : 2 Go ou plus.</li>
			<li>Propriétés d’affichage : profondeur de couleurs 24 bits.</li>
			<li>Résolution de l'écran : 1 024 x 768 recommandée ou supérieure à une taille normale (96 ppp).</li>
			<li>Espace d'échange : Déterminé par le système d'exploitation, 500 Mo minimum.</li>
			<li>Carte vidéo/graphique : Mémoire vive de 64 Mo minimum, mémoire de 256 Mo recommandée. Jeux de puces NVIDIA, ATI et Intel pris en charge. Pilote de carte graphique accéléré. Shader Model 2.0 minimum. Veillez à utiliser le pilote le plus récent.</li>
		</ul>


        <h3>Configuration logicielle requise</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> est requis. Vous devez disposer des privilèges d'administration sur l'ordinateur pour pouvoir l'installer.</p>

        <h3>Conditions requises pour les données</h3>
		<p>Pour pouvoir utiliser des cartes dans Operations Dashboard, vous devez disposer d'un compte d'organisation ArcGIS. Vos cartes peuvent contenir des données provenant d'ArcGIS Online, de Portal for ArcGIS et d'ArcGIS for Server. Les sources de données doivent être hébergés sur ArcGIS Online ou ArcGIS 10.1 for Server, ou une version ultérieure.</p>

		<h3>Configuration requise pour les développeurs</h3>
		<p><a href="http://resources.arcgis.com/fr/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a> est requis pour personnaliser Operations Dashboard for ArcGIS.</p>

	<h3>Langues prises en charge</h3>
	<p>Arabe, chinois simplifié, danois, néerlandais, espagnol, estonien, français, finlandais, allemand, hébreu, italien, japonais, coréen, letton, lituanien, norvégien, polonais, portugais, portugais (Brésil), portugais (Portugal), roumain, russe, suédois et tchèque.</p>
	<p>La langue utilisée par l'application est définie par la configuration de langue du système d'exploitation.</p>

        <a name="whatsNew"></a>
        <h2>Nouveautés</h2>
        <p>Operations Dashboard for ArcGIS version 10.2 a été publié en novembre 2013. Cette version inclut les améliorations suivantes :</p>
        <ul>
        <li>Prise en charge des identifiants de connexion d’entreprise.</li>
        <li>Prise en charge de Portal for ArcGIS.</li>
        <li>Widgets de liste et de jauge améliorés.</li>
        <li>Les fenêtres contextuelles comprennent des images et des diagrammes.</li>
        <li>Prise en charge proxy améliorée.</li>
        <li>Prise en charge de l'heure locale.</li>
        <li>Filtre d'heure et de dates amélioré.</li>
        <li>Utilise ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Les compléments peuvent être développés à l'aide d'ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Localisation en arabe, anglais, chinois simplifié, danois, néerlandais, espagnol, estonien, français, finlandais, allemand, hébreu, italien, japonais, coréen, letton, lituanien, norvégien, polonais, portugais, portugais (Brésil), portugais (Portugal), roumain, russe, suédois et tchèque.</li>
        </ul>
      
        <p> </p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">L'installer</a></li>
            <li><a href="/fr/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Créer et partager une vue des opérations</a></li>
            <li><a href="/fr/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Intervenir et surveiller des activités et événements</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Compléments de développement</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
