---
title: Esri Maps for Office
css:
  - documentation
  - screen
  - /es/asset/css/common
  - stat-page-specific
  - /es/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/maps-for-office/">Inicio</a></li>
        <li><a href="/es/maps-for-office/help/">Ayuda</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descargar la aplicación</h2>
          <span id="appVersion"><strong>Versión:</strong> 2.1</span> <span id="appReleased"><strong>Disponible:</strong> Julio de 2013</span>


          <p>Esri Maps for Office le permite crear rápidamente mapas interactivos y dinámicos desde los datos de Excel e iniciar la exploración de una forma completamente nueva. Esri Maps for Office le permite descubrir patrones y tendencias que no son evidentes en los gráficos y datos tabulares. Los mapas se pueden compartir de forma inmediata a través de presentaciones de PowerPoint o mediante la publicación con un solo clic en la plataforma de representación cartográfica de Esri, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obtener Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Cartografíe sus hojas de cálculo </h3>
          <p>Aprenda cómo cartografiar los datos de Excel con Esri Maps for Office. Puede crear fácilmente mapas interactivos codificados con colores, con puntos, puntos agrupados y mapas de calor directamente en Excel y obtener más información visual sobre los datos.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enriquezca sus datos</h3>
          <p>Utilice los conjuntos de estado de datos de Esri para aportar valor a los datos empresariales. Agregue datos demográficos y de estilo de vida directamente a hojas de cálculo de Excel y obtenga más contexto sobre las ubicaciones que le importan. Explore rápidamente las ubicaciones al vuelo con infografías emergentes.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos del sistema</h2>

        <p>Esri Maps for Office requiere una cuenta que sea parte de una organización de <a href="http://help.arcgis.com/es/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> y Microsoft Office Excel o PowerPoint 2010 o Microsoft Office Excel o PowerPoint 2013. Los sistemas operativos compatibles incluyen:</p>
		<ul>
		 <li>Windows XP (debe tener SP3) (32 bits)</li>
		 <li>Windows 7 (32 bits y 64 bits)</li>
		 <li>Windows 8 (32 bits y 64 bits)</li>
		 <li>Windows Server 2003 con SP2 y MSXML 6.0 (solo Office de 32 bits)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Para obtener información adicional, incluidos la velocidad del procesador, la memoria y el espacio libre en disco necesarios, consulte los requisitos del sistema para <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> y <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Soporte planificado para los siguientes idiomas</h3>
        <p>Árabe, inglés, chino, francés, alemán, italiano, japonés, español, portugués (Brasil) y ruso</p>





        <a name="whatsNew"></a>
        <h2>Novedades</h2>
        <p>Esri Maps for Office versión 2.1 se comercializó en julio de 2013. Incluye las siguientes mejoras:</p>
        <ul>
        <li>Análisis del patrón estadístico a través de la herramienta Hot Spot</li>
		<li>Mejoras en el enriquecimiento de datos, incluidos más conjuntos de datos y la capacidad de seleccionar variables individuales de los conjuntos de datos</li>
		<li>Soporte para el inicio de sesión seguro con OAuth+SAML (AGOL)</li>
        <li>Soporte para el inicio de sesión seguro con IWA, PKI (solo portal)</li>
		<li>Mejoras de la interfaz de usuario para las herramientas Infografía y Enriquecer capa</li>
		<li>Flujo de trabajo mejorado para actualizar Maps for Office a la versión más reciente</li>
        </ul>


        <h3>Versión anterior</h3>
        <p>La versión 2.0.2 se comercializó en mayo de 2013. Incluía las siguientes mejoras:</p>
        <ul>
          <li>Enriquezca sus datos con contexto geográfico utilizando la nueva herramienta "Enriquecer capa"</li>
		  <li>Seleccione las entidades en el mapa y busque entidades cercanas en otras capas </li>
		  <li>Las ventanas emergentes de mapas contienen ahora Infografías que proporcionan información contextual sumamente útil y variada sobre las áreas aledañas a las entidades en su mapa.</li>
		  <li>Soporte de vista previa para Portal for ArcGIS 10.2</li>
		  <li>Nuevas opciones de configuración para clustering y mapas de calor</li>
		  <li>Se ha añadido la posibilidad de filtrar en el mapa las entidades agrupadas haciendo clic en los cortes de clase de la leyenda del mapa</li>
		  <li>Flujo de trabajo mejorado para geocodificación de direcciones</li>
		  <li>Posibilidad de personalizar la galería de mapas base de su organización de ArcGIS Online</li>
		  <li>La función Insertar mapa usa el mapa base predeterminado de su organización de ArcGIS Online</li>
		  <li>Busque datos en ArcGIS Online usando categorías populares como Riqueza, Negocios, Política y Salud</li>
		  <li>Los nombres de lugares se basan ahora en la ubicación de datos. Por ejemplo, las etiquetas del flujo de trabajo de geocodificación mostrarán prefecturas en Japón, estados en Estados Unidos y provincias en Canadá</li>
		  <li>Soporte para Microsoft Office 2013</li>
		  <li>Otras mejoras de calidad, de uso y cartográficas</li>
        </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Cómo empezar</h3>
          <ul>
           <li><a href="#whatsNew">Novedades</a></li>
            <li><a href="#systemRequirements">Requisitos del sistema</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Ver vídeos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/es/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
