---
title: Esri Maps for Office
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/maps-for-office/">Inicio</a></li>
        <li><a href="/es/maps-for-office/help/">Ayuda</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descargar la aplicaci&oacute;n</h2>
          <span id="appVersion"><strong>Versi&oacute;n:</strong> 2.1</span> <span id="appReleased"><strong>Disponible:</strong> Julio de 2013</span>


          <p>Esri Maps for Office le permite crear r&aacute;pidamente mapas interactivos y din&aacute;micos desde los datos de Excel e iniciar la exploraci&oacute;n de una forma completamente nueva. Esri Maps for Office le permite descubrir patrones y tendencias que no son evidentes en los gr&aacute;ficos y datos tabulares. Los mapas se pueden compartir de forma inmediata a trav&eacute;s de presentaciones de PowerPoint o mediante la publicaci&oacute;n con un solo clic en la nube de representaci&oacute;n cartogr&aacute;fica de Esri, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obtener Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Cartograf&iacute;e sus hojas de c&aacute;lculo </h3>
          <p>Aprenda c&oacute;mo cartografiar los datos de Excel con Esri Maps for Office. Puede crear f&aacute;cilmente mapas interactivos codificados con colores, con puntos, puntos agrupados y mapas de calor directamente en Excel y obtener m&aacute;s informaci&oacute;n visual sobre los datos.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Ver un v&iacute;deo</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enriquecer datos</h3>
          <p>Utilice los conjuntos de estado de datos de Esri para aportar valor a los datos empresariales. Agregue datos demogr&aacute;ficos y de estilo de vida directamente a hojas de c&aacute;lculo de Excel y obtenga m&aacute;s contexto sobre las ubicaciones que le importan. Explore r&aacute;pidamente las ubicaciones al vuelo con infograf&iacute;as emergentes.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Ver un v&iacute;deo</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos del sistema</h2>

        <p>Esri Maps for Office requiere una cuenta que sea parte de una organizaci&oacute;n de <a href="http://help.arcgis.com/es/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> y Microsoft Office Excel o PowerPoint 2010 o Microsoft Office Excel o PowerPoint 2013. Los sistemas operativos compatibles incluyen:</p>
		<ul>
		 <li>Windows XP (debe tener SP3) (32&nbsp;bits)</li>
		 <li>Windows 7 (32&nbsp;bits y 64&nbsp;bits)</li>
		 <li>Windows 8 (32&nbsp;bits y 64&nbsp;bits)</li>
		 <li>Windows&nbsp;Server&nbsp;2003 con SP2 y MSXML&nbsp;6.0 (solo Office de 32&nbsp;bits)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Para obtener informaci&oacute;n adicional, incluidos la velocidad del procesador, la memoria y el espacio libre en disco necesarios, consulte los requisitos del sistema para <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> y <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Soporte planificado para los siguientes idiomas</h3>
        <p>&Aacute;rabe, ingl&eacute;s, chino, franc&eacute;s, alem&aacute;n, italiano, japon&eacute;s, espa&ntilde;ol, portugu&eacute;s (Brasil) y ruso</p>





        <a name="whatsNew"></a>
        <h2>Novedades</h2>
        <p>Esri Maps for Office versi&oacute;n 2.1 se comercializ&oacute; en julio de 2013. Incluye las siguientes mejoras:</p>
        <ul>
        <li>An&aacute;lisis del patr&oacute;n estad&iacute;stico a trav&eacute;s de la herramienta Hot Spot</li>
		<li>Mejoras en el enriquecimiento de datos, incluidos m&aacute;s conjuntos de datos y la capacidad de seleccionar variables individuales de los conjuntos de datos</li>
		<li>Soporte para el inicio de sesi&oacute;n seguro con OAuth+SAML (AGOL)</li>
        <li>Soporte para el inicio de sesi&oacute;n seguro con IWA, PKI (solo portal)</li>
		<li>Mejoras de la interfaz de usuario para las herramientas Infograf&iacute;a y Enriquecer capa</li>
		<li>Flujo de trabajo mejorado para actualizar Maps for Office a la versi&oacute;n m&aacute;s reciente</li>
        </ul>


        <h3>Versi&oacute;n anterior</h3>
        <p>La versi&oacute;n 2.0.2 se comercializ&oacute; en mayo de 2013. Inclu&iacute;a las siguientes mejoras:</p>
        <ul>
          <li>Enriquezca sus datos con contexto geogr&aacute;fico utilizando la nueva herramienta &quot;Enriquecer capa&quot;</li>
		  <li>Seleccione las entidades en el mapa y busque entidades cercanas en otras capas </li>
		  <li>Las ventanas emergentes de mapas contienen ahora Infograf&iacute;as que proporcionan informaci&oacute;n contextual sumamente &uacute;til y variada sobre las &aacute;reas aleda&ntilde;as a las entidades en su mapa.</li>
		  <li>Soporte de vista previa para Portal for ArcGIS 10.2</li>
		  <li>Nuevas opciones de configuraci&oacute;n para clustering y mapas de calor</li>
		  <li>Se ha a&ntilde;adido la posibilidad de filtrar en el mapa las entidades agrupadas haciendo clic en los cortes de clase de la leyenda del mapa</li>
		  <li>Flujo de trabajo mejorado para geocodificaci&oacute;n de direcciones</li>
		  <li>Posibilidad de personalizar la galer&iacute;a de mapas base de su organizaci&oacute;n de ArcGIS Online</li>
		  <li>La funci&oacute;n Insertar mapa usa el mapa base predeterminado de su organizaci&oacute;n de ArcGIS Online</li>
		  <li>Busque datos en ArcGIS Online usando categor&iacute;as populares como Riqueza, Negocios, Pol&iacute;tica y Salud</li>
		  <li>Los nombres de lugares se basan ahora en la ubicaci&oacute;n de datos. Por ejemplo, las etiquetas del flujo de trabajo de geocodificaci&oacute;n mostrar&aacute;n prefecturas en Jap&oacute;n, estados en Estados Unidos y provincias en Canad&aacute;</li>
		  <li>Soporte para Microsoft Office 2013</li>
		  <li>Otras mejoras de calidad, de uso y cartogr&aacute;ficas</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>C&oacute;mo empezar</h3>
          <ul>
           <li><a href="#whatsNew">Novedades</a></li>
            <li><a href="#systemRequirements">Requisitos del sistema</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Ver v&iacute;deos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 

	<script src="/es/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
