---
title: セキュリティ上の問題の報告
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online の信頼性" href="/ja/trust/">信頼性</a></li>
        <li><a title="ArcGIS Online のシステム ステータス" href="/ja/trust/system-status/">システム ステータス</a></li>
        <li><a title="ArcGIS Online のセキュリティ" href="/ja/trust/security/">セキュリティ</a></li>
        <li><a title="ArcGIS Online のプライバシー" href="/ja/trust/privacy/">プライバシー</a></li>
        <li><a title="ArcGIS Online のプライバシー" href="/ja/trust/compliance/">コンプライアンス</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">セキュリティ上の問題の報告</h2>
      </header>
	  <section>
		<p data-langlabel="">ユーザの皆様固有の問題の十分な詳細を含め、該当するすべての情報を右側のフォームにご記入ください。皆様の連絡先情報は、入力された情報についてのフォローアップのために使用されます。該当する情報カテゴリを「情報カテゴリ」ドロップダウン メニューから選択してください。</p>
		<ul>
			<li data-langlabel="">脆弱性 - Esri のサイトまたはアプリケーションに存在する脆弱性を報告します。</li>
			<li data-langlabel="">Esri からの疑わしい電子メール - ユーザの皆様が、Esri の電子メール アドレスから、フィッシング攻撃の標的にされたと考えられる、または Esri から他の疑わしい電子メールの連絡を受け取った場合。</li>
			<li data-langlabel="">プライバシーの問題 - Esri のアプリケーションや組織に関連するプライバシーの問題が存在する場合。</li>
			<li data-langlabel="">その他 - 他のすべてのセキュリティ、プライバシー、またはコンプライアンスに関連する問題。</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">脆弱性レポート ポリシー</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com セキュリティ チームは、独立したセキュリティ研究者がインターネットのセキュリティにおいて果たす貴重な役割を認めています。Esri は、Esri のサイトやアプリケーションに存在する可能性があるすべての脆弱性に関して信頼できるレポートの作成を奨励しています。Esri は、セキュリティ コミュニティと連携して、当社に報告された潜在的脆弱性の確認と対応に取り組んでいます。このポリシーが遵守されている場合、Esri は皆様に対して訴訟を起こしたり、法的処置による調査を開始したりすることはありません。</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com では、次の種類のセキュリティ調査活動は許可<strong>できません。</strong></h4>
	  </header>
	  <ul>
			<li data-langlabel="">DoS（Denial of Service）状態を引き起こすか、引き起こそうと企てる。</li>
		<li data-langlabel="">Esri の明示的な同意なく、自動化されたセキュリティ ツールを使用する。自動化ツールを使用した場合、その調査活動や調査者の IP がブロックされる結果になることがあります。</li>
		<li data-langlabel="">ユーザの皆様に属するものではないデータや情報にアクセスするか、アクセスしようと企てる。</li>
		<li data-langlabel="">ユーザの皆様に属するものではないデータや情報を破壊または破損するか、破壊または破損しようと企てる。</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com セキュリティ チームの取り組み</h4>
	  </header>
		<p data-langlabel="">この ArcGIS.com の脆弱性レポート ポリシーを遵守するすべてのセキュリティ研究者に対して、ArcGIS.com セキュリティ チームは以下のことを約束します。</p>
		
		<ul>
		<li data-langlabel="">レポートの受領を確認次第、迅速に対応します。</li>
		<li data-langlabel="">この脆弱性に対処するための推定所要時間をお知らせします。</li>
		<li data-langlabel="">脆弱性が解決されたら、レポートを送信した個人に通知します。</li>		
		</ul>
		
		<div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> Participating Security Researchers</span>
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">We would like to thank the following security researchers for participating in our responsible reporting program:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
	
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">氏名: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">電子メール アドレス: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">電話番号: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">組織名<span class="optional">（任意）:</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">情報カテゴリ: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">脆弱性</option> <option value="Suspicious E-mail from Esri">Esri からの疑わしい電子メール</option> <option value="Privacy Issue">プライバシーの問題</option> <option value="audi">その他</option>
			  </select>

			  <label data-langlabel="" for="description">レポートの内容: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">自動化されたスパムを防止するために、次に示されている数字を入力してください。 </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">数字: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="内部" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="セキュリティ上の問題" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">送信</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>この問題についてのレポートをご送信いただき、ありがとうございます。Esri は、翌日から数日（営業日）以内に、お客様の問題を調査し、対処いたします。</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>送信中にエラーが発生しました。後で問題を再送信してください。</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink"><a id="feedback-referring-link" href="">参照ページ</a>に戻る</span> <span style="display:none;" id="resubmit">別のセキュリティ上の問題を<a id="resubmit" href="" target="_self">送信する</a></span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

