---
title: إقرار مشكلة الامان
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/ar/trust/">الثقة</a></li>
        <li><a title="ArcGIS Online System Status" href="/ar/trust/system-status/">حالة النظام</a></li>
        <li><a title="ArcGIS Online Security" href="/ar/trust/security/">الأمان</a></li>
        <li><a title="ArcGIS Online Privacy" href="/ar/trust/privacy/">الخصوصية</a></li>
        <li><a title="ArcGIS Online Privacy" href="/ar/trust/compliance/">التوافق</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">إقرار مشكلة الامان</h2>
      </header>
	  <section>
		<p data-langlabel="">الرجاء تعبئة النموذج الموجود إلى اليمين بالمعلومات التي يُمكن تطبيقها بما في ذلك التفاصيل المُحددة. سيتم استخدام تفاصيل الاتصال لتتبع المعلومات المُقدمة. الرجاء حدد الموضوع الذي يُمكن تطبيقه من قائمة المنسدلة للموضوع.</p>
		<ul>
			<li data-langlabel="">ثغرة أمنية - تقرير الثغرة الأمنية التي تم إيجادها داخل الموقع أو التطبيق.</li>
			<li data-langlabel="">رسالة البريد الإلكتروني المريبة المُستلمة من Esri - إذا استهدفت من قبل التصيد الاحتيالي من قبل عنوان البريد الإلكتروني لـ Esri أو استلمت أي رسائل بريد إلكتروني مُريبة من Esri.</li>
			<li data-langlabel="">مشاكل الخصوصية - إذا كان لديك أي موضوع خصوصية مُرتبط بالتطبيق أو المؤسسة.</li>
			<li data-langlabel="">أخرى - لجميع موضوعات الأمان أو الخصوصية الأخرى.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">سياسة ذكر الثغرة الأمنية</h3>
	  </header>
      
        <p data-langlabel="">يقوم فريق أمان ArcGIS.com بإقرار دور القيمة الذي يلعبه باحثين الأمان في تأمين الإنترنت. نقوم بتشجيع المسئولية الخاصة بأي من الثغرات الأمنية التي يُمكن إيجادها داخل الموقع أو التطبيق. تلتزم Esri بالتعامل مع المجتمع للتحقق والاستجابة غلى أي ثغرات أمنية مُحتملة تم ذكرها لنا. لن تخضع Esri للمُحاكمة أو لتحقيق قضائي عند اتباع هذه السياسة.</p>
	  <header>
		<h4 data-langlabel="">لا يسمح ArcGIS.com <strong>بالأنواع التالية</strong> من أبحاث الأمان</h4>
	  </header>
	  <ul>
			<li data-langlabel="">هذا بسبب شرط قطع الخدمة (DoS).</li>
		<li data-langlabel="">استخدام أداوات الأمان التلقائية بدون موافقة صريحة من Esri. يُمكن أن يتسبب استخدام الأدوات التلقائية في التحقيق في الإجراء أو حظر عناوين IP.</li>
		<li data-langlabel="">الوصول، أو محاولة الوصول، إلى البيانات أو المعلومات التي لا تخصك.</li>
		<li data-langlabel="">تدمير أو فشل، أو محاولة تدمير أو فشل، البيانات أو المعلومات التي لا تخصك.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">التزام فريق أمان ArcGIS.com</h4>
	  </header>
		<p data-langlabel="">لجميع الباحثين الذين تتبعوا سياسة التقرير عن الثغرات الأمنية الخاصة بـ ArcGIS.com، سيقوم فريق أمان ArcGIS.com بما يلي:</p>
		
		<ul>
		<li data-langlabel="">للاستجابة للسلوك المناسب، يُرجى استلام التقرير.</li>
		<li data-langlabel="">لتوفير إطار زمني مُقدر لعنونة الثغرة الأمنية.</li>
		<li data-langlabel="">لإخبار الأفراد عند إصلاح الثغرة الامنية.</li>		
		</ul>
      
    <div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> مشاركة باحثي التأمين
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">نود أن نشكر باحثي الأمان التاليين للمشاركة في برنامج التقارير المسئول:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
      
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">الاسم:</label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">عنوان البريد الإلكتروني:</label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">رقم الهاتف:</label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">المؤسسة <span class="optional">(اختياريًا): </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">الموضوع:</label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">ثغرة أمنية</option>
				  <option value="Suspicious E-mail from Esri">رسالة بريد إلكتروني مريبة من Esri</option>
				  <option value="Privacy Issue">مشكلة الخصوصية</option>
				  <option value="audi">آخر</option>
			  </select>

			  <label data-langlabel="" for="description">الوصف: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">للمساعدة في منع وصول رسائل البريد العشوائي، أدخل الأرقام المتاحة:</label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">أرقام: <strong><span id="txtCaptcha" class=""></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Security Concern" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			  <input type="hidden" value="ar" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">ارسال</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>نشكرك على الإبلاغ عن المشكلة. سنتحقق منها وسنستجيب خلال أيام العمل التالية.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>حدث خطأ أثناء الإرسال. الرجاء إرسال المشكلة فيما بعد.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">الرجوع إلى <a id="feedback-referring-link" href="">صفحة الإشارة</a>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">إرسال</a> مشكلة امان أخرى</span>
	  </strong></span>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

