---
title: ArcGIS Maps for Power BI
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META PRODUCT_METADATA>

mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  PRODUCT_METADATA: The metadata for the product
  FULL_PRODUCT_NAME: The full product name, for example "ArcGIS Maps for Office"
  PRODUCT_NAME: The product name without the preceding Esri or ArcGIS.  For example "Maps for Office".  This may be the same as the FULL_PRODUCT_NAME.
  DOWNLOAD_LINK: A link to download the product, free trial, etc.
  VERSION_NUMBER: The version number of the product.  This may be removed if not needed.
  RELEASE_DATE: The time period of the release.  For example, "Fall 2016" or "October 2016"
  NAV_LINK_x: The link for the navigation tabs at the top.
  NAV_TEXT_x: The text for the navigation tabs at the top.
  PRODUCT_SEARCH_VALUE: The product value for the search form
  PRODUCT_IMAGE_231x149.png: This is an image in the first section under the search bar.
  MAIN_TEXT: The text that appears in the first section under the search bar.
  WHATS_NEW_TEXT: A blurb about what's new with the product.
  WHATS_NEW_LINK: A link to more info about what's new with the product.
  POPULAR_LINK_x: Links to popular pages and topics, such as "What's new", "Supported environments", "Archived help", etc.
  POPULAR_TEXT_x: Text for links to popular pages and topics.
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  CARD_LINK_x: The page that the card should link to.
  CARD_TITLE_x: The title of the card.
  CARD_TEXT_x: The text inside the card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
  GEONET_LINK: Link to the product's Geonet page
  BLOG_LINK: Link to the the product's blog
  BLOG_FEED_URL: URL for the product's blog feed
  GEONET_LINK: Link to the the product's geonet page
  GEONET_FEED_URL: URL for the product's geonet feed
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Maps for Power BI</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="https://powerbi.microsoft.com/en-us/">Download ArcGIS Maps for Power BI</a>
          <!-- INSTRUCTIONS: Remove this p tag if not needed -->
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>Version (0.4) 1.0.0.46</strong> Q1 2017</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/maps-for-powerbi/">Home</a>
        <a class="sub-nav-link" href="/en/maps-for-powerbi/get-started/">Get started</a>
        <a class="sub-nav-link" href="/en/maps-for-powerbi/design/">Design and use maps</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Power BI">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="maps-power-bi" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>

    <!--
    <div class="column-16 tablet-column-7">
      <p>MAIN_TEXT</p>
    </div>
    -->
    <!-- INSTRUCTIONS: If you don't want to use an image in this section, uncomment the div above and remove the two divs below. -->
    <div class="column-4 right margin-right-1 padding-left-0">
      <img src="img/banner.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>Be more productive with location-driven analytics. Bring a whole new analytical dimension to Microsoft Power BI. Start gaining new insights and making more informed decisions immediately. ArcGIS Maps for Power BI brings the world's leading spatial analytics to your reports, offering enhanced mapping capability, demographic data, and even more compelling map visualizations so you can tell your best story.</p>
    </div>


  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">What's new</h4>
      <p>ArcGIS Maps for Power BI is deployed as an add-on to Microsoft Power BI Service and Power BI Desktop.</p>
      <a class="btn secondary" href="/en/maps-for-powerbi/get-started/whats-new.htm">Learn more</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
		  <li><a href="/en/maps-for-powerbi/get-started/supported-env.htm">Supported environments</a></li>
	      <li><a href="/en/maps-for-powerbi/get-started/prepare-your-data.htm">Prepare your data</a></li>
        <li><a href="/en/maps-for-powerbi/design/add-a-map-to-a-report.htm">Create a map</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-powerbi/design/edit-map-contents.htm">
            <img alt="" src="img/01_beyondShading.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="CARD_LINK_1">Go beyond shading and tinting</a>
          </h5>
          <p>ArcGIS Maps for Power BI includes a set of map tools that let you customize the contents of your map and how they're displayed, providing deeper insight into your data.</p>
        </div>
        <a href="/en/maps-for-powerbi/design/edit-map-contents.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-powerbi/design/add-data-to-the-map.htm">
            <img alt="" src="img/02_variables.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-powerbi/design/add-data-to-the-map.htm">Display multiple variables at once</a>
          </h5>
          <p>In addition to location fields, you can add other data fields to a map to better tell your story.</p>
        </div>
        <a href="/en/maps-for-powerbi/design/add-data-to-the-map.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_7BAB95E0E9C84CFA99E9EB52C9D4626E">
            <img alt="" src="img/03_heatmap.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_7BAB95E0E9C84CFA99E9EB52C9D4626E">Create heat maps with a click</a>
          </h5>
          <p>Heat maps are useful when many of the points on the map are close together or overlapping, making it difficult to distinguish between features.</p>
        </div>
        <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_7BAB95E0E9C84CFA99E9EB52C9D4626E" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_D8568C5D4D2A4A86B95BCC3C02620F15">
            <img alt="" src="img/04_cluster.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_D8568C5D4D2A4A86B95BCC3C02620F15">Aggregate data into clusters</a>
          </h5>
          <p>When you add a large number of features to a map, it's often difficult to visually extract meaningful information if hundreds of points overlap. Clustering groups of features within a certain distance of one another makes it easier to quickly analyze your data.</p>
        </div>
        <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_D8568C5D4D2A4A86B95BCC3C02620F15" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>

<!-- Videos
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number.
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>
-->

<!-- Social -->
<div class="panel panel-dark panel-no-border leader-2">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with ArcGIS Maps for Power BI</h4>
    <!-- INSTRUCTIONS: Remove any links that are not applicable. -->
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/esrigis/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/category/location-analytics/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/location-analytics/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2086" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
