---
title: ArcGIS Maps for Power BI

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Power BI Home page."><META name="last-modified" content="2016-10-18"><META name="product" content="maps-power-bi"><META name="sub_category" content="Maps for Power BI"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Power BI"><META name="search-category" content="help-general"><META name="subject_label" content="BI,LOCATION ANALYTICS,MAPPING"><META name="version" content="power-bi-1.0"><META name="content_type" content="Help Topic"><META name="subject" content="BI,LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/en/maps-for-powerbi/">ArcGIS Maps for Power BI</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Power BI">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="maps-power-bi" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>

	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-powerbi/">Home</a></li>
        <li><a href="/en/maps-for-powerbi/get-started/">Get Started</a></li>
        <li><a href="/en/maps-for-powerbi/design/">Design and Use Maps</a></li>
        <!-- <li><a href="https://geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a></li> -->
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">See and understand your data spatially</h2>
		<p>
        <span id="appVersion"><strong>Version:</strong> 1.0.0.40</span>
        <span id="appReleased"><strong>Available:</strong> Q4 2016</span>
		</p>

          <p>Be more productive with location-driven analytics. Bring a whole new analytical dimension to Microsoft Power BI. Start gaining new insights and making more informed decisions immediately. ArcGIS Maps for Power BI brings the world's leading spatial analytics to your reports, offering enhanced mapping capability, demographic data, and even more compelling map visualizations, so you can tell your best story.</p>

 <!-- Remove Get App button for v1.0 Ignite release
		<p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Get ArcGIS Maps for Power BI</a>
          </p>

        </header>
        <hr />
        <br />
-->

<!-- features top row -->
		<!-- Map your data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="beyondShading.png" alt="Create compelling maps" />
			<h3>Go beyond shading and tinting</h3>
			<p>ArcGIS Maps for Power BI includes a set of map tools that let you customize the contents of your map and how they're displayed, providing deeper insight into your data.</p>
			<p>&gt; <a href="/en/maps-for-powerbi/design/edit-map-contents.htm">Learn more</a></p>
		</div>

		<!-- Style by color and size -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<img src="variables.png" alt="Analyze your data" />
			<h3>Display two variables at once</h3>
			<p>In addition to location fields, you can add two other data fields to a map to better tell your story.</p>
			<p>&gt; <a href="/en/maps-for-powerbi/design/add-data-to-the-map.htm">Learn more</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Create heat maps -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="heatmap.png" alt="Create a heat map" />

			<h3>Create heat maps with a click</h3>
			<p>Heat maps are useful when many of the points on the map are close together or overlapping, making it difficult to distinguish between features. </p>
			<p>&gt; <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_7BAB95E0E9C84CFA99E9EB52C9D4626E">Learn more</a></p>
		</div>

		<!-- Clusters -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE -->
			<img src="cluster.png" alt="Aggregate data into clusters" />
			<h3>Aggregate data into clusters</h3>
			<p>When you add a large number of features to a map, it's often difficult to visually extract meaningful information if hundreds of points overlap. Clustering groups of features within a certain distance of one another makes it easier to quickly analyze your data. </p>
			<p>&gt; <a href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_D8568C5D4D2A4A86B95BCC3C02620F15">Learn more</a></p>
        </div>
	<div class="clear"></div>



<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>Supported environments</h2>
		<p>ArcGIS Maps for Power BI is deployed as an add-on to Microsoft Power BI Service and Power BI Desktop. For ArcGIS Maps for Power BI to operate properly, Esri assumes an operation configuration of these applications. Esri tests ArcGIS Maps for Power BI only in software environments certified as supported by Microsoft Power BI; not all Power BI-supported environments have been tested or certified. For more information, see the <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Esri supported environment policy</a>.</p>

        <p>&nbsp;</p>
	</div>


<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
            <li><a href="#supportedEnvironments">Supported environments</a></li>
			<li><a href="/en/maps-for-powerbi/get-started/prepare-your-data.htm">Prepare your data</a></li>
			<li><a href="/en/maps-for-powerbi/design/add-a-map-to-a-report.htm">Add a map</a></li>
          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>



<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
