---
title: ArcGIS Maps for Power BI
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Power BI Home page."><META name="last-modified" content="2016-09-13"><META name="product" content="maps-power-bi"><META name="sub_category" content="Maps for Power BI"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Power BI"><META name="search-category" content="help-general"><META name="subject_label" content="BI,LOCATION ANALYTICS,MAPPING"><META name="version" content="power-bi-1.0"><META name="content_type" content="Help Topic"><META name="subject" content="BI,LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/en/maps-for-powerbi/">Maps for Power BI</a>
          </nav>
          <h1 class="sub-nav-title leader-1 text-white">ArcGIS Maps for Power BI</h1>
          <p>&nbsp;</p>
          <p class="text-white font-size--2"><strong>Version 1.0</strong> Fall 2016</p>
        </div>
        <!-- Placeholder for image in blue banner-->
        <div class="sdk-home-banner-image">
          <img alt="ArcGIS Maps for Power BI" src="pbi_banner.png">
        </div>
        <div class="search-bar">
          <form id="helpSearchForm" target="_top">
            <input type="search" name="q" class="leader" placeholder="Search Maps for Power BI">
            <input type="hidden" name="collection" value="help" />
            <input type="hidden" name="product" value="maps-power-bi" />
            <input type="hidden" name="language" value="<%= current_language %>" />
            <button class="search-submit icon-ui-search" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link is-active" href="/en/maps-for-powerbi/">Home</a></li>
        <a class="sub-nav-link" href="/en/maps-for-powerbi/get-started/">Get Started</a>
        <a class="sub-nav-link" href="/en/maps-for-powerbi/design/">Design and Use Maps</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <p>Be more productive with location-driven analytics. Bring a whole new analytical dimension to Microsoft Power BI. Start gaining new insights and making more informed decisions immediately. ArcGIS Maps for Power BI brings the world's leading spatial analytics to your reports, offering enhanced mapping capability, demographic data, and even more compelling map visualizations so you can tell your best story.</p>
  </div>
  <div class="column-8 tablet-column-12 right">
	  <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">ArcGIS Maps for Power BI is deployed as an add-on to Microsoft Power BI Service and Power BI Desktop.</p>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/en/maps-for-powerbi/get-started/supported-env.htm">Supported environments</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>


<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <img class="trailer-1" alt="Customize map contents" src="beyondShading.png">
          <div class="margin-right-1 margin-left-1 trailer-1">
            <h3 class="font-size-2">Go beyond shading and tinting</h3>
            <p>ArcGIS Maps for Power BI includes a set of map tools that let you customize the contents of your map and how they're displayed, providing deeper insight into your data.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-powerbi/design/edit-map-contents.htm">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <img class="trailer-1" alt="Display two variables at once" src="variables.png">
          <div class="margin-right-1 margin-left-1 trailer-1">
            <h3 class="font-size-2">Display two variables at once</h3>
            <p>In addition to location fields, you can add two additional data fields to a map to better tell your story.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-powerbi/design/add-location-data-to-the-map.htm">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <img class="trailer-1" alt="Create heat maps" src="heatmap.png">
          <div class="margin-right-1 margin-left-1 trailer-1">
            <h3 class="font-size-2">Create heat maps with a click</h3>
            <p>Heat maps are useful when many of the points on the map are close together or overlapping, making it difficult to distinguish between features.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_7BAB95E0E9C84CFA99E9EB52C9D4626E">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <img class="trailer-1" alt="Aggregate data into clusters" src="cluster.png">
          <div class="margin-right-1 margin-left-1 trailer-1">
            <h3 class="font-size-2">Aggregate data into clusters</h3>
            <p>When you add a large number of features to a map, it's often difficult to visually extract meaningful information when hundreds of points overlap. Clustering features into groups of features within a certain distance of one another makes it easier to quickly analyze your data.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/maps-for-powerbi/design/change-the-map-theme.htm#ESRI_SECTION1_D8568C5D4D2A4A86B95BCC3C02620F15">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Collapsible contents -->

<!-- Blog -->
<div class="panel panel panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our Blog
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/category/location-analytics/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/">Read more  <span class="icon-ui-small icon-ui-link-external"></span></a>
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/discussion/create.jspa?question=false&suppressMarkQuestion=true&containerType=14&containerID=2086">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Social 
<div class="panel panel-dark panel-no-border">
	<div class="grid-container">
	  <div class="column-25 text-white text-center">
			<h4 class="trailer-half">Connect with the ArcGIS Maps for Power BI</h4>
			<a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISRuntime"></a>
			<a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Android"></a>
			<a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/EsriGeoDev"></a>
			<a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-android"></a>
			<a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
		</div>
	</div>
</div>
-->

<!-- Videos 
<div class="panel panel-blue panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-white text-rule padding-trailer-half">From our Videos
        <a class="btn btn-transparent btn-large right text-white" href="http://video.esri.com/search/maps-for-power-bi">More Videos <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div class="flexible-block-group flexible-block-group-4-up">
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3733/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Salesforce"><img alt="Esri Maps for Salesforce" src="http://video.esri.com/thumbs/2014/08/3733/3733-2014-esri-business-summit-_dash_-part-13-demo_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Salesforce</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge text-white" href="http://video.esri.com/iframe/3733/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3733/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Salesforce"><img alt="Esri Maps for Salesforce" src="http://video.esri.com/thumbs/2014/08/3733/3733-2014-esri-business-summit-_dash_-part-13-demo_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Salesforce</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge text-white" href="http://video.esri.com/iframe/3733/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3733/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Salesforce"><img alt="Esri Maps for Salesforce" src="http://video.esri.com/thumbs/2014/08/3733/3733-2014-esri-business-summit-_dash_-part-13-demo_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Salesforce</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge text-white" href="http://video.esri.com/iframe/3733/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/3733/000000/width/960/1" class="colorbox-evlarge" title="Esri Maps for Salesforce"><img alt="Esri Maps for Salesforce" src="http://video.esri.com/thumbs/2014/08/3733/3733-2014-esri-business-summit-_dash_-part-13-demo_x.jpg"></a>
            <h5 class="leader-1">Esri Maps for Salesforce</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge text-white" href="http://video.esri.com/iframe/3733/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
</div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
