---
title: ArcGIS Earth
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="ArcGIS Earth Home page."><META name="last-modified" content="2016-01-14"><META name="product" content="arcgis-earth"><META name="sub_category" content="ArcGIS Earth"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Earth"><META name="search-category" content="help-general"><META name="subject_label" content="3D APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="3D APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-earth/">ArcGIS Earth</a></h1>
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Earth">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-earth" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/arcgis-earth/">Home</a></li>
        <li><a href="/en/arcgis-earth/get-started/get-started.htm">Get Started</a></li>
		<li><a href="/en/arcgis-earth/use/guided-tour.htm">Use</a></li>
        <li><a href="/en/arcgis-earth/administer/admin-config.htm">Administer</a></li>
        <li><a href="https://geonet.esri.com/groups/arcgis-earth">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <h3 class="gray">ArcGIS Earth allows anyone to easily and quickly view 3D maps.</h3>

	<!--
          <span id="appVersion"><strong>Version:</strong> 10.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	-->

          <p>
				<a href="//go.esri.com/l/82202/2015-12-07/nv11n" class="videoLink colorbox-evlarge cboxElement">
				<span class="btn primary icon-windows-8">Get ArcGIS Earth</span>
				</a>

          </p>
        <hr />


        <div id="earthHome1" class="column-12 phone-column-24">
          <img src="/en/arcgis-earth/Navigate_ArcGIS_Earth.jpg" />

          <h3>Navigate ArcGIS Earth</h3>
          <p>Use your mouse, keyboard, or touch screen to explore terrains, oceans, and mountains anywhere in the world.</p>
          <p>
            <a href="/en/arcgis-earth/get-started/navigation-controls.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
			<!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->

          </p>
        </div>

	<div id="earthHome2" class="column-12 phone-column-24">
          <img src="/en/arcgis-earth/View_KML_and_ArcGIS_services.jpg" />

          <h3>View KML or KMZ files and ArcGIS services</h3>
          <p>Drag files or URLs into ArcGIS Earth to instantly open KML files, shapefiles, or ArcGIS services and view them in 3D.</p>
          <p>
            <a href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236" class="icon-right-arrow">&nbsp;Show me how</a><br /><br/>
          </p>
        </div>
	<div class="clear"></div>

        <div id="earthHome3" class="column-12 phone-column-24">
	          <img src="/en/arcgis-earth/Draw_Measure.jpg" />

	  <h3>Draw and measure on the globe</h3>
	  <p>Draw point, line, or polygon placemarks to highlight information. Measure distance and areas in 3D.</p>
	  <p>
	    <a href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5" class="icon-right-arrow">&nbsp;Show me how</a><br />
	    <!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->
	  </p>
        </div>

	<div id="earthHome4" class="column-12 phone-column-24">
          <img src="/en/arcgis-earth/ShareMaps.jpg" />
	  <h3>Share your work</h3>
	  <p>Share a screen capture of your current Earth view and share your work in progress.</p>
	  <p>
	    <a href="/en/arcgis-earth/use/share-your-work.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
	    <!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->
	  </p>
        </div>

        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Features</h2>
        <p>ArcGIS Earth is a lightweight, easy-to-use 64-bit Windows desktop app that enables anyone in your organization to easily view and explore 2D and 3D data including KML and ArcGIS services, whether behind a firewall or over the Internet.</p>
        <ul>
          <li>Display Tile package, Scene package, KML layers and shapefiles in 3D.</li>
		  <li>Display local raster data.</li>
          <li>Connect to Esri RESTful services including feature, map, image, and scene services.</li>
          <li>Use Esri basemaps and Living Atlas of the World content.</li>
          <li>Measure, create placemarks and simple geometry, and more.</li>
          <li>Save the view as an image and share it with others via email.</li>
        </ul>

        <a name="systemrequirements"></a>
        <h2 class="divider">System requirements</h2>

        <p> ArcGIS Earth is a desktop app built on the <a href="https://developers.arcgis.com/net/desktop/guide/system-requirements.htm#ESRI_SECTION1_F2655B7F48F7464DB86CC7756706296D">ArcGIS Runtime SDK for .NET</a> and shares the same requirements for deployment targets as other apps built with the Runtime SDK. ArcGIS Earth has a dependency of .NET 4.5.2.</p>


        <h3>Supported platforms</h3>
        <ul>
          <li>Windows 10 Home, Professional, Enterprise, and Educational (64 bit [EM64T])</li>
		  <li>Windows 8.1 Basic, Pro, and Enterprise (64 bit [EM64T])</li>
		  <li>Windows 7 SP1 Ultimate, Enterprise, Professional, and Home Premium (64 bit [EM64T])</li>
		  <li>Windows Server 2012 R2 Standard and Datacenter (64 bit [EM64T])</li>
		  <li>Windows Server 2012 Standard and Datacenter (64 bit [EM64T])</li>
		  <li>Windows Server 2008 R2 SP1 Standard, Enterprise, and Datacenter (64 bit [EM64T])</li>
        </ul>

		<h3>DirectX</h3>
		<p>ArcGIS Earth uses <a href="http://en.wikipedia.org/wiki/DirectX">DirectX</a> to provide high-performance map rendering. DirectX provides support for hardware and software rendering of graphics and is provided by the <a href="https://developers.arcgis.com/net/desktop/guide/system-requirements.htm#ESRI_SECTION2_254FB8C139314E42BB3E5EEA32C049F2">supported Windows platforms</a>.</p>
        <ul>
          <li><a href="https://msdn.microsoft.com/en-us/library/windows/desktop/ff476876">Direct3D feature level</a> 9_3</li>
          <li>Default: DirectX 11 hardware support</li>
          <li>Falls back to DirectX 11 software rendering if hardware support is not available</li>
        </ul>


        <h3>Hardware requirements</h3>
        <ul>
          <li>CPU speed: 2.2 GHz or higher; Hyper-Threading Technology (HTT) or multicore recommended.</li>
          <li>Processor: Intel Pentium 4, Intel Core Duo, or Xeon Processors; SSE2 minimum. Run this <a href="https://technet.microsoft.com/EN-US/SYSINTERNALS/CC835722">Microsoft utility</a> from your Windows command prompt to check your processor.</li>
          <li>Disk space: 50 MB is needed for the application, and more is needed for cache and swap.</li>
          <li>Memory/RAM: 2 GB or higher.</li>
          <li>Display: 24-bit color depth.</li>
          <li>Screen resolution: 1024x768 or higher recommended at normal size (96 dpi).</li>
          <li>Swap space: Determined by the operating system; 500 MB minimum. ArcGIS Runtime will create cache files when used; additional disk space may be required.</li>
          <li>Video/Graphics adapter: 256 MB RAM minimum, 1 GB RAM recommended; NVIDIA, ATI, and Intel chipsets supported；accelerated graphics card driver; Shader Model 4.0 minimum. Be sure to use the latest available driver.</li>
        </ul>

		<a name="What's new"></a>
        <h2 class="divider">What's new</h2>
		<p>ArcGIS Earth was updated in June 2016. It includes the following new features and enhancements:<p>
		<h4>Features<h4>
		 <ul>
			<li>TPK, SPK, and local elevation raster data support have been added.</li>
			<p></p>
            <p>Support for advanced options under a disconnected environment:</p>
		    <li>A network connection indicator has been added.</li>
		    <li>Import or export a workspace directory.</li>
		    <li>Save drawing elements and CSV/TXT data as KMZ.</li>
		    <li>Use local data for Basemap and Terrain.</li>    
		 </ul>
		<h4>Enhancements<h4>
        <ul>
          <li>Ability to change units and set them in preferences&mdash;coordinate, distance, area</li>
		  <li>Enhanced table of contents behaviors<li>
          <li>Ability to identify multiple features in one location<li>  
		  <li>Support for WMS in startup layers<li>
		  <li>Improved PKI/IWA authentication workflow<li>
		  <li>Improved icons for point SHP and CSV/TXT files<li>
		  <li>Ability to configure About content<li>
        </ul>
		
	<p>Share your <a href="http://ideas.arcgis.com/">ideas</a>, and <a href="http://support.esri.com/en/">send us your feedback</a>.</p>

        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	 <!-- <h4><a href="http://video.esri.com/watch/4646/arcgis-earth">Quick introduction video</a></h4>-->
	  <h4><a href="http://video.arcgis.com/iframe/4646/000000/width/960/autoplay:1/00:00:00"  class="colorbox-evlarge"><img src="/img/playbtn-small.png">Quick introduction video</a></h4>
		<video width="320" height="240" controls id="4646" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/4646/mp4/480">
		</video>		
	  <h4><a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-earth/">Take a lesson</a></h4>
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemrequirements">System requirements</a></h4>
	  <h4><a href="#What's new">What's new</a></h4>

	  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>


	<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/arcgis-earth/feed/',
        max: 5,
        layout: 0
      });
		
		$("#arcgisEarthDownloadLink").click(function (){
			window.open("//go.esri.com/l/82202/2015-12-07/nv11n", "mywindow", "location=0, titlebar=no, width=600, height=600");
			return false;
		});
	 
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
