---
title: ArcGIS Earth
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
   - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true
---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Earth</h1>
        </div>       
        <div class="leader-1 text-right">          
		<a href="//go.esri.com/l/82202/2015-12-07/nv11n" class="videoLink colorbox-evlarge cboxElement">
				<span class="btn primary icon-windows-8">Get ArcGIS Earth</span>
		</a> 	  
        </div>
      </div>
    </div>
	<div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/collector/">Home</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/get-started/get-started.htm">Get Started</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/use/guided-tour.htm">Use</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/administer/admin-config.htm">Administer</a>
		<a class="sub-nav-link" href="//geonet.esri.com/groups/arcgis-earth">Forum</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Search ArcGIS Earth">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="ArcGIS Earth" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>

	<div class="column-4 right margin-right-1 padding-left-0">
       <img src="m4o_banner.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>ArcGIS Earth allows anyone to easily and quickly view 3D maps.</p>
    </div>
  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">What's new</h4>
      <p>ArcGIS Earth 1.4 improves portal workflow, drawing capability, kml and SLPK support.</p>
      <a class="btn secondary" href="/en/maps-for-office/install-and-configure/whats-new.htm">Learn more</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/en/arcgis-earth/get-started/what-s-new.htm">What's new</a></li>
        <li><a href="/en/arcgis-earth/get-started/system-requirements.htm">System requirements</a></li>
	      <li><a href="//learn.arcgis.com/en/projects/get-started-with-arcgis-earth/">Take a lesson</a></li>
        <li><a href="//video.arcgis.com/iframe/4646/000000/width/960/autoplay:1/00:00:00">Watch videos</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="get-started/navigation-controls.htm">
            <img alt="" src="Navigate_ArcGIS_Earth.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="get-started/navigation-controls.htm">Navigate ArcGIS Earth</a>
          </h5>
          <p>Use your mouse, keyboard, or touch screen to explore terrains, oceans, and mountains anywhere in the world.</p>
        </div>
        <a href="get-started/navigation-controls.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236">
            <img alt="" src="View_KML_and_ArcGIS_services.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236">View KML or KMZ files and ArcGIS services</a>
          </h5>
          <p>Drag files or URLs into ArcGIS Earth to instantly open KML files, shapefiles, or ArcGIS services and view them in 3D.</p>
        </div>
        <a href="use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5">
            <img alt="" src="Draw_Measure.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5">Draw and measure on the globe</a>
          </h5>
          <p>Draw point, line, or polygon placemarks to highlight information. Measure distance and areas in 3D.</p>
        </div>
        <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/share-your-work.htm">
            <img alt="" src="ShareMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/share-your-work.htm">Share your work</a>
          </h5>
          <p>Share a screen capture of your current Earth view and share your work in progress.</p>
        </div>
        <a href="use/share-your-work.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>
<!-- Collapsible contents -->

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h3 class="leader-half trailer-0 text-center padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">More videos</a>
      <div playlistid="PLpq4BB-MZiMchCC8XEpSWGlEN89qls1FJ" class="video-holder block-group block-group-3-up tablet-block-group-1-up leader-1 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with ArcGIS Earth</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISEarth"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/ArcGIS-Earth-Esri-931001733616345/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/arcgis-earth"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/en/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/arcgis-earth/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/arcgis-earth/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/arcgis-earth">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
