---
title: ArcGIS Earth
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true
---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Earth</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="//go.esri.com/l/82202/2015-12-07/nv11n">Get ArcGIS Earth</a>
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>Version V1.6</strong></p>
        </div>
      </div>
    </div>
	<div class="column-24">
    <select class="tablet-show select-full trailer-half js-select-nav">
      <option value="/en/collector/" selected>Home</option>
      <option value="/en/arcgis-earth/get-started/get-started.htm">Get Started</option>
      <option value="/en/arcgis-earth/use/guided-tour.htm">Tutorials</option>
      <option value="/en/arcgis-earth/administer/admin-config.htm">Administer</option>
      <option value="/en/arcgis-earth/automation-api/get-started.htm">Automation API</option>
      <option value="//geonet.esri.com/groups/arcgis-earth">Forum</option>
    </select>
      <nav class=" tablet-hide sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/collector/">Home</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/get-started/get-started.htm">Get Started</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/use/guided-tour.htm">Tutorials</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/administer/admin-config.htm">Administer</a>
	<a class="sub-nav-link" href="/en/arcgis-earth/automation-api/get-started.htm">Automation API</a>
	<a class="sub-nav-link" href="//geonet.esri.com/groups/arcgis-earth">Forum</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Maps for Everyone on Earth</h1>
	  <h5>Explore any part of the world with ArcGIS Earth. Work with a variety of 3D and 2D map data formats.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Search ArcGIS Earth">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="arcgis-earth" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>

   </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
		<li><a href="/en/arcgis-earth/get-started/what-s-new.htm">What's new</a></li>
        <li><a href="/en/arcgis-earth/get-started/system-requirement.htm">System requirements</a></li>
	    <li><a href="//learn.arcgis.com/en/projects/get-started-with-arcgis-earth/">Take a lesson</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2J6vd7D_c7ybmcOrEAXe_06">Watch videos</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/navigation-controls.htm">
            <img alt="" src="/en/arcgis-earth/img/Navigate_ArcGIS_Earth.jpg">
          </a>
        </figure>
		<div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/navigation-controls.htm">Navigate ArcGIS Earth</a>
          </h5>
          <p>Use your mouse, keyboard, or touch screen to explore terrains, oceans, and mountains anywhere in the world.</p>
        </div>
		<nav>
          <a href="use/navigation-controls.htm" class="btn btn-grouped btn-clear btn-half leader-0">Learn more</a>
		  <a href="https://www.youtube.com/watch?v=l6qxRMWqvIY&t=25s&index=6&list=PLGZUzt4E4O2J6vd7D_c7ybmcOrEAXe_06" class="btn btn-grouped btn-clear btn-half leader-0">Watch it</a>
        </nav>
      </div>
       <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/data-support.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236">
            <img alt="" src="/en/arcgis-earth/img/View_KML_and_ArcGIS_services.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/data-support.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236">View KML or KMZ files and ArcGIS services</a>
          </h5>
          <p>Drag files or URLs into ArcGIS Earth to instantly open various local files or ArcGIS services, and view them in 3D.</p>
        </div>
		<nav>
           <a href="use/data-support.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236" class="btn btn-grouped btn-clear btn-half leader-0">Learn more</a>
		  <a href="https://www.youtube.com/watch?v=0E80tY7SS78&t=42s&index=2&list=PLGZUzt4E4O2J6vd7D_c7ybmcOrEAXe_06" class="btn btn-grouped btn-clear btn-half leader-0">Watch it</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5">
            <img alt="" src="/en/arcgis-earth/img/Draw_Measure.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5">Draw and measure on the globe</a>
          </h5>
          <p>Draw point, line, or polygon placemarks to highlight information. Measure distance and areas in 3D.</p>
        </div>
        <a href="use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="use/share-your-work.htm">
            <img alt="" src="/en/arcgis-earth/img/ShareMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="use/share-your-work.htm">Share your work</a>
          </h5>
          <p>Share a screen capture of your current Earth view and share your work in progress.</p>
        </div>
        <a href="use/share-your-work.htm" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Get even more out of ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2J6vd7D_c7ybmcOrEAXe_06">More videos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="PLGZUzt4E4O2J6vd7D_c7ybmcOrEAXe_06" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with ArcGIS Earth</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISEarth"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/ArcGIS-Earth-Esri-931001733616345/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/arcgis-earth"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>


<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/arcgis-earth/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/arcgis-earth/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/arcgis-earth">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4402" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Take an in-depth lesson</a></h5>
          <p class="trailer-0">
            Find and complete exercises that solve real-world problems with ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Find training courses</a></h5>
          <p class="trailer-0">
            Learn more about ArcGIS through instructor-led courses, web courses, and seminars.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Get technical support</a></h5>
          <p class="trailer-0">
            Contact Esri Support by chat, email, or telephone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h5>
          <p class="trailer-0">
            See the status of ArcGIS Online and report issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
