---
title: ArcGIS Earth
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="ArcGIS Earth Home page."><META name="last-modified" content="2016-01-14"><META name="product" content="arcgis-earth"><META name="sub_category" content="ArcGIS Earth"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Earth"><META name="search-category" content="help-general"><META name="subject_label" content="3D APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="3D APPS"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/en/arcgis-earth/">Earth</a>
          </nav>
          <h1 class="sub-nav-title leader-1 text-white">ArcGIS Earth</h1>
          <div class="trailer-half clearfix">
            <a class="btn btn-green download-link" href="//go.esri.com/l/82202/2015-12-07/nv11n">Get ArcGIS Earth</a>
          </div>

          <p class="text-white font-size--2">&nbsp;</p>
        </div>
        <!-- Placeholder for image in blue banner-->
        <div class="sdk-home-banner-image">
          <img src="../arcgis-online/img/main-scalable.png">
        </div>
        <div class="search-bar">
          <form id="helpSearchForm" target="_top">
            <input type="search" name="q" class="leader" placeholder="Search ArcGIS Earth">
            <input type="hidden" name="collection" value="help" />
            <input type="hidden" name="product" value="arcgis-earth" />
            <input type="hidden" name="language" value="<%= current_language %>" />
            <button class="search-submit icon-ui-search" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" href="/en/arcgis-earth/">Home</a></li>
        <a class="sub-nav-link" href="/en/arcgis-earth/get-started/get-started.htm">Get Started</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/use/guided-tour.htm/">Use</a>
        <a class="sub-nav-link" href="/en/arcgis-earth/administer/admin-config.htm">Administer</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <p>ArcGIS Earth allows anyone to easily and quickly view 3D maps.</p>
    <p>
      <a href="//go.esri.com/l/82202/2015-12-07/nv11n" class="videoLink colorbox-evlarge cboxElement">
        <span class="btn primary icon-windows-8">Get ArcGIS Earth</span>
      </a>
    </p>
  </div>
  <div class="column-8 tablet-column-12 right">
	  <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">ArcGIS Earth was updated in June 2016 to Version 1.2. It includes TPK, SPK, and local elevation raster data support as well as advanced options under a disconnected environment.</p>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a class="icon-ui-play icon-ui-small colorbox-evlarge" title="Quick introduction video" href="http://video.arcgis.com/iframe/4646/000000/width/960/autoplay:1/00:00:00">Quick introduction video</a></li>
        <li><a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-earth/">Take a lesson</a></li>
	      <li><a href="#">Features</a></li>
        <li><a href="#">System requirements</a></li>
        <li><a href="#">What's new</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>


<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-earth/get-started/navigation-controls.htm"><img class="trailer-1" alt="" src="/en/arcgis-earth/Navigate_ArcGIS_Earth.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Navigate ArcGIS Earth</h3>
            <p>Use your mouse, keyboard, or touch screen to explore terrains, oceans, and mountains anywhere in the world.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-earth/get-started/navigation-controls.htm">Show me how</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236"><img class="trailer-1" alt="" src="/en/arcgis-earth/View_KML_and_ArcGIS_services.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">View KML or KMZ files and ArcGIS services</h3>
            <p>Drag files or URLs into ArcGIS Earth to instantly open KML files, shapefiles, or ArcGIS services and view them in 3D.</p>
				    <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_B2A6D7E39AF9422B8D7EA825E7131236">Show me how</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5"><img class="trailer-1" alt="" src="/en/arcgis-earth/Draw_Measure.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Draw and measure on the globe</h3>
            <p>Draw point, line, or polygon placemarks to highlight information. Measure distance and areas in 3D.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-earth/use/guided-tour.htm#ESRI_SECTION1_A2B700B7AA59466C9A7DD712284240F5">Show me how</a></p>
          </div>
        </div>
      </div>
		  <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-earth/use/share-your-work.htm"><img class="trailer-1" alt="" src="/en/arcgis-earth/ShareMaps.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Share your work</h3>
            <p>Share a screen capture of your current Earth view and share your work in progress.</p>
				    <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-earth/use/share-your-work.htm">Show me how</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Collapsible contents -->

<!-- Blog -->
<div class="panel panel panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">From our Blog
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/arcgis-earth/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/arcgis-earth/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Discussions on GeoNet
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/arcgis-earth">Read more  <span class="icon-ui-small icon-ui-link-external"></span></a>
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/discussion/create.jspa?sr=cmenu&question=false&suppressMarkQuestion=true&containerType=700&containerID=4402">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/threads?socialGroup=4402" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
	<div class="grid-container">
	  <div class="column-25 text-white text-center">
			<h4 class="trailer-half">Connect with the ArcGIS Earth</h4>
			<a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISRuntime"></a>
			<a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Android"></a>
			<a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/EsriGeoDev"></a>
			<a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-android"></a>
			<a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
		</div>
	</div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-white text-rule padding-trailer-half">From our Videos
        <a class="btn btn-transparent btn-large right" href="http://video.esri.com/search/arcgis-earth">More Videos  <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div class="flexible-block-group flexible-block-group-4-up">
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/4964/000000/width/960/1" class="colorbox-evlarge" title="ArcGIS Earth" ><img alt="ArcGIS Earth" src="http://video.esri.com/thumbs/2016/03/4964/4964-arcgis-earth_x.jpg"></a>
            <h5 class="leader-1">ArcGIS Earth</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/4964/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/4646/000000/width/960/1" class="colorbox-evlarge" title="ArcGIS Earth" ><img alt="ArcGIS Earth" src="http://video.esri.com/thumbs/2015/07/4646/4646-arcgis-earth_x.jpg"></a>
            <h5 class="leader-1">ArcGIS Earth</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/4646/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/150/000000/width/960/1" class="colorbox-evlarge" title="DevGeo Keynote Speech" ><img alt="DevGeo Keynote Speech" src="http://video.esri.com/thumbs/2011/01/150/1_DevGeo-Keynote_s.jpg"></a>
            <h5 class="leader-1">DevGeo Keynote Speech</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/150/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/4964/000000/width/960/1" class="colorbox-evlarge" title="ArcGIS Earth" ><img alt="ArcGIS Earth" src="http://video.esri.com/thumbs/2016/03/4964/4964-arcgis-earth_x.jpg"></a>
            <h5 class="leader-1">ArcGIS Earth</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/4964/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
