---
title: Trust - Status de Sistema
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="pt-br">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="Responsabilidade do ArcGIS Online" href="/pt-br/trust/">Responsabilidade</a></li>
        <li class='current'><a title="Status de Sistema do ArcGIS Online" href="/pt-br/trust/system-status/">Status de Sistema</a></li>
        <li><a title="Segurança do ArcGIS Online" href="/pt-br/trust/security/">Segurança</a></li>		
        <li><a title="Privacidade do ArcGIS Online" href="/pt-br/trust/privacy/">Privacidade</a></li>
        <li><a title="Privacidade do ArcGIS Online" href="/pt-br/trust/compliance/">Conformidade</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Erro: Os dados embutidos não podem ser exibidos.</iframe>
        </div>
 </div>

<div>
	<p>O Painel do Controle de Saúde do ArcGIS Online fornece informações de status que foram verificadas como tendo impactadas a maioria de nossos usuários. Como o ArcGIS Online é uma grande plataforma baseada em nuvem, muitos eventos tiveram o efeito limitado em nossa base de usuário mais ampla, se não todos. Esta página de status não posta problemas da organização específicos, pois encorajamos que estes sejam resolvidos utilizando nossos serviços de suporte disponíveis.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
