---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/appstudio/">AppStudio for ArcGIS (Desktop Edition)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ja/appstudio/">ホーム</a></li>
        <li><a href="/ja/appstudio/create-apps/">アプリの作成</a></li>
       <!-- <li><a href="/ja/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/ja/appstudio/extend-apps/">アプリの拡張</a></li>
		<!-- <li><a href="https://earlyadopter.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li> -->
		<li><a href="/ja/appstudio/community/">コミュニティ</a></li>
        <li><a href="/ja/appstudio/download/">ダウンロード</a></li>		
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS は、マップを Mac、iOS、Android、Windows、Linux 用の美しいモバイル アプリに変換する革新的なツールです。</h3>
  
	<a href="http://doc.arcgis.com/en/appstudio/download/" class="btn primary icon-storage">デスクトップ版の取得</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>短時間での作成</h3>
          <p>アイデアを出してから、20 分もかからずにアプリをストアへ登録できます。</p>		  
		           
          <p>
            <a href="/ja/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;その方法を見てみましょう。</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>テストと配置</h3>
		  <p>セキュリティ保護された独自のアプリを組織内に配置します。</p>
	       
          <p>
            <a href="/ja/appstudio/create-apps/guidedtour.htm" class="icon-right-arrow">&nbsp;その方法を見てみましょう。</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>クロス プラットフォーム開発</h3>
		  <p>1 つのアプリを構築して、それを Android、iOS、Windows、Mac、Linux などの複数のフォーム ファクターおよびプラットフォームに配置できます。</p>
	      
          <p>
            <a href="/ja/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;その方法を見てみましょう。</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>一般およびエンタープライズ向けアプリ</h3>
		  <p>独自ブランドのアプリを Google Play、Apple、および Microsoft アプリ ストアに公開できます。</p>
	      
          <p>
            <a href="/ja/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;その方法を見てみましょう。</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">特長</h2>
		
		   <ul><li>アプリを簡単に作成できます。</li>
		       <li>付属の構成可能なアプリ テンプレートを使用できます。</li>
			   <li>独自のアプリを任意のデバイスで実行できます。</li>
			   <li>Web マップ、マップ ツール、およびフィーチャ サービスを再利用することで、ArcGIS への投資を活用できます。</li>
			   <li>付属のクロスプラットフォームの開発者向け生産性ツールを使用できます。</li>
			   <li>配置と更新を簡素化できます。</li>
			   <li>開発中のアプリの確認用にテスト環境を配置できます。</li>
			   <li>インストール ファイルを手動で配布したり、社内またはパブリック ストアに公開したりできます。</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">システム要件</h2>
		
          <p><!--and browser-->AppStudio for ArcGIS および [Player] を実行するには、特定のデバイス要件があります。また、アプリ内で使用されるデータに対する要件もあります。</p>
          <p>	

          <h3>データ要件</h3>
          <p>AppStudio でマップを使用するには、ArcGIS の組織アカウントが必要です。マップには、ArcGIS Online、Portal for ArcGIS、および ArcGIS for Server のデータを含めることができます。</p>
          <p>		  
		
          <h3>デバイス要件</h3>
          <p>次のオペレーティング システム (最下位バージョン) がサポートされています。</p>
          <p>
          <!-- <h4>AppStudio for ArcGIS in a browser</h4>
        <ul>
          <li>Chrome</li>
		  <li>Firefox</li>
          <li>IE 10</li>
          <li>Safari 7</li>
        </ul> -->		  	  
          <h4>AppStudio for ArcGIS (デスクトップ)</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>サポートされている言語</h3> 
        <p>アラビア語、チェコ語、デンマーク語、オランダ語、英語、エストニア語、フィンランド語、フランス語、ドイツ語、ギリシャ語、ヘブライ語、イタリア語、日本語、韓国語、ラトビア語、リトアニア語、ノルウェー語、ポーランド語、ポルトガル (ブラジル) 語、ポルトガル (ポルトガル) 語、ルーマニア語、ロシア語、中国語 (簡体字)、スペイン語、スウェーデン語、タイ語、トルコ語、およびベトナム語。</p>
        <p>AppStudio for ArcGIS および AppStudio Player で使用される言語は、デバイスの言語設定によって決まります。</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio は ArcGIS Runtime SDK 10.2.7 for Qt をサポートしています。</p>


        <p><a href="http://ideas.arcgis.com/">アイデア</a>を共有したり、<a href="http://support.esri.com/en/">フィードバック</a>を送信します。</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>AppStudio を使用するのは初めてですか？</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png"> ビデオ ツアーを見る</a></h4>
		  <h4><a href="http://video.arcgis.com/series/232/appstudio-for-arcgis">ビデオを見る</a></h4> 		  
          <h4><a href="#features">特長</a></h4>
          <h4><a href="#systemrequirements">システム要件</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">その他のブログ</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
