---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-03-01"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="pt-pt"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-pt/collector/">Início</a></li>
        <li><a href="/pt-pt/collector/android/create-maps/create-maps.htm">Criar Mapas</a></li>
        <li><a href="/pt-pt/collector/android/collect-data/collect-tutorial.htm">Recolher Dados</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Utilize o seu smartphone ou tablet para recolher e atualizar informação no terreno, seja com ligação à internet ou desligado.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Criar e partilhar um mapa</h3>
          <p>Expanda o alcance do ArcGIS no terreno e melhore a precisão e atualização dos dados espaciais. Criar e partilhar mapa para recolha de dados em dois passos.</p>
          <p>
            <a href="/pt-pt/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Recolher dados</h3>
          <p>Crie os dados que interessam à sua organização, desde relatórios de danos a pedidos de serviço relacionado com locais de interesse histórico. Inclua facilmente imagens e videos e partilhe o seu trabalho.</p>
          <p>
            <a href="/pt-pt/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />

			<a title="Recolher dados" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Veja o vídeo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Vá offline</h3>
          <p>O trabalho de campo leva-o a sítios onde não existe ligação de dados. Leve os seus mapas e dados offline, recolha informação, e sincronize esses dados assim que obtenha uma ligação disponível.</p>
          <p>
            <a href="/pt-pt/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Início rápido com modelos</h3>
          <p>A sua indústria possui os seus próprios conjuntos de dados comuns. Descarregue modelos para criar a estrutura de dados básica que necessita, e personalize-a para as suas tarefas particulares.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Veja os escarregamentos</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Elementos</h2>
	<p>Recolha e atualize dados no terreno, registe a sua localização atual, e coloque em trabalho os dados que recolheu de forma a tomar decisões mais informadas e em menor tempo. Utilize mapas em qualquer lado para validar os dados, efetuar observações e responder a eventos. Irá melhorar a eficiência da sua equipa do terreno e a precisão do seu SIG.</p>
	
	<ul>
	<li>Descarregue mapas para o seu dispositivo e trabalhe offline.</li>
	<li>Utilize GPS para criar e atualizar dados do mapa.</li>
	<li>Colecione elementos de pontos, linhas e área.</li>
	<li>Preencha formulários simples relacionados com mapas.</li>
	<li>Localizar lugares e elementos.</li>
	<li>Registe e emita relatórios de áreas que já visitou.</li>	
	<li>Integre com o <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>).</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos de sistema</h2>

        <p>Há certos requisitos do sistema para correr o Collector, bem como requisitos para os dados que são utilizados na aplicação. O Collector é suportado em várias línguas.</p>


        <h3>Requisitos de dados</h3>
        <p>Para utilizar os seus mapas no Collector, deve ter uma conta ArcGIS organizacional. Os seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server.</p>


        <h3>Requisitos do dispositivo</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) ou posterior</li>
          <li>Processador Armv7 ou x86</li>
          <li>Suporte OpenGL ES 2.0</li>
          <li>Localização precisa é suportada (GPS e apoio de rede)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 8 ou posterior</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10 ou superior (tablet e PC)</li>
        </ul></td></tr>
        </table>


        <h3>Idiomas suportados</h3>
        <p>Árabe, Checo, Dinamarquês, Holandês, Inglês, Estónio (<span class="icon-android"/>, <span class="icon-windows-8"/>), Finlandês, Francês, Alemão, Grego, Hebreu, Italiano, Japonês, Coreano, Letão (<span class="icon-android"/>, <span class="icon-windows-8"/>), Lituano (<span class="icon-android"/>, <span class="icon-windows-8"/>), Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Chinês Simplificado, Espanhol, Sueco, Tailandês, Chinês Tradicional (Hong Kong), Chinês Tradicional (Taiwan), Turco, e Vietnamita.</p>
        <p>O idioma utilizado pela aplicação é determinado pelas definições de idioma do dispositivo.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Quais as novidades?</h2>
        <p>O Collector for ArcGIS 10.3.7 foi lançado para Windows em Fevereiro de 2016, e para Android e iOS em Março de 2016. E inclui os seguintes melhoramentos:</p>
        <ul>
	  <li>Suporte para opções avançadas de trabalho offline para optimizar o descarregamento e a sincronização</li>          
	  <li>Várias correcções de erros e melhorias, incluindo <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MjY2Mw==">BUG-000092663</a></li>
        </ul>
        <!--table>
          <tr>
            <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
              <p>Collector for ArcGIS 10.3.7 was released in February 2016. It includes the following enhancements:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
              <p>Collector for ArcGIS 10.3.7 was released in February 2016. It includes the following enhancements:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-windows-8">Windows</h4>
              <p>Collector for ArcGIS 10.3.7 was released in February 2016. It includes the following enhancements:</p>
            </td>
          </tr>
          <tr>
            <td valign="top"><ul>
              <li>Support for advanced offline options to optimize download and sync</li>          
              <li>Various bug fixes and improvements, including BUG-000092663</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Support for advanced offline options to optimize download and sync</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Support for advanced offline options to optimize download and sync</li>
            </ul></td>
          </tr>
        </table-->

	<a name="sneakPeek"></a>
	<h2 class="divider">Breve antevisão</h2>
	<p>Atualmente o Collector é uma ótima aplicação para colecionar e editar os seus dados no terreno. Mas ainda há mais para vir!
	
	<table><tr><td valign="top"><h4>Em desenvolvimento</h4>
	<p>Estamos actualmente a trabalhar para adicionar estas funcionalidades:</p>
	<ul>
		<li>Suporte para receptores GNSS externos</li>
		<li>Suporte para Windows 10 Mobile</li>
		<li>Integração com o <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>).</li>
	</ul>
	</td>
	<td valign="top"><h4>Planeado</h4>
	<p>Com o tempo, planeamos adicionar as seguintes funcionalidades:</p>
	<ul>
		  <li>Formulários mais inteligentes para recolha de dados</li>
		  <li>Mais ferramentas para planear as operações de campo offline.</li>
		  <li>Recolha de dados com offsets definidos</li>
		  <li>Integração de periféricos (telémetros de laser, scanners de código de barras, e assim por diante)</li>
	</ul>
	</td></tr></table>

	<p>Partilhe as suas <a href="http://ideas.arcgis.com/">ideias</a>, e <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">envie-nos o seu feedback</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detalhes</h3>
	          
	  <h4><a href="#features"> Elementos</a></h4>
	  <h4><a href="#systemRequirements">Requisitos de sistema</a></h4>
	  <h4><a href="#whatsNew">Quais as novidades?</a></h4>
	  <h4><a href="#sneakPeek">Breve antevisão</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
