---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Página Inicial</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Criar Mapas</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Colecionar Dados</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 10.2</span> <span id="appReleased"><strong>Lançada:</strong> Novembro de 2013</span>


          <p>Utilize o seu smartphone para recolher e atualizar informação no campo, registe a sua localização atual e coloque os dados que captura em ação para tomar decisões mais informadas e atempadas.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisitos do Sistema</a> <a id="appWhatsNew" href="#whatsNew">Quais as Novidades</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Criar e partilhar um mapa</h3>
          <p>Expanda o alcance do ArcGIS no campo e melhore a precisão e atualidade dos dados espaciais. Criar e partilhar mapa para coleção de dados em dois passos.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Colecionar dados</h3>
          <p>Encontrar locais de interesse, calcular distâncias, criar pedidos de serviço e reportar danos são apenas algumas das possibilidades de um mapa para coleção de dados. Crie dados inteligentes com imagens e vídeo e partilhe-os com o mundo em cinco passos.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Veja o vídeo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos do sistema</h2>

        <p>Há certos requisitos do sistema para correr o Collector, bem como requisitos para os dados que são utilizados na aplicação. O Collector é suportado em várias línguas.</p>


        <h3>Requisitos de dados</h3>
        <p>Para utilizar os seus mapas no Collector, deve ter uma conta ArcGIS organizacional.  Os seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server.</p>


        <h3>Requisitos do dispositivo</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>ou posterior</li>
          <li>Processador Armv7 </li>
          <li>Suporte OpenGL ES 2.0 </li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 ou posterior</li>
        </ul></td><tr></table>


        <h3>Idiomas suportados</h3>
        <p>Árabe, Checo, Dinamarquês, Holandês, Inglês, Estónio (<span class="icon-android"/>), Finlandês, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Letão(<span class="icon-android"/>), Lituano(<span class="icon-android"/>), Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Chinês (simplificado), Espanhol e Sueco.</p>
        <p>O idioma utilizado pela aplicação é determinado a partir da configuração de idiomas do deu telefone.</p>


        <a name="whatsNew"></a>
        <h2>Quais as novidades?</h2>
        <p>O Collector for ArcGIS versão 10.2 foi lançado em Novembro de 2013 com as seguintes melhorias:</p>
        <ul>
        <li>Experiência do utilizador atualizada</li>
        <li>Experiência dedicada para tablet e iPad</li>
        <li>Suporta coleção de linhas e polígonos</li>
        <li>Streaming de GPS</li>
        <li>Fluxos de trabalho de coleção melhorados</li>
        <li>Melhorias às configurações de toque no mapa</li>
        <li>Vários bugs corrigidos e melhorias</li>
        <li>Suporta inícios de sessão empresariais</li>
        <li>Suporta idiomas adicionais</li>
        <li>Problemas Android corrigidos: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Problemas iOS corrigidos: NIM094438, NIM094401</li>
        </ul>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Comece</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Visita guiada</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Criar e partilhar um mapa</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Colecionar dados</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
