---
title: Search Result
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - searchResult


js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - search/cfg-search
  - search/esri.init
  - search/jxon
  - search/searchLabel
  - search/searchshell-default
  - search/searchdisplay-default
  

metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">
  
mobile: true

---


<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/arcgis-app/">Search</a></h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
	

	<div class="column-4 tablet-column-24 blocks">
		   <div class="block">
			  <h2 id="appTitle"></h2>
			  <div id="reference-index">
						<!--<div><a href="#" id="gl-filter-clear">Clear All</a></div>-->
						<nav>
							<div id="filters">
								<header>
									<span class="filter-label">Showing results within:</span>
								</header>
								<span class="ctrlbox">
									<input type="checkbox" value="help" name="search-collection-1">Guide
									<input type="hidden" value="help-api-guide" name="search-category-1">Guide
								</span>
								<span class="ctrlbox">
									<input type="checkbox" value="help" name="search-collection-2">Api Reference
									<input type="hidden" value="help-api-ref" name="search-category-2">Guide
								</span>
								<span class="ctrlbox">
									<input type="checkbox" value="forums" name="search-collection-3">Forums
								</span>
								<span class="ctrlbox">
									<input type="checkbox" value="blogs" name="search-collection-4">Blogs
								</span>

								<header>
									<span class="filter-label">Related To:</span>
								</header>
								<span class="ctrlbox"><input type="checkbox" value="api-for-android" name="product-1">Android SDK</span>
								<span class="ctrlbox"><input type="checkbox" value="api-flex" name="product-2">Flex API</span>
								<span class="ctrlbox"><input type="checkbox" value="api-ios" name="product-3">IOS SDK</span>
								
							</div> <!-- End of filters -->
						</nav>
					</div>
			</div>
	 </div>

	
	<div class="column-16 tablet-column-24">
		<div id="reference-content">

			  <div id="searchBox">
				  <input type="text" size="80" value="Search ArcGIS Doc Content" autocomplete="off" name="query" id="query">
				  <input type="submit" value="" id="search">
			  </div>
			  			  

			  <div id="results">
				 <div id="spinner" style="display: none;">
					<img alt="loading" src="http://resources.arcgis.com/en/shared/rc/gallery/ajax-loader.gif">
				 </div>
				 
				 <div id="gl-display-shown"><span>Show: </span><a href="#" id="numn1">15</a> | <a href="#" class="displayn_selected" id="numn2">30</a> | <a href="#" id="numn3">45</a> items</div>
				 <div class="clear"></div>
				 <div class="gl-pnavinfo-s"></div>
				 <div class="clear"></div>
				 
				 <!-- Result area -->
				 <div id="dynamicContent" class="display3">
					<div class="clear"></div>
				 </div>
				 <!-- End of Result -->

				 <div id="gl-pagenav">
					<a id="gl-prev" class="orange btn disabled" href="#">Previous</a> 
					<div class="pnavinfoText"><span class="gl-pnavinfo"></span></div>
					<a id="gl-next" class="orange btn" href="#">Next</a>
				 </div>
			  </div>

			  

					
		
		<div class="clear"></div><div class="clear"></div>
	  </div>	

	</div>  <!-- End of div column-16 tablet-column-24 -->

 <script type="text/javascript">
    $(window).load(function() {
      
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>