---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Inicio</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Crear mapas</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Capturar datos</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descargar la aplicación</h2>
          <span id="appVersion"><strong>Versión:</strong> 10.2</span> <span id="appReleased"><strong>Fecha de publicación:</strong> Noviembre de 2013</span>


          <p>Utilice su smartphone para capturar y actualizar información en el campo, registrar su ubicación actual y aprovechar los datos capturados para tomar unas decisiones mejor informadas y más oportunas.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisitos de sistema</a> <a id="appWhatsNew" href="#whatsNew">Novedades</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Crear y compartir un mapa</h3>
          <p>Extienda el alcance de ArcGIS en el campo y mejore la precisión y la actualización de sus datos espaciales. Crear y compartir mapas para la captura de datos en dos pasos.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow"> ¿Cómo hacerlo?</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Capturar datos</h3>
          <p>Buscar lugares de interés, calcular distancias, crear solicitudes de servicio y notificar los daños son tan solo algunos de los recursos del mapa para la captura de datos. Cree datos inteligentes con imágenes y vídeo, y compártalos con el mundo en cinco pasos.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow"> ¿Cómo hacerlo?</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge"> Ver un vídeo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos del sistema</h2>

        <p>Existen algunos requisitos de dispositivo para ejecutar Collector, así como requisitos para los datos utilizados dentro de la aplicación. Collector admite varios idiomas.</p>


        <h3>Requisitos de datos</h3>
        <p>Para utilizar los mapas en Collector, debe tener una cuenta de organización ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server.</p>


        <h3>Requisitos de dispositivo</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Sistema operativo Android 4.0 (Ice Cream Sandwich)<br/>o posterior</li>
          <li>Procesador Armv7</li>
          <li>Compatibilidad con OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 o posterior</li>
        </ul></td><tr></table>


        <h3>Lenguajes compatibles</h3>
        <p>Árabe, checo, danés, holandés, inglés, estonio (<span class="icon-android"/>), finlandés, francés, alemán, hebreo, italiano, japonés, coreano, letón (<span class="icon-android"/>), lituano (<span class="icon-android"/>), noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, chino simplificado, español y sueco.</p>
        <p>La configuración de idioma del teléfono determinará el idioma utilizado por la aplicación.</p>


        <a name="whatsNew"></a>
        <h2>Novedades</h2>
        <p>La versión 10.2 de Collector for ArcGIS se publicó en noviembre de 2013 con las siguientes mejoras:</p>
        <ul>
        <li>Experiencia de usuario actualizada.</li>
        <li>Experiencia de tablet y iPad</li>
        <li>Compatibilidad con la captura de líneas y polígonos</li>
        <li>Transmisión streaming de GPS</li>
        <li>Flujos de trabajo de captura mejorados</li>
        <li>Mejoras en el comportamiento del punteado del mapa</li>
        <li>Varias soluciones de errores y mejoras</li>
        <li>Compatibilidad con inicios de sesión corporativos</li>
        <li>Soporte para idiomas adicionales</li>
        <li>Problemas Android tratados: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Problemas iOS tratados: NIM094438, NIM094401</li>
        </ul>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Cómo empezar</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Recorrido guiado</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Cree y comparta un mapa</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Capturar datos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
