---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-01-11"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="es"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/collector/">Inicio</a></li>
        <li><a href="/es/collector/android/create-maps/create-maps.htm">Crear mapas</a></li>
        <li><a href="/es/collector/android/collect-data/collect-tutorial.htm">Capturar datos</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Use su smartphone o su tableta para capturar y actualizar información en el campo, con conexión o sin ella.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Crear y compartir un mapa</h3>
          <p>Extienda el alcance de ArcGIS en el campo y mejore la precisión y la actualización de sus datos espaciales. Crear y compartir mapas para la captura de datos en dos pasos.</p>
          <p>
            <a href="/es/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Captura datos</h3>
          <p>Cree los datos que tengan interés para su organización, desde informes de daños y solicitudes de servicio a lugares de interés histórico. Incluya fácilmente imágenes y vídeos y comparta su trabajo.</p>
          <p>
            <a href="/es/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />

			<a title="Capturar datos" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Ver un vídeo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Trabaja sin conexión</h3>
          <p>El trabajo de campo te lleva a lugares en los que no hay conexión de datos. Usa tus mapas y sus datos sin conexión, capture datos y vuelva a sincronizar cuando disponga de nuevo de una conexión.</p>
          <p>
            <a href="/es/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Comienza rápidamente con plantillas</h3>
          <p>Tu sector tiene sus propios datasets comunes. Descargue las plantillas para crear la estructura de datos básica que necesita y personalícela para el trabajo que desea realizar.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Ver descargas</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Entidades</h2>
	<p>Capture y actualice datos en el campo, registre su ubicación actual y aproveche los datos recopilados para tomar unas decisiones más fundamentadas y oportunas. Use los mapas en cualquier lugar para confirmar sus datos, realizar observaciones y responder a los eventos. Mejorará la eficiencia de sus trabajadores de campo y la precisión de su SIG.</p>
	
	<ul>
	<li>Descargue los mapas en su dispositivo y trabaje sin conexión.</li>
	<li>Use el GPS para crear y actualizar los datos del mapa.</li>
	<li>Capture puntos, líneas y entidades de área.</li>
	<li>Rellene formularios fáciles de usar controlados por el mapa.</li>
	<li>Busque lugares y direcciones.</li>
	<li>Haga un seguimiento de las áreas que ha visitado y cree informes sobre ellas.</li>	
	<li>Integre con <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>).</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos del sistema</h2>

        <p>Existen algunos requisitos de dispositivo para ejecutar Collector, así como requisitos para los datos utilizados dentro de la aplicación. Collector admite varios idiomas.</p>


        <h3>Requisitos de datos</h3>
        <p>Para utilizar los mapas en Collector, debe tener una cuenta de organización ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server.</p>


        <h3>Requisitos de dispositivo</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">
Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) o posterior</li>
          <li>Procesador ARMv7 o x86</li>
          <li>Compatibilidad con OpenGL ES 2.0</li>
          <li>Soporte de ubicación precisa (GPS y basada en red)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">
iOS</h4>
        <ul>
          <li>iOS 8 o posterior</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10 o posterior (tablet y PC)</li>
        </ul></td></tr>
        </table>


        <h3>Idiomas compatibles</h3>
        <p>Alemán, árabe, coreano, checo, chino simplificado, chino tradicional (Hong Kong), chino tradicional (Taiwán), danés, español, estonio (<span class="icon-android"/>, <span class="icon-windows-8"/>), finlandés, francés, griego, hebreo, inglés, italiano, japonés, letón (<span class="icon-android"/>, <span class="icon-windows-8"/>), lituano (<span class="icon-android"/>, <span class="icon-windows-8"/>), neerlandés, noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, sueco, tailandés, turco y vietnamita.</p>
        <p>La configuración de idioma del dispositivo determinará el idioma utilizado por la aplicación.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novedades</h2>
        <table>
          <tr>
            <td valign="top" width="250px;"><h4 class="icon-apple">
iOS</h4>
              <p>Collector for ArcGIS 10.3.6 se publicó en diciembre de 2015. Incluye las siguientes mejoras:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-android">
Android</h4>
              <p>Collector for ArcGIS 10.3.6 se publicó en diciembre de 2015. Incluye las siguientes mejoras:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-windows-8">Windows</h4>
              <p>Collector for ArcGIS 10.3.6 se publicó en enero de 2016. Incluye las siguientes mejoras:</p>
            </td>
          </tr>
          <tr>
            <!-- iOS -->
            <td valign="top"><ul>
              <li>Capacidad para filtrar tipos de entidad y valores codificados</li>
              <li>Capacidad para configurar la resolución de fotografías</li>
              <li>Capacidad para solo enviar ediciones durante la sincronización</li>
              <li>Traducido al chino tradicional</li>
              <li>Varias correcciones de errores y mejoras, como <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA4OTAwNg==">BUG-000089006</a>, <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MTM0OQ==">BUG-000091349</a> y <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MTM2NA==">BUG-000091364</a></li>
            </ul></td>
            <!-- Android -->
            <td valign="top"><ul>
              <li>Capacidad para filtrar tipos de entidad y valores codificados</li>
              <li>Capacidad para solo enviar ediciones durante la sincronización</li>
              <li>Traducido al chino tradicional</li>
              <li>Varias correcciones de errores y mejoras, como <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA4NjgxMQ==">BUG-000086811</a>, <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MTQ4MQ==">BUG-000091481</a> y <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MTkxNQ==">BUG-000091915</a></li>
            </ul></td>
            <!-- Windows -->
            <td valign="top"><ul>
              <li>Capacidad para configurar la resolución de fotografías</li>
              <li>Capacidad para solo enviar ediciones durante la sincronización</li>
              <li>Compatibilidad mejorada para transferir localmente mapas base desde su dispositivo</li>
              <li>Traducido al alemán, árabe, coreano, checo, chino simplificado, chino tradicional, danés, español, 
                  estonio, finlandés, francés, griego, hebreo, italiano, japonés, letón, lituano, neerlandés, 
                  noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, sueco, tailandés, 
                  turco y vietnamita.</li>	          
              <li>Varias soluciones de errores y mejoras</li>
            </ul></td>
          </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">Avance de novedades</h2>
	<p>Hoy en día Collector es una gran aplicación para capturar y editar datos en campo. Pero hay más novedades en camino.
	
	<table><tr><td valign="top"><h4>En desarrollo</h4>
	<p>Actualmente estamos trabajando para agregar estas características:</p>
	<ul>
		<li>Compatibilidad con receptores GNSS externos</li>
		<li>Compatibilidad con Windows 10 Mobile</li>
		<li>Integración con <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>)</li>
	</ul>
	</td>
	<td valign="top"><h4>Planificado</h4>
	<p>En un futuro está previsto que agreguemos las siguientes características:</p>
	<ul>
		  <li>Formularios de recopilación de datos más inteligentes</li>
		  <li>Más herramientas para planificar las operaciones de campo sin conexión</li>
		  <li>Captura de datos con desplazamientos</li>
		  <li>Integración de periféricos (telémetros láser, escáneres de códigos de barras, etc.)</li>
	</ul>
	</td></tr></table>

	<p>Comparta sus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">envíenos sus comentarios</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detalles</h3>
	          
	  <h4><a href="#features">Entidades</a></h4>
	  <h4><a href="#systemRequirements">Requisitos del sistema</a></h4>
	  <h4><a href="#whatsNew">Novedades</a></h4>
	  <h4><a href="#sneakPeek">Avance de novedades</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
