---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/collector/">Inicio</a></li>
        <li><a href="/es/collector/android/create-maps/create-maps.htm">Crear mapas</a></li>
        <li><a href="/es/collector/android/collect-data/collect-tutorial.htm">Capturar datos</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Use su smartphone o su tableta para capturar y actualizar informaci&oacute;n en el campo, con conexi&oacute;n o sin ella.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Cree y comparta un mapa</h3>
          <p>Extienda el alcance de ArcGIS en el campo y mejore la precisi&oacute;n y la actualizaci&oacute;n de sus datos espaciales. Crear y compartir mapas para la captura de datos en dos pasos.</p>
          <p>
            <a href="/es/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;&iquest;C&oacute;mo hacerlo?</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Capturar datos</h3>
          <p>Cree los datos que tengan inter&eacute;s para su organizaci&oacute;n, desde informes de da&ntilde;os y solicitudes de servicio a lugares de inter&eacute;s hist&oacute;rico. Incluya f&aacute;cilmente im&aacute;genes y v&iacute;deos y comparta su trabajo.</p>
          <p>
            <a href="/es/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;&iquest;C&oacute;mo hacerlo?</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Ver un v&iacute;deo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Trabajar sin conexi&oacute;n</h3>
          <p>El trabajo de campo le lleva a lugares en los que no hay conexi&oacute;n de datos. Use sus mapas y sus datos sin conexi&oacute;n, capture datos y vuelva a sincronizar cuando disponga de nuevo de una conexi&oacute;n.</p>
          <p>
            <a href="/es/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;&iquest;C&oacute;mo hacerlo?</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Comenzar r&aacute;pidamente con plantillas</h3>
          <p>Su sector tiene sus propios datasets comunes. Descargue las plantillas para crear la estructura de datos b&aacute;sica que necesita y personal&iacute;cela para el trabajo que desea realizar.</p>
          <p>
            <a href="http://esri.maps.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Ver descargas</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Caracter&iacute;sticas</h2>
	<p>Capture y actualice datos en el campo, registre su ubicaci&oacute;n actual y aproveche los datos capturados para tomar unas decisiones m&aacute;s fundamentadas y oportunas. 
	Use los mapas en cualquier lugar para confirmar sus datos, realizar observaciones y responder a los eventos.  
	Mejorar&aacute; la eficiencia de sus trabajadores de campo y la precisi&oacute;n de su SIG.</p>
	
	<ul>
	<li>Descarga los mapas en tu dispositivo y trabaja sin conexi&oacute;n.</li>
	<li>Usa el GPS para crear y actualizar los datos del mapa.</li>
	<li>Captura puntos, l&iacute;neas y entidades de &aacute;rea.</li>
	<li>Rellena formularios f&aacute;ciles de usar controlados por el mapa.</li>
	<li>Busca lugares y obt&eacute;n indicaciones.</li>
	<li>Haz un seguimiento de las &aacute;reas que has visitado y crea informes sobre ellas.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos del sistema</h2>

        <p>Existen algunos requisitos de dispositivo para ejecutar Collector, as&iacute; como requisitos para los datos utilizados dentro de la aplicaci&oacute;n. Collector admite varios idiomas.</p>


        <h3>Requisitos de datos</h3>
        <p>Para utilizar los mapas en Collector, debe tener una cuenta de organizaci&oacute;n ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server.</p>


        <h3>Requisitos de dispositivo</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>o posterior</li>
          <li>Procesador Armv7</li>
          <li>Compatibilidad con OpenGL ES 2.0</li>
          <li>Soporte de ubicaci&oacute;n precisa (GPS y basada en red)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td><tr></table>


        <h3>Lenguajes compatibles</h3>
        <p>&Aacute;rabe, checo, dan&eacute;s, holand&eacute;s, ingl&eacute;s, estonio (<span class="icon-android"/>), finland&eacute;s, franc&eacute;s, alem&aacute;n, hebreo, italiano, japon&eacute;s, coreano, let&oacute;n (<span class="icon-android"/>), lituano (<span class="icon-android"/>), noruego, polaco, portugu&eacute;s (Brasil), portugu&eacute;s (Portugal), rumano, ruso, chino simplificado, espa&ntilde;ol, sueco y turco.</p>
        <p>La configuraci&oacute;n de idioma del dispositivo determinar&aacute; el idioma utilizado por la aplicaci&oacute;n.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Novedades</h2>
        <p>Collector for ArcGIS 10.2.3 se public&oacute; en abril de 2014. Incluye las diversas correcciones de errores y mejoras.</p>
        <p>Collector for ArcGIS 10.2.2 se public&oacute; en marzo de 2014. Incluye las siguientes mejoras:</p>
        <ul>
        <li>Compatibilidad con el flujo de trabajo sin conexi&oacute;n</li>
        <li>Experiencia de usuario actualizada.</li>
        <li>Varias soluciones de errores y mejoras</li>
        <li>Soporte para idiomas adicionales</li>
        <li>Problemas de Android tratados: NIM098281, NIM096128, NIM098076</li>
        <!-- <li>iOS issues addressed: N/A at 10.2.2</li> -->
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">De un vistazo</h2>
	<p>Hoy en d&iacute;a Collector es una gran aplicaci&oacute;n para capturar y editar datos en el campo. Pero hay m&aacute;s novedades en camino.
	La siguiente secci&oacute;n describe lo que tenemos en mente para esta aplicaci&oacute;n:</p>
	
	<ul>
	  <li>M&aacute;s herramientas para planificar las operaciones de campo sin conexi&oacute;n</li>
	  <li>Formas m&aacute;s inteligentes de capturar datos (incluidas las tablas relacionadas)</li>
	  <li>Capacidad para buscar datos<li>
	  <li>Captura de datos con desplazamientos<li>
	  <li>Compatibilidad con capturas seg&uacute;n demanda</li>
	  <li>Integraci&oacute;n de perif&eacute;ricos (tel&eacute;metros l&aacute;ser, esc&aacute;neres de c&oacute;digos de barras, etc.)</li>
	</ul>	
	
	<p>Comparta sus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">env&iacute;enos sus comentarios</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detalles</h3>
	          
	  <h4><a href="#features">Entidades</a></h4>
	  <h4><a href="#systemRequirements">Requisitos de sistema</a></h4>
	  <h4><a href="#whatsNew">Novedades</a></h4>
	  <h4><a href="#sneakPeek">De un vistazo</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
