---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp
  - marketplace/init

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">Come diventare un provider</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">È possibile vendere la propria applicazione in ArcGIS Marketplace. È possibile accedere alla base di utenti GIS più ampia del mondo. In questo modo è possibile connettersi facilmente a utenti, offrire versioni di prova gratuite e generare potenziali clienti. Ai provider di applicazioni spetta il 100% dei profitti generati dalla vendita delle applicazioni. Per dettagli consultare le <a href="/it/marketplace/provider/faq.htm">Domande frequenti</a>. </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">Si è già partner Esri?</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">Per raggiungere un pubblico più vasto, è possibile inserire una presentazione della propria soluzione in ArcGIS Marketplace. Per sapere cosa serve per diventare un provider, effettuare l'accesso al <a href="http://partnerportal.esri.com/">Portale dei partner Esri</a>.</p>
		
      </section>

	<header>
        <h2 data-langlabel="already-an-esri-partner">Diventare startup Esri partecipando al programma di aziende emergenti Esri</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">Il <a href="https://developers.arcgis.com/startups/">programma di aziende emergenti Esri</a> è un programma gratuito triennale che fornisce alle aziende emergenti gli strumenti per creare capacità di mappatura e di analisi della posizione nei loro prodotti. Le startup qualificate ricevono servizi online, software, formazione e supporto, contenuti e altre opportunità per aiutarle ad avere successo.</p>
		

      </section>
	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">Non si è già partner? Non si conosce ancora Esri?</h2>
		<p data-langlabel="provider-signup-note">Esri è alla ricerca di sviluppatori, startup e organizzazioni che desiderino creare soluzioni di qualità per gli utenti. Per iniziare subito, inviare a Esri i propri dati personali e informazioni sulle proprie competenze.</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="/apps/feedback/api/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="company-name" for="company-name">Nome società: </label>
			  <input type="text" id="companyName" name="companyName">
			  <label data-langlabel="first-name" for="first-name">Nome: </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">Cognome: </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">Indirizzo e-mail: </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Numero di telefono: </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">Fornire informazioni personali e sulla propria organizzazione: </label>
			  <textarea data-langlabel="comment" placeholder="My organization..." name="userComment" id="userComment"></textarea>
			  <label data-langlabel="services" for="services">Fornire informazioni su proprie soluzioni o propri servizi: </label>
			  <textarea data-langlabel="my-services" placeholder="My services..." name="userServices" id="userServices"></textarea>
			  <label data-langlabel="website" for="website">Sito Web: </label>
			  <input type="text" id="userWebsite" placeholder="http://www.esri.com/" name="userWebsite">
			  
			  <label data-langlabel="feedback-spam-note" for="spam">Per evitare spamming automatizzato, immettere i numeri visualizzati: </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">Numeri: <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="internal" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="it" name="lg">
			<input value="Marketplace Sign Up" name="datablock" id="datablock" type="hidden">
			<input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" name="submit-signup" data-langlabel="contact-us">Invia</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>Grazie per aver inviato una richiesta per diventare provider di ArcGIS Marketplace. Si verrà contattati nei prossimi giorni lavorativi.</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>

