---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/es/web-appbuilder/">Inicio</a></li>
        <li><a href="/es/web-appbuilder/create-apps/">Crear aplicaciones</a></li>
        <li><a href="/es/web-appbuilder/manage-apps/">Administrar aplicaciones</a></li>
        <li><a href="/es/web-appbuilder/extend-apps/">Ampliar aplicaciones</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Construye potentes aplicaciones GIS que se ejecuten en cualquier dispositivo. No se requiere programación.</h3>
	<h5>Mira lo que han construido otros, haz clic en <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Muestrario de sitios activos.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinco minutos para tu primera aplicación</h3>
          
          <p>
            <a href="/es/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configuración sencilla</h3>
          <p>Crea aplicaciones con una experiencia sencilla de builder de configuración.</p>
          <p>
            <a href="/es/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configura aplicaciones</a> <a href="/es/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configura widgets</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Exportar plantillas</h3>
          <p>Crea plantillas de aplicación configurables que se agregan a la galería de aplicaciones de tu organización. 
          <p>
            <a href="/es/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Construye widgets y temas</h3>
          <p>Puedes descargar y alojar la aplicación en tu servidor Web. Además, puedes ampliar la aplicación agregando widgets y temas personalizados.</p>
          <p>
            <a href="/es/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Navegadores compatibles</h2>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3+</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 y versiones posteriores</li>
        </ul>
        
        <a name="license"></a>
        <h2 class="divider">Licencia</h2>

        <p>Para usar Web Appbuilder, debes disponer de una cuenta de organización de ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Características principales</h2>
        <ul>
          <li>Crea aplicaciones HTML/JavaScript que se ejecuten en cualquier dispositivo.</li>
          <li>Crea las aplicaciones que necesites utilizando widgets listos para usar.</li>
          <li>Personaliza el aspecto de tus aplicaciones con temas configurables.</li>
          <li>Aloja tus aplicaciones en línea o ejecútalas en tu propio servidor.</li>
          <li>Crea plantillas de aplicación personalizadas.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Novedades</h2>
        <p>Web AppBuilder for ArcGIS se actualizó en noviembre de 2015. Incluye las siguientes nuevas características y mejoras:</p>
        <ul>
          <li>El estado de la aplicación, incluida la extensión del mapa y la visibilidad de capa, se guardan automáticamente cuando se cierra el navegador.</li>
          <li>Compatibilidad total con servicios seguros a nivel web de ArcGIS for Server.</li>
          <li>Seis nuevos parámetros URL permiten buscar ubicaciones o entidades, proporcionar inicios de sesión, consultar entidades, agregar puntos, cambiar la configuración local y especificar WKID para hacer zoom o desplazarse por el mapa.</li>
          <li>Un nuevo widget “Editor de atributos por lotes” permite editar simultáneamente varios atributos.</li>
          <li>Un nuevo widget “Panel de Reviewer” muestra estadísticas de resultados de calidad de los datos como gráficos circulares y de barras para resumir los problemas derivados de la calidad de los datos.</li>
          <li>Un nuevo widget “Informe de entidades” permite recopilar y administrar los comentarios enviados por los usuarios sobre la calidad de los datos.</li>
		  <li>Un nuevo widget “Medición de imagen” permite realizar mediciones en los servicios de imágenes con capacidad de medición.</li>
          <li>El widget de búsqueda cuenta con opciones para añadir texto para todas las fuentes de búsqueda y buscar en la extensión actual del mapa.</li>
          <li>El widget Tabla de atributos actualiza las capas según se cambian en el mapa.</li>
		  <li>El widget Editar transfiere los atributos editables configurados en el mapa.</li>
		  <li>El widget Coordenadas hace más legible el texto de las coordenadas.</li>
		  <li>El widget Pantalla de presentación proporciona color de fondo personalizado.</li>
		  <li>El widget Consulta permite consultar las tablas relacionadas y visualizar las entidades relacionadas en el resultado.</li>
		  <li>El widget Geoprocesamiento tiene opciones para personalizar los campos de la salida de tabla y exportar los resultados a CSV, Conjunto de entidades y GeoJSON.</li>
		  <li>El widget Indicaciones agrega configuración de dirección URL de capa de tráfico.</li>
		  <li>La ventana Seleccionar mapa web ordena los mapas basándose en los más recientes, los más vistos, los que tienen mejor calificación, el título y el propietario.</li>
		  
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versiones compatibles de ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder es compatible con ArcGIS API for JavaScript 3.15.</p>

        <h3>Idiomas compatibles</h3>
        <p> El sitio web admite los siguientes idiomas: alemán, árabe, checo, chino simplificado, chino tradicional (Hong Kong), chino tradicional (Taiwán), coreano, danés, español, estonio, finés, francés, griego, hebreo, neerlandés, inglés, italiano, japonés, letón, lituano, noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, sueco, tailandés, turco y vietnamita.</p>
        <p>El lenguaje que utiliza la aplicación se determina según la configuración de idioma del navegador.</p>

        <p>Comparte tus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="http://support.esri.com/en/">envíanos tus comentarios</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Detalles</h3>
          
          <h4><a href="#features">Características principales</a></h4>
          <h4><a href="#supportedBrowsers">Navegadores compatibles</a></h4>
          <h4><a href="#license">Licencia</a></h4>
          <h4><a href="#whatIsNew">Novedades</a></h4>
          <h4><a href="#supportedAPI">Versiones compatibles de ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Más entradas del blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Debates sobre GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Iniciar uno</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Más información</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
