---
title: Trust ArcGIS
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - rssfeed

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="es">


mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Trust ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="/es/trust/system-status/">Comprobar el estado del sistema</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/" selected>Trust</option>
        <option value="/en/trust/system-status/">Estado de ArcGIS Online</option>
        <option value="/en/trust/security/">Seguridad</option>
        <option value="/en/trust/privacy/">Privacidad</option>
        <option value="/en/trust/compliance/">Conformidad</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/es/trust/">Trust</a>
        <a class="sub-nav-link" href="/es/trust/system-status/">Estado de ArcGIS Online</a>
        <a class="sub-nav-link" href="/es/trust/security/">Seguridad</a>
        <a class="sub-nav-link" href="/es/trust/privacy/">Privacidad</a>
        <a class="sub-nav-link" href="/es/trust/compliance/">Conformidad</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-0">
      <h1>ArcGIS: la plataforma de ubicación segura y de confianza</h1>
      <h5>Trust.ArcGIS.com es el recurso de referencia para la información sobre seguridad, privacidad y conformidad</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <p class="trailer-0 leader-0 font-size--2">
        <a href="http://www.fedramp.gov/"><img src="img/fedramp.png"/></a>
        <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a>
        <a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a>
        <a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="/es/trust/security-concern/" class="icon-ui-notice-triangle">Informar de un problema de seguridad</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>


<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/es/trust/system-status/">Estado de ArcGIS Online</a>
          </h5>
          <p>Consulte la disponibilidad del servicio, la información de rendimiento del sistema y el historial de estado de ArcGIS Online.</p>
        </div>
        <a href="/es/trust/system-status/" class="btn btn-clear btn-fill leader-0">Más información</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/es/trust/security/">Seguridad y prácticas recomendadas</a>
          </h5>
          <p>Obtenga una descripción general sobre los recursos de seguridad de ArcGIS. Implemente estos recursos siguiendo las prácticas recomendadas.</p>
        </div>
        <a href="/es/trust/security/" class="btn btn-clear btn-fill leader-0">Más información</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/es/trust/privacy/">Su privacidad y Esri</a>
          </h5>
          <p>La Declaración de privacidad de Esri y una declaración adicional de privacidad sobre los productos y servicios le garantizan que recibirá el nivel de privacidad que se merece y que espera.</p>
        </div>
        <a href="/es/trust/privacy/" class="btn btn-clear btn-fill leader-0">Más información</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/es/trust/compliance/">Iniciativas de conformidad</a>
          </h5>
          <p>ArcGIS se ha diseñado y se administra conforme a regulaciones, estándares y prácticas recomendadas. Consulte más información sobre las iniciativas de conformidad de Esri.</p>
        </div>
        <a href="/es/trust/compliance/" class="btn btn-clear btn-fill leader-0">Más información</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1">
    <div class="column-24 text-center">
      <h4>"Esri trabaja continuamente por integrar la seguridad en el ADN de la plataforma de ArcGIS".</h4>
      <p>Michael E. Young, Jefe de seguridad de productos, Esri</p>
    </div>
  </div>
</div>
<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Alertas y anuncios
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">Ver todas las alertas</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Realice un análisis detallado</a></h5>
          <p class="trailer-0">
            Busque y complete ejercicios que resuelvan problemas del mundo real con ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Buscar cursos de formación</a></h5>
          <p class="trailer-0">
 Más información sobre ArcGIS a través de cursos impartidos por un profesor, cursos web y seminarios.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Obtener soporte técnico</a></h5>
          <p class="trailer-0">
 Póngase en contacto con el soporte técnico por chat de Esri, por correo electrónico o por teléfono.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Comprobar el estado del sistema</a></h5>
          <p class="trailer-0">
 Consulte el estado de ArcGIS Online y notifique los problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
