---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/en/web-appbuilder/">Home</a></li>
        <li><a href="/en/web-appbuilder/create-apps/">Create Apps</a></li>
        <li><a href="/en/web-appbuilder/manage-apps/">Manage Apps</a></li>
        <li><a href="/en/web-appbuilder/extend-apps/">Extend Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Build powerful GIS apps that run on any device. No coding required.</h3>
	<h5>See what others have built, click <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Five minutes to your first app</h3>
          
          <p>
            <a href="/en/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Easy configuration</h3>
          <p>Create applications with a simple configuration builder experience.</p>
          <p>
            <a href="/en/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configure app</a>
            <a href="/en/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configure widgets</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Export templates</h3>
          <p>Create configurable application templates that are added to your organization application gallery. 
          <p>
            <a href="/en/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Build widgets & themes</h3>
          <p>You can download and host the app on your web server. Further, you can extend the app by adding custom widgets and themes.</p>
          <p>
            <a href="/en/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Supported browsers</h2>
		<p>The 2D app supports the following browsers:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 and higher</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 and higher</li>
        </ul>
		<p>The 3D app supports the following browsers:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari</li>
		  <li>Edge</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">License</h2>

        <p>To use Web Appbuilder, you must have an ArcGIS organizational account. </p>

        <a name="features"></a>
        <h2 class="divider">Key Features</h2>
        <ul>
          <li>Create HTML/JavaScript apps that run on any device.</li>
          <li>Build the apps you need using ready-to-use widgets.</li>
          <li>Customize the look of your apps with configurable themes.</li>
          <li>Host your apps online or run them on your own server.</li>
          <li>Create custom app templates.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">What's new</h2>
        <p>Web AppBuilder for ArcGIS was updated in March 2016. It includes the following new features and enhancements:</p>
        <ul>
          <li>An improved building experience allows you to modify the map from within Web AppBuilder for ArcGIS; you no longer need to leave the app.</li>
          <li>You can now build 3D apps with scenes through Create button in My Content.</li>
          <li>The Attribute tab has a new app state option. This option allows you to choose if you want to keep the map extent and layers visibility when you leave the app.</li>
          <li>The Situational Awareness widget has been released. It is no longer in beta. This widget allows you to create or select an incident on the map and analyze information from feature layers, either within the incident area or within a specified distance of the incident.</li>
          <li>Use the new NearMe widget to find features near a specified location, view more detailed information about those features, and get directions to a selected feature.</li>
		  <li>Use the new DistrictLookup widget to find point features related to a selected polygon, view more detailed information about the related point features, and get directions to a selected point feature.</li>
          <li>Use the new Related Table Charts widget to chart (bar or pie) values managed in a related table.</li>
		  <li>Use the new Info Summary widget to summarize the number of features visible on a map and enable clustering on point feature layers if desired.</li>
          <li>Use the new Plateau theme to create a modern and minimalist-styled app with flat toolbars and widget containers.</li>
		  <li>The Edit widget includes a display field in the setting page so you can choose attributes for display only when performing editing.</li>
		  <li>You can open the Edit widget in the app directly through the Pop-up window.</li>
		  <li>The Geoprocessing widget adds an option to upload shapefiles.</li>
		  <li>The Search widget supports local search and includes max suggestion and zoom scale options.</li>
		  <li>The Attribute table allows you to copy field value in the table and zoom to the feature in the map when you double clicking it. You can also configure the Filter By Map Extent option.</li>
		  <li>The Travel mode URL is not required when the Directions widget is publicly accessible.</li>
		  <li>The Coordinate widget is enhanced to support coordinate system with WKID 102460.</li>
		  <li>The Print widget displays layout option based on the templates metadata.</li>
		  <li>The Analysis widget allows you to download the result as GeoJson or CSV format and adds a new Choose Best Facilities tool.</li>
		  <li>You can better view the charting result with new Enlarge tool.</li>
		  <li>You can control when to turn on or off the mobile layout by specifying the screen size with mobileBreakPoint URL parameter.</li>
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Supported versions of ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder supports ArcGIS API for JavaScript 3.16.</p>

        <h3>Supported languages</h3>
        <p> Arabic, Czech, Danish, Dutch, English, Estonian, Finnish, French, German, Greek, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Simplified Chinese, Spanish, Swedish, Thai, Traditional Chinese (Taiwan), Traditional Chinese (Hong Kong), Turkish, and Vietnamese.</p>
        <p>The language used by the app is determined by your browser's language setting.</p>

        <p>Share your <a href="http://ideas.arcgis.com/">ideas</a> and <a href="http://support.esri.com/en/">send us your feedback</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Details</h3>
          
          <h4><a href="#features">Key Features</a></h4>
          <h4><a href="#supportedBrowsers">Supported Browsers</a></h4>
          <h4><a href="#license">License</a></h4>
          <h4><a href="#whatIsNew">What's new</a></h4>
          <h4><a href="#supportedAPI">Supported Versions of ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">More Blog Posts</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussions on GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Start one</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Read More</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
