---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/en/marketplace/">Help</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/marketplace/">Main</a></li>
        <li><a href="/en/marketplace/consumer/">For Consumers</a></li>
        <li><a href="/en/marketplace/provider/">For Providers</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">What is the marketplace?</h2>

          <p>ArcGIS Marketplace is a destination that allows ArcGIS Online organizations to search, discover, and get apps and data from qualified providers (Esri Business Partners, Esri Distributors, and Esri) for use within their organization. The apps and data services listed in the marketplace can be made available to any ArcGIS online organization, worldwide.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Power your enterprise </h3>
          <p>Find apps and data services to use in your organization. Once you get an app or data service you can easily share it with groups and users within your organization.</p>
          <p>

			<a href="/en/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Show me how</a>
         <br/>
         <a href="/en/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Reach your users</h3>
          <p>ArcGIS Marketplace provides a mechanism to generate leads, provide free trials, grant access to your listings, and manage subscriptions.</p>
          <p>
            <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Show me how</a>
               <br/>
            <a href="/en/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Qualifying as a provider</a>
               <br/>
            <a href="/en/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

