---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/en/marketplace/">Help</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/marketplace/">Main</a></li>
        <li><a href="/en/marketplace/consumer/">For Consumers</a></li>
        <li><a href="/en/marketplace/provider/">For Providers</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <h2 id="appTitle" class="gray">What is the Marketplace?</h2>
		<h5 class="gray">ArcGIS Marketplace is a destination that allows ArcGIS Online organizations to search, discover, and get apps and data from qualified providers (Esri Business Partners, Esri Distributors, Esri Startups, and Esri) for use within their organization.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-23 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>For Consumers </h3>
          <p>These topics will give you an idea on what you need to power your enterprise.</p>
          <ul>			
			<li><a href="/en/marketplace/consumer/search-for-apps-and-data.htm">Search for apps and data</a></li>
			<li><a href="/en/marketplace/consumer/use-apps-and-data.htm">Use apps and data</a></li>
			<li><a href="/en/marketplace/consumer/manage-license.htm">Manage licenses</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-23 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>For Providers</h3>
          <p>These resources will show you how to share your app or data service.</p>
          <ul>			
			<li><a href="/en/marketplace/provider/become-a-provider.htm">Become a provider</a></li>
			<li><a href="/en/marketplace/provider/create-listings.htm">Create listings</a></li>
			<li><a href="/en/marketplace/provider/sales.htm">Set up sales</a></li>
          </ul>
        </div>
		
		        <div id="collectorDataFeature" class="column-23 phone-column-24">
          <img src="img/faq.png" />

          <h3>Marketplace FAQ</h3>
          <p>Have a question about Marketplace? Start by looking on our FAQ pages for an answer.</p>
          <ul>			
			<li><a href="/en/marketplace/consumer/faq.htm">FAQ for consumers</a></li>
			<li><a href="/en/marketplace/provider/faq.htm">FAQ for providers</a></li>
          </ul>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="greyFrame">
		<h3>Other Resources</h3>
         
		<h4 class="icon-orange icon-key"><a href="/en/marketplace/provider/10-ways-to-create-listing-faq.htm">What makes a successful listing?</a></h4>
		         <p>Check out this topic and create a listing that best represents your brand.</p>
		 
		 <br />
       
		<h4 class="icon-putplr icon-video"><a title="ArcGIS Marketplace Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a></h4>
         <p>New to ArcGIS Marketplace? Watch this video tour to find out the benefits of Marketplace.</p>
		 
		 <br />
		 <h4 class="icon-green icon-star">Marketplace Community</h4>
		     <ul>
			 <li><a href="/en/marketplace/provider/10-ways-to-create-listing-faq.htm">Marketplace conversations</a></li>
			 <li><a href="/en/marketplace/provider/10-ways-to-create-listing-faq.htm">Blogs</a></li>
			 </ul>
			 
		<br />
		<h4 class="icon-red icon-question"><a href="http://support.esri.com/en/">Esri Technical Support</a></h4>
		  <p>Contact support through chat, email, or phone.</p>
        </div>

        <br />


 </div>
      <div class="column-8 tablet-column-24 blocks">

       <!--<div class="imgFrame block">
           <h3 class="icon-blue icon-key"><a href="/en/marketplace/provider/10-ways-to-create-listing-faq.htm">Key to a successful listing</a></h3>
         <p>Learn the top 10 ways to create a successful listing</p>
		 <!--<a title="Get started with ArcGIS Online" href="http://video.arcgis.com/iframe/3958/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement">Watch a video tour</a>
        </div>-->

        <br />
		<br />
		<br />


 </div>



 </div>

