---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/en/marketplace/">Help</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/marketplace/">Main</a></li>
        <li><a href="/en/marketplace/consumer/">For Consumers</a></li>
        <li><a href="/en/marketplace/provider/">For Providers</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">Learn how to get the most out of ArcGIS Marketplace.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>For Consumers </h3>
          <p>Learn how to find and use apps and data.</p>
          <ul>			
			<li><a href="/en/marketplace/consumer/search-for-apps-and-data.htm">Search for apps and data</a></li>
			<li><a href="/en/marketplace/consumer/use-apps-and-data.htm">Use apps and data</a></li>
			<li><a href="/en/marketplace/consumer/manage-license.htm">Manage licenses</a></li>
			<li><a href="/en/marketplace/consumer/faq.htm">FAQ</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>For Providers</h3>
          <p>Learn how to add, promote, and sell your apps and data.</p>
          <ul>			
			<li><a href="/en/marketplace/provider/become-a-provider.htm">Become a provider</a></li>
			<li><a href="/en/marketplace/provider/create-listings.htm">Create listings</a></li>
			<li><a href="/en/marketplace/provider/sales.htm">Set up sales</a></li>
			<li><a href="/en/marketplace/provider/faq.htm">FAQ</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<div>

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri Technical Support</a></h4>
      <p>Contact Support through chat, email, or phone.</p>
    </section>
    
  </div>
  
  <div>
    <section class="support-option">
      <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">The Esri Community</a></h4>
      <p>Join the discussions on Geonet.</p>
    </section>
    
  </div>
  
<div>
  <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS Ideas</a></h4>
      <p>Submit your feedback on the software.</p>
    </section>
	
	</div>
        <p>&nbsp;</p>






