---
title: Navigator for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/navigator-1
  - libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="Navigator for ArcGIS Home page."><META name="last-modified" content="2015-7-3"><META name="product" content="navigator-iphone,navigator-ipad"><META name="sub_category" content="Navigator for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Navigator for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/navigator/">Navigator for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
       <input type="search" name="q" class="leader" placeholder="Search Navigator"> 
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="navigator-ipad" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ru/navigator/">На главную</a></li>
        <li><a href="/ru/navigator/ipad/navigate/guided-tour.htm"> Навигация (Navigate)</a></li>
        <li><a href="http://links.esri.com/geonet-navigator">Форум</a></li> 
      </ul>
    </nav>  
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
	   <h3 class="gray">Построение маршрутов до тех мест, в которых вам необходимо быть, обеспечение максимальной эффективности и повышение качества результатов, полученных полевыми работниками.</h3>

        <p>
          <a href="http://links.esri.com/navigator-ios-install"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a> 
        </p> 
        </header>
        <hr />
        <br />


        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement" title="Начало работы с Navigator for ArcGIS"><img src="nav-home-1.png" /><img src="/img/playbtn.png" class="playbtn"></a>
		
          <h3>Справочное пособие</h3>
          <p>Загрузите подходящие вам карты, создавайте маршрут, изменяйте порядок остановок, настраивайте режим передвижения и перемещайтесь к месту назначения.</p>
          <p>
		<a href="/ru/navigator/ipad/navigate/guided-tour.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a><br />  
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" title="Начало работы с Navigator for ArcGIS" class="videoLink colorbox-evlarge cboxElement icon-play">&nbsp;Просмотреть видео</a>
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="nav-home-2.png" />

          <h3>Интеграция с Collector</h3>
          <p>Подключайтесь к другим приложениям Esri, например, к Collector for ArcGIS, для перехода к местам выполнения полевых работ.
</p>
          <p>
		  
		<a href="/ru/navigator/ipad/navigate/esri-app-integration.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a><br />
				
          </p>
        </div>
        
        <div class="clear"></div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<img src="1.png" />
		
          <h3>Создать ссылку</h3>
          <p>Работайте с приложениями вашей организации. Создавайте ссылки для интеграции Navigator с вашими приложениями.</p>
          <p>
		  
		<a href="/ru/navigator/ipad/navigate/app-links.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a><br />
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="4.PNG" />

          <h3>Нужна помощь?</h3>
          <p>Обратитесь к разделу <a href="/ru/navigator/iphone/navigate/faqs.htm">FAQ</a>для получения ответов на наиболее часто задаваемые вопросы, воспользуйтесь <a href="/ru/navigator/iphone/navigate/quick-reference.htm">Справочным пособием</a>, чтобы изучить инструменты приложения, либо посетите наш <a href="http://links.esri.com/geonet-navigator">форум</a>.</p>
        </div>
        
        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Пространственные объекты</h2>
        <p>Получайте путевые листы, редактируйте маршруты и начните навигацию, чтобы ваши работники смогли попасть туда, где им необходимо находиться. Navigator, однако, - это не просто пользовательское приложение для навигации. Используйте имеющиеся карты для поиска и навигации до объектов вашей организации, задавайте режимы передвижения и интегрируйте Navigator со своими приложениями в автономном режиме.</p>
        <ul>
          <li>Воспользуйтесь путевым листом с голосовыми подсказками и автоматическим перестроением маршрута.</li>
          <li>Находите интересующие вас места и получайте путевой лист с одной или несколькими остановками.</li>
          <li>Работайте с доступными для загрузки картами для оффлайн-навигации.</li>
          <li>Выбирайте подходящий способ передвижения: на легковом автомобиле, на грузовом автомобиле или пешком.</li>
          <li>Интегрируйтесь с другими приложениями ArcGIS: Collector for ArcGIS, вашими собственными приложениями.</li>
        </ul>
        
        <a name="systemRequirements"></a>
        <h2 class="divider">Системные требования</h2>
        <p>Для работы с приложением Navigator for ArcGIS у вашей учетной записи ArcGIS Online должна быть <a href="/ru/arcgis-online/administer/manage-licenses.htm" target="_blank">лицензия Navigator for ArcGIS</a></p>


        <h3>Требования к данным</h3>
        <p>Navigator поставляется с картами, поддерживающими навигацию. Навигационные карты доступны для загрузки на ваше устройство в ArcGIS Online. Будущие версии ArcGIS Pro будут поддерживать пользовательские навигационные карты.</p>


        <h3>Требования к устройству</h3>
        <table><tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
            <ul>
              <li>Версия 8 или более поздняя</li>
              <li>iPad (для наилучшей производительности - четвертого поколения или более новый), iPhone (для наилучшей производительности - 6 и выше), iPod touch</li>
            </ul>
          </td>
        <tr></table>

	 <h3>Поддерживаемые языки</h3>
	    <p>Английский, французский, немецкий, греческий, итальянский, японский, корейский, португальский, русский, упрощенный китайский, испанский и турецкий языки.</p>
	  
            
        <a name="whatsNew"></a>
        <h2 class="divider">Что нового</h2>     
        
        <p>Navigator for ArcGIS 1.2 был выпущен в ноябре 2015 года. В нем произошли следующие усовершенствования:</p>
        
        <ul>
	  <li>Перевод на итальянский и турецкий языки</li>
	  <li>Улучшена поддержка учетных записей SAML</li>
	  <li>Улучшена поддержка для iOS 9</li>
	  <li>Исправлены различные ошибки и введены усовершенствования</li>
	</ul>
        
	<a name="sneakPeek"></a>
	<h2 class="divider">Краткий обзор</h2>
	<p>В следующей таблице перечислены области применения этого приложения на ваших устройствах: </p>
	
	<style>
	  table.sneakPeek
	  {
	    text-align:center;
	  }
	  table.sneakPeek tr.heading th
	  {
	    background-color:lightgray;
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	  table.sneakPeek tr#deviceHeadings th
	  {
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	</style>
        <table class="sneakPeek" border="1">
	  <caption>Функциональные возможности в зависимости от платформы<br/>
	  <span class="icon-check" style="color:black"></span> реализован, <span class="icon-check icon-orange"></span> в разработке, <span class="icon-check" style="color:lightgray"></span><span class="clear"/> позже<br/>
	  Пустые ячейки означают, что реализация функций не планируется.<br/>
	  Поддержка настольными компьютерами в настоящий момент не планируется.
	  </caption>
	  <tr>
	    <td></td>
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <td><span class="icon-windows-8 icon-purple"/></td>
	  </tr>
	  <tr>
	    <td>Используйте навигацию с помощью имеющихся карт</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Выполняйте навигацию с использованием своих карт (геокодирование, маршрутизация и отображение)</td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr> 
	  <tr>
	    <td>Работа с ArcGIS Online</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>Работа с Portal for ArcGIS</td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Используйте навигацию, маршрутизацию и поиск с помощью карт, хранящихся на вашем устройстве</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	</table>
	
	<p>Делитесь вашими <a href="http://ideas.arcgis.com/">идеями</a> и <a href="mailto:Navigator4ArcGIS@esri.com?subject=Navigator%20feedback">присылайте нам ваши отзывы</a>.</p>
	
        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Подробности</h3>
	          
	  <h4><a href="#features">Возможности</a></h4>
	  <h4><a href="#systemRequirements">Системные требования</a></h4>
	  <h4><a href="#whatsNew">Что нового</a></h4>
	  <h4><a href="#sneakPeek">Краткий обзор</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
       <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
          </div>
        </div> 

 </div>

    </div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/feed/',
        max: 5,
        layout: 0
      });
    });
/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
  </script>
