---
title: Güvenlikle İlgili Şüphe Bildirimi
css:
  - homepage
  - /en/asset/css/common
  - /cdn/css/colorbox
  - /css/stat-page-specific
  - /css/feedback

js:
  - /cdn/js/libs/jquery.colorbox-min
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS'e Güvenin</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="/tr/trust/system-status/">Sistem Durumu Denetleme</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/" selected>Trust</option>
        <option value="/en/trust/system-status/">ArcGIS Online Durumu</option>
        <option value="/en/trust/security/">Güvenlik</option>
        <option value="/en/trust/privacy/">Gizlilik</option>
        <option value="/en/trust/compliance/">Uyumluluk</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/tr/trust/">Trust</a>
        <a class="sub-nav-link" href="/tr/trust/system-status/">ArcGIS Online Status</a>
        <a class="sub-nav-link" href="/tr/trust/security/">Security</a>
        <a class="sub-nav-link" href="/tr/trust/privacy/">Privacy</a>
        <a class="sub-nav-link" href="/tr/trust/compliance/">Compliance</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container feedback">
  <div class="column-24 leader-2 trailer-2">
    <div class="column-12 trailer-2">
      <div>
        <h2 data-langlabel="">Güvenlikle İlgili Şüphe Bildirimi</h2>
        <p data-langlabel="">Sağ taraftaki formu, şüpheniz hakkında yeterli ayrıntıyı da kapsayan geçerli bilgilerin tümüyle doldurun. Sağladığınız bilgiler çerçevesinde yapılacak izleme işlemleri için başvuru bilgileriniz kullanılır. Konu açılır menüsünden uygun konu başlığını seçin.</p>
    		<ul>
    			<li data-langlabel="">Güvenlik Açığı - sitemizde veya uygulamamızda bulunan bir güvenlik açığını bildirin.</li>
    			<li data-langlabel="">Esri'den Gelen Şüpheli E-posta - Bir Esri e-posta adresinden olası bir kimlik avı saldırısına uğradığınızı düşünüyorsanız veya Esri'den başka şüpheli e-postalar aldıysanız.</li>
    			<li data-langlabel="">Gizlilik Sorunu - Uygulamamızla veya kuruluşumuzla ilgili bir gizlilik şüpheniz varsa.</li>
    			<li data-langlabel="">Diğer - Diğer güvenlik, gizlilik veya uyumla ilgili tüm konular için.</li>
    		</ul>
      </div>
      <hr>
      <div>
		    <h3 data-langlabel="">Güvenlik Açığı Raporlama Politikası</h3>
        <p data-langlabel="">ArcGIS.com güvenlik ekibi, İnternet güvenliğinde bağımsız güvenlik araştırmacılarının oynadığı değerli role dikkat çekmektedir. Sitemizde veya uygulamamızda bulunabilecek herhangi bir güvenlik açığının sorumlu biçimde bildirilmesini destekleriz. Esri, kendisine bildirilen olası herhangi bir güvenlik açığını doğrulamak ve düzeltmek amacıyla güvenlik topluluğuyla birlikte çalışmayı taahhüt eder. Esri, bu politika esaslarına uyulduğu takdirde, size karşı dava açmaz veya hakkınızda yasal soruşturma başlatmaz.</p>
        <h4 data-langlabel="">ArcGIS.com, aşağıdaki güvenlik araştırma türlerine izin <strong>vermez</strong></h4>
        <ul>
          <li data-langlabel="">Hizmet Reddi (DoS) koşuluna neden olma veya neden olmaya teşebbüs etme.</li>
          <li data-langlabel="">Esri'nin açık izni olmadan otomatik güvenlik araçları kullanma. Otomatik araçların kullanılması, hakkınızda soruşturma açılmasına veya IP adres(ler)inizin engellenmesine neden olabilir.</li>
          <li data-langlabel="">Size ait olmayan verilere veya bilgilere erişme veya erişmeye çalışma.</li>
          <li data-langlabel="">Size ait olmayan verileri veya bilgileri yok etme veya bozma veya yok etmeye veya bozmaya çalışma.</li>
        </ul>
        <h4 data-langlabel="">ArcGIS.com Güvenlik Ekibi taahhüdü</h4>
        <p data-langlabel="">ArcGIS.com Güvenlik Ekibi, bu ArcGIS.com Güvenlik Açığı Bildirimi Politikasını uygulayan tüm güvenlik araştırmacıları için aşağıdakileri taahhüt eder:</p>
        <ul>
          <li data-langlabel="">Raporunuzun alındığını bildirerek, zamanında yanıt vermek.</li>
          <li data-langlabel="">Bu güvenlik açığını gidermek için gereken tahmini bir zaman planı sağlamak.</li>
          <li data-langlabel="">Güvenlik açığının ne zaman giderildiğini raporu gönderen kişiye bildirmek.</li>
        </ul>
        <div class="dropdown-navigation dropdown-wrapper regular">
          <span class="dropdown btn btn-fill btn-clear" data-langlabel="trust-researchers-title"> Güvenlik Araştırmalarına Katılım</span>
          <div class="dropdown-content">
            <div class="dropdown-menu">
              <p data-langlabel="trust-researchers-desc">Sorumlu raporlama programımızdaki aşağıdaki güvenlik araştırmalarına katılımınız için teşekkür ederiz:</p>
              <%= partial :"_partial/security_names" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-11 right tablet-column-12">
      <div class="contact-form-signups panel">
        <div id="form-fields">
          <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
            <fieldset id="security-form-fieldset">
              <label data-langlabel="" for="name">Adı
                <input type="text" autocomplete="off" id="name" name="name">
              </label>
              <label data-langlabel="email-address" for="email-address">E-posta Adresi
                <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
              </label>
              <label data-langlabel="phone-number" for="phone-number">Telefon Numarası
                <input type="text" autocomplete="off" id="userPhone" name="userPhone">
              </label>
              <label data-langlabel="" for="organization">Kuruluş <span class="optional">(isteğe bağlı):</span>
                <input type="text" autocomplete="off" id="organization" name="organization">
              </label>
              <label data-langlabel="" for="subject">Konu
                <select id="subject" autocomplete="off" name="subject" class="select-full">
                  <option value="" style="display:none;"></option>
                  <option value="Vulnerability">Güvenlik Açığı</option>
                  <option value="Privacy Issue">Gizlilik Sorunu</option>
                  <option value="audi">Diğer</option>
                </select>
              </label>
              <label data-langlabel="" for="description">Açıklama
                <textarea autocomplete="off" data-langlabel="" placeholder="Şununla ilgili olası bir güvenlik sorunu yaşıyorum ..." name="description" id="description"></textarea>
              </label>
              <label data-langlabel="feedback-spam-note" for="spam">Otomatik istenmeyen elektronik postayı önlemek için verilen rakamları yazın
                <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
              </label>
              <label data-langlabel="numerals" for="captchaValue">Rakamlar: <strong><span id="txtCaptcha" class=""></span></strong></label>
              <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
              <input type="hidden" value="internal" name="source" id="source">
              <input value="verbose" name="resultType" id="resultType" type="hidden">
              <input value="Security Concern" name="datablock" id="datablock" type="hidden">
              <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
              <input type="hidden" value="tr" name="lg">
            </fieldset>
            <a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Gönder</a>
          </form>
        </div>
        <div id="submission-confirmation" style="display:none;">
          <p data-langlabel=""><h4>Bu sorunu bildirdiğiniz için teşekkür ederiz. Bildirdiğiniz şüpheli durumu önümüzdeki birkaç iş günü içinde araştırarak çözeceğiz.</h4></p>
        </div>
        <div id="submission-error" style="display:none;">
          <p data-langlabel=""><h4>Gönderme işlemi sırasında bir hata oluştu. Bildiriminizi daha sonra yeniden yapmayı deneyin.</h4></p>
        </div>
        <strong>
          <span style="display:none;" id="referPageLink"><a id="feedback-referring-link" href="">Başvuru sayfasına geri dön</a></span>
          <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self"></a> Başka bir güvenlik sorunu gönder</span>
        </strong>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>
<style>
.wrapper{
  overflow:visible;
}
</style>
