---
title: ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2015-10-30"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="zh-hk">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/zh-hk/maps-for-office/">ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/zh-hk/maps-for-office/">首頁</a></li>
        <li><a href="/zh-hk/maps-for-office/install-and-configure/">安裝和配置</a></li>
        <li><a href="/zh-hk/maps-for-office/design-and-use/">設計和使用地圖</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~tag%5B_office%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">下載應用程式</h2>
        <span id="appVersion"><strong>版本：</strong> 4.0</span>
        <span id="appReleased"><strong>發行時間：</strong>2015 年秋季</span>

          <p>使用位置驅動型分析增加生產力。將全新的分析規模帶到 Microsoft Office。開始獲得全新的洞察力並立即制訂更明智的決策。將地圖輕鬆地新增至 Excel 試算表和 PowerPoint 簡報。</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">取得 ArcGIS Maps for Office</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>製作 Excel 資料地圖</h3>
			<p>在 Excel 中製作更吸引人的試算表資料地圖。只要按幾下即可建立彩色編碼地圖、點狀地圖、叢集點地圖和熱點圖，並檢視有關您資料的深入資訊。</p>
			<p>&gt; <a href="/zh-hk/maps-for-office/design-and-use/add-a-map-to-excel.htm">瞭解詳細資訊</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>將動態地圖新增至 PowerPoint</h3>
			<p>將地圖從您的 ArcGIS 組織新增至 PowerPoint 以建立出色、動態的簡報。</p>
			<p>&gt; <a href="/zh-hk/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">瞭解詳細資訊</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>豐富您的業務試算表</h3>
			<p>將 ArcGIS 人口統計和生活方式資料直接新增至 Excel 試算表，並取得更多重要位置的相關內容。使用快顯資訊圖表以即時、快速地探索位置。</p>
			<p>&gt; <a href="/zh-hk/maps-for-office/design-and-use/enrich-your-data.htm">瞭解詳細資訊</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>從 Excel 分享您的地圖</h3>
			<p>使用 ArcGIS Online 或 Portal for ArcGIS，或在電子郵件、PowerPoint 簡報或 Word 文件中插入您的地圖來分享它們。</p>
			<p>&gt; <a href="/zh-hk/maps-for-office/design-and-use/share-a-map-on-arcgis.htm">瞭解詳細資訊</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>新功能</h2>	
	<p>&gt; 您是否想要在 ArcGIS Maps for Office 中看到某個功能？ 請在 <a href="http://ideas.arcgis.com/ideaList?c=09a300000004xET&category=Esri+Maps+for+Office" target="_blank">ArcGIS Ideas</a> 網站上訴我們。</p>
 	<p>現在可使用 ArcGIS Maps for Office 4.0 版本。此版本提供重要的更新和增強功能。以下是一些重要項目。</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<h3>4.0 更新</h3>
		<p>ArcGIS Maps for Office 4.0 包含下列新功能：
			<ul>
				<li><b>使用<a href="/zh-hk/maps-for-office/design-and-use/change-a-layer-s-style.htm">智慧型製圖</a>來快速建立美觀的地圖</b>
					<p>不論您是使用地圖的專家或是生手，建立視覺上動人的地圖來敘說您的故事從未如此簡單。ArcGIS Maps for Office 將分析試算表中的資料，並建議資料在地圖上最佳的呈現方式，從中您可以選擇樣式。選擇樣式並立即建立地圖，或自訂樣式設定選項以符合您的故事。智慧型製圖也提供遠超需求的功能，可讓您手動設定圖層的類別斷點。</p>
				</li>
				<li><b>使用<a href="/zh-hk/maps-for-office/design-and-use/map-temporal-data.htm">時間型動畫</a>來尋找某段時間內的位置模式</b>
					<p>如果資料包含時態值，您可以將時間感知型圖層新增至 Excel 中的地圖，並對其執行動畫以顯示資料隨時間變化的模式。此功能也支援 ArcGIS 平台上具備時間功能的圖層，可讓您將資料的時間型模式，與您的組織或權威機構 (如美國國家海洋和大氣管理局 (NOAA)) 的類似模式做比較。</p>
				</li>
				<li><b>藉助 <a href="/zh-hk/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">PowerPoint</a> 中的全新體驗以更有效地處理工作</b>
					<p>ArcGIS Maps for Office 提供完整的更新體驗，藉助更簡單和更快速地搜尋內容，使用互動、動態的地圖來增強 PowerPoint 簡報。使用您的 ArcGIS 組織內容將地圖直接新增至 PowerPoint，或編輯現有的地圖投影片。將地圖插入投影片並置於所要的位置 - 獨自或結合其他標準的 PowerPoint 功能，例如圖表、圖片和文字。在「投影片放映」模式中，您可以縮放和平移地圖及選取功能來顯示詳細資訊，能讓您快速回答簡報過程中出現的問題。</p>
				<li><b>使用<a href="/zh-hk/maps-for-office/design-and-use/select-features.htm#ESRI_SECTION1_53FF2A6DECC04ED4A5AAED1BDDBC9515">地圖型篩選</a>來聚焦重要列</b>
					<p>長期以來，您一直可按照儲存格值來篩選試算表。現在，ArcGIS Maps for Office 能讓您選取地圖的項目，將重點直接放在您現在使用的圖徵上，從而讓您篩選試算表。將試算表篩選為僅顯示選取的圖徵，然後使用標準 Excel 功能來使用您需要的資料。</p>
				</li>
				<li><b>設定<a href="/zh-hk/maps-for-office/design-and-use/set-refresh-interval.htm">重新整理間隔</a>來追蹤變更的資料</b>
					<p>從 ArcGIS 新增的靜態單層可協助您視覺化不動的物體，例如大樓、道路或邊界。ArcGIS Maps for Office 現在能讓您追蹤移動、變化或散發的事物，如暴風雪、車輛或現場工作狀態。「重新整理間隔」功能可讓您指定輪詢圖層更新的頻率；或按一下按鈕以立即更新圖層</p>
				</li>
			</ul>
		</p>
	


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>支援的環境</h2>
		<p>ArcGIS Maps for Office 是部署成 Microsoft Excel 和 Microsoft PowerPoint 的附加元件。為了讓 ArcGIS Maps for Office 正常運作，Esri 訂定了這些應用程式的操作配置。Esri 僅在已經證實受 Microsoft Excel 或 PowerPoint 所支援的軟體環境中測試 ArcGIS Maps for Office，而並未於所有 Excel 或 PowerPoint 所支援的環境中進行測試或驗證。有關詳細資訊，請參閱 <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Esri 支援環境政策</a>。</p>
		
		<p><b>備註：</b>Microsoft Word 可讓您在文件中內嵌和使用 Excel 試算表。此工作流程不受 ArcGIS Maps for Office 支援，也不建議使用。</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">系統要求</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 需要 ArcGIS 組織和 Microsoft Office Excel 或 PowerPoint 的帳號 (Microsoft Office 2010、2013 或 2016)。</p>
			<p>有關詳細資訊，包括所需的處理器速度、記憶體及硬碟空間，請參閱以下的系統需求：
			<ul>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li><a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">所需軟體</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 需要 <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a> 組織訂閱或內部的 Portal for ArcGIS 部署。假設 ArcGIS 管理員已妥善配置存取平台所用的驗證方法。</p>

			<p>此外，必須在系統上安裝和配置下列軟體：</p>
				<ul>
					<li>Microsoft Office 2010、2013 或 2016</li>
					<li>Internet Explorer 9、10 或 11*</li>
					<li>Microsoft Windows。支援的版本：
						<ul>
							<li>Windows 7 (32 位元和 64 位元)</li>
							<li>Windows 8 (32 位元和 64 位元)</li>
							<li>Windows 8.1 (32 位元和 64 位元)</li>
							<li>Windows 10 (32 位元和 64 位元)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
				</ul>
			<p>* ArcGIS Maps for Office 使用 Web 瀏覽器中的 JavaScript 顯示地圖。由於 Microsoft Excel 需要使用 Internet Explorer (IE) 顯示 Web 內容，因此不能選擇使用其他瀏覽器。此應用程式內的功能需要使用 IE9 或更高版本的瀏覽器；不支援舊版本。</p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">受支援的語言</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 可使用下列語言版本：</p>
			<p>阿拉伯語、中文（簡體）、繁體中文（香港）、繁體中文（台灣）、捷克語、丹麥語、德語、希臘語、英語、西班牙語、愛沙尼亞語、芬蘭語、法語、希伯來語、義大利語、日語、韓語、立陶宛語、拉脫維亞語、荷蘭語、挪威語、波蘭語、葡萄牙語（巴西）、葡萄牙語（葡萄牙）、羅馬尼亞語、俄語、瑞典語、泰語、土耳其語和越南語。</p>
			
			<p>ArcGIS Maps for Office 使用在 Excel 選項中指定的語言，而非作業系統的文化設定中的語言。如果使用了不受支援的語言，則應用程式將使用英文。</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入門</h3>
          <ul>
           <li><a href="#whatsNew">新功能</a></li>
            <li><a href="#supportedEnvironments">支援的環境</a></li>
			<li>舊版本的說明：
				<ul>
					<li>連結至封存的 3.1 說明</li>
				</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">觀看影片</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>部落格</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
