---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.2"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="aide" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.2" />
					<input type="hidden" name="language" value="fr" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/maps-for-cognos/">Accueil</a></li>
        <li><a href="/fr/maps-for-cognos/install-windows/">Installer et configurer</a></li>
        <li><a href="/fr/maps-for-cognos/author-maps/">Créer des cartes</a></li>
        <li><a href="/fr/maps-for-cognos/use-maps/">Utiliser des cartes</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 6.0.2</span>
          <span id="appReleased"><strong>Disponibilité :</strong> avril 2015</span>


          <p>Enrichissez vos rapports IBM Cognos de cartes dynamiques en utilisant vos workflows quotidiens, sans recourir à un codage personnalisé ou à des connaissances SIG pointues. Esri Maps for IBM Cognos s'intègre en toute transparence à IBM Cognos 10, ce qui permet aux créateurs de rapports d'ajouter et de configurer des cartes qui interagissent avec d'autres objets dans leurs rapports IBM Cognos. Créez des cartes associant des données géographiques publiées provenant d'ArcGIS à des données d'entreprise IBM Cognos afin d'enrichir l'analyse. Les utilisateurs de rapports n'ont besoin d'aucune compétence ni outil supplémentaire pour commencer à utiliser des rapports cartographiques afin d'analyser visuellement leurs données.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Télécharger Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Ajouter des cartes à votre rapport </h3>
          <p>Ajoutez des cartes dynamiques à votre rapport IBM Cognos pour une meilleure analyse visuelle de vos données d'entreprise.</p>
          <p>
           <a href="/fr/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
			<a title="Ajouter des cartes à votre rapport" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner une vidéo</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Configurer des comportements interactifs</h3>
          <p>Générez des rapports plus interactifs pour les utilisateurs de rapports. Sélectionnez des entités sur la carte pour mettre à jour d'autres objets du rapport, définir une invite ou extraire un rapport externe.</p>
          <p>
			<a href="/fr/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
		   <a title="Configurer des comportements interactifs" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner une vidéo</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Ajouter des données à partir d'ArcGIS</h3>
          <p>Ajoutez des données géographiques publiées provenant d'ArcGIS à votre rapport cartographique afin de simplifier l'analyse de vos données métier.</p>
          <p><a href="/fr/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Partager des cartes et des couches</h3>
          <p>Partagez des cartes ou des couches individuelles sur ArcGIS pour que d'autres utilisateurs, membres de votre organisation ou non, puissent les utiliser.</p>
          <p><a href="/fr/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une carte</a>
		  <br/>
		  <a href="/fr/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une couche</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Nouveautés</h2>
<p>Esri Maps for IBM Cognos offre des mises à jour et des améliorations significatives aux auteurs, utilisateurs et administrateurs de rapports. Voici quelques points clés.
</p>

<h3>6.0.2</h3>

<ul>
<li>Améliorations des légendes de carte</li>
<li>Performances d'agrégation améliorées</li>
<li>Prise en charge d'agrégats de diagramme à secteurs dans Internet Explorer</li>
<li>Les administrateurs peuvent facilement restaurer les paramètres d'administration et de connexion par défaut pour leur environnement</li>
<li>Prise en charge d'IBM Cognos 10.1.1 FP4 et 10.2.1 FP6</li>
<li>Prise en charge de Google Chrome pour Android version 40</li>
</ul>

<h3>6.0.1 Correctif 1</h3>
<p>Ce correctif renforce les performances de rendu des entités cartographiques et des graphiques dans Internet Explorer, rendant ainsi les performances de la carte comparables à celles de Firefox et Chrome. Il résout par ailleurs deux bogues relatifs au style de la légende. Pour plus d'informations et pour savoir comment télécharger le correctif, consultez le site <a href="http://support.esri.com/fr/downloads/patches-servicepacks/view/productid/193/metaid/2187">support.esri.com</a>.</p>

<h3>Mises à jour 6.0.1</h3>

<ul>
	<li>Les utilisateurs de rapports peuvent ajouter à la carte des données provenant d'ArcGIS.</li>
	<li>Prise en charge d'IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 et 10.2.2</li>
	<li>Prise en charge de Novell SUSE Linux Enterprise Server et Red Hat Enterprise Linux Server sur System z</li>
	<li>Prise en charge d'Apple Safari sur iOS 8.x</li>
	<li>Disponibilité du logiciel et de la documentation en sept langues : anglais, allemand, français, japonais, coréen, russe et chinois simplifié.</li>
</ul>


<h3>Mises à jour 6.0</h3>

<ul>
<li>Prise en charge des déploiements Portal for ArcGIS déconnectés</li>
<li>Configuration des interactions sur les couches de service de carte dynamique</li>
<li>Nouveaux outils de dessin pour déclencher les comportements interactifs configurés</li>
<li>Filtrage des entités qui sont affichées sur la carte à l'aide de l'outil Filtrer la couche</li>
<li>Mesure de la superficie, de la distance et des coordonnées X,Y à l'aide de l'outil Mesurer</li>
<li>Géocodage d'adresses et recherche d'itinéraires à l'aide de l'outil Calculer l'itinéraire</li>
<li>Configuration de l'infographie et d'autres outils et paramètres cartographiques</li>
<li>Modification de l'étendue de la carte à l'aide d'une vue générale et d'autres outils de navigation</li>
<li>Spécification du WKID des coordonnées X,Y lors de l'ajout de données de points à la carte</li>
<li>Configuration de plusieurs styles d'une couche</li>
<li>Déclenchement des comportements interactifs à partir des fenêtres contextuelles</li>
<li>Affichage et impression des rapports cartographiques dans différents formats</li>
<li>Amélioration des performances pour accélérer le chargement des cartes</li>
<li>Nouvelle fonctionnalité permettant aux administrateurs de désigner les utilisateurs autorisés à accéder et à utiliser Esri Maps for IBM Cognos</li>
<li>Prise en charge d'IBM Cognos 10.2.1 Fix Pack 1, 2, 3 et 4</li>
<li>Prise en charge des navigateurs mobiles : 
<ul>
<li>Apple Safari sur iOS</li>
<li>Google Chrome pour Android</li>
</ul> 
</li>

</ul>

<hr />

 <a name="supportedEnvironments"></a>
        <h2>Environnements pris en charge</h2>

        <p>Pour s'assurer du bon fonctionnement d'Esri Maps for IBM Cognos, Esri suppose une configuration opérationnelle d'IBM Cognos Business Intelligence (BI). Les environnements logiciels d'IBM Cognos BI sont répertoriés comme étant actifs, compatibles ou non pris en charge. Esri teste uniquement Esri Maps for IBM Cognos avec des configurations actives et toutes les configurations actives n'ont pas été testées/certifiées. Si votre configuration d'IBM Cognos n'est pas répertoriée ci-dessous, contactez le support technique Esri ou votre représentant Esri pour demander si elle est prévue dans une version prochaine ou si elle peut être intégrée dans la liste des configurations prévues.</p>

<p>Esri Maps for IBM Cognos peut être utilisé avec IBM Cognos Enterprise. Il n'est pas pris en charge avec IBM Cognos Express ou une édition Développeur.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 

<h3>Configuration du système</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp18')">6.0.2</a>
     <div exp18='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Disque dur : 300 Mo</li>
          <li>Mémoire : 2 Go</li>
	</ul>
	<p><b>Remarque :</b> l'espace disque requis varie selon l'utilisation de l'option Format de rapport d'Excel 2002. Reportez-vous à la rubrique <a href="/fr/maps-for-cognos/install-windows/report-formats.htm">Formats de rapport</a> pour plus d'informations.</p>
</div>
<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">6.0.1</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Disque dur : 300 Mo</li>
          <li>Mémoire : 2 Go</li>
	</ul>
	<p><b>Remarque :</b> l'espace disque requis varie selon l'utilisation de l'option Format de rapport d'Excel 2002. Reportez-vous à la rubrique <a href="/fr/maps-for-cognos/6.0.1/install-windows/report-formats.htm">Formats de rapport</a> pour plus d'informations.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">6.0</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
       <ul>
          <li>Disque dur : 300 Mo</li>
          <li>Mémoire : 2 Go</li>
		  
        </ul>
		<p><b>Remarque :</b> l'espace disque requis varie selon l'utilisation de l'option Format de rapport d'Excel 2002. Reportez-vous à la rubrique <a href="/fr/maps-for-cognos/6.0/install-windows/report-formats.htm">Formats de rapport</a> pour plus d'informations.</p>
</div>
<div class="clear"></div>

     <h3/>
<h3>Versions IBM Cognos</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp19')">6.0.2</a>
     <div exp19='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos est pris en charge pour les versions suivantes d'IBM Cognos :</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
<li>10.1.1 FP4</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
<li>10.2.1 FP6</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>




  <a class="icon-right-arrow" onclick="exp(event,'div','exp3')">6.0.1</a>
     <div exp3='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos est pris en charge pour les versions suivantes d'IBM Cognos :</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">6.0</a>
	<div exp4='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos est pris en charge pour les versions suivantes d'IBM Cognos :</p>
        <ul>
          <li>IBM Cognos 10.2
		  <ul>
		  <li>10.2</li>
		  </ul></li>
		  <li>IBM Cognos 10.2.1
		  <ul>
		  <li>10.2.1</li>
		  <li>10.2.1 FP 1</li>
		  <li>10.2.1 FP 2</li>
		  <li>10.2.1 FP 3</li>
		  <li>10.2.1 FP4</li>
			<li>10.2.1 FP5</li>
		  </ul>
		  </li>
		 
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">5.0.1</a>
	<div exp5='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos est pris en charge pour les versions suivantes d'IBM Cognos :</p>
        <ul>
          <li>IBM Cognos 10.1
		  </li>
		  <li>IBM Cognos 10.1.1</li>
		  <li>IBM Cognos 10.2</li>
		  <li>IBM Cognos 10.2.1
			<ul>
			<li>10.2.1</li>
			<li>10.2.1 FP1*</li>
			<li>10.2.1 FP2*</li>
			<li>10.2.1 FP3*</li>
			<li>10.2.1 FP4*</li>
			<li>10.2.1 FP5*</li>
			</ul>
		  </li>
		  
		
	</ul>
	<p>* Consultez l'<a href="http://support.esri.com/fr/knowledgebase/techarticles/detail/41743">article 41743 de la base de connaissance</a> pour obtenir plus d'informations avant d'installer le Fix Pack.</p>
</div>

<div class="clear"></div>

     <h3/>
<h3>Systèmes d'exploitation</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp20')">6.0.2</a>
     <div exp20='yes' style="display:none;padding:0 15px;">
	 <p>IBM certifie et prend en charge les systèmes d'exploitation qui sont compatibles avec un ensemble de puces de l'unité centrale, désignées sous le nom d'architectures d'UC. Esri teste Esri Maps for IBM Cognos sur un sous-ensemble de systèmes d'exploitation (et de puces) signalés comme actifs par IBM. La liste que teste Esri repose sur une étude de marché et des configurations clientes existantes.</p>
	 <p>Esri Maps for IBM Cognos est pris en charge sur les systèmes d'exploitation suivants :</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+ sur System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Seules les versions 64 bits de System z sont prises en charge.</p>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp6')">6.0.1</a>
     <div exp6='yes' style="display:none;padding:0 15px;">
	 <p>IBM certifie et prend en charge les systèmes d'exploitation qui sont compatibles avec un ensemble de puces de l'unité centrale, désignées sous le nom d'architectures d'UC. Esri teste Esri Maps for IBM Cognos sur un sous-ensemble de systèmes d'exploitation (et de puces) signalés comme actifs par IBM. La liste que teste Esri repose sur une étude de marché et des configurations clientes existantes.</p>
	 <p>Esri Maps for IBM Cognos est pris en charge sur les systèmes d'exploitation suivants :</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+ sur System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Seules les versions 64 bits de System z sont prises en charge.</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp7');" style="display:inline;">6.0</a>
	<div exp7='yes' style="display:none;padding:0 15px;">
	<p>IBM certifie et prend en charge les systèmes d'exploitation qui sont compatibles avec un ensemble de puces de l'unité centrale, désignées sous le nom d'architectures d'UC. Esri teste Esri Maps for IBM Cognos sur un sous-ensemble de systèmes d'exploitation (et de puces) signalés comme actifs par IBM. La liste que teste Esri repose sur une étude de marché et des configurations clientes existantes.</p>
        <p>Esri Maps for IBM Cognos est pris en charge sur les systèmes d'exploitation suivants :</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux 5.3+</li>
		  <li>Novell SUSE Linux Enterprise 10 SP1+</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp8');" style="display:inline;">5.0.1</a>
	<div exp8='yes' style="display:none;padding:0 15px;">
	<p>IBM certifie et prend en charge les systèmes d'exploitation qui sont compatibles avec un ensemble de puces de l'unité centrale, désignées sous le nom d'architectures d'UC. Esri teste Esri Maps for IBM Cognos sur un sous-ensemble de systèmes d'exploitation (et de puces) signalés comme actifs par IBM. La liste que teste Esri repose sur une étude de marché et des configurations clientes existantes.</p>
        <p>Esri Maps for IBM Cognos est pris en charge sur les systèmes d'exploitation suivants :</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Composants requis (Linux et UNIX uniquement)</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp21')">6.0.2</a>
     <div exp21='yes' style="display:none;padding:0 15px;">
	 <p>Les bibliothèques système suivantes sont nécessaires pour exécuter la passerelle EM4C Esri Maps for IBM Cognos sur les systèmes d'exploitation Linux et UNIX :</p>

        <ul>
          <li>Linux (32 bits)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 bits)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 bits)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp9')">6.0.1</a>
     <div exp9='yes' style="display:none;padding:0 15px;">
	 <p>Les bibliothèques système suivantes sont nécessaires pour exécuter la passerelle EM4C Esri Maps for IBM Cognos sur les systèmes d'exploitation Linux et UNIX :</p>

        <ul>
          <li>Linux (32 bits)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 bits)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 bits)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">6.0</a>
	<div exp10='yes' style="display:none;padding:0 15px;">
        <p>Les bibliothèques système suivantes sont nécessaires pour exécuter la passerelle EM4C Esri Maps for IBM Cognos sur les systèmes d'exploitation Linux et UNIX :</p>

        <ul>
          <li>Linux (32 bits)
			<ul>
				<li>linux-gate.so.1</li>
				<li>/lib/libc.so.6</li>
				<li>/lib/libdl.so.2</li>
				<li>/lib/librt.so.1</li>
				<li>/lib/ld-linux.so.2</li>
				<li>/lib/libpthread.so.0</li>
			</ul>
		  </li>
		  <li>Linux (64 bits)
			<ul>
				<li>/lib64/libc.so.6</li>
				<li>/lib64/libdl.so.2</li>
				<li>/lib64/librt.so.1</li>
				<li>/lib64/ld-linux-x86-64.so.2</li>
				<li>/lib64/libpthread.so.0</li>
				
			</ul>
		  </li>
		  <li>AIX (32 bits)
			<ul>
				<li>unix</li>
				<li>libc.a(shr.o)</li>
				<li>libcrypt.a(shr.o)</li>
				<li>libiconv.a(shr4.o)</li>
				<li>libpthreads.a(shr_xpg5.o)</li>
				<li>libpthreads.a(shr_comm.o)</li>
			</ul>
		  </li>
		  <li>AIX (64 bits)
			<ul>
				<li>unix</li>
				<li>libc.a(shr_64.o)</li>
				<li>ibcrypt.a(shr_64.o)</li>
				<li>libiconv.a(shr4_64.o)</li>
				<li>libpthreads.a(shr_xpg5_64.o)</li>
				
			</ul>
		  </li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">5.0.1</a>
	<div exp11='yes' style="display:none;padding:0 15px;">
        <p>Les bibliothèques système suivantes sont nécessaires pour exécuter la passerelle EM4C Esri Maps for IBM Cognos sur les systèmes d'exploitation Linux et UNIX :</p>
   
<ul>
          <li>Linux (32 bits)
		  <ul>
		  <li>linux-gate.so.1</li>
		  <li>/lib/libc.so.6</li>
		  <li>/lib/libdl.so.2</li>
		  <li>/lib/librt.so.1</li>
		  <li>/lib/ld-linux.so.2</li>
		  <li>/lib/libpthread.so.0</li>
		  </ul></li>
		  
		  <li>Linux (64 bits)
		  <ul>
		  <li>/lib64/libc.so.6</li>
		  <li>/lib64/libdl.so.2</li>
		  <li>/lib64/librt.so.1</li>
		  <li>/lib64/ld-linux-x86-64.so.2</li>
		  <li>/lib64/libpthread.so.0</li>
		  
		  </ul>
		  </li>
		  
		  <li>AIX (32 bits)
		  <ul>
		  <li>unix</li> 
		  <li>libc.a(shr.o)</li>
		  <li>libcrypt.a(shr.o)</li>
		  <li>libiconv.a(shr4.o)</li>
		  <li>libpthreads.a(shr_xpg5.o)</li>
		  <li>libpthreads.a(shr_comm.o)</li>
		  </ul></li>
		  
		 <li>AIX (64 bits)
		 <ul>
		 <li>unix</li>
		  <li>libc.a(shr_64.o)</li>
		  <li>ibcrypt.a(shr_64.o)</li>
		  <li>libiconv.a(shr4_64.o)</li>
		  <li>libpthreads.a(shr_xpg5_64.o)</li>
		  </ul>
		 </li>
		 
		  </ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Navigateurs Web</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp22')">6.0.2</a>
     <div exp22='yes' style="display:none;padding:0 15px;">
	 <p>Esri ne teste pas toutes les combinaisons des navigateurs Web (et des systèmes d'exploitation clients sous-jacents) signalés comme pris en charge par IBM. En revanche, un sous-ensemble de navigateurs Web est sélectionné et des tests sont réalisés sur les systèmes d'exploitation les plus récents. Tous les navigateurs sélectionnés ne sont pas testés sur tous les systèmes d'exploitation identifiés.</p>
       

<p>De même, Esri effectue des tests de navigateur intensifs sur la plateforme Windows uniquement. Toutefois, Esri Maps for IBM Cognos est censé fonctionner normalement sur les clients autres que Windows si l'un des navigateurs Web répertoriés ci-dessous est utilisé. Si tel n'est pas le cas, contactez le support technique Esri pour demander que votre système d'exploitation et votre navigateur Web soient testés.</p>

<p>Les navigateurs suivants ont été testés :</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Nom du navigateur</th>
<th>Version du navigateur</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari sur iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Google Chrome pour Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>* Les cartes de densité ne sont pas compatibles avec IBM Cognos exécuté dans Internet Explorer. Pour plus d'informations, consultez l'<a href="http://support.esri.com/fr/knowledgebase/techarticles/detail/42801">article 42801 de la base de connaissances</a>.</p>
<p>**Internet Explorer 10 et 11 sont pris en charge uniquement en mode compatibilité.</p>
<p>Les navigateurs Google Chrome pour Android et Apple Safari sur iOS sont uniquement pris en charge pour les consommateurs de rapports. Esri Maps Designer n'est pas pris en charge sur ces navigateurs.</p>
<p>Pour optimiser le rendu des entités cartographiques et des graphiques dans Internet Explorer, il est recommandé de télécharger et d'installer Silverlight 5.x sur le client. </p>
</div>

<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp12')">6.0.1</a>
     <div exp12='yes' style="display:none;padding:0 15px;">
	 <p>Esri ne teste pas toutes les combinaisons des navigateurs Web (et des systèmes d'exploitation clients sous-jacents) signalés comme pris en charge par IBM. En revanche, un sous-ensemble de navigateurs Web est sélectionné et des tests sont réalisés sur les systèmes d'exploitation les plus récents. Tous les navigateurs sélectionnés ne sont pas testés sur tous les systèmes d'exploitation identifiés.</p>
       

<p>De même, Esri effectue des tests de navigateur intensifs sur la plateforme Windows uniquement. Toutefois, Esri Maps for IBM Cognos est censé fonctionner normalement sur les clients autres que Windows si l'un des navigateurs Web répertoriés ci-dessous est utilisé. Si tel n'est pas le cas, contactez le support technique Esri pour demander que votre système d'exploitation et votre navigateur Web soient testés.</p>

<p>Les navigateurs suivants ont été testés :</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Nom du navigateur</th>
<th>Version du navigateur</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari sur iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome pour Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Les cartes de densité et les agrégats de diagramme à secteurs ne sont pas compatibles avec IBM Cognos exécuté dans Internet Explorer. Pour plus d'informations, consultez l'<a href="http://support.esri.com/fr/knowledgebase/techarticles/detail/42801">article 42801 de la base de connaissances</a>.</p>
<p>**Internet Explorer 10 et 11 sont pris en charge uniquement en mode compatibilité.</p>
<p>Les navigateurs Google Chrome pour Android et Apple Safari sur iOS sont uniquement pris en charge pour les consommateurs de rapports. Esri Maps Designer n'est pas pris en charge sur ces navigateurs.</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp13');" style="display:inline;">6.0</a>
	<div exp13='yes' style="display:none;padding:0 15px;">
        <p>Esri ne teste pas toutes les combinaisons des navigateurs Web (et des systèmes d'exploitation clients sous-jacents) signalés comme pris en charge par IBM. En revanche, un sous-ensemble de navigateurs Web est sélectionné et des tests sont réalisés sur les systèmes d'exploitation les plus récents. Tous les navigateurs sélectionnés ne sont pas testés sur tous les systèmes d'exploitation identifiés.</p>
       

<p>De même, Esri effectue des tests de navigateur intensifs sur la plateforme Windows uniquement. Toutefois, Esri Maps for IBM Cognos est censé fonctionner normalement sur les clients autres que Windows si l'un des navigateurs Web répertoriés ci-dessous est utilisé. Si tel n'est pas le cas, contactez le support technique Esri pour demander que votre système d'exploitation et votre navigateur Web soient testés.</p>

<p>Les navigateurs suivants ont été testés :</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Nom du navigateur</th>
<th>Version du navigateur</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td>Apple Safari sur iOS</td>
<td>7.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome pour Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td>Firefox</td>
<td>ESR 24</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Les cartes de densité et les agrégats de diagramme à secteurs ne sont pas compatibles avec IBM Cognos exécuté dans Internet Explorer.</p>
<p>**Internet Explorer 10 et 11 sont pris en charge uniquement en mode compatibilité.</p>
<p>Les navigateurs Google Chrome pour Android et Apple Safari sur iOS sont uniquement pris en charge pour les consommateurs de rapports. Esri Maps Designer n'est pas pris en charge sur ces navigateurs.</p>





</div>


 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp14');" style="display:inline;">5.0.1</a>
	<div exp14='yes' style="display:none;padding:0 15px;">
       <p>Esri ne teste pas toutes les combinaisons des navigateurs Web (et des systèmes d'exploitation clients sous-jacents) signalés comme pris en charge par IBM. En revanche, un sous-ensemble de navigateurs Web est sélectionné et des tests sont réalisés sur les systèmes d'exploitation les plus récents. Tous les navigateurs sélectionnés ne sont pas testés sur tous les systèmes d'exploitation identifiés.</p>
       

<p>Esri effectue des tests intensifs sur la plateforme Windows. Le tableau suivant représente un sous-ensemble des navigateurs Web activement pris en charge par IBM. Complet indique que des tests complets ont été effectués par Esri. Limité indique que l'étendue des tests réalisés a été limitée.</p>

<p>Le tableau suivant représente un sous-ensemble des navigateurs Web activement pris en charge par IBM. "Pris en charge" indique que des tests ont été réalisés par Esri. "Limité" indique que l'étendue des tests réalisés a été limitée.</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Nom du navigateur</th>
<th>Version du navigateur</th>
<th>IBM Cognos 10.2.1</th>
<th>IBM Cognos 10.2</th>
<th>IBM Cognos 10.1.1</th>
<th>IBM Cognos 10.1</th>
</tr>

&lt;tbody style="font-size:14px"> 


<tr>
<td rowspan="3" colspan="1">Microsoft Internet Explorer</td>
<td rowspan="1" colspan="1">10.x</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9.x</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
<td>Pris en charge*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Limité*</td>
</tr>
<tr>
<td>Firefox ESR</td>
<td>17.x</td>
<td>Pris en charge</td>
<td>Pris en charge</td>
<td>Pris en charge</td>
<td>Pris en charge</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>21.x</td>
<td>Limité**</td>
<td>Limité**</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</tbody>
</table>
<p></p>
<p>*Les cartes de densité et les agrégats de diagramme à secteurs ne sont pas compatibles avec IBM Cognos exécuté dans Internet Explorer.</p>

<p>** Google Chrome est uniquement pris en charge pour les consommateurs de rapports. Esri Maps Designer n'est pas pris en charge sur ce navigateur.</p>
</div>


<div class="clear"></div>

     <h3/>
<h3>Langues</h3>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp23');" style="display:inline;">6.0.2</a>
	<div exp23='yes' style="display:none;padding:0 15px;">
       <p>Les langues répertoriées ci-dessous représentent les langues de produit prises en charge par Esri Maps for IBM Cognos.</p>
	
        <ul>
          <li>Chinois (Chine)</li>
		  <li>Anglais</li>
		  <li>Allemand</li>
		  <li>Français</li>
		  <li>Japonais</li>
		  <li>Coréen</li>
		  <li>Russe</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp15')">6.0.1</a>
     <div exp15='yes' style="display:none;padding:0 15px;">
	 <p>Les langues répertoriées ci-dessous représentent les langues de produit prises en charge par Esri Maps for IBM Cognos.</p>
	
        <ul>
          <li>Chinois (Chine)</li>
		  <li>Anglais</li>
		  <li>Allemand</li>
		  <li>Français</li>
		  <li>Japonais</li>
		  <li>Coréen</li>
		  <li>Russe</li>
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp16');" style="display:inline;">6.0</a>
	<div exp16='yes' style="display:none;padding:0 15px;">
       <p>Les langues répertoriées ci-dessous représentent les langues de produit prises en charge par Esri Maps for IBM Cognos.</p>
        <ul>
          <li>Français (FR)</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp17');" style="display:inline;">5.0.1</a>
	<div exp17='yes' style="display:none;padding:0 15px;">
        <p>Les langues répertoriées ci-dessous représentent les langues de produit prises en charge par Esri Maps for IBM Cognos.</p>
        <ul>
          <li>Français (FR)</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Support</h3>
<p>Pour fonctionner correctement, IBM Cognos nécessite la configuration de plusieurs composants tiers. Ces composants sont notamment des serveurs d'applications, des serveurs Web, des serveurs de bases de données, des bibliothèques d'exécution Java et ainsi de suite. Les membres du support technique IBM vous aident à déployer IBM Cognos avec ces composants. Les membres du support technique Esri vous aident à déployer (et à utiliser) Esri Maps for IBM Cognos.</p>

<p>Les membres du support technique Esri ne sont pas des experts dans toutes les configurations possibles d'IBM Cognos. De même, les ingénieurs du support technique IBM ne sont pas des experts dans tous les composants tiers requis pour assurer une configuration opérationnelle d'Esri Maps for IBM Cognos. Si vous rencontrez un problème lors de la configuration d'IBM Cognos, il est conseillé de contacter l'équipe du support technique IBM. De même, si vous rencontrez un problème de configuration avec les composants tiers, il est conseillé de contacter le service de support technique tiers. Pour le cas où un problème semble émaner d'Esri Maps for IBM Cognos, l'équipe du support technique Esri peut collaborer avec l'équipe du support technique IBM et/ou les fournisseurs tiers et/ou leurs consultants.</p>
<br />
<hr />
  
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
          <li><a href="#whatsNew">Nouveautés</a></li>		
		  <li><a href="#supportedEnvironments">Environnements pris en charge</a></li>
		  <li>Aide des versions antérieures :
			<ul>
				
				<li><a href="/fr/maps-for-cognos/6.0">6.0</a></li>
				<li><a href="/fr/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/fr/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Guide d'installation et de configuration</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Guide pour les auteurs de rapports<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Visionner des clips vidéo</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/fr/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
