---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.1" />
					<input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/maps-for-cognos/">Accueil</a></li>
        <li><a href="/fr/maps-for-cognos/install-windows/">Installer et configurer</a></li>
        <li><a href="/fr/maps-for-cognos/author-maps/">Créer des cartes</a></li>
        <li><a href="/fr/maps-for-cognos/use-maps/">Utiliser des cartes</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 6.0.1</span>
          <span id="appReleased"><strong>Disponibilité :</strong> janvier 2015</span>


          <p>Enrichissez vos rapports IBM Cognos de cartes dynamiques en utilisant vos workflows quotidiens, sans recourir à un codage personnalisé ou à des connaissances SIG pointues. Esri Maps for IBM Cognos s'intègre en toute transparence à IBM Cognos 10, ce qui permet aux créateurs de rapports d'ajouter et de configurer des cartes qui interagissent avec d'autres objets dans leurs rapports IBM Cognos. Créez des cartes associant des données géographiques publiées provenant d'ArcGIS à des données d'entreprise IBM Cognos afin d'enrichir l'analyse. Les utilisateurs de rapports n'ont besoin d'aucune compétence ni outil supplémentaire pour commencer à utiliser des rapports cartographiques afin d'analyser visuellement leurs données.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Télécharger Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Ajouter des cartes à votre rapport </h3>
          <p>Ajoutez des cartes dynamiques à votre rapport IBM Cognos pour une meilleure analyse visuelle de vos données d'entreprise.</p>
          <p>
           <a href="/fr/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
			<a title="Ajouter des cartes à votre rapport" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vidéo</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Configurer des comportements interactifs</h3>
          <p>Générez des rapports plus interactifs pour les utilisateurs de rapports. Sélectionnez des entités sur la carte pour mettre à jour d'autres objets du rapport, définir une invite ou extraire un rapport externe.</p>
          <p>
			<a href="/fr/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
		   <a title="Configurer des comportements interactifs" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vidéo</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Ajouter des données à partir d'ArcGIS</h3>
          <p>Ajoutez des données géographiques publiées provenant d'ArcGIS à votre rapport cartographique afin de simplifier l'analyse de vos données métier.</p>
          <p><a href="/fr/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Partager des cartes et des couches</h3>
          <p>Partagez des cartes ou des couches individuelles sur ArcGIS pour que d'autres utilisateurs, membres de votre organisation ou non, puissent les utiliser.</p>
          <p><a href="/fr/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une carte</a>
		  <br/>
		  <a href="/fr/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une couche</a>
          </p>
        </div>
    <div class="clear"></div> 
	  
	  
<br />
<hr />	  
<div class="clear"></div>
<a name="whatsNew"></a>
<h2>Nouveautés</h2>
<p>Esri Maps for IBM Cognos offre des mises à jour et des améliorations significatives aux auteurs, utilisateurs et administrateurs de rapports. Voici quelques points clés.
</p>

<h3>Mises à jour 6.0.1</h3>
<ul>
	<li>Les utilisateurs de rapports peuvent ajouter à la carte des données provenant d'ArcGIS.</li>
	<li>Prise en charge d'IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 et 10.2.2</li>
	<li>Prise en charge de Novell SUSE Linux Enterprise Server et Red Hat Enterprise Linux Server sur System z</li>
	<li>Prise en charge d'Apple Safari sur iOS 8.x</li>
		<li>Disponibilité du logiciel et de la documentation en sept langues : anglais, allemand, français, japonais, coréen, russe et chinois simplifié.</li>
</ul>
<br/>

<h3>Mises à jour 6.0</h3>
<ul>
<li>Prise en charge des déploiements Portal for ArcGIS déconnectés</li>
<li>Configuration des interactions sur les couches de service de carte dynamique</li>
<li>Nouveaux outils de dessin pour déclencher les comportements interactifs configurés</li>
<li>Filtrage des entités qui sont affichées sur la carte à l'aide de l'outil Filtrer la couche</li>
<li>Mesure de la superficie, de la distance et des coordonnées X,Y à l'aide de l'outil Mesurer</li>
<li>Géocodage d'adresses et recherche d'itinéraires à l'aide de l'outil Calculer l'itinéraire</li>
<li>Configuration de l'infographie et d'autres outils et paramètres cartographiques</li>
<li>Modification de l'étendue de la carte à l'aide d'une vue générale et d'autres outils de navigation</li>
<li>Spécification du WKID des coordonnées X,Y lors de l'ajout de données de points à la carte</li>
<li>Configuration de plusieurs styles d'une couche</li>
<li>Déclenchement des comportements interactifs à partir des fenêtres contextuelles</li>
<li>Affichage et impression des rapports cartographiques dans différents formats</li>
<li>Amélioration des performances pour accélérer le chargement des cartes</li>
<li>Nouvelle fonctionnalité permettant aux administrateurs de désigner les utilisateurs autorisés à accéder et à utiliser Esri Maps for IBM Cognos</li>
<li>Prise en charge d'IBM Cognos 10.2.1 Fix Pack 1, 2, 3 et 4</li>
<li>Prise en charge des navigateurs mobiles : 
<ul>
<li>Apple Safari sur iOS</li>
<li>Google Chrome pour Android</li>
</ul> 
</li>

</ul>
<br/>
<h3>Mises à jour 5.0.1</h3>
<ul>
<li> Prise en charge d'IBM Cognos 10.2.1</li>
<li> Prise en charge des plateformes Linux et UNIX :
<ul><li> Linux Red Hat 5.3+</li>
<li>Linux SUSE 10 SP1+</li>
<li> AIX 6.1+</li>
</ul></li>
</ul>
<br/>
<h3>Mises à jour 5.0</h3>
<ul>
<li>Nouvelle interface utilisateur avec une vue de type "tel écrit, tel écran" (WYSIWYG) de la carte, simplifiant encore plus la conception cartographique</li>
<li> Prise en charge à la fois d'ArcGIS Online et de Portal for ArcGIS 10.2</li>
<li> Intégration complète de la plateforme ArcGIS :  
<ul>
<li>Ajout de n'importe quelle carte ou couche d'ArcGIS afin d'améliorer votre carte</li>
<li>Partage de cartes et couches sur ArcGIS<li>
</ul></li>
<li>Activation et configuration de l'agrégation pour faciliter l'affichage et l'analyse d'un grand nombre d'entités en même temps</li>
<li>Large choix d'icônes cartographiques vous aidant à donner à votre carte le style qui vous plaît</li>
<li> Nouvelles options de configuration des cartes de densité</li>
<li>Les fenêtres contextuelles des cartes contiennent maintenant une option Infographie, qui apporte des informations démographiques à la volée concernant la région sélectionnée sur la carte</li>
<li>Accès facile aux services Web sécurisé via la plateforme ArcGIS</li>
<li>Sélection des entités et recherche des données à proximité au sein de votre carte<li>
<li>Géocodage d'adresses (prise en charge du géocodage mondial).</li>
<li>Personnalisation de la bibliothèque de fonds de carte depuis votre organisation ArcGIS Online</li>
<li> Recherchez des données sur ArcGIS à l'aide des catégories courantes, telles que Richesse, Affaires, Règle et Santé.</li>
<li>Autres améliorations en termes de qualité, facilité d'utilisation et cartographie.</li>
</ul>
  <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
           <li><a href="#whatsNew">Nouveautés</a></li>		
		  <li>Environnements pris en charge
			<ul>
			<li><a href="/fr/maps-for-cognos/install-windows/supported-environments.htm">Windows</a></li>
			<li><a href="/fr/maps-for-cognos/install-linux/supported-environments.htm">Linux et UNIX</a></li>
			</ul></li>
		  
			<li>Aide des versions antérieures :
			<ul>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/6.0">6.0</a>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/5.0.1">5.0.1</a></li>
			<li>4.3.2
				<ul>
					<li><a href="http://resources.arcgis.com/fr/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Guide d'installation et de configuration</a></li>
					<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Guide pour les auteurs de rapports<li>
				</ul>
			</li>
			</ul>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Visionner des clips vidéo</a></li>
		  </ul>
		  </li>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
