---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2016-01-29"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.1" />
					<input type="hidden" name="language" value="fr" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/maps-for-cognos/">Accueil</a></li>
        <li><a href="/fr/maps-for-cognos/install-windows/">Installer et configurer</a></li>
        <li><a href="/fr/maps-for-cognos/author-maps/">Créer des cartes</a></li>
        <li><a href="/fr/maps-for-cognos/use-maps/">Utiliser des cartes</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 6.1</span>
          <span id="appReleased"><strong>Disponibilité :</strong> février 2016</span>


          <p>Enrichissez vos rapports IBM Cognos de cartes dynamiques en utilisant vos workflows quotidiens, sans recourir à un codage personnalisé ou à des connaissances SIG pointues. Esri Maps for IBM Cognos s'intègre en toute transparence à IBM Cognos, ce qui permet aux auteurs de rapports d'ajouter et de configurer des cartes qui interagissent avec d'autres objets dans leurs rapports IBM Cognos. Créez des cartes associant des données géographiques publiées provenant d'ArcGIS à des données d'entreprise IBM Cognos afin d'enrichir l'analyse. Les utilisateurs de rapports n'ont besoin d'aucune compétence ni outil supplémentaire pour commencer à utiliser des rapports cartographiques afin d'analyser visuellement leurs données. 
</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Télécharger Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Add maps -->
        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <a title="Ajouter des cartes à votre rapport" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c1a.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Ajouter des cartes à votre rapport </h3>
          <p>Ajoutez des cartes dynamiques à votre rapport IBM Cognos pour une meilleure analyse visuelle de vos données d'entreprise.</p>
          <p>
           <a href="/fr/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
			<a title="Ajouter des cartes à votre rapport" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vidéo</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>

		<!-- Configure interactive behaviors -->
        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <a title="Configurer des comportements interactifs" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c2.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Configurer des comportements interactifs</h3>
          <p>Générez des rapports plus interactifs pour les utilisateurs de rapports. Sélectionnez des entités sur la carte pour mettre à jour d'autres objets du rapport, définir une invite ou extraire un rapport externe.</p>
          <p>
			<a href="/fr/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>
			<br/>
		   <a title="Configurer des comportements interactifs" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vidéo</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Ajouter des données à partir d'ArcGIS</h3>
          <p>Ajoutez des données géographiques publiées provenant d'ArcGIS à votre rapport cartographique afin de simplifier l'analyse de vos données métier.</p>
          <p><a href="/fr/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;En savoir plus</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Partager des cartes et des couches</h3>
          <p>Partagez des cartes ou des couches individuelles sur ArcGIS pour que d'autres utilisateurs, membres de votre organisation ou non, puissent les utiliser.</p>
          <p><a href="/fr/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une carte</a>
		  <br/>
		  <a href="/fr/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Partager une couche</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Nouveautés</h2>
<p>Esri Maps for IBM Cognos 6.1 offre des mises à jour et des améliorations significatives aux auteurs, utilisateurs et administrateurs de rapports. Voici quelques points clés.
</p>


<ul>
<li>Application cartographique plus rationalisée</li>
<li><a href="/fr/maps-for-cognos/author-maps/edit-layer-properties.htm">Mise à jour rapide des propriétés d'une couche IBM Cognos</a> après l'ajout de données.</li>
<li>Stylisation des données à l'aide de la <a href="/fr/maps-for-cognos/author-maps/feature-display-and-style.htm#GUID-59F7F621-EEF8-40E5-829B-41DBC0C358B4">classification par seuils naturels</a></li>
<li>Nouvelle légende de la carte flottante et redimensionnable (<a href="/fr/maps-for-cognos/author-maps/use-the-legend.htm">auteurs de rapports</a> et <a href="/fr/maps-for-cognos/use-maps/use-the-legend.htm">utilisateurs</a>)</li>
<li>Modification de l'ordre des groupes dans la légende (<a href="/fr/maps-for-cognos/author-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">auteurs de rapports</a> et <a href="/fr/maps-for-cognos/use-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">utilisateurs</a>)</li>
<li>Expérience utilisateur optimisée pour la configuration des paramètres et outils cartographiques</li>
<li>Personnalisation de la disponibilité des <a href="/fr/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_096AEB7953914BEAA4F1FB4AD718A1DF">outils cartographiques</a> et des <a href="/fr/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_B3B7D16E14EF4CBAA70C5C39494A7DDB">éléments</a> sur la carte</li>
<li>Modification de l'aspect de la carte à l'aide de <a href="/fr/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#GUID-0BCF234E-5050-4785-B2C0-91B4732D931A">thèmes prédéfinis</a> ou <a href="/fr/maps-for-cognos/install-windows/define-a-custom-map-theme.htm">personnalisés</a>.</li>
<li>Modification des <a href="/fr/maps-for-cognos/install-windows/modify-default-symbols-and-color-ramps.htm">symboles par défaut et des dégradés de couleurs</a> disponibles pour la stylisation des couches ou ajout de vos propres <a href="/fr/maps-for-cognos/install-windows/add-custom-symbol-sets.htm">jeux de symboles personnalisés</a></li>
<li>Algorithme de carte de densité optimisé avec prise en charge des cartes de densité de mesure pondérée (<a href="/fr/maps-for-cognos/author-maps/apply-a-heat-map.htm">auteurs de rapports</a> et <a href="/fr/maps-for-cognos/use-maps/apply-a-heat-map.htm">utilisateurs</a>)</li>
<li>Expérience utilisateur améliorée pour l'utilisation des tables attributaires d'entités (<a href="/fr/maps-for-cognos/author-maps/view-records.htm">auteurs de rapports</a> et <a href="/fr/maps-for-cognos/use-maps/view-records.htm">utilisateurs</a>)</li>
<li>Formats de nombre, date et devise supplémentaires</li>
<li>Prise en charge de la transparence dans les rapports PDF</li>
<li>Prise en charge des couches WMS (Web Map Service) d'ArcGIS</li>
<li>Prise en charge des rôles et privilèges ArcGIS</li>
<li><a href="/fr/maps-for-cognos/install-windows/troubleshooting-view-as-pdf-or-excel.htm">Documentation de dépannage</a> pour les administrateurs.</li>
</ul>



<hr />

 <a name="supportedEnvironments"></a>
        <h2>Environnements pris en charge</h2>

        <p>Pour s'assurer du bon fonctionnement d'Esri Maps for IBM Cognos, Esri suppose une configuration opérationnelle d'IBM Cognos Business Intelligence (BI). Les environnements logiciels d'IBM Cognos BI sont répertoriés comme étant actifs, compatibles ou non pris en charge. Esri teste uniquement Esri Maps for IBM Cognos avec des configurations actives et toutes les configurations actives n'ont pas été testées/certifiées. </p>
		<p>Si votre configuration d'IBM Cognos n'est pas répertoriée ci-dessous, contactez le support technique Esri ou votre représentant Esri pour demander si elle est prévue dans une version prochaine ou si elle peut être intégrée dans la liste des configurations prévues. En règle générale, la stratégie d'Esri consiste à prendre en charge les nouveaux correctifs IBM Cognos Fix Pack dans un délai de 60 jours après leur mise à disposition en téléchargement.</p>

<p>Esri Maps for IBM Cognos peut être utilisé avec IBM Cognos Enterprise et avec IBM Cognos Express 10.2.2 et versions ultérieures. Il n'est pas pris en charge avec&nbsp;ou une édition Développeur.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')"> Configuration du système</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>Disque dur : 300 Mo</li>
          <li>Mémoire : 2 Go</li>
	</ul>
	<p><b>Remarque :</b> l'espace disque requis varie selon l'utilisation de l'option Format de rapport d'Excel 2002. Reportez-vous à la rubrique <a href="/fr/maps-for-cognos/install-windows/report-formats.htm">Formats de rapport</a> pour plus d'informations.</p>
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')"> Versions IBM Cognos</a></h3>
<div exp2='yes' style="display:none;padding:0 15px;">

<p>En règle générale, la stratégie d'Esri consiste à prendre en charge les nouveaux correctifs IBM Cognos Fix Pack dans un délai de 60 jours après leur mise à disposition en téléchargement.</p>
 <p>Le tableau suivant présente les versions et correctifs Fix Pack IBM Cognos pris en charge pour chaque version d'Esri Maps for IBM Cognos :</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">Versions IBM Cognos</th>
<th colspan="5">Version d'Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
<th colspan="1" rowspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1.1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="10" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP2</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP3</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP4</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP5</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP6</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP7</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP8</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP9</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><p><b>10.2.2**</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP3</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>* Si la version 5.0.1 d'Esri Maps for IBM Cognos est installée sur votre ordinateur, consultez l'<a href="http://support.esri.com/en/knowledgebase/techarticles/detail/41743">article 41743 de la base de connaissance</a> pour obtenir plus d'informations avant d'installer le Fix Pack.</p>
<p>** Les versions Esri Maps for IBM Cognos 6.0.1 et ultérieures prennent en charge IBM Cognos Express 10.2.2 en plus d'IBM Cognos Enterprise.</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')"> Systèmes d'exploitation</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

 <p>IBM certifie et prend en charge les systèmes d'exploitation qui sont compatibles avec un ensemble de puces de l'unité centrale, désignées sous le nom d'architectures d'UC. Esri teste Esri Maps for IBM Cognos sur un sous-ensemble de systèmes d'exploitation (et de puces) signalés comme actifs par IBM. La liste que teste Esri repose sur une étude de marché et des configurations clientes existantes.</p>
 <p>Le tableau suivant présente les systèmes d'exploitation pris en charge pour chaque version d'Esri Maps for IBM Cognos :</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">Systèmes d'exploitation</th>
<th rowspan="1" colspan="5">Version d'Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
<th rowspan="1" colspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows Server</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.3+ sur System z</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>* Seules les versions 64 bits de System z sont prises en charge.</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')"> Composants requis (Linux et UNIX uniquement)</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

	 <p>Les bibliothèques système suivantes sont nécessaires pour exécuter la passerelle EM4C Esri Maps for IBM Cognos sur les systèmes d'exploitation Linux et UNIX :</p>

        <ul>
          <li>Linux (32 bits)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 bits)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 bits)* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 bits)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* Requis pour les versions 6.0.1 et ultérieures</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')"> Navigateurs Web</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">
	 <p>Esri ne teste pas toutes les combinaisons des navigateurs Web (et des systèmes d'exploitation clients sous-jacents) signalés comme pris en charge par IBM. En revanche, un sous-ensemble de navigateurs Web est sélectionné et des tests sont réalisés sur les systèmes d'exploitation les plus récents. Tous les navigateurs sélectionnés ne sont pas testés sur tous les systèmes d'exploitation identifiés.</p>
       

<p>De même, Esri effectue des tests de navigateur intensifs sur la plateforme Windows uniquement. Toutefois, Esri Maps for IBM Cognos est censé fonctionner normalement sur les clients autres que Windows si l'un des navigateurs Web répertoriés ci-dessous est utilisé. Si tel n'est pas le cas, contactez le support technique Esri pour demander que votre système d'exploitation et votre navigateur Web soient testés.</p>

<p>Le tableau suivant présente les navigateurs testés dans chaque version d'Esri Maps for IBM Cognos :</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">Navigateurs</th>
<th colspan="5">Version d'Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
<th>6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>Apple Safari sur iOS</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="3" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">41</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="2" colspan="1"><b>Google Chrome pour Android</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="4" colspan="1"><b>Internet Explorer*</b></td>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 38</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>* Les cartes de densité ne sont pas compatibles avec IBM Cognos exécuté dans Internet Explorer. Dans Esri Maps for IBM Cognos 6.0.1 et versions antérieures, les agrégats de diagramme à secteurs ne sont pas non plus compatibles avec IBM Cognos exécuté dans Internet Explorer. Pour plus d'informations, consultez l'<a href="http://support.esri.com/en/knowledgebase/techarticles/detail/42801">article 42801 de la base de connaissance</a>.</p>
<p>**Internet Explorer 10 et 11 sont pris en charge uniquement en mode compatibilité.</p>
<p>Les navigateurs Google Chrome pour Android et Apple Safari sur iOS sont uniquement pris en charge pour les consommateurs de rapports. Esri Maps Designer n'est pas pris en charge sur ces navigateurs.</p>

<p>Pour optimiser le rendu des entités cartographiques et des graphiques dans Internet Explorer, il est recommandé de télécharger et d'installer Silverlight 5.x sur le client. </p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')"> Langues</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
       <p>Les langues suivantes représentent les langues de produit prises en charge par Esri Maps for IBM Cognos 6.0.1, 6.0.2 et 6.1 :</p>
	
        <ul>
          <li>Chinois (Chine)</li>
		  <li>Anglais</li>
		  <li>Français</li>
		  <li>Allemand</li>
		  <li>Japonais</li>
		  <li>Coréen</li>
		  <li>Russe</li>
	</ul>

       <p>Esri Maps for IBM Cognos 6.0 et 5.0.1 prennent en charge l'anglais uniquement.</p>
        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')"> Prise en charge</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
<p>Pour fonctionner correctement, IBM Cognos nécessite la configuration de plusieurs composants tiers. Ces composants sont notamment des serveurs d'applications, des serveurs Web, des serveurs de bases de données, des bibliothèques d'exécution Java et ainsi de suite. Les membres du support technique IBM vous aident à déployer IBM Cognos avec ces composants. Les membres du support technique Esri vous aident à déployer (et à utiliser) Esri Maps for IBM Cognos.</p>

<p>Les membres du support technique Esri ne sont pas des experts dans toutes les configurations possibles d'IBM Cognos. De même, les ingénieurs du support technique IBM ne sont pas des experts dans tous les composants tiers requis pour assurer une configuration opérationnelle d'Esri Maps for IBM Cognos. Si vous rencontrez un problème lors de la configuration d'IBM Cognos, il est conseillé de contacter l'équipe du support technique IBM. De même, si vous rencontrez un problème de configuration avec les composants tiers, il est conseillé de contacter le service de support technique tiers. Pour le cas où un problème semble émaner d'Esri Maps for IBM Cognos, l'équipe du support technique Esri peut collaborer avec l'équipe du support technique IBM et/ou les fournisseurs tiers et/ou leurs consultants.</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
          <li><a href="#whatsNew">Nouveautés</a></li>		
		  <li><a href="#supportedEnvironments">Environnements pris en charge</a></li>
		  <li>Aide des versions antérieures :
			<ul>
				
				<li><a href="/fr/maps-for-cognos/6.0.2">6.0.2</a></li>
				<li><a href="/fr/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Guide d'installation et de configuration</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Guide pour les auteurs de rapports<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Visionner des clips vidéo</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script></Comment>--&gt;  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
