---
title: Trust - 系统状态
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="zh-cn">


mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Trust ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="/zh-cn/trust/system-status/">检查系统状态</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/">Trust</option>
        <option value="/en/trust/system-status/" selected>ArcGIS Online 状态</option>
        <option value="/en/trust/security/">安全性</option>
        <option value="/en/trust/privacy/">隐私性</option>
        <option value="/en/trust/compliance/">合规性</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link" href="/zh-cn/trust/">Trust</a> <a class="sub-nav-link is-active" href="/zh-cn/trust/system-status/">ArcGIS Online 状态</a> <a class="sub-nav-link" href="/zh-cn/trust/security/">安全性</a> <a class="sub-nav-link" href="/zh-cn/trust/privacy/">隐私性</a> <a class="sub-nav-link" href="/zh-cn/trust/compliance/">合规性</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div id="collectorMapFeature" class="text-center">
      <iframe src="//status.arcgis.com/" width="1000" height="1250" frameborder="0">
 错误：无法显示嵌入式数据。
      </iframe>
    </div>
    <div>
      <p>ArcGIS Online Health Dashboard 提供经确认已对我们大多数用户造成影响的状态信息。由于 ArcGIS Online 是一个基于云的大型平台，许多事件即使发生，对广泛的用户库造成的影响也十分有限。此状态页面不会提交组织特定问题，原因是我们鼓励使用我们提供的支持服务来解决此类问题。</p>
    </div>
    <div style="text-align:center; padding-top:15px;">
      <a href="http://www.fedramp.gov/"><img src="/en/trust/img/fedramp.png"/></a>
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="/en/trust/img/fisma.png"/></a>
      <a href="https://www.privacyshield.gov/participant?id=a2zt00000004EspAAE"><img src="../img/PrivacyShield.png" width="170"></a>&nbsp;
      <a href="http://privacy.truste.com/privacy-seal/validation?rid=40a3315c-842e-4e81-bf75-0c568255d039"><img src="../img/TrustePrivacy.png"></a>
    </div>
  </div>
</div>
