---
title: Trust - 系统状态
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/zh-cn/trust/">Trust</a></li>
        <li class='current'><a title="ArcGIS Online 系统状态" href="/zh-cn/trust/system-status/">ArcGIS Online 状态</a></li>
        <li><a title="ArcGIS Online 安全性" href="/zh-cn/trust/security/">安全性</a></li>		
        <li><a title="ArcGIS Online 合规性" href="/zh-cn/trust/privacy/">隐私政策</a></li>
        <li><a title="ArcGIS Online 合规性" href="/zh-cn/trust/compliance/">合规性</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1250" frameborder="0">
  错误：无法显示嵌入式数据。 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard 提供经确认已对我们大多数用户造成影响的状态信息。由于 ArcGIS Online 是一个基于云的大型平台，许多事件即使发生，对广泛的用户库造成的影响也十分有限。此状态页面不会提交组织特定问题，原因是我们鼓励使用我们提供的支持服务来解决此类问题。</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			 <a href="http://cloud.cio.gov/fedramp"><img src="../img/fedramp.png"/></a>
			 <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
