---
title: ArcGIS Online 도움말
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ko">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/arcgis-online/">ArcGIS Online 도움말</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online 도움말" href="/ko/arcgis-online/">홈</a></li>
        <li><a title="맵, 씬 사용" href="/ko/arcgis-online/use-maps/">사용</a></li>
        <li><a title="맵, 씬, 앱 생성" href="/ko/arcgis-online/create-maps/">생성</a></li>		
        <li><a title="맵, 씬, 앱 공유" href="/ko/arcgis-online/share-maps/">공유</a></li>
		<li><a title="내 기관 관리" href="/ko/arcgis-online/administer/">관리</a></li>
		<li><a title="참조" href="/ko/arcgis-online/reference/">참조</a></li>
		<li><a title="모든 사람에게 적합한 앱" href="/ko/arcgis-online/apps/arcgis-apps.htm">앱</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="ko" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="ko">
      </form>-->

                
	<hr>
<!--What's new information-->
	<a name="WhatsNew"></a>
	<h2>&nbsp;새로운 기능 </h2>
		<p>2016년 3월 업데이트에서는 3D 웹 앱이 도입되었습니다. 또한 스마트 매핑, 기관 관리, 앱에 대한 향상된 기능이 포함되어 있습니다 <a href="/ko/arcgis-online/reference/whats-new.htm" class="">자세한 정보</a></p>
		<ul>
		     <li><a href="/ko/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_ABE7B08B9DD94D3AAD71B2A1A327B21C" class="">3D 웹 앱</a> - 씬을 기반으로 3D 웹 앱을 생성합니다.</li>
		     <li><a href="/ko/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_511E424D3FC74BC0A8E7663C5B04CCA4" class="">스마트 매핑</a> - 데이터 시각화 생성을 위한 새 옵션입니다.</li>
		     <li><a href="/ko/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_76123A29A4EE4FEE918D7644FF3EAB90" class="">기관 관리</a> - 사이트 설정을  더욱 세부적으로 제어할 수 있습니다.</li>
		</ul>
		
	<hr>
<!-- Videos -->
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<img src="img/perform-analysis.jpg" title="맵, 씬 사용">
		<!--<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>-->
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		 <img src="img/create-maps-apps.jpg" title="맵, 씬, 앱 생성">
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
     <section class="support-option">
      <img src="img/share-maps-apps.jpg" title="항목 공유">
   </section>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/ko/arcgis-online/use-maps/use-maps.htm" class="">맵, 씬 사용</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/ko/arcgis-online/create-maps/create-maps-and-apps.htm" class="">맵, 씬, 앱 생성</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/ko/arcgis-online/share-maps/share-maps-apps.htm" class="">항목 공유</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/perform-analysis.png" title="분석 수행">
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/publish-hosted-web-layers.png" title="호스팅 웹 레이어 발행">
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/admin-org.jpg" title="내 기관 관리">
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ko/arcgis-online/use-maps/perform-analysis.htm">분석 수행</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ko/arcgis-online/share-maps/hosted-web-layers.htm">호스팅 웹 레이어 발행</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ko/arcgis-online/administer/admin-org.htm">내 기관 관리</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri Technical Support</a></h4>
      <p>채팅, 이메일 또는 전화를 통해 Support에 문의하세요.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS 아이디어</a></h4>
      <p>소프트웨어에 대한 피드백을 제출하세요.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">ArcGIS 포럼</a></h4>
      <p>Geonet에서 토론에 참여하세요.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>ArcGIS Online을 처음 사용하시나요?</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">직접 학습해 보기</a></p>
			<a title="ArcGIS Online 개요" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">비디오 보기</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png">   교육 과정 찾기</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>빠른 참조</h3>
         <ul>   <li><a href="/ko/arcgis-online/reference/troubleshoot-account.htm">&nbsp;로그인 문제 해결</a></li>
		<!--<li><a href="/ko/arcgis-online/reference/whats-new.htm" >&nbsp;What's new</a></li>-->
		<li><a href="/ko/arcgis-online/reference/faq.htm">&nbsp;자주 묻는 질문</a></li>
		<li><a href="/ko/trust/system-status/">&nbsp;시스템 상태</a></li>
		<li><a href="/ko/living-atlas/about/">&nbsp;ArcGIS Online에서 선별된 콘텐츠</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">추가 블로그 게시물</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });
	 
	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
