---
title: ArcGIS Online 도움말
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ko">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/arcgis-online/">ArcGIS Online 도움말</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online 도움말" href="/ko/arcgis-online/">홈</a></li>
        <li><a title="맵, 씬 사용" href="/ko/arcgis-online/use-maps/">사용</a></li>
        <li><a title="맵, 씬, 앱 생성" href="/ko/arcgis-online/create-maps/">생성</a></li>
        <li><a title="맵, 씬, 앱 공유" href="/ko/arcgis-online/share-maps/">공유</a></li>
        <li><a title="내 기관 관리" href="/ko/arcgis-online/administer/">관리</a></li>
        <li><a title="참조" href="/ko/arcgis-online/reference/">참조</a></li>
        <li><a title="누구나 쉽게 사용하는 앱" href="/ko/arcgis-online/apps/arcgis-apps.htm">앱</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="ko" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		ArcGIS Online에서는 맵, 씬, 분석, 앱, 공동 작업 등을 모두 수행할 수 있습니다.</p>
	
	<p> ArcGIS를 처음 사용하시나요? 먼저 맵, 씬, 앱 또는 그룹을 만듭니다. 더 자세히 알아보려면 학습을 사용하거나 자주 찾는 항목을 탐색해보세요. 기관 <a href="/ko/arcgis-online/administer/admin-org.htm">관리자</a>의 경우 사용자 정의 역할, 보안 설정, 유연한 구성을 사용하는 방법에 대해 알아보세요.
	</p> 
	<p>Esri <a href="#blog">블로그</a>와 <a href="#community">커뮤니티</a>의 최신 뉴스를 확인해야 합니다.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/ko/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/ko/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/ko/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/ko/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">새로운 기능</h3>
        <p>2016년 6월 업데이트에서는 항목 페이지가 향상되었으며 보기 시간에 대한 새 옵션과 통합 메시 레이어에 대한 지원 등이 제공됩니다.
        </p>
			<!--<a href="/ko/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/ko/arcgis-online/reference/whats-new.htm" class="btn secondary">자세한 정보</a>
      </div>

    </div>
    <div class="column-24">
      <h2>처음 만들기</h2>
      <div class="make-first">
        <a href="/ko/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">맵</h2></a>
        <a href="/ko/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">씬</h2></a>
        <a href="/ko/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">앱</h2></a>
        <a href="/ko/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">그룹</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>다음과 같은 자주 찾는 항목을 참고하세요.</h4></li>
        <li><a href="/ko/arcgis-online/reference/faq.htm">자주 묻는 질문</a></li>
		<li><a href="/ko/arcgis-online/share-maps/add-items.htm">항목 추가</a></li>
        <li><a href="/ko/arcgis-online/use-maps/perform-analysis.htm">분석 수행</a></li>
		<li><a href="/ko/arcgis-online/share-maps/publish-features.htm">피처 발행</a></li>
		<li><a href="/ko/arcgis-online/administer/view-status.htm">상태 보기</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>학습하기
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">더 많은 학습<span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">ArcGIS Online 시작하기</a></h3>
          <p>
 온라인으로 맵 만들기에 대한 기본 정보입니다.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">인구 통계 분석 및 스마트 매핑</a></h3>
          <p>
            인구 통계 분석, 스마트 매핑, 웹 앱을 사용하여 빈곤 아동을 찾아봅니다.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">경로 계획</a></h3>
          <p>
           4명의 보건 공무원이 San Diego의 36개 음식점을 조사하는 것을 지원합니다.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">공간 분석</a></h3>
          <p>
            새로운 주상 복합 개발을 위한 최적지를 찾습니다.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Esri 블로그 읽기
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">더 많은 블로그 게시물 <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">대화 참여
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">더 많은 토론 <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">교육 과정 찾기</a></h4>
      <p class="no-trailer">
        더 많이 배우기 위해 Esri 교육 과정을 검색합니다.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">비디오 보기</a></h4>
      <p class="no-trailer">
        ArcGIS Online에 대한 비디오 세트를 감상합니다.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">기술 지원 받기</a></h4>
      <p class="no-trailer">
        채팅, 이메일 또는 전화를 통해 Support에 문의하세요.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">시스템 상태 확인</a></h4>
      <p class="no-trailer">
        ArcGIS Online 상태를 확인하고 문제를 보고합니다.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
