---
title: ArcGIS Online 도움말
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Online 도움말</h1>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/arcgis-online/" selected>홈</option>
        <option value="/en/arcgis-online/get-started/">시작하기</option>
        <option value="/en/arcgis-online/create-maps/">생성</option>
        <option value="/en/arcgis-online/analyze/">분석</option>
        <option value="/en/arcgis-online/share-maps/">공유</option>
        <option value="/en/arcgis-online/administer/">관리</option>
        <option value="/en/arcgis-online/reference/">참조</option>
        <option value="/en/arcgis-online/apps/arcgis-apps.htm">앱</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link  is-active" title="ArcGIS Online 도움말" href="/ko/arcgis-online/">홈</a>
        <a class="sub-nav-link" title="ArcGIS Online 시작하기" href="/ko/arcgis-online/get-started/">시작하기</a>
        <a class="sub-nav-link" title="맵, 씬, 앱 생성" href="/ko/arcgis-online/create-maps/">생성</a>
        <a class="sub-nav-link" title="분석 수행" href="/ko/arcgis-online/analyze/">분석</a>
        <a class="sub-nav-link" title="맵, 씬, 앱 공유" href="/ko/arcgis-online/share-maps/">공유</a>
        <a class="sub-nav-link" title="내 기관 관리" href="/ko/arcgis-online/administer/">관리</a>
        <a class="sub-nav-link" title="참조" href="/ko/arcgis-online/reference/">참조</a>
        <a class="sub-nav-link" title="누구나 쉽게 사용하는 앱" href="/ko/arcgis-online/apps/arcgis-apps.htm">앱</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>몇 분 이내에 중요한 맵 만들기</h1>
      <h5> ArcGIS Online에서는 완벽한 클라우드 기반 전 세계 지리 정보 시스템을 제공합니다.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="ArcGIS Online 도움말 검색">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="ko" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>현재 업데이트:</strong> 2017년 6월</li>
        <li><a href="/ko/arcgis-online/reference/whats-new.htm">새로운 기능</a></li>
        <li><a href="/ko/arcgis-online/reference/faq.htm">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">시작하기
        <a class="btn btn-transparent text-white btn-large right" href="/ko/arcgis-online/get-started/online-quick-exercises.htm">추가 실습</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half" style="clear:right;">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ko/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="/en/arcgis-online/img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ko/arcgis-online/get-started/quick-exercise-maps.htm">맵 생성</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20분</p>
            <p class="trailer-0 text-off-black">웹 맵을 만들어 병원을 조사하세요.</p>
          </div>
          <a href="/ko/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ko/arcgis-online/get-started/quick-exercise-scenes.htm">
              <img alt="" src="/en/arcgis-online/img/create-a-scene.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ko/arcgis-online/get-started/quick-exercise-scenes.htm">씬 생성</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20분</p>
            <p class="trailer-0 text-off-black">도시 수목에 대한 3D 씬을 만드세요.</p>
          </div>
          <a href="/ko/arcgis-online/get-started/quick-exercise-scenes.htm" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ko/arcgis-online/get-started/quick-exercise-apps.htm">
              <img alt="" src="/en/arcgis-online/img/create-an-app.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ko/arcgis-online/get-started/quick-exercise-apps.htm">앱 생성</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20분</p>
            <p class="trailer-0 text-off-black">웹 앱을 만들어 비즈니스 사이트 제안을 공유해 보세요.</p>
          </div>
          <a href="/ko/arcgis-online/get-started/quick-exercise-apps.htm" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ko/arcgis-online/get-started/quick-exercise-analysis.htm">
              <img alt="" src="/en/arcgis-online/img/solve-spatial-problem.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ko/arcgis-online/get-started/quick-exercise-analysis.htm">공간 문제 해결</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">25분</p>
            <p class="trailer-0 text-off-black">분석 도구를 사용하여 확산성 잡초가 인근에 있는 캠핑장을 확인하세요.</p>
          </div>
          <a href="/ko/arcgis-online/get-started/quick-exercise-analysis.htm" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="/en/arcgis-online/img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">ArcGIS 기관 설정</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60분</p>
            <p class="trailer-0 text-off-black">새 ArcGIS 기관을 구성하세요.</p>

          </div>
          <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">
              <img alt="" src="/en/arcgis-online/img/get-started-with-arcgis-maps-for-office.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">스프레드시트 데이터 매핑</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60분</p>
            <p class="trailer-0 text-off-black">ArcGIS Maps for Office를 사용하여 새 미용실 주변의 잠재 고객을 찾아보세요.</p>

          </div>
          <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/" class="btn btn-clear btn-fill leader-0">실습 시작</a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
      <div class="row">
        <h2>&nbsp;</h2>
        <h2 class="text-center">ArcGIS Online에서 수행할 수 있는 작업</h2>
      </div>
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-maps text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">맵 생성</h3>
			<p class="trailer-half">
               지리 데이터를 결합하고, 패턴을 시각화하고, 맵을 통해 작업을 공유해보세요.
            </p>
            <ul class="bulleted trailer-0"><li>
                <a href="/ko/arcgis-online/get-started/get-started-with-maps.htm">맵 생성 방법 알아보기</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-online/lessons/create-a-map.htm">맵 생성</a>
              </li>
              <li>
                <a href="https://arcg.is/2grlohl">스마트 매핑 3단계</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/how-to-smart-map">스마트 매핑에 대한 팁 얻기</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-globe text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">3D 사용</h3>
			<p class="trailer-half">3D로 정보를 시각화하여 새로운 관점에서 정보를 파악합니다.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ko/arcgis-online/get-started/get-started-with-scenes.htm">씬 생성 방법 알아보기</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/lessons/create-a-scene.htm">씬 생성</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/lessons/create-an-app.htm">3D 앱 생성</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/publish-3d-data">3D 데이터 발행</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">분석 수행</h3>
			<p class="trailer-half">공간 문제를 해결하려면 사용하기 쉬운 도구를 실행하세요.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ko/arcgis-online/get-started/get-started-with-analysis.htm">분석 수행 방법 알아보기</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/add-demographics">데이터 보강</a>
              </li>
			  <li> <a href="https://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">장소 이해</a>
              </li> <li>
                <a href="https://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">패턴 감지</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-layers text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Living Atlas에 접근</h3>
			<p class="trailer-half">Esri가 선별 제공하는 GIS 리소스의 글로벌 데이터 컬렉션인 Living Atlas of the World를 탐색해보세요.</p>

            <ul class="bulleted trailer-0">
              <li> <a href="/ko/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Living Atlas 레이어 매핑 방법 알아보기</a> </li>
                <li><a href="https://links.esri.com/agol/help/living-atlas/story-map">Living Atlas Story Map 살펴보기</a></li>
              <li><a href="https://learn.arcgis.com/en/projects/depict-land-use-change-with-time-enabled-apps/">Living Atlas imagery로 토지 이용 변경 사항 보기</a>
              </li>
			  <li><a href="https://livingatlas.arcgis.com/en/participate/#join">Living Atlas에 기여</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-collection text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">데이터 관리</h3>
			<p class="trailer-half">데이터를 구성하고, 편집하고, 공유합니다.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ko/arcgis-online/share-maps/hosted-web-layers.htm">데이터를 웹 레이어로 발행하는 방법 알아보기</a></li>
              <li>
                <a href="/ko/arcgis-online/share-maps/manage-hosted-feature-layers.htm">데이터 관리 방법 알아보기</a>
              </li>
				<li><a href="https://links.esri.com/agol-help/blog/tile-layers">타일 레이어에 대한 팁 얻기</a>
              </li> <li>
				<a href="https://arcg.is/2maRSRl">데이터 뷰 공유</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-share text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">작업 공유</h3>
			<p class="trailer-half">기관 내부와 외부의 맵, 씬, 레이어, 앱을 공유합니다.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ko/arcgis-online/get-started/get-started-with-sharing.htm">항목 공유 방법 알아보기</a></li>
			  <li><a href="https://links.esri.com/agol-help/blog/embed-map">웹 페이지에서 맵 임베드</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/viral-apps/">바이럴 웹 앱에 대한 팁 얻기</a></li>
			  <li><a href="https://links.esri.com/agol-help/hub/open-data">시민을 Open Data에 연결 </a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-applications text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">앱 사용</h3>
			<p class="trailer-half">누구나 쉽게 사용하는 용도 집약적 앱으로 더 많은 작업을 수행합니다.</p>
            <ul class="bulleted trailer-0">
			<li><a href="/ko/arcgis-online/create-maps/choose-configurable-app.htm">앱 선택 방법 알아보기</a></li>
			<li><a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-online/lessons/make-an-app.htm">맵을 앱으로 변환</a></li>
			  <li><a href="https://storymaps.arcgis.com/en/gallery/#s=0&q=%22how%20to%22&md=storymaps-author:esri-general">앱을 통해 더 나은 스토리 전달 </a></li>
              <li><a href="https://links.esri.com/agol-help/lesson/field-apps">현장에 앱 가져오기</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-search text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">콘텐츠 이용</h3>
			<p class="trailer-half">광범위한 지리적 항목을 추가하고, 탐색하고, 관리합니다.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ko/arcgis-online/share-maps/add-items.htm">항목 추가 방법 알아보기</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/group-update-capability">동료가 내 항목을 업데이트하도록 설정</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/arcade-parcels">Arcade를 사용하여 필지 값 매핑</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/scenes-in-story-maps">Story Maps에 3D 추가</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">내 기관 관리</h3>
			<p class="trailer-half">도구와 기타 리소스를 통해 사이트, 구성원, 콘텐츠를 관리합니다.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ko/arcgis-online/administer/get-started-with-administration.htm">기관 관리 방법 알아보기</a></li>
			  <li><a href="https://links.esri.com/agol-help/administering-platform">검사 목록을 사용하여 사이트 관리</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/admin-tips">사이트 구성에 대한 팁 얻기</a></li>
              <li><a href="https://developers.arcgis.com/python/sample-notebooks/batch-creation-of-groups/">그룹 생성 자동화</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">더욱 효율적으로 ArcGIS Online 활용</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        <li><a href="https://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="https://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="https://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">비디오 보기
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B">더 많은 비디오</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div style="clear:right;" playlistid="PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">ArcGIS Online에 연결</h4>
    <a aria-label="Twitter에 연결" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="LinkedIn에 연결" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="GitHub 프로젝트 보기" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Facebook에 연결" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="커뮤니티 가입" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="의견 보내기" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="trailer-0">Esri 블로그 읽기
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">더 많은 블로그 게시물</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group phone-block-group-1-up block-group-3-up blogHpFeed">
        <!-- Blog Content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="trailer-0">대화 참여
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">더 많은 대화</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group phone-block-group-1-up block-group-3-up geonetFeed">
        <!-- Forum content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Books -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">도서 살펴보기
        <a class="btn btn-transparent text-white btn-large right" href="https://links.esri.com/book/arcgis-book-series">더 많은 도서</a>
      </h2>
      <div style="clear:right;" class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/arcgis-book">
              <img alt="" src="/en/arcgis-online/img/arcgis-book.png">
            </a>
          </figure>
         <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/arcgis-book">ArcGIS Book</a>
            </h5>
            <p class="trailer-0 text-off-black">웹 GIS에 대해 파악하고 웹 GIS를 사용하여 지리 정보를 생성 및 공유하는 방법을 살펴봅니다. </p>
          </div>
          <a href="https://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">웹 사이트 탐색</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/instructional-guide">
              <img alt="" src="/en/arcgis-online/img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0 text-off-black">
              <strong>ArcGIS Book용 지침 가이드</strong>
            </h5>
            <p class="trailer-0 text-off-black">학생과 교사를 위한 추가 활동, 리소스, 학습, 데이터를 가져옵니다.</p>
            <p class="trailer-0 text-off-black leader-1"><strong>2017년 가을 출시 예정</strong></p>
          </div>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/imagery">
              <img alt="" src="/en/arcgis-online/img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/imagery">ArcGIS Imagery Book</a>
            </h5>
            <p class="trailer-0 text-off-black">최신 GIS가 이미지 및 원격 탐지 기능을 통해 구동되는 방식을 알아봅니다. </p>
          </div>
          <a href="https://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">웹 사이트 탐색</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/imagery-instructional-guide">
              <img alt="" src="/en/arcgis-online/img/imagery-book-instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/imagery-instructional-guide">ArcGIS Imagery Book용 지침 가이드</a>
            </h5>
            <p class="trailer-0 text-off-black">학생과 교사를 위한 추가 활동, 리소스, 학습, 데이터를 가져옵니다.</p>
          </div>
          <a href="https://links.esri.com/book/imagery-instructional-guide" class="btn btn-clear btn-fill leader-0">실습 다운로드</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Learn links -->
<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://links.esri.com/agol-help/learn/agol">상세 학습 진행</a></h5>
          <p class="trailer-0">
            ArcGIS 자세히 알아보기(Learn ArcGIS)를 검색하여 ArcGIS를 통해 실제 문제를 해결하는 방법을 익힐 수 있는 실습을 찾아서 수행할 수 있습니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main/arcgis-online-training">교육 과정 찾기</a></h5>
          <p class="trailer-0">
            강의식 수업 과정(현재 우리나라에서는 진행하고 있지 않음), 웹 과정, 세미나를 통해 ArcGIS에 대해 더욱 자세히 알아봅니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">기술 지원 받기</a></h5>
          <p class="trailer-0">
            채팅, 이메일 또는 전화를 통해 Esri Support에 문의할 수 있습니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="/ko/trust/system-status/">시스템 상태 확인</a></h5>
          <p class="trailer-0">
            ArcGIS Online 상태를 확인하고 문제를 보고합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
