---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/arcgis-online/">도움말</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online 도움말" href="/ko/arcgis-online/">기본</a></li>
        <li><a title="맵 사용" href="/ko/arcgis-online/use-maps/">사용</a></li>
        <li><a title="맵 및 앱 생성" href="/ko/arcgis-online/create-maps/">생성</a></li>		
        <li><a title="맵 및 앱 공유" href="/ko/arcgis-online/share-maps/">공유</a></li>
		<li><a title="기관 관리" href="/ko/arcgis-online/administer/">관리</a></li>
		<li><a href="/ko/arcgis-online/reference/">참조</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">대화형 맵 및 앱을 생성하고 사용하며 기관의 다른 사용자와 공유합니다. 방법 찾기</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>맵 사용</h3>
         
 
         <p>맵을 사용하여 지리 데이터를 탐색, 파악 및 측정할 수 있습니다.</p>

      
         <p><a href="/ko/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;데이터 보기</a> <br/> <a href="/ko/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">분석 수행</a><br/> <a href="/ko/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">피처 편집</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>맵 및 앱 생성</h3>
          <p>대화형 맵 및 앱을 만든 다음에는 기관의 어떤 장치에서든 시간과 장소에 상관 없이 접근할 수 있습니다.</p>


            <p><a href="/ko/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;첫 번째 맵 만들기</a> <br/>

            <a href="/ko/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">첫 번째 앱 만들기</a><br/> <a href="/ko/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">맵 및 레이어 등록정보 설정</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>맵 및 앱 공유</h3>
          <p>기관이나 커뮤니티에서 맵과 앱을 공유하여 데이터를 활용할 수 있습니다.</p>

         <p><a href="/ko/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;항목 추가</a> <br/><a href="/ko/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">항목 공유</a> <br/> <a href="/ko/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">호스트팅 피처 및 타일 발행</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>기관 관리</h3>
          <p>기관에 대해 ArcGIS Online을 구성하고, 사용자가 가입하도록 초대하고, 리소스를 관리하여 GIS 사용 범위를 확장할 수 있습니다.</p>
          <p>
            <a href="/ko/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;웹 사이트 구성</a> <br/> <a href="/ko/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">사용자 초대</a> <br/> <a href="/ko/arcgis-online/administer/view-status.htm" class="icon-right-arrow">기관 통계 보기</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>즉시 사용 가능한 앱</h3>
         <p>즉시 사용 가능한 앱을 현장 데이터 컬렉션, 운영 대시보드, Microsoft Office 및 Sharepoint에 이용할 수 있습니다.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS 앱</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>개발자 API</h3>
          <p>ArcGIS 플랫폼에는 기관 및 일반 대중을 위한 앱을 만들 수 있는 API 및 SDK가 포함되어 있습니다.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>시작하기</h3>
		  <p>튜토리얼을 통해 ArcGIS 플랫폼 사용 방법을 배울 수 있습니다.</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/ko/get-started/web/">맵 사용</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ko/get-started/services/">데이터 공유</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ko/get-started/organizations/">기관 관리</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>ArcGIS Online 정보</h3>
         <ul>
		 <li><a href="/ko/arcgis-online/reference/what-is-agol.htm">&nbsp;ArcGIS Online이란 무엇입니까?</a></li>
		 <li>
		 <a href="/ko/arcgis-online/reference/whats-new.htm" >&nbsp;새로운 기능</a>
		 </li>
		 <li><a href="/ko/arcgis-online/reference/faq.htm">&nbsp;자주 묻는 질문</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>맵 생성</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>기본 제공 맵 뷰어를 사용하여 맵을 생성하는 방법을 배울 수 있습니다.</p>
        <a href="/ko/arcgis-online/reference/videos.htm" class="btn secondary">기타 비디오</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">기타 블로그 게시물</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Esri 포럼</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">기타 포럼 게시물</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
