---
title: Trust &ndash; Systemstatus
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="sv">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="F&ouml;rtroende f&ouml;r ArcGIS Online" href="/sv/trust/">F&ouml;rtroende</a></li>
        <li class='current'><a title="Systemstatus f&ouml;r ArcGIS Online" href="/sv/trust/system-status/">Systemstatus</a></li>
        <li><a title="S&auml;kerhet f&ouml;r ArcGIS Online" href="/sv/trust/security/">S&auml;kerhet</a></li>		
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/privacy/">Sekretess</a></li>
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/compliance/">Efterlevnad</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Fel: Det gick inte att visa inb&auml;ddade data.</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard inneh&aring;ller statusinformation som har konstaterats p&aring;verka majoriteten av v&aring;ra anv&auml;ndare. Eftersom ArcGIS Online &auml;r en stor, molnbaserad plattform har m&aring;nga h&auml;ndelser liten eller ingen effekt p&aring; v&aring;r bredare anv&auml;ndarbas. P&aring; den h&auml;r statussidan visas inga organisationsspecifika problem, eftersom vi g&auml;rna vill att dessa ska l&ouml;sas med v&aring;ra tillg&auml;ngliga supporttj&auml;nster.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
