---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/appstudio/">AppStudio for ArcGIS (Desktop Edition)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ro/appstudio/">Prima pagină</a></li>
        <li><a href="/ro/appstudio/create-apps/">Creare de aplicaţii</a></li>
       <!-- <li><a href="/ro/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/ro/appstudio/extend-apps/">Extindere aplicaţii</a></li>
		<!-- <li><a href="https://earlyadopter.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li> -->
		<li><a href="/ro/appstudio/community/">Comunitate</a></li>
        <li><a href="/ro/appstudio/download/">Descărcare</a></li>		
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS este un instrument inovator care converteşte hărţile în aplicaţii mobile aspectuoase pentru Mac, iOS, Android, Windows şi Linux.</h3>
  
	<a href="http://doc.arcgis.com/ro/appstudio/download/" class="btn primary icon-storage">Descărcaţi versiunea Desktop</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>Realizaţi mai multe într-un timp mai scurt</h3>
          <p>De la idee la magazinul de aplicaţii în mai puţin de 20 minute. </p>		  
		           
          <p>
            <a href="/ro/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>Testare şi implementare</h3>
		  <p>Implementaţi şi securizaţi propriile aplicaţii în cadrul organizaţiei dvs.</p>
	       
          <p>
            <a href="/ro/appstudio/create-apps/guidedtour.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>

		<div class="clear"></div>

        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Dezvoltare pe mai multe platforme</h3>
		  <p>Creaţi o aplicaţie şi implementaţi-o pe formate şi platforme multiple, inclusiv Android, iOS, Windows, Mac şi Linux.</p>
	      
          <p>
            <a href="/ro/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>Aplicaţii pentru public şi organizaţii</h3>
		  <p>Publicaţi propriile aplicaţii de marcă în magazinele de aplicaţii Google Play, Apple şi Microsoft.</p>
	      
          <p>
            <a href="/ro/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">Caracteristici</h2>
		
		   <ul><li>Creaţi cu uşurinţă aplicaţii </li>
		       <li>Utilizaţi şabloanele configurabile de aplicaţii incluse.</li>
			   <li>Executaţi aplicaţiile dvs. pe orice dispozitiv.</li>
			   <li>Profitaţi de investiţiile în ArcGIS prin reutilizarea hărţilor web, instrumentelor de hartă şi serviciilor de obiecte spaţiale.</li>
			   <li>Utilizaţi instrumentele de productivitate pentru platforme multiple destinate dezvoltatorilor.</li>
			   <li>Simplificaţi implementarea şi actualizările.</li>
			   <li>Implementaţi un mediu de testare pentru verificarea aplicaţiilor în timpul dezvoltării.</li>
			   <li>Distribuiţi fişierele de instalare manual sau publicaţi-le într-un magazin intern sau public.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">Cerinţele de sistem</h2>
		
          <p>Pentru executarea AppStudio for ArcGIS şi Player există anumite <!--and browser-->cerinţe de sistem, dar şi cerinţe în privinţa datelor utilizate în cadrul aplicaţiei.</p>
          <p>	

          <h3>Cerinţe pentru date</h3>
          <p>Pentru a vă utiliza hărţile în AppStudio, trebuie să aveţi un cont ArcGIS de organizaţie. Hărţile dvs. pot include date din ArcGIS Online, Portal for ArcGIS şi ArcGIS for Server.</p>
          <p>		  
		
          <h3>Cerinţe pentru dispozitiv</h3>
          <p>Sunt acceptate următoarele sisteme de operare (cu versiunile minime):</p>
          <p>
          <!-- <h4>AppStudio for ArcGIS in a browser</h4>
        <ul>
          <li>Chrome</li>
		  <li>Firefox</li>
          <li>IE 10</li>
          <li>Safari 7</li>
        </ul> -->		  	  
          <h4>AppStudio for ArcGIS pe desktop</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>Limbi acceptate</h3> 
        <p>arabă, cehă, chineză simplificată, coreeană, daneză, ebraică, engleză, estoniană, finlandeză, franceză, germană, greacă, italiană, japoneză, letonă, lituaniană, norvegiană, olandeză, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă, suedeză, thailandeză, turcă şi vietnameză.</p>
        <p>Limba utilizată de AppStudio for ArcGIS şi AppStudio Player este determinată de setarea pentru limbă din dispozitivul dvs.</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio acceptă ArcGIS Runtime SDK 10.2.7 pentru Qt.</p>


        <p>Împărtăşiţi-vă <a href="http://ideas.arcgis.com/">ideile</a> şi <a href="http://support.esri.com/en/">trimiteţi-ne părerile dvs</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Sunteţi utilizator nou de AppStudio?</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png"> Vizionaţi un tur video</a></h4>
		  <h4><a href="http://video.arcgis.com/series/232/appstudio-for-arcgis">Răsfoire materiale video</a></h4> 		  
          <h4><a href="#features">Obiecte spaţiale</a></h4>
          <h4><a href="#systemrequirements">Cerinţele de sistem</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">Mai multe postări de pe blog</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
