---
title: Esri Maps for Office
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">ホーム</a></li>
        <li><a href="/en/maps-for-office/help/">ヘルプ</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリケーションのダウンロード</h2>
          <span id="appVersion"><strong>バージョン: </strong>2.1</span> <span id="appReleased"><strong>公開時期:</strong></span> <span id="appReleased">2013 年 7 月</span>


          <p>Esri Maps for Office を使用すると、Excel データから動的で対話的なマップを作成し、まったく新しい方法でデータを調べることができます。Esri Maps for Office では、表形式のデータや図表ではわからなかったパターンや傾向を明らかにすることができます。マップは、PowerPoint プレゼンテーションを使用してすぐに共有したり、Esri のマッピング クラウドである ArcGIS Online に 1 クリックで公開したりすることができます。</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Esri Maps for Office の取得</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>スプレッドシートのマッピング </h3>
          <p>Esri Maps for Office を使用して Excel データをマッピングする方法について説明します。動的な色分け、ポイント、クラスタ化されたポイント、およびヒート マップを直接 Excel に作成して、データに関する視覚的なアイディアを簡単に得ることができます。</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>データへの情報付加</h3>
          <p>Esri の豊富なデータ コレクションを利用して、ビジネス データに付加価値を与えることができます。人口統計とライフスタイル データを直接 Excel スプレッドシートに追加して、重要な場所に関する情報をさらに多く得ることができます。ポップアップ インフォグラフィックスを使用してリアルタイムで簡単に場所を調べることができます。</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>システム要件</h2>

        <p>Esri Maps for Office を使用するには、<a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> 組織サイトに所属しているアカウントと、Microsoft Office Excel/PowerPoint 2010 または Microsoft Office Excel/PowerPoint 2013 が必要です。サポートされているオペレーティング システムは次のとおりです。</p>
		<ul>
		 <li>Windows XP（SP3）（32 ビット）</li>
		 <li>Windows 7（32 ビットおよび 64 ビット）</li>
		 <li>Windows 8（32 ビットおよび 64 ビット）</li>
		 <li>Windows Server 2003（SP2）および MSXML 6.0（32 ビット版 Office のみ）</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>必要なプロセッサ速度、メモリ、およびハード ディスク スペースなどの詳細については、<a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> および <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a> のシステム要件をご参照ください。</p>



        <h3>サポートが予定されている言語</h3>
        <p>アラビア語、英語、中国語、フランス語、ドイツ語、イタリア語、日本語、スペイン語、ポルトガル（ブラジル）語、およびロシア語</p>





        <a name="whatsNew"></a>
        <h2>新機能</h2>
        <p>Esri Maps for Office バージョン 2.1 は、2013 年 7 月にリリースされました。機能強化された点は次のとおりです。</p>
        <ul>
        <li>[ホット スポット] ツールを使用した統計的パターン解析</li>
		<li>データ コレクションの追加などを含むデータへの情報付加機能の強化、およびデータ コレクションから変数を個別に選択する機能</li>
		<li>OAuth+SAML を使用する際に、セキュリティ保護されたサイン インをサポート（AGOL）</li>
        <li>IWA および PKI を使用する際に、セキュリティ保護されたサイン インをサポート</li>
		<li>インフォグラフィックスおよび [レイヤへの情報付加] ツールのユーザ インタフェースを改善</li>
		<li>Maps for Office を最新バージョンにアップグレードする際のワークフローを改善</li>
        </ul>


        <h3>以前のバージョン</h3>
        <p>バージョン 2.0.2 は、2013 年 5 月にリリースされました。機能強化された点は次のとおりです。</p>
        <ul>
          <li>新しい [レイヤへの情報付加] ツールを使用した、データへの地理情報の付加</li>
		  <li>マップ上でのフィーチャの選択および他のレイヤ内での近接フィーチャの検索 </li>
		  <li>マップのポップアップに、マップ内のフィーチャの周辺エリアに関する各種コンテキスト情報を提供するインフォグラフィックスを追加</li>
		  <li>Portal for ArcGIS 10.2 でのプレビューをサポート</li>
		  <li>ヒート マップおよびクラスタリングに新しい構成オプションを追加</li>
		  <li>マップ凡例のクラス閾値をクリックして、マップでグループ化されたフィーチャをフィルタリングする機能を追加</li>
		  <li>住所をジオコーディングする際のワークフローを改善</li>
		  <li>ArcGIS Online 組織サイトからベースマップ ギャラリーをカスタマイズ可能</li>
		  <li>[マップの挿入] ツールを使用する際、ArcGIS Online 組織サイトのデフォルトのベースマップを使用</li>
		  <li>資産、ビジネス、政策、保健などの人気の高いカテゴリを使用して ArcGIS Online のデータ内を検索</li>
		  <li>場所名は、データの場所に基づくようになりました。たとえば、ジオコーディング ワークフローのラベルには、日本の県、米国の州、およびカナダの州が表示されます。</li>
		  <li>Microsoft Office 2013 をサポート</li>
		  <li>その他品質、操作性、およびカートグラフィックの機能強化</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>はじめに</h3>
          <ul>
           <li><a href="#whatsNew">新機能</a></li>
            <li><a href="#systemRequirements">システム要件</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">ビデオを見る</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
