---
title: ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2015-10-30"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/ja/maps-for-office/">ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/ja/maps-for-office/">ホーム</a></li>
        <li><a href="/ja/maps-for-office/install-and-configure/">インストールと構成</a></li>
        <li><a href="/ja/maps-for-office/design-and-use/">マップのデザインと使用</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~tag%5B_office%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">アプリのダウンロード</h2>
        <span id="appVersion"><strong>バージョン:</strong> 4.0</span> <span id="appReleased"><strong>公開時期:</strong> 2016 年度春</span>

          <p>位置情報を活用した分析で作業の生産性を高めます。Microsoft Office でまったく新しい分析を実現させます。新たな洞察の結果も合わせて、より多くの情報をもとにして迅速な意思決定を行うことができます。Excel スプレッドシートおよび PowerPoint プレゼンテーションに簡単にマップを追加できます。</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">ArcGIS Maps for Office の取得</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>Excel データのマッピング</h3>
			<p>Excel のスプレッドシート データから対話的なマップを作成することができます。色分け、ポイント、クラスター化されたポイント、およびヒート マップを数クリックで作成して、データから地理的な視点を把握することができます。</p>
			<p>&gt; <a href="/ja/maps-for-office/design-and-use/add-a-map-to-excel.htm">詳細を見る</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>操作可能なマップの PowerPoint への追加</h3>
			<p>ArcGIS 組織サイトからマップを PowerPoint に追加して、マップを自由に操作しながら効果的な発表を行うことができます。</p>
			<p>&gt; <a href="/ja/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">詳細を見る</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>スプレッドシートへの情報付加</h3>
			<p>ArcGIS の人口統計とライフスタイル データを直接 Excel スプレッドシートに追加して、重要な場所に関する情報をさらに多く得ることができます。ポップアップからインフォグラフィックスを使用して、その場で選択した場所の周辺地域の特徴を調べることができます。</p>
			<p>&gt; <a href="/ja/maps-for-office/design-and-use/enrich-your-data.htm">詳細を見る</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>Excel からのマップの共有</h3>
			<p>ArcGIS Online または Portal for ArcGIS を使用してマップを共有したり、メール、PowerPoint プレゼンテーション、または Word ドキュメントにマップを挿入したりできます。</p>
			<p>&gt; <a href="/ja/maps-for-office/design-and-use/share-a-map-on-arcgis.htm">詳細を見る</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>新機能</h2>	
	<p>&gt; ArcGIS Maps for Office の機能に関するご意見をお待ちしています。お客様のご意見を <a href="http://ideas.arcgis.com/ideaList?c=09a300000004xET&category=Esri+Maps+for+Office" target="_blank">ArcGIS Ideas</a> サイトにお寄せください。</p>
 	<p>ArcGIS Maps for Office 4.0 が公開されました。このリリースは、重要な更新と拡張機能を提供します。以下では、主な新機能について説明します。</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<h3>4.0 の更新内容</h3>
		<p>ArcGIS Maps for Office 4.0 には以下の新機能が追加されています。
			<ul>
				<li><b><a href="/ja/maps-for-office/design-and-use/change-a-layer-s-style.htm">スマート マッピング</a>を使用した見栄えの良いマップの迅速な作成</b>
					<p>マップの操作に習熟しているユーザーだけでなく、使い始めたばかりのユーザーでも、説明したい内容を視覚的に伝えることができる魅力的なマップを簡単に作成できるようになりました。ArcGIS Maps for Office は、スプレッドシート内のデータを解析し、スタイルの選択肢を提供して、マップでの最適な表示方法を提示します。スタイルを選択してマップを即座に作成したり、内容に合わせてスタイル設定のオプションでカスタマイズすることができます。スマート マッピングは、要望が高かった、レイヤーの数値分類を手動で設定する機能も提供します。</p>
				</li>
				<li><b>時間経過に関する位置情報のパターンを探索できる、<a href="/ja/maps-for-office/design-and-use/map-temporal-data.htm">タイム アニメーション</a>機能</b>
					<p>時系列値がデータに含まれている場合、時間対応レイヤーを Excel のマップに追加し、データのパターンが時間の経過に伴ってどのように変化するかを表示するアニメーションを実行できます。この機能は、ArcGIS プラットフォーム上の時間対応レイヤーもサポートしているため、データ内の時間ベースのパターンを、組織サイト内やアメリカ海洋大気庁 (NOAA) など信頼性の高いソースの類似したパターンと比較できます。</p>
				</li>
				<li><b>プレゼンの効果を向上させる、<a href="/ja/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">PowerPoint</a> 上での操作の刷新</b>
					<p>PowerPoint のプレゼンテーション効果を高める操作可能なマップを追加する際に行うコンテンツ検索を容易にするなど、ArcGIS Maps for Office の操作性は大幅に向上しました。ArcGIS 組織サイトのコンテンツを使用して PowerPoint にマップを直接追加したり、既存のマップ スライドを編集します。マップをスライドに挿入し、必要に応じて単独で配置したり、チャート、画像、テキストなど、その他標準の PowerPoint 機能と組み合わせて使用できます。スライド ショー モードでは、マップをズームおよび移動したり、フィーチャを選択して詳細情報を表示できます。これにより、プレゼンテーション中でのマップに関する質問にすぐに答えることができます。</p>
				<li><b>重要な行に注目できる、<a href="/ja/maps-for-office/design-and-use/select-features.htm#ESRI_SECTION1_53FF2A6DECC04ED4A5AAED1BDDBC9515">マップ上での選択によるフィルタリング機能</a></b>
					<p>これまでも、スプレッドシートはセル値によってフィルタリングできました。ArcGIS Maps for Office では、マップ上のアイテムを選択することでスプレッドシートをフィルタリングして、操作中のフィーチャに即座に焦点を当てることができるようになりました。スプレッドシートをフィルタリングして選択したフィーチャのみを表示してから、標準の Excel 関数を使用して必要なデータを操作できます。</p>
				</li>
				<li><b>変化するデータを追跡できる、<a href="/ja/maps-for-office/design-and-use/set-refresh-interval.htm">更新間隔の設定機能</a></b>
					<p>ArcGIS から追加された静的なレイヤーを使用すると、建物、道路、境界線などの移動しないオブジェクトを視覚化できます。ArcGIS Maps for Office では、嵐、車両、現場作業のステータスのような移動、変化、発展する事象を追跡できるようになりました。更新間隔機能を使用すると、レイヤーを更新する頻度を指定できます。また、ボタンをクリックして、レイヤーを即座に更新することもできます。</p>
				</li>
			</ul>
		</p>
	


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>サポートされている環境</h2>
		<p>ArcGIS Maps for Office は、Microsoft Excel および Microsoft PowerPoint へのアドオンとして配置されます。ArcGIS Maps for Office が適切に動作するために、Esri はこれらのアプリケーションの運用構成を想定しています。Esri では、Microsoft Excel または PowerPoint でサポート対象と認定されたソフトウェア環境のみで ArcGIS Maps for Office をテストしていますが、すべての Excel または PowerPoint のサポート環境でテストまたは認定を行っているわけではありません。詳細については、「<a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Esri がサポートする環境ポリシー</a>」をご参照ください。</p>
		
		<p><b>注意:</b> Microsoft Word を使用すると、ドキュメント内に Excel スプレッドシートを埋め込んで操作できます。このワークフローは ArcGIS Maps for Office でサポートされていないため、推奨しません。</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">システム要件</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office を使用するには、ArcGIS 組織サイトに所属しているアカウントと、Microsoft Office Excel または PowerPoint (Microsoft Office 2010、2013、2016) が必要です。</p>
			<p>必要なプロセッサ速度、メモリ、およびハード ディスク スペースなどの詳細については、以下のシステム要件をご参照ください。
			<ul>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li><a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">必要なソフトウェア</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office には、<a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a> 組織サイトのサブスクリプションまたはオンプレミスの Portal for ArcGIS の配置が必要です。ArcGIS 管理者によってプラットフォームへのアクセスに使用される認証方式が正しく構成されていることが前提になります。</p>

			<p>さらに、以下のソフトウェアをシステムにインストールして構成する必要があります。</p>
				<ul>
					<li>Microsoft Office 2010、2013、2016*</br>
						* ArcGIS Maps for Office は、Microsoft Office 2016 のバージョン 16.0.4266.1003 以前をサポートしています。
					</li>
					<li>Internet Explorer 9、10、11*</li>
					<li>Microsoft Windows サポートされているバージョン:
						<ul>
							<li>Windows 7 (32 ビットおよび 64 ビット)</li>
							<li>Windows 8 (32 ビットおよび 64 ビット)</li>
							<li>Windows 8.1 (32 ビットおよび 64 ビット)</li>
							<li>Windows 10 (32 ビットおよび 64 ビット)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
				</ul>
			<p>**ArcGIS Maps for Office は、Web ブラウザー内で JavaScript を使用してマップを表示します。Microsoft Excel を使用して Web コンテンツを表示するには Internet Explorer (IE) の使用が必須であるため、別のブラウザーを使用することはできません。アプリ内部の機能で IE9 以降を使用する必要があるため、これよりも前のバージョンはサポートされていません。</p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">サポートされている言語</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office は次の言語で使用できます。</p>
			<p>アラビア語、中国語 (簡体字)、中国語 (繁体字香港)、中国語 (繁体字台湾)、チェコ語、デンマーク語、ドイツ語、ギリシャ語、英語、スペイン語、エストニア語、フィンランド語、フランス語、ヘブライ語、イタリア語、日本語、韓国語、リトアニア語、ラトビア語、オランダ語、ノルウェー語、ポーランド語、ポルトガル (ブラジル) 語、ポルトガル (ポルトガル) 語、ルーマニア語、ロシア語、スウェーデン語、タイ語、トルコ語、およびベトナム語。</p>
			
			<p>ArcGIS Maps for Office は、オペレーティング システムのカルチャ設定ではなく、[Excel のオプション] で指定された言語を使用します。サポートされていない言語を使用している場合、アプリは英語を使用します。</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
          <ul>
           <li><a href="#whatsNew">新機能</a></li>
            <li><a href="#supportedEnvironments">サポートされている環境</a></li>
			<li>以前のバージョンのヘルプ:
				<ul>
					<li><a href="/ja/maps-for-office/3.1/welcome.htm">ArcGIS Online 3.1 オンライン ヘルプ</a></li>
				</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">ビデオを見る</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
