---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2015-01-06"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="it">

dashboardDownloadLink: http://www.arcgis.com/opsdashboard/OperationsDashboard.application
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/operations-dashboard/">Home</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/author/create-a-map.htm">Modifica viste</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Usa viste</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Consente di monitorare attività ed eventi, tenere traccia degli addetti sul campo e valutare lo stato e le prestazioni delle operazioni giornaliere, insieme ai membri dell'organizzazione.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" id="dashboardDownloadLink" href="#">Scarica Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Creare e condividere una vista operazioni</h3>
          <p>In tre semplici passi è possibile creare e condividere viste operazioni che includono mappe, elenchi, grafici, indicatori di livello ed altro ancora sulla base dei dati geografici definiti in una mappa o un servizio Web.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorare e rispondere ad eventi</h3>
          <p>È possibile utilizzare la vista operazioni per focalizzare l'attenzione su aspetti dell'operazione di maggiore interesse. Consente di monitorare servizi, consegne, persone, veicoli ed altro, dovunque nel mondo, in quattro semplici passi.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
			<a title="Monitor and respond to events" href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Guardare il video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Controllare nel browser</h3>
          <p>È possibile utilizzare la vista operazioni in un browser. Non è richiesta alcuna installazione: basta aprire una vista operazioni per essere aggiornati sulle operazioni, persino dall'iPad.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Estende una vista operazioni</h3>
          <p>È possibile inserire la logica aziendale nella vista operazioni grazie a widget, azioni feature e strumenti mappa personalizzati. </p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/author/custom-addins.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Feature</h2>
	<p>È possibile riunire in un'unica visualizzazione comune tutti i sistemi e le risorse gestite emonitorare feed di dati in tempo reale per eventi su vasta scala o per le operazioni quotidiane sul computer desktop o dal tablet.È possibile creare dashboard esecutivi mirati che integrano mappe e grafici.</p>
	
	<ul>
	<li>Utilizzo di mappe con origini dati dinamiche per offrire visualizzazioni in tempo reale</li>
	<li>Configurazione di grafici, indicatori di livello, istogrammi ed altro ancora per offrire il contesto statistico</li>
	<li>Creazione e condivisione di viste operazioni focalizzate su un'esigenza specifica</li>
	<li>Progettazione di visualizzazioni per l\'uso su più monitor o dispositivi a singolo display</li>
	<li>Creazione di widget e strumenti personalizzati in base alle esigenze</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Requisiti di sistema</h2>

        <p>Operations Dashboard prevede requisiti specifici relativi ai dispositivi e ai dati utilizzati nell'applicazione. Operations Dashboard è disponibile in numerose lingue.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>App di Windows</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Sistemi operativi supportati</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional ed Home Premium (64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Requisiti hardware</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Velocità CPU: 2,2 GHz o superiore; consigliata tecnologia hyper-threading (HTT) o multicore.</li>
			<li>Processore: Intel Pentium 4, Intel Core Duo o Xeon; SSE2 minimo. Per verificare il proprio processore, eseguire l'utilità Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> dal prompt dei comandi Windows.</li>
			<li>Spazio su disco: 1,5 GB di spazio su disco disponibile.</li>
			<li>Memoria/RAM: 2 GB o superiore.</li>
			<li>Proprietà monitor: profondità colore a 24 bit.</li>
			<li>Risoluzione dello schermo: 1024 x 768 o superiore a dimensioni normali (96 dpi).</li>
			<li>Spazio di swapping: determinato dal sistema operativo; almeno 500 MB.</li>
			<li>Scheda video/grafica: minimo 64 MB di RAM, 256 MB di RAM consigliati; sono supportati chipset NVIDIA, ATI ed Intel. Driver per schede grafiche accelerate Almeno Shader Model 2.0 Assicurarsi di utilizzare la versione di driver più recente disponibile.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Requisiti software</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px">È necessario <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> o versione successiva. Per installarlo, è necessario disporre di privilegi amministrativi nel computer in uso.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Requisiti per gli sviluppatori</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px">Per personalizzare Operations Dashboard for ArcGIS, è necessario<a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> oppure <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.5 for WPF</a>. Per utilizzare ArcGIS Runtime SDK for WPF, è inoltre necessario Microsoft Visual Studio 2012 oppure 2013 Professional, Premium oppure Ultimate.</p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Lingue supportate</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">Arabo, Ceco, Cinese semplificato, Coreano, Danese, Ebraico, Estone, Finlandese, Francese, Greco, Inglese, Italiano, Giapponese, Lettone, Lituano, Norvegese, Olandese, Polacco, Portoghese (Brasile), Portoghese (Portogallo), Rumeno, Russo, Spagnolo, Svedese, Tailandese, Tedesco, Turco e Vietnamita.</p>
     	<p style="padding:0 15px">La lingua utilizzata nella versione Windows dell'applicazione dipende dalla lingua impostata nel sistema operativo. Se si utilizza un'impostazione di lingua non supportata, per l'app verrà utilizzato l'inglese.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>App di tipo browser</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Browser supportati</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Desktop
 <ul style="padding:0 15px">
 <li>Chrome 19.0 e versioni successive</li>
 <li>Firefox 4.0 e versioni successive</li>
 <li>Internet Explorer 9.0 e versioni successive</li>
 <li>Safari 5.1 e versioni successive</li>
 </ul> 
 Tablet 
 <ul style="padding:0 15px">
 <li>Android 4.0 e versioni successive con Chrome 19.0 e versioni successive</li>
 <li>iOS 6.0 e versioni successive con Safari in esecuzione</li>
 </ul>
 Telefono 
 <p style="padding:0 15px">Al momento non sono supportati i browser per smartphone.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp12');" style="display:inline;">Requisiti per gli sviluppatori</a>
 <div exp12='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Per personalizzare Operations Dashboard for ArcGIS, è necessario <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Lingue supportate</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Arabo, Ceco, Cinese semplificato, Cinese tradizionale, Coreano, Danese, Ebraico, Estone, Finlandese, Francese, Greco, Inglese, Italiano, Giapponese, Lettone, Lituano, Norvegese, Olandese, Polacco, Portoghese (Brasile), Portoghese (Portogallo), Rumeno, Russo, Spagnolo, Svedese, Tailandese, Tedesco, Turco e Vietnamita.</p>
      	<p style="padding:0 15px">Nella versione browser la lingua è quella impostata nel profilo di ArcGIS Online. Se si utilizza un'impostazione di lingua non supportata, per l'app verrà utilizzato l'inglese.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Requisiti per i dati</h3>
		<p>Per utilizzare le mappe in Operations Dashboard, è necessario disporre di un account aziendale ArcGIS. Le mappe possono includere dati di ArcGIS Online, Portal for ArcGIS ed ArcGIS for Server. Le origini dati devono essere ospitate su ArcGIS Online o su ArcGIS 10.1 for Server o versioni successive.</p>
		<p>Se condivisa pubblicamente, una vista operazioni può essere aperta nell'app browser senza effettuare l'accesso.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novità</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>La versione di Operations Dashboard for ArcGIS 10.3.1, rilasciata a luglio 2015. Include quanto segue:</p>
	        <ul>
	          <li>Estensibile con ArcGIS API for JavaScript</li>
	          <li>Localizzazione in vietnamita e greco</li>
                  <li>Conforme agli standard Federal Information Processing Standard (FIPS)</li>
	          <li>Correzioni di diversi bug e miglioramenti, tra cui NIM104511</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Browser</h4>
	        <p>L'app browser per Operations Dashboard for ArcGIS è stata aggiornata nel mese di luglio 2015. include i seguenti miglioramenti:</p>
	        <ul>
	          <li>Estensibile con ArcGIS API for JavaScript</li>
                  <li>Supporto per tema scuro</li>
                  <li>Supporto per suggerimenti sullo strumento mappe di ricerca località</li>
                  <li>Unità di misura predefinita basata sul profilo utente</li>
	          <li>Localizzato in Cinese tradizionale</li>
	          <li>Correzioni di diversi bug e miglioramenti, tra cui BUG-000085800, BUG-000086399, BUG-000085999, BUG-000086586 e NIM101460</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">In anteprima</h2>
	<p>Operations Dashboard è un'app straordinaria per il monitoraggio delle operazioni. Ma a breve includerà altre funzionalità, tra cui quelle descritte in dettaglio nella seguente tabella per i vari dispositivi:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Funzionalità per piattaforma <br/>
	  <span class="icon-check" style="color:black"></span> disponibile, <span class="icon-check icon-green"/> disponibile a breve, <span class="icon-check" style="color:lightgray"></span> disponibile più avanti<br/></caption>
	  <tr><td></td>
	    <th>Desktop Windows</th>
	    <th>Browser</th>
	  </tr>
	  <tr><th>Creazione di viste operazioni</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Utilizzare viste operazioni</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Viste operazioni per schermi singoli</span></td>
	  </tr>
	  <tr><th>Utilizzo di Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 oppure versioni successive</span></td>
	  </tr>
	  <tr><th>Estensibile</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Supportato in ArcGIS Online</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Estensibile con ArcGIS API for JavaScript</span><br/><span style="font-size:12px">* Supportato in ArcGIS Online</span></td>
	  </tr>
	  <tr><th>Utilizzo di map service come origini dati</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>Ricerca di dati</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtro delle informazioni in base ai dati spaziali</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>Supporto di tabelle Standalone come origini dati</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Attualmente come origini dati esterne</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Attualmente come origini dati esterne</span></td>
	  </tr>
	  <tr><th>Supporto delle tabelle correlate</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Vista 3D</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Gestione degli addetti</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Vi invitiamo a condividere le vostre <a href="http://ideas.arcgis.com/">idee</a>, ed <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">inviarci commenti e suggerimenti</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Dettagli</h3>
          
	  <h4><a href="#features">Funzionalità</a></h4>
	  <h4><a href="#systemRequirements">Requisiti di sistema</a></h4>
	  <h4><a href="#whatsNew">Novità</a></h4>
	  <h4><a href="#sneakPeek">In anteprima</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
$("#dashboardDownloadLink").click(function (){
	window.location = "<%=data.page.dashboardDownloadLink%>";
})

  </script>
