---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2014-1-15"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/operations-dashboard/">Home</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/author/create-a-map.htm">Modifica viste</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Usa viste</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Consente di monitorare attività ed eventi, tenere traccia degli addetti sul campo e valutare lo stato e le prestazioni delle operazioni giornaliere, insieme ai membri dell'organizzazione.</h3>
          
          <!--           <span id="appVersion"><strong>Version:</strong> 10.2.2</span>           <span id="appReleased"><strong>Released:</strong> March 2014</span> 	  -->	  

          <p>
            <a class="btn primary icon-windows-8" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Scarica Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Creare e condividere una vista operazioni</h3>
          <p>In tre semplici passi è possibile creare e condividere viste operazioni che includono mappe, elenchi, grafici, indicatori di livello e altro ancora sulla base dei dati geografici definiti in una mappa o un servizio Web.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorare e rispondere a eventi</h3>
          <p>È possibile utilizzare la vista operazioni per focalizzare l'attenzione su aspetti dell'operazione di maggiore interesse. Consente di monitorare servizi, consegne, persone, veicoli e altro, dovunque nel mondo, in quattro semplici passi.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br /> <!--<a href="http://resources.arcgis.com/it/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp; Guarda il video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Controllare nel browser</h3>
          <p>È possibile utilizzare la vista operazioni in un browser. Non è richiesta alcuna installazione: basta aprire una vista operazioni per essere aggiornati sulle operazioni, persino dall'iPad.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br /> <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Sviluppare componenti aggiuntivi</h3>
          <p>È possibile inserire la logica aziendale nella vista operazioni grazie a widget, azioni feature e strumenti mappa personalizzati. </p>
          <p>
            <a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Funzionalità</h2>
	<p>È possibile riunire in un'unica visualizzazione comune tutti i sistemi e le risorse gestite e monitorare feed di dati in tempo reale per eventi su vasta scala o per le operazioni quotidiane sul computer desktop o dal tablet. È possibile creare dashboard esecutivi mirati che integrano mappe e grafici.</p>
	
	<ul>
	<li>Utilizzo di mappe con origini dati dinamiche per offrire visualizzazioni in tempo reale</li>
	<li>Configurazione di grafici, indicatori di livello, istogrammi e altro ancora per offrire il contesto statistico</li>
	<li>Creazione e condivisione di viste operative focalizzate su un'esigenza specifica</li>
	<li>Progettazione di visualizzazioni per l'uso su più monitor o dispositivi a singolo display</li>
	<li>Creazione di widget e strumenti personalizzati in base alle esigenze</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Requisiti di sistema</h2>

        <p>Operations Dashboard prevede requisiti specifici relativi ai dispositivi e ai dati utilizzati nell'applicazione. Operations Dashboard è disponibile in numerose lingue.</p>


        <h3>Sistemi operativi supportati</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (32 bit e 64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (32 bit e 64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional, e Home Premium (32 bit e 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (32 bit e 64 bit [EM64T]) SP2</li>
        </ul>


        <h3>Requisiti hardware</h3>
        <ul>
			<li>Velocità CPU: 2,2 GHz o superiore; consigliata tecnologia hyper-threading (HTT) o multicore</li>
			<li>Processore: Intel Pentium 4, Core Duo o Xeon; almeno SSE2 Per verificare il proprio processore, eseguire l'utilità Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> dal prompt dei comandi Windows.</li>
			<li>Spazio su disco: 1,5 GB di spazio su disco disponibile</li>
			<li>Memoria/RAM: almeno 2 GB</li>
			<li>Proprietà monitor: profondità colore a 24 bit</li>
			<li>Risoluzione dello schermo: 1024 x 768 o superiore a dimensioni normali (96 dpi)</li>
			<li>Spazio di swapping: determinato dal sistema operativo; almeno 500 MB</li>
			<li>Scheda video/grafica: almeno 64 MB di RAM; consigliati 256 MB di RAM; supportati chipset NVIDIA, ATI e INTEL Driver per schede grafiche accelerate Almeno Shader Model 2.0 Assicurarsi di utilizzare la versione di driver più recente disponibile.</li>
		</ul>


        <h3>Requisiti software</h3>
        <p>È richiesto <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a>. Per installarlo, è necessario disporre di privilegi amministrativi nel computer in uso.</p>

        <h3>Requisiti per i dati</h3>
		<p>Per utilizzare le mappe in Operations Dashboard, è necessario disporre di un account aziendale ArcGIS. Le mappe possono includere dati di ArcGIS Online, Portal for ArcGIS e ArcGIS for Server. Le origini dati devono essere ospitate su ArcGIS Online o su ArcGIS 10.1 for Server o versioni successive.</p>

		<h3>Requisiti per gli sviluppatori</h3>
		<p>Per personalizzare Operations Dashboard for ArcGIS, è necessario <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.2 for WPF</a>.</p>

	<h3>Lingue supportate</h3>
	<p>arabo (<span class="icon-windows-8"/>), ceco, cinese semplificato, coreano, danese, ebraico (<span class="icon-windows-8"/>), estone, finlandese, francese, giapponese, italiano, lettone, lituano, norvegese, olandese, polacco, portoghese (Brasile), portoghese (Portogallo), rumeno, russo, spagnolo, svedese, tedesco e turco.</p>
	<p>La lingua utilizzata nella versione Windows dell'applicazione dipende dalla lingua impostata nel sistema operativo. Nella versione browser la lingua è quella impostata nel profilo di ArcGIS Online.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novità</h2>
        <p>La versione 10.2.2 di Operations Dashboard for ArcGIS, rilasciata a marzo 2014, include i seguenti miglioramenti:</p>
        <ul>
        <li>Possibilità di utilizzare le viste operazioni in un browser</li>
        <li>Possibilità di utilizzare i map service come origini dati</li>
        <li>Rispetto degli intervalli di aggiornamento impostati sui layer</li>
        <li>Nuovi strumenti di selezione</li>
        <li>Aggiornamenti del widget elenco</li>
        <li>Utilizzo di ArcGIS Runtime SDK 10.2.2 for WPF</li>
        <li>Sviluppo di componenti aggiuntivi con ArcGIS Runtime SDK 10.2.2 for WPF</li>
        <li>Versione localizzata in turco</li>
        </ul>
        
        <a name="sneakPeek"></a>
	<h2 class="divider">In anteprima</h2>
	<p>Operations Dashboard è una straordinaria applicazione per il monitoraggio delle operazioni. Ma a breve includerà altre funzionalità, tra cui quelle descritte di seguito in dettaglio per i vari dispositivi:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Funzionalità previste per piattaforma <br/> <span class="icon-check" style="color:black"></span> disponibile, <span class="icon-check icon-green"/> disponibile a breve, <span class="icon-check" style="color:lightgray"></span> disponibile più avanti<br/></caption>
	  <tr><td></td>
	    <th>Desktop Windows</th>
	    <th>Browser</th>
	  </tr>
	  <tr><th>Creazione di viste operazioni</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Utilizzo di viste operazioni</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Viste operazioni per schermi singoli</span></td>
	  </tr>
	  <tr><th>Utilizzo di Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Estensibile</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Utilizzo di map service come origini dati</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Ricerca di dati</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtro delle informazioni in base ai dati spaziali</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th> 	    <td><span class="icon-check" style="color:lightgray"/></td> 	    <td><span class="icon-check" style="color:lightgray"/></td> 	  </tr>-->
	  <tr><th>Utilizzo avanzato dei dati non spaziali (incluse le tabelle correlate)</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Vista 3D</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Gestione degli addetti</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Vi invitiamo a condividere le vostre <a href="http://ideas.arcgis.com/">idee</a>, e <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">inviarci commenti e suggerimenti</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Dettagli</h3>
          
	  <h4><a href="#features">Funzionalità</a></h4>
	  <h4><a href="#systemRequirements">Requisiti di sistema</a></h4>
	  <h4><a href="#whatsNew">Novità</a></h4>
	  <h4><a href="#sneakPeek">In anteprima</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
