---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/operations-dashboard/">Home</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/author/create-a-map.htm">Modifica viste</a></li>
        <li><a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Usa viste</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Scarica l'applicazione</h2>
          <span id="appVersion"><strong>Versione:</strong> 10.2</span> <span id="appReleased"><strong>Data di rilascio:</strong> novembre 2013</span>

          <p>Consente di monitorare attività ed eventi, tenere traccia degli addetti sul campo e valutare lo stato e le prestazioni delle operazioni giornaliere, insieme ai membri dell'organizzazione.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Scarica Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisiti di sistema</a> <a id="appWhatsNew" href="#whatsNew">Novità</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/it/operations-dashboard/dashboard-create-small.png" />

          <h3>Creare e condividere una vista operazioni</h3>
          <p>In tre semplici passi è possibile creare e condividere viste operazioni che includono mappe, elenchi, grafici, indicatori di livello e altro ancora sulla base dei dati geografici definiti in una mappa o un servizio Web.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/it/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorare e rispondere a eventi</h3>
          <p>È possibile utilizzare la vista operazioni per focalizzare l'attenzione su aspetti dell'operazione di maggiore interesse. Consente di monitorare servizi, consegne, persone, veicoli e altro, dovunque nel mondo, in quattro semplici passi.</p>
          <p>
            <a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br /> <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Guarda il video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisiti di sistema</h2>

        <p>Operations Dashboard prevede requisiti specifici relativi ai dispositivi e ai dati utilizzati nell'applicazione. Operations Dashboard è disponibile in numerose lingue.</p>


        <h3>Sistemi operativi supportati</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (32 bit e 64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (32 bit e 64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional, e Home Premium (32 bit e 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (32 bit e 64 bit [EM64T]) SP2</li>
        </ul>


        <h3>Requisiti hardware</h3>
        <ul>
			<li>Velocità CPU: 2,2 GHz o superiore; consigliata tecnologia hyper-threading (HTT) o multicore</li>
			<li>Processore: Intel Pentium 4, Core Duo o Xeon; almeno SSE2 Per verificare il proprio processore, eseguire questa utilità Microsoft dal prompt dei comandi Windows.</li>
			<li>Spazio su disco: 1,5 GB di spazio su disco disponibile</li>
			<li>Memoria/RAM: almeno 2 GB</li>
			<li>Proprietà monitor: profondità colore a 24 bit</li>
			<li>Risoluzione dello schermo: 1024 x 768 o superiore a dimensioni normali (96 dpi)</li>
			<li>Spazio di swapping: determinato dal sistema operativo; almeno 500 MB</li>
			<li>Scheda video/grafica: almeno 64 MB di RAM; consigliati 256 MB di RAM; supportati chipset NVIDIA, ATI e INTEL Driver per schede grafiche accelerate Almeno Shader Model 2.0 Assicurarsi di utilizzare la versione di driver più recente disponibile.</li>
		</ul>


        <h3>Requisiti software</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> È richiesto. Per installarlo, è necessario disporre di privilegi amministrativi nel computer in uso.</p>

        <h3>Requisiti per i dati</h3>
		<p>Per utilizzare le mappe in Operations Dashboard, è necessario disporre di un account aziendale ArcGIS. Le mappe possono includere dati di ArcGIS Online, Portal for ArcGIS e ArcGIS for Server. Le origini dati devono essere ospitate su ArcGIS Online o su ArcGIS 10.1 for Server o versioni successive.</p>

		<h3>Requisiti per gli sviluppatori</h3>
		<p>Per personalizzare Operations Dashboard for ArcGIS, è necessario <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a>.</p>

	<h3>Lingue supportate</h3>
	<p>arabo, ceco, cinese semplificato, coreano, danese, ebraico, estone, finlandese, francese, giapponese, italiano, lettone, lituano, norvegese, olandese, polacco, portoghese (Brasile), portoghese (Portogallo), rumeno, russo, spagnolo, svedese e tedesco.</p>
	<p>La lingua utilizzata nell'applicazione dipende dalla lingua impostata nel sistema operativo.</p>

        <a name="whatsNew"></a>
        <h2>Novità</h2>
        <p>La versione 10.2 di Operations Dashboard for ArcGIS, rilasciata a novembre 2013, include i seguenti miglioramenti:</p>
        <ul>
        <li>Supporto per account di accesso aziendali</li>
        <li>Supporto per Portal for ArcGIS</li>
        <li>Widget avanzati di tipo indicatore di livello ed elenco</li>
        <li>Immagini e grafici disponibili nelle finestre popup</li>
        <li>Supporto proxy migliorato</li>
        <li>Supporto per l'ora locale</li>
        <li>Filtro migliorato per ora e date</li>
        <li>Utilizzo di ArcGIS Runtime SDK 10.2 for WPF</li>
        <li>Sviluppo di componenti aggiuntivi con ArcGIS Runtime SDK 10.2 for WPF</li>
        <li>Localizzazione in arabo, ceco, cinese semplificato, coreano, danese, ebraico, estone, finlandese, francese, giapponese, italiano, lettone, lituano, norvegese, olandese, polacco, portoghese (Brasile), portoghese (Portogallo), rumeno, russo, spagnolo, svedese e tedesco.</li>
        </ul>
      
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introduzione</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Installare il prodotto</a></li>
            <li><a href="/it/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Creare e condividere una vista operazioni</a></li>
            <li><a href="/it/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Monitorare attività ed eventi e intervenire</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Sviluppare componenti aggiuntivi</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
