---
title: Ajutor ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ro">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/arcgis-online/">Ajutorul ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Ajutorul ArcGIS Online" href="/ro/arcgis-online/">Pagina principală</a></li>
        <li><a title="Utilizarea hărţilor şi scenelor" href="/ro/arcgis-online/use-maps/">Utilizare</a></li>
        <li><a title="Crearea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/create-maps/">Creare</a></li>
        <li><a title="Partajarea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/share-maps/">Share</a></li>
        <li><a title="Administrarea organizaţiei" href="/ro/arcgis-online/administer/">Administrare</a></li>
        <li><a title="Referinţă" href="/ro/arcgis-online/reference/">Referinţă</a></li>
        <li><a title="Aplicaţii pentru toată lumea" href="/ro/arcgis-online/apps/arcgis-apps.htm">Aplicaţii</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="ro" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Hărţi, scene, analize, aplicaţii, colaborare—le puteţi realiza pe toate cu ArcGIS Online.</p>
	
	<p> Sunteţi un utilizator ArcGIS nou? Începeţi prin crearea primei dvs. hărţi, scene, aplicaţii sau grup. Când sunteţi pregătiţi să aflaţi mai multe, încercaţi o lecţie sau exploraţi subiectele populare. Sunteţi <a href="/ro/arcgis-online/administer/admin-org.htm">administratorul</a> unei organizaţii? Aflaţi cum puteţi folosi rolurile particularizate, setările de siguranţă şi configuraţiile flexibile.
	</p> 
	<p>Nu uitaţi să verificaţi ultimele noutăţi pe <a href="#blog"> blogul</a> nostru şi din <a href="#community">comunitate</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/ro/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/ro/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/ro/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/ro/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Ce este nou</h3>
        <p>Actualizarea din luna iunie 2016 include pagini de elemente îmbunătăţite, opţiuni noi de vizualizare a orei, asistenţă pentru straturile tematice de reţea integrate şi multe altele.
        </p>
			<!--<a href="/ro/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/ro/arcgis-online/reference/whats-new.htm" class="btn secondary">Aflaţi mai multe</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Creaţi prima(primul) dumneavoastră</h2>
      <div class="make-first">
        <a href="/ro/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Hartă</h2></a>
        <a href="/ro/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Scenă</h2></a>
        <a href="/ro/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">Aplicaţie</h2></a>
        <a href="/ro/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Grup</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Consultaţi subiectele populare:</h4></li>
        <li><a href="/ro/arcgis-online/reference/faq.htm">Întrebări frecvente</a></li>
		<li><a href="/ro/arcgis-online/share-maps/add-items.htm">Adăugarea elementelor</a></li>
        <li><a href="/ro/arcgis-online/use-maps/perform-analysis.htm">Efectuarea analizelor</a></li>
		<li><a href="/ro/arcgis-online/share-maps/publish-features.htm">Publicarea de obiecte spaţiale</a></li>
		<li><a href="/ro/arcgis-online/administer/view-status.htm">Vizualizare stare</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Urmaţi o lecţie
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Mai multe lecţii <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Noţiuni de bază despre ArcGIS Online</a></h3>
          <p>
 Însuşiţi-vă noţiuni de bază despre creare hărţilor online.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Analiză demografică şi cartografiere inteligentă</a></h3>
          <p>
            Localizaţi copiii care trăiesc în sărăcie cu ajutorul analizei demografice, al cartografierii inteligente şi o aplicaţie web.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Planificaţi rute</a></h3>
          <p>
           Ajutaţi patru reprezentanţi medicali să inspecteze 36 de restaurante în districtul San Diego.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Analiză spaţială</a></h3>
          <p>
            Găsiţi cele mai bune zone pentru un nou proiect imobiliar rezidenţial mixt.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Citiţi blogul nostru
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Mai multe postări pe blog <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Alăturaţi-vă discuţiei
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Mai multe discuţii <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Găsiţi cursuri de instruire</a></h4>
      <p class="no-trailer">
        Căutaţi cursuri de instruire Esri pentru a învăţa mai mult.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Vizionaţi videoclipurile</a></h4>
      <p class="no-trailer">
        Vizualizaţi un set de videoclipuri referitoare la ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Solicitaţi asistenţă tehnică</a></h4>
      <p class="no-trailer">
        Contactaţi Asistenţa prin chat, e-mail sau telefon.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Verificaţi sănătatea sistemului</a></h4>
      <p class="no-trailer">
        Verificaţi starea ArcGIS Online şi raportaţi probleme.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
