---
title: Ajutor ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Ajutorul ArcGIS Online</h1>
        </div>
        <div class="leader-1 text-right">
          <p> <a href="http://www.arcgis.com/features/free-trial.html"> <button class="btn margin-left-1 btn-clear">Evaluare gratuită 60 de zile</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="Ajutorul ArcGIS Online" href="/ro/arcgis-online/">Pagina principală</a>
        <a class="sub-nav-link" title="Noţiuni de bază despre ArcGIS Online" href="/ro/arcgis-online/get-started/">Noțiuni de bază</a>
			  <a class="sub-nav-link" title="Crearea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/create-maps/">Creare</a>
        <a class="sub-nav-link" title="Efectuarea analizelor" href="/ro/arcgis-online/analyze/">Analiză</a>
			  <a class="sub-nav-link" title="Partajarea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/share-maps/">Partajare</a>
			  <a class="sub-nav-link" title="Administraraţi organizaţia" href="/ro/arcgis-online/administer/">Administrare</a>
			  <a class="sub-nav-link" title="Referinţă" href="/ro/arcgis-online/reference/">Referinţă</a>
			  <a class="sub-nav-link" title="Aplicaţii pentru toată lumea" href="/ro/arcgis-online/apps/arcgis-apps.htm">Aplicații</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Creaţi hărţi care contează în câteva minute</h1>
      <h5> ArcGIS Online oferă un sistem de informaţii al lumii, complet şi bazat pe sistem cloud pentru lucrul cu informaţii geografice.</h5>
      <h5>Începeţi să utilizaţi ArcGIS Online acum. <a href="http://www.arcgis.com/features/free-trial.html" >Autentificaţi-vă pentru o evaluare gratuită a ArcGIS.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="Căutare în Ajutorul ArcGIS Online">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="ro" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Actualizare curentă:</strong> decembrie 2016</li>
        <li><a href="/ro/arcgis-online/reference/whats-new.htm">Ce este nou</a></li>
	      <li><a href="/ro/arcgis-online/reference/faq.htm">Întrebări frecvente</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Începeţi
        <a class="btn btn-transparent text-white btn-large right" href="/ro/arcgis-online/get-started/online-quick-exercises.htm">Exerciţii suplimentare</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm">Crearea unei hărţi</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minute</p>-
            <p class="trailer-0 text-off-black">Creaţi o hartă web ca parte a unei investigaţii ale spitalelor din Clark County, Nevada.</p>
          </div>
          <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">
              <img alt="" src="img/create-an-app.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">Creare aplicaţie web</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 oră</p>
            <p class="trailer-0 text-off-black">Creaţi o aplicaţie web pentru alunecările de teren din Oso, statul Washington.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Mergeţi la aplicaţia de vizualizare 3D a scenelor</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 oră şi 20 de minute</p>
            <p class="trailer-0 text-off-black">Creaţi o scenă 3D care indică plajele şi golfurile din Florida.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
              <img alt="" src="img/track-crime-rates.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Monitorizaţi rata infracţionalităţii</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">40 minute</p>
            <p class="trailer-0 text-off-black">Creaţi o hartă de densitate a infracţionalităţii pentru Lincoln, Nebraska.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">
              <img alt="" src="img/get-started-with-collector.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">Configurarea unei hărţi colectoare</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">30 de minute</p>
            <p class="trailer-0 text-off-black">Creaţi o hartă pentru a o utiliza împreună cu Collector pentru ArcGIS pentru colectarea datelor despre evaluarea daunelor.</p>
          </div>
          <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Configuraţi o organizaţie ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minute</p>
            <p class="trailer-0 text-off-black">Configuraţi site-ul pentru o nouă organizaţie ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
        <div class="row">
          <h2>&nbsp;</h2>
          <h2 class="text-center">Ce puteţi face cu ArcGIS Online?</h2>
        </div>
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-maps text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Produceţi hărţi</h3>
              <p class="trailer-half">
                Aflaţi mai multe despre rolul hărţilor la împărtăşirea GIS cu utilizatorii dvs.
              </p>
              <ul class="bulleted trailer-0">
                <li>
                  <a href="/ro/arcgis-online/get-started/get-started-with-maps.htm">Noţiuni de bază despre crearea hărţilor</a>
                </li>
                <li>
                  <a href="/ro/arcgis-online/share-maps/share-maps.htm">Partajarea hărţilor</a>
                </li>
                <li>
                  <a href="/ro/arcgis-online/get-started/view-maps.htm">Vizualizarea hărţilor în aplicaţia de vizualizare a hărţilor</a>
                </li>
                <li>
                  <a href="//storymaps.arcgis.com/">Utilizaţi hărţi informative pentru a relata povestea dvs.</a>
                </li>
                <li>
                  <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">Învăţaţi cum se utilizează cartografierea inteligentă în trei paşi simpli</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-globe text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Lucraţi cu GIS 3D</h3>
                <p class="trailer-half">
                  Dobândiţi o nouă perspectivă vizualizând informaţiile dvs. în 3D. Utilizaţi capabilităţile GIS 3D pentru a vă adresa unor probleme care nu pot fi rezolvate într-un context 2D.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ro/arcgis-online/get-started/get-started-with-scenes.htm">Noţiuni de bază despre crearea scenelor</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/get-started/view-scenes.htm">Vizualizarea scenelor în aplicaţia de vizualizare a scenelor</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-3d">Acces la scene 3D gata de utilizare în Atlasul actualizat</a>
                  </li>
                  <li>
                    <a href="/ro/drone2map/quick-start-exercises/3d-mapping.htm">Utilizaţi Drone2Map pentru ArcGIS pentru a genera straturi tematice 3D</a>
                  </li>
                </ul>

            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Efectuarea analizelor</h3>
                <p class="trailer-half">
                   Combinaţi informaţii din straturi tematice multiple şi aplicaţi operaţiuni spaţiale pentru a vă adresa unei game mari de probleme. Exploraţi şi vizualizaţi rezultatele dvs. pentru a lua decizii şi pentru a dobândi o înţelegere mai bună.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ro/arcgis-online/get-started/get-started-with-analysis.htm">Noţiuni de bază despre analiză</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/analyze/perform-analysis.htm">Efectuare analiză cu hărţi</a>
                  </li>
                  <li>
                    <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Exploraţi sărăcia la copii cu ajutorul analizei demografice, al cartografierii inteligente şi o aplicaţie web.</a>
                  </li>
				  <li>
                    <a href="/ro/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">Răspundeţi întrebărilor de ordin spaţial cu cartografierea inteligentă</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-layers text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Accesare Atlas actualizat</h3>
                <p class="trailer-half">
                  Începeţi în GIS cu Atlasul global actualizat , o colecţe globală, curatoriată, a celor mai bune hărţi, aplicaţii şi date disponibile de la utilizatori ArcGIS şi Esri şi partenerii acesteia.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="http://links.esri.com/agol-help/living-atlas">Accesare Atlas actualizat</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-storymap">Exploraţi Atlasul actualizat prin intermediul unei hărţi informative</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Răsfoiţi straturile tematice ale Atlasului actualizat pentru a le adăuga în harta dvs.</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">Adăugaţi conţinut din atlasul actualizat în scena dvs.</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/get-started/quick-exercise-explore-data.htm">Utilizaţi o hartă din Atlasul actualizat pentru a identifica modele spaţiale</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-collection text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Administrare date</h3>
                <p class="trailer-half">
                  Faceţi ca datele dvs. să prindă viaţă. Împărtăşiţi obiecte spaţiale şi altele publicând straturi tematice care pot fi utilizate şi de alţii în hărţile şi scenele lor. Activaţi editarea pentru a strânge feedack din comunitate.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ro/arcgis-online/share-maps/hosted-web-layers.htm">Publicaţi obiecte spaţiale, segmente tile şi altele, sub formă de straturi tematice</a></li>
                  <li>
                    <a href="/ro/arcgis-online/create-maps/edit-features.htm">Editare obiecte spaţiale</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/create-maps/take-maps-offline.htm">Utilizarea hărţilor offline</a>
                  </li>
                  <li>
                    <a href="/ro/arcgis-online/reference/best-practices-layers.htm">Învâţaţi cele mai bune practici pentru utilizarea straturilor tematice în hărţi</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-share text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Partajaţi lucrările</h3>
                <p class="trailer-half">
                  Împărtăşiţi obiectele cu informaţii geografice bogate pentru a ajunge la utilizatorii dvs. Utilizaţi informaţiile dvs. valoroase oferind acces prin intermediul numeroaselor aplicaţii şi hărţi informative.
                </p>
                <ul class="bulleted trailer-0">
                  <li><a href="/ro/arcgis-online/get-started/get-started-with-sharing.htm">Noţiuni de bază despre partajare</a></li>
                  <li><a href="//storymaps.arcgis.com/en/">Utilizaţi aplicaţii pentru a împărtăşi povestea</a></li>
                  <li><a href="/ro/arcgis-online/reference/best-practices-share.htm">Învăţaţi cele mai bune practici la partajare</a></li>
                  <li><a href="/ro/arcgis-online/reference/ogc.htm">Partajaţi datele prin intermediul standardelor publice</a></li>
				  <li><a href="http://opendata.arcgis.com/">Partajare conţinut cu grupuri Open Data pentru ArcGIS</a></li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-applications text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Utilizaţi aplicaţii</h3>
              <p class="trailer-half">
                Aplicaţiile ArcGIS sunt insterfeţe şi instrumente concentrate pentru hărţile, scenele şi datele dvs. ArcGIS Online este livrat împreună cu zeci de aplicaţii care vă ajută organizaţia să termine treaba.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="//www.esri.com/software/apps/field">Verificaţi aplicaţiile pentru teren</a></li>
                <li><a href="//www.esri.com/software/apps/office">Verificaţi aplicaţiile pentru birou</a></li>
                <li><a href="//www.esri.com/software/apps/community">Verificaţi aplicaţiile pentru comunitate</a></li>
                <li><a href="//www.esri.com/software/apps/builders">Construiţi propriile aplicaţii</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-search text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Descoperiţi şi administraţi obiecte</h3>
              <p class="trailer-half">
                ArcGIS Online vă oferă acces la date GIS globale care pot fi căutate cum ar fi, o gamă largă de hărţi, scene, straturi tematice, analize şi aplicaţii la care a contribuit comunitatea GIS, organizaţia dvs., şi dvs. Aceste obiecte sunt organizate în galerii de informaţii astfel încât puteţi descoperi conţinutul relevant pentru lucrul dvs. cu rapiditate.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/ro/arcgis-online/reference/geo-info.htm">Verificaţi modelul de informaţii ArcGIS</a></li>
                <li><a href="/ro/arcgis-online/share-maps/add-items.htm">Adăugaţi obiectele dvs. în ArcGIS Online</a></li>
                <li><a href="/ro/arcgis-online/get-started/get-started-with-groups.htm">Utilizaţi grupurile pentru partajarea informaţiilor</a></li>
                <li><a href="//links.esri.com/agol-help/living-atlas">Găsiţi hărţi şi altele în Atlasul actualizat</a></li>
                <li><a href="/ro/arcgis-online/reference/search.htm">Descoperiţi obiecte în ArcGIS Online</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Administraţi organizaţia</h3>
              <p class="trailer-half">
                ArcGIS Online include tot ceea ce aveţi nevoie pentru a administra organizaţia dvs., de la configurarea rolurilor personalizate şi a setărilor de siguranţă până la administrarea licenţelor şi vizualizarea rapoartelor de utilizare.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/ro/arcgis-online/administer/get-started-with-administration.htm">Noţiuni de bază despre administrare</a></li>
                <li><a href="//links.esri.com/agol-help/administering-platform">Învâţaţi cele mai bune practici şi resurse pentru administratori</a></li>
                <li><a href="/ro/arcgis-online/reference/roles.htm">Înţelegeţi rolurile nivelurile şi privilegiile</a></li>
                <li><a href="/ro/arcgis-online/reference/credits.htm">Înţelegerea creditelor</a></li>
                <li><a href="/ro/trust/security/security-overview.htm">Verificaţi securitatea ArcGIS</a></li>
                <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">Răsfoiţi instrumentele suplimentare de administrator</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Obţineţi mai multe din ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Vizionaţi videoclipurile noastre
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">Mai multe videoclipuri</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Conectare cu ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Citiţi blogul nostru
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Mai multe postări pe blog</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Alăturaţi-vă discuţiei
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Mai multe discuţii</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Deschideţi o carte
        <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">Mai multe cărţi</a>
      </h2>
      <div class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">Manualul ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Înţelegeţi şi utilizaţi GIS web pentru a crea hărţi şi aplicaţii, partaja conţinut cu alţi utilizatori şi găsi informaţii geografice. Accesaţi site-ul web, descărcaţi PDF-ul interactiv gratuit sau cumpăraţi ediţia tipărită.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Citiţi acum</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">Ghid de instrucţiuni pentru Manualul ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Obţineţi activităţi, resurse, cursuri şi date în legătură cu ArcGIS Online şi GIS web. Disponibil ca ediţie tipărită.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">Cumpăraţi acum</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=308&moduleID=0">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">Manualul cu imagini ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Exploraţi modul în care imaginile şi detecţia de la distanţă stau la baza GIS-ului modern. Accesaţi site-ul web, descărcaţi PDF-ul interactiv gratuit sau cumpăraţi ediţia tipărită.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Citiţi acum</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="http://links.esri.com/agol-help/learn/agol">Urmaţi un curs aprofundat</a></h5>
          <p class="trailer-0">
            Căutaţi în Learn ArcGIS pentru a găsi şi a efectua exerciţii care rezolvă probleme reale cu ajutorul ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main/arcgis-online-training">Găsiţi cursuri de instruire</a></h5>
          <p class="trailer-0">
            Aflaţi mai multe despre ArcGIS prin intermediul cursurilor predate de un instructor, cursurilor web şi seminarelor.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">Solicitaţi asistenţă tehnică</a></h5>
          <p class="trailer-0">
            Contactaţi Asistenţa Esri prin chat, e-mail sau telefon.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">Verificaţi sănătatea sistemului</a></h5>
          <p class="trailer-0">
             Verificaţi starea ArcGIS Online şi raportaţi probleme.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
