---
title: Ajutorul ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Ajutorul ArcGIS Online</h1>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/arcgis-online/" selected>Pagina principală</option>
        <option value="/en/arcgis-online/get-started/">Noțiuni de bază</option>
        <option value="/en/arcgis-online/create-maps/">Creare</option>
        <option value="/en/arcgis-online/analyze/">Analiză</option>
        <option value="/en/arcgis-online/share-maps/">Partajare</option>
        <option value="/en/arcgis-online/administer/">Administrare</option>
        <option value="/en/arcgis-online/reference/">Referinţă</option>
        <option value="/en/arcgis-online/apps/arcgis-apps.htm">Aplicaţii</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link  is-active" title="Ajutorul ArcGIS Online" href="/ro/arcgis-online/">Pagina principală</a>
        <a class="sub-nav-link" title="Noţiuni de bază despre ArcGIS Online" href="/ro/arcgis-online/get-started/">Noțiuni de bază</a>
        <a class="sub-nav-link" title="Crearea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/create-maps/">Creare</a>
        <a class="sub-nav-link" title="Efectuarea analizelor" href="/ro/arcgis-online/analyze/">Analiză</a>
        <a class="sub-nav-link" title="Partajarea hărţilor, scenelor şi aplicaţiilor" href="/ro/arcgis-online/share-maps/">Partajare</a>
        <a class="sub-nav-link" title="Administraţi organizaţia" href="/ro/arcgis-online/administer/">Administrare</a>
        <a class="sub-nav-link" title="Referinţă" href="/ro/arcgis-online/reference/">Referinţă</a>
        <a class="sub-nav-link" title="Aplicaţii pentru toată lumea" href="/ro/arcgis-online/apps/arcgis-apps.htm">Aplicații</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Creaţi hărţi care contează în câteva minute</h1>
      <h5> ArcGIS Online oferă un sistem de informaţii al lumii, complet şi bazat pe sistem cloud pentru lucrul cu informaţii geografice.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Căutare în Ajutorul ArcGIS Online">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="ro" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Actualizare curentă:</strong> iunie 2017</li>
        <li><a href="/ro/arcgis-online/reference/whats-new.htm">Ce este nou</a></li>
        <li><a href="/ro/arcgis-online/reference/faq.htm">Întrebări frecvente</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Începeţi <a class="btn btn-transparent text-white btn-large right" href="/ro/arcgis-online/get-started/online-quick-exercises.htm">Exerciţii suplimentare</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half" style="clear:right;">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="/en/arcgis-online/img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm">Crearea unei hărţi</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minute</p>
            <p class="trailer-0 text-off-black">Creaţi o hartă web pentru a investiga spitalele.</p>
          </div>
          <a href="/ro/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ro/arcgis-online/get-started/quick-exercise-scenes.htm">
              <img alt="" src="/en/arcgis-online/img/create-a-scene.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ro/arcgis-online/get-started/quick-exercise-scenes.htm">Crearea unei scene</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minute</p>
            <p class="trailer-0 text-off-black">Creaţi o scenă 3D a arborilor urbani.</p>
          </div>
          <a href="/ro/arcgis-online/get-started/quick-exercise-scenes.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ro/arcgis-online/get-started/quick-exercise-apps.htm">
              <img alt="" src="/en/arcgis-online/img/create-an-app.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ro/arcgis-online/get-started/quick-exercise-apps.htm">Crearea unei aplicaţii</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minute</p>
            <p class="trailer-0 text-off-black">Creaţi o aplicaţie web pentru a partaja propunerea sitului firmei.</p>
          </div>
          <a href="/ro/arcgis-online/get-started/quick-exercise-apps.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ro/arcgis-online/get-started/quick-exercise-analysis.htm">
              <img alt="" src="/en/arcgis-online/img/solve-spatial-problem.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ro/arcgis-online/get-started/quick-exercise-analysis.htm">Rezolvarea unei probleme spaţiale</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">25 minute</p>
            <p class="trailer-0 text-off-black">Utilizaţi instrumente de analiză pentru a identifica campingurile din apropierea unei buruieni invazive.</p>
          </div>
          <a href="/ro/arcgis-online/get-started/quick-exercise-analysis.htm" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="/en/arcgis-online/img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Configuraţi o organizaţie ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minute</p>
            <p class="trailer-0 text-off-black">Configuraţi o organizaţie ArcGIS nouă.</p>

          </div>
          <a href="https://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">
              <img alt="" src="/en/arcgis-online/img/get-started-with-arcgis-maps-for-office.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">Cartografiaţi datele din foile de calcul</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minute</p>
            <p class="trailer-0 text-off-black">Utilizaţi ArcGIS Maps pentru Office pentru a găsi clienţii potenţiali din apropierea unui salon nou.</p>

          </div>
          <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/" class="btn btn-clear btn-fill leader-0">Începeţi exerciţiul</a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
      <div class="row">
        <h2>&nbsp;</h2>
        <h2 class="text-center">Ce puteţi face cu ArcGIS Online?</h2>
      </div>
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-maps text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Crearea hărţilor</h3>
			<p class="trailer-half">
               Combinaţi datele geografice, vizualizaţi modelele şi partajaţi activitatea dvs. în hărţi.
            </p>
            <ul class="bulleted trailer-0"><li>
                <a href="/ro/arcgis-online/get-started/get-started-with-maps.htm">Aflaţi cum puteţi crea hărţi</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-online/lessons/create-a-map.htm">Crearea unei hărţi</a>
              </li>
              <li>
                <a href="https://arcg.is/2grlohl">Hartă inteligentă în 3 paşi</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/how-to-smart-map">Citiţi sfaturile privind cartografierea inteligentă</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-globe text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Lucraţi cu 3D</h3>
			<p class="trailer-half">Dobândiţi o nouă perspectivă vizualizând informaţiile în 3D.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ro/arcgis-online/get-started/get-started-with-scenes.htm">Aflaţi cum puteţi crea scene</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/lessons/create-a-scene.htm">Crearea unei scene</a>
              </li>
              <li>
                <a href="https://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/lessons/create-an-app.htm">Crearea unei aplicaţii 3D</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/publish-3d-data">Publicarea datelor 3D</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Efectuarea analizelor</h3>
			<p class="trailer-half">Executaţi instrumentele uşor de folosit pentru a soluţiona problemele spaţiale.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ro/arcgis-online/get-started/get-started-with-analysis.htm">Aflaţi cum puteţi efectua analize</a>
              </li>
              <li>
                <a href="https://links.esri.com/agol-help/blog/add-demographics">Îmbogăţirea datelor</a>
              </li>
			  <li> <a href="https://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Înţelegerea locurilor</a>
              </li> <li>
                <a href="https://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Detectarea modelelor</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-layers text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Accesare Living Atlas</h3>
			<p class="trailer-half">Descoperiţi Living Atlas of the World, o colecţie globală de resurse GIS gestionată de Esri.</p>

            <ul class="bulleted trailer-0">
              <li> <a href="/ro/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Aflaţi cum puteţi cartografia straturile tematice din Living Atlas</a> </li>
                <li><a href="https://links.esri.com/agol/help/living-atlas/story-map">Răsfoirea Living Atlas Story Map</a></li>
              <li><a href="https://learn.arcgis.com/en/projects/depict-land-use-change-with-time-enabled-apps/">Afişarea modificărilor de utilizare a terenurilor cu ajutorul imaginilor Living Atlas</a>
              </li>
			  <li><a href="https://livingatlas.arcgis.com/en/participate/#join">Contribuţie la Living Atlas</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-collection text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Administrare date</h3>
			<p class="trailer-half">Organizaţi, editaţi şi partajaţi datele dvs.</p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ro/arcgis-online/share-maps/hosted-web-layers.htm">Aflaţi cum puteţi publica date precum straturile tematice web</a></li>
              <li>
                <a href="/ro/arcgis-online/share-maps/manage-hosted-feature-layers.htm">Aflaţi cum puteţi gestiona datele dvs.</a>
              </li>
				<li><a href="https://links.esri.com/agol-help/blog/tile-layers">Citiţi sfaturile privind straturile optimizate</a>
              </li> <li>
				<a href="https://arcg.is/2maRSRl">Partajarea vizualizărilor datelor dvs.</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-share text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Partajaţi lucrările</h3>
			<p class="trailer-half">Partajaţi hărţi, scene, straturi tematice şi aplicaţii în interiorul şi în exteriorul organizaţiei dvs.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ro/arcgis-online/get-started/get-started-with-sharing.htm">Aflaţi cum puteţi partaja elemente</a></li>
			  <li><a href="https://links.esri.com/agol-help/blog/embed-map">Încorporarea hărţii dvs. într-o pagină web</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/viral-apps/">Citiţi sfaturile cu privire la aplicaţiile web virale</a></li>
			  <li><a href="https://links.esri.com/agol-help/hub/open-data">Conectarea cetăţenilor la Open Data </a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-applications text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Utilizaţi aplicaţii</h3>
			<p class="trailer-half">Fiţi mai productivi cu ajutorul unor aplicaţii dedicate pentru toată lumea.</p>
            <ul class="bulleted trailer-0">
			<li><a href="/ro/arcgis-online/create-maps/choose-configurable-app.htm">Aflaţi cum puteţi selecta aplicaţia dvs.</a></li>
			<li><a href="https://learn.arcgis.com/en/projects/get-started-with-arcgis-online/lessons/make-an-app.htm">Transformaţi harta dvs. într-o aplicaţie</a></li>
			  <li><a href="https://storymaps.arcgis.com/en/gallery/#s=0&q=%22how%20to%22&md=storymaps-author:esri-general">Spuneţi poveşti mai bune cu ajutorul aplicaţiilor </a></li>
              <li><a href="https://links.esri.com/agol-help/lesson/field-apps">Scoateţi aplicaţiile pe teren</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-search text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Lucraţi cu conţinut</h3>
			<p class="trailer-half">Adăugaţi, descoperiţi şi gestionaţi o gamă largă de elemente geografice.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ro/arcgis-online/share-maps/add-items.htm">Aflaţi cum puteţi adăuga elemente</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/group-update-capability">Permiteţi colegilor să vă actualizeze elementele</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/arcade-parcels">Utilizaţi Arcade pentru a cartografia valorile parcelelor</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/scenes-in-story-maps">Adăugaţi 3D în Story Maps</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Administrarea organizaţiei</h3>
			<p class="trailer-half">Gestionaţi site-ul, membrii şi conţinutul cu ajutorul instrumentelor şi al altor resurse.</p>
            <ul class="bulleted trailer-0">
              <li><a href="/ro/arcgis-online/administer/get-started-with-administration.htm">Aflaţi cum puteţi administra organizaţia dvs.</a></li>
			  <li><a href="https://links.esri.com/agol-help/administering-platform">Utilizaţi o listă de verificare pentru gestionarea site-ului dvs.</a></li>
              <li><a href="https://links.esri.com/agol-help/blog/admin-tips">Citiţi sfaturi cu privire la configurarea site-ului</a></li>
              <li><a href="https://developers.arcgis.com/python/sample-notebooks/batch-creation-of-groups/">Automatizaţi crearea de grupuri</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Obţineţi mai multe din ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        <li><a href="https://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="https://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="https://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Vizionaţi videoclipurile noastre <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B">Mai multe videoclipuri</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div style="clear:right;" playlistid="PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Conectare cu ArcGIS Online</h4>
    <a aria-label="Conectaţi-vă la Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Conectaţi-vă la LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="Vizualizare proiecte GitHub" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Conectaţi-vă la Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Înscrieţi-vă în comunitate" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Trimiteţi-ne feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="trailer-0">Citiţi blogul nostru <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Mai multe postări pe blog</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group phone-block-group-1-up block-group-3-up blogHpFeed">
        <!-- Blog Content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="trailer-0">Alăturaţi-vă discuţiei <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Mai multe discuţii</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group phone-block-group-1-up block-group-3-up geonetFeed">
        <!-- Forum content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Books -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Deschideţi o carte
        <a class="btn btn-transparent text-white btn-large right" href="https://links.esri.com/book/arcgis-book-series">Mai multe cărţi</a>
      </h2>
      <div style="clear:right;" class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/arcgis-book">
              <img alt="" src="/en/arcgis-online/img/arcgis-book.png">
            </a>
          </figure>
         <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/arcgis-book">Manualul ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Înţelegeţi şi utilizaţi GIS web pentru a crea hărţi şi aplicaţii, partaja conţinut cu alţi utilizatori şi găsi informaţii geografice. </p>
          </div>
          <a href="https://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Exploraţi site-ul Web</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/instructional-guide">
              <img alt="" src="/en/arcgis-online/img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0 text-off-black">
              <strong>Ghid de instrucţiuni pentru Manualul ArcGIS</strong>
            </h5>
            <p class="trailer-0 text-off-black">Obţineţi activităţi, resurse, lecţii şi date suplimentare pentru studenţi şi profesori.</p>
            <p class="trailer-0 text-off-black leader-1"><strong>Urmează în toamna anului 2017</strong></p>
          </div>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/imagery">
              <img alt="" src="/en/arcgis-online/img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/imagery">Manualul cu imagini ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Exploraţi modul în care imaginile şi detecţia de la distanţă stau la baza GIS-ului modern. </p>
          </div>
          <a href="https://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Exploraţi site-ul Web</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="https://links.esri.com/book/imagery-instructional-guide">
              <img alt="" src="/en/arcgis-online/img/imagery-book-instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="https://links.esri.com/book/imagery-instructional-guide">Ghid de instrucţiuni pentru Manualul de imagistică ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Obţineţi activităţi, resurse, lecţii şi date suplimentare pentru studenţi şi profesori.</p>
          </div>
          <a href="https://links.esri.com/book/imagery-instructional-guide" class="btn btn-clear btn-fill leader-0">Descărcaţi exerciţii</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Learn links -->
<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://links.esri.com/agol-help/learn/agol">Urmaţi un curs aprofundat</a></h5>
          <p class="trailer-0">
 Căutaţi în Learn ArcGIS pentru a găsi şi a efectua exerciţii care rezolvă probleme reale cu ajutorul ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main/arcgis-online-training">Găsiţi cursuri de instruire</a></h5>
          <p class="trailer-0">
 Aflaţi mai multe despre ArcGIS prin intermediul cursurilor predate de un instructor, cursurilor web şi seminarelor.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Solicitaţi asistenţă tehnică</a></h5>
          <p class="trailer-0">
 Contactaţi Asistenţa Esri prin chat, e-mail sau telefon.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="/ro/trust/system-status/">Verificaţi sănătatea sistemului</a></h5>
          <p class="trailer-0">
 Verificaţi starea ArcGIS Online şi raportaţi probleme.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
