---
title: Zaufanie
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/Trust/">Zaufanie ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="Zaufanie us³ugi ArcGIS Online" href="/pl/trust/">Zaufanie</a></li>
        <li><a title="Stan systemu us³ugi ArcGIS Online" href="/pl/trust/system-status/">Stan systemu</a></li>
        <li><a title="Bezpieczeñstwo us³ugi ArcGIS Online" href="/pl/trust/security/">Bezpieczeñstwo</a></li>
        <li><a title="Us³uga ArcGIS Online &mdash; Prywatnoœæ" href="/pl/trust/privacy/">Prywatnoœæ</a></li>
        <li><a title="Us³uga ArcGIS Online &mdash; Prywatnoœæ" href="/pl/trust/compliance/">Zgodnoœæ</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">Us³uga ArcGIS Online to bezpieczny system zapewniaj¹cy kontrolowany dostêp</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Bezpieczeñstwo i&nbsp;prawa w³asnoœci do danych" />
	      <div style="padding-top:30px; text-align: center;">
      <a href="/pl/trust/system-status/" class="btn tertiary" style="width:75%;text-align:center; " >SprawdŸ stan systemu</a>
    </div>
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com jest witryn¹ zapewniaj¹c¹ informacje na temat bezpieczeñstwa, prywatnoœci i&nbsp;zgodnoœci. ZnajdŸ: </p>
      <ul>
        <li>Informacje dotycz¹ce dostêpnoœci us³ugi ArcGIS Online i&nbsp;wydajnoœci systemu, a&nbsp;tak¿e historii stanu</li>
        <li>Aktualizacje zabezpieczeñ i&nbsp;bie¿¹ce alerty</li>
        <li>Informacje dotycz¹ce bezpieczeñstwa produkt&oacute;w w&nbsp;us³udze ArcGIS Online</li>
        <li>Najlepsze praktyki w&nbsp;zakresie bezpieczeñstwa dla instytucji</li>
        <li>Informacje dotycz¹ce prywatnoœci i&nbsp;zgodnoœci</li>
      </ul>
      <p>Trust.ArcGIS.com, kt&oacute;ra powsta³a na bazie rozm&oacute;w z&nbsp;naszymi klientami. Co jeszcze powinno siê w&nbsp;niej znaleŸæ? Prosimy o&nbsp;umieszczanie wszelkich sugestii w&nbsp;witrynie <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>.</p>

	
 </div>

    <div class="clear"></div>
    <div class="" style="text-align:center; padding-top:75px;">
      <h4>&bdquo;Firma Esri zobowi¹zuje siê do zwiêkszania poziomu bezpieczeñstwa swojej platformy do tworzenia map i&nbsp;wzmacniania zaufania klient&oacute;w dziêki akredytacjom takim jak FISMA&rdquo;.</h4>
      <p>Michael Young, G³&oacute;wny Architekt Zabezpieczeñ, Esri</p>

    </div>
    <div style="text-align:center; padding-top:45px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">

    <br/> <!-- Blog Feed -->
        <div class="imgFrame block">
          <h3 class="icon-announcement">Alerty i&nbsp;og³oszenia &nbsp;&nbsp;<a id="rssIcon" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" title="Blog ArcGIS"><img src="img/rss.png" /></a></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <div style="text-align:right;">
		  <a class="btn transparent" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">Wyœwietl wszystkie alerty</a> 
		  </div>
        </div><br/>
		  		    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/pl/trust/security-concern/"> Zg³oœ problem zwi¹zany z&nbsp;bezpieczeñstwem</a>  </h4>
    </div>
    <br />

  </div>

 </div>

	<script src="/pl/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

