---
title: Zaufanie
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online — Zaufanie" href="/pl/trust/">Zaufanie</a></li>
        <li><a title="ArcGIS Online — Stan systemu" href="/pl/trust/system-status/">Stan systemu</a></li>
        <li><a title="ArcGIS Online — Bezpieczeństwo" href="/pl/trust/security/">Bezpieczeństwo</a></li>
        <li><a title="ArcGIS Online — Prywatność" href="/pl/trust/privacy/">Prywatność</a></li>
        <li><a title="ArcGIS Online — Prywatność" href="/pl/trust/compliance/">Zgodność</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">Serwis ArcGIS Online to bezpieczny system zapewniający kontrolowany dostęp</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Bezpieczeństwo i prawa własności do danych" />
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com jest witryną zapewniającą informacje na temat bezpieczeństwa, prywatności i zgodności. Oto co można w niej znaleźć: </p>
      <ul>
        <li>Informacje dotyczące dostępności usług w serwisie ArcGIS Online i wydajności systemu, a także historia stanu</li>
        <li>Aktualizacje zabezpieczeń i bieżące alerty</li>
        <li>Informacje dotyczące bezpieczeństwa produktów w serwisie ArcGIS Online</li>
        <li>Najlepsze praktyki w zakresie bezpieczeństwa dla instytucji</li>
        <li>Informacje dotyczące prywatności i zgodności</li>
      </ul>
      <p>Trust.ArcGIS.com to witryna inspirowana rozmowami z naszymi klientami. Co jeszcze powinno się w niej znaleźć? Prosimy o umieszczanie wszelkich sugestii w witrynie <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>.</p>
    </div>
    <div class="clear"></div>

    <div style="text-align:center; padding-top:150px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div>
      <a href="/pl/trust/system-status/" class="btn tertiary" style="width:100%;text-align:center;" >Sprawdź stan systemu</a>
    </div>
    <br/>
    <div class="imgFrame block">
      <h3 class="icon-announcement">Alerty i ogłoszenia</h3>

      <p>6 czerwca 2014 r. serwis ArcGIS Online otrzymał rządową autoryzację na działanie (ang. Authority to Operate, ATO) na poziomie Low zgodne z ustawą FISMA. Proces akredytacji FISMA gwarantuje, że serwis ArcGIS Online przeszedł przeprowadzaną przez niezależnego eksperta rygorystyczną kontrolę pod kątem zgodności z restrykcyjnymi wymogami dotyczącymi bezpieczeństwa zatwierdzonymi przez amerykański Narodowy Instytut Standaryzacji i Technologii (National Institute of Standards and Technology, NIST) w publikacji specjalnej 800-53. <a href="http://www.esri.com/esri-news/releases/14-2qtr/esri-mapping-platform-secured-for-federal-agencys-use">Czytaj dalej...</a></p>
    </div>
    <br />
    <div class="panel">
      <h4>”Firma Esri zobowiązuje się do zwiększania poziomu bezpieczeństwa swojej platformy do tworzenia map i wzmacniania zaufania klientów dzięki akredytacjom takim jak FISMA”.</h4>
      <p>Michael Young, Główny Architekt Zabezpieczeń, Esri</p>

    </div>
    <br/>
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/pl/trust/security-concern/"> Zgłoś problem związany z bezpieczeństwem</a>  </h4>
    </div>
  </div>

 </div>

  <!-- <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">     $(window).load(function() {       $('#blog').rssFeed({         url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',         max: 2,         layout: 0       });       });     </script>  -->
