---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-03-01"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="it"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/collector/">Home</a></li>
        <li><a href="/it/collector/android/create-maps/create-maps.htm">Creare mappe</a></li>
        <li><a href="/it/collector/android/collect-data/collect-tutorial.htm">Raccogliere dati</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">È possibile utilizzare lo smartphone o il tablet per raccogliere ed aggiornare dati sul campo, sia in modalità online che offline.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Creare e condividere una mappa</h3>
          <p>Anche gli addetti sul campo possono utilizzare le funzionalità di ArcGIS, nonché migliorare la precisione e il livello di aggiornamento dei dati spaziali. Per creare e condividere mappe per la raccolta dati, bastano due semplici passi.</p>
          <p>
            <a href="/it/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Raccogliere dati</h3>
          <p>Consente di creare i dati che maggiormente interessano all'organizzazione, dalle segnalazioni dei dati alle richieste di assistenza, fino ai luoghi di interesse storico. È possibile includere facilmente immagini e video e condividere il proprio lavoro.</p>
          <p>
            <a href="/it/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />

			<a title="Raccogliere dati" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Guardare il video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Passare alla modalità offline</h3>
          <p>Quando si lavora sul campo, capita di operare in aree in cui non è disponibile una connessione dati. È possibile portare offline mappe e dati, raccogliere i dati e sincronizzarli una volta ristabilita la connessione.</p>
          <p>
            <a href="/it/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Iniziare subito con i modelli</h3>
          <p>Ogni settore utilizza dataset comuni. Grazie ai modelli scaricabili è possibile creare la struttura dati di base necessaria e personalizzarla per un lavoro specifico.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Visualizza download</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Funzionalità</h2>
	<p>Possibilità di raccogliere ed aggiornare dati sul campo, registrare la posizione corrente e rielaborare i dati acquisiti per prendere decisioni più informate e tempestive. Uso delle mappe ovunque per confrontare i dati con quelli sul campo, possibilità di fare osservazioni e rispondere tempestivamente agli eventi. Maggiore efficienza degli addetti sul campo e maggiore accuratezza del sistema GIS.</p>
	
	<ul>
	<li>Download nel dispositivo di mappe da utilizzare offline</li>
	<li>Utilizzo di GPS per creare ed aggiornare i dati della mappa</li>
	<li>Raccolta di feature di tipo punto, linea e area</li>
	<li>Compilazione di moduli di facile utilizzo basati sulla mappa</li>
	<li>Trovare luoghi e feature.</li>
	<li>Rilevazione e segnalazione delle aree visitate</li>	
	<li>Integrare con <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>).</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Requisiti di sistema</h2>

        <p>Collector prevede requisiti specifici relativi ai dispositivi ed ai dati utilizzati nell'app. Collector è disponibile in numerose lingue.</p>


        <h3>Requisiti per i dati</h3>
        <p>Per utilizzare le mappe in Collector, è necessario disporre di un account aziendale ArcGIS. Le mappe possono includere dati di ArcGIS Online, Portal for ArcGIS ed ArcGIS for Server.</p>


        <h3>Requisiti per i dispositivi</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) o versione successiva</li>
          <li>Processore ARMv7 o x86</li>
          <li>Supporto per OpenGL ES 2.0</li>
          <li>Supporto per la precisione della località (basata su GPS e rete)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 8 o versioni successive</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10 o versioni successive (tablet e PC)</li>
        </ul></td></tr>
        </table>


        <h3>Lingue supportate</h3>
        <p>Arabo, Ceco, Cinese semplificato, Cinese tradizionale (Hong Kong), Cinese tradizionale (Taiwan), Coreano, Danese, Ebraico, Estone (<span class="icon-android"/>, <span class="icon-windows-8"/>), Finlandese, Francese, Greco, Inglese, Italiano, Giapponese, Lettone (<span class="icon-android"/>, <span class="icon-windows-8"/>), Lituano (<span class="icon-android"/>, <span class="icon-windows-8"/>), Norvegese, Olandese, Polacco, Portoghese (Brasile), Portoghese (Portogallo), Rumeno, Russo, Spagnolo, Svedese, Tailandese, Tedesco, Turco e Vietnamita.</p>
        <p>La lingua utilizzata dall'app dipende dalla lingua impostata nel dispositivo.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novità</h2>
        <!--p>Collector for ArcGIS 10.3.7 was released on Windows in February 2016, and on Android and iOS in March 2016. It includes the following enhancements:</p>
        <ul>
	  <li>Support for advanced offline options to optimize download and sync</li>          
	  <li>Various bug fixes and improvements, including <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MjY2Mw==">BUG-000092663</a></li>
        </ul-->
        <table>
          <tr>
            <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
              <p>Collector for ArcGIS 10.3.8, rilasciato a marzo 2016, include i seguenti miglioramenti:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
              <p>Collector for ArcGIS 10.3.7, rilasciato a marzo 2016, include i seguenti miglioramenti:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-windows-8">Windows</h4>
              <p>Collector for ArcGIS 10.3.7, rilasciato a febbraio 2016. include i seguenti miglioramenti:</p>
            </td>
          </tr>
          <tr>
            <td valign="top"><ul>
              <li>Supporto per opzioni avanzate offline per ottimizzare il download e la sincronizzazione</li>          
              <li>Correzioni di diversi bug e miglioramenti, tra cui BUG-000092663</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Supporto per opzioni avanzate offline per ottimizzare il download e la sincronizzazione</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Supporto per opzioni avanzate offline per ottimizzare il download e la sincronizzazione</li>
            </ul></td>
          </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">In anteprima</h2>
	<p>Collector è un'app straordinaria per la raccolta e la modifica di dati sul campo. Ma a breve includerà altre funzionalità,
	
	<table><tr><td valign="top"><h4>Contenuti in fase di sviluppo</h4>
	<p>È corso l'aggiunta di queste funzionalità:</p>
	<ul>
		<li>Supporto per ricevitori GNSS esterni</li>
		<li>Supporto per Windows 10 Mobile</li>
		<li>Integrazione con <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>).</li>
	</ul>
	</td>
	<td valign="top"><h4>Pianificato</h4>
	<p>In futuro è prevista l'aggiunta delle funzionalità seguenti:</p>
	<ul>
		  <li>Moduli più intelligenti per la raccolta dati</li>
		  <li>Altri strumenti per la pianificazione delle operazioni sul campo</li>
		  <li>Raccolta di dati con offset</li>
		  <li>Integrazione di periferiche (telemetri laser, scanner di codici a barre e così via)</li>
	</ul>
	</td></tr></table>

	<p>Vi invitiamo a condividere le vostre <a href="http://ideas.arcgis.com/">idee</a>, ed <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">inviarci commenti e suggerimenti</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Dettagli</h3>
	          
	  <h4><a href="#features">Funzionalità</a></h4>
	  <h4><a href="#systemRequirements">Requisiti di sistema</a></h4>
	  <h4><a href="#whatsNew">Novità</a></h4>
	  <h4><a href="#sneakPeek">In anteprima</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
