---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Home</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Creare mappe</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Raccogliere dati</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Scarica l'applicazione</h2>
          <span id="appVersion"><strong>Versione:</strong> 10.2</span> <span id="appReleased"><strong>Data di rilascio:</strong> novembre 2013</span>


          <p>Consente di utilizzare lo smartphone per raccogliere e aggiornare dati sul campo, registrare la posizione corrente e rielaborare i dati acquisiti per prendere decisioni più informate e tempestive.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisiti di sistema</a> <a id="appWhatsNew" href="#whatsNew">Novità</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Creare e condividere una mappa</h3>
          <p>Consente anche agli addetti sul campo di utilizzare le funzionalità di ArcGIS, nonché di migliorare la precisione e la valuta dei dati spaziali. Per creare e condividere mappe per la raccolta dati, bastano due semplici passi.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow"> Mostrami come funziona</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Raccogliere dati</h3>
          <p>Ricerca dei luoghi di interesse, calcolo delle distanze, creazione delle richieste di assistenza e segnalazione dei dati sono solo alcune delle operazioni che è possibile eseguire con una mappa per la raccolta dati. È infatti possibile creare dati "intelligenti" che includono immagini e video e condividerli con tutti in cinque passi.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Guardare il video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisiti di sistema</h2>

        <p>Collector prevede requisiti specifici relativi ai dispositivi e ai dati utilizzati nell'applicazione. Collector è disponibile in numerose lingue.</p>


        <h3>Requisiti per i dati</h3>
        <p>Per utilizzare le mappe in Collector, è necessario disporre di un account aziendale ArcGIS. Le mappe possono includere dati di ArcGIS Online, Portal for ArcGIS e ArcGIS for Server.</p>


        <h3>Requisiti per i dispositivi</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>o versione successiva</li>
          <li>Processore Armv7</li>
          <li>Supporto per OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 o versioni successive</li>
        </ul></td><tr></table>


        <h3>Lingue supportate</h3>
        <p>arabo, ceco, cinese semplificato, coreano, danese, ebraico, estone (<span class="icon-android"/>), finlandese, francese, giapponese, inglese, italiano, lettone (<span class="icon-android"/>), lituano (<span class="icon-android"/>), norvegese, olandese, polacco, portoghese (Brasile), portoghese (Portogallo), rumeno, russo, spagnolo, svedese e tedesco.</p>
        <p>La lingua utilizzata dall'applicazione dipende dalla lingua impostata nel telefono.</p>


        <a name="whatsNew"></a>
        <h2>Novità</h2>
        <p>La versione 10.2 di Collector for ArcGIS, rilasciata a novembre 2013, include i seguenti miglioramenti:</p>
        <ul>
        <li>Interfaccia utente aggiornata</li>
        <li>Interfaccia dedicata per tablet e iPad</li>
        <li>Supporto per la raccolta di linee e poligoni</li>
        <li>Streaming GPS</li>
        <li>Flussi di lavoro migliorati per la raccolta</li>
        <li>Miglioramenti del comportamento relativo al tocco sulla mappa</li>
        <li>Correzioni di diversi bug e miglioramenti</li>
        <li>Supporto per account di accesso aziendali</li>
        <li>Supporto per altre lingue</li>
        <li>Problemi di Android risolti: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Problemi di iOS risolti: NIM094438, NIM094401</li>
        </ul>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introduzione</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Tour guidato</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Creare e condividere una mappa</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Raccogliere dati</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
