---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="fr">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/fr/marketplace/">Aide</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/marketplace/">Principal</a></li>
        <li><a href="/fr/marketplace/consumer/">Pour les clients</a></li>
        <li><a href="/fr/marketplace/provider/">Pour les fournisseurs</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">Apprenez à tirer le meilleur parti d'ArcGIS Marketplace.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>Pour les clients </h3>
          <p>Apprenez à rechercher et utiliser des applications et données.</p>
          <ul>			
			<li><a href="/fr/marketplace/consumer/get-started-consumers.htm">Tirer le meilleur parti d'ArcGIS Marketplace</a></li>
			<li><a href="/fr/marketplace/consumer/search-for-apps-and-data.htm">Rechercher des éléments</a></li>
			<li><a href="/fr/marketplace/consumer/subscribe-to-apps-and-data.htm">Obtenir des éléments</a></li>
			<li><a href="/fr/marketplace/consumer/faq.htm">Forum aux questions</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>Pour les fournisseurs</h3>
          <p>Apprenez à ajouter, promouvoir et vendre vos applications et données.</p>
          <ul>			
			<li><a href="/fr/marketplace/provider/become-a-provider.htm">Devenir fournisseur</a></li>
			<li><a href="/fr/marketplace/provider/listing-tips.htm">Conseils de création d'une liste réussie</a></li>
			<li><a href="/fr/marketplace/provider/create-listings.htm">A propos des listes</a></li>
			<li><a href="/fr/marketplace/provider/faq.htm">Forum aux questions</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Support technique Esri</a></h4>
      <p>Contactez le support via la discussion en ligne, le courrier électronique ou par téléphone.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">Idées au sujet d'ArcGIS</a></h4>
      <p>Envoyez votre retour sur le logiciel.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">La communauté Esri</a></h4>
      <p>Participez aux discussions sur GeoNet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






