---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/marketplace/">帮助</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/marketplace/">主页</a></li>
        <li><a href="/zh-cn/marketplace/consumer/">面向用户</a></li>
        <li><a href="/zh-cn/marketplace/provider/">面向提供商</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">了解如何充分利用 ArcGIS Marketplace。</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>用户 </h3>
          <p>了解如何查找和使用应用程序及数据。</p>
          <ul>			
			<li><a href="/zh-cn/marketplace/consumer/get-started-consumers.htm">充分使用 ArcGIS Marketplace</a></li>
			<li><a href="/zh-cn/marketplace/consumer/search-for-apps-and-data.htm">搜索项目</a></li>
			<li><a href="/zh-cn/marketplace/consumer/subscribe-to-apps-and-data.htm">获取项目</a>。</li>
			<li><a href="/zh-cn/marketplace/consumer/faq.htm">常见问题</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>提供商</h3>
          <p>了解如何添加、推广和销售您的应用程序和数据。</p>
          <ul>			
			<li><a href="/zh-cn/marketplace/provider/become-a-provider.htm">成为提供商</a></li>
			<li><a href="/zh-cn/marketplace/provider/listing-tips.htm">成功创建列表的技巧</a></li>
			<li><a href="/zh-cn/marketplace/provider/create-listings.htm">关于列表</a></li>
			<li><a href="/zh-cn/marketplace/provider/faq.htm">常见问题</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri 技术支持</a></h4>
      <p>通过聊天、电子邮件或电话联系 Esri 技术支持部门。</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">ArcGIS Ideas</a></h4>
      <p>提交您对软件的反馈。</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">Esri Community</a></h4>
      <p>在 GeoNet 中参与讨论。</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






