---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">
mobile: true

---

<header class="sub-nav sub-nav-marketplace">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
			<!--
			<nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/zh-cn/marketplace/">Marketplace</a>
          </nav>
			-->
          <h1 class="sub-nav-title leader-1 text-white">ArcGIS Marketplace 帮助</h1>
        </div>
        <!-- Placeholder for image in blue banner-->
		  <!--<div class="sdk-home-banner-image">
          <img src="img/epcot.jpg">
        </div>-->
		  <div class="search-bar">
			 <form id="helpSearchForm" target="_top">
			  <input type="search" name="q" class="leader" placeholder="搜索 Marketplace 帮助">
			  <input type="hidden" name="collection" value="help" />
			  <input type="hidden" name="product" value="marketplace" />
			  <input type="hidden" name="language" value="<%= current_language %>" />
			  <button class="search-submit icon-ui-search" type="submit"></button>
			</form>
		  </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
	     <a href="/zh-cn/marketplace/" class="sub-nav-link  is-active">主页</a> 
	     <a href="/zh-cn/marketplace/consumer/" class="sub-nav-link ">面向用户</a> 
	     <a href="/zh-cn/marketplace/provider/" class="sub-nav-link ">面向提供商</a>
        </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <h2>什么是 Marketplace？</h2>
    <p>ArcGIS Marketplace 作为一个目标位置，允许 ArcGIS Online 组织搜索、查找并获取具有资格的提供商（Esri 业务合作伙伴、Esri 分销商、Esri 初创公司和 Esri）所提供的应用程序和数据，以供组织内部使用。在 Marketplace 中列出的应用程序和数据服务可供世界范围内的任何 ArcGIS Online 组织使用。</p>

  </div>
  <!--<div class="column-8 tablet-column-12 right">
	 <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">The December 2016 update includes a new enhancements to reviews and email notifications.</p>
    </div>
  </div>-->
  <!--<div class="column-8 tablet-column-12 right">
      <div class="panel-1">
        <img class="trailer-1" alt="" src="img/epcot.jpg">
      </div>
    </div>-->
</div>

<div class="grid-container leader-1">
  <hr class="leader-half trailer-half">
  </div>

<!-- option 2 -->
<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-2-up tablet-block-group-1-up">
      <div class="block leader-1 text-center">
        <div class="panel panel-no-padding">
            <a href="/zh-cn/marketplace/consumer/"><img class="gutter-left-1 leader-1 trailer-1" alt="" src="img/for-consumers.png"></a>
            <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">用户</h3>
            <p>了解如何查找和使用应用程序及数据。</p>
				<p>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/consumer/search-for-apps-and-data.htm">搜索应用程序和数据</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/consumer/use-apps-and-data.htm">使用应用程序和数据</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/consumer/manage-licenses.htm">管理许可</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/consumer/faq.htm">常见问题</a><br/>
				</p>
          </div>
        </div>
      </div>

		<div class="block leader-1 text-center">
        <div class="panel panel-no-padding">
            <a href="/zh-cn/marketplace/provider/"><img class="leader-1 trailer-1" alt="" src="img/for-providers.png"></a>
            <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">提供商</h3>
            <p>了解如何添加、推广和销售您的应用程序和数据。</p>
            <p>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/provider/become-a-provider.htm">成为提供商</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/provider/create-listings.htm">创建列表</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/provider/sales.htm">设置销售</a><br/>
				<a class="icon-ui-right icon-ui-small" href="/zh-cn/marketplace/provider/faq.htm">常见问题</a><br/>
				</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Forum -->
	<div class="panel panel-white panel-no-border panel-no-padding">
        <div class="grid-container padding-trailer-1 padding-leader-1">
          <div class="column-24">
            <h2 class="text-rule padding-trailer-half">加入探讨 <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/arcgis-marketplace-apps">更多探讨 <span class="icon-ui-small icon-ui-link-external"></span></a>
            </h2>
            <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/allcontent?socialGroup=1350" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
				</div>

          </div>
        </div>
      </div>

<!-- Featured block-->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Marketplace 中的最新列表 <a class="btn btn-transparent text-white btn-large right" href="https://marketplace.arcgis.com/">更多列表</a>
      </h2>
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up leader-0 padding-leader-half trailer-half">
       	<div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//marketplace.arcgis.com/listing.html?id=1b6e8ad44f8b49f186c869febe1b3782">
              <img alt="Fasthome" src="/en/marketplace/img/fast_home.png">
            </a>
          </figure>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//marketplace.arcgis.com/listing.html?id=baca0d2258de46f9913ff30d147b6c7b">
              <img alt="Mapillary for ArcGIS Online" src="/en/marketplace/img/mapillary.png">
            </a>
          </figure>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//marketplace.arcgis.com/listing.html?id=53ed22682e6840598378ce2988d68b20">
              <img alt="Survey123 for ArcGIS" src="/en/marketplace/img/survey123.png">
            </a>
          </figure>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//marketplace.arcgis.com/listing.html?id=e2768c415ff84391b9859d6c6add353e">
              <img alt="Global Power Outages on Social Media" src="/en/marketplace/img/globaloutages.png">
            </a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Extra resources -->
<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">参加深入课程</a></h5>
          <p class="trailer-0">
 查找和完成使用 ArcGIS 解决现实问题的练习。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">查找培训课程</a></h5>
          <p class="trailer-0">
 通过导师授课式课程、web 课程和研讨会了解有关 ArcGIS 的详细信息。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">获取技术支持</a></h5>
          <p class="trailer-0">
 通过聊天、电子邮件或电话联系 Esri 支持部门。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">检查系统状况</a></h5>
          <p class="trailer-0">
 查看 ArcGIS Online 的状态并报告问题。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
	<!-- Videos -->
	<!--<div class="panel panel-blue panel-no-border panel-no-padding">
    <div class="grid-container padding-leader-1 padding-trailer-1">
      <div class="column-24">
        <h2 class="text-white text-rule padding-trailer-half">From our Videos
          <a class="btn btn-transparent btn-large right text-white" href="http://video.esri.com/search/Collector for ArcGIS">More Videos  <span class="icon-ui-link-external icon-ui-small"></span></a>
        </h2>
        <div class="flexible-block-group flexible-block-group-4-up">
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="//video.arcgis.com/iframe/2672/000000/width/960/1" class="colorbox-evlarge" title="Getting Started with Collector" ><img alt="Getting Started with Collector" src="//video.arcgis.com/thumbs/2013/08/2672/2672-getting-started-with-collector-for-arcgis_x.jpg"></a>
                <h5 class="leader-1">Getting Started With Collector</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge text-white" href="//video.arcgis.com/iframe/2672/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="//video.arcgis.com/iframe/3945/000000/width/960/1" class="colorbox-evlarge" title="Collector for ArcGIS - ArcGIS for the Military" ><img alt="Collector for ArcGIS - ArcGIS for the Military" src="//video.arcgis.com/thumbs/2014/11/3945/3945-collector-for-arcgis-_dash_-arcgis-for-the-military_x.jpg"></a>
                <h5 class="leader-1">Collector for ArcGIS - ArcGIS for the Military</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge text-white" href="//video.arcgis.com/iframe/3945/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="//video.arcgis.com/iframe/3474/000000/width/960/1" class="colorbox-evlarge" title="Using Collector for ArcGIS with ArcGIS Server" ><img alt="Using Collector for ArcGIS with ArcGIS Server" src="//video.arcgis.com/thumbs/2014/04/3474/3474-using-collector-for-arcgis-with-arcgis-server-1022_x.jpg"></a>
                <h5 class="leader-1">Using Collector for ArcGIS with ArcGIS Server</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge text-white" href="//video.arcgis.com/iframe/3474/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="//video.arcgis.com/iframe/4154/000000/width/960/1" class="colorbox-evlarge" title="Offline Maps with ArcGIS for Server and Collector for ArcGIS" ><img alt="Offline Maps with ArcGIS for Server and Collector for ArcGIS" src="//video.arcgis.com/thumbs/2015/02/4154/4154-offline-maps-with-arcgis-for-server-and-collector-for-arcgis_x.jpg"></a>
                <h5 class="leader-1">Offline Maps with ArcGIS for Server and Collector for ArcGIS</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge text-white" href="//video.arcgis.com/iframe/4154/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>-->
            </div>
          </div>
      </div>
    </div>
  </div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
