---
title: Сообщить о проблемах с безопасностью
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/ru/trust/">Trust</a></li>
        <li><a title="Состояние системы ArcGIS Online" href="/ru/trust/system-status/">Состояние системы</a></li>
        <li><a title="Безопасность ArcGIS Online" href="/ru/trust/security/">Безопасность</a></li>
        <li><a title="Конфиденциальность ArcGIS Online" href="/ru/trust/privacy/">Конфиденциальность</a></li>
        <li><a title="Конфиденциальность ArcGIS Online" href="/ru/trust/compliance/">Соответствие требованиям</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Информация по вопросу безопасности</h2>
      </header>
	  <section>
		<p data-langlabel="">Пожалуйста, заполните форму справа, указав всю необходимую информацию, включая подробные сведения по вашему конкретному вопросу. Ваши контактные данные будут использоваться для отслеживания предоставленной вами информации. Из ниспадающего меню выберите соответствующую тему.</p>
		<ul>
			<li data-langlabel="">Уязвимость &ndash; отчет об уязвимости сайта или приложения.</li>
			<li data-langlabel="">Подозрительное электронное сообщение от Esri &ndash; если вы полагаете, что стали целью фишинговой атаки с адреса электронной почты Esri, либо получили другие подозрительные электронные сообщения от Esri.</li>
			<li data-langlabel="">Вопрос конфиденциальности &ndash; если у вас имеются проблемы, относящиеся к конфиденциальности наших приложений или организации.</li>
			<li data-langlabel="">Прочее &ndash; все прочие проблемы, относящиеся к безопасности и конфиденциальности, а также вопросы соответствия.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Правила информирования об уязвимости</h3>
	  </header>
      
        <p data-langlabel="">Группа по обеспечению безопасности ArcGIS.com признает ту большую роль, которую играют независимые исследователи в области безопасности интернета. Мы поддерживаем ответственное информирование о любых случаях уязвимости нашего сайта или приложений. Esri стремится к сотрудничеству с пользователями в вопросах безопасности, проверяя все потенциальные случаи уязвимости, о которых сообщается, и должным образом реагируя на них. Следуя этим правилам, Esri не будет подавать на вас иск в суд или инициировать расследование с помощью правоохранительных органов.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>не</strong> разрешает следующие типы расследований в целях безопасности</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Действия, направленные на отказ от Сервиса, либо попытки таких действий.</li>
		<li data-langlabel="">Использование автоматизированных средств безопасности без явного согласия Esri. Использование автоматизированных средств может стать основанием для расследования или блокировки вашего IP.</li>
		<li data-langlabel="">Обращение к данным или информации, которые вам не принадлежат.</li>
		<li data-langlabel="">Уничтожение или повреждение данных или информации, которые вам не принадлежат, либо попытка таких действий.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">Обязательства группы по обеспечению безопасности ArcGIS.com</h4>
	  </header>
		<p data-langlabel="">Всем исследователям в области безопасности интернета, придерживающимся настоящих правил информирования об уязвимости ArcGIS.com, группа обеспечения безопасности ArcGIS.com поручает следующее:</p>
		
		<ul>
		<li data-langlabel="">Своевременно давать ответы, подтверждая получение ваших отчетов.</li>
		<li data-langlabel="">Сообщать расчетное время принятия мер к этой уязвимости.</li>
		<li data-langlabel="">Уведомлять обратившегося индивидуального пользователя об исправлении уязвимости.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Имя: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">Email адрес: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Номер телефона: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Организация <span class="optional">(дополнительно):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Тема: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Уязвимость</option>
				  <option value="Suspicious E-mail from Esri">Подозрительное электронное сообщение от Esri</option>
				  <option value="Privacy Issue">Вопрос конфиденциальности</option>
				  <option value="audi">Прочее</option>
			  </select>

			  <label data-langlabel="" for="description">Описание: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Чтобы подтвердить что Вы не робот, введите эти символы: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Цифры: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="внутренний" name="source" id="source">

			  <input value="подробно" name="resultType" id="resultType" type="hidden">
			  <input value="Вопрос безопасности" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="ru" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Отправить</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Спасибо за информацию по этому вопросу. Мы проведем расследование и примем меры по вашему вопросу в течение нескольких рабочих дней.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Во время передачи информации произошла ошибка. Пожалуйста, задайте свой вопрос позднее.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Вернитесь на <a id="feedback-referring-link" href="">страницу со ссылкой</a>.</span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Задайте</a> следующий вопрос по безопасности</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

