---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/sv/collector/">Hem</a></li>
        <li><a href="/sv/collector/android/create-maps/create-maps.htm">Skapa kartor</a></li>
        <li><a href="/sv/collector/android/collect-data/collect-tutorial.htm">H&auml;mta data</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Anv&auml;nd din smartphone eller surfplatta f&ouml;r att samla in och uppdatera information i f&auml;lt, oavsett om du har Internetanslutning eller inte.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Skapa och dela en karta</h3>
          <p>G&ouml;r det m&ouml;jligt att anv&auml;nda ArcGIS i f&auml;lt f&ouml;r att samla in mer noggranna och aktuella geografiska data. Skapa och dela kartor f&ouml;r datainsamling i tv&aring; steg.</p>
          <p>
            <a href="/sv/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>H&auml;mta data</h3>
          <p>Skapa de data som &auml;r viktiga f&ouml;r din organisation, fr&aring;n skaderapporter och tj&auml;nstbeg&auml;randen till historiskt intressanta platser. Ta med bilder och videoklipp p&aring; ett enkelt s&auml;tt och dela ditt arbete.</p>
          <p>
            <a href="/sv/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Visa en film</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Arbeta offline</h3>
          <p>F&auml;ltarbete kan ta dig till platser utan en dataanslutning. Ta dina kartor och data offline, samla in data och synkronisera n&auml;r du har anslutning igen.</p>
          <p>
            <a href="/sv/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Kom ig&aring;ng snabbt med mallar</h3>
          <p>Inom din bransch anv&auml;nds s&auml;rskilda dataupps&auml;ttningar. H&auml;mta mallar f&ouml;r att skapa den grundl&auml;ggande datastruktur du beh&ouml;ver och anpassa dem till just din uppgift.</p>
          <p>
            <a href="http://esri.maps.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Visa h&auml;mtade data</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Funktioner</h2>
	<p>H&auml;mta och uppdatera information i f&auml;lt, logga var du befinner dig och utnyttja de data du samlar in till att fatta mer informerade beslut i r&auml;tt tid. Anv&auml;nd kartor &ouml;verallt f&ouml;r att f&ouml;rankra dina data i verkligheten, g&ouml;ra observationer och reagera p&aring; h&auml;ndelser. Du kommer att &ouml;ka effektiviteten hos arbetsstyrkan i f&auml;lt och noggrannheten hos dina GIS-data.</p>
	
	<ul>
	<li>H&auml;mta kartor till din enhet och arbeta offline.</li>
	<li>Anv&auml;nd GPS f&ouml;r att skapa och uppdatera kartdata.</li>
	<li>Samla punkt-, linje- och omr&aring;desgeoobjekt.</li>
	<li>Fyll i anv&auml;ndarv&auml;nliga och kartdrivna formul&auml;r.</li>
	<li>S&ouml;k platser och h&auml;mta v&auml;gbeskrivningar</li>
	<li>F&ouml;lj upp och rapportera omr&aring;den du har bes&ouml;kt.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Systemkrav</h2>

        <p>Det finns vissa enhetskrav f&ouml;r att k&ouml;ra Collector, och andra krav f&ouml;r de data som ska anv&auml;ndas i appen. Collector har st&ouml;d f&ouml;r flera olika spr&aring;k.</p>


        <h3>Datakrav</h3>
        <p>Du m&aring;ste ha ett ArcGIS-abonnemang f&ouml;r att anv&auml;nda dina kartor i Collector. Kartorna kan inneh&aring;lla data fr&aring;n ArcGIS Online, Portal for ArcGIS och ArcGIS for Server.</p>


        <h3>Enhetskrav</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>eller senare</li>
          <li>Armv7-processor</li>
          <li>St&ouml;d f&ouml;r OpenGL ES 2.0</li>
          <li>St&ouml;d f&ouml;r noggrann best&auml;mning av platser (GPS och n&auml;tverksbaserat)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td><tr></table>


        <h3>Spr&aring;k</h3>
        <p>Arabiska, danska, engelska, estniska (<span class="icon-android"/>), finska, franska, hebreiska, italienska, japanska, kinesiska (f&ouml;renklad), koreanska, lettiska (<span class="icon-android"/>), litauiska (<span class="icon-android"/>), nederl&auml;ndska, norska, polska, portugisiska (Brasilien), portugisiska (Portugal), rum&auml;nska, ryska, spanska, svenska, tjeckiska, turkiska och tyska.</p>
        <p>Vilket spr&aring;k appen anv&auml;nder avg&ouml;rs av enhetens spr&aring;kinst&auml;llningar.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Nyheter</h2>
        <p>Collector for ArcGIS 10.2.3 sl&auml;pptes i april 2014. Den h&auml;r versionen inneh&aring;ller l&ouml;sningar p&aring; olika fel och f&ouml;rb&auml;ttringar.</p>
        <p>Collector for ArcGIS 10.2.2 sl&auml;pptes i mars 2014. Den h&auml;r versionen inneh&aring;ller f&ouml;ljande f&ouml;rb&auml;ttringar:</p>
        <ul>
        <li>St&ouml;d f&ouml;r offlinearbetsfl&ouml;den</li>
        <li>Uppdaterad anv&auml;ndarupplevelse</li>
        <li>L&ouml;sningar p&aring; olika fel och f&ouml;rb&auml;ttringar</li>
        <li>St&ouml;d f&ouml;r fler spr&aring;k</li>
        <li>Android-problem som har &aring;tg&auml;rdats: NIM098281, NIM096128, NIM098076</li>
        <!-- <li>iOS issues addressed: N/A at 10.2.2</li> -->
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">F&ouml;rhandstitt</h2>
	<p>Idag &auml;r Collector en utm&auml;rkt app f&ouml;r att samla in och redigera data i f&auml;lt. Men mer &auml;r p&aring; g&aring;ng! H&auml;r beskriver vi v&aring;ra planer f&ouml;r appen:</p>
	
	<ul>
	  <li>Fler verktyg f&ouml;r planering av offlineanv&auml;ndning i f&auml;lt</li>
	  <li>Smartare formul&auml;r f&ouml;r datainsamling (inklusive tillh&ouml;rande tabeller)</li>
	  <li>F&ouml;rm&aring;ga att s&ouml;ka data<li>
	  <li>Datainsamling med f&ouml;rskjutning<li>
	  <li>St&ouml;d f&ouml;r improviserad insamling</li>
	  <li>Integrering av tillbeh&ouml;r (laseravst&aring;ndsm&auml;tare, streckkodsskannrar och s&aring; vidare)</li>
	</ul>	
	
	<p>Dela med dig av dina <a href="http://ideas.arcgis.com/">id&eacute;er</a> och <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">tala om vad du tycker</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detaljer</h3>
	          
	  <h4><a href="#features">Funktioner</a></h4>
	  <h4><a href="#systemRequirements">Systemkrav</a></h4>
	  <h4><a href="#whatsNew">Nyheter</a></h4>
	  <h4><a href="#sneakPeek">F&ouml;rhandstitt</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fr&aring;n bloggen</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
