---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/appstudio/">AppStudio for ArcGIS (versión de escritorio)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/es/appstudio/">Inicio</a></li>
        <li><a href="/es/appstudio/create-apps/">Crear aplicaciones</a></li>
       <!-- <li><a href="/es/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/es/appstudio/extend-apps/">Ampliar aplicaciones</a></li>
		<!-- <li><a href="https://earlyadopter.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li> -->
		<li><a href="/es/appstudio/community/">Comunidad</a></li>
        <li><a href="/es/appstudio/download/">Descargar</a></li>		
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS es una innovadora herramienta que convierte los mapas en atractivas aplicaciones móviles para Mac, iOS, Android, Windows y Linux.</h3>
  
	<a href="http://doc.arcgis.com/en/appstudio/download/" class="btn primary icon-storage">Obtener la versión de escritorio</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>Hacer más en menos tiempo</h3>
          <p>Pase de la idea a la tienda de aplicaciones en menos de 20 minutos. </p>		  
		           
          <p>
            <a href="/es/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>Probar e implementar</h3>
		  <p>Implemente y proteja sus propias aplicaciones dentro de su organización.</p>
	       
          <p>
            <a href="/es/appstudio/create-apps/guidedtour.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>

        <div class="clear"></div>

        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Desarrollo multiplataforma</h3>
		  <p>Compile una aplicación e impleméntela en distintos factores de forma y plataformas, como Android, iOS, Windows, Mac y Linux.</p>
	      
          <p>
            <a href="/es/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>Aplicaciones para el público y la empresa</h3>
		  <p>Ponga aplicaciones con su marca en las tiendas de aplicaciones de Google Play, Apple y Microsoft.</p>
	      
          <p>
            <a href="/es/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">Entidades</h2>
		
		   <ul><li>Cree aplicaciones fácilmente </li>
		       <li>Use las plantillas de aplicación configurables incluidas.</li>
			   <li>Ejecute sus aplicaciones en cualquier dispositivo.</li>
			   <li>Saque partido de su inversión en ArcGIS reutilizando sus mapas web, herramientas de mapa y servicios de entidades.</li>
			   <li>Use las herramientas de desarrollo multiplataforma que se incluyen.</li>
			   <li>Simplifique la implementación y las actualizaciones.</li>
			   <li>Implemente un entorno de prueba para la revisión de aplicaciones durante el desarrollo.</li>
			   <li>Distribuya los archivos de instalación manualmente o publíquelos en un almacén interno o público.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">Requisitos del sistema</h2>
		
          <p>Existen algunos requisitos <!--and browser-->de dispositivo para ejecutar AppStudio for ArcGIS y Player, así como requisitos para los datos utilizados dentro de la aplicación.</p>
          <p>	

          <h3>Requisitos de datos</h3>
          <p>Para utilizar los mapas en AppStudio, debe tener una cuenta de organización de ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server.</p>
          <p>		  
		
          <h3>Requisitos de dispositivo</h3>
          <p>Los siguientes sistemas operativos (con sus versiones mínimas) son compatibles:</p>
          <p>
          <!-- <h4>AppStudio for ArcGIS in a browser</h4>
        <ul>
          <li>Chrome</li>
		  <li>Firefox</li>
          <li>IE 10</li>
          <li>Safari 7</li>
        </ul> -->		  	  
          <h4>AppStudio for ArcGIS en el escritorio</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.10</li>
          <li>Ubuntu 14.04 </li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>Idiomas compatibles</h3> 
        <p>Alemán, árabe, coreano, checo, chino simplificado, chino tradicional (Hong Kong), chino tradicional (Taiwán), croata, danés, español, estonio, finlandés, francés, griego, hebreo, inglés, italiano, japonés, letón, lituano, neerlandés, noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, serbio, sueco, tailandés, turco y vietnamita.</p>
        <p>La configuración de idioma del dispositivo determinará el idioma utilizado por AppStudio for ArcGIS y AppStudio Player.</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio es compatible con ArcGIS Runtime SDK 10.2.6 para Qt.</p>


        <p>Comparte tus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="http://support.esri.com/en/">envíanos tus comentarios</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>¿Es nuevo en AppStudio?</h3>
 		  <h4><a href="http://video.arcgis.com/iframe/4635/000000/width/960/autoplay:1/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png"> Watch a video tour</a></h4>
			<video width="320" height="240" controls id="4635" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4635/mp4/480">
			</video>
			
		  <h4><a href="http://video.arcgis.com/series/232/appstudio-for-arcgis">Examinar vídeos</a></h4> 		  
          <h4>Características<a href="#features"></a></h4>
          <h4><a href="#systemrequirements">Requisitos del sistema</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">Más entradas del blog</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
