---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/arcgis-online/">Hj&auml;lp</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="Hj&auml;lp" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/sv/arcgis-online/">Start</a></li>
        <li><a href="/sv/arcgis-online/use-maps/">Anv&auml;nda kartor</a></li>
        <li><a href="/sv/arcgis-online/create-maps/">Skapa kartor och appar</a></li>		
        <li><a href="/sv/arcgis-online/share-maps/">Dela kartor och appar</a></li>
	<li><a href="/sv/arcgis-online/administer/">Administrera organisationen</a></li>
	<li><a href="/sv/arcgis-online/reference/">Referenser</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Anv&auml;nd och skapa interaktiva kartor och appar och dela dem med de andra i organisationen. Uppt&auml;ck hur.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Anv&auml;nda kartor</h3>
         
 
         <p>Anv&auml;nd kartor f&ouml;r att utforska, f&ouml;rst&aring; och m&auml;ta geografiska data.</p>

      
         <p><a href="/sv/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Visa data</a> <br/> <a href="/sv/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Utf&ouml;r analys</a><br/> <a href="/sv/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Redigera geoobjekt</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Skapa kartor och appar</h3>
          <p>Skapa interaktiva kartor och appar som organisationen kan anv&auml;nda p&aring; alla enheter, var som helst och n&auml;r som helst.</p>


            <p><a href="/sv/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Skapa din f&ouml;rsta karta</a> <br/>

            <a href="/sv/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Skapa din f&ouml;rsta karta</a></p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Dela kartor och appar</h3>
          <p>Utnyttja dina data genom att dela kartor och appar inom organisationen eller gruppen.</p>

         <p><a href="/sv/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;L&auml;gg till objekt</a> <br/><a href="/sv/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Dela objekt</a> <br/> <a href="/sv/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Publicera v&auml;rdbaserade geoobjekt och tiles</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administrera organisationen</h3>
          <p>G&ouml;r GIS-programmet mer anv&auml;ndbart genom att st&auml;lla in ArcGIS Online f&ouml;r organisationen, bjuda in anv&auml;ndare att g&aring; med och hantera resurser.</p>
          <p>
            <a href="/sv/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Konfigurera webbplatsen</a> <br/> <a href="/sv/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Bjud in anv&auml;ndare</a> <br/> <a href="/sv/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Visa organisationsstatistik</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Appar som &auml;r klara att anv&auml;nda</h3>
         <p>Utnyttja appar som &auml;r klara att anv&auml;nda f&ouml;r datainsamling i f&auml;lt, operativa instrumentpaneler, Microsoft Office och Sharepoint.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS-appar</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Utvecklar-API:er</h3>
          <p>ArcGIS-plattformen inneh&aring;ller API:er  och SDK:er som kan anv&auml;ndas f&ouml;r att skapa appar f&ouml;r organisationen och samh&auml;llet som helhet.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS f&ouml;r utvecklare</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Komma ig&aring;ng</h3>
		  <p>Snabbguider d&auml;r du kan l&auml;ra dig att anv&auml;nda ArcGIS-plattformen</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/sv/get-started/web/">Anv&auml;nda kartor</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/sv/get-started/services/">Dela data</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/sv/get-started/organizations/">Administrera organisationen</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Om ArcGIS Online</h3>
         <ul>
		 <li><a href="/sv/arcgis-online/reference/what-is-agol.htm">&nbsp;Vad &auml;r ArcGIS Online?</a></li>
		 <li>
		 <a href="/sv/arcgis-online/reference/whats-new.htm" >&nbsp;Nyheter</a>
		 </li>
		 <li><a href="/sv/arcgis-online/reference/faq.htm">&nbsp;Vanliga fr&aring;gor</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Skapa en karta</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>L&auml;r dig hur du skapar kartor med den inbyggda kartvyn</p>
        <a href="/sv/arcgis-online/reference/videos.htm" class="btn secondary">Fler videoklipp</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fr&aring;n bloggen</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Fler blogginl&auml;gg</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>P&aring; v&aring;rt forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Fler foruminl&auml;gg</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>

