---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ro/web-appbuilder/">Pagina principală</a></li>
        <li><a href="/ro/web-appbuilder/create-apps/">Creare de aplicaţii</a></li>
        <li><a href="/ro/web-appbuilder/manage-apps/">Gestionare aplicaţii</a></li>
        <li><a href="/ro/web-appbuilder/extend-apps/">Extindere aplicaţii</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Creaţi aplicaţii GIS puternice care funcţionează pe orice dispozitiv. Acestea nu necesită codificare.</h3>
	<h5>Vedeţi ce au creat ceilalţi, faceţi clic pe <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Prezentare site-uri live.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinci minute până la prima aplicaţie</h3>
          
          <p>
            <a href="/ro/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configurare uşoară</h3>
          <p>Creaţi aplicaţii cu o experienţă simplă de configurare a aplicaţiei de creare.</p>
          <p>
            <a href="/ro/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configuraţi aplicaţia</a> <a href="/ro/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configuraţi widgeturile</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Export şabloane</h3>
          <p>Creaţi şabloane de aplicaţii configurabile care sunt adăugate la galeria de aplicaţii a organizaţiei. 
          <p>
            <a href="/ro/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Creaţi widgeturi şi teme</h3>
          <p>Puteţi descărca şi găzdui aplicaţia pe serverul web. În plus, puteţi extinde aplicaţia adăugând widgeturi şi teme particularizate.</p>
          <p>
            <a href="/ro/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Browsere suportate</h2>
		<p>Aplicaţia 2D acceptă următoarele browsere:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 şi versiuni ulterioare</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 şi versiunile ulterioare</li>
        </ul>
		<p>Aplicaţia 3D acceptă următoarele browsere:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari</li>
		  <li>Edge</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Licenţă</h2>

        <p>Pentru a utiliza Web Appbuilder, trebuie să aveţi un cont ArcGIS de organizaţie. </p>

        <a name="features"></a>
        <h2 class="divider">Caracteristici cheie</h2>
        <ul>
          <li>Creaţi aplicaţii HTML/JavaScript care funcţionează pe orice dispozitiv.</li>
          <li>Creaţi aplicaţiile de care aveţi nevoie folosind widgeturi gata de utilizat.</li>
          <li>Particularizaţi aspectul aplicaţiilor cu teme configurabile.</li>
          <li>Găzduiţi-vă aplicaţiile online sau executaţi-le pe propriul server.</li>
          <li>Creaţi şabloane de aplicaţii particularizate.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Ce este nou</h2>
        <p>Web AppBuilder for ArcGIS a fost actualizat în martie 2016. Acesta include următoarele noi caracteristici şi îmbunătăţiri:</p>
        <ul>
          <li>O experienţă de construcţie îmbunătăţită vă permite să modificaţi harta din interiorul Web AppBuilder for ArcGIS; nu mai este necesar să părăsiţi aplicaţia.</li>
          <li>Acum puteţi să creaţi aplicaţii 3D cu scene prin intermediul butonului Creare din Resursele mele.</li>
          <li>Fila Atribut are o nouă opţiune de stare a aplicaţiei. Această opţiune vă permite să alegeţi dacă doriţi să menţineţi extinderea hărţii şi vizibilitatea straturilor tematice când părăsiţi aplicaţia.</li>
          <li>A fost lansat widgetul Conştientizare situaţie. Nu mai este oferit în versiunea beta. Acest widget vă permite să creaţi sau să selectaţi un incident pe hartă şi să analizaţi informaţiile din straturi tematice de obiecte spaţiale, fie din cadrul zonei de incident, fie aflate la o distanţă maximă specificată de incident.</li>
          <li>Utilizaţi noul widget În apropierea mea pentru a căuta obiecte spaţiale în apropierea unei locaţii specificate, vizualizaţi informaţii mai detaliate referitoare la aceste obiecte spaţiale şi obţineţi instrucţiuni de deplasare până la un obiect spaţial selectat.</li>
		  <li>Utilizaţi noul widget Localizare district pentru a căuta obiecte spaţiale punctuale corelate cu un poligon selectat, vizualizaţi informaţii mai detaliate referitoare obiectele spaţiale punctuale şi obţineţi instrucţiuni de deplasare până la un obiect spaţial punctual selectat.</li>
          <li>Utilizaţi noul widget Diagrame tabel corelat pentru a trasa diagrame (cu bare sau radiale) ale valorilor existente într-un tabel corelat.</li>
		  <li>Utilizaţi noul widget Rezumat informaţii pentru a rezuma numărul de obiecte spaţiale vizibile într-o hartă şi pentru a activa, dacă doriţi, gruparea straturilor tematice de obiecte spaţiale punctuale.</li>
          <li>Utilizaţi noua temă Platou pentru a crea o aplicaţie modernă şi cu un stil minimalist, cu bare de instrumente şi containere de widgeturi plate.</li>
		  <li>Widgetul Editare include un câmp de afişare în pagina de setări pentru ca dvs. să puteţi selecta atributele pentru afişare numai în cursul realizării editării.</li>
		  <li>Puteţi deschide widgetul Editare direct în aplicaţie prin intermediul ferestrei pop-up.</li>
		  <li>Widgetul Geoprocesare adaugă o opţiune pentru încărcarea fişierelor shapefile.</li>
		  <li>Widgetul căutare acceptă căutări locale şi include opţiuni pentru număr maxim de sugestii şi scală de transfocare.</li>
		  <li>Tabelul atribute vă permite să copiaţi valori ale câmpului în tabel şi să transfocaţi la obiectul spaţial din hartă atunci când faceţi dublu clic pe acesta. De asemenea, puteţi configura opţiunea Filtrare după extindere hartă.</li>
		  <li>Adresa URL Mod de deplasare nu este necesară atunci când widgetul Indicaţii de deplasare este accesibil public.</li>
		  <li>Widgetul Coordonate este îmbunătăţit pentru a accepta sistemul de coordonate cu WKID 102460.</li>
		  <li>Widgetul Imprimare afişează opţiunea de format pe baza metadatelor de şablon.</li>
		  <li>Widgetul Analiză vă permite să descărcaţi rezultatul în format GeoJson sau CSV şi adaugă un nou instrument Selectare cele mai bune centre.</li>
		  <li>Puteţi vizualiza mai bine rezultatul cartografierii cu noul instrument Mărire.</li>
		  <li>Puteţi controla activarea şi dezactivarea configuraţiei pentru mobil prin specificarea dimensiunii ecranului cu ajutorul parametrului adresă URL mobileBreakPoint.</li>
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versiunile acceptate de ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder acceptă ArcGIS API for JavaScript 3.16.</p>

        <h3>Limbi acceptate</h3>
        <p> arabă, cehă, chineză simplificată, chineză tradiţională (Hong Kong), chineză tradiţională (Taiwan), daneză, olandeză, engleză, estoniană, finlandeză, franceză, germană, greacă, ebraică, italiană, japoneză, coreeană, letonă, lituaniană, norvegiană, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă, suedeză, thailandeză, turcă şi vietnameză.</p>
        <p>Limba utilizată de aplicaţie este determinată de setarea pentru limbă din browserul dvs.</p>

        <p>Împărtăşiţi-vă <a href="http://ideas.arcgis.com/">ideile</a> şi <a href="http://support.esri.com/en/">trimiteţi-ne părerile dvs</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Detalii</h3>
          
          <h4><a href="#features">Caracteristici cheie</a></h4>
          <h4><a href="#supportedBrowsers">Browsere suportate</a></h4>
          <h4><a href="#license">Licenţă</a></h4>
          <h4><a href="#whatIsNew">Ce este nou</a></h4>
          <h4><a href="#supportedAPI">Versiuni acceptate de ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Mai multe postări de pe blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discuţii despre GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Iniţiere una</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Citiţi mai mult</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
