---
title: Trust - Sistem Durumu
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="tr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/tr/trust/">ArcGIS'e Güvenin</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/tr/trust/">Güven</a></li>
        <li class='current'><a title="ArcGIS Online System Status" href="/tr/trust/system-status/">Sistem Durumu</a></li>
        <li><a title="ArcGIS Online Security" href="/tr/trust/security/">Güvenlik</a></li>		
        <li><a title="ArcGIS Online Privacy" href="/tr/trust/privacy/">Gizlilik</a></li>
        <li><a title="ArcGIS Online Privacy" href="/tr/trust/compliance/">Uyum</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">
  Hata: Eklenen veriler görüntülenemedi. 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Sistem Durumu Paneli, kullanıcılarımızın çoğunu etkilediğinden doğrulanan durum bilgilerini sağlar. ArcGIS Online bulut tabanlı büyük bir platform olduğundan, pek çok olay daha geniş kullanıcı tabanımız üzerinde sınırlı etkiye sahiptir veya herhangi bir etkisi yoktur. Sunulan destek hizmetlerimiz kanalıyla çözülmesini desteklediğimiz kuruluşa özel konular hakkında bu durum sayfasında bilgi bulunmaz.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
