---
title: Trust - System Durumu
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="tr">


mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS'e Güvenin</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="/tr/trust/system-status/">Sistem Durumu Denetleme</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/">Trust</option>
        <option value="/en/trust/system-status/" selected>ArcGIS Online Durumu</option>
        <option value="/en/trust/security/">Güvenlik</option>
        <option value="/en/trust/privacy/">Gizlilik</option>
        <option value="/en/trust/compliance/">Uyumluluk</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link" href="/tr/trust/">Trust</a>
        <a class="sub-nav-link is-active" href="/tr/trust/system-status/">ArcGIS Online Status</a>
        <a class="sub-nav-link" href="/tr/trust/security/">Security</a>
        <a class="sub-nav-link" href="/tr/trust/privacy/">Privacy</a>
        <a class="sub-nav-link" href="/tr/trust/compliance/">Compliance</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div id="collectorMapFeature" class="text-center">
      <iframe src="//status.arcgis.com/" width="1000" height="1250" frameborder="0">
        Hata: Eklenen veriler görüntülenemedi.
      </iframe>
    </div>
    <div>
      <p>ArcGIS Online Sistem Durumu Paneli, kullanıcılarımızın çoğunu etkilediğinden doğrulanan durum bilgilerini sağlar. ArcGIS Online bulut tabanlı büyük bir platform olduğundan, pek çok olay daha geniş kullanıcı tabanımız üzerinde sınırlı etkiye sahiptir veya herhangi bir etkisi yoktur. Sunulan destek hizmetlerimiz kanalıyla çözülmesini desteklediğimiz kuruluşa özel konular hakkında bu durum sayfasında bilgi bulunmaz.</p>
    </div>
    <div style="text-align:center; padding-top:15px;">
      <a href="http://www.fedramp.gov/"><img src="/en/trust/img/fedramp.png"/></a>
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="/en/trust/img/fisma.png"/></a>
      <a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="/en/trust/img/truste.png"/></a>
      <a href="http://www.export.gov/safeharbor/"><img src="/en/trust/img/safeharbor.png"/></a>
    </div>
  </div>
</div>
