---
title: ArcGIS Maps for Office
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2017-04-19"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-5.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="pt-br">

mobile: true

---

<!-- Updated template March 23/17 (kf) -->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Maps for Office</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="//www.esri.com/software/arcgis/arcgisonline/apps/download">Download do ArcGIS Maps for Office</a>
          <!-- INSTRUCTIONS: Remove this p tag if not needed -->
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>Versão 4.1</strong> Q1 2017</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/maps-for-office/" selected>Página Inicial</option>
        <option value="/en/maps-for-office/install-and-configure/">Instalar e configurar</option>
        <option value="/en/maps-for-office/design-and-use/">Projetar e utilizar mapas</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/pt-br/maps-for-office/">Página Inicial</a>
        <a class="sub-nav-link" href="/pt-br/maps-for-office/install-and-configure/">Instalar e configurar</a>
        <a class="sub-nav-link" href="/pt-br/maps-for-office/design-and-use/">Projetar e utilizar mapas</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Mapear seus dados de planilha</h1>
      <h5>Utilize o ArcGIS Maps for Office para obter novas perspectivas sobre seus dados do Excel e tomar decisões mais informadas imediatamente.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Search ArcGIS Maps for Office">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="esri-maps-office" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="/pt-br/maps-for-office/install-and-configure/whats-new.htm">Quais as novidades</a></li>
        <li><a href="/pt-br/maps-for-office/install-and-configure/supported-environments.htm">Ambientes suportados</a></li>
	      <li><a href="/pt-br/maps-for-office/install-and-configure/m4o-faq.htm">FAQs</a></li>
        <li><a href="/pt-br/maps-for-office/4.0/install-and-configure/about-esri-maps-for-office.htm">Ajuda arquivada</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would look better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
	
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-excel.htm">
            <img alt="Mapear seus dados" src="/en/maps-for-office/img/map-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-excel.htm">Mapear seus dados do Exel</a>
          </h5>
          <p>Crie mapas interativos dos seus dados de planilha direto no Excel. Com alguns cliques crie cores codificadas, ponto, ponto agrupado e mapas de aquecimento, e ganhes perspectivas visuais sobre seus dados.</p>
        </div>
        <a href="design-and-use/add-a-map-to-excel.htm" class="btn btn-clear btn-fill leader-0">Mais informações</a>
      </div>
	  
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-powerpoint.htm">
            <img alt="" src="/en/maps-for-office/img/analyze-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-powerpoint.htm">Adicione mapas dinâmicos no PowerPoint</a>
          </h5>
          <p>Adicione mapas da sua organização do ArcGIS no PowerPoint para criar apresentações atrativas, dinâmicas.</p>
        </div>
        <a href="design-and-use/add-a-map-to-powerpoint.htm" class="btn btn-clear btn-fill leader-0">Mais informações</a>
      </div>
	  
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/enrich-your-data.htm">
            <img alt="" src="/en/maps-for-office/img/enrich-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/enrich-your-data.htm">Enriqueça suas planilhas de negócios</a>
          </h5>
          <p>Adicione dados do estilo de vida e demografias do ArcGIS diretamente nas planilhas do Excel e obtenha mais contexto sobre os locais que são importantes para você. Explore rapidamente os locais de forma instantânea utilizando infográfcos de pop-up.</p>
        </div>
        <a href="design-and-use/enrich-your-data.htm" class="btn btn-clear btn-fill leader-0">Mais informações</a>
      </div>
	  
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">
            <img alt="" src="/en/maps-for-office/img/salon-lesson.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/">Iniciando com ArcGIS Maps for Office</a>
          </h5>
          <p>Utilize dados de planilha para encontrar clientes potenciais perto de um novo salão e crie um slide do PowerPoint para apresentar suas descobertas.</p>
        </div>
        <a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-maps-for-office/" class="btn btn-clear btn-fill leader-0">Iniciar o exercício</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Aproveite ainda mais do ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online
ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Assista nossos vídeos <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Mais vídeos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="PLpq4BB-MZiMchCC8XEpSWGlEN89qls1FJ" class="video-holder block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Conecte-se com ArcGIS Maps for Office</h4>
    <a aria-label="Conectar ao Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/mapsforoffice"></a>
    <a aria-label="Conectar ao LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/company/5311?trk=vsrp_companies_hero_name&trkInfo=VSRPsearchId%3A62267361477673144233%2CVSRPtargetId%3A5311%2CVSRPcmpt%3Ahero"></a>
    <a aria-label="Conectar ao Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/esrigis/"></a>
    <a aria-label="Participar da comunidade" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/arcgis-maps-for-office"></a>
    <a aria-label="Enviar um comentário" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Leia nosso blog <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/">Mais postagens</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
		<!-- Blog Content goes here -->
	  </div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Participar da conversa <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/groups/arcgis-maps-for-office">Mais conversas</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
		<!-- Forum content goes here -->
	  </div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Fazer uma lição detalhada</a></h5>
          <p class="trailer-0">
            Encontre e complete exercícios que resolvem problemas reais com ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Encontrar cursos de treinamento</a></h5>
          <p class="trailer-0">
            Aprenda mais sobre o ArcGIS através de cursos orientados por instrutores, cursos da web e seminários.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Obter técnica de suporte</a></h5>
          <p class="trailer-0">
            Entre em contato com Esri Support por chat, e-mail ou telefone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Verificar desempenho do sistema</a></h5>
          <p class="trailer-0">
            Veja o status do ArcGIS Online e informe problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
