---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-br/maps-for-office/">Página Inicial</a></li>
        <li><a href="/pt-br/maps-for-office/help/">Ajuda</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Baixar o aplicativo</h2>
          <span id="appVersion"><strong>Versão:</strong> 2.1.1</span> <span id="appReleased"><strong>Disponível:</strong> Outono de 2013</span>


          <p>O Esri Maps for Office permite a você criar rapidamente mapas dinâmicos, interativos dos seus dados do Excel e a começar explorá-los de uma nova maneira completa. O Esri Maps for Office permite a você descobrir padrões e tendências não evidentes em gáficos e dados tabelares. Os mapas podem ser imediatamente compartilhados por apresentações do PowerPoint ou ao clicar na publicação da plataforma de mapeamento da Esri, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obter o Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Mapear suas planilhas </h3>
          <p>Obtenha informações sobre como mapear seus dados do Excel utilizando o Esri Maps for Office. Você pode facilmente criar cor interativa codificada, ponto, ponto agrupado e mapas de aquecimento diretamente no Excel e ganhar perspicácias visuais sobre seus dados.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Assista ao vídeo</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enriquecer seus dados</h3>
          <p>Utilize a riqueza das coleções de dados da Esri para adicionar valor aos seus dados de negócios. Adicione dados do estilo de vida e demográficos diretamente nas planilhas do Excel e obtenha mais contexto sobre os locais que são importantes para você. Explore rapidamente os locais de forma instantânea utilizando infográfcos de pop-up.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Assista ao vídeo</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos de sistema</h2>

        <p>O Esri Maps for Office exige uma conta que é parte de uma organização do <a href="http://help.arcgis.com/pt-br/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> e Microsoft Office Excel ou PowerPoint 2010, ou Microsoft Office Excel ou PowerPoint 2013. Os sistemas operacionais suportados incluem:</p>
		<ul>
		 <li>Windows XP (deve ter SP3) (32-bit)</li>
		 <li>Windows 7 (32-bit e 64-bit)</li>
		 <li>Windows 8 (32-bit e 64-bit)</li>
		 <li>Windows Server 2003 com SP2 e MSXML 6.0 (32-bit Office somente)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Para informações adicionais inclusive a velocidade do processador, memória e espaço do disco rígido exigidos, consulte os requisitos de sistema para <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> e <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!--  		<h3>Support for the following languages</h3>         <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p> 		//-->




        <a name="whatsNew"></a>
        <h2>Quais as novidades</h2>
        <p>O Esri Maps for Office versão 2.1.1 foi lançado em Outubro de 2013. Ele inclui as seguintes melhorias:</p>
        <ul>
        <li>Novas versões localizadas para 22 idiomas suportados:</li>
			<ul>
			<li>Árabe, Chinês (Simplificado), Dinamarquês, Holandês, Inglês, Estoniano, Francês, Alemão, Hebreu, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polonês, Português (Brasil), Português (Portugal), Romano, Russo, Espanhol e Sueco.</li>
			</ul>
		<li>Suporte para pop-ups em mapas da web</li>
		<li>Simbolizar feições utilizando um ícone de uma URL do atributo</li>
		<li>Correções de erros e melhorias de usabilidade em todo o produto, inclusive:
			<ul>
			<li>Manipulação melhorada de logins do OAuth</li>
			<li>Mensagens de erros mais útil na ferramenta Localizar Valor Alto de Incidência</li>
			<li>A ferramenta Valor Alto de Incidência pode agora suportar nomes de coluna com espaços</li>
			<li>A ferramenta Selecionar agora suporta buffers de tamanho "0"</li>
			<li>Problemas no Painel de Tarefa corrigidos</li>
			<li>Erros de visibilidade do grupo corrigidos</li>
			<li>Suporte melhorado para organizações que utilizam SSL para todas as conexões</li>
			<li>A funcionalidade Agrupar agora trabalha corretamente ao utilizar colunas adicionadas da ferramenta Enriquecer Camada</li>
			</ul>
        </ul>


        <h3>Versões anteriores</h3>
		
        <p>A versão 2.1 foi lançada em Julho de 2013. Ela incluiu as seguintes melhorias: </p>
        <ul>
        <li>Análise do modelo de estatística via ferramenta Valor Alto de Incidência</li>
		<li>Melhorias do enriquecimento de dados inclusive mais coletas de dados e a habilidade para selecionar variáveis individuais a partir das coletas de dados</li>
		<li>Suporte para registro seguro utilizando OAuth+SAML (AGOL)</li>
        <li>Suporte para registro seguro utilizando IWA, PKI (Portal Only)</li>
		<li>Melhorias da interface de usuário para Infográficos e a ferramenta Enriquecer Camada </li>
		<li>Fluxo de trabalho melhorado para atualização do Maps for Office para a versão mais recente</li>
        </ul>
		<br>
        <p>A versão 2.0.2 foi lançada em Maio de 2013. Ela incluiu as seguintes melhorias:</p>
        <ul>
          <li>Enriquecer seus dados com contexto geográfico utilizando a nova feramenta 'Enriquecer Camada'</li>
		  <li>Selecionar feições no seu mapa e localizar feições mais próximas dentro de outras camadas </li>
		  <li>Os pop-ups de mapa agora contêm Infográficos que fornecem informações contextuais importantes sobre as áreas ao redor das feições no seu mapa.</li>
		  <li>Visualizar suporte para Portal for ArcGIS 10.2</li>
		  <li>Novas opções de configuração para mapas de aquecimento e agrupamentos</li>
		  <li>Adicionada a habilidade de filtrar feições agrupadas no mapa clicando nas quebras de classe na legenda do mapa</li>
		  <li>Fluxo de trabalho melhorado para geocodificação de endereço</li>
		  <li>Suporte para galeria de mapa base personalizado a partir da sua organização do ArcGIS Online</li>
		  <li>A funcionalidade Inserir Mapa utiliza o mapa padrão da sua organização do ArcGIS Online</li>
		  <li>Pesquisa de dados no ArcGIS Online utilizando categorias populares como Bens, Negócios, Política e Saúde</li>
		  <li>Posicionamento de nomes é agora baseado na posição de dados. Por exemplo, os rótulos no fluxo de trabalho da geocodificação mostrarão as prefeituras no Japão, estados nos Estados Unidos e províncias no Canadá.</li>
		  <li>Suporte para Microsoft Office 2013</li>
		  <li>Outras melhorias cartográficas, adequação de uso e qualidade</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Guia de Introdução</h3>
          <ul>
           <li><a href="#whatsNew">Quais as novidades</a></li>
            <li><a href="#systemRequirements">Requisitos de sistema</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Assista aos vídeos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
