---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="app-studio"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="pt-br">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/appstudio/">AppStudio for ArcGIS (Beta)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/pt-br/appstudio/">Página Inicial</a></li>
        <li><a href="/pt-br/appstudio/create-apps/">Criar Aplicativos</a></li>
       <!-- <li><a href="/pt-br/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/pt-br/appstudio/extend-apps/">Estender Aplicativos</a></li>
		<li><a href="https://betacommunity.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">O AppStudio for ArcGIS é uma ferramenta inovadora que converte seus mapas em aplicativos móveis atrativos para Mac, iOS, Android, Windows e Linux.</h3>
  
	<a href="http://beta.esri.com/community/" class="btn primary icon-storage">Baixar a versão Beta</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>Faça mais em menos tempo</h3>
          <p>Vá da idéia até o armazenamento do aplicativo em menos de 20 minutos. </p>		  
		           
          <p>
            <a href="/pt-br/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>Testar e implantar</h3>
		  <p>Implante e proteja seus próprios aplicativos dentro da sua organização.</p>
	       
          <p>
            <a href="/pt-br/appstudio/create-apps/whatisappstudio.htm#ESRI_SECTION1_FE63E486A16B4260A0B9D2802784E616" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Desenvolvimento de plataforma cruzada</h3>
		  <p>Construa um aplicativo e o implante através de múltiplo fatores de formulário e plataformas inclusive Android, iOS, Windows, Mac e Linux.</p>
	      
          <p>
            <a href="/pt-br/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>Aplicativos para público e enterprise</h3>
		  <p>Obtenha seus próprios aplicativos registrados nas lojas de aplicativos do Google Play, Apple e Microsoft.</p>
	      
          <p>
            <a href="/pt-br/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">Feições</h2>
		
		   <ul><li>Criar aplicativos facilmente </li>
		       <li>Utilize os modelos de aplicativo configuráveis incluídos.</li>
			   <li>Execute seus aplicativos em qualquer dispositivo.</li>
			   <li>Alavanque seu investimento do ArcGIS reutilizando seus mapas da web, ferramentas de mapa e serviços da feição.</li>
			   <li>Utilize as ferramentas de produtividade de desenvolvedor da plataforma cruzada incluídas.</li>
			   <li>Simplifique implantações e atualizações.</li>
			   <li>Implante um ambiente de teste para revisão de aplicativo durante a implantação.</li>
			   <li>Distribua arquivos de instalação manualmente ou publique em um armazenamento público ou interno.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">Requisitos de sistema</h2>
		
          <p>Há determinados requisitos do dispositivo para executar o AppStudio for ArcGIS e o Player, como também, requisitos sobre os dados que são utilizados dentro do aplicativo.</p>
          <p>	

          <h3>Requisitos dos dados</h3>
          <p>Para utilizar seus mapas no AppStudio, você deve ter uma conta organizacional do ArcGIS. Seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server.</p>
          <p>		  
		
          <h3>Requisitos do dispositivo</h3>
          <p>Os seguintes sistemas operacionais (com versões mínimas) são suportados.</p>
          <p>
		  	  
          <h4>AppStudio for ArcGIS</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>

        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04 </li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>Idiomas suportados</h3> 
        <p>Em breve.</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>O AppStudio suporta ArcGIS Runtime SDK 10.2.5 for Qt.</p>


        <p>Compartilhe suas <a href="http://ideas.arcgis.com/">ideias</a> e <a href="http://support.esri.com/en/">nos envie seu comentário</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Novo no AppStudio?</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  Assista a apresentação do vídeo</a></h4>  
          <h4><a href="#features">Recursos</a></h4>
          <h4><a href="#systemrequirements">Requisitos de sistema</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">Mais Postagens do Blog</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
