---
title: Feedback - ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - libs/jquery.cookie
  - app-feedback

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="feedback">Feedback</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">


     <div class="row main">
		<div class="thank-you panel leader-2">
		  <h2 data-langlabel="feedback-thank-you">Thank you!</h2>
         <section>
         <p data-langlabel="feedback-confirmation-note">You just helped us make this site a little better. We always take feedback seriously. It improves the site for everyone. Thanks again!</p>
        </section>

		  <p>
		  <strong><span id="referPageLink"></span></strong>
		  </p>
		</div>
    </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {
		addReferrerLink();

	});
</script>

  </div>

