---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/no/marketplace/">Hjelp</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/no/marketplace/">Hovedside</a></li>
        <li><a href="/no/marketplace/consumer/">For forbrukere</a></li>
        <li><a href="/no/marketplace/provider/">For leverand&oslash;rer</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Hva er ArcGIS Marketplace?</h2>

          <p>P&aring; ArcGIS Marketplace kan ArcGIS Online-organisasjoner s&oslash;ke etter, finne og skaffe seg apper og data fra kvalifiserte leverand&oslash;rer (Esri og Esris forretningspartnere og distribut&oslash;rer) som de kan bruk i sin egen organisasjon. Appene og datatjenestene som er oppf&oslash;rt p&aring; Marketplace, kan gj&oslash;res tilgjengelig for ArcGIS Online-organisasjoner over hele verden.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Styrk virksomheten </h3>
          <p>Finn apper og datatjenester du kan bruke i organisasjonen. N&aring;r du har skaffet deg en app eller datatjeneste, kan du enkelt dele den med grupper og brukere i organisasjonen.</p>
          <p>

			<a href="/no/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a> <br/> <a href="/no/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;Vanlige sp&oslash;rsm&aring;l</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>N&aring; ut til brukerne</h3>
          <p>P&aring; ArcGIS Marketplace kan du n&aring; ut til potensielle kunder, tilby gratis pr&oslash;veversjoner, gi tilgang til oppf&oslash;ringene dine og administrere abonnement.</p>
          <p>
            <a href="/no/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Vis meg hvordan</a> <br/> 
			<a href="/no/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Bli leverand&oslash;r</a> <br/> <a href="/no/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;Vanlige sp&oslash;rsm&aring;l</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">Webomr&aring;det ArcGIS Ideas</h3>
         <p>Finner du ikke appene eller dataene du trenger? Send inn et forslag, eller stem p&aring; eksisterende forslag.</p>
         <p>Er du leverand&oslash;r p&aring; jakt etter ideer? Se hva kundene &oslash;nsker seg. Inviter bidragsytere til privat samarbeid om utvikling av ideer.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

