---
title: Community Analyst
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init


metatags:
  - <META name="description" content="Community Analyst Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="community-analyst"><META name="sub_category" content="Community Analyst"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Community Analyst"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/community-analyst/">Community Analyst</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Community Analyst" data-langlabel="search-community-analyst">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="community-analyst" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/community-analyst/">Home</a></li>
        <li><a href="/en/community-analyst/help/">Help</a></li>
        <!-- <li><a href="/en/community-analyst/mobile/">Mobile</a></li> -->
        <li><a href="http://forums.arcgis.com/forums/123-Community-Analyst">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Start using the app</h2>
          <!-- <span id="appVersion"><strong>Version:</strong> 1.0</span> -->
          <span id="appReleased"><strong>Updated:</strong> Nov 2015</span>


          <p>Community Analyst is a web-based solution that applies GIS technology to extensive demographic, consumer spending, and business data to deliver on-demand analysis, presentation-ready reports and maps. Select from a wide variety of existing reports, or create custom reports to meet your marketing needs.</p>

          <p>
             <a  class="btn secondary" href="http://communityanalyst.arcgis.com/" target="_blank">Sign in to Community Analyst</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="color-coded.png" />

          <h3>Create color-coded maps</h3>
          <p>This video shows you how to use the color-coded maps tool to select one of the thousands of data variables available in Community Analyst, and visualize the data on a map.</p>
          <p>
            <!-- <a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch the video</a> -->
			<a title="Create color-coded Maps" href="http://video.arcgis.com/iframe/3009/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="3010" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3010/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="smart-map.png" />

          <h3>Responsive Smart Map Searches</h3>
          <p>You can now select multiple brackets or define your own, such as households earning over $50K annually or men aged 25 - 75. Or use advanced options to create even more variables to map and analyze.</p>
          <p>
           <!-- <a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch the video</a> -->
			<a title="Responsive Smart Map Searches" href="http://video.arcgis.com/iframe/3008/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="3012" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3012/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>



        <!-- <h3>Supported languages</h3>
        <p>Arabic, English, Chinese, French, German, Italian, Japanese, Spanish, Portuguese (Brazil), and Russian.</p> -->





        <a name="whatsNew"></a>
        <h3>What's new</h3>
        <p>The latest release includes the following enhancements:</p>
        <ul>
			<li>Mapping
				<ul>
					<li>You can now <a href="/en/community-analyst/help/color-coded-maps.htm#ESRI_SECTION1_5CB9F61CD7AD47BCB1F565B475CB4E3D">browse and select the 2015 Dominant Tapestry Segment</a> when creating a color-coded map in the U.S. </li>
					<li>Access to Web Maps is now available from the "Create Maps from Data" menu. </li>
					<li>New options in Preferences are available to change color and thickness of boundary borders.</li>
					<li>The ability to display boundary borders and labels is now available for all countries.</li>
				</ul></li>
			<li>Display enhancements for sites, businesses, and imported points
				<ul>
					<li><a href="/en/community-analyst/help/set-preferences.htm#ESRI_SECTION1_B2BC0A3005434363A13713733145A167">Import and store logos to represent locations that you import</a> or business locations from Business and Facilities Search.</li>
					<li>Set the default symbol for sites, imported files, and business and facilities search results.</li>
					<li>New options for displaying point data are now available with a new mapping option in <a href="/en/community-analyst/help/import-file.htm">Import File</a> and in <a href="/en/community-analyst/help/business-and-facilities-search.htm">Business and Facilities Search</a>.</li>
					<li>Reorder saved variables.</li>
				</ul></li>
			<li>New ways to create trade areas
				<ul>
					<li><a href="/en/community-analyst/help/find-location.htm#ESRI_SECTION1_021BBA7E96FB4D69882832382902064A">Create trade areas around sites based on walk time or distance</a>.  Walk times follow paths and roads that allow pedestrian traffic and find solutions that optimize travel time/distance.</li>
					<li>Reports using bands can be applied to rings, drive times, and walk times.</li>
					<li><a href="/en/community-analyst/help/find-location.htm#ESRI_SECTION1_9AAE29FA0F6B4BDBB7E27C82941933EF">More options are available for drive time analysis</a> including travel mode (driving, rural driving, and trucking), direction to or from a facility, and traffic. Traffic options include live traffic or traffic based on typical conditions.</li>
				</ul></li>
			<li>Content Updates
				<ul>
					<li>Infogroup is the <a href="/en/esri-demographics/data/business.htm">new Business Locations/Business Search provider</a> in the U.S. and Canada.</li>
					<li><a href="/en/esri-demographics/data/retail-marketplace.htm">Retail MarketPlace Profile and data</a> have been updated to include business summary counts from Infogroup.</li>
					<li><a href="/en/esri-demographics/data/shopping-centers.htm">Major Shopping Center Locator and Major Shopping Center Map</a> have been updated to include June 2015 data from Directory of Major Malls (DMM).</li>
					<li>Advanced Demographic Datasets are now available. <ul><li>Choose either the Standard data, from Michael Bauer Research (MBR), or the Advanced data.</li></ul></li>
					<li><a href="/en/esri-demographics/data/north-america.htm">Canada 2015 demographic updates</a> (from Environics Analytics).</li>
					<li><a href="http://blogs.esri.com/esri/arcgis/2015/11/04/upcoming-november-2015-release-demographic/">Updates to 45 countries</a> (Standard MBR Data Update).</li>
				</ul></li>
		</ul>


        <a name="systemRequirements"></a>
        <h3>System requirements</h3>

		<ul>
		 <li>Community Analyst requires an account that is part of an ArcGIS Online organization and is a member of a group with access to the Community Analyst Application.</li>
		 <li>Community Analyst supports the following browsers: Internet Explorer 9+<b>*</b>, Chrome (latest), Firefox (latest), and Safari (latest for Windows<b>*</b> and Mac OS X).<br>
		 <b>*</b> Some features will not work in Internet Explorer 9 and Safari for Windows.</li>
		</ul>
		
        <a name="previousUpdates"></a>
        <h3>Previous updates</h3>
		<h5>Community Analyst Sept 2015</h5>
        <ul>
			<li>Run Community Analyst on the web browser of your tablet device.</li>
			<li>Access recently created sites, reports, and searches from the new home page tab.</li>
			<li>Access the latest data on income, age, spending, and more for many countries including Germany, Spain, Denmark, France, and others. This update replaces the data that was previously available. See the <a href="http://blogs.esri.com/esri/arcgis/2015/06/25/upcoming-july-2015-release-of-updated-standard-global-demographic-data/">full list of updates here</a>.</li>
			<li>Community Analyst has been modernized to use the latest web technology. As a result, Community Analyst will not support Internet Explorer version 8 and older. <a href="#systemRequirements">Learn more about supported browsers</a>.</li>
		</ul>		
		<h5>Community Analyst May 2015</h5>
		<ul>
			<li>Esri 2015 U.S. Data Update
				<ul><li>Demographic Data and Reports</li>
				<li>Tapestry Segmentation Data and Report</li>
				<li>Consumer Spending Data and Reports</li>
				<li>Market Potential Data and Reports</li>
				<li>Retail MarketPlace Data and Report (with data from Dun & Bradstreet)</li>
				<li>Business Summary Data and Report (with data from Infogroup)</li>
				<li>American Community Survey (ACS) Data and Reports (2009-2013)</li></ul>
			<li>AGS 2014 U.S. Crime Data Update (2014A)</li>
			<li>Kalibrate 2015 U.S. Traffic Count Report Update (Q1, 2015)</li>
			<li>New Health category for browsing data variables important to the Health industry</li>
		</ul>
		<h5>Community Analyst March 2015</h5>
		<ul>
		<li>In the Community Analyst web app, drive time areas have been improved with a newer algorithm that has better performance and is consistent with how drive times are generated across the platform
		<li>Announced deprecation of IE8 support
		<li>Image quality improvement for custom logos
		<li>Addition of advanced datasets for Australia and Spain in the form of new reports
		</ul>
		<h5>Community Analyst December 2014</h5>
		<ul>
		<li>This release of Community Analyst included adding 57 new countries bringing the total to 137 countries and equivalent to all country data available through GeoEnrichment Services in ArcGIS Online
		<li>Canada was updated to include 2014 updates from Environics Analytics
		<li>Australia, France, Germany, and India each had advanced datasets added in the form of new reports
		</ul>
		<h5>Community Analyst November 2014</h5>
		<ul>
		<li>Generate all-in-one PDF report, send notification via email, and share on ArcGIS Online
		</ul>
		<h5>Community Analyst July 2014</h5>
		<ul>
		<li>2014 Esri US Demographic data and reports
		</ul>
		<h5>Community Analyst March 2014</h5>
		<ul>
		<li>Data for more than 80 countries added
		<li>Import sites from the Legacy Community Analyst app
		<li>Share sites to ArcGIS Online
		<li>Use sites in web maps in ArcGIS Online
		<li>Share maps for ArcGIS Online
		<li>Shared maps are available for use in ArcGIS Online
		<li>Updated American Community Survey (ACS) data (2007-2011)
		<li>Updated Market Potential data (2013)
		<li>New Data Collections - At Risk, Poverty, and Key Facts
		<li>Data in web maps can be combined with Esri Data for mapping and Smart Map Search
		</ul>
		<h5>Community Analyst July 2013</h5>
		<ul>
		<li>Step-by-step Guided Tours (in the US)
		<li>Easy to find data in the Data Browser
		<li>Get reports from the pin menu
		<li>Create custom variables
		<li>Responsive Smart Map Search
		<li>Color coded maps based on targeted areas
		<li>Access map content from ArcGIS Online
		<li>Add notes, pictures, and labels
		<li>Select geographies by clicking on the map
		<li>Combine geographies into one site
		<li>Measure distance and area
		<li>New map legend
		<li>Improved search bar
		</ul>
		
      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
            <li><a href="http://help.arcgis.com/en/communityanalyst/online/newgen/faqs/index.html">FAQs</a></li>
            <li><a href="#whatsNew">What's new</a></li>
            <li><a href="#systemRequirements">System Requirements</a></li>
            <li><a href="#previousUpdates">Previous updates</a></li>
			<li><a href="http://video.arcgis.com/series/58/community-analyst/order/desc">Watch videos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>
		<p>&nbsp;</p>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/community-analyst/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>