---
title: Community Analyst
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - video-init


metatags:
  - <META name="description" content="Community Analyst Home page."><META name="last-modified" content="2016-12-22"><META name="product" content="community-analyst"><META name="sub_category" content="Community Analyst"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Community Analyst"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/community-analyst/">Community Analyst</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Community Analyst" data-langlabel="search-community-analyst">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="community-analyst" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/community-analyst/">Home</a></li>
        <li><a href="/en/community-analyst/help/">Help</a></li>
        <!-- <li><a href="/en/community-analyst/mobile/">Mobile</a></li> -->
        <li><a href="http://forums.arcgis.com/forums/123-Community-Analyst">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Start using the app</h2>
          <!-- <span id="appVersion"><strong>Version:</strong> 5.4</span> -->
          <span id="appReleased"><strong>Updated:</strong> December 2016</span>


          <p>Community Analyst is a web-based solution that applies GIS technology to extensive demographic, consumer spending, and business data to deliver on-demand analysis, presentation-ready reports and maps. Select from a wide variety of existing reports, or create custom reports to meet your marketing needs.</p>

          <p>
             <a  class="btn secondary" href="http://communityanalyst.arcgis.com/" target="_blank">Sign in to Community Analyst</a>

          </p>

        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Smart Map search -->
		<div id="smartmapsearch" class="column-12 phone-column-24">
		  <a title="Responsive Smart Map searches" class="videoLink colorbox-evlarge" href="http://productmedia.esri.com/arcstream/2013/11/3008-smart-map-search-in-community-analyst_960.mp4" style="max-width: 350px">
		  <img src="smart-map.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Smart Map search</h3>
          <p>Select multiple brackets or use advanced options to create even more variables to map and analyze.</p>
          <p>
           <a title="Responsive Smart Map searches" href="http://productmedia.esri.com/arcstream/2013/11/3008-smart-map-search-in-community-analyst_960.mp4" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://productmedia.esri.com/arcstream/2013/11/3008-smart-map-search-in-community-analyst_480.mp4">
			</video>
          </p>
        </div>
		
		
		<!-- Customize report] -->
		<div id="customizereport" class="column-12 phone-column-24">
		  <a title="Customize an existing report" class="videoLink colorbox-evlarge" href="http://productmedia.esri.com/arcstream/2016/03/5000-customize-an-existing-report_960.mp4" style="max-width: 350px">
		  <img src="customize-report.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Custom reports</h3>
          <p>Quickly transform a standard report into a customized report by changing the logo and title.</p>
          <p>
           <a title="Customize an existing report" href="http://productmedia.esri.com/arcstream/2016/03/5000-customize-an-existing-report_960.mp4" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://productmedia.esri.com/arcstream/2016/03/5000-customize-an-existing-report_480.mp4">
			</video>
          </p>
        </div>
		
		
		<!-- Color-coded maps] -->
		<div id="colorcodedmaps" class="column-12 phone-column-24">
		  <a title="Vizualize thousands of variables" class="videoLink colorbox-evlarge" href="http://productmedia.esri.com/arcstream/2013/11/3009-create-color_dash_coded-maps-in-community-analyst_960.mp4" style="max-width: 350px">
		  <img src="color-coded.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Color-coded maps</h3>
          <p>Select one of the thousands of data variables available and visualize the data on a map. </p>
          <p>
           <a title="Vizualize thousands of variables" href="http://productmedia.esri.com/arcstream/2013/11/3009-create-color_dash_coded-maps-in-community-analyst_960.mp4" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://productmedia.esri.com/arcstream/2013/11/3009-create-color_dash_coded-maps-in-community-analyst_480.mp4">
			</video>
          </p>
        </div>
		
		
		<!-- Finf location] -->
		<div id="findlocation" class="column-12 phone-column-24">
		  <a title="Get market information around your site" class="videoLink colorbox-evlarge" href="http://productmedia.esri.com/arcstream/2013/12/3079-using-the-find-location-tool-in-community-analyst_960.mp4" style="max-width: 350px">
		  <img src="find-location.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Find location tool</h3>
          <p>Search and create analysis sites and get market information around a location. </p>
          <p>
           <a title="Get market information around your site" href="http://productmedia.esri.com/arcstream/2013/12/3079-using-the-find-location-tool-in-community-analyst_960.mp4" class="icon-play colorbox-evlarge">&nbsp;Watch the video</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://productmedia.esri.com/arcstream/2013/12/3079-using-the-find-location-tool-in-community-analyst_480.mp4">
			</video>
          </p>
        </div>

        <div class="clear"></div>
		
      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
			<li><a href="http://links.esri.com/community-analyst/videos/getting-started">Getting started video</a></li>
            <li><a href="/en/community-analyst/help/system-requirements.htm">System requirements</a></li>
            <li><a href="/en/community-analyst/help/whats-new-in-community-analyst.htm">What's new</a></li>
            <li><a href="/en/community-analyst/help/faqs.htm">FAQs</a></li>
			<li><a href="http://links.esri.com/community-analyst/videos/playlist">More videos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>
		<p>&nbsp;</p>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/community-analyst/feed/',
        max: 3,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>