---
title: Community Analyst
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="Community Analyst Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="community-analyst"><META name="sub_category" content="Community Analyst"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Community Analyst"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/en/community-analyst/">Community Analyst</a>
          </nav>
          <h1 class="sub-nav-title leader-1 text-white">Community Analyst</h1>
			    <div class="trailer-half clearfix">
            &nbsp;
          </div>
          <p class="text-white font-size--2">&nbsp;</p>
        </div>
        <!-- Placeholder for image in blue banner-->
		  <div class="sdk-home-banner-image">
          <img src="../arcgis-online/img/main-scalable.png">
        </div>
		  <div class="search-bar">
			 <form id="helpSearchForm" target="_top">
			  <input type="search" name="q" class="leader" placeholder="Search Community Analyst">
			  <input type="hidden" name="collection" value="help" />
			  <input type="hidden" name="product" value="community-analyst" />
			  <input type="hidden" name="language" value="<%= current_language %>" />
			  <button class="search-submit icon-ui-search" type="submit"></button>
			</form>
		  </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link  is-active" href="/en/community-analyst/">Home</a></li>
        <a class="sub-nav-link" href="/en/community-analyst/help/">Help</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <h2 id="appTitle">Start using the app</h2>
    <p>Community Analyst is a web-based solution that applies GIS technology to extensive demographic, consumer spending, and business data to deliver on-demand analysis, presentation-ready reports and maps. Select from a wide variety of existing reports, or create custom reports to meet your marketing needs.</p>
    <p>
      <a class="btn secondary" href="http://communityanalyst.arcgis.com/" target="_blank">Sign in to Community Analyst</a>
    </p>
  </div>
  <div class="column-8 tablet-column-12 right">

	 <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">The latest release includes the following enhancements: Updated content, Report Builder</p>

    </div>
  </div>
</div>

  <div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
    <ul class="list-plain sdk-home-nav-list">
      <li><a href="/en/community-analyst/help/faqs.htm">FAQs</a></li>
      <li><a href="#">What's new</a></li>
      <li><a href="#">System Requirements</a></li>
      <li><a href="#">Previous updates</a></li>
      <li><a href="http://video.arcgis.com/series/58/community-analyst/order/desc">Watch Videos</a></li>
    </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>


<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel panel-no-padding">
            <a href="http://video.arcgis.com/iframe/3009/000000/width/960/0/00:00:00"><img class="trailer-1" alt="" src="color-coded.png"></a>
            <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Create color-coded maps</h3>
            <p>This video shows you how to use the color-coded maps tool to select one of the thousands of data variables available in Community Analyst, and visualize the data on a map.</p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge" title=">Watch the video" href="http://video.arcgis.com/iframe/3009/000000/width/960/0/00:00:00">Watch the video</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="http://video.arcgis.com/iframe/3008/000000/width/960/0/00:00:00"><img class="trailer-1" alt="" src="smart-map.png"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Responsive Smart Map Searches</h3>
            <p>You can now select multiple brackets or define your own, such as households earning over $50K annually or men aged 25 - 75. Or use advanced options to create even more variables to map and analyze.</p>
            <p><a class="icon-ui-play icon-ui-small colorbox-evlarge" title=">Watch the video" href="http://video.arcgis.com/iframe/3008/000000/width/960/0/00:00:00">Watch the video</a></p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <!-- Collapsible contents -->

  <!-- Blog -->
  <div class="panel panel panel-no-border panel-no-padding leader-1">
      <div class="grid-container padding-leader-1 padding-trailer-1">
        <div class="column-24">
          <h2 class="text-rule padding-trailer-half">From our Blog
            <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/community-analyst/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
          </h2>
          <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/community-analyst/feed/" class="block-group block-group-3-up blogHpFeed">
				<!-- Blog Content goes here -->
			 </div>
        </div>
      </div>
    </div>

	<!-- Forum -->
	<div class="panel panel-white panel-no-border panel-no-padding">
        <div class="grid-container padding-trailer-1 padding-leader-1">
          <div class="column-24">
            <h2 class="text-rule padding-trailer-half">Discussions on GeoNet
              <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/arcgis-app-for-smartphones-and-tablets">Read more  <span class="icon-ui-small icon-ui-link-external"></span></a>
              <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/discussion/create.jspa?containerType=14&amp;containerID=4472">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
            </h2>
            <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
				</div>

          </div>
        </div>
      </div>

	<!-- Social -->
	<div class="panel panel-dark panel-no-border">
	  <div class="grid-container">
		 <div class="column-25 text-white text-center">
			<h4 class="trailer-half">Connect with the Community Analyst</h4>
			<a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISRuntime"></a>
			<a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Android"></a>
			<a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/EsriGeoDev"></a>
			<a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-android"></a>
			<a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
		 </div>
	  </div>
	</div>

	<!-- Videos -->
	<div class="panel panel-blue panel-no-border panel-no-padding">
    <div class="grid-container padding-leader-1 padding-trailer-1">
      <div class="column-24">
        <h2 class="text-white text-rule padding-trailer-half">From our Videos
          <a class="btn btn-transparent btn-large right" href="http://video.esri.com/search/community-analyst">More Videos  <span class="icon-ui-link-external icon-ui-small"></span></a>
        </h2>
        <div class="flexible-block-group flexible-block-group-4-up">
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="http://video.esri.com/iframe/3165/000000/width/960/1" class="colorbox-evlarge" title="Re-Designing for Climate Change" ><img alt="Re-Designing for Climate Change" src="http://video.esri.com/thumbs/2014/02/3165/3165-re_dash_designing-for-climate-change_x.jpg"></a>
                <h5 class="leader-1">Re-Designing for Climate Change</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge" href="http://video.esri.com/iframe/3165/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="http://video.esri.com/iframe/2777/000000/width/960/1" class="colorbox-evlarge" title="Make Better Policy Decisions Using Esri Community Analyst" ><img alt="Make Better Policy Decisions Using Esri Community Analyst" src="http://video.esri.com/thumbs/2013/08/2777/2777-make-better-policy-decisions-using-esri-community-analyst_x.jpg"></a>
                <h5 class="leader-1">Make Better Policy Decisions Using Esri Community Analyst</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge" href="http://video.esri.com/iframe/2777/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="http://video.esri.com/iframe/2168/000000/width/960/1" class="colorbox-evlarge" title="Esri Apps for Analysis and Visualization" ><img alt="Esri Apps for Analysis and Visualization" src="http://video.esri.com/thumbs/2013/03/2168/2168-esri-apps-for-analysis-and-visualization_x.jpg"></a>
                <h5 class="leader-1">Esri Apps for Analysis and Visualization</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge" href="http://video.esri.com/iframe/2168/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
              <div class="flexible-block-group-conent">
                <a href="http://video.esri.com/iframe/1632/000000/width/960/1" class="colorbox-evlarge" title="Encouraging Geoliteracy" ><img alt="Encouraging Geoliteracy" src="http://video.esri.com/thumbs/2012/08/1632/1632-encouraging-geoliteracy_x.jpg"></a>
                <h5 class="leader-1">Encouraging Geoliteracy</h5>
              </div>
              <div class="flexible-block-group-footer">
                <a class="colorbox-evlarge" href="http://video.esri.com/iframe/1632/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
