---
title: AppStudio for ArcGIS 
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="AppStudio for ArcGIS"><META name="last-modified" content="2015-3-3"><META name="product" content="app-studio"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/appstudio/">AppStudio for ArcGIS (Beta)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/de/appstudio/">Startseite</a></li>
        <li><a href="/de/appstudio/create-apps/">Apps erstellen</a></li>
       <!-- <li><a href="/de/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/de/appstudio/extend-apps/">Apps erweitern</a></li>
		<li><a href="https://betacommunity.esri.com/project/forum/default.html?cap=5E0BCBB972004AC7A67F93442531EF0F">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 


    <h3 class="gray">AppStudio for ArcGIS ist ein innovatives Werkzeug, mit dem Karten in ansprechende mobile Apps für Mac, iOS, Android, Windows, und Linux konvertiert werden.</h3>
  
	<a href="http://beta.esri.com/community/" class="btn primary icon-storage">Herunterladen der Beta-Version</a>
  
    <hr />

        <div class="column-12 phone-column-24">
          <img src="img/MoreWithLess.png" />
          <p></p>

          <h3>Zeiteffizienteres Arbeiten</h3>
          <p>Sie benötigen weniger als 20 Minuten von der Idee bis zum App Store. </p>		  
		           
          <p>
            <a href="/de/appstudio/create-apps/usetemplatecreateapp.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/TestPlain.png" />
          <p></p>

          <h3>Testen und Bereitstellen</h3>
		  <p>Stellen Sie eigene Apps sicher in Ihrer Organisation bereit.</p>
	       
          <p>
            <a href="/de/appstudio/create-apps/whatisappstudio.htm#ESRI_SECTION1_FE63E486A16B4260A0B9D2802784E616" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
          </p>
        </div>


        <div class="column-12 phone-column-24">
          <img src="img/CrossPlatform.png" />
          <p></p>

          <h3>Plattformübergreifende Entwicklung</h3>
		  <p>Erstellen Sie eine App, und stellen Sie sie für mehrere Formfaktoren und Plattformen einschließlich Android, iOS, Windows, Mac und Linux bereit.</p>
	      
          <p>
            <a href="/de/appstudio/create-apps/createappcloudmake.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
          </p>
        </div>	
		
		
        <div class="column-12 phone-column-24">
          <img src="img/store.png" />
          <p></p>

          <h3>Apps für die Öffentlichkeit und für Unternehmen</h3>
		  <p>Stellen Sie eigene individuelle Apps in App Stores von Google Play, Apple und Microsoft bereit.</p>
	      
          <p>
            <a href="/de/appstudio/create-apps/distributeyourapp.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
          </p>
        </div>		


        <div class="clear"></div>


		        <a name="features"></a>
        <h2 class="divider">Features</h2>
		
		   <ul><li>Erstellen Sie Apps auf einfache Weise </li>
		       <li>Verwenden Sie die enthaltenen konfigurierbaren App-Vorlagen.</li>
			   <li>Führen Sie Ihre Apps auf einem beliebigen Gerät aus.</li>
			   <li>Nutzen Sie Ihre ArcGIS-Investition, indem Sie Ihre Webkarten, Kartenwerkzeuge und Feature-Services wiederverwenden.</li>
			   <li>Verwenden Sie die enthaltenen plattformübergreifenden Produktivitätswerkzeuge für Entwickler.</li>
			   <li>Vereinfachen Sie Bereitstellung und Aktualisierungen.</li>
			   <li>Stellen Sie eine Testumgebung für die App-Überprüfung während der Entwicklung bereit.</li>
			   <li>Verteilen Sie Installationsdateien manuell, oder veröffentlichen Sie Apps in einem internen oder öffentlichen Store.</li>
		   </ul>



		
        <a name="systemrequirements"></a>
        <h2 class="divider">Systemanforderungen</h2>
		
          <p>Für die Ausführung von AppStudio for ArcGIS und Player müssen die Geräte sowie die Daten, die in der Anwendung verwendet werden, bestimmte Anforderungen erfüllen.</p>
          <p>	

          <h3>Datenanforderungen</h3>
          <p>Um die Karten in AppStudio verwenden zu können, müssen Sie über ein ArcGIS-Organisationskonto verfügen. Ihre Karten können Daten aus ArcGIS Online, Portal for ArcGIS und ArcGIS for Server enthalten.</p>
          <p>		  
		
          <h3>Geräteanforderungen</h3>
          <p>Folgende Betriebssysteme (mit Mindestversionen) werden unterstützt:</p>
          <p>
		  	  
          <h4>AppStudio for ArcGIS</h4>
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04</li>

        </ul>
          <h4>AppStudio Player</h4>		
        <ul>
          <li>Windows 7</li>
          <li>OSX 10.8</li>
          <li>Ubuntu 12.04</li>
          <li>Android 4.1 (Jelly Bean)</li>
		  <li>iOS 8</li>
        </ul>
        
        <h3>Unterstützte Sprachen</h3> 
        <p>In Kürze verfügbar.</p>
		
        <h3>ArcGIS Runtime SDK</h3>
        <p>AppStudio unterstützt ArcGIS Runtime SDK 10.2.5 for Qt.</p>


        <p>Teilen Sie uns Ihre <a href="http://ideas.arcgis.com/">Ideen</a> mit, und <a href="http://support.esri.com/en/">geben Sie uns Ihr Feedback</a>.</p>
  
        <p>&nbsp;</p>



  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Neu bei AppStudio?</h3>
  
		  <h4><a href="http://video.arcgis.com/iframe/4274/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  Sehen Sie sich eine Video-Tour an</a></h4>  
          <h4><a href="#features">Features</a></h4>
          <h4><a href="#systemrequirements">Systemanforderungen</a></h4>

          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">Weitere Blog-Postings</a>
        </div>
      </div>
</div>


<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 2,
        layout: 0
      });

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

</script>
