---
title: AppStudio for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="AppStudio for ArcGIS Home page."><META name="last-modified" content="2017-3-2"><META name="product" content="appstudio"><META name="sub_category" content="AppStudio for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="de">

mobile: true

---

<!--
This is a template for a simple homepage.  Please search for and replace the following:
  PRODUCT_METADATA: The metadata for the product
  FULL_PRODUCT_NAME: The full product name, for example "ArcGIS Maps for Office"
  PRODUCT_NAME: The product name without the preceding Esri or ArcGIS.  For example "Maps for Office".  This may be the same as the FULL_PRODUCT_NAME.
  DOWNLOAD_LINK: A link to download the product, free trial, etc.
  VERSION_NUMBER: The version number of the product.  This may be removed if not needed.
  RELEASE_DATE: The time period of the release.  For example, "Fall 2016" or "October 2016"
  NAV_LINK_x: The link for the navigation tabs at the top.
  NAV_TEXT_x: The text for the navigation tabs at the top.
  PRODUCT_SEARCH_VALUE: The product value for the search form
  PRODUCT_IMAGE_231x149.png: This is an image in the first section under the search bar.
  MAIN_TEXT: The text that appears in the first section under the search bar.
  WHATS_NEW_TEXT: A blurb about what's new with the product.
  WHATS_NEW_LINK: A link to more info about what's new with the product.
  POPULAR_LINK_x: Links to popular pages and topics, such as "What's new", "Supported environments", "Archived help", etc.
  POPULAR_TEXT_x: Text for links to popular pages and topics.
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  CARD_LINK_x: The page that the card should link to.
  CARD_TITLE_x: The title of the card.
  CARD_TEXT_x: The text inside the card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
  GEONET_LINK: Link to the product's Geonet page
  BLOG_LINK: Link to the the product's blog
  BLOG_FEED_URL: URL for the product's blog feed
  GEONET_LINK: Link to the the product's geonet page
  GEONET_FEED_URL: URL for the product's geonet feed
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">AppStudio for ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="/de/appstudio/download/">AppStudio herunterladen</a> <!-- INSTRUCTIONS: Remove this p tag if not needed -->
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>Version 1.4</strong> März 2017</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/appstudio/" selected>Startseite</option>
        <option value="/en/appstudio/create-apps/">Erstellen von Apps</option>
        <option value="/en/appstudio/extend-apps/">Erweitern von Apps</option>
        <option value="/en/appstudio/api-guide/">API-Handbuch</option>
        <option value="http://links.esri.com/appstudio/apireference">API-Referenz</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/de/appstudio/">Startseite</a> 
	<a class="sub-nav-link" href="/de/appstudio/create-apps/">Erstellen von Apps</a> 
	<a class="sub-nav-link" href="/de/appstudio/extend-apps/">Erweitern von Apps</a> 
	<a class="sub-nav-link" href="/de/appstudio/api-guide/">API-Handbuch</a> 
	<a class="sub-nav-link" href="http://links.esri.com/appstudio/apireference">API-Referenz</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" class="input-group" target="_top">
          <input type="search" name="q" class="leader input-group-input" placeholder="AppStudio for ArcGIS durchsuchen">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="appstudio" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <span class="input-group-button">
            <button class="icon-ui-search icon-ui-flush" type="submit"></button>
          </span>
        </form>
      </div>
    </div>

    <!--
    <div class="column-16 tablet-column-7">
      <p>MAIN_TEXT</p>
    </div>
    -->
    <!-- INSTRUCTIONS: If you don't want to use an image in this section, uncomment the div above and remove the two divs below. -->
    <div class="column-4 right margin-right-1 padding-left-0">
      <!-- <img src="img/AppStudio.png"> -->

      <a href="https://www.youtube.com/embed/SNhjPh96Z9Q?showinfo=0&autoplay=1" class="colorbox-evlarge cboxElement videoElement" title="Einführung in AppStudio for ArcGIS" onclick="return false;">
        <img alt="Einführung in AppStudio for ArcGIS" src="img/AppStudio.png">
        <div class='play-button'><div class="play-icon"></div></div>

      </a>

    </div>
    <div class="column-11 tablet-column-7">
      <p>AppStudio for ArcGIS ist ein innovatives Werkzeug, mit dem Karten in ansprechende mobile Apps für Mac, iOS, Android, Windows, und Linux konvertiert werden.</p>
    </div>


  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">Neuerungen</h4>
      <p>Neue Produktivitätswerkzeuge</p>
      <a class="btn secondary" href="/de/appstudio/create-apps/whatsnewappstudio.htm">Mehr erfahren</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/de/appstudio/create-apps/guidedtour.htm">Einführung</a></li>
        <li><a href="/de/appstudio/create-apps/systemrequirements.htm">Systemanforderungen</a></li>
	    <li><a href="/de/appstudio/extend-apps/samplecode.htm">Beispielcode</a></li>
	    <li><a href="https://geonet.esri.com/groups/appstudio/blog">Geonet-Blog</a></li>

      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/appstudio/create-apps/usetemplatecreateapp.htm">
            <img alt="" src="img/MoreWithLess.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/appstudio/create-apps/usetemplatecreateapp.htm">Effizienteres Arbeiten</a>
          </h5>
          <p>Von der Idee bis zur Bereitstellung im App Store in weniger als 20 Minuten. </p>
        </div>
        <a href="/de/appstudio/create-apps/usetemplatecreateapp.htm" class="btn btn-clear btn-fill leader-0">Mehr erfahren</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/appstudio/create-apps/guidedtour.htm">
            <img alt="" src="img/TestPlain.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/appstudio/create-apps/guidedtour.htm">Testen und Bereitstellen</a>
          </h5>
          <p>Stellen Sie eigene Apps sicher in Ihrer Organisation bereit.</p>
        </div>
        <a href="/de/appstudio/create-apps/guidedtour.htm" class="btn btn-clear btn-fill leader-0">Mehr erfahren</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/appstudio/create-apps/createappcloudmake.htm">
            <img alt="" src="img/CrossPlatform.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/appstudio/create-apps/createappcloudmake.htm">Plattformübergreifende Entwicklung</a>
          </h5>
          <p>Erstellen Sie eine App und stellen Sie sie für verschiedene Gerätetypen und Plattformen wie Android, iOS, Windows, Mac und Linux bereit.</p>
        </div>
        <a href="/de/appstudio/create-apps/createappcloudmake.htm" class="btn btn-clear btn-fill leader-0">Mehr erfahren</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/de/appstudio/create-apps/distributeyourapp.htm">
            <img alt="" src="img/Store.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/de/appstudio/create-apps/distributeyourapp.htm">Öffentliche oder unternehmensinterne Apps</a>
          </h5>
          <p>Stellen Sie eigene individuelle Apps in App Stores von Google Play, Apple und Microsoft bereit.</p>
        </div>
        <a href="/de/appstudio/create-apps/distributeyourapp.htm" class="btn btn-clear btn-fill leader-0">Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Videos ansehen <a class="btn btn-transparent text-white btn-large right" href="http://www.esri.com/videos/watch?playlistid=series_232&channelid=ArcGISVideo&isLegacy=true&title=appstudio-for-arcgis">Weitere Videos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="PLGZUzt4E4O2Lkm7DlITW8MWKmNjBGcXJP" class="video-holder block-group block-group-4-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Vernetzen mit AppStudio for ArcGIS</h4>
    <a aria-label="Vernetzen Sie sich auf Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/AppStudioArcGIS"></a>
    <a aria-label="Zeigen Sie GitHub-Projekte an" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/arcgis-appstudio-samples"></a>
    <a aria-label="Treten Sie der Community bei" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/appstudio"></a>
    <a aria-label="Geben Sie uns Ihr Feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Lesen Sie unseren Blog <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/appstudio/">Weitere Blogbeiträge</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Tauschen Sie sich mit anderen Benutzern aus <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/groups/appstudio">Weitere Diskussionen</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4076" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
