---
title: Combine Services to Make a Web Map
css:
  - article

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/share/">Share Your ArcGIS Content</a></h1>
    </header>
  </div>
</div>
<!-- Page Content -->
<div class="container">
  <aside class="column-5 post-1">
    <nav class="segmented-navigation">
      <header>
        <h4>Guide</h4>
      </header>
      <ul>
        <li class="current"><a class="icon-right-arrow" href="/share/combine-services-to-make-a-web-map/">Combine Services to make a web map</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/the-advantage-of-web-services/">The advantage of web services</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/explore-your-publishing-options/">Explore your publishing options</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/deploy-apps-and-services-to-the-cloud/">Deploy apps and services to the cloud</a></li>
      </ul>
    </nav>
 </aside>

  <article>
    <h1>Combine Services to Make a Web Map</h1>
	<p>The purpose of most GIS web services is to support an intelligent map that allows query, navigation, and analysis. Assembling a useful web map is a matter of finding (or creating) the right mix of web services that conveys your desired story.</p>
	<blockquote>"Experience shows that the most effective web maps tend to be focused on one subject, and use a simple blend of services to meet a clearly-defined purpose."</blockquote>
	<p>In a web map, some services are visible while others are not. A web service designed primarily for drawing maps may be the first thing you see on the page. Explore the app a little more and you might find that you can click a census block to reveal demographic statistics, charts, and reports. Another button might let you draw a polygon on the map to find out how many people live within the polygon's boundaries. All these interactive elements might be powered by other web services that work alongside your map service.</p>
	<p>The services you use in your apps can come exclusively from your own servers, or from a mix of servers. Many free services that can enhance your applications are available from Esri, OpenStreetMap, and other sources. Web services showing geolocated contributions to social media sites such as Flickr and Twitter can also add value to your web map.</p><p class="main-body">ArcGIS Online is a repository of services contributed by Esri and the public that you can search and use in your applications. Communities on ArcGIS Online allow you to share and find services with others who share your specific interests.</p>
	<p>With all the services available, it's tempting to take a "one app fits all" approach when you build your web map. Experience shows that the most effective web maps tend to be focused on one subject, and use a simple blend of services to meet a clearly-defined purpose. It may be more effective to publish a suite  of focused applications, rather than expose one application that tries to do too much.</p> 	
  </article>
</div>
