---
title: Create your Own Web Services
css:
  - article

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/share/create-your-own-web-services/">Create your Own Web Services</a></h1>
    </header>
  </div>
</div>
<!-- Page Content -->
<div class="container">
  <article class="wo-toc">
    <h1>Create your Own Web Services</h1>
  <p>ArcGIS offers a variety of approaches for publishing web services. You can choose the option that best fits your required functionality and the skill level of your users.</p>
  <blockquote>"ArcGIS offers a variety of approaches for publishing web services"</blockquote>
  <ul>
     <li>
       <p><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/0154/01540000037p000000.htm"><b>ArcGIS for Server</b></a> - Exposes all kinds of GIS web services for mapping, geocoding, geoprocessing, imagery analysis, 3D visualization, geodata synchronization, network analysis, and more.</p>
     <p>ArcGIS for Server can run on your own server machines, or you can run it on the Amazon Elastic Compute Cloud (EC2). Advantages of EC2 include a flexible architecture that allows you to add or remove computing power in reponse to demand, and the ability to distribute your site among physically isolated server farms for high availability.</p>
     <p>ArcGIS for Server is offered in Basic, Standard, and Advanced editions that expose increasing levels of functionality.</p>
     <ul>
       <li><p>The <b>Basic</b> edition exposes geodata services and read-only feature services.</p></li>
       <li><p>The <b>Standard</b> edition exposes all types of GIS web services and can be supplemented with some ArcGIS for Server extensions.</p></li>
       <li><p>The <b>Advanced</b> edition exposes all types of GIS web services, includes a mobile applications SDK, and can be supplemented with the full variety of ArcGIS for Server extensions.</p></li>
     </ul>
     </li>
     <li>
       <p><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/01w1/01w100000045000000.htm"><b>ArcGIS Online</b></a> - Allows you to publish GIS web services to an Esri-administered cloud environment. You don't have to install anything; you just log in to your ArcGIS Online account. You can publish tiled map services and feature services, allowing for web map display, query, and editing.</p>
       <p>You also get an online map viewer and templates to help you create and host your own apps, as well as a community framework to share maps and apps among users and groups. Various subscription plans are available to accommodate different usage levels.</p>
     </li>
     <li><p><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_Portal_for_ArcGIS/019300000007000000/"><b>Portal for ArcGIS</b></a> - Offers the same features as ArcGIS Online, but is installed on your own network infrastructure. You can connect your own ArcGIS for Server implementation to the portal to act as the web service hosting engine. Portal for ArcGIS is appropriate for organizations that are not connected to the Internet, cannot send their data off premises, or need full control over the hardware running the portal.</p></li>
  </ul>
  </article>
</div>