---
title: Deploy Apps and Services to the Cloud
css:
  - article

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/share/">Share Your ArcGIS Content</a></h1>
    </header>
  </div>
</div>
<!-- Page Content -->
<div class="container">
  <aside class="column-5 post-1">
    <nav class="segmented-navigation">
      <header>
        <h4>Guide</h4>
      </header>
      <ul>
        <li class=""><a class="icon-right-arrow" href="/share/combine-services-to-make-a-web-map/">Combine Services to make a web map</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/the-advantage-of-web-services/">The advantage of web services</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/explore-your-publishing-options/">Explore your publishing options</a></li>
        <li class="current"><a class="icon-right-arrow" href="/share/deploy-apps-and-services-to-the-cloud/">Deploy apps and services to the cloud</a></li>
      </ul>
    </nav>
 </aside>

  <article>
    <h1>Deploy Apps and Services to the Cloud</h1>
	<p>Cloud computing technology allows you to host your applications and services from other computers, sparing you the need to acquire and maintain hardware. There are several ways that you can use the cloud as a platform for your GIS apps and services</p> 

	<blockquote>When Esri's technical team needs to deploy a site quickly in response to a natural disaster or other event, they turn to Amazon EC2.</blockquote>	
	
	<h3>ArcGIS Server on Amazon Web Services</h3>
	
	<p>The Amazon Elastic Compute Cloud (EC2) allows you to deploy software on virtual machines running in Amazon's data centers. EC2 is part of Amazon's broader offering of cloud-based services called Amazon Web Services. Esri provides Amazon Machine Images (AMIs) that have ArcGIS for Server preconfigured on them. You can using the AMIs to launch new virtual machines on EC2, then load your own data, services, and apps on them.</p>

	<p>If demand requires, you can automatically scale your deployment by adding more cloud resources. When the site is no longer needed, you can terminate your cloud instances and incur no further cost.</p>

	<p>When Esri's technical team needs to deploy a site quickly in response to a natural disaster or other event, they turn to Amazon EC2. Using the ArcGIS for Server AMIs, they can have a site running in a few hours. They can also quickly dismantle the site and release the resources once it is no longer needed.</p> 	
	
	<h3>ArcGIS Online hosted services</h3>
	
	<p>ArcGIS Online now allows you to publish web services to an Esri-hosted server. To use this option, your organization must have a subscription to ArcGIS Online. You don't have to set up or maintain any server hardware or software. For example, you could just make a map in ArcMap and choose to share it as a service on ArcGIS Online.</p>

	<blockquote>You don't have to set up or maintain any server hardware or software. For example, you could just make a map in ArcMap and choose to share it as a service on ArcGIS Online.</blockquote>
	
	<p>ArcGIS Online supports web services for serving rasterized tiled maps and vector features from a database. Using ArcGIS Online hosted services is simpler than ArcGIS Server on Amazon Web Services because you do not have to worry about certain aspects of server administration and scaling. However, ArcGIS Online is more limited in scope because you cannot deploy the full range of web service types offered by ArcGIS for Server, nor can you deploy your customized apps to the server.</p> 	

	</article>
</div>
