---
title: Working with Real-Time Data Feeds and Sensors
css:
  - features/features-page
  - colorbox/colorbox
js:
  - libs/jquery.cycle2.min
  - libs/jquery.colorbox-min
  - gallery.cycle
  - rssfeed
  - video.init
mobile: true

---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/share/">Share Your ArcGIS Content</a></h1>      
      <a class="btn primary right small-leader" href="#needlink" target="_blank">Free Trial</a>

    </header>
  </div>
</div>


<div class="container">
  <div id="feature-stories">
    <section id="feat-intro" class="row">
      <h1>Working with Real-Time Data Feeds and Sensors</h1>
      <p>Expand the capabilities of ArcGIS by incorporating real- time data into your GIS applications.</p>
    </section>
    <hr>
    <div class="row">
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-connect-to-real-time.jpg">
          <h3>Connect to Real-Time Streaming Data</h3>
          <p>Incorporate real-time information streams. Connect sensors to features to represent up-to-date information as it occurs.</p>
          <p class="cta">Learn more about <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/Overview_of_inputs/01540000064m000000/">Real-Time Streaming Data</a></p>
        </div>
      </section>
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-analyze-process-real-time.jpg">
          <h3>Analyze and Process Real-Time Data</h3>
          <p>Filter streams of data using spatial and attribute functions conditions to focus on the most interesting features. Modify and enrich data streams with additional attributes and descriptive information.</p>
          <p class="cta no-trailer">Learn more about <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/Overview_of_GeoEvent_Processing/01540000064z000000/">Analyzing and Processing Real-Time Data</a></p>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-send-updates-alerts.png">
          <h3>Send Updates and Alerts</h3>
          <p>Send updates and alerts to those who need it.</p>
          <p class="cta">Learn more about <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/Overview_of_outputs/015400000656000000/"> Sending Updates and Alerts</a></p>
        </div>
      </section>
    <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-processor-gallery.png">
          <h3>GeoEvent Processor Gallery</h3>
          <p>Browse the ArcGIS GeoEvent Processor Gallery for configurations, connectors, processors, and tutorials from Esri and its Partners. </p>
          <p class="cta">Learn more about <a href="http://www.arcgis.com/home/group.html?owner=GeoEventTeam&title=ArcGIS%20GeoEvent%20Processor">GeoEvent Processor Gallery</a></p>
          </div>
      </section>
    </div>
    <div class="row">
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-processors-config-github.png">
          <h3>GeoEvent Processor’s Configurations on GitHub</h3>
          <p>Access and extend GeoEvent Processor’s configurations on GitHub.</p>
          <p class="cta">Learn more about <a href="http://esri.github.io/" target="_blank">GeoEvent Processor’s Configurations on GitHub</a></p>
          </div>
      </section>
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/geoevent-extend-geoevent-processor.png">
          <h3>Extend GeoEvent Processor</h3>
          <p>Build custom components and extend existing capabilities. Create new connectors and custom adapters, transports, and processors using the GeoEvent Processor SDK.</p>
          <p class="cta no-trailer">Learn more about  <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/Extending_GeoEvent_Processor/015400000664000000/">Developing your own GeoEvent Processor Configurations</a></p>
        </div>
      </section>
    </div>
  </div>
  <div id="social-column">
    <section id="get-start">
      <div class="blue-panel">
        <h3>Get Started</h3>
        <ul>
		  <li><a href="">What is ArcGIS GeoEvent Processor?</a></li>
		  <li><a href="">Quick tour of GeoEvent Processor</a></li>
		  <li>Help: <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_the_ArcGIS_GeoEvent_Processor_extension/015400000655000000/">10.2</a></li>
        </ul>
      </div>
    </section>
    <section id="blog-container">
      <div class="gray-panel">
      <h3>From our Blog</h3>
      <div id="blog"></div>
      <a href="http://blogs.esri.com/esri/arcgis/" class="btn secondary">Blog Posts</a>
      </div>
    </section>
    <section id="forum-container">
      <div class="gray-panel">
        <h3>From our Forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/257-GeoEvent-Processor" class="btn secondary">Forum Posts</a>
      </div>
    </section>
    <section id="video-column">
      <div class="panel">
        <h3>From our Videos</h3>
        <a class="videoLink" href="http://video.arcgis.com/iframe/2219/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2013/03/2219/2219-arcgis-platform-arcgis-geoevent-processor-for-server.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
        <h4>Introduction to GeoEvent Processor</h4>
        <p>Adam Mollenkopf demonstrates using ArcGIS GeoEvent Processor for Server to power real-time apps.</p>
        <a href="http://video.arcgis.com/watch/2219/arcgis-platform-arcgis-geoevent-processor-for-server" class="btn secondary">More Videos</a>
      </div>
    </section>
  </div>
</div>
<div id="gallery">
  <div class="container">
    <h2>Gallery</h2>
    <span class="more"><a href="http://resources.arcgis.com/en/communities/mapping/home/017w0000000v000000.htm#s=0&n=30&d=1">More Gallery posts</a></span>
    <a id="glprev"></a><a id="glnext"></a>
    <div id="gallery-cont" class="gallerydiv"><!--BEGIN_GUID-BC7A191F-BEEE-4066-A9EC-8F69219729E5_NIGEB-->
      <div class="firstslide">
           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=4c009d4c236c4c0e91936b2fbfb085da"><img src="http://www.arcgis.com/sharing/content/items/4c009d4c236c4c0e91936b2fbfb085da/info/thumbnail/PredominantPop_thumbnail.jpg" alt="Predominant Populations in the U.S.A." title="Predominant Populations in the U.S.A." /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=4c009d4c236c4c0e91936b2fbfb085da">Predominant Populations in the U.S.A.</a>
             </div>
           </div>
         

           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=5a2cc24bdb9f4af986cac8f2cda1a106"><img src="http://www.arcgis.com/sharing/content/items/5a2cc24bdb9f4af986cac8f2cda1a106/info/thumbnail/ago_downloaded.png" alt="Relationship of unemployment to population change" title="Relationship of unemployment to population change" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=5a2cc24bdb9f4af986cac8f2cda1a106">Relationship of unemployment to population change</a>
             </div>
           </div>
         

           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=78525e650cf546dd91cefcc1e99af53a"><img src="http://www.arcgis.com/sharing/content/items/78525e650cf546dd91cefcc1e99af53a/info/thumbnail/landcover.jpg" alt="USA Land Cover" title="USA Land Cover" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=78525e650cf546dd91cefcc1e99af53a">USA Land Cover</a>
             </div>
           </div>
         

           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=40edf78611c94cf68334a52b0ad14a75"><img src="http://www.arcgis.com/sharing/content/items/40edf78611c94cf68334a52b0ad14a75/info/thumbnail/thumb.png" alt="Red, Blue and Purple: the 2012 Presidential Election" title="StreetsRed, Blue and Purple: the 2012 Presidential Election" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=40edf78611c94cf68334a52b0ad14a75">Red, Blue and Purple: the 2012 Presidential Election</a>
             </div>
           </div>
         

         </div>
         <div >
           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=160bdeefa0f9487f81e3162ca98bfe18"><img src="http://www.arcgis.com/sharing/content/items/160bdeefa0f9487f81e3162ca98bfe18/info/thumbnail/webmap_thumb.png" alt="Over the Edge 3D: Death in Grand Canyon" title="Over the Edge 3D: Death in Grand Canyon" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=160bdeefa0f9487f81e3162ca98bfe18">Over the Edge 3D: Death in Grand Canyon</a>
             </div>
           </div>
           
           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=f1a0b48326fd4c5eaf89a4282f0fe0f3"><img src="http://www.arcgis.com/sharing/content/items/f1a0b48326fd4c5eaf89a4282f0fe0f3/info/thumbnail/GCSE_th.png" alt="Failing schools: Achievement test Results for UK Secondary Schools, 2011" title="Failing schools: Achievement test Results for UK Secondary Schools, 2011" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=f1a0b48326fd4c5eaf89a4282f0fe0f3">Failing schools: Achievement test Results for UK Secondary Schools, 2011</a>
             </div>
           </div>
         

           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=a41abaa691834b2f88d73bb744d01d1c"><img src="http://www.arcgis.com/sharing/content/items/a41abaa691834b2f88d73bb744d01d1c/info/thumbnail/thumbnail.png" alt="Landsat Time Enabled Imagery" title="Landsat Time Enabled Imagery" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=a41abaa691834b2f88d73bb744d01d1c">Landsat Time Enabled Imagery</a>
             </div>
           </div>
         

           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=d4124af689f14cbd82b88b815ae81d76"><img src="http://www.arcgis.com/sharing/content/items/d4124af689f14cbd82b88b815ae81d76/info/thumbnail/ago_downloaded.png" alt="Heat wave risk of European cities" title="Heat wave risk of European cities" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=d4124af689f14cbd82b88b815ae81d76">Heat wave risk of European cities</a>
             </div>
           </div>
         

         </div>
        </div>
    
    
  </div>
</div>
<script>
  $(window).load(function() {
      $("#blog").rssFeed({
        url:"http://blogs.esri.com/esri/arcgis/feed/", 
        max: 2,        
        layout: 0
      });
      $("#forum").rssFeed({
        url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=257", 
        max: 2,
        layout: 1
      });
  });
</script>
