---
title: Share Your ArcGIS Content
css:
  - features/features-page
  - colorbox/colorbox
js:
  - libs/jquery.cycle2.min
  - libs/jquery.colorbox-min
  - gallery.cycle
  - rssfeed
  - video.init  
mobile: true

---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Share Your ArcGIS Content</h1>
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
  <div id="feature-stories">
  <section id="feat-intro">
      <p>Turn your professional desktop data, maps, and analytics into hosted maps, analysis services, feature and imagery services. Provide information access across your organization and beyond for use on any device, anywhere, at any time.<p>    
    </section>
    <hr>
    <div class="row">
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/WebServices-thumb.png">
          <h3>Create Web Services</h3>
          <p>Get vector and tiled mapping services running quickly with ArcGIS Online or Portal for ArcGIS. For more control and web service types, use ArcGIS for Server. </p>
          <p class="cta">Learn more about <a href="/share/create-your-own-web-services">Creating Web Services</a></p>
        </div>
      </section>
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/ShareDesktop-thumb.jpg">
          <h3>Share Your GIS in the Cloud or a Local Network</h3>
          <p>Create an online repository where groups of coworkers can create, search, and share their geographic information such as maps, apps, and data. You can do this with the ArcGIS Online cloud environment, or deploy the site on your local network using Portal for ArcGIS.</p>
          <p class="cta">Learn more about <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_ArcGIS_Online/01w100000045000000/">ArcGIS Online</a> and <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_Portal_for_ArcGIS/019300000007000000/">Portal for ArcGIS</a></p>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="feature-box">
          <div class="card">
            <img src="/share/img/geoevent-connect-to-real-time.jpg">
            <h3>Work with Real-Time Data Feeds and Sensor Networks using ArcGIS</h3>
            <p>Location plays a critical role in information integration. Use ArcGIS to monitor and manage your enterprise’s critical assets and data feeds. ArcGIS provides an interface to integrate disparate data feeds based on location and time and can be used to mine real information hidden in a sea of observations.</p>
            <p class="cta">Learn more about <a href="/share/geoevent-processor">Working with Real-Time Data Feeds and Sensors</a></p>
            </div>
        </section>
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/share-github-thumb.png">
          <h3>Share Your Code</h3>
          <p>Use GitHub or your own portal to share custom code and apps with your user community.</p>
          <p class="cta">Learn more about the <a href="http://developers.arcgis.com">ArcGIS Platform for Developers</a> or <br/>join us on <a href="http://esri.github.com">GitHub</a></p>
          </div>
      </section>
    </div>
    <div class="row">
      <section class="feature-box">
        <div class="card">
          <img src="/share/img/openstandards-thumb.png">
          <h3>Support for Open GIS Standards</h3>
          <p>ArcGIS supports industry computing and common web and smart device standards across the platform. Numerous open GIS protocols are supported as well.</p>
          <p class="cta">Learn more about <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_GIS_interoperability/003700000001000000/">ArcGIS Support for Open Standards</a></p>
        </div>
      </section>
	  <section class="feature-box">
	  <div class="card">
          <img src="http://placehold.it/390x150">
          <h3>Share Using the Geoportal Server</h3>
          <p>Use the open-source Geoportal Server to create and publish a standards-based Geospatial catalog for discovery and sharing across your Community. Provide open, customized data curation to your geospatial data producers and consumers.</p>
          <p class="cta">Learn more about <a href="http://esri.github.io/geoportal-server/">The Geoportal Server from Esri</a></p>
        </div>
      </section>
    </div>
  </div>
    <div id="social-column">
      <section id="get-start">
        <div class="blue-panel">
          <h3>Get Started</h3>
          <ul>
            <li><a href="/share/the-advantage-of-web-services">The advantage of web services</a></li>
            <li><a href="/share/web-maps-and-apps">Web maps and apps</a></li>
            <li><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/01w1/01w100000045000000.htm">ArcGIS Online</a></li>
            <li><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_is_Portal_for_ArcGIS/019300000007000000/">Portal for ArcGIS</a></li>
            <li><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/0154/01540000037p000000.htm">ArcGIS Server</a></li>
			<li><a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/What_s_new_in_ArcGIS_10_2_for_Server/015400000640000000/">What's new in ArcGIS for Server?</a></li>
			<li>Help: <a href="http://resourcesdev.arcgis.com/en/help/main/10.2/#/Welcome_to_the_ArcGIS_10_2_for_Server_Windows_Help/0154000002np000000/">10.2</a> | <a href="http://resources.arcgis.com/en/help/main/10.1/#/Welcome_to_the_ArcGIS_10_1_for_Server_Windows_Help/0154000002np000000/">10.1</a> | <a href="http://help.arcgis.com/en/arcgisserver/10.0/help/arcgis_server_dotnet_help/index.html">10.0</a></li>
          </ul>

          </div>
      </section>
      <section id="blog-container">
        <div class="gray-panel">
        <h3>From our Blog</h3>
        <div id="blog"></div>
        <a href="http://blogs.esri.com/esri/arcgis/category/services/" class="btn secondary">Blog Posts</a>
        </div>
      </section>
	  <section id="video-column">
      <div class="panel">
        <h3>From our Videos</h3>
        <a class="videoLink" href="http://video.arcgis.com/iframe/1341/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2012/05/1341/1341-sharing-and-collaborating-within-an-organization.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
        <h4>Sharing and Collaborating Within an Organization</h4>
        <p>Learn how to share and collaborate with other members of an organization in ArcGIS Online.</p>
        <a href="http://video.arcgis.com/series/18/arcgis-online" class="btn secondary">More Videos</a>
      </div>
    </section>
    </div>
  </div>
</div>
<script>
  $(window).load(function() {
      $("#blog").rssFeed({
        url:"http://blogs.esri.com/esri/arcgis/category/services/feed/", 
        max: 2,        
        layout: 0
      });
  });
</script>

