---
title: The Advantage of Web Services
css:
  - article

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/share/">Share Your ArcGIS Content</a></h1>
    </header>
  </div>
</div>
<!-- Page Content -->
<div class="container">
  <aside class="column-5 post-1">
    <nav class="segmented-navigation">
      <header>
        <h4>Guide</h4>
      </header>
      <ul>
        <li class=""><a class="icon-right-arrow" href="/share/combine-services-to-make-a-web-map/">Combine Services to make a web map</a></li>
        <li class="current"><a class="icon-right-arrow" href="/share/the-advantage-of-web-services/">The advantage of web services</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/explore-your-publishing-options/">Explore your publishing options</a></li>
        <li class=""><a class="icon-right-arrow" href="/share/deploy-apps-and-services-to-the-cloud/">Deploy apps and services to the cloud</a></li>
      </ul>
    </nav>
 </aside>

  <article>
    <h1>The Advantage of Web Services</h1>
	<p>A web service takes something from your GIS and puts it in the hands of people who may not have direct access to your organization's data. When you expose your GIS as web services, you're making it available to a variety of apps that might be running on desktop workstations, tablet PCs, or mobile smartphones. You can choose to expose your web services only within your office, but you also have the flexibility to make your web services available to any device that can connect to the Internet.</p>
	<blockquote>"You have the flexibility to make your web services available to any device that can connect to the Internet."</blockquote>
	<p>ArcGIS offers various ways to make your GIS available through web services. These options include ArcGIS for Server, ArcGIS Online, and Portal for ArcGIS. The web services you publish through these technologies use standard architectures such as REST. In fact, Esri has openly published the communication patterns used by its REST-ful web services in a document called the <a href="http://www.esri.com/industries/landing-pages/geoservices/geoservices.html">GeoServices REST Specification</a>.</p>
	<p>Esri freely distributes application programming interfaces (APIs) for popular frameworks such as HTML5, iOS, and Android that help you build web and mobile apps with your GIS web services. You can blend services from your GIS and from other sources to make an intelligent web map. For example, you might publish your own bus route data through an ArcGIS for Server web service and overlay it with a detailed ArcGIS Online imagery basemap in a web application.</p>
	<p><img src="/share/img/advantage-of-web-service.jpg"></p>
	<p>Traditional GIS applications such as ArcMap can also use your web services. However, because the services work through standard web service protocols and architectures, you aren't required to use ArcGIS technologies to consume them.</p>
  </article>
</div>
