---
title: Feedback - ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - app-feedback

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Feedback</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    
     <div class="row main">
		<div class="thank-you panel leader-2">
		  <h2>Thank you!</h2>
		  <p>You just helped us make this site a little better. We always take feedback seriously. It improves the site for everyone. Thanks again!</p>

		  <p>
		  <strong><span id="referPageLink"></span></strong>
		  </p>
		</div>
    </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {
		addReferrerLink();
	
	});
</script>

  </div>

