---
title: Feedback - ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - app-feedback

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---

<div class="navigation-bar blue">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="feedback">Feedback</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">


     <div class="row main">
		<div class="thank-you panel leader-2">
		  <h2 data-langlabel="feedback-thank-you">Thank you!</h2>
         <section>
         <p data-langlabel="feedback-confirmation-note">You just helped us make this site a little better. We always take feedback seriously. It improves the site for everyone. Thanks again!</p>
        </section>

		  <p>
		  <strong><span id="referPageLink"></span></strong>
		  </p>
		</div>
    </div> <!-- end of row main -->

  <p>&nbsp;</p>


<script>
$(document).ready(function() {
    doc.supportForm.addReferrerLink();

    var docCfg = docCfg || {},
        urlLang = doc.l10n.getReferrerLang(),
        curlang = doc.l10n.calcPrefLang (docCfg["langSelector"] || "all", urlLang);


    if (doc.l10n.isSupportedLang(curlang) && !doc.l10n.isEN (curlang)) {   
      doc.l10n.changeLabel (curlang);
    }

	});
</script>

  </div>

