---
title: F&ouml;rtroende
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="sv">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="F&ouml;rtroende f&ouml;r ArcGIS Online" href="/sv/trust/">F&ouml;rtroende</a></li>
        <li><a title="Systemstatus f&ouml;r ArcGIS Online" href="/sv/trust/system-status/">Systemstatus</a></li>
        <li><a title="S&auml;kerhet f&ouml;r ArcGIS Online" href="/sv/trust/security/">S&auml;kerhet</a></li>
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/privacy/">Sekretess</a></li>
        <li><a title="Sekretess f&ouml;r ArcGIS Online" href="/sv/trust/compliance/">Efterlevnad</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS Online &auml;r utformat f&ouml;r att vara ett skyddat system med kontrollerad &aring;tkomst</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="S&auml;kerhet och &auml;gande av data" />
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com &auml;r din fr&auml;msta resurs f&ouml;r information om s&auml;kerhet, sekretess och efterlevnad. S&ouml;k: </p>
      <ul>
        <li>Tillg&auml;nglighet f&ouml;r tj&auml;nsten ArcGIS Online, information om systemprestanda och statushistorik</li>
        <li>S&auml;kerhetsuppdateringar och aktuella varningar</li>
        <li>Produkts&auml;kerhetsinformation f&ouml;r ArcGIS Online</li>
        <li>B&auml;sta s&auml;kerhetspraxis f&ouml;r organisationen</li>
        <li>Information om sekretess och efterlevnad</li>
      </ul>
      <p>Trust.ArcGIS.com har inspirerats av samtal med v&aring;ra kunder. Vad vill du se h&auml;r? Om du har f&ouml;rslag kan du l&auml;mna dem till <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>.</p>
    </div>
    <div class="clear"></div>

    <div style="text-align:center; padding-top:150px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div>
      <a href="/sv/trust/system-status/" class="btn tertiary" style="width:100%;text-align:center;" >Kontrollera systemstatus</a>
    </div>
    <br/>
    <div class="imgFrame block">
      <h3 class="icon-announcement">Varningar och meddelanden</h3>
      <p>Den 6 juni 2014 beviljade myndigheterna ArcGIS Online en l&aring;g FISMA ATO-ackreditering (Authority to Operate). FISMA-ackrediteringen inneb&auml;r att ArcGIS Online har utv&auml;rderats noga av tredje part f&ouml;r att se till att de str&auml;nga s&auml;kerhetskrav som tillhandah&aring;lls av National Institute of Standards and Technology (NIST) i specialpublikation 800-53 &auml;r uppfyllda. <a href="http://www.esri.com/esri-news/releases/14-2qtr/esri-mapping-platform-secured-for-federal-agencys-use">Forts&auml;tt l&auml;sa ...</a></p>
    </div>
    <br />
    <div class="panel">
      <h4>&quot;Esri str&auml;var efter att hela tiden f&ouml;rb&auml;ttra s&auml;kerheten f&ouml;r sin kartplattform och &ouml;ka f&ouml;rtroendet fr&aring;n kunderna genom ackrediteringar som FISMA.&quot;</h4>
      <p>Michael Young, ansvarig s&auml;kerhetsarkitekt, Esri</p>

    </div>
    <br/>
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/sv/trust/security-concern/"> Rapportera ett s&auml;kerhetsproblem</a>  </h4>
    </div>
  </div>

 </div>

  <!-- <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });


    });


  </script>  -->
