---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2015-1-29"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="da"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/collector/">Hjem</a></li>
        <li><a href="/da/collector/android/create-maps/create-maps.htm">Opret kort</a></li>
        <li><a href="/da/collector/android/collect-data/collect-tutorial.htm">Indsaml data</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Brug din smartphone eller  tablet-pc til at indsamle og opdatere oplysninger i marken, uanset om du har forbindelse eller ej.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Opret og del et kort</h3>
          <p>Udvid rækkevidden af ArcGIS til også at omfatte arbejde i marken, og forøg præcisionen og aktualiteten af dine geografiske data. Opret og del kort til dataindsamling i to trin.</p>
          <p>
            <a href="/da/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Indsamle data</h3>
          <p>Opret de data, der har betydning for din organisation, lige fra skadesrapporter og serviceanmodninger til steder af historisk interesse. Det er nemt at inkludere billeder og videoer og dele dit arbejde.</p>
          <p>
            <a href="/da/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br />

			<a title="Indsamle data" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Gå offline</h3>
          <p>Når du er på feltarbejde, kommer du til steder, hvor der ikke er dataforbindelse. Tag dine kort og data offline, indsaml data, og bliv synkroniseret igen, når du atter får dataforbindelse.</p>
          <p>
            <a href="/da/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Chokstart med skabeloner</h3>
          <p>Din branche har sine egne, fælles datasæt. Overfør skabeloner for at oprette den grundlæggende datastruktur, som du har brug for, og tilpas den til det dit specifikke job.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Vis downloads</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Objekter</h2>
	<p>Indsaml og opdatér oplysninger i marken, log din aktuelle position, og brug derefter de indsamlede data til at foretage mere kvalificerede beslutninger i tide. Brug kort overalt til at foretage ground-truthing af dine data, udføre observationer og respondere på begivenheder. Du vil forbedre din arbejdsstyrkes effektivitet og præcisionen af din GIS.</p>
	
	<ul>
	<li>Overfør kort til din enhed, og arbejd offline.</li>
	<li>Brug GPS til at oprette og opdatere kortdata.</li>
	<li>Indsaml punkt-, linje- eller områdeobjekter.</li>
	<li>Udfyld brugervenlige, kortdrevne formularer.</li>
	<li>Find steder, og få en rutevejledning.</li>
	<li>Spor og rapportér områder, du har besøgt.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Systemkrav</h2>

        <p>Der er visse enhedskrav, der skal opfyldes for at køre Collector, og der er også krav til de data, der anvendes i app'en. Collector understøttes på en række sprog.</p>


        <h3>Datakrav</h3>
        <p>For at bruge dine kort i Collector skal du have en ArcGIS-organisationskonto. Dine kort kan indeholde data fra ArcGIS Online, Portal for ArcGIS og ArcGIS for Server.</p>


        <h3>Enhedskrav</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) eller nyere</li>
          <li>ARMv7- eller x86-processor</li>
          <li>OpenGL ES 2.0-understøttelse</li>
          <li>Understøttelse af nøjagtig placering (GPS og netværksbaseret)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7 eller nyere</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td><tr></table>


        <h3>Understøttede sprog</h3>
        <p>Arabisk, tjekkisk, dansk, hollandsk, engelsk, estisk (<span class="icon-android"/>), finsk, fransk, tysk, hebraisk, italiensk, japansk, koreansk, lettisk (<span class="icon-android"/>), litauisk (<span class="icon-android"/>), norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rumænsk, russisk, forenklet kinesisk, spansk, svensk, thai og tyrkisk.</p>
        <p>Det sprog, der anvendes af app'en, bestemmes af din telefons sprogindstilling.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Nyheder</h2>
        <p>Collector for ArcGIS 10.3 blev udsendt i januar 2015 på Android og i marts 2015 på iOS. Den indeholder følgende forbedringer:</p>
        <ul>
          <li>Mulighed for at få vist og redigere relaterede poster</li>
          <li>Understøttelse af at tage yderligere data offline, såsom følgende:
	    <ul>
	      <li>"Hostede" tile-lag</li>
	      <li>Redigérbare, versionerede data (fra ArcGIS 10.3 for Server eller nyere)</li>
	      <li>Lag med sporing af redigeringer</li>
	      <li>Lag med begrænsede featuretjeneste-funktioner, såsom tilføj-kun- og opdatér-kun-redigering</li>
	    </ul>
          </li>
          <li>Forskellige fejlrettelser og forbedringer, herunder NIM101011, NIM101989, NIM102096, NIM103498, NIM103525, NIM103549, NIM103836, NIM104130 og BUG-000083110</li>
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">Smugkig</h2>
	<p>Allerede i dag er Collector en glimrende app til at indsamle og redigere dine data i marken. Men der kommer mere! Det følgende skitserer, i hvilken retning vi gerne vil udvikle denne app:</p>
	
	<ul>
	  <li>Understøttelse af Windows og Windows Phone</li>
	  <li>Smartere dataindsamlingsformularer</li>
	  <li>Understøttelse af eksterne GNSS-modtagere</li>
	  <li>Flere værktøjer til planlægning af offline-arbejde i marken</li>
	  <li>Dataindsamling med forskydninger</li>
	  <li>Integration af eksterne enheder (laserafstandsmålere, stregkodescannere osv.)</li>
	</ul>	
	
	<p>Del dine <a href="http://ideas.arcgis.com/">idéer</a>, og <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">send os din tilbagemelding</a>.</p>
		
        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Oplysninger</h3>
	          
	  <h4><a href="#features">Objekter</a></h4>
	  <h4><a href="#systemRequirements">Systemkrav</a></h4>
	  <h4><a href="#whatsNew">Nyheder</a></h4>
	  <h4><a href="#sneakPeek">Smugkig</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
