---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Hjem</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Opret kort</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Indsaml data</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Hent app'en</h2>
          <span id="appVersion"><strong>Version:</strong> 10.2</span> <span id="appReleased"><strong>Frigivet:</strong> November 2013</span>


          <p>Brug din smartphone til at indsamle og opdatere oplysninger i marken, logge din aktuelle position og brug derefter de indsamlede data til at foretage mere kvalificerede beslutninger i tide.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Systemkrav</a> <a id="appWhatsNew" href="#whatsNew">Nyheder</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Opret og del et kort</h3>
          <p>Udvid r&aelig;kkevidden af ArcGIS til ogs&aring; at omfatte arbejde i marken, og for&oslash;g pr&aelig;cisionen og aktualiteten af dine rumlige data. Opret og del kort til dataindsamling i to trin.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Vis hvordan</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Indsamle data</h3>
          <p>At finde steder af interesse, beregne afstande, oprette foresp&oslash;rgsler til tjenester og rapportere skader er blot nogle af de muligheder, du finder i et kort til dataindsamling. Opret intelligente data med billeder og video, og del dem med resten af verden ved hj&aelig;lp af fem trin.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Der er visse enhedskrav, der skal opfyldes for at k&oslash;re Collector, og der er ogs&aring; krav til de data, der anvendes i app'en. Collector underst&oslash;ttes p&aring; en r&aelig;kke sprog.</p>


        <h3>Datakrav</h3>
        <p>For at bruge dine kort i Collector skal du have en ArcGIS-organisationskonto. Dine kort kan indeholde data fra ArcGIS Online, Portal for ArcGIS og ArcGIS for Server.</p>


        <h3>Enhedskrav</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>eller nyere</li>
          <li>Armv7-processor</li>
          <li>OpenGL ES 2.0-underst&oslash;ttelse</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 eller nyere</li>
        </ul></td><tr></table>


        <h3>Underst&oslash;ttede sprog</h3>
        <p>Arabisk, tjekkisk, dansk, hollandsk, engelsk, estisk (<span class="icon-android"/>), finsk, fransk, tysk, hebraisk, italiensk, japansk, koreansk, lettisk (<span class="icon-android"/>), litauisk (<span class="icon-android"/>), norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rum&aelig;nsk, russisk, forenklet kinesisk, spansk og svensk.</p>
        <p>Det sprog, der anvendes af app'en, bestemmes af din telefons sprogindstilling.</p>


        <a name="whatsNew"></a>
        <h2>Nyheder</h2>
        <p>Collector for ArcGIS version 10.2 blev frigivet i november 2013 med f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Opdateret brugeroplevelse</li>
        <li>Dedikeret tablet- og iPad-oplevelse</li>
        <li>Underst&oslash;ttelse af indsamling af linjer og polygoner</li>
        <li>GPS-streaming</li>
        <li>Forbedrede arbejdsgange for indsamling </li>
        <li>Forbedret funktionalitet ved tryk p&aring; kort</li>
        <li>Forskellige fejlrettelser og forbedringer</li>
        <li>Underst&oslash;ttelse af enterprise logins</li>
        <li>Underst&oslash;ttelse af yderligere sprog</li>
        <li>Android-problemer adresseret: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>iOS-problemer adresseret: NIM094438, NIM094401</li>
        </ul>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Kom i gang</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Guided tur</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Opret og del et kort</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Indsamle data</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
