---
title: Esri Maps for Dynamics CRM
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Dynamics CRM Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-dynamics-crm"><META name="sub_category" content="Esri Maps for Dynamics CRM"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Dynamics CRM"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-dynamics-crm/">Esri Maps for Dynamics CRM</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-dynamics-crm/">Home</a></li>
        <li><a href="/en/maps-for-dynamics-crm/install-and-configure/what-is-esri-maps-for-dynamics-crm.htm">Install and Configure</a></li>
		<li><a href="/en/maps-for-dynamics-crm/design-and-use-maps/sign-in-to-arcgis.htm">Design and Use Maps</a></li>
        <li><a href="http://forums.arcgis.com/forums/260-Esri-Maps-for-Dynamics-CRM/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Download the app</h2>
          <span id="appVersion"><strong>Version:</strong> 1.0</span>
          <span id="appReleased"><strong>Available:</strong> July 2013</span>


          <p>Esri Maps for Dynamics CRM allows you to quickly create dynamic, interactive maps of your customer data and start exploring it in a whole new way. Esri Maps for Dynamics CRM enables you to uncover patterns and trends not evident in tabular data and charts. Maps can be shared immediately through one-click publishing to Esri's mapping cloud, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Get Esri Maps for Dynamics CRM</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Map your spreadsheets </h3>
          <p>Learn how to map your Excel data using Esri Maps for Office. You can easily create interactive color-coded, point, clustered-point and heat maps directly in Excel and gain visual insights about your data.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>-->
			<a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Enrich your data</h3>
          <p>Utilize Esri's wealth of data collections to add value to your business data. Add demographics and lifestyle data directly to Excel spreadsheets and get more context about the locations that are important to you. Quickly explore locations on-the-fly using pop-up infographics.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>-->
		   <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <p>Esri Maps for Dynamics CRM requires an account that is part of an <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> organization and Microsoft Office Excel or PowerPoint 2010 or Microsoft Office Excel or PowerPoint 2013. The supported operating systems include:</p>
		<ul>
		 <li>INSERT ACTUAL REQUIREMENTS HERE</li>
		</ul>
		<p>For additional information including the required processor speed, memory, and hard disk space, see the system requirements for <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> and <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Supported languages</h3>
        <p>Arabic, English, Chinese, French, German, Italian, Japanese, Spanish, Portuguese (Brazil), and Russian.</p>





        <a name="whatsNew"></a>
        <h2>What's new</h2>
        <p>Esri Maps for Dynamics CRM version 1.0 was released in July 2013. It includes the following features:</p>
        <ul>
        <li>INSERT FEATURES HERE</li>
        </ul>



        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
           <li><a href="#whatsNew">What's new</a></li>
            <li><a href="#systemRequirements">System requirements</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Watch videos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>