---
title: ArcGIS Open Data 說明
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="zh-tw">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-tw/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-tw/open-data/">主頁</a></li>
        <li><a href="/zh-tw/open-data/consumer/">針對消費者</a></li>
        <li><a href="/zh-tw/open-data/provider/">針對供應商</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">什麼是 ArcGIS Open Data？</h2>

          <p>透過 Open Data，組織可使用 ArcGIS 平台對公眾提供對其權威資料的開放存取權限。組織可以用他們自己的外觀與風格設定網站，並指定 Open Data 群組以分享特定項目。一般公眾可使用 Open Data 站點按主題或位置進行搜尋、下載多種格式的資料，以及在互動式地圖和表中檢視資料。</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>針對消費者 </h3>
          <p>透過圖表、表格以及地圖與資料進行互動可協助您了解您的社群相關資訊。發現、探索以及下載資料，或是分享到感興趣的資料集的連結。</p>
          <p>

			<a href="/zh-tw/open-data/consumer/" class="icon-right-arrow">&nbsp;詳情介紹</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>針對供應商</h3>
          <p>請設立一個自訂化的網站並選取您要分享的權威資料。允許任何人以多種格式搜尋、檢視、以及下載您的資料。</p>
          <p>
            <a href="/zh-tw/open-data/provider/" class="icon-right-arrow">&nbsp;詳情介紹</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">特點</h2>

        <p>利用您已知的建立 Open Data 站點的工作流程來建立與分享您自己的資料。</p>
		<ul>
			<li>在您的組織與群組上啟用 Open Data。</li>
			<li>針對您的資料建立自訂站點。</li>
			<li>允許組織與群組之聯合搜尋。</li>
			<li>提供支援予空間與非空間表格。</li>
			<li>提供互動式篩選器來搜尋資料。</li>
			<li>分享已篩選的資料集檢視連結。</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">資料要求</h2>
        <p>ArcGIS Open Data 目前可與來自托管圖徵圖層 、ArcGIS Server圖徵服務、ArcGIS Server地圖服務、ArcGIS Server圖片服務、CSV 檔案、托管表格的資料搭配使用。ArcGIS Open Data 對外部 URL、網上地圖及其他文件（諸如 Word 文件與 PDF）提供的支援有限。</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">新功能</h2>
		<p>Open Data 更新日期為 2015 年 7 月，更新後具有下列特色與功能： </p>
		
		<ul>
			<li>大型資料集的網格密度視覺化 (GeoHash)。</li>
			<li>支援來自 ArcGIS Online 的正式中繼資料。</li>
			<li>使用 ArcGIS Online 帳號登入以及註冊 ArcGIS Online 帳號。</li>
			<li>使用者與管理員評論資料集。</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">預覽</h2>
		<p>ArcGIS Open Data 剛剛進行發佈，我們正在計劃一些令人興奮的事情：</p>
		
		<ul>
			<li>有關您的資料的統計資訊將包括追蹤下載數與檢視詳細資訊。</li>
			<li>加強控管資料集與接收。</li>
			<li>改善了使用搜尋與篩選資料集的體驗。</li>
		</ul>
		        <p>&nbsp;</p>
		<p>請針對 ArcGIS Open Data 未來的方向分享您的<a class="" href="http://ideas.arcgis.com">想法</a>！</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>詳細資訊</h3>
	          
	  <h4><a href="#features">圖徵</a></h4>
	  <h4><a href="#dataRequirements">資料要求</a></h4>
	  <h4><a href="#whatsNew">新特性</a></h4>
	  <h4><a href="#SneakPeek">預覽</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas 站點</h3>
         <p>請針對 ArcGIS Open Data 未來的方向分享您的想法！ 請提交建議或對現有的創意進行投票。</p> <br/>
         <p>您是正在尋找創意的供應商？ 瞭解使用者的實際需求。邀請貢獻者與您私下合作，共同開展創意。</p></br>
         <p><a class="" href="http://ideas.arcgis.com">ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


