@import "arcgis/base";
#page {
  padding-bottom: 262px;
}
.full-bkg {
	padding: 2em 0;
	h2 a {
		color: $white;
		text-decoration: underline;
		&:hover,&:focus {
		color: $off-white;
		}
	}
  &.gray {
    background-color: #323232;
    border: 1px solid #4c4c4c;
    h2.divider {
      color: #fff;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 1.55rem;
    }
  }
  &.white{
    background-color: #fff;
	 h2 a {
		color: $blue;
		&:hover,&:focus {
		color: $light-blue;
		}
	 }
	 
  }
  &.blue {
    background-color: $blue;
  }
  &.off-white {
    background-color: $off-white;
	 h2 a {
		color: $blue;
		&:hover,&:focus {
		color: $light-blue;
		}
	 }
  }
}

.navigation-bar {
  margin-bottom: 1em;
  input {
    width: 400px;
    display: inline-block;
    font-size: 1rem;
    border: 1px solid #a9a9a9;
    -webkit-transition: border-color 150ms linear;
    transition: border-color 150ms linear;
    -webkit-appearance: textfield;
    outline: none;
    outline-offset: 0;
    vertical-align: baseline;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  }
  nav {
    padding-top: 20px;
  }
}

.card {
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  min-height: 350px;
  &.clear {
  }
  &.gray {
    background-color: #efefef;
    margin: 1em;

  }
  p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    line-height: 1.25em;
    padding-left: 20px;
    padding-right: 20px;

  }
  img {
    padding-bottom: 1em;
  }
}
.panel {
  &.dark {
    color: #fff;
    background-color: #595959;
    border: 1px solid #4c4c4c;
  }
  p{
	color: #4d4d4d;
  }
}
ul {;
  &.horizontal {
    text-align: center;
    li {
      display: inline-block;
      padding: 0 1rem;
      list-style-type: none;
      margin-left: 0;
      background: 0;

    }
    li + li {
      border-left: 1px solid #a9a9a9;
    }
    li:nth-of-type(2) {
      border: 0;
    }
  }
}
.get-started{
  p {
    font-size: 18px;

  }
}
.agol-search-box {
  @include column(20);
  @include pre(2);
  @include post(2);
  @include trailer(2);
  border-radius: 0;
  padding: 20px;
  input[type="search"] {
    border: 1px solid #a9a9a9;
    border-radius: 0;
    font-size: 16px;
  }
}
