.ar, .he {
 .colorbox-video span.title, #colorbox, #cboxOverlay, #cboxWrapper, #cboxLoadingOverlay, #cboxLoadingGraphic {
  left: auto;
  right: 0;
 }
 .colorbox-video span.number {
  left: 0;
  right: auto;
 }
 #cboxMiddleRight, #cboxMiddleLeft {
  background-position: left;
 }
 #cboxMiddleLeft, #cboxBottomLeft {
  clear: right;
 }
 #cboxTitle {
  left: 0;
  right: 10px;
 }
 #cboxCurrent {
  left: 35px;
  right: auto;
 }
 #cboxClose {
  background-position: right 0;
  *background-position: right 0;
 }
 #cboxSlideshow, #cboxPrevious, #cboxNext {
  background-position: right 0;
 }
 #cboxPrevious {
  background-position: 9px -27px;
  left: 97px;
  right: auto;
 }
 #cboxPrevious.hover {
  background-position: 9px -92px
 }
 #cboxNext {
  background-position: 78px -27px;
  left: 10px;
  right: auto;
 }
 #cboxNext.hover {
  background-position: 78px -92px
 }
 #cboxClose {
  background-position: 35px 0;
  left: -12px;
  right: auto;
 }
 #cboxClose.hover {
  background-position: 35px -102px
 }
}
