.ar, .he {
 .wfmetacontent {
  margin-left: 0;
  margin-right: 1em;
 }
 
 div.toc ol ol {
  padding-left: 0;
  padding-right: 1em;
 }
 
 footer.feedback {
  float: left;
  padding-left: 0;
  padding-right: 1em;
  
  a {
   float: left;
   padding-left: 3em;
   padding-right: 0;
   
   &::before {
    left: auto;
    right: 0;
    padding-left: .25em;
    padding-right: 0;
   }
  }
 }
 
 .callout-body p {
  margin-left: 0;
  margin-right: 0;
 }
 
 pre.equation {
  margin-left: 0;
  margin-right: 15px;
 }
 
 div.seealso {
  margin-left: 0;
  margin-right: 15px;
  
  a {
   margin-left: 0;
   margin-right: 10px;
  }
 }
 
 div.section1 p, div.section1 ul, div.section1 > * {
  margin-left: 0;
  margin-right: 10px;
 }
 
 @for $i from 2 through 3 {
  div.section#{$i} {
   &, p { 
    margin-left: 0;
    margin-right: 10px;
   }
  }
 }
 
 div.step ol {
  margin-left: 0;
  margin-right: 45px;
 }

 .usertext + .xref {
  padding-left: 0;
  padding-right: 0.3125em;
 }
 
 .reference-content {
  table, span.table_title, span.sqltable_title, span.table_desc {
   margin-left: 0;
   margin-right: 15px;
  }
  
  div.image {
   margin-left: 0;
   margin-right: 10px;
  }
  
  div.notes img.note_img {
   float: right;
   margin-left: 5px;
   margin-right: 0;
  }
  
  div.tipbody {
   background-position: right 0;
   float: right;
   padding: 5px 0 20px 5px;
  }
  
  ul li {
   margin-left: 0;
   margin-right: 14px;
  }
 }
 
 .reference-content th, #reference-content td.th_p, #reference-content td.th_e, #reference-content td.th_d, .reference-content td.th_en, .reference-content td.th_des {
  background-position: right 0;
  text-align: right;
 }
 
 #reference-content div.section3 table.gptoolretvaltbl {
  margin-left: 0;
  margin-right: 0;
 }
 
 .wfsteps table {
  margin-left: 0;
  margin-right: 30px;
 }
 
 .substeps > ol > li:before {
  background-position: right 0;
  margin-left: .5em;
  margin-right: 0;
 }
 
 .substeps > ol > li {
  margin-left: 0;
  margin-right: 1.0em;
 }
 
 table.lined-rows > tbody th, table.lined-rows > tbody td {
  border-left: none;
  border-right: 1px solid #C2C4BA;
 }
 
 table.lined-rows > thead th, table.lined-rows > thead td {
  border-left: 1px solid #C2C4BA;
  border-right: 0;
 }
 
 table.lined-columns tbody th, table.lined-columns tbody td {
  border-left: 1px solid #C2C4BA;
  border-right: 0;
 }
 
 .video-playbtn {
  float: right;
  left: auto;
  right: 72px;
 }
 
 .marketplace {
  .header-inner nav {
   margin-left: 0;
   margin-right: 1em;
  }

  #header .right-nav {
   float: left;
   margin-left: 1em;
   margin-right: 0;
  }

  .dropdown-navigation {
   float: left;
  }

  #logged-in-navigation img {
    left: auto;
    right: -4px;
    margin-left: 4px;
    margin-right: 0;
  }
 }

 input[name="mkpSearch"] {
  float: right;
  margin-left: 0;
  margin-right: 1.5em;
 }
 
 .fig {
  margin-left: 0;
  margin-right: 2.8em;
 }
 
 .banner-navigation {
  float: left;
  margin-left: 20px;
  margin-right: 0;
 }

 .dropdown-navigation.no-right-margin {
  margin-left: 0; 
  margin-right: 0; 
 }

 .user-signin > img {
  margin-left: 5px;
  margin-right: 0;
 }

 .profile-icon {
  left: auto;
  right: 2px;
 }
}

.ja {
 div.caption, span.wintitle, .reference-content span.table_desc, .reference-content div.caption {
  font-style: normal;
 }
 
 .webapp .webapp-caption {
  font-style: normal;
 }
 
 .fig-caption {
  font-style: normal;
 }
}