.ar {
 #auth-sidebar, #documentation-index, .promoted-doc, .feature-doc, .sdk-links li, .page-header, .page-sidebar, .page-content, .reference-content, .reference-index, .doc-feature-leader, .doc-feature, .doc-features, .doc-features .doc-feature {
  float: right;
 }
 
 .panel, .blue-panel, .green-panel, .tan-panel, .gray-panel, .sidebar-panel, .toc {
  padding: 1.5em;
  padding-right: 1.75em;
 }
 
 .media >:first-child {
  float: right;
  margin-left: 1em;
  margin-right: 0;
 }
 
 .sdk-links li {
  float: right;
 }
 
 .page-sidebar {
  margin-left: 0;
  margin-right: 4.16667%;
  padding-left: 1em;
  padding-right: 0;
 }
 
 .page-content {
  padding-left: 1em;
  padding-right: 0;
 }
 
 .reference-content {
  padding-left: 0;
  padding-right: 1em;
  border-left: none;
  border-right: 1px solid #ededed;
 }
 
 .reference-index {
  padding-left: 1em;
  padding-right: 0;
  
  .tooltip {
   float: left;
  }
  
  header h4 {
   padding: 0 0 0 1em;
  }
 }
 
 .note {
  h5 {
   float: right;
  }
  
  .note-content {
   float: right;
   padding-left: 0;
   padding-right: 1.25em;
  }
 }
 
 .doc-features .doc-feature {
  margin-left: 2.08333%;
  margin-right: 0;
 }
 
 [data-collapsed="true"] header:after {
  border-left: 5px solid #a6a6a6;
  border-right: none;
  left: 10px;
  right: auto;
 }
 
 [data-collapsed="false"] header:after {
  left: 8px;
  right: auto;
 }
 
 .sdk-image-icon {
  padding-left: .3em;
  padding-right: 0;
 }
 
 .steps > ol > li:before {
  margin-left: .5em;
  margin-right: 0;
 }
 
 .steps .info, .steps .stepexample, .steps ul[purpose="choices"], .steps .stepinfo, .steps .stepresult {
  padding-left: 0;
  padding-right: 2.30em;
 }
 
 .toc {
  float: left;
  margin: 0 2em 2em 0;
 }
 
 #appVersion, #appReleased {
  margin-left: 0;
  margin-right: 1em;
 }
 
 #appSysRequirements, #appWhatsNew {
  padding: .3em 0 .3em 1.25em;
 }
 
 ol[purpose="ol"], ul[purpose="ul"] {
  padding-left: 0;
  padding-right: 2em;
 }
}

.ru, .pt-BR, .pt-PT, .es, .sv {
 .note {
  .note-content {
   max-width: 74%;
  }
  
  h5 {
   width: 21%;
  }
 }
}