
.warning {
    margin: 9em 4.16667% 3em;
    width: 41.6667%;
}
.contact-form {
    margin: 4.5em 4.16667% 3em 0;
    padding: 0;
    width: 41.6667%;
}
.warning, .contact-form, .popular-links {
    -moz-box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}
fieldset {
    border: 0 none;
    margin: 0 0 1em;
    padding: 0;
}
fieldset label {
    margin: 0;
    padding: 1em 0;
	white-space: normal;
}


.navigation-bar{
	margin-bottom: 0;
}
.navigation-bar, .section-bar {
    margin-bottom: 0;
}
.section-bar.marketplace {
   margin-bottom: 0;
}

.thank-you {
    -moz-box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}
.thank-you {
    clear: both;
    float: none;
    margin: 3em auto 1.5em;
    padding: 2em;
    width: 75%;
}
.thank-you h2 {
    margin-bottom: 0.375em;
}
.panel {
    background-color: #FBFBFB;
    border-color: #EDEDED;
    padding: 1.5em;
}
