 /*
Following two classes are for temporary fix for "subnav and get started/blog column"
*/

  body {
    min-width: 768px;
  }
  
  .navigation-bar {
    margin-bottom: 0;
  }

  .navigation-bar nav, .section-bar nav {
    display: block;
  }
  
  .social a {
    color: gray;
	font-size: 1.5em;
	display: inline;
	padding: 5px 5px; 
  }
  
  .ratings {
    padding: 8px 25px 0px;
  }
  
  .ratings h5 {
    display: inline;
  }  
  
  .map-tags li, {
    display: inline;
  }


  
  
  