 /*
Following two classes are for temporary fix for "subnav and get started/blog column"
*/

  body {
    min-width: 768px;
  }
  
  .navigation-bar {
    margin-bottom: 0;
  }

  .navigation-bar nav, .section-bar nav {
    display: block;
  }
  
  .social {
	padding: 0px 25px 15px;
  }
  
  .social h3 {
    display: inline;
  }


  
  
  