 /*
Following two classes are for temporary fix for "subnav and get started/blog column"
*/

  body {
    min-width: 768px;
  }
  
  .navigation-bar {
    margin-bottom: 0;
  }

  .navigation-bar nav, .section-bar nav {
    display: block;
  }
  
  .social a {
    color: gray;
	font-size: 1.5em;
	display: inline;
	padding: 5px 5px; 
  }
  
  .ratings {
    padding: 8px 25px 0px;
  }
  
  .ratings h5 {
    display: inline;
  }  
  
  .map-tags li, {
    display: inline;
  }
  
  $search-icon-width: 30px;
$search-icon-height: 30px;
#gallerySearchForm {
  position: relative;
  input[type="text"] {
 	
  }
  input[type="submit"] {
    position:absolute;
    left: 520px;
    background: url("/img/orangeMag.gif") no-repeat scroll center center transparent;
    border: medium none;
    cursor: pointer;
    height: $search-icon-height;
    margin: 1px 135px;
    width: $search-icon-width;
  }
  input[type="search"] {
	background-image: none;
  }
}

#gl-search-btn {
	float: right;
	color: #f4803a; //orange that best matches color of search image icon img/orangeMag.gif
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 36px;
}

.navigation-bar .leader, .section-bar .leader {
    margin-top: 2em;
}

.item-img {
    box-shadow: 0 0 4px #666666;
    display: block;
    height: 190px;
    width: 286px;
}  
  
  