#lgpicker {
    display: none;
}
#lgpicker a {
    color: #000000;
    display: block;
    padding: 0.3em 1em;
}
#lgpicker a:hover {
    background: none repeat scroll 0 0 #D9EBF6;
}
#lgpicker.show {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 0 4px 0 #999999;
    color: #FFFFFF;
    display: block;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 50px;
    width: 150px;
    z-index: 1000;
}
#lgarrow {
    height: 16px;
    padding-left: 16px;
    width: 16px;
}
#lgarrow.arrow-down {
    /*background: url("/img/arrow-down.png") no-repeat scroll 50% 50% transparent;*/
	 background: transparent url("/img/ago_sprite_search.png") no-repeat scroll 75% 36%;
}
#lgarrow.arrow-up {
    /*background: url("/img/arrow-up.png") no-repeat scroll 50% 50% transparent;*/
	 background: transparent url("/img/ago_sprite_search.png") no-repeat scroll 75% 36%;
}

#lang-block {

    float: right;
    margin-top: 9px;
    margin-right: 1em;
	font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif;
    font-size: 0.8125em;
	letter-spacing: 1px;
}
.marketplace #lang-block {
	/*margin-top: 2px;*/
}
#localeOptions {
   clear: both;
   float: right;
   font-size: 10pt;
   height: auto;
    text-align: right;
    display: none;
}

a.localeSelected {
    background-color: #0377BE;
    color: #FFFFFF;
    padding: 2px 5px;
}
a:link, a:active, a:visited {
    text-decoration: none;
}
a {
    cursor: pointer;
}
#localeOptions a:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;
    text-decoration: none;
}



.marketplace #lang-block {
    margin-top: 7px;
