.ar {
 #lgpicker.show {
  text-align: right;
 }
 
 #lgpicker a {
  direction: ltr;
 }
 
 #lgpicker a[data-lang="ar"] {
  direction: rtl;
 }

 #lgarrow {
  padding-right: 16px;
 }
 
 #lang-block {
  float: left;
  margin-left: 1em;
  margin-right: 0;
 }
 
 #localeOptions {
  float: left;
  text-align: left;
 }
}
