
.header-inner nav {
	margin-left: 1em;
}

#header .right-nav {
	text-transform: uppercase;
}

#header .right-nav {
	float: right;
	margin-top: 1.2em;
	margin-right: 1em;
}


.dropdown-navigation {
	float: right;
	margin-top: 18px;
}

.section-bar.marketplace {
	margin-bottom:3em;
	background:url("/img/banner-marketplace.jpg") no-repeat center center #E7601F;
	min-height:83px;color:white
}