.header-inner nav{
    margin-left:1em;
}
#header .right-nav{
    text-transform: initial !important;
	 padding-top: 3px;
}
#header .right-nav{
    float:right;
    margin-top:1.2em;
    margin-right:1em;
}
.dropdown-navigation{
    float:right;
    margin-top:18px;
}
.section-bar.marketplace{
    margin-bottom:3em;
    background:url("/img/banner-marketplace.jpg") no-repeat center center;
    min-height:83px;
    color:white;
}
#logged-in-navigation img{
    position:relative;
    top:2px;
    left:-4px;
    width:16px;
    height:16px;
    margin-right:4px;
}

#header .right-nav a .help-icon {
    background-image: url("/img/marketplace_sprite.png") !important;
    background-position: -64px -100px;
    margin: 0px 6px -2px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

#login-link > .profile-icon {
    background-image: url("/img/marketplace_sprite.png") !important;
    background-position: -64px -81px;
    position: unset;
    top: 7px;
    display: inline-block;
    width: 16px;
    height: 16px;
	 margin-right: 5px;
    left:2px;
}

.btn.marketplace {
    font-size: .8125em;
    line-height: 1.84615em;
    border-width: 1px;

    text-shadow: none;

    background: none;
    color: #007ac2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-transform: none;
    padding: 0.3em 1.8em 0.2em !important;
}

.dropdown-wrapper .dropdown-menu {
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 16px rgba(0,0,0,0.15);
    box-shadow: 0 0 16px rgba(0,0,0,0.15);
    width: 100%;
    background: #f3f3f3;
    display: none;
    position: absolute;
    z-index: -1;
    top: 100%;
    width: 100%;
    min-width: 160px;
    right: 0;
}
