
.header-inner nav{
    margin-left:1em
}
#header .right-nav{
    text-transform:uppercase
}
#header .right-nav{
    float:right;
    margin-top:1.2em;
    margin-right:1em
}
.dropdown-navigation{
    float:right;
    margin-top:18px
}
.section-bar.marketplace{
    margin-bottom:3em;
    background:url("/img/banner-marketplace.jpg") no-repeat center center #E7601F;
    min-height:83px;
    color:white
}
#logged-in-navigation img{
    position:relative;
    top:2px;
    left:-4px;
    width:16px;
    height:16px;
    margin-right:4px
}