.ar {
 .header-inner nav {
  margin-left: 0;
  margin-right: 1em;
 }

 #header .right-nav {
  float: left;
  margin-left: 1em;
  margin-right: 0;

  a .help-icon {
   background-position: 64px -100px;
   margin: 0px 0px -3px 6px;
  }
 }

 .dropdown-navigation {
  float: left;
 }
 
 #logged-in-navigation img {
  left: auto;
  right: -4px;
  margin-left: 4px;
  margin-right: 0;
 }

 #login-link > .profile-icon {
  background-position: 64px -81px;
  left: auto;
  right: 2px;
 }

 .dropdown-wrapper .dropdown-menu {
  left: 0;
  right: auto;
 }
}
