@import "common_l10n";

@media print {
 .ar, .he {
  #benefits h3:before {
   left: auto;
   right: 0;
  }
  
 	/*Github feature pages */
  .feature .feature-text, .feature .feature-block, #benefits .benefit, #auth-sidebar, #documentation-index, .promoted-doc, .feature-doc, .sdk-links li, .page-header, .page-sidebar, .page-content, .reference-content, .reference-index, .doc-feature-leader, .doc-feature, .doc-features, .doc-features .doc-feature, #feature-stories, #feature-stories .feature-box, #feature-stories2, #feature-stories2 .feature-box, #feature-stories2 #feat-intro p, #feature-stories2 #feat-intro .feat-img, #social-column {
   float: right;
  }
  .card {
   padding: 1em 0 1em 2em;
  }
  #home-banner-devices {
   float: left;
  }
  #home-main-text {
   margin-left: 0;
   margin-right: 4.16667%;
  }
  .feature.flip .feature-text {
   float: left;
   margin-left: 0;
   margin-right: 4.16667%;
  }
 }
}