 /*
Following two classes are for temporary fix for "subnav and get started/blog column"
*/

  body {
    min-width: 768px;
  }

  .navigation-bar nav, .section-bar nav {
    display: block;
  }

  #appTitle {
    display: inline-block;
  }
  #appVersion,
  #appReleased {
    font-size: 0.9em;
    margin-left: 1em;
  }

  #appSysRequirements,
  #appWhatsNew {
    background: none;
    color: #007ac2;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-size: 1.1em;
    line-height: 1.71429em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif;
    padding: .3em 1.25em .3em 0;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }


  .imgFrame {
    background: #E5F1FA;
    border-radius: 8px;
    border: 1px solid #6CD5F6;
    padding: 15px 25px;
  }

  .greyFrame {
    background: #F3F3F3;
    border-radius: 8px;
    border: 1px solid #EDEDED;
    padding: 15px 25px;
  }
  .greyFrame p {
    margin-bottom: 0;
  }
  .greyFrame #blog article {
    margin-bottom: 1.2em;
  }


  #collectorMapFeature h3 {
    margin-top: 1em;
  }
  #collectorDataFeature h3 {
    margin-top: 1em;
  }

  .logo-wrap {
    min-width: 0px;
  }

  .mobileVideo {
	display: none;
  }

  .note-content p {
    margin-bottom: 6px;
    margin-top: 0;
    float: none;
  }

  .container img {
    max-width: 100%;
  }
  
  
  