---
title: Esri Maps for SharePoint
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Sharepoint">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-sharepoint" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/sv/maps-for-sharepoint/">Hem</a></li>
        <li><a href="/sv/maps-for-sharepoint/get-started/">Komma ig&aring;ng</a></li>
        <li><a href="/sv/maps-for-sharepoint/esri-maps-web-part/">Esri Maps-webbdelen</a></li>
        <li><a href="/sv/maps-for-sharepoint/arcgis-map-web-part/">ArcGIS-kartwebbdel</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">H&auml;mta applikationen</h2>
          <span id="appVersion"><strong>Version:</strong> 3.0.1</span> <span id="appReleased"><strong>Tillg&auml;nglig:</strong> Oktober 2013</span>


          <p>Esri Maps for SharePoint utnyttjar ramverket i Microsoft SharePoint 2010 och 2013 och inneh&aring;ller interaktiva och konfigurerbara kartkomponenter som ger ett geografiskt perspektiv p&aring; din organisations data. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">H&auml;mta Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>F&ouml;r att anv&auml;nda Esri Maps for SharePoint m&aring;ste du ha ett konto som &auml;r en del av en <a href="http://help.arcgis.com/sv/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-organisation och antingen Microsoft SharePoint 2010 eller 2013 Foundation, Server Standard eller Server Enterprise.</p>


 <a name="whatsNew"></a>
 	<h2>4.0. Beta &auml;r ute nu</h2>	
 	<p>Esri Maps for SharePoint 4.0 Beta &auml;r tillg&auml;nglig p&aring; <a href="http://betacommunity.esri.com">Esri Beta Community</a>. Information om systemkrav och vilka plattformar som st&ouml;ds samt hj&auml;lpdokumentation och h&auml;mtningsbara filer finns p&aring; beta-forumet f&ouml;r Esri Maps for SharePoint. Mer information finns i v&aring;rt blogginl&auml;gg: <a href="http://blogs.esri.com/esri/arcgis/2013/12/02/esri-maps-for-sharepoint-4-0-beta-released/">Esri Maps for SharePoint beta released</a>. </p>
	
		 <h2>Nyheter i 3.0.1</h2>        
		 <p>Esri Maps for SharePoint 3.0.1 sl&auml;pptes i oktober 2013. Den h&auml;r versionen inneh&aring;ller f&ouml;ljande uppdateringar och f&ouml;rb&auml;ttringar:</p>        
		 <ul>        
		 <li>St&ouml;d f&ouml;r 21 spr&aring;k: arabiska, kinesiska (f&ouml;renklad), danska, nederl&auml;ndska, estniska, franska, tyska, hebreiska, italienska, japanska, koreanska, lettiska, litauiska, norska, polska, portugisiska, portugisiska (Brasilien), rum&auml;nska, ryska, spanska och svenska.</li>	
		 <li>St&ouml;d f&ouml;r egna platstyper i Esri Maps Locate Workflow.</li>	
		 <li>Geostatistisk hotspot-analys</li>	
		     
		 </ul>
		       
		 <h2>Nyheter i 3.0</h2>        
		 <p>Esri Maps for SharePoint 3.0 sl&auml;pptes i juli 2013. Den h&auml;r versionen inneh&aring;ller f&ouml;ljande uppdateringar och f&ouml;rb&auml;ttringar:</p>        
		 <ul>        
		 <li>Nytt produktnamn: Esri Maps for SharePoint</li>	
		 <li>St&ouml;d f&ouml;r SharePoint 2010 och SharePoint 2013 (lokalt)</li>	
		 <li>F&ouml;rsta versionen av Esri Maps-webbdelen: JavaScript-baserad webbdel som kan anv&auml;ndas med SharePoint 2010 och SharePoint 2013 (lokalt)</li>	
		 <li>St&ouml;d f&ouml;r Portal for ArcGIS 10.2</li>	
		 <li>M&ouml;jlighet att koppla externa data med SharePoint Business Connectivity Services (BCS) (JavaScript-kartwebbdelen)</li>	
		 <li>Kopplingar mellan webbdelar (JavaScript-kartwebbdelen)</li>	
		 <li>St&ouml;d f&ouml;r SDK:erna ArcGIS for Silverlight 3.1 och ArcGIS Extensibility 3.1 (endast Silverlight-kartwebbdelen)</li>        
		 </ul>

		  
		 <p>Med Esri Maps-webbdelen kan du g&ouml;ra f&ouml;ljande: 	
		 <ul>	
		 <li>L&auml;gga till webbkartor och tj&auml;nster fr&aring;n ArcGIS, antingen ArcGIS Online eller Portal for ArcGIS.</li>	
		 <li>Dela kartor och lager p&aring; ArcGIS med alla eller bara din organisation.</li>	
		 <li>Visa SharePoint-listor och ansluta till externa datak&auml;llor med Business Connectivity Services (BCS).</li>	
		 <li>Ansluta till listor och diagram med hj&auml;lp av kopplingar mellan webbdelar.</li>	
		 <li>Geografiskt aktivera (geokoda) objekt i en SharePoint-lista.</li>	
		 <li>Konfigurera kartans utseende, lager och andra inst&auml;llningar interaktivt.</li>	
		 <li>V&auml;lja bakgrundskartor fr&aring;n galleriet med baskartor i din ArcGIS-organisation.</li>	
		 <li>Definiera hur dataset ska visas (symboliseras) med enstaka symboler, klassbrytningar eller unika v&auml;rden.</li>	
		 <li>Visa punktgeoobjekt med hj&auml;lp av klustring och intensitetskartor </li>	
		 <li>Konfigurera hur popup-f&ouml;nster visas. Ange format p&aring; popup-f&ouml;nster och vilka f&auml;lt som visas n&auml;r du h&aring;ller pekaren p&aring; geoobjekt p&aring; kartan. </li>	
		 <li>Visa infografik i popup-f&ouml;nster med omfattande information om omr&aring;dena runt geoobjekten p&aring; kartan.</li>	
		 <li>G&ouml;ra ruttbaserade analyser av data.</li>	
		 <li>V&auml;lja och filtrera data interaktivt inom ringbaserade eller k&ouml;rtidsbaserade avst&aring;nd.</li>	
		 <li>H&auml;mta ytterligare demografi- och kontextinformation som &auml;r kopplad till platser p&aring; kartan.</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Komma ig&aring;ng</h3>
         <ul>
            <li><a href="#systemRequirements">Systemkrav</a></li>
	 <li><a href="#whatsNew">Nyheter</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Interaktiva exempel (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/help/sharepoint/apiref/api_start.htm">API-referens (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/communities/sharepoint/01t800000009000000.htm">Hj&auml;lp om ArcGIS for SharePoint 2.1.1</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fr&aring;n bloggen</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
