---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="ru">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ru/marketplace/">Справка</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/marketplace/">Главная</a></li>
        <li><a href="/ru/marketplace/consumer/">Для клиентов</a></li>
        <li><a href="/ru/marketplace/provider/">Для поставщиков</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Что такое marketplace?</h2>

          <p>ArcGIS Marketplace – это место, которое позволяет организациям ArcGIS Online находить, изучать и приобретать приложения и данные от сертифицированных провайдеров (Esri, ее партнеров дистрибьюторов и стартапов) для собственного использования. Приложения и сервисы данных в ArcGIS Marketplace могут быть доступны повсеместно для любой организации ArcGIS Online.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Увеличьте эффективность вашей компании </h3>
          <p>Найдите приложения и данные для вашей организации. Приобретя приложение или сервис данных, вы можете легко распространить его среди групп или отдельных пользователей.</p>
          <p>

			<a href="/ru/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a>
				<br/>
			<a href="/ru/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>
				<br/>
            <a href="/ru/marketplace/consumer/whats-new.htm" class="icon-right-arrow">&nbsp;Что нового</a>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Донести до пользователей</h3>
          <p>ArcGIS Marketplace предлагает механизм для определения круга потенциальных клиентов, предоставляет бесплатные пробные версии, предоставляет доступ к вашим спискам и позволяет управлять подписками.</p>
          <p>
            <a href="/ru/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a>
               <br/>
            <a href="/ru/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Стать поставщиком</a>
               <br/>
            <a href="/ru/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>
			   <br/>
            <a href="/ru/marketplace/provider/whats-new.htm" class="icon-right-arrow">&nbsp;Что нового</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>
      <div class="column-8 tablet-column-24 blocks">

        <div class="greyFrame">
          <h4 class="icon-orange icon-light-bulb"><a href="http://ideas.arcgis.com">Сайт ArcGIS Ideas</a></h4>
         <p>Не видите нужные приложения или данные? Опубликуйте ваше мнение или проголосуйте за предложенные идеи.</p>
        </div>

        <br />


 </div>
      <div class="column-8 tablet-column-24 blocks">

       <!--<div class="imgFrame block">
           <h3 class="icon-blue icon-key"><a href="/ru/marketplace/provider/10-ways-to-create-listing-faq.htm">Key to a successful listing</a></h3>
         <p>Learn the top 10 ways to create a successful listing</p>
		 <!--<a title="Get started with ArcGIS Online" href="http://video.arcgis.com/iframe/3958/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement">Watch a video tour</a>
        </div>-->

        <br />
		<br />
		<br />


 </div>



 </div>
<!-- Gallery Title-->
	<div class="page-section" id="gallery">
	<div class="container">
    <div class="row">
	
	<div class="feature-text">
        <h2 class="leader-half trailer-half"><a href="https://marketplace.arcgis.com/" target="">Последние списки в Marketplace</h2>
		<span class="more">Изучить<span></span></a></span>
    </div>
	<br />
    
<div class="column-4 phone-column-24" style="width: 25%;">
	
	
    <section class="support-option">
		    <a href="https://marketplace.arcgis.com/listing.html?id=bb98aa7851324393a415e484f6f344e8" target="_blank"><h3>what3words for ArcGIS</h3>
            <img src="https://www.arcgis.com/sharing/rest/content/listings/bb98aa7851324393a415e484f6f344e8/info/screenshots/w3w-screenshot1-merged.png">
    </section>
    
  </div> 

  <div class="column-4 phone-column-24" style="width: 25%;">
	
	<h3>Septentrio PinPoint GIS</h3>
    <section class="support-option">
		<a href="https://marketplace.arcgis.com/listing.html?id=3065859ee3b74598b410745ebf55c8ab" target="_blank">
        <img src="https://www.arcgis.com/sharing/rest/content/listings/3065859ee3b74598b410745ebf55c8ab/info/screenshots/Screenshots_web.png">
    </section>
    
  </div> 

  <div class="column-4 phone-column-24" style="width: 25%;">
	<h3>Hexagon</h3>
	<section class="support-option">
		<a href="https://marketplace.arcgis.com/listing.html?id=edcc7496680948e199f8f8b3c42e4949" target="_blank">
        <img src="https://www.arcgis.com/sharing/rest/content/listings/edcc7496680948e199f8f8b3c42e4949/info/screenshots/epcot.jpg">
	</section>
  </div>
  <div class="column-4 phone-column-24" style="width: 25%;">
	
	<h3>Collector for ArcGIS</h3>
	<section class="support-option">
		<a href="https://marketplace.arcgis.com/listing.html?id=b4168305108c448f901fd08ffc39e4ff" target="_blank">
        <img src="http://docdev.arcgis.com/en/collector/story-graphic-4.png">
	</section>
  </div>
</div>
</div></div>
