---
title: ArcGIS Open Data-Hilfe
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/open-data/">Start</a></li>
        <li><a href="/de/open-data/consumer/">Für Anwender</a></li>
        <li><a href="/de/open-data/provider/">Für Anbieter</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Was ist ArcGIS Open Data?</h2>

          <p>Mit Open Data können Organisationen die ArcGIS Plattform verwenden, um der Öffentlichkeit den offenen Zugriff auf ihre verlässlichen Daten zu ermöglichen. Organisationen konfigurieren eine Website mit einem Erscheinungsbild nach ihren eigenen Wünschen und legen Open Data-Gruppen für die Freigabe bestimmter Elemente fest. Die breite Öffentlichkeit kann Open Data-Sites verwenden, um nach Themen oder Positionen zu suchen, Daten in mehreren Formaten herunterzuladen und Daten auf einer interaktiven Karte oder in einer Tabelle anzuzeigen.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Für Anwender </h3>
          <p>Interagieren Sie mit Daten über Diagramme, Tabellen und Karten, damit Sie mehr über Ihre Community erfahren. Entdecken, erkunden und laden Sie Daten herunter, oder geben Sie einen Link zu einem interessanten Dataset frei.</p>
          <p>

			<a href="/de/open-data/consumer/" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Für Anbieter</h3>
          <p>Richten Sie eine benutzerdefinierte Website ein, und wählen Sie verlässliche Daten für die Freigabe aus. Ermöglichen Sie anderen Personen, Ihre Daten in verschiedenen Formaten zu durchsuchen, anzuzeigen und herunterzuladen.</p>
          <p>
            <a href="/de/open-data/provider/" class="icon-right-arrow">&nbsp;Vorgehensweise</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Features</h2>

        <p>Erstellen und geben Sie Ihre eigenen Daten mit den gleichen Workflows frei, die Sie bereits vom Erstellen einer Open Data-Site kennen.</p>
		<ul>
			<li>Aktivieren Sie Open Data für Ihre Organisation und Gruppen.</li>
			<li>Erstellen Sie angepasste Sites für Ihre Daten.</li>
			<li>Ermöglichen Sie die Sammelsuche über mehrere Organisationen und Gruppen.</li>
			<li>Bieten Sie Unterstützung für räumliche und nicht räumliche Tabellen.</li>
			<li>Stellen Sie interaktive Filter zum Erkunden von Daten bereit.</li>
			<li>Geben Sie Links zu gefilterten Ansichten der Datasets frei.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Datenanforderungen</h2>
        <p>ArcGIS Open Data kann derzeit mit Daten von gehosteten Feature-Layern, ArcGIS-Server-Feature-Services, ArcGIS-Server-Karten-Services, ArcGIS-Server-Image-Services, CSV-Dateien und gehosteten Tabellen verwendet werden. ArcGIS Open Data bietet eingeschränkte Unterstützung für externe URLs, Webkarten und andere Dokumente (wie Word-Dokumente und PDFs).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Neuerungen</h2>
		<p>Open Data wurde im Juli 2015 mit folgenden Features und Funktionen aktualisiert: </p>
		
		<ul>
			<li>Visualisierungen der Dichte mit Gitternetzen für große Datasets (GeoHash)</li>
			<li>Unterstützung für formelle Metadaten aus ArcGIS Online</li>
			<li>Anmelden und Registrieren bei ArcGIS Online-Konten</li>
			<li>Kommentare von Benutzern und Administratoren zu Datasets</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Vorschau</h2>
		<p>ArcGIS Open Data wurde gerade veröffentlicht, und wir planen für die Zukunft einige aufregende Neuerungen:</p>
		
		<ul>
			<li>Statistische Informationen zu Ihren Daten, um die Anzahl der Downloads und Details zu Ansichten zu verfolgen</li>
			<li>Mehr administrative Kontrolle über Datasets und Harvesting.</li>
			<li>Verbesserte Benutzeroberfläche für das Suchen und Filtern von Datasets.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Teilen Sie uns Ihre <a class="" href="http://ideas.arcgis.com">Ideen</a> zu ArcGIS Open Data mit!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#dataRequirements">Datenanforderungen</a></h4>
	  <h4><a href="#whatsNew">Neuerungen</a></h4>
	  <h4><a href="#SneakPeek">Vorschau</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas-Site</h3>
         <p>Teilen Sie uns Ihre Ideen zu ArcGIS Open Data mit! Schicken Sie einen Vorschlag oder stimmen Sie über vorhandene Ideen ab.</p> <br/>
         <p>Sind Sie ein Anbieter und auf der Suche nach neuen Ideen? Finden Sie heraus, was Anwender nachfragen. Laden Sie Mitwirkende ein, privat mit Ihnen zusammenzuarbeiten, um Ideen zu entwickeln.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


