---
title: Guida di ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="it">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/arcgis-online/">Guida di ArcGIS Online</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Guida di ArcGIS Online" href="/it/arcgis-online/">Home</a></li>
        <li><a title="Utilizzare mappe e scene" href="/it/arcgis-online/use-maps/">Utilizzare</a></li>
        <li><a title="Creare mappe, scene ed app" href="/it/arcgis-online/create-maps/">Creare</a></li>		
        <li><a title="Condividere mappe, scene e app" href="/it/arcgis-online/share-maps/">Condividere</a></li>
		<li><a title="Amministrare l'organizzazione" href="/it/arcgis-online/administer/">Amministrare</a></li>
		<li><a title="Riferimento" href="/it/arcgis-online/reference/">Riferimento</a></li>
		<li><a title="App per tutti" href="/it/arcgis-online/apps/arcgis-apps.htm">App</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="it" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="it">
      </form>-->

                
	<hr>
<!--What's new information-->
	<a name="WhatsNew"></a>
	<h2>&nbsp;Novità </h2>
		<p>L'aggiornamento di marzo 2016 introduce le app Web 3D. Include anche miglioramenti alla mappatura intelligente, all'amministrazione dell'organizzazione e alle app. <a href="/it/arcgis-online/reference/whats-new.htm" class="">Ulteriori informazioni</a></p>
		<ul>
		     <li><a href="/it/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_ABE7B08B9DD94D3AAD71B2A1A327B21C" class="">App Web 3D</a>: consente di creare app Web 3D basate su scene.</li>
		     <li><a href="/it/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_511E424D3FC74BC0A8E7663C5B04CCA4" class="">Mappatura intelligente</a>: nuove opzioni per la creazione di visualizzazioni dati.</li>
		     <li><a href="/it/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_76123A29A4EE4FEE918D7644FF3EAB90" class="">Amministrazione dell'organizzazione</a>: maggiore controllo sulle impostazioni del sito.</li>
		</ul>
		
	<hr>
<!-- Videos -->
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<img src="img/perform-analysis.jpg" title="Utilizzare mappe e scene">
		<!--<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>-->
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		 <img src="img/create-maps-apps.jpg" title="Creare mappe, scene ed app">
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
     <section class="support-option">
      <img src="img/share-maps-apps.jpg" title="Condividere elementi">
   </section>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/it/arcgis-online/use-maps/use-maps.htm" class="">Utilizzare mappe e scene</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/it/arcgis-online/create-maps/create-maps-and-apps.htm" class="">Creare mappe, scene ed app</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/it/arcgis-online/share-maps/share-maps-apps.htm" class="">Condividere elementi</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/perform-analysis.png" title="Eseguire analisi">
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/publish-hosted-web-layers.png" title="Può pubblicare layer Web ospitati">
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/admin-org.jpg" title="Amministrare l'organizzazione">
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/it/arcgis-online/use-maps/perform-analysis.htm">Eseguire analisi</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/it/arcgis-online/share-maps/hosted-web-layers.htm">Può pubblicare layer Web ospitati</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/it/arcgis-online/administer/admin-org.htm">Amministrare l'organizzazione</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Supporto tecnico Esri</a></h4>
      <p>Contattare il supporto tecnico attraverso chat, e-mail o telefono.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS Ideas</a></h4>
      <p>Inviare feedback sul software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">Forum su ArcGIS</a></h4>
      <p>Partecipare a discussioni su GeoNet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>Novità su ArcGIS Online</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Scoprire le lezioni</a></p>
			<a title="Panoramica su ArcGIS Online" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  Watch a video</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png"> Trovare corsi di formazione</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>Guida di riferimento rapido</h3>
         <ul>   <li><a href="/it/arcgis-online/reference/troubleshoot-account.htm">&nbsp;Risolvere problemi relativi all'accesso</a></li>
		<!--<li><a href="/it/arcgis-online/reference/whats-new.htm" >&nbsp;What's new</a></li>-->
		<li><a href="/it/arcgis-online/reference/faq.htm">&nbsp;Domande frequenti</a></li>
		<li><a href="/it/trust/system-status/">&nbsp;Stato del sistema</a></li>
		<li><a href="/it/living-atlas/about/">&nbsp;Contenuto curato di ArcGIS Online</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Altri post del blog</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });
	 
	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
