---
title: Guida di ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="it">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/arcgis-online/">Guida di ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Guida di ArcGIS Online" href="/it/arcgis-online/">Home</a></li>
        <li><a title="Utilizzare mappe e scene" href="/it/arcgis-online/use-maps/">Utilizzare</a></li>
        <li><a title="Creare mappe, scene ed app" href="/it/arcgis-online/create-maps/">Creare</a></li>
        <li><a title="Condividere mappe, scene e app" href="/it/arcgis-online/share-maps/">Condividere</a></li>
        <li><a title="Amministrare l'organizzazione" href="/it/arcgis-online/administer/">Amministrare</a></li>
        <li><a title="Riferimento" href="/it/arcgis-online/reference/">Riferimento</a></li>
        <li><a title="App per tutti" href="/it/arcgis-online/apps/arcgis-apps.htm">App</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="it" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Mappe, scene, analisi, app, collaborazione: è possibile fare tutto con ArcGIS Online.</p>
	
	<p> Primi passi con ArcGIS Iniziare creando la prima mappa, scena, app o gruppo. Quando si è pronti per altre informazioni, provare una lezione o esplorare argomenti popolari. Sei l'<a href="/it/arcgis-online/administer/admin-org.htm">amministratore</a> dell'organizzazione? Informazioni sull'utilizzo di ruoli personalizzati, impostazioni di sicurezza e configurazioni flessibili.
	</p> 
	<p>Accertarsi di verificare le novità più recenti dal <a href="#blog"> blog</a> e dalla <a href="#community">community</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/it/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/it/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/it/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/it/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Novità</h3>
        <p>L'aggiornamento giugno 2016 include pagine degli elementi migliorate, nuove opzioni per la visualizzazione dell'ora, supporto per layer mesh integrati e altro.
        </p>
			<!--<a href="/it/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/it/arcgis-online/reference/whats-new.htm" class="btn secondary">Ulteriori informazioni</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Creare la prima</h2>
      <div class="make-first">
        <a href="/it/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Mappa</h2></a>
        <a href="/it/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Scena</h2></a>
        <a href="/it/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">App</h2></a>
        <a href="/it/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Gruppo</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Vedere argomenti popolari:</h4></li>
        <li><a href="/it/arcgis-online/reference/faq.htm">Domande frequenti</a></li>
		<li><a href="/it/arcgis-online/share-maps/add-items.htm">Aggiungere elementi</a></li>
        <li><a href="/it/arcgis-online/use-maps/perform-analysis.htm">Eseguire analisi</a></li>
		<li><a href="/it/arcgis-online/share-maps/publish-features.htm">Pubblicare feature</a></li>
		<li><a href="/it/arcgis-online/administer/view-status.htm">Visualizza stato</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Seguire una lezione
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Altre lezioni <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Come iniziare con ArcGIS Online</a></h3>
          <p>
 Impara facilmente a creare mappe online.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Analisi demografica e mappatura intelligente</a></h3>
          <p>
            Individuare bambini in situazioni di povertà utilizzando analisi demografica, mappatura intelligente e un'app Web.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Pianifica itinerari</a></h3>
          <p>
           Aiutare quattro ufficiali sanitari a ispezionare 36 ristoranti nella contea di San Diego.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Analisi spaziale</a></h3>
          <p>
            Trovare le migliori aree per un nuovo sviluppo residenziale a uso misto.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Leggere il nostro blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Altri post del blog <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Partecipare alla conversazione
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Altre discussioni <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Trovare corsi di formazione</a></h4>
      <p class="no-trailer">
        Ricercare corsi di formazione Esri per ulteriore apprendimento.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Video</a></h4>
      <p class="no-trailer">
        Visualizzare un insieme di video relativi ad ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Ottenere supporto tecnico</a></h4>
      <p class="no-trailer">
        Contattare il supporto tecnico attraverso chat, e-mail o telefono.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Controllo dell'integrità del sistema</a></h4>
      <p class="no-trailer">
        Vedere lo stato di ArcGIS Online e segnalare problemi.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
