---
title: Guida di ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="it">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/arcgis-online/">Guida</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Guida di ArcGIS Online" href="/it/arcgis-online/">Principale</a></li>
        <li><a title="Utilizzare mappe" href="/it/arcgis-online/use-maps/">Utilizzare</a></li>
        <li><a title="Creare mappe e applicazioni" href="/it/arcgis-online/create-maps/">Creare</a></li>		
        <li><a title="Condividere mappe e applicazioni" href="/it/arcgis-online/share-maps/">Condividere</a></li>
		<li><a title="Amministrare l'organizzazione" href="/it/arcgis-online/administer/">Amministrare</a></li>
		<li><a href="/it/arcgis-online/reference/">Riferimento</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">È possibile utilizzare e creare applicazioni e mappe interattive e di condividerle con gli altri utenti dell'organizzazione. come spiegato in questo articolo.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Utilizzare mappe</h3>
         
 
         <p>Grazie alle mappe è possibile esplorare, comprendere e misurare dati geografici.</p>

      
         <p><a href="/it/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Visualizzare i dati</a> <br/> <a href="/it/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Eseguire analisi</a><br/> <a href="/it/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Modificare le feature</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Creare mappe e applicazioni</h3>
          <p>È possibile creare mappe e applicazioni interattive alle quali l'organizzazione potrà accedere ovunque, da qualsiasi dispositivo e in qualsiasi momento.</p>


            <p><a href="/it/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Creare la prima mappa</a> <br/>

            <a href="/it/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Creare la prima applicazione</a><br/> <a href="/it/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Impostare proprietà di mappe e layer</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Condividere mappe e applicazioni</h3>
          <p>Per utilizzare i dati, è possibile condividere mappe e applicazioni nell'ambito dell'organizzazione o della community.</p>

         <p><a href="/it/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Aggiungere elementi</a> <br/><a href="/it/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Condividere elementi</a> <br/> <a href="/it/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Pubblicare feature e tile ospitate</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Amministrare l'organizzazione</h3>
          <p>Per facilitare l'utilizzo del sistema GIS, è possibile configurare ArcGIS Online per l'organizzazione, invitare membri a iscriversi e gestire le risorse.</p>
          <p>
            <a href="/it/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Configurare il sito Web</a> <br/> <a href="/it/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Invitare membri</a> <br/> <a href="/it/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Visualizzare le statistiche dell'organizzazione</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Applicazioni pronte all'uso</h3>
         <p>Ulteriori informazioni sulle applicazioni incluse in ArcGIS Online</p>
		 <p>
		  <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;Applicazione ArcGIS per smartphone e tablet</a><br/> <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/> <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/> <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>API per gli sviluppatori</h3>
          <p>La piattaforma ArcGIS include API e SDK per creare applicazioni per l'organizzazione e l'intera community.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Introduzione</h3>
		  <p>Cinque lezioni per imparare facilmente a creare mappe</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/explore-a-web-map.htm">Esplorare una mappa</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/create-a-new-map.htm">Creare una mappa</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/add-data-to-a-map.htm">Aggiungere layer da un file CSV</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/configure-popups.htm">Configurare i popup</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/make-a-web-application.htm">Creare un'applicazione</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Informazioni su ArcGIS Online</h3>
         <ul>
		 <li><a href="/it/arcgis-online/reference/what-is-agol.htm">&nbsp;Cos'è ArcGIS Online?</a></li>
		 <li>
		 <a href="/it/arcgis-online/reference/whats-new.htm" >&nbsp;Novità</a>
		 </li>
		 <li><a href="/it/arcgis-online/reference/faq.htm">&nbsp;Domande frequenti</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Creare una mappa</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Informazioni su come utilizzare il Map Viewer incorporato per creare mappe.</p>
        <a href="/it/arcgis-online/reference/videos.htm" class="btn secondary">Altri video</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Altri post del blog</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Altri post del forum</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
