---
title: Operations Dashboard for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/operations-dashboard-1

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2017-01-12"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="ja">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Operations Dashboard for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Windows 版の取得</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/operations-dashboard/" selected>ホーム</option>
        <option value="/en/operations-dashboard/overview/overview.htm">ビューの作成</a>
        <option value="/en/operations-dashboard/windows-desktop/author/create-a-map.htm">ビューの使用</a>
        <option value="/en/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">フォーラム</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/ja/operations-dashboard/">ホーム</a>
        <a class="sub-nav-link" href="/ja/operations-dashboard/overview/overview.htm">ビューの作成</a>
        <a class="sub-nav-link" href="/ja/operations-dashboard/windows-desktop/author/create-a-map.htm">ビューの使用</a>
        <a class="sub-nav-link" href="/ja/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">フォーラム</a>
      </nav>
    </div>
  </div>
</header>

<!-- beta announcement -->
<div class="panel panel-dark panel-no-border panel-no-padding leader-2 text-center">
  <div class="grid-container padding-leader-half padding-trailer-half trailer-0">
    <div class="column-24">
      <h5 class="trailer-0 leader-0">次世代のエクスペリエンスをぜひ体験してください <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 0px 0 0 10px;">ベータ版に参加</a>
      </h5>
    </div>
  </div>
</div>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>状況をすぐに把握</h1>
      <!--<br/>
      Know Operational Status Like You Are There<br/>
      Be There Without Leaving Your Office<br/>
      Know Operational Status Like You Are There<br/>
      Know the Status of your Operations<br/>
      Monitor, Track, and Assess Your Daily Operations<br/>
      Monitor, Track, and Assess What Matters Most (to You)<br/>
      Monitor, Track, and Assess with a Dynamic View of your Operations<br/>
      Know; outlook; view <br/>-->
      <h5>イベントや事故や災害状況の監視、フィールド調査員の追跡、日々の運用状態やパフォーマンスの評価をどこからでも行うことができます。</h5>
      <!--Monitor, track, and assess what matters most to you from whereever you are. Use your laptop or tablet to see your operations as they progress. -->
          
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Operations Dashboard のヘルプの検索">
              <input type="hidden" name="collection" value="help" />
              <!--input type="hidden" name="platform" value="detect" / -->
              <input type="hidden" name="product" value="ops-dashboard" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-2 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/ja/operations-dashboard/overview/whats-new.htm">新機能</a></li>
	<li><a href="/ja/operations-dashboard/overview/requirements.htm">要件</a></li>
        <li><a href="/ja/operations-dashboard/overview/sneak-peek.htm">追加予定の機能</a></li>
	<li><a href="/ja/operations-dashboard/windows-desktop/author/faqs-author.htm">ビューの作成に関する FAQ</a></li>
	<li><a href="/ja/operations-dashboard/windows-desktop/user/faqs-user.htm">ビューの使用に関する FAQ</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ja/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">
            <img alt="" src="img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">オペレーション ビューの作成と共有</a>
          </h5>
          <p>3 つの手順だけで、オペレーション ビューを簡単に作成および共有できます。オペレーション ビューには、マップまたは Web サービスで定義されているリアルタイムの地理データに基づいたマップ、リスト、チャート、ゲージなどを含めることができます。</p>
        </div>
        <a href="/ja/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="btn btn-clear btn-fill leader-0">使用方法</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ja/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/monitorAndRespond.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">事故や災害状況の監視と対応</a>
          </h5>
          <p>オペレーション ビューを使用すると、重要な業務の遂行状況を明確にすることができます。4 つの手順で、サービス、配送、人員、車両など、世界中のあらゆるものを監視します。</p>
        </div>
        <nav>
          <a href="/ja/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="btn btn-grouped btn-clear btn-half leader-0">使用方法</a>
          <a href="http://video.arcgis.com/iframe/2195/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">ビデオを見る</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ja/operations-dashboard/web/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/browserApp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/operations-dashboard/web/user/monitor-and-respond-to-events.htm">ブラウザーでの監視</a>
          </h5>
          <p>ブラウザーでオペレーション ビューを使用することができます。何もインストールする必要はありません。オペレーション ビューを開くだけで、最新の運用状態を確認できます。iPad でも使用できます。</p>
        </div>
        <a href="/ja/operations-dashboard/web/user/monitor-and-respond-to-events.htm" class="btn btn-clear btn-fill leader-0">使用方法</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ja/operations-dashboard/windows-desktop/author/custom-addins.htm">
            <img alt="" src="img/developExtensions.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/operations-dashboard/windows-desktop/author/custom-addins.htm">エクステンションの開発</a>
          </h5>
          <p>カスタム ウィジェット、フィーチャ アクション、およびマップ ツールを使用して、独自のビジネス ロジックをオペレーション ビューで表現することができます。</p>
        </div>
        <nav>
          <a href="/ja/operations-dashboard/windows-desktop/author/custom-addins.htm" class="btn btn-grouped btn-clear btn-half leader-0">使用方法</a>
          <a href="https://github.com/Esri/dashboard-samples" class="btn btn-grouped btn-clear btn-half leader-0">サンプル</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">ArcGIS をもっと活用</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Operations Dashboard とつながる</h4>
    <a aria-label="LinkedIn に接続" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="GitHub プロジェクトを見る" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/dashboard-samples"></a>
    <a aria-label="コミュニティに参加" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis"></a>
    <a aria-label="フィードバックを送信" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Esri のブログを読む
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/operations-dashboard/">その他の記事</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">会話に参加する
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">その他の会話</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2121" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">詳しいレッスンを受講</a></h5>
          <p class="trailer-0">
 Learn ArcGIS を検索して、ArcGIS で実世界の問題を解決する演習を検索および実行します。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">トレーニング コースの検索</a></h5>
          <p class="trailer-0">
 インストラクター主導型コース、Web コース、セミナーを通じて ArcGIS の詳細を学びます。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">テクニカル サポート</a></h5>
          <p class="trailer-0">
 チャット、電子メール、または電話で Esri Support に問い合わせます。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">システム状態のチェック</a></h5>
          <p class="trailer-0">
 ArcGIS Online のステータスを確認して、問題を報告します。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
