---
title: Luottamus – Järjestelmän tila
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="fi">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fi/trust/">Luota ArcGIS:iin</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/fi/trust/">Luottamus</a></li>
        <li class='current'><a title="ArcGIS Online -järjestelmän tila" href="/fi/trust/system-status/">ArcGIS Online -tila</a></li>
        <li><a title="ArcGIS Online -tietosuoja" href="/fi/trust/security/">Tietoturva</a></li>		
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/privacy/">Tietosuoja</a></li>
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/compliance/">Vaatimustenmukaisuus</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1250" frameborder="0">
Virhe: upotettuja tietoja ei voitu näyttää. 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Onlinen toimintakunnon mittaristo sisältää tilatietoja, joiden on osoitettu vaikuttavan suurimpaan osaan käyttäjistä.Koska ArcGIS Online on laaja pilvipohjainen alusta, useilla tapahtumilla on vain vähäistä vaikutusta laajaan käyttäjäpohjaan.Tällä tilasivulla ei julkaista organisaatiokohtaisia ongelmia, koska tavoitteena on ratkaista nämä ongelmat käytettävissä olevien tukipalvelujen avulla.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			 <a href="http://cloud.cio.gov/fedramp"><img src="../img/fedramp.png"/></a>
			 <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
