---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2016-07-18"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.1" />
					<input type="hidden" name="language" value="de" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-cognos/">Startseite</a></li>
        <li><a href="/de/maps-for-cognos/install-windows/">Installieren und Konfigurieren</a></li>
        <li><a href="/de/maps-for-cognos/author-maps/">Erstellen von Karten</a></li>
        <li><a href="/de/maps-for-cognos/use-maps/">Verwenden von Karten</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Holen Sie sich die App</h2>
          <span id="appVersion"><strong>Version:</strong> 6.1.1</span>
          <span id="appReleased"><strong>Verfügbar:</strong> September 2016</span>


          <p>Reichern Sie IBM Cognos-Berichte mit interaktiven Livekarten an, indem Sie vertraute, alltägliche Workflows verwenden, ohne dass Programmier- oder GIS-Kenntnisse erforderlich sind. Esri Maps for IBM Cognos ist nahtlos in IBM Cognos 10 integriert und ermöglicht Berichtsautoren das Hinzufügen und Konfigurieren von Karten, die mit anderen Objekten in ihren IBM Cognos-Berichten interagieren. Erstellen Sie Karten, in denen veröffentlichte geographische Daten aus ArcGIS mit IBM Cognos-Daten kombiniert werden, um eine umfassendere Analyse zu ermöglichen. Berichtsbenutzer benötigen keine zusätzlichen Kenntnisse oder Werkzeuge, um Berichte mit Kartenaktivierung zu verwenden und ihre Daten visuell zu analysieren. 
		</p>

        <p><a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Holen Sie sich Esri Maps for IBM Cognos</a></p>
        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Hinzufügen von Karten zu Ihrem Bericht </h3>
          <p>Fügen Sie dynamische Karten zu Ihrem IBM Cognos-Bericht hinzu, um Ihre Daten visuell zu analysieren.</p>
          <p>
           <a href="/de/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a title="Hinzufügen von Karten zu Ihrem Bericht" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Konfigurieren der interaktiven Funktionalität</h3>
          <p>Gestalten Sie Berichte für Berichtsbenutzer interaktiver. Wählen Sie Features auf der Karte aus, um andere Berichtsobjekte zu aktualisieren, eine Eingabeaufforderung festzulegen oder einen Drillthrough zu einem externen Bericht durchzuführen.</p>
          <p>
			<a href="/de/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
		   <a title="Konfigurieren der interaktiven Funktionalität" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Hinzufügen von Daten aus ArcGIS</h3>
          <p>Fügen Sie veröffentlichte geographische Daten aus ArcGIS zu Ihrem Bericht mit aktivierter Karte hinzu, um die Durchführung von Analysen Ihrer Daten zu vereinfachen.</p>
          <p><a href="/de/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Freigeben von Karten und Layern</h3>
          <p>Geben Sie Karten oder einzelne Karten-Layer in ArcGIS für andere Benutzer innerhalb oder außerhalb Ihrer Organisation frei.</p>
          <p><a href="/de/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben einer Karte</a>
		  <br/>
		  <a href="/de/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben eines Layers</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Neuerungen</h2>
	<p>Esri Maps for IBM Cognos 6.1.1 bietet signifikante Verbesserungen und neue Features für Berichtsautoren, Berichtsnutzer und Administratoren. Im Folgenden sind einige der Highlights aufgeführt:</p>
	
	<p>
		<ul>
			<li>Es wurden neue <a href="/de/maps-for-cognos/author-maps/configure-an-interactive-behavior-to-update-the-map.htm" target="_blank">interactive Funktionalitäten</a> zum Aktualisieren der Karte hinzugefügt.</li>
			<li>Die Benutzeroberfläche zum Filtern von IBM Cognos Business-Layern wurde für <a href="/de/maps-for-cognos/author-maps/apply-a-filter.htm#ESRI_SECTION1_265BEE531525472EAE6D2EE86721E40A" target="_blank">Autoren</a> und <a href="/de/maps-for-cognos/use-maps/apply-a-filter.htm#ESRI_SECTION1_265BEE531525472EAE6D2EE86721E40A" target="_blank">Nutzer</a> von Berichten verbessert.</li>
			<li>Ein Feature für neue Beschriftungen ist nun verfügbar. Weitere Informationen zum <a href="/de/maps-for-cognos/author-maps/create-labels.htm" target="_blank">Erstellen</a> und <a href="/de/maps-for-cognos/use-maps/use-labels.htm" target="_blank">Verwenden</a> von Beschriftungen.</li>
			<li>Die Benutzeroberfläche zum <a href="/de/maps-for-cognos/use-maps/clear-all-interactions.htm" target="_blank">Löschen von Interaktionen</a> wurde verbessert.</li>
			<li>Die Benutzeroberfläche zum Festlegen des <a href="/de/maps-for-cognos/author-maps/change-layer-display.htm#GUID-B2C0DE23-53A8-4792-93FB-1981993F0C94" target="_blank">Sichtbarkeitsbereichs</a> wurde verbessert.</li>
			<li>Die <a href="/de/maps-for-cognos/install-windows/configure-administrative-settings.htm#ESRI_SECTION1_20F5DB6012" target="_blank">automatische Cluster-Bildung</a> von Punkt-Layern in großen Datasets wird jetzt unterstützt.</li>
			<li>Die Benutzeroberfläche zum Festlegen von Umrissfarben wurde für <a href="/de/maps-for-cognos/install-windows/configure-administrative-settings.htm#ESRI_SECTION1_20F5DB60124C452FB74095DE7031D1AC" target="_blank">Administratoren</a> und <a href="/de/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_B3B7D16E14EF4CBAA70C5C39494A7DDB" target="_blank">Berichtsautoren</a> verbessert.</li>
			<li>Die Benutzeroberfläche zum <a href="/de/maps-for-cognos/author-maps/copy-a-layer.htm" target="_blank">Kopieren eines Layers</a> mit interaktiver Funktionalität wurde verbessert.</li>
			<li>Gekachelte Vektor-Layer und Grundkarten werden nun unterstützt.</li>
			<li>Die Benutzeroberfläche für die Arbeit mit Feature-Attributtabellen wurde für <a href="/de/maps-for-cognos/author-maps/view-records.htm" target="_blank">Autoren</a> und <a href="/de/maps-for-cognos/use-maps-mobile/view-records.htm" target="_blank">Nutzer</a> von Berichten verbessert.
			</li>
			<li>Es sind zusätzliche Symbole verfügbar.</li>
		</ul>
	</p>




<hr />

 <a name="supportedEnvironments"></a>
        <h2>Unterstützte Umgebungen</h2>

        <p>Um sicherzustellen, dass Esri Maps for IBM Cognos ordnungsgemäß funktioniert, setzt Esri eine betriebsbereite Konfiguration von IBM Cognos Business Intelligence (BI) voraus. Softwareumgebungen für IBM Cognos BI werden als aktiv, kompatibel oder nicht unterstützt aufgelistet. Esri testet nur Esri Maps for IBM Cognos mit aktiven Konfigurationen. Zudem wurden nicht alle aktiven Konfigurationen getestet/zertifiziert. </p>
		<p>Wenn Ihre IBM Cognos-Konfiguration nicht unten aufgeführt ist, wenden Sie sich an den technischen Support von Esri oder an Ihren Ansprechpartner bei Esri, um zu ermitteln, ob sie für eine zukünftige Version geplant ist oder auf die geplante Liste gesetzt werden kann. Im Allgemeinen sieht die Richtlinie von Esri die Unterstützung neu veröffentlichter IBM Cognos Fix Packs 60 Tage nach deren Bereitstellung zum Download vor.</p>

<p>Esri Maps for IBM Cognos wird für die Verwendung mit IBM Cognos Enterprise und IBM Cognos Express 10.2.2 und höher unterstützt. Es wird nicht für die Verwendung mit einer Developer-Version unterstützt.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')"> Systemanforderungen</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>Festplatte: 300 MB</li>
          <li>Speicher: 2 GB</li>
	</ul>
	<p><b>Hinweis:</b> Der erforderliche Speicherplatz ist je nach Verwendung der Excel 2002-Berichtsformat-Option unterschiedlich. Weitere Informationen finden Sie unter <a href="/de/maps-for-cognos/install-windows/report-formats.htm">Berichtsformate</a>.</p>
</div>
<div class="clear"></div>

<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')">
ArcGIS</a></h3>
	<div exp2='yes' style="display:none;padding:0 15px;">
		<p>Esri Maps for IBM Cognos erfordert eine ArcGIS Online-Organisationssubskription oder eine lokale Portal for ArcGIS-Bereitstellung. Es wird vorausgesetzt, dass die für den Zugriff auf die Plattform verwendete Authentifizierungsmethode ordnungsgemäß vom ArcGIS-Administrator konfiguriert wurde.</p>
		<p>Esri Maps for IBM Cognos 6.1.1 unterstützt die folgenden ArcGIS-Versionen:
			<ul>
				<li><b>ArcGIS Online:</b> Aktuelle Version</li>
				<li><b>Portal for ArcGIS:</b> 10.3, 10.3.1, 10.4, 10.4.1</li>
			</ul>
		</p>
	</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')"> IBM Cognos-Versionen</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

<p>Im Allgemeinen sieht die Richtlinie von Esri die Unterstützung neu veröffentlichter IBM Cognos Fix Packs 60 Tage nach deren Bereitstellung zum Download vor.</p>
 <p>In der folgenden Tabelle wird erläutert, welche Versionen und Fix Packs von IBM Cognos für die jeweilige Version von Esri Maps for IBM Cognos unterstützt werden:</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">IBM Cognos-Versionen</th>
<th colspan="6">Versionen von Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
<th colspan="1" rowspan="1">6.1</th>
<th colspan="1" rowspan="1">6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="6 colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1.1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP5</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="11" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP2</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP3</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP4</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP5</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP6</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP7</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP8</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP9</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP10</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="6" colspan="1"><p><b>10.2.2**</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP3</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP4</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP5</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>* Wenn Sie Esri Maps for IBM Cognos 5.0.1 installiert haben, lesen Sie hierzu den Knowledge Base-Artikel <a href="http://support.esri.com/technical-article/000011906" target="_blank">000011906</a>, bevor Sie das Fix Pack installieren.</p>
<p>** Esri Maps for IBM Cognos 6.0.1 und höher unterstützt neben IBM Cognos Enterprise auch IBM Cognos Express 10.2.2.</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')"> Betriebssysteme</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

 <p>IBM zertifiziert und unterstützt Betriebssysteme, die mit einer Reihe von CPU-Chipsätzen kompatibel sind, die als CPU-Architekturen bezeichnet werden. Esri testet Esri Maps for IBM Cognos nur auf einigen Betriebssystemen (und Chipsätzen), die von IBM als aktiv aufgelistet sind. Die Auswahl basiert auf Marktforschung und bestehenden Client-Konfigurationen.</p>
 <p>In der folgenden Tabelle wird erläutert, welche Betriebssysteme für jede Version von Esri Maps for IBM Cognos unterstützt werden:</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">Betriebssysteme</th>
<th rowspan="1" colspan="6">Versionen von Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
<th rowspan="1" colspan="1">6.1</th>
<th rowspan="1" colspan="1">6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows Server</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.3+ unter System z</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>* Es werden nur 64-Bit-Versionen von System z unterstützt.</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')"> Erforderliche Komponenten (nur Linux und UNIX)</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">

	 <p>Die folgenden Systembibliotheken sind erforderlich, um Esri Maps for IBM Cognos EM4C Gateway unter den Betriebssystemen Linux und UNIX auszuführen:</p>

        <ul>
          <li>Linux (32 Bit)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64-Bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 Bit)* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* Nur für die Versionen 6.0.1 und 6.0.2 erforderlich</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')"> Webbrowser</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
	 <p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von IBM unterstützt werden. Stattdessen wird eine Gruppe von Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssysteme getestet.</p>
       

<p>Entsprechend führt Esri Tests zur Stabilität von Browsern nur für die Windows-Plattform durch. Esri Maps for IBM Cognos sollte auf Clients funktionieren, die keine Windows-Clients sind, falls einer der unten aufgelisteten Webbrowser verwendet wird. Ist dies nicht der Fall, wenden Sie sich an den technischen Support von Esri, um Ihr spezifisches Betriebssystem und Ihren Webbrowser testen zu lassen.</p>

<p>In der folgenden Tabelle wird dargestellt, welche Browser für die jeweilige Version von Esri Maps for IBM Cognos getestet wurden:</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">Browser</th>
<th colspan="6">Versionen von Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
<th>6.1</th>
<th>6.1.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>Apple Safari unter iOS</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">
8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="4" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">41</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">51</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="3" colspan="1"><b>Google Chrome für Android</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">
40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">51</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="3" colspan="1"><b>Internet Explorer* °</b></td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 38</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 45</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>* Heatmaps sind nicht kompatibel mit IBM Cognos im Internet Explorer. In Esri Maps for IBM Cognos 6.0.1 und älter sind Kreisdiagramm-Cluster ebenfalls nicht mit IBM Cognos unter Internet Explorer kompatibel. Weitere Informationen hierzu finden Sie im Knowledge Base-Artikel <a href="http://support.esri.com/technical-article/000012099" target="_blank">000012099</a>.</p>
<p>° Internet Explorer 8 und 9 werden nicht mehr unterstützt.</p>
<p>**Internet Explorer 10 und 11 werden nur im Kompatibilitätsmodus unterstützt.</p>
<p>Google Chrome für Android und Apple Safari unter iOS werden nur für Berichtsbenutzer unterstützt. Esri Maps Designer wird in diesen Browsern nicht unterstützt.</p>

<p>Für ein verbessertes Rendering von Karten-Features und Grafiken in Internet Explorer wird empfohlen, Silverlight 5.x herunterzuladen und auf dem Client zu installieren. </p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')">
Unterstützte Sprachen</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
		<p>ArcGIS Maps for IBM Cognos 6.1.1 ist in den folgenden Sprachen verfügbar:</p>
		<p>
        <ul>
          <li>Chinesisch (China)</li>
		  <li>Englisch</li>
		  <li>Französisch</li>
		  <li>Deutsch</li>
		  <li>Japanisch</li>
		  <li>Koreanisch</li>
		</ul>
		</p>        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp8')"> Unterstützung</a></h3>
<div exp8='yes' style="display:none;padding:0 15px;">
<p>Zur ordnungsgemäßen Funktion von IBM Cognos müssen mehrere Drittanbieterkomponenten konfiguriert werden. Diese Komponenten umfassen Anwendungsserver, Webserver, Datenbankserver, Java-Runtime-Bibliotheken usw. Der technische Support von IBM hilft Ihnen bei der Bereitstellung von IBM Cognos mit diesen Komponenten. Der technische Support von Esri hilft Ihnen bei der Bereitstellung (und Verwendung) von Esri Maps for IBM Cognos.</p>

<p>Die Mitarbeiter des technischen Supports von Esri sind keine Experten für alle möglichen Konfigurationen von IBM Cognos. Entsprechend sind die Mitarbeiter des technischen Supports von IBM keine Experten für alle Drittanbieterkomponenten, die für eine betriebsbereite Konfiguration von Esri Maps for IBM Cognos erforderlich sind. Wenn beim Konfigurieren von IBM Cognos Probleme auftreten, ist es oft effizienter, den technischen Support von IBM um Unterstützung zu bitten. Entsprechend ist es effizienter, sich im Falle von Konfigurationsproblemen mit Drittanbieterkomponenten an die Support-Organisation des Drittanbieters zu wenden, um Unterstützung zu erhalten. In Fällen, in denen davon ausgegangen werden kann, dass das Problem bei Esri Maps for IBM Cognos liegt, kann der technische Support von Esri mit dem technischen Support von IBM und/oder Drittanbietern und/oder deren Beratern zusammenarbeiten.</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
          <li><a href="#whatsNew">Neuerungen</a></li>		
		  <li><a href="#supportedEnvironments">Unterstützte Umgebungen</a></li>
		  <li>Hilfe zu früheren Versionen:
			<ul>
				<li><a href="/de/maps-for-cognos/6.1/">6.1</a></li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Videos ansehen</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
