---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.2"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="Hilfe" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.2" />
					<input type="hidden" name="language" value="de" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-cognos/">Startseite</a></li>
        <li><a href="/de/maps-for-cognos/install-windows/">Installieren und Konfigurieren</a></li>
        <li><a href="/de/maps-for-cognos/author-maps/">Erstellen von Karten</a></li>
        <li><a href="/de/maps-for-cognos/use-maps/">Verwenden von Karten</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Holen Sie sich die App</h2>
          <span id="appVersion"><strong>Version:</strong> 6.0.2</span>
          <span id="appReleased"><strong>Verfügbar:</strong> April 2015</span>


          <p>Reichern Sie IBM Cognos-Berichte mit interaktiven Livekarten an, indem Sie vertraute, alltägliche Workflows verwenden, ohne dass benutzerdefinierte Codes oder GIS-Kenntnisse erforderlich sind. Esri Maps for IBM Cognos ist nahtlos in IBM Cognos 10 integriert und ermöglicht Berichtsautoren das Hinzufügen und Konfigurieren von Karten, die mit anderen Objekten in ihren IBM Cognos-Berichten interagieren. Erstellen Sie Karten, in denen veröffentlichte geografische Daten aus ArcGIS mit IBM Cognos-Daten kombiniert werden, um eine umfassendere Analyse zu ermöglichen. Berichtsbenutzer benötigen keine zusätzlichen Kenntnisse oder Werkzeuge, um Berichte mit Kartenaktivierung zu verwenden und ihre Daten visuell zu analysieren.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Holen Sie sich Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Hinzufügen von Karten zu Ihrem Bericht </h3>
          <p>Fügen Sie dynamische Karten zu Ihrem IBM Cognos-Bericht hinzu, um Ihre Daten visuell zu analysieren.</p>
          <p>
           <a href="/de/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a title="Hinzufügen von Karten zu Ihrem Bericht" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Konfigurieren von interaktivem Verhalten</h3>
          <p>Gestalten Sie Berichte für Berichtsbenutzer interaktiver. Wählen Sie Features auf der Karte aus, um andere Berichtsobjekte zu aktualisieren, eine Eingabeaufforderung festzulegen oder einen Drillthrough zu einem externen Bericht durchzuführen.</p>
          <p>
			<a href="/de/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
		   <a title="Konfigurieren von interaktivem Verhalten" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Hinzufügen von Daten aus ArcGIS</h3>
          <p>Fügen Sie veröffentlichte geographische Daten aus ArcGIS zu Ihrem Bericht mit aktivierter Karte hinzu, um die Durchführung von Analysen Ihrer Daten zu vereinfachen.</p>
          <p><a href="/de/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Freigeben von Karten und Layern</h3>
          <p>Geben Sie Karten oder einzelne Karten-Layer in ArcGIS für andere Benutzer innerhalb oder außerhalb Ihrer Organisation frei.</p>
          <p><a href="/de/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben einer Karte</a>
		  <br/>
		  <a href="/de/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben eines Layers</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Neuheiten</h2>
<p>Esri Maps for IBM Cognos bietet signifikante Verbesserungen und neue Features für Berichtsautoren, Berichtsnutzer und Administratoren. Hier sind einige Highlights.
</p>

<h3>6.0.2</h3>

<ul>
<li>Verbesserungen an der Kartenlegende</li>
<li>Verbesserte Performance der Cluster-Bildung</li>
<li>Unterstützung für Kreisdiagramm-Cluster in Internet Explorer</li>
<li>Administratoren können die Standardverwaltungs- und Anmeldeeinstellungen für ihre Umgebung auf einfache Weise wiederherstellen</li>
<li>Unterstützung für IBM Cognos 10.1.1 FP4 und 10.2.1 FP6</li>
<li>Unterstützung für Google Chrome für Android, Version 40</li>
</ul>

<h3>6.0.1 Patch 1</h3>
<p>Dieses Patch verbessert die Rendering-Performance von Karten-Features und Grafiken in Internet Explorer, wodurch die Karten-Performance mit Firefox und Chrome vergleichbar ist. In diesem Patch wurden außerdem zwei Bugs im Zusammenhang mit dem Styling von Legenden behoben. Weitere Informationen und das Patch-Download finden Sie unter <a href="http://support.esri.com/de/downloads/patches-servicepacks/view/productid/193/metaid/2187">support.esri.com</a>.</p>

<h3>6.0.1 Verbesserungen</h3>

<ul>
	<li>Berichtsbenutzer können Daten aus ArcGIS zu der Karte hinzufügen</li>
	<li>Unterstützung für IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 und 10.2.2</li>
	<li>Unterstützung von Novell SUSE Linux Enterprise Server und Red Hat Enterprise Linux Server unter dem System z</li>
	<li>Unterstützung für Apple Safari unter iOS 8.x</li>
	<li>Software und Dokumentation sind in sieben Sprachen verfügbar: Englisch, Deutsch, Französisch, Japanisch, Koreanisch, Russisch und Vereinfachtes Chinesisch.</li>
</ul>


<h3>6.0 Verbesserungen</h3>

<ul>
<li>Unterstützung für  Portal for ArcGIS-Bereitstellungen ohne Internet</li>
<li>Konfigurieren von Interaktionen in dynamischen Karten-Service-Layern</li>
<li>Neue Zeichenwerkzeuge zum Auslösen von konfiguriertem interaktivem Verhalten</li>
<li>Filterfunktionen, die mit dem Werkzeug "Layer filtern" auf der Karte angezeigt werden</li>
<li>Messen von Flächen, Entfernungen und XY-Koordinaten mit dem Werkzeug "Messen"</li>
<li>Geokodieren von Adressen und Suchen von Routen mit dem Werkzeug "Route abrufen"</li>
<li>Konfigurieren von Infografiken sowie anderen Kartenwerkzeugen und -einstellungen</li>
<li>Ändern der Kartenausdehnung mit einer Übersichtskarte und anderen Navigationswerkzeugen</li>
<li>Festlegen der WKID von XY-Koordinaten beim Hinzufügen von Punktdaten zu der Karte</li>
<li>Konfigurieren von mehreren Styles für einen Layer</li>
<li>Starten von interaktivem Verhalten über Pop-ups</li>
<li>Anzeigen und Drucken von Berichten in verschiedenen Formaten</li>
<li>Performance-Verbesserungen für schnelleres Laden von Karten</li>
<li>Neue Funktion für Administratoren zum Kontrollieren des Zugriffs auf  Esri Maps for IBM Cognos</li>
<li>Unterstützung für IBM Cognos 10.2.1 Fix Packs 1, 2, 3 und 4</li>
<li>Unterstützung von mobilen Browsern: 
<ul>
<li>Apple Safari unter iOS</li>
<li>Google Chrome für Android</li>
</ul> 
</li>

</ul>

<hr />

 <a name="supportedEnvironments"></a>
        <h2>Unterstützte Umgebungen</h2>

        <p>Um sicherzustellen, dass Esri Maps for IBM Cognos ordnungsgemäß funktioniert, setzt Esri eine betriebsbereite Konfiguration von IBM Cognos Business Intelligence (BI) voraus. Softwareumgebungen für IBM Cognos BI werden als aktiv, kompatibel oder nicht unterstützt aufgelistet. Esri testet nur Esri Maps for IBM Cognos mit aktiven Konfigurationen. Zudem wurden nicht alle aktiven Konfigurationen getestet/zertifiziert. Wenn Ihre IBM Cognos-Konfiguration nicht unten aufgeführt ist, wenden Sie sich an den technischen Support von Esri oder an Ihren Ansprechpartner bei Esri, um zu ermitteln, ob sie für eine zukünftige Version geplant ist oder auf die geplante Liste gesetzt werden kann.</p>

<p>Esri Maps for IBM Cognos wird für die Verwendung mit IBM Cognos Enterprise unterstützt. Es wird nicht für die Verwendung mit IBM Cognos Express oder einer Developer-Version unterstützt.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 

<h3>Systemanforderungen</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp18')">6.0.2</a>
     <div exp18='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Festplatte: 300 MB</li>
          <li>Speicher: 2 GB</li>
	</ul>
	<p><b>Hinweis:</b> Der erforderliche Speicherplatz ist je nach Verwendung der Excel 2002-Berichtsformat-Option unterschiedlich. Weitere Informationen finden Sie unter <a href="/de/maps-for-cognos/install-windows/report-formats.htm">Berichtsformate</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">6.0.1</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Festplatte: 300 MB</li>
          <li>Speicher: 2 GB</li>
	</ul>
	<p><b>Hinweis:</b> Der erforderliche Speicherplatz ist je nach Verwendung der Excel 2002-Berichtsformat-Option unterschiedlich. Weitere Informationen finden Sie unter <a href="/de/maps-for-cognos/6.0.1/install-windows/report-formats.htm">Berichtsformate</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">6.0</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
       <ul>
          <li>Festplatte: 300 MB</li>
          <li>Speicher: 2 GB</li>
		  
        </ul>
		<p><b>Hinweis:</b> Der erforderliche Speicherplatz ist je nach Verwendung der Excel 2002-Berichtsformat-Option unterschiedlich. Weitere Informationen finden Sie unter <a href="/de/maps-for-cognos/6.0/install-windows/report-formats.htm">Berichtsformate</a>.</p>
</div>
<div class="clear"></div>

     <h3/>
<h3>IBM Cognos-Versionen</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp19')">6.0.2</a>
     <div exp19='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos wird für die folgenden Versionen von IBM Cognos unterstützt:</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
<li>10.1.1 FP4</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
<li>10.2.1 FP6</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>




  <a class="icon-right-arrow" onclick="exp(event,'div','exp3')">6.0.1</a>
     <div exp3='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos wird für die folgenden Versionen von IBM Cognos unterstützt:</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">6.0</a>
	<div exp4='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos wird für die folgenden Versionen von IBM Cognos unterstützt:</p>
        <ul>
          <li>IBM Cognos 10.2
		  <ul>
		  <li>10.2</li>
		  </ul></li>
		  <li>IBM Cognos 10.2.1
		  <ul>
		  <li>10.2.1</li>
		  <li>10.2.1 FP 1</li>
		  <li>10.2.1 FP 2</li>
		  <li>10.2.1 FP 3</li>
		  <li>10.2.1 FP4</li>
			<li>10.2.1 FP5</li>
		  </ul>
		  </li>
		 
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">5.0.1</a>
	<div exp5='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos wird für die folgenden Versionen von IBM Cognos unterstützt:</p>
        <ul>
          <li>IBM Cognos 10.1
		  </li>
		  <li>IBM Cognos 10.1.1</li>
		  <li>IBM Cognos 10.2</li>
		  <li>IBM Cognos 10.2.1
			<ul>
			<li>10.2.1</li>
			<li>10.2.1 FP1*</li>
			<li>10.2.1 FP2*</li>
			<li>10.2.1 FP3*</li>
			<li>10.2.1 FP4*</li>
			<li>10.2.1 FP5*</li>
			</ul>
		  </li>
		  
		
	</ul>
	<p>* Lesen Sie hierzu den <a href="http://support.esri.com/de/knowledgebase/techarticles/detail/41743">Knowledge Base-Artikel 42801</a>, bevor Sie das Fix Pack installieren.</p>
</div>

<div class="clear"></div>

     <h3/>
<h3>Betriebssysteme</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp20')">6.0.2</a>
     <div exp20='yes' style="display:none;padding:0 15px;">
	 <p>IBM zertifiziert und unterstützt Betriebssysteme, die mit einer Reihe von CPU-Chipsätzen kompatibel sind, die als CPU-Architekturen bezeichnet werden. Esri testet Esri Maps for IBM Cognos auf einer Teilmenge der Betriebssysteme (und Chipsätze), die von IBM als aktiv aufgelistet sind. Die von Esri getestete Liste basiert auf Marktforschung und bestehenden Client-Konfigurationen.</p>
	 <p>Esri Maps for IBM Cognos wird unter folgenden Betriebssystemen unterstützt:</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+ auf System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Es werden nur 64-Bit Versionen von System z unterstützt.</p>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp6')">6.0.1</a>
     <div exp6='yes' style="display:none;padding:0 15px;">
	 <p>IBM zertifiziert und unterstützt Betriebssysteme, die mit einer Reihe von CPU-Chipsätzen kompatibel sind, die als CPU-Architekturen bezeichnet werden. Esri testet Esri Maps for IBM Cognos auf einer Teilmenge der Betriebssysteme (und Chipsätze), die von IBM als aktiv aufgelistet sind. Die von Esri getestete Liste basiert auf Marktforschung und bestehenden Client-Konfigurationen.</p>
	 <p>Esri Maps for IBM Cognos wird unter folgenden Betriebssystemen unterstützt:</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+auf System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Es werden nur 64-Bit Versionen von System z unterstützt.</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp7');" style="display:inline;">6.0</a>
	<div exp7='yes' style="display:none;padding:0 15px;">
	<p>IBM zertifiziert und unterstützt Betriebssysteme, die mit einer Reihe von CPU-Chipsätzen kompatibel sind, die als CPU-Architekturen bezeichnet werden. Esri testet Esri Maps for IBM Cognos auf einer Teilmenge der Betriebssysteme (und Chipsätze), die von IBM als aktiv aufgelistet sind. Die von Esri getestete Liste basiert auf Marktforschung und bestehenden Client-Konfigurationen.</p>
        <p>Esri Maps for IBM Cognos wird unter folgenden Betriebssystemen unterstützt:</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux 5.3+</li>
		  <li>Novell SUSE Linux Enterprise 10 SP1+</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp8');" style="display:inline;">5.0.1</a>
	<div exp8='yes' style="display:none;padding:0 15px;">
	<p>IBM zertifiziert und unterstützt Betriebssysteme, die mit einer Reihe von CPU-Chipsätzen kompatibel sind, die als CPU-Architekturen bezeichnet werden. Esri testet Esri Maps for IBM Cognos auf einer Teilmenge der Betriebssysteme (und Chipsätze), die von IBM als aktiv aufgelistet sind. Die von Esri getestete Liste basiert auf Marktforschung und bestehenden Client-Konfigurationen.</p>
        <p>Esri Maps for IBM Cognos wird unter folgenden Betriebssystemen unterstützt:</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Erforderliche Komponenten (nur Linux und UNIX)</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp21')">6.0.2</a>
     <div exp21='yes' style="display:none;padding:0 15px;">
	 <p>Die folgenden Systembibliotheken sind erforderlich, um Esri Maps for IBM Cognos EM4C Gateway unter den Betriebssystemen Linux und UNIX auszuführen:</p>

        <ul>
          <li>Linux (32 Bit)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 Bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 Bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp9')">6.0.1</a>
     <div exp9='yes' style="display:none;padding:0 15px;">
	 <p>Die folgenden Systembibliotheken sind erforderlich, um Esri Maps for IBM Cognos EM4C Gateway unter den Betriebssystemen Linux und UNIX auszuführen:</p>

        <ul>
          <li>Linux (32 Bit)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64 Bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64 Bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64 Bit)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">6.0</a>
	<div exp10='yes' style="display:none;padding:0 15px;">
        <p>Die folgenden Systembibliotheken sind erforderlich, um Esri Maps for IBM Cognos EM4C Gateway unter den Betriebssystemen Linux und UNIX auszuführen:</p>

        <ul>
          <li>Linux (32 Bit)
			<ul>
				<li>linux-gate.so.1</li>
				<li>/lib/libc.so.6</li>
				<li>/lib/libdl.so.2</li>
				<li>/lib/librt.so.1</li>
				<li>/lib/ld-linux.so.2</li>
				<li>/lib/libpthread.so.0</li>
			</ul>
		  </li>
		  <li>Linux (64 Bit)
			<ul>
				<li>/lib64/libc.so.6</li>
				<li>/lib64/libdl.so.2</li>
				<li>/lib64/librt.so.1</li>
				<li>/lib64/ld-linux-x86-64.so.2</li>
				<li>/lib64/libpthread.so.0</li>
				
			</ul>
		  </li>
		  <li>AIX (32 Bit)
			<ul>
				<li>unix</li>
				<li>libc.a(shr.o)</li>
				<li>libcrypt.a(shr.o)</li>
				<li>libiconv.a(shr4.o)</li>
				<li>libpthreads.a(shr_xpg5.o)</li>
				<li>libpthreads.a(shr_comm.o)</li>
			</ul>
		  </li>
		  <li>AIX (64 Bit)
			<ul>
				<li>unix</li>
				<li>libc.a(shr_64.o)</li>
				<li>ibcrypt.a(shr_64.o)</li>
				<li>libiconv.a(shr4_64.o)</li>
				<li>libpthreads.a(shr_xpg5_64.o)</li>
				
			</ul>
		  </li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">5.0.1</a>
	<div exp11='yes' style="display:none;padding:0 15px;">
        <p>Die folgenden Systembibliotheken sind erforderlich, um Esri Maps for IBM Cognos EM4C Gateway unter den Betriebssystemen Linux und UNIX auszuführen:</p>
   
<ul>
          <li>Linux (32 Bit)
		  <ul>
		  <li>linux-gate.so.1</li>
		  <li>/lib/libc.so.6</li>
		  <li>/lib/libdl.so.2</li>
		  <li>/lib/librt.so.1</li>
		  <li>/lib/ld-linux.so.2</li>
		  <li>/lib/libpthread.so.0</li>
		  </ul></li>
		  
		  <li>Linux (64 Bit)
		  <ul>
		  <li>/lib64/libc.so.6</li>
		  <li>/lib64/libdl.so.2</li>
		  <li>/lib64/librt.so.1</li>
		  <li>/lib64/ld-linux-x86-64.so.2</li>
		  <li>/lib64/libpthread.so.0</li>
		  
		  </ul>
		  </li>
		  
		  <li>AIX (32 Bit)
		  <ul>
		  <li>unix</li> 
		  <li>libc.a(shr.o)</li>
		  <li>libcrypt.a(shr.o)</li>
		  <li>libiconv.a(shr4.o)</li>
		  <li>libpthreads.a(shr_xpg5.o)</li>
		  <li>libpthreads.a(shr_comm.o)</li>
		  </ul></li>
		  
		 <li>AIX (64 Bit)
		 <ul>
		 <li>unix</li>
		  <li>libc.a(shr_64.o)</li>
		  <li>ibcrypt.a(shr_64.o)</li>
		  <li>libiconv.a(shr4_64.o)</li>
		  <li>libpthreads.a(shr_xpg5_64.o)</li>
		  </ul>
		 </li>
		 
		  </ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Webbrowser</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp22')">6.0.2</a>
     <div exp22='yes' style="display:none;padding:0 15px;">
	 <p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von IBM unterstützt werden. Stattdessen wird eine Gruppe von Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssystem getestet.</p>
       

<p>Entsprechend führt Esri robuste Browser-Tests nur für die Windows-Plattform durch. Esri Maps for IBM Cognos sollte auf Clients funktionieren, die keine Windows-Clients sind, falls einer der unten aufgelisteten Webbrowser verwendet wird. Ist dies nicht der Fall, wenden Sie sich an den technischen Support von Esri, um Ihr spezifisches Betriebssystem und Ihren Webbrowser testen zu lassen.</p>

<p>Die folgenden Browser wurden getestet:</p>

<table border="1" style="text-align:center">

<tr style="font-size:14px">
<th>Browser-Name</th>
<th>Browser-Version</th>
</tr>

<tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari unter iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Google Chrome für Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>* Wärmebilder in IBM Cognos sind mit dem Internet Explorer nicht kompatibel. Weitere Informationen hierzu finden Sie im <a href="http://support.esri.com/de/knowledgebase/techarticles/detail/42801">Knowledge Base-Artikel 42801</a>.</p>
<p>**Internet Explorer 10 und 11 werden nur im Kompatibilitätsmodus unterstützt.</p>
<p>Google Chrome für Android und Apple Safari unter iOS-Browsern werden nur für Berichtsbenutzer unterstützt. Esri Maps Designer wird in diesen Browsern nicht unterstützt.</p>
<p>Für ein verbessertes Rendering von Karten-Features und Grafiken in Internet Explorer wird empfohlen, Silverlight 5.x herunterzuladen und auf dem Client zu installieren. </p>
</div>

<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp12')">6.0.1</a>
     <div exp12='yes' style="display:none;padding:0 15px;">
	 <p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von IBM unterstützt werden. Stattdessen wird eine Gruppe von Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssystem getestet.</p>
       

<p>Entsprechend führt Esri robuste Browser-Tests nur für die Windows-Plattform durch. Esri Maps for IBM Cognos sollte auf Clients funktionieren, die keine Windows-Clients sind, falls einer der unten aufgelisteten Webbrowser verwendet wird. Ist dies nicht der Fall, wenden Sie sich an den technischen Support von Esri, um Ihr spezifisches Betriebssystem und Ihren Webbrowser testen zu lassen.</p>

<p>Die folgenden Browser wurden getestet:</p>

<table border="1" style="text-align:center">

<tr style="font-size:14px">
<th>Browser-Name</th>
<th>Browser-Version</th>
</tr>

<tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari unter iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome für Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Wärmebilder und Kreisdiagramm-Cluster sind nicht mit IBM Cognos im Internet Explorer kompatibel. Weitere Informationen hierzu finden Sie im <a href="http://support.esri.com/de/knowledgebase/techarticles/detail/42801">Knowledge Base-Artikel 42801</a>.</p>
<p>**Internet Explorer 10 und 11 werden nur im Kompatibilitätsmodus unterstützt.</p>
<p>Google Chrome für Android und Apple Safari unter iOS-Browsern werden nur für Berichtsbenutzer unterstützt. Esri Maps Designer wird in diesen Browsern nicht unterstützt.</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp13');" style="display:inline;">6.0</a>
	<div exp13='yes' style="display:none;padding:0 15px;">
        <p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von IBM unterstützt werden. Stattdessen wird eine Gruppe von Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssystem getestet.</p>
       

<p>Entsprechend führt Esri robuste Browser-Tests nur für die Windows-Plattform durch. Esri Maps for IBM Cognos sollte auf Clients funktionieren, die keine Windows-Clients sind, falls einer der unten aufgelisteten Webbrowser verwendet wird. Ist dies nicht der Fall, wenden Sie sich an den technischen Support von Esri, um Ihr spezifisches Betriebssystem und Ihren Webbrowser testen zu lassen.</p>

<p>Die folgenden Browser wurden getestet:</p>

<table border="1" style="text-align:center">

<tr style="font-size:14px">
<th>Browser-Name</th>
<th>Browser-Version</th>
</tr>

<tbody style="font-size:14px"> 
<tr>
<td>Apple Safari unter iOS</td>
<td>7.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome für Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td>Firefox</td>
<td>ESR 24</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Wärmebilder und Kreisdiagramm-Cluster sind nicht mit IBM Cognos im Internet Explorer kompatibel.</p>
<p>**Internet Explorer 10 und 11 werden nur im Kompatibilitätsmodus unterstützt.</p>
<p>Google Chrome für Android und Apple Safari unter iOS-Browsern werden nur für Berichtsbenutzer unterstützt. Esri Maps Designer wird in diesen Browsern nicht unterstützt.</p>





</div>


 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp14');" style="display:inline;">5.0.1</a>
	<div exp14='yes' style="display:none;padding:0 15px;">
       <p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von IBM unterstützt werden. Stattdessen wird eine Gruppe von Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssystem getestet.</p>
       

<p>Esri führt robuste Tests für die Windows-Plattform durch. Die folgende Tabelle ist eine Gruppe von Webbrowsern, die aktiv von IBM unterstützt werden. "Vollständig" weist darauf hin, dass ein vollständiger Test von Esri durchgeführt wurde. "Beschränkt" gibt an, dass der Testumfang beschränkt war.</p>

<p>Die folgende Tabelle ist eine Gruppe von Webbrowsern, die aktiv von IBM unterstützt werden. "Unterstützt" gibt an, dass die Tests von Esri durchgeführt wurden. "Beschränkt" gibt an, dass der Testumfang beschränkt war.</p>

<table border="1" style="text-align:center">

<tr style="font-size:14px">
<th>Browser-Name</th>
<th>Browser-Version</th>
<th>IBM Cognos 10.2.1</th>
<th>IBM Cognos 10.2</th>
<th>IBM Cognos 10.1.1</th>
<th>IBM Cognos 10.1</th>
</tr>

<tbody style="font-size:14px"> 


<tr>
<td rowspan="3" colspan="1">Microsoft Internet Explorer</td>
<td rowspan="1" colspan="1">10.x</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9.x</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
<td>Unterstützt*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Eingeschränkt*</td>
</tr>
<tr>
<td>Firefox ESR</td>
<td>17.x</td>
<td>Unterstützt</td>
<td>Unterstützt</td>
<td>Unterstützt</td>
<td>Unterstützt</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>21.x</td>
<td>Eingeschränkt**</td>
<td>Eingeschränkt**</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</tbody>
</table>
<p></p>
<p>*Wärmebilder und Kreisdiagramm-Cluster sind nicht mit IBM Cognos im Internet Explorer kompatibel.</p>

<p>** Google Chrome wird nur für Berichtsbenutzer unterstützt. Esri Maps Designer wird in diesem Browser nicht unterstützt.</p>
</div>


<div class="clear"></div>

     <h3/>
<h3>Sprachen</h3>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp23');" style="display:inline;">6.0.2</a>
	<div exp23='yes' style="display:none;padding:0 15px;">
       <p>Die nachfolgend aufgeführten Sprachen stellen die von Esri Maps for IBM Cognos unterstützten Produktsprachen dar.</p>
	
        <ul>
          <li>Chinesisch (China)</li>
		  <li>Englisch</li>
		  <li>Deutsch</li>
		  <li>Französisch</li>
		  <li>Japanisch</li>
		  <li>Koreanisch</li>
		  <li>Russisch</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp15')">6.0.1</a>
     <div exp15='yes' style="display:none;padding:0 15px;">
	 <p>Die nachfolgend aufgeführten Sprachen stellen die von Esri Maps for IBM Cognos unterstützten Produktsprachen dar.</p>
	
        <ul>
          <li>Chinesisch (China)</li>
		  <li>Englisch</li>
		  <li>Deutsch</li>
		  <li>Französisch</li>
		  <li>Japanisch</li>
		  <li>Koreanisch</li>
		  <li>Russisch</li>
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp16');" style="display:inline;">6.0</a>
	<div exp16='yes' style="display:none;padding:0 15px;">
       <p>Die nachfolgend aufgeführten Sprachen stellen die von Esri Maps for IBM Cognos unterstützten Produktsprachen dar.</p>
        <ul>
          <li>Englisch</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp17');" style="display:inline;">5.0.1</a>
	<div exp17='yes' style="display:none;padding:0 15px;">
        <p>Die nachfolgend aufgeführten Sprachen stellen die von Esri Maps for IBM Cognos unterstützten Produktsprachen dar.</p>
        <ul>
          <li>Englisch</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Support</h3>
<p>Zur ordnungsgemäßen Funktion von IBM Cognos müssen mehrere Drittanbieterkomponenten konfiguriert werden. Diese Komponenten umfassen Anwendungsserver, Webserver, Datenbankserver, Java-Runtime-Bibliotheken usw. Der technische Support von IBM hilft Ihnen bei der Bereitstellung von IBM Cognos mit diesen Komponenten. Der technische Support von Esri hilft Ihnen bei der Bereitstellung (und Verwendung) von Esri Maps for IBM Cognos.</p>

<p>Die Mitarbeiter des technischen Supports von Esri sind keine Experten für alle möglichen Konfigurationen von IBM Cognos. Entsprechend sind die Mitarbeiter des technischen Supports von IBM keine Experten für alle Drittanbieterkomponenten, die für eine betriebsbereite Konfiguration von Esri Maps for IBM Cognos erforderlich sind. Wenn beim Konfigurieren von IBM Cognos Probleme auftreten, ist es oft effizienter, den technischen Support von IBM um Unterstützung zu bitten. Entsprechend ist es effizienter, sich im Falle von Konfigurationsproblemen mit Drittanbieterkomponenten an die Support-Organisation des Drittanbieters zu wenden, um Unterstützung zu erhalten. In Fällen, in denen davon ausgegangen werden kann, dass das Problem bei Esri Maps for IBM Cognos liegt, kann der technische Support von Esri mit dem technischen Support von IBM und/oder Drittanbietern und/oder deren Beratern zusammenarbeiten.</p>
<br />
<hr />
  
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
          <li><a href="#whatsNew">Neuheiten</a></li>		
		  <li><a href="#supportedEnvironments">Unterstützte Umgebungen</a></li>
		  <li>Hilfe zu früheren Versionen:
			<ul>
				
				<li><a href="/de/maps-for-cognos/6.0">6.0</a></li>
				<li><a href="/de/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Installations- und Konfigurationshandbuch</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Handbuch für Berichtersteller<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Videos ansehen</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/de/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
