---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - 1.0/core
  - 1.0/apps/app.cognos.1
  - 1.0/ui/jquery.colorbox.min
  - 1.0/ui/jquery.colorbox.init
  - 1.0/ui/video.init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.1" />
					<input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-cognos/">Startseite</a></li>
        <li><a href="/de/maps-for-cognos/install-windows/">Installation und Konfiguration</a></li>
        <li><a href="/de/maps-for-cognos/author-maps/">Erstellen von Karten</a></li>
        <li><a href="/de/maps-for-cognos/use-maps/">Verwenden von Karten</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Holen Sie sich die App</h2>
          <span id="appVersion"><strong>Version:</strong> 6.0.1</span>
          <span id="appReleased"><strong>Verfügbar:</strong> Januar 2015</span>


          <p>Reichern Sie IBM Cognos-Berichte mit interaktiven Livekarten an, indem Sie vertraute, alltägliche Workflows verwenden, ohne dass GIS-Kenntnisse oder benutzerdefinierter Code erforderlich sind. Esri Maps for IBM Cognos integriert sich nahtlos in IBM Cognos 10 und ermöglicht Berichtsautoren Karten, die mit anderen Objekten in ihren IBM Cognos-Berichten interagieren, hinzuzufügen und zu konfigurieren. Erstellen Sie Karten, die aus ArcGIS veröffentlichte geographische Daten mit IBM Cognos-Daten kombinieren und Ihnen so umfassendere Analysen ermöglichen. Berichtsbenutzer benötigen keine zusätzlichen Kenntnisse oder Werkzeuge, um Berichte mit Karten zu verwenden und ihre Daten visuell zu analysieren.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Holen Sie sich Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Erweitern Sie Ihren Bericht mit Karten </h3>
          <p>Fügen Sie dynamische Karten zu Ihrem IBM Cognos-Bericht hinzu, um Ihre Geschäftsdaten visuell zu analysieren.</p>
          <p>
           <a href="/de/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Sehen Sie dazu ein Video an</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Konfigurieren Sie interaktives Verhalten</h3>
          <p>Gestalten Sie Berichte für Berichtsbenutzer interaktiver. Wählen Sie Features auf der Karte aus, um andere Berichtsobjekte zu aktualisieren, eine Eingabeaufforderung festzulegen oder einen Drillthrough zu einem externen Bericht durchzuführen.</p>
          <p>
			<a href="/de/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
		   <a href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Sehen Sie dazu ein Video an</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Fügen Sie Daten aus ArcGIS hinzu</h3>
          <p>Fügen Sie aus ArcGIS veröffentlichte geographische Daten der aktivierten Karte in Ihrem Bericht Karte hinzu, um die Analyse Ihrer Geschäftsdaten zu vereinfachen.</p>
          <p><a href="/de/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Geben Sie Karten und Layer frei</h3>
          <p>Geben Sie Karten oder einzelne Karten-Layer in ArcGIS für andere Benutzer innerhalb oder außerhalb Ihrer Organisation frei.</p>
          <p><a href="/de/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben einer Karte</a>
		  <br/>
		  <a href="/de/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Freigeben eines Layers</a>
          </p>
        </div>
    <div class="clear"></div> 
	  
	  
<br />
<hr />	  
<div class="clear"></div>
<a name="whatsNew"></a>
<h2>Neuerungen</h2>
<p>Esri Maps for IBM Cognos bietet signifikante Verbesserungen und neue Features für Berichtsautoren, Benutzer und Administratoren. Hier sind einige Highlights.
</p>

<h3>Verbesserungen in 6.0.1 </h3>
<ul>
	<li>Berichtsbenutzer können Daten aus ArcGIS zur Karte hinzufügen</li>
	<li>Unterstützung für IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 und 10.2.2</li>
	<li>Unterstützung für Novell SUSE Linux Enterprise Server und Red Hat Enterprise Linux Server unter dem z-Betriebssystem</li>
	<li>Unterstützung für Apple Safari unter iOS 8.x</li>
		<li>Software und Dokumentation sind in sieben Sprachen verfügbar: Englisch, Deutsch, Französisch, Japanisch, Koreanisch, Russisch und Vereinfachtes Chinesisch.</li>
</ul>
<br/>

<h3>Verbesserungen in 6.0 </h3>
<ul>
<li>Unterstützung für nicht verbundene Portal for ArcGIS-Bereitstellungen</li>
<li>Konfigurieren von Interaktionen in dynamischen Karten-Service-Layern</li>
<li>Neue Zeichenwerkzeuge zum Auslösen von konfiguriertem interaktivem Verhalten</li>
<li>Filterfunktionen, die mit dem Werkzeug "Layer filtern" auf der Karte angezeigt werden</li>
<li>Messen von Flächen, Entfernungen und XY-Koordinaten mit dem Werkzeug "Messen"</li>
<li>Geokodieren von Adressen und Abrufen von Routen mit dem Werkzeug "Route suchen"</li>
<li>Konfigurieren von Infografiken sowie anderen Kartenwerkzeugen und -einstellungen</li>
<li>Ändern der Kartenausdehnung mit einer Übersichtskarte und anderen Navigationswerkzeugen</li>
<li>Festlegen der WKID von XY-Koordinaten beim Hinzufügen von Punktdaten zu der Karte</li>
<li>Konfigurieren von mehreren Styles für einen Layer</li>
<li>Starten von interaktivem Verhalten über Pop-ups</li>
<li>Anzeigen und Drucken von Berichten mit Karten in verschiedenen Formaten</li>
<li>Performance-Verbesserungen für schnelleres Laden von Karten</li>
<li>Neue Funktion für Administratoren zum Steuern des Zugriffs auf und der Verwendung von Esri Maps for IBM Cognos</li>
<li>Unterstützung für IBM Cognos 10.2.1 Fix Packs 1, 2, 3 und 4</li>
<li>Unterstützung für mobile Browser: 
<ul>
<li>Apple Safari unter iOS</li>
<li>Google Chrome for Android</li>
</ul> 
</li>

</ul>
<br/>
<h3>Verbesserungen in 5.0.1 </h3>
<ul>
<li> Unterstützung für IBM Cognos 10.2.1</li>
<li> Unterstützung für Linux- und UNIX-Plattformen:
<ul><li> Linux Red Hat 5.3+</li>
<li>Linux SUSE 10 SP1+</li>
<li> AIX 6.1+</li>
</ul></li>
</ul>
<br/>
<h3>Verbesserungen in 5.0</h3>
<ul>
<li>Neue Benutzeroberfläche mit einer WYSIWYG (What You See Is What You Get)-Ansicht der Karte, die den Kartenentwurf noch einfacher gestaltet</li>
<li> Unterstützung für ArcGIS Online und Portal for ArcGIS 10.2</li>
<li> Vollständige Integration der ArcGIS-Plattform:  
<ul>
<li>Hinzufügen beliebiger Karten oder Karten-Layer aus ArcGIS zur Verbesserung Ihrer Karte</li>
<li>Freigeben von Karten und Layern in ArcGIS<li>
</ul></li>
<li>Aktivieren und Konfigurieren von Clustern, um die gleichzeitige Anzeige und Analyse einer großen Anzahl von Features zu erleichtern</li>
<li>Eine umfassende Reihe von Kartensymbolen, mit denen Sie den gewünschten Style Ihrer Karte bestimmen können</li>
<li> Neue Konfigurationsoptionen für Wärmebilder</li>
<li>Pop-ups von Karten enthalten jetzt Infografiken, die demografische Informationen on-the-fly für jedes auf der Karte ausgewählte Gebiet bereitstellen</li>
<li>Einfacher Zugriff auf gesicherte Webservices über die ArcGIS-Plattform</li>
<li>Features auswählen und Daten suchen, die sich in der Nähe der Auswahl befinden<li>
<li>Adressen-Geokodierung (Unterstützung für globale Geokodierung).</li>
<li>Anpassen der Grundkartengalerie aus Ihrer ArcGIS-Organisation</li>
<li>Durchsuchen von ArcGIS anhand von gängigen Kategorien wie Vermögen, Wirtschaft, Politik, Gesundheit.</li>
<li>Sonstige Verbesserungen in puncto Qualität, Benutzerfreundlichkeit und Kartografie</li>
</ul>
  <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuerungen</a></li>		
		  <li>Unterstützte Umgebungen
			<ul>
			<li><a href="/de/maps-for-cognos/install-windows/supported-environments.htm">Windows</a></li>
			<li><a href="/de/maps-for-cognos/install-linux/supported-environments.htm">Linux und UNIX</a></li>
			</ul></li>
		  
			<li>Hilfe zu früheren Versionen:
			<ul>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/6.0">6.0</a>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/5.0.1">5.0.1</a></li>
			<li>4.3.2
				<ul>
					<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Installations- und Konfigurationsanleitung</a></li>
					<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Anleitung für Berichtersteller<li>
				</ul>
			</li>
			</ul>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Sehen Sie dazu Videos an</a></li>
		  </ul>
		  </li>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/js/1.0/ui/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
