---
title: FULL_PRODUCT_NAME
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META PRODUCT_METADATA>

mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace each of the following, then remove these notes when you're done:
  PRODUCT_METADATA: The metadata for the product
  FULL_PRODUCT_NAME: "Insights for ArcGIS"
  PRODUCT_NAME: "Insights"
  DOWNLOAD_LINK: https://my.esri.com/#/downloads/
  VERSION_NUMBER: The version number of the product.  This may be removed if not needed.
  RELEASE_DATE: The time period of the release.  For example, "Fall 2016" or "October 2016"
  NAV_LINK_x: The link for the navigation tabs at the top.
  NAV_TEXT_x: The text for the navigation tabs at the top.
  PRODUCT_HEADLINE: The main headline for the product.  This should be very short.
  PRODUCT_SUB_HEADLINE: A slightly longer blurb about the product.
  PRODUCT_SEARCH_VALUE: The product value for the search form
  ITUNES_STORE_LINK: Link to the product on the app store
  GOOGLE_PLAY_LINK: Link to the product on Google Play
  WINDOWS_STORE_LINK: Link to the product on the Windows store
  POPULAR_LINK_x: Links to popular pages and topics. These should include "FAQs", "What's new", and "Supported environments", but may include other links as well.
  POPULAR_TEXT_x: Text for links to popular pages and topics.
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  CARD_LINK_x: The page that the card should link to.
  CARD_TITLE_x: The title of the card.
  CARD_TEXT_x: The text inside the card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
  GEONET_LINK: Link to the product's Geonet page
  BLOG_LINK: Link to the the product's blog
  BLOG_FEED_URL: URL for the product's blog feed
  GEONET_LINK: Link to the the product's geonet page
  GEONET_FEED_URL: URL for the product's geonet feed
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">FULL_PRODUCT_NAME</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="DOWNLOAD_LINK">Download PRODUCT_NAME</a>
          <!-- INSTRUCTIONS: Remove this p tag if not needed -->
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>Version VERSION_NUMBER</strong> RELEASE DATE</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="NAV_LINK_1" selected>Home</option>
        <option value="NAV_LINK_2">NAV_TEXT_2</option>
        <option value="NAV_LINK_3">NAV_TEXT_3</option>
        <option value="NAV_LINK_4">NAV_TEXT_4</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="NAV_LINK_1">Home</a>
        <a class="sub-nav-link" href="NAV_LINK_2">NAV_TEXT_2</a>
        <a class="sub-nav-link" href="NAV_LINK_3">NAV_TEXT_3</a>
        <a class="sub-nav-link" href="NAV_LINK_4">NAV_TEXT_4</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>PRODUCT_HEADLINE</h1>
      <h5>PRODUCT_SUB_HEADLINE</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Search FULL_PRODUCT_NAME">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="PRODUCT_SEARCH_VALUE" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete the download badges you don't want to use.  Delete the p tag entirely if you don't want to use any of the download badges. -->
      <p class="trailer-0 leader-half font-size--2">
        <a href="ITUNES_STORE_LINK"><img src="/assets/img/badges/app_store.svg" alt="Download on the App Store" style="margin:10px; vertical-align:middle"/></a>
        <a href="GOOGLE_PLAY_LINK"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="height:58px; margin:10px; vertical-align:middle"/></a>
        <a href="WINDOWS_STORE_LINK"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store"  style="margin:10px; vertical-align:middle; height:40px"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="POPULAR_LINK_1">POPULAR_TEXT_1</a></li>
        <li><a href="POPULAR_LINK_2">POPULAR_TEXT_2</a></li>
	      <li><a href="POPULAR_LINK_3">POPULAR_TEXT_3</a></li>
        <li><a href="POPULAR_LINK_4">POPULAR_TEXT_4</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would look better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="CARD_LINK_1">
            <img alt="" src="/en/insights/img/CARD_IMAGE_1.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="CARD_LINK_1">CARD_TITLE_1</a>
          </h5>
          <p>CARD_TEXT_1</p>
        </div>
        <!-- This is an example of a card with two buttons.  Only follow this example if you want two buttons on a card. -->
        <nav>
          <a href="CARD_LINK_1" class="btn btn-grouped btn-clear btn-half leader-0">Learn more</a>
          <a href="CARD_LINK_1" class="btn btn-grouped btn-clear btn-half leader-0">Learn more</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="CARD_LINK_2">
            <img alt="" src="/en/insights/img/CARD_IMAGE_2.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="CARD_LINK_2">CARD_TITLE_2</a>
          </h5>
          <p>CARD_TEXT_2</p>
        </div>
        <a href="CARD_LINK_2" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="CARD_LINK_3">
            <img alt="" src="/en/insights/img/CARD_IMAGE_3.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="CARD_LINK_3">CARD_TITLE_3</a>
          </h5>
          <p>CARD_TEXT_3</p>
        </div>
        <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="CARD_LINK_4">
            <img alt="" src="/en/insights/img/CARD_IMAGE_4.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="CARD_LINK_4">CARD_TITLE_4</a>
          </h5>
          <p>CARD_TEXT_4</p>
        </div>
        <a href="CARD_LINK_4" class="btn btn-clear btn-fill leader-0">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Get even more out of ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with FULL_PRODUCT_NAME</h4>
    <!-- INSTRUCTIONS: Remove any links that are not applicable. -->
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="TWITTER_LINK"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="LINKEDIN_LINK"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="GITHUB_LINK"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="FACEBOOK_LINK"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="GEONET_LINK"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="BLOG_LINK">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="BLOG_FEED_URL" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="GEONET_LINK">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="GEONET_FEED_LINK" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">Take an in-depth lesson</a></h5>
          <p class="trailer-0">
            Find and complete exercises that solve real-world problems with ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">Find training courses</a></h5>
          <p class="trailer-0">
            Learn more about ArcGIS through instructor-led courses, web courses, and seminars.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Get technical support</a></h5>
          <p class="trailer-0">
            Contact Esri Support by chat, email, or telephone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h5>
          <p class="trailer-0">
            See the status of ArcGIS Online and report issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
