---
title: Esri Maps for SharePoint
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-sharepoint/">Home</a></li>
        <li><a href="/en/maps-for-sharepoint/prepare-data/">Prepare data</a></li>
        <li><a href="/en/maps-for-sharepoint/configure-map/">Configure the Map Web Part</a></li>
        <!--<li><a href="/en/maps-for-sharepoint/author-map/">Author the map</a></li>-->
        <li><a href="/en/maps-for-sharepoint/use-map/">Use the map</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Download the app</h2>
          <span id="appVersion"><strong>Version:</strong> 3.0</span>
          <span id="appReleased"><strong>Available:</strong> July 2013</span>


          <p>Esri Maps for SharePoint leverages the Microsoft SharePoint 2010 and 2013 framework to offer interactive and configurable mapping components that can give you a geospatial view of your organization's data. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">Get Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


       <!-- <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

        <h3>Map your spreadsheets </h3>
          <p>Learn how to map your Excel data using Esri Maps for Office. You can easily create interactive color-coded, point, clustered-point and heat maps directly in Excel and gain visual insights about your data.</p>
          <p>
 			<a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>-->


       <!-- <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

         <h3>Enrich your data</h3>
          <p>Utilize Esri's wealth of data collections to add value to your business data. Add demographics and lifestyle data directly to Excel spreadsheets and get more context about the locations that are important to you. Quickly explore locations on-the-fly using pop-up infographics.</p>
          <p>
  		   <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>-->

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <p>Esri Maps for SharePoint requires an account that is part of an <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> organization and Microsoft SharePoint 2010 or 2013 Foundation, Server Standard, or Server Enterprise edition.</p>


        <h3>Supported languages</h3>
        <p>(Coming soon) Arabic, Chinese (Simplified), English, French, German, Italian, Japanese, Portuguese (Brazil), Russian, and Spanish.</p>


        <a name="whatsNew"></a>
        <h2>What's new</h2>
        <p>Esri Maps for SharePoint version 3.0 was released in July 2013. It includes the following updates and enhancements:</p>
        <ul>
        <li>New product name—Esri Maps for SharePoint</li>
	<li>Support for SharePoint 2010 and SharePoint 2013 (on-premises)</li>
	<li>Initial release of Esri Maps Web Part—JavaScript-based web part supported in SharePoint 2010 and SharePoint 2013 (on-premises).</li>
	<li>Portal for ArcGIS 10.2 support</li>
	<li>External data connectivity via SharePoint Business Connectivity Services (BCS) (JavaScript Map Web Part)</li>
	<li>Web Part-to-Web Part connections (JavaScript Map Web Part)</li>
	<li>Updated to support the ArcGIS for Silverlight v3.1 and ArcGIS Extensibility v3.1 SDKs (Silverlight-based map web part only)</li>
        </ul>


	<a name="inThisHelp"></a>
	<h2>In this help system</h2>
	<p>This help system provides information for working with the JavaScript-based Esri Maps Web Part. The Esri Maps Web Part is the JavaScript based Web Part for Esri Maps for SharePoint. Similar to the ArcGIS Map Web Part that is Silverlight based, the Esri Maps Web Part enables a rich display of SharePoint lists, ArcGIS hosted feature services, and ArcGIS web maps on an interactive map. The Esri Maps Web Part is available in both SharePoint 2010 and SharePoint 2013 on-premises. For information and help on the existing Silverlight-based ArcGIS Map Web Part, see the help system <a href="http://resources.arcgis.com/en/help/sharepoint/concepts/index.html#//01590000001v000000">here</a>
	</p>
	
	<p>With the Esri Maps Web Part, you can do the following: 
	<ul>
	<li>Add web maps and services from ArcGIS, either ArcGIS Online or Portal for ArcGIS.</li>
	<li>Share maps and layers on ArcGIS for the public or your organization.</li>
	<li>ADisplay SharePoint lists and connect to external data sources via Business Connectivity Services (BCS).</li>
	<li>Connect to List and Chart web parts via Web Part-to-Web Part connections.</li>
	<li>Spatially enable (geocode) items in a SharePoint list.</li>
	<li>Interactively configure the map appearance, layers, and other settings.</li>
	<li>Choose from background maps populated by the basemap gallery of your ArcGIS organization.</li>
	<li>Define the appearance of datasets (symbolize) using simple, class breaks, or unique value symbols.</li>
	<li>Display point features using clustering or heat maps. </li>
	<li>Configure the appearance of pop-up windows. Specify the pop-up window style and fields to display when hovering the pointer over map features. </li>
	<li>View infographics in pop-up windows that provide rich contextual information about the areas surrounding the features in your map.</li>
	<li>Perform route-based analysis of your data.</li>
	<li>Interactively select and filter data within ring-based or drive-time distances.</li>
	<li>Interactively retrieve additional demographic and contextual information associated with mapped locations.</li>
	</ul>
</p>
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
            <li><a href="#systemRequirements">System requirements</a></li>
	 <li><a href="#whatsNew">What's new</a></li>
	 <li><a href="#inThisHelp">In this help system</a></li>
          	<!--<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Watch videos</a></li>-->

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
