---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2015-10-07"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="es">

dashboardDownloadLink: http://www.arcgis.com/opsdashboard/OperationsDashboard.application
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/operations-dashboard/">Inicio</a></li>
        <li><a href="/es/operations-dashboard/windows-desktop/author/create-a-map.htm">Crear vistas</a></li>
        <li><a href="/es/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Utilizar vistas</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Foro</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Supervise actividades y eventos, haga un seguimiento de su personal de campo y evalúe el estado y el rendimiento de las operaciones diarias.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" id="dashboardDownloadLink" href="#">Obtener Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Cree y comparta una vista de operaciones</h3>
          <p>En tres sencillos pasos, cree y comparta vistas de operaciones que incluyan mapas, listas, gráficos, medidores y mucho más a partir de los datos geográficos en directo definidos en un servicio web o de mapas.</p>
          <p>
            <a href="/es/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Supervise y responda a eventos</h3>
          <p>Utilice su vista de operaciones para centrarse en los aspectos de la operación que le interesen. Monitorice servicios, entregas, personas, vehículos y mucho más en cualquier parte del mundo, en solo cuatro pasos.</p>
          <p>
            <a href="/es/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
			<a title="Supervise y responda a eventos" href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Supervise en el navegador</h3>
          <p>Utilice su vista de operaciones en un navegador. No es necesario instalar nada, solo tiene que abrir una vista de operaciones y mantenerla actualizada, incluso desde su iPad.</p>
          <p>
            <a href="/es/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Amplíe una vista de operaciones</h3>
          <p>Incluya su lógica empresarial única a su vista de operaciones utilizando widgets personalizados, acciones de entidades y herramientas de mapas. </p>
          <p>
            <a href="/es/operations-dashboard/windows-desktop/author/custom-addins.htm" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Características</h2>
	<p>Cree una vista común de los sistemas y recursos que administra.Supervise fuentes de datos en tiempo real para eventos de gran escala o las operaciones cotidianas en su dispositivo de sobremesa o tablet.Cree paneles ejecutivos específicos que integren mapas, diagramas y gráficos.</p>
	
	<ul>
	<li>Use mapas con fuentes de datos dinámicas para proporcionar vistas en tiempo real.</li>
	<li>Configure gráficos, medidores, histogramas y otros elementos para proporcionar contexto estadístico.</li>
	<li>Cree y comparta vistas de operaciones centradas en una necesidad específica.</li>
	<li>Diseñe vistas que se utilizarán en varios monitores o en dispositivos con una sola pantalla.</li>
	<li>Cree widgets y herramientas personalizados que respondan a sus necesidades.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos del sistema</h2>

        <p>Existen algunos requisitos de dispositivo para ejecutar Operations Dashboard, así como requisitos para los datos utilizados dentro de la aplicación. Operations Dashboard admite varios idiomas.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Aplicación de Windows</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Sistemas operativos compatibles</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 10 Pro y Windows 10 Enterprise (32 bits y 64 bits [EM64T])</li>
          <li>Windows 8.1, Windows 8.1 Pro y Windows 8.1 Enterprise (32 bit y 64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro y Windows 8 Enterprise (32 bit y 64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional y Home Premium (32 bits y 64 bits [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard y Datacenter (64 bits [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise y Datacenter (64 bits [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise y Datacenter (32 bits y 64 bits [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Requisitos de hardware</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Velocidad de CPU: 2,2 GHz o superior; se recomienda Hyper-Threading Technology (HTT) o multinúcleo.</li>
			<li>Procesador: Intel Pentium 4, Intel Core Duo o Xeon; SSE2 como mínimo. Ejecute la utilidad <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> de Microsoft desde la ventana de comandos de Windows para comprobar su procesador.</li>
			<li>Espacio en disco: 1,5 GB de espacio disponible en disco.</li>
			<li>Memoria/RAM: 2 GB o más.</li>
			<li>Propiedades de pantalla: profundidad de color de 24 bits.</li>
			<li>Resolución de pantalla: 1.024 x 768 o superior a tamaño normal (96 ppp).</li>
			<li>Espacio de intercambio: determinado por el sistema operativo; 500 MB como mínimo.</li>
			<li>Adaptador de vídeo/gráficos: 64 MB de RAM como mínimo, se recomiendan 256 MB de RAM; se admiten chipsets NVIDIA, ATI e Intel. Controlador de tarjeta gráfica acelerada. Shader Model 2.0 como mínimo. Asegúrese de utilizar el controlador más actualizado disponible.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Requisitos de software</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px">Se requiere <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> o una versión posterior. Para instalarlo debe tener permisos de administrador en su equipo.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Requisitos de desarrollador</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px">Es necesario <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> o <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.5 for WPF</a> para personalizar Operations Dashboard for ArcGIS. Para usar ArcGIS Runtime SDK for WPF, es necesario también Microsoft Visual Studio 2012 o 2013 Professional, Premium o Ultimate.</p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Idiomas compatibles</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">alemán, árabe, checo, chino simplificado, coreano, danés, español, estonio, finlandés, francés, griego, hebreo, holandés, inglés, italiano, japonés, letón, lituano, noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, sueco, tailandés, turco y vietnamita.</p>
     	<p style="padding:0 15px">El idioma utilizado en la versión de Windows de la aplicación viene determinado por la configuración de idioma del sistema operativo. Si se utiliza una configuración de idioma no compatible, la aplicación utiliza el inglés.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Aplicación de navegador</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Navegadores compatibles</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Escritorio
 <ul style="padding:0 15px">
 <li>Chrome versión 19.0 y posterior</li>
 <li>Firefox versión 4.0 y posterior</li>
 <li>Internet Explorer versión 9.0 y posterior</li>
 <li>Microsoft Edge versión 20.0 y posterior</li>
 <li>Safari versión 5.1 y posterior</li>
 </ul> 
 Tablet 
 <ul style="padding:0 15px">
 <li>Android 4.0 y posterior con Chrome versión 19.0 y posteriores</li>
 <li>iOS 6.0 y posterior ejecutando Safari</li>
 </ul>
 Teléfono 
 <p style="padding:0 15px">Actualmente no son compatibles los navegadores de smartphones.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp12');" style="display:inline;">Requisitos de desarrollador</a>
 <div exp12='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Es necesario <a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> para personalizar Operations Dashboard for ArcGIS.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Idiomas compatibles</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">alemán, checo, chino simplificado, chino tradicional, coreano, danés, español, estonio, finlandés, francés, griego, holandés, inglés, italiano, japonés, letón, lituano, noruego, polaco, portugués (Brasil), portugués (Portugal), rumano, ruso, sueco, tailandés, turco y vietnamita.</p>
      	<p style="padding:0 15px">En la versión del navegador se utiliza el perfil de ArcGIS Online para establecer el idioma. Si se utiliza una configuración de idioma no compatible, la aplicación utiliza el inglés.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Requisitos de datos</h3>
		<p>Para utilizar los mapas en Operations Dashboard, debe tener una cuenta de organización ArcGIS. Los mapas pueden incluir datos de ArcGIS Online, Portal for ArcGIS y ArcGIS for Server. Las fuentes de datos deben alojarse en ArcGIS Online o ArcGIS 10.1 for Server o posterior.</p>
		<p>Si se ha compartido públicamente, una vista de operaciones se puede ver en la aplicación de navegador sin iniciar sesión.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Novedades</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS 10.3.2 se ha publicado en noviembre de 2015. Incluye lo siguiente:</p>
	        <ul>
	         <li>Varias correcciones de errores y mejoras, incluyendo: BUG-000084019, BUG-000084387, BUG-000086562, BUG-000089887 y BUG-000089919</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Navegador</h4>
	        <p>La aplicación de navegador de Operations Dashboard for ArcGIS se ha actualizado en noviembre de 2015. Incluye las siguientes mejoras:</p>
	        <ul>
	          <li>Varias correcciones de errores y mejoras, como BUG-000088087 y BUG-000089045</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Avance de novedades</h2>
	<p>Hoy en día, Operations Dashboard es una magnífica aplicación para supervisar sus operaciones. Pero hay más novedades en camino. En la siguiente tabla se indica el desarrollo previsto para esta aplicación, con las funciones que aportará a los distintos dispositivos:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Funcionalidad por plataforma <br/>
	  <span class="icon-check" style="color:black"></span> ahora, <span class="icon-check icon-green"/> próximamente, <span class="icon-check" style="color:lightgray"></span> más adelante<br/></caption>
	  <tr><td></td>
	    <th>Escritorio en Windows</th>
	    <th>Navegador</th>
	  </tr>
	  <tr><th>Crear vistas de operaciones</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Utilizar las vistas de operaciones</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Vistas de operaciones de una sola pantalla</span></td>
	  </tr>
	  <tr><th>Trabajar con Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 o posterior</span></td>
	  </tr>
	  <tr><th>Extensible</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Compatibilidad en ArcGIS Online</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Extensible mediante ArcGIS API for JavaScript</span><br/><span style="font-size:12px">* Compatibilidad en ArcGIS Online</span></td>
	  </tr>
	  <tr><th>Utilizar servicios de mapa fuentes de datos</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>Buscar datos</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtrar información espacialmente</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>Compatibilidad con tablas independientes como fuentes de datos</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Actualmente como fuentes de datos externas</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Actualmente como fuentes de datos externas</span></td>
	  </tr>
	  <tr><th>Compatibilidad con las tablas relacionadas</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Vista 3D</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Administración del personal</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Comparta sus <a href="http://ideas.arcgis.com/">ideas</a> y <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">envíenos sus comentarios</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Detalles</h3>
          
	  <h4><a href="#features">Características</a></h4>
	  <h4><a href="#systemRequirements">Requisitos del sistema</a></h4>
	  <h4><a href="#whatsNew">Novedades</a></h4>
	  <h4><a href="#sneakPeek">Avance de novedades</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
$("#dashboardDownloadLink").click(function (){
	window.location = "<%=data.page.dashboardDownloadLink%>";
	return false;
})

  </script>
