---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ko/marketplace/">도움말</a></h1>
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ko/marketplace/">기본</a></li>
        <li><a href="/ko/marketplace/consumer/">소비자용</a></li>
        <li><a href="/ko/marketplace/provider/">공급자용</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Marketplace란?</h2>

          <p>ArcGIS Marketplace에서는 ArcGIS Online 기관이 자격 있는 공급자(Esri 비즈니스 파트너, Esri 총판 및 Esri)의 앱 및 데이터를 검색하고 구입하여 기관 내에서 사용할 수 있습니다. Marketplace에 등록된 앱 및 데이터 서비스는 전 세계의 모든 ArcGIS Online 기관이 이용할 수 있습니다.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>기업의 역량 강화 </h3>
          <p>기관에서 사용할 앱 및 데이터 서비스를 찾아보세요. 앱 또는 데이터 서비스를 구입한 후에는 기관 내의 그룹 및 사용자와 쉽게 공유할 수 있습니다.</p>
          <p>

			<a href="/ko/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;방법 보기</a> <br/> 
			<a href="/ko/marketplace/consumer/faq.htm" class="icon-right-arrow">FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>사용자 확보</h3>
          <p>ArcGIS Marketplace에서는 리드를 창출하고, 무료 평가판을 제공하고, 리스팅에 대한 접근 권한을 부여하고, 구독을 관리할 수 있는 메커니즘을 제공합니다.</p>
          <p>
            <a href="/ko/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;방법 보기</a> <br/> 
			<a href="/ko/marketplace/provider/become-a-provider.htm class="icon-right-arrow">공급자 자격 얻기</a> <br/> 
			<a href="/ko/marketplace/provider/faq.htm" class="icon-right-arrow">FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas 사이트</h3>
         <p>원하는 앱 또는 데이터를 찾을 수 없으신가요? 제안 사항을 게시하거나 기존 아이디어에 투표해 보세요.</p>
         <p>아이디어를 원하는 공급자이신가요? 고객의 요청 사항을 확인해 보세요. 참여자를 초대하여 개별적으로 협력해 아이디어를 발전시켜 보세요.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

