---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="ko">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ko/marketplace/">도움말</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ko/marketplace/">메인</a></li>
        <li><a href="/ko/marketplace/consumer/">소비자 안내</a></li>
        <li><a href="/ko/marketplace/provider/">공급자 안내</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">ArcGIS Marketplace를 최대한 활용하는 방법을 알아봅니다.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>소비자 안내 </h3>
          <p>앱 및 데이터를 찾고 사용하는 방법을 알아봅니다.</p>
          <ul>			
			<li><a href="/ko/marketplace/consumer/get-started-consumers.htm">ArcGIS Marketplace 최대한 활용하기</a></li>
			<li><a href="/ko/marketplace/consumer/search-for-apps-and-data.htm">항목 검색</a></li>
			<li><a href="/ko/marketplace/consumer/subscribe-to-apps-and-data.htm">항목 다운로드</a></li>
			<li><a href="/ko/marketplace/consumer/faq.htm">자주 묻는 질문</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>공급자 안내</h3>
          <p>앱 및 데이터를 추가, 홍보, 판매하는 방법을 알아봅니다.</p>
          <ul>			
			<li><a href="/ko/marketplace/provider/become-a-provider.htm">공급자 안내</a></li>
			<li><a href="/ko/marketplace/provider/listing-tips.htm">올바른 목록을 위한 팁</a></li>
			<li><a href="/ko/marketplace/provider/create-listings.htm">목록</a></li>
			<li><a href="/ko/marketplace/provider/faq.htm">자주 묻는 질문</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri Technical Support</a></h4>
      <p>채팅, 이메일 또는 전화를 통해 Support에 문의하세요.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">ArcGIS 아이디어</a></h4>
      <p>소프트웨어에 대한 피드백을 제출하세요.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">Esi 커뮤니티</a></h4>
      <p>Geonet에서 토론에 참여하세요.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






