---
title: Ziņo&scaron;ana par dro&scaron;ības problēmu
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/lv/Trust/">Uzticamība ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online uzticamība" href="/lv/trust/">Uzticamība</a></li>
        <li><a title="ArcGIS Online sistēmas statuss" href="/lv/trust/system-status/">Sistēmas statuss</a></li>
        <li><a title="ArcGIS Online dro&scaron;ība" href="/lv/trust/security/">Dro&scaron;ība</a></li>
        <li><a title="ArcGIS Online konfidencialitāte" href="/lv/trust/privacy/">Konfidencialitāte</a></li>
        <li><a title="ArcGIS Online konfidencialitāte" href="/lv/trust/compliance/">Atbilstība</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Ziņo&scaron;ana par dro&scaron;ības problēmu</h2>
      </header>
	  <section>
		<p data-langlabel="">Aizpildiet labajā pusē pieejamo veidlapu&nbsp;&mdash; norādiet tajā visu atbilsto&scaron;o informāciju, ieskaitot pietiekami daudz datu par konkrēto problēmu. Jūsu kontaktinformācija tiks izmantota, lai sazinātos ar jums saistībā ar iesniegto informāciju. Tēmu nolaižamajā izvēlnē atlasiet atbilsto&scaron;o tēmu.</p>
		<ul>
			<li data-langlabel="">Ievainojamība&nbsp;&mdash; ziņojiet par mūsu vietnē vai aplikācijā atrastu ievainojamību</li>
			<li data-langlabel="">No Esri saņemti aizdomīgi e-pasta ziņojumi&nbsp;&mdash; ja uzskatāt, ka Esri e-pasta adrese tika izmantota, lai veiktu pik&scaron;ķerē&scaron;anas uzbrukumu, vai arī no Esri esat saņēmis citus aizdomīgus e-pasta ziņojumus.</li>
			<li data-langlabel="">Konfidencialitātes problēmas&nbsp;&mdash; ja jums ir radu&scaron;ās bažas par konfidencialitāti saistībā ar mūsu aplikāciju vai organizāciju.</li>
			<li data-langlabel="">Cits&nbsp;&mdash; visas pārējās ar dro&scaron;ību, konfidencialitāti vai atbilstību saistītās problēmas.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Politika saistībā ar ziņo&scaron;anu par ievainojamību</h3>
	  </header>
      
        <p data-langlabel="">ArcGIS.com dro&scaron;ības komanda apzinās, cik daudz neatkarīgajiem dro&scaron;ības pētītājiem nozīmē dro&scaron;s internets. Mēs mudinām būt atbildīgiem un ziņot par visiem ievainojamības gadījumiem, kādi var būt sastopami mūsu vietnē vai aplikācijā. Esri ir apņēmies sadarboties ar dro&scaron;ības izveides kopienu, lai pārbaudītu visus ievainojamības gadījumus, par kuriem esam saņēmu&scaron;i ziņojumu, un tos atrisinātu. Ja ievērosiet &scaron;o politiku, Esri neierosinās pret jums prāvu un nesāks ar tiesvedību saistītu izmeklē&scaron;anu.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>neatļauj</strong> veikt tālāk minētos dro&scaron;ības pētījumus</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Izraisīt vai mēģināt izraisīt pakalpojuma atteices (Denial of Service&nbsp;&mdash; DoS) nosacījumu.</li>
		<li data-langlabel="">Bez Esri tie&scaron;as piekri&scaron;anas izmantot automātiskus dro&scaron;ības rīkus. Ja tiks izmantoti automātiski rīki, var tikt ierosināta izmeklē&scaron;ana vai bloķēta(s) jūsu IP(s) adrese(s).</li>
		<li data-langlabel="">Piekļūt vai mēģināt piekļūt jums nepiedero&scaron;iem datiem vai informācijai.</li>
		<li data-langlabel="">Iznīcināt vai bojāt, kā arī mēģināt iznīcināt vai bojāt jums nepiedero&scaron;us datus vai informāciju.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">ArcGIS.com dro&scaron;ības komandas apņem&scaron;anās</h4>
	  </header>
		<p data-langlabel="">Attiecībā uz visiem dro&scaron;ības pētītājiem, kas ievēro &scaron;o ArcGIS.com politiku saistībā ar ziņo&scaron;anu par ievainojamību, ArcGIS.com dro&scaron;ības komanda apņemas izpildīt tālāk minēto:</p>
		
		<ul>
		<li data-langlabel="">Laikus atbildēt, apstiprinot jūsu ziņojuma saņem&scaron;anu.</li>
		<li data-langlabel="">Nodro&scaron;ināt aptuvenu laika periodu &scaron;īs ievainojamības atrisinā&scaron;anai.</li>
		<li data-langlabel="">Paziņot ziņojuma iesniedzējam par to, ka ievainojamība ir novērsta.</li>		
		</ul>
		
		<div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> Participating Security Researchers</span>
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">We would like to thank the following security researchers for participating in our responsible reporting program:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
	
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Nosaukums: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">E-pasta adrese: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Tālruņa numurs: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organizācija <span class="optional">(pēc izvēles):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Subjekts: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option> <option value="Vulnerability">Ievainojamība</option> <option value="Suspicious E-mail from Esri">No Esri saņemts aizdomīgs e-pasta ziņojums</option> <option value="Privacy Issue">Konfidencialitātes problēma</option> <option value="audi">Cits</option>
			  </select>

			  <label data-langlabel="" for="description">Apraksts: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Lai palīdzētu novērst automatizēto surogātpastu, ievadiet nodro&scaron;inātos ciparus: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Cipari: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="iek&scaron;ēji" name="source" id="source">

			  <input value="vairākos vārdos" name="resultType" id="resultType" type="hidden">
			  <input value="Dro&scaron;ības problēma" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="lv" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Iesniegt</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Paldies, ka ziņojāt par &scaron;o problēmu. Mēs &scaron;o problēmu izmeklēsim un tai pievērsīsimies dažu nākamo darbadienu laikā.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Iesnieg&scaron;anas laikā radās kļūda. Iesniedziet ziņojumu par problēmu vēlāk.</h4></p>
	  </div>

	  <strong><span style="display:none;" id="referPageLink">Atgriezties <a id="feedback-referring-link" href="">atsauces lapā</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Iesniegt</a> citu dro&scaron;ības problēmu</span></strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

