---
title: Zaufanie &mdash; Stan systemu
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/trust/">Zaufanie ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="Zaufanie us³ugi ArcGIS Online" href="/pl/trust/">Zaufanie</a></li>
        <li class='current'><a title="Stan systemu us³ugi ArcGIS Online" href="/pl/trust/system-status/">Stan systemu</a></li>
        <li><a title="Bezpieczeñstwo us³ugi ArcGIS Online" href="/pl/trust/security/">Bezpieczeñstwo</a></li>		
        <li><a title="Us³uga ArcGIS Online &mdash; Prywatnoœæ" href="/pl/trust/privacy/">Prywatnoœæ</a></li>
        <li><a title="Us³uga ArcGIS Online &mdash; Prywatnoœæ" href="/pl/trust/compliance/">Zgodnoœæ</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">B³¹d: Nie mo¿na wyœwietliæ osadzonych danych.</iframe>
        </div>
 </div>

<div>
	<p>Panel stanu us³ugi ArcGIS Online zapewnia informacje dotycz¹ce stanu element&oacute;w, kt&oacute;rych dostêpnoœæ, zgodnie ze sprawdzonymi informacjami, ma wp³yw na pracê wiêkszoœci naszych u¿ytkownik&oacute;w. Poniewa¿ us³uga ArcGIS Online to rozbudowana platforma korzystaj¹ca z&nbsp;technologii chmury, wiele zdarzeñ rzutuje w&nbsp;spos&oacute;b ograniczony na jakoœæ u¿ytkowania lub wcale nie ma na ni¹ wp³ywu. Na stronie stanu nie ma informacji na temat problem&oacute;w konkretnych instytucji. W celu ich rozwi¹zywania zapraszamy do korzystania z innych us³ug wsparcia.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
