---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ru/web-appbuilder/">На главную</a></li>
        <li><a href="/ru/web-appbuilder/create-apps/">Создание приложений</a></li>
        <li><a href="/ru/web-appbuilder/manage-apps/">Управление приложениями</a></li>
        <li><a href="/ru/web-appbuilder/extend-apps/">Расширение приложений</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Создавайте мощные ГИС-приложения, работающие на любом устройстве. Легко и без написания кода.</h3>
	<h5>Посмотрите замечательные примеры приложений на <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Пять минут до вашего первого приложения</h3>
          
          <p>
            <a href="/ru/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Простая настройка</h3>
          <p>Создавайте приложения с помощью простых настроек конфигурации.</p>
          <p>
            <a href="/ru/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Настройка приложения</a> <a href="/ru/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Настройка виджетов</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Экспорт шаблонов</h3>
          <p>Создавайте настраиваемые шаблоны приложений, которые добавляются в галерею приложений вашей организации. 
          <p>
            <a href="/ru/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Как это сделать?</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Создание виджетов и тем</h3>
          <p>Вы можете загрузить и разместить приложение на своем веб-сервере. Затем можно расширить возможности приложения, добавив собственные виджеты и темы.</p>
          <p>
            <a href="/ru/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Как это сделать?</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Поддерживаемые браузеры</h2>
		<p>В 2D-приложении поддерживаются следующие браузеры:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 и выше</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 и выше</li>
        </ul>
		<p>В 3D-приложении поддерживаются следующие браузеры:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 и выше</li>
		  <li>Edge</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Лицензия</h2>

        <p>Чтобы использовать Web Appbuilder, необходима учетная запись организации ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Ключевые возможности</h2>
        <ul>
          <li>Создание приложений HTML/JavaScript, работающих на любом устройстве.</li>
          <li>Построение приложений при помощи готовых к использованию виджетов.</li>
          <li>Оформление внешнего вида приложений с помощью настраиваемых тем.</li>
          <li>Размещение приложений онлайн или запуск их на собственном сервере.</li>
          <li>Создание пользовательских шаблонов приложений.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Что нового</h2>
        <p>Web AppBuilder for ArcGIS был обновлен в июне 2016. Он содержит следующие новые функции и улучшения:</p>
        <ul>
          <li>Добавлен стиль Color Picker в темах, и вы можете выбрать любой цвет или палитру цветов, которая содержит ваши корпоративные цвета.</li>
		  <li>Вы можете настроить пользовательские шрифты для заголовка и подзаголовка приложения на вкладке Атрибуты.</li>
		  <li>Вы можете настроить Преимум-ресурсы и Премиум-сервисы ArcGIS Online для общего доступа на вкладке Атрибуты.</li>
          <li>Новый виджет Выбор взаимодействует с другими виджетами, которые работают с выбранными объектами.</li>
		  <li>Новый виджет Опубликовать активирует в приложениях интерфейс для выполнения публикаций.</li>
		  <li>Новый виджет Добавить данные позволяет конечным пользователям искать слои в ArcGIS Online и вводить URL-адреса для добавления данных на карту.</li>
          <li>Новый виджет Фильтр применяется для фильтрации объектов на основе выражения.  Другие виджеты, если необходимо, будут учитывать эту фильтрацию. </li>
		  <li>Новый виджет Умный редактор является расширенной версией основного виджета редактирования, в нем появились возможности умной работы с атрибутами, предварительной настройки полей значений, оценки записей и просмотра всплывающих окон во время редактирования.</li>
          <li>Просмотр перспективных снимков отображает снимки в исходной системе координат, используя систему координат снимка. Это позволяет вам перемещаться по перспективному изображению под одним углом обзора, или переключить угол для просмотра интересующей области с другого угла.</li>
		  <li>Новый виджет Групповой фильтр позволяет создавать группы слоёв и применять к ним фильтр по значению. У вас есть возможность сохранять и перезагружать указанные группы, чтобы в любой момент продолжить работу с ними.</li>
          <li>Виджет Суммирование по типу теперь не относится к бета-версии. Этот виджет позволяет узнать число и просмотреть список объектов, содержащееся в текущем экстенте карты для каждого заданного слоя. Точечные слои, настроенные в виджете, дополнительно можно просмотреть в виде кластеров.</li>
		  <li>Виджет Запрос добавляет пространственные отношения, например, пересечение, наложение и содержание, чтобы вы могли выполнять запросы к объектам другого слоя.</li>
		  <li>Виджет Редактор включает опции кластерного допуска и фильтр шаблона объекта.</li>
		  <li>Выбранные записи в таблице атрибутов будут соответствовать подсвеченным объектам на карте, и наоборот.  </li>
		  <li>Виджет Геообработка использует в качестве входных данных набор объектов, полученный из слоя, всплывающего окна, виджетов Запрос или Выбор.</li>
		  <li>Виджет Список слоев позволяет выбрать слои, которые вы хотите отобразить в списке. Вы также можете управлять видимостью всех слоев.</li>
		  <li>Виджет Ближайшие теперь включает дополнительные параметры настройки, в частности возможность отображения буферных полигонов на карте, возвращения пересекающихся полигонов вместо буферных и возможность приблизиться к выбранным объектам вместо буферизации.</li>
		  <li>Виджет Поиск по полигону теперь поддерживает стеки полигонов.</li>
		  <li>Виджет Диаграмма по связанной таблице, поддерживает лепестковые диаграммы.</li>
		  <li>В существующем виджете Трехмерная анимация увеличилось число эффектов 3D-анимации.</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Поддерживаемые версии ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder поддерживает ArcGIS API для JavaScript 3.17.</p>

        <h3>Поддерживаемые языки</h3>
        <p> Арабский, хорватский, чешский, датский, нидерландский, английский, эстонский, финский, немецкий, греческий, французский, иврит, итальянский, японский, корейский, латвийский, литовский, норвежский, польский, португальский, португальский (бразильский), румынский, русский, китайский (упрощенное письмо), испанский, шведский, сербский, тайский, традиционный китайский (Гонконг), традиционный китайский (Тайвань), турецкий и вьетнамский.</p>
        <p>Язык приложения определяется настройками языка браузера.</p>

        <p>Делитесь вашими <a href="http://ideas.arcgis.com/">идеями</a> и <a href="http://support.esri.com/en/">присылайте нам ваши отзывы</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Детали</h3>
          
          <h4><a href="#features">Ключевые возможности</a></h4>
          <h4><a href="#supportedBrowsers">Поддерживаемые браузеры</a></h4>
          <h4><a href="#license">Лицензия</a></h4>
          <h4><a href="#whatIsNew">Что нового</a></h4>
          <h4><a href="#supportedAPI">Поддерживаемые версии ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Другие сообщения в блоге</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Обсуждения на GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Начать</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Дополнительно</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
