---
title: GeoPlanner for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="GeoPlanner for ArcGIS Home page."><META name="last-modified" content="2014-6-16"><META name="product" content="GeoPlanner"><META name="sub_category" content="GeoPlanner for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="GeoPlanner for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>GeoPlanner for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search GeoPlanner">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/GeoPlanner/">Home</a></li>
        <li><a href="/en/geoplanner/get-started/what-is-geodesign-for-arcgis.htm">Get Started</a></li>
        <li><a href="/en/geoplanner/guide/what-is-a-geodesign-project.htm">Guide</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">GeoPlanner helps you create, edit, share and evaluate planning designs.</h3>

          <span id="appReleased"><strong>Released:</strong> May 2014</span>

        </header>
        <hr />
        <br />
		
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="design.png" />

          <h3>Plan and design</h3>
          <p>GeoPlanner's simple sketching tools make it easy for everyone to create design alternatives. 
		  Sketch points, lines, and polygons using the feature types available in different templates. 
		  </p>
          <p>
            <a href="/en/geoplanner/guide/what-is-scenario.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
          </p>
        </div>
	    
		<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="gauge.png" />

          <h3>View design impact</h3>
          <p>Dashboards update dynamically as you create, modify or delete features. Immediate feedback in charts and gauges help you understand your plan metrics and design impacts.</p>
          <p>
			<a href="/en/geoplanner/guide/what-is-a-dashboard-new-.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
          </p>
        </div>	
		
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="online_analytics.png" />

          <h3>Assess site suitability</h3>
		  <p>Use cloud-based spatial analysis, geo-enrichment, weighted raster overlay and layer classification to increase your locational awareness and understanding of the areas around and within your planning designs. </p>
          <p>
            <a href="/en/geoplanner/guide/what-is-data-assessment.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

          </p>
        </div>

		<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="compare.png" />

          <h3>Compare design alternatives</h3>
		  <p>Understand how design alternatives and their impacts differ through a side-by-side comparison utility. View dashboards so you can compare two designs qualitatively, quantitatively and visually.</p>
          <p>
            <a href="/en/geoplanner/guide/what-is-data-assessment.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

          </p>
        </div>
		
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Features</h2>
	<p>
	GeoPlanner allows you to design and plan in a collaborative, online environment that integrates easily discoverable data and powerful analysis tools. It's connected to your 
	ArcGIS Online organization so you and others can access your designs from anywhere using different devices. 
	</p>
	
	<ul>
	<li>Define a project area and invite other users to collaborate on that project.</li>
	<li>Discover shared GIS datasets on ArcGIS online and add them to your project.</li>
	<li>Use your own data and leverage Esri-provided landscape data.</li>
	<li>Assess site suitability and conditions using weighted raster overlay, online analytics, geo-enrichment and layer classification.</li>
	<li>Sketch and share designs in scenarios.</li>
	<li>Evaluate and compare impacts for multiple scenarios using dashboards.</li>
	<li>Consume your GeoPlanner web maps, analyses, scenarios and feature layers in other ArcGIS apps like Esri Maps for Office and Story Maps.</li>
	<li>Leverage ready-to-use planning templates and create custom templates to meet the needs of your industry.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">System requirements</h2>

        <p>There are certain software and data requirements to access and use the GeoPlanner.</p>

        <h3>Data requirements</h3>
        <p>You must have an ArcGIS organizational account to use the GeoPlanner. You can access any data shared on ArcGIS Online.</p>

        <h3>Software requirements</h3>
		<p>
		<ul>
		<li>Mac, iOS: Latest version of Safari</li>
		<li>Windows: Latest version of Chrome, Firefox, or Internet Explorer</li>
		</ul>
		</p>

        <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>
        <p>GeoPlanner for ArcGIS was released in May 2014.</p>

	<a name="sneakPeek"></a>
	<h2 class="divider">Sneak Peek</h2>
	<p>GeoPlanner delivers a lot of functionality in its initial release. Here are some areas we'd like to expand on in future releases:</p>
	</p>
	
	<ul>
	  <li>3D Design</li>
	  <li>Collaboration tools<li>
	  <li>Dashboards</li>
	  <li>Import features into a scenario</li>
	  <li>On-Premises Deployment<li>	  
	  <li>Urban observatory</li>
	  <li>Weighted Raster Overlay</li>
	</ul>	
	
	<p>Share your <a href="http://ideas.arcgis.com/">ideas</a>, and <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">send us your feedback</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">System Requirements</a></h4>
	  <h4><a href="#whatsNew">What's New</a></h4>
	  <h4><a href="#sneakPeek">Sneak Peek</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
