---
title: GeoPlanner for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="GeoPlanner for ArcGIS Home page."><META name="last-modified" content="2014-06-16"><META name="product" content="arcgis-geoplanner"><META name="sub_category" content="GeoPlanner for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="GeoPlanner for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="GEODESIGN,APPS,LANDSCAPE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="GEODESIGN,APPS,LANDSCAPE"><META name="content-language" content="en">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/geoplanner/">GeoPlanner for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search GeoPlanner">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />
		<input type="hidden" name="product" value="arcgis-geoplanner"/>
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/GeoPlanner/">Home</a></li>
        <li><a href="/en/geoplanner/get-started/what-is-geodesign-for-arcgis.htm">Get Started</a></li>
        <li><a href="/en/geoplanner/guide/what-is-a-geodesign-project.htm">Guide</a></li>
		<li><a href="http://forums.arcgis.com/forums/274-GeoPlanner-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">GeoPlanner helps you create, analyze, and report on planning alternatives.</h3>

          <p>
             <a  class="btn primary" href="http://marketplace.arcgis.com/listing.html?id=5e99f4fa519949209cd3da2966fd543b" target="_blank">Get GeoPlanner for ArcGIS</a>
          </p>

        </header>
        <hr />
        <br />
		
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="design.png" />

          <h3>Design scenarios</h3>
          <p>The simple sketching tools in GeoPlanner make it easy for everyone to design scenarios. 
		  Sketch points, lines, and polygons using the feature types available in different templates. 
		  Create custom templates for GeoPlanner using ArcGIS for Desktop.
		  </p>
          <p>
            <a href="/en/geoplanner/guide/what-is-scenario.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
			<a href="/en/geoplanner/guide/create-your-own-template.htm" class="icon-right-arrow">&nbsp;Create your own configuration</a><br />			
          </p>
        </div>
	    
		<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="gauge.png" />

          <h3>Understand design impacts</h3>
          <p>
		  Dashboards update dynamically as you create, modify, or delete features. 
		  Immediate feedback in charts and gauges helps you understand your plan metrics and design impacts.
		  View performance indicators created from equations based on attributes and constants.
		  </p>
          <p>
			<a href="/en/geoplanner/guide/what-is-a-dashboard-new-.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
          </p>
        </div>	
		
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="online_analytics.png" />

          <h3>Perform spatial analysis</h3>
		  <p>Use cloud-based spatial analysis, GeoEnrichment, weighted raster overlay, and layer classification to increase your locational awareness and understanding of the areas around and within your planning designs. </p>
          <p>
            <a href="/en/geoplanner/guide/what-is-data-assessment.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

          </p>
        </div>

		<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="compare.png" />

          <h3>Compare alternative scenarios</h3>
		  <p>Understand how design alternatives and their impacts differ through a side-by-side comparison utility. View dashboards so you can compare two designs qualitatively, quantitatively, and visually.</p>
          <p>
            <a href="/en/geoplanner/guide/what-is-data-assessment.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

          </p>
        </div>
		
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Features</h2>
	<p>
	GeoPlanner allows you to design and plan in a collaborative online environment that integrates easily discoverable data and powerful spatial analysis tools. 
	It leverages your ArcGIS Online organization so you and others can access your designs from anywhere using different devices. 
	</p>
	
	<ul>
	<li>Define a project area and invite other users to collaborate on that project.</li>
	<li>Discover shared GIS datasets on ArcGIS online and add them to your project.</li>
	<li>Use your own data and leverage Esri-provided landscape data.</li>
	<li>Assess site suitability and conditions using weighted raster overlay, spatial analytics, GeoEnrichment, and layer classification.</li>
	<li>Sketch and share design scenarios with everyone.</li>
	<li>Evaluate and compare impacts for multiple scenarios using dashboards.</li>
	<li>Consume your design artifacts including web maps, analysis results, scenarios, and feature layers in other ArcGIS apps like Esri Maps for Office and Story Maps.</li>
	<li>Leverage ready-to-use planning templates and create custom templates to meet the needs of your industry.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">System requirements</h2>

        <p>There are certain software and data requirements to access and use GeoPlanner.</p>

        <h3>Data requirements</h3>
        <p>
		You must have an ArcGIS organizational account to use GeoPlanner. You can access any data shared on ArcGIS Online.
		To use your own data in GeoPlanner, <a href="/en/arcgis-online/share-maps/publish-features.htm">
		upload it to your organization in ArcGIS Online</a>. Share it with your project group, your organization, or the public so others can discover it.
		</p>

        <h3>Software requirements</h3>
		<p>
		<ul>
		<li>Mac, iOS: Latest version of Safari</li>
		<li>Windows: Latest version of Chrome, Firefox, or Internet Explorer</li>
		</ul>
		</p>

        <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>
        <p>GeoPlanner for ArcGIS 1.1 was released in February 2015. It includes the following enhancements:
		 <ul>
			<li>New dashboards that include the following functionality:
				<ul>
					<li>Save chart configurations so each time you return to your project, you see the same charts.</li>
					<li>Scroll through charts and gauges so you can create and view as many Key Performance Indicators (KPIs) as needed.</li>
					<li>Maximize a dashboard so you can see many KPIs at once.</li>
					<li>Share dashboards with other members of a project or even a template so all your project collaborators work from a common set of KPIs.</li>
					<li>Create charts against non-scenario polygon layers to help you understand existing conditions.</li>
				</ul>
			<li>Weighted overlay service browser so you can create suitability or risk models against different services.</li>
			<li>New tools to help you create your own weighted overlay service.
			<li>Support for more ArcGIS Online analysis tools including Calculate Density, Derive New locations, Find Existing and Similar Locations, Interpolate Points, and Plan Routes.</li>
			<li>Import features into a scenario so you can model and edit existing conditions.</li>
			<li>Collaborate on a project with users from your own and other ArcGIS Online Organizations.</li>
		 </ul>
		</p>

	<!--<a name="sneakPeek"></a>
	<h2 class="divider">Sneak Peek</h2>-->
	
	<p>Share your <a href="http://ideas.arcgis.com/">ideas</a>, and <a href="mailto:geoplanner@esri.com?subject=GeoPlanner%20feedback">send us your feedback</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <!--<h4><a href="http://marketplace.arcgis.com/listing.html?id=5e99f4fa519949209cd3da2966fd543b" target="_blank">Get GeoPlanner</a></h4>-->
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">System Requirements</a></h4>
	  <h4><a href="#whatsNew">What's New</a></h4>
	  <!--<h4><a href="#sneakPeek">Sneak Peek</a></h4>-->
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/geoplanner/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
