---
title: GeoPlanner for ArcGIS
css:

  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cycle2.min
  - libs/jquery.colorbox-min



metatags:
  - <META name="description" content="GeoPlanner for ArcGIS Home page."><META name="last-modified" content="2015-04-15"><META name="product" content="arcgis-geoplanner"><META name="sub_category" content="GeoPlanner for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="GeoPlanner for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="GEODESIGN,APPS,LANDSCAPE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="GEODESIGN,APPS,LANDSCAPE"><META name="content-language" content="en">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/geoplanner/">GeoPlanner for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search GeoPlanner">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />
		<input type="hidden" name="product" value="arcgis-geoplanner"/>
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/geoplanner/">Home</a></li>
         <li><a href="/en/geoplanner/get-started/">Get Started</a></li>
         <li><a href="/en/geoplanner/documentation/">Documentation</a></li>
		 <li><a href="/en/geoplanner/pricing/">Pricing</a></li>
		<li><a href="/en/geoplanner/trial/">Free Trial</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container" >
		<h1 class="gray" style="padding-bottom:15px;">Your Planning Workflows in One App </h1> <br/>

        <div class="column-12 phone-column-24">

		<p class="gray" style="padding-bottom:30px;">Bring all the steps of your planning workflow into one place. You can use GeoPlanner to make location-driven decisions on land use, natural resource conservation, forestry management, and landscape architecture. From project creation and data management to evaluating scenarios and preparing reports, you can manage your planning process more efficiently.</p>


		
          <p>
             <a  class="btn primary" name="TryButton_Top" id="TryButton_Top" href="/en/geoplanner/trial/" >Try GeoPlanner</a>
          </p>
		<br/>
		</div>
        <div class="column-12 phone-column-24">
      <a class="videoLink colorbox-evlarge cboxElement" title="GeoPlanner for ArcGIS" href="http://video.arcgis.com/iframe/4075/000000/width/960/autoplay:1/00:00:00"><img src="images/main-play-geoplanner-video-lg.jpg" style="padding-left:120px;" ></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="4208" controls="">
         <source src="http://video.arcgis.com/watch/4148/geoplanner-for-arcgis"></source>
         </video>
		

		</div>	

			<div class="clear"></div>
<hr/>
</div>


<div class="container" style="padding-top:60px;">
		<div id="collectorDataFeature" class="column-12 phone-column-24" style="padding-right:60px; padding-bottom:60px;">
          <img src="images/manage-your-planning-data.jpg">

          <h3 >Manage Your Planning Data</h3>
          <p >Use your own planning data and get started quickly with ready-to-use landscape layers in GeoPlanner. Discover planning datasets shared by others on ArcGIS Online and add them to your project. </p>

        </div>	
		<div id="collectorDataFeature" class="column-12 phone-column-24" style="padding-right:60px; padding-bottom:60px;">
          <img src="images/make-better-geodesign-decisions.jpg">

          <h3>Make Better Geodesign Decisions</h3>
		  <p>Manage a complete planning process in a single web app and enable collaboration among team members. Access GeoPlanner dashboards and planning alternatives from anywhere using mobile devices.</p>

        </div>		
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24" style="padding-right:60px; padding-bottom:60px;">
          <img src="images/assess-site-suitability.jpg">

          <h3>Assess Site Suitability </h3>
		  <p>Combine factors such as slope, aspect, population, and distance to water to understand risks in your planning area. For example, overlay insect and disease risk, wildland fire potential, and woody biomass to identify areas in a forest that are at highest risk for fire. </p>

        </div>

		
       <div id="collectorDataFeature" class="column-12 phone-column-24" style="padding-right:60px; padding-bottom:60px;">
          <img src="images/compare-design-alternatives.jpg">

          <h3>Compare Design Alternatives </h3>
          <p>Evaluate and compare development scenarios using dashboards. Get started with ready-to-use templates or create custom templates to meet the needs of your industry.
		  </p>

        </div>
		<div class="column-24 phone-column-24">
		<div class="greyFrame">
	          <h3 style="display:inline;">Start creating and sharing planning designs. </h3>
			<div style="display:inline;">
             <a class="btn primary right" name="TryButton_Middle" id="TryButton_Middle" href="/en/geoplanner/trial/" style="margin-top: 5px;">Try GeoPlanner </a>
			</div>
		</div>
		</div>
        <div class="clear"></div>

		<h2 align="center" style="padding-bottom:45px; padding-top:60px;">How Organizations Use GeoPlanner</h2>
		
		<div class="column-6 phone-column-24">
		<div class="greyFrame" >
		<a href="http://www.esri.com/library/casestudies/menlo-park-california.pdf" target="_blank"> <img src="images/PlaceWorks-is-using-GeoPlanner.jpg" style="padding-right:30px;"/>  </a>
     <!-- <a class="pdfLink colorbox-evlarge cboxElement" title="PlaceWorks is using GeoPlanner" href="http://www.esri.com/library/casestudies/menlo-park-california.pdf/iframe/000000/width/960/0/00:00:00"><img src="images/PlaceWorks-is-using-GeoPlanner.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="4208" controls="">
         <source src="http://www.esri.com/library/casestudies/menlo-park-california.pdf"></source>
         </video>  -->
		<p style="padding-top: 15px; padding-bottom:45px;">PlaceWorks is using GeoPlanner to help City of Menlo Park planners deal with Facebook’s rapid growth in the area. [PDF] </p>				
		</div>
		</div>
		<div class="column-6 phone-column-24">
		<div class="greyFrame">
      <a class="videoLink colorbox-evlarge cboxElement" title="Smart Growth with GeoPlanner" href="http://video.arcgis.com/iframe/4164/000000/width/960/0/00:00:00"><img src="images/smart-growth-with-geoplanner.png"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="4208" controls="">
         <source src="http://video.arcgis.com/watch/4164/geodesign-tools-for-planners"></source>
         </video>
		 <p style="padding-top: 30px; padding-bottom:45px;">Hear David Early of PlaceWorks discuss GreenScore, and how GeoPlanner and Story Maps increase citizen engagement. </p><br/>
		</div>
		</div>
		<div class="column-6 phone-column-24">
		<div class="greyFrame">
	<!--	<img src="images/geoplanner-2d-to-arcgis-pro-3d.jpg" style="padding-right:30px;"/>  -->
      <a class="videoLink colorbox-evlarge cboxElement" title="2D to 3D Planning Designs" href="http://video.arcgis.com/iframe/4183/000000/width/960/0/00:00:00"><img src="images/geoplanner-2d-to-arcgis-pro-3d.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="4208" controls="">
         <source src="http://video.arcgis.com/watch/4183/geodesign-_and_-aec"></source>
         </video>
		<p style="padding-top: 15px; padding-bottom:60px;"> See how 2D planning in GeoPlanner is used for detailed street design in 3D using ArcGIS Pro and CityEngine. </p>
		</div>
		</div>
		<div class="column-6 phone-column-24">
		<!-- <a href="http://video.arcgis.com/iframe/4208/000000/width/960/0/00:00:00" title="GeoPlanner for ArcGIS - Soma City" class="videoLink colorbox-evlarge cboxElement"><img src="ihttp://placehold.it/275x250&text=Video"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>  -->

		<div class="greyFrame" >
	<!--	<img src="images/tsunami-damaged-soma-city.jpg" style="padding-right:30px;"/>  -->
      <a class="videoLink colorbox-evlarge cboxElement" title="Soma City Restoration" href="http://video.arcgis.com/iframe/4208/000000/width/960/0/00:00:00"><img src="images/tsunami-damaged-soma-city.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" preload="none" id="4208" controls="">
         <source src="http://video.arcgis.com/watch/4208/geoplanner-for-arcgis-_dash_-soma-city"></source>
         </video>
		<p style="padding-top: 15px; padding-bottom:60px;"> See how GeoPlanner was used in tsunami-damaged Soma City’s design and restoration. </p>
		</div>
		</div>


		       <div class="clear"></div>
<br/><br/><br/>
			<hr/>
	<!-- <div>		
		<h2 align="center" style="padding-bottom:45px; padding-top:30px;">Demos</h2>
		<div class="column-8 phone-column-24">
		<a href="http://www.portlandmaps.com/bps/cpmapp2/" target="_blank">
		<img src="images/comprehensive-planning-portland.jpg" style="padding-right:30px;"/>
		<p style="padding-top: 15px; padding-bottom:60px;text-align: center;"> Comprehensive planning app by the City of Portland Bureau of Planning and Suitability</p> </a>

		</div>
		<div class="column-8 phone-column-24">
 	    <a href="http://www.esri.com/esri-news/arcuser/fall-2014/modeling-suitability" target="_blank">
		<img src="images/modeling-suitability-temecula-vineyard.jpg" style="padding-right:30px;"/>
		<p style="padding-top: 15px; padding-bottom:60px; text-align: center;">  Modeling suitability to identify potential sites for more vineyards in Temecula, California</p> </a>
		</div>
		<div class="column-8 phone-column-24">
		<a href="http://ecoreata.com/conservationbanks_storymap_2013/" target="_blank">
		<img src="images/conservation-efforts.jpg" style="padding-right:30px;"/>
		<p style="padding-top: 15px; padding-bottom:60px; text-align: center;"> Conservation efforts of the Endangered Species Act</p> </a>
		</div>	
		
		</div
		<br/>
		       <div class="clear"></div>
		
			<hr/>  -->
	
		
		<div class="column-8 tablet-column-24" style="padding-top:30px; padding-right:90px;">
		<div class="">
          <h3>From Our Blog</h3>
          <div id="blog">

          </div>
        </div>			
		</div>
		<div class="column-8 tablet-column-24" style="padding-top:30px; padding-right:90px;">
		<div class="">
          <h3>Discussions on GeoNet</h3>
          <div id="forum">

          </div>
        </div>			
		</div>

		<div class="column-8 tablet-column-24" style="padding-top:30px;">
		<div class="">
          <h3>More Community Resources</h3>
          <div id="other">

        <h4 class="icon-play icon-green">
          <a href="http://video.arcgis.com">
            Video.arcgis.com
          </a>
        </h4>
        <p>Learn from the pros and the community.</p>
		<br/>

        <h4 class="icon-lightbulb icon-orange">
          <a href="http://ideas.esri.com">
            Ideas.esri.com
          </a>
        </h4>
        <p>Submit your feedback on the software.</p>
			<br/>
        <h4 class="training-icon">
         <img src="images/training.png"/>
		 <a href="http://training.esri.com">
            Training.esri.com
          </a>
        </h4>
        <p>Explore free training and videos.</p>

          </div>
        </div>			
		</div>


		<div class="column-24 phone-column-24" style="padding-top:60px;">
		<div class="greyFrame">
	          <h3 style="display:inline;">Start creating and sharing planning designs. </h3>
			<div style="display:inline;">
             <a class="btn primary right" name="TryButton_Bottom" id="TryButton_Bottom" href="/en/geoplanner/trial/" style="margin-top: 5px;">Try GeoPlanner </a>
			</div>
		</div>
		</div>
        <div class="clear"></div>

    </div>
    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/geoplanner/feed/',
        max: 2,
        layout: 0
      });

	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/feeds/allcontent?community=2124", 
			max: 2,        
			layout: 1
		  });

    });
	 
	 // video tracker
	$(document).bind("cbox_complete", function(){
		 var href = $.colorbox.element().attr("href");
		 if (href) {
			  _gaq.push(["_trackPageview", href]);
		 }
	});
  </script>

   
