---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/operations-dashboard/">Hjem</a></li>
        <li><a href="/da/operations-dashboard/windows-desktop/author/create-a-map.htm">Forfattervisninger</a></li>
        <li><a href="/da/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Brugsvisninger</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Hent app'en</h2>
          <span id="appVersion"><strong>Version:</strong> 10.2</span> <span id="appReleased"><strong>Frigivet:</strong> November 2013</span>

          <p>Overv&aring;g aktiviteter og begivenheder, spor din arbejdsstyrke i marken, og vurd&eacute;r status p&aring; og resultatet af dine daglige opgaver.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Hent Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Systemkrav</a> <a id="appWhatsNew" href="#whatsNew">Nyheder</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/da/operations-dashboard/dashboard-create-small.png" />

          <h3>Opret og del et operationelt view</h3>
          <p>Ved hj&aelig;lp af tre lette trin kan du oprette og dele handlingsvisninger, der omfatter kort, lister, diagrammer, m&aring;linger m.m., som er baseret p&aring; live-geografiske data, der er defineret i et webkort eller en webtjeneste.</p>
          <p>
            <a href="/da/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/da/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Overv&aring;g og reag&eacute;r p&aring; begivenheder</h3>
          <p>Brug dit operationelle view til at fokusere p&aring; de aspekter ved en operation, som har betydning for dig. Overv&aring;g tjenester, leveringer, mennesker, k&oslash;ret&oslash;jer m.m. hvor som helst i verden &ndash; i fire trin.</p>
          <p>
            <a href="/da/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Vis mig hvordan</a><br /> <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Der er visse enhedskrav, der skal opfyldes for at k&oslash;re Operations Dashboard, og der er ogs&aring; krav til de data, der anvendes i applikationen. Operations Dashboard underst&oslash;ttes p&aring; en r&aelig;kke sprog.</p>


        <h3>Underst&oslash;ttede operativsystemer</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro og Windows 8.1 Enterprise (32 bit og 64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro og Windows 8 Enterprise (32 bit og 64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional og Home Premium (32 bit og 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard og Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise og Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise og Datacenter (32 bit og 64 bit [EM64T]) SP2</li>
        </ul>


        <h3>Hardwarekrav</h3>
        <ul>
			<li>CPU-hastighed: 2,2 GHz eller st&aelig;rkere; Hyper-Threading (HTT) eller Multi-core anbefales.</li>
			<li>Processor: Intel Pentium 4-, Core Duo- eller Xeon-processor; SSE2 som minimum. K&oslash;r dette Microsoft-hj&aelig;lpeprogram fra en Windows-kommandolinje for at kontrollere processoren.</li>
			<li>Diskplads: 1,5 GB ledig diskplads.</li>
			<li>Hukommelse/RAM: 2 GB eller mere.</li>
			<li>Sk&aelig;rmegenskaber: 24-bit farvedybde.</li>
			<li>Sk&aelig;rmopl&oslash;sning: 1024x768 eller h&oslash;jere ved normal st&oslash;rrelse (96 dpi).</li>
			<li>Plads til swap-fil: Bestemmes af operativsystemet; 500 MB som minimum.</li>
			<li>Video-/grafikadapter: 64 MB RAM som minimum, 256 MB RAM anbefales; NVIDIA, ATI og Intel-chipset underst&oslash;ttes. Accelerated-grafikdrivere. Shader Model 2.0 som minimum. S&oslash;rg for at have den nyeste tilg&aelig;ngelige driver.</li>
		</ul>


        <h3>Softwarekrav</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> er p&aring;kr&aelig;vet. Du skal have administratorrettigheder p&aring; din maskine for at installere komponenten.</p>

        <h3>Datakrav</h3>
		<p>For at bruge dine kort i Operations Dashboard skal du have en ArcGIS-organisationskonto. Dine kort kan indeholde data fra ArcGIS Online, Portal for ArcGIS og ArcGIS for Server. Datakilder skal v&aelig;re &quot;hosted&quot; p&aring; ArcGIS Online eller ArcGIS 10.1 for Server eller nyere.</p>

		<h3>Krav i forbindelse med udvikling</h3>
		<p>Der kr&aelig;ves <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a> for at kunne tilpasse Operations Dashboard for ArcGIS.</p>

	<h3>Underst&oslash;ttede sprog</h3>
	<p>Arabisk, tjekkisk, dansk, hollandsk, estisk, finsk, fransk, tysk, hebraisk, italiensk, japansk, koreansk, lettisk, litauisk, norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rum&aelig;nsk, russisk, forenklet kinesisk, spansk og svensk.</p>
	<p>Det sprog, der anvendes af app'en, bestemmes af din telefons sprogindstilling.</p>

        <a name="whatsNew"></a>
        <h2>Nyheder</h2>
        <p>Operations Dashboard for ArcGIS version 10.2 blev frigivet i november 2013. Den indeholder f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Underst&oslash;ttelse af enterprise logins</li>
        <li>Underst&oslash;ttelse af Portal for ArcGIS</li>
        <li>Forbedrede liste- og m&aring;ler-widgets.</li>
        <li>Pop-up-vinduer indeholder billeder og diagrammer.</li>
        <li>Forbedret proxy-underst&oslash;ttelse.</li>
        <li>Underst&oslash;ttelse af lokal tid.</li>
        <li>Forbedret filtrering p&aring; tid og dato.</li>
        <li>Benytter ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Tilf&oslash;jelsesprogrammer kan udvikles ved hj&aelig;lp af ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Overs&aelig;ttelse til arabisk, tjekkisk, dansk, hollandsk, estisk, finsk, fransk, tysk, hebraisk, italiensk, japansk, koreansk, lettisk, litauisk, norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rum&aelig;nsk, russisk, forenklet kinesisk, spansk og svensk.</li>
        </ul>
      
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Kom i gang</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Install&eacute;r applikationen</a></li>
            <li><a href="/da/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Opret og del et operationelt view.</a></li>
            <li><a href="/da/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Overv&aring;g og reag&eacute;r p&aring; aktiviteter og begivenheder</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Udvikle add-ins</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
