---
title: Esri Maps for Office
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - config
  - dojo-config
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-office/">Esri Maps for Office</a></h1>
    </header> <nav>
      <ul>
        <li class='current'><a href="/en/maps-for-office/">Prima pagin?</a></li>
        <li><a href="/en/maps-for-office/help/">Ajutor</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Desc?rca?i aplica?ia</h2>
          <span id="appVersion"><strong>Versiune:</strong> 2.1</span> <span id="appReleased"><strong>Disponibil? din:</strong> iulie 2013</span>


          <p>Esri Maps for Office v? permite s? crea?i rapid h?r?i dinamice ?i interactive pe baza datelor ?n format Excel ?i s? ?ncepe?i s? explora?i aceste h?r?i ?ntr-un mod cu totul inedit. Esri Maps for Office v? permite s? scoate?i la iveal? modele ?i tendin?e care nu sunt evidente ?n datele tabelare ?i ?n diagrame. H?r?ile pot fi partajate imediat prin intermediul prezent?rilor PowerPoint sau prin publicarea lor printr-un singur clic ?n cloudul Esri pentru h?r?i, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Ob?ine?i Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Transpune?i pe hart? foile de calcul </h3>
          <p>Afla?i cum s? transpune?i pe hart? datele Excel utilizand Esri Maps for Office. Pute?i s? crea?i cu u?urin??, direct ?n Excel, h?r?i interactive codificate pe culori, de puncte simple, de puncte grupate sau de temperaturi Excel, ob?inand astfel informa?ii vizuale detaliate despre datele dvs.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">?Viziona?i un videoclip</a> <video width="320" height="240" controls id="2457" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2457/mp4/480"></video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>?mbog??i?i datele</h3>
          <p>Utiliza?i nenum?ratele colec?ii de date Esri pentru a ad?uga valoare datelor dvs. de afaceri. Ad?uga?i date demografice ?i despre modul de via?? direct ?n foile de calcul Excel ?i ob?ine?i un context mai larg despre loca?iile importante pentru dvs. Explora?i rapid ?i pe parcurs loca?ii utilizand grafice informative pop-up.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">?Viziona?i un videoclip</a> <video width="320" height="240" controls id="2468" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2468/mp4/480"></video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Cerin?ele de sistem</h2>

        <p>Pentru Esri Maps for Office este necesar un cont care s? fac? parte dintr-o organiza?ie <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, precum ?i de aplica?ia Microsoft Office Excel sau PowerPoint 2010 ori Microsoft Office Excel sau PowerPoint 2013. Printre sistemele de operare acceptate se num?r?:</p>
		<ul>
		 <li>Windows XP (obligatoriu cu SP3) (32 de bi?i)</li>
		 <li>Windows 7 (32 ?i 64 de bi?i)</li>
		 <li>Windows 8 (32 ?i 64 de bi?i)</li>
		 <li>Windows Server 2003 cu SP2 ?i MSXML 6.0 (numai Office pe 32 de bi?i)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Pentru informa?ii suplimentare, inclusiv frecven?a procesorului, cantitatea de memorie ?i spa?iul pe hard disk necesare, consulta?i cerin?ele de sistem pentru <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> ?i <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Asisten?? preconizat? pentru urm?toarele limbi</h3>
        <p>Arab?, englez?, chinez?, francez?, german?, italian?, japonez?, spaniol?, portughez? (Brazilia) ?i rus?</p>





        <a name="whatsNew"></a>
        <h2>Ce este nou</h2>
        <p>Esri Maps for Office versiunea 2.1 a fost lansat? ?n iulie 2013. Aceasta include urm?toarele ?mbun?t??iri:</p>
        <ul>
        <li>Analiza modelelor statistice prin instrumentul Puncte de interes</li>
		<li>?mbun?t??iri aduse ?mbog??irii datelor, inclusiv colec?ii de date suplimentare ?i posibilitatea de a selecta variabile individuale din colec?iile de date</li>
		<li>Suport pentru autentificare securizat? utilizand OAuth+SAML (AGOL)</li>
        <li>Suport pentru autentificare securizat? utilizand IWA, PKI (numai ?n portal)</li>
		<li>?mbun?t??iri aduse interfe?ei cu utilizatorul la nivelul graficelor informative ?i al instrumentului ?mbog??ire strat tematic</li>
		<li>Flux de lucru ?mbun?t??it pentru upgrade-ul Maps for Office la cea mai recent? versiune</li>
        </ul>


        <h3>Versiunea anterioar?</h3>
        <p>Versiunea 2.0.2 a fost lansat? ?n mai 2013. Aceasta a inclus urm?toarele ?mbun?t??iri:</p>
        <ul>
          <li>?mbog??irea datelor prin ad?ugarea unui context geografic utilizand instrumentul nou ??mbog??ire strat tematic”</li>
		  <li>Selectarea obiectelor spa?iale pe hart? ?i g?sirea de obiecte spa?iale din apropiere ?n alte straturi tematice </li>
		  <li>Acum, ferestrele pop-up cu h?r?i con?in grafice informative, care furnizeaz? informa?ii contextuale extinse despre zonele ce ?nconjoar? obiectele spa?iale de pe hart?.</li>
		  <li>Suport pentru previzualizare pentru Portal for ArcGIS 10.2</li>
		  <li>Op?iuni de configurare noi pentru h?r?ile de temperaturi ?i pentru grup?ri</li>
		  <li>A fost ad?ugat? posibilitatea de a filtra obiectele spa?iale grupate pe hart? f?cand clic pe pauzele de clas? ?n legenda h?r?ii</li>
		  <li>Flux de lucru ?mbun?t??it pentru geocodificarea adreselor</li>
		  <li>Suport pentru personalizarea h?r?ilor fundal din organiza?ia ArcGIS Online</li>
		  <li>Func?ia Inserare hart? utilizeaz? harta fundal implicit? din organiza?ia ArcGIS Online</li>
		  <li>C?uta?i date ?n ArcGIS Online utilizand categorii populare precum Bog??ie, Afaceri, Politic? ?i S?n?tate</li>
		  <li>Acum, numele de locuri sunt bazate pe loca?ia datelor. De exemplu, etichetele din fluxul de lucru cu geocoduri vor afi?a nume de prefecturi ?n Japonia, nume de state ?n Statele Unite ?i provincii ?n Canada</li>
		  <li>Suport pentru Microsoft Office 2013</li>
		  <li>Alte ?mbun?t??iri calitative, cartografice ?i privind utilizarea</li>
        </ul>


        <p>?</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>?ncepe?i</h3>
          <ul>
           <li><a href="#whatsNew">Ce este nou</a></li>
            <li><a href="#systemRequirements">Cerin?ele de sistem</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Viziona?i videoclipurile</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 <!--[if gt IE 8]><!-->
      <script type="text/javascript" src="//serverapi.arcgisonline.com/jsapi/arcgis/3.4compact/"></script>
    <!--<![endif]-->

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

