---
title: "Electric Networks for ArcGIS"
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META PRODUCT_METADATA>

mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace each of the following, then remove these notes when you're done:
  PRODUCT_METADATA: The metadata for the product
  FULL_PRODUCT_NAME: The full product name, for example "ArcGIS Maps for Office"
  PRODUCT_NAME: The product name without the preceding Esri or ArcGIS.  For example "Maps for Office".  This may be the same as the FULL_PRODUCT_NAME.
  DOWNLOAD_LINK: A link to download the product, free trial, etc.
  VERSION_NUMBER: The version number of the product.  This may be removed if not needed.
  RELEASE_DATE: The time period of the release.  For example, "Fall 2016" or "October 2016"
  NAV_LINK_x: The link for the navigation tabs at the top.
  NAV_TEXT_x: The text for the navigation tabs at the top.
  PRODUCT_HEADLINE: The main headline for the product.  This should be very short.
  PRODUCT_SUB_HEADLINE: A slightly longer blurb about the product.
  PRODUCT_SEARCH_VALUE: The product value for the search form
  ITUNES_STORE_LINK: Link to the product on the app store
  GOOGLE_PLAY_LINK: Link to the product on Google Play
  WINDOWS_STORE_LINK: Link to the product on the Windows store
  POPULAR_LINK_x: Links to popular pages and topics. These should include "FAQs", "What's new", and "Supported environments", but may include other links as well.
  POPULAR_TEXT_x: Text for links to popular pages and topics.
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  CARD_LINK_x: The page that the card should link to.
  CARD_TITLE_x: The title of the card.
  CARD_TEXT_x: The text inside the card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
  GEONET_LINK: Link to the product's Geonet page
  BLOG_LINK: Link to the the product's blog
  BLOG_FEED_URL: URL for the product's blog feed
  GEONET_LINK: Link to the the product's geonet page
  GEONET_FEED_URL: URL for the product's geonet feed
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue text-white" style="background-image:url('/en/electric/img/banner1.jpg');background-color:#1b2944;background-size:cover;background-position: 50% 50%;">
    <div class="grid-container">
        <div class="column-24 leader-2">
            <div class="column-3">&nbsp;</div>
            <div class="column-18 text-center center trailer-1">
                <h1>ArcGIS Electric Network</h1>
                <h5>Data model and tools to help you visualize, manage, and analyze your electric system</h5>
            </div>
        </div>
        <div class="column-24 trailer-1">
            <div class="column-4">&nbsp;</div>
            <div class="column-16 center trailer-1">
                <div class="wf-nav" style="height:55px;">
                    <div class="wf-nav search-bar column-16 trailer-0 leader-0">
                        <form id="helpSearchForm" class="input-group" target="_top">
                            <input type="search" name="q" class="leader input-group-input" placeholder="Search Electric Networks">
                            <input type="hidden" name="collection" value="help"/>
                            <input type="hidden" name="platform" value="detect"/>
                            <input type="hidden" name="product" value="imagery-workflows"/>
                            <input type="hidden" name="language" value="en"/>
                            <span class="input-group-button">
                                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="grid-container text-center">
        <div class="column-9 pre-2 post-1 leader-2 trailer-2">
            <iframe src="//youtube.com/embed/XrU8GX7manc" width="100%" height="400px" frameborder="0"></iframe>
        </div>
        <div class="column-9 pre-1 post-2 leader-2 trailer-2">
            <img src="http://placehold.it/528x400?text=Screenshot+of+story+map" alt="">
        </div>
</div>
<div class="panel panel-light-blue panel-no-border panel-no-padding">
    <div class="grid-container padding-leader-3 padding-trailer-3">
        <div class="column-18 pre-3 post-3">
            <h2 class="text-center text-white">Road Map of Workflows</h2>
            <p class="text-center text-white trailer-2"><%= lorem.sentences 3 %>.</p>

        </div>
        <div class="column-24">
            <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would look better with wider, shorter images. -->
            <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                            <img alt="" src="/en/electric/img/FieldInspection.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Field inspection
                        </h5>
                        <p class="card-last">Use the electric network on mobile devices to inspect equipment and record the poles where equipment requires maintenance or replacement.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/LoadSummary.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Load summary
                        </h5>
                        <p class="card-last">Accumulate and report consumer loads by phase for a circuit or portion of a circuit.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/StormResponse.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Storm response
                        </h5>
                        <p class="card-last">Analyze where circuits are de-energized, map damaged assets in real time, and generate lists of equipment to be replaced.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/CustomerNotification.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Customer notification
                        </h5>
                        <p class="card-last">System maintenance and construction sometimes requires scheduled outages. Find affected customers and notify them of outage periods.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/OutageNotification.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Outage notification
                        </h5>
                        <p class="card-last">Communicate outage status with your customers on maps accessible on mobile devices. Display the affected residences and expected restoration times.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/AddServiceDrop.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Add a service drop
                        </h5>
                        <p class="card-last">When a customer requests a new service, determine whether the existing transformer can handle the additional load and what new equipment is required.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/BuildACircutMap.jpg">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Build a circuit map
                        </h5>
                        <p class="card-last">Use the substation sources and current tie-switch status to display a circuit map showing the current status of your electric network.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
                <div class="card block trailer-1">
                    <figure class="card-image-wrap">
                        <img alt="" src="/en/electric/img/WorkWithCircuitSchematics.png">
                    </figure>
                    <div class="card-content">
                        <h5 class="trailer-half leader-0">
                            Work with circuit schematics
                        </h5>
                        <p class="card-last">Configure and display diagrams to highlight the devices and lines relevant for an engineering study.</p>
                    </div>
                    <a href="CARD_LINK_3" class="btn btn-clear btn-fill leader-1">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
    <div class="grid-container">
        <div class="column-24 text-white text-center trailer-half leader-half">
            <h4 class="trailer-half">ArcGIS Electric Networks</h4>
            <!-- INSTRUCTIONS: Remove any links that are not applicable. -->
            <!-- <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="TWITTER_LINK"></a>
            <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="LINKEDIN_LINK"></a> -->
            <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="GITHUB_LINK"></a>
            <!-- <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="FACEBOOK_LINK"></a> -->
            <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="GEONET_LINK"></a>
            <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
        </div>
    </div>
</div>

<!-- Blog -->
<!-- <div class="panel panel-white panel-no-border panel-no-padding leader-1">
    <div class="grid-container padding-leader-1 padding-trailer-1">
        <div class="column-24">
            <h2 class="text-rule padding-trailer-half">Read our blog
                <a class="btn btn-transparent btn-large right" href="BLOG_LINK">More posts</a>
            </h2>
            <div data-post-limit="3" data-blog-feed-url="BLOG_FEED_URL" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed"> -->
                <!-- Blog Content goes here -->
            <!-- </div>
        </div>
    </div>
</div> -->
<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
    <div class="grid-container padding-trailer-1 padding-leader-1">
        <div class="column-24">
            <h2 class="text-rule padding-trailer-half">Join the conversation
                <a class="btn btn-transparent btn-large right" href="https://earlyadopter.esri.com/project/home.html?cap=2578B1991F9E43C7B114BD1BB37462C9">More conversations</a>
            </h2>
            <div data-post-limit="3" data-geonet-feed-url="GEONET_FEED_LINK" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
                <!-- Forum content goes here -->
            </div>
        </div>
    </div>
</div>

<div class="panel panel-black panel-no-padding">
    <div class="grid-container">
        <div class="column-24 padding-leader-2 padding-trailer-1">
            <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up text-off-black">
                <div class="card card-bar-blue block trailer-1">
                    <div class="card-content">
                        <h4>Download</h4>
                        <p class="font-size--1 card-last">
                             Download the electric network model and migration documentation.
                        </p>
                    </div>
                    <nav>
                      <a href="CARD_LINK_1" class="btn btn-clear btn-fill leader-1">Migrate to the electric network</a>
                    </nav>
                </div>
                <div class="card card-bar-orange block trailer-1">
                    <div class="card-content">
                        <h4>Help</h4>
                        <p class="font-size--1 card-last">
                            Learn more about the electric network from the online help system.
                        </p>
                    </div>
                    <a href="http://prodev.arcgis.com/en/alpha/utility-network/what-is-a-utility-network-.htm" class="btn btn-clear btn-fill leader-1">Online Help system</a>
                </div>
                <div class="card card-bar-green block trailer-1">
                    <div class="card-content">
                        <h4>Develop</h4>
                        <p class="font-size--1 card-last">
                            Design your own tools using our online SDK and GitHub repository
                        </p>
                    </div>
                    <nav>
                      <a href="https://github.com/esri/utility-network-sdk" class="btn btn-clear btn-fill leader-1">Online SDK</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div><script src="/assets/js/rssfeed.js" type="text/javascript"></script>
