---
title: Esri Maps for Dynamics CRM

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Dynamics CRM Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-dynamics-crm"><META name="sub_category" content="Esri Maps for Dynamics CRM"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Dynamics CRM"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-dynamics-crm/">Esri Maps for Dynamics CRM</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Maps for Dynamics CRM" data-langlabel="search-esri-maps-dynamics-crm">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-dynamics" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-dynamics-crm/">Home</a></li>
        <li><a href="/en/maps-for-dynamics-crm/install-and-configure/what-is-esri-maps-for-dynamics-crm.htm">Install and Configure</a></li>
		<li><a href="/en/maps-for-dynamics-crm/design-and-use-maps/sign-in-to-arcgis.htm">Design and Use Maps</a></li>
        <li><a href="http://forums.arcgis.com/forums/260-Esri-Maps-for-Dynamics-CRM/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Get the app</h2>
          <span id="appVersion"><strong>Version:</strong> 1.0.2</span>
          <span id="appReleased"><strong>Available:</strong> May 2015</span>


          <p>Esri Maps for Dynamics CRM, powered by ArcGIS Online, provides fast and easy integration of Esri maps and the Esri platform into Microsoft’s Dynamics CRM product. With Esri Maps you can see your CRM data on a map and visualize it in more meaningful ways, learn more about the areas and markets in which your CRM data reside, use the map to enhance your analysis, and share all of this with others in your organization. With Esri Maps for Dynamics CRM, create a geospatial view of your organization's data… all without leaving the Microsoft Dynamics CRM environment.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-dynamics-crm/pricing">Get Esri Maps for Dynamics CRM</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="spatially-enable.jpg" />

          <h3>Spatially enable your CRM data</h3>
          <p>Storing spatial information with your records is a good idea. Maps will load more quickly, and records won't have to be geocoded each time they are drawn on the map. Watch this video to learn how to spatially enable your records using the Locate workflow.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>-->
			<a title="Spatially enable your CRM data" href="http://video.arcgis.com/iframe/2882/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2882/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="design-and-use.jpg" />

          <h3>Design and use map charts</h3>
          <p>Esri Maps for Dynamics CRM allows you to bring the many benefits of the ArcGIS mapping platform into your CRM system. This video shows you how to design and use custom map charts.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>-->
		   <a title="Design and use map charts" href="http://video.arcgis.com/iframe/2911/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2911/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>

        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <ul>
		 <li>Esri Maps for Dynamics CRM requires an account that is part of an <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> organization and access to Microsoft Dynamics CRM, either online or on-premises. See <a href="http://technet.microsoft.com/en-us/library/hh699710.aspx">Microsoft Dynamics CRM web application requirements</a> for operating system and software requirements.</li>
		 <li>Esri Maps for Dynamics CRM supports the following browsers: Internet Explorer 9, Internet Explorer 10*, Chrome (latest), Firefox (latest), and Safari (Mac OS X 10.7 and 10.8).</li> 
		 <li>•	Esri Maps for Dynamics CRM supports the following environments: Dynamics 2013 (on Premise), Dynamics 2015 (on Premise and Online). The latest version of Esri Maps for Dynamics CRM does not support CRM 2011. Please contact <a href="http://support.esri.com/phoneSupport#us" title="Esri Customer Support">Esri Support</A> if you require support of Dynamics CRM 2011.</li>
		</ul>
		
		<p>*Internet Explorer 10 compatibility is limited to the desktop browser and does not extend to the touch-based version.</p>

        <a name="whatsNew"></a>
        <h2>What's new</h2>
        <p>Esri Maps for Dynamics CRM version 1.0.2 was released in April 2015. This version includes the following improvements:</p>
        <ul>
			<li>Support for Microsoft Dynamics CRM 2015</li>
			<li>Support for Enterprise Logins</li>
			<li>Bug fixes</li>
        </ul>
		
		<!--English only for now
        <h3>Supported languages</h3>
        <p>Arabic, English, Chinese, French, German, Italian, Japanese, Spanish, Portuguese (Brazil), and Russian.</p>
		-->


		<h2>Previous version</h2>
		<p>Esri Maps for Dynamics CRM version 1.0.1 was released in February 2014. It includes the following features:</p>
        <ul>
			<li>Support for Microsoft Dynamics CRM 2013</li>
			<li>Bug fixes and workflow enhancements</li>
        </ul>
        <p>Esri Maps for Dynamics CRM version 1.0 was released in July 2013. It includes the following features:</p>
        <ul>
			<li>Map CRM data to see easily see where concentrations of customers or constituents exist.</li>
			<li>Customize maps and add them to Dynamics CRM dashboards.</li>
			<li>Access rich collection of basemaps, demographic maps, image services, and data.</li>
			<li>Visualize neighborhood demographics using pop-ups.</li>
			<li>Calculate routes and build travel activity based on customer/prospect location.</li>
			<li>Geocode, geoenable, and geoenrich CRM data using a Locate workflow.</li>
			<li>Visualize CRM data by grouping according to attribute.</li>
			<li>Save CRM data into views based on geographic selection and then use those views for other CRM activities like adding to marketing lists and sending emails.</li>
			<li>Share maps with the rest of your organization using ArcGIS Online.</li>
			<li>Single sign-on capability. With CRM on-premises, organizations can use the same login for their organization, for CRM, and for ArcGIS Online. With CRM On-line, organizations can use the same login for their organization and ArcGIS Online.</li>
			<li>Esri Maps for Dynamics CRM is installed as a solution package.</li>
        </ul>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
            <li><a href="#systemRequirements">System requirements</a></li>
           <li><a href="#whatsNew">What's new</a></li>
			<li><a href="http://video.arcgis.com/series/158/location-analytics">Watch videos about Location Analytics</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>