---
title: Esri Maps for SharePoint
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/maps-for-sharepoint/">Hjem</a></li>
        <li><a href="/da/maps-for-sharepoint/get-started/">Kom i gang</a></li>
        <li><a href="/da/maps-for-sharepoint/esri-maps-web-part/">Esri Maps Web Part</a></li>
        <li><a href="/da/maps-for-sharepoint/arcgis-map-web-part/">ArcGIS Map Web Part</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Hent app\'en</h2>
          <span id="appVersion"><strong>Version:</strong> 3.0</span> <span id="appReleased"><B>Tilg&aelig;ngelig</B><strong>:</strong> Juli 2013</span>


          <p>Esri Maps for SharePoint bruger Microsoft SharePoint 2010 og 2013 til at tilbyde interaktiv og konfigurerbar kortl&aelig;gning af komponenter, der kan give dig en geografisk visning af din organisations data. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">F&aring; Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Esri Maps for SharePoint kr&aelig;ver en konto, der er en del af en <a href="http://help.arcgis.com/da/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-organisation og Microsoft SharePoint 2010 eller 2013 i en af versionerne Foundation, Server Standard eller Server Enterprise.</p>


        <h3>Underst&oslash;ttede sprog</h3>
        <p></p>


 <a name="whatsNew"></a>        
		 <h2>Nyheder i 3.0.1</h2>        
		 <p>Esri Maps for SharePoint version 3.0.1 blev frigivet i oktober 2013. Den omfatter f&oslash;lgende opdateringer og udvidelser:</p>        
		 <ul>        
		 <li>Lokaliseringsunderst&oslash;ttelse til 21 sprog: Arabisk, kinesisk (forenklet), dansk, hollandsk, estisk, fransk, tysk, hebr&aelig;isk, italiensk, japansk, koreansk, lettisk, litauisk, norsk, polsk, portugisisk (brasiliansk), portugisisk, rum&aelig;nsk, russisk, spansk og svensk.</li>	
		 <li>Underst&oslash;ttelse af tilpassede stedtyper i Esri Maps Locate-workflow.</li>	
		 <li>Geostatistisk hotspot-analyse</li>	
		     
		 </ul>
		       
		 <h2>Nyheder i 3.0</h2>        
		 <p>Esri Maps for SharePoint version 3.0 blev frigivet i juli 2013. Den omfatter f&oslash;lgende opdateringer og udvidelser:</p>        
		 <ul>        
		 <li>Nyt produktnavn&mdash;Esri Maps for SharePoint</li>	
		 <li>Support til SharePoint 2010 og SharePoint 2013 (i det lokale milj&oslash;)</li>	
		 <li>F&oslash;rste version af Esri Maps Web Part&mdash;JavaScript-baseret webdel underst&oslash;ttet i SharePoint 2010 og SharePoint 2013 (i det lokale milj&oslash;).</li>	
		 <li>Support til Portal for ArcGIS 10.2</li>	
		 <li>Ekstern datatilslutning via SharePoint Business Connectivity Services (BCS) (JavaScript Map Web Part)</li>	
		 <li>Web Part-til-Web Part-forbindelser (JavaScript Map Web Part)</li>	
		 <li>Opdateret til at underst&oslash;tte ArcGIS for Silverlight v3.1 og ArcGIS Extensibility v3.1 SDK'er (kun Silverlight Map Web Part)</li>        
		 </ul>

		  
		 <p>Med Esri Maps Web Part kan du g&oslash;re f&oslash;lgende: 	
		 <ul>	
		 <li>Tilf&oslash;je webkort og tjenester fra ArcGIS, enten ArcGIS Online eller Portal for ArcGIS.</li>	
		 <li>Dele kort og lag p&aring; ArcGIS med offentligheden eller din organisation.</li>	
		 <li>Vise SharePoint-lister og oprette forbindelse til eksterne datakilder via Business Connectivity Services (BCS).</li>	
		 <li>Oprette forbindelse til List and Chart-web-dele via Web Part-to-Web Part-forbindelser.</li>	
		 <li>Geografisk aktivere (geokode) elementer i en SharePoint list.</li>	
		 <li>Interaktivt konfigurere kortets udseende, lag og andre indstillinger.</li>	
		 <li>V&aelig;lge mellem baggrundskort fra baggrundskortgalleriet i din ArcGIS-organisation.</li>	
		 <li>Definere udseendet af datas&aelig;t (symbolisere) vha. symboler for enkelte v&aelig;rdier, klasse-skillev&aelig;rdier eller entydige v&aelig;rdier.</li>	
		 <li>Vise punktobjekter vha. klyngedannelse eller varmekort. </li>	
		 <li>Konfigurere udseendet af pop-up-vinduer. Angive typografi for pop-up-vinduer samt hvilke felter der vises, n&aring;r man bev&aelig;ger musen hen over objekter p&aring; kortet. </li>	
		 <li>Vise infografik i pop-up-vinduer, der giver detaljeret kontekstinformation om de omr&aring;der, der omgiver objekterne i dit kort.</li>	
		 <li>Udf&oslash;re rutebaseret analyse af dine data.</li>	
		 <li>Interaktivt v&aelig;lge og filtrere data inden for cirkelbaserede eller k&oslash;retidsbaserede afstande.</li>	
		 <li>Interaktivt hente yderligere demografisk og kontekstrelateret information for stederne p&aring; kortet.</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Kom i gang</h3>
         <ul>
            <li><a href="#systemRequirements">Systemkrav</a></li>
	 <li><a href="#whatsNew">Nyheder</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Interaktive eksempler (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/da/help/sharepoint/apiref/api_start.htm">API-reference (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/da/communities/sharepoint/01t800000009000000.htm">Hj&aelig;lp til ArcGIS for SharePoint 2.1.1.</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
