---
title: Drone2Map

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - download
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Drone2Map Home page."><META name="last-modified" content="2016-04-12"><META name="product" content="drone2map"><META name="sub_category" content="Drone2Map"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="drone2map"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/en/maps-for-office/">Drone2Map for ArcGIS Help</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Drone2Map">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="drone2map" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/en/drone2map/">Home</a></li>
		<li><a href="/en/drone2map/install/">Install</a></li>
		<li><a href="/en/drone2map/quick-start-guides/">Quick Start Guides</a></li>
        <li><a href="/en/drone2map/configure/">Configure</a></li>
		  <li><a href="/en/drone2map/process-and-share/">Process & Share</a></li>
        <li><a href="https://geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">Download the app</h2>
        <span id="appVersion"><strong>Version:</strong> 1.0</span>
        <span id="appReleased"><strong>Available:</strong> Summer 2016</span>

          <p>Drone2Map for ArcGIS turns raw still imagery from drones into stunning 2D and 3D imagery products in ArcGIS for monitoring, analysis, and inspection.</p>

          <div class="secured-org">
				<a class="btn primary download-link" data-file-size="<%= data.downloads["en"].drone2map.secured.send('versions'.to_sym)[1.0].filesize %>" data-folder="<%= data.downloads["en"].drone2map.secured.send('versions'.to_sym)[1.0].foldername %>" data-filename="<%= data.downloads["en"].drone2map.secured.send('versions'.to_sym)[1.0].filename %>">Get Drone2Map for ArcGIS</a>
          </div>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Rapid -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="rapid.jpg" alt="Map your Excel data" />
		  
			<h3>Rapid</h3>
			<p>Quickly create orthosmosaics and digital surface models to verify the coverage and quality of your imagery collection.</p>
			<p>&gt; <a href="/en/drone2map/quick-start-guides/rapid.htm">Learn more</a></p>
		</div>

		<!-- 2D Mapping -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="2d-mapping.jpg" alt="Add a map to PowerPoint" />
			<h3>2D Mapping</h3>
			<p>Create high resolutions orthosmosaics, digital surface models, and multispectral indices.</p>
			<p>&gt; <a href="/endrone2map/quick-start-guides/2d-mapping.htm">Learn more</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- 3D Mapping -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="3d-mapping.jpg" alt="Enrich your data" />

			<h3>3D Mapping</h3>
			<p>Create detailed 3D colorized point clouds, 3D textured meshes, and 3D PDFs.</p>
			<p>&gt; <a href="/en/drone2map/quick-start-guides/3d-mapping.htm">Learn more</a></p>
		</div>

		<!-- Inspection Project -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="inspection.jpg" alt="Share maps on ArcGIS" />
			<h3>Inspection</h3>
			<p>Process drone imagery and quickly inspect objects of interest.</p>
			<p>&gt; <a href="/en/drone2map/quick-start-guides/inspection.htm">Learn more</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- License -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>License</h2>	
	<p>To use Drone2Map, you must have an ArcGIS organizational account that has been configured with a Drone2Map for ArcGIS license. for details about assigning licenses to named users in ArcGIS Online please see <a href="http://ideas.arcgis.com/ideaList?c=09a300000004xET&category=Esri+Maps+for+Office" target="_blank">Drone2Map for ArcGIS Free Trial Guide</a>.</p>
	
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>What's new</h2>	
	<p>Drone2Map for ArcGIS 1.0 release is now available. This release includes the following new features and enhancements:</p>

			<ul>
			<li>Exciting new user interface and color scheme.</li>
			<li>Authorize Drone2Map to work offline for working in a disconnected environment.</li>
			<li>Register multiple Portals for adding and sharing content.</li>
			<li>New 2D Mapping and 3D Mapping templates to allow you to build only the products you need from your drone data.</li>
			<li>Create scene layer packages from textured meshes and share as a scene layer in ArcGIS Online or Portal.</li>
			<li>Toggle between 2D and 3D views within the application.</li>
			<li>Download a portion of your basemaps for offline use.</li>
			<li>Import and create Ground Control Points (GCPs) for improved data accuracy.</li>
			<li>Export your GCPs for easy re-use.</li>
			<li>Define the extent of output products by drawing a polygon or importing shapefile to define clip area.</li>
			</ul>



<!-- System requirements -->
	<hr />
	<a id="supportedEnvironments"></a>
	<p>The following description shows the minimum and recommended requirements for running Drone2Map for ArcGIS.</p>
        <h2>Supported platforms</h2>
		<ul>
			<li>Windows 7 SP1 Ultimate, Enterprise, Professional, and Home Premium (64 bit)</li>
			<li>Windows 8 Basic, Pro, and Enterprise (64 bit)</li>
			<li>Windows 8.1 Basic, Pro, and Enterprise (64 bit)</li>
			<li>Windows 10 Home, Pro, and Enterprise (64 bit)</li>
		</ul>
		
	    <h2>Hardware requirements</h2>
		<p>Minimum</p>
		<ul>
			<li>Any CPU (Intel i5/i7/Xeon recommended).</li>
			<li>Any GPU that is compatible with OpenGL 3.2. (Integrated graphic cards Intel HD 4000 or above).</li>
			<li>Small projects (under 100 images at 14 MP): 4 GB RAM, 10 GB HDD Free Space.</li>
			<li>Medium projects (between 100 and 500 images at 14 MP): 8 GB RAM, 20 GB HDD Free Space.</li>
			<li>Large projects (between 500 and 2000 images at 14 MP): 16 GB RAM, 40 GB HDD Free Space.</li>
			<li>Very Large projects (over 2000 images at 14 MP): 16 GB RAM, 80 GB HDD Free Space.</li>
		</ul>
		
		<p>Recommended</p>
		<ul>
			<li>Windows 7 SP1 Ultimate, Enterprise, Professional, and Home Premium (64 bit)</li>
			<li>Windows 8 Basic, Pro, and Enterprise (64 bit)</li>
			<li>Windows 8.1 Basic, Pro, and Enterprise (64 bit)</li>
			<li>Windows 10 Basic, Pro, and Enterprise (64 bit)</li>
			<li>CPU quad-core or hexa-core Intel i7/Xeon.</li>
			<li>GeForce GPU compatible with OpenGL 3.2 and 2 GB RAM.</li>
			<li>Hard disk: SSD.</li>
			<li>Small projects (under 100 images at 14 MP): 8 GB RAM, 15 GB SSD Free Space.</li>
			<li>Medium projects (between 100 and 500 images at 14 MP): 16GB RAM, 30 GB SSD Free Space.</li>
			<li>Large projects (over 500 images at 14 MP): 32 GB RAM, 60 GB SSD Free Space.</li>
			<li>Very Large projects (over 2000 images at 14 MP): 32 GB RAM, 120 GB SSD Free Space.</li>
		</ul>
		
		<!-- script for collapsible headings
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> -->
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
           <li><a href="#whatsNew">What's new</a></li>
			<li><a href="/en/drone2map/quick-start-guides/">Quick Start Guides</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'https://blogs.esri.com/esri/arcgis/tag/drone2map/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>