---
title: Web AppBuilder per ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="it">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/web-appbuilder/">Web AppBuilder per ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/it/web-appbuilder/">Home</a></li>
        <li><a href="/it/web-appbuilder/create-apps/">Creare app</a></li>
        <li><a href="/it/web-appbuilder/manage-apps/">Gestire app</a></li>
        <li><a href="/it/web-appbuilder/extend-apps/">Estendere app</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Creare potenti app GIS eseguibili su qualsiasi dispositivo. Non è necessario scrivere codice.</h3>
	<h5>Per vedere ciò che hanno creato gli altri, fare clic su <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinque minuti per creare la prima app</h3>
          
          <p>
            <a href="/it/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configurazione facile</h3>
          <p>Creare applicazioni con un semplice generatore di configurazione.</p>
          <p>
            <a href="/it/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configurare app</a> <a href="/it/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configurare widget</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Esportare modelli</h3>
          <p>Creare modelli di applicazioni configurabili che vengono aggiunti alla galleria di applicazioni dell'organizzazione. 
          <p>
            <a href="/it/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Creare widget & temi</h3>
          <p>È possibile scaricare e ospitare l'app sul proprio server web. Inoltre, è possibile estendere l'app aggiungendo widget e temi personalizzati.</p>
          <p>
            <a href="/it/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Browser supportati</h2>
		<p>L'app 2D supporta i seguenti browser:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 e versione successiva</li>
		  <li>Segmento</li>
          <li>Internet Explorer 9 e versioni successive</li>
        </ul>
		<p>L'app 3D supporta i seguenti browser:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 e versione successiva</li>
		  <li>Segmento</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Licenza</h2>

        <p>Per utilizzare Web Appbuilder, è necessario disporre di un account aziendale ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Caratteristiche principali</h2>
        <ul>
          <li>Crea app HTML/JavaScript eseguibili su qualsiasi dispositivo.</li>
          <li>Crea le app necessarie utilizzando widget pronti all'uso.</li>
          <li>Consente di personalizzare l'aspetto delle app con temi configurabili.</li>
          <li>Consente di ospitare le app online o di eseguirle nel proprio server.</li>
          <li>Consente di creare modelli di app personalizzati.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Novità</h2>
        <p>Web AppBuilder for ArcGIS è stato aggiornato a giugno 2016. Include le seguenti nuove feature e miglioramenti:</p>
        <ul>
          <li>Aggiunto stile Selettore colore nei temi per poter scegliere il proprio colore o abbinare la tavolozza colori approvata dell'agenzia.</li>
		  <li>È possibile impostare caratteri personalizzati per il titolo e il sottotitolo dell'app nella scheda Attributi.</li>
		  <li>È possibile configurare i servizi ArcGIS Online Premium e i contenuti premium per l'accesso pubblico nella scheda Attributo.</li>
          <li>Il nuovo widget Seleziona comunica con altri widget per eseguire azioni sulle feature selezionate.</li>
		  <li>Il nuovo widget Condividi consente un'esperienza di condivisione social delle app.</li>
		  <li>Il nuovo widget Aggiungi dati consente agli utenti finali di cercare layer in ArcGIS Online e immettere URL per aggiungere dati alla mappa.</li>
          <li>Il nuovo widget Filtro consente di filtrare le feature in base a un'espressione. Atri widget rispetteranno le impostazioni filtro, se applicabili. </li>
		  <li>Il nuovo widget Smart Editor estende il widget di modifica principale, ad esempio attributi Smart, preimpostando valori campo, convalida record e visualizzando popup durante la modifica.</li>
          <li>Il nuovo widget Viewer obliquo visualizza immagini nel sistema di coordinate nativo utilizzando il sistema di coordinate dell'immagine. Questo consente all'utente di eseguire il pan in modalità obliqua, in un singolo angolo di visualizzazione, o cambiare gli angoli per visualizzare un'area di interesse da angoli diversi.</li>
		  <li>Il nuovo widget Filtro gruppo consente di creare raggruppamenti di layer cui applicare un filtro valore. È possibile salvare e ricaricare i raggruppamenti definiti per ritornare in qualsiasi momento e riprendere il lavoro.</li>
          <li>Il widget Riepilogo informazioni non è più in versione beta. Questo widget consente di fornire un conteggio e visualizzare un elenco di feature contenute nell'estensione mappa corrente per ogni layer specificato. I layer punto configurati nel widget possono essere facoltativamente visualizzati come cluster.</li>
		  <li>Il widget Interrogazione aggiunge relazioni spaziali, ad esempio interseca, sovrapponi e contieni per eseguire l'interrogazione rispetto alle feature in un altro layer.</li>
		  <li>Il widget Modifica include opzioni per modello di feature tolleranza e filtro.</li>
		  <li>La selezione di record nella Tabella attributi evidenzia le relative feature sulla mappa e viceversa. </li>
		  <li>Il widget Geoprocessing accetta un insieme di feature come input da un layer, un popup, un widget Interrogazione o Seleziona.</li>
		  <li>Il widget Elenco layer consente di scegliere i layer da visualizzare nell'elenco. È anche possibile controllare la visibilità di tutti i layer.</li>
		  <li>Il widget Nelle vicinanze è stato migliorato con parametri di configurazione aggiuntivi che includono la possibilità di visualizzare il buffer sulla mappa, restituire poligoni intersecanti anziché poligoni memorizzati nel buffer ed eseguire lo zoom alle feature selezionate anziché al buffer.</li>
		  <li>Il widget District Lookup è stato migliorato per supportare poligoni impilati.</li>
		  <li>Il widget Grafici della tabella correlati è stato migliorato per supportare grafici polari.</li>
		  <li>Il widget 3DFx esistente è stato migliorato per includere più effetti per animazione 3D.</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versioni supportate di ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder supporta ArcGIS API for JavaScript 3.17.</p>

        <h3>Lingue supportate</h3>
        <p> Arabo, Ceco, Cinese semplificato, Cinese tradizionale (Hong Kong), Cinese tradizionale (Taiwan), Coreano, Croato, Danese, Ebraico, Estone (, ), Finlandese, Francese, Greco, Inglese, Italiano, Giapponese, Lettone (, ), Lituano (, ), Norvegese, Olandese, Polacco, Portoghese (Brasile), Portoghese (Portogallo), Rumeno, Russo, Serbo, Spagnolo, Svedese, Tailandese, Tedesco, Turco e Vietnamita.</p>
        <p>La lingua utilizzata dall'app dipende dalla lingua impostata nel browser.</p>

        <p>Vi invitiamo a condividere le vostre <a href="http://ideas.arcgis.com/">idee</a> e a <a href="http://support.esri.com/en/">inviarci commenti e suggerimenti</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Dettagli</h3>
          
          <h4><a href="#features">Caratteristiche principali</a></h4>
          <h4><a href="#supportedBrowsers">Browser supportati</a></h4>
          <h4><a href="#license">Licenza</a></h4>
          <h4><a href="#whatIsNew">Novità</a></h4>
          <h4><a href="#supportedAPI">Versioni supportate di ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Altri post del blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussioni su GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Avviare una discussione</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Ulteriori informazioni</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
