---
title: Web AppBuilder per ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="it">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/web-appbuilder/">Web AppBuilder per ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/it/web-appbuilder/">Home</a></li>
        <li><a href="/it/web-appbuilder/create-apps/">Creare app</a></li>
        <li><a href="/it/web-appbuilder/manage-apps/">Gestire app</a></li>
        <li><a href="/it/web-appbuilder/extend-apps/">Estendere le app</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Creare potenti app GIS eseguibili su qualsiasi dispositivo. Non è necessario scrivere codice.</h3>
	<h5>Per vedere ciò che hanno creato gli altri, fare clic su <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinque minuti per creare la prima app</h3>
          
          <p>
            <a href="/it/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configurazione facile</h3>
          <p>Creare applicazioni con un semplice generatore di configurazione.</p>
          <p>
            <a href="/it/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configurare app</a> <a href="/it/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configurare widget</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Esportare modelli</h3>
          <p>Creare modelli di applicazioni configurabili che vengono aggiunti alla galleria di applicazioni dell'organizzazione. 
          <p>
            <a href="/it/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Creare widget & temi</h3>
          <p>È possibile scaricare e ospitare l'app sul proprio server web. Inoltre, è possibile estendere l'app aggiungendo widget e temi personalizzati.</p>
          <p>
            <a href="/it/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Browser supportati</h2>
		<p>L'app 2D supporta i seguenti browser:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 e versione successiva</li>
		  <li>Segmento</li>
          <li>Internet Explorer 9 e versioni successive</li>
        </ul>
		<p>L'app 3D supporta i seguenti browser:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari</li>
		  <li>Segmento</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Licenza</h2>

        <p>Per utilizzare Web Appbuilder, è necessario disporre di un account aziendale ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Caratteristiche principali</h2>
        <ul>
          <li>Crea app HTML/JavaScript eseguibili su qualsiasi dispositivo.</li>
          <li>Crea le app necessarie utilizzando widget pronti all'uso.</li>
          <li>Consente di personalizzare l'aspetto delle app con temi configurabili.</li>
          <li>Consente di ospitare le app online o di eseguirle nel proprio server.</li>
          <li>Consente di creare modelli di app personalizzati.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Novità</h2>
        <p>Web AppBuilder for ArcGIS è stato aggiornato a marzo 2016. Include le seguenti nuove feature e miglioramenti:</p>
        <ul>
          <li>Un'esperienza di creazione migliorata consente di modificare la mappa dall'interno di Web AppBuilder for ArcGIS; non è più necessario lasciare l'app.</li>
          <li>È ora possibile creare app 3D con scene mediante il pulsante Crea in I miei contenuti.</li>
          <li>La scheda Attributo dispone di una nuova opzione Stato app. Questa opzione consente di scegliere se mantenere l'estensione mappa e la visibilità layer quando si lascia l'app.</li>
          <li>Il widget Consapevolezza situazionale è stato rilasciato. Non è più in versione beta. Questo widget consente di creare o selezione un incidente sulla mappa e di analizzare le informazioni da feature layer, all'interno dell'area dell'incidente o entro una distanza dall'incidente specificata.</li>
          <li>Utilizzare il nuovo widget Nelle vicinanze per individuare feature vicino a una posizione specificata, visualizzare informazioni più dettagliate su tali feature e ottenere indicazioni stradali a una feature selezionata.</li>
		  <li>Utilizzare il nuovo widget DistrictLookup per individuare feature punto correlate a un poligono selezionato, visualizzare informazioni più dettagliate sulle feature punto correlate e ottenere indicazioni a una feature punto selezionata.</li>
          <li>Utilizzare il nuovo widget Grafici della tabella correlati per rappresentare (con grafici a barre o a torta) i valori gestiti in una tabella correlata.</li>
		  <li>Utilizzare il nuovo widget Riepilogo informazioni per riepilogare il numero di feature visibili su una mappa e abilitare il clustering su feature layer punto, se necessario.</li>
          <li>Utilizzare il nuovo tema Altopiano per creare un'app moderna e di stile minimalista con barre degli strumenti piatte e contenitori widget.</li>
		  <li>Il widget Modifica include un campo di visualizzazione nella pagina di impostazione che consente di scegliere gli attributi da visualizzare solo quando si esegue la modifica.</li>
		  <li>È possibile aprire il widget Modifica direttamente nell'app mediante la finestra popup.</li>
		  <li>Il widget Elaborazione dati geografici consente di aggiungere un'opzione per caricare shapefile.</li>
		  <li>Il widget per la ricerca supporta la ricerca locale e include le opzioni N. massimo suggerimenti e Scala zoom.</li>
		  <li>La tabella Attributo consente di copiare valori del campo nella tabella e applicare lo zoom alla feature nella mappa quando si fa doppio clic su di essa. È anche possibile configurare l'opzione Filtra per estensione mappa.</li>
		  <li>L'URL della modalità di viaggio non è richiesta quando il widget Indicazioni stradali è accessibile pubblicamente.</li>
		  <li>Il widget Coordinata è stato migliorato per supportare il sistema di coordinate con WKID 102460.</li>
		  <li>Il widget Stampa visualizza opzioni di layout in base ai metadati dei modelli.</li>
		  <li>Il widget Analisi consente di scaricare il risultato in formato GeoJson o CSV e di aggiungere un nuovo strumento Scegli strutture migliori.</li>
		  <li>Per meglio visualizzare il risultato della generazione di grafici utilizzare lo strumento Ingrandisci.</li>
		  <li>È possibile controllare quando attivare o disattivare il layout per dispositivi mobili specificando le dimensioni dello schermo con il parametro URL mobileBreakPoint.</li>
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versioni supportate di ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder supporta ArcGIS API for JavaScript 3.16.</p>

        <h3>Lingue supportate</h3>
        <p> Arabo, Ceco, Cinese semplificato, Cinese tradizionale (Taiwan), Cinese tradizionale (Hong Kong), Coreano, Danese, Ebraico, Estone, Finlandese, Francese, Greco, Inglese, Italiano, Giapponese, Lettone, Lituano, Norvegese, Olandese, Polacco, Portoghese (Brasile), Portoghese (Portogallo), Rumeno, Russo, Spagnolo, Svedese, Tailandese, Tedesco, Turco e Vietnamita.</p>
        <p>La lingua utilizzata dall'app dipende dalla lingua impostata nel browser.</p>

        <p>Vi invitiamo a condividere le vostre <a href="http://ideas.arcgis.com/">idee</a> e a <a href="http://support.esri.com/en/">inviarci commenti e suggerimenti</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Dettagli</h3>
          
          <h4><a href="#features">Caratteristiche principali</a></h4>
          <h4><a href="#supportedBrowsers">Browser supportati</a></h4>
          <h4><a href="#license">Licenza</a></h4>
          <h4><a href="#whatIsNew">Novità</a></h4>
          <h4><a href="#supportedAPI">Versioni supportate di ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Dal blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Altri post del blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussioni su GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Avviare una discussione</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Ulteriori informazioni</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
