---
title: Uzticamība — sistēmas statuss
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="lv">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/lv/trust/">Uzticamība ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online uzticamība" href="/lv/trust/">Uzticamība</a></li>
        <li class='current'><a title="ArcGIS Online sistēmas statuss" href="/lv/trust/system-status/">Sistēmas statuss</a></li>
        <li><a title="ArcGIS Online drošība" href="/lv/trust/security/">Drošība</a></li>		
        <li><a title="ArcGIS Online konfidencialitāte" href="/lv/trust/privacy/">Konfidencialitāte</a></li>
        <li><a title="ArcGIS Online konfidencialitāte" href="/lv/trust/compliance/">Atbilstība</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Kļūda: nevarēja parādīt iegultos datus.</iframe>
        </div>
 </div>

<div>
	<p>Informācijas panelī ArcGIS Online Health Dashboard ir nodrošināta statusu informācija, kas ir atzīta par tādu, kas ietekmē lielāko daļu mūsu lietotāju. Tā kā ArcGIS Online ir apjomīga mākonī izvietota platforma, daudzi notikumi lielāku lietotāju skaitu ietekmē ierobežoti (vai arī neietekmē nemaz). Šajā statusu lapā netiek publicēta informācija par organizācijai raksturīgām problēmām, jo mēs veicinām to atrisināšanu, izmantojot mūsu pieejamos atbalsta pakalpojumus.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
