---
css:
- support

mobile: true
title: Support

collection: all
metatags: 
- <meta name='product' content=''><meta name='content_type' content='Help Topic'><meta name='sub_category' content=''><meta name='content-language' content='en'><meta name='search-collection' content='help'><meta name='content_type_label' content='Help Topic'><meta name='sub_category_label' content=''><meta name='search-category' content='help-general'><meta name='subject_label' content='Esri Community Maps'><meta name='subject' content='Living Atlas of the World'>
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/community-maps/">Esri Community Maps Support</a></h1>
	   <nav>
      <ul>
        <li class='current'><a href="/en/community-maps/#">Home</a></li>
        <li><a href="/en/community-maps/how-it-works/">How it works</a></li>
        <li><a href="/en/community-maps/how-to-contribute/">Contribute</a></li>
		<li><a href="/en/community-maps/who-is-participating/">Participants</a></li>
        <li><a href="/en/community-maps/using-community-maps/">Use</a></li>
        <li><a href="/en/community-maps/support/">Support</a></li>
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
    
    <section class="support-option tres-col">
      <h3 class="icon-comment icon-green divider">Community Support</h3>
      <p>Keep up with the latest information and find answers to questions posted by members of the Living Atlas community on <B>GeoNet</B> and Twitter.</p>
      <ul>
        <li><a href="https://geonet.esri.com/groups/livingatlas">Living Atlas of the World Discussion Group</a></li>
        <li><a href="https://twitter.com/AGOL_CM_Program">Follow us on Twitter</a></li>
      </ul>
    </section>
    <section class="support-option tres-col">
      <h3 class="icon-settings-2 icon-red divider">Self-Service Support</h3>
      <p>Read the Community Maps blog, download self-study training materials or watch a collection of videos to learn more.</p>
      <ul>
        <li><a href="http://blogs.esri.com/esri/arcgis/category/subject-community-maps/">Blog</a></li>
        <li><a href="http://video.arcgis.com/series/213">Archived Webinars</a></li>
        <li><a href="http://video.arcgis.com/series/24/community-maps-program">Videos</a></li>
		<li><a href="http://www.arcgis.com/home/item.html?id=629e222c37a04b5a80458eee3d9fb760"> Self-study Workshop: Preparing Data For Community Maps using the LGIM</a></li>
		<li><a href="http://www.arcgis.com/home/item.html?id=5fe73efb3e8a485699ee541ea4cc5e4c"> Self-study Workshop: Building a Campus Basemap</a></li>
      </ul>
   </section>
  </div>
  
  <div class="row">
    <section class="support-option tres-col">
     <h3 class="icon-light-bulb icon-orange divider">ArcGIS Ideas</h3>
      <p>Submit your ideas for future enhancements to Esri Community Maps and the Living Atlas of the World, and help prioritize what is important to the community.</p>
      <ul>
        <li><a href="http://ideas.arcgis.com/apex/ideaSearchResults?s=Community+Maps&searchButton=search">ArcGIS Ideas</a></li>
      </ul>
    </section>
	<section class="support-option tres-col">
      <h3 class="icon-compass icon-blue divider">Instructor-led Training</h3>
      <p>Browse our event calendar to find the next on-site or online Community Maps workshop or presentation.</p>
      <ul>
        <li><a href="https://geonet.esri.com/groups/place-calendar.jspa?containerType=700&container=1215">Community Maps Events</a></li>
      </ul
    </section>
   
  </div>
	
</div>
