---
title: Collector for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/app-collector-1

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-12-15"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="pl"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Collector for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="http://www.arcgis.com/features/free-trial.html">Bezpłatna, 60-dniowa wersja próbna</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/pl/collector/">Strona główna</a>
        <a class="sub-nav-link" href="/pl/collector/overview/overview.htm">Przegląd</a>
        <a class="sub-nav-link" href="/pl/collector/android/create-maps/create-maps.htm">Tworzenie map</a>
        <a class="sub-nav-link" href="/pl/collector/android/collect-data/collect-tutorial.htm">Gromadzenie danych</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Daj możliwość tworzenia map pracownikom w terenie</h1>
      <h5>Używaj smartfonu lub tabletu do gromadzenia i aktualizacji informacji w terenie bez względu na dostępność połączenia z siecią.</h5>
      <!--h5>Start using ArcGIS Online now. <a href="http://www.arcgis.com/features/free-trial.html" >Sign up for your free ArcGIS trial.</a></h5-->
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Szukaj w pomocy aplikacji Collector">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="collector-android" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
      <!-- download badges -->
      <p class="trailer-0 leader-half font-size--2">
        <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="img/ios-app.png" alt="Pobierz w sklepie App Store" style="margin:10px; vertical-align:middle"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Pobierz ją w sklepie Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="height:58px; margin:10px; vertical-align:middle"/></a>
        <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Pobierz w sklepie Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/pl/collector/overview/what-s-new.htm">Co nowego</a></li>
	<li><a href="/pl/collector/overview/requirements.htm">Wymagania</a></li>
        <li><a href="/pl/collector/overview/sneak-peek.htm">Wkrótce</a></li>
	<li><a href="/pl/collector/android/create-maps/faqs-create-map.htm">Często zadawane pytania dotyczące tworzenia map</a></li>
	<li><a href="/pl/collector/android/collect-data/faqs-collect.htm">Często zadawane pytania dotyczące gromadzenia danych</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/pl/collector/android/create-maps/create-maps.htm">
            <img alt="" src="img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/pl/collector/android/create-maps/create-maps.htm">Tworzenie i udostępnianie mapy</a>
          </h5>
          <p>Korzystaj z oprogramowania ArcGIS także w terenie, zwiększ precyzję i aktualność danych przestrzennych. Tworzenie i udostępnianie map przeznaczonych do gromadzenia danych jest procesem dwuetapowym.</p>
        </div>
        <a href="/pl/collector/android/create-maps/create-maps.htm" class="btn btn-clear btn-fill leader-0">Rozpocznij ćwiczenie</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/pl/collector/android/collect-data/collect-tutorial.htm">
            <img alt="" src="img/collectData.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/pl/collector/android/collect-data/collect-tutorial.htm">Gromadzenie danych</a>
          </h5>
          <p>Twórz dane do celów swojej instytucji, od raportów o szkodach i zgłoszeń serwisowych po lokalizacje powiązane z historycznymi danymi. Możesz łatwo załączać zdjęcia oraz filmy wideo i udostępniać swoją pracę.</p>
        </div>
        <nav>
          <a href="/pl/collector/android/collect-data/collect-tutorial.htm" class="btn btn-grouped btn-clear btn-half leader-0">Rozpocznij</a>
          <a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">Obejrzyj</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/pl/collector/android/collect-data/offline-use.htm">
            <img alt="" src="img/offline.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/pl/collector/android/collect-data/offline-use.htm">Praca w trybie offline</a>
          </h5>
          <p>Praca w terenie wiąże się z wykonywaniem zadań w miejscach bez dostępu do sieci. Pracuj z mapami i danymi w trybie offline, gromadź informacje i synchronizuj zmiany, gdy połączenie z siecią będzie możliwe.</p>
        </div>
        <a href="/pl/collector/android/collect-data/offline-use.htm" class="btn btn-clear btn-fill leader-0">Dowiedz się jak</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/pl/collector/android/create-maps/gps-high-accuracy-receivers.htm">
            <img alt="" src="img/highAccuracy.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/pl/collector/android/create-maps/gps-high-accuracy-receivers.htm">Uzyskaj dokładność wymaganą do zastosowań profesjonalnych</a>
          </h5>
          <p>Przy użyciu odbiornika o wysokiej dokładności można wykonywać pomiary z dokładnością do centymetrów. Pewne przechwytywanie i rejestrowanie metadanych GPS pozwala ocenić jakość danych.</p>
        </div>
        <nav>
          <a href="/pl/collector/android/create-maps/gps-high-accuracy-receivers.htm" class="btn btn-grouped btn-clear btn-half leader-0">Skonfiguruj</a>
          <a href="/pl/collector/android/collect-data/high-accuracy-gps.htm" class="btn btn-grouped btn-clear btn-half leader-0">Użyj</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Dowiedz się, jak jeszcze można wykorzystać system ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Połącz się z aplikacją Collector</h4>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/collector-tools"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Czytaj nasz blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/collector/">Więcej wpisów z blogu</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/collector/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Dołącz do konwersacji
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Więcej dyskusji</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2120" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
