---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pl/collector/">Strona główna</a></li>
        <li><a href="/pl/collector/android/create-maps/create-maps.htm">Tworzenie map</a></li>
        <li><a href="/pl/collector/android/collect-data/collect-tutorial.htm">Zbieranie danych</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Korzystaj ze smartfona lub tabletu do gromadzenia i aktualizacji informacji w terenie bez względu na dostępność połączenia z siecią.</h3>

	  <!--           <span id="appVersion"><strong>Version:</strong> 10.2.2</span>           <span id="appReleased"><strong>Released:</strong> March 2014</span> 	  -->
	  

        <p>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Tworzenie i udostępnianie mapy</h3>
          <p>Udostępnij możliwość korzystania z oprogramowania ArcGIS w terenie i zwiększ precyzję i aktualność danych przestrzennych. Tworzenie i udostępnianie map do gromadzenia danych jest procesem dwuetapowym.</p>
          <p>
            <a href="/pl/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Gromadzenie danych</h3>
          <p>Twórz dane istotne dla własnej instytucji, korzystając z raportów dotyczących szkód oraz żądań usług dotyczących miejsc o wartości historycznej. Możesz łatwo załączać zdjęcia oraz filmy wideo i udostępniać swoją pracę.</p>
          <p>
            <a href="/pl/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Zapoznaj się z materiałem wideo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Praca w trybie offline</h3>
          <p>Praca w terenie wiąże się z wykonywaniem zadań w miejscach niezapewniających dostępu do sieci. Pracuj z mapami i danymi w trybie offline, gromadź informacje i synchronizuj zmiany, gdy połączenie z siecią będzie możliwe.</p>
          <p>
            <a href="/pl/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Szybki start dzięki szablonom</h3>
          <p>W większości branż używane są określone zestawy danych. Pobierz szablony, aby utworzyć podstawową strukturę danych, której potrzebujesz i dostosuj ją do konkretnego zadania.</p>
          <p>
            <a href="http://esri.maps.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Wyświetl liczbę pobrań</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Charakterystyka</h2>
	<p>Gromadź i aktualizuj dane w terenie, twórz dziennik bieżącej lokalizacji i stosuj pozyskane dane w pracy, aby podejmować bardziej świadome i szybsze decyzje. Korzystaj z map w dowolnym miejscu i zwiększaj precyzję danych, dokonuj obserwacji i reaguj na wydarzenia. Pozwoli to na poprawienie efektywności pracowników terenowych oraz dokładności danych GIS.</p>
	
	<ul>
	<li>Pobieranie map na urządzenie i praca w trybie offline.</li>
	<li>Używanie systemu GPS do tworzenia i aktualizacji danych na mapie.</li>
	<li>Dodawanie obiektów punktowych, liniowych i poligonowych.</li>
	<li>Wypełnianie łatwych w użyciu formularzy map.</li>
	<li>Wyszukiwanie miejsc i wyznaczanie tras</li>
	<li>Śledzenie i raportowanie odwiedzanych obszarów.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Wymagania systemowe</h2>

        <p>Aby uruchomić aplikację Collector, należy spełniać określone wymagania wobec urządzenia oraz wymagania w zakresie danych używanych w aplikacji. Aplikacja Collector obsługuje szereg różnych języków.</p>


        <h3>Wymagania w zakresie danych</h3>
        <p>Aby używać map w aplikacji Collector, należy posiadać konto instytucji ArcGIS. Mapy mogą zawierać dane z ArcGIS Online, Portal for ArcGIS i ArcGIS for Server.</p>


        <h3>Wymagania wobec urządzenia</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>lub nowszy</li>
          <li>Procesor Armv7</li>
          <li>Obsługa interfejsu OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td><tr></table>


        <h3>Obsługiwane języki</h3>
        <p>angielski, arabski, chiński (uproszczony), czeski, duński, estoński (<span class="icon-android"/>), fiński, francuski, hebrajski, hiszpański, holenderski, japoński, koreański, litewski (<span class="icon-android"/>), łotewski (<span class="icon-android"/>), niderlandzki, niemiecki, norweski, polski, portugalski (brazylijski), portugalski (portugalski), rumuński, rosyjski, szwedzki, turecki i włoski</p>
        <p>Język używany w aplikacji zależy od ustawień językowych urządzenia.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Co nowego</h2>
        <p>Aplikacja Collector for ArcGIS 10.2.2 została opublikowana w marcu 2014 r. i zawiera następujące ulepszenia:</p>
        <ul>
        <li>Obsługa pracy w trybie offline</li>
        <li>Zaktualizowane środowisko użytkownika</li>
        <li>Usunięcie wielu usterek i wprowadzenie poprawek</li>
        <li>Obsługa dodatkowych języków</li>
        <li>Rozwiązanie problemów związanych z systemem Android: NIM098281, NIM096128, NIM098076</li>
        <!-- <li>iOS issues addressed: N/A at 10.2.2</li> -->
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">Zapowiedź</h2>
	<p>Obecnie aplikacja Collector to świetne narzędzie do gromadzenia i edycji danych w terenie. To jednak nie wszystko! Poniższa lista podaje udoskonalenia, które chcielibyśmy wprowadzić do aplikacji:</p>
	
	<ul>
	  <li>Więcej narzędzi do planowania zadań wykonywanych podczas pracy w trybie offline w terenie</li>
	  <li>Ulepszone inteligentne formularze dodawania danych (w tym także tabele powiązane)</li>
	  <li>Możliwość wyszukiwania danych<li>
	  <li>Dodawanie danych z użyciem przesunięć<li>
	  <li>Obsługa tymczasowego dodawania</li>
	  <li>Integracja urządzeń zewnętrznych (dalmierzy laserowych, skanerów kodów kreskowych itp.).</li>
	</ul>	
	
	<p>Podziel się <a href="http://ideas.arcgis.com/">pomysłami</a> i <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">prześlij nam swoją opinię</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Szczegóły</h3>
	          
	  <h4><a href="#features">Charakterystyka</a></h4>
	  <h4><a href="#systemRequirements">Wymagania systemowe</a></h4>
	  <h4><a href="#whatsNew">Co nowego</a></h4>
	  <h4><a href="#sneakPeek">Zapowiedź</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Na naszym blogu</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
