---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Strona główna</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Tworzenie map</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Zbieranie danych</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Pobierz aplikację</h2>
          <span id="appVersion"><strong>Wersja:</strong> 10.2</span> <span id="appReleased"><strong>Opublikowana:</strong> Listopad 2013</span>


          <p>Korzystaj ze smartfona do zbierania i aktualizacji danych w terenie, twórz dziennik bieżącej lokalizacji i stosuj pozyskane dane w pracy, co pozwoli na podejmowanie bardziej świadomych i terminowych decyzji.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Wymagania systemowe</a> <a id="appWhatsNew" href="#whatsNew">Co nowego</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Tworzenie i udostępnianie mapy</h3>
          <p>Udostępnij możliwość korzystania z oprogramowania ArcGIS w terenie i zwiększ precyzję i aktualność danych przestrzennych. Tworzenie i udostępnianie map do gromadzenia danych to dwuetapowy proces.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Dowiedz się, jak to zrobić</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Zbieranie danych</h3>
          <p>Wyszukiwanie punktów POI, obliczanie odległości, tworzenie żądań usług oraz raportowanie szkód — to tylko niektóre z funkcji, jakie udostępnia mapa do gromadzenia danych. Twórz inteligentne zestawy danych z obrazami i zawartością wideo i udostępniaj je światu w pięciu krokach.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Pokaż mi, jak to zrobić</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Zapoznaj się z materiałem wideo.</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Wymagania systemowe</h2>

        <p>Aby uruchomić aplikację Collector, należy spełniać określone wymagania wobec urządzenia oraz wymagania w zakresie danych używanych w aplikacji. Aplikacja Collector obsługuje szereg różnych języków.</p>


        <h3>Wymagania w zakresie danych</h3>
        <p>Aby używać map w aplikacji Collector, należy posiadać konto instytucji ArcGIS. Mapy mogą zawierać dane z serwisu ArcGIS Online, Portal for ArcGIS i programu ArcGIS for Server.</p>


        <h3>Wymagania wobec urządzenia</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>lub nowszy</li>
          <li>Procesor Armv7</li>
          <li>Obsługa interfejsu OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS w wersji 6 lub nowszej</li>
        </ul></td><tr></table>


        <h3>Obsługiwane języki</h3>
        <p>angielski, arabski, chiński (uproszczony), czeski, duński, estoński (<span class="icon-android"/>), fiński, francuski, hebrajski, hiszpański, japoński, koreański, litewski (<span class="icon-android"/>), łotewski (<span class="icon-android"/>), niderlandzki, niemiecki, norweski, polski, portugalski (brazylijski), portugalski (portugalski), rumuński, rosyjski, szwedzki i włoski</p>
        <p>Język używany w aplikacji zależy od ustawień języka w telefonie.</p>


        <a name="whatsNew"></a>
        <h2>Co nowego</h2>
        <p>Aplikacja Collector for ArcGIS w wersji 10.2 została opublikowana w listopadzie 2013 r. i zawiera następujące udoskonalenia:</p>
        <ul>
        <li>Zaktualizowane środowisko użytkownika</li>
        <li>Środowisko użytkownika przystosowane do pracy za pomocą tabletów i iPadów</li>
        <li>Obsługa dodawania linii i poligonów</li>
        <li>Przesyłanie sygnału GPS</li>
        <li>Udoskonalone przepływy pracy dodawania</li>
        <li>Udoskonalenia w zakresie reakcji mapy na dotyk</li>
        <li>Usunięcie wielu usterek i wprowadzenie poprawek</li>
        <li>Obsługa loginów korporacyjnych</li>
        <li>Obsługa dodatkowych języków</li>
        <li>Rozwiązanie problemów związanych z systemem Android: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Rozwiązanie problemów związanych z systemem iOS: NIM094438, NIM094401</li>
        </ul>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Rozpocznij</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Przewodnik</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Tworzenie i udostępnianie mapy</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Zbieranie danych</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Na naszym blogu</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
