---
title: Trust
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="搜索 Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/zh-cn/trust/">Trust</a></li>
        <li><a title="ArcGIS Online 系统状态" href="/zh-cn/trust/system-status/">系统状态</a></li>
        <li><a title="ArcGIS Online 安全性" href="/zh-cn/trust/security/">安全性</a></li>
        <li><a title="ArcGIS Online 隐私" href="/zh-cn/trust/privacy/">隐私</a></li>
        <li><a title="ArcGIS Online 隐私" href="/zh-cn/trust/compliance/">兼容性</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS Online 是一种具有受控访问功能的安全系统</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="安全性数据所有权" />
	      <div style="padding-top:30px; text-align: center;">
      <a href="/zh-cn/trust/system-status/" class="btn tertiary" style="width:75%;text-align:center;" >检查系统状态</a>
    </div>
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com 是您获取安全性、隐私和合规性信息的关键资源。包括： </p>
      <ul>
        <li>ArcGIS Online 服务可用性、系统性能信息和状态历史记录</li>
        <li>安全更新和当前警报</li>
        <li>ArcGIS Online 的产品安全性信息</li>
        <li>您所在组织的安全性最佳做法</li>
        <li>隐私和合规性信息</li>
      </ul>
      <p>Trust.ArcGIS.com 的灵感来源于我们与客户之间的对话。您希望看到哪些内容？如果您有任何建议，请将建议提交到 <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>。</p>
    </div>
    <div class="clear"></div>
    <div class="" style="text-align:center; padding-top:75px;">
      <h4>&ldquo;Esri 致力于不断提高其制图平台的安全性，并通过诸如 FISMA 等鉴定巩固客户的信任感。&rdquo;</h4>
      <p>Esri 安全架构主管 Michael Young</p>

    </div>
    <div style="text-align:center; padding-top:45px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div class="imgFrame block">
          <h3 class="icon-announcement">提醒和公告 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="rssIcon" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" title="ArcGIS Blog"><img src="img/rss.png" /></a></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
	  </div>
    <br />
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/zh-cn/trust/security-concern/"> 报告安全问题</a>  </h4>
    </div>
  </div>

 </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
