---
title: Segnala un problema di sicurezza
css:
  - homepage
  - /en/asset/css/common
  - /cdn/css/colorbox
  - /css/stat-page-specific
  - /css/feedback

js:
  - /cdn/js/libs/jquery.colorbox-min
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Trust ArcGIS</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear" href="/it/trust/system-status/">Verifica dello stato del sistema</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/" selected>Trust</option>
        <option value="/en/trust/system-status/">Stato di ArcGIS Online</option>
        <option value="/en/trust/security/">Sicurezza</option>
        <option value="/en/trust/privacy/">Privacy</option>
        <option value="/en/trust/compliance/">Conformità</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/it/trust/">Trust</a>
        <a class="sub-nav-link" href="/it/trust/system-status/">Stato di ArcGIS Online</a>
        <a class="sub-nav-link" href="/it/trust/security/">Sicurezza</a>
        <a class="sub-nav-link" href="/it/trust/privacy/">Privacy</a>
        <a class="sub-nav-link" href="/it/trust/compliance/">Conformità</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container feedback">
  <div class="column-24 leader-2 trailer-2">
    <div class="column-12 trailer-2">
      <div>
        <h2 data-langlabel="">Segnala un problema di sicurezza</h2>
        <p data-langlabel="">Compilare il modulo a destra inserendo tutte le informazioni necessarie e includendo dettagli sufficienti in merito al problema specifico. I recapiti inseriti verranno utilizzati per rispondere alla segnalazione. Selezionare un oggetto applicabile dal menu a discesa.</p>
    		<ul>
    			<li data-langlabel="">Vulnerabilità - per segnalare una vulnerabilità riscontrata nel sito o nell'applicazione Esri.</li>
    			<li data-langlabel="">Messaggio sospetto ricevuto da Esri - da utilizzare se si ritiene di aver subito un attacco phishing da un indirizzo e-mail Esri o di aver ricevuto messaggi sospetti di altri tipo da Esri.</li>
    			<li data-langlabel="">Problema di privacy - da utilizzare in caso di problema di privacy correlato al sito o all'applicazione Esri.</li>
    			<li data-langlabel="">Altro - da utilizzare per qualsiasi altro problema relativo alla sicurezza, alla privacy o alla conformità.</li>
    		</ul>
      </div>
      <hr>
      <div>
		    <h3 data-langlabel="">Criteri per la segnalazione di vulnerabilità</h3>
        <p data-langlabel="">Il team della sicurezza di ArcGIS.com riconosce il fondamentale ruolo dei ricercatori indipendenti nell'ambito della sicurezza Internet. Invita quindi a segnalare in modo responsabile eventuali vulnerabilità riscontrate nel sito o nell'applicazione Esri. Esri si impegna a collaborare con la community dedicata alla sicurezza allo scopo di verificare e rispondere a possibili vulnerabilità segnalate. Se non si osservano questi criteri, Esri intraprenderà azioni legali oppure avvierà un'indagine sull'utente.</p>
        <h4 data-langlabel="">ArcGIS.com <strong>non</strong> consente i seguenti tipi di ricerca sulla sicurezza</h4>
        <ul>
          <li data-langlabel="">Tentativo, riuscito o non riuscito, di causare una condizione di Denial of Service (DoS).</li>
          <li data-langlabel="">Utilizzo di strumenti di sicurezza automatizzati senza il consenso esplicito di Esri. L'utilizzo di tali strumenti può comportare l'avvio di un'indagine o il blocco dell'IP dell'utente.</li>
          <li data-langlabel="">Tentativo, riuscito o non riuscito, di accedere a dati o a informazioni di cui non si è proprietari.</li>
          <li data-langlabel="">Tentativo, riuscito o non riuscito, di distruggere o danneggiare dati o informazioni di cui non si è proprietari.</li>
        </ul>
        <h4 data-langlabel="">L'impegno del team della sicurezza di ArcGIS.com</h4>
        <p data-langlabel="">A tutti i ricercatori che si attengono ai criteri per la segnalazione di vulnerabilità di ArcGIS.com, il team della sicurezza di ArcGIS.com si impegna a:</p>
        <ul>
          <li data-langlabel="">Rispondere tempestivamente, confermando la ricezione della segnalazione.</li>
          <li data-langlabel="">Fornire una stima dei tempi per la risoluzione della vulnerabilità.</li>
          <li data-langlabel="">Informare l'utente che ha effettuato la segnalazione che il problema di vulnerabilità è stato risolto.</li>
        </ul>
        <div class="dropdown-navigation dropdown-wrapper regular">
          <span class="dropdown btn btn-fill btn-clear" data-langlabel="trust-researchers-title"> Ricercatori sulla sicurezza partecipanti al programma</span>
          <div class="dropdown-content">
            <div class="dropdown-menu">
              <p data-langlabel="trust-researchers-desc">Desideriamo ringraziare i seguenti ricercatori sulla sicurezza per la partecipazione al nostro programma di segnalazione responsabile:</p>
              <%= partial :"_partial/security_names" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column-11 right tablet-column-12">
      <div class="contact-form-signups panel">
        <div id="form-fields">
          <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
            <fieldset id="security-form-fieldset">
              <label data-langlabel="" for="name">Nome
                <input type="text" autocomplete="off" id="name" name="name">
              </label>
              <label data-langlabel="email-address" for="email-address">Indirizzo e-mail
                <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
              </label>
              <label data-langlabel="phone-number" for="phone-number">Numero telefonico
                <input type="text" autocomplete="off" id="userPhone" name="userPhone">
              </label>
              <label data-langlabel="" for="organization">Organizzazione <span class="optional">(facoltativo):</span>
                <input type="text" autocomplete="off" id="organization" name="organization">
              </label>
              <label data-langlabel="" for="subject">Oggetto
                <select id="subject" autocomplete="off" name="subject" class="select-full">
                  <option value="" style="display:none;"></option>
                  <option value="Vulnerability">Vulnerabilità</option>
                  <option value="Privacy Issue">Problema di privacy</option>
                  <option value="audi">Altro</option>
                </select>
              </label>
              <label data-langlabel="" for="description">Descrizione
                <textarea autocomplete="off" data-langlabel="" placeholder="Ho identificato un possibile problema di sicurezza utilizzando..." name="description" id="description"></textarea>
              </label>
              <label data-langlabel="feedback-spam-note" for="spam">Per evitare spamming automatizzato, immettere i numeri visualizzati
                <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
              </label>
              <label data-langlabel="numerals" for="captchaValue">Numeri: <strong><span id="txtCaptcha" class=""></span></strong></label>
              <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
              <input type="hidden" value="internal" name="source" id="source">
              <input value="verbose" name="resultType" id="resultType" type="hidden">
              <input value="Security Concern" name="datablock" id="datablock" type="hidden">
              <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">
              <input type="hidden" value="it" name="lg">
            </fieldset>
            <a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Invia</a>
          </form>
        </div>
        <div id="submission-confirmation" style="display:none;">
          <p data-langlabel=""><h4>Grazie per aver segnalato questo problema. Esamineremo la segnalazione e risponderemo nei prossimi giorni lavorativi.</h4></p>
        </div>
        <div id="submission-error" style="display:none;">
          <p data-langlabel=""><h4>Si è verificato un errore durante l'invio. Inviare nuovamente la segnalazione più tardi.</h4></p>
        </div>
        <strong> <span style="display:none;" id="referPageLink">Torna alla <a id="feedback-referring-link" href="">pagina di riferimento</a></span> <span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Invia</a> un'altra segnalazione</span> </strong>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>
<style>
.wrapper{
  overflow:visible;
}
</style>
