---
layout: marketplace/layout
title: ArcGIS Marketplace
css:
  - documentation

  - /en/asset/css/common
  - stat-page-specific

  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ro/marketplace/">Ajutor</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header> 
    	<nav>
      <ul>
        <li class='current'><a href="/ro/marketplace/">Pagina principală</a></li>
        <li><a href="/ro/marketplace/consumer/">Pentru consumatori</a></li>
        <li><a href="/ro/marketplace/provider/">Pentru furnizori</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Ce este marketplace?</h2>

          <p>ArcGIS Marketplace este o destinaţie care permite organizaţiilor ArcGIS Online să caute, să descopere şi să obţină aplicaţii şi date de la furnizori calificaţi (parteneri Esri, distribuitori Esri şi Esri) pentru a le utiliza în cadrul organizaţiilor. Aplicaţiile şi serviciile de date listate în marketplace pot fi puse la dispoziţia oricărei organizaţii ArcGIS Online, din întreaga lume.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Adăugaţi valoare organizaţiei dvs. </h3>
          <p>Găsiţi aplicaţii şi servicii de date pe care să le utilizaţi în organizaţia dvs. După ce obţineţi o aplicaţie sau un serviciu de date, le puteţi partaja simplu cu grupuri şi utilizatori din cadrul organizaţiei.</p>
          <p>

			<a href="/ro/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a> 
			<br/> 
			<a href="/ro/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;Întrebări frecvente</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Ajungeţi la utilizatori</h3>
          <p>ArcGIS Marketplace oferă un mecanism pentru a genera clienţi potenţiali, a furniza versiuni de evaluare gratuite, a acorda acces la listele dvs. şi a gestiona abonamentele.</p>
          <p>
            <a href="/ro/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a> 
	    <br/> 
	    <a href="/ro/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Calificarea ca furnizor</a> 
	    <br/> 
	    <a href="/ro/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;Întrebări frecvente</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">Site-ul ArcGIS Ideas</h3>
         <p>Nu vedeţi aplicaţia sau datele care vă trebuie? Trimiteţi o sugestie sau votaţi ideile existente.</p>
         <p>Sunteţi un furnizor în căutare de idei? Vedeţi ce solicită clienţii. Invitaţi colaboratorii să coopereze privat cu dvs. pentru dezvoltarea ideilor.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

