---
title: ArcGIS Online 說明
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Online 說明</h1>
        </div>
        <div class="leader-1 text-right">
          <p> <a href="http://www.arcgis.com/features/free-trial.html"> <button class="btn margin-left-1 btn-clear">60 天免費試用</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="ArcGIS Online 說明" href="/zh-tw/arcgis-online/">首頁</a>
        <a class="sub-nav-link" title="ArcGIS Online 入門" href="/zh-tw/arcgis-online/get-started/">入門</a>
			  <a class="sub-nav-link" title="建立地圖、場景和應用程式" href="/zh-tw/arcgis-online/create-maps/">建立</a>
        <a class="sub-nav-link" title="執行分析" href="/zh-tw/arcgis-online/analyze/">分析</a>
			  <a class="sub-nav-link" title="分享地圖、場景和應用程式" href="/zh-tw/arcgis-online/share-maps/">分享</a>
			  <a class="sub-nav-link" title="管理您的組織" href="/zh-tw/arcgis-online/administer/">管理</a>
			  <a class="sub-nav-link" title="參考" href="/zh-tw/arcgis-online/reference/">參考</a>
			  <a class="sub-nav-link" title="適用於每個人的應用程式" href="/zh-tw/arcgis-online/apps/arcgis-apps.htm">應用程式</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>在幾分鐘內製作有意義的地圖</h1>
      <h5>ArcGIS Online 提供完整的雲端型世界地理資訊系統。</h5>
      <h5>立即開始使用 ArcGIS Online。<a href="http://www.arcgis.com/features/free-trial.html" >註冊您的免費 ArcGIS 試用。</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="搜尋 ArcGIS Online 說明">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="zh-tw" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>目前更新：</strong>2016 年 12 月</li>
        <li><a href="/zh-tw/arcgis-online/reference/whats-new.htm">新功能</a></li>
	      <li><a href="/zh-tw/arcgis-online/reference/faq.htm">常見問題集</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">入門
        <a class="btn btn-transparent text-white btn-large right" href="/zh-tw/arcgis-online/get-started/online-quick-exercises.htm">更多練習</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/zh-tw/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/zh-tw/arcgis-online/get-started/quick-exercise-maps.htm">建立地圖</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 分鐘</p>-
            <p class="trailer-0 text-off-black">建立 Web 地圖，作為調查內華達州克拉克郡醫院的一部分。</p>
          </div>
          <a href="/zh-tw/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">
              <img alt="" src="img/create-an-app.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">建立 Web 應用程式</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 小時</p>
            <p class="trailer-0 text-off-black">為華盛頓州的奧索泥石流建立 Web 應用程式。</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">使用場景檢視器探索 3D</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 小時 20 分鐘</p>
            <p class="trailer-0 text-off-black">建立顯示佛羅里達州的海灘和入口的 3D 場景。</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
              <img alt="" src="img/track-crime-rates.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">追蹤犯罪率</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">40 分鐘</p>
            <p class="trailer-0 text-off-black">建立内布拉斯加州林肯市的犯罪密度地圖。</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">
              <img alt="" src="img/get-started-with-collector.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">配置採集員地圖</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">30 分鐘</p>
            <p class="trailer-0 text-off-black">建立地圖來使用 Collector for ArcGIS，以收集資料進行傷害評估。</p>
          </div>
          <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">設定 ArcGIS 組織</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 分鐘</p>
            <p class="trailer-0 text-off-black">配置新 ArcGIS 組織的網站。</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">啟動練習</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
        <div class="row">
          <h2>&nbsp;</h2>
          <h2 class="text-center">ArcGIS Online 有哪些功能？</h2>
        </div>
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-maps text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">製作地圖</h3>
              <p class="trailer-half">
                深入瞭解地圖的角色，與您的使用者分享 GIS。
              </p>
              <ul class="bulleted trailer-0">
                <li>
                  <a href="/zh-tw/arcgis-online/get-started/get-started-with-maps.htm">開始建立地圖</a>
                </li>
                <li>
                  <a href="/zh-tw/arcgis-online/share-maps/share-maps.htm">分享地圖</a>
                </li>
                <li>
                  <a href="/zh-tw/arcgis-online/get-started/view-maps.htm">在地圖檢視器中檢視地圖</a>
                </li>
                <li>
                  <a href="//storymaps.arcgis.com/">使用故事地圖來敘說您的故事</a>
                </li>
                <li>
                  <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">瞭解如何以三個步驟使用智慧型製圖</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-globe text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">使用 3D GIS</h3>
                <p class="trailer-half">
                  藉由視覺化 3D 資訊來取得新觀點。使用 3D GIS 功能來解決 2D 內容中無法解決的問題。
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/zh-tw/arcgis-online/get-started/get-started-with-scenes.htm">開始建立場景</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/get-started/view-scenes.htm">在場景檢視器中檢視場景</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-3d">在 Living Atlas 中存取容易使用的 3D 場景</a>
                  </li>
                  <li>
                    <a href="/zh-tw/drone2map/quick-start-exercises/3d-mapping.htm">使用 Drone2Map for ArcGIS 產生 3D 圖層</a>
                  </li>
                </ul>

            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">執行分析</h3>
                <p class="trailer-half">
                   結合多個圖層的資訊，並套用空間操作以解決廣泛的問題。探索和視覺化結果以制定決策並獲得更深入的資訊。
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/zh-tw/arcgis-online/get-started/get-started-with-analysis.htm">開始分析</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/analyze/perform-analysis.htm">使用地圖執行分析</a>
                  </li>
                  <li>
                    <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">使用人口統計分析探索貧困兒童</a>
                  </li>
				  <li>
                    <a href="/zh-tw/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">使用智慧型製圖回答空間問題</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-layers text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">存取 Living Atlas</h3>
                <p class="trailer-half">
                  使用 Living Atlas of the World 啟動 GIS，前者是 ArcGIS 使用者和 Esri 及其合作夥伴之最佳的策略性、全球採集工具，可用來收集地圖、應用程式和資料。
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="http://links.esri.com/agol-help/living-atlas">存取 Living Atlas</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-storymap">透過故事地圖探索 Living Atlas</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">瀏覽 Living Atlas 圖層以新增至地圖</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">將 Living Atlas 內容新增至場景</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/get-started/quick-exercise-explore-data.htm">使用 Living Atlas 地圖以尋找空間模式</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-collection text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">管理資料</h3>
                <p class="trailer-half">
                  製作生活的資料。藉由發佈其他人可在其地圖和場景中使用的圖層，以分享圖徵及更多內容。啟用編輯以收集社群回饋意見。
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/zh-tw/arcgis-online/share-maps/hosted-web-layers.htm">將圖徵、圖磚和更多內容發佈為圖層</a></li>
                  <li>
                    <a href="/zh-tw/arcgis-online/create-maps/edit-features.htm">編輯圖徵</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/create-maps/take-maps-offline.htm">地圖離線使用</a>
                  </li>
                  <li>
                    <a href="/zh-tw/arcgis-online/reference/best-practices-layers.htm">瞭解在地圖中使用圖層的最佳實務</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-share text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">分享您的工作</h3>
                <p class="trailer-half">
                  分享您豐富的地理資訊項目以聯絡您的使用者。透過眾多應用程式和 Story Maps 提供存取權，以使用您的寶貴資訊。
                </p>
                <ul class="bulleted trailer-0">
                  <li><a href="/zh-tw/arcgis-online/get-started/get-started-with-sharing.htm">開始分享</a></li>
                  <li><a href="//storymaps.arcgis.com/en/">使用應用程式來分享您的故事</a></li>
                  <li><a href="/zh-tw/arcgis-online/reference/best-practices-share.htm">瞭解分享的最佳實務</a></li>
                  <li><a href="/zh-tw/arcgis-online/reference/ogc.htm">透過開放標準分享資料</a></li>
				  <li><a href="http://opendata.arcgis.com/">使用 Open Data for ArcGIS 分享</a></li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-applications text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">使用應用程式</h3>
              <p class="trailer-half">
                ArcGIS 應用程式是地圖、場景和資料的專用介面和工具。ArcGIS Online 隨附了可讓您的組織完成工作的數十個應用程式。
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="//www.esri.com/software/apps/field">檢閱現場專用的應用程式</a></li>
                <li><a href="//www.esri.com/software/apps/office">檢閱辦公室專用的應用程式</a></li>
                <li><a href="//www.esri.com/software/apps/community">檢閱社群專用的應用程式</a></li>
                <li><a href="//www.esri.com/software/apps/builders">建立您自己的應用程式</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-search text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">探索和管理項目</h3>
              <p class="trailer-half">
                ArcGIS Online 可讓您存取全球可搜尋的 GIS，包含 GIS 社群、您的組織和您所貢獻的廣泛地圖、場景、圖層、分析和應用程式。這些項目是組織成資訊圖庫，讓您可以快速探索與您的工作有關的內容。
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/zh-tw/arcgis-online/reference/geo-info.htm">檢閱 ArcGIS 資訊模型</a></li>
                <li><a href="/zh-tw/arcgis-online/share-maps/add-items.htm">將項目新增至 ArcGIS Online</a></li>
                <li><a href="/zh-tw/arcgis-online/get-started/get-started-with-groups.htm">使用群組以分享資訊</a></li>
                <li><a href="//links.esri.com/agol-help/living-atlas">在 Living Atlas 中尋找地圖及更多內容</a></li>
                <li><a href="/zh-tw/arcgis-online/reference/search.htm">在 ArcGIS Online 中探索項目</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">管理您的組織</h3>
              <p class="trailer-half">
                從配置自訂角色和安全性設定來管理授權，到檢視使用情況報告，ArcGIS Online 包括管理組織所需要的所有工具。
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/zh-tw/arcgis-online/administer/get-started-with-administration.htm">開始管理</a></li>
                <li><a href="//links.esri.com/agol-help/administering-platform">瞭解管理員的最佳實務和資源</a></li>
                <li><a href="/zh-tw/arcgis-online/reference/roles.htm">瞭解級別、角色和權限</a></li>
                <li><a href="/zh-tw/arcgis-online/reference/credits.htm">瞭解點數</a></li>
                <li><a href="/zh-tw/trust/security/security-overview.htm">檢閱 ArcGIS 安全性</a></li>
                <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">瀏覽其他管理員工具</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">發揮 ArcGIS Online 的最大功能</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">觀看影片
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">更多影片</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">與 ArcGIS Online 連線</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">閱讀我們的部落格
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">更多部落格文章</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">參與討論
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">更多討論 </a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">快速瀏覽手冊
        <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">更多手冊</a>
      </h2>
      <div class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">ArcGIS 手冊</a>
            </h5>
            <p class="trailer-0 text-off-black">瞭解和使用 Web GIS 以建立和分享地理資訊。檢視網站、下載免費的互動式 PDF，或購買印刷版本。</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">立即閱讀</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">ArcGIS 手冊的教學指南</a>
            </h5>
            <p class="trailer-0 text-off-black">取得 ArcGIS Online 和 Web GIS 的相關活動、資源、課程和資料。提供印刷版本。</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">立即購買</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=308&moduleID=0">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">ArcGIS 影像手冊</a>
            </h5>
            <p class="trailer-0 text-off-black">探索影像和遠端感應如何啟動新穎的 GIS。檢視網站、下載免費的互動式 PDF，或購買印刷版本。</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">立即閱讀</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="http://links.esri.com/agol-help/learn/agol">參加深入課程</a></h5>
          <p class="trailer-0">
            搜尋「學習 ArcGIS」來尋找和完成練習，使用 ArcGIS 以解決實際的全球問題。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main/arcgis-online-training">尋找培訓課程</a></h5>
          <p class="trailer-0">
             透過教師領導課程、Web 課程和研討會來深入瞭解 ArcGIS。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">取得技術支援</a></h5>
          <p class="trailer-0">
            透過聊天、電子郵件或電話聯繫 Esri 支援。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">檢查系統健康</a></h5>
          <p class="trailer-0">
 查看 ArcGIS Online 的狀態並回報問題。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
