---
title: Hjelp for ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="no">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/no/arcgis-online/">Hjelp for ArcGIS Online</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>--&gt;
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Hjelp for ArcGIS Online" href="/no/arcgis-online/">Hjem</a></li>
        <li><a title="Bruke kart og scener" href="/no/arcgis-online/use-maps/">Bruk</a></li>
        <li><a title="Opprette kart, scener og programmer" href="/no/arcgis-online/create-maps/">Opprett</a></li>		
        <li><a title="Dele kart, scener og programmer" href="/no/arcgis-online/share-maps/">Del</a></li>
		<li><a title="Administrere organisasjonen" href="/no/arcgis-online/administer/">Administrer</a></li>
		<li><a title="Referanse" href="/no/arcgis-online/reference/">Referanse</a></li>
		<li><a title="Ferdige apper/programmer" href="/no/arcgis-online/apps/arcgis-apps.htm">Apper</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="en" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="en">
      </form>-->

                
	<hr>
  
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/247/000000/width/960/0/00:00:00" title="Bruke kart og scener" class="videoLink colorbox-evlarge cboxElement"><img src="img/perform-analysis.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00" title="Opprette kart, scener og programmer" class="videoLink colorbox-evlarge cboxElement"><img src="img/create-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="253" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
      <a href="http://video.arcgis.com/iframe/1341/000000/width/960/0/00:00:00" title="Dele elementene dine" class="videoLink colorbox-evlarge cboxElement"><img src="img/share-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="1341" controls="">
       <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
        </video>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/no/arcgis-online/use-maps/use-maps.htm" class="">Bruk kart og scener</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/no/arcgis-online/create-maps/create-maps-and-apps.htm" class="">Opprett kart, scener og apper</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/no/arcgis-online/share-maps/share-maps-apps.htm" class="">Del elementene dine</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="Utføre analyser" href="http://video.arcgis.com/iframe/3689/000000/width/960/0/00:00:00"><img src="img/perform-analysis.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="3689" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="Publisere hostede weblag" href="http://video.arcgis.com/iframe/3956/000000/width/960/0/00:00:00"><img src="img/publish-hosted-web-layers.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="1342" controls="">
         <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="Administrere organisasjonen" href="http://video.arcgis.com/iframe/1340/000000/width/960/0/00:00:00"><img src="img/admin-org.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
	<video width="320" height="240" class="mobileVideo" id="1340" controls="">
    <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
       </video>
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/no/arcgis-online/use-maps/perform-analysis.htm">Utfør analyse</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/no/arcgis-online/share-maps/hosted-web-layers.htm">Publiser vertsbaserte weblag</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/no/arcgis-online/administer/admin-org.htm">Administrer organisasjonen</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Teknisk støtte for Esri</a></h4>
      <p>Kontakt brukerstøtten via chat, e-post eller telefon.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS Ideas</a></h4>
      <p>Send inn tilbakemeldinger på programvaren.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">ArcGIS-forumer</a></h4>
      <p>Delta i diskusjonene på Geonet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>Er du nybegynner i ArcGIS Online?</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Finn praktiske leksjoner</a></p>
			<a title="Komme i gang med ArcGIS Online" href="http://video.arcgis.com/iframe/3958/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png"> Se en videoomvisning</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png"> Finn kurs</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>Hurtigreferanse</h3>
         <ul>   <li><a href="/no/arcgis-online/reference/troubleshoot-account.htm">&nbsp;Feilsøk påloggingsproblemer</a></li>
		<li><a href="/no/arcgis-online/reference/whats-new.htm" >&nbsp;Nyheter</a></li>
		<li><a href="/no/arcgis-online/reference/faq.htm">&nbsp;Vanlige spørsmål</a></li>
		<li><a href="/no/arcgis-online/reference/videos.htm">&nbsp;Videoer</a></li>
		<li><a href="/no/trust/system-status/">&nbsp;Systemstatus</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra bloggen vår</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Flere blogginnlegg</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
