---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-pt/operations-dashboard/">Página Inicial</a></li>
        <li><a href="/pt-pt/operations-dashboard/windows-desktop/author/create-a-map.htm">Vistas de autor</a></li>
        <li><a href="/pt-pt/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Vistas de Utilização</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 10.2</span> <span id="appReleased"><strong>Lançada:</strong> Novembro de 2013</span>

          <p>Monitorize atividades e eventos, acompanhe a sua força de trabalho no campo e avalie o estado e desempenho nas suas operações diárias.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Adquira o Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisitos do Sistema</a> <a id="appWhatsNew" href="#whatsNew">Quais as Novidades</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/pt-pt/operations-dashboard/dashboard-create-small.png" />

          <h3>Criar &amp; partilhar uma vista de operação</h3>
          <p>Em três simples passos, crie e partilhe uma vista de operação que inclua mapas, listas, gráficos, medidores, e outros, baseadas em dados geográficos em tempo real definidos num mapa ou serviço web.</p>
          <p>
            <a href="/pt-pt/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/pt-pt/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorize &amp; responda a eventos</h3>
          <p>Utilize a sua vista de operação para focar aspetos da operação que lhe interessem. Acompanhe serviços, entregas, pessoas, e mais, em qualquer parte do mundo, seguindo quatro passos.</p>
          <p>
            <a href="/pt-pt/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br /> <!--<a href="http://resources.arcgis.com/pt-pt/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visualizar um vídeo</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos do sistema</h2>

        <p>Há certos requisitos para correr o Operations Dashboard, bem como requisitos em relação aos dados que podem ser utilizados na aplicação. O Operations Dashboard suporta diversos idiomas.</p>


        <h3>Sistemas operativos suportados</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (32 bit e 64 bit [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (32 bit e 64 bit [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional e Home Premium (32 bit e 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (32 bit e 64 bit [EM64T]) SP2</li>
        </ul>


        <h3>Requisitos de hardware</h3>
        <ul>
			<li>Velocidade do CPU: 2.2 GHz ou superior; Hyper-Threading (HTT) ou Multi-core são recomendados.</li>
			<li>Processador: Intel Pentium 4, Core Duo ou processadores Xeon; SSE2 no mínimo. Corra esta aplicação Microsoft a partir da linha de comandos do Windows para verificar o seu processador</li>
			<li>Espaço em disco: 1,5 GB de espaço livre em disco.</li>
			<li>Memória/RAM: 2 GB ou superior.</li>
			<li>Propriedades de visualização: Profundidade de cor 24 bits.</li>
			<li>Resolução de ecrã. 1024x768 ou superior em tamanho normal (96 dpi).</li>
			<li>Espaço de swap: Definido pelo sistema operativo; 500 GB no mínimo.</li>
			<li>Adaptador de Vídeo/Gráfico: 64 MB de RAM, no mínimo, 256 MB de RAM recomendados; chipsets NVIDIA, ATI e Intel suportados. Driver para placa de aceleração gráfica. Shader Modelo 2.0, no mínimo. Garanta que utiliza o driver mais recente.</li>
		</ul>


        <h3>Requisitos de software </h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> é obrigatório. Tem de ter privilégios de administrador na sua organização para instalar.</p>

        <h3>Requisitos de dados</h3>
		<p>Para utilizar os seus mapas no Operations Dashboard, tem de ter uma conta organizacional ArcGIS. Os seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server. As fontes de dados devem ser alojadas no ArcGIS Online ou ArcGIS 10.1 for Server ou mais recente.</p>

		<h3>Requisitos de desenvolvimento</h3>
		<p>O <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a> é necessário para personalizar o Operations Dashboard for ArcGIS.</p>

	<h3>Idiomas suportados</h3>
	<p>Árabe, Checo, Dinamarquês, Holandês, Estónio, Finlandês, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Chinês (simplificado), Espanhol e Sueco.</p>
	<p>O idioma utilizado na aplicação é determinado pelas definições de idioma do sistema operativo.</p>

        <a name="whatsNew"></a>
        <h2>Quais as novidades?</h2>
        <p>Operations Dashboard for ArcGIS versão 10.2 foi lançado em Novembro de 2013. Inclui as seguintes melhorias:</p>
        <ul>
        <li>Suporta inícios de sessão empresariais</li>
        <li>Suporta o Portal for ArcGIS</li>
        <li>Widgets de lista e medidor melhorados.</li>
        <li>As janelas pop-up incluem imagens e gráficos.</li>
        <li>Suporte de proxy melhorado.</li>
        <li>Suporte de hora local.</li>
        <li>Filtros de tempo e datas melhorados.</li>
        <li>Utiliza ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Os Add-ins podem ser desenvolvidos através do ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Localização em: Árabe, Checo, Dinamarquês, Holandês, Estónio, Finlandês, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Chinês (simplificado), Espanhol e Sueco.</li>
        </ul>
      
        <p> </p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Comece</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Instalar</a></li>
            <li><a href="/pt-pt/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Criar e partilhar uma vista de operação</a></li>
            <li><a href="/pt-pt/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Monitorizar e responder a atividades e eventos</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Desenvolver Add-ins</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
