---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - 1.0/core
  - 1.0/apps/app.cognos.1
  - 1.0/ui/jquery.colorbox.min
  - 1.0/ui/jquery.colorbox.init
  - 1.0/ui/video.init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.1" />
					<input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/maps-for-cognos/">主页</a></li>
        <li><a href="/zh-cn/maps-for-cognos/install-windows/">安装与配置</a></li>
        <li><a href="/zh-cn/maps-for-cognos/author-maps/">制作地图</a></li>
        <li><a href="/zh-cn/maps-for-cognos/use-maps/">使用地图</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">论坛</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">获取应用程序</h2>
          <span id="appVersion"><strong>版本：</strong>6.0.1</span> <span id="appReleased"><strong>发布日期：</strong>2015 年 1 月</span>


          <p>使用熟悉的日常工作流通过实时动态地图丰富 IBM Cognos 报表，无需自定义编码或 GIS 专业知识。Esri Maps for IBM Cognos 与 IBM Cognos 10 之间无缝集成，因此报表创建者可以添加并配置与 IBM Cognos 报表中的其他对象相交互的地图。创建结合了 ArcGIS 中发布的地理数据与 IBM Cognos 业务数据的地图以丰富分析。报表用户不需要任何其他技能或工具即可使用启用地图功能的报表对其数据进行可视化分析。   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">获取 Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>将地图添加到报表 </h3>
          <p>将动态地图添加到 IBM Cognos 报表以帮助您直观分析业务数据。</p>
          <p>
           <a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;了解详细信息</a> <br/> <a href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">观看视频</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>配置交互式行为</h3>
          <p>为报表用户增强报表的交互性。选择地图上的要素以更新其他报表对象、设置提示或钻取外部报表。</p>
          <p>
			<a href="/zh-cn/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;了解详细信息</a> <br/> <a href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">观看视频</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>从 ArcGIS 添加数据</h3>
          <p>将 ArcGIS 中发布的地理数据添加到启用地图功能的报表，从而更加便于分析业务数据。</p>
          <p><a href="/zh-cn/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;了解详细信息</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>共享地图和图层</h3>
          <p>将地图或单个地图图层共享到 ArcGIS 以供组织内外的其他人使用。</p>
          <p><a href="/zh-cn/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;共享地图</a> <br/> <a href="/zh-cn/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">共享图层</a>
          </p>
        </div>
    <div class="clear"></div> 
	  
	  
<br />
<hr />	  
<div class="clear"></div>
<a name="whatsNew"></a>
<h2>新特性</h2>
<p>Esri Maps for IBM Cognos 为报表作者、用户和管理员提供了许多重要的更新和增强。以下是一些重点内容介绍。
</p>

<h3>6.0.1 更新</h3>
<ul>
	<li>报表用户可将 ArcGIS 的数据添加到地图</li>
	<li>支持 IBM Cognos 10.1、10.1.1、10.2 FP 4、10.2.1 FP5 和 10.2.2</li>
	<li>支持 System z 上的 Novell SUSE Linux Enterprise Server 和 Red Hat Enterprise Linux Server</li>
	<li>支持 iOS 8.x 的 Apple Safari</li>
		<li>软件和文档支持七种语言：英语、德语、法语、日语、韩语、俄语和简体中文。</li>
</ul>
<br/>

<h3>6.0 更新</h3>
<ul>
<li>支持离线 Portal for ArcGIS 部署</li>
<li>配置动态地图服务图层上的交互</li>
<li>新增用于触发已配置的交互行为的绘制工具</li>
<li>使用&ldquo;过滤图层&rdquo;工具过滤地图上显示的要素</li>
<li>使用&ldquo;测量&rdquo;工具测量面积、距离和 X,Y 坐标</li>
<li>对地址进行地理编码并使用&ldquo;获取路径&rdquo;工具查找路径</li>
<li>配置信息图表和其他地图工具及设置</li>
<li>使用总览图和其他导航工具更改地图范围</li>
<li>将点数据添加到地图时指定 X,Y 坐标的 WKID</li>
<li>为图层配置多个样式</li>
<li>新增利用弹出窗口的交互式行为</li>
<li>以不同格式查看并打印启用地图功能的报表</li>
<li>性能增强以便更快速地加载地图</li>
<li>新增可控制哪些用户有权访问并使用 Esri Maps for IBM Cognos 的功能</li>
<li>支持 IBM Cognos 10.2.1 Fix Packs 1、2、3 和 4</li>
<li>支持以下移动浏览器： 
<ul>
<li>Apple Safari on iOS</li>
<li>Google Chrome for Android</li>
</ul> 
</li>

</ul>
<br/>
<h3>5.0.1 更新</h3>
<ul>
<li> 支持 IBM Cognos 10.2.1</li>
<li> 支持的 Linux 和 UNIX 平台：
<ul><li> Linux Red Hat 5.3+</li>
<li>Linux SUSE 10 SP1+</li>
<li> AIX 6.1+</li>
</ul></li>
</ul>
<br/>
<h3>5.0 更新</h3>
<ul>
<li>新用户界面包含&ldquo;所见即所得式&rdquo;(WYSIWYG) 地图视图，使地图设计工作更为轻松</li>
<li> 支持 ArcGIS Online 和 Portal for ArcGIS 10.2</li>
<li> 完全 ArcGIS 平台整合：  
<ul>
<li>可添加 ArcGIS 中的任意地图或地图图层以增强您的地图</li>
<li>将地图和图层共享到 ArcGIS<li>
</ul></li>
<li>启用并配置聚类，从而可以更轻松地一次性查看和分析大量要素</li>
<li>提供各式各样的地图图标，协助您按照自己的想法设计地图</li>
<li> 热点图的新配置选项</li>
<li>地图弹出窗口现包含信息图表，可提供地图上任意选定区域的动态人口统计信息</li>
<li>通过 ArcGIS 平台轻松访问受保护的 Web 服务</li>
<li>在地图中选择要素和查找邻近数据<li>
<li>地址地理编码（支持全球地理编码）。</li>
<li>通过 ArcGIS 组织自定义底图库</li>
<li>使用热门类别（例如财富、商业、政策以及健康）在 ArcGIS 上搜索数据。</li>
<li>其他特性、可用性和制图方面的增强。</li>
</ul>
  <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入门</h3>
          <ul>
           <li><a href="#whatsNew">新特性</a></li>		
		  <li>支持的环境
			<ul>
			<li><a href="/zh-cn/maps-for-cognos/install-windows/supported-environments.htm">Windows</a></li>
			<li><a href="/zh-cn/maps-for-cognos/install-linux/supported-environments.htm">Linux 和 UNIX</a></li>
			</ul></li>
		  
			<li>先前版本的帮助：
			<ul>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/6.0">6.0</a>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/5.0.1"></a></li>
			<li>
				<ul>
					<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">安装和配置指南</a></li>
					<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">报表作者指南<li>
				</ul>
			</li>
			</ul>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">观看视频</a></li>
		  </ul>
		  </li>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/js/1.0/ui/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
