---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-12-11"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.2"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.2" />
					<input type="hidden" name="language" value="zh-cn" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/maps-for-cognos/">主页</a></li>
        <li><a href="/zh-cn/maps-for-cognos/install-windows/">安装与配置</a></li>
        <li><a href="/zh-cn/maps-for-cognos/author-maps/">制作地图</a></li>
        <li><a href="/zh-cn/maps-for-cognos/use-maps/">使用地图</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">获取应用程序</h2>
          <span id="appVersion"><strong>版本：</strong> 6.0.2</span>
          <span id="appReleased"><strong>发布时间：</strong>2015 年 4 月</span>


          <p>使用熟悉的日常工作流通过实时动态地图丰富 IBM Cognos 报表，无需自定义编码或 GIS 专业知识。Esri Maps for IBM Cognos 与 IBM Cognos 10 之间无缝集成，因此报表创建者可以添加并配置与 IBM Cognos 报表中的其他对象相交互的地图。创建结合了 ArcGIS 中发布的地理数据与 IBM Cognos 业务数据的地图以丰富分析。报表用户不需要任何其他技能或工具即可使用启用地图功能的报表对其数据进行可视化分析。
</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">获取 Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>将地图添加到报表 </h3>
          <p>将动态地图添加到 IBM Cognos 报表以帮助您直观分析业务数据。</p>
          <p>
           <a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;了解更多信息</a>
			<br/>
			<a title="将地图添加到报表" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;观看视频</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>配置交互式行为</h3>
          <p>为报表用户增强报表的交互性。选择地图上的要素以更新其他报表对象、设置提示或钻取外部报表。</p>
          <p>
			<a href="/zh-cn/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;了解更多信息</a>
			<br/>
		   <a title="配置交互式行为" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;观看视频</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>从 ArcGIS 添加数据</h3>
          <p>将 ArcGIS 中发布的地理数据添加到启用地图功能的报表，从而更加便于分析业务数据。</p>
          <p><a href="/zh-cn/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;了解更多信息</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>共享地图和图层</h3>
          <p>将地图或单个地图图层共享到 ArcGIS 以供组织内外的其他人使用。</p>
          <p><a href="/zh-cn/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;共享地图</a>
		  <br/>
		  <a href="/zh-cn/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;共享图层</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>新特性</h2>
<p>Esri Maps for IBM Cognos 为报表作者、用户和管理员提供了许多重要的更新和增强。以下是一些重点内容介绍。
</p>


<h3>6.0.2</h3>

<ul>
<li>对地图图例进行了改进</li>
<li>改善了聚类性能</li>
<li>在 Internet Explorer 中支持饼图聚类</li>
<li>管理员能轻松恢复环境默认的管理和登录设置</li>
<li>支持 Android 40 版本的 Google Chrome</li>
</ul>

<h3>6.0.1 修补程序 1</h3>
<p>此修补程序提升了在 Internet Explorer 中渲染地图要素和图形的性能，使得地图性能可与 Firefox 和 Chrome 中的地图性能相媲美。它还解决了与图例样式相关的两个漏洞。要获取详细信息以及下载该修补程序，请访问 <a href="http://support.esri.com/en/downloads/patches-servicepacks/view/productid/193/metaid/2187">support.esri.com</a>。</p>

<h3>6.0.1</h3>

<ul>
	<li>报表用户可将 ArcGIS 的数据添加到地图</li>
	<li>支持 System z 上的 Novell SUSE Linux Enterprise Server 和 Red Hat Enterprise Linux Server</li>
	<li>支持 iOS 8.x 的 Apple Safari</li>
	<li>软件和文档支持七种语言：英语、德语、法语、日语、韩语、俄语和简体中文。</li>
</ul>


<h3>6.0</h3>

<ul>
<li>支持离线 Portal for ArcGIS 部署</li>
<li>可配置动态地图服务图层上的交互</li>
<li>新增用于触发已配置的交互行为的绘制工具</li>
<li>可使用“过滤图层”工具过滤地图上显示的要素</li>
<li>可使用“测量”工具测量面积、距离和 X,Y 坐标</li>
<li>可对地址进行地理编码并使用“获取路径”工具查找路径</li>
<li>可配置信息图表和其他地图工具及设置</li>
<li>可使用总览图和其他导航工具更改地图范围</li>
<li>将点数据添加到地图时可指定 X,Y 坐标的 WKID</li>
<li>可为图层配置多个样式</li>
<li>新增利用弹出窗口的交互式行为</li>
<li>支持以不同格式查看并打印启用地图功能的报表</li>
<li>对性能进行了增强以便更快速地加载地图</li>
<li>新增可控制哪些用户有权访问并使用 Esri Maps for IBM Cognos 的功能</li>
<li>支持以下移动浏览器： 
<ul>
<li>Apple Safari on iOS</li>
<li>Google Chrome for Android</li>
</ul> 
</li>

</ul>

<hr />

 <a name="supportedEnvironments"></a>
        <h2>支持的环境</h2>

        <p>为使 Esri Maps for IBM Cognos 正常工作，Esri 假设已实现 IBM Cognos Business Intelligence (BI) 的操作配置。IBM Cognos BI 的软件环境包括活动的、兼容的或不受支持的。Esri 仅使用活动配置测试了 Esri Maps for IBM Cognos，而且并没有测试/认证所有的活动配置。</p>
		<p>如果下文没有列出您的 IBM Cognos 配置，请联系 Esri 技术支持部门或您的 Esri 销售代表以询问以后的版本中是否计划有此配置，或者是否可将其加入计划列表中。通常，Esri 的策略为在新版 IBM Cognos 修补程序包可供下载 60 天后对其提供支持。</p>

<p>Esri Maps for IBM Cognos 支持与 IBM Cognos Enterprise 搭配使用。不支持将其用于 IBM Cognos Express 或任何开发版。</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')">
系统要求</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>硬盘：300 MB</li>
          <li>内存：2 GB</li>
	</ul>
	<p><b>注：</b>磁盘要求空间会随 Excel 2002 报表格式选项的使用情况而有所不同。有关详细信息，请参阅<a href="/zh-cn/maps-for-cognos/install-windows/report-formats.htm">报表格式</a>。</p>
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')">
IBM Cognos 版本</a></h3>
<div exp2='yes' style="display:none;padding:0 15px;">

<p>通常，Esri 的策略为在新版 IBM Cognos 修补程序包可供下载 60 天后对其提供支持。</p>
 <p>下表显示了各个版本的 Esri Maps for IBM Cognos 支持的 IBM Cognos 版本及修补程序包：</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">IBM Cognos 版本</th>
<th colspan="4">Esri Maps for IBM Cognos 版本</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1 1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="9" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP5</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP6</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP7</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 1 FP8</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="3" colspan="1"><p><b>10.2.2</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 2 FP2</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>*如果您已安装了 Esri Maps for IBM Cognos 版本 5.0.1，在安装修补程序包之前，请参阅<a href="http://support.esri.com/en/knowledgebase/techarticles/detail/41743">知识库文章 41743</a>以获取更多信息。</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')">
操作系统</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

 <p>IBM 认证并支持与一系列 CPU 芯片组（即 CPU 架构）相兼容的操作系统。Esri 在一些被 IBM 列为活动的操作系统（和芯片组）中对 Esri Maps for IBM Cognos 进行了测试。Esri 测试的列表以市场研究和现有的客户端配置为基础。</p>
 <p>下表显示了各个操作系统所支持的对应 Esri Maps for IBM Cognos 版本：</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">操作系统</th>
<th rowspan="1" colspan="4">Esri Maps for IBM Cognos 版本</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows 服务器</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">System z 上为 10.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>* 仅支持 System z 的 64 位版本。</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')">
先决条件（仅限 Linux 和 UNIX）</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

	 <p>在 Linux 和 UNIX 操作系统上运行 Esri Maps for IBM Cognos EM4C Gateway 需要以下系统库：</p>

        <ul>
          <li>Linux （32-位）
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux （64-位）
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z （64-位）* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX （32-位）
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX （64-位）
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* 仅版本 6.0.1 和 6.0.2 需要</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')">
Web 浏览器</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">
	 <p>Esri 并没有测试列为受 IBM 支持的 web 浏览器（及基础客户端操作系统）的所有组合。而是选择一部分 web 浏览器，然后在最新的操作系统上进行测试。而且并没有在所有已标识的操作系统上对所有被选择的浏览器进行测试。</p>
       

<p>同样，Esri 仅在 Windows 平台上进行了可靠的浏览器测试。但如果使用的是下文所列的任一 Web 浏览器，预计 Esri Maps for IBM Cognos 将在非 Windows 客户端上按预期运行。如果您的体验环境有所不同，请联系 Esri 技术支持部门以要求对您的特定操作系统和 Web 浏览器进行测试。</p>

<p>下表显示了经过各个版本的 Esri Maps for IBM Cognos 测试的浏览器：</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">浏览器</th>
<th colspan="4">Esri Maps for IBM Cognos 版本</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>Apple Safari on iOS</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="2" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="2" colspan="1"><b>Google Chrome for Android</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><b>Internet Explorer*</b></td>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="3" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>* 热点图与 Internet Explorer 中运行的 IBM Cognos 不兼容。在 Esri Maps for IBM Cognos 6.0.1 和更早的版本中，饼图聚类与在 Internet Explorer 中运行的 IBM Cognos 不兼容。有关详细信息，请参阅 <a href="http://support.esri.com/en/knowledgebase/techarticles/detail/42801">Esri 知识库文章 42801</a>。</p>
<p>**仅在兼容模式下支持 Internet Explorer 10 和 11。</p>
<p>只有报表用户支持 Google Chrome for Android 和 iOS 中的 Apple Safari 浏览器。这些浏览器中不支持 Esri Maps Designer。</p>

<p>由于在 Internet Explorer 中提升了对地图要素和图形的渲染，建议下载 Silverlight 5.x 并将其安装在客户端中。</p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')">
语言</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
       <p>以下语言代表了 Esri Maps for IBM Cognos 6.0.1 和 6.0.2 支持的产品语言。</p>
	
        <ul>
          <li>中文（中国）</li>
		  <li>简体中文</li>
		  <li>德国</li>
		  <li>法语</li>
		  <li>日语</li>
		  <li>韩语</li>
		  <li>俄语</li>
	</ul>

       <p>Esri Maps for IBM Cognos 6.0 和 5.0.1 仅支持英语。</p>
        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')">
支持</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
<p>IBM Cognos 需要配置若干第三方组件才能正常运行。这些组件包括应用程序服务器、web 服务器、数据库服务器、Java Runtime 库等。IBM 技术支持部门可协助进行这些组件在 IBM Cognos 上的部署。Esri 技术支持部门可协助进行 Esri Maps for IBM Cognos 的部署（和使用）。</p>

<p>Esri 技术支持分析人员并不是 IBM Cognos 的所有可能配置领域的专家。同样，IBM 技术支持工程师也不在 Esri Maps for IBM Cognos 操作配置时所需的所有第三方组件领域都是专家。如果您遇到 IBM Cognos 配置问题，从 IBM 技术支持部门获取帮助可能更为有效。同样，如果遇到第三方组件的配置问题，从第三方支持组织处获取帮助可能更为有效。如果问题出在 Esri Maps for IBM Cognos 方面，则可由 Esri 技术支持部门与 IBM 技术支持部门和/或第三方供应商和/或其顾问共同处理。</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入门</h3>
          <ul>
          <li><a href="#whatsNew">新特性</a></li>		
		  <li><a href="#supportedEnvironments">支持的环境</a></li>
		  <li>先前版本的帮助：
			<ul>
				
				<li><a href="/zh-cn/maps-for-cognos/6.0">6.0</a></li>
				<li><a href="/zh-cn/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">安装和配置指南</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">报表作者指南<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">观看视频</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
