---
title: Esri Maps for IBM Cognos
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2017-02-06"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="zh-cn">

mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace each of the following, then remove these notes when you're done:
  PRODUCT_METADATA: The metadata for the product
  Esri Maps for IBM Cognos: The full product name, for example "ArcGIS Maps for Office"
  PRODUCT_NAME: The product name without the preceding Esri or ArcGIS.  For example "Maps for Office".  This may be the same as the Esri Maps for IBM Cognos.
  DOWNLOAD_LINK: A link to download the product, free trial, etc.
  VERSION_NUMBER: The version number of the product.  This may be removed if not needed.
  RELEASE_DATE: The time period of the release.  For example, "Fall 2016" or "October 2016"
  NAV_LINK_x: The link for the navigation tabs at the top.
  NAV_TEXT_x: The text for the navigation tabs at the top.
  PRODUCT_HEADLINE: The main headline for the product.  This should be very short.
  PRODUCT_SUB_HEADLINE: A slightly longer blurb about the product.
  PRODUCT_SEARCH_VALUE: The product value for the search form
  ITUNES_STORE_LINK: Link to the product on the app store
  GOOGLE_PLAY_LINK: Link to the product on Google Play
  WINDOWS_STORE_LINK: Link to the product on the Windows store
  POPULAR_LINK_x: Links to popular pages and topics. These should include "FAQs", "What's new", and "Supported environments", but may include other links as well.
  POPULAR_TEXT_x: Text for links to popular pages and topics.
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  CARD_LINK_x: The page that the card should link to.
  CARD_TITLE_x: The title of the card.
  CARD_TEXT_x: The text inside the card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
  GEONET_LINK: Link to the product's Geonet page
  BLOG_LINK: Link to the the product's blog
  BLOG_FEED_URL: URL for the product's blog feed
  GEONET_LINK: Link to the the product's geonet page
  GEONET_FEED_URL: URL for the product's geonet feed
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Esri Maps for IBM Cognos</h1>
        </div>
        <!-- INSTRUCTIONS: Remove this div tag if the a and p tags within are not needed -->
        <div class="leader-1 text-right">
          <!-- INSTRUCTIONS: Remove this a tag if not needed. Feel free to replace the "Download PRODUCT_NAME" text as needed. -->
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="DOWNLOAD_LINK">下载 Esri Maps for IBM Cognos</a> <!-- INSTRUCTIONS: Remove this p tag if not needed -->
          <p class="trailer-0 leader-0 text-white font-size--2"><strong>版本 6.1.1</strong> 2016 年 9 月</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/maps-for-cognos/" selected>主页</option>
        <option value="/en/maps-for-cognos/install-windows">安装和配置</option>
        <option value="/en/maps-for-cognos/author-maps">制作地图</option>
        <option value="/en/maps-for-cognos/use-maps">使用地图</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/zh-cn/maps-for-cognos/">主页</a>
        <a class="sub-nav-link" href="/zh-cn/maps-for-cognos/install-windows">安装和配置</a>
        <a class="sub-nav-link" href="/zh-cn/maps-for-cognos/author-maps">制作地图</a>
        <a class="sub-nav-link" href="/zh-cn/maps-for-cognos/use-maps">使用地图</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>使用实时地图丰富您的 IBM Cognos 报表</h1>
      <h5>Esri Maps for IBM Cognos 可与 IBM Cognos 10 无缝集成，因此报表创建者可以添加并配置与 IBM Cognos 报表中的其他对象相交互的地图。</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="搜索 Esri Maps for IBM Cognos">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>

    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="/zh-cn/maps-for-cognos/install-windows/what-s-new.htm">新特性</a></li>
        <li><a href="/zh-cn/maps-for-cognos/install-windows/supported-env.htm">支持的环境</a></li>
	      <li><a href="/zh-cn/maps-for-cognos/install-windows/esri-maps-for-ibm-cognos-architecture.htm">架构</a></li>
        <li><a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm">创建地图</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would look better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm">
            <img alt="" src="img/addMaps.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm">将地图添加到报表</a>
          </h5>
          <p>将动态地图添加到 IBM Cognos 报表以帮助您直观分析业务数据。</p>
        </div>
        <nav>
        <a href="/zh-cn/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="btn btn-clear btn-fill leader-0">了解更多信息</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/maps-for-cognos/author-maps/about-interactive-behaviors.htm">
            <img alt="" src="img/interactive.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/maps-for-cognos/author-maps/about-interactive-behaviors.htm">配置交互式行为</a>
          </h5>
          <p>为报表用户增强报表的交互性。选择地图上的要素以更新其他报表对象、设置提示或钻取外部报表。</p>
        </div>
        <a href="/zh-cn/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="btn btn-clear btn-fill leader-0">了解更多信息</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/maps-for-cognos/author-maps/add-data-from-arcgis.htm">
            <img alt="" src="img/addData.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/maps-for-cognos/author-maps/add-data-from-arcgis.htm">从 ArcGIS 添加数据</a>
          </h5>
          <p>将 ArcGIS 中发布的地理数据添加到启用地图功能的报表，从而更加便于分析业务数据。</p>
        </div>
        <a href="/zh-cn/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="btn btn-clear btn-fill leader-0">了解更多信息</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm">
            <img alt="" src="img/share.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm">共享地图和图层</a>
          </h5>
          <p>将地图或单个地图图层共享到 ArcGIS 以供组织内外的其他人使用。</p>
        </div>
        <a href="/zh-cn/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="btn btn-clear btn-fill leader-0">了解更多信息</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">获取 ArcGIS 的更多功能</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">观看视频 <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2LUe3m1qDJtV6PJDthHstWR">更多视频</a>
      </h2>
      <!-- INSTRUCTIONS: If your playlist has fewer than 5 videos, please update "block-group-5-up" below with the correct number. -->
      <div playlistid="PLGZUzt4E4O2LUe3m1qDJtV6PJDthHstWR" class="video-holder block-group block-group-2-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">连接到 Esri Maps for IBM Cognos</h4>
    <!-- INSTRUCTIONS: Remove any links that are not applicable. -->
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/esrigis/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">阅读博客 <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/category/location-analytics/">更多文章</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/location-analytics/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">加入探讨 <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/">更多探讨</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2086" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">参加深入课程</a></h5>
          <p class="trailer-0">
查找和完成使用 ArcGIS 解决现实问题的练习。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">查找培训课程</a></h5>
          <p class="trailer-0">
 通过导师授课式课程、web 课程和研讨会了解有关 ArcGIS 的详细信息。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">获取技术支持</a></h5>
          <p class="trailer-0">
 通过聊天、电子邮件或电话联系 Esri 支持部门。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">检查系统状况</a></h5>
          <p class="trailer-0">
 查看 ArcGIS Online 的状态并报告问题。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
