---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-br/operations-dashboard/">Página Inicial</a></li>
        <li><a href="/pt-br/operations-dashboard/windows-desktop/author/create-a-map.htm">Criar Visualizações</a></li>
        <li><a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Utilizar Visualizações</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">Baixar o aplicativo</h2>
          <span id="appVersion"><strong>Versão:</strong> 10.2</span> <span id="appReleased"><strong>Lançamento:</strong> Novembro 2013</span>

          <p>Monitorar atividades e eventos, localizar sua mão de obra no campo e avaliar o status e desempenho de suas operações diariamente.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Obter o Operations Dashboard</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">Requisitos de sistema</a> <a id="appWhatsNew" href="#whatsNew">Quais as Novidades</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/pt-br/operations-dashboard/dashboard-create-small.png" />

          <h3>Criar &amp; compartilhar uma visualização da operação</h3>
          <p>Em três etapas fáceis, crie e compartilhe visualizações da operação que incluem mapas, listas, gráficos, medidas e mais, baseado em dados geográficos reais definidos em um mapa da web ou serviço da web.</p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/pt-br/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorar &amp; responder aos eventos</h3>
          <p>Utilize sua visualização da operação para focar em aspectos da operação importantes para você. Serviços de monitoração, entregas, usuários, veículos e mais, em qualquer lugar no mundo em quatro etapas.</p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">Mostre-me como</a><br /> <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Assista ao vídeo</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos de sistema</h2>

        <p>Há determinados requisitos do dispositivo para executar o Operations Dashboard, como também, requisitos sobre os dados que são utilizados dentro do aplicativo. O Operations Dashboard é suportado em vários idiomas.</p>


        <h3>Sistemas operacionais suportados</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (32 bits e 64 bits [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (32 bits e 64 bits [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional e Home Premium (32 bit e 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (32 bit e 64 bit [EM64T]) SP2</li>
        </ul>


        <h3>Requisitos de hardware</h3>
        <ul>
			<li>Velocidade da CPU: Recomendado 2.2 GHz ou superior; Hyper-threading (HHT) ou Multi-core.</li>
			<li>Processador: Processadores da Intel Pentium 4, Intel Core Duo ou Xeon; mínimo SSE2. Execute este utilitário da Microsoft pela janela de comando do Windows para verificar seu processador.</li>
			<li>Espaço em disco: 1.5 GB do espaço em disco disponível.</li>
			<li>Memória/RAM: 2 GB ou superior.</li>
			<li>Propriedades de visualização: contraste de cores de 24-bits.</li>
			<li>Resolução da tela: 1024x768 ou superior em tamanho normal (96 dpi).</li>
			<li>Área de troca: Determinado pelo sistema operacional; mínimo de 500 MB.</li>
			<li>Adaptador de Vídeo/Gráficos: Mínimo 64 MB de RAM; 256 MB de RAM recomendado; grupos de chip NVIDIA, ATI e INTEL suportados. Driver do cartão de gráficos acelerado. Mínimo Shader Model 2.0. Certifique-se de utilizar o driver disponível mais recente.</li>
		</ul>


        <h3>Requisitos de software</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> O é exigido. Você deve ter privilégios administrativos na sua máquina para instalá-lo.</p>

        <h3>Requisitos dos dados</h3>
		<p>Para utilizar seus mapas no Operations Dashboard, você deve ter uma conta organizacional do ArcGIS. Seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server. As fontes de dados devem ser hospedadas no ArcGIS Online, ArcGIS 10.1 for Server ou superior.</p>

		<h3>Requisitos de desenvolvedor</h3>
		<p>O <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a> é exigido para personalizar o Operations Dashboard for ArcGIS.</p>

	<h3>Idiomas suportados</h3>
	<p>Árabe, Tcheco, Dinamarquês, Holandês, Estoniano, Finlandês, Francês, Alemão, Hebreu, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polonês, Português (Brasil), Português (Portugal), Romano, Russo, Chinês Simplificado, Espanhol e Sueco.</p>
	<p>O idioma utilizado pelo aplicativo é determinado pela configuração de idioma do seu sistema operacional.</p>

        <a name="whatsNew"></a>
        <h2>Quais as novidades</h2>
        <p>O Operations Dashboard for ArcGIS versão 10.2 foi lançado em Novembro de 2013. Ele inclui as seguintes melhorias:</p>
        <ul>
        <li>Suporte para logins enterprise.</li>
        <li>Suporte para Portal for ArcGIS.</li>
        <li>Widgets de medidor e lista melhorados.</li>
        <li>Janelas pop-up com imagens e gráficos.</li>
        <li>Suporte de proxy melhorado.</li>
        <li>Suporte para hora local.</li>
        <li>Filtro de data e hora melhorado.</li>
        <li>Uso no ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Os complementos podem ser desenvolvidos utilizando ArcGIS Runtime SDK 10.2 for WPF.</li>
        <li>Localização em Árabe, Tcheco, Dinamarquês, Holandês, Estoniano, Finlandês, Francês, Alemão, Hebreu, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polonês, Português (Brasil), Português (Portugal), Romano, Russo, Chinês Simplificado, Espanhol e Sueco.</li>
        </ul>
      
        <p> </p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Guia de Introdução</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Instalar</a></li>
            <li><a href="/pt-br/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">Criar e compartilhar uma visualização da operação</a></li>
            <li><a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Monitorar e responder as atividades e eventos</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">Desenvolver complementos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
