---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2016-02-29"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="pt-br">

dashboardDownloadLink: http://www.arcgis.com/opsdashboard/OperationsDashboard.application
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-br/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-br/operations-dashboard/">Página Inicial</a></li>
        <li><a href="/pt-br/operations-dashboard/windows-desktop/author/create-a-map.htm">Criar Visualizações</a></li>
        <li><a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Utilizar Visualizações</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Monitore atividades e eventos, localize sua mão de obra no campo e avalie o status e desempenho de suas operações diariamente.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" id="dashboardDownloadLink" href="#">Obter o Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Criar e compartilhar uma visualização da operação</h3>
          <p>Em três etapas fáceis, crie e compartilhe visualizações da operação que incluem mapas, listas, gráficos, medidas e mais, baseado em dados geográficos reais definidos em um serviço da web ou mapa.</p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorar e responder aos eventos</h3>
          <p>Utilize sua visualização da operação para focar em aspectos da operação importantes para você. Serviços de monitoramento, entregas, usuários, veículos e mais, em qualquer lugar no mundo em quatro etapas.</p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
			<a title="Monitorar e responder aos eventos" href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Assista ao vídeo</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Monitorar no navegador</h3>
          <p>Utilize sua visualização da operação em um navegador. Nada para instalar—apenas abra uma visualização da operação e mantenha atualizada em suas operações, até no seu iPad.</p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Extensões de desenvolvimento</h3>
          <p>Traga sua lógica de negócios única para sua visualização da operação utilizando widgets, ações da feição e ferramentas do mapa personalizadas. </p>
          <p>
            <a href="/pt-br/operations-dashboard/windows-desktop/author/custom-addins.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Recursos</h2>
	<p>Reúna uma visualização comum dos sistemas e recursos que você gerencia.Monitore os dados em tempo real para eventos de grande escala ou operações do dia a dia no seu dispositivo desktop ou tablet.Crie painéis executivos focados que integram mapas, tabelas e gráficos.</p>
	
	<ul>
	<li>Utilize mapas com fontes de dados dinâmicas para fornecer visualizações em tempo real.</li>
	<li>Configure gráficos, medidores, histogramas e mais, para fornecer contexto de estatística.</li>
	<li>Crie e compartilhe visualizações da operação que estão focadas em uma necessidade específica.</li>
	<li>Projete visualizações para utilizar em múltiplos monitores ou dispositios de única visualização.</li>
	<li>Crie ferramentas e widgets personalizados para atender as suas necessidades.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Requisitos de sistema</h2>

        <p>Há determinados requisitos do dispositivo para executar o Operations Dashboard, como também, requisitos sobre os dados que são utilizados dentro do aplicativo. O Operations Dashboard é suportado em vários idiomas.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Aplicativo Windows</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Sistemas operacionais suportados</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 10 Pro e Windows 10 Enterprise (32 bit e 64 bit [EM64T])</li>
          <li>Windows 8.1, Windows 8.1 Pro e Windows 8.1 Enterprise (32 bits e 64 bits [EM64T])</li>
          <li>Windows 8, Windows 8 Pro e Windows 8 Enterprise (32 bits e 64 bits [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional e Home Premium (32 bit e 64 bit [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard e Datacenter (64 bit [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise e Datacenter (64 bit [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise e Datacenter (32 bit e 64 bit [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Requisitos de hardware</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Velocidade da CPU: Recomendado 2.2 GHz ou superior; Hyper-Threading Technology (HHT) ou Multi-core.</li>
			<li>Processador: Processadores da Intel Pentium 4, Intel Core Duo ou Xeon; mínimo SSE2. Execute o utilitário <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> da Microsoft pela janela de comando do Windows para verificar seu processador.</li>
			<li>Espaço em disco: 1.5 GB de espaço em disco disponível.</li>
			<li>Memória/RAM: 2 GB ou superior.</li>
			<li>Propriedades de visualização: contraste de cores de 24-bits.</li>
			<li>Resolução da tela: 1024x768 ou superior em tamanho normal (96 dpi).</li>
			<li>Área de troca: Determinado pelo sistema operacional; mínimo de 500 MB.</li>
			<li>Adaptador de Vídeo/Gráficos: Mínimo 64 MB de RAM; 256 MB de RAM recomendado; grupos de chip NVIDIA, ATI e INTEL suportados. Driver do cartão de gráficos acelerado. Mínimo - Shader Model 2.0. Certifique-se de utilizar o driver disponível mais recente.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Requisitos de software</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px"><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> ou posterior é exigido. Você deve ter privilégios administrativos na sua máquina para instalá-lo.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Requisitos de desenvolvedor</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px"><a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> ou <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.5 for WPF</a> é exigido para estender o Operations Dashboard for ArcGIS. Para utilizar ArcGIS API for JavaScript, a visualização de operação deve estar ativada no ArcGIS Online ou Portal for ArcGIS 10.4 ou posterior. Para utilizar o ArcGIS Runtime SDK for WPF, é exigido Microsoft Visual Studio 2012 ou 2013 Professional, Premium, ou Ultimate.</p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Idiomas suportados</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">Árabe, Tcheco, Dinamarquês, Holandês, Inglês, Estoniano, Finlandês, Francês, Alemão, Hebreu, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polonês, Português (Brasil), Português (Portugal), Romano, Russo, Chinês Simplificado, Espanhol, Sueco, Tailandês, Turco e Vietnamita.</p>
     	<p style="padding:0 15px">O idioma utilizado pela versão Windows do aplicativo é determinado pela configuração de idioma do seu sistema operacional. Se utilizar uma configuração de idioma sem suporte, o aplicativo utilizará o Inglês.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Aplicativo do Navegador</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Navegadores suportados</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Desktop
 <ul style="padding:0 15px">
 <li>Chrome versão 19.0 e posterior</li>
 <li>Firefox versão 4.0 e posterior</li>
 <li>Internet Explorer versão 9.0 e posterior</li>
 <li>Microsoft Edge versão 20.0 e posterior</li>
 <li>Safari versão 5.1 e posterior</li>
 </ul> 
 Tablet 
 <ul style="padding:0 15px">
 <li>Android 4.0 e posterior executando Chrome versão 19.0 e posterior</li>
 <li>iOS 6.0 e posterior executando Safari</li>
 </ul>
 Telefone 
 <p style="padding:0 15px">Nenhum navegador de smartphone é atualmente suportado.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp12');" style="display:inline;">Requisitos de desenvolvedor</a>
 <div exp12='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px"><a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> é exigido para estender o Operations Dashboard for ArcGIS. A visualização de operação deve estar ativada no ArcGIS Online ou Portal for ArcGIS 10.4 ou posterior.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Idiomas suportados</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Checo, Dinamarquês, Holandês, Inglês, Estónio, Finlandês, Francês, Alemão, Grego, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polonês, Português (Brasil), Português (Portugal), Romeno, Russo, Chinês Simplificado, Espanhol, Sueco, Tailandês, Chinês Tradicional (Hong Kong), Chinês Tradicional(Taiwan), Turco e Vietnamita.</p>
      	<p style="padding:0 15px">Na versão do navegador, seu perfil do ArcGIS Online é utilizado para configurar o idioma. Se utilizar uma configuração de idioma sem suporte, o aplicativo utilizará o Inglês.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Requisitos dos dados</h3>
		<p>Para utilizar seus mapas no Operations Dashboard, você deve ter uma conta organizacional do ArcGIS. Seus mapas podem incluir dados do ArcGIS Online, Portal for ArcGIS e ArcGIS for Server. As fontes de dados devem ser hospedadas no ArcGIS Online, ArcGIS 10.1 for Server ou superior.</p>
		<p>Se compartilhada publicamente, uma visualização da operação poderá ser visualizada no aplicativo do navegador sem registrar.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Quais as novidades</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>O Operations Dashboard for ArcGIS 10.3.2 foi lançado em Novembro de 2015. Inclui o seguinte:</p>
	        <ul>
	         <li>Vários erros corrigidos e melhorias, incluindo BUG-000084019, BUG-000084387, BUG-000086562, BUG-000089887 e BUG-000089919</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Navegador</h4>
	        <p>O aplicativo do navegador para Operations Dashboard for ArcGIS foi atualizado em Fevereiro de 2016. Inclui as seguintes melhorias:</p>
	        <ul>
	          <li>Suporte para estender no Portal for ArcGIS 10.4 e posterior utilizando ArcGIS API for JavaScript</li>
	          <li>Várias melhorias e correções de erro</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Prévia</h2>
	<p>Hoje o Operations Dashboard é um ótimo aplicativo para monitorar suas operações. Mas há mais por vir! A tabela seguinte apresenta onde gostaríamos de utilizar este aplicativo, mostrando recursos que traremos para cada um dos seus dispositivos:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Funcionalidade por plataforma <br/>
	  <span class="icon-check" style="color:black"></span> atual, <span class="icon-check icon-green"/> em breve, <span class="icon-check" style="color:lightgray"></span> mais tarde<br/></caption>
	  <tr><td></td>
	    <th>Windows Desktop</th>
	    <th>Navegador</th>
	  </tr>
	  <tr><th>Criar visualizações da operação</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Utilizar visualizações da operação</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Visualização da operação de única exibição</span></td>
	  </tr>
	  <tr><th>Trabalhar com Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 ou posterior</span></td>
	  </tr>
	  <tr><th>Extensível</th>
	    <td><span class="icon-check"/></span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* ArcGIS Online ou Portal for ArcGIS 10.4 ou posterior<br/><span style="font-size:12px">* Extensível ao utilizar o ArcGIS API for JavaScript</span></td>
	  </tr>
	  <tr><th>Utilizar serviços do mapa como fonte de dados</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>Pesquisar dados</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtrar informações espacialmente</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>Suporte para tabelas independentes como fontes de dados</th>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Atualmente como origens de dados externas</span></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Atualmente como origens de dados externas</span></td>
	  </tr>
	  <tr><th>Suportar tabelas relacionadas</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Visualização 3D</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Gerenciamento da mão-de-obra</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Compartilhe suas <a href="http://ideas.arcgis.com/">idéias</a>e <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">nos envie sua resposta</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Detalhes</h3>
          
	  <h4><a href="#features">Recursos</a></h4>
	  <h4><a href="#systemRequirements">Requisitos de sistema</a></h4>
	  <h4><a href="#whatsNew">Quais as novidades</a></h4>
	  <h4><a href="#sneakPeek">Prévia</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
$("#dashboardDownloadLink").click(function (){
	window.location = "<%=data.page.dashboardDownloadLink%>";
	return false;
})

  </script>
