---
title: Trust - システム ステータス
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/ja/trust/">Trust</a></li>
        <li class='current'><a title="ArcGIS Online のシステム ステータス" href="/ja/trust/system-status/">ArcGIS Online のシステム ステータス</a></li>
        <li><a title="ArcGIS Online のセキュリティ" href="/ja/trust/security/">セキュリティ</a></li>		
        <li><a title="ArcGIS Online のプライバシー" href="/ja/trust/privacy/">プライバシー</a></li>
        <li><a title="ArcGIS Online のプライバシー" href="/ja/trust/compliance/">コンプライアンス</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1250" frameborder="0">
  エラー: エンベデッド データを表示できませんでした。 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard には、大多数のユーザーに影響を与えることが確認されたステータス情報が表示されます。 ArcGIS Online は大規模なクラウドベースのプラットフォームであるため、多くのイベントによる影響が広範なユーザー層に対してあるとしても、限定的となります。 このステータス ページには、組織固有の問題は表示されません。これらの問題は、利用可能なサポート サービスを使用して解決することをお勧めしています。</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			 <a href="http://cloud.cio.gov/fedramp"><img src="../img/fedramp.png"/></a>
			 <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
