<!doctype html>
---
layout: marketplace/layout

title: Sign Up - ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">Registe-se para ser fornecedor</h1>
    </header>
	<nav>&nbsp;</nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">Venda as suas aplica&ccedil;&otilde;es no ArcGIS Marketplace. Tenha acesso &agrave; maior base de utilizadores SIG do mundo. Simplificamos a sua liga&ccedil;&atilde;o com os utilizadores, a oferta de per&iacute;odos de teste gratuitos e a gera&ccedil;&atilde;o de leads. Como fornecedor de aplica&ccedil;&otilde;es, fica com 100% da recita gerada pela venda da sua aplica&ccedil;&atilde;o. Consulte as <a href="/pt-pt/marketplace/provider/faq.htm">FAQ</a> para detalhes. </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">J&aacute; &eacute; um Parceiro Esri?</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">Alcance um p&uacute;blico mais vasto listando a sua solu&ccedil;&atilde;o no ArcGIS Marketplace. Inicie sess&atilde;o no <a href="http://partnerportal.esri.com/">Esri partner Portal</a> para saber o que &eacute; necess&aacute;rio fazer para se tornar fornecedor.</p>

      </section>

	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">N&atilde;o &eacute; parceiro? Novo na Esri?</h2>
		<p data-langlabel="provider-signup-note">Estamos &agrave; procura de desenvolvedores que pretendam construir &oacute;timas solu&ccedil;&otilde;es para os nossos utilizadores. Diga-nos quem &eacute; o que pretende fazer e n&oacute;s ajud&aacute;-lo-emos a come&ccedil;ar.</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="http://resources.arcgis.com/apps/contact-us/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="first-name" for="first-name">Primeiro Nome: </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">Apelido: </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">Endere&ccedil;o de correio eletr&oacute;nico: </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">N&uacute;mero de Telefone: </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">Sobre si: </label>
			  <textarea data-langlabel="comment" placeholder="I build apps that..." name="userComment" id="userComment"></textarea>
			  
			  <label data-langlabel="feedback-spam-note" for="spam">Para ajudar a prevenir o spam autom&aacute;tico, introduza os n&uacute;mero que observa: </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">N&uacute;meros: <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="interno" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="pt" name="lg">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" data-langlabel="contact-us">Enviar</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>Obrigado pelo seu interesse em tornar-se fornecedor do ArcGIS Marketplace. Entraremos em contato nos pr&oacute;ximos dias &uacute;teis.</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>
