---
title: Luottamus
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="fi">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fi/Trust/">Luota ArcGIS:iin</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/fi/trust/">Luottamus</a></li>
        <li><a title="ArcGIS Online -järjestelmän tila" href="/fi/trust/system-status/">ArcGIS Online -tila</a></li>
        <li><a title="ArcGIS Online -tietosuoja" href="/fi/trust/security/">Tietoturva</a></li>
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/privacy/">Tietosuoja</a></li>
        <li><a title="ArcGIS Online -yksityisyys" href="/fi/trust/compliance/">Vaatimustenmukaisuus</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS – Suojattu ja luotettava sijaintialusta</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Security data ownership" />
	      <div style="padding-top:30px; text-align: center;">
      <a href="/fi/trust/system-status/" class="btn tertiary" style="width:75%;text-align:center; " >Tarkista järjestelmän tila</a>
    </div>
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com on resurssi, josta löydät tietosuojaan, yksityisyyteen ja lainmukaisuuteen liittyviä tietoja.Etsi:</p>
      <ul>
        <li>ArcGIS Online -palvelujen käytettävyys, järjestelmän suorituskykytiedot ja tilahistoria</li>
        <li>Suojauspäivitykset ja nykyiset ilmoitukset</li>
        <li>Tuotteen suojaustiedot ArcGIS-alustaa varten</li>
        <li>Organisaatiosi parhaat suojauskäytännöt</li>
        <li>Yksityisyys- ja lainmukaisuustiedot</li>
      </ul>
      <p>Asiakaskeskustelut ovat vaikuttaneet Trust.ArcGIS.com-sivuston toteutukseen.Mitä haluat nähdä tässä?Jos sinulla on ehdotuksia, lähetä ne  <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>-sivustoon.</p>

	
 </div>

    <div class="clear"></div>
    <div class="" style="text-align:center; padding-top:75px;">
      <h4>&quot;FedRAMP Moderate -vaatimustenmukaisuus (versio 4) esittelee erikseen varmistetun, jatkuvan ArcGIS-alustan tietoturvan kehittämisen.&quot;</h4>
      <p>Michael Young, pääsuojausarkkitehti, Esri</p>

    </div>
    <div style="text-align:center; padding-top:45px;">
      <a href="http://cloud.cio.gov/fedramp"><img src="img/fedramp.png"/></a><a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">

    <br/>
	        <!-- Blog Feed -->
        <div class="imgFrame block">
          <h3 class="icon-announcement">Ilmoitukset &nbsp;&nbsp;<a id="rssIcon" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" title="ArcGIS-blogi"><img src="img/rss.png" /></a></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <div style="text-align:right;">
		  <a class="btn transparent" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">Kaikkien ilmoitusten tarkastelu</a> 
		  </div>
        </div><br/>
		  		    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class="icon-alert icon-orange" href="/fi/trust/security-concern/"> Raportoi suojausongelmasta</a>  </h4>
    </div>
    <br />

  </div>

 </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/',
        max: 3,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

