---
title: Ajuda ArcGIS Open Data
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="pt-pt">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-pt/open-data/">Principal</a></li>
        <li><a href="/pt-pt/open-data/consumer/">Para Consumidores</a></li>
        <li><a href="/pt-pt/open-data/provider/">Para Fornecedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">O que é ArcGIS Open Data?</h2>

          <p>O Open Data permite às organizações utilizar a plataforma ArcGIS para fornecer ao público aceso aberto aos seus dados autorizados. As organizações configuram um site web com a sua própria aparência e especificam grupos Open Data para partilhar itens específicos. O público em geral pode utilizar os sites Open Data para pesquisar por tópico ou localização, descarregar dados em múltiplos formatos, e visualizar dados num mapa interativo e numa tabela.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Para Consumidores </h3>
          <p>Interaja com dados através de gráficos, tabelas, e mapas para o ajudar a aprender acerca da sua comunidade. Descubra, explore, e descarregue dados, ou partilhe um link para um conjunto de dados interessantes.</p>
          <p>

			<a href="/pt-pt/open-data/consumer/" class="icon-right-arrow">&nbsp;Mostre-me como</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Para Fornecedores</h3>
          <p>Defina um site web personalizado e seleccione os dados autoritários que pretende partilhar. Permita a todos pesquisarem, visualizarem, e descarregarem os seus dados em formatos múltiplos.</p>
          <p>
            <a href="/pt-pt/open-data/provider/" class="icon-right-arrow">&nbsp;Mostre-me como</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Utilidades</h2>

        <p>Crie e partilhe os seus próprios dados usando fluxos de trabalho que já sabe criar num site Dados Abertos (Open Data).</p>
		<ul>
			<li>Active Dados Abertos (Open Data) na sua organização e grupos.</li>
			<li>Criar sites personalizados para os seus dados.</li>
			<li>Permitir pesquisa federada através de organizações e grupos.</li>
			<li>Forneça suporte para tabelas espaciais e não espaciais.</li>
			<li>Forneça filtros interactivos para explorar dados.</li>
			<li>Partilhe links para filtrar visualizações de conjuntos de dados.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Requisitos de dados</h2>
        <p>ArcGIS Open Data actualmente trabalha com dados de camadas de elemento alojadas, serviços de elemento ArcGIS Server, serviços de mapa ArcGIS Server, serviços de imagens ArcGIS Server, ficheiros CSV, tabelas alojadas. ArcGIS Open Data oferece suporte limitado para URLs externos, mapas web, e outros documentos (tais como documentos Word e PDFs).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Quais as novidades?</h2>
		<p>Open Data foi actualizado em Julho de July 2015 com os seguintes elementos e funcionalidades: </p>
		
		<ul>
			<li>Visualizações de densidade em grade para conjuntos de dados grandes (Geohash).</li>
			<li>Suporte para metadados formais do ArcGIS Online.</li>
			<li>Inicie sessão com e inicie sessão para contas ArcGIS Online.</li>
			<li>Utilizador e administrador comentam sobre conjuntos de dados.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Breve antevisão</h2>
		<p>ArcGIS Open Data acaba de ser lançado, e estamos a planear algumas coisas interessantes no caminho que temos pela frente:</p>
		
		<ul>
			<li>Informação estatística sobre os seus dados para rastrear as contagens de descarregamentos e detalhes sobre pontos de vista.</li>
			<li>Maior controle administrativo sobre conjuntos de dados e colheitas.</li>
			<li>Melhor experiência de utilizador usuário para pesquisar e filtrar conjuntos de dados.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Partilha as suas <a class="" href="http://ideas.arcgis.com">ideias</a> para onde ArcGIS Open Data vai!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Detalhes</h3>
	          
	  <h4><a href="#features">Elementos</a></h4>
	  <h4><a href="#dataRequirements">Requisitos de dados</a></h4>
	  <h4><a href="#whatsNew">Quais as novidades?</a></h4>
	  <h4><a href="#SneakPeek">Breve antevisão</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Página de ArcGIS Ideas</h3>
         <p>Partilhe as suas ideias para onde ArcGIS Open Data vai! Coloque uma sugestão ou vote em ideias já existentes.</p> <br/>
         <p>É um profissional à procura de ideias? Veja o que os clientes estão a pedir. Convide colaboradores para colaborar em particular com você a evoluir ideias.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


