---
title: ArcGIS Open Data Help
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/open-data/">Main</a></li>
        <li><a href="/en/open-data/consumer/">For Consumers</a></li>
        <li><a href="/en/open-data/provider/">For Providers</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">What is ArcGIS Open Data?</h2>

          <p>Open Data allows organizations to use the ArcGIS platform to provide the public with open access to their authoritative data. Organizations configure a website with their own look and feel and specify Open Data groups to share specific items. The general public can use Open Data sites to search by topic or location, download data in multiple formats, and view data on an interactive map and in a table.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/customer-2componentView.jpg" />

          <h3>For Consumers </h3>
          <p>Interact with data and maps to help you learn about your community. Discover, explore, and download data, or share a link to an interesting dataset.</p>
          <p>

			<a href="/en/open-data/consumer/" class="icon-right-arrow">&nbsp;Show me how</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/provider4.jpg" />

          <h3>For Providers</h3>
          <p>ArcGIS Open Data provides a mechanism to create a free website that will allow you to interact with your citizens and better understand the issues the community cares most about.</p>
          <p>
            <a href="/en/open-data/provider/" class="icon-right-arrow">&nbsp;Show me how</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Features</h2>

        <p>Create and share your own data in an Open Data site using the workflows you already know. </p>
		<ul>
			<li>Create customized sites for your data.</li>
			<li>Enable Open Data on your organization and groups.</li>
			<li>Allow federated searching across organizations and groups.</li>
			<li>Create simple workflows for sharing your data.</li>
			<li>Provide support for spatial and non-spatial tables.</li>
			<li>Provide interactive filters to explore data.</li>
			<li>Share links to filtered views of datasets.</li>
		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Data requirements</h2>
        <p>ArcGIS Open Data currently works with features from hosted feature services as well as feature and map services from an ArcGIS Server.</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>
		<p>Open Data Beta was released in April 2014, and the following features and functionality have since been added to the final release:</p>
		
		<ul>
			<li>Advanced data filtering options based on attribute</li>
			<li>Download option shows OGC links if available</li>
			<li>Share a link includes dataset filter and map extent</li>
			<li>Embed dataset with filter and map extent via iframe</li>
			<li>Support for non-spatial data through tables in services</li>
			<li>Dataset attribute summary shows statistics</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Sneak peek</h2>
		<p>ArcGIS Open Data has just been released, and we're planning some exciting things in the road ahead:</p>
		
		<ul>
			<li>New interface for Administrators to design sites and view statistics</li>
			<li>Discover and find new data types such as documents and imagery</li>
			<li>Explore data using dynamic charts</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Share your <a class="" href="http://ideas.arcgis.com">ideas</a> for where ArcGIS Open Data will go!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#dataRequirements">Data requirements</a></h4>
	  <h4><a href="#whatsNew">What's new</a></h4>
	  <h4><a href="#SneakPeek">Sneak peek</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Share your ideas of where ArcGIS Open Data will go! Post a suggestion or vote on existing ideas.</p> <br/>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


