---
title: ArcGIS Open Data Help
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/open-data/">Help</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="open data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/marketplace/">Main</a></li>
        <li><a href="/en/marketplace/consumer/">For Consumers</a></li>
        <li><a href="/en/marketplace/provider/">For Providers</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">What is ArcGIS Open Data?</h2>

          <p>As an ArcGIS Online subscriber, you can start building an Open Data website for free that looks and feels just like your own. When your website is ready, the public can freely view interactive maps and search and download data they are interested in.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>For Consumers </h3>
          <p>Interact with maps and download data to help you assess your community issues.</p>
          <p>

			<a href="/en/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;Show me how</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>For Providers</h3>
          <p>ArcGIS Open Data provides a mechanism to create a free website that will allow you to interact with your citizens and better understand what issues the community is focused on.</p>
          <p>
            <a href="/en/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Show me how</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

