---
title: Trust - Etat du système
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/fr/trust/">Trust</a></li>
        <li class='current'><a title="Etat du système ArcGIS Online" href="/fr/trust/system-status/">Etat du système</a></li>
        <li><a title="Sécurité ArcGIS Online" href="/fr/trust/security/">Sécurité</a></li>		
        <li><a title="Confidentialité ArcGIS Online" href="/fr/trust/privacy/">Confidentialité</a></li>
        <li><a title="Conformité ArcGIS Online" href="/fr/trust/compliance/">Conformité</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">
  Erreur : impossible d'afficher les données intégrées. 
</iframe>
        </div>
 </div>

<div>
	<p>Le tableau de bord d'intégrité ArcGIS Online présente des informations d'état qui ont réellement impacté la majorité de nos utilisateurs. ArcGIS Online étant une vaste plateforme basée sur le cloud, de nombreux événements n'ont qu'un effet limité sur notre importante base d'utilisateurs, voire aucun. Cette page d'état ne publie pas les problèmes propres aux organisations, car nous encourageons leur résolution par l'intermédiaire de nos services de support disponibles.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
