---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="da">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/maps-for-office/">Hjem</a></li>
        <li><a href="/da/maps-for-office/help/">Hj&aelig;lp</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Hent app\'en</h2>
          <span id="appVersion"><strong>Version:</strong> 2.1.5</span> <span id="appReleased"><B>Tilg&aelig;ngelig:</B> Vinter 2015</span>


          <p>Esri Maps for Office g&oslash;r det muligt at oprette dynamiske, interaktive kort ud fra dine Excel-data og udforske dem p&aring; en helt ny m&aring;de. Med Esri Maps for Office kan du finde m&oslash;nstre og tendenser, som ikke fremg&aring;r af tabeldata og diagrammer. Kort kan deles med det samme via PowerPoint-pr&aelig;sentationer eller ved publicering med et enkelt klik til Esris kortl&aelig;gningsplatform ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Hent Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Kortl&aelig;g dine regneark </h3>
          <p>L&aelig;r, hvordan du kortl&aelig;gger dine Excel-data ved hj&aelig;lp af Esri Maps for Office. Du kan nemt oprette interaktive farvekodede, punkt-, klyngepunkt- og varmekort direkte i Excel og opn&aring; visuel indsigt i dine data.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Berigelse af dine data</h3>
          <p>Udnyt Esris v&aelig;ld af datasamlinger til at f&oslash;je v&aelig;rdi til dine forretningsdata. Tilf&oslash;j demografiske og livsstilsdata direkte til Excel-regneark og f&aring; mere indhold om de steder, der er vigtige for dig. Udforsk hurtigt steder &quot;on-the-fly&quot; ved hj&aelig;lp af pop-up-infografik.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Se en video</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Esri Maps for Office kr&aelig;ver en konto, der er en del af en <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-organisation og Microsoft Office Excel eller PowerPoint 2010 eller Microsoft Office Excel eller PowerPoint 2013. De underst&oslash;ttede styresystemer omfatter:</p>
		<ul>
		 <li>Windows XP (skal have SP3) (32-bit)</li>
		 <li>Windows 7 (32-bit og 64-bit)</li>
		 <li>Windows 8 (32-bit og 64-bit)</li>
		 <li>Windows Server 2003 med SP2 og MSXML 6.0 (kun 32-bit Office)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Se systemkravene til <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> og <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a> for yderligere oplysninger, herunder den p&aring;kr&aelig;vede processorhastighed, hukommelse og harddiskplads.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Nyheder</h2>
        <p>Esri Maps for Office version 2.1.5 blev frigivet i vinteren 2015. Den indeholder f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Underst&oslash;ttelse af sikre og ikke-sikre web-proxy'er.</li>
        </ul>


        <h3>Tidligere versioner</h3>
        
	<p>Esri Maps for Office version 2.1.4 blev frigivet i for&aring;ret 2014. Den indeholdt f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Sikkerhedsopdateringer.</li>
        </ul>

        <p>Esri Maps for Office version 2.1.3 blev frigivet i for&aring;ret 2014. Den indeholdt f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Support til brugerdefinerede roller.</li>
        <li>Nye uoverv&aring;gede Installer-parametre muligg&oslash;r bedre kontrol med st&oslash;rre installationer.</li>
        <li>Maps for Office kontrollerer nu for forbindelse til ArcGIS og giver dig besked, hvis n&oslash;dvendige tjenester er utilg&aelig;ngelige.</li>
		<li>Fejlrettelser og forbedret anvendelighed, herunder:</li>
			<ul>
			<li>Mulighed for at bruge &quot;hosted&quot; korttjenester som brugerdefinerede stedtyper.</li>
			<li>Problemer med lagsynlighed i lokaliserede versioner er blevet l&oslash;st.</li>
			<li>Problemer med vilk&aring;rlige nedbrud for&aring;rsaget af &aelig;ldre versioner af Visual Studio Tools for Office er blevet l&oslash;st.</li>
			<li>Brugerdefinerede lokatorer vises nu med deres navn i stedet for med &quot;adresse&quot; under Tilf&oslash;j dataworkflow.</li>
			<li>Bedre registreringsadministration ved afinstallation.</li>
			<li>Mere effektiv lagring af geometrier fra ArcGIS.</li>
			<li>Hvis der er oprettet forbindelse til en portal, foretages der ikke l&aelig;ngere foresp&oslash;rgsler til ArcGIS Online.</li>
			<li>Kommaer som decimaladskillere h&aring;ndteres nu korrekt.</li>
			<li>Berigede lag kan nu formateres og grupperes p&aring; basis af de nyligt tilf&oslash;jede kolonner.</li>
			<li>Pop-up-vinduer for berigede lag viser nu korrekte kolonneoverskrifter.</li>
			<li>Hvis der ikke er forbindelse til internettet, forekommer der ikke l&aelig;ngere nedbrud.</li>
			<li>Esri Maps for Office i PowerPoint tager nu h&oslash;jde for organisationens standardbaggrundskort.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office version 2.1.2 blev frigivet i november 2013. Den indeholdt f&oslash;lgende forbedringer:</p>
        <ul>
		<li>Fejlrettelser og forbedret anvendelighed, herunder:</li>
			<ul>
			<li>Forbedringer af Berig lag-v&aelig;rkt&oslash;jet som f.eks.: mere effektiv hukommelsesanvendelse til h&aring;ndtering af foresp&oslash;rgsler om berigelse og en forbedret statusindikator.</li>
			<li>Rettelse af en fejl, der bevirkede, at Excel gik ned efter installation af Esri Maps. </li>
			<li>Rettelse af en fejl, der medf&oslash;rte visning af ukorrekte billeder i s&oslash;gevinduet.</li>
			<li>Rettelse af en fejl, der bevirkede, at brugerdefinerede s&oslash;gninger efter stedtype mislykkedes p&aring; japansk, russisk og kinesisk.</li>
			<li>Har ryddet op i lokale strenge i forbindelse med Vigtige fakta, Velstand, Politik og Helbred i s&oslash;gevinduet.</li>
			</ul>
        </ul>
		
		<p>Version 2.1.1 blev frigivet i oktober 2013. Den indeholdt f&oslash;lgende forbedringer:</p>
        <ul>
        <li>Nye lokaliserede versioner til 22 underst&oslash;ttede sprog:</li>
			<ul>
			<li>Arabisk, kinesisk (forenklet), dansk, hollandsk, engelsk, estisk, fransk, tysk, hebr&aelig;isk, italiensk, japansk, koreansk, lettisk, litauisk, norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rum&aelig;nsk, russisk, spansk og svensk.</li>
			</ul>
		<li>Support til pop-ups i webkort</li>
		<li>Symbolisering af objekter med et ikon fra en attribut-URL</li>
		<li>Fejlrettelser og forbedret anvendelighed i hele produktet, herunder:
			<ul>
			<li>Forbedret h&aring;ndtering af OAuth-logins</li>
			<li>Flere nyttige meddelelser i v&aelig;rkt&oslash;jet Find hotspots</li>
			<li>V&aelig;rkt&oslash;jet Find hotspots kan nu h&aring;ndtere kolonnenavne med mellemrum</li>
			<li>V&aelig;lg-v&aelig;rkt&oslash;jet underst&oslash;tter nu buffere med st&oslash;rrelsen &quot;0&quot;</li>
			<li>Problemer rettet i opgavevinduet</li>
			<li>Fejl rettet i gruppesynlighed</li>
			<li>Forbedret st&oslash;tte til organisationer, som bruger SSL til alle forbindelser</li>
			<li>Gruppering fungerer nu korrekt ved anvendelse af kolonner, der er tilf&oslash;jet fra v&aelig;rkt&oslash;jet Berig lag</li>
			</ul>
        </ul>
		
        <p>Version 2.1 blev frigivet i juli 2013. Den indeholder f&oslash;lgende forbedringer: </p>
        <ul>
        <li>Statistiske m&oslash;nsteranalyser via hotspot-v&aelig;rkt&oslash;jet</li>
		<li>Databerigelsesforbedringer, herunder flere datasamlinger og muligheden for at v&aelig;lge individuelle variabler fra datasamlinger</li>
		<li>Support til at logge p&aring; sikkert ved hj&aelig;lp af OAuth+SAML (AGOL)</li>
        <li>Support til at logge p&aring; sikkert ved hj&aelig;lp af IWA, PKI (kun portal)</li>
		<li>Forbedringer af brugergr&aelig;nsefladen for infografik og v&aelig;rkt&oslash;jet &quot;Berig lag&quot;</li>
		<li>Forbedret arbejdsgang for opgradering af Maps for Office til den seneste version</li>
        </ul>
		<br>
        <p>Version 2.0.2 blev frigivet i maj 2013. Den indeholdt f&oslash;lgende forbedringer:</p>
        <ul>
          <li>Berig dine data med geografisk kontekst ved hj&aelig;lp af det nye v&aelig;rkt&oslash;j &quot;Berig lag&quot;</li>
		  <li>V&aelig;lg objekter p&aring; dit kort og find objekter i n&aelig;rheden inden for andre lag </li>
		  <li>Kort-pop-up&amp;#39;er indeholder nu infografik, der giver detaljeret kontekstinformation om de omr&aring;der, der omgiver objekterne i dit kort.</li>
		  <li>Forh&aring;ndsvisning af support til Portal for ArcGIS 10.2</li>
		  <li>Nye konfigurationsmuligheder for varmekort og klyngedannelse</li>
		  <li>Tilf&oslash;jet muligheden for at filtrere grupperede objekter p&aring; kortet ved at klikke p&aring; klasse-skillev&aelig;rdier i signaturforklaringen</li>
		  <li>Forbedret arbejdsgang for geokodning af adresser</li>
		  <li>Support til tilpasning af baggrundskortgalleriet fra din ArcGIS Online-organisation</li>
		  <li>Inds&aelig;t kort bruger standardbaggrundskortet fra din ArcGIS Online-organisation</li>
		  <li>S&oslash;g efter data p&aring; ArcGIS Online ved hj&aelig;lp af popul&aelig;re kategorier s&aring;som velstand, virksomhed, politik og sundhed</li>
		  <li>Stednavne er nu baseret p&aring; dataplacering. F.eks. vil etiketter i geokodningsarbejdsgangen vise pr&aelig;fekturer i Japan, delstater i USA og provinser i Canada</li>
		  <li>Support til Microsoft Office 2013</li>
		  <li>Anden kvalitet, brugbarhed og kartografiske forbedringer</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Kom i gang</h3>
          <ul>
           <li><a href="#whatsNew">Nyheder</a></li>
            <li><a href="#systemRequirements">Systemkrav</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Se videoer</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/da/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
