---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="da">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/da/maps-for-office/">Hjem</a></li>
        <li><a href="/da/maps-for-office/help/">Hjælp</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	  <h2 id="appTitle">Hent app&apos;en</h2>
          <span id="appVersion"><strong>Version:</strong> 3.1</span>
          <span id="appReleased"><strong>Tilgængelig:</strong> Sommer 2015</span>


          <p>Bliv mere produktiv med positionsdrevne analysefunktioner. Bring en helt ny analytisk dimension til Microsoft Office. Begynd med at få ny viden, og træf øjeblikkeligt beslutninger på et mere informeret grundlag. Føj nemt kortlægning til dine Excel-regneark og PowerPoint-præsentationer.</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Hent Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="Map-your-data.png" />

          <h3>Kortlæg dine Excel-data</h3>
          <p>Opret interaktive kort over dine regnearksdata direkte i Excel. Med et par enkelte klik kan du oprette farvekodede, punkt-, klyngepunkt- og heatmaps og opnå visuel indsigt i dine data.</p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="Analyze-your-data.png" />

          <h3>Analysér dine Excel-data på kort</h3>
          <p>Afdæk mønstre og tendenser, der ikke er tydelige i tabeldata og diagrammer. Find statistisk signifikante hotspots og coldspots i dine data. Udfør geografiske søgninger ved hjælp af køretider eller ringe for at finde steder af interesse i nærheden.</p>         
        </div>


	<div id="collectorThirdFeature" class="column-12 phone-column-24">
          <img src="Enrich-your-spreadsheets.png" />

          <h3>Berig dine forretningsregneark</h3>
          <p>Tilføj Esris demografiske data og livsstilsdata direkte til Excel-regneark, og få mere kontekst om de steder, der er vigtige for dig. Udforsk hurtigt steder, mens du er på farten, ved hjælp af pop-up-infografik.</p>
        </div>

	<div id="collectorFourthFeature" class="column-12 phone-column-24">
          <img src="Share-your-data.png" />

          <h3>Del dine kort via Excel</h3>
          <p>Del dine kort ved hjælp af enten ArcGIS Online eller Portal for ArcGIS, eller indsæt dem i e-mails, PowerPoint-præsentationer eller Word-dokumenter.</p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemkrav</h2>

        <p>Esri Maps for Office kræver en konto, der er en del af en <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-organisation og Microsoft Office Excel eller PowerPoint 2010 eller Microsoft Office Excel eller PowerPoint 2013. De understøttede styresystemer omfatter:</p>
		<ul>
		 <li>Windows 7 (32-bit og 64-bit)</li>
		 <li>Windows 8 (32-bit og 64-bit)</li>
		 <li>Windows 8,1 (32-bit og 64-bit)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Se systemkravene til <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> og <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a> for yderligere oplysninger, herunder den påkrævede processorhastighed, hukommelse og harddiskplads.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Nyheder</h2>
        <p>Esri Maps for Office version 3.1 blev frigivet i juni 2015. Den indeholder følgende forbedringer:</p>
        <ul>
        <li>Lokaliseret til 27 sprog:</li>
		<ul>
		     <li>Arabisk</li>
		     <li>Forenklet kinesisk</li>
		     <li>Tjekkisk</li>
		     <li>Dansk</li>
		     <li>Hollandsk</li>
		     <li>Tysk</li>
		     <li>Græsk</li>
		     <li>Estisk</li>
		     <li>Afslut</li>
		     <li>Fransk</li>
		     <li>Hebraisk</li>
		     <li>Italiensk</li>
		     <li>Japansk</li>
		     <li>Koreansk</li>
		     <li>Litauisk</li>
		     <li>Lettisk</li>
		     <li>Norsk</li>
		     <li>Polsk</li>
		     <li>Portugisisk (Brasilien)</li>
		     <li>Portugisisk (Portugal)</li>
		     <li>Rumænsk</li>
		     <li>Russisk</li>
		     <li>Spansk</li>
		     <li>Svensk</li>
		     <li>Thai</li>
		     <li>Tyrkisk</li>
		     <li>Vietnamesisk</li>
		</ul>
	<li>Mange fejlrettelser og forbedringer af arbejdgange.</li>
        </ul>


        <h3>Tidligere versioner</h3>
        
        <p>Esri Maps for Office version 3.0 blev frigivet i april 2015. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Visualisér dine Excel-data mere tydeligt ved at indsætte mere end ét kort i dit regneark. Du kan oprette flere kort til de forskellige tabeller, som du har i dine regneark.</li>
	<li>Sammenlign kort side om side, eller træk dem hen på andre skærme uden at skabe forvirring i dit Excel-vindue.</li>
	<li>Arbejd med kortdataene på en nem måde ved at finde de relevante værktøjer i kortvinduet.</li>
	<li>Udnyt det nye søgeværktøj til hurtigt at finde steder.</li>
	<li>Du behøver ikke at være GIS-ekspert for at oprette flotte kort. Se, hvordan dit kort kommer til at se ud, før du kortlægger dataene. Korttypografier anbefales i overensstemmelse med de data, du kortlægger, så du opnår de bedst mulige visuelle resultater.</li>
	<li>Brug et koordinatsystem efter eget valg, og læg det over andre GIS-datasæt, der findes i dit lokale koordinatsystem.</li>
	<li>Brugerdefinerede stedtyper omfatter nu linjeobjekter.</li>
	<li>Mere hjælp, så nye brugere hurtigt og nemt kan komme i gang.</li>
        </ul>

        <p>Esri Maps for Office version 2.1.5 blev frigivet i vinteren 2015. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Understøttelse af sikre og ikke-sikre web-proxy&apos;er.</li>
        </ul>

	<p>Esri Maps for Office version 2.1.4 blev frigivet i foråret 2014. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Sikkerhedsopdateringer.</li>
        </ul>

        <p>Esri Maps for Office version 2.1.3 blev frigivet i foråret 2014. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Support til brugerdefinerede roller.</li>
        <li>Nye uovervågede Installer-parametre muliggør bedre kontrol med større installationer.</li>
        <li>Maps for Office kontrollerer nu for forbindelse til ArcGIS og giver dig besked, hvis nødvendige tjenester er utilgængelige.</li>
		<li>Fejlrettelser og forbedret anvendelighed, herunder:</li>
			<ul>
			<li>Mulighed for at bruge &quot;hosted&quot; korttjenester som brugerdefinerede stedtyper.</li>
			<li>Problemer med lagsynlighed i lokaliserede versioner er blevet løst.</li>
			<li>Problemer med vilkårlige nedbrud forårsaget af ældre versioner af Visual Studio Tools for Office er blevet løst.</li>
			<li>Brugerdefinerede lokatorer vises nu med deres navn i stedet for med &quot;adresse&quot; under Tilføj dataworkflow.</li>
			<li>Bedre registreringsadministration ved afinstallation.</li>
			<li>Mere effektiv lagring af geometrier fra ArcGIS.</li>
			<li>Hvis der er oprettet forbindelse til en portal, foretages der ikke længere forespørgsler til ArcGIS Online.</li>
			<li>Kommaer som decimaladskillere håndteres nu korrekt.</li>
			<li>Berigede lag kan nu formateres og grupperes på basis af de nyligt tilføjede kolonner.</li>
			<li>Pop-up-vinduer for berigede lag viser nu korrekte kolonneoverskrifter.</li>
			<li>Hvis der ikke er forbindelse til internettet, forekommer der ikke længere nedbrud.</li>
			<li>Esri Maps for Office i PowerPoint tager nu højde for organisationens standardbaggrundskort.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office version 2.1.2 blev frigivet i november 2013. Den indeholdt følgende forbedringer:</p>
        <ul>
		<li>Fejlrettelser og forbedret anvendelighed, herunder:</li>
			<ul>
			<li>Forbedringer af Berig lag-værktøjet som f.eks.: mere effektiv hukommelsesanvendelse til håndtering af forespørgsler om berigelse og en forbedret statusindikator.</li>
			<li>Rettelse af en fejl, der bevirkede, at Excel gik ned efter installation af Esri Maps.</li>
			<li>Rettelse af en fejl, der medførte visning af ukorrekte billeder i søgevinduet.</li>
			<li>Rettelse af en fejl, der bevirkede, at brugerdefinerede søgninger efter stedtype mislykkedes på japansk, russisk og kinesisk.</li>
			<li>Har ryddet op i lokale strenge i forbindelse med Vigtige fakta, Velstand, Politik og Helbred i søgevinduet.</li>
			</ul>
        </ul>
		
		<p>Version 2.1.1 blev frigivet i oktober 2013. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Nye lokaliserede versioner til 22 understøttede sprog:</li>
			<ul>
			<li>Arabisk, kinesisk (forenklet), dansk, hollandsk, engelsk, estisk, fransk, tysk, hebræisk, italiensk, japansk, koreansk, lettisk, litauisk, norsk, polsk, portugisisk (Brasilien), portugisisk (Portugal), rumænsk, russisk, spansk og svensk.</li>
			</ul>
		<li>Support til pop-ups i webkort</li>
		<li>Symbolisering af objekter med et ikon fra en attribut-URL</li>
		<li>Fejlrettelser og forbedret anvendelighed i hele produktet, herunder:
			<ul>
			<li>Forbedret håndtering af OAuth-logins</li>
			<li>Flere nyttige meddelelser i værktøjet Find hotspots</li>
			<li>Værktøjet Find hotspots kan nu håndtere kolonnenavne med mellemrum</li>
			<li>Vælg-værktøjet understøtter nu buffere med størrelsen &quot;0&quot;</li>
			<li>Problemer rettet i opgavevinduet</li>
			<li>Fejl rettet i gruppesynlighed</li>
			<li>Forbedret støtte til organisationer, som bruger SSL til alle forbindelser</li>
			<li>Gruppering fungerer nu korrekt ved anvendelse af kolonner, der er tilføjet fra værktøjet Berig lag</li>
			</ul>
        </ul>
		
        <p>Version 2.1 blev frigivet i juli 2013. Den indeholdt følgende forbedringer:</p>
        <ul>
        <li>Statistiske mønsteranalyser via hotspot-værktøjet</li>
		<li>Databerigelsesforbedringer, herunder flere datasamlinger og muligheden for at vælge individuelle variabler fra datasamlinger</li>
		<li>Support til at logge på sikkert ved hjælp af OAuth+SAML (AGOL)</li>
        <li>Support til at logge på sikkert ved hjælp af IWA, PKI (kun portal)</li>
		<li>Forbedringer af brugergrænsefladen for infografik og værktøjet &quot;Berig lag&quot;</li>
		<li>Forbedret arbejdsgang for opgradering af Maps for Office til den seneste version</li>
        </ul>
		<br>
        <p>Version 2.0.2 blev frigivet i maj 2013. Den indeholdt følgende forbedringer:</p>
        <ul>
          <li>Berig dine data med geografisk kontekst ved hjælp af det nye værktøj &quot;Berig lag&quot;</li>
		  <li>Vælg objekter på dit kort og find objekter i nærheden inden for andre lag</li>
		  <li>Kort-pop-up&amp;#39;er indeholder nu infografik, der giver detaljeret kontekstinformation om de områder, der omgiver objekterne i dit kort.</li>
		  <li>Forhåndsvisning af support til Portal for ArcGIS 10.2</li>
		  <li>Nye konfigurationsmuligheder for varmekort og klyngedannelse</li>
		  <li>Tilføjet muligheden for at filtrere grupperede objekter på kortet ved at klikke på klasse-skilleværdier i signaturforklaringen</li>
		  <li>Forbedret arbejdsgang for geokodning af adresser</li>
		  <li>Support til tilpasning af baggrundskortgalleriet fra din ArcGIS Online-organisation</li>
		  <li>Indsæt kort bruger standardbaggrundskortet fra din ArcGIS Online-organisation</li>
		  <li>Søg efter data på ArcGIS Online ved hjælp af populære kategorier såsom velstand, virksomhed, politik og sundhed</li>
		  <li>Stednavne er nu baseret på dataplacering. F.eks. vil etiketter i geokodningsarbejdsgangen vise præfekturer i Japan, delstater i USA og provinser i Canada</li>
		  <li>Support til Microsoft Office 2013</li>
		  <li>Anden kvalitet, brugbarhed og kartografiske forbedringer</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Kom i gang</h3>
          <ul>
           <li><a href="#whatsNew">Nyheder</a></li>
            <li><a href="#systemRequirements">Systemkrav</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Se videoer</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
