---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="es">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/es/marketplace/">Ayuda</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/marketplace/">Principal</a></li>
        <li><a href="/es/marketplace/consumer/">Para clientes</a></li>
        <li><a href="/es/marketplace/provider/">Para proveedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">Aprenda cómo sacar el máximo partido de ArcGIS Marketplace.</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>Para clientes </h3>
          <p>Aprenda cómo buscar y utilizar aplicaciones y datos.</p>
          <ul>			
			<li><a href="/es/marketplace/consumer/get-started-consumers.htm">Sacar el máximo partido de ArcGIS Marketplace</a></li>
			<li><a href="/es/marketplace/consumer/search-for-apps-and-data.htm">Buscar elementos</a>.</li>
			<li><a href="/es/marketplace/consumer/subscribe-to-apps-and-data.htm">Obtener elementos</a>.</li>
			<li><a href="/es/marketplace/consumer/faq.htm">Preguntas frecuentes</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>Para proveedores</h3>
          <p>Aprenda cómo agregar, promocionar y vender sus aplicaciones y datos.</p>
          <ul>			
			<li><a href="/es/marketplace/provider/become-a-provider.htm">Conviértete en proveedor</a></li>
			<li><a href="/es/marketplace/provider/listing-tips.htm">Consejos para crear un listado correctamente</a></li>
			<li><a href="/es/marketplace/provider/create-listings.htm">Acerca de los listados</a></li>
			<li><a href="/es/marketplace/provider/faq.htm">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Soporte técnico de Esri</a></h4>
      <p>Contacta con el soporte técnico por chat, por correo electrónico o por teléfono.</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">Ideas de ArcGIS</a></h4>
      <p>Envía tus comentarios sobre el software.</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">La Comunidad de Esri</a></h4>
      <p>Únete a los debates sobre GeoNet.</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






