---
title: Explorer for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-explorer-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Explorer for ArcGIS Home page."><META name="last-modified" content="2016-2-9"><META name="product" content="explorer-iphone,explorer-ipad,explorer-mac,explorer-android-phone,explorer-android-tablet"><META name="sub_category" content="Explorer for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Explorer for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/explorer/">Explorer for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Explorer">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="explorer-ipad" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/explorer/">Startseite</a></li>
        <li><a href="/de/explorer/author-maps/create-a-map.htm">Erstellen von Karten</a></li>
        <li><a href="/de/explorer/android-phone/use-maps/guided-tour-user.htm">Verwenden von Karten</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/explorer-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <h3 class="gray">Greifen Sie auf Ihre Karten zu, durchsuchen und visualisieren Sie Ihre Daten, und informieren Sie Projektbeteiligte.</h3>

	<!--
          <span id="appVersion"><strong>Version:</strong> 10.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	-->

        <p>
          <a href="https://itunes.apple.com/us/app/explorer-for-arcgis/id860708788"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
          <a href="http://links.esri.com/explorer-mac-install"><img src="mac-app.png" style="margin:10px; vertical-align:middle"/></a>
          <a href="https://play.google.com/store/apps/details?id=com.esri.explorer"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
        </p>
        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="explorer-home-2.png" />

          <h3>Kartenerstellung</h3>
          <p>Erstellen Sie eine Karte in Ihrer ArcGIS-Organisation, die in Explorer verwendet werden soll.</p>
          <p>
            <a href="/de/explorer/author-maps/create-a-map.htm" class="icon-right-arrow">&nbsp;Mehr erfahren</a><br />
			<!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->

          </p>
        </div>

	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="explorer-home-1.png" />

          <h3>Einführung</h3>
          <p>Suchen Sie Karten, die für Sie relevant sind, durchsuchen und visualisieren Sie Ihre Daten, suchen Sie Ihre Assets, zeigen Sie deren Details an, und geben Sie Karten für andere Benutzer frei. </p>
          <p>
            <a href="/de/explorer/android-phone/use-maps/guided-tour-user.htm" class="icon-right-arrow">&nbsp;Mehr erfahren</a><br /><br/>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorMapFeature" class="column-12 phone-column-24">
	          <img src="story-graphic-3.png" />

	  <h3>Kommunizieren mit Karten</h3>
	  <p>Verwenden Sie Ihr Gerät, um Präsentationen freizugeben, die mit Ihrer Karte erstellt wurden. Interagieren Sie mit den Daten, und erstellen Sie Skizzen auf der Karte live während der Präsentation.</p>
	  <p>
	    <a href="/de/explorer/android-phone/use-maps/view-a-presentation.htm" class="icon-right-arrow">&nbsp;Mehr erfahren</a><br />
	    <!--<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>-->
	  </p>
        </div>

	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="explorer-home-3.png" />

          <h3>Sie benötigen Hilfe?</h3>
          <p>In den <a href="/de/explorer/android-phone/use-maps/faqs-use-maps.htm">FAQs</a> erhalten Sie Antworten auf häufig gestellte Fragen, die <a href="/de/explorer/android-phone/use-maps/quick-reference-user.htm">Kurzübersicht</a> hilft Ihnen beim schnellen Auffinden von Werkzeugen in der App, oder Sie besuchen unser <a href="https://geonet.esri.com/community/gis/applications/explorer-for-arcgis">Forum</a>.</p>
        </div>

        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Features</h2>
        <p>Greifen Sie auf Ihre Karten zu, durchsuchen und visualisieren Sie Ihre Daten, und zeigen Sie Präsentationen an. </p>
        <ul>
          <li>Erkunden Sie eine personalisierte App mit Ihren bevorzugten Karten, Orten und Kontakten.</li>
          <li>Entdecken Sie Karten.</li>
          <li>Stellen Sie Ihre Daten dar.</li>
          <li>Geben Sie Karten und Daten als Bilder oder Links frei.</li>
          <li>Durchsuchen Sie Ihre Daten.</li>
          <li>Halten Sie Präsentationen mit interaktiven Karten.</li>
        </ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Systemanforderungen</h2>

        <p> Für die Ausführung von Explorer müssen die Geräte sowie die Daten, die in der Anwendung verwendet werden, bestimmte Anforderungen erfüllen.</p>


        <h3>Datenanforderungen</h3>
        <p>Um Ihre Karten in Explorer verwenden zu können, müssen Sie über ein ArcGIS-Organisationskonto verfügen. Ihre Karten können Daten aus ArcGIS Online, Portal for ArcGIS und ArcGIS for Server enthalten.</p>


        <h3>Geräteanforderungen</h3>
        <table><tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
            <ul>
              <li>Version 7 oder höher</li>
              <li>iPhone, iPad, iPod touch</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-apple">Mac</h4>
            <ul>
              <li>OS X Mavericks (10.9) oder höher</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
            <ul>
              <li>Android 4.0.3 (Ice Cream Sandwich) oder höher</li>
              <li>ARMv7- oder x86-Prozessor</li>
              <li>Unterstützung für OpenGL ES 2.0</li>
            </ul>
          </td>
        <tr></table>

	<h3>Unterstützte Sprachen</h3>
	    <p>Arabisch, Chinesisch (vereinfacht), Dänisch, Deutsch, Englisch, Estnisch (<span class="icon-android"/>), Finnisch, Französisch, Griechisch,
	       Hebräisch, Italienisch, Japanisch, Koreanisch, Lettisch (<span class="icon-android"/>), Litauisch (<span class="icon-android"/>),
	       Niederländisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rumänisch, Russisch,
	       Schwedisch, Spanisch, Thailändisch (<span class="icon-apple"/> iOS, <span class="icon-android"/>), Tschechisch, Türkisch und Vietnamesisch (<span class="icon-android"/>).</p>

	    <p>Die von der App verwendete Sprache wird durch die Spracheinstellung des Geräts festgelegt.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Neuerungen</h2>
        <table>
          <tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
            <p>Explorer for ArcGIS 10.2.9 wurde im November 2015 veröffentlicht. Folgende Verbesserungen sind enthalten:
          </td>
          <td valign="top" width="250px;"><h4 class="icon-apple">Mac</h4>
            <p>Explorer for ArcGIS 10.2.4 wurde im September 2014 veröffentlicht. Folgende Verbesserungen sind enthalten:</p>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
            <p>Explorer for ArcGIS 10.2.10 wurde im Mai 2016 veröffentlicht. Folgende Verbesserungen sind enthalten:</p>
          </td>
        <tr>
        <tr>
          <!-- iOS -->
          <td valign="top">
            <ul>
              <li>Verschiedene Bugfixes und Verbesserungen</li>
            </ul>
          </td>
          <!-- Mac -->
          <td valign="top">
            <ul>
              <li>Lokalisiert in Arabisch, Dänisch, Deutsch, Englisch, Finnisch, Französisch, Hebräisch, Italienisch, Japanisch, Koreanisch,
                  Niederländisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rumänisch, Russisch, Schwedisch, Spanisch, Tschechisch, Türkisch und Vereinfachtes Chinesisch.</li>
              <li>Verschiedene Bugfixes und Verbesserungen</li>
            </ul>
          </td>
          <!-- Android -->
          <td valign="top">
            <ul>
             <li>Verschiedene Bugfixes und Verbesserungen</li>
            </ul>
          </td>
        </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">Vorschau</h2>
	<p>Explorer ist eine großartige App zum Arbeiten mit Karten und Präsentationen auf iPhones, iPads, Macs und Android-Geräten. Aber das war noch nicht alles! In der folgenden Tabelle wird umrissen, welche Neuerungen wir für diese App planen, und es werden Funktionen vorgestellt, die auf verschiedenen Geräten möglich sein werden:

	<style>
	  table.sneakPeek
	  {
	    text-align:center;
	  }
	  table.sneakPeek tr.heading th
	  {
	    background-color:lightgray;
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	  table.sneakPeek tr#deviceHeadings th
	  {
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	</style>
        <table class="sneakPeek" border="1">
	  <caption>Funktionalität nach Plattform<br/>
	  <span class="icon-check" style="color:black"></span> verfügbar, <span class="icon-check icon-orange"></span> in Entwicklung, <span class="icon-check" style="color:lightgray"></span><span class="clear"/> später<br/>
Leere Zellen bedeuten ungeplante Funktionen.<br/>
	  Eine Unterstützung für Windows Phone und Windows Store ist derzeit nicht geplant.
	  </caption>
	  <tr id="deviceHeadings"><td rowspan="2"></td>
	    <th colspan="2">Telefon</th>
	    <th colspan="2">Tablet</th>
	    <th colspan="2">Desktop</th>
	  </tr>
	  <tr>
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <!--<td><span class="icon-windows-8 icon-purple"/></td>-->
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <!--<td><span class="icon-windows-8 icon-purple"/></td>-->
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-windows-classic" style="color:#21C9FF"/></td>
	  </tr>
	  <tr>
	    <td>Verwenden mit ArcGIS Online</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Verwenden mit Portal for ArcGIS</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Karten anzeigen</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Karten erstellen</td>
	    <td></td>
	    <td></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Suchen von Daten</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Daten bearbeiten</td>
	    <td></td>
	    <td></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Unterstützung für nicht räumliche Daten (zugehörige Tabellen)</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>Offline arbeiten</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>3D</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check icon-orange"/></td>
	  </tr>
	  <tr>
	    <td>Analysen durchführen</td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <!--<td></td>-->
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>

	<p>Teilen Sie uns Ihre <a href="http://ideas.arcgis.com/">Ideen</a> mit, und <a href="mailto:Explorer4ArcGIS@esri.com?subject=Explorer%20feedback">geben Sie uns Ihr Feedback</a>.</p>

        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>

	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">Systemanforderungen</a></h4>
	  <h4><a href="#whatsNew">Neuerungen</a></h4>
	  <h4><a href="#sneakPeek">Vorschau</a></h4>

        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>


	<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/explorer-for-arcgis/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
