---
title: ArcGIS Online 帮助
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/arcgis-online/">ArcGIS Online 帮助</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS online 帮助" href="/zh-cn/arcgis-online/">Home</a></li>
        <li><a title="使用地图和场景" href="/zh-cn/arcgis-online/use-maps/">使用</a></li>
        <li><a title="创建地图、场景和应用程序" href="/zh-cn/arcgis-online/create-maps/">Create</a></li>		
        <li><a title="共享地图、场景和应用程序" href="/zh-cn/arcgis-online/share-maps/">共享</a></li>
		<li><a title="管理您的组织" href="/zh-cn/arcgis-online/administer/">Administer</a></li>
		<li><a title="参考" href="/zh-cn/arcgis-online/reference/">Reference</a></li>
		<li><a title="即用型应用程序" href="/zh-cn/arcgis-online/apps/arcgis-apps.htm">Apps</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="zh-cn" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="zh-cn">
      </form>-->

                
	<hr>
  
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/247/000000/width/960/0/00:00:00" title="使用地图和场景" class="videoLink colorbox-evlarge cboxElement"><img src="img/perform-analysis.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00" title="创建地图、场景和应用程序" class="videoLink colorbox-evlarge cboxElement"><img src="img/create-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="253" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
      <a href="http://video.arcgis.com/iframe/1341/000000/width/960/0/00:00:00" title="共享项目" class="videoLink colorbox-evlarge cboxElement"><img src="img/share-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="1341" controls="">
       <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
        </video>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/zh-cn/arcgis-online/use-maps/use-maps.htm" class="">使用地图和场景</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/zh-cn/arcgis-online/create-maps/create-maps-and-apps.htm" class="">创建地图、场景和应用程序</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/zh-cn/arcgis-online/share-maps/share-maps-apps.htm" class="">共享项目</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="执行分析" href="http://video.arcgis.com/iframe/3689/000000/width/960/0/00:00:00"><img src="img/perform-analysis.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="3689" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="发布托管 Web 图层" href="http://video.arcgis.com/iframe/3956/000000/width/960/0/00:00:00"><img src="img/publish-hosted-web-layers.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="1342" controls="">
         <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="管理您的组织" href="http://video.arcgis.com/iframe/1340/000000/width/960/0/00:00:00"><img src="img/admin-org.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
	<video width="320" height="240" class="mobileVideo" id="1340" controls="">
    <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
       </video>
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/zh-cn/arcgis-online/use-maps/perform-analysis.htm">执行分析</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/zh-cn/arcgis-online/share-maps/hosted-web-layers.htm">发布托管 Web 图层</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/zh-cn/arcgis-online/administer/admin-org.htm">管理您的组织</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri 技术支持</a></h4>
      <p>通过聊天、电子邮件或电话联系 Esri 支持部门。</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS Ideas</a></h4>
      <p>提交您对软件的反馈。</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">ArcGIS 论坛</a></h4>
      <p>在 GeoNet 中参与讨论。</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>您是 ArcGIS Online 的初学者？</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">探索实践课程</a></p>
			<a title="ArcGIS Online 入门" href="http://video.arcgis.com/iframe/3958/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  观看视频演示</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png">   查找培训课程</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>快速参考</h3>
         <ul>   <li><a href="/zh-cn/arcgis-online/reference/troubleshoot-account.htm">&nbsp;解决登录问题</a></li>
		<li><a href="/zh-cn/arcgis-online/reference/whats-new.htm" >&nbsp;新特性</a></li>
		<li><a href="/zh-cn/arcgis-online/reference/faq.htm">&nbsp;常见问题解答</a></li>
		<li><a href="/zh-cn/arcgis-online/reference/videos.htm">&nbsp;视频</a></li>
		<li><a href="/zh-cn/trust/system-status/">&nbsp;系统状态</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">更多博客文章</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
