---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/arcgis-online/">帮助</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="帮助" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS online 帮助" href="/zh-cn/arcgis-online/">概要</a></li>
        <li><a title="使用地图" href="/zh-cn/arcgis-online/use-maps/">使用</a></li>
        <li><a title="创建地图和应用程序" href="/zh-cn/arcgis-online/create-maps/">创建</a></li>		
        <li><a title="共享地图和应用程序" href="/zh-cn/arcgis-online/share-maps/">共享</a></li>
		<li><a title="管理您的组织" href="/zh-cn/arcgis-online/administer/">管理</a></li>
		<li><a href="/zh-cn/arcgis-online/reference/">参考资料</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">使用并创建交互式地图和应用程序并将其与组织内的其他成员共享。详情介绍。</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>使用地图</h3>
         
 
         <p>使用地图探究、了解和测量地理数据。</p>

      
         <p><a href="/zh-cn/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;查看数据</a> <br/> <a href="/zh-cn/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">执行分析</a><br/> <a href="/zh-cn/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">编辑要素</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>创建地图和应用程序</h3>
          <p>构建您的组织可在任何设备上随时随地访问的交互式地图和应用程序。</p>


            <p><a href="/zh-cn/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;创建第一个地图</a> <br/>EnterEnter            <a href="/zh-cn/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">创建第一个应用程序</a><br/> <a href="/zh-cn/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">设置地图和图层属性</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>共享地图和应用程序</h3>
          <p>通过在您的组织或社区内共享地图和应用程序来使用数据。</p>

         <p><a href="/zh-cn/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;添加项目</a> <br/><a href="/zh-cn/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">共享项目</a> <br/> <a href="/zh-cn/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">发布托管要素和切片</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>管理您的组织</h3>
          <p>通过为组织配置 ArcGIS Online 并邀请用户加入和管理资源来扩展 GIS 的使用。</p>
          <p>
            <a href="/zh-cn/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;配置网站</a> <br/> <a href="/zh-cn/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">邀请用户</a> <br/> <a href="/zh-cn/arcgis-online/administer/view-status.htm" class="icon-right-arrow">查看组织统计数据</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>即用型应用程序</h3>
         <p>将即用型应用程序用于外业数据收集、操作仪表盘、Microsoft Office 以及 Sharepoint。</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS 应用程序</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>开发者 API</h3>
          <p>ArcGIS 平台包括用于为您的组织和整个社区构建应用程序的 API 和 SDK。</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>入门</h3>
		  <p>教程可帮助您了解如何使用 ArcGIS 平台</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/zh-cn/get-started/web/">使用地图</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/zh-cn/get-started/services/">共享数据</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/zh-cn/get-started/organizations/">管理您的组织</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>关于 ArcGIS Online</h3>
         <ul>
		 <li><a href="/zh-cn/arcgis-online/reference/what-is-agol.htm">&nbsp;什么是 ArcGIS Online？</a></li>
		 <li>
		 <a href="/zh-cn/arcgis-online/reference/whats-new.htm" >&nbsp;新特性</a>
		 </li>
		 <li><a href="/zh-cn/arcgis-online/reference/faq.htm">&nbsp;常见问题</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>创建地图</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>了解如何使用内置地图查看器创建地图。</p>
        <a href="/zh-cn/arcgis-online/reference/videos.htm" class="btn secondary">更多视频</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">更多博客文章</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>论坛</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">更多论坛文章</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
