---
title: Business Analyst
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init


metatags:
  - <META name="description" content="Business Analyst Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="bus-analyst-online"><META name="sub_category" content="Business Analyst"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Business Analyst"><META name="search-category" content="help-general"><META name="subject_label" content="BUSINESS ANALYST,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="BUSINESS ANALYST,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Business Analyst</h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Business Analyst" data-langlabel="search-business-analyst">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="bus-analyst" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/business-analyst/">Home</a></li>
        <li><a href="/en/business-analyst/web/">Web</a></li>
        <li><a href="/en/business-analyst/desktop/">Desktop</a></li>
        <li><a href="/en/business-analyst/server/">Server</a></li>
        <li><a href="/en/business-analyst/mobile/">Mobile</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 class="gray">Location-driven market insights</h2>
          <!-- <span id="appVersion"><strong>Version:</strong> 5.1</span>
          <span id="appReleased"><strong>Updated:</strong> Mar 2016</span> -->


	    <p>Esri Business Analyst helps you make smarter market planning, site selection, and customer segmentation decisions by combining demographic, lifestyle, behavioral, and spending data, maps and reports with location-driven analytics.</p>
		<p>With Web, Desktop, Server, and Mobile implementations, Esri Business Analyst is available wherever you need it, on any device, anywhere, anytime. Choose the product implementation for which you need help:</p>
	   <a name="web"></a>
        <h3 class="gray leader-half"><img src="web-icon.png"> Web</h3>

        <div id="web1" class="column-12 phone-column-24">
          <img src="web-action.png" />
        </div>

        <div id="web2" class="column-12 phone-column-24">
          
        <h5 class="trailer">Get the most up-to-date market data, reports, and demographic analysis in an easy to use web app. </h5>

          
        <p>
             <a class="btn secondary" href="http://bao.arcgis.com" target="_blank">Sign in to Business Analyst</a> </p>
        
        <p><ul>
          <li><a href="/en/business-analyst/web/">Learn more</a> </li>
             <li><a href="/en/business-analyst/web/whats-new.htm">See what's new</a> </li>
             <li><a href="/en/business-analyst/web/system-requirements.htm">System Requirements</a> </li>
          </ul>
          </p>  
          
        </div>

        <br />

        <div class="clear"></div>

        <hr />

        <a name="desktop"></a>
        <h3 class="gray leader-half"><img src="desktop-icon.png"> Desktop</h3>

        <div id="web1" class="column-12 phone-column-24">
         <h5 class="trailer">Perform advanced demographic analysis, manage complex data, and build predictive models on your desktop.</h5>
        
        <p><ul>
          <li><a href="/en/business-analyst/desktop/">Learn more</a> </li>
             <li><a href="/en/business-analyst/desktop/whats-new-in-business-analyst-desktop.htm">See what's new</a> </li>
             <li><a href="/en/business-analyst/desktop/online-access-in-business-analyst.htm">Set up online access</a> </li>
            <li><a href="http://links.esri.com/ba-desktop-wp" target="_blank">Whitepapers</a></li>
			<li><a href="http://links.esri.com/ba-desktop-pa" target="_blank">Announcements</a> </li>
          </ul>
          </p>
        </div>

        <div id="web2" class="column-12 phone-column-24">
          <img src="desktop-action.png" />

          
        </div>

        <br />

        <div class="clear"></div>

        <hr />

        <a name="server"></a>
        <h3 class="gray leader-half"><img src="server-icon.png"> Server</h3>
        <div id="web1" class="column-12 phone-column-24">
          <img src="server-action.png" />
        </div>

        <div id="web2" class="column-12 phone-column-24">
          
        <h5 class="trailer">Demographic mapping and analysis accessible across your organization and in your infrastructure.</h5>
          
               
        <p><ul>
          <li><a href="/en/business-analyst/server/">Learn more</a> </li>
             <li><a href="/en/business-analyst/server/whats-new.htm">See what's new</a> </li>
          </ul>
          </p>  
          
        </div>


        <br />

        <div class="clear"></div>

        <hr />
        <a name="mobile"></a>
        <h3 class="gray leader-half"><img src="mobile-icon.png"> Mobile</h3>
        <div id="web1" class="column-12 phone-column-24">
         <h5 class="trailer">Access key demographic and market insights on the go using your iOS and Android devices.</h5>

         <p>
             <a class="btn secondary" href="http://www.esri.com/software/bao/mobile-app" target="_blank">Get the app</a> </p>
        
        <p><ul>
          <li><a href="/en/business-analyst/mobile/">Learn more</a> </li>
             <li><a href="/en/business-analyst/mobile/whats-new.htm">See what's new</a> </li>
             <li><a href="/en/business-analyst/mobile/system-requirements.htm">System Requirements</a> </li>
          </ul>
          </p>
        </div>

        <div id="web2" class="column-12 phone-column-24">
          <img src="mobile-action.png" />

          
        </div>
        </div>


      <div class="column-8 tablet-column-24 blocks">
        <div class="imgFrame block">
    <h3>New to Business Analyst?</h3>
    <ul>
    <li><a href="http://links.esri.com/business-analyst-videos" target="_blank">Watch videos</a> </li>
    <li><a href="http://links.esri.com/business-analyst-training" target="_blank">Training</a></li>
    <li><a href="http://links.esri.com/business-analyst-ideas" target="_blank">User ideas</a></li>
    <li>Business Analyst platforms
		<ul>
			<li><a href="#web">Web</a></li>
			<li><a href="#desktop">Desktop</a></li>
			<li><a href="#server">Server</a></li>
			<li><a href="#mobile">Mobile</a></li>
	</li>
	</ul>
    


        </div>
        <br />
		<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/business-analyst/" class="btn secondary">More Blog Posts</a>
        </div>
		
            <br />
        <!-- Forum Feed -->
        <div class="greyFrame">
          <h3 title="GeoNet - The Esri Community">Discussions on GeoNet</h3>
          <div id="forum">
            <!-- Forum goes here -->
          </div></br>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2023" class="btn secondary" title="Post a product question">Start one</a>&nbsp; <a href="https://geonet.esri.com/community/business-and-commercial/content?filterID=contentstatus[published]~objecttype~objecttype[thread]&query=business" class="btn light">Read More</a>
        </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
	<script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/business-analyst/feed/',
        max: 2,
        layout: 0
      });
    });
	
	/*
	N = # of article shown (default is 2)
	L = 0, 1 (default is 0)
	*/

  </script>
	  
	  <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
	<script type="text/javascript">
    $(window).load(function() {
      $('#forum').rssFeed({        
		url:'https://geonet.esri.com/community/feeds/search?q=business+analyst&sort=updatedDesc&resultTypes=discussion',
        max: 2,
        layout: 1
      });
    });
	
	/*
	N = # of article shown (default is 2)
	L = 0, 1 (default is 0)
	*/

  </script>
  
 </div>

    </div>


  

