---
layout: marketplace/layout
title: ArcGIS Marketplace
css:
  - documentation

  - /en/asset/css/common
  - stat-page-specific

  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ja/marketplace/">ヘルプ</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/marketplace/">メイン</a></li>
        <li><a href="/ja/marketplace/consumer/">一般ユーザ向け</a></li>
        <li><a href="/ja/marketplace/provider/">提供者向け</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">マーケットプレイスとは</h2>

          <p>ArcGIS Marketplace は、ArcGIS Online の組織サイトのユーザが組織内での利用を目的に、認定プロバイダ (Esri ビジネス パートナー、Esri 販売代理店、および Esri) からアプリやデータを検索して取得することができる場所です。マーケットプレイスに掲載されているアプリやデータ サービスは、ArcGIS Online 組織サイト上に公開して世界中で利用することができます。</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>ビジネスをパワーアップ </h3>
          <p>組織内で使用するアプリケーションおよびデータ サービスを見つけます。アプリケーションまたはデータ サービスを入手すると、それらを簡単に組織サイトのグループやユーザと共有できます。</p>
          <p>

			<a href="/ja/marketplace/consumer/purchase-workflow.htm" class="icon-right-arrow">&nbsp;手順の表示</a> <br/> <a href="/ja/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>ユーザへの案内</h3>
          <p>ArcGIS Marketplace では、見出しの作成、無料トライアルの提供、リストの閲覧許可、およびサブスクリプションの管理などの仕組みが提供されています。</p>
          <p>
            <a href="/ja/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;手順の表示</a> <br/> <a href="/en/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;認定プロバイダ</a> <br/> <a href="/ja/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas サイト</h3>
         <p>必要なアプリまたはデータが見つかりませんか？ぜひ新しいアイディアを提案するか、既存のアイディアに投票してください。</p>
         <p>アイディアを探しているプロバイダですか？ユーザが何を求めているか理解し、あなたと協力して非公開でアイディアを発展させることができる提供者を招待します。</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

