---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING"><META name="content-language" content="ja">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/ja/marketplace/">ヘルプ</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/marketplace/">メイン</a></li>
        <li><a href="/ja/marketplace/consumer/">データ利用者向け</a></li>
        <li><a href="/ja/marketplace/provider/">データ公開者向け</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>

			 
		 <!--<h2 id="appTitle" class="gray">What is the Marketplace?</h2>-->
		<h5 class="gray">ArcGIS Marketplace を最大限に活用するための方法をご紹介します。</h5>	

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/for-consumers.png" />

          <h3>データ利用者向け </h3>
          <p>アプリやデータを検索し、使用する方法を説明します。</p>
          <ul>			
			<li><a href="/ja/marketplace/consumer/get-started-consumers.htm">ArcGIS Marketplace の有効な活用</a></li>
			<li><a href="/ja/marketplace/consumer/search-for-apps-and-data.htm">アイテムの検索</a></li>
			<li><a href="/ja/marketplace/consumer/subscribe-to-apps-and-data.htm">アイテムの取得</a></li>
			<li><a href="/ja/marketplace/consumer/faq.htm">よくあるご質問 (FAQ)</a></li>
          </ul>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/for-providers.png" />

          <h3>データ公開者向け</h3>
          <p>アプリやデータの追加、宣伝、販売の方法をご紹介します。</p>
          <ul>			
			<li><a href="/ja/marketplace/provider/become-a-provider.htm">プロバイダーになる</a></li>
			<li><a href="/ja/marketplace/provider/listing-tips.htm">効果の高いリストを作成するためのヒント</a></li>
			<li><a href="/ja/marketplace/provider/create-listings.htm">リストについて</a></li>
			<li><a href="/ja/marketplace/provider/faq.htm">よくあるご質問 (FAQ)</a></li>
          </ul>
        </div>
        <div class="clear"></div>

<hr>
<br>
<div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri テクニカル サポート</a></h4>
      <p>チャット、電子メール、または電話でサポートに問い合わせます。</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="https://geonet.esri.com/community/arcgis-ideas/" target="_blank">ArcGIS Ideas</a></h4>
      <p>ソフトウェアのフィードバックを送信します。</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" >

   <h4 class="icon-comment icon-blue"><a href="https://geonet.esri.com/groups/arcgis-marketplace-apps" target="_blank">Esri コミュニティ</a></h4>
      <p>GeoNet での議論に参加します。</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
        <p>&nbsp;</p>






