---
title: Search Result
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - searchResult


js:
  - sitecfg
  - libs/jquery-1.9.1.min
  - libs/jquery.cookie
  - search/cfg-search-marketplace
  - search/esri.init
  - search/jxon
  - search/searchLabel
  - search/searchshell-default
  - search/searchdisplay-default
  - marketplace/init


metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">

mobile: true

---


<div class="section-bar marketplace">
  <div class="container search">
    <header>
      <h1 data-langlabel="search">Search</h1>
    </header>
	<nav>
     &nbsp;
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container search">
  <div class="row">
    <div class="pre-2 column-22">
      <div class="search-box">
        <div id="searchBox">
            <input type="text" size="80" value="Search ArcGIS Doc Content" autocomplete="off"  data-langlabel="search-arcgis-doc-content" name="query" id="query">
            <input type="submit" value="" id="search">
        </div>
      </div>
    </div>
    <div class="pre-2 column-22">
        <div class="row search-nav">
          <div class="column-9 gl-pnavinfo-s"></div>
          <div class="pre-1 column-14" id="gl-display-shown"><span  data-langlabel="show">Show: </span><a href="#" id="numn1">15</a> | <a href="#" class="displayn_selected" id="numn2">30</a> | <a href="#" id="numn3">45</a> items</div>
        </div>
    </div>

    <div class="pre-2 column-22">
      <hr />
    </div>

    <div class="pre-2 column-16 post-6">
        <div id="results">
          <div id="spinner" style="display: none;">
            <img alt="loading" src="http://resources.arcgis.com/en/shared/rc/gallery/ajax-loader.gif">
          </div>

            <!-- Result area -->
            <div id="dynamicContent" class="display3">
              <div class="clear"></div>
            </div>
            <!-- End of Result -->
        </div>
    </div>
    <div class="pre-4 column-16 post-4">
      <div id="gl-pagenav">
        <a id="gl-prev" class="orange btn disabled" href="#" data-langlabel="previous">Previous</a>
        <div class="pnavinfoText"><span class="gl-pnavinfo"></span></div>
        <a id="gl-next" class="orange btn" href="#" data-langlabel="next">Next</a>
      </div>
    </div>
  </div>
</div>
