---
title: Esri Maps for MicroStrategy

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for MicroStrategy Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-microStrategy"><META name="sub_category" content="Esri Maps for MicroStrategy"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for MicroStrategy"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ja">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/maps-for-microStrategy/">Esri Maps for MicroStrategy</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for MicroStrategy" data-langlabel="search-esri-maps-micro">
                    <input type="hidden" name="collection" value="ヘルプ" />
                    <input type="hidden" name="product" value="esri-maps-micro" />          
                    <input type="hidden" name="language" value="ja" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/maps-for-microstrategy/">ホーム</a></li>
        <li><a href="/ja/maps-for-microstrategy/install-and-configure/">インストールと構成</a></li>
        <li><a href="/ja/maps-for-microstrategy/design-and-use-map/">マップのデザインと使用</a></li>
		<!--<li><a href="/ja/maps-for-microstrategy/use-maps-mobile/">Use Maps on Mobile - Beta 1</a></li>-->
        <li><a href="http://forums.arcgis.com/forums/233-Esri-Maps-for-MicroStrategy">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリケーションの取得</h2>
          <span id="appVersion"><strong>バージョン:</strong>1.1</span> <span id="appReleased">公開時期<strong>: </strong>2014 年 1 月</span>


          <p>MicroStrategy Report Services ドキュメントに動的なライブ マップを付加し、ビジネス データを視覚的かつ対話的に分析することができます。Esri Maps for MicroStrategy は、カスタム コーディングや GIS の経験がなくても、MicroStrategy のデザイナとアナリストが日々のワークフローにシームレスに統合できるように設計されています。ドキュメントおよびレポート内で他のデータセットと情報をやりとりする高機能なマップを作成したり、公開された地理データを MicroStrategy の ビジネス データと組み合わせて簡単に分析したりすることができます。 </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy/pricing">Esri Maps for MicroStrategy の取得</a>

          </p>

        </header>
        <hr />
        <br />

		<div id="addandconfigureamap-report" class="column-12 phone-column-24">
          <img src="em4m3b.png" />

          <h3>マップ連動レポートの作成</h3>
          <p>動的な Esri マップを MicroStrategy Web レポートに追加して、ビジネス上の意思決定を容易にします。 </p>
          <p>
            <a href="/ja/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;詳細を見る</a> <br/> <a href="/ja/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow"></a> <a title="マップ連動レポートの作成" href="http://video.arcgis.com/iframe/3098/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">ビデオを見る</a>
			<video width="320" height="240" controls id="3098" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3098/mp4/480">
			</video>			
          </p>
		
        </div>
        
		
		<div id="addandconfigureamap-dashboard" class="column-12 phone-column-24">
          <img src="em4m1.png" />

          <h3>ダッシュボードへのマップの追加</h3>
          <p>1 つ以上の対話的なマップでダッシュボードを機能強化することで、MicroStrategy のデータを新しい方法で視覚化することができます。 </p>
          <p>
            <a href="/ja/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;詳細を見る</a> <br/> <a title="ダッシュボードへのマップの追加" href="http://video.arcgis.com/iframe/3096/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
			<video width="320" height="240" controls id="3096" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3096/mp4/480">
			</video>
			
			
          </p>
		  <br/>
        </div>
		
		<div class="clear"></div>


        <div id="configureanduseselectors" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>セレクタの構成</h3>
          <p>マップをセレクタまたはセレクタのターゲットとして構成して、ドキュメントのデータセットを対話形式で追加します。 </p>
          <p>
		  <a href="/ja/maps-for-microstrategy/design-and-use-map/configure-and-use-selectors.htm" class="icon-right-arrow">&nbsp;詳細を見る</a> <br/> <a title="セレクタの構成" href="http://video.arcgis.com/iframe/3097/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;ビデオを見る</a>
		   <video width="320" height="240" controls id="3097" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3097/mp4/480">
			</video>
			
			
          </p>
        </div>
		
		<div id="dynamiclinking" class="column-12 phone-column-24">
          <img src="em4m4.png"/>

          <h3>動的なリンクの追加</h3>
          <p>レポートまたはドキュメントのマップから動的なリンクを構成して、外部ドキュメントまたはレポートを開始します。 </p>
          <p>
          <a href="/ja/maps-for-microstrategy/design-and-use-map/configure-and-use-links.htm" class="icon-right-arrow">&nbsp;詳細を見る</a>
          </p>
        </div>

        <div class="clear"></div>

<!--Commenting this section out until I get better screenshots
<div id="adddatafromarcgis" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Add data from ArcGIS</h3>
          <p>Add published geographic data from ArcGIS to your map-enabled document or report for easier analysis of your business data.</p>
          <p><a href="/ja/maps-for-microstrategy/design-and-use-map/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>         
          </p>
        </div>
		
		<div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Share maps and layers</h3>
          <p>Share maps or individual map layers to ArcGIS for use by others in or outside of your organization.</p>
          <p><a href="/ja/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>
-->
      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
          <ul>
           <li><a href="/ja/maps-for-microstrategy/design-and-use-map/what-s-new.htm">新機能</a></li>
            <li><a href="/ja/maps-for-microstrategy/install-and-configure/supported-environments.htm">サポートされている環境</a></li>
			<li><a href="/ja/maps-for-microstrategy/1.0.1/">バージョン 1.0.1 のヘルプ</a></li>			
			<li><a href="http://video.arcgis.com/series/158/location-analytics/">ロケーション アナリティクスのビデオを見る</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
