---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Home</a></li>
        <li><a href="/en/collector/android-phone/create-maps/create-and-share-a-collector-map.htm">Create Maps</a></li>
        <li><a href="/en/collector/android-phone/collect-data/collect-tutorial.htm">Collect Data</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Download the app</h2>
          <span id="appVersion"><strong>Version:</strong> 10.1.12</span>
          <span id="appReleased"><strong>Released:</strong> March 2013</span>


          <p>Use your smartphone to collect and update information in the field, log your current location, and put the data you capture to work so you can make more informed and timely decisions.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a>
             <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">System Requirements</a>
            <a id="appWhatsNew" href="#whatsNew">What's New</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Create and share a collector map</h3>
          <p>Extend the reach of ArcGIS into the field and improve the accuracy and currency of your spatial data. Create and share collector maps in four easy steps.</p>
          <p>
            <a href="/en/collector/android-phone/create-maps/create-and-share-a-collector-map.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Collect data</h3>
          <p>Finding places of interest, calculating distances, creating service requests, and reporting damages, are just a few of the capabilities of a collector map. Create intelligent data with images and video, and share it with the world in five steps.</p>
          <p>
            <a href="/en/collector/android-phone/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>System requirements</h2>

        <p>There are certain device requirements to run Collector, as well as requirements on the data that is used within the app. Collector is supported in a number of languages.</p>


        <h3>Data requirements</h3>
        <p>To use your maps in Collector, you must have an ArcGIS organizational account. Your maps can include data from ArcGIS Online, Portal for ArcGIS, and ArcGIS for Server.</p>


        <h3>Device requirements</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>or later operating system</li>
          <li>Armv7 processor</li>
          <li>OpenGL ES 2.0 support</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 5 or later</li>
        </ul></td><tr></table>


        <h3>Supported languages</h3>
        <p>Arabic, Danish, Dutch, English, Estonian (<span class="icon-android"/>), French, German, Hebrew, Italian, Japanese, Korean, Latvian (<span class="icon-android"/>), Lithuanian (<span class="icon-android"/>), Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Simplified Chinese, Spanish, and Swedish.</p>
        <p>The language used by the app is determined by your phone's language setting.</p>


        <a name="whatsNew"></a>
        <h2>What's new</h2>
        <p>Collector for ArcGIS version 10.1.12 was released in March 2013 with the following enhancements:</p>
        <ul>
        <li>Localized into additional languages</li>
        <li>Various bug fixes</li>
        </ul>


        <h3>Previous version</h3>
        <p>Version 10.1.11 was released in early March 2013 with the following enhancements:</p>
        <ul>
          <li>Open maps by signing in using your ArcGIS Online account.</li>
          <li>In-app search for your maps&mdash;When browsing your available maps, you can now search them for specific maps.</li>
          <li>More sample maps&mdash;Tap the Try it now option from the app's initial screen, or see <a href="/en/collector/android-phone/collect-data/guided-tour.htm">Guided tour</a> for information about accessing the sample maps.</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
            <li><a href="/en/collector/android-phone/collect-data/guided-tour.htm">Guided tour</a></li>
            <li><a href="/en/collector/android-phone/create-maps/create-and-share-a-collector-map.htm">Create and share a collector map</a></li>
            <li><a href="/en/collector/android-phone/collect-data/collect-tutorial.htm">Collect data</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
