---
title: Trust - Состояние системы
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/ru/trust/">Trust</a></li>
        <li class='current'><a title="Состояние системы ArcGIS Online" href="/ru/trust/system-status/">Состояние системы</a></li>
        <li><a title="Безопасность ArcGIS Online" href="/ru/trust/security/">Безопасность</a></li>		
        <li><a title="Конфиденциальность ArcGIS Online" href="/ru/trust/privacy/">Конфиденциальность</a></li>
        <li><a title="Конфиденциальность ArcGIS Online" href="/ru/trust/compliance/">Соответствие требованиям</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">
  Ошибка: Невозможно отобразить вложенные данные. 
</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard обеспечивает проверенную информацию о состоянии, в достоверности которой имели возможность убедиться большинство наших пользователей. Поскольку ArcGIS Online является облачной платформой, множество событий имеют весьма ограниченное влияние на нашу широкую базу пользователей, или вовсе его не имеют. Эта страница состояния не содержит информации по вопросам, касающихся отдельных организаций, поскольку мы стремимся, чтобы такие вопросы решались с помощью наших служб поддержки.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
