---
layout: search

title: Search Result
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - searchResult
  - marketplace


js:
  - sitecfg
  - libs/underscore
  - libs/backbone
  - search/jxon
  - search/searchcfg
  - search/gsasearch
  - marketplace/init


metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">

mobile: true

---

<!-- Page Content -->
<div class="container search inithide">
  <div class="column-16 tablet-column-24 row" style="width:78%">
    <aside class="reference-index">
      <nav id="searchFilter">
      </nav>
    </aside>

    <section class="reference-content">
      <div class="search-box">
        <div id="searchBox">
          <form id="gsaSearchForm">
            <input type="search" size="80" placeholder="Search doc.arcgis.com help" 
            data-langlabel="search-arcgis-doc-content" name="q" id="query">
          </form>
        </div>
      </div>

      <div class="row search-nav">
        <div id="searchStat" class="column-9"></div>
        <div class="pre-1 column-2"></div>
        <div id="searchLang" class="pre-1 column-11"></div>
      </div>

      <hr />

      <div id="results">
        <div id="spinner" style="display: none;">
          <img alt="loading" src="/img/ajax-loader.gif">
        </div>

        <!-- Result area -->
        <div id="searchResult" class="display3">
          <div class="clear"></div>
        </div>
        <!-- End of Result -->
      </div>

      <div id="searchPager">
      </div>

    </section>

  </div>
  <!-- Right panel -->
  <div style="width: 20.333%;" class="column-8 tablet-column-24 blocks">
     <section id="forum-container">
      <div class="panel">
        <h3>GeoNet result</h3>
        <div id="forum"><article><h4><a href="https://geonet.esri.com/thread/104112">Operations Dashboard not respecting webmap layer filters</a></h4><small><time> July 11, 2014</time></small><p>Are there only certain types of features that Ops Dash ... <a href="https://geonet.esri.com/thread/104112">Continue reading →</a></p></article>
<article><h4><a href="https://geonet.esri.com/thread/103876">Bug in the spyglass story map template popups</a></h4><small><time> July 11, 2014</time></small><p>I have a story map that uses the spyglass ... <a href="https://geonet.esri.com/thread/103876">Continue reading →</a></p></article>
<article><h4><a href="https://geonet.esri.com/thread/64332">attachment link shows original path to attachment</a></h4><small><time> July 11, 2014</time></small><p>I have a feature service with attachments. The ... <a href="https://geonet.esri.com/thread/64332">Continue reading →</a></p></article></div>
        &nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">More Geonet Result</a>
      </div>
    </section>      
 </div>
 <!-- End of right panel -->
</div>
