---
layout: search

title: Search Result
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - searchResult
  - marketplace


js:
  - sitecfg
  - libs/underscore
  - libs/backbone
  - search/jxon
  - search/searchcfg
  - search/gsasearch
  - marketplace/init


metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">

mobile: true

---

<!-- Page Content -->
<div class="container search inithide">
  <div class="row">
    <aside class="reference-index">
      <nav id="searchFilter">
      </nav>
    </aside>

    <section class="reference-content">
      <div class="search-box">
        <div id="searchBox">
          <form id="gsaSearchForm">
            <input type="search" size="80" placeholder="Search doc.arcgis.com help" 
            data-langlabel="search-arcgis-doc-content" name="q" id="query">
          </form>
        </div>
      </div>

      <div class="row search-nav">
        <div id="searchStat" class="column-9"></div>
        <div class="pre-1 column-2"></div>
        <div id="searchLang" class="pre-1 column-11"></div>
      </div>

      <hr />

      <div id="results">
        <div id="spinner" style="display: none;">
          <img alt="loading" src="/img/ajax-loader.gif">
        </div>

        <!-- Result area -->
        <div id="searchResult" class="display3">
          <div class="clear"></div>
        </div>
        <!-- End of Result -->
      </div>

      <div id="searchPager">
      </div>

    </section>

  </div>
</div>
