---
layout: marketplace/layout

title: Sign Up - ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">サイン アップしてプロバイダになる</h1>
    </header>
	<nav>&nbsp;</nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">ArcGIS Marketplace でアプリケーションを販売することができます。世界で最大規模の GIS ユーザ ベースにアクセスすることができます。簡単にユーザとつながり、無料トライアルを提供してリードを生み出すことができます。アプリケーション プロバイダとして、アプリケーション販売による収益をすべて獲得することができます。詳細は、「<a href="/ja/marketplace/provider/faq.htm">FAQ</a>」をご参照ください。 </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">すでに Esri パートナーになっている場合</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">ArcGIS Marketplace でソリューションを公開して幅広いユーザに案内することができます。<a href="http://partnerportal.esri.com/">Esri パートナー ポータル</a>にログインすると、プロバイダになる方法を確認することができます。</p>

      </section>

	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">まだ Esri パートナーになっていない場合Esri 製品を使用したことがない場合</h2>
		<p data-langlabel="provider-signup-note">Esri では、ユーザのために優れたソリューションを構築したい開発者を探しています。以下のフォームより、お客様の情報をご連絡ください。Esri パートナーになるためのお手伝いをさせていただきます。</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="http://resources.arcgis.com/apps/contact-us/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="first-name" for="first-name">氏名 (名):  </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">氏名 (姓):  </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">電子メール アドレス:  </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">電話番号:  </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">お客様の情報:  </label>
			  <textarea data-langlabel="comment" placeholder="I build apps that..." name="userComment" id="userComment"></textarea>
			  
			  <label data-langlabel="feedback-spam-note" for="spam">スパムを防ぐために、表示されている数字を入力してください。 </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">数字:  <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="内部" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="ja" name="lg">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" data-langlabel="contact-us">送信</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>ArcGIS Marketplace プロバイダの登録をご検討いただきありがとうございます。数営業日以内にご連絡させていただきます。</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>
