---
title: Esri Maps for SharePoint
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header> <nav>
      <ul>
        <li class='current'><a href="/pt-pt/maps-for-sharepoint/">Página Inicial</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/get-started/">Introdução</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/esri-maps-web-part/">Web Part do Esri Maps</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/arcgis-map-web-part/">Web Part do ArcGIS Map</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 3.0</span> <span id="appReleased"><strong>Disponível:</strong> Julho de 2013</span>


          <p>A Esri Maps for SharePoint utiliza a estrutura do Microsoft SharePoint 2010 e 2013 para oferecer componentes de cartografia interativa e configurável que pode lhe dar uma visão geo-espacial dos dados da sua organização. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">Obter Esri Maps for SharePoint</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos do sistema</h2>

        <p>Esri Maps for SharePoint requer uma conta que faça parte de uma organização do <a href="http://help.arcgis.com/pt-pt/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> e Microsoft SharePoint 2010 ou 2013 Foundation, Server Standard, ou edição Enterprise edition.</p>


 <a name="whatsNew"></a>        
		 <h2>Quais as novidades no 3.0.1</h2>        
		 <p>Esri Maps for SharePoint versão 3.0.1 foi lançado em Outubro de 2013. Inclui as seguintes atualizações e melhoramentos:</p>        
		 <ul>        
		 <li>Suporte de localização para 21 idiomas: Árabe, Chinês (Han Simplificado), Dinamarquês, Holandês, Inglês, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Lituano, Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Espanhol e Sueco.</li>	
		 <li>Suporte para os tipos de localização personalizada no fluxo de trabalho Esri Maps.</li>	
		 <li>Análise geoestatística hot spot.</li>	
		     
		 </ul>
		       
		 <h2>Quais as novidades no 3.0</h2>        
		 <p>Esri Maps for SharePoint versão 3.0 foi lançado em Julho de 2013. Inclui as seguintes atualizações e melhoramentos:</p>        
		 <ul>        
		 <li>Nome do novo produto—Esri Maps for SharePoint</li>	
		 <li>Suporte para SharePoint 2010 e SharePoint 2013 (localmente)</li>	
		 <li>Versão inicial do Web Part do Esri Maps —web part baseado no  JavaScript suportado no SharePoint 2010 e SharePoint 2013 (localmente).</li>	
		 <li>Suporte para o Portal do ArcGIS 10.2 </li>	
		 <li>Conetividade de dados externos através do SharePoint Business Connectivity Services (BCS) (Web Part do mapa para JavaScript)</li>	
		 <li>Ligações Web Part-to-Web Part (Web Part do mapa para JavaScript)</li>	
		 <li>Atualização para suportar o ArcGIS for Silverlight v3.1 e ArcGIS Extensibility v3.1 SDKs (web part do mapa baseado unicamente no Silverlight)</li>        
		 </ul>

		  
		 <p>Com a Web Part do Esri Maps, pode fazer o seguinte: 	
		 <ul>	
		 <li>Adicionar mapas web e serviços do ArcGIS, seja ArcGIS Online ou Portal for ArcGIS.</li>	
		 <li>Partilhar mapas e camadas no ArcGIS para o público ou para a sua organização.</li>	
		 <li>Mostrar listas do SharePoint e ligar-se a fontes de dados externas através de Business Connectivity Services (BCS).</li>	
		 <li>Ligar-se á Lista e ao web part do Gráfico através das ligações Web Part-to-Web Part.</li>	
		 <li>Ativar espacialmente (geocodificação) itens da lista do SharePoint.</li>	
		 <li>Interativamente configurar o aspeto do mapa, camadas e outras configurações.</li>	
		 <li>Escolher a partir de mapas de fundo preenchidos pela galeria mapa base da sua organização ArcGIS.</li>	
		 <li>Definir o aspeto dos conjuntos de dados (simbologia) utilizando os símbolos simples, quebra de classes ou os valores únicos. </li>	
		 <li>Exibir elementos de ponto utilizando o clustering ou os mapas de calor (heat maps). </li>	
		 <li>Configurar o aspeto das janelas pop-up. Especifique o estilo da janela pop-up e dos campos a exibir quando passar o ponteiro sobre os elementos do mapa. </li>	
		 <li>Ver os infográficos nas janelas pop-up que fornecem boas informações contextuais sobre as áreas circundantes dos elementos do mapa.</li>	
		 <li>Realizar a rota baseado na análise dos seus dados.</li>	
		 <li>Interativamente selecionar e filtrar os dados baseado num raio ou numa distância de unidade de tempo.</li>	
		 <li>Interativamente recuperar informações demográficas adicionais e contextuais associadas a locais cartografados. </li>	
		 </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introdução</h3>
         <ul>
            <li><a href="#systemRequirements">Requisitos do sistema</a></li>
	 <li><a href="#whatsNew">Quais as novidades?</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">Amostras interativas (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/help/sharepoint/apiref/api_start.htm">Referência da API (Silverlight)</a></li>
	 <li><a href="http://resources.arcgis.com/en/communities/sharepoint/01t800000009000000.htm">Ajuda do ArcGIS for SharePoint 2.1.1</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
