---
title: Esri Maps for SharePoint
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2015-08-21"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="sharepoint-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="pt-pt">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Sharepoint">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-sharepoint" /> 
<input type="hidden" name="version" value="sharepoint-4.0" />		
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-pt/maps-for-sharepoint/">Início</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/foundation-server/install-and-configure/">Instalar e Configurar</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/foundation-server/esri-maps-web-part/">Web Part do Esri Maps</a></li>
        <li><a href="/pt-pt/maps-for-sharepoint/arcgis-map-web-part/">ArcGIS Map Web Part</a></li>
		<li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 4.1</span>
          <span id="appReleased"><strong>Disponível:</strong> Falhar 2015</span>

          <p>Esri Maps for SharePoint alavanca o framework do Microsoft SharePoint 2010 e 2013 e a plataforma SharePoint online para oferecer componentes de mapeamento interactivos e configuráveis que lhe podem dar uma visão geoespacial seus dados organizacionais. </p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download-maps-for-sharepoint">Obter o Esri Maps for SharePoint local</a> 
          </p>
		  <p>
			<a class="btn primary" href="https://store.office.com/search.aspx?productgroup=SharePoint&qu=esri">Obter o Esri Maps for SharePoint online</a>
		  </p>

        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Enable mapping -->
		<div id="enablemapping" class="column-12 phone-column-24">
		  <a title="Activar mapeamento em SharePoint" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/2906/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="m4sp1.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Activar mapeamento em SharePoint</h3>
          <p>Adicionar mapas dinamicos ao seu site SharePoint para o ajudar a analisar visualmente os seus dados empresariais.</p>
          <p>
           <a href="/pt-pt/maps-for-sharepoint/foundation-server/esri-maps-web-part/add-esri-maps-web-part-to-a-page.htm" class="icon-right-arrow">&nbsp;Obtenha mais informações</a>
			<br/>
			<a title="Disponibilizar a criação de mapas no SharePoint" href="http://video.arcgis.com/iframe/2906/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Veja o vídeo</a>
			<video width="320" height="240" controls id="2906" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2906/mp4/480">
			</video>
          </p>
        </div>

		<!-- Share maps -->
        <div id="sharemaps" class="column-12 phone-column-24">
          <a title="Partilhar os seus mapas SharePoint" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/2907/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="m4sp2.png"><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Partilhar os seus mapas SharePoint</h3>
          <p>Aprenda como partilhar os seus mapas a partir dos seus dados SharePoint. Publicar o seu mapa em ArcGIS Online para partilhar com outros</p>
          <p>
			<a href="/pt-pt/maps-for-sharepoint/foundation-server/esri-maps-web-part/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Obtenha mais informações</a>
			<br/>
		   <a title="Partilhar os seus mapas SharePoint" href="http://video.arcgis.com/iframe/2907/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Veja o vídeo</a>
		<video width="320" height="240" controls id="2907" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2907/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>
        <div class="clear"></div>


<!-- What's new section -->
	<hr />
	<a name="whatsNew"></a>
 	<h2>Quais as novidades?</h2>	
 	<p>Esri Maps for SharePoint 4.1 está agora disponível.</p>
	
			<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 
		 
		<h3>actualizações 4.1</h3>
		<p>Versão 4.1 Esri Maps for SharePoint inclui os seguintes melhoramentos e actualizações:
			<ul>
				<li>Suporte de localização para os seguintes idiomas: Árabe, Chinês (simplificado), Checo, Dinamarquês, Holandês, Estónio, Finlandês, Francês, Alemão, Grego, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano,Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Espanhol, Tailandês, Turco e Vietnamita.
				<p><strong>Nota:</strong> O ArcGIS Map web part é construido em Silverlight 3.1 e, como tal, pode não suportar todos os idiomas listadas acima.</p>
				</li>
				<li>Várias correções de bugs e melhorias.</li>
			</ul>
		</p>
		<p><strong>Importante:</strong> Por causa das <a href="HTTP://BLOGS.ESRI.COM/ESRI/ARCGIS/2014/02/21/ESRIS-ROADMAP-FOR-WEB-DEVELOPERS/">tendências da tecnologia web</a>, o ArcGIS Maps Silverlight web part será preterido após este lançamento. O Esri Maps JavaScript web part contem muitos elementos avançados não disponíveis no ArcGIS Maps Silverlight web part. É recomendado que use Esri Maps JavaScript web part em vez de ArcGIS Maps Silverlight web part—não lhe será mais possível adicionar um novo ArcGIS Map Silverlight web parts a páginas de site. Para continuar a utilizar as suas ArcGIS Maps Silverlight web parts, atualize todos os sites que contêm a ArcGIS Maps Silverlight web part para Esri Maps for SharePoint 4.0 ou posterior e guarde as páginas. Então será capaz de continuar a usar ArcGIS Maps Silverlight web parts sem problemas.</p></p>
		 
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">actualizações 4.0</a>
		</h3>
		<div exp1='yes' style="display:none;padding:0 15px;">
		<p>Esri Maps for SharePoint 4.0 wfoi lançado em Julho de 2015 e inclui os seguintes novos elementos. Muitos aspectos de instalação e configuração alteraram nesta versão; por favor reveja os cuidadosamente os tópicos Requisitos de Sistema e Ajuda de Configuração.
			<ul>
				<li>Suporte para SharePoint Online</li>
				<li>Permite aos convidados visualizar Esri Maps Web Part com funcionalidade limitada, sem ter de iniciar sessão</li>
				<li>Suporte Portal for ArcGIS 10.3 e 10.3.1</li>
				<li>Trabalhar com configurações comuns Portal for ArcGIS (OAuth, SAML, IWA, PKI, LDAP)</li>
				<li>Trabalhar com Portal for ArcGIS num ambiente desligado</li>
				<li>Suporte para dados enriquecidos geográficos</li>
				<li>Novas ferramentas adicionadas a Esri Maps Web Part: impressão, medição edição (adicionar, modificar, e apagar elementos), filtrar camadas, e auto actualização de camadas SharePoint</li>
				<li>Novas opções de configuração Conteúdos de Mapa para Esri Maps Web Part</li>
				<li>Campo Esri Maps Location agora é criado com JavaScript (em vez de Silverlight) e permite visualização em dispositivos móveis</li>
				<li>Campo Esri Maps Location fornece uma caixa de pesquisa para pesquisar por endereços, sítios, e coordenadas</li>
				<li>Use o sistema de coordenadas à sua escolha com o campo Esri Maps Locatione facilmente sobrepor bases de dados GIS que estão no seu sistema de coordenadas local.</li>
				<li>Extensibilidade: Criar ferramentas personalizadas, comportamentos, e símbolos personalizados definidos para Esri Maps Web Part</li>
				<li>Melhor manipulação de erro e várias correcções de bugs</li>
				<li>Vários melhoramentos de interface de utilizador, criar nova visualização</li>
			</ul>
		</p>
		<p><strong>Importante:</strong> Por causa das <a href="HTTP://BLOGS.ESRI.COM/ESRI/ARCGIS/2014/02/21/ESRIS-ROADMAP-FOR-WEB-DEVELOPERS/">tendências tecnologias web</a>, o ArcGIS Maps Silverlight web part irá ser preterido após o lançamento Esri Maps for SharePoint v4.0. O Esri Maps JavaScript web part contem muitos elementos avançados não disponíveis no ArcGIS Maps Silverlight web part. É recomendado que use Esri Maps JavaScript web part em vez de ArcGIS Maps Silverlight web part—não lhe será mais possível adicionar um novo ArcGIS Map Silverlight web parts a páginas de site. Para continuar a utilizar as suas ArcGIS Maps Silverlight web parts, atualize todos os sites que contêm a ArcGIS Maps Silverlight web part para Esri Maps for SharePoint 4.0 ou posterior e guarde as páginas. Então será capaz de continuar a usar ArcGIS Maps Silverlight web parts sem problemas.</p></p>
		</div>
	

		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">actualizações 3.0.1</a>
		</h3>
		<div exp2='yes' style="display:none;padding:0 15px;">
		 <p>Esri Maps for SharePoint versão 3.0.1 foi lançado em Outubro de 2013. Inclui as seguintes atualizações e melhoramentos:</p>        
			 <ul>        
				 <li>Suporte de localização para 21 idiomas Árabe, Chinês (Simplificado), Dinamarquês, Holandês, Estónio, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polaco, Português, Português (Brasileiro),
		Romeno, Russo, Espanhol e Sueco.</li>	
				 <li>Suporte para os tipos de localização personalizada no fluxo de trabalho Esri Maps.</li>	
				 <li>Análise geoestatística hot spot.</li>	
			 </ul>
		</div>
		       
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">actualizações 3.0</a>
		</h3>
		<div exp3='yes' style="display:none;padding:0 15px;">
		 <p>Esri Maps for SharePoint versão 3.0 foi lançado em Julho de 2013. Inclui as seguintes atualizações e melhoramentos:</p>        
			 <ul>        
				 <li>Nome do novo produto—Esri Maps for SharePoint</li>	
				 <li>Suporte para SharePoint 2010 e SharePoint 2013 (localmente)</li>	
				 <li>Versão inicial do Web Part do Esri Maps —web part baseado no  JavaScript suportado no SharePoint 2010 e SharePoint 2013 (localmente).</li>	
				 <li>Suporte para o Portal for ArcGIS 10.2</li>	
				 <li>Conetividade de dados externos através do SharePoint Business Connectivity Services (BCS) (Web Part do mapa para JavaScript)</li>	
				 <li>Ligações Web Part-to-Web Part (Web Part do mapa para JavaScript)</li>	
				 <li>Atualização para suportar o ArcGIS for Silverlight v3.1 e ArcGIS Extensibility v3.1 SDKs (web part do mapa baseado unicamente no Silverlight)</li>        
			 </ul>

		  
		 <p>Com Mapas Esri Web Part, pode fazer o seguinte: 
			 <ul>	
				 <li>Adicionar mapas web e serviços do ArcGIS, seja ArcGIS Online ou Portal for ArcGIS.</li>	
				 <li>Partilhar mapas e camadas no ArcGIS para o público ou para a sua organização.</li>	
				 <li>Mostrar listas do SharePoint e ligar-se a fontes de dados externas através de Business Connectivity Services (BCS).</li>	
				 <li>Ligar-se á Lista e ao web part do Gráfico através das ligações Web Part-to-Web Part.</li>	
				 <li>Ativar espacialmente (geocodificação) itens da lista do SharePoint.</li>	
				 <li>Interativamente configurar o aspeto do mapa, camadas e outras configurações.</li>	
				 <li>Escolher a partir de mapas de fundo preenchidos pela galeria mapa base da sua organização ArcGIS.</li>	
				 <li>Definir o aspeto dos conjuntos de dados (simbologia) utilizando os símbolos simples, quebra de classes ou os valores únicos.</li>	
				 <li>Exibir elementos de ponto utilizando o clustering ou os mapas de calor (heat maps). </li>	
				 <li>Configurar o aspeto das janelas pop-up. Especifique o estilo da janela pop-up e dos campos a exibir quando passar o ponteiro sobre os elementos do mapa. </li>	
				 <li>Ver os infográficos nas janelas pop-up que fornecem boas informações contextuais sobre as áreas circundantes dos elementos do mapa.</li>	
				 <li>Realizar a rota baseado na análise dos seus dados.</li>	
				 <li>Interativamente selecionar e filtrar os dados baseado num raio ou numa distância de unidade de tempo.</li>	
				 <li>Interativamente recuperar informações demográficas adicionais e contextuais associadas a locais cartografados.</li>	
			 </ul>
		</div>

			 
<!-- Supported environments section -->
	<hr />
	<a name="supportedEnvironments"></a>
        <h2>Ambientes suportados</h2>
        <p>Esri Maps for SharePoint é implementado como um add-on ao Microsoft SharePoint. Para Esri Maps for SharePoint operar correctamente, Esri assume uma configuração operacional Microsoft SharePoint. Esri Maps for SharePoint é suportado para usar com Microsoft SharePoint 2010 Server e Foundation, Microsoft SharePoint 2013 Server e Foundation. Esri testa Esri Maps for SharePoint apenas em ambientes de software certificados ou suportados por Microsoft SharePoint; nem todos os ambientes SharePoint suportados foram testados ou certificados. Para informação adicional, consulte <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>política de ambiente suportado Esri</a>.
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 
		 
		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Requisitos de sistema</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>Referir ao sistema de requisito Microsoft SharePoint:
			<ul>
				<li><a href="https://technet.microsoft.com/en-us/library/cc262485(office.14).aspx">Requisitos hardware e software (SharePoint Server 2010)</a></li>
				<li><a href="https://technet.microsoft.com/en-us/library/cc262485(v=office.15).aspx">Requisitos hardware e software SharePoint 2013</a></li>
				<li><a href="https://technet.microsoft.com/en-us/library/jj819267.aspx">Serviços Online SharePoint</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">Software solicitado</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>Esri Maps for SharePoint requer uma organização Online ArcGIS ou conta Portal for ArcGIS e Microsoft SharePoint 2010 ou 2013 Foundation, Server Standard, ou edição Server Enterprise.</p>

			<p>Antes de instalar Esri Maps for SharePoint, vários componentes de software devem ser instalados e propriamente configurados no seu sistema. Para informação detalhada, consulte:</p>
				<ul>
					<li><a href="http://doc.arcgis.com/en/maps-for-sharepoint/foundation-server/install-and-configure/system-requirements.htm">Requisitos SharePoint Server ou Foundation </a></li>
					<li><a href="http://doc.arcgis.com/en/maps-for-sharepoint/office-365/install-and-configure/system-requirements.htm">Requisitos SharePoint Online </a></li>
				</ul>
			</div>
		
		<!-- Operating Systems -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">Sistemas Operativos</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>Esri Maps for SharePoint é suportado para SharePoint 2010 e SharePoint 2013 nos seguintes sistemas operativos. Consulte informações de ambientes suportados Microsoft SharePoint para determinar quais as versões destes sistemas operativos que são actualmente suportados:
			<ul>
				<li>Windows Server 2012</li>
				<li>Windows Server 2008 R2 SP1</li>
				<li>Windows Server 2008 R2</li>
			</ul>
			</p>
			</div>

		<!-- Languages-->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp4')">Idiomas suportados</a>
		</h3>
			<div exp4='yes' style="display:none;padding:0 15px;">
			<p>Esri Maps for SharePoint está disponível para os seguintes idiomas:</p>
			<p>Árabe, Chinês (simplificado), Checo, Dinamarquês, Holandês, Estónio, Finlandês, Francês, Alemão, Grego, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano,Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Espanhol, Tailandês, Turco e Vietnamita.</p>
			<p>A linguagem utilizada na versão Windows da aplicação é determinada pela localidade definida para o conjunto de site Root. Se está a usar um idioma não suportado, a aplicação usa Inglês.</p>
			<p>Nota: O ArcGIS Map web part é construido em Silverlight 3.1 e, como tal, pode não suportar todos os idiomas listadas acima.</p>
			</div>

				
		<!-- Browsers-->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp5')">Navegadores web</a>
		</h3>
			<div exp5='yes' style="display:none;padding:0 15px;">
			<p>Esri Maps for SharePoint é suportado nos seguintes navegadores:</p>
	<table>
	<colgroup width="*"></colgroup>
	<colgroup width="*"></colgroup>
	<colgroup width="*"></colgroup>
	<colgroup width="*"></colgroup>
	<thead>
		<tr align="left">
			<th>Nome de navegador</th>
			<th>SharePoint 2010</th>
			<th>SharePoint 2013</th>
			<th>SharePoint Online</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="1" colspan="1"><p>Internet Explorer 11</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
		</tr>
		<tr class="align-middle">
			<td rowspan="1" colspan="1"><p>Internet Explorer 10</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
		</tr>
		<tr class="align-middle">
			<td rowspan="1" colspan="1"><p>Internet Explorer 9</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Limitado (como por <a href="https://support.office.com/en-us/article/Office-365-system-requirements-719254c0-2671-4648-9c84-c6a3d4f3be45?CorrelationId=2526bbae-9d9f-497d-bb09-036433a33852&ui=en-US&rs=en-US&ad=US">Microsoft</a>)</p></td>
		</tr>
		<tr class="align-middle">
			<td rowspan="1" colspan="1"><p>Internet Explorer 8</p></td>
			<td rowspan="1" colspan="1"><p>Não suportado</p></td>
			<td rowspan="1" colspan="1"><p>Não suportado</p></td>
			<td rowspan="1" colspan="1"><p>Não suportado</p></td>
		</tr>
		<tr class="align-middle">
			<td rowspan="1" colspan="1"><p>Google Chrome*</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
		</tr>
		<tr class="align-middle">
			<td rowspan="1" colspan="1"><p>Mozilla Firefox*</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
			<td rowspan="1" colspan="1"><p>Cheio</p></td>
		</tr>
	</tbody>
	</table>
</p>
<p>* última versão lançada</p>			</div>
        <p>&nbsp;</p>

      </div>

	  
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introdução</h3>
         <ul>
            <li><a href="#supportedEnvironments">Ambientes suportados</a></li>
	 <li><a href="#whatsNew">Quais as novidades?</a></li>
	 <li>Ajuda para versões anteriores:
	 <ul>
	 <li><a href="/pt-pt/maps-for-sharepoint/3.0.1/get-started/included-files.htm">Esri Maps for SharePoint 3.0.1</a></li>
         </ul> </li> </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script></Comment>-&gt;  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
