---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2014-12-3"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="sv">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/sv/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/sv/operations-dashboard/">Hem</a></li>
        <li><a href="/sv/operations-dashboard/windows-desktop/author/create-a-map.htm">Skapa vyer</a></li>
        <li><a href="/sv/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Anv&auml;nda vyer</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">&Ouml;vervaka aktiviteter och h&auml;ndelser, sp&aring;ra arbetsstyrkan i f&auml;lt och utv&auml;rdera status och resultat f&ouml;r den dagliga verksamheten.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Skaffa Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Skapa och dela en &aring;tg&auml;rdsvy</h3>
          <p>I tre enkla steg kan du skapa och dela &aring;tg&auml;rdsvyer som inneh&aring;ller kartor, listor, tabeller, m&auml;tare och annat baserat p&aring; geografiska data i realtid som definieras i en karta eller webbtj&auml;nst.</p>
          <p>
            <a href="/sv/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>&Ouml;vervaka och reagera p&aring; h&auml;ndelser</h3>
          <p>Anv&auml;nd din &aring;tg&auml;rdsvy f&ouml;r att fokusera p&aring; de delar av verksamheten som &auml;r viktiga f&ouml;r dig. &Ouml;vervaka tj&auml;nster, leveranser, personer, fordon och annat v&auml;rlden runt i fyra steg.</p>
          <p>
            <a href="/sv/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br /> <!--<a href="http://resources.arcgis.com/sv/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Visa en film</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>&Ouml;vervaka i webbl&auml;sare</h3>
          <p>Anv&auml;nd &aring;tg&auml;rdsvyn i en webbl&auml;sare. Du beh&ouml;ver inte installera n&aring;got. Bara &ouml;ppna en &aring;tg&auml;rdsvy s&aring; kan du h&aring;lla dig uppdaterad om verksamheten, till och med fr&aring;n en iPad.</p>
          <p>
            <a href="/sv/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Visa mig hur</a><br /> <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Utveckla add-ins</h3>
          <p>Till&auml;mpa din unika aff&auml;rslogik i &aring;tg&auml;rdsvyn med anpassade widgetar, geoobjekt&aring;tg&auml;rder och kartverktyg. </p>
          <p>
            <a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/" class="icon-right-arrow">&nbsp;Visa mig hur</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Funktioner</h2>
	<p>Skapa en gemensam vy &ouml;ver de system och resurser du hanterar. &Ouml;vervaka datastr&ouml;mmar i realtid f&ouml;r stora h&auml;ndelser eller den dagliga verksamheten via skrivbordet eller surfplattan. Skapa fokuserade instrumentpaneler f&ouml;r ledningen med integrerade kartor, tabeller och diagram.</p>
	
	<ul>
	<li>Anv&auml;nd kartor med dynamiska datak&auml;llor f&ouml;r att tillhandah&aring;lla vyer i realtid.</li>
	<li>Konfigurera tabeller, m&auml;tare, histogram och annat f&ouml;r att ge ett statistiskt sammanhang.</li>
	<li>Skapa och dela operativa vyer som &auml;r inriktade mot ett visst behov.</li>
	<li>Skapa vyer f&ouml;r anv&auml;ndning p&aring; flera bildsk&auml;rmar eller enheter med en enda sk&auml;rm.</li>
	<li>Skapa anpassade widgetar och verktyg som passar dina behov.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Systemkrav</h2>

        <p>Det finns vissa enhetskrav f&ouml;r att k&ouml;ra Operations Dashboard, och andra krav f&ouml;r data som ska anv&auml;ndas i appen. </p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Windows-app</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Operativsystem som st&ouml;ds</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 8.1, Windows 8.1 Pro och Windows 8.1 Enterprise (32 och 64 bitar [EM64T])</li>
          <li>Windows 8, Windows 8 Pro och Windows 8 Enterprise (32 och 64 bitar [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional och Home Premium (32 och 64 bitar [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard och Datacenter (64 bitar [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise och Datacenter (64 bitar [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise och Datacenter (32 och 64 bitar [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Maskinvarukrav</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>CPU-hastighet: 2,2 GHz eller h&ouml;gre, Hyper-Threading (HTT) eller flerk&auml;rnig processor rekommenderas.</li>
			<li>Processor: Intel Pentium 4, Core Duo eller Xeon, minst SSE2. K&ouml;r verktyget Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> via kommandoraden i Windows f&ouml;r att kontrollera processorn.</li>
			<li>H&aring;rddiskutrymme: 1,5 GB tillg&auml;ngligt utrymme.</li>
			<li>Minne/RAM: Minst 2 GB.</li>
			<li>Visningsegenskaper: 24-bitars f&auml;rgdjup.</li>
			<li>Sk&auml;rmuppl&ouml;sning: 1&nbsp;024 × 768 eller h&ouml;gre med normal storlek (96 dpi).</li>
			<li>Swap-utrymme: Avg&ouml;rs av operativsystemet, minst 500 MB.</li>
			<li>Video-/grafikadapter: Minst 64 MB RAM, 256 MB RAM rekommenderas, chipset fr&aring;n NVIDIA, ATI och Intel st&ouml;ds. Accelererade drivrutiner f&ouml;r grafikkortet. Shader Model 2.0 eller h&ouml;gre. Se till att anv&auml;nda den senaste tillg&auml;ngliga drivrutinen.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Programvarukrav</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px">Du m&aring;ste ha <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> eller senare installerat. Du m&aring;ste ha administrat&ouml;rsbeh&ouml;righet p&aring; datorn f&ouml;r att installera programmet.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Krav f&ouml;r utvecklare</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px"><a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.3 for WPF</a> kr&auml;vs f&ouml;r att anpassa Operations Dashboard for ArcGIS. Microsoft Visual Studio 2012 eller 2013 Professional, Premium eller Ultimate Edition kr&auml;vs ocks&aring;. </p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Spr&aring;k</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">Arabiska, danska, engelska, estniska, finska, franska, hebreiska, italienska, japanska, kinesiska (f&ouml;renklad), koreanska, lettiska, litauiska, nederl&auml;ndska, norska, polska, portugisiska (Brasilien), portugisiska (Portugal), rum&auml;nska, ryska, spanska, svenska, tjeckiska, turkiska och tyska.</p>
     	<p style="padding:0 15px">Vilket spr&aring;k som anv&auml;nds i Windows-versionen av appen avg&ouml;rs av operativsystemets spr&aring;kinst&auml;llning. Om en anv&auml;ndare anv&auml;nder en spr&aring;kinst&auml;llning som inte st&ouml;ds, anv&auml;nder appen engelska.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Webbl&auml;sarapp</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Webbl&auml;sare som st&ouml;ds</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Dator
 <ul style="padding:0 15px">
 <li>Chrome version 19.0 och senare</li>
 <li>Firefox version 4.0 och senare</li>
 <li>Internet Explorer version 9.0 och senare</li>
 <li>Safari version 5.1 och senare</li>
 </ul> 
 Surfplatta 
 <ul style="padding:0 15px">
 <li>Android 4.0 och senare med Chrome version 19.0 och senare</li>
 <li>iOS 6.0 och senare med Safari</li>
 </ul>
 Telefon 
 <p style="padding:0 15px">Inga webbl&auml;sare f&ouml;r smartphones st&ouml;ds f&ouml;r tillf&auml;llet.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Spr&aring;k</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">Danska, engelska, estniska, finska, franska, italienska, japanska, kinesiska (f&ouml;renklad), koreanska, lettiska, litauiska, nederl&auml;ndska, norska, polska, portugisiska (Brasilien), portugisiska (Portugal), rum&auml;nska, ryska, spanska, svenska, thail&auml;ndska, tjeckiska, turkiska, tyska och vietnamesiska.</p>
      	<p style="padding:0 15px">I webbl&auml;sarversionen &auml;r det din ArcGIS Online-profil som anv&auml;nds f&ouml;r att st&auml;lla in spr&aring;ket. Om en anv&auml;ndare anv&auml;nder en spr&aring;kinst&auml;llning som inte st&ouml;ds, anv&auml;nder appen engelska.</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>Datakrav</h3>
		<p>Du m&aring;ste ha ett ArcGIS-abonnemang f&ouml;r att anv&auml;nda dina kartor i Operations Dashboard. Kartorna kan inneh&aring;lla data fr&aring;n ArcGIS Online, Portal for ArcGIS och ArcGIS for Server. Datak&auml;llor m&aring;ste drifts&auml;ttas i ArcGIS Online eller ArcGIS 10.1 for Server eller senare.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Nyheter</h2>
        <table><tr><td valign="top" ><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS 10.2.3 uppdaterades i juli 2014 med l&ouml;sningar p&aring; olika fel och f&ouml;rb&auml;ttringar.</p>
                </td>
	        <td valign="top"><h4><img src="icon-browser.png" style="margin-right:4px"/>Webbl&auml;sare</h4>
	        <p>Webbl&auml;sarappen f&ouml;r Operations Dashboard for ArcGIS uppdaterades i december 2014. Den h&auml;r versionen inneh&aring;ller f&ouml;ljande f&ouml;rb&auml;ttringar:</p>
	        <ul>
	          <li>Widgets kan expanderas till helsk&auml;rm</li>
	          <li>Integrerat i Portal for ArcGIS 10.3</li>
	          <li>&Ouml;versatt till vietnamesiska</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">F&ouml;rhandstitt</h2>
	<p>Dagens Operations Dashboard &auml;r en utm&auml;rkt app som du kan anv&auml;nda f&ouml;r att &ouml;vervaka din verksamhet. Men mer &auml;r p&aring; g&aring;ng! H&auml;r beskriver vi v&aring;ra planer f&ouml;r appen och visar vilken kapacitet vi vill l&auml;gga till f&ouml;r olika enheter:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Planerade funktioner enligt plattform. <br/> <span class="icon-check" style="color:black"></span> aktuell, <span class="icon-check icon-green"/> snart, <span class="icon-check" style="color:lightgray"></span> senare<br/></caption>
	  <tr><td></td>
	    <th>Skrivbordet i Windows</th>
	    <th>Webbl&auml;sare</th>
	  </tr>
	  <tr><th>Skapa &aring;tg&auml;rdsvyer</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Anv&auml;nda &aring;tg&auml;rdsvyer</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* &Aring;tg&auml;rdsvyer f&ouml;r visning p&aring; en sk&auml;rm</span></td>
	  </tr>
	  <tr><th>Arbeta med Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Portal for ArcGIS 10.3 och senare</span></td>
	  </tr>
	  <tr><th>Utbyggbart</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Anv&auml;nda karttj&auml;nster som datak&auml;llor</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>S&ouml;ka efter data</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtrera information geografiskt</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>St&ouml;d f&ouml;r frist&aring;ende tabeller som datak&auml;llor</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>St&ouml;d relaterade tabeller.</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>3D-vyer</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Ledning av arbetsstyrkan</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Dela med dig av dina <a href="http://ideas.arcgis.com/">id&eacute;er</a> och <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">tala om vad du tycker</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Information</h3>
          
	  <h4><a href="#features">Funktioner</a></h4>
	  <h4><a href="#systemRequirements">Systemkrav</a></h4>
	  <h4><a href="#whatsNew">Nyheter</a></h4>
	  <h4><a href="#sneakPeek">F&ouml;rhandstitt</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fr&aring;n bloggen</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
