---
title: Esri Maps for SharePoint
css: 
- documentation
- /en/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for SharePoint Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-sharepoint"><META name="sub_category" content="Esri Maps for SharePoint"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for SharePoint"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/maps-for-sharepoint/">Esri Maps for SharePoint</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ja/maps-for-sharepoint/">ホーム</a></li>
        <li><a href="/ja/maps-for-sharepoint/get-started/">基本操作</a></li>
        <li><a href="/ja/maps-for-sharepoint/esri-maps-web-part/">Esri Maps Web パーツ</a></li>
        <li><a href="/ja/maps-for-sharepoint/arcgis-map-web-part/">ArcGIS Map Web パーツ</a></li>
		<li><a href="http://forums.arcgis.com/forums/69-Esri-Maps-for-SharePoint/">フォーラム</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">アプリケーションのダウンロード</h2>
          <span id="appVersion"><strong>バージョン: </strong>3.0</span> <span id="appReleased">リリース時期<strong>: </strong>2013 年 7 月</span>


          <p>Esri Maps for SharePoint は、Microsoft SharePoint 2010および 2013 フレームワークを利用して、組織のデータを地理空間に表示できるようにする対話的で構成可能なマッピング コンポーネントを提供します。 </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/apps/products/download/#Esri_Maps_for_SharePoint">Esri Maps for SharePoint を取得</a>

          </p>

        </header>
        <hr />
        <br />


        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>システム要件</h2>

        <p>Esri Maps for SharePoint を利用するには、<a href="http://help.arcgis.com/ja/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> の組織サイトに属しているアカウントおよび Microsoft SharePoint Foundation 2010/2013、Server Standard、または Server Enterprise エディションが必要です。</p>


        <h3>サポートされている言語</h3>
        <p></p>


 <a name="whatsNew"></a>        
		 <h2>3.0.1 の新機能</h2>        
		 <p>Esri Maps for SharePoint バージョン 3.0.1 は、2013 年 10 月にリリースされました。このリリースでは、次の機能が更新および拡張されています。</p>        
		 <ul>        
		 <li>次の 21 言語をサポート: アラビア語、中国語（簡体字）、デンマーク語、オランダ語、エストニア語、フランス語、ドイツ語、ヘブライ語、イタリア語、日本語、韓国語、リトアニア語、ラトビア語、ノルウェー語、ポーランド語、ポルトガル語、ポルトガル（ブラジル）語、ルーマニア語、ロシア語、スペイン語、およびスウェーデン語。</li>	
		 <li>Esri Maps Locate ワークフローでのカスタム位置情報をサポート。</li>	
		 <li>空間統計処理のホット スポット分析。</li>	
		     
		 </ul>
		       
		 <h2>3.0 の新機能</h2>        
		 <p>Esri Maps for SharePoint バージョン 3.0 は、2013 年 7 月にリリースされました。このリリースでは、次の機能が更新および拡張されています。</p>        
		 <ul>        
		 <li>新しい製品名 - Esri Maps for SharePoint</li>	
		 <li>SharePoint 2010 および SharePoint 2013 をサポート（オンプレミス）</li>	
		 <li>Esri Maps Web パーツの初期リリース - SharePoint 2010 および SharePoint 2013（オンプレミス）で JavaScript ベースの Web パーツをサポート。</li>	
		 <li>Portal for ArcGIS 10.2 サポート</li>	
		 <li>SharePoint の Business Connectivity Service（BCS）を使用した外部データ接続に対応（JavaScript ベースの Map Web パーツを使用）</li>	
		 <li>Web パーツと Web パーツの接続（JavaScript Map Web パーツ）</li>	
		 <li>ArcGIS for Silverlight v3.1 および ArcGIS Extensibility v3.1 SDKs（Silverlight Map Web パーツのみ）をサポート</li>        
		 </ul>

		  
		 <p>Esri Maps Web パーツでは次の操作を実行できます。 	
		 <ul>	
		 <li>ArcGIS（ArcGIS Online または Portal for ArcGIS のいずれか）から Web マップおよびサービスの追加。</li>	
		 <li>パブリックまたは組織サイト向けに ArcGISのマップおよびレイヤとして共有。</li>	
		 <li>SharePoint リストの表示や、Business Connectivity Services (BCS) を使用した外部データ ソースの接続。</li>	
		 <li>Web パーツの接続によるリスト Web パーツおよびチャート Web パーツとの接続。</li>	
		 <li>SharePoint リストのアイテムを空間対応化（ジオコーディング）。</li>	
		 <li>マップの外観、レイヤ、およびその他の設定を対話的に構成。</li>	
		 <li>ArcGIS 組織サイトのベースマップ ギャラリーで利用されている背景マップの選択。</li>	
		 <li>単一シンボル、クラス閾値シンボル、または個別値シンボルを使用したデータセットの外観の定義（シンボル表示）。</li>	
		 <li>クラスタリングまたはヒート マップと使用したポイント フィーチャの表示。 </li>	
		 <li>ポップアップ ウィンドウの外観の構成。マップ フィーチャ上にポインタを置いたときに表示されるポップアップ ウィンドウのスタイルとフィールドの指定。 </li>	
		 <li>ポップアップ ウィンドウにフィーチャの周囲にあるさまざまな情報を提供するインフォグラフィックスの表示。</li>	
		 <li>データをルート の基点として分析。</li>	
		 <li>リング商圏または到達圏内のデータの対話的な選択、またはフィルタリング。</li>	
		 <li>マッピングされた場所に関連付けられている人口統計およびコンテキスト情報などを対話的に取得。</li>	
		 </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>基本操作</h3>
         <ul>
            <li><a href="#systemRequirements">システム要件</a></li>
	 <li><a href="#whatsNew">新機能</a></li>
	 <li><a href="http://sharepoint.arcgis.com/SitePages/Disable%20Map%20Animation.aspx">サンプル（Silverlight）</a></li>
	 <li><a href="http://resources.arcgis.com/en/help/sharepoint/apiref/api_start.htm">API リファレンス（Silverlight）</a></li>
	 <li><a href="http://resources.arcgis.com/en/communities/sharepoint/01t800000009000000.htm">ArcGIS for SharePoint 2.1.1 のヘルプ</a></li>
           </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
