---
title: Living Atlas of the World
css:
  - home
  - colorbox/colorbox

js:
  - libs/jquery.cycle2.min
  - slideshow
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="The Living Atlas of the World can be used in many parts of the ArcGIS Platform."><META name="last-modified" content="2015-7-10"><META name="product" content="living-atlas"><META name="sub_category" content="Living Atlas of the World"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Living Atlas of the World"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">
  
mobile: true

loop11: true
---

<div id="home-banner" class="navigation-bar living-atlas">
  <div class="container">
    <header>
      <h1>Living Atlas of the World</h1>
     <!-- <a class="btn primary"href="#categories">Start Exploring</a>  -->
    </header>
    <div class="banner-image">
      <img src="/en/living-atlas/img/banner-laptops.png" alt="" />
    </div>
    <div class="clear"></div>
    <nav>
      <ul>
        <li class="current"> <a href="/en/living-atlas/about/"> Home </a> </li>
        <li> <a href="/en/living-atlas/use/"> Use </a> </li>
        <li> <a href="/en/living-atlas/contribute/"> Contribute </a> </li>
		<li> <a href="/en/living-atlas/"> Browse </a> </li>
      </ul>
    </nav>
  </div>
</div>
<main>
  <div class="container">
    <section id="about">
      <h2>Curated Content from ArcGIS Online</h2>
      <p>
        The Living Atlas is the foremost collection of authoritative, ready-to-use global geographic information ever assembled. The themed content in the Living Atlas is curated from content available in ArcGIS Online. The Living Atlas enables the exploration of people and places around the world, as well as the natural and man-made influences that impact them. Experience the benefit of on-demand access to valuable maps, data layers, tools, services, and apps to help you achieve your goals. Always changing and evolving, like our world, the Living Atlas contains information that impacts lives.
      </p>
    </section>
    <section id="categories">
      <h2 class="divider">Categories</h2>
	  <p>The Living Atlas includes maps and data on thousands of topics. Combine this information with your own work to create new maps and apps.</p>
      <div class="slideshow off-white centered-text top-border">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/imagery">
                <img src="/en/living-atlas/img/categories-imagery.png" alt="" />
                <div class="item-desc">
                  <h3>Imagery</h3>
                  <p>Detailed event, basemap, multispectral, and temporal imagery that captures the historic and present state of our planet.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/basemaps">
                <img src="/en/living-atlas/img/categories-basemaps.png" alt="" />
                <div class="item-desc">
                  <h3>Basemaps</h3>
                  <p>Beautiful and authoritative maps that provide reference for our world and context for your work.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/demog_lifestyles">
                <img src="/en/living-atlas/img/categories-demographics.png" alt="" />
                <div class="item-desc">
                  <h3>Demographics and Lifestyle</h3>
                  <p>Maps and data for the United States and more than 120 other countries that reveal insights about populations and their behaviors.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/boundaries">
                <img src="/en/living-atlas/img/categories-boundaries.png" alt="" />
                <div class="item-desc">
                  <h3>Boundaries and Places</h3>
                  <p>Boundaries help define where people live and work, and these layers contain wide ranging data, from a neighborhood to a continental scale.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/landscape">
                <img src="/en/living-atlas/img/categories-landscape.png" alt="" />
                <div class="item-desc">
                  <h3>Landscape</h3>
                  <p>Data that reflects both natural environment and man-made influences, to support land use planning and management.</p>				
                </div>
              </a>
            </div>
          </div>
      <!--    <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/community-maps">
                <img src="/en/living-atlas/img/categories-community.png" alt="" />
                <div class="item-desc">
                  <h3>Community Maps</h3>
                  <p>You can share your GIS data to advance the coverage and quality of numerous authoritative maps.</p>
                </div>
              </a>
            </div>
          </div>  -->
         <div class="item">
            <div class="item-content">
              <a href="/en/living-atlas/#s=0&n=0&d=1&col=storymaps-community:16&fs=0&fn=30&npp=0&subCat=0&md=storymaps-community:1111111111111111">
                <img src="/en/living-atlas/img/categories-community.png" alt="" />
                <div class="item-desc">
                  <h3>Story Maps</h3>
                  <p>A collection of maps that include narrative text, images, and multimedia content to engage and inspire your audience.</p>
                </div>
              </a>
            </div>
          </div>  
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/transportation">
                <img src="/en/living-atlas/img/categories-transportation.png" alt="" />
                <div class="item-desc">
                  <h3>Transportation</h3>
                  <p>A collection of maps and layers that reveal how people move between places.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/urban_systems">
                <img src="/en/living-atlas/img/categories-urban.png" alt="" />
                <div class="item-desc">
                  <h3>Urban Systems</h3>
                  <p>Over half the world’s population now lives in cities, and these layers allow analysis of the effect this is having on the world.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/earth_observations">
                <img src="/en/living-atlas/img/categories-earth.png" alt="" />
                <div class="item-desc">
                  <h3>Earth Observations</h3>
                  <p>From severe weather to earthquakes and fires, this is a collection of our planet’s systems and conditions.</p>				
                </div>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-content">
              <a href="http://goto.arcgisonline.com/maps/historical_maps">
                <img src="/en/living-atlas/img/categories-history.png" alt="" />
                <div class="item-desc">
                  <h3>Historical Maps</h3>
                  <p>These maps reflect the changing physical, political, and cultural aspects of our world over time.</p>				
                </div>
              </a>
            </div>
          </div>

        </div>		
        <div class="cycle-pager"></div>
      </div>
    </section>
  </div>
  <div class="color-background off-white">
    <div class="container">
      <section id="getstarted">
        <div class="gs-intro">
          <h2>What Can You Do?</h2>
          <!-- <p>Participating in the Living Atlas is accomplished in two ways&mdash;using content and contributing content. The well-ordered, thematic gallery makes it easy to discover items of interest and on-demand accessibility, from a variety of devices, enables use where and when you need it.  Two contribution applications make contributing a straight-forward process.</p>
        </div> -->
        <div class="gs-item">
          <a href="/en/living-atlas/use/">
			<img src="/en/living-atlas/img/get-started-use.png" alt=""/>
		</a>
          <div class="item-content">
            <h4>Use</h4>
            <p>Collections are organized by theme to make exploring and discovering ready-to-use maps and layers efficient and straightforward. Use these maps, data layers, tools, services, and apps to enhance your everyday work. <br/><a href="/en/living-atlas/use/"> Learn more &gt;</a></p>
          </div>
        </div>
        <div class="gs-item">
          <a href="/en/living-atlas/contribute/">
			<img src="/en/living-atlas/img/get-started-contribute.png" alt="" />
		</a>
          <div class="item-content">
            <h4>Contribute</h4>
            <p>The Living Atlas is a collaborative effort between GIS users and Esri and its partners around the world. Whether it’s contributing data or nominating your maps and apps, there is a way for you to get involved. <br/><a href="/en/living-atlas/contribute/"> Learn more &gt;</a></p>
          </div>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
  <!--<div class="color-background black">
    <div class="container">
      <section id="appbanner">
	  <h2 style="color: white;">Ready to Participate?</h2>
        <div class="app">
          <h3>Nominate your maps, apps, story maps, scenes, and layers for inclusion in the Living Atlas.</h3>
          <a href="http://livingatlas.arcgis.com/contribute/" class="btn secondary" target="_blank">Living Atlas Contributor App</a>
        </div>
        <div class="app">
          <h3>Share your local, authoritative data with the larger GIS community.</h3>
          <a href="https://communitymaps.arcgis.com/home/login.html" class="btn secondary" target="_blank">Community Maps Contributor App</a>
        </div>
        <div class="clear"></div>
      </section>
    </div>
  </div>  -->

  
    <div class="color-background dk-gray">
    <div class="container" style="color: white;">
      <div class="thin-banner">
        <h2>Ready to Contribute?</h2> 
		<h4>Nominate your maps and apps, or apply to contribute your data.</h4>
		<p style="margin-top: 30px;"><a href="/en/living-atlas/contribute/contribute-to-the-living-atlas.htm" class="btn secondary" align="right;">Get Started</a></p>
      </div>
    </div>
  </div>
  
  <div class="color-background">
    <div class="container">
      <section id="success-stories">
        <div class="ss-intro">
          <h2>Success Stories</h2>
          <p>Many communities and organizations have benefited from using the Living Atlas of the World. From nominating apps to contributing data, these stories showcase ways to get involved and take advantage of the benefits.</p>
        </div>
        <div class="ss-items">
        <!--  <div class="ss-item">
            <a href="http://www.esri.com/software/arcgis/community-maps-program/~/media/Files/Pdfs/library/casestudies/westminster-colorado.pdf" class="colorbox-evlarge cboxElement">
              <img src="/en/living-atlas/img/success-westminster.png" alt="" />
              <p>The city of Westminster, Colorado saves time with Esri's Community Maps Program.</p>
            </a>
          </div> -->
		  <div class="ss-item">
            <a href="http://video.arcgis.com/iframe/3126/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
              <img src="/en/living-atlas/img/success-community.png" alt="" />
              <p>The Federal User Community shares their content through the Living Atlas</p>
            </a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.arcgis.com/watch/3126/the-living-atlas"></source>
		</video>
          </div>
         <!-- <div class="ss-item">
            <a href="http://www.esri.com/news/arcnews/spring11articles/colleges-and-universities-participate-in-community-maps-program.html" target="_blank">
              <img src="/en/living-atlas/img/success-carson.png" alt="" />
              <p>The city of Carson and Cal State Dominguez Hills partner to create detailed campus basemap.</p>
            </a>
          </div>
          <div class="ss-item">
            <a href="http://video.arcgis.com/iframe/3126/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
              <img src="/en/living-atlas/img/success-community.png" alt="" />
              <p>The Federal User Community and the Living Atlas.</p>
            </a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.arcgis.com/watch/3126/the-living-atlas"></source>
		</video> 
          </div> -->
		  <div class="ss-item">
            <a href="https://medium.com/@Esri/westminster-colorado-realizes-efficiencies-with-esri-s-living-atlas-of-the-world-bea965424959" target="_blank">
              <img src="/en/living-atlas/img/success-westminster.png" alt="" />
              <p>Westminster, Colorado, realizes efficiencies with Esri's Living Atlas of the World</p>
            </a>
          </div>
          <div class="ss-item">
            <a href="http://video.arcgis.com/iframe/3792/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
              <img src="/en/living-atlas/img/success-fairfax.png" alt="" />
              <p>Fairfax County, Virginia, contributed to Esri’s Community Maps Program to more quickly and easily create web apps</p>
            </a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.arcgis.com/watch/3792/brendan-ford_comma_-fairfax-county"></source>
		</video>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="color-background off-white">
    <div class="container">
      <section id="blogfeed" class="feed-section">
        <header>
          <h2>From our Blog</h2>
          <div class="more-links">
            <a href="http://blogs.esri.com/esri/arcgis/tag/living-atlas/" target="_blank">More Blog posts</a>
          </div>
        </header>
        <div class="feeditems white" id="blog">
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="color-background">
    <div class="container">
      <section id="geonetfeed" class="feed-section">
        <header>
          <h2>Discussions on GeoNet</h2>
          <div class="more-links">
           <!-- <a href="#">Start one</a>  -->
            <a href="https://geonet.esri.com/groups/livingatlas/" target="_blank">Read more</a>
          </div>
        </header>
        <div class="feeditems off-white" id="forum">
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              Test
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="color-background blue">
    <div class="container">
      <section id="videofeed" class="feed-section blue">
        <header>
          <h2>From our Videos</h2>
          <div class="more-links">
            <a href="http://video.arcgis.com/series/224/living-atlas-of-the-world/" target="_blank">More videos</a>
          </div>
        </header>
        <div class="feeditems blue">
          <div class="feeditem">
            <div class="content">
             <a href="http://video.arcgis.com/iframe/4499/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
			 <img src="/en/living-atlas/img/video1.jpg" alt="" />
              <h5>Living Atlas of the World: Contributor App</h5>
              Watch the video <span class="icon-play"></span></a>
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              <a href="http://video.arcgis.com/iframe/247/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
			  <img src="/en/living-atlas/img/video2.jpg" alt="" />
              <h5>Use Living Atlas maps</h5>
              Watch the video <span class="icon-play"></span></a>
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              <a href="http://video.arcgis.com/iframe/4392/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
			  <img src="/en/living-atlas/img/video3.jpg" alt="" />
              <h5>Living Atlas Community Webinar - April 2015</h5>
              Watch the video <span class="icon-play"></span></a>
            </div>
          </div>
          <div class="feeditem">
            <div class="content">
              <a href="http://video.arcgis.com/iframe/4271/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement">
			  <img src="/en/living-atlas/img/video4.jpg" alt="" />
              <h5>Living Atlas Community Webinar - March 2015</h5>
              Watch the video <span class="icon-play"></span></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="color-background dk-gray">
    <div class="container">
      <div class="thin-banner">
        <h3><a href="https://twitter.com/intent/tweet?button_hashtag=LivingAtlas">Connect with the Living Atlas <span class="icon-twitter"></span></a></h3>
      </div>
    </div>
  </div>
</main>


<script src="/en/asset/js/rssfeed2.js" type="text/javascript"></script>
<script type="text/javascript">
  $(window).load(function() {
    $('#blog').rssFeed({
      url:'http://blogs.esri.com/esri/arcgis/tag/living-atlas/feed/',
      max: 3,
      layout: 0
    });

  $("#forum").rssFeed({
    url:"https://geonet.esri.com/groups/feeds/allcontent?socialGroup=1215",
    max: 3,
    layout: 1
    });

  });
</script>
