---
title: Living Atlas Gallery
css:
  - gallery

js:
  - gallery/gallery-init
  - search/jxon
  - gallery/galleryshell-default
  - gallery/gallerydisplay-default


metatags:
  - <META name="robot" content="NOINDEX,NOFOLLOW">

gallery_data_path: //blaster/N/DesktopHelp/rc/living-atlas-agol=en.xml
expanded_gallery: true
---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Living Atlas Gallery</h1>
    </header>
  </div>
</div>

<div class="container">
  <h2>Search and Discover Living Atlas Maps</h2>
  <h3 class="pull-quote">Browse a selection of Living Atlas maps. ArcGIS includes a living atlas of the world, with beautiful and authoritative maps on hundreds of topics. </h3>
  <hr>
  <%= partial :"_partial/galleryFilters" %>
    <div id="reference-content">

    <div id="gl-s-ctrl">
      <input type="text" size="80" value="" autocomplete="off" name="query" id="query">
	  <h5 id="gl-cl-btn" class="icon-cancel"></h5>
      <input type="submit" value="" id="search">
    </div>
    <div id="rss">
     <a target="_self" href="http://www.arcgis.com/sharing/search?q=(group:( 8cb0765d4f394cc097407068580188ad))&amp;f=rss" rel="nofollow">
      <img src="/img/gallery/rss-icon.png" alt="RSS">
     </a>
    </div>

    <div id="gl-display">
     <div id="spinner" style="display: none;">
    <img alt="loading" src="/img/gallery/ajax-loader.gif">
     </div>

      <div id="gl-display-type">Display: <a id="display2" href="#">List</a> | <a id="display1" class="displaytype_selected" href="#">Thumbnail</a> | <a id="display3" href="#">Detail</a></div>

     <div id="gl-display-shown"><span>Show: </span><a href="#" id="numn1">15</a> | <a href="#" class="displayn_selected" id="numn2">30</a> | <a href="#" id="numn3">45</a> items</div>
     <div class="clear"></div>
     <div class="gl-pnavinfo-s"></div>
     <div class="clear"></div>

     <!-- Result area -->
     <div id="gl-content" class="display1">
    <div class="clear"></div>
     </div>
     <!-- End of Result -->

     <div id="gl-pagenav">
        <a id="gl-prev" class="btn disabled" href="#">Previous</a>
        <span class="gl-pnavinfo">Page <input type="text" value="1" size="2" name="pageX" id="pageX"> of 1 (1 - 9 of 9 items)</span>
        <a id="gl-next" class="btn disabled" href="#">Next</a>
       </div>
    </div>
      <div class="clear"></div>
    </div>
    
</div>
