---
title: Living Atlas of the World
css:
  - gallery

js:
  - gallery/gallery-init
  - gallery/galleryshell-default
  - gallery/gallerydisplay-default


metatags:
  - <META name="description" content="Living Atlas of the World"><META name="last-modified" content="2015-06-25"><META name="product" content="living-atlas,arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="gallery"><META name="content_type_label" content="Living Atlas Gallery"><META name="sub_category_label" content=""><META name="search-category" content="gallery-itemtype"><META name="subject_label" content="ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Gallery Item"><META name="subject" content="ARCGIS ONLINE"><META name="content-language" content="en">

gallery_data_path: data/gallery/living-atlas-agol=en.xml
expanded_gallery: true
---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/living-atlas/">Living Atlas of the World</a></h1>
	  
	  <form target="_top" id="gallerySearchForm" autocomplete="off">
        <input type="search" placeholder="" id="query" class="leader" name="q">
        <h5 id="gl-cl-btn" class="icon-cancel"></h5>
		<h5 id="gl-search-btn" class="icon-search"></h5>
		<!--<input type="submit" value="" id="search1">-->
      </form>
	  
    </header>
	 <nav>
      <ul>
        <li> <a href="/en/living-atlas/about/"> Home </a> </li>
        <li> <a href="/en/living-atlas/use/"> Use </a> </li>
        <li> <a href="/en/living-atlas/contribute/"> Contribute </a> </li>
		<li class="current"> <a href="/en/living-atlas/"> Browse </a> </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container content">
  
  <%= partial :"_partial/galleryFilters" %>
    <div id="reference-content">

   <!-- 
    <div id="rss">
     <a target="_self" href="http://www.arcgis.com/sharing/search?q=(group:( 8cb0765d4f394cc097407068580188ad))&amp;f=rss" rel="nofollow">
      <img src="/img/gallery/rss-icon.png" alt="RSS">
     </a>
    </div>-->

    <div id="gl-display">
     <div id="spinner" style="display: none;">
    <img alt="loading" src="/img/gallery/ajax-loader.gif">
     </div>
<!--
      <div id="gl-display-type">Display: <a id="display2" href="#">List</a> | <a id="display1" class="displaytype_selected" href="#">Thumbnail</a> | <a id="display3" href="#">Detail</a></div>

     <div id="gl-display-shown"><span>Show: </span><a href="#" id="numn1">15</a> | <a href="#" class="displayn_selected" id="numn2">30</a> | <a href="#" id="numn3">45</a> items</div>
  
     <div class="gl-pnavinfo-s"></div> -->
     
     <!-- Result area -->
     <div id="gl-content" class="display1">
     </div>
     <!-- End of Result -->

     
    </div>
      <div class="clear"></div>
    </div> <!-- End of reference content -->
	
	 <!--
	 <div id="gl-pagenav">
     </div> -->
   
      <div class="profilePopup">
        <a href="JavaScript:void(0);"><span class="right icon-close">Close</span></a>
        <div class="clear"></div>
        <div class="spinner">
            <div>
              <img alt="loading" src="/img/gallery/ajax-loader.gif">
            </div>
        </div>
        <div class="profileDetails hide column-24 left" style="position: relative; top: 0px; left: 0px;">
            <div class="column-4">
              <div class="itemThumbnailContainer"></div>
            </div>
            <div class="column-19">
              <h4 class="profile-name blue"></h4>
              <div class="panel drop-shadow">
                <p class="profile-content">
                  
                </p>
              </div>
              <div class="profileLinks right">
                <a class="profileLink" target="_blank" href="#">Profile</a>
                <a class="profileItemsLink" target="_blank" href="#">Items</a>
                <a class="profileGroupLink" target="_blank" href="#">Groups</a>
              </div>
            </div>
        </div>
      </div>
      
    
</div>
