---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="zh-tw">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-tw/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/zh-tw/web-appbuilder/">首頁</a></li>
        <li><a href="/zh-tw/web-appbuilder/create-apps/">建立應用程式</a></li>
        <li><a href="/zh-tw/web-appbuilder/manage-apps/">管理應用程式</a></li>
        <li><a href="/zh-tw/web-appbuilder/extend-apps/">延伸應用程式</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">建立功能強大且能執行於任何裝置的 GIS 應用程式。不需編寫程式碼。</h3>
	<h5>請按一下<a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">網站即時展示</a>，看看其他人的作品。</h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>五分鐘就能建立您的第一款應用程式</h3>
          
          <p>
            <a href="/zh-tw/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;詳情介紹</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>簡易的設定方式</h3>
          <p>運用簡易的設定方式就能建立應用程式。</p>
          <p>
            <a href="/zh-tw/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;設定應用程式</a> <a href="/zh-tw/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;設定 Widget</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>匯出範本</h3>
          <p>建立可設定的應用程式範本，將範本新增至貴組織的應用程式庫。
          <p>
            <a href="/zh-tw/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;詳情介紹</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>建立 Widget 和主題</h3>
          <p>您可以下載應用程式並在 Web 伺服器上完成部署。此外，只要新增自訂的 Widget 和主題，就能進一步延伸應用程式功能。</p>
          <p>
            <a href="/zh-tw/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;詳情介紹</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">支援的瀏覽器</h2>
		<p>2D 應用程式支援下列瀏覽器：</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 及更高版本</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 及更高版本</li>
        </ul>
		<p>3D 應用程式支援下列瀏覽器：</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 及更高版本</li>
		  <li>Edge</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">許可</h2>

        <p>若要使用 Web Appbuilder，您必須申請 ArcGIS 組織帳戶。</p>

        <a name="features"></a>
        <h2 class="divider">主要功能</h2>
        <ul>
          <li>建立能執行於任何裝置的 HTML/JavaScript 應用程式。</li>
          <li>運用現成的 Widget 建立您需要的應用程式。</li>
          <li>使用可設定的主題自訂應用程式的外觀。</li>
          <li>線上託管您的應用程式或在您自己的伺服器上運行這些應用程式。</li>
          <li>建立自訂應用程式樣板。</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Portal for ArcGIS 10.4.1 的</h2>
        <p>Web AppBuilder for ArcGIS 已於 2016 年 6 月更新。其中包含下列新功能和增強功能：</p>
        <ul>
          <li>在主題中新增「顏色選取器」樣式，讓您可以選擇自己的顏色或符合您機構核淮的調色板。</li>
		  <li>您可以在「屬性」頁籤中設定應用程式的標題和副標題的自訂字型。</li>
		  <li>您可以在「屬性」頁籤中配置 ArcGIS Online 高級服務和高級內容以公開存取。</li>
          <li>新的「選擇」widget 可與其他 widget 通訊，以便對所選圖徵採取行動。</li>
		  <li>新的「分享」widget 可啟用應用程式的社交分享體驗。</li>
		  <li>新的「新增資料」widget 可讓使用者在 ArcGIS Online 中搜尋圖層，及輸入 URL 將資料新增至地圖。</li>
          <li>新的「篩選器」widget 可讓您根據表達式篩選圖徵。其他 widget 將遵循篩選設定（如果適用）。</li>
		  <li>新的「智慧編輯器」widget 可延伸核心編輯 widget，例如智慧型屬性、預設欄位值、記錄驗證，以及在編輯時檢視快顯視窗。</li>
          <li>新的「斜角檢視器」widget 可使用圖片的座標系統，在其原始座標系統中顯示圖片。這能讓您以單一視角，或切換不同角度來檢視感興趣的區域，藉此平移斜角模式。</li>
		  <li>新的「群組篩選器」widget 可讓您建立要套用值篩選器的圖層群組： 您可以選擇儲存和重新載入定義的分組，以便在任何時候重新恢復工作。</li>
          <li>資訊摘要 widget 不再是 beta 版。此 widget 可讓您為每個指定的圖層提供計數，並檢視目前地圖範圍中所包含的圖徵清單。可選擇將 widget 中配置的點圖層做為叢集加以檢視。</li>
		  <li>查詢 widget 會新增空間關係，例如相交、重疊和包含，讓您針對其他圖層中圖徵執行查詢。</li>
		  <li>編輯 widget 包含用於容差和篩選圖徵樣板的選項。</li>
		  <li>選擇「屬性表格」中的記錄將在地圖上突顯其圖徵，反之亦然。</li>
		  <li>地理處理 widget 可將一組圖徵做為圖層、快顯視窗、查詢或選擇 widget 的輸入。</li>
		  <li>圖層清單 widget 可讓您選擇要在清單上顯示哪些圖層。您也可以控制所有圖層的能見度。</li>
		  <li>已使用其他配置參數增強了靠近我 widget，包含在地圖上顯示緩衝區的能力、傳回相交的多邊形而非緩衝的多邊形，及縮放至所選圖徵而非緩衝區。</li>
		  <li>已增強地區尋找 widget 來支援堆疊多邊形。</li>
		  <li>已增強相關表格圖表 widget 來支援極區圖。</li>
		  <li>已增強現有的 3DFx widget 來包含更多 3D 動畫效果。</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">支援的 ArcGIS API for JavaScript 版本</h2>
        <p>Web AppBuilder 支援 ArcGIS API for JavaScript 3.17。</p>

        <h3>支援的語言</h3>
        <p>阿拉伯語、克羅埃西亞語、捷克語、丹麥語、荷蘭語、英語、愛沙尼亞語、芬蘭語、法語、德語、希臘語、希伯來語、義大利語、日語、韓語、拉脫維亞語、立陶宛語、挪威語、波蘭語、葡萄牙語（巴西）、葡萄牙語（葡萄牙）、羅馬尼亞語、俄語、塞爾維亞語、簡體中文、西班牙語、瑞典語、泰語、繁體中文（台灣）、繁體中文（香港）、土耳其語和越南語。</p>
        <p>應用程式所用的語言以瀏覽器的語言設定為準。</p>

        <p>分享<a href="http://ideas.arcgis.com/">創意</a>並<a href="http://support.esri.com/en/">將您的意見寄給我們</a>。</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>詳細資訊</h3>
          
          <h4><a href="#features">主要功能</a></h4>
          <h4><a href="#supportedBrowsers">支援的瀏覽器</a></h4>
          <h4><a href="#license">授權</a></h4>
          <h4><a href="#whatIsNew">新功能</a></h4>
          <h4><a href="#supportedAPI">支援的 ArcGIS API for JavaScript 版本</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>部落格</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">更多部落格文章</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>GeoNet 討論</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">開始討論</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">參閱詳細資訊</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
