---
title: Operations Dashboard for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/operations-dashboard-1

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2017-01-12"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="zh-cn">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Operations Dashboard for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">获取 Windows 版本</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/operations-dashboard/" selected>主页</option>
        <option value="/en/operations-dashboard/overview/overview.htm">概述</a>
        <option value="/en/operations-dashboard/windows-desktop/author/create-a-map.htm">创作视图</a>
        <option value="/en/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">使用视图</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/zh-cn/operations-dashboard/">主页</a>
        <a class="sub-nav-link" href="/zh-cn/operations-dashboard/overview/overview.htm">概述</a>
        <a class="sub-nav-link" href="/zh-cn/operations-dashboard/windows-desktop/author/create-a-map.htm">创作视图</a>
        <a class="sub-nav-link" href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">使用视图</a>
      </nav>
    </div>
  </div>
</header>

<!-- beta announcement -->
<div class="panel panel-dark panel-no-border panel-no-padding leader-2 text-center">
  <div class="grid-container padding-leader-half padding-trailer-half trailer-0">
    <div class="column-24">
      <h5 class="trailer-0 leader-0">新一代体验已供使用！ <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 0px 0 0 10px;">加入 beta 计划</a>
      </h5>
    </div>
  </div>
</div>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>状态信息，轻松获取</h1>
      <!--<br/>
      Know Operational Status Like You Are There<br/>
      Be There Without Leaving Your Office<br/>
      Know Operational Status Like You Are There<br/>
      Know the Status of your Operations<br/>
      Monitor, Track, and Assess Your Daily Operations<br/>
      Monitor, Track, and Assess What Matters Most (to You)<br/>
      Monitor, Track, and Assess with a Dynamic View of your Operations<br/>
      Know; outlook; view <br/>-->
      <h5>随时随地监视活动与事件，追踪其外业工作人员并评估日常操作状态。</h5>
      <!--Monitor, track, and assess what matters most to you from whereever you are. Use your laptop or tablet to see your operations as they progress. -->
          
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="搜索 Operations Dashboard 帮助">
              <input type="hidden" name="collection" value="help" />
              <!--input type="hidden" name="platform" value="detect" / -->
              <input type="hidden" name="product" value="ops-dashboard" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-2 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/zh-cn/operations-dashboard/overview/whats-new.htm">新特性</a></li>
	<li><a href="/zh-cn/operations-dashboard/overview/requirements.htm">要求</a></li>
        <li><a href="/zh-cn/operations-dashboard/overview/sneak-peek.htm">抢先预览</a></li>
	<li><a href="/zh-cn/operations-dashboard/windows-desktop/author/faqs-author.htm">针对创作视图的常见问题解答</a></li>
	<li><a href="/zh-cn/operations-dashboard/windows-desktop/user/faqs-user.htm">针对使用视图的常见问题解答</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">
            <img alt="" src="img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">创建和共享操作视图</a>
          </h5>
          <p>通过三个简单步骤即可基于地图或 web 服务中定义的实时地理数据创建并共享操作视图，该操作视图中包括地图、列表、图表、仪表及其他相关工具。</p>
        </div>
        <a href="/zh-cn/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="btn btn-clear btn-fill leader-0">开始练习</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/monitorAndRespond.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">监控并响应事件</a>
          </h5>
          <p>使用操作视图关注重要业务事件的各个方面。通过四个步骤即可监控世界任意位置处的服务、配送、人员和车辆等信息。</p>
        </div>
        <nav>
          <a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="btn btn-grouped btn-clear btn-half leader-0">执行操作</a> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">观看视频</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/operations-dashboard/web/user/monitor-and-respond-to-events.htm">
            <img alt="" src="img/browserApp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/operations-dashboard/web/user/monitor-and-respond-to-events.htm">在浏览器中监控</a>
          </h5>
          <p>可在浏览器中使用操作视图。无需进行安装 - 只需打开操作视图并持续更新您的操作即可，此操作也可在 iPad 上完成。</p>
        </div>
        <a href="/zh-cn/operations-dashboard/web/user/monitor-and-respond-to-events.htm" class="btn btn-clear btn-fill leader-0">了解详情</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/zh-cn/operations-dashboard/windows-desktop/author/custom-addins.htm">
            <img alt="" src="img/developExtensions.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/zh-cn/operations-dashboard/windows-desktop/author/custom-addins.htm">开发扩展模块</a>
          </h5>
          <p>使用自定义微件、要素操作和地图工具可将独特的业务逻辑运用在您的操作视图中。</p>
        </div>
        <nav>
          <a href="/zh-cn/operations-dashboard/windows-desktop/author/custom-addins.htm" class="btn btn-grouped btn-clear btn-half leader-0">了解更多信息</a>
          <a href="https://github.com/Esri/dashboard-samples" class="btn btn-grouped btn-clear btn-half leader-0">示例</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">获取 ArcGIS 的更多功能</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">连接 Operations Dashboard</h4>
    <a aria-label="通过 LinkedIn 连接" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="查看 GitHub 工程" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/dashboard-samples"></a>
    <a aria-label="加入社区" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis"></a>
    <a aria-label="向我们发送反馈" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">阅读博客 <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/operations-dashboard/">更多文章</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">加入探讨 <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">更多探讨</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2121" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">参加深入课程</a></h5>
          <p class="trailer-0">
 搜索 Learn ArcGIS 以查找和完成使用 ArcGIS 解决现实问题的练习。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">查找培训课程</a></h5>
          <p class="trailer-0">
 通过导师授课式课程、web 课程和研讨会了解有关 ArcGIS 的详细信息。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">获取技术支持</a></h5>
          <p class="trailer-0">
 通过聊天、电子邮件或电话联系 Esri 支持部门。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">检查系统状况</a></h5>
          <p class="trailer-0">
 查看 ArcGIS Online 的状态并报告问题。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
