---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2014-9-23"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="zh-cn">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-cn/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/zh-cn/operations-dashboard/">主页</a></li>
        <li><a href="/zh-cn/operations-dashboard/windows-desktop/author/create-a-map.htm">创建视图</a></li>
        <li><a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">使用视图</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">论坛</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">监视活动和事件，追踪外业工作人员并评估日常操作的状态和性能。</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">获取 Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>创建并共享操作视图</h3>
          <p>通过三个简单步骤即可创建并共享操作视图，其中包括地图、列表、图表、仪表以及更多基于地图或 web 服务中定义的实时地理数据的相关内容。</p>
          <p>
            <a href="/zh-cn/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;查看详情</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>监控并响应事件</h3>
          <p>使用操作视图关注重要业务事件的各个方面。通过四个步骤即可监控世界任意位置处的服务、配送、人员和车辆等信息。</p>
          <p>
            <a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;查看详情</a><br /> <!--<a href="http://resources.arcgis.com/zh-cn/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;观看视频</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>在浏览器中监控</h3>
          <p>可在浏览器中使用操作视图。无需进行安装，只需打开操作视图并持续更新您的操作即可，此操作也可在 iPad 上完成。</p>
          <p>
            <a href="/zh-cn/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;查看详情</a><br /> <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>开发加载项</h3>
          <p>使用自定义微件、要素操作和地图工具可将独特的业务逻辑运用在您的操作视图中。 </p>
          <p>
            <a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/" class="icon-right-arrow">&nbsp;查看详情</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">特色</h2>
	<p>将系统和所管理的资源整合为一个普通视图。通过桌面或平板设备监控大规模事件或日常操作的实时数据源。创建整合了地图、图表和图形的专用执行仪表盘。</p>
	
	<ul>
	<li>将地图与动态数据源结合使用以提供实时视图。</li>
	<li>配置图表、仪表、直方图及更多内容以提供统计环境。</li>
	<li>创建并共享针对特定需求的操作视图。</li>
	<li>设计视图以用于多屏显示或单一显示设备。</li>
	<li>创建自定义微件和工具以满足您的需求。</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">系统要求</h2>

        <p>需满足特定的设备要求才能运行 Operations Dashboard，对于在该应用程序中使用的数据也有一些要求。 </p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Windows 应用程序</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">支持的操作系统</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 8.1、Windows 8.1 专业版和 Windows 8.1 企业版（32 位和 64 位 [EM64T]）</li>
          <li>Windows 8、Windows 8 专业版和 Windows 8 企业版（32 位和 64 位 [EM64T]）</li>
		  <li>Windows 7 旗舰版、企业版、专业版和家庭高级版（32 位和 64 位 [EM64T]）SP1</li>
		  <li>Windows Server 2012 标准版和数据中心版（64 位 [EM64T]）</li>
		<li>Windows Server 2008 R2 标准版、企业版和数据中心版（64 位 [EM64T]）SP1</li>
		<li>Windows Server 2008 标准版、企业版和数据中心版（32 位和 64 位 [EM64T]）SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">硬件要求</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>CPU 速度：2.2 GHz 或更高；建议使用超线程 (HTT) 或多核。</li>
			<li>处理器：Intel Pentium 4、Core Duo 或 Xeon 处理器；SSE2（最低版本）。从 Windows 命令提示符窗口运行 Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> 实用工具来检查处理器。</li>
			<li>磁盘空间：1.5 GB 的可用磁盘空间。</li>
			<li>内存/RAM：2 GB 或更高。</li>
			<li>显示属性：24 位颜色深度。</li>
			<li>屏幕分辨率：标准尺寸 (96 dpi) 下使用 1024x768 或更高分辨率。</li>
			<li>交换空间：取决于操作系统；最小为 500 MB。</li>
			<li>视频/图形适配器：64 MB RAM（最低配置），建议使用 256 MB RAM 配置；支持 NVIDIA、ATI 和 INTEL 芯片组。加速显卡驱动程序。Shader Model 2.0（最低配置）。请务必使用最新的可用驱动程序。</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">软件要求</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px">需要安装 <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> 或更高版本。必须具有对计算机的管理权限才能进行安装。</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">开发者要求</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px">自定义 Operations Dashboard for ArcGIS 需要使用 <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.3 for WPF</a>。同时还需要 Microsoft Visual Studio 2012 或 2013 专业版、高级版或旗舰版。 </p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">受支持语言</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">阿拉伯语、捷克语、丹麦语、荷兰语、英语、爱沙尼亚语、芬兰语、法语、德语、希伯来语、意大利语、日语、韩语、拉脱维亚语、立陶宛语、挪威语、波兰语、葡萄牙语（巴西）、葡萄牙语（葡萄牙）、罗马尼亚语、俄语、简体中文、西班牙语、瑞典语和土耳其语。</p>
     	<p style="padding:0 15px">Windows 版应用程序中使用的语言取决于操作系统的语言设置。如果使用不受支持的语言设置，则应用程序将使用英语。</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>浏览器应用程序</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">支持的浏览器</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> 台式机
 <ul style="padding:0 15px">
 <li>Chrome 19.0 和更高版本</li>
 <li>Firefox 4.0 和更高版本</li>
 <li>Internet Explorer 9.0 和更高版本</li>
 <li>Safari 5.1 和更高版本</li>
 </ul> 
 平板电脑 
 <ul style="padding:0 15px">
 <li>运行 Chrome 19.0 和更高版本的 Android 4.0 和更高版本</li>
 <li>在 iOS 6.0 和更高版本中运行的 Safari</li>
 </ul>
 手机 
 <p style="padding:0 15px">当前不支持智能手机浏览器。</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">受支持语言</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">捷克语、丹麦语、荷兰语、英语、爱沙尼亚语、芬兰语、法语、德语、意大利语、日语、韩语、拉脱维亚语、立陶宛语、挪威语、波兰语、葡萄牙语（巴西）、葡萄牙语（葡萄牙）、罗马尼亚语、俄语、中文（简体）、西班牙语、瑞典语、泰语和土耳其语。</p>
      	<p style="padding:0 15px">在浏览器版本中，将使用您的 ArcGIS Online 配置文件来设置语言。如果使用不受支持的语言设置，则应用程序将使用英语。</p>
</div>
<div class="clear"></div>

     <h3/>
        <h3>数据要求</h3>
		<p>要在 Operations Dashboard 中使用地图，必须拥有 ArcGIS 组织帐户。地图可以包含来自 ArcGIS Online、Portal for ArcGIS 和 ArcGIS for Server 的数据。数据源必须托管在 ArcGIS Online 或 ArcGIS 10.1 for Server 或更高版本上。</p>

        <a name="whatsNew"></a>
        <h2 class="divider">新特性</h2>
        <table><tr><td valign="top" ><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS 10.2.3 已于 2014 年 7 月更新，修复了若干缺陷并进行了多处改进。</p>
                </td>
	        <td valign="top"><h4><img src="icon-browser.png" style="margin-right:4px"/>浏览器</h4>
	        <p>Operations Dashboard for ArcGIS 的浏览器应用程序已于 2014 年 9 月更新。该版本包括以下增强：</p>
	        <ul>
	          <li>指示器、仪表和图表微件的更新外观</li>
	          <li>支持使用地图查看器向图层添加标注</li>
	          <li>泰语本地化</li>
	          <li>修复了若干缺陷并进行了多处改进</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">抢先预览</h2>
	<p>Operations Dashboard 现已成为监控操作的强大应用程序。但它并不仅限于此！以下内容将向您介绍此应用程序的发展方向并展示将出现在设备中的各种功能：</p>
	
	<table border="1" style="text-align:center">
	  <caption>基于不同平台所设计的功能。<br/><span class="icon-check" style="color:black"></span>现有，<span class="icon-check icon-green"/>即将推出，<span class="icon-check" style="color:lightgray"></span>未来推出<br/></caption>
	  <tr><td></td>
	    <th>Windows 桌面</th>
	    <th>浏览器</th>
	  </tr>
	  <tr><th>创建操作视图</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>使用操作视图</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* 单一显示操作视图</span></td>
	  </tr>
	  <tr><th>使用 Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>可扩展</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>使用地图服务作为数据源</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/></td>
	  </tr>
	  <tr><th>搜索数据</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>过滤空间信息</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>-->
	  <tr><th>使用非空间数据作为外部数据源</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>支持相关表</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>3D 视图</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>工作人员管理</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>请与我们分享您的<a href="http://ideas.arcgis.com/">看法</a>，并<a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">向我们发送反馈</a>。</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>详细信息</h3>
          
	  <h4><a href="#features">特色</a></h4>
	  <h4><a href="#systemRequirements">系统要求</a></h4>
	  <h4><a href="#whatsNew">新特性</a></h4>
	  <h4><a href="#sneakPeek">抢先预览</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>博客</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
