---
title: Hilfe zu ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/arcgis-online/">Hilfe</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Hilfe zu ArcGIS Online" href="/de/arcgis-online/">Start</a></li>
        <li><a title="Verwenden von Karten" href="/de/arcgis-online/use-maps/">Verwenden</a></li>
        <li><a title="Erstellen von Karten und Apps" href="/de/arcgis-online/create-maps/">Erstellen</a></li>		
        <li><a title="Freigeben von Karten und Apps" href="/de/arcgis-online/share-maps/">Freigeben</a></li>
		<li><a title="Verwalten der Organisation" href="/de/arcgis-online/administer/">Verwalten</a></li>
		<li><a href="/de/arcgis-online/reference/">Referenz</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Verwenden und erstellen Sie interaktive Karten und Anwendungen, und geben Sie diese für Ihre Organisation frei. Erfahren Sie mehr über die Vorgehensweise.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Verwenden von Karten</h3>
         
 
         <p>Verwenden Sie Karten, um geographische Daten zu erkunden, zu verstehen und zu messen.</p>

      
         <p><a href="/de/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Anzeigen von Daten</a>
		<br/>
         <a href="/de/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Durchführen von Analysen</a><br/>
         <a href="/de/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Bearbeiten von Features</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Erstellen von Karten und Anwendungen</h3>
          <p>Erstellen Sie interaktive Karten und Anwendungen, auf die Ihre Organisation auf einem beliebigen Gerät, von jedem Ort und jederzeit zugreifen kann.</p>


            <p><a href="/de/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Erstellen der ersten eigenen Karte</a>
			    <br/>

            <a href="/de/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Erstellen der ersten eigenen App</a><br/>
			<a href="/de/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Festlegen von Karten- und Layer-Eigenschaften</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Freigeben von Karten und Apps</h3>
          <p>Arbeiten Sie mit Ihren Daten, indem Sie Karten und Apps in Ihrer Organisation oder Community freigeben.</p>

         <p><a href="/de/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Hinzufügen von Elementen</a>
         <br/><a href="/de/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Freigeben von Elementen</a>
         <br/>
	<a href="/de/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Veröffentlichen gehosteter Features und Kacheln</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Verwalten Ihrer Organisation</h3>
          <p>Erweitern Sie den Anwendungsbereich Ihres GIS, indem Sie ArcGIS Online für Ihre Organisation konfigurieren, Mitglieder zum Beitritt einladen und Ressourcen verwalten.</p>
          <p>
            <a href="/de/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Konfigurieren der Website</a>
               <br/> <a href="/de/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Einladen von Mitgliedern</a>
               <br/>
            <a href="/de/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Anzeigen des Organisationsstatus</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Sofort verwendbare Apps</h3>
         <p>Weitere Informationen zu den sofort verwendbaren Apps, die in ArcGIS Online enthalten sind.</p>
		 <p>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/>
		 <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/>
		  <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a></br><a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/>
		   <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS-App für Smartphones und Tablets</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Konfigurierbare Apps</h3>
          <p>Erfahren Sie mehr über die Verwendung konfigurierbarer Vorlagen, um Apps für Ihre Organisation und die Community zu erstellen.</p>
		 <p><a href="http://links.esri.com/configurableapps" class="icon-right-arrow">&nbsp;&nbsp; Konfigurierbare Apps von Esri</a><br>
		 <a href="http://storymaps.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; Story Maps</a></br>
		 <a href="http://solutions.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS Solutions</a><br></p>
		 
        </div>
        <div class="clear"></div>
          <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>Zusätzliche Ressourcen</h3>
		          <p>Entdecken Sie mehr Apps, Karten und Werkzeuge für Ihre Organisation.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> 
				 <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br>
				 <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; Lebendiger Atlas der Welt</a></br>
				 <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS for Developers</a>
				
			 </p></div>
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Erste Schritte</h3>
		  <p>Viel Spaß mit ArcGIS Online, wenn Sie sich mit folgenden Themen vertraut machen:</p>
		  
		     <table><tr><td>
		          <ul>
		            <li>Untersuchen von Karten</li>
		            <li>Erstellen einer Karte</li>
		            <li>Hinzufügen eines Layers aus einer Datei</li>
		            <li>Konfigurieren von Pop-ups</li>
		            <li>Erstellen einer Web-App</li>
		          </ul></td>
		          <td valign="top">
		          <ul><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online" class="btn secondary">Starten Sie jetzt</a>
		            
        </ul></td><tr></table>
    
		 
		<p>Entdecken anderer praktischer Lektionen auf <a href="http://learn.arcgis.com">Learn ArcGIS</a><br>
		 Sie suchen nach Schulungen? Suchen von <a href="http://www.esri.com/training/main/arcgis-online-training">Kursen für ArcGIS Online</a></p>
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Details</h3>
         <ul>
		<li><a href="/de/arcgis-online/reference/what-is-agol.htm" >&nbsp;Was ist ArcGIS Online?</a></li>
		<li><a href="/de/arcgis-online/reference/whats-new.htm" >&nbsp;Neuheiten</a></li>
		<li><a href="/de/arcgis-online/reference/faq.htm">&nbsp;Häufig gestellte Fragen</a></li>
		<li><a href="http://doc.arcgis.com/de/trust/">&nbsp;Trust ArcGIS</a></li>
		 
		
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Erstellen einer Karte</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Erfahren Sie mehr darüber, wie Sie mit dem integrierten Map Viewer Karten erstellen.</p>
        <a href="/de/arcgis-online/reference/videos.htm" class="btn secondary">Weitere Videos</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Weitere Blog-Postings</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Diskussionen auf GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2055" class="btn secondary">Diskussion starten</a>&nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Weitere Informationen</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
