---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/arcgis-online/">Hilfe</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Hilfe zu ArcGIS Online" href="/de/arcgis-online/">Start</a></li>
        <li><a title="Verwenden von Karten" href="/de/arcgis-online/use-maps/">verwenden</a></li>
        <li><a title="Erstellen von Karten und Anwendungen" href="/de/arcgis-online/create-maps/">Erstellen</a></li>		
        <li><a title="Freigeben von Karten und Anwendungen" href="/de/arcgis-online/share-maps/">Freigeben</a></li>
		<li><a title="Verwalten Ihrer Organisation" href="/de/arcgis-online/administer/">Verwalten</a></li>
		<li><a href="/de/arcgis-online/reference/">Bezug</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Verwenden und erstellen Sie interaktive Karten und Anwendungen, und geben Sie diese für Ihre Organisation frei. Erfahren Sie mehr über die Vorgehensweise.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Verwenden von Karten</h3>
         
 
         <p>Verwenden Sie Karten, um geographische Daten zu erkunden, zu verstehen und zu messen.</p>

      
         <p><a href="/de/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">  Anzeigen von Daten</a> <br/> <a href="/de/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">  Durchführen von Analysen</a><br/> <a href="/de/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">  Bearbeiten von Features</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Erstellen von Karten und Anwendungen</h3>
          <p>Erstellen Sie interaktive Karten und Anwendungen, auf die Ihre Organisation auf einem beliebigen Gerät, von jedem Ort und jederzeit zugreifen kann.</p>


            <p><a href="/de/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">  Erstellen der ersten eigenen Anwendung</a> <br/>

            <a href="/de/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">  Erstellen der ersten eigenen Anwendung</a><br/> <a href="/de/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">  Festlegen von Karten- und Layer-Eigenschaften</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Freigeben von Karten und Anwendungen</h3>
          <p>Arbeiten Sie mit Ihren Daten, indem Sie Karten und Anwendungen in Ihrer Organisation oder Community freigeben.</p>

         <p><a href="/de/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">  Hinzufügen von Elementen</a> <br/><a href="/de/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">  Freigeben von Elementen</a> <br/> <a href="/de/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">  Veröffentlichen von gehosteten Features und Kacheln</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Verwalten Ihrer Organisation</h3>
          <p>Erweitern Sie den Anwendungsbereich Ihres GIS, indem Sie ArcGIS Online für Ihre Organisation konfigurieren, Benutzer zum Beitritt einladen und Ressourcen verwalten.</p>
          <p>
            <a href="/de/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">  Konfigurieren der Website</a> <br/> <a href="/de/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">  Einladen von Benutzern</a> <br/> <a href="/de/arcgis-online/administer/view-status.htm" class="icon-right-arrow">  Anzeigen des Organisationsstatus</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Sofort verwendbare Apps</h3>
         <p>Nutzen Sie sofort einsetzbare Apps für die Datenerfassung im Außendienst, für operative Dashboards, Microsoft Office und Sharepoint.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">  ArcGIS-Apps</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Entwickler-APIs</h3>
          <p>Die ArcGIS-Plattform enthält APIs und SDKs zum Erstellen von Apps für Ihre Organisation und die Community im Allgemeinen.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">   ArcGIS für Entwickler</a></p>
        </div>
	
        <div class="clear"></div>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Erste Schritte</h3>
		  <p>Lernprogramme zum Verwenden der ArcGIS-Plattform</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/de/get-started/web/">Verwenden von Karten</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/de/get-started/services/">Freigeben von Daten</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/de/get-started/organizations/">Verwalten Ihrer Organisation</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>ArcGIS Online</h3>
         <ul>
		 <li><a href="/de/arcgis-online/reference/what-is-agol.htm"> Was ist ArcGIS Online?</a></li>
		 <li>
		 <a href="/de/arcgis-online/reference/whats-new.htm" > Neuheiten</a>
		 </li>
		 <li><a href="/de/arcgis-online/reference/faq.htm"> Häufig gestellte Fragen</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Erstellen einer Karte</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Erfahren Sie mehr darüber, wie Sie mit dem integrierten Map Viewer Karten erstellen.</p>
        <a href="/de/arcgis-online/reference/videos.htm" class="btn secondary">Weitere Videos</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Weitere Blog-Postings</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>In unserem Forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Weitere Foren-Postings</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
