---
title: Hilfe zu ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="de">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/arcgis-online/">ArcGIS Online-Hilfe</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Hilfe zu ArcGIS Online" href="/de/arcgis-online/">Startseite</a></li>
        <li><a title="Verwenden von Karten und Szenen" href="/de/arcgis-online/use-maps/">Verwenden</a></li>
        <li><a title="Erstellen von Karten, Szenen und Anwendungen" href="/de/arcgis-online/create-maps/">Erstellen</a></li>
        <li><a title="Freigeben von Karten, Szenen und Apps" href="/de/arcgis-online/share-maps/">Freigeben</a></li>
        <li><a title="Verwalten Ihrer Organisation" href="/de/arcgis-online/administer/">Verwalten</a></li>
        <li><a title="Referenz" href="/de/arcgis-online/reference/">Referenz</a></li>
        <li><a title="Apps für alle Benutzer" href="/de/arcgis-online/apps/arcgis-apps.htm">Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="de" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Karten, Szenen, Analysen, Apps, Zusammenarbeit – all dies ist mit ArcGIS Online möglich.</p>
	
	<p> Neu bei ArcGIS? Erstellen Sie zunächst einfach Ihre erste Karte, Szene, App oder Gruppe. Wenn Sie dann zu einem bestimmten Thema mehr erfahren möchten, können Sie sich in den verschiedenen Schulungslektionen und der Dokumentation detailliert informieren. Sind Sie <a href="/de/arcgis-online/administer/admin-org.htm">Administrator</a> einer Organisation? Erfahren Sie, wie Sie benutzerdefinierte Rollen, Sicherheitseinstellungen und flexible Konfigurationen nutzen können.
	</p> 
	<p>In unserem <a href="#blog">Blog</a> und in der <a href="#community">Community</a> bleiben Sie stets auf dem neuesten Stand.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/de/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/de/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/de/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/de/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Neuerungen</h3>
        <p>Die Aktualisierung von Juni 2016 beinhaltet verbesserte Elementseiten, neue Optionen für die zeitbezogene Darstellung, Unterstützung für integrierte Gitter-Layer und vieles mehr.
        </p>
			<!--<a href="/de/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/de/arcgis-online/reference/whats-new.htm" class="btn secondary">Mehr erfahren</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Einstieg mit der ersten eigenen</h2>
      <div class="make-first">
        <a href="/de/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Karte</h2></a>
        <a href="/de/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Szene</h2></a>
        <a href="/de/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">App</h2></a>
        <a href="/de/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Gruppe</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Stöbern Sie in beliebten Themen:</h4></li>
        <li><a href="/de/arcgis-online/reference/faq.htm">Häufig gestellte Fragen</a></li>
		<li><a href="/de/arcgis-online/share-maps/add-items.htm">Hinzufügen von Elementen</a></li>
        <li><a href="/de/arcgis-online/use-maps/perform-analysis.htm">Durchführen von Analysen</a></li>
		<li><a href="/de/arcgis-online/share-maps/publish-features.htm">Veröffentlichen von Features</a></li>
		<li><a href="/de/arcgis-online/administer/view-status.htm">Anzeigen des Status</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Informative Lektionen
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Weitere Lektionen <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Erste Schritte mit ArcGIS Online</a></h3>
          <p>
 Machen Sie sich mit den Grundlagen zur Online-Bereitstellung von Karten vertraut.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Demographische Analysen und Smart Mapping</a></h3>
          <p>
            Ermitteln mithilfe demographischer Analysen, Smart Mapping und einer Web-App, an welchen Orten Kinder besonders unter Armut leiden.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Routen planen</a></h3>
          <p>
 Planen Sie die Inspektion von 36 Restaurants in San Diego County durch vier Beamte der Gesundheitsbehörde.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Räumliche Analyse</a></h3>
          <p>
 Finden Sie die optimalen Gebiete, um Wohn- und Geschäftsräume zu verbinden.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Lesen Sie unseren Blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Weitere Blog-Postings <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Tauschen Sie sich mit anderen Nutzern aus
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Weitere Diskussionen <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Schulungsangebot durchsuchen</a></h4>
      <p class="no-trailer">
        Informieren Sie sich über das umfangreiche Schulungsangebot von Esri.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Videos ansehen</a></h4>
      <p class="no-trailer">
        Erkunden Sie ArcGIS Online in Videos.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Technischen Support anfordern</a></h4>
      <p class="no-trailer">
        Sie erreichen den Support per Chat, E-Mail oder Telefon.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Systemstatus überprüfen</a></h4>
      <p class="no-trailer">
        Überprüfen Sie den Status von ArcGIS Online und melden Sie Probleme.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
