---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="pt-pt">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/pt-pt/web-appbuilder/">Página Inicial</a></li>
        <li><a href="/pt-pt/web-appbuilder/create-apps/">Criar Aplicações</a></li>
        <li><a href="/pt-pt/web-appbuilder/manage-apps/">Gerir Aplicações</a></li>
        <li><a href="/pt-pt/web-appbuilder/extend-apps/">Estender Aplicação</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Construa aplicações GIS poderosas que funcionem em qualquer dispositivo. Não é necessário saber programar</h3>
	<h5>Visualize o que outros construíram, clique <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinco minutos para a sua primeira aplicação</h3>
          
          <p>
            <a href="/pt-pt/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configuração fácil</h3>
          <p>Criar aplicações com uma configuração simples de experiencia builder.</p>
          <p>
            <a href="/pt-pt/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configurar aplicação</a> <a href="/pt-pt/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configurar widgets</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Exportar modelos</h3>
          <p>Criar modelos de aplicação configuráveis que sejam adicionados à galeria de aplicações da sua organização. 
          <p>
            <a href="/pt-pt/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Construa widgets & temas</h3>
          <p>Pode descarregar e alojar a aplicação para o seu servidor web. Mais, pode estender a aplicação adicionando widgets personalizados e temas.</p>
          <p>
            <a href="/pt-pt/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Mostre-me como</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Navegadores suportados</h2>
		<p>A aplicação 2D suporta os seguintes navegadores:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 e superior</li>
		  <li>Margem</li>
          <li>Internet Explorer 9 e superior</li>
        </ul>
		<p>A aplicação 3D suporta os seguintes navegadores:</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 e superior</li>
		  <li>Margem</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Licença</h2>

        <p>Para usar Web AppBuilder, deve ter uma conta organizacional ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Elementos Principais</h2>
        <ul>
          <li>Criar aplicações HTML/JavaScript que funcionem em qualquer dispositivo.</li>
          <li>Construir as aplicações de que necessita utilizando widgets prontos a utilizar.</li>
          <li>Personalize o aspeto das suas aplicações com temas configuráveis.</li>
          <li>Aloje as suas aplicações online ou corra-as a partir do seu próprio servidor.</li>
          <li>Crie modelos personalizados de aplicações.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Quais as novidades?</h2>
        <p>O Web AppBuilder for ArcGIS foi atualizado em junho de 2016. Inclui os seguintes elementos e melhorias:</p>
        <ul>
          <li>Adicione o estilo Seletor de Cores nos temas para poder selecionar a sua própria cor ou corresponder à paleta e cores aprovada pela sua agência.</li>
		  <li>Pode definir fontes personalizadas para o título e subtítulo da aplicação no separador Atributos.</li>
		  <li>Pode configurar ArcGIS Online Premium Services e Premium Content para acesso público no separador Atributos.</li>
          <li>O novo widget Selecionar comunica com outros widgets para efetuar ações nos elementos selecionados.</li>
		  <li>O novo widget Partilhar proporciona uma experiência de partilha social de aplicações.</li>
		  <li>O widget Adicionar Dados permite aos utilizadores finais pesquisarem camadas no ArcGIS Online e introduzir URLs para adicionar dados ao mapa.</li>
          <li>O novo widget Filtrar permite-lhe filtrar elementos com base numa expressão. Outros widgets irão corresponder às definições de filtro, se aplicáveis. </li>
		  <li>O novo widget Editor Inteligente expande o idget de edição principal, por exemplo, atributos inteligentes, predefinição de valores de campo, validação de registos, e visualização de janelas pop-up durante a edição.</li>
          <li>O novo widget Visualizador Oblíquo exibe imagens num sistema de coordenadas nativo utilizando o sistema de coordenadas de imagens. Isto permite-lhe mover no modo oblíquo, num ângulo único de visualização, ou alternar ângulos para visualizar uma área de interesse a partir de ângulos diferentes.</li>
		  <li>O novo widget Filtro de Grupo permite-lhe criar agrupamentos de camadas aos quais aplicar um filtro de valor. Tem a opção de guardar e recarregar os seus agrupamentos definidos para possa regressar e retomar o seu trabalho a qualquer momento.</li>
          <li>O widget Resumo de Informações já não se encontra em versão beta. Este widget permite-lhe fornecer uma contagem e visualizar uma lista de elementos contidos na atual extensão de mapa para cada camada especificada. As camadas de pontos configuradas no widget podem, opcionalmente, ser visualizadas como clusters.</li>
		  <li>O widget Consulta adiciona relações espaciais, como intersectar, sobrepor e conter, para que possa efetuar a pesquisa em relação a elementos noutras camadas.</li>
		  <li>O widget Editar inclui opções para tolerância e filtragem de modelos de elementos.</li>
		  <li>Selecionar regitstos na Tabela de Atributos irá evidenciar os respetivos elementos no mapa, e vice-versa. </li>
		  <li>O widget Geoprocessamento utiliza uma série de elementos como entrada de uma camada, janela pop-up, os widgets Pesquisa ou Selecionar.</li>
		  <li>O widget Lista de Camadas permite-lhe escolher que camadas pretende exibir na lista. Também pode controlar a visibilidade de todas as camadas.</li>
		  <li>O widget Próximo de Mim foi melhorado com parâmetros de configuração adicionais, incluindo a capacidade de exibir o buffer no mapa, apresentar polígonos interceptados em vez de polígonos com buffer, e aplicar zoom nos elementos selecionados ao invés do buffer.</li>
		  <li>O widget District Lookup foi melhorado para suportar polígonos empilhados.</li>
		  <li>O widget Gráficos de Tabelas Relacionadas foi melhorado para suportar gráficos de pólos.</li>
		  <li>O widget 3DFx existente foi melhorado para incluir mais efeitos para animação 3D.</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versões suportadas do ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder suporta ArcGIS API for JavaScript 3.17.</p>

        <h3>Idiomas suportados</h3>
        <p> Árabe, Croata, Checo, Dinamarquês, Holandês, Inglês, Estónio, Finlandês, Francês, Alemão, Grego, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Sérvio, Chinês Simplificado, Espanhol, Sueco, Tailandês, Chinês Tradicional (Taiwan),Chinês Tradicional (Hong-Kong), Turco e Vietnamita.</p>
        <p>O idioma usado pela aplicação é determinado pelas definições de idioma do seu navegador.</p>

        <p>Partilhe as suas <a href="http://ideas.arcgis.com/">ideias</a> e <a href="http://support.esri.com/en/">envie-nos o seufeedback</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Detalhes</h3>
          
          <h4><a href="#features">Elementos Principais</a></h4>
          <h4><a href="#supportedBrowsers">Navegadores Suportados</a></h4>
          <h4><a href="#license">Licença</a></h4>
          <h4><a href="#whatIsNew">Quais as novidades?</a></h4>
          <h4><a href="#supportedAPI">Versões Suportadas do ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Mais posts de Blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussões sobre o GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">Iniciar um</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Ler Mais</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
