---
title: Nahlášení problému se zabezpečením
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/cs/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online – Trust" href="/cs/trust/">Trust</a></li>
        <li><a title="ArcGIS Online – Stav systému" href="/cs/trust/system-status/">Stav systému</a></li>
        <li><a title="ArcGIS Online – Zabezpečení" href="/cs/trust/security/">Zabezpečení</a></li>
        <li><a title="ArcGIS Online – Soukromí" href="/cs/trust/privacy/">Soukromí</a></li>
        <li><a title="ArcGIS Online – Soukromí" href="/cs/trust/compliance/">Dodržování standardů</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Nahlášení problému se zabezpečením</h2>
      </header>
	  <section>
		<p data-langlabel="">Vyplňte formulář vpravo a uveďte všechny relevantní informace včetně podrobného popisu vašeho problému. Vaše kontaktní údaje použijeme k tomu, abychom se s vámi mohli spojit v návaznosti na uvedené informace. V rozbalovací nabídce Předmět zvolte povahu problému.</p>
		<ul>
			<li data-langlabel="">Ohrožení zabezpečení – nahlášení ohrožení zabezpečení webu nebo aplikace.</li>
			<li data-langlabel="">Podezřelý e-mail zaslaný společností Esri – máte podezření, že jste se stali cílem phishingového útoku z e-mailové adresy společnosti Esri, nebo jste obdrželi jiné podezřelé e-maily zaslané společností Esri.</li>
			<li data-langlabel="">Problém s ochranou osobních údajů – problém týkající se ochrany osobních údajů související s některou z našich aplikací či organizací.</li>
			<li data-langlabel="">Jiné – všechny ostatní problémy související se zabezpečením, ochranou osobních údajů nebo dodržováním standardů.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Zásady pro hlášení ohrožení zabezpečení</h3>
	  </header>
      
        <p data-langlabel="">Bezpečnostní tým webu ArcGIS.com si je vědom významu nezávislých bezpečnostních specialistů v otázce internetového zabezpečení. Doporučujeme zodpovědně nahlásit všechna případná ohrožení zabezpečení, která naleznete na našem webu nebo v některé z našich aplikací. Společnost Esri usiluje o spolupráci s komunitou zabývající se zabezpečením, aby mohla ověřovat a reagovat na všechny nahlášené problémy týkající se ohrožení zabezpečení. V případě dodržování těchto zásad nebude společnost Esri vznášet žaloby ani vést vyšetřování.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>nepovoluje</strong> následující typy průzkumu zabezpečení:</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Vyvolání nebo pokus o vyvolání stavu Odmítnutí služby (Denial of Service, DoS).</li>
		<li data-langlabel="">Používání nástrojů pro automatizované zabezpečení bez výslovného souhlasu společnosti Esri. Používání automatizovaných nástrojů může mít za následek vyšetřování nebo zablokování vámi používaných IP adres.</li>
		<li data-langlabel="">Aktivity zahrnující přístup nebo pokus o získání přístupu k informacím, které vám nepatří.</li>
		<li data-langlabel="">Aktivity zahrnující nebo pokus o zničení či poškození dat nebo informací, které vám nepatří.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">Závazek bezpečnostního týmu webu ArcGIS.com</h4>
	  </header>
		<p data-langlabel="">Bezpečnostní tým ArcGIS.com se všem bezpečnostním specialistům dodržujícím Zásady pro hlášení ohrožení zabezpečení webu ArcGIS.com zavazuje, že bude:</p>
		
		<ul>
		<li data-langlabel="">včas reagovat a potvrzovat přijetí hlášení,</li>
		<li data-langlabel="">informovat o předpokládaném časovém rámci nutném pro vyřešení konkrétního ohrožení zabezpečení,</li>
		<li data-langlabel="">informovat osoby, které ohrožení zabezpečení nahlásily, o jeho vyřešení.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Název: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">E-mailová adresa: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Telefonní číslo: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organizace <span class="optional">(volitelné):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Předmět: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Slabina v zabezpečení</option>
				  <option value="Suspicious E-mail from Esri">Podezřelý e-mail zaslaný společností Esri</option>
				  <option value="Privacy Issue">Problém s ochranou osobních údajů</option>
				  <option value="audi">Jiný</option>
			  </select>

			  <label data-langlabel="" for="description">Popis: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Pomozte nám zabránit automaticky rozesílaným spamům – zadejte uvedená čísla: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Číslice: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="internal" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Problém se zabezpečením" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="en" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Odeslat</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Děkujeme za nahlášení tohoto problému. V průběhu několika následujících pracovních dnů jej prozkoumáme a pokusíme se jej vyřešit.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Během odesílání došlo k nečekané chybě. Zkuste problém nahlásit později.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Návrat na <a id="feedback-referring-link" href="">odkazující stránku</a></span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Odeslat</a> další problém se zabezpečením</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

