---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ko/operations-dashboard/">홈</a></li>
        <li><a href="/ko/operations-dashboard/windows-desktop/author/create-a-map.htm">작성자 보기</a></li>
        <li><a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">보기 사용</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">포럼</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>
          <h2 id="appTitle">앱 다운로드</h2>
          <span id="appVersion"><strong>버전:</strong> 10.2</span> <span id="appReleased"><strong>출시일:</strong> 2013년 11월</span>

          <p>활동 및 이벤트를 모니터링하고, 현장 인력을 추적하며, 일상적인 작업 상태와 성과를 평가합니다.</p>

          <p>
            <a class="btn primary" href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">Operations Dashboard 다운로드</a>

          </p>

          <p>
            <a id="appSysRequirements" href="#systemRequirements">시스템 요구 사항</a> <a id="appWhatsNew" href="#whatsNew">새로운 기능</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/ko/operations-dashboard/dashboard-create-small.png" />

          <h3>작업 보기 생성 및 공유</h3>
          <p>간단한 3단계 작업을 거치면 웹 맵 또는 웹 서비스에 정의된 실시간 지리 데이터를 기반으로 앱, 목록, 차트, 게이지 등이 포함된 작업 보기를 생성하고 공유할 수 있습니다.</p>
          <p>
            <a href="/ko/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;방법 표시</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/ko/operations-dashboard/dashboard-monitor-small.png" />

          <h3>이벤트 모니터링 및 대응</h3>
          <p>작업 보기를 사용하면 작업에서 관심 있는 부분을 중점적으로 확인할 수 있습니다. 4단계를 거쳐 전 세계 어디서든 서비스, 제공물, 사용자, 차량 등을 모니터링할 수 있습니다.</p>
          <p>
            <a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;방법 표시</a><br /> <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">동영상 시청</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>시스템 요구 사항</h2>

        <p>Operations Dashboard를 실행하는 데 필요한 특정 장비 요구 사항과 응용 프로그램 내에서 사용되는 데이터 요구 사항이 있습니다. Operations Dashboard는 여러 언어로 지원됩니다.</p>


        <h3>지원되는 운영 체제</h3>

        <ul>
          <li>Windows 8.1, Windows 8.1 Pro 및 Windows 8.1 Enterprise(32비트/64비트[EM64T])</li>
          <li>Windows 8, Windows 8 Pro 및 Windows 8 Enterprise(32비트/64비트[EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional 및 Home Premium(32비트/64비트[EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard 및 Datacenter(64비트[EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise 및 Datacenter(64비트[EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise 및 Datacenter(32비트/64비트[EM64T]) SP2</li>
        </ul>


        <h3>하드웨어 요구 사항</h3>
        <ul>
			<li>CPU 속도: 2.2GHz 이상, HTT(하이퍼스레딩) 또는 멀티코어 권장</li>
			<li>프로세서: Intel Pentium 4, Core Duo 또는 Xeon Processors, SSE2 이상. 프로세서를 확인하려면 Windows 명령 프롬프트에서 이 Microsoft 유틸리티를 실행하세요.</li>
			<li>디스크 공간: 사용 가능한 디스크 공간 1.5GB</li>
			<li>메모리/RAM: 2GB 이상</li>
			<li>디스플레이 등록정보: 24비트 색 농도</li>
			<li>화면 해상도: 보통 크기 기준 1024x768 이상(96dpi)</li>
			<li>스왑 공간: 운영 체제에 따라 다름, 500MB 이상</li>
			<li>비디오/그래픽 어댑터: 64MB RAM 이상/256MB RAM 권장, NVIDIA/ATI/Intel 칩셋 지원. 그래픽 카드 드라이버 속도 향상. Shader Model 2.0 이상. 제공되는 최신 드라이버를 사용해야 합니다.</li>
		</ul>


        <h3>소프트웨어 요구 사항</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a>가 필요합니다. 이 소프트웨어를 설치하려면 관리자 권한이 있어야 합니다.</p>

        <h3>데이터 요구 사항</h3>
		<p>Operations Dashboard에서 맵을 사용하려면 ArcGIS 기관 계정이 있어야 합니다. 맵에는 ArcGIS Online, Portal for ArcGIS 및 ArcGIS for Server의 데이터가 포함될 수 있습니다. 데이터 원본은 ArcGIS Online 또는 ArcGIS 10.1 for Server 이상에서 호스팅되어야 합니다.</p>

		<h3>개발자 요구 사항</h3>
		<p>Operations Dashboard for ArcGIS를 사용자 정의하려면 <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2 for WPF</a>가 필요합니다.</p>

	<h3>지원되는 언어</h3>
	<p>아랍어, 체코어, 덴마크어, 네덜란드어, 에스토니아어, 핀란드어, 프랑스어, 독일어, 히브리어, 이탈리아어, 일본어, 한국어, 라트비아어, 리투아니아어, 노르웨이어, 폴란드어, 포르투갈어(브라질), 포르투갈어(포르투갈), 루마니아어, 러시아어, 중국어(간체), 스페인어 및 스웨덴어를 지원합니다.</p>
	<p>앱에서 사용되는 언어는 운영 체제의 언어 설정에 따라 달라집니다.</p>

        <a name="whatsNew"></a>
        <h2>새로운 기능</h2>
        <p>Operations Dashboard for ArcGIS 버전 10.2는 2013년 11월에 출시되었습니다. 향상된 기능은 다음과 같습니다.</p>
        <ul>
        <li>엔터프라이즈 로그인 지원</li>
        <li>Portal for ArcGIS 지원</li>
        <li>목록 및 게이지 위젯 향상</li>
        <li>이미지 및 차트가 포함된 팝업 창</li>
        <li>프록시 지원 성능 개선</li>
        <li>현지 시간 지원</li>
        <li>시간 및 날짜 필터링 성능 개선</li>
        <li>ArcGIS Runtime SDK 10.2 for WPF 사용</li>
        <li>ArcGIS Runtime SDK 10.2 for WPF를 사용하여 추가 기능 개발 가능</li>
        <li>아랍어, 체코어, 덴마크어, 네덜란드어, 에스토니아어, 핀란드어, 프랑스어, 독일어, 히브리어, 이탈리아어, 일본어, 한국어, 라트비아어, 리투아니아어, 노르웨이어, 폴란드어, 포르투갈어(브라질), 포르투갈어(포르투갈), 루마니아어, 러시아어, 중국어(간체), 스페인어 및 스웨덴어로 지역화</li>
        </ul>
      
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>시작</h3>
          <ul>
           <li><a href="http://www.arcgis.com/home/item.html?id=ba47e0bf6cb84a6e9f77e9caf86b88eb">설치</a></li>
            <li><a href="/ko/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">작업 보기 생성 및 공유</a></li>
            <li><a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">활동과 이벤트 모니터링 및 대응</a></li>
            <li><a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/">추가 기능 개발</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ESRI 블로그 게시물</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ios/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
