---
title: Operations Dashboard for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/operations-dashboard-1

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2017-01-12"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="ko">
mobile: true

---

<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Operations Dashboard for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear icon-ui-download" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Windows 버전 다운로드</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/operations-dashboard/" selected>홈</option>
        <option value="/en/operations-dashboard/overview/overview.htm">개요</a>
        <option value="/en/operations-dashboard/windows-desktop/author/create-a-map.htm">뷰 작성</a>
        <option value="/en/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">뷰 사용</a>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/ko/operations-dashboard/">홈</a>
        <a class="sub-nav-link" href="/ko/operations-dashboard/overview/overview.htm">개요</a>
        <a class="sub-nav-link" href="/ko/operations-dashboard/windows-desktop/author/create-a-map.htm">뷰 작성</a>
        <a class="sub-nav-link" href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">뷰 사용</a>
      </nav>
    </div>
  </div>
</header>

<!-- beta announcement -->
<div class="panel panel-dark panel-no-border panel-no-padding leader-2 text-center">
  <div class="grid-container padding-leader-half padding-trailer-half trailer-0">
    <div class="column-24">
      <h5 class="trailer-0 leader-0">이 곳에서 차세대 사용자 경험을 누리실 수 있습니다! <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 0px 0 0 10px;">베타 버전에 참여</a>
      </h5>
    </div>
  </div>
</div>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>간편한 확인</h1>
      <!--<br/>
      Know Operational Status Like You Are There<br/>
      Be There Without Leaving Your Office<br/>
      Know Operational Status Like You Are There<br/>
      Know the Status of your Operations<br/>
      Monitor, Track, and Assess Your Daily Operations<br/>
      Monitor, Track, and Assess What Matters Most (to You)<br/>
      Monitor, Track, and Assess with a Dynamic View of your Operations<br/>
      Know; outlook; view <br/>-->
      <h5>위치에 상관없이 활동 및 이벤트를 모니터링하고, 현장 근무자를 확인하며, 일상 업무의 상태와 성과를 평가합니다.</h5>
      <!--Monitor, track, and assess what matters most to you from whereever you are. Use your laptop or tablet to see your operations as they progress. -->

    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Operations Dashboard 도움말 검색">
              <input type="hidden" name="collection" value="help" />
              <!--input type="hidden" name="platform" value="detect" / -->
              <input type="hidden" name="product" value="ops-dashboard" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-2 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/ko/operations-dashboard/overview/whats-new.htm">새로운 기능</a></li>
	<li><a href="/ko/operations-dashboard/overview/requirements.htm">요구 사항</a></li>
        <li><a href="/ko/operations-dashboard/overview/sneak-peek.htm">미리 보기</a></li>
	<li><a href="/ko/operations-dashboard/windows-desktop/author/faqs-author.htm">뷰 작성 FAQ</a></li>
	<li><a href="/ko/operations-dashboard/windows-desktop/user/faqs-user.htm">뷰 사용 FAQ</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ko/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">
            <img alt="" src="/en/operations-dashboard/img/createMaps.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ko/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm">작업 뷰 생성 및 공유</a>
          </h5>
          <p>간단한 3단계를 통해 맵 또는 웹 서비스에 정의된 실시간 지리 데이터를 기반으로 맵, 목록, 차트, 게이지 등을 포함하는 작업 뷰를 생성하고 공유합니다.</p>
        </div>
        <a href="/ko/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="btn btn-clear btn-fill leader-0">연습 시작</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">
            <img alt="" src="/en/operations-dashboard/img/monitorAndRespond.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">이벤트 모니터링 및 대응</a>
          </h5>
          <p>작업 뷰를 사용하여 중요한 작업 사항에 중점을 둡니다. 전 세계 어디서든 4단계를 통해 서비스, 배달, 사용자, 차량 등을 모니터링할 수 있습니다.</p>
        </div>
        <nav>
          <a href="/ko/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="btn btn-grouped btn-clear btn-half leader-0">실행</a>
          <a href="http://video.arcgis.com/iframe/2195/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">보기</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ko/operations-dashboard/web/user/monitor-and-respond-to-events.htm">
            <img alt="" src="/en/operations-dashboard/img/browserApp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ko/operations-dashboard/web/user/monitor-and-respond-to-events.htm">브라우저에서 모니터링</a>
          </h5>
          <p>브라우저에서 작업 뷰를 사용합니다. 따로 설치할 필요 없이 작업 뷰를 열기만 하면 작업 상황을 알 수 있습니다. 이는 iPad에서도 가능합니다.</p>
        </div>
        <a href="/ko/operations-dashboard/web/user/monitor-and-respond-to-events.htm" class="btn btn-clear btn-fill leader-0">방법 알아보기</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/ko/operations-dashboard/windows-desktop/author/custom-addins.htm">
            <img alt="" src="/en/operations-dashboard/img/developExtensions.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ko/operations-dashboard/windows-desktop/author/custom-addins.htm">개발 익스텐션</a>
          </h5>
          <p>사용자 정의 위젯, 피처 동작, 맵 도구를 사용하여 고유 비즈니스 로직을 작업 뷰에 가져옵니다.</p>
        </div>
        <nav>
          <a href="/ko/operations-dashboard/windows-desktop/author/custom-addins.htm" class="btn btn-grouped btn-clear btn-half leader-0">자세한 내용</a>
          <a href="https://github.com/Esri/dashboard-samples" class="btn btn-grouped btn-clear btn-half leader-0">샘플</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">더욱 효율적으로 ArcGIS 활용</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Operations Dashboard에 연결</h4>
    <a aria-label="LinkedIn에서 연결" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="GitHub 프로젝트 보기" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/dashboard-samples"></a>
    <a aria-label="커뮤니티 가입" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis"></a>
    <a aria-label="의견 보내기" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Esri 블로그 읽기
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/operations-dashboard/">더 많은 게시물</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">대화 참여
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">더 많은 대화</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2121" class="block-group block-group-3-up phone-block-group-1-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">상세 학습 진행</a></h5>
          <p class="trailer-0">
 ArcGIS 자세히 알아보기(Learn ArcGIS)를 검색하여 ArcGIS를 통해 실제 문제를 해결하는 방법을 익힐 수 있는 연습을 찾아서 수행할 수 있습니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">교육 과정 찾기</a></h5>
          <p class="trailer-0">
 강의식 수업 과정(현재 우리나라에서는 진행하고 있지 않음), 웹 과정, 세미나를 통해 ArcGIS에 대해 더욱 자세히 알아봅니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">기술 지원 받기</a></h5>
          <p class="trailer-0">
 채팅, 이메일 또는 전화를 통해 Esri Support에 문의할 수 있습니다.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">시스템 상태 확인</a></h5>
          <p class="trailer-0">
 ArcGIS Online 상태를 확인하고 문제를 보고합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
