---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/ro/web-appbuilder/">Prima pagină</a></li>
        <li><a href="/ro/web-appbuilder/create-apps/">Creare aplicaţii</a></li>
        <li><a href="/ro/web-appbuilder/manage-apps/">Gestionare aplicaţii</a></li>
        <li class='current'><a href="/ro/web-appbuilder/extend-apps/">Extindere aplicaţii</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Extindeţi Web AppBuilder cu ediţia pentru dezvoltatori</h2> 

          <p>Creaţi propriile widgeturi şi teme utilizând Web AppBuilder for ArcGIS (ediţia pentru dezvoltatori). Vizitaţi <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pentru a descărca ediţia pentru dezvoltatori şi pentru a afla mai multe despre crearea propriilor aplicaţii particularizate.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Sprijiniţi activităţile întreprinderii dvs. </h3>
          <p><ul>
            <li>Sporiţi productivitatea pentru a crea aplicaţii web care să ruleze pe sisteme desktop, tablete şi dispozitive smartphone.</li>
            <li>Exploataţi cadrul aplicaţiei şi widgeturile incluse pentru a vă putea concentra asupra creării de componente specifice fluxurilor dvs. de lucru</li>
            <li>Personalizaţi aplicaţia creând o temă particularizată</li>
            <li>Creaţi noi aplicaţii utilizând widgeturi şi teme partajate de alţi dezvoltatori</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Creaţi aplicaţii pentru vânzare</h3>
          <p><ul>
            <li>Creaţi o aplicaţie pentru a o promova şi vinde în <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Creaţi widgeturi şi teme particularizate pe care clienţii le pot utiliza pentru a configura aplicaţii noi puternice în Web AppBuilder</li>
            <li>Creaţi o temă particularizată care este unică şi conţine marca companiei dvs.</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Vizitaţi <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pentru a descărca şi pentru a afla mai multe.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

