---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ar">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/ar/web-appbuilder/">الصفحة الرئيسية</a></li>
        <li><a href="/ar/web-appbuilder/create-apps/">إنشاء التطبيقات</a></li>
        <li><a href="/ar/web-appbuilder/manage-apps/">إدارة التطبيقات</a></li>
        <li class='current'><a href="/ar/web-appbuilder/extend-apps/">توسيع التطبيقات</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">قم بمد Web AppBuilder مع إصدار المطور</h2> 

          <p>قم بإنشاء عناصر واجهة الاستخدام والسمات باستخدام Web AppBuilder for ArcGIS (إصدار المطور). قم بزيارة <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS للمطورين</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> لتنزيل إصدار المطور والتعرف على المزيد حول إنشاء تطبيقاتك المخصصة.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>تشغيل المؤسسية الخاصة بك </h3>
          <p><ul>
            <li>قم بتحسين إنتاجيتك لبناء تطبيقات الويب التي تعمل على سطح المكتب، والكمبيوترات اللوحية، والهواتف الذكية.</li>
            <li>قم بزيادة إطار عمل التطبيق وعناصر واجة الاستخدام الجاهزة حيث يمكنك التركيز على بناء مكونات محددة لمسارات العمل.</li>
            <li>قم بتخصيص تطبيقك عن طريق بناء سمة مخصصة</li>
            <li>قم بإنشاء تطبيقات جديدة باستخدام عناصر واجهة الاستخدام والسمات التي تم مشاركتها بواسطة المطورين الآخرين</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>قم ببناء تطبيقات للبيع</h3>
          <p><ul>
            <li>قم ببناء التطبيق لترقية والبيع في <a href="http://marketplace.arcgis.com/">موقع متجر ArcGIS</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>إنشاء واجهات عناصر الاستخدام المخصصة والسمات التي يمكن للعملاء استخدامها لتكوين تطبيقات جديدة فعالة في Web AppBuilder</li>
            <li>قم بإنشاء سمة مخصصة فريدة وخاصة بالشركة</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>قم بزيارة <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS للمطورين</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> للتنزيل والتعرف على المزيد.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

