---
title: Trust
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/ro/trust/">Trust</a></li>
        <li><a title="Stare sistem ArcGIS Online" href="/ro/trust/system-status/">Stare sistem</a></li>
        <li><a title="Securitate ArcGIS Online" href="/ro/trust/security/">Securitate</a></li>
        <li><a title="Confidenţialitate ArcGIS Online" href="/ro/trust/privacy/">Confidenţialitate</a></li>
        <li><a title="Confidenţialitatea ArcGIS Online" href="/ro/trust/compliance/">Conformitate</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS Online este proiectat ca un sistem securizat, cu acces controlat</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Proprietarea asupra datelor de securitate" />
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com este resursa dvs. pentru informaţii refritoare la securitate, confidenţialitate şi conformitate. Găsiţi: </p>
      <ul>
        <li>informaţii despre disponibilitatea serviciului ArcGIS Online, performanţele sistemului şi istoricul stărilor</li>
        <li>actualizări de securitate şi alterte în vigoare</li>
        <li>informaţii despre securitatea produsului pentru ArcGIS Online</li>
        <li>cele mai bune practici de securitate pentru organizaţia dvs.</li>
        <li>informaţii despre confidenţialitate şi conformitate</li>
      </ul>
      <p>Trust.ArcGIS.com este inspirat din discuţiile cu clienţii noştri. Ce aţi dori să vedeţi aici? Dacă aveţi sugestii, consemnaţi-le în secţiunea <a href="http://ideas.arcgis.com">Idei ArcGIS</a>.</p>
    </div>
    <div class="clear"></div>

    <div style="text-align:center; padding-top:150px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div>
      <a href="/ro/trust/system-status/" class="btn tertiary" style="width:100%;text-align:center;" >Verificarea stării sistemului</a>
    </div>
    <br/>
    <div class="imgFrame block">
      <h3 class="icon-announcement">Alerte şi anunţuri</h3>
      <p>Pe 6 iunile 2014, ArcGIS Online a primit certificatul de acreditare redusă FISMA Authority to Operate (ATO). Procesul de acreditare FISMA atestă faptul că ArcGIS Online a fost evaluat în mod riguros de către un evaluator terţ cu privire la respectarea cerinţelor stricte de securitate stabilite de National Institute of Standards and Technology (NIST) şi consemnate în Ediţia Specială 800-53. <a href="http://www.esri.com/esri-news/releases/14-2qtr/esri-mapping-platform-secured-for-federal-agencys-use">Continuaţi să citiţi...</a></p>
    </div>
    <br />
    <div class="panel">
      <h4>„Compania ESRI se angajează să dezvolte continuu securitatea platformei sale de cartografiere şi să întărească încrederea clienţilor prin acreditări precum cea de la FISMA.”</h4>
      <p>Michael Young, Arhitect de Securitate Principal, Esri</p>

    </div>
    <br/>
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/ro/trust/security-concern/"> Raportaţi o problemă de securitate</a>  </h4>
    </div>
  </div>

 </div>

  <!-- <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">     $(window).load(function() {       $('#blog').rssFeed({         url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',         max: 2,         layout: 0       });       });     </script>  -->
