---
title: Esri Maps for Office
css: 
- documentation
- /pt-pt/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/maps-for-office/">Esri Maps for Office</a></h1>
    </header> <nav>
      <ul>
        <li class='current'><a href="/pt-pt/maps-for-office/">Inicio</a></li>
        <li><a href="/pt-pt/maps-for-office/help/">Ajuda</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 2.1</span> <span id="appReleased"><strong>disponível:</strong> Julho de 2013</span>


          <p>Esri Maps for Office permite-lhe criar rapidamente mapas dinâmicos e interativos a partir dos seus dados do Excel e começar a explorar isso de uma maneira totalmente nova. Esri Maps for Office permite  descobrir padrões e tendências não evidentes em dados tabulares e gráficos. Os mapas podem ser partilhados imediatamente por meio de apresentações em PowerPoint ou através de um clique publicar na claud Esri, ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">obter Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Mapear as suas folhas de cálculo </h3>
          <p>Saiba mais sobre Mapear os seus dados Excel utilizando o Esri Maps for Office. Pode facilmente criar códigos de cor  interativos, pontos, pontos de cluster e mapas de calor diretamente no Excel e obter percepções visuais sobre os seus dados.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Assista ao vídeo</a> <video width="320" height="240" controls id="2457" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2457/mp4/480"></video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Melhorar os dados</h3>
          <p>Utilize as coleçõees de dados da Esri para adicionar valor aos seus dados de negócios. Adicione dados demográficos e de estilos de vida diretamente nas folhas de cálculo Excel e obtenha  uma maior contextualização  sobre os locais importantes. Explore rapidamente os locais on-the-fly utilizando gráficos informativos popo-up</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Assista ao vídeo</a> <video width="320" height="240" controls id="2468" class="mobileVideo"><source src="http://video.arcgis.com/download-video/2468/mp4/480"></video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos de Sistema</h2>

        <p>Esri Maps para Office requer uma conta que faz parte de uma organização <a href="http://help.arcgis.com/pt-pt/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> e Microsoft Office Excel ou PowerPoint 2010 ou Microsoft Office Excel ou PowerPoint 2013. Os sistemas operacionais suportados são:</p>
		<ul>
		 <li>Windows XP (deve ter) (32-bit)</li>
		 <li>Windows 7 (32-bit e 64-bit)</li>
		 <li>Windows 8 (32-bit e 64-bit)</li>
		 <li>Windows Server 2003 com SP2 e MSXML 6.0 (3apenas 32-bit Office)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012 </li>
		</ul>
		<p>Para obter informações adicionais, incluindo a velocidade necessária do processador, memória e espaço no disco rígido, consulte os requisitos de sistema para o<a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> e <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Suporte planeado para os seguintes idiomas</h3>
        <p>Árabe, Inglês, Chinês, Francês, Alemão, Italiano, Japonês, Espanhol,  Português (Brasil), e Russo</p>





        <a name="whatsNew"></a>
        <h2>Quais as novidades?</h2>
        <p>Esri Maps for Office versão 2.1 foi lançado em julho de 2013. Inclui as seguintes melhorias:</p>
        <ul>
        <li>Análise de padrões estatísticos através da ferramenta Hot Spot</li>
		<li>Melhoras no enruquecimento de dados , incluindo mais coleções de dados e a capacidade de selecionar as variáveis ​​individuais a partir de coleções de dados</li>
		<li>Suporte para inicio de sessão protegida utilizando OAuth+SAML (AGOL)</li>
        <li>Suporte para inicio de sessão protegida utilizando IWA, PKI (Apenas Portal)</li>
		<li>Melhorias na interface utilizador para gráficos informativos e ferramenta Enriquecer Camada</li>
		<li>Fluxo de trabalho melhorado para atualizar o Google Maps for Office para a versão mais recente</li>
        </ul>


        <h3>Versão anterior</h3>
        <p>Versão 2.0.2 foi lançada em maio de 2013. Inclui as seguintes melhorias:</p>
        <ul>
          <li>Enriquecimento dos seus dados com o contexto geográfico utilizando a nova ferramenta  'Enriquecer Camada ".</li>
		  <li>Selecção de elementos no mapa e localização de elementos próximos de outras camadas </li>
		  <li>Pop-ups do mapa com gráficos informativos que fornecem  informações contextuais sobre as áreas circundantes dos elementos no mapa</li>
		  <li>Suporte de visualização para Portal para ArcGIS 10.2</li>
		  <li>Novas opções de configuração para os mapas de calor e de clustering</li>
		  <li>Capacidade de filtrar elementos agrupados no mapa clicando nos intervalos de classe na legenda do mapa</li>
		  <li>Melhoria doo fluxo de trabalho para geocodificação de endereços</li>
		  <li>Suporte para personalizar a galeria de mapas base da sua organização ArcGIS Online</li>
		  <li>Inserir Mapas utilizando o mapa base padrão da sua organização ArcGIS Online</li>
		  <li>Pesquisa de dados do ArcGIS Online utilizando categorias populares, tais como,  Riqueza, Negócios, Política e Saúde</li>
		  <li>Os nomes de lugares são agora baseados na localização de dados. Por exemplo, as etiquetas no fluxo de trabalho de geocodificação vai mostrar prefeituras no Japão, estados nos Estados Unidos, e províncias no Canadá</li>
		  <li>Suporte para  Microsoft Office 2013</li>
		  <li>Outras qualidades, utilidades e melhorias cartográficas</li>
        </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introdução</h3>
          <ul>
           <li><a href="#whatsNew">Quais as novidades?</a></li>
            <li><a href="#systemRequirements">Requisitos de Sistema</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Ver vídeos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 

	<script src="/pt-pt/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

