---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="pt-pt">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pt-pt/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/pt-pt/maps-for-office/">Início</a></li>
        <li><a href="/pt-pt/maps-for-office/help/">Ajuda</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Fórum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	  <h2 id="appTitle">Descarregar a aplicação</h2>
          <span id="appVersion"><strong>Versão:</strong> 3.0</span>
          <span id="appReleased"><strong>Disponível:</strong> Primavera 2015</span>


          <p>Seja mais produtivo com análise de destino de condução. Traga uma nova dimensão de análise para o Microsoft Office. Começar a ganhar novas percepções e tomar decisões mais informadas imediatamente. Adicionar facilmente mapeamento às suas folhas de cálculo Excell e apresentações PowerPoint.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Obter o Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="Map-your-data.png" />

          <h3>Mapear os seus dados Excel</h3>
          <p>Faça mapas interactivos com os dados das suas folhas de cálculo no Excel. Com alguns cliques criar mapas de calor com código de cores, ponto, ponto-agrupado, e obter pontos de vista insights dos seus dados.</p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="Analyze-your-data.png" />

          <h3>Analise os seus dados Excel em mapas</h3>
          <p>Descobrir padrões e tendências que não são evidentes em dados tabulares e gráficos. Encontre pontos quentes e frios estatisticamente significantes nos seus dados. Efectue pesquisas espaciais usando tempos de condução ou anéis para descobrir registos de interesse próximos. </p>         
        </div>


	<div id="collectorThirdFeature" class="column-12 phone-column-24">
          <img src="Enrich-your-spreadsheets.png" />

          <h3>Enriqueça as folhas de cálculo do seu negócio</h3>
          <p>Adicione dados demográficos e dados de estilo de vida Esri directamente nas folhas de cálculo Excel e obtenha mais contexto acerca dos locais que lhe são importantes. Rapidamente explore localizações "na mosca" usando infográficos pop-up.</p>
        </div>

	<div id="collectorFourthFeature" class="column-12 phone-column-24">
          <img src="Share-your-data.png" />

          <h3>Partilhe os seus mapas a partir do Excel</h3>
          <p>Partilhe os seus mapas usando quer seja o ArcGIS Online quer o Portal for ArcGIS, ou insira-os em correios electrónicos, apresentações Powerpoint, ou documentos Word.</p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Requisitos de sistema</h2>

        <p>O Esri Maps for Office requer uma conta que faça parte de uma organização <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a> e o Microsoft Office Excel ou PowerPoint 2010 ou Microsoft Office Excel ou PowerPoint 2013. Os sistemas operativos suportados são:</p>
		<ul>
		  <li>Windows 7 (32-bit e 64-bit)</li>
		 <li>Windows 8 (32-bit e 64-bit)</li>
		 <li>Windows 8.1 (32-bit e 64-bit)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Para obter informações adicionais, incluindo a velocidade necessária do processador, memória e espaço no disco rígido, consulte os requisitos de sistema para o <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> e <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Quais as novidades?</h2>
        <p>Mapas Esri for Office versão 3.0 foi lançada em Abril 2015. E inclui os seguintes melhoramentos:</p>
        <ul>
        <li>Visualize os seus dados Excel com maior clareza inserindo-os em mais do que um mapa na sua folha de cálculo. Pode criar múltiplos mapas para diferentes tabelas que tenha nas folhas de cálculo.</li>
	<li>Comparar mapas lado-a-lado ou arrastando-os para outros monitores sem congestionar a sua janela Excel.</li>
	<li>Trabalhar facilmente com dados mapeados descobrindo as ferramentas na janela do mapa.</li>
	<li>Aproveite a nova ferramenta de pesquisa para descobrir locais rapidamente.</li>
	<li>Não precisa de ser um especialista GIS para criar mapas bonitos. Ver como o seu mapa irá ficar antes de mapear os dados. Estilos de mapa são recomendados de acordo com os dados que estiver a mapear para obter as melhores percepções visuais.</li>
	<li>Use o sistema de coordenadas à sua escolha e sobreponha facilmente outros conjuntos de dados GIS que estão no seu sistema de coordenadas locais.</li>
	<li>Tipos de localização personalizadas agora incluem elementos de linha</li>
	<li>Mais ajuda para ajudar novos utilizadores a começarem rapidamente e facilmente.</li>
        </ul>


        <h3>Versões anteriores</h3>
        
        <p>Mapas Esri for Office versão 2.1.5 foi lançada no inverno 2015. E inclui os seguintes melhoramentos:</p>
        <ul>
        <li>Suporte para proxies web seguros e não seguros.</li>
        </ul>

	<p>Mapas Esri for Office versão 2.1.4 foi lançado na primavera 2014. Inclui os seguintes melhoramentos:</p>
        <ul>
        <li>Actualizações de segurança.</li>
        </ul>

        <p>Mapas Esri for Office versão 2.1.3 foi lançado na primavera 2014. Inclui os seguintes melhoramentos:</p>
        <ul>
        <li>Suporte para papéis personalizados.</li>
        <li>Os novos parâmetros de instalação silenciosos permitem um maior controlo sobre implementações de larga escala.</li>
        <li>Agora o Maps for Office verifica a conetividade ao ArcGIS e notifica-o sempre que alguns serviços necessários não estejam disponíveis.</li>
		<li>Correcção de erros e usabilidade, incluindo:</li>
			<ul>
			<li>Capacidade de utilizar serviços de mapa alojados como tipos de localização personalizados.</li>
			<li>Foram corrigidos os problemas de visibilidade de camadas em versões localizadas.</li>
			<li>Falhas aleatórias causadas por versões anteriores do Visual Studio Tools for Office foram corrigidas.</li>
			<li>Os localizadores personalizados são agora exibidos utilizando o seu nome ao invés do 'Endereço' no fluxo de trabalho adicionar dados.</li>
			<li>Gestão do registo na desinstalação melhorada.</li>
			<li>Armazenamento de geometrias devolvido pelo ArcGIS mais eficiente.</li>
			<li>Quando está ligado a um Portal, já não são efetuados os pedidos ao ArcGIS Online.</li>
			<li>Vírgulas como separadores decimais são agora geridas corretamente.</li>
			<li>Camadas enriquecidas podem agora ser estilizadas e agrupadas pelas novas colunas adicionadas.</li>
			<li>As janelas pop-up para camadas enriquecidas exibem agora cabeçalhos de coluna corretos.</li>
			<li>Quando está desligado da Internet, as falhas já não ocorrem.</li>
			<li>O Esri Maps for Office em PowerPoint respeita agora o mapa base organizacional padrão.</li>
			</ul>
        </ul>


        <p>Mapas Esri for Office versão 2.1.2 foi lançada em Novembro 2013. Inclui os seguintes melhoramentos:</p>
        <ul>
		<li>Correcção de erros e usabilidade, incluindo:</li>
			<ul>
			<li>Melhoramentos na ferramenta de Enriquecimento de Camada, tais como: uso mais eficiente de memória para lidar com mais pedidos de enriquecimento e um indicador de progresso melhorado.</li>
			<li>Foi corrigido um erro que levava Excel a falhar após a instalação dos Mapas Esri. </li>
			<li>Foi corrigido um erro que exibia imagens incorretas no painel de Pesquisa.</li>
			<li>Foi corrigido um erro que causava que as pesquisas personalizadas de tipo de localização falhassem nos idiomas japonês, russo e chinês.</li>
			<li>Foram limpas strings localizadas referentes a Factos Importantes, Riqueza, Políticas e Saúde no painel Pesquisar.</li>
			</ul>
        </ul>
		
		<p>Versão 2.1.1 foi lançada em Outubro 2013. Inclui os seguintes melhoramentos:</p>
        <ul>
        <li>Novas versões traduzidas suportando agora 22 idiomas:</li>
			<ul>
			<li>Árabe, Chinês (simplificado Han), Dinamarquês, Holandês, Inglês, Estónio, Francês, Alemão, Hebraico, Italiano, Japonês, Coreano, Letão, Lituano, Norueguês, Polaco, Português (Brasil), Português (Portugal), Romeno, Russo, Espanhol e Sueco.</li>
			</ul>
		<li>Suporte para janelas pop-up em mapas web</li>
		<li>Simbologia de elementos utilizando um ícone obtido a partir de um URL num atributo.</li>
		<li>Várias correcções de erros e melhorias de utilização do produto, tais como:
			<ul>
			<li>Melhorada a gestão de inícios de sessão OAuth</li>
			<li>Mais mensagens de erro úteis na ferramenta Localizar Hot Spots</li>
			<li>A ferramenta Localizar Hot Spots suporta agora nomes de colunas com espaços</li>
			<li>A ferramenta Seleccionar suporta agora buffers de tamanho "0"</li>
			<li>Corrigidos erros do painel de tarefas</li>
			<li>Corrigidos erros na visibilidade de grupos</li>
			<li>Melhorado o suporte para organizações que utilizam SSL em todas as ligações</li>
			<li>A funcionalidade agrupar funciona agora correctamente quando são utilizadas colunas adicionadas a partir da ferramenta Enriquecer Camada</li>
			</ul>
        </ul>
		
        <p>Versão 2.1. foi lançada em Julho 2013. Inclui os seguintes melhoramentos: </p>
        <ul>
        <li>Análise de padrões estatísticos através da ferramenta Hot Spot</li>
		<li>Melhoras no enriquecimento de dados, incluindo mais coleções de dados e a capacidade de seleccionar as variáveis ​​individuais a partir de colecções de dados</li>
		<li>Suporte para inicio de sessão protegida utilizando OAuth+SAML (AGOL)</li>
        <li>Suporte para inicio de sessão protegida utilizando IWA, PKI (Apenas Portal)</li>
		<li>Melhorias na interface utilizador para gráficos informativos e ferramenta Enriquecer Camada</li>
		<li>Fluxo de trabalho melhorado para actualizar o Maps for Office para a versão mais recente</li>
        </ul>
		<br>
        <p>Versão 2.0.2 foi lançada em Maio 2013. Inclui os seguintes melhoramentos:</p>
        <ul>
          <li>Enriquecimento dos seus dados com o contexto geográfico utilizando a nova ferramenta 'Enriquecer Camada ".</li>
		  <li>Selecção de elementos no mapa e localização de elementos próximos de outras camadas </li>
		  <li>Pop-ups do mapa com gráficos informativos que fornecem informações contextuais sobre as áreas circundantes dos elementos no mapa</li>
		  <li>Suporte de visualização para o Portal for ArcGIS 10.2</li>
		  <li>Novas opções de configuração para os mapas de calor e de clustering</li>
		  <li>Capacidade de filtrar elementos agrupados no mapa clicando nos intervalos de classe na legenda do mapa</li>
		  <li>Melhoria do fluxo de trabalho para geocodificação de endereços</li>
		  <li>Suporte para personalizar a galeria de mapas base da sua organização ArcGIS Online</li>
		  <li>Inserir Mapas utilizando o mapa base padrão da sua organização ArcGIS Online</li>
		  <li>Pesquisa de dados do ArcGIS Online utilizando categorias populares, tais como, Riqueza, Negócios, Política e Saúde</li>
		  <li>Os nomes de lugares são agora baseados na localização de dados. Por exemplo, as etiquetas no fluxo de trabalho de geocodificação vai mostrar prefeituras no Japão, estados nos Estados Unidos, e províncias no Canadá</li>
		  <li>Suporte para Microsoft Office 2013</li>
		  <li>Outras qualidades, utilidades e melhorias cartográficas</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Introdução</h3>
          <ul>
           <li><a href="#whatsNew">Quais as novidades?</a></li>
            <li><a href="#systemRequirements">Requisitos de sistema</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Ver vídeos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Do nosso blogue</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
