---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/arcgis-online/">تعليمات</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="تعليمات" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ar/arcgis-online/">رئيسي</a></li>
        <li><a href="/ar/arcgis-online/use-maps/">استخدام الخرائط</a></li>
        <li><a href="/ar/arcgis-online/create-maps/">إنشاء الخرائط والتطبيقات</a></li>		
        <li><a href="/ar/arcgis-online/share-maps/">مشاركة الخرائط والتطبيقات</a></li>
	<li><a href="/ar/arcgis-online/administer/">إدارة المنظمة</a></li>
	<li><a href="/ar/arcgis-online/reference/">إسناد</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">استخدم الخرائط والتطبيقات التفاعلية وقم بإنشائهم ومشاركتهم مع باقي أعضاء المنظمة. اكتشاف كيفية.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>استخدام الخرائط</h3>
         
 
         <p>استخدام الخرائط لاسكتشاف البياناتها الجغرافية وفهمها وقياسها.</p>

      
         <p><a href="/ar/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">  عرض البيانات</a> <br/> <a href="/ar/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">  إنشاء عملية التحرير</a><br/> <a href="/ar/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">  تحرير المعالم</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>إنشاء الخرائط والتطبيقات</h3>
          <p>يمكن لبناء الخرائط والتطبيقات التفاعلية الوصول لأي جهاز، في أي مكان وفي أي وقت.</p>


            <p><a href="/ar/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">  إنشاء خريطتك الأولى</a> <br/>

            <a href="/ar/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">  إنشاء تطبيقك الأول</a></p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>مشاركة الخرائط والتطبيقات</h3>
          <p>ضع البيانات للعمل بمشاركة الخرائط والتطبيقات داخل المنظمة أو المجتمع.</p>

         <p><a href="/ar/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">  إضافة العناصر</a> <br/><a href="/ar/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">  مشاركة العناصر</a> <br/> <a href="/ar/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">  نشر المعالم والتجانبات المستضافة</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>إدارة المنظمة</h3>
          <p>قم بتوسيع استخدام GIS عن طريق تكوين ArcGIS Online للمنظمة وتوجيه الدعوة للمستخدمين للانضمام وإدارة الموارد.</p>
          <p>
            <a href="/ar/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">  تكوين الموقع الإلكتروني</a> <br/> <a href="/ar/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">  دعوة المستخدمين</a> <br/> <a href="/ar/arcgis-online/administer/view-status.htm" class="icon-right-arrow">  عرض إحصائيات المؤسسة</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>التطبيقات الجاهزة للاستخدام</h3>
         <p>قم بالاستفادة من التطبيقات جاهزة الاستخدام الخاصة بمجموعة بيانات الحقل، ولوحات المعلومات التشغيلية، وMicrosoft Office، و Sharepoint.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">  تطبيقات ArcGIS</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>واجهات برمجة تطبيقات المطور</h3>
          <p>يتضمن نظام ArcGIS الأساسي APIs وSDKs لإنشاء تطبيقات للمؤسسة والمجتمع ككل.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">   ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>البدء</h3>
		  <p>البرامج التعليمية تساعدك في التعرف على كيفية استخدام نظام ArcGIS الأساسي</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/ar/get-started/web/">استخدام الخرائط</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ar/get-started/services/">مشاركة البيانات</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ar/get-started/organizations/">إدارة المنظمة</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>حول ArcGIS Online</h3>
         <ul>
		 <li><a href="/ar/arcgis-online/reference/what-is-agol.htm"> ما هو ArcGIS Online؟</a></li>
		 <li>
		 <a href="/ar/arcgis-online/reference/whats-new.htm" > ما الجديد</a>
		 </li>
		 <li><a href="/ar/arcgis-online/reference/faq.htm"> الأسئلة المتداولة</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>خريطة.</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>معرفة كيفية استخدام عارض الخرائط المضمن لإنشاء الخرائط.</p>
        <a href="/ar/arcgis-online/reference/videos.htm" class="btn secondary">المزيد من الفيديوهات</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>من المدونة</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">المزيد من نشرات المدونة</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>من على المنتدى</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">المزيد من نشرات المنتدى</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>

