---
title: تعليمات ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ar">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/arcgis-online/">تعليمات ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="تعليمات ArcGIS Online" href="/ar/arcgis-online/">الصفحة الرئيسية</a></li>
        <li><a title="استخدم الخرائط والمشاهد" href="/ar/arcgis-online/use-maps/">استخدام</a></li>
        <li><a title="إنشاء الخرائط والتطبيقات والمشاهد" href="/ar/arcgis-online/create-maps/">إنشاء</a></li>
        <li><a title="مشاركة الخرائط والمشاهد والتطبيقات" href="/ar/arcgis-online/share-maps/">مشاركة</a></li>
        <li><a title="إدارة المنظمة" href="/ar/arcgis-online/administer/">إدارة</a></li>
        <li><a title="المرجع" href="/ar/arcgis-online/reference/">مرجع</a></li>
        <li><a title="تطبيق لكل المستخدمين" href="/ar/arcgis-online/apps/arcgis-apps.htm">تطبيقات</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="ar" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		الخرائط والمشاهد والتحليلات والتطبيقات والتعاون—يمكنك القيام بها جميعًا مع ArcGIS Online.</p>
	
	<p> ما الجديد في ArcGIS؟ ابدأ بعمل الخريطة الأولى أو المشهد الأول أو التطبيق الأول أو المجموعة الأولى. عندما تكون جاهز للتعرف على المزيد جرب الدرس أو استكشف الموضوعات الشائعة. هل أنت مسئول <a href="/ar/arcgis-online/administer/admin-org.htm">المؤسسة</a>؟ تعرف على كيفية استخدام الأدوار المخصصة وإعدادات الأمان والتكوينات المرنة.
	</p> 
	<p>تحقق جيدًا من أحدث الأخبار من <a href="#blog"> المنتدى</a> و <a href="#community">المجتمع</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/ar/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/ar/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/ar/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/ar/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">ما الجديد</h3>
        <p>تحتوي تحديثات يونيو 2016 صفحات العنصر المُحسن وخيارات جديدة لعرض الوقت ودعم طبقات الشبكة المتكاملة وأكثر.
        </p>
			<!--<a href="/ar/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/ar/arcgis-online/reference/whats-new.htm" class="btn secondary">على المزيد عن</a>
      </div>

    </div>
    <div class="column-24">
      <h2>قم بأول</h2>
      <div class="make-first">
        <a href="/ar/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">خريطة</h2></a>
        <a href="/ar/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">مشهد</h2></a>
        <a href="/ar/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">تطبيق</h2></a>
        <a href="/ar/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">مجموعة</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>راجع الموضوعات المشهورة:</h4></li>
        <li><a href="/ar/arcgis-online/reference/faq.htm">الأسئلة المتداولة</a></li>
		<li><a href="/ar/arcgis-online/share-maps/add-items.htm">إضافة العناصر</a></li>
        <li><a href="/ar/arcgis-online/use-maps/perform-analysis.htm">إجراء تحليل</a></li>
		<li><a href="/ar/arcgis-online/share-maps/publish-features.htm">نشر المعالم</a></li>
		<li><a href="/ar/arcgis-online/administer/view-status.htm">عرض الحالة</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>احضر الدرس
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">دروس أكثر <span class="icon-external-link">&nbsp;</span></a></small></span>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">البدء مع ArcGIS Online</a></h3>
          <p>
 تعلم المزيد عن أساسيات جعل الخرائط متصلة بالإنترنت.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">التحليل الديموغرافي والتخطيط الذكي</a></h3>
          <p>
            حدد موقع الأطفال الفقراء باستخدام التحليل الديموغرافي والتخطيط الذكي وتطبيق الويب.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">مسارات الخطة</a></h3>
          <p>
           ساعد أربعة مفتشين صحيين للتفتيش على 36 مطعم في مقاطعة سان دييغو.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">التحليل المكاني</a></h3>
          <p>
            ابحث عن أفضل المناطق لتطوير بناء المنازل للاستخدام المختلط الجديد.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> اقرأ المنتدى
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">منشورات أكثر بالمنتدى <span class="icon-external-link">&nbsp;</span></a></small></span>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">انضم للمناقشة
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">مناقشات أكثر <span class="icon-external-link">&nbsp;</span></a></small></span>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">البحث عن الدورات التدريبية</a></h4>
      <p class="no-trailer">
        البحث عن دورات Esri التدريبية للمزيد من التعليم.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">مشاهدة مقطع الفيديو</a></h4>
      <p class="no-trailer">
        اعرض مجموعة من مقاطع الفيديو حول ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">الحصول على الدعم الفني</a></h4>
      <p class="no-trailer">
        الاتصال بالدعم بواسطة البريد الإلكتروني أو الدردشة او الهاتف.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">التحقق من صحة النظام</a></h4>
      <p class="no-trailer">
        راجع حالة ArcGIS Online ومشكلات التقرير.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
