---
title: تعليمات ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ar">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/arcgis-online/">تعليمات</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="مساعدة ArcGIS Online" href="/ar/arcgis-online/">الأساسي</a></li>
        <li><a title="استخدام الخرائط" href="/ar/arcgis-online/use-maps/">استخدام</a></li>
        <li><a title="إنشاء خرائط وتطبيقات" href="/ar/arcgis-online/create-maps/">إنشاء</a></li>		
        <li><a title="مشاركة الخرائط والتطبيقات" href="/ar/arcgis-online/share-maps/">مشاركة</a></li>
		<li><a title="إدارة المؤسسة" href="/ar/arcgis-online/administer/">إدارة</a></li>
		<li><a href="/ar/arcgis-online/reference/">إسناد</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">استخدم الخرائط والتطبيقات التفاعلية وقم بإنشائهم ومشاركتهم مع باقي أعضاء المنظمة. اكتشاف كيفية.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>استخدام الخرائط</h3>
         
 
         <p>استخدام الخرائط لاسكتشاف البياناتها الجغرافية وفهمها وقياسها.</p>

      
         <p><a href="/ar/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;عرض البيانات</a>
		<br/>
         <a href="/ar/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;إجراء تحليل</a><br/>
         <a href="/ar/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;تحرير المعالم</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>إنشاء الخرائط والتطبيقات</h3>
          <p>يمكن لبناء الخرائط والتطبيقات التفاعلية الوصول لأي جهاز، في أي مكان وفي أي وقت.</p>


            <p><a href="/ar/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;إنشاء خريطتك الأول</a>
			    <br/>

            <a href="/ar/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;إنشاء تطبيقك الأول</a><br/>
			<a href="/ar/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;تعيين خصائص الطبقة والخريطة</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>مشاركة الخرائط والتطبيقات</h3>
          <p>ضع البيانات للعمل بمشاركة الخرائط والتطبيقات داخل المنظمة أو المجتمع.</p>

         <p><a href="/ar/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;إضافة العناصر</a>
         <br/><a href="/ar/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;مشاركة العناصر</a>
         <br/>
	<a href="/ar/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;نشر المعالم المستضافة والتجانبات</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>إدارة المنظمة</h3>
          <p>قم بمد استخدام GIS عن طريق تكوين ArcGIS Online للمنظمة ودعوة الأعضاء للانضمام وإدارة الموارد.</p>
          <p>
            <a href="/ar/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;تكوين موقع الويب</a>
               <br/> <a href="/ar/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;دعوة الأعضاء</a>
               <br/>
            <a href="/ar/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;عرض إحداثيات المؤسسة</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>التطبيقات الجاهزة للاستخدام</h3>
         <p>تعلم المزيد عن التطبيقات الجاهزة للاستخدام والمُضمنة مع ArcGIS Online.</p>
		 <p>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/>
		 <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/>
		  <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a></br><a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/>
		   <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;تطبيقات ArcGIS للهواتف الذكية والأجهزة اللوحية</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>التطبيقات القابلة للتكوين</h3>
          <p>رؤية كيفية استخدام القوالب التي يُمكن تكوينها لإنشاء التطبيقات للمؤسسة والمجتمع.</p>
		 <p><a href="http://links.esri.com/configurableapps" class="icon-right-arrow">&nbsp;&nbsp; تطبيقات Esri التي يُمكن تكوينها</a><br>
		 <a href="http://storymaps.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; خرائط الحكاية</a></br>
		 <a href="http://solutions.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; حلول ArcGIS</a><br></p>
		 
        </div>
        <div class="clear"></div>
          <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>موارد إضافية</h3>
		          <p>اكتشاف المزيد من التطبيقات والخرائط والأدوات للمؤسسة.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> 
				 <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br>
				 <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; الأطلس الحي للعالم</a></br>
				 <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a>
				
			 </p></div>
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>البدء</h3>
		  <p>استمتع بـ ArcGIS Online أثناء تعلم كيفية:</p>
		  
		     <table><tr><td>
		          <ul>
		            <li>استكشاف الخريطة</li>
		            <li>خريطة.</li>
		            <li>إضافة طبقة من الملف</li>
		            <li>تكوين النوافذ المنبثقة</li>
		            <li>إنشاء تطبيق الويب</li>
		          </ul></td>
		          <td valign="top">
		          <ul><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online" class="btn secondary">بدء التشغيل الآن</a>
		            
        </ul></td><tr></table>
    
		 
		<p>اكتشاف الأوجه الأخرى في <a href="http://learn.arcgis.com">تعلم ArcGIS</a><br>
		 هل تبحث عن التدريب؟ إيجاد الدورات التدريبية لـ <a href="http://www.esri.com/training/main/arcgis-online-training">ArcGIS Online</a></p>
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>التفاصيل</h3>
         <ul>
		<li><a href="/ar/arcgis-online/reference/what-is-agol.htm" >&nbsp;ما هو ArcGIS Online؟</a></li>
		<li><a href="/ar/arcgis-online/reference/whats-new.htm" >&nbsp;ما الجديد؟</a></li>
		<li><a href="/ar/arcgis-online/reference/faq.htm">&nbsp;الأسئلة المتداولة</a></li>
		<li><a href="http://doc.arcgis.com/en/trust/">&nbsp;Trust ArcGIS</a></li>
		 
		
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>خريطة.</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>معرفة كيفية استخدام عارض الخرائط المضمن لإنشاء الخرائط.</p>
        <a href="/ar/arcgis-online/reference/videos.htm" class="btn secondary">المزيد من الفيديوهات</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>من المدونة</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">المزيد من نشرات المدونة</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>المناقشات الموجودة على GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2055" class="btn secondary">بدء تشغيل إحدى المناقشات</a>&nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">قراءة المزيد</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
