---
title: تعليمات ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">تعليمات ArcGIS Online</h1>
        </div>
        <div class="leader-1 text-right">
          <p> <a href="http://www.arcgis.com/features/free-trial.html"> <button class="btn margin-left-1 btn-clear">إصدار تجريبي مجاني لمدة 60 يوم</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="تعليمات ArcGIS Online" href="/ar/arcgis-online/">الصفحة الرئيسية</a>
        <a class="sub-nav-link" title="البدء مع ArcGIS Online" href="/ar/arcgis-online/get-started/">البدء</a>
			  <a class="sub-nav-link" title="إنشاء الخرائط والتطبيقات والمشاهد" href="/ar/arcgis-online/create-maps/">إنشاء</a>
        <a class="sub-nav-link" title="إجراء تحليل" href="/ar/arcgis-online/analyze/">تحليل</a>
			  <a class="sub-nav-link" title="مشاركة الخرائط والمشاهد والتطبيقات" href="/ar/arcgis-online/share-maps/">مشاركة</a>
			  <a class="sub-nav-link" title="إدارة المنظمة" href="/ar/arcgis-online/administer/">إدارة</a>
			  <a class="sub-nav-link" title="المرجع" href="/ar/arcgis-online/reference/">المرجع</a>
			  <a class="sub-nav-link" title="تطبيق لكل المستخدمين" href="/ar/arcgis-online/apps/arcgis-apps.htm">التطبيقات</a></span>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>إنشاء خرائط لتلك المسائل بالدقائق</h1>
      <h5> يعرض ArcGIS Online نظام معلومات جغرافي للعالم مكتمل يستند إلى سحابة.</h5>
      <h5>بدء التشغيل باستخدام ArcGIS Online الأن. <a href="http://www.arcgis.com/features/free-trial.html" >قم بالتسجيل للحصول على نسخة تجريبية لـ ArcGIS مجانًا.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <div class="input-group">
                <input type="search" name="q" class="leader input-group-input" placeholder="بحث تعليمات ArcGIS Online">
                <input type="hidden" name="collection" value="help" />
                <input type="hidden" name="product" value="arcgis-online" />
                <input type="hidden" name="language" value="ar" />
                <span class="input-group-button">
                  <button class="icon-ui-search icon-ui-flush" type="submit"></button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>التحديث الحالي:</strong> ديسمبر 2016</li>
        <li><a href="/ar/arcgis-online/reference/whats-new.htm">ما الجديد</a></li>
	      <li><a href="/ar/arcgis-online/reference/faq.htm">الأسئلة المتداولة</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">البدء
        <a class="btn btn-transparent text-white btn-large right" href="/ar/arcgis-online/get-started/online-quick-exercises.htm">مزيد من التدريبات</a></span>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ar/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ar/arcgis-online/get-started/quick-exercise-maps.htm">خريطة.</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 دقائق</p>-
            <p class="trailer-0 text-off-black">قم بإنشاء خريطة ويب كجزء من عملية التحقق داخل المستشفيات في مقاطعة كلارك بولاية نيفادا.</p>
          </div>
          <a href="/ar/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">
              <img alt="" src="img/create-an-app.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">إنشاء تطبيق ويب</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">ساعة واحدة</p>
            <p class="trailer-0 text-off-black">قم بإنشاء تطبيق ويب لانهيارات طينية في ولاية واشنطن.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">انتقل إلى ثلاثي الأبعاد مع عارض المشهد</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 ساعة (20 دقيقة)</p>
            <p class="trailer-0 text-off-black">قم بإنشاء مشهد ثلاثي الأبعاد يعرض شواطئ ومداخل ولاية فلوريدا.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
              <img alt="" src="img/track-crime-rates.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">تتبع معدلات الجريمة</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">40 دقائق</p>
            <p class="trailer-0 text-off-black">قم بإنشاء خريطة لكثافة الجرائم في لينكولن بولاية نبراسكا.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">
              <img alt="" src="img/get-started-with-collector.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">تكوين خريطة المُجمع</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">30 دقيقة</p>
            <p class="trailer-0 text-off-black">قم بإنشاء خريطة لاستخدامها مع Collector for ArcGIS لتجميع البيانات لتقييم الأضرار.</p>
          </div>
          <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">إعداد مؤسسة ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 دقائق</p>
            <p class="trailer-0 text-off-black">قم بتكوين الموقع لمؤسسة ArcGIS جديدة.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">بدء التدريب</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
        <div class="row">
          <h2>&nbsp;</h2>
          <h2 class="text-center">ما الذي يمكن القيام به باستخدام ArcGIS Online؟</h2>
        </div>
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-maps text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">إنشاء خرائط</h3>
              <p class="trailer-half">
                تعلم المزيد عن دور الخرائط لمشاركة GIS مع المستخدمين.
              </p>
              <ul class="bulleted trailer-0">
                <li>
                  <a href="/ar/arcgis-online/get-started/get-started-with-maps.htm">بدء إنشاء الخرائط</a>
                </li>
                <li>
                  <a href="/ar/arcgis-online/share-maps/share-maps.htm">مشاركة الخرائط</a>
                </li>
                <li>
                  <a href="/ar/arcgis-online/get-started/view-maps.htm">عرض الخرائط في عارض الخريطة</a>
                </li>
                <li>
                  <a href="//storymaps.arcgis.com/">استخدم خرائط القصة لسرد قصتك</a>
                </li>
                <li>
                  <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">تعلم كيفية استخدام التخطيط الذكي في ثلاث خطوات</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-globe text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">التعامل مع GIS ثلاثي الأبعاد</h3>
                <p class="trailer-half">
                  اكتساب منظور جديد عن طريق تصور معلومات بطريقة ثلاثية الأبعاد. استخدم إمكانات GIS ثلاثي الأبعاد لمعالجة المشاكل التي يتعذر معالجتها في سياق ثنائي الأبعاد.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ar/arcgis-online/get-started/get-started-with-scenes.htm">بدء إنشاء المشاهد</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/get-started/view-scenes.htm">عرض المشاهد في عارض المشهد</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-3d">الوصول إلى المشاهد ثلاثية الأبعاد الجاهزة للاستخدام في أطلس الحي</a>
                  </li>
                  <li>
                    <a href="/ar/drone2map/quick-start-exercises/3d-mapping.htm">استخدام Drone2Map for ArcGIS لإنشاء طبقات ثلاثية الأبعاد</a>
                  </li>
                </ul>

            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">إجراء تحليل</h3>
                <p class="trailer-half">
                   تجميع المعلومات من العديد من الطبقات وتطبيق عمليات التشغيل المكانية لمعالجة نطاق واسع من المشاكل. استكشاف وتصور النتائج لاتخاذ القرارات واكتساب رؤى أعمق.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ar/arcgis-online/get-started/get-started-with-analysis.htm">البدء مع التحليل</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/analyze/perform-analysis.htm">إجراء تحليل مع الخرائط</a>
                  </li>
                  <li>
                    <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">استكشاف فقر الأطفال باستخدام التحليل الديموغرافي</a>
                  </li>
				  <li>
                    <a href="/ar/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">الإجابة على الأسئلة المكانية باستخدام التخطيط الذكي</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-layers text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">الوصول إلى أطلس الحي</h3>
                <p class="trailer-half">
                  قم بتحريك GIS الخاص بك باستخدام أطلس العالم الحي، ومجموعة عامة خاضعة للإشراف لأفضل الخرائط والتطبيقات المتوفرة، والبيانات من مستخدمي ArcGIS وEsri والشركاء.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="http://links.esri.com/agol-help/living-atlas">الوصول إلى أطلس الحي</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-storymap">استكشاف أطلس الحي من خلال خريطة القصة</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">استعراض طبقات أطلس الحي لإضافتها إلى الخريطة الخاصة بك</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">إضافة محتوى أطلس الحي إلى المشهد الخاص بك</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/get-started/quick-exercise-explore-data.htm">استخدام خريطة أطلس الحي للعثور على الأنماط المكانية</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-collection text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">إدارة البيانات</h3>
                <p class="trailer-half">
                  إنشاء بيانات تصبح متصلة. مشاركة المعالم والمزيد عن طريق نشر الطبقات ويمكن استخدام المعالم الأخرى في الخرائط والمشاهد. تمكين التحرير لتمكين ملاحظات المجتمع.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/ar/arcgis-online/share-maps/hosted-web-layers.htm">نشر المعالم والتجانبات والمزيد في صورة طبقات</a></li>
                  <li>
                    <a href="/ar/arcgis-online/create-maps/edit-features.htm">تحرير المعالم</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/create-maps/take-maps-offline.htm">الحصول على الخرائط غير المتصلة</a>
                  </li>
                  <li>
                    <a href="/ar/arcgis-online/reference/best-practices-layers.htm">تعلم أفضل الممارسات لاستخدام الطبقات في الخرائط</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-share text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">مشاركة العمل</h3>
                <p class="trailer-half">
                  مشاركة عناصر المعلومات الجغرافية الغنية للوصول إلى المستخدمين. ضع معلوماتك القيمة للعمل بواسطة توفير الوصول من خلال العديد من التطبيقات الهائلة وخرائط القصة.
                </p>
                <ul class="bulleted trailer-0">
                  <li><a href="/ar/arcgis-online/get-started/get-started-with-sharing.htm">البدء مع المشاركة</a></li>
                  <li><a href="//storymaps.arcgis.com/en/">استخدام التطبيقات لمشاركة القصة</a></li>
                  <li><a href="/ar/arcgis-online/reference/best-practices-share.htm">تعلم أفضل الممارسات للمشاركة</a></li>
                  <li><a href="/ar/arcgis-online/reference/ogc.htm">مشاركة البيانات من خلال المعايير المفتوحة</a></li>
				  <li><a href="http://opendata.arcgis.com/">المشاركة مع Open Data for ArcGIS</a></li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-applications text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">استخدام التطبيقات</h3>
              <p class="trailer-half">
                تطبيقات ArcGIS هي واجهات استخدام وأدوات يتم التركيز عليها للخرائط والمشاهد والبيانات. يأتي ArcGIS Online مصحوبًا بعشرات التطبيقات التي تُمكِن المؤسسة لإتمام عملها.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="//www.esri.com/software/apps/field">مراجعة تطبيقات الحقل</a></li>
                <li><a href="//www.esri.com/software/apps/office">مراجعة تطبيقات المكتب</a></li>
                <li><a href="//www.esri.com/software/apps/community">مراجعة تطبيقات المجتمع</a></li>
                <li><a href="//www.esri.com/software/apps/builders">إنشاء التطبيقات الخاصة بك</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-search text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">استكشاف العناصر وإدارتها</h3>
              <p class="trailer-half">
                يمنحك ArcGIS Online الوصول إلى نظم معلومات العالم الجغرافية قابلة للبحث مع نطاق واسع من الخرائط والمشاهد والطبقات والتحليلات والتطبيقات المساهمة عن طريق مجتمع GIS والمؤسسة وأنت. يتم تنظيم هذه العناصر داخل معارض المعلومات وبالتالي يمكنك استكشاف المحتوى ذات صلة بعملك بصورة سريعة.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/ar/arcgis-online/reference/geo-info.htm">مراجعة نموذج معلومات ArcGIS</a></li>
                <li><a href="/ar/arcgis-online/share-maps/add-items.htm">أضف العناصر الخاصة بك إلى ArcGIS Online</a></li>
                <li><a href="/ar/arcgis-online/get-started/get-started-with-groups.htm">استخدام المجموعات لمشاركة المعلومات</a></li>
                <li><a href="//links.esri.com/agol-help/living-atlas">العثور على الخرائط والمزيد في أطلس الحي</a></li>
                <li><a href="/ar/arcgis-online/reference/search.htm">استكشاف العناصر في ArcGIS Online</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">إدارة المنظمة</h3>
              <p class="trailer-half">
                بدءً من تكوين الأدوار المخصصة وإعدادات الأمان وصولاً لإدارة التراخيص لعرض تقارير الاستخدام، يشمل ArcGIS Online كل ما تحتاجه لإدارة المؤسسة الخاصة بك.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/ar/arcgis-online/administer/get-started-with-administration.htm">البدء مع الإدارة</a></li>
                <li><a href="//links.esri.com/agol-help/administering-platform">تعلم أفضل الممارسات والموارد للمسئولين</a></li>
                <li><a href="/ar/arcgis-online/reference/roles.htm">التعرف على المستويات والأدوار والامتيازات</a></li>
                <li><a href="/ar/arcgis-online/reference/credits.htm">التعرف على الاعتمادات</a></li>
                <li><a href="/ar/trust/security/security-overview.htm">مراجعة أمن ArcGIS</a></li>
                <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">استعراض أدوات الإدارة الإضافية</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">الحصول على المزيد من ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">مشاهدة الفيديوهات
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">مزيد من الفيديوهات</a></span>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">الاتصال باستخدام ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">قراءة مدونتنا
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">مزيد من نشرات المدونة</a></span>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">الانضمام إلى المحادثة
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">مزيد من المحادثات</a></span>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">قراءة كتاب
        <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">مزيد من الكتب</a></span>
      </h2>
      <div class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">كتاب ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">التعرف على GIS على الويب واستخدامه لإنشاء معلومات جغرافية ومشاركتها. عرض موقع الويب، وتنزيل ملف PDF تفاعلي مجانًا، أو شراء الإصدار المطبوع.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">قراءة الآن</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">الدليل التعليمي لكتاب ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">الحصول على أنشطة وموارد ودروس وبيانات ذات صلة بـ ArcGIS Online وGIS على الويب. متوفر في صورة إصدار مطبوع.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">الشراء الآن</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=308&moduleID=0">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">كتاب صور ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">استكشاف كيفية تصور GIS الحديث وقدرته على الاستشعار عن بُعد. عرض موقع الويب، وتنزيل ملف PDF تفاعلي مجانًا، أو شراء الإصدار المطبوع.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">قراءة الآن</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="http://links.esri.com/agol-help/learn/agol">تناول درس متعمق</a></h5>
          <p class="trailer-0">
            ابحث في &quot;تعلم ArcGIS&quot; للعثور وتدريبات كاملة تحل مشاكل العالم الحقيقي مع ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main/arcgis-online-training">البحث عن الدورات التدريبية</a></h5>
          <p class="trailer-0">
            تعلم المزيد عن ArcGIS من خلال دورات تدريبية بإشراف محاضر، ودورات تدريبية على الويب، وندوات.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">الحصول على الدعم الفني</a></h5>
          <p class="trailer-0">
            الاتصال بدعم Esri عن طريق محادثات الدردشة أو البريد الإلكتروني أو الهاتف.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">التحقق من صحة النظام</a></h5>
          <p class="trailer-0">
             راجع حالة ArcGIS Online ومشكلات التقرير.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
