---
title: <span dir=rtl>تعليمات ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ar">

mobile: true

</span>
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><span dir=rtl><a href="/ar/arcgis-online/">تعليمات ArcGIS Online</a></span></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>--&gt;
    </header>
	<nav>
      <ul>
        <li class='current'><span dir=rtl><a title="تعليمات ArcGIS Online" href="/ar/arcgis-online/">Home</a></span></li>
        <li><span dir=rtl><a title="استخدم الخرائط والمشاهد" href="/ar/arcgis-online/use-maps/">Use</a></span></li>
        <li><span dir=rtl><a title="إنشاء الخرائط والتطبيقات والمشاهد" href="/ar/arcgis-online/create-maps/">Create</a></span></li>		
        <li><span dir=rtl><a title="مشاركة الخرائط والمشاهد والتطبيقات" href="/ar/arcgis-online/share-maps/">مشاركة</a></span></li>
		<li><span dir=rtl><a title="إدارة المنظمة" href="/ar/arcgis-online/administer/">Administer</a></span></li>
		<li><span dir=rtl><a title="المرجع" href="/ar/arcgis-online/reference/">Reference</a></span></li>
		<li><span dir=rtl><a title="التطبيقات الجاهزة للاستخدام" href="/ar/arcgis-online/apps/arcgis-apps.htm">Apps</a></span></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="en" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="en">
      </form>-->

                
	<hr>
  
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/247/000000/width/960/0/00:00:00" title="استخدم الخرائط والمشاهد" class="videoLink colorbox-evlarge cboxElement"><img src="img/perform-analysis.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<a href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00" title="إنشاء الخرائط والتطبيقات والمشاهد" class="videoLink colorbox-evlarge cboxElement"><img src="img/create-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="253" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
      <a href="http://video.arcgis.com/iframe/1341/000000/width/960/0/00:00:00" title="مشاركة العناصر" class="videoLink colorbox-evlarge cboxElement"><img src="img/share-maps-apps.jpg"><img src="/img/playbtn.png" class="playbtn"></a>
		<video width="320" height="240" class="mobileVideo" id="1341" controls="">
       <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
        </video>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><span dir=rtl><a href="/ar/arcgis-online/use-maps/use-maps.htm" class="">استخدم الخرائط والمشاهد</a></span></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><span dir=rtl><a href="/ar/arcgis-online/create-maps/create-maps-and-apps.htm" class="">إنشاء الخرائط والتطبيقات والمشاهد</a></span></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><span dir=rtl><a href="/ar/arcgis-online/share-maps/share-maps-apps.htm" class="">مشاركة العناصر</a></span></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="إجراء تحليل" href="http://video.arcgis.com/iframe/3689/000000/width/960/0/00:00:00"><img src="img/perform-analysis.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="3689" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="نشر طبقات الويب المُستضافة" href="http://video.arcgis.com/iframe/3956/000000/width/960/0/00:00:00"><img src="img/publish-hosted-web-layers.png"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" class="mobileVideo" id="1342" controls="">
         <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
         </video>
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <a class="videoLink colorbox-evlarge cboxElement" title="إدارة المنظمة" href="http://video.arcgis.com/iframe/1340/000000/width/960/0/00:00:00"><img src="img/admin-org.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
	<video width="320" height="240" class="mobileVideo" id="1340" controls="">
    <source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
       </video>
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><span dir=rtl><a class="" href="/ar/arcgis-online/use-maps/perform-analysis.htm">إجراء تحليل</a></span></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><span dir=rtl><a class="" href="/ar/arcgis-online/share-maps/hosted-web-layers.htm">نشر طبقات الويب المُستضافة</a></span></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><span dir=rtl><a class="" href="/ar/arcgis-online/administer/admin-org.htm">إدارة المنظمة</a></span></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><span dir=rtl><a href="http://support.esri.com/en/" target="_blank">الدعم الفني لشركة Esri</a></span></h4>
      <p><span dir=rtl>الاتصال بالدعم بواسطة البريد الإلكتروني أو الدردشة او الهاتف.</span></p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><span dir=rtl><a href="http://ideas.arcgis.com/" target="_blank">أفكار ArcGIS</a></span></h4>
      <p><span dir=rtl>أرسل تعليقاتك على البرنامج.</span></p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><span dir=rtl><a href="http://GeoNet.esri.com/" target="_blank">منتديات ArcGIS</a></span></h4>
      <p><span dir=rtl>انضم إلى المناقشات على Geonet.</span></p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3><span dir=rtl>ما الجديد في ArcGIS Online؟</span></h3>

			<p><span dir=rtl><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">استكشاف الدروس المُوزعة</a></span></p>
			<span dir=rtl><a title="البدء مع ArcGIS Online" href="http://video.arcgis.com/iframe/3958/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">  Watch a video tour</a></span><br/><br/>
			<span dir=rtl><a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png">   البحث عن دورات تدريبية</a></span>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3><span dir=rtl>المرجع السريع</span></h3>
         <ul>   <li><span dir=rtl><a href="/ar/arcgis-online/reference/troubleshoot-account.htm">&nbsp;استكشاف مشاكل تسجيل الدخول</a></span></li>
		<li><span dir=rtl><a href="/ar/arcgis-online/reference/whats-new.htm" >&nbsp;ما الجديد</a></span></li>
		<li><span dir=rtl><a href="/ar/arcgis-online/reference/faq.htm">&nbsp;الأسئلة المتداولة</a></span></li>
		<li><span dir=rtl><a href="/ar/arcgis-online/reference/videos.htm">&nbsp;مقاطع الفيديو</a></span></li>
		<li><span dir=rtl><a href="/ar/trust/system-status/">&nbsp;حالة النظام</a></span></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3><span dir=rtl>من المدونة</span></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <span dir=rtl><a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">المزيد من نشرات المدونة</a></span>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
