<Comment>
title: </Comment>Trust - Systemstatus<Comment>
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="en">

mobile: true

</Comment>
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
<Comment>        <input type="hidden" name="collection" value="help" /></Comment>
<Comment>        <input type="hidden" name="product" value="arcgis-online" />          </Comment>
<Comment>        <input type="hidden" name="language" value="<%= current_language %>" /></Comment>
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/en/trust/">Trust</a></li>
        <li class='current'><a title="ArcGIS Online-systemstatus" href="/en/trust/system-status/">Systemstatus</a></li>
        <li><a title="ArcGIS Online-sikkerhed" href="/en/trust/security/">Sikkerhed</a></li>		
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/en/trust/privacy/">Beskyttelse af personlige oplysninger</a></li>
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/en/trust/compliance/">Overensstemmelse</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">Fejl: Indlejrede data kunne ikke vises.</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online Health Dashboard indeholder statusoplysninger, der har haft verificeret indflydelse p&aring; st&oslash;rstedelen af vores brugere. Da ArcGIS Online er en stor skybaseret platform, har mange h&aelig;ndelser kun begr&aelig;nset virkning p&aring; vores bredere brugerbase, om overhovedet nogen. Denne statusside viser ikke nogen organisationsspecifikke problemer, da vi opmuntrer til, at disse bliver l&oslash;st ved hj&aelig;lp af vores tilg&aelig;ngelige supporttjenester.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
