---
title: Esri Community Maps
css:
  - stat-page-specific
  - colorbox/colorbox


js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init


metatags:
  - <META name="description" content="Community Maps Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="community-maps"><META name="sub_category" content="Community Maps"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Community Maps"><META name="search-category" content="help-general"><META name="subject_label" content="LIVING ATLAS,MAPPING,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="LIVING ATLAS,MAPPING,ARCGIS ONLINE"><META name="content-language" content="en">


mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/community-maps/">Community Maps</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Community Maps">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="community-maps" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
        <nav>
      <ul>
        <li class='current'><a href="/en/community-maps/">Home</a></li>
        <li><a title="How does Community Maps work?" href="/en/community-maps/how-it-works/">How it works</a></li>
        <li><a title="How can you contribute?" href="/en/community-maps/contribute/">Contribute</a></li>
		<li><a title="Who is participating?" href="/en/community-maps/participants/">Participants</a></li>
        <li><a title="How can you use Community Maps?" href="/en/community-maps/use/">Use</a></li>
        <li><a href="/en/community-maps/support/">Support</a></li>




      </ul>
    </nav>
  </div>
</div>


<!-- Page Content -->
<div class="container">


     <div class="column-16 tablet-column-24">
        <header>


                  <h2 id="appTitle">Building the Living Atlas of the World</h2>
                  


          <p>Community Maps is a collaborative effort by Esri and the ArcGIS community to build the <a href="/en/living-atlas/" target="_blank">Living Atlas of the World</a>&mdash;a curated collection of superior online maps and layers compiled from the best available data sources, including organizations such as yours. Get to know more about this exciting program, and find out how your data can be part of this dynamic resource.</p>


        </header>
        <hr />




        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <h3>How it works</h3>
				  <a title="" href="http://video.arcgis.com/iframe/100/000000/width/960/1" class="videoLink colorbox-evlarge" style="max-width: 325px"><img src="HowItWorksMedium.jpg"><img src="/img/playbtn.png" class= "playbtn"></a>
				  <video width="320" height="240" controls id="100" class="mobileVideo">
				    <source src="http://video.arcgis.com/download-video/100/mp4/480">
				  </video>
          <p>Your organization's map data can become part of the community maps that Esri hosts and publishes online. It's easy to join, it's free, and benefits are great.</p>
          <p>
            <a href="/en/community-maps/how-it-works/" class="icon-right-arrow">Show me how</a>
          </p>
        </div>


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <h3>Contribute content</h3>
		  <a title="" href="http://video.arcgis.com/iframe/4049/000000/width/960/1" class="videoLink colorbox-evlarge" style="max-width: 325px"><img src="HowToContribute.jpg" /><img src="/img/playbtn.png" class= "playbtn"></a>
		  <video width="320" height="240" controls id="2194" class="mobileVideo">
			 <source src="http://video.arcgis.com/download-video/4049/mp4/480">
		  </video>
          <p>Whether you're sharing 2D or 3D basemap layers, demographics, imagery, or elevation, Esri Community Maps makes the contribution process simple, with an online Contribution App, extensive training and resources, and a helpful team to answer your questions.</p>
          <p>
            <a href="/en/community-maps/contribute/" class="icon-right-arrow">Show me how</a>
          </p>
        </div>
                
        <div id="collectorDataFeature" class="column-12 phone-column-24">
         <h3>Current contributors</h3>
                 <img src="contributors.jpg" />
          <p>The Esri Community Maps family is made of up of hundreds of local, authoritative contributors all around the world, and the family is growing every day. Will your organization be next?</p>
          <p>
           <a href="/en/community-maps/participants/" class="icon-right-arrow">Show me how</a>
          </p>
        </div>
                
                <div id="collectorDataFeature" class="column-12 phone-column-24">
          <h3>Use Community Maps</h3>
                  <img src="UsingCMJack.JPG" />
          <p>The best part of Community Maps is using the published maps to meet your needs and be more productive. Contributing to Community Maps can be just the beginning to reaching your online GIS goals.</p>
          <p><a href="/en/community-maps/use/" class="icon-right-arrow">Show me how</a></p>
        </div>


        <div class="clear"></div>




        <div class="clear"></div>










      </div>




      <div class="column-8 tablet-column-24 blocks">


        <div class="imgFrame block">
          <h3>Get started</h3>
		  <p> Find out how your organization can leverage Esri Community Maps to host your authoritative layers in our ready-to-use online maps. </p>
          <ul>
           <li><a href="https://communitymaps.arcgis.com/home/login.html" target="_blank">Apply to join</a></li>
			<li><a title="" href="http://video.arcgis.com/iframe/4049/000000/width/960/1" class="colorbox-evlarge">Community Maps quick start video <span class="icon-play"></span></a></li>
			<li><a title="" href="http://www.arcgis.com/home/item.html?id=9238b9012beb4f30adbdd6e709412b6c" class="colorbox-evlarge">Community Maps Data Prep Tools download <span class="icon-play"></span></a></li>

          </ul>
        </div>
        <br />
		
		 <div class="greyFrame">
          <h4><img  src="TwitterIcon.png" /> Follow us on Twitter <a href="https://twitter.com/AGOL_CM_Program" target="_blank">@AGOL_CM_Program ></a></h4>
		  
         </div>
		 
		 <br />
		
		 <div class="greyFrame">
          <h4>Join our <a href="https://geonet.esri.com/groups/livingatlas" target="_blank">GeoNet Community ></a></h4>
		  
         </div>
		 
        <br />

                <!-- Blog Feed -->
          <div class="greyFrame">
          <h4>From our <a href="http://blogs.esri.com/esri/arcgis/category/subject-community-maps/" target="_blank">blog</a></h4>
		  <div id="blog">
            
          </div>
		  
                  </div>
				            
		 
         <br />
        


 </div>


    </div>

<div id="gallery">
  <div class="container">
    <h2>Featured Contributor Maps and Apps</h2>
  	
	 <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=83881980b75a41df82cdf289ddfa6687"><img src="TulsaCrime.jpg" alt="Tulsa Police Crime Map" title="Tulsa Police Crime Map" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=83881980b75a41df82cdf289ddfa6687">Tulsa Police Crime Map</a>
             </div>
     </div>
	 
	 <div >
           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=3dd77c7cad1c466bad5aa757a1feaa9a"><img src="SFPIM.jpg" alt="San Francisco Property Information Map" title="San Francisco Property Information Map" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=3dd77c7cad1c466bad5aa757a1feaa9a">San Francisco Property Information Map</a>
             </div>
           </div>
		   
           <div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=5df8d81384d8482d9f723e7a1670557f"><img src="MasterPlanExplorer.jpg" alt="Master Plan Explorer" title="UMass Amherst Master Plan Explorer" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=5df8d81384d8482d9f723e7a1670557f">UMass Amherst Master Plan Explorer</a>
             </div>
           </div>
		   
	<div class="glimg">
             <a target="_blank" href="http://www.arcgis.com/home/item.html?id=b3daeb8187c5461292acbed6b832a468"><img src="CampusBasemapTour.jpg" alt="Campus Basemap Tour" title="Campus Basemap Tour" /></a>
             <div class="desc">
               <a target="_blank" href="http://www.arcgis.com/home/item.html?id=b3daeb8187c5461292acbed6b832a468">Campus Basemap Tour</a>
             </div>
           </div>
  
  <p><a href="/en/community-maps/gallery/">    More Maps and Apps ></a></p>

  </div>
</div>
   
         

           
         

         </div>
        </div>
		
        <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/subject-community-maps/feed/',
        max: 5,
        layout: 0
      });
    });


/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/


  </script>

