---
title: Trust
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="da">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/da/trust/">Trust</a></li>
        <li><a title="ArcGIS Online-systemstatus" href="/da/trust/system-status/">Systemstatus</a></li>
        <li><a title="ArcGIS Online-sikkerhed" href="/da/trust/security/">Sikkerhed</a></li>
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/da/trust/privacy/">Beskyttelse af personlige oplysninger</a></li>
        <li><a title="ArcGIS Online Beskyttelse af personlige oplysninger" href="/da/trust/compliance/">Overensstemmelse</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS Online er designet som et sikkert system med kontrolleret adgang</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Ejerskab af sikre data" />
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com er din ressource for sikkerhed, beskyttelse af personlige oplysninger og oplysninger om overensstemmelse. S&oslash;g: </p>
      <ul>
        <li>ArcGIS Online-servicetilg&aelig;ngelighed, systemydeevne og statushistorik</li>
        <li>Sikkerhedsopdateringer og aktuelle advarsler</li>
        <li>Oplysninger om produktsikkerhed for ArcGIS Online</li>
        <li>Den bedste sikkerhedspraksis for din organisation</li>
        <li>Beskyttelse af personlige oplysninger og oplysninger om overensstemmelse</li>
      </ul>
      <p>Trust.ArcGIS.com er inspireret af samtaler med vores kunder. Hvad vil du gerne se her? Hvis du har forslag, er du velkommen til at s&aelig;tte dem op p&aring; <a href="http://ideas.arcgis.com">ArcGIS-id&eacute;er</a>.</p>
    </div>
    <div class="clear"></div>

    <div style="text-align:center; padding-top:150px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">
    <div>
      <a href="/da/trust/system-status/" class="btn tertiary" style="width:100%;text-align:center;" >Kontroll&eacute;r systemstatus</a>
    </div>
    <br/>
    <div class="imgFrame block">
      <h3 class="icon-announcement">Advarsler og meddelelser</h3>
      <p>D. 6. juni 2014 modtog ArcGIS Online myndighedernes FISMA Low Authority to Operate (ATO). FISMA-godkendelsesprocessen sikrer, at ArcGIS Online er blevet meget grundigt gennemg&aring;et af en tredjepartsevaluator med henblik p&aring; overensstemmelse med strenge sikkerhedskrav, s&aring;dan som det er angivet i NIST (National Institute of Standards and Technology) Special Publication 800-53. <a href="http://www.esri.com/esri-news/releases/14-2qtr/esri-mapping-platform-secured-for-federal-agencys-use">Forts&aelig;t med at l&aelig;se...</a></p>
    </div>
    <br />
    <div class="panel">
      <h4>&quot;Esri er forpligtet p&aring; kontinuerligt at forbedre sikkerheden p&aring; sin kortplatform og til at styrke kundernes tillid via godkendelser som f.eks. FISMA.&quot;</h4>
      <p>Michael Young, Principal Security Architect, Esri</p>

    </div>
    <br/>
    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/da/trust/security-concern/"> Rapport&eacute;r et sikkerhedsproblem</a>  </h4>
    </div>
  </div>

 </div>

  <!-- <script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });


    });


  </script>  -->
