---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2014-10-27"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="ko"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ko/collector/">홈</a></li>
        <li><a href="/ko/collector/android/create-maps/create-maps.htm">맵 생성</a></li>
        <li><a href="/ko/collector/android/collect-data/collect-tutorial.htm">데이터 수집</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">포럼</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">연결 상태에 상관 없이 스마트폰이나 태블릿을 사용하여 현장에서 정보를 수집하고 업데이트합니다.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a> <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>맵 생성 및 공유</h3>
          <p>ArcGIS 범위를 현장으로 확장하고 공간 데이터의 정확도와 최신 상태를 향상시킵니다. 2단계를 거쳐 데이터 수집용 맵을 생성하고 공유합니다.</p>
          <p>
            <a href="/ko/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;방법 표시</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>데이터 수집</h3>
          <p>피해 보고서 및 서비스 요청부터 시간대별 관심 장소까지 사용자의 기관에 중요한 데이터를 생성합니다. 이미지와 비디오를 쉽게 포함하고 작업을 공유합니다.</p>
          <p>
            <a href="/ko/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;방법 표시</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">비디오 보기</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>오프라인으로 전환</h3>
          <p>현장 작업은 데이터 연결이 없는 장소에서 이루어집니다. 맵과 데이터를 오프라인으로 가져와 데이터를 수집한 다음 재연결되면 다시 동기화합니다.</p>
          <p>
            <a href="/ko/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;방법 표시</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>템플릿으로 시작</h3>
          <p>귀하의 산업에는 고유한 공통의 데이터셋이 있습니다. 템플릿을 다운로드하여 필요한 기본 데이터 구조를 생성한 다음 특정 작업에 맞게 사용자 정의합니다.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;다운로드 보기</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">특징</h2>
	<p>현장에서 데이터를 수집 및 업데이트하고 현재 위치를 기록한 다음 캡처한 데이터를 작동시키면 더 많은 정보를 바탕으로 시기 적절하게 의사를 결정할 수 있습니다. 어디서든 맵을 사용하여 데이터를 검증하고, 관찰하고, 이벤트에 응답합니다. 현장 인력의 효율성과 GIS의 정확성이 향상됩니다.</p>
	
	<ul>
	<li>맵을 장치에 다운로드하여 오프라인으로 작업합니다.</li>
	<li>GPS를 사용하여 맵 데이터를 생성하고 업데이트합니다.</li>
	<li>포인트, 라인 및 영역 피처를 수집합니다.</li>
	<li>사용하기 쉬운 맵 기반 양식을 작성합니다.</li>
	<li>장소를 찾고 길찾기를 표시합니다.</li>
	<li>방문한 영역을 추적하고 보고합니다.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">시스템 요구 사항</h2>

        <p>Collector를 실행하기 위한 특정 장치 요구 사항과 함께 앱 내에서 사용되는 데이터에 대한 요구 사항이 있습니다. Collector는 여러 언어로 지원됩니다.</p>


        <h3>데이터 요구 사항</h3>
        <p>Collector에서 맵을 사용하려면 ArcGIS 기관 계정이 있어야 합니다. 맵에 ArcGIS Online, Portal for ArcGIS 및 ArcGIS for Server의 데이터를 포함할 수 있습니다.</p>


        <h3>장치 요구 사항</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0(Ice Cream Sandwich) 이상</li>
          <li>Armv7 또는 x86 프로세서</li>
          <li>OpenGL ES 2.0 지원</li>
          <li>자세한 위치(GPS 및 네트워크 기반) 지원</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7 이상</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td><tr></table>


        <h3>지원되는 언어</h3>
        <p>아랍어, 체코어, 덴마크어, 네덜란드어, 영어, 에스토니아어(<span class="icon-android"/>), 핀란드어, 프랑스어, 독일어, 히브리어, 이탈리아어, 일본어, 한국어, 라트비아어(<span class="icon-android"/>), 리투아니아어(<span class="icon-android"/>), 노르웨이어, 폴란드어, 포르투갈어(브라질), 포르투갈어(포르투갈), 루마니아어, 러시아어, 중국어(간체), 스페인어, 스웨덴어, 태국어 및 터키어를 지원합니다.</p>
        <p>앱에서 사용되는 언어는 장치 언어 설정에 따라 결정됩니다.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">새로운 기능</h2>
        <p>Collector for ArcGIS 10.2.7은 2014년 10월에 출시되었습니다. 향상된 기능은 다음과 같습니다.</p>
        <ul>
          <li>iPhone 6 및 iPhone 6 Plus 지원</li>
          <li>다양한 버그 수정 및 개선, NIM102100, NIM104542, BUG-000081246, BUG-000082006, BUG-000082039, BUG-000082043, BUG-000082435, BUG-000082634 포함</li>
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">사용 힌트 보기</h2>
	<p>현재 Collector는 현장에서 데이터를 수집하고 편집하는 데 뛰어난 앱입니다. 하지만 향상된 기능은 더욱 많습니다. 다음은 이 앱을 사용할 수 있는 분야입니다.</p>
	
	<ul>
	  <li>오프라인 현장 작업 계획을 위한 더 많은 도구</li>
	  <li>더 스마트한 데이터 수집 양식(관련 테이블 포함)</li>
	  <li>오프셋으로 데이터 수집</li>
	  <li>애드혹 컬렉션 지원</li>
	  <li>주변 기기(레이저 거리 측정기, 바코드 스캐너 등) 통합</li>
	</ul>	
	
	<p><a href="http://ideas.arcgis.com/">아이디어</a>를 공유하고 <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">의견을 제공</a>해 주세요.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>세부정보</h3>
	          
	  <h4><a href="#features">특징</a></h4>
	  <h4><a href="#systemRequirements">시스템 요구 사항</a></h4>
	  <h4><a href="#whatsNew">새로운 기능</a></h4>
	  <h4><a href="#sneakPeek">사용 힌트 보기</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
