---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Prima pagină</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Creare hărţi</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Colectare date</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Descărcaţi aplicaţia</h2>
          <span id="appVersion"><strong>Versiune:</strong> 10.2</span> <span id="appReleased"><strong>Lansare:</strong> Noiembrie 2013</span>


          <p>Utilizaţi-vă telefonul smartphone pentru a colecta şi actualiza informaţii pe teren, jurnaliza locaţia curentă şi introduce datele pe care le capturaţi în activitatea dvs., astfel încât să puteţi lua decizii mai bine informaţi şi la timp.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Cerinţe de sistem</a> <a id="appWhatsNew" href="#whatsNew">Ce este nou</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Creaţi şi partajaţi o hartă</h3>
          <p>Extindeţi ArcGIS pe teren şi îmbunătăţiţi precizia şi actualitatea datelor dvs. spaţiale. Creaţi şi partajaţi hărţi pentru colecţii de date în doi paşi.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Colectaţi date</h3>
          <p>Găsirea unor locuri de interes, calcularea distanţelor, crearea solicitărilor de service şi raportarea daunelor sunt numai câteva din capabilităţile unei hărţi pentru colectarea datelor. Creaţi date inteligente cu imagini şi videoclipuri şi partajaţi-le cu toată lumea în cinci paşi simpli.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">Vizionaţi un videoclip</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Cerinţele de sistem</h2>

        <p>Pentru executarea Collector există anumite cerinţe de sistem, dar şi cerinţe în privinţa datelor utilizate în cadrul aplicaţiei. Collector oferă suport în mai multe limbi.</p>


        <h3>Cerinţe pentru date</h3>
        <p>Pentru a vă utiliza hărţile în Collector, trebuie să aveţi un cont ArcGIS de organizaţie. Hărţile dvs. pot include date din ArcGIS Online, Portal for ArcGIS şi ArcGIS for Server.</p>


        <h3>Cerinţe pentru dispozitiv</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>sau o versiune ulterioară</li>
          <li>Procesor Armv7</li>
          <li>Suport OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 sau ulterior</li>
        </ul></td><tr></table>


        <h3>Limbi acceptate</h3>
        <p>arabă, cehă, chineză simplificată, coreeană, daneză, ebraică, engleză, estoniană (<span class="icon-android"/>), finlandeză, franceză, germană, italiană, japoneză, letonă (<span class="icon-android"/>), lituaniană (<span class="icon-android"/>), norvegiană, olandeză, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă şi suedeză.</p>
        <p>Limba utilizată de aplicaţie este determinată de setarea pentru limbă din telefonul dvs.</p>


        <a name="whatsNew"></a>
        <h2>Ce este nou</h2>
        <p>Collector for ArcGIS versiunea 10.2 a fost lansată în noiembrie 2013 cu următoarele îmbunătăţiri:</p>
        <ul>
        <li>Experienţă pentru utilizator actualizată</li>
        <li>Experienţă dedicată pentru tablete şi iPad</li>
        <li>Suport pentru colectarea de linii şi poligoane</li>
        <li>Transmisie GPS</li>
        <li>Fluxuri de lucru pentru colectare îmbunătăţite</li>
        <li>Îmbunătăţiri aduse răspunsului la atingere</li>
        <li>Diverse îmbunătăţiri şi remedieri de defecte</li>
        <li>Suport pentru date de autentificare de companie</li>
        <li>Suport pentru alte limbi</li>
        <li>Probleme Android rezolvate: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Probleme iOS rezolvate: NIM094438, NIM094401</li>
        </ul>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Începeţi</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Tur cu îndrumări</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Creaţi şi partajaţi o hartă</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Colectaţi date</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
