---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2016-03-01"><META name="product" content="collector-android,collector-ios,collector-windows"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="ro"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/collector/">Prima pagină</a></li>
        <li><a href="/ro/collector/android/create-maps/create-maps.htm">Creare hărţi</a></li>
        <li><a href="/ro/collector/android/collect-data/collect-tutorial.htm">Colectare date</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Utilizaţi propriul telefon smartphone sau propria tabletă pentru a colecta şi actualiza informaţii, indiferent dacă sunteţi sau nu online.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://www.microsoft.com/store/apps/9wzdncrdg7lk"><img src="https://cmsresources.windowsphone.com/devcenter/common/resources/images/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" style="margin:10px; vertical-align:middle; height:40px"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Creaţi şi partajaţi o hartă</h3>
          <p>Extindeţi ArcGIS pe teren şi îmbunătăţiţi precizia şi actualitatea datelor dvs. spaţiale. Creaţi şi partajaţi hărţi pentru colecţii de date în doi paşi.</p>
          <p>
            <a href="/ro/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Colectaţi date</h3>
          <p>Creaţi datele relevante pentru organizaţia dvs., pornind de la rapoarte de daune şi solicitări de acces la servicii la locuri de interes istoric. Includeţi cu uşurinţă materiale foto şi video şi partajaţi-vă munca.</p>
          <p>
            <a href="/ro/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />

			<a title="Colectaţi date" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Vizionaţi un videoclip</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Lucraţi offline</h3>
          <p>Lucrul pe teren vă duce în locuri în care nu sunt disponibile conexiuni de date. Luaţi-vă hărţile şi datele offline, colectaţi date şi sincronizaţi-vă la loc după ce vă reconectaţi.</p>
          <p>
            <a href="/ro/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Începeți prin folosirea șabloanelor</h3>
          <p>Domeniul dvs. lucrează cu seturi de date proprii. Descărcaţi şabloane pentru a crea structura de date de bază de care aveţi nevoie şi particularizaţi-o pentru lucrarea dvs. particulară.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Vizualizare descărcări</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Caracteristici</h2>
	<p>Colectaţi şi actualizaţi date pe teren, jurnalizaţi locaţia curentă şi introduceţi datele pe care le culegeți în activitatea dvs., astfel încât să puteţi lua decizii informate și în timp util. Utilizaţi hărţi oriunde pentru a vă plasa datele în spaţiu, a face observaţii şi a reacţiona la evenimente. Veţi îmbunătăţi eficienţa agenţilor din teren şi precizia sistemului dvs. GIS.</p>
	
	<ul>
	<li>Descărcaţi hărţi pe dispozitivul dvs. şi lucraţi offline.</li>
	<li>Utilizaţi funcţia GPS pentru a crea şi actualiza date de hartă.</li>
	<li>Colectaţi obiecte spaţiale punctuale, liniare şi de suprafaţă.</li>
	<li>Completaţi formulare uşor de utilizat, specifice hărţilor.</li>
	<li>Găsiţi locuri şi obiecte spaţiale.</li>
	<li>Monitorizaţi şi raportaţi zonele vizitate.</li>	
	<li>Integraţi în <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-apple"/>).</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Cerinţele de sistem</h2>

        <p>Pentru executarea Collector există anumite cerinţe de sistem, dar şi cerinţe în privinţa datelor utilizate în cadrul aplicaţiei. Collector oferă suport în mai multe limbi.</p>


        <h3>Cerinţe pentru date</h3>
        <p>Pentru a vă utiliza hărţile în Collector, trebuie să aveţi un cont ArcGIS de organizaţie. Hărţile dvs. pot include date din ArcGIS Online, Portal for ArcGIS şi ArcGIS for Server.</p>


        <h3>Cerinţe pentru dispozitiv</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) sau o versiune ulterioară</li>
          <li>Procesor ARMv7 sau x86</li>
          <li>Suport OpenGL ES 2.0</li>
          <li>Suport pentru localizare precisă (prin GPS şi prin reţea)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 8 sau ulterior</li>
          <li>iPhone, iPad, iPod touch</li>
        </ul></td>
        <td valign="top"><h4 class="icon-windows-8">Windows</h4>
        <ul>
          <li>Windows 10 sau versiunile ulterioare (tabletă şi PC)</li>
        </ul></td></tr>
        </table>


        <h3>Limbi acceptate</h3>
        <p>arabă, cehă, chineză simplificată, chineză tradiţională (Hong Kong), chineză tradiţională (Taiwan), daneză, olandeză, engleză, estoniană (<span class="icon-android"/>, <span class="icon-windows-8"/>), finlandeză, franceză, germană, greacă, ebraică, italiană, japoneză, coreeană, letonă (<span class="icon-android"/>, <span class="icon-windows-8"/>), lituaniană (<span class="icon-android"/>, <span class="icon-windows-8"/>), norvegiană, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă, suedeză, thailandeză, turcă şi vietnameză.</p>
        <p>Limba utilizată de aplicaţie este determinată de setarea pentru limbă din dispozitivul dvs.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Ce este nou</h2>
        <!--p>Collector for ArcGIS 10.3.7 was released on Windows in February 2016, and on Android and iOS in March 2016. It includes the following enhancements:</p>
        <ul>
	  <li>Support for advanced offline options to optimize download and sync</li>          
	  <li>Various bug fixes and improvements, including <a href="http://support.esri.com/en/bugs/nimbus/QlVHLTAwMDA5MjY2Mw==">BUG-000092663</a></li>
        </ul-->
        <table>
          <tr>
            <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
              <p>Collector for ArcGIS 10.3.8 a fost lansat în martie 2016. Include următoarele îmbunătăţiri:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
              <p>Collector for ArcGIS 10.3.7 a fost lansat în martie 2016. Include următoarele îmbunătăţiri:</p>
            </td>
            <td valign="top" width="250px;"><h4 class="icon-windows-8">Windows</h4>
              <p>Collector for ArcGIS 10.3.7 a fost lansat în februarie 2016. Include următoarele îmbunătăţiri:</p>
            </td>
          </tr>
          <tr>
            <td valign="top"><ul>
              <li>Suport pentru opţiuni offline avansate, pentru a optimiza descărcarea şi sincronizarea</li>          
              <li>Diverse îmbunătăţiri şi remedieri de defecte, inclusiv BUG-000092663</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Suport pentru opţiuni offline avansate, pentru a optimiza descărcarea şi sincronizarea</li>
            </ul></td>
            <td valign="top"><ul>
              <li>Suport pentru opţiuni offline avansate, pentru a optimiza descărcarea şi sincronizarea</li>
            </ul></td>
          </tr>
        </table>

	<a name="sneakPeek"></a>
	<h2 class="divider">Scurtă prezentare</h2>
	<p>În prezent, Collector este o aplicaţie excelentă pentru colectarea şi editarea datelor pe teren. Însă urmează multe alte lucruri!
	
	<table><tr><td valign="top"><h4>În curs de dezvoltare</h4>
	<p>Momentan lucrăm la adăugarea acestor obiecte spaţiale:</p>
	<ul>
		<li>Suport pentru receptoare GNSS externe</li>
		<li>Suport pentru Windows 10 Mobile</li>
		<li>Integrare în <a href="http://doc.arcgis.com/en/navigator">Navigator for ArcGIS</a> (<span class="icon-android"/>)</li>
	</ul>
	</td>
	<td valign="top"><h4>Planificat</h4>
	<p>În timp, dorim să adăugăm următoarele caracteristici:</p>
	<ul>
		  <li>Formulare mai inteligente pentru colectarea datelor</li>
		  <li>mai multe instrumente pentru planificarea operaţiunilor pe teren offline</li>
		  <li>Colectare a datelor cu abateri</li>
		  <li>Integrare a dispozitivelor periferice (dispozitive de măsurare cu laser, scannere de coduri de bare etc.)</li>
	</ul>
	</td></tr></table>

	<p>Împărtăşiţi <a href="http://ideas.arcgis.com/">ideile</a> şi <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">trimiteţi-ne părerile dvs</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Detalii</h3>
	          
	  <h4><a href="#features">Obiecte spaţiale</a></h4>
	  <h4><a href="#systemRequirements">Cerinţele de sistem</a></h4>
	  <h4><a href="#whatsNew">Ce este nou</a></h4>
	  <h4><a href="#sneakPeek">Scurtă prezentare</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
