---
title: דווח על בעיית אבטחה
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/he/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/he/trust/">Trust</a></li>
        <li><a title="סטטוס המערכת של ArcGIS Online" href="/he/trust/system-status/">סטטוס המערכת</a></li>
        <li><a title="אבטחת ArcGIS Online" href="/he/trust/security/">אבטחה</a></li>
        <li><a title="פרטיות ArcGIS Online" href="/he/trust/privacy/">פרטיות</a></li>
        <li><a title="פרטיות ArcGIS Online" href="/he/trust/compliance/">תאימות</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">דווח על בעיית אבטחה</h2>
      </header>
	  <section>
		<p data-langlabel="">אנא מלא את הטופס שבצד וציין את כל המידע הרלוונטי, כולל פרטים מתאימים על הבעיה הספציפית שלך. פרטי ההתקשרות שלך ישמשו כדי להמשיך את הטיפול במידע שסיפקת. אנא בחר את הנושא המתאים מתוך התפריט הנפתח של הנושאים.</p>
		<ul>
			<li data-langlabel="">נקודת תורפה - דווח על נקודת תורפה שנמצאה באתר או באפליקציה שלנו.</li>
			<li data-langlabel="">דואר אלקטרוני חשוד מ-Esri - אם אתה סבור שנפלת קורבן למתקפת דיוג אפשרית מכתובת דואר אלקטרוני של Esri, או שקיבלת תכתובת דואר אלקטרוני חשודה אחרת מ-Esri.</li>
			<li data-langlabel="">בעיית פרטיות - אם יש לך בעיית פרטיות הקשורה לאפליקציה או לארגון שלנו.</li>
			<li data-langlabel="">אחר - לכל עניין אחר הקשור לאבטחה, פרטיות או תאימות.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">מדיניות דיווח על נקודות תורפה</h3>
	  </header>
      
        <p data-langlabel="">צוות האבטחה של ArcGIS.com מכיר בתפקיד החשוב שממלאים חוקרי אבטחה עצמאיים בתחום אבטחת האינטרנט. אנו מעודדים דיווח אחראי על כל נקודת תורפה המתגלית באתר או באפליקציה שלנו. Esri פועלת מתוך מחויבות לעבוד יחד עם קהילת האבטחה כדי לאמת נקודות תורפה פוטנציאליות שאנו מקבלים דיווחים עליהן ולטפל בהן. Esri לא תגיש תביעה ולא תתחיל חקירה משטרתית כנגדך אם תציית למדיניות זו.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>אינה</strong> מתירה את הסוגים הבאים של מחקר אבטחה</h4>
	  </header>
	  <ul>
			<li data-langlabel="">גרימה או ניסיון לגרימה של מצב מניעת שירות (DoS).</li>
		<li data-langlabel="">שימוש בכלי אבטחה אוטומטיים ללא הסכמתה המפורשת של Esri. שימוש בכלים אוטומטיים עלול להביא לחקירה או לחסימת כתובות ה-IP שלך.</li>
		<li data-langlabel="">גישה או ניסיון גישה אל נתונים או מידע שאינם שייכים לך.</li>
		<li data-langlabel="">השמדה או שיבוש, או ניסיון להשמיד או לשבש, נתונים או מידע שאינם שייכים לך.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">המחויבות של צוות האבטחה של ArcGIS.com</h4>
	  </header>
		<p data-langlabel="">לכל חוקרי האבטחה שיצייתו למדיניות הדיווח על נקודות תורפה של ArcGIS.com, צוות האבטחה של ArcGIS.com מתחייב:</p>
		
		<ul>
		<li data-langlabel="">להגיב במהירות ולאשר את קבלת הדיווח.</li>
		<li data-langlabel="">לספק מסגרת זמן משוערת לטיפול בנקודת תורפה זו.</li>
		<li data-langlabel="">להודיע לאדם שדיווח על כך לאחר שנתקן את נקודת התורפה.</li>		
		</ul>
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">שם: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">כתובת דואר אלקטרוני: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">מספר טלפון: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">ארגון <span class="optional">(אופציונלי):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">נושא: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">נקודת תורפה</option>
				  <option value="Suspicious E-mail from Esri">דואר אלקטרוני חשוד מ-Esri</option>
				  <option value="Privacy Issue">בעיית פרטיות</option>
				  <option value="audi">אחר</option>
			  </select>

			  <label data-langlabel="" for="description">תיאור: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">כדי לעזור למנוע ספאם אוטומטי, הזן את הספרות המוצגות: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">ספרות: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="פנימי" name="source" id="source">

			  <input value="מילולי" name="resultType" id="resultType" type="hidden">
			  <input value="בעיית אבטחה" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="he" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">שלח</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>אנו מודים לך על הדיווח על בעיה זו. נבדוק את הנושא ונתייחס לפנייתך תוך כמה ימי עסקים.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>אירעה שגיאה במהלך השליחה. אנא הגש את פנייתך שוב במועד מאוחר יותר.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">חזור אל <a id="feedback-referring-link" href="">הדף שממנו הגעת</a></span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">הגש</a> דיווח על בעיית אבטחה נוספת</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

