---
title: Ajutor ArcGIS Open Data
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="ro">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/open-data/">Fereastra principală</a></li>
        <li><a href="/ro/open-data/consumer/">Pentru clienţi</a></li>
        <li><a href="/ro/open-data/provider/">Pentru furnizori</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Ce este ArcGIS Open Data?</h2>

          <p>Serviciul Open Data permite organizaţiilor să utilizeze platforma ArcGIS pentru a furniza publicului acces deschis la datele create de ele. Organizaţiile configurează un site web cu un aspect şi funcţionalităţi particularizate şi specifică grupuri Open Data pentru a partaja anumite elemente. Publicul general poate utiliza site-uri de tip Date deschise pentru a căuta după subiect sau locaţie, descărca date în multiple formate şi vizualiza date pe o hartă interactivă şi într-un tabel.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Pentru clienţi </h3>
          <p>Interacţionaţi cu datele prin intermediul diagramelor, tabelelor şi hărţilor pentru a afla informaţii despre comunitatea dvs. Descoperiţi, exploraţi şi descărcaţi date sau partajaţi un link către un set de date interesant.</p>
          <p>

			<a href="/ro/open-data/consumer/" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Pentru furnizori</h3>
          <p>Configuraţi un site web particularizat şi selectaţi datele de autor pe care doriţi să le partajaţi. Permiteţi oricui să caute, să vizualizeze şi să descarce datele dvs. în formate multiple.</p>
          <p>
            <a href="/ro/open-data/provider/" class="icon-right-arrow">&nbsp;Arată-mi cum</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Caracteristici</h2>

        <p>Creaţi şi partajaţi propriile date utilizând fluxurile de lucru pe care le cunoaşteţi deja pentru a crea un site Open Data.</p>
		<ul>
			<li>Activaţi Open Data pentru organizaţia şi grupurile dvs.</li>
			<li>Creaţi site-uri particularizate pentru datele dvs.</li>
			<li>Permiteţi căutarea federalizată în organizaţii şi grupuri.</li>
			<li>Furnizaţi suport pentru tabele spaţiale şi non-spaţiale.</li>
			<li>Furnizaţi filtre interactive pentru a explora date.</li>
			<li>Partajaţi linkuri către vizualizări filtrate ale seturilor de date.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Cerinţe pentru date</h2>
        <p>ArcGIS Open Data funcţionează în prezent cu date din straturi tematice de obiecte spaţiale găzduite, servicii de obiecte spaţiale ArcGIS Server, servicii de hărţi ArcGIS Server, servicii de imagini ArcGIS Server, fişiere CSV, tabele găzduite. ArcGIS Open Data oferă suport limitat pentru URL-uri externe, hărţi web şi alte documente (cum ar fi documente Word şi PDF-uri).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Ce este nou</h2>
		<p>Open Data a fost actualizat în iulie 2015 cu următoarele caracteristici şi funcţionalităţi: </p>
		
		<ul>
			<li>Vizualizări de densitate sub formă de grilă pentru seturi de date mari (GeoHash).</li>
			<li>Suport pentru metadate formale din ArcGIS Online.</li>
			<li>Autentificaţi-vă şi înregistraţi-vă cu conturi ArcGIS Online.</li>
			<li>Utilizator şi administrator comentând la seturile de date.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Scurtă prezentare</h2>
		<p>ArcGIS Open Data tocmai a fost lansat şi avem în plan multe lucruri incitante:</p>
		
		<ul>
			<li>Informaţii statistice despre datele dvs. pentru a monitoriza numărul de descărcări şi detaliile despre vizualizări.</li>
			<li>Control administrativ mai bun asupra seturilor de date şi colectării.</li>
			<li>Experienţă de utilizare îmbunătăţită pentru căutarea şi filtrarea seturilor de date.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Partajaţi <a class="" href="http://ideas.arcgis.com">idei</a> privind locul în care va ajunge ArcGIS Open Data!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Detalii</h3>
	          
	  <h4><a href="#features">Obiecte spaţiale</a></h4>
	  <h4><a href="#dataRequirements">Cerinţe pentru date</a></h4>
	  <h4><a href="#whatsNew">Ce este nou</a></h4>
	  <h4><a href="#SneakPeek">Scurtă prezentare</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Site-ul de idei al ArcGIS</h3>
         <p>Partajaţi idei privind locul în care va ajunge ArcGIS Open Data! Trimiteţi o sugestie sau votaţi ideile existente.</p> <br/>
         <p>Sunteţi un furnizor în căutare de idei? Vedeţi ce solicită clienţii. Invitaţi colaboratorii să coopereze privat cu dvs. pentru dezvoltarea ideilor.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


