---
title: Trust ArcGIS
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - rssfeed

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ja">


mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Trust ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="/ja/trust/system-status/">システム ステータスのチェック</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/trust/" selected>信頼性</option>
        <option value="/en/trust/system-status/">ArcGIS Online のシステム ステータス</option>
        <option value="/en/trust/security/">セキュリティ</option>
        <option value="/en/trust/privacy/">プライバシー</option>
        <option value="/en/trust/compliance/">コンプライアンス</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link is-active" href="/ja/trust/">信頼性</a>
        <a class="sub-nav-link" href="/ja/trust/system-status/">ArcGIS Online のシステム ステータス</a>
        <a class="sub-nav-link" href="/ja/trust/security/">セキュリティ</a>
        <a class="sub-nav-link" href="/ja/trust/privacy/">プライバシー</a>
        <a class="sub-nav-link" href="/ja/trust/compliance/">コンプライアンス</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-0">
      <h1>ArcGIS - 安全で信頼性の高いロケーション プラットフォーム</h1>
      <h5>Trust.ArcGIS.com は、セキュリティ、プライバシー、コンプライアンスに関する情報のリソースです。</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <p class="trailer-0 leader-0 font-size--2">
        <a href="http://www.fedramp.gov/"><img src="img/fedramp.png"/></a>
        <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a>
        <a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a>
        <a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="/ja/trust/security-concern/" class="icon-ui-notice-triangle">セキュリティ上の問題を連絡</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>


<div class="grid-container leader-1 trailer-2">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/trust/system-status/">ArcGIS Online のシステム ステータス</a>
          </h5>
          <p>ArcGIS Online のサービスの入手方法、システム パフォーマンス情報、ステータス履歴を確認します。</p>
        </div>
        <a href="/ja/trust/system-status/" class="btn btn-clear btn-fill leader-0">詳細</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/trust/security/">セキュリティとベスト プラクティス</a>
          </h5>
          <p>ArcGIS のセキュリティ機能の概要を把握します。ベスト プラクティスを用いてこれらの機能を実装します。</p>
        </div>
        <a href="/ja/trust/security/" class="btn btn-clear btn-fill leader-0">詳細</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/trust/privacy/">ユーザーのプライバシーと Esri</a>
          </h5>
          <p>Esri のプライバシーに関する声明および製品とサービスのプライバシーに関する補足の声明は、ユーザーがふさわしいレベルのプライバシーを受けられることを保証します。</p>
        </div>
        <a href="/ja/trust/privacy/" class="btn btn-clear btn-fill leader-0">詳細</a>
      </div>
      <div class="card block card-bar-blue">
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/ja/trust/compliance/">コンプライアンスへの取り組み</a>
          </h5>
          <p>ArcGIS は、各種の法規、標準、およびベスト プラクティスに適合するよう設計、管理されています。Esri のコンプライアンスへの取り組みをご参照ください。</p>
        </div>
        <a href="/ja/trust/compliance/" class="btn btn-clear btn-fill leader-0">詳細</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1">
    <div class="column-24 text-center">
      <h4>「Esri はセキュリティを ArcGIS プラットフォームの DNA に埋め込み続けています。」</h4>
      <p>Michael E. Young (Esri の最高製品セキュリティ責任者)</p>
    </div>
  </div>
</div>
<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">警告と通知
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">すべての警告を表示</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" class="block-group block-group-3-up phone-block-group-1-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="https://learn.arcgis.com">高度な演習の実施</a></h5>
          <p class="trailer-0">
 ArcGIS で実際の問題を解決する演習を検索および行います。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main">トレーニング コースの検索</a></h5>
          <p class="trailer-0">
 インストラクター主導型コース、Web コース、セミナーを通じて ArcGIS の詳細を学びます。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">テクニカル サポート</a></h5>
          <p class="trailer-0">
 チャット、電子メール、または電話で Esri Support に問い合わせます。
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">システム状態のチェック</a></h5>
          <p class="trailer-0">
 ArcGIS Online のステータスを確認して、問題を報告します。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
