---
title: ArcGIS Online Help
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Online Help</h1>
        </div>
        <div class="leader-1 text-right">
          <p> <a href="http://www.arcgis.com/features/free-trial.html"> <button class="btn margin-left-1 btn-clear">Gratis proefversie van 60 dagen</button></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" title="ArcGIS Online Help" href="/nl/arcgis-online/">Start</a>
        <a class="sub-nav-link" title="Aan de slag met ArcGIS Online" href="/nl/arcgis-online/get-started/">Aan de slag</a>
			  <a class="sub-nav-link" title="Kaarten, scenes en apps maken" href="/nl/arcgis-online/create-maps/">Maken</a>
        <a class="sub-nav-link" title="Analyse uitvoeren" href="/nl/arcgis-online/analyze/">Analyseren</a>
			  <a class="sub-nav-link" title="Kaarten, scenes en apps delen" href="/nl/arcgis-online/share-maps/">Delen</a>
			  <a class="sub-nav-link" title="Uw organisatie beheren" href="/nl/arcgis-online/administer/">Beheren</a>
			  <a class="sub-nav-link" title="Naslag" href="/nl/arcgis-online/reference/">Verwijzen</a>
			  <a class="sub-nav-link" title="Apps voor iedereen" href="/nl/arcgis-online/apps/arcgis-apps.htm">Apps</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>In enkele minuten betekenisvolle kaarten maken</h1>
      <h5>ArcGIS Online biedt u een compleet, cloud-based geografisch informatiesysteem van de wereld.</h5>
      <h5>Begin ArcGIS Online nu te gebruiken. <a href="http://www.arcgis.com/features/free-trial.html" >Schrijf u in voor uw gratis proefversie.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" target="_top">
              <input type="search" name="q" class="leader" placeholder="Zoeken in ArcGIS Online Help">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="nl" />
              <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Huidige update:</strong> December 2016</li>
        <li><a href="/nl/arcgis-online/reference/whats-new.htm">Wat is er nieuw</a></li>
	      <li><a href="/nl/arcgis-online/reference/faq.htm">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Aan de slag
        <a class="btn btn-transparent text-white btn-large right" href="/nl/arcgis-online/get-started/online-quick-exercises.htm">Meer oefeningen</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/nl/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/nl/arcgis-online/get-started/quick-exercise-maps.htm">Een kaart maken</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minuten</p>-
            <p class="trailer-0 text-off-black">Maak een webmap als onderdeel van een onderzoek naar ziekenhuizen in Clark County, Nevada.</p>
          </div>
          <a href="/nl/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">
              <img alt="" src="img/create-an-app.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/">Een webapp maken</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 uur</p>
            <p class="trailer-0 text-off-black">Maak een webapp voor de Oso-modderstroom in Washington.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/oso-mudslide-before-and-after/" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Ga 3D met de sceneviewer</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">1 uur 20 minuten</p>
            <p class="trailer-0 text-off-black">Maak een 3D scene die de stranden en baaien van Florida weergeeft.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">
              <img alt="" src="img/track-crime-rates.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/">Misdaadcijfers traceren</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">40 minuten</p>
            <p class="trailer-0 text-off-black">Maak een misdaaddichtheidkaart voor Lincoln, Nebraska.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/track-crime-patterns-to-aid-law-enforcement/" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">
              <img alt="" src="img/get-started-with-collector.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm">Een verzamelkaart configureren</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">30 minuten</p>
            <p class="trailer-0 text-off-black">Maak een kaart om te gebruiken met Collector for ArcGIS om data te verzamelen voor schadebeoordelingen.</p>
          </div>
          <a href="http://doc.arcgis.com/en/collector/windows/create-maps/create-and-share-a-collector-map.htm" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Een ArcGIS organisatie opstellen</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minuten</p>
            <p class="trailer-0 text-off-black">Configureer de website voor een nieuwe ArcGIS organisatie.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">De oefening starten</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
        <div class="row">
          <h2>&nbsp;</h2>
          <h2 class="text-center">Wat kunt u doen met ArcGIS Online?</h2>
        </div>
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-maps text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Kaarten maken</h3>
              <p class="trailer-half">
                Leer meer over de rol van kaarten om GIS te delen met uw gebruikers.
              </p>
              <ul class="bulleted trailer-0">
                <li>
                  <a href="/nl/arcgis-online/get-started/get-started-with-maps.htm">Aan de slag met kaarten maken</a>
                </li>
                <li>
                  <a href="/nl/arcgis-online/share-maps/share-maps.htm">Kaarten delen</a>
                </li>
                <li>
                  <a href="/nl/arcgis-online/get-started/view-maps.htm">Weergeven van kaarten in de map viewer</a>
                </li>
                <li>
                  <a href="//storymaps.arcgis.com/">Maak storymaps om uw verhaal te vertellen</a>
                </li>
                <li>
                  <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">Leer in drie stappen hoe u smart mapping kunt gebruiken</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-globe text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Werken met 3D GIS</h3>
                <p class="trailer-half">
                  Verkrijg een nieuw perspectief door uw informatie in 3D te visualiseren. Gebruik de 3D mogelijkheden van GIS om problemen aan te pakken die niet in een 2D context aangepakt kunnen worden.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/nl/arcgis-online/get-started/get-started-with-scenes.htm">Aan de slag met scenes maken</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/get-started/view-scenes.htm">Scenes weergeven in de scene viewer</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-3d">Gebruiksklare 3D scenes openen in Living Atlas</a>
                  </li>
                  <li>
                    <a href="/nl/drone2map/quick-start-exercises/3d-mapping.htm">Drone2Map for ArcGIS gebruiken om 3D lagen te genereren</a>
                  </li>
                </ul>

            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Analyse uitvoeren</h3>
                <p class="trailer-half">
                   Combineer informatie van meerdere lagen en pas ruimtelijke bewerkingen toe om een grote reeks problemen aan te pakken. Verken en visualiseer uw resultaten om beslissingen te nemen en diepere inzichten te verwerven.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/nl/arcgis-online/get-started/get-started-with-analysis.htm">Aan de slag met analyses</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/analyze/perform-analysis.htm">Analyses uitvoeren met kaarten</a>
                  </li>
                  <li>
                    <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Kinderarmoede onderzoeken d.m.v. demografische analyses</a>
                  </li>
				  <li>
                    <a href="/nl/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">Ruimtelijke vraagstukken oplossen met smart mapping</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-layers text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Living Atlas openen</h3>
                <p class="trailer-half">
                  Kickstart uw GIS met Living Atlas of the World, een geselecteerd en georganiseerde, mondiale verzameling van de beste beschikbare kaarten, apps en data van ArcGIS gebruikers en Esri en hun partners.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="http://links.esri.com/agol-help/living-atlas">Living Atlas openen</a>
                  </li>
                  <li>
                    <a href="//links.esri.com/agol-help/livingatlas-storymap">Living Atlas verkennen d.m.v. een storymap</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Living Atlas lagen verkennen om toe te voegen aan uw kaart</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">Living Atlas content toevoegen aan uw scene</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/get-started/quick-exercise-explore-data.htm">Een Living Atlas kaart gebruiken om ruimtelijke patronen te ontdekken</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
                <h2 class="icon-ui-collection text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Gegevens beheren</h3>
                <p class="trailer-half">
                  Wek uw data tot leven. Deel objecten en meer door lagen te publiceren die anderen in hun kaarten en scenes kunnen gebruiken. Maak bewerking mogelijk om feedback van de community te verzamelen.
                </p>
                <ul class="bulleted trailer-0">
                  <li>
                    <a href="/nl/arcgis-online/share-maps/hosted-web-layers.htm">Objecten, tiles en meer als lagen publiceren</a></li>
                  <li>
                    <a href="/nl/arcgis-online/create-maps/edit-features.htm">Objecten bewerken</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/create-maps/take-maps-offline.htm">Kaarten offline beschikbaar maken</a>
                  </li>
                  <li>
                    <a href="/nl/arcgis-online/reference/best-practices-layers.htm">Best practices leren voor het gebruik van lagen in kaarten</a>
                  </li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
                <h2 class="icon-ui-share text-center trailer-half"></h2>
                <h3 class="text-center trailer-0">Uw werk delen</h3>
                <p class="trailer-half">
                  Deel uw rijke geografische informatie-items om uw gebruikers te bereiken. Zet uw waardevolle informatie aan het werk door toegang te verschaffen d.m.v. vele apps en storymaps.
                </p>
                <ul class="bulleted trailer-0">
                  <li><a href="/nl/arcgis-online/get-started/get-started-with-sharing.htm">Aan de slag met delen</a></li>
                  <li><a href="//storymaps.arcgis.com/en/">Apps gebruiken om uw verhaal te delen</a></li>
                  <li><a href="/nl/arcgis-online/reference/best-practices-share.htm">Best practices leren voor delen</a></li>
                  <li><a href="/nl/arcgis-online/reference/ogc.htm">Data delen d.m.v. open standaarden</a></li>
				  <li><a href="http://opendata.arcgis.com/">Delen met Open Data for ArcGIS</a></li>
                </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white trailer-0">
              <h2 class="icon-ui-applications text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Apps gebruiken</h3>
              <p class="trailer-half">
                ArcGIS apps zijn geconcentreerde interfaces en tools voor uw kaarten, scenes en data. ArcGIS Online bevat tientallen apps die uw organisatie in staat stellen haar werk gedaan te krijgen.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="//www.esri.com/software/apps/field">Bekijk apps voor veldwerk</a></li>
                <li><a href="//www.esri.com/software/apps/office">Bekijk apps voor kantoor</a></li>
                <li><a href="//www.esri.com/software/apps/community">Bekijk apps voor de community</a></li>
                <li><a href="//www.esri.com/software/apps/builders">Bouw uw eigen apps</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-search text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Ontdek en beheer items</h3>
              <p class="trailer-half">
                ArcGIS Online geeft u toegang tot een doorzoekbaar GIS van de wereld met een grote verzameling kaarten, scenes, lagen, analyses en apps, die door de GIS community, uw organisatie en u toegevoegd werden. Deze items zijn georganiseerd in informatiegalerijen zodat u snel content kunt ontdekken die relevant is voor uw werk.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/nl/arcgis-online/reference/geo-info.htm">Het ArcGIS informatiemodel bekijken</a></li>
                <li><a href="/nl/arcgis-online/share-maps/add-items.htm">Uw items toevoegen aan ArcGIS Online</a></li>
                <li><a href="/nl/arcgis-online/get-started/get-started-with-groups.htm">Groepen gebruiken om informatie te delen</a></li>
                <li><a href="//links.esri.com/agol-help/living-atlas">Kaarten en meer zoeken in Living Atlas</a></li>
                <li><a href="/nl/arcgis-online/reference/search.htm">Items ontdekken in ArcGIS Online</a></li>
              </ul>
            </div>
          </div>
          <div class="card block trailer-1">
            <div class="panel panel-no-border panel-white primary trailer-0">
              <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
              <h3 class="text-center trailer-0">Uw organisatie beheren</h3>
              <p class="trailer-half">
                Van het configureren van aangepaste rollen en beveiligingsinstellingen tot het weergeven van verbruiksrapporten, ArcGIS Online bevat alles wat u nodig hebt om uw organisatie te beheren.
              </p>
              <ul class="bulleted trailer-0">
                <li><a href="/nl/arcgis-online/administer/get-started-with-administration.htm">Aan de slag met beheer</a></li>
                <li><a href="//links.esri.com/agol-help/administering-platform">Best practices en hulpbronnen voor beheerders leren</a></li>
                <li><a href="/nl/arcgis-online/reference/roles.htm">Levels, rollen en machtigingen begrijpen</a></li>
                <li><a href="/nl/arcgis-online/reference/credits.htm">Credits begrijpen</a></li>
                <li><a href="/nl/trust/security/security-overview.htm">ArcGIS beveiliging controleren</a></li>
                <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">Extra beheerstools verkennen</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Haal nog meer uit ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Bekijk onze video's
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">Meer video's</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Verbinding maken met ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Lees onze blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Meer blogposts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Neem deel aan het gesprek
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Meer gesprekken</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Duik in een boek
        <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">Meer boeken</a>
      </h2>
      <div class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">Het ArcGIS boek</a>
            </h5>
            <p class="trailer-0 text-off-black">Web GIS begrijpen en gebruiken om geografische informatie te maken en te delen. Bekijk de website, download de gratis interactieve PDF of koop de gedrukte versie.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Nu lezen</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=289&moduleID=0">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">Instructiegids voor het ArcGIS boek</a>
            </h5>
            <p class="trailer-0 text-off-black">Activities, hulpbronnen, lessen en data m.b.t. ArcGIS Online en web GIS verkrijgen. Beschikbaar als gedrukte versie.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">Nu kopen</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="//esripress.esri.com/display/index.cfm?fuseaction=display&websiteID=308&moduleID=0">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">Het ArcGIS Imagery boek</a>
            </h5>
            <p class="trailer-0 text-off-black">Ontdek hoe imagery en remote sensing moderne GIS-systemen versterken. Bekijk de website, download de gratis interactieve PDF of koop de gedrukte versie.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Nu lezen</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="http://links.esri.com/agol-help/learn/agol">Volg een diepgaande les</a></h5>
          <p class="trailer-0">
            Doorzoek ArcGIS Leren om een oefening te zoeken en te doen die realistische problemen oplossen met ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main/arcgis-online-training">Zoek opleidingen</a></h5>
          <p class="trailer-0">
            Leer meer over ArcGIS d.m.v. cursussen met docent, online cursussen en seminars.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">Technische ondersteuning</a></h5>
          <p class="trailer-0">
           Neem contact op met Esri Support via chat, e-mail of telefoon.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">Systeemstatus controleren</a></h5>
          <p class="trailer-0">
 Bekijk de status van ArcGIS Online en meld problemen.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
