---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="nl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/nl/arcgis-online/">Help</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Help" href="/nl/arcgis-online/">Hoofd</a></li>
        <li><a title="Kaarten gebruiken" href="/nl/arcgis-online/use-maps/">Gebruiken</a></li>
        <li><a title="Kaarten en apps maken" href="/nl/arcgis-online/create-maps/">Maken</a></li>		
        <li><a title="Kaarten en apps delen" href="/nl/arcgis-online/share-maps/">Delen</a></li>
		<li><a title="Uw organisatie beheren" href="/nl/arcgis-online/administer/">Beheren</a></li>
		<li><a href="/nl/arcgis-online/reference/">Naslag</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Gebruik en maak interactieve kaarten en apps en deel ze met de rest van de organisatie. Ontdek hoe.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Kaarten gebruiken</h3>
         
 
         <p>Gebruik kaarten om geografische gegevens te verkennen, begrijpen en meten.</p>

      
         <p><a href="/nl/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Gegevens bekijken</a> <br/> <a href="/nl/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Analyse uitvoeren</a><br/> <a href="/nl/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Objecten bewerken</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Kaarten en apps maken</h3>
          <p>Maak interactieve kaarten en apps die uw organisatie overal op elk apparaat en op elk gewenst moment kan openen.</p>


            <p><a href="/nl/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Uw eerste kaart maken</a> <br/>

            <a href="/nl/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Uw eerste app maken</a><br/> <a href="/nl/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Eigenschappen van kaarten en kaartlagen instellen</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Kaarten en apps delen</h3>
          <p>Haal alles uit uw gegevens door kaarten en apps te delen binnen uw organisatie of community.</p>

         <p><a href="/nl/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Items toevoegen</a> <br/><a href="/nl/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Items delen</a> <br/> <a href="/nl/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Gehoste objecten en tiles publiceren</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Uw organisatie beheren</h3>
          <p>Breid het gebruik van uw GIS uit door ArcGIS Online te configureren voor uw organisatie, leden uit te nodigen om deel te nemen en bronnen te beheren.</p>
          <p>
            <a href="/nl/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;De website configureren</a> <br/> <a href="/nl/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Leden uitnodigen</a> <br/> <a href="/nl/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Statistieken van organisatie bekijken</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Onmiddellijk te gebruiken apps</h3>
         <p>Ontdek meer over onmiddellijk te gebruiken apps die worden meegeleverd met ArcGIS Online.</p>
		 <p>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a></br><a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/> <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/> <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS-app voor smartphones en tablets</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Configureerbare apps</h3>
          <p>Ontdek hoe u configureerbare templates kunt gebruiken om apps te maken voor uw organisatie en de community.</p>
		 <p><a href="http://links.esri.com/configurableapps" class="icon-right-arrow">&nbsp;&nbsp; Configureerbare apps van Esri</a><br> <a href="http://storymaps.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; Kaartverhalen</a></br> <a href="http://solutions.arcgis.com/" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS-oplossingen</a><br></p>
		 
        </div>
        <div class="clear"></div>
          <div id="collectorDataFeature" class="column-12 phone-column-24">
	     <h3>Extra bronnen</h3>
		          <p>Ontdek meer apps, kaarten en tools voor uw organisatie.</p>
				 <p><a href="https://marketplace.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Marketplace</a></br> <a href="http://doc.arcgis.com/en/open-data" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS Open Data</a></br> <a href="http://doc.arcgis.com/en/living-atlas" class="icon-right-arrow">&nbsp;&nbsp; Levende wereldatlas</a></br> <a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a>
				
			 </p></div>
        <div class="clear"></div>
        
        
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Aan de slag</h3>
		  <p>Beleef veel plezier met ArcGIS Online terwijl u het volgende leert:</p>
		  
		     <table><tr><td>
		          <ul>
		            <li>Een kaart verkennen</li>
		            <li>Een kaart maken</li>
		            <li>Een laag toevoegen vanuit een bestand</li>
		            <li>Pop-ups configureren</li>
		            <li>Een webapp maken</li>
		          </ul></td>
		          <td valign="top">
		          <ul><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online" class="btn secondary">Start nu</a>
		            
        </ul></td><tr></table>
    
		 
		<p>Ontdek andere interactieve lessen op <a href="http://learn.arcgis.com">Learn ArcGIS</a><br> Bent u op zoek naar training? Zoek naar <a href="http://www.esri.com/training/main/arcgis-online-training">opleidingen voor ArcGIS Online</a></p>
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Details</h3>
         <ul>
		<li><a href="/nl/arcgis-online/reference/what-is-agol.htm" >&nbsp;Wat is ArcGIS Online?</a></li>
		<li><a href="/nl/arcgis-online/reference/whats-new.htm" >&nbsp;Wat is er nieuw?</a></li>
		<li><a href="/nl/arcgis-online/reference/faq.htm">&nbsp;Veelgestelde vragen</a></li>
		<li><a href="http://doc.arcgis.com/en/trust/">&nbsp;Trust ArcGIS</a></li>
		 
		
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Een kaart maken</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Ontdek hoe u de ingebouwde map viewer kunt gebruiken om kaarten te maken.</p>
        <a href="/nl/arcgis-online/reference/videos.htm" class="btn secondary">Meer video's</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Op onze blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Meer blogposts</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Discussies op GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2055" class="btn secondary">Er een beginnen</a>&nbsp; <a href="https://geonet.esri.com/community/gis/arcgis-online/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">Lees meer</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
