---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="nl">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/nl/arcgis-online/">ArcGIS Online Help</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Help" href="/nl/arcgis-online/">Home</a></li>
        <li><a title="Kaarten en scenes gebruiken" href="/nl/arcgis-online/use-maps/">Gebruiken</a></li>
        <li><a title="Kaarten, scenes en apps maken" href="/nl/arcgis-online/create-maps/">Maken</a></li>
        <li><a title="Kaarten, scenes en apps delen" href="/nl/arcgis-online/share-maps/">Delen</a></li>
        <li><a title="Uw organisatie beheren" href="/nl/arcgis-online/administer/">Beheren</a></li>
        <li><a title="Naslag" href="/nl/arcgis-online/reference/">Referentie</a></li>
        <li><a title="Apps voor iedereen" href="/nl/arcgis-online/apps/arcgis-apps.htm">Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="nl" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Kaarten, scenes, analyses, apps, samenwerking—u kunt alles doen met ArcGIS Online.</p>
	
	<p>Nieuw bij ArcGIS? Begin met uw eerste kaart, scene, app of groep te maken. Als u klaar bent om meer te leren, probeer dan een les of ontdek populaire onderwerpen. Bent u een <a href="/nl/arcgis-online/administer/admin-org.htm">beheerder</a> van een organisatie? Ontdek hoe u aangepaste rollen, beveiligingsinstellingen en flexibele configuraties kunt gebruiken.
	</p> 
	<p>Bekijk zeker ook het meest recente nieuws op onze <a href="#blog"> blog</a> en in de <a href="#community">community</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/nl/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/nl/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/nl/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/nl/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Wat is er nieuw</h3>
        <p>De update van juni 2016 update bevat verbeterde itempagina's, nieuwe opties voor weergave van tijd, ondersteuning voor meshlagen en nog veel meer.
        </p>
			<!--<a href="/nl/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/nl/arcgis-online/reference/whats-new.htm" class="btn secondary">Meer weten</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Maak uw eerste</h2>
      <div class="make-first">
        <a href="/nl/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Kaart</h2></a>
        <a href="/nl/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Scene</h2></a>
        <a href="/nl/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">App</h2></a>
        <a href="/nl/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Groep</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Bekijk populaire onderwerpen:</h4></li>
        <li><a href="/nl/arcgis-online/reference/faq.htm">Veelgestelde vragen</a></li>
		<li><a href="/nl/arcgis-online/share-maps/add-items.htm">Items toevoegen</a></li>
        <li><a href="/nl/arcgis-online/use-maps/perform-analysis.htm">Analyse uitvoeren</a></li>
		<li><a href="/nl/arcgis-online/share-maps/publish-features.htm">Objecten publiceren</a></li>
		<li><a href="/nl/arcgis-online/administer/view-status.htm">Status weergeven</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Volg een les
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Meer lessen <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Aan de slag met ArcGIS Online</a></h3>
          <p>
 Leer online de basis van het kaarten maken.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Demografische analyse en Smart Mapping</a></h3>
          <p>
            Lokaliseer kinderen in armoede d.m.v. demografische analyse, smart mapping en een web app.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Routes plannen</a></h3>
          <p>
           Help vier gezondheidsinspecteurs om 36 restaurants in San Diego County te controleren.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Ruimtelijke analyse</a></h3>
          <p>
            Vind de beste gebieden voor een nieuw bouwproject voor gemengd gebruik.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Lees onze blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Meer blogposts <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Neem deel aan het gesprek
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Meer discussies <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Zoek opleidingen</a></h4>
      <p class="no-trailer">
        Zoek Esri opleidingen voor meer lessen.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Bekijk video's</a></h4>
      <p class="no-trailer">
        Bekijk een reeks video's over ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Technische ondersteuning</a></h4>
      <p class="no-trailer">
        Neem contact op met Support via chat, e-mail of telefoon.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Systeemstatus controleren</a></h4>
      <p class="no-trailer">
        Bekijk de status van ArcGIS Online en meld problemen.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
