<ul>
  <li>Smit B. Shah (@smitshah92)</li>
  <li>Roberto S. Liverani</li>
  <li>Or Peles (@peles_o)</li>
  <li>Roee Hay (@roeehay)</li>
  <li>Cameron Dawe (@Spam404Online)</li>
  <li>Dan Kelley (@0x041AA)</li>
</ul>
