---
title: ArcGIS app for smartphones and tablets
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="ArcGIS app for smartphones and tablets Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="android-app,ios-app,win-phone-app"><META name="sub_category" content="ArcGIS app"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS app"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">

mobile: true

---

<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <nav class="breadcrumbs breadcrumbs-white leader-1 clearfix">
            <a class="crumb" href="//www.arcgis.com/">ArcGIS</a>
            <a class="crumb is-active" href="/en/arcgis-app/">App for smartphones and tablets</a>
          </nav>
          <h1 class="sub-nav-title leader-1 text-white">ArcGIS app for smartphones and tablets</h1>
          <div class="trailer-half clearfix">
            &nbsp;
          </div>

          <p class="text-white font-size--2">&nbsp;</p>
        </div>
        <!-- Placeholder for image in blue banner-->
        <div class="sdk-home-banner-image">
          <img src="../arcgis-online/img/main-scalable.png">
        </div>
        <div class="search-bar">
          <form id="helpSearchForm" target="_top">
            <input type="search" name="q" class="leader" placeholder="Search ArcGIS app">
            <input type="hidden" name="collection" value="help" />
            <input type="hidden" name="product" value="android-app" />
            <input type="hidden" name="language" value="<%= current_language %>" />
            <button class="search-submit icon-ui-search" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
		    <a class="sub-nav-link  is-active" href="/en/arcgis-app/">Home</a></li>
        <a class="sub-nav-link" href="/en/arcgis-app/android/help/get-started-faqs.htm">Help</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="alert alert-red is-active">
      This application will be removed from Apple's App Store, Google Play, the Amazon Appstore for Android, and the Windows Phone Store in 2016. See <a href="http://blogs.esri.com/esri/arcgis/?p=49721">our blog</a> for details, including migration paths.
    </div>
    <p>
      <a href="https://itunes.apple.com/us/app/arcgis/id379687930"><img src="ios-app.png" style="margin:10px; vertical-align:middle"></a>
      <a href="https://play.google.com/store/apps/details?id=com.esri.android.client"><img src="android-app.png" style="margin:10px; vertical-align:middle"></a>
      <a href="http://www.amazon.com/gp/product/B007OWF3BI/ref=mas_pm_ArcGIS"><img src="android-amazon-app.png" style="margin:10px; vertical-align:middle" height="45" width="136"></a>
      <a href="http://www.windowsphone.com/en-us/store/app/arcgis/7cb003be-990a-e011-9264-00237de2db9e"><img src="winphone-app.png" style="margin:10px; vertical-align:middle"></a>
    </p>
  </div>
  <div class="column-8 tablet-column-12 right">
	  <div class="panel panel-dark">
      <h4 class="text-white icon-ui-announcement">What's new</h4>
      <p class="text-white">Version 10.1.2 was released in September 2013 and includes Expanded support for scale dependency on layers.</p>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/en/arcgis-app/android/help/get-started-faqs.htm">Get started</a></li>
        <li><a href="/en/arcgis-app/android/help/use-the-app-faqs.htm">Use the app</a></li>
	      <li><a href="/en/arcgis-app/android/help/work-with-my-data-faqs.htm">Work with my data</a></li>
        <li><a href="#">System requirements</a></li>
        <li><a href="#">What's new</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>


<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-app/android/help/use-the-app-faqs.htm"><img class="trailer-1" alt="" src="app-collector-data.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Use the app</h3>
            <p>What map functionality is supported? How do I view more information about a feature? How do I edit an existing feature? Get answers to your questions on using the app.</p>
            <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-app/android/help/use-the-app-faqs.htm">Get answers</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel panel-no-padding">
          <a href="/en/arcgis-app/android/help/work-with-my-data-faqs.htm"><img class="trailer-1" alt="" src="app-collector-map.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Your data</h3>
            <p>How do I make a map? What types of services and layers are supported? How do I open maps created in ArcMap? Get answers to your questions on bringing your data into the app.</p>
				    <p><a class="icon-ui-right icon-ui-small" href="/en/arcgis-app/android/help/work-with-my-data-faqs.htm">Get answers</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Collapsible contents -->

<!-- Blog -->
<div class="panel panel panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">From our Blog
        <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/category/mobile/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/category/mobile/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Discussions on GeoNet
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/applications/arcgis-app-for-smartphones-and-tablets">Read more  <span class="icon-ui-small icon-ui-link-external"></span></a>
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/discussion/create.jspa?containerType=14&amp;containerID=4472">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
	<div class="grid-container">
	  <div class="column-25 text-white text-center">
			<h4 class="trailer-half">Connect with the ArcGIS app for smartphones and tablets</h4>
			<a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISRuntime"></a>
			<a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Android"></a>
			<a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/EsriGeoDev"></a>
			<a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/developers/native-app-developers/arcgis-runtime-sdk-for-android"></a>
			<a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
		</div>
	</div>
</div>

<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-white text-rule padding-trailer-half">From our Videos
        <a class="btn btn-transparent btn-large right" href="http://video.esri.com/search/arcgis-app">More Videos  <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div class="flexible-block-group flexible-block-group-4-up">
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
            <div class="flexible-block-group-conent">
              <a href="http://video.esri.com/iframe/5236/000000/width/960/1" class="colorbox-evlarge" title="E380 Live: Evert Wind, Provincie Zuid-Holland" ><img alt="E380 Live: Evert Wind, Provincie Zuid-Holland" src="http://video.esri.com/thumbs/2016/08/5236/5236-e380-live-evert-wind_comma_-provincie-zuid_dash_holland_x.jpg"></a>
              <h5 class="leader-1">E380 Live: Evert Wind, Provincie Zuid-Holland</h5>
            </div>
            <div class="flexible-block-group-footer">
              <a class="colorbox-evlarge" href="http://video.esri.com/iframe/5236/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
            </div>
          </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/5222/000000/width/960/1" class="colorbox-evlarge" title="E380 Live: Ian Smith, Auckland City Council" ><img alt="E380 Live: Ian Smith, Auckland City Council" src="http://video.esri.com/thumbs/2016/08/5222/5222-esri-business-summit-auckland-city-council_x.jpg"></a>
            <h5 class="leader-1">E380 Live: Ian Smith, Auckland City Council</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/5222/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/5225/000000/width/960/1" class="colorbox-evlarge" title="E380 Live: Choo Chin Hua, Singapore Housing Development Board" ><img alt="E380 Live: Choo Chin Hua, Singapore Housing Development Board" src="http://video.esri.com/thumbs/2016/08/5225/5225-e380-live-choo-chun-hua_comma_-singapore-housing-development-board_x.jpg"></a>
            <h5 class="leader-1">E380 Live: Choo Chin Hua, Singapore Housing Development Board</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/5225/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
        <div class="flexible-block-group-item flexible-block-group-item-blue flexible-block-group-no-header">
          <div class="flexible-block-group-conent">
            <a href="http://video.esri.com/iframe/5083/000000/width/960/1" class="colorbox-evlarge" title="Thomas Dobrzinski, INTEND Geoinformatik" ><img alt="Thomas Dobrzinski, INTEND Geoinformatik" src="http://video.esri.com/thumbs/2016/05/5083/5083-thomas-dobrzinski_comma_-intend-geoinformatik_x.jpg"></a>
            <h5 class="leader-1">Thomas Dobrzinski, INTEND Geoinformatik</h5>
          </div>
          <div class="flexible-block-group-footer">
            <a class="colorbox-evlarge" href="http://video.esri.com/iframe/5083/000000/width/960/1">Watch the Video <span class="icon-ui-right icon-ui-small"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
