---
title: Ayuda de ArcGIS Open Data
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/es/open-data/">Principal</a></li>
        <li><a href="/es/open-data/consumer/">Para clientes</a></li>
        <li><a href="/es/open-data/provider/">Para proveedores</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">¿Qué es ArcGIS Open Data?</h2>

          <p>Con Open Data, las organizaciones pueden utilizar la plataforma ArcGIS para que el público pueda acceder libremente a sus datos acreditados. Las organizaciones configuran un sitio web personalizado y especifican grupos de Open Data para compartir elementos concretos. El público general puede utilizar los sitios de Open Data para realizar búsquedas por un tema o una ubicación, descargar datos en varios formatos y visualizar datos en un mapa interactivo y en una tabla.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Para clientes </h3>
          <p>Interacciona con los datos por medio de gráficos, tablas y mapas para conocer mejor tu comunidad. Descubre, explora y descarga datos o comparte un vínculo de un dataset interesante.</p>
          <p>

			<a href="/es/open-data/consumer/" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Para proveedores</h3>
          <p>Configura un sitio web personalizado y selecciona los datos acreditados que quieras compartir. Permite que los usuarios busquen, vean y descarguen tus datos en diversos formatos.</p>
          <p>
            <a href="/es/open-data/provider/" class="icon-right-arrow">&nbsp;¿Cómo hacerlo?</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Entidades</h2>

        <p>Crea y comparte tus propios datos usando los flujos de trabajo que ya conoces para crear un sitio de Open Data.</p>
		<ul>
			<li>Habilita Open Data en tus organizaciones y tus grupos.</li>
			<li>Crea sitios personalizados para tus datos.</li>
			<li>Habilita las búsquedas federadas en diferentes organizaciones y grupos.</li>
			<li>Permite trabajar con tablas espaciales y no espaciales.</li>
			<li>Proporciona filtros interactivos para explorar los datos.</li>
			<li>Comparte vínculos de vistas filtradas de datasets.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Requisitos de datos</h2>
        <p>ArcGIS Open Data funciona actualmente con datos de capas de entidades alojadas, servicios de entidades de ArcGIS Server, servicios de mapas de ArcGIS Server, servicios de imágenes de ArcGIS Server, archivos CSV y tablas alojadas. ArcGIS Open Data ofrece compatibilidad limitada con direcciones URL externas, mapas web y otros documentos (como documentos de Word y archivos PDF).</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Novedades</h2>
		<p>Open Data se actualizó en julio de 2015 con las siguientes funciones: </p>
		
		<ul>
			<li>Visualizaciones de densidad en cuadrícula para los datasets grandes (GeoHash).</li>
			<li>Compatibilidad con metadatos formales de ArcGIS Online.</li>
			<li>Inicio de sesión y registro con cuentas de ArcGIS Online.</li>
			<li>Comentarios de los usuarios y el administrador sobre los datasets.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">Avance de novedades</h2>
		<p>ArcGIS Open Data se acaba de lanzar y se avecinan cosas muy interesantes:</p>
		
		<ul>
			<li>Información estadística sobre los datos para realizar un seguimiento de los recuentos y los detalles de las descargas en las vistas.</li>
			<li>Mayor control administrativo sobre los datasets y la recopilación.</li>
			<li>Experiencia de usuario mejorada para buscar y filtrar datasets.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Comparte tus <a class="" href="http://ideas.arcgis.com">ideas</a> sobre las funciones que te gustaría ver en el futuro en ArcGIS Open Data.</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Detalles</h3>
	          
	  <h4><a href="#features">Entidades</a></h4>
	  <h4><a href="#dataRequirements">Requisitos de datos</a></h4>
	  <h4><a href="#whatsNew">Novedades</a></h4>
	  <h4><a href="#SneakPeek">Avance de novedades</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Sitio ArcGIS Ideas</h3>
         <p>Comparte tus ideas sobre las funciones que te gustaría ver en el futuro en ArcGIS Open Data. Publica una sugerencia o vota las ideas ya existentes.</p> <br/>
         <p>¿Eres un proveedor en busca de ideas? Echa un vistazo a los que los clientes piden. Invita a otros colaboradores a ayudar de manera privada para desarrollar ideas.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


