---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="справка" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/maps-for-office/">На главную</a></li>
        <li><a href="/ru/maps-for-office/help/">Справка</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Форум</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Загрузка приложения</h2>
          <span id="appVersion"><strong>Версия:</strong> 2.1.2</span> <span id="appReleased"><strong>Доступные:</strong> Осень 2013</span>


          <p>Esri Maps for Office позволяет быстро создавать динамические интерактивные карты по данным Excel и начать использовать их по-новому. Esri Maps for Office помогает вам выявить закономерности и тренды, не очевидные в представлении данных в виде таблиц или списка. Карты можно сразу же использовать в презентациях PowerPoint или одним кликом опубликовать на картографической платформе Esri, в ArcGIS Online.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Приобрести Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Отобразите данные таблиц на карте </h3>
          <p>Как представить данные Excel на карте с помощью Esri Maps for Office. Вы можете просто создавать интерактивные карты точек, кластеров точек, карты с цветовой кодировкой и карты интенсивности напрямую из Excel, чтобы получать визуальное представление ваших данных.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Просмотреть видео</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Обогатите ваши данные</h3>
          <p>Используйте обширные коллекции данных Esri, чтобы добавить дополнительную информацию в данные вашего бизнеса. В таблицы Excel вы можете напрямую внести демографические и социологические данные, а также получить больше информации о важных для вас местоположениях. Изучение местоположений осуществляется быстро с помощью всплывающей инфографики.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Просмотреть видео</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Системные требования</h2>

        <p>Для Esri Maps for Office необходима учетная запись, являющаяся частью организации <a href="http://help.arcgis.com/ru/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>, и Microsoft Office Excel 2010 или Microsoft Office PowerPoint 2010 либо Microsoft Office Excel 2013 или PowerPoint 2013. К поддерживаемым операционным системам относятся:</p>
		<ul>
		 <li>Windows XP (с SP3) (32-bit)</li>
		 <li>Windows 7 (32-bit и 64-bit)</li>
		 <li>Windows 8 (32-bit и 64-bit)</li>
		 <li>Windows Server 2003 и SP2 и MSXML 6.0 (только для 32-bit Office)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Информацию о дополнительных требованиях, таких как производительность процессора, объем оперативной памяти и дисковое пространство можно найти в системных требованиях к <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> и <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Что нового</h2>
        <p>Версия Esri Maps for Office 2.1.2 была выпущена в ноябре 2013 г. Она включает следующую новую функциональность:</p>
        <ul>
		<li>Исправлены ошибки и повышено удобство работы, включая:
			<ul>
			<li>Улучшен инструмент Обогатить слой, например: введено эффективное использование памяти для обработки крупных запросов на обогащение и улучшен индикатор выполнения.</li>
			<li>Исправлена ошибка, которая вызывала сбой Excel после установки Esri Maps. </li>
			<li>Исправлена ошибка с отображением неверных изображений на панели Поиск.</li>
			<li>Исправлена ошибка, которая вызывала сбой при поиске пользовательского типа местоположения на японском, русском и китайском языках.</li>
			<li>Убраны строки локализации в разделах Ключевые факты, Благосостояние, Политика и Здоровье на панели Поиск.</li>
			</ul>
        </ul>


        <h3>Предыдущие версии</h3>
		
		<p>Версия 2.1.1 была выпущена в октябре 2013. Она включает следующую новую функциональность:</p>
        <ul>
        <li>Новая локализованная версия с поддержкой локализации для 22 языков:</li>
			<ul>
			<li>Арабский, китайский (упрощенный), датский, нидерландский, английский, эстонский, французский, немецкий, иврит, итальянский, японский, корейский, латвийский, литовский, норвежский, польский, португальский, португальский (бразильский), румынский, русский, испанский и шведский.</li>
			</ul>
		<li>Поддержка всплывающих окон в веб-картах.</li>
		<li>Присвоение условных знаков объектам при помощи значков на основании URL атрибута</li>
		<li>В новой версии исправлены ошибки и усовершенствована функциональность, включая следующее:
			<ul>
			<li>Улучшена поддержка логинов OAuth</li>
			<li>Более удобны сообщения об ошибках в инструменте Найти горячие точки</li>
			<li>Инструмент Найти горячие точки поддерживает имена столбцов с пробелами</li>
			<li>Инструмент Выборка поддерживает буферные полигоны размера "0"</li>
			<li>Исправлены ошибки на панели задач</li>
			<li>Исправлены ошибки групповой видимости</li>
			<li>Улучшена поддержка организаций, использующих SSL для всех подключений</li>
			<li>Корректно работает классификация при использовании столбцов, добавленных с помощью инструмента Обогатить слой</li>
			</ul>
        </ul>
		
        <p>Версия 2.1 была выпущена в июле 2013. Она включает следующую новую функциональность: </p>
        <ul>
        <li>Анализ статистических закономерностей, используется инструмент анализа горячих точек</li>
		<li>Для обогащения данных были добавлены ещё коллекции данных и возможность выбрать из них отдельные переменные.</li>
		<li>Поддержка безопасного входа в систему через OAuth+SAML (AGOL)</li>
        <li>Поддержка безопасного входа в систему с использованием IWA, PKI (Только для портала)</li>
		<li>Усовершенствовался пользовательский интерфейсе для инструментов Инфографика и Обогатить слой.</li>
		<li>Применяется автоматическое обновление Maps for Office до последней версии.</li>
        </ul>
		<br>
        <p>Версия 2.0.2 была выпущена в мае 2013. Она включала следующую новую функциональность:</p>
        <ul>
          <li>Обогащение географических данных с помощью нового инструмента Обогатить слой</li>
		  <li>Выбор объектов на карте и нахождение ближайших к ним объектов других слоёв </li>
		  <li>Всплывающие окна с картами теперь содержат инфографику, которая обеспечивает расширенную контекстную информацию о зонах, окружающих объекты на вашей карте.</li>
		  <li>Поддержка предварительного просмотра Portal for ArcGIS 10.2</li>
		  <li>Новые опции настройки карт интенсивности и кластеризации</li>
		  <li>Добавлена возможность фильтрации сгруппированных объектов на карте с помощью выбора границ классов в легенде карты</li>
		  <li>Усовершенствована технология геокодирования адресов</li>
		  <li>Поддержка настраиваемой галереи базовых карт из организации ArcGIS Online</li>
		  <li>Функция Вставить карту использует карту по умолчанию из вашей организации ArcGIS Online</li>
		  <li>Поиск данных в ArcGIS Online с применением таких распространенных категорий, как благосостояние, бизнес, политика и здоровье</li>
		  <li>Названия объектов теперь основываются на местоположении данных. Например, надписи в процессе геокодирования будут обозначать префектуры в Японии, штаты в США и провинции в Канаде.</li>
		  <li>Поддержка для Microsoft Office 2013</li>
		  <li>Также имеются другие улучшения, направленные на повышение удобства использования и качества карт</li>
        </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Начало работы</h3>
          <ul>
           <li><a href="#whatsNew">Что нового</a></li>
            <li><a href="#systemRequirements">Системные требования</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Посмотреть видео</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
