---
title: ArcGIS Maps for Office
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2016-11-02"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4."><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ru">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">ArcGIS Maps for Office</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="//www.esri.com/software/arcgis/arcgisonline/apps/download">Скачать Maps for Office</a>
          <p class="trailer-0 leader-half text-white font-size--2"><strong>Версия 4.1</strong> Q1 2017</p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/ru/maps-for-office/">На главную</a> <a class="sub-nav-link" href="/ru/maps-for-office/install-and-configure/">Установка и настройки</a> <a class="sub-nav-link" href="/ru/maps-for-office/design-and-use/">Дизайн и использование карт</a> <a class="sub-nav-link" href="//geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Поиск в ArcGIS Maps for Office">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="esri-maps-office" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>
    <div class="column-4 right margin-right-1 padding-left-0">
      <img src="m4o_banner.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>Анализ данных на основе местоположения повысит эффективность работы. Привнесите в Microsoft Office новейшие возможности анализа. Эти возможности помогут больше информации и выявить скрытые закономерности, что позволит быстро принимать взвешенные и продуманные решения. Пользуйтесь в таблицах Excel и презентациях PowerPoint инструментами картографии.</p>
    </div>
  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">Что нового</h4>
      <p>ArcGIS Maps for Office 4.1 содержит незначительные обновления, направленные на повышение скорости, удобства работы и исправление ошибок.</p>
      <a class="btn secondary" href="/ru/maps-for-office/install-and-configure/whats-new.htm">Подробнее</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <li><a href="/ru/maps-for-office/install-and-configure/whats-new.htm">Что нового</a></li>
        <li><a href="/ru/maps-for-office/install-and-configure/supported-environments.htm">Поддерживаемые среды</a></li>
	      <li><a href="/ru/maps-for-office/4.0/install-and-configure/about-esri-maps-for-office.htm">Архив справки</a></li>
        <li><a href="//www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Посмотреть видео</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-excel.htm">
            <img alt="" src="Map-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-excel.htm">Нанесение на карту данных Excel</a>
          </h5>
          <p>Создавайте интерактивные карты по данным таблиц непосредственно в Excel. Всего за несколько щелчков можно создавать карты с цветовой кодировкой, карты кластеров точек и карты интенсивности, чтобы получить визуальное представление ваших данных.</p>
        </div>
        <a href="design-and-use/add-a-map-to-excel.htm" class="btn btn-clear btn-fill leader-0">Подробнее</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/add-a-map-to-powerpoint.htm">
            <img alt="" src="Analyze-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/add-a-map-to-powerpoint.htm">Добавление динамических карт в PowerPoint</a>
          </h5>
          <p>Добавьте карты из ресурсов организации ArcGIS в вашу презентацию PowerPoint, чтобы сделать ее еще более эффектной и динамичной.</p>
        </div>
        <a href="design-and-use/add-a-map-to-powerpoint.htm" class="btn btn-clear btn-fill leader-0">Подробнее</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/enrich-your-data.htm">
            <img alt="" src="Enrich-your-spreadsheets.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/enrich-your-data.htm">Обогащение данными таблиц</a>
          </h5>
          <p>Добавьте демографические и социологические данные ArcGIS напрямую в таблицы Excel, чтобы получить больше информации о важных для вас местоположениях. Изучение местоположений осуществляется быстро с помощью всплывающей инфографики.</p>
        </div>
        <a href="design-and-use/enrich-your-data.htm" class="btn btn-clear btn-fill leader-0">Подробнее</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="design-and-use/share-a-map-to-arcgis.htm">
            <img alt="" src="Share-your-data.png">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="design-and-use/share-a-map-to-arcgis.htm">Публикация карт из Excel</a>
          </h5>
          <p>Публикуйте карты с помощью ArcGIS Online или Portal for ArcGIS и вкладывайте их в электронные письма, презентации PowerPoint или документы Word.</p>
        </div>
        <a href="design-and-use/share-a-map-to-arcgis.htm" class="btn btn-clear btn-fill leader-0">Подробнее</a>
      </div>
    </div>
  </div>
</div>
<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h3 class="leader-half trailer-0 text-center padding-trailer-0">Посмотреть ваше видео</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">Еще видеоролики</a>
      <div playlistid="PLpq4BB-MZiMchCC8XEpSWGlEN89qls1FJ" class="video-holder block-group block-group-3-up tablet-block-group-1-up leader-1 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Подключиться из ArcGIS Maps for Office</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/mapsforoffice"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/company/5311?trk=vsrp_companies_hero_name&trkInfo=VSRPsearchId%3A62267361477673144233%2CVSRPtargetId%3A5311%2CVSRPcmpt%3Ahero"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/esrigis/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/arcgis-maps-for-office"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Прочитайте наш блог <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/">Другие посты блога </a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/esri-maps-for-office/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Присоединяйтесь к диалогу <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/groups/arcgis-maps-for-office">Другие дискуссии </a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4472" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
