---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2016-02-29"><META name="product" content="ops-dashboard,ops-dashboard-browser"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="ro">

dashboardDownloadLink: http://www.arcgis.com/opsdashboard/OperationsDashboard.application
  
mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/operations-dashboard/">Prima pagină</a></li>
        <li><a href="/ro/operations-dashboard/windows-desktop/author/create-a-map.htm">Crearea vederilor</a></li>
        <li><a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Utilizarea vederilor</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/operations-dashboard-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Monitorizaţi activităţi şi evenimente, monitorizaţi angajaţii de pe teren şi evaluaţi starea şi evoluţia operaţiunilor zilnice.</h3>
          
          <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->	  

          <p>
            <a class="btn primary icon-windows-8" id="dashboardDownloadLink" href="#">Obţinere Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Creaţi şi partajaţi o vizualizare operativă</h3>
          <p>Din trei paşi simpli, creaţi şi partajaţi perspective operaționale care includ hărţi, liste, diagrame, instrumente de măsură şi multe altele, pe baza unor date geografice în timp real definite pe o hartă sau într-un serviciu web.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorizaţi şi răspundeţi la evenimente</h3>
          <p>Utilizaţi perspectiva operativă pentru a vă concentra asupra aspectelor operaţionale care vă interesează. Monitorizaţi servicii, livrări, angajaţi, vehicule şi multe altele oriunde în lume, în patru paşi.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
            <!--<a href="http://resources.arcgis.com/en/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> -->
			<a title="Monitorizaţi şi răspundeţi la evenimente" href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Vizionaţi un videoclip</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Monitorizaţi în browser</h3>
          <p>Utilizaţi perspectiva operaţională într-un browser. Nu aveţi nimic de instalat - este suficient să deschideţi o perspectivă operaţională şi veţi putea rămâne la curent cu operaţiunile dvs., chiar şi de pe iPad.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
            <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Dezvoltaţi extensii</h3>
          <p>Implementaţi-vă propriile procese de lucru în perspectiva operaţională, folosind widgeturi personalizate, acţiuni asupra obiectelor spaţiale şi instrumente pentru hărţi. </p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/author/custom-addins.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Caracteristici</h2>
	<p>Constituiţi o imagine de ansamblu a sistemelor şi resurselor pe care le administraţi. Monitorizaţi în timp real fluxuri de date pentru evenimente la scară mare sau pentru operaţiunile de zi cu zi pe desktop sau tabletă. Creaţi panouri de comandă executive specializate care să integreze hărţi, diagrame şi grafice.</p>
	
	<ul>
	<li>Utilizaţi hărţi cu surse de date dinamice pentru a furniza vizualizări în timp real.</li>
	<li>Configuraţi diagrame, indicatori de măsură, histograme şi alte elemente pentru a oferi un context statistic.</li>
	<li>Creaţi şi partajaţi perspective operaţionale, orientate către o anumită necesitate.</li>
	<li>Concepeţi vizualizări pentru utilizarea pe dispozitive cu unul sau mai multe monitoare.</li>
	<li>Creaţi widgeturi şi instrumente particularizate după nevoile dvs.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Cerinţele de sistem</h2>

        <p>Pentru executarea Operations Dashboard există anumite cerinţe de sistem. Operations Dashboard oferă suport în mai multe limbi.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 
 <h3>Aplicaţia Windows</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Sisteme de operare acceptate</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Windows 10 Pro şi Windows 10 Enterprise (32 de biţi şi 64 de biţi [EM64T])</li>
          <li>Windows 8,1 Windows 8.1 Pro şi Windows 8.1 Enterprise (pe 32 de biţi 64 de biţi [EM64T])</li>
          <li>Windows 8 Windows 8 Pro şi Windows 8 Enterprise (pe 32 de biţi 64 de biţi [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional şi Home Premium (pe 32 de biţi 64 de biţi [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard şi Datacenter (pe 64 de biţi [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise şi Datacenter (pe 64 de biţi [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise şi Datacenter (pe 32 de biţi 64 de biţi [EM64T]) SP2</li>
        </ul>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">Cerinţe hardware</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
        <ul>
			<li>Frecvenţă procesor: 2,2 GHz sau mai mare; se recomandă tehnologie Hyper-Threading (HTT) sau Multi-core.</li>
			<li>Procesor: procesoare Intel Pentium 4, Core Duo sau Xeon; minimum SSE2. Executaţi utilitarul Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> din linia de comandă Windows pentru a vă verifica procesorul.</li>
			<li>Spaţiu pe disc: 1,5 GB de spaţiu disponibil pe disc.</li>
			<li>Memorie/RAM: 2 GB sau mai mult.</li>
			<li>Proprietăţi de afişare: adâncime de culoare 24 biţi.</li>
			<li>Rezoluţie ecran: 1024 x 768 sau mai mare la dimensiune normală (96 dpi).</li>
			<li>Dimensiune swap: determinat în funcţie de sistemul de operare; minimum 500 MB.</li>
			<li>Placă/Adaptor video: minimum 64 MB RAM, 256 MB RAM recomandat; sunt acceptate chipseturi NVIDIA, ATI şi Intel. Driver pentru accelerarea plăcii grafice. Cel puţin Shader Model 2.0. Asiguraţi-vă că utilizaţi cel mai recent driver disponibil.</li>
		</ul>
</div>
<div class="clear" style="padding:5px;"></div>

<a class="icon-right-arrow" onclick="exp(event,'div','exp3');" style="display:inline;">Cerinţe software</a>
	<div exp3='yes' style="display:none;padding:0 15px;">
        <p style="padding:0 15px"><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> sau o versiune ulterioară este obligatorie. Pentru a-l instala, trebuie să aveţi pe maşină privilegii administrative.</p>
        </div>
        <div class="clear" style="padding:5px;"></div>
        
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">Cerinţe pentru dezvoltator</a>
		<div exp4='yes' style="display:none;padding:0 15px;">
	<p style="padding:0 15px"><a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> sau <a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.5 for WPF</a> sunt necesare pentru a extinde Operations Dashboard for ArcGIS. Pentru a utiliza ArcGIS API for JavaScript, vizualizarea de operaţie trebuie să fie pe ArcGIS Online sau Portal for ArcGIS 10.4 sau o versiune ulterioară. Pentru a utiliza ArcGIS Runtime SDK for WPF, este necesar Microsoft Visual Studio 2012 sau 2013 Professional, Premium sau Ultimate.</p>

     </div> 
     <div class="clear" style="padding:5px;"></div>
     
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">Limbi acceptate</a>
<div exp5='yes' style="display:none;padding:0 15px;">
     	<p style="padding:0 15px">arabă, cehă, chineză simplificată, chineză tradiţională (Hong Kong), chineză tradiţională (Taiwan), daneză, olandeză, engleză, estoniană, finlandeză, franceză, germană, greacă, ebraică, italiană, japoneză, coreeană, letonă, lituaniană, norvegiană, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă, suedeză, thailandeză, turcă şi vietnameză.</p>
     	<p style="padding:0 15px">Limba utilizată în versiunea Windows a aplicaţiei este determinată de setarea pentru limbă a sistemului dvs. de operare. În cazul utilizării unei setări neacceptate pentru limbă, aplicaţia utilizează limba engleză.</p>
</div>
<div class="clear"></div>

     <h3/>
 <h3>Aplicaţia pentru browser</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">Browsere suportate</a>
<div exp10='yes' style="display:none;padding:0 15px;"><div style="padding:0 15px"> Desktop
 <ul style="padding:0 15px">
 <li>Chrome versiunea 19.0 şi versiuni ulterioare</li>
 <li>Firefox versiunea 4.0 şi versiuni ulterioare</li>
 <li>Internet Explorer versiunea 9.0 şi versiuni ulterioare</li>
 <li>Microsoft Edge versiunea 20.0 şi versiuni ulterioare</li>
 <li>Safari versiunea 5.1 şi versiuni ulterioare</li>
 </ul> 
 Tabletă 
 <ul style="padding:0 15px">
 <li>Android 4.0 şi versiunile ulterioare care rulează Chrome versiunea 19.0 şi ulterioare</li>
 <li>iOS 6.0 şi versiuni ulterioare care execută Safari</li>
 </ul>
 Telefon 
 <p style="padding:0 15px">În prezent, nu este suportat niciun browser de telefoane smartphone.</p>
 </div></div> 
 <div class="clear" style="padding:5px;"></div>
 <a class="icon-right-arrow" onclick="exp(event,'div','exp12');" style="display:inline;">Cerinţe pentru dezvoltator</a>
 <div exp12='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px"><a href="https://developers.arcgis.com/javascript/">ArcGIS API for JavaScript</a> este necesar pentru a extinde Operations Dashboard for ArcGIS. Vizualizarea de operaţie trebuie să fie pe ArcGIS Online sau Portal for ArcGIS 10.4 sau o versiune ulterioară.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">Limbi acceptate</a>
 <div exp11='yes' style="display:none;padding:0 15px;">
      	<p style="padding:0 15px">croată, cehă, daneză, engleză, estoniană, finlandeză, franceză, germană, greacă, italiană, japoneză, coreeană, letonă, lituaniană, norvegiană, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, sârbă, chineză simplificată, spaniolă, suedeză, thailandeză, chineză tradiţională (Hong Kong), chineză tradiţională (Taiwan), turcă şi vietnameză.</p>
      	<p style="padding:0 15px">În versiunea pentru browser, pentru setarea limbii este utilizat profilul dvs. ArcGIS Online. În cazul utilizării unei setări neacceptate pentru limbă, aplicaţia utilizează limba engleză.</p>
</div>
<div class="clear"></div>


        <p style="padding:0 15px" />
        <a name="arcgisRequirements"></a>
        <h2 class="divider">Cerinţe ArcGIS</h2>
        <p>Pentru a vă utiliza hărţile în Operations Dashboard, trebuie să aveţi un cont ArcGIS de organizaţie. Sunt acceptate ArcGIS Online şi Portal for ArcGIS 10.3.1 şi versiuni ulterioare. Extensiile aplicaţiei browser necesită ArcGIS Online sau Portal for ArcGIS 10.4 sau o versiune ulterioară.</p>
        <p>Hărţile dvs. pot include date din ArcGIS Online, Portal for ArcGIS şi ArcGIS for Server. Sursele de date trebuie găzduite în ArcGIS Online sau ArcGIS 10.1 for Server sau într-o versiune ulterioară.</p>
        <p>Dacă este partajată public, o vizualizare operativă poate fi vizualizată în aplicaţia de browser fără a fi necesară autentificarea.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Ce este nou</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-windows-8">Windows</h4>
	        <p>Operations Dashboard for ArcGIS 10.3.3 a fost lansat în august 2016. Include următoarele componente:</p>
	        <ul>
	          <li>Localizat în chineză tradiţională (Hong Kong) şi chineză tradiţională (Taiwan)</li>
	          <li>Diverse îmbunătăţiri şi remedieri de defecte, inclusiv BUG-000095467</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4><img src="icon-browser.png" style="margin-right:4px"/>Browser</h4>
	        <p>Aplicaţia de browser Operations Dashboard for ArcGIS a fost actualizată în iunie 2016. Include următoarele îmbunătăţiri:</p>
	        <ul>
	          <li>Localizare în limbile croată şi sârbă</li>
	          <li>Diverse îmbunătăţiri şi remedieri de defecte</li>
        </ul></td><tr></table>
        
        
        
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Scurtă prezentare</h2>
	<p>Aplicaţia Operations Dashboard actuală este excelentă pentru monitorizarea operaţiunilor. Însă urmează multe alte lucruri! În prezent lucrăm la următoarea generaţie a aplicaţiei: o aplicaţie browser care va fi complet funcţională, fără să necesite descărcarea unei aplicaţii pentru Windows. Aţi solicitat de mai multă vreme capacitatea de a crea vizualizări de operaţii în browser şi, cu următoarea generaţie a aplicaţiei, veţi putea face acest lucru! Veţi vedea cum sunt integrate în browser configuraţiile şi capacitatea de a andoca widgeturile preferate din aplicaţia pentru Windows. În plus, vor fi acceptate etichetele şi cartografierea inteligentă. Citiţi mai multe despre acest lucru în <a href="https://blogs.esri.com/esri/arcgis/2016/05/26/operations-dashboard-for-arcgis-a-new-experience-is-coming/">postarea noastră de pe blog</a> 
	sau <a href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}">înscrieţi-vă în programul beta</a>.</p>
	
	<p>Împărtăşiţi <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Boperations-dashboard-for-arcgis%5D">ideile</a> şi <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">trimiteţi-ne părerile dvs</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="greyFrame">
	  Experienţa viitorului este acum aici! <a class="btn secondary" href="https://earlyadopter.esri.com/callout/?callid={0EE9717B-7EDD-4468-8D02-DACF3E0E8810}" style="margin: 15px 0 0 10px;">Înscrieţi-vă în programul beta</a>
       </div>
       
       <br/>
       <div class="imgFrame block">
          <h3>Detalii</h3>
          
	  <h4><a href="#features">Caracteristici</a></h4>
	  <h4><a href="#systemRequirements">Cerinţele de sistem</a></h4>
	  <h4><a href="#arcgisRequirements">Cerinţe ArcGIS</a></h4>
	  <h4><a href="#whatsNew">Ce este nou</a></h4>
	  <h4><a href="#sneakPeek">Scurtă prezentare</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
$("#dashboardDownloadLink").click(function (){
	window.location = "<%=data.page.dashboardDownloadLink%>";
	return false;
})

  </script>
