---
title: Operations Dashboard for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/operations-dashboard-1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Operations Dashboard for ArcGIS Home page."><META name="last-modified" content="2014-1-15"><META name="product" content="ops-dashboard"><META name="sub_category" content="Operations Dashboard"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Operations Dashboard"><META name="search-category" content="help-general"><META name="subject_label" content="MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ro/operations-dashboard/">Operations Dashboard for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Operations Dashboard">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ops-dashboard" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ro/operations-dashboard/">Prima pagină</a></li>
        <li><a href="/ro/operations-dashboard/windows-desktop/author/create-a-map.htm">Vizualizări pentru autor</a></li>
        <li><a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm">Vizualizări pentru utilizator</a></li>
        <li><a href="http://forums.arcgis.com/forums/225-Operations-Dashboard-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <h3 class="gray">Monitorizaţi activităţi şi evenimente, monitorizaţi angajaţii de pe teren şi evaluaţi starea şi evoluţia operaţiunilor zilnice.</h3>
          
          <!--           <span id="appVersion"><strong>Version:</strong> 10.2.2</span>           <span id="appReleased"><strong>Released:</strong> March 2014</span> 	  -->	  

          <p>
            <a class="btn primary icon-windows-8" href="http://www.arcgis.com/opsdashboard/OperationsDashboard.application">Obţinere Operations Dashboard</a>

          </p>
        <hr />

        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-create-small.png" />

          <h3>Creaţi şi partajaţi o vizualizare operativă</h3>
          <p>Din trei paşi simpli, creaţi şi partajaţi vizualizări care includ hărţi, liste, diagrame, instrumente de măsură şi multe altele pe baza unor date geografice în timp real definite pe o hartă sau într-un serviciu web.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/author/create-and-share-a-dashboard.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/dashboard-monitor-small.png" />

          <h3>Monitorizaţi şi răspundeţi la evenimente</h3>
          <p>Utilizaţi vizualizarea operativă pentru a vă concentra asupra aspectelor operaţionale care vă interesează. Monitorizaţi servicii, livrări, angajaţi, vehicule şi multe altele oriunde în lume, în patru paşi.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br /> <!--<a href="http://resources.arcgis.com/ro/operations-dashboard/video2195.html" class="icon-play">&nbsp;Watch a video</a> --> <a href="http://video.arcgis.com/iframe/2195/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Vizionaţi un videoclip</a>
			<video width="320" height="240" controls id="2195" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2195/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-3.png" />

          <h3>Monitorizaţi în browser</h3>
          <p>Utilizaţi vizualizarea operaţională într-un browser. Nu aveţi nimic de instalat. Este suficient să deschideţi o vizualizare operaţională şi veţi putea rămâne la curent cu operaţiunile dvs., chiar şi de pe iPad.</p>
          <p>
            <a href="/ro/operations-dashboard/windows-desktop/user/monitor-and-respond-to-events.htm" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br /> <!--<a href="" class="icon-right-arrow">&nbsp;See an example</a><br />-->
          </p>
        </div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/operations-dashboard/story-graphic-4.png" />

          <h3>Componente add-in pentru dezvoltare</h3>
          <p>Implementaţi-vă prorpia dvs. logică de afaceri unică în vizualizarea operaţională, folosind widgeturi personalizate, acţiuni asupra obiectelor spaţiale şi instrumente pentru hărţi. </p>
          <p>
            <a href="http://resources.arcgis.com/en/help/runtime-wpf/concepts/#/Welcome_to_the_help_for_developing_Operations_Dashboard_for_ArcGIS_add_ins/0170000000np000000/" class="icon-right-arrow">&nbsp;Arată-mi cum</a><br />
          </p>
        </div>        

        <div class="clear"></div>


	<a name="features" ></a>
	<h2 class="divider">Caracteristici</h2>
	<p>Constituiţi o imagine de ansamblu a sistemelor şi resurselor pe care le administraţi. Monitorizaţi în timp real feeduri de date pentru evenimente la scară mare sau pentru operaţiunile de zi cu zi pe desktop sau tabletă. Creaţi panouri de comandă executive specializate care să integreze hărţi, diagrame şi grafice.</p>
	
	<ul>
	<li>Utilizaţi hărţi cu surse de date dinamice pentru a furniza vizualizări în timp real.</li>
	<li>Configuraţi diagrame, indicatori de măsură, histograme şi alte elemente pentru a oferi un context statistic.</li>
	<li>Creaţi şi partajaţi vizualizări operaţionale, orientate către o anumită necesitate.</li>
	<li>Concepeţi vizualizări pentru utilizarea pe dispozitive cu unul sau mai multe monitoare.</li>
	<li>Creaţi widgeturi şi instrumente particularizate după nevoile dvs.</li>
	</ul>


        <a name="systemRequirements"></a>
        <h2 class="divider">Cerinţele de sistem</h2>

        <p>Pentru executarea Operations Dashboard există anumite cerinţe de sistem, dar şi cerinţe în privinţa datelor utilizate în cadrul aplicaţiei. Operations Dashboard oferă suport în mai multe limbi.</p>


        <h3>Sisteme de operare suportate</h3>

        <ul>
          <li>Windows 8,1 Windows 8.1 Pro şi Windows 8.1 Enterprise (pe 32 de biţi 64 de biţi [EM64T])</li>
          <li>Windows 8 Windows 8 Pro şi Windows 8 Enterprise (pe 32 de biţi 64 de biţi [EM64T])</li>
		  <li>Windows 7 Ultimate, Enterprise, Professional şi Home Premium (pe 32 de biţi 64 de biţi [EM64T]) SP1</li>
		  <li>Windows Server 2012 Standard şi Datacenter (pe 64 de biţi [EM64T])</li>
		<li>Windows Server 2008 R2 Standard, Enterprise şi Datacenter (pe 64 de biţi [EM64T]) SP1</li>
		<li>Windows Server 2008 Standard, Enterprise şi Datacenter (pe 32 de biţi 64 de biţi [EM64T]) SP2</li>
        </ul>


        <h3>Cerinţe hardware</h3>
        <ul>
			<li>Frecvenţă procesor: 2.2 GHz sau mai mare; Hyper-Threading (HTT) sau Multi-core este recomandat.</li>
			<li>Procesor: Intel Pentium 4, Core Duo sau Xeon; minim SSE2. Executaţi utilitarul Microsoft <a href="http://technet.microsoft.com/en-us/sysinternals/cc835722">Coreinfo</a> din promptul de comandă Windows pentru a vă verifica procesorul.</li>
			<li>Spaţiu pe disc: 1,5 GB de spaţiu disponibil pe disc.</li>
			<li>Memorie/RAM: 2 GB sau mai mare</li>
			<li>Proprietăţi de afişare: Adâncime de culoare 24 biţi.</li>
			<li>Rezoluţie ecran: 1024x768 sau mai mare la dimensiune normală (96 dpi).</li>
			<li>Spaţiu de mutare: Determinat în funcţie de sistemul de operare; minim 500 MB.</li>
			<li>Placă/Adaptor video: minim 64 MB RAM, 256 MB RAM recomandat; sunt acceptate chipseturi NVIDIA, ATI şi Intel. Driver pentru accelerarea plăcii grafice. Cel puţin Shader Model 2.0. Asiguraţi-vă că utilizaţi cel mai recent driver disponibil.</li>
		</ul>


        <h3>Cerinţe software</h3>
        <p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft .NET Framework 4.5</a> este obligatoriu. Pentru a-l instala, trebuie să aveţi pe maşină privilegii administrative.</p>

        <h3>Cerinţe pentru date</h3>
		<p>Pentru a vă utiliza hărţile în Operations Dashboard, trebuie să aveţi un cont ArcGIS de organizaţie. Hărţile dvs. pot include date din ArcGIS Online, Portal for ArcGIS şi ArcGIS for Server. Sursele de date trebuie găzduite în ArcGIS Online sau ArcGIS 10.1 for Server sau într-o versiune ulterioară.</p>

		<h3>Cerinţe pentru dezvoltator</h3>
		<p><a href="http://resources.arcgis.com/en/communities/runtime-wpf/index.html">ArcGIS Runtime SDK 10.2.2 for WPF</a> este obligatoriu pentru a particulariza Operations Dashboard for ArcGIS.</p>

	<h3>Limbi acceptate</h3>
	<p>arabă (<span class="icon-windows-8"/>), chineză simplificată, cehă, coreeană, daneză, ebraică (<span class="icon-windows-8"/>), engleză, estoniană, finlandeză, franceză, germană, italiană, japoneză, letonă, lituaniană, norvegiană, olandeză, poloneză, portugheză (Brazilia), portugheză (Portugalia), română, rusă, spaniolă, suedeză şi turcă.</p>
	<p>Limba utilizată în versiunea Windows a aplicaţiei este determinată de setarea pentru limbă a sistemului dvs. de operare. În versiunea pentru browser, pentru setarea limbii este utilizat profilul dvs. ArcGIS Online.</p>

        <a name="whatsNew"></a>
        <h2 class="divider">Ce este nou</h2>
        <p>Operations Dashboard for ArcGIS 10.2.2 a fost lansat în martie 2014. Acesta include următoarele îmbunătăţiri:</p>
        <ul>
        <li>Vizualizările operaţionale pot fi afişate într-un browser.</li>
        <li>Servicii de hărţi pot fi utilizate ca surse de date.</li>
        <li>Se respectă intervalele de reîmprospătare setate în straturile tematice.</li>
        <li>Noi instrumente de selectare.</li>
        <li>Sunt listate actualizări de widgeturi.</li>
        <li>Utilizează ArcGIS Runtime SDK 10.2.2 for WPF.</li>
        <li>Se pot dezvolta componente add-in cu ajutorul ArcGIS Runtime SDK 10.2.2 for WPF.</li>
        <li>Localizare în limba turcă.</li>
        </ul>
        
        <a name="sneakPeek"></a>
	<h2 class="divider">Scurtă prezentare</h2>
	<p>Aplicaţia Operations Dashboard actuală este excelentă pentru monitorizarea operaţiunilor. Însă multe alte lucruri urmează să îşi facă apariţia! Următoarele aspecte evidenţiază ceea ce dorim să realizăm cu această aplicaţie, arătând capabilităţile pe care le-am adus pentru fiecare dispozitiv al dvs.:</p>
	
	<table border="1" style="text-align:center">
	  <caption>Funcţionalitate în funcţie de platformă planificată. <br/> <span class="icon-check" style="color:black"></span> în prezent, <span class="icon-check icon-green"/> în curând, <span class="icon-check" style="color:lightgray"></span> ulterior<br/></caption>
	  <tr><td></td>
	    <th>Sistem desktop Windows</th>
	    <th>Browser</th>
	  </tr>
	  <tr><th>Creare vizualizări operaţionale</th>
	    <td><span class="icon-check"/></td>
	    <td></td>
	  </tr>
	  <tr><th>Utilizaţi vizualizările de operaţii</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check"/>*<br/><span style="font-size:12px">* Vizualizări operaţionale pe un singur afişaj</span></td>
	  </tr>
	  <tr><th>Lucru cu Portal for ArcGIS</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Capacitate de extindere</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Utilizare a serviciilor de hărţi drept surse de date</th>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Căutare date</th>
	    <td><span class="icon-check icon-green"/></td>
	    <td><span class="icon-check icon-green"/></td>
	  </tr>
	  <tr><th>Filtrare spaţială a informaţiilor</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <!--<tr><th>Sketch on the map</th> 	    <td><span class="icon-check" style="color:lightgray"/></td> 	    <td><span class="icon-check" style="color:lightgray"/></td> 	  </tr>-->
	  <tr><th>Utilizare îmbunătăţită a datelor nespaţiale (inclusiv tabele corelate)</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Vizualizare 3D</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr><th>Administrarea forţelor de muncă</th>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	</table>
	<p>Împărtăşiţi <a href="http://ideas.arcgis.com/">ideile</a> şi <a href="mailto:Dashboard4ArcGIS@esri.com?subject=Operations%20Dashboard%20feedback">trimiteţi-ne părerile dvs</a>.</p>
        
        <p>&nbsp;</p>
        

      </div>


      <div class="column-8 tablet-column-24 blocks">

       <div class="imgFrame block">
          <h3>Detalii</h3>
          
	  <h4><a href="#features">Caracteristici</a></h4>
	  <h4><a href="#systemRequirements">Cerinţe de sistem</a></h4>
	  <h4><a href="#whatsNew">Ce este nou</a></h4>
	  <h4><a href="#sneakPeek">Scurtă prezentare</a></h4>
          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>De pe blogul nostru</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/operations-dashboard/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
