---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - 1.0/core
  - 1.0/apps/app.cognos.1
  - 1.0/ui/jquery.colorbox.min
  - 1.0/ui/jquery.colorbox.init
  - 1.0/ui/video.init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.1" />
					<input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/maps-for-cognos/">Home</a></li>
        <li><a href="/ru/maps-for-cognos/install-windows/">Установка и настройка</a></li>
        <li><a href="/ru/maps-for-cognos/author-maps/">Создание карт</a></li>
        <li><a href="/ru/maps-for-cognos/use-maps/">Использование карт</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Форум</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Получить приложение</h2>
          <span id="appVersion"><strong>Версия:</strong> 6.0.1</span>
          <span id="appReleased"><strong>Доступно:</strong> Январь 2015</span>


          <p>Enrich your IBM Cognos создаёт отчёты с динамическими картами при помощи простых рабочих процессов &mdash; писать код или хорошо разбираться в ГИС для этого не обязательно. Esri Maps for IBM Cognos легко интегрируется с IBM Cognos 10, позволяя авторам отчетов добавлять и настраивать подробные карты, взаимодействующие с другими объектами в их отчетах IBM Cognos. Создавайте карты, в которых опубликованные в ArcGIS данные комбинируются с данными IBM Cognos, для более полного анализа. Пользователям отчета не нужно дополнительных навыков или инструментов для работы с отчетами со включенными картами и для визуального анализа данных.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Получить Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Добавление карт в отчет </h3>
          <p>Добавьте динамические карты в отчёт IBM Cognos для визуального анализа данных.</p>
          <p>
           <a href="/ru/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Просмотреть видео</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Настройка интерактивного поведения</h3>
          <p>Сделайте отчёты для пользователей более интерактивными. Выберите пространственные объекты на карте, чтобы обновить прочие объекты отчёта или подробнее изучить внешний отчёт.</p>
          <p>
			<a href="/ru/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
		   <a href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Просмотреть видео</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Добавление данных из ArcGIS</h3>
          <p>Добавьте опубликованные географические данные из ArcGIS чтобы скомбинировать их с картой отчёта для облегчения анализа.</p>
          <p><a href="/ru/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Подробнее</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Общий доступ к картам и слоям</h3>
          <p>Опубликуйте в ArcGIS карты или отдельные слои карт, чтобы с ними могли работать и другие пользователи как внутри вашей организации, так и за её пределами.</p>
          <p><a href="/ru/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Общий доступ к карте</a>
		  <br/>
		  <a href="/ru/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Предоставление общего доступа к слою</a>
          </p>
        </div>
    <div class="clear"></div> 
	  
	  
<br />
<hr />	  
<div class="clear"></div>
<a name="whatsNew"></a>
<h2>Что нового</h2>
<p>Esri Maps for IBM Cognos предлагает значительные обновления и улучшения для авторов, пользователей и администраторов отчетов. Вот некоторые особенности.
</p>

<h3>Обновление 6.0.1</h3>
<ul>
	<li>Пользователи отчётов могут добавлять данные из ArcGIS на карту</li>
	<li>Поддерживается для IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 и 10.2.2</li>
	<li>Поддерживается для Novell SUSE Linux Enterprise Server и Red Hat Enterprise Linux Server on System z</li>
	<li>Поддерживается для Apple Safari on iOS 8.x</li>
		<li>ПО и документация доступны на семи языках: английский, французский, немецкий, японский, корейский, русский и китайский упрощенный.</li>
</ul>
<br/>

<h3>Обновление 6.0</h3>
<ul>
<li>Поддерживается для Portal for ArcGIS, развёрнутого в автономной среде</li>
<li>Настройка интеграции для динамических слоёв картографических сервисов</li>
<li>Новые инструменты рисования для запуска на настроенном интерактивном поведении</li>
<li>Фильтрация показанных на карте пространственных объектов с помощью инструмента Фильтровать слой</li>
<li>Измерение расстояния, площади и координат X,Y с помощью инструмента Измерить</li>
<li>Геокодирование адресов и поиск маршрутов с помощью инструмента Получить маршрут</li>
<li>Конфигурирование Инфографики и прочие инструменты и настройки карты</li>
<li>Изменение экстента карты с помощью обзорной карты и прочих инструментов навигации</li>
<li>Указание WKID координат X,Y при добавлении точечных данных на карту</li>
<li>Настройка нескольких стилей для слоя</li>
<li>Включение интерактивного поведения через всплывающие окна</li>
<li>Просмотр и печать отчета, содержащего карты, в различных форматах</li>
<li>Увеличение производительности для более быстрой загрузки карты</li>
<li>Новые возможности для администраторов контролировать какие пользователи могут получать доступ и работать с Esri Maps for IBM Cognos</li>
<li>Поддержка IBM Cognos 10.2.1 Fix Packs 1, 2, 3 и 4</li>
<li>Поддержка мобильных браузеров: 
<ul>
<li>Apple Safari on iOS</li>
<li>Google Chrome for Android</li>
</ul> 
</li>

</ul>
<br/>
<h3>Обновление 5.0.1</h3>
<ul>
<li> Поддержка IBM Cognos 10.2.1</li>
<li> Поддержка платформ Linux и UNIX:
<ul><li> Linux Red Hat 5.3+</li>
<li>Linux SUSE 10 SP1+</li>
<li> AIX 6.1+</li>
</ul></li>
</ul>
<br/>
<h3>Обновление 5.0</h3>
<ul>
<li>Новый интерфейс "что видишь, то и получишь" (WYSIWYG) для просмотра карты, что еще более упрощает ее создание</li>
<li> Поддержка ArcGIS Online и Portal for ArcGIS 10.2</li>
<li> Полная интеграция с платформой ArcGIS:  
<ul>
<li>Добавление любой карты или слоя из ArcGIS для улучшения карты</li>
<li>Публикация карт и слоёв в ArcGIS<li>
</ul></li>
<li>Включение и настройка кластеризации для облегчения одновременного просмотра и анализа большого количества объектов</li>
<li>Широкий ассортимент значков, позволяющий настроить внешний вид карты наилучшим образом</li>
<li> Новые опции настройки карт интенсивности</li>
<li>Всплывающие окна карт теперь содержат данные Инфографики (Infographics), которые предлагают получение "на лету" демографической информации о выделенных областях</li>
<li>Простой доступ к защищенным веб-сервисам через платформу ArcGIS</li>
<li>Выборка объектов и поиск у себя на карте ближайших данных<li>
<li>Геокодирование адресов (поддержка глобального геокодирования).</li>
<li>Поддержка Настройка галереи базовых карт из организации ArcGIS</li>
<li>Поиск данных на ArcGIS с применением таких распространенных категорий, как благосостояние, бизнес, политика и здоровье.</li>
<li>Также имеются другие улучшения, направленные на повышение удобства использования и качества карт</li>
</ul>
  <p>&nbsp;</p>

      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Начало работы</h3>
          <ul>
           <li><a href="#whatsNew">Что нового</a></li>		
		  <li>Поддерживаемые среды
			<ul>
			<li><a href="/ru/maps-for-cognos/install-windows/supported-environments.htm">Windows</a></li>
			<li><a href="/ru/maps-for-cognos/install-linux/supported-environments.htm">Linux и UNIX</a></li>
			</ul></li>
		  
			<li>Справка для предыдущих версий:
			<ul>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/6.0">6.0</a>
			<li><a href="http://location-analytics.arcgis.com/en/maps-for-cognos/5.0.1">5.0.1</a></li>
			<li>4.3.2
				<ul>
					<li><a href="http://resources.arcgis.com/ru/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Руководство по установке и настройке</a></li>
					<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Руководство по созданию отчётов<li>
				</ul>
			</li>
			</ul>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Посмотреть видео</a></li>
		  </ul>
		  </li>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/js/1.0/ui/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
