---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2016-01-29"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="version" content="cognos-6.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING, COGNOS, BI, BUSINESS INTELLIGENCE"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.1" />
					<input type="hidden" name="language" value="ru" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/maps-for-cognos/">На главную</a></li>
        <li><a href="/ru/maps-for-cognos/install-windows/">Установка и настройка</a></li>
        <li><a href="/ru/maps-for-cognos/author-maps/">Создание карт</a></li>
        <li><a href="/ru/maps-for-cognos/use-maps/">Использование карт</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D&filterID=contentstatus%5Bpublished%5D~tag%5B_cognos%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Получить приложение</h2>
          <span id="appVersion"><strong>Версия:</strong> 6.1</span>
          <span id="appReleased"><strong>Доступна:</strong> Февраль 2016</span>


          <p>Обогатите свои отчёты IBM Cognos динамическими картами при помощи простых рабочих процессов – писать код или хорошо разбираться в ГИС для этого не обязательно. Esri Maps for IBM Cognos легко интегрируется с IBM Cognos, позволяя авторам отчетов добавлять и настраивать подробные карты, взаимодействующие с другими объектами в их отчетах IBM Cognos. Создавайте карты, в которых опубликованные в ArcGIS данные комбинируются с данными IBM Cognos, для более полного анализа. Для работы с отчетом, содержащим карту и визуального анализа данных не требуется дополнительных навыков или инструментов. 
</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Получить Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Add maps -->
        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <a title="Добавление карт в отчет" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c1a.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Добавление карт в отчет </h3>
          <p>Добавьте динамические карты в отчёт IBM Cognos для визуального анализа данных.</p>
          <p>
           <a href="/ru/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
			<a title="Добавление карт в отчет" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;См. видео</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>

		<!-- Configure interactive behaviors -->
        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <a title="Настройка интерактивного поведения" class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" style="max-width: 325px"><img src="em4c2.png" /><img class="playbtn" src="/img/playbtn.png"></a>

          <h3>Настройка интерактивного поведения</h3>
          <p>Сделайте отчёты для пользователей более интерактивными. Выберите пространственные объекты на карте, чтобы обновить объекты отчёта или подробнее изучить внешний отчёт.</p>
          <p>
			<a href="/ru/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
		   <a title="Настройка интерактивного поведения" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;См. видео</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Добавление данных из ArcGIS</h3>
          <p>Добавляйте опубликованные географические данные из ArcGIS и комбинируйте их с картой в отчёте, чтобы легче анализировать ваши данные.</p>
          <p><a href="/ru/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Подробнее</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Общий доступ к картам и слоям</h3>
          <p>Опубликуйте в ArcGIS карты или отдельные слои карт, чтобы с ними могли работать другие пользователи как внутри вашей организации, так и за её пределами.</p>
          <p><a href="/ru/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Общий доступ к карте</a>
		  <br/>
		  <a href="/ru/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Предоставление общего доступа к слою</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Что нового</h2>
<p>Esri Maps for IBM Cognos 6.1 был значительно обновлен и улучшен для эффективной работы авторов, пользователей и администраторов отчетов. Вот некоторые особенности.
</p>


<ul>
<li>Упрощенное картографическое приложение.</li>
<li>Позволяет быстро редактировать <a href="/ru/maps-for-cognos/author-maps/edit-layer-properties.htm">свойства слоя IBM Cognos</a> после добавления данных</li>
<li>Стилизация данных с помощью <a href="/ru/maps-for-cognos/author-maps/feature-display-and-style.htm#GUID-59F7F621-EEF8-40E5-829B-41DBC0C358B4">настраиваемой вручную классификации</a></li>
<li>Легенда карты в плавающем окне с возможностью изменения размеров (<a href="/ru/maps-for-cognos/author-maps/use-the-legend.htm">авторы отчетов</a> и <a href="/ru/maps-for-cognos/use-maps/use-the-legend.htm">пользователи</a>)</li>
<li>Изменение порядка отображения групп в легенде (<a href="/ru/maps-for-cognos/author-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">авторы отчетов</a> и <a href="/ru/maps-for-cognos/use-maps/use-the-legend.htm#ESRI_SECTION1_E23823B25CEC499CAFADC5783D27A40C">пользователи</a>)</li>
<li>Улучшенные средства настройки инструментов карты и параметров</li>
<li>Настройка доступных <a href="/ru/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_096AEB7953914BEAA4F1FB4AD718A1DF">инструментов карты</a> и <a href="/ru/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#ESRI_SECTION1_B3B7D16E14EF4CBAA70C5C39494A7DDB">элементов</a> на карте</li>
<li>Изменение внешнего вида карты с помощью <a href="/ru/maps-for-cognos/author-maps/configure-map-settings-and-tools.htm#GUID-0BCF234E-5050-4785-B2C0-91B4732D931A">готовых</a> или <a href="/ru/maps-for-cognos/install-windows/define-a-custom-map-theme.htm">пользовательских тем</a></li>
<li>Настройка <a href="/ru/maps-for-cognos/install-windows/modify-default-symbols-and-color-ramps.htm">символов и цветовых шкал по умолчанию</a>, доступных для отображения слоев, или добавление <a href="/ru/maps-for-cognos/install-windows/add-custom-symbol-sets.htm">собственных пользовательских наборов символов</a></li>
<li>Улучшен алгоритм карты интенсивности с поддержкой карт интенсивности взвешенных измерений (<a href="/ru/maps-for-cognos/author-maps/apply-a-heat-map.htm">авторы отчетов</a> и <a href="/ru/maps-for-cognos/use-maps/apply-a-heat-map.htm">пользователи</a>)</li>
<li>Улучшен пользовательский интерфейс для работы с атрибутивными таблицами объектов (<a href="/ru/maps-for-cognos/author-maps/view-records.htm">авторы отчетов</a> и <a href="/ru/maps-for-cognos/use-maps/view-records.htm">пользователи</a>)</li>
<li>Дополнительные числовые форматы, а также форматы дат и денежных единиц</li>
<li>Поддержка прозрачности в PDF-отчетах</li>
<li>Поддержка слоёв ArcGIS Web Map Service (WMS)</li>
<li>Поддержка ролей и прав доступа ArcGIS</li>
<li><a href="/ru/maps-for-cognos/install-windows/troubleshooting-view-as-pdf-or-excel.htm">Документация по устранению неисправностей</a> для администраторов</li>
</ul>



<hr />

 <a name="supportedEnvironments"></a>
        <h2>Поддерживаемые среды</h2>

        <p>Чтобы убедиться, Esri Maps for IBM Cognos работает без ошибок, Esri предлагает рабочую конфигурацию IBM Cognos Business Intelligence (BI). Программные среды для IBM Cognos BI могут быть активными, совместимыми или не поддерживаемыми. Esri тестирует Esri Maps for IBM Cognos, использующий только активную конфигурацию, кроме того, не все активные конфигурации тестируются/сертифицируются. </p>
		<p>Если ваша конфигурация IBM Cognos не указана ниже, свяжитесь с Технической поддержкой Esri или представительством Esri, чтобы узнать, планируется ли данная конфигурация в будущих выпусках, или возможно ли ее внесение в планы. Esri оказывает поддержку новых выпущенных пакетов исправлений IBM Cognos Fix Packs в течение 60 дней после того, как они становятся доступны для загрузки.</p>

<p>Esri Maps for IBM Cognos поддерживается для использования с IBM Cognos Enterprise и IBM Cognos Express 10.2.2 и более поздних. Продукт не поддерживается для использования &nbsp; с любой пользовательской редакцией.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 


<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp1')"> Системные требования</a></h3>
     <div exp1='yes' style="display:none;padding:0 15px;">

        <ul>
          <li>Жесткий диск: 300 МБ</li>
          <li>Память: 2 ГБ</li>
	</ul>
	<p><b>Примечание:</b> Требования к дисковому пространству могут отличаться, в зависимости от использования опции формата отчетов для Excel 2002. Для получения дополнительных сведений см. раздел <a href="/ru/maps-for-cognos/install-windows/report-formats.htm">Форматы отчетов</a>.</p>
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp2')"> Версии IBM Cognos</a></h3>
<div exp2='yes' style="display:none;padding:0 15px;">

<p>Esri оказывает поддержку новых выпущенных пакетов исправлений IBM Cognos Fix Packs в течение 60 дней после того, как они становятся доступны для загрузки.</p>
 <p>В следующей таблице показано, в каких версиях и с какими пакетами Fix Packs в IBM Cognos поддерживаются каждая из версий Esri Maps for IBM Cognos:</p>	
 


<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">Версии IBM Cognos</th>
<th colspan="5">Версии Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">5.0.1</th>
<th colspan="1" rowspan="1">6.0</th>
<th colspan="1" rowspan="1">6.0.1</th>
<th colspan="1" rowspan="1">6.0.2</th>
<th colspan="1" rowspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><p><b>10.1</b></p></td>
<td rowspan="1" colspan="1">10.1 GA</td>
<td>✔</td>
<td></td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.1.1</b></p></td>
<td rowspan="1" colspan="1">10.1.1 RP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.1.1 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="5" colspan="1"><p><b>10.2</b></p></td>
<td rowspan="1" colspan="1">10.2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP3</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2 FP4</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="10" colspan="1"><p><b>10.2.1</b></p></td>
<td rowspan="1" colspan="1">10.2.1</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP1</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP2</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP3</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP4</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP5</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP6</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP7</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP8</td>
<td rowspan="1" colspan="1">✔ *</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.1 FP9</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><p><b>10.2.2**</b></p></td>
<td rowspan="1" colspan="1">10.2.2</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>✔</td>
<td>✔</td>
<td>✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP1</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.2.2 FP3</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>

<br/>
<p>* Если у вас установлено Esri Maps for IBM Cognos версии 5.0.1, см. <a href="http://support.esri.com/en/knowledgebase/techarticles/detail/41743">статью 41743 Базы знаний</a> для получения более подробной информации до установки Fix Pack.</p>
<p>** Esri Maps for IBM Cognos 6.0.1 и дальнейшая поддержка IBM Cognos Express 10.2.2 в дополнение к IBM Cognos Enterprise.</p>
	
	
</div>
<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp3')"> Операционные системы</a></h3>
<div exp3='yes' style="display:none;padding:0 15px;">

 <p>IBM сертифицирует и поддерживает операционные системы, совместимые с определенным набором микросхем, известным как архитектура ЦПУ. Esri тестирует Esri Maps for IBM Cognos на наборе ОС (и архитектур), указанных компанией IBM как активных. Список тестов Esri основан на исследовании рынка и существующих у пользователей конфигурациях.</p>
 <p>В следующей таблице показано, в каких операционных системах поддерживаются следующие версии Esri Maps for IBM Cognos:</p>	


<table style="text-align:center" border="1">


<tr style="font-size:14px">
<th rowspan="1" colspan="2">Операционные системы</th>
<th rowspan="1" colspan="5">Версии Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th rowspan="1" colspan="2">&nbsp;</th>
<th rowspan="1" colspan="1">5.0.1</th>
<th rowspan="1" colspan="1">6.0</th>
<th rowspan="1" colspan="1">6.0.1</th>
<th rowspan="1" colspan="1">6.0.2</th>
<th rowspan="1" colspan="1">6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="4" colspan="1"><p><b>Windows Server</b></p></td>
<td rowspan="1" colspan="1">2008</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2008 R2</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">2012 R2</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>Red Hat Enterprise Linux Server</b></p></td>
<td rowspan="1" colspan="1">5.3+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="2" colspan="1"><p><b>Novell SUSE Linux Enterprise Server</b></p></td>
<td rowspan="1" colspan="1">10 SP1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10.3+ на System z</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔*</td>
<td rowspan="1" colspan="1">✔*</td>
</tr>

<tr>
<td rowspan="1" colspan="1"><p><b>IBM AIX</b></p></td>
<td rowspan="1" colspan="1">6.1+</td>
<td rowspan="1" colspan="1">&nbsp;</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

</tbody>
</table>

<br/>
<p>* Поддерживаются только версия System z 64-бит</p>
	
	
</div>	 
	 
<div class="clear"></div>

     <h3/>
	 
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp4')"> Системные требования (только Linux и UNIX)</a></h3>
<div exp4='yes' style="display:none;padding:0 15px;">

	 <p>Для запуска Esri Maps for IBM Cognos EM4C Gateway в операционных системах Linux и UNIX необходимы следующие библиотеки системных программ:</p>

        <ul>
          <li>Linux (32-разрядная)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64-разрядная)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux System z (64-разрядная)* 
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>//lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
	<p>* Требуется только для версий 6.0.1 и более поздней</p>
</div>


<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp5')"> Браузеры</a></h3>
<div exp5='yes' style="display:none;padding:0 15px;">
	 <p>Esri не тестирует все комбинации веб-браузеров (и ОС), указанные компанией IBM как поддерживаемые. Тестирование выполняется на последних версиях ОС с некоторыми веб-браузерами. Не все выбранные браузеры проверяются на всех ОС.</p>
       

<p>Подобным же образом Esri производит надежное тестирование браузеров только на платформе Windows. Предполагается, что Esri Maps for IBM Cognos будет работать ожидаемым образом на клиентах не на базе Windows, если будет использоваться один из нижеперечисленных веб-браузеров: Если у вас не было соответствующего опыта, свяжитесь с техподдержкой Esri (Esri Technical Support) для тестирования именно вашей комбинации операционной системы и веб-браузера.</p>

<p>В следующей таблице показано, какие браузеры протестированы для следующих версий Esri Maps for IBM Cognos:</p>

<table style="text-align:center" border="1">

<tr style="font-size:14px">
<th colspan="2">Браузеры</th>
<th colspan="5">Версии Esri Maps for IBM Cognos</th>
</tr>

<tr style="font-size:14px">
<th colspan="2">&nbsp;</th>
<th>5.0.1</th>
<th>6.0</th>
<th>6.0.1</th>
<th>6.0.2</th>
<th>6.1</th>
</tr>

<tbody style="font-size:14px"> 

<tr>
<td rowspan="2" colspan="1"><b>Apple Safari on iOS</b></td>
<td rowspan="1" colspan="1">7</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="3" colspan="1"><b>Google Chrome</b></td>
<td rowspan="1" colspan="1">21</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">33</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">41</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="2" colspan="1"><b>Google Chrome for Android</b></td>
<td rowspan="1" colspan="1">36</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>


<tr>
<td rowspan="4" colspan="1"><b>Internet Explorer*</b></td>
<td rowspan="1" colspan="1">8</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>

<tr>
<td rowspan="4" colspan="1"><b>Firefox</b></td>
<td rowspan="1" colspan="1">ESR 17</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 24</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
<td rowspan="1" colspan="1">✔</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 38</td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1"></td>
<td rowspan="1" colspan="1">✔</td>
</tr>
</tbody>
</table>
<p></p>

<p>*Карты интенсивности не совместимы с IBM Cognos, запущенном в Internet Explorer. В Esri Maps for IBM Cognos 6.0.1 и ранее кластеры с круговыми диаграммами также не совместимы с IBM Cognos, запущенном в Internet Explorer. Более подробно см. в статье <a href="http://support.esri.com/en/knowledgebase/techarticles/detail/42801">42801 Базы знаний</a>.</p>
<p>**Internet Explorer 10 и 11 поддерживаются только в режиме совместимости.</p>
<p>Браузеры Google Chrome for Android и Apple Safari на iOS поддерживаются только для пользователей отчетов. Esri Maps Designer не поддерживается в этих браузерах.</p>

<p>Для улучшенного отображения объектов карт и графики в Internet Explorer рекомендуется загрузить и установить на клиенте Silverlight 5.x. </p>
</div>



<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp6')"> Языки</a></h3>
<div exp6='yes' style="display:none;padding:0 15px;">
       <p>Перечисленные ниже языки обозначают локализацию продукта, с которой тестировался Esri Maps for IBM Cognos версий 6.0.1, 6.0.2 и 6.1:</p>
	
        <ul>
          <li>Китайский (Китай)</li>
		  <li>Английский</li>
		  <li>Французский</li>
		  <li>Немецкий</li>
		  <li>Японский</li>
		  <li>Корейский</li>
		  <li>Русский</li>
	</ul>

       <p>Esri Maps for IBM Cognos 6.0 и 5.0.1 поддерживает только английский.</p>
        

</div>

<div class="clear"></div>

     <h3/>
<h3><a class="icon-right-arrow" onclick="exp(event,'div','exp7')"> Поддержка</a></h3>
<div exp7='yes' style="display:none;padding:0 15px;">
<p>Для правильной настройки и работы IBM Cognos требуется несколько компонентов сторонних производителей. К этим компонентам относятся серверы приложений, веб-серверы, серверы баз данных, библиотеки Java и т.д. IBM Technical Support предоставляет помощь в развертывании IBM Cognos с этими компонентами. Esri Technical Support предоставляет помощь в развертывании (и использовании) Esri Maps for IBM Cognos.</p>

<p>Специалисты Esri Technical Support не являются экспертами во всех возможных конфигурациях IBM Cognos. Также, специалисты IBM Technical Support не являются экспертами по компонентам сторонних производителей, которые требуются для создания рабочих конфигураций Esri Maps for IBM Cognos. Если вы испытываете трудности при настройке IBM Cognos, часто наиболее эффективным будет обращение в IBM Technical Support. Также если вы испытываете трудности при настройке компонентов сторонних производителей, следует обращаться в соответствующие службы поддержки.  Если предполагается, что проблема вызвана Esri Maps for IBM Cognos, Esri Technical Support готов к работе с IBM Technical Support и/или сторонними поставщиками и/или их консультантами.</p>
<br />
<hr />
  </div>
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Начало работы</h3>
          <ul>
          <li><a href="#whatsNew">Что нового</a></li>		
		  <li><a href="#supportedEnvironments">Поддерживаемые среды</a></li>
		  <li>Справка для предыдущих версий:
			<ul>
				
				<li><a href="/ru/maps-for-cognos/6.0.2">6.0.2</a></li>
				<li><a href="/ru/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/en/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Руководство по установке и настройке</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Руководство по созданию отчётов<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Посмотреть видео</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
