---
title: Esri Maps for Cognos

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app.cognos.1
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Cognos Home page"><META name="last-modified" content="2015-01-10"><META name="product" content="esri-maps-cognos,esri-maps-cognos-mobile"><META name="sub_category" content="Esri Maps for Cognos"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for Cognos"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="cognos-6.0.2"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/maps-for-cognos/">Esri Maps for IBM Cognos</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Cognos" data-langlabel="search-esri-maps-cognos">
                    <input type="hidden" name="collection" value="справка" />
                    <input type="hidden" name="product" value="esri-maps-cognos" />          
                    <input type="hidden" name="version" value="cognos-6.0.2" />
					<input type="hidden" name="language" value="ru" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/ru/maps-for-cognos/">Home</a></li>
        <li><a href="/ru/maps-for-cognos/install-windows/">Установка и настройка</a></li>
        <li><a href="/ru/maps-for-cognos/author-maps/">Создание карт</a></li>
        <li><a href="/ru/maps-for-cognos/use-maps/">Использование карт</a></li>
        <li><a href="http://forums.arcgis.com/forums/221-Esri-Maps-for-IBM-Cognos/">Форум</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Получение приложения</h2>
          <span id="appVersion"><strong>Версия:</strong> 6.0.2</span>
          <span id="appReleased"><strong>Доступно:</strong> Апрель 2015</span>


          <p>Enrich your IBM Cognos создаёт отчёты с динамическими картами при помощи простых рабочих процессов &mdash; писать код или хорошо разбираться в ГИС для этого не обязательно. Esri Maps for IBM Cognos легко интегрируется с IBM Cognos 10, позволяя авторам отчетов добавлять и настраивать подробные карты, взаимодействующие с другими объектами в их отчетах IBM Cognos. Создавайте карты, в которых опубликованные в ArcGIS данные комбинируются с данными IBM Cognos, для более полного анализа. Для работы с отчетом, содержащим карту и визуального анализа данных не требуется дополнительных навыков или инструментов.   
</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-ibm-cognos/pricing">Получить Esri Maps for IBM Cognos</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="addandconfigureamap" class="column-12 phone-column-24">
          <img src="em4c1a.png" />

          <h3>Добавление карт в отчет </h3>
          <p>Добавьте динамические карты в отчёт IBM Cognos для визуального анализа данных.</p>
          <p>
           <a href="/ru/maps-for-cognos/author-maps/configure-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
			<a title="Добавление карт в отчет" href="http://video.arcgis.com/iframe/3946/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Посмотреть видео</a>
			<video width="320" height="240" controls id="3946" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3946/mp4/480">
			</video>
          </p>
        </div>


        <div id="configureinteractivebehaviors" class="column-12 phone-column-24">
          <img src="em4c2.png" />

          <h3>Настройка интерактивного поведения</h3>
          <p>Сделайте отчёты для пользователей более интерактивными. Выберите пространственные объекты на карте, чтобы обновить прочие объекты отчёта или подробнее изучить внешний отчёт.</p>
          <p>
			<a href="/ru/maps-for-cognos/author-maps/about-interactive-behaviors.htm" class="icon-right-arrow">&nbsp;Подробнее</a>
			<br/>
		   <a title="Настройка интерактивного поведения" href="http://video.arcgis.com/iframe/3947/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Посмотреть видео</a>
		<video width="320" height="240" controls id="3947" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3947/mp4/480">
			</video>
          </p>
        </div>
		<br/>
        <div class="clear"></div>


		<div id="adddatafromArcGIS" class="column-12 phone-column-24">
          <img src="em4c3.png" />

          <h3>Добавление данных из ArcGIS</h3>
          <p>Добавляйте опубликованные географические данные из ArcGIS и комбинируйте их с картой в отчёте, чтобы легче анализировать ваши данные.</p>
          <p><a href="/ru/maps-for-cognos/author-maps/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Подробнее</a>         
          </p>
        </div>


        <div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4c4.png" />

          <h3>Общий доступ к картам и слоям</h3>
          <p>Опубликуйте в ArcGIS карты или отдельные слои карт, чтобы с ними могли работать другие пользователи как внутри вашей организации, так и за её пределами.</p>
          <p><a href="/ru/maps-for-cognos/use-maps/share-a-map-on-arcgis.htm" class="icon-right-arrow">&nbsp;Общий доступ к карте</a>
		  <br/>
		  <a href="/ru/maps-for-cognos/use-maps/share-a-layer-on-arcgis.htm" class="icon-right-arrow">&nbsp;Предоставление общего доступа к слою</a>
          </p>
        </div>
    <div class="clear"></div> 
	  

<hr />

<a name="whatsNew"></a>
<h2>Что нового</h2>
<p>Esri Maps for IBM Cognos был значительно обновлен и улучшен для эффективной работы авторов, пользователей и администраторов отчетов. Вот некоторые особенности.
</p>

<h3>6.0.2</h3>

<ul>
<li>Обновилась легенда карты</li>
<li>Усовершенствован процесс кластеризации</li>
<li>В Internet Explorer теперь поддерживаются кластеры круговой диаграммы</li>
<li>Администраторы могут легко и просто восстановить настройки администрирования и авторизации по умолчанию для своих сред.</li>
<li>Поддерживается для IBM Cognos 10.1.1 FP4 и 10.2.1 FP6</li>
<li>Поддерживается для Google Chrome for Android версии 40</li>
</ul>

<h3>6.0.1 патч 1</h3>
<p>Этот патч ускоряет производительность и отображение объектов карты, а также графики в Internet Explorer. Производительность приближается к той, что у Firefox и Chrome. Исправлены две ошибки в стилях легенды. Для получения подробной информации и загрузки патча см. <a href="http://support.esri.com/ru/downloads/patches-servicepacks/view/productid/193/metaid/2187">support.esri.com</a>.</p>

<h3>Обновление 6.0.1</h3>

<ul>
	<li>На карту в отчёте можно добавлять данные из ArcGIS</li>
	<li>Поддерживается для IBM Cognos 10.1, 10.1.1, 10.2 FP 4, 10.2.1 FP5 и 10.2.2</li>
	<li>Поддерживается для Novell SUSE Linux Enterprise Server и Red Hat Enterprise Linux Server on System z</li>
	<li>Поддерживается для Apple Safari on iOS 8.x</li>
	<li>ПО и документация доступны на семи языках: английский, французский, немецкий, японский, корейский, русский и китайский упрощенный.</li>
</ul>


<h3>Обновление 6.0</h3>

<ul>
<li>Поддерживается для Portal for ArcGIS, развёрнутого в автономной среде</li>
<li>Настройка интеграции для динамических слоёв картографических сервисов</li>
<li>Новые инструменты рисования для запуска на настроенном интерактивном поведении</li>
<li>Фильтрация показанных на карте пространственных объектов с помощью инструмента Фильтровать слой</li>
<li>Измерение расстояния, площади и координат X,Y с помощью инструмента Измерить</li>
<li>Геокодирование адресов и поиск маршрутов с помощью инструмента Получить маршрут</li>
<li>Конфигурирование Инфографики и прочие инструменты и настройки карты</li>
<li>Изменение экстента карты с помощью обзорной карты и прочих инструментов навигации</li>
<li>Указание WKID координат X,Y при добавлении точечных данных на карту</li>
<li>Настройка нескольких стилей для слоя</li>
<li>Включение интерактивного поведения через всплывающие окна</li>
<li>Просмотр и печать отчета, содержащего карты, в различных форматах</li>
<li>Увеличение производительности для более быстрой загрузки карты</li>
<li>Новые возможности для администраторов контролировать какие пользователи могут получать доступ и работать с Esri Maps for IBM Cognos</li>
<li>Поддержка IBM Cognos 10.2.1 Fix Packs 1, 2, 3 и 4</li>
<li>Поддержка мобильных браузеров: 
<ul>
<li>Apple Safari on iOS</li>
<li>Google Chrome for Android</li>
</ul> 
</li>

</ul>

<hr />

 <a name="supportedEnvironments"></a>
        <h2>Поддерживаемые среды</h2>

        <p>Чтобы убедиться, Esri Maps for IBM Cognos работает без ошибок, Esri предлагает рабочую конфигурацию IBM Cognos Business Intelligence (BI). Программные среды для IBM Cognos BI могут быть активными, совместимыми или не поддерживаемыми. Esri тестирует Esri Maps for IBM Cognos, использующий только активную конфигурацию, кроме того, не все активные конфигурации тестируются/сертифицируются. Если ваша конфигурация IBM Cognos не указана ниже, свяжитесь с Технической поддержкой Esri или представительством Esri, чтобы узнать, планируется ли данная конфигурация в будущих выпусках, или возможно ли ее внесение в планы.</p>

<p>Esri Maps for IBM Cognos поддерживается для использования с IBM Cognos Enterprise. Продукт не поддерживается для использования с IBM Cognos Express или любой пользовательской редакцией.</p>


<script> 
 function exp(e,strTag ,strAttribute){ 
 var elem = document.getElementsByTagName(strTag); 
 var elem1 = e.target;
 for (var i=0;i<elem1.children.length;i++){ 
 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
 } 
 for (var i =0;i<elem.length;i++) 
 { 
 if(elem[i].getAttribute(strAttribute)=="yes") 
 { 
 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
 } 
 } 
 } 
 </script> 

<h3>Системные требования</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp18')">6.0.2</a>
     <div exp18='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Жесткий диск: 300 МБ</li>
          <li>Память: 2 ГБ</li>
	</ul>
	<p><b>Примечание:</b> Требования к дисковому пространству могут отличаться, в зависимости от использования опции формата отчетов для Excel 2002. Для получения дополнительных сведений см. раздел <a href="/ru/maps-for-cognos/install-windows/report-formats.htm">Форматы отчетов</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp1')">6.0.1</a>
     <div exp1='yes' style="display:none;padding:0 15px;">
        <ul>
          <li>Жесткий диск: 300 МБ</li>
          <li>Память: 2 ГБ</li>
	</ul>
	<p><b>Примечание:</b> Требования к дисковому пространству могут отличаться, в зависимости от использования опции формата отчетов для Excel 2002. Для получения дополнительных сведений см. раздел <a href="/ru/maps-for-cognos/6.0.1/install-windows/report-formats.htm">Форматы отчетов</a>.</p>
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp2');" style="display:inline;">6.0</a>
	<div exp2='yes' style="display:none;padding:0 15px;">
       <ul>
          <li>Жесткий диск: 300 МБ</li>
          <li>Память: 2 ГБ</li>
		  
        </ul>
		<p><b>Примечание:</b> Требования к дисковому пространству могут отличаться, в зависимости от использования опции формата отчетов для Excel 2002. Для получения дополнительных сведений см. раздел <a href="/ru/maps-for-cognos/6.0/install-windows/report-formats.htm">Форматы отчетов</a>.</p>
</div>
<div class="clear"></div>

     <h3/>
<h3>Версии IBM Cognos</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp19')">6.0.2</a>
     <div exp19='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos поддерживается для использования следующих версий IBM Cognos:</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
<li>10.1.1 FP4</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
<li>10.2.1 FP6</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>




  <a class="icon-right-arrow" onclick="exp(event,'div','exp3')">6.0.1</a>
     <div exp3='yes' style="display:none;padding:0 15px;">
	 <p>Esri Maps for IBM Cognos поддерживается для использования следующих версий IBM Cognos:</p>
        <ul>
          <li>IBM Cognos 10.1
		  <ul>
		  <li>10.1 GA</li>
		  <li>10.1 FP1</li>
		  </ul>
</li>
<li>IBM Cognos 10.1.1
<ul>
<li>10.1.1 RP1</li>
<li>10.1.1 FP1</li>
<li>10.1.1 FP2</li>
<li>10.1.1 FP3</li>
</ul>
</li>

<li>IBM Cognos 10.2
<ul>
<li>10.2</li>
<li>10.2 FP1</li>
<li>10.2 FP2</li>
<li>10.2 FP3</li>
<li>10.2 FP4</li>
</ul>
</li>
<li>IBM Cognos 10.2.1
<ul>
<li>10.2.1</li>
<li>10.2.1 FP1</li>
<li>10.2.1 FP2</li>
<li>10.2.1 FP3</li>
<li>10.2.1 FP4</li>
<li>10.2.1 FP5</li>
</ul>
</li>

<li>IBM Cognos 10.2.2
<ul>
<li>10.2.2</li>
</ul>
</li>
	</ul>
	
</div>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp4');" style="display:inline;">6.0</a>
	<div exp4='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos поддерживается для использования следующих версий IBM Cognos:</p>
        <ul>
          <li>IBM Cognos 10.2
		  <ul>
		  <li>10.2</li>
		  </ul></li>
		  <li>IBM Cognos 10.2.1
		  <ul>
		  <li>10.2.1</li>
		  <li>10.2.1 FP 1</li>
		  <li>10.2.1 FP 2</li>
		  <li>10.2.1 FP 3</li>
		  <li>10.2.1 FP4</li>
			<li>10.2.1 FP5</li>
		  </ul>
		  </li>
		 
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp5');" style="display:inline;">5.0.1</a>
	<div exp5='yes' style="display:none;padding:0 15px;">
        <p>Esri Maps for IBM Cognos поддерживается для использования следующих версий IBM Cognos:</p>
        <ul>
          <li>IBM Cognos 10.1
		  </li>
		  <li>IBM Cognos 10.1.1</li>
		  <li>IBM Cognos 10.2</li>
		  <li>IBM Cognos 10.2.1
			<ul>
			<li>10.2.1</li>
			<li>10.2.1 FP1*</li>
			<li>10.2.1 FP2*</li>
			<li>10.2.1 FP3*</li>
			<li>10.2.1 FP4*</li>
			<li>10.2.1 FP5*</li>
			</ul>
		  </li>
		  
		
	</ul>
	<p>* Для получения более подробной информации до установки Fix Pack см. <a href="http://support.esri.com/ru/knowledgebase/techarticles/detail/41743">статью 41743 Базы знаний</a>.</p>
</div>

<div class="clear"></div>

     <h3/>
<h3>Операционные системы</h3>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp20')">6.0.2</a>
     <div exp20='yes' style="display:none;padding:0 15px;">
	 <p>IBM сертифицирует и поддерживает операционные системы, совместимые с определенным набором микросхем, известным как архитектура ЦПУ. Esri тестирует Esri Maps for IBM Cognos на наборе ОС (и архитектур), указанных компанией IBM как активных. Список тестов Esri основан на исследовании рынка и существующих у пользователей конфигурациях.</p>
	 <p>Esri Maps for IBM Cognos поддерживается на следующих ОС:</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+ on System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Поддерживаются только версия System z 64-бит</p>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp6')">6.0.1</a>
     <div exp6='yes' style="display:none;padding:0 15px;">
	 <p>IBM сертифицирует и поддерживает операционные системы, совместимые с определенным набором микросхем, известным как архитектура ЦПУ. Esri тестирует Esri Maps for IBM Cognos на наборе ОС (и архитектур), указанных компанией IBM как активных. Список тестов Esri основан на исследовании рынка и существующих у пользователей конфигурациях.</p>
	 <p>Esri Maps for IBM Cognos поддерживается на следующих ОС:</p>
        <ul>

          <li>Windows Server 2012 R2</li>
		  <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux Server 5.3+*</li>
		  <li>Novell SUSE Linux Enterprise Server 10 SP1+ (10.3+ on System z)*</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
	<p>* Поддерживаются только версия System z 64-бит</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp7');" style="display:inline;">6.0</a>
	<div exp7='yes' style="display:none;padding:0 15px;">
	<p>IBM сертифицирует и поддерживает операционные системы, совместимые с определенным набором микросхем, известным как архитектура ЦПУ. Esri тестирует Esri Maps for IBM Cognos на наборе ОС (и архитектур), указанных компанией IBM как активных. Список тестов Esri основан на исследовании рынка и существующих у пользователей конфигурациях.</p>
        <p>Esri Maps for IBM Cognos поддерживается на следующих ОС:</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
		  <li>Red Hat Enterprise Linux 5.3+</li>
		  <li>Novell SUSE Linux Enterprise 10 SP1+</li>
		  <li>IBM AIX 6.1+</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp8');" style="display:inline;">5.0.1</a>
	<div exp8='yes' style="display:none;padding:0 15px;">
	<p>IBM сертифицирует и поддерживает операционные системы, совместимые с определенным набором микросхем, известным как архитектура ЦПУ. Esri тестирует Esri Maps for IBM Cognos на наборе ОС (и архитектур), указанных компанией IBM как активных. Список тестов Esri основан на исследовании рынка и существующих у пользователей конфигурациях.</p>
        <p>Esri Maps for IBM Cognos поддерживается на следующих ОС:</p>
        <ul>
          <li>Windows Server 2012</li>
		  <li>Windows Server 2008</li>
		  <li>Windows Server 2008 R2</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Системные требования (только Linux и UNIX)</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp21')">6.0.2</a>
     <div exp21='yes' style="display:none;padding:0 15px;">
	 <p>Для запуска Esri Maps for IBM Cognos EM4C Gateway в операционных системах Linux и UNIX необходимы следующие библиотеки системных программ:</p>

        <ul>
          <li>Linux (32-разрядная)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64-разрядная)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>%Linux System z (64-bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>//lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp9')">6.0.1</a>
     <div exp9='yes' style="display:none;padding:0 15px;">
	 <p>Для запуска Esri Maps for IBM Cognos EM4C Gateway в операционных системах Linux и UNIX необходимы следующие библиотеки системных программ:</p>

        <ul>
          <li>Linux (32-разрядная)
		  <ul>
			<li>linux-gate.so.1</li>
			<li>/lib/libc.so.6</li>
			<li>/lib/libdl.so.2</li>
			<li>/lib/librt.so.1</li>
			<li>/lib/ld-linux.so.2</li>
			<li>/lib/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>Linux (64-разрядная)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>/lib64/ld-linux-x86-64.so.2</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>%Linux System z (64-bit)
		  <ul>
			<li>/lib64/libc.so.6</li>
			<li>/lib64/libdl.so.2</li>
			<li>/lib64/librt.so.1</li>
			<li>//lib/ld64.so.1</li>
			<li>/lib64/libpthread.so.0</li>
		  </ul>
		  </li>
		  <li>AIX (32-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr.o)</li>
			<li>libcrypt.a(shr.o)</li>
			<li>libiconv.a(shr4.o)</li>
			<li>libpthreads.a(shr_xpg5.o)</li>
			<li>libpthreads.a(shr_comm.o)</li>
		  </ul>
		  </li>
		  <li>AIX (64-разрядная)
		  <ul>
			<li>unix</li>
			<li>libc.a(shr_64.o)</li>
			<li>ibcrypt.a(shr_64.o)</li>
			<li>libiconv.a(shr4_64.o)</li>
			<li>libpthreads.a(shr_xpg5_64.o)</li>
			</ul>
			</li>
					  
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp10');" style="display:inline;">6.0</a>
	<div exp10='yes' style="display:none;padding:0 15px;">
        <p>Для запуска Esri Maps for IBM Cognos EM4C Gateway в операционных системах Linux и UNIX необходимы следующие библиотеки системных программ:</p>

        <ul>
          <li>Linux (32-разрядная)
			<ul>
				<li>linux-gate.so.1</li>
				<li>/lib/libc.so.6</li>
				<li>/lib/libdl.so.2</li>
				<li>/lib/librt.so.1</li>
				<li>/lib/ld-linux.so.2</li>
				<li>/lib/libpthread.so.0</li>
			</ul>
		  </li>
		  <li>Linux (64-разрядная)
			<ul>
				<li>/lib64/libc.so.6</li>
				<li>/lib64/libdl.so.2</li>
				<li>/lib64/librt.so.1</li>
				<li>/lib64/ld-linux-x86-64.so.2</li>
				<li>/lib64/libpthread.so.0</li>
				
			</ul>
		  </li>
		  <li>AIX (32-разрядная)
			<ul>
				<li>unix</li>
				<li>libc.a(shr.o)</li>
				<li>libcrypt.a(shr.o)</li>
				<li>libiconv.a(shr4.o)</li>
				<li>libpthreads.a(shr_xpg5.o)</li>
				<li>libpthreads.a(shr_comm.o)</li>
			</ul>
		  </li>
		  <li>AIX (64-разрядная)
			<ul>
				<li>unix</li>
				<li>libc.a(shr_64.o)</li>
				<li>ibcrypt.a(shr_64.o)</li>
				<li>libiconv.a(shr4_64.o)</li>
				<li>libpthreads.a(shr_xpg5_64.o)</li>
				
			</ul>
		  </li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp11');" style="display:inline;">5.0.1</a>
	<div exp11='yes' style="display:none;padding:0 15px;">
        <p>Для запуска Esri Maps for IBM Cognos EM4C Gateway в операционных системах Linux и UNIX необходимы следующие библиотеки системных программ:</p>
   
<ul>
          <li>Linux (32-разрядная)
		  <ul>
		  <li>linux-gate.so.1</li>
		  <li>/lib/libc.so.6</li>
		  <li>/lib/libdl.so.2</li>
		  <li>/lib/librt.so.1</li>
		  <li>/lib/ld-linux.so.2</li>
		  <li>/lib/libpthread.so.0</li>
		  </ul></li>
		  
		  <li>Linux (64-разрядная)
		  <ul>
		  <li>/lib64/libc.so.6</li>
		  <li>/lib64/libdl.so.2</li>
		  <li>/lib64/librt.so.1</li>
		  <li>/lib64/ld-linux-x86-64.so.2</li>
		  <li>/lib64/libpthread.so.0</li>
		  
		  </ul>
		  </li>
		  
		  <li>AIX (32-разрядная)
		  <ul>
		  <li>unix</li> 
		  <li>libc.a(shr.o)</li>
		  <li>libcrypt.a(shr.o)</li>
		  <li>libiconv.a(shr4.o)</li>
		  <li>libpthreads.a(shr_xpg5.o)</li>
		  <li>libpthreads.a(shr_comm.o)</li>
		  </ul></li>
		  
		 <li>AIX (64-разрядная)
		 <ul>
		 <li>unix</li>
		  <li>libc.a(shr_64.o)</li>
		  <li>ibcrypt.a(shr_64.o)</li>
		  <li>libiconv.a(shr4_64.o)</li>
		  <li>libpthreads.a(shr_xpg5_64.o)</li>
		  </ul>
		 </li>
		 
		  </ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Браузеры</h3>
<a class="icon-right-arrow" onclick="exp(event,'div','exp22')">6.0.2</a>
     <div exp22='yes' style="display:none;padding:0 15px;">
	 <p>Esri не тестирует все комбинации веб-браузеров (и ОС), указанные компанией IBM как поддерживаемые. Тестирование выполняется на последних версиях ОС с некоторыми веб-браузерами. Не все выбранные браузеры проверяются на всех ОС.</p>
       

<p>Подобным же образом Esri производит надежное тестирование браузеров только на платформе Windows. Предполагается, что Esri Maps for IBM Cognos будет работать ожидаемым образом на клиентах не на базе Windows, если будет использоваться один из нижеперечисленных веб-браузеров: Если у вас не было соответствующего опыта, свяжитесь с техподдержкой Esri (Esri Technical Support) для тестирования именно вашей комбинации операционной системы и веб-браузера.</p>

<p>Были протестированы браузеры</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Название браузера</th>
<th>Версия браузера</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari on iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Google Chrome for Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="1" colspan="1">40</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Карты интенсивности не совместимы с IBM Cognos, запущенном в Internet Explorer. Более подробно см. в статье <a href="http://support.esri.com/ru/knowledgebase/techarticles/detail/42801">42801 Базы знаний</a>.</p>
<p>**Internet Explorer 10 и 11 поддерживаются только в режиме совместимости.</p>
<p>Браузеры Google Chrome for Android и Apple Safari на iOS поддерживаются только для пользователей отчетов. Esri Maps Designer не поддерживается в этих браузерах.</p>
<p>Для улучшенного отображения объектов карт и графики в Internet Explorer рекомендуется загрузить и установить на клиенте Silverlight 5.x. </p>
</div>

<div class="clear" style="padding:5px;"></div>

  <a class="icon-right-arrow" onclick="exp(event,'div','exp12')">6.0.1</a>
     <div exp12='yes' style="display:none;padding:0 15px;">
	 <p>Esri не тестирует все комбинации веб-браузеров (и ОС), указанные компанией IBM как поддерживаемые. Тестирование выполняется на последних версиях ОС с некоторыми веб-браузерами. Не все выбранные браузеры проверяются на всех ОС.</p>
       

<p>Подобным же образом Esri производит надежное тестирование браузеров только на платформе Windows. Предполагается, что Esri Maps for IBM Cognos будет работать ожидаемым образом на клиентах не на базе Windows, если будет использоваться один из нижеперечисленных веб-браузеров: Если у вас не было соответствующего опыта, свяжитесь с техподдержкой Esri (Esri Technical Support) для тестирования именно вашей комбинации операционной системы и веб-браузера.</p>

<p>Были протестированы браузеры</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Название браузера</th>
<th>Версия браузера</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td rowspan="2" colspan="1">Apple Safari on iOS</td>
<td rowspan="1" colspan="1">7.x</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome for Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td rowspan="2" colspan="1">Firefox</td>
<td rowspan="1" colspan="1">ESR 24</td>
</tr>
<tr>
<td rowspan="1" colspan="1">ESR 31</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Карты интенсивности и кластеры с круговыми диаграммами не совместимы с IBM Cognos, запущенном в Internet Explorer. Более подробно см. в статье <a href="http://support.esri.com/ru/knowledgebase/techarticles/detail/42801">42801 Базы знаний</a>.</p>
<p>**Internet Explorer 10 и 11 поддерживаются только в режиме совместимости.</p>
<p>Браузеры Google Chrome for Android и Apple Safari на iOS поддерживаются только для пользователей отчетов. Esri Maps Designer не поддерживается в этих браузерах.</p>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp13');" style="display:inline;">6.0</a>
	<div exp13='yes' style="display:none;padding:0 15px;">
        <p>Esri не тестирует все комбинации веб-браузеров (и ОС), указанные компанией IBM как поддерживаемые. Тестирование выполняется на последних версиях ОС с некоторыми веб-браузерами. Не все выбранные браузеры проверяются на всех ОС.</p>
       

<p>Подобным же образом Esri производит надежное тестирование браузеров только на платформе Windows. Предполагается, что Esri Maps for IBM Cognos будет работать ожидаемым образом на клиентах не на базе Windows, если будет использоваться один из нижеперечисленных веб-браузеров: Если у вас не было соответствующего опыта, свяжитесь с техподдержкой Esri (Esri Technical Support) для тестирования именно вашей комбинации операционной системы и веб-браузера.</p>

<p>Были протестированы браузеры</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Название браузера</th>
<th>Версия браузера</th>
</tr>

&lt;tbody style="font-size:14px"> 
<tr>
<td>Apple Safari on iOS</td>
<td>7.x</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>33</td>
</tr>
<tr>
<td>Google Chrome for Android</td>
<td>36</td>
</tr>
<tr>
<td rowspan="4" colspan="1">Internet Explorer*</td>
<td rowspan="1" colspan="1">8</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9</td>
</tr>
<tr>
<td rowspan="1" colspan="1">10**</td>
</tr>
<tr>
<td rowspan="1" colspan="1">11**</td>
</tr>
<tr>
<td>Firefox</td>
<td>ESR 24</td>
</tr>
</tbody>
</table>
<p></p>
<p>*Карты интенсивности и кластеры с круговыми диаграммами не совместимы с IBM Cognos, запущенном в Internet Explorer.</p>
<p>**Internet Explorer 10 и 11 поддерживаются только в режиме совместимости.</p>
<p>Браузеры Google Chrome for Android и Apple Safari на iOS поддерживаются только для пользователей отчетов. Esri Maps Designer не поддерживается в этих браузерах.</p>





</div>


 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp14');" style="display:inline;">5.0.1</a>
	<div exp14='yes' style="display:none;padding:0 15px;">
       <p>Esri не тестирует все комбинации веб-браузеров (и ОС), указанные компанией IBM как поддерживаемые. Тестирование выполняется на последних версиях ОС с некоторыми веб-браузерами. Не все выбранные браузеры проверяются на всех ОС.</p>
       

<p>На платформе Windows Esri проводит усиленное тестирование. В следующей таблице перечисляются веб-браузеры, активно поддерживаемые IBM. "Полностью" означает, что Esri произвел полное тестирование. "Ограничено" означает, что тестирование производилось в ограниченном объеме.</p>

<p>В следующей таблице перечисляются веб-браузеры, активно поддерживаемые IBM. "Поддерживается" означает, что Esri выполнил полное тестирование. "Ограничено" означает, что тестирование производилось в ограниченном объеме.</p>

<table border="1" style="text-align:center">

&lt;tr style="font-size:14px">
<th>Название браузера</th>
<th>Версия браузера</th>
<th>IBM Cognos 10.2.1</th>
<th>IBM Cognos 10.2</th>
<th>IBM Cognos 10.1.1</th>
<th>IBM Cognos 10.1</th>
</tr>

&lt;tbody style="font-size:14px"> 


<tr>
<td rowspan="3" colspan="1">Microsoft Internet Explorer</td>
<td rowspan="1" colspan="1">10.x</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">9.x</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
<td>Поддерживается*</td>
</tr>
<tr>
<td rowspan="1" colspan="1">8.x</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>Ограничено*</td>
</tr>
<tr>
<td>Firefox ESR</td>
<td>17.x</td>
<td>Поддерживается</td>
<td>Поддерживается</td>
<td>Поддерживается</td>
<td>Поддерживается</td>
</tr>
<tr>
<td>Google Chrome</td>
<td>21.x</td>
<td>Ограничено**</td>
<td>Ограничено**</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

</tbody>
</table>
<p></p>
<p>*Карты интенсивности и кластеры с круговыми диаграммами не совместимы с IBM Cognos, запущенном в Internet Explorer.</p>

<p>**Для отчетов поддерживается только Google Chrome. Esri Maps Designer не поддерживается в этом браузере.</p>
</div>


<div class="clear"></div>

     <h3/>
<h3>Языки</h3>
<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp23');" style="display:inline;">6.0.2</a>
	<div exp23='yes' style="display:none;padding:0 15px;">
       <p>Перечисленные ниже языки обозначают локализацию продукта, с которой тестировался Esri Maps for IBM Cognos.</p>
	
        <ul>
          <li>Chinese (China)</li>
		  <li>English</li>
		  <li>Немецкий</li>
		  <li>Французский</li>
		  <li>Японский</li>
		  <li>Корейский</li>
		  <li>Русский</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
  <a class="icon-right-arrow" onclick="exp(event,'div','exp15')">6.0.1</a>
     <div exp15='yes' style="display:none;padding:0 15px;">
	 <p>Перечисленные ниже языки обозначают локализацию продукта, с которой тестировался Esri Maps for IBM Cognos.</p>
	
        <ul>
          <li>Chinese (China)</li>
		  <li>English</li>
		  <li>Немецкий</li>
		  <li>Французский</li>
		  <li>Японский</li>
		  <li>Корейский</li>
		  <li>Русский</li>
	</ul>
</div>

<div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp16');" style="display:inline;">6.0</a>
	<div exp16='yes' style="display:none;padding:0 15px;">
       <p>Перечисленные ниже языки обозначают локализацию продукта, с которой тестировался Esri Maps for IBM Cognos.</p>
        <ul>
          <li>Английский (США)</li>
	</ul>
</div>
 <div class="clear" style="padding:5px;"></div>
<a class="icon-right-arrow" onclick="exp(event,'div','exp17');" style="display:inline;">5.0.1</a>
	<div exp17='yes' style="display:none;padding:0 15px;">
        <p>Перечисленные ниже языки обозначают локализацию продукта, с которой тестировался Esri Maps for IBM Cognos.</p>
        <ul>
          <li>Английский (США)</li>
	</ul>
</div>

<div class="clear"></div>

     <h3/>
<h3>Поддержка</h3>
<p>Для правильной настройки и работы IBM Cognos требуется несколько компонентов сторонних производителей. К этим компонентам относятся серверы приложений, веб-серверы, серверы баз данных, библиотеки Java и т.д. IBM Technical Support предоставляет помощь в развертывании IBM Cognos с этими компонентами. Esri Technical Support предоставляет помощь в развертывании (и использовании) Esri Maps for IBM Cognos.</p>

<p>Специалисты Esri Technical Support не являются экспертами во всех возможных конфигурациях IBM Cognos. Также, специалисты IBM Technical Support не являются экспертами по компонентам сторонних производителей, которые требуются для создания рабочих конфигураций Esri Maps for IBM Cognos. Если вы испытываете трудности при настройке IBM Cognos, часто наиболее эффективным будет обращение в IBM Technical Support. Также, если вы испытываете трудности при настройке компонентов сторонних производителей, следует обращаться в соответствующие службы поддержки. Если предполагается, что проблема вызвана Esri Maps for IBM Cognos, Esri Technical Support готов к работе с IBM Technical Support и/или сторонними поставщиками и/или их консультантами.</p>
<br />
<hr />
  
<div class="clear"></div>


      </div>

      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Начало работы</h3>
          <ul>
          <li><a href="#whatsNew">Что нового</a></li>		
		  <li><a href="#supportedEnvironments">Поддерживаемые среды</a></li>
		  <li>Справка для предыдущих версий:
			<ul>
				
				<li><a href="/ru/maps-for-cognos/6.0">6.0</a></li>
				<li><a href="/ru/maps-for-cognos/5.0.1">5.0.1</a></li>
				<li>4.3.2
					<ul>
						<li><a href="http://resources.arcgis.com/ru/communities/maps-for-cognos/pdf/EM4C-Installation-and-Configuration-Guide.pdf">Руководство по установке и настройке</a></li>
						<li><a href="http://resources.arcgis.com/en/help/esri-maps-for-ibm-cognos/4.3.2/">Руководство по созданию отчётов<li>
					</ul>
				</li>
			</ul>
		</li>
		  <li><a href="http://video.arcgis.com/series/216/maps-for-ibm-cognos">Посмотреть видео</a></li>
		  </ul>
		  
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/ru/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
