---
title: Ayuda de ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Ayuda de ArcGIS Online</h1>
        </div>
        <div class="leader-1 text-right">
          <p><a href="http://www.arcgis.com/features/free-trial.html"><button class="btn margin-left-1 btn-clear">Prueba gratuita</button></a></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/arcgis-online/" selected>Inicio</option>
        <option value="/en/arcgis-online/get-started/">Introducción</option>
        <option value="/en/arcgis-online/create-maps/">Crear</option>
        <option value="/en/arcgis-online/analyze/">Analizar</option>
        <option value="/en/arcgis-online/share-maps/">Compartir</option>
        <option value="/en/arcgis-online/administer/">Administrar</option>
        <option value="/en/arcgis-online/reference/">Referencia</option>
        <option value="/en/arcgis-online/apps/arcgis-apps.htm">Aplicaciones</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link  is-active" title="Ayuda de ArcGIS Online" href="/es/arcgis-online/">Inicio</a>
        <a class="sub-nav-link" title="Introducción a ArcGIS Online" href="/es/arcgis-online/get-started/">Introducción</a>
        <a class="sub-nav-link" title="Crear mapas, escenas y aplicaciones" href="/es/arcgis-online/create-maps/">Crear</a>
        <a class="sub-nav-link" title="Realizar análisis" href="/es/arcgis-online/analyze/">Analizar</a>
        <a class="sub-nav-link" title="Compartir mapas, escenas y aplicaciones" href="/es/arcgis-online/share-maps/">Compartir</a>
        <a class="sub-nav-link" title="Administrar tu organización" href="/es/arcgis-online/administer/">Administrar</a>
        <a class="sub-nav-link" title="Referencia" href="/es/arcgis-online/reference/">Referencia</a>
        <a class="sub-nav-link" title="Aplicaciones para todo el mundo" href="/es/arcgis-online/apps/arcgis-apps.htm">Aplicaciones</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Realice los mapas que le interesen en minutos</h1>
      <h5> ArcGIS Online ofrece un sistema de información geográfica del mundo completo, basado en la nube.</h5>
      <h5>Empiece a usar ArcGIS Online. <a href="http://www.arcgis.com/features/free-trial.html" >Regístrese para una prueba gratuita de ArcGIS.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Buscar en Ayuda de ArcGIS Online">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="es" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Actualización actual:</strong> marzo de 2017</li>
        <li><a href="/es/arcgis-online/reference/whats-new.htm">Novedades</a></li>
        <li><a href="/es/arcgis-online/reference/faq.htm">Preguntas frecuentes</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Introducción <a class="btn btn-transparent text-white btn-large right" href="/es/arcgis-online/get-started/online-quick-exercises.htm">Más ejercicios</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half" style="clear:right;">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/es/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/es/arcgis-online/get-started/quick-exercise-maps.htm">Crear un mapa</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minutos</p>-
            <p class="trailer-0 text-off-black">Cree un mapa web como parte de una investigación de los hospitales del Condado de Clark, Nevada.</p>
          </div>
          <a href="/es/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/es/arcgis-online/get-started/quick-exercise-apps.htm">
              <img alt="" src="img/create-an-app.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/es/arcgis-online/get-started/quick-exercise-apps.htm">Crear una aplicación</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 minutos</p>
            <p class="trailer-0 text-off-black">Cree una aplicación web para compartir su propuesta de emplazamiento de un negocio.</p>
          </div>
          <a href="/es/arcgis-online/get-started/quick-exercise-apps.htm" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/es/arcgis-online/get-started/quick-exercise-analysis.htm">
              <img alt="" src="img/solve-spatial-problem.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/es/arcgis-online/get-started/quick-exercise-analysis.htm">Resolver un problema espacial</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">25 minutos</p>
            <p class="trailer-0 text-off-black">Use las herramientas de análisis para identificar los campings que se encuentran dentro del rango de proliferación de una mala hierba invasora.</p>
          </div>
          <a href="/es/arcgis-online/get-started/quick-exercise-analysis.htm" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Establezca una organización de ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 minutos</p>
            <p class="trailer-0 text-off-black">Configure el sitio para una nueva organización ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Vea en 3D con el visor de escena</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">80 minutos</p>
            <p class="trailer-0 text-off-black">Cree una escena 3D en la que se muestren las playas y caletas de Florida.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/">
              <img alt="" src="img/get-started-with-survey123.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/">Trabajar con encuestas</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">95 minutos</p>
            <p class="trailer-0 text-off-black">Inspeccione las medidas de prevención de seguridad y cree un inventario de activos de emergencia con Survey123 for ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/" class="btn btn-clear btn-fill leader-0">Inicie el ejercicio</a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
      <div class="row">
        <h2>&nbsp;</h2>
        <h2 class="text-center">¿Qué puede hacer con ArcGIS Online?</h2>
      </div>
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-maps text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Crear mapas</h3>
            <p class="trailer-half">
              Más información sobre el papel de los mapas para compartir SIG con los usuarios.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/es/arcgis-online/get-started/get-started-with-maps.htm">Introducción a crear mapas</a>
              </li>
              <li>
                <a href="/es/arcgis-online/share-maps/share-maps.htm">Compartir mapas</a>
              </li>
              <li>
                <a href="/es/arcgis-online/get-started/view-maps.htm">Ver mapas en el visor de mapas</a>
              </li>
              <li>
                <a href="//storymaps.arcgis.com/">Usar Story Maps para contar una historia</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">Descubra cómo utilizar la representación cartográfica inteligente en tres pasos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-globe text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Trabaje con SIG 3D</h3>
            <p class="trailer-half">
              Disfrute de una nueva perspectiva visualizando su información en 3D. Use las funciones SIG 3D para resolver problemas que no tienen solución en un contexto 2D.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/es/arcgis-online/get-started/get-started-with-scenes.htm">Introducción a crear escenas</a>
              </li>
              <li>
                <a href="/es/arcgis-online/get-started/view-scenes.htm">Ver escenas en el visor de escena</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/livingatlas-3d">Acceda a las escenas 3D listas para usar en Living Atlas</a>
              </li>
              <li>
                <a href="/es/drone2map/quick-start-exercises/3d-mapping.htm">Use Drone2Map for ArcGIS para generar capas 3D</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Realizar análisis</h3>
            <p class="trailer-half">
               Combine la información para numerosas capas y aplique operaciones espaciales para resolver una amplia gama de problemas. Descubra y visualice nuestros resultados para tomar decisiones y obtener información más detallada.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/es/arcgis-online/get-started/get-started-with-analysis.htm">Introducción a los análisis</a>
              </li>
              <li>
                <a href="/es/arcgis-online/analyze/perform-analysis.htm">Realice análisis con mapas</a>
              </li>
              <li>
                <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Descubra niños en situación de pobreza utilizando análisis demográficos</a>
              </li>
              <li>
                <a href="/es/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">Responda a preguntas espaciales con la representación cartográfica inteligente</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-layers text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Acceda a Living Atlas</h3>
            <p class="trailer-half">
              Ponga en marcha SIG con Living Atlas del mundo, una colección seleccionada y global de los mejores mapas, aplicaciones y datos de usuarios de ArcGIS y Esri y sus socios.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="http://links.esri.com/agol-help/living-atlas">Acceda a Living Atlas</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/livingatlas-storymap">Descubra Living Atlas a través de un mapa de historias</a>
              </li>
              <li>
                <a href="/es/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Examine las capas de Living Atlas para añadirlas a su mapa</a>
              </li>
              <li>
                <a href="/es/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">Añada contenido de Living Atlas a su escena</a>
              </li>
              <li>
                <a href="/es/arcgis-online/get-started/quick-exercise-explore-data.htm">Use un mapa de Living Atlas para encontrar patrones espaciales</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-collection text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Administrar datos</h3>
            <p class="trailer-half">
              Haga que los datos cobren vida. Comparta entidades y más publicando capas que otros pueden utilizar en sus mapas y escenas. Habilite la edición para recopilar comentarios de la comunidad.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/es/arcgis-online/share-maps/hosted-web-layers.htm">Publique entidades, teselas y más como capas</a></li>
              <li>
                <a href="/es/arcgis-online/create-maps/edit-features.htm">Editar entidades</a>
              </li>
              <li>
                <a href="/es/arcgis-online/create-maps/take-maps-offline.htm">Usar mapas sin conexión</a>
              </li>
              <li>
                <a href="/es/arcgis-online/reference/best-practices-layers.htm">Conozca las mejores prácticas para utilizar capas en mapas</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-share text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Compartir su trabajo</h3>
            <p class="trailer-half">
              Comparta su extensa información geográfica para llegar a los usuarios. Saque partido a información valiosa proporcionando acceso a través de muchas aplicaciones y Story Maps.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/es/arcgis-online/get-started/get-started-with-sharing.htm">Introducción al uso compartido</a></li>
              <li><a href="//storymaps.arcgis.com/en/">Use aplicaciones para compartir su historia</a></li>
              <li><a href="/es/arcgis-online/reference/best-practices-share.htm">Conozca las mejores prácticas para uso compartido</a></li>
              <li><a href="/es/arcgis-online/reference/ogc.htm">Comparta datos a través de estándares abiertos</a></li>
              <li><a href="http://opendata.arcgis.com/">Comparta con Open Data for ArcGIS</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-applications text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Utilice aplicaciones</h3>
            <p class="trailer-half">
              Las aplicaciones de ArcGIS se centran en interfaces y herramientas para mapas, escenas y datos. ArcGIS Online se suministra con docenas de aplicaciones que permiten hacer el trabajo de la organización.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="//www.esri.com/software/apps/field">Revise aplicaciones para el campo</a></li>
              <li><a href="//www.esri.com/software/apps/office">Revise aplicaciones para la oficina</a></li>
              <li><a href="//www.esri.com/software/apps/community">Revise aplicaciones para la comunidad</a></li>
              <li><a href="//www.esri.com/software/apps/builders">Desarrolle sus propias aplicaciones</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-search text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Descubra y administre elementos</h3>
            <p class="trailer-half">
              ArcGIS Online proporciona acceso a un SIG que permite búsquedas del mundo con una amplia gama de mapas, escenas, capas, análisis y aplicaciones que han aportado la comunidad SIG, su organización y usted. Estos elementos se organizan en galerías de información para descubrir contenido importante para su trabajo rápidamente.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/es/arcgis-online/reference/geo-info.htm">Revisar el modelo de información de ArcGIS</a></li>
              <li><a href="/es/arcgis-online/share-maps/add-items.htm">Agregue elementos a ArcGIS Online</a></li>
              <li><a href="/es/arcgis-online/get-started/get-started-with-groups.htm">Use grupos para compartir información</a></li>
              <li><a href="//links.esri.com/agol-help/living-atlas">Busque mapas y más en Living Atlas</a></li>
              <li><a href="/es/arcgis-online/reference/search.htm">Descubra elementos en ArcGIS Online</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Administrar tu organización</h3>
            <p class="trailer-half">
              Desde configurar roles personalizados y configuraciones de seguridad hasta gestionar licencias para ver informes de uso, ArcGIS Online contiene todo lo necesario para administrar su organización.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/es/arcgis-online/administer/get-started-with-administration.htm">Introducción a la administración</a></li>
              <li><a href="//links.esri.com/agol-help/administering-platform">Conozca las mejores prácticas y recursos para administradores</a></li>
              <li><a href="/es/arcgis-online/reference/roles.htm">Entienda niveles, roles y privilegios</a></li>
              <li><a href="/es/arcgis-online/reference/credits.htm">Entender los créditos</a></li>
              <li><a href="/es/trust/security/security-overview.htm">Revisar la seguridad de ArcGIS</a></li>
              <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">Examine otras herramientas de administración</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Saque mucho más partido a ArcGIS Online</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS for Developers">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Vea nuestros vídeos
        <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B">Más vídeos</a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div style="clear:right;" playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Conéctese con ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="trailer-0">Lea nuestro blog <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Más publicaciones del blog</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group phone-block-group-1-up block-group-3-up blogHpFeed">
        <!-- Blog Content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="trailer-0">Únase a la conversación <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Más conversaciones</a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group phone-block-group-1-up block-group-3-up geonetFeed">
        <!-- Forum content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Books -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Sumérjase en un libro <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">Más libros</a>
      </h2>
      <div style="clear:right;" class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/arcgis-book">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">The ArcGIS Book</a>
            </h5>
            <p class="trailer-0 text-off-black">Entienda y use SIG web para crear y compartir información geográfica. Vea el sitio web, descargue el PDF gratuito interactivo o compre la edición impresa.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Leer</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/instructional-guide">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">Guía didáctica para The ArcGIS Book</a>
            </h5>
            <p class="trailer-0 text-off-black">Consiga actividades, recursos, lecciones y datos relacionados con ArcGIS Online y SIG web. Disponible como edición impresa.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">Comprar</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/imagery">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">El Libro de imágenes de ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Explore la forma en que las imágenes y la teledetección impulsan el SIG moderno. Vea el sitio web, descargue el PDF gratuito interactivo o compre la edición impresa.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Leer</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Learn links -->
<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://links.esri.com/agol-help/learn/agol">Realice un análisis detallado</a></h5>
          <p class="trailer-0">
            Aprenda a buscar en ArcGIS para encontrar ejercicios completos que resuelvan los problemas del mundo real con ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main/arcgis-online-training">Buscar cursos de formación</a></h5>
          <p class="trailer-0">
            Más información sobre ArcGIS a través de cursos impartidos por un profesor, cursos web y seminarios.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Obtener soporte técnico</a></h5>
          <p class="trailer-0">
            Póngase en contacto con el soporte técnico por chat de Esri, por correo electrónico o por teléfono.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Comprobar el estado del sistema</a></h5>
          <p class="trailer-0">
            Consulte el estado de ArcGIS Online y notifique los problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
