---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/arcgis-online/">Ayuda</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Ayuda de ArcGIS Online" href="/es/arcgis-online/">Principal</a></li>
        <li><a title="Usar mapas" href="/es/arcgis-online/use-maps/">Utilizar</a></li>
        <li><a title="Crear mapas y aplicaciones" href="/es/arcgis-online/create-maps/">Crear</a></li>		
        <li><a title="Compartir mapas y aplicaciones" href="/es/arcgis-online/share-maps/">Compartir</a></li>
		<li><a title="Administrar tu organización" href="/es/arcgis-online/administer/">Administrar</a></li>
		<li><a href="/es/arcgis-online/reference/">Referencia</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Usa y crea aplicaciones y mapas interactivos y compártelos con el resto de tu organización. Descubre cómo hacerlo.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Usar mapas</h3>
         
 
         <p>Usa mapas para explorar, entender y medir los datos geográficos.</p>

      
         <p><a href="/es/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">  Ver datos</a> <br/> <a href="/es/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">  Realizar análisis</a><br/> <a href="/es/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">  Editar entidades</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Crear mapas y aplicaciones</h3>
          <p>Crea aplicaciones y mapas interactivos a los que tu organización pueda acceder en cualquier dispositivo, en cualquier momento y desde cualquier lugar.</p>


            <p><a href="/es/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">  Crear tu primer mapa</a> <br/>

            <a href="/es/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">  Crear tu primera aplicación</a><br/> <a href="/es/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">  Establecer las propiedades del mapa y de capa</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Compartir mapas y aplicaciones</h3>
          <p>Saca partido de tus datos compartiendo mapas y aplicaciones dentro de tu organización o tu comunidad.</p>

         <p><a href="/es/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">  Agregar elementos</a> <br/><a href="/es/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">  Compartir elementos</a> <br/> <a href="/es/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">  Publicar teselas y entidades alojadas</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administrar tu organización</h3>
          <p>Amplía el uso de tu SIG configurando ArcGIS Online para tu organización, invitando a usuarios a unirse y gestionando los recursos.</p>
          <p>
            <a href="/es/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">  Configurar el sitio web</a> <br/> <a href="/es/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">  Invitar a usuarios</a> <br/> <a href="/es/arcgis-online/administer/view-status.htm" class="icon-right-arrow">  Ver estadísticas de la organización</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Aplicaciones listas para usar</h3>
         <p>Aprovecha las aplicaciones listas para usar de captura de datos de campo, paneles operativos, Microsoft Office y Sharepoint.</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">  Aplicaciones de ArcGIS</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>API de desarrollador</h3>
          <p>La plataforma ArcGIS incluye diferentes API y SDK que te permitirán crear aplicaciones para tu organización y para la comunidad general.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">   ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Primeros pasos</h3>
		  <p>Tutoriales para que aprendas a usar la plataforma ArcGIS</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/es/get-started/web/">Usar mapas</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/es/get-started/services/">Compartir datos</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/es/get-started/organizations/">Administrar tu organización</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Acerca de ArcGIS Online</h3>
         <ul>
		 <li><a href="/es/arcgis-online/reference/what-is-agol.htm"> ¿Qué es ArcGIS Online?</a></li>
		 <li>
		 <a href="/es/arcgis-online/reference/whats-new.htm" > Novedades</a>
		 </li>
		 <li><a href="/es/arcgis-online/reference/faq.htm"> Preguntas frecuentes</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Crear un mapa</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Descubre cómo se usa el visor de mapas integrado para crear mapas.</p>
        <a href="/es/arcgis-online/reference/videos.htm" class="btn secondary">Más vídeos</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>En nuestro blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Más entradas del blog</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>En nuestro foro</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Más entradas del foro</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
