---
title: Ayuda de ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="es">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/arcgis-online/">Ayuda de ArcGIS Online</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="Ayuda de ArcGIS Online" href="/es/arcgis-online/">Inicio</a></li>
        <li><a title="Uso de mapas y escenas" href="/es/arcgis-online/use-maps/">Uso</a></li>
        <li><a title="Creación de mapas, escenas y aplicaciones" href="/es/arcgis-online/create-maps/">Create</a></li>
        <li><a title="Compartir mapas, escenas y aplicaciones" href="/es/arcgis-online/share-maps/">Share</a></li>
        <li><a title="Administrar tu organización" href="/es/arcgis-online/administer/">Administrar</a></li>
        <li><a title="Referencia" href="/es/arcgis-online/reference/">Referencia</a></li>
        <li><a title="Aplicaciones para todo el mundo" href="/es/arcgis-online/apps/arcgis-apps.htm">Aplicaciones</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="es" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		Mapas, escenas, análisis, aplicaciones, colaboración; puede hacerlo todo con ArcGIS Online.</p>
	
	<p> ¿Nuevo en ArcGIS? Empiece por crear su primer mapa, escena, aplicación o grupo. Cuando esté preparado para aprender más, pruebe con una lección o explore temas populares. ¿Es el <a href="/es/arcgis-online/administer/admin-org.htm">administrador</a> de una organización? Obtenga más información sobre cómo utilizar roles personalizados, configuración de seguridad y configuraciones flexibles.
	</p> 
	<p>Asegúrese de consultar las últimas noticias de nuestro <a href="#blog"> blog</a> y de la <a href="#community">comunidad</a>.
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/es/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/es/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/es/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/es/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">Novedades</h3>
        <p>La actualización de junio de 2016 incluye mejoras en las páginas de elementos, nuevas opciones para visualizar el tiempo, soporte para capas de malla integrada, etcétera.
        </p>
			<!--<a href="/es/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/es/arcgis-online/reference/whats-new.htm" class="btn secondary">Más información</a>
      </div>

    </div>
    <div class="column-24">
      <h2>Cree su primer</h2>
      <div class="make-first">
        <a href="/es/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">Mapa</h2></a>
        <a href="/es/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">Escena</h2></a>
        <a href="/es/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">Aplicación</h2></a>
        <a href="/es/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">Grupo</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>Consulte temas populares:</h4></li>
        <li><a href="/es/arcgis-online/reference/faq.htm">Preguntas frecuentes</a></li>
		<li><a href="/es/arcgis-online/share-maps/add-items.htm">Agregar elementos</a></li>
        <li><a href="/es/arcgis-online/use-maps/perform-analysis.htm">Realizar análisis</a></li>
		<li><a href="/es/arcgis-online/share-maps/publish-features.htm">Publicar entidades</a></li>
		<li><a href="/es/arcgis-online/administer/view-status.htm">Ver estado</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>Complete una lección
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">Más lecciones <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">Primeros pasos con ArcGIS Online</a></h3>
          <p>
 Aprende los principios para la creación de mapas online.
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">Análisis demográfico y representación cartográfica inteligente</a></h3>
          <p>
            Localice niños en situación de pobreza utilizando análisis demográficos, la representación cartográfica inteligente y una aplicación web.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">Planificar rutas</a></h3>
          <p>
 Ayuda a cuatro inspectores sanitarios a inspeccionar 36 restaurantes en el condado de San Diego.
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">Análisis espacial</a></h3>
          <p>
 Busca las mejores zonas para un nuevo edificio de uso mixto.
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Lea nuestro blog
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">Más publicaciones del blog <span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">Únase a la conversación
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">Más discusiones <span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">Buscar cursos de formación</a></h4>
      <p class="no-trailer">
        Buscar cursos de formación de Esri para obtener más información.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">Ver vídeos</a></h4>
      <p class="no-trailer">
        Vea un conjunto de vídeos sobre ArcGIS Online.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Obtener soporte técnico</a></h4>
      <p class="no-trailer">
        Póngase en contacto con el soporte técnico por chat, por correo electrónico o por teléfono.
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Comprobar el estado del sistema</a></h4>
      <p class="no-trailer">
        Consulte el estado de ArcGIS Online y notifique los problemas.
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
