---
title: Business Analyst Mobile
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init


metatags:
  - <META name="description" content="Business Analyst Mobile Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="bus-analyst"><META name="sub_category" content="Business Analyst Mobile"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Business Analyst Mobile"><META name="search-category" content="help-general"><META name="subject_label" content="BUSINESS ANALYST,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="BUSINESS ANALYST,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Business Analyst Mobile App</h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Business Analyst Mobile" data-langlabel="search-business-analyst">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="bus-analyst" />          
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/business-analyst/">Home</a></li>
        <li><a href="/en/business-analyst/mobile/help/">Help</a></li>
        <!-- <li><a href="http://links.esri.com/ba-desktop-install">Installation Guide</a></li>
        <li><a href="http://desktop.arcgis.com/en/analytics/case-studies/case-studies-overview.htm">Case Studies</a></li> -->
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Start using the app</h2>
          <span id="appVersion"><strong>Version:</strong> 1.0</span>
          <span id="appReleased"><strong>Updated:</strong> March 2016</span>


          <p>Use the Business Analyst mobile app when you're out and about to access a large collection of datasets including population, income, housing and consumer behavior. When you're back in the office, you can sync up to the Business Analyst web app.</p>

          <p>
             With the Business Analyst web app, you can:<ul>
			 <li>Get quick demographic and market snapshots.
			 <li>Compare demographic and market data for locations side by side and determine which is suitable for your target market.
			 <li>Take a look at the competition.
			 <li>Set criteria and find out how your location matches up.
			 </ul>
          </p>

        </header>
        <hr />
        <br />

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
		    <li><a href="http://links.esri.com/ba-desktop-help">Helpful Link One</a></li>
            <li><a href="#whatsNew">Helpful Link Two</a></li>
            <li><a href="#systemRequirements">Helpful Link Three</a></li>
          </ul>
        </div>

        <br />
        <br />
		

 </div>

</div>