---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-office/">Startseite</a></li>
        <li><a href="/de/maps-for-office/help/">Hilfe</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	  <h2 id="appTitle">App herunterladen</h2>
          <span id="appVersion"><strong>Version:</strong> 3.1</span>
          <span id="appReleased"><strong>Verfügbar:</strong> Sommer 2015</span>


          <p>Erhöhen Sie Ihre Produktivität mit lagebezogenen Analysen. Holen Sie sich eine ganz neue analytische Dimension nach Microsoft Office. Gewinnen Sie neue Einblicke, und treffen Sie sofort fundiertere Entscheidungen. Fügen Sie Funktionen für die Kartenerstellung problemlos zu Ihren Excel-Arbeitsblättern und PowerPoint-Präsentationen hinzu.</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download"> Esri Maps for Office herunterladen</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="Map-your-data.png" />

          <h3>Darstellung Ihre Excel-Daten in der Karte</h3>
          <p>Erstellen Sie interaktive Karten aus Ihren Arbeitsblattdaten direkt in Excel. Mit nur wenigen Klicks können Sie Karten erstellen, die Ihnen über eine Farbverteilung, mittels Punktwolken oder Wärmebildern zusätzlichen Einblick in Ihre Daten ermöglichen.</p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="Analyze-your-data.png" />

          <h3>Analysieren Ihrer Excel-Daten in Karten</h3>
          <p>Entdecken Sie Muster und Tendenzen, die sich aus Tabellendaten und Diagrammen nicht ohne weiteres entnehmen lassen. Suchen Sie statistisch signifikante Hot und Cold Spots in Ihren Daten. Führen Sie räumliche Suchen anhand von Fahrzeiten oder räumlichen Ringen aus, um nahe gelegene Datensätze Ihres Interesses zu finden.</p>         
        </div>


	<div id="collectorThirdFeature" class="column-12 phone-column-24">
          <img src="Enrich-your-spreadsheets.png" />

          <h3>Anreichern der Kalkulationstabellen Ihres Unternehmens</h3>
          <p>Fügen Sie Demografie- und Lifestyle-Daten von Esri direkt in Excel-Tabellen ein, und erhalten Sie mehr Kontext zu den Standorten, die Ihnen wichtig sind. Erkunden Sie Standorte recht schnell mithilfe von Pop-up-Infografiken.</p>
        </div>

	<div id="collectorFourthFeature" class="column-12 phone-column-24">
          <img src="Share-your-data.png" />

          <h3>Freigeben von Karten aus Excel</h3>
          <p>Geben Sie Ihre Karte mit ArcGIS Online oder Portal for ArcGIS frei, oder fügen Sie sie in E-Mails, PowerPoint-Präsentationen oder Word-Dokumente ein.</p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemanforderungen</h2>

        <p>Esri Maps for Office erfordert ein Konto, das Teil einer <a href="http://help.arcgis.com/en/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-Organisation ist, sowie Microsoft Office Excel oder PowerPoint 2010 bzw. Microsoft Office Excel oder PowerPoint 2013. Die folgenden Betriebssysteme werden unterstützt:</p>
		<ul>
		 <li>Windows 7 (32-Bit und 64-Bit)</li>
		 <li>Windows 8 (32-Bit und 64-Bit)</li>
		 <li>Windows 8.1 (32-Bit und 64-Bit)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Weitere Informationen u. a. zur erforderlichen Prozessorgeschwindigkeit, zum Arbeitsspeicher und zum Festplattenspeicher finden Sie unter Systemanforderungen für <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> und <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Neuheiten</h2>
        <p>Esri Maps for Office Version 3.1 wurde im Juni 2015 veröffentlicht. Es enthält folgende Verbesserungen:</p>
        <ul>
        <li>Lokalisierungsunterstützung für 27 Sprachen:</li>
		<ul>
		     <li>Arabisch</li>
		     <li>Vereinfachtes Chinesisch</li>
		     <li>Tschechisch</li>
		     <li>Dänisch</li>
		     <li>Niederländisch</li>
		     <li>Deutsch</li>
		     <li>Griechisch</li>
		     <li>Estnisch</li>
		     <li>Beenden</li>
		     <li>Französisch</li>
		     <li>Hebräisch</li>
		     <li>Italienisch</li>
		     <li>Japanisch</li>
		     <li>Koreanisch</li>
		     <li>Litauisch</li>
		     <li>Lettisch</li>
		     <li>Norwegisch</li>
		     <li>Polnisch</li>
		     <li>Portugiesisch (Brasilien)</li>
		     <li>Portugiesisch (Portugal)</li>
		     <li>Rumänisch</li>
		     <li>Russisch</li>
		     <li>Spanisch</li>
		     <li>Schwedisch</li>
		     <li>Thailändisch</li>
		     <li>Türkisch</li>
		     <li>Vietnamesisch</li>
		</ul>
	<li>Viele Bugfixes und Workflow-Verbesserungen.</li>
        </ul>


        <h3>Frühere Versionen</h3>
        
        <p>Esri Maps for Office Version 3.0 wurde im April 2015 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Visualisieren Sie Ihre Excel-Daten eindeutiger, indem Sie mehrere Karten in Ihr Arbeitsblatt einfügen. Sie können mehrere Karten für verschiedene Tabellen in Arbeitsblättern erstellen.</li>
	<li>Vergleichen Sie Karten nebeneinander, oder ziehen Sie sie auf andere Monitore, ohne das Excel-Fenster dabei zu überladen.</li>
	<li>Arbeiten Sie problemlos mit den in der Karte dargestellten Daten, indem Sie die Werkzeuge im Kartenfenster suchen.</li>
	<li>Nutzen Sie das neue Suchwerkzeug, um Standorte schnell zu finden.</li>
	<li>Sie müssen kein GIS-Experte sein, um ansprechende Karten zu erstellen. Sehen Sie sich eine Vorschau Ihrer Karte an, bevor Sie die Daten zuordnen. Karten-Styles werden entsprechend den Daten empfohlen, die Sie zuordnen, sodass Sie die besten visuellen Einblicke erhalten.</li>
	<li>Verwenden Sie das Koordinatensystem Ihrer Wahl, und überlagern Sie einfach andere GIS-Datasets, die sich in Ihrem lokalen Koordinatensystem befinden.</li>
	<li>Benutzerdefinierte Positionstypen enthalten nun Linien-Features.</li>
	<li>Umfassende Informationen, damit neue Benutzer schnell und leicht starten können.</li>
        </ul>

        <p>Esri Maps for Office Version 2.1.5 wurde im Winter 2015 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Unterstützung für gesicherte und ungesicherte Web-Proxys.</li>
        </ul>

	<p>Esri Maps for Office Version 2.1.4 wurde im Frühling 2014 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Sicherheitsupdates.</li>
        </ul>

        <p>Esri Maps for Office Version 2.1.3 wurde im Frühling 2014 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Unterstützung für benutzerdefinierte Rollen.</li>
        <li>Neue Parameter für die automatische Installation zur besseren Kontrolle von Bereitstellungen in großen Systemumgebungen.</li>
        <li>Maps for Office überprüft jetzt die Verbindung mit ArcGIS und benachrichtigt Sie, wenn erforderliche Services nicht verfügbar sind.</li>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit, z. B:</li>
			<ul>
			<li>Ermöglicht die Verwendung gehosteter Karten-Services als benutzerdefinierte Positionstypen.</li>
			<li>Probleme bei der Layer-Sichtbarkeit in lokalisierten Versionen wurden behoben.</li>
			<li>Probleme mit zufälligen Abstürzen, die von älteren Versionen von Visual Studio Tools for Office verursacht werden, wurden behoben.</li>
			<li>Benutzerdefinierte Locators werden nun mit ihrem Namen statt der &quot;Adresse&quot; im Workflow für das Hinzufügen von Daten angezeigt.</li>
			<li>Besseres Management der Registry beim Deinstallieren.</li>
			<li>Effizientere Speicherung von Geometrien, die von ArcGIS zurückgegeben werden.</li>
			<li>Bei bestehender Portal-Verbindung werden keine Anforderungen mehr an ArcGIS Online gesendet.</li>
			<li>Kommas als Dezimaltrennzeichen werden nun ordnungsgemäß verarbeitet.</li>
			<li>Angereicherte Layer können nun formatiert und durch die neu hinzugefügten Spalten gruppiert werden.</li>
			<li>Pop-ups für angereicherte Layer zeigen nun richtige Spaltenüberschriften an.</li>
			<li>Bei nicht vorhandener Internetverbindung treten keine Abstürze mehr auf.</li>
			<li>Esri Maps for Office in PowerPoint berücksichtigt nun die Standard-Grundkarte der Organisation.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office Version 2.1.2 wurde im November 2013 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit, z. B:</li>
			<ul>
			<li>Verbesserungen des Werkzeugs &quot;Layer anreichern&quot;: effizientere Speichernutzung, um umfassendere Anreicherungsanforderungen zu verarbeiten, sowie eine verbesserte Statusanzeige.</li>
			<li>Behebung eines Fehlers, der nach der Installation von Esri Maps zu einem Absturz von Excel führte.</li>
			<li>Behebung eines Fehlers, der zur Anzeige falscher Bilder im Suchbereich führte.</li>
			<li>Behebung eines Fehlers, der dazu führte, dass die Suche nach benutzerdefinierten Positionstypen in den Sprachen Japanisch, Russisch und Chinesisch fehlschlug.</li>
			<li>Bereinigung lokalisierter Zeichenfolgen für &quot;Wesentliche Fakten&quot;, &quot;Business&quot;, &quot;Politik&quot; und &quot;Gesundheit&quot; im Suchbereich.</li>
			</ul>
        </ul>
		
		<p>Version 2.1.1 wurde im Oktober 2013 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Neue lokalisierte Versionen für 22 unterstützte Sprachen:</li>
			<ul>
			<li>Arabisch, Chinesisch (vereinfacht), Dänisch, Niederländisch, Englisch, Estnisch, Französisch, Deutsch, Hebräisch, Italienisch, Japanisch, Koreanisch, Lettisch, Litauisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rumänisch, Russisch, Spanisch und Schwedisch</li>
			</ul>
		<li>Unterstützung für Pop-ups in Webkarten</li>
		<li>Symbolisieren von Features mit einem Symbol aus einer Attribut-URL</li>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit im gesamten Produkt, z. B.:
			<ul>
			<li>Verbesserte Verarbeitung von OAuth-Anmeldungen</li>
			<li>Nützlichere Fehlermeldungen im Werkzeug &quot;Hot Spots suchen&quot;</li>
			<li>Das Werkzeug &quot;Hot Spots suchen&quot; kann jetzt Spaltennamen mit Leerzeichen verarbeiten</li>
			<li>Das Werkzeug &quot;Auswählen&quot; unterstützt jetzt die Puffergröße &quot;0&quot;</li>
			<li>Probleme mit dem Aufgabenbereich behoben</li>
			<li>Fehler mit der Gruppensichtbarkeit behoben</li>
			<li>Verbesserter Support für Organisationen, die SSL für alle Verbindungen verwenden</li>
			<li>Gruppierung funktioniert nun ordnungsgemäß bei Spalten, die über das Werkzeug &quot;Layer anreichern&quot; hinzugefügt wurden</li>
			</ul>
        </ul>
		
        <p>Version 2.1 wurde im Juli 2013 veröffentlichtEs enthielt folgende Verbesserungen:</p>
        <ul>
        <li>Analyse statistischer Muster über das Hot-Spot-Tool</li>
		<li>Verbesserte Anreicherung von Daten, darunter mehr Datensammlungen, aus denen sich einzelne Variablen auswählen lassen</li>
		<li>Unterstützung sicherer Anmeldungen durch OAuth+SAML (AGOL)</li>
        <li>Unterstützung sicherer Anmeldungen durch IWA, PKI (nur Portal)</li>
		<li>Verbesserte Benutzerschnittstellen für Infografiken und das Werkzeug &quot;Layer anreichern&quot;</li>
		<li>Verbesserter Workflow bei der Aktualisierung von Maps for Office auf die neueste Version</li>
        </ul>
		<br>
        <p>Version 2.0.2 wurde im Mai 2013 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
          <li>Neues Werkzeug &quot;Layer anreichern&quot;, um Ihre Daten mit geografischem Kontext anzureichern</li>
		  <li>Wählen Sie Features auf Ihrer Karte aus, und suchen Sie nach umliegenden Features in anderen Layern</li>
		  <li>Karten-Pop-ups enthalten nun Infografiken, die reichhaltige Kontextinformationen zu den umliegenden Bereichen von Features in der Karte liefern.</li>
		  <li>Vorschau-Unterstützung für Portal for ArcGIS 10.2</li>
		  <li>Neue Konfigurationsoptionen für Wärmebilder und Cluster-Bildung</li>
		  <li>Die Funktion zum Filtern gruppierter Features auf der Karte durch Klicken auf die Klassengrenzen in der Kartenlegende wurde hinzugefügt</li>
		  <li>Verbesserter Workflow für Adressengeokodierung</li>
		  <li>Unterstützung für die Anpassung der Grundkartengalerie aus Ihrer ArcGIS Online-Organisation</li>
		  <li>&quot;Karte einfügen&quot; verwendet die Standard-Grundkarte aus der ArcGIS Online-Organisation</li>
		  <li>Durchsuchen von ArcGIS Online anhand von gängigen Kategorien wie Vermögen, Wirtschaft, Politik, Gesundheit</li>
		  <li>Ortsnamen basieren nun auf Datenpositionen. Beschriftungen im Workflow bei der Geokodierung zeigen beispielsweise Präfekturen in Japan, Bundesstaaten in den USA oder Provinzen in Kanada an</li>
		  <li>Unterstützung für Microsoft Office 2013</li>
		  <li>Sonstige Verbesserungen in puncto Qualität, Benutzerfreundlichkeit und Kartografie</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuheiten</a></li>
            <li><a href="#systemRequirements">Systemanforderungen</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Videos ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
