---
title: Esri Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="section-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-office/">Esri Maps for Office</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Esri Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-office/">Home</a></li>
        <li><a href="/de/maps-for-office/help/">Hilfe</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">App herunterladen</h2>
          <span id="appVersion"><strong>Version:</strong> 2.1.4</span>
          <span id="appReleased"><strong>Verf&uuml;gbar:</strong> Fr&uuml;hling 2014</span>


          <p>Mit Esri Maps for Office k&ouml;nnen Sie aus Ihren Exceldaten im Handumdrehen dynamische, interaktive Karten erstellen und sie auf v&ouml;llig neue Weise erkunden. Esri Maps for Office erm&ouml;glicht es Ihnen, Muster und Tendenzen zu entdecken, die sich aus Tabellendaten und Diagrammen nicht ohne weiteres entnehmen lassen. &Uuml;ber PowerPoint-Pr&auml;sentationen k&ouml;nnen Karten sofort freigegeben werden, oder Sie ver&ouml;ffentlichen sie mit einem Klick auf ArcGIS Online, der Mapping-Plattform von Esri.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download"> Esri Maps for Office herunterladen</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Erstellen Sie Karten aus Ihren Arbeitsbl&auml;ttern </h3>
          <p>Erfahren Sie, wie Sie mithilfe von Esri Maps for Office Karten aus Ihren Exceldaten erstellen k&ouml;nnen. Direkt in Excel k&ouml;nnen Sie auf einfache Weise interaktive Karten erstellen, die Ihnen &uuml;ber eine Farbeverteilung, mittels Punktwolken oder W&auml;rmebildern zus&auml;tzlichen Einblick in Ihre Daten erm&ouml;glichen.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>-->
			<a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Sehen Sie dazu ein Video an</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Reichern Sie Ihre Daten an</h3>
          <p>Werten Sie mithilfe der umfangreichen Datensammlungen von Esri Ihre Unternehmensdaten auf. F&uuml;gen Sie Demografie- und Lifestyle-Daten direkt in Excel-Tabellen ein und erhalten Sie mehr Kontext zu den Standorten, die Ihnen wichtig sind. Erkunden Sie Standorte mithilfe von Pop-up-Infografiken.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>-->
		   <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Sehen Sie dazu ein Video an</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemanforderungen</h2>

        <p>Esri Maps for Office erfordert ein Konto, das Teil einer <a href="http://help.arcgis.com/de/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-Organisation ist, sowie Microsoft Office Excel oder PowerPoint 2010 bzw. Microsoft Office Excel oder PowerPoint 2013. Die folgenden Betriebssysteme werden unterst&uuml;tzt:</p>
		<ul>
		 <li>Windows XP (SP3 erforderlich) (32-Bit)</li>
		 <li>Windows 7 (32-Bit und 64-Bit)</li>
		 <li>Windows 8 (32-Bit und 64-Bit)</li>
		 <li>Windows Server 2003 mit SP2 und MSXML 6.0 (Nur Office 32-Bit)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Weitere Informationen u. a. zur erforderlichen Prozessorgeschwindigkeit, zum Arbeitsspeicher und zum Festplattenspeicher finden Sie unter Systemanforderungen f&uuml;r <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> und <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <!-- 
		<h3>Support for the following languages</h3>
        <p>Arabic, Chinese (Simplified), Danish, Dutch, English, Estonian, French, German, Hebrew, Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, and Swedish.</p>
		//-->




        <a name="whatsNew"></a>
        <h2>Neuheiten</h2>
        <p>Esri Maps for Office Version 2.1.4 wurde im Fr&uuml;hling 2014 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen:</p>
        <ul>
        <li>Sicherheitsupdates.</li>
        </ul>


        <h3>Fr&uuml;here Versionen</h3>
        
        <p>Esri Maps for Office Version 2.1.3 wurde im Fr&uuml;hling 2014 ver&ouml;ffentlicht. Es enthielt die folgenden Verbesserungen:</p>
        <ul>
        <li>Unterst&uuml;tzung f&uuml;r benutzerdefinierte Rollen.</li>
        <li>Neue Parameter f&uuml;r die automatische Installation zur besseren Kontrolle von Bereitstellungen in gro&szlig;en Systemumgebungen.</li>
        <li>Maps for Office &uuml;berpr&uuml;ft jetzt die Verbindung mit ArcGIS und benachrichtigt Sie, wenn erforderliche Services nicht verf&uuml;gbar sind.</li>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit, z. B:</li>
			<ul>
			<li>Erm&ouml;glicht die Verwendung gehosteter Karten-Services als benutzerdefinierte Positionstypen.</li>
			<li>Probleme bei der Layer-Sichtbarkeit in lokalisierten Versionen wurden behoben.</li>
			<li>Probleme mit zuf&auml;lligen Abst&uuml;rzen, die von &auml;lteren Versionen von Visual Studio Tools for Office verursacht werden, wurden behoben.</li>
			<li>Benutzerdefinierte Locators werden nun mit ihrem Namen statt der &quot;Adresse&quot; im Workflow f&uuml;r das Hinzuf&uuml;gen von Daten angezeigt.</li>
			<li>Besseres Management der Registry beim Deinstallieren.</li>
			<li>Effizientere Speicherung von Geometrien, die von ArcGIS zur&uuml;ckgegeben werden.</li>
			<li>Bei bestehender Portal-Verbindung werden keine Anforderungen mehr an ArcGIS Online gesendet.</li>
			<li>Kommas als Dezimaltrennzeichen werden nun ordnungsgem&auml;&szlig; verarbeitet.</li>
			<li>Angereicherte Layer k&ouml;nnen nun formatiert und durch die neu hinzugef&uuml;gten Spalten gruppiert werden.</li>
			<li>Pop-ups f&uuml;r angereicherte Layer zeigen nun richtige Spalten&uuml;berschriften an.</li>
			<li>Bei nicht vorhandener Internetverbindung treten keine Abst&uuml;rze mehr auf.</li>
			<li>Esri Maps for Office in PowerPoint ber&uuml;cksichtigt nun die Standard-Grundkarte der Organisation.</li>
			</ul>
        </ul>


        <p>Esri Maps for Office Version 2.1.2 wurde im November 2013 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen:</p>
        <ul>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit, z. B:</li>
			<ul>
			<li>Verbesserungen des Werkzeugs &quot;Layer anreichern&quot;: effizientere Speichernutzung, um umfassendere Anreicherungsanforderungen zu verarbeiten, sowie eine verbesserte Statusanzeige.</li>
			<li>Behebung eines Fehlers, der nach der Installation von Esri Maps zu einem Absturz von Excel f&uuml;hrte. </li>
			<li>Behebung eines Fehlers, der zur Anzeige falscher Bilder im Suchbereich f&uuml;hrte.</li>
			<li>Behebung eines Fehlers, der dazu f&uuml;hrte, dass die Suche nach benutzerdefinierten Positionstypen in den Sprachen Japanisch, Russisch und Chinesisch fehlschlug.</li>
			<li>Bereinigung lokalisierter Zeichenfolgen f&uuml;r &quot;Wesentliche Fakten&quot;, &quot;Business&quot;, &quot;Politik&quot; und &quot;Gesundheit&quot; im Suchbereich.</li>
			</ul>
        </ul>
		
		<p>Version 2.1.1 wurde im Oktober 2013 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen:</p>
        <ul>
        <li>Neue lokalisierte Versionen f&uuml;r 22 unterst&uuml;tzte Sprachen:</li>
			<ul>
			<li>Arabisch, Chinesisch (vereinfacht), D&auml;nisch, Niederl&auml;ndisch, Englisch, Estnisch, Franz&ouml;sisch, Deutsch, Hebr&auml;isch, Italienisch, Japanisch, Koreanisch, Lettisch, Litauisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rum&auml;nisch, Russisch, Spanisch und Schwedisch</li>
			</ul>
		<li>Unterst&uuml;tzung f&uuml;r Pop-ups in Webkarten</li>
		<li>Symbolisieren von Features mit einem Symbol aus einer Attribut-URL</li>
		<li>Bugfixes und Verbesserungen der Benutzerfreundlichkeit im gesamten Produkt, z. B.:
			<ul>
			<li>Verbesserte Verarbeitung von OAuth-Anmeldungen</li>
			<li>N&uuml;tzlichere Fehlermeldungen im Werkzeug &quot;Hot Spots suchen&quot;</li>
			<li>Das Werkzeug &quot;Hot Spots suchen&quot; kann jetzt Spaltennamen mit Leerzeichen verarbeiten</li>
			<li>Das Werkzeug &quot;Ausw&auml;hlen&quot; unterst&uuml;tzt jetzt die Puffergr&ouml;&szlig;e &quot;0&quot;</li>
			<li>Probleme mit dem Aufgabenbereich behoben</li>
			<li>Fehler mit der Gruppensichtbarkeit behoben</li>
			<li>Verbesserter Support f&uuml;r Organisationen, die SSL f&uuml;r alle Verbindungen verwenden</li>
			<li>Gruppierung funktioniert nun ordnungsgem&auml;&szlig; bei Spalten, die &uuml;ber das Werkzeug &quot;Layer anreichern&quot; hinzugef&uuml;gt wurden</li>
			</ul>
        </ul>
		
        <p>Version 2.1 wurde im Juli 2013 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen: </p>
        <ul>
        <li>Analyse statistischer Muster &uuml;ber das Hot-Spot-Tool</li>
		<li>Verbesserte Anreicherung von Daten, darunter mehr Datensammlungen, aus denen sich einzelne Variablen ausw&auml;hlen lassen</li>
		<li>Unterst&uuml;tzung sicherer Anmeldungen durch OAuth+SAML (AGOL)</li>
        <li>Unterst&uuml;tzung sicherer Anmeldungen durch IWA, PKI (nur Portal)</li>
		<li>Verbesserte Benutzerschnittstellen f&uuml;r Infografiken und das Werkzeug &quot;Layer anreichern&quot;</li>
		<li>Verbesserter Workflow bei der Aktualisierung von Maps for Office auf die neueste Version</li>
        </ul>
		<br>
        <p>Version 2.0.2 wurde im Mai 2013 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen:</p>
        <ul>
          <li>Neues Werkzeug &quot;Layer anreichern&quot;, um Ihre Daten mit geografischem Kontext anzureichern</li>
		  <li>W&auml;hlen Sie Features auf Ihrer Karte aus, und suchen Sie nach umliegenden Features in anderen Layern </li>
		  <li>Karten-Pop-ups enthalten nun Infografiken, die reichhaltige Kontextinformationen zu den umliegenden Bereichen von Features in der Karte liefern.</li>
		  <li>Vorschau-Unterst&uuml;tzung f&uuml;r Portal for ArcGIS 10.2</li>
		  <li>Neue Konfigurationsoptionen f&uuml;r W&auml;rmebilder und Cluster-Bildung</li>
		  <li>Die Funktion zum Filtern gruppierter Features auf der Karte durch Klicken auf die Klassengrenzen in der Kartenlegende wurde hinzugef&uuml;gt</li>
		  <li>Verbesserter Workflow f&uuml;r Adressengeokodierung</li>
		  <li>Unterst&uuml;tzung f&uuml;r die Anpassung der Grundkartengalerie aus Ihrer ArcGIS Online-Organisation</li>
		  <li>&quot;Karte einf&uuml;gen&quot; verwendet die Standard-Grundkarte aus der ArcGIS Online-Organisation</li>
		  <li>Durchsuchen von ArcGIS Online anhand von g&auml;ngigen Kategorien wie Verm&ouml;gen, Wirtschaft, Politik, Gesundheit</li>
		  <li>Ortsnamen basieren nun auf Datenpositionen. Beschriftungen im Workflow bei der Geokodierung zeigen beispielsweise Pr&auml;fekturen in Japan, Bundesstaaten in den USA oder Provinzen in Kanada an</li>
		  <li>Unterst&uuml;tzung f&uuml;r Microsoft Office 2013</li>
		  <li>Sonstige Verbesserungen in puncto Qualit&auml;t, Benutzerfreundlichkeit und Kartografie</li>
        </ul>


        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuheiten</a></li>
            <li><a href="#systemRequirements">Systemanforderungen</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Videos ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
