---
title: Esri Maps for Office
css: 
- documentation
- /de/asset/css/common
- stat-page-specific
- colorbox/colorbox

js: 
- libs/jquery.colorbox-min.js
- jquery.colorbox.init.js
- video-init

metatags: 
- <META name="description" content="Esri Maps for Office Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-office/">Esri Maps for Office</a></h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-office/">Startseite</a></li>
        <li><a href="/de/maps-for-office/help/">Hilfe</a></li>
        <li><a href="http://forums.arcgis.com/forums/219-Maps-for-Office">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">App herunterladen</h2>
          <span id="appVersion"><strong>Version:</strong> 2.1</span> <span id="appReleased"><strong>Verfügbar:</strong> Juli 2013</span>


          <p>Mit Esri Maps for Office können Sie aus Ihren Exceldaten im Handumdrehen dynamische, interaktive Karten erstellen und sie auf völlig neue Weise erkunden. Esri Maps for Office ermöglicht es Ihnen, Muster und Tendenzen zu entdecken, die sich Tabellendaten und Diagrammen nicht ohne weiteres entnehmen lassen. Über PowerPoint-Präsentationen können Karten sofort freigegeben werden, oder veröffentlichen Sie sie mit einem Klick auf ArcGIS Online, die Kartenerstellungsplattform von Esri.</p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Erwerben Sie Esri Maps for Office</a>

          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="map-your-data.jpg" />

          <h3>Erstellen Sie Karten aus Ihren Arbeitsblättern </h3>
          <p>Erfahren Sie, wie Sie mithilfe von Esri Maps for Office Karten aus Ihren Exceldaten erstellen können. In Excel können Sie an Ort und Stelle interaktive Colormaps, Punkt- und Punkthäufungskarten- oder Wärmebilder mühelos erstellen und Ihre Daten aus einem ganz neuen Winkel betrachten.</p>
          <p>
            <!--<a href="http://video.arcgis.com/watch/2457/map-your-excel-data" class="icon-play colorbox-evlarge cboxElement" id="aWatchVideo">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2457/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Video ansehen</a>
			<video width="320" height="240" controls id="2457" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2457/mp4/480">
			</video>
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="enrich-data.jpg" />

          <h3>Reichern Sie Ihre Daten an</h3>
          <p>Werten Sie mithilfe der umfangreichen Datensammlungen von Esri Ihre Geschäftsdaten auf. Fügen Sie Demografie- und Lifestyle-Daten direkt in Exceltabellen ein und erhalten Sie mehr Kontext zu den Standorten, die Ihnen wichtig sind. Erkunden Sie Standorte im Vorbeigehen mithilfe von Pop-up-Infografiken.</p>
          <p>
           <!--<a href="http://video.arcgis.com/watch/2468/enrich-your-excel-data" class="icon-play">&nbsp;Watch a video</a>--> <a href="http://video.arcgis.com/iframe/2468/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Video ansehen</a>
		   <video width="320" height="240" controls id="2468" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2468/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemanforderungen</h2>

        <p>Esri Maps for Office erfordert ein Konto, das Teil einer <a href="http://help.arcgis.com/de/arcgisonline/help/#/What_is_ArcGIS_Online/010q00000074000000/">ArcGIS Online</a>-Organisation ist, sowie Microsoft Office Excel oder PowerPoint 2010 bzw. Microsoft Office Excel oder PowerPoint 2013. Die folgenden Betriebssysteme werden unterstützt:</p>
		<ul>
		 <li>Windows XP (SP3 erforderlich) (32-Bit)</li>
		 <li>Windows 7 (32-Bit und 64-Bit)</li>
		 <li>Windows 8 (32-Bit und 64-Bit)</li>
		 <li>Windows Server 2003 mit SP2 und MSXML 6.0 (Nur Office 32-Bit)</li>
		 <li>Windows Server 2008 R2</li>
		 <li>Windows Server 2012</li>
		</ul>
		<p>Weitere Informationen u. a. zur erforderlichen Prozessorgeschwindigkeit, zum Arbeitsspeicher und zum Festplattenspeicher finden Sie unter Systemanforderungen für <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX">Microsoft Office 2010</a> und <a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX">Microsoft Office 2013</a>.</p>



        <h3>Folgende Sprachen sollen unterstützt werden:</h3>
        <p>Arabisch, Englisch, Chinesisch, Französisch, Deutsch, Italienisch, Japanisch, Spanisch, Portugiesisch (Brasilien) und Russisch</p>





        <a name="whatsNew"></a>
        <h2>Neuheiten</h2>
        <p>Esri Maps for Office Version 2.1 wurde im Juli 2013 veröffentlicht. Es enthält folgende Verbesserungen:</p>
        <ul>
        <li>Analyse statistischer Muster über das Hot-Spot-Tool</li>
		<li>Verbesserte Datenanreicherung, darunter mehr Datensammlungen, aus denen sich einzelne Variablen auswählen lassen</li>
		<li>Support sicherer Anmeldungen durch OAuth+SAML (AGOL)</li>
        <li>Support sicherer Anmeldungen durch IWA, PKI (nur Portal)</li>
		<li>Verbesserte Benutzerschnittstellen für Infografiken und das Werkzeug "Layer anreichern"</li>
		<li>Verbesserter Workflow bei der Aktualisierung von Maps for Office auf die neueste Version</li>
        </ul>


        <h3>Frühere Version</h3>
        <p>Version 2.0.2 wurde im Mai 2013 veröffentlicht. Es enthielt folgende Verbesserungen:</p>
        <ul>
          <li>Neues Werkzeug "Layer anreichern", um Ihre Daten mit geografischem Kontext anzureichern</li>
		  <li>Wählen Sie Features auf Ihrer Karte aus, und suchen Sie nach umliegenden Features in anderen Layern </li>
		  <li>Karten-Pop-ups enthalten nun Infografiken, die reichhaltige Kontextinformationen zu den umliegenden Bereichen von Features in der Karte liefern.</li>
		  <li>Vorschau-Unterstützung für Portal for ArcGIS 10.2</li>
		  <li>Neue Konfigurationsoptionen für Wärmebilder und Cluster-Bildung</li>
		  <li>Die Funktion zum Filtern gruppierter Features auf der Karte durch Klicken auf die Klassengrenzen in der Kartenlegende wurde hinzugefügt</li>
		  <li>Verbesserter Workflow für Adressengeokodierung</li>
		  <li>Unterstützung für die Anpassung der Grundkartengalerie aus Ihrer ArcGIS Online-Organisation</li>
		  <li>"Karte einfügen" verwendet die Standard-Grundkarte aus der ArcGIS Online-Organisation</li>
		  <li>Durchsuchen von ArcGIS Online anhand von gängigen Kategorien wie Vermögen, Wirtschaft, Politik, Gesundheit</li>
		  <li>Ortsnamen basieren nun auf Datenpositionen. Beschriftungen im Workflow bei der Geokodierung zeigen beispielsweise Präfekturen in Japan, Bundesstaaten in den USA oder Provinzen in Kanada an</li>
		  <li>Unterstützung für Microsoft Office 2013</li>
		  <li>Sonstige Verbesserungen in puncto Qualität, Benutzerfreundlichkeit und Kartografie</li>
        </ul>


        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuheiten</a></li>
            <li><a href="#systemRequirements">Systemanforderungen</a></li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Videos ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

 

	<script src="/de/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
