---
title: ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2015-10-30"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/de/maps-for-office/">ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-office/">Startseite</a></li>
        <li><a href="/de/maps-for-office/install-and-configure/">Installieren und Konfigurieren</a></li>
        <li><a href="/de/maps-for-office/design-and-use/">Entwerfen und Verwenden von Karten</a></li>
        <li><a href="https://geonet.esri.com/community/gis/analysis/esri-maps-for-location-analytics/content?filterID=contentstatus%5Bpublished%5D~tag%5B_office%5D">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">Herunterladen</h2>
        <span id="appVersion"><strong>Version:</strong> 4.0</span> <span id="appReleased"><strong>Verfügbar:</strong> Frühling 2016</span>

          <p>Erhöhen Sie Ihre Produktivität mit lagebezogenen Analysen. Holen Sie sich eine ganz neue analytische Dimension nach Microsoft Office. Gewinnen Sie neue Einblicke, und treffen Sie sofort fundiertere Entscheidungen. Fügen Sie Funktionen für die Kartenerstellung problemlos zu Ihren Excel-Arbeitsblättern und PowerPoint-Präsentationen hinzu.</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">Abrufen von ArcGIS Maps for Office</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>Darstellung Ihrer Excel-Daten in der Karte</h3>
			<p>Erstellen Sie interaktive Karten aus Ihren Arbeitsblattdaten direkt in Excel. Mit nur wenigen Klicks können Sie Karten erstellen, die Ihnen über eine Farbverteilung, mittels Punktwolken oder Heatmaps zusätzlichen Einblick in Ihre Daten ermöglichen.</p>
			<p>&gt; <a href="/de/maps-for-office/design-and-use/add-a-map-to-excel.htm">Weitere Informationen</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>Hinzufügen dynamischer Karten zu PowerPoint</h3>
			<p>Fügen Sie PowerPoint Karten aus Ihrer ArcGIS-Organisation hinzu, um beeindruckende, dynamische Präsentationen zu erstellen.</p>
			<p>&gt; <a href="/de/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">Weitere Informationen</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>Anreichern von Kalkulationstabellen</h3>
			<p>Fügen Sie Demografie- und Lifestyle-Daten von ArcGIS direkt in Excel-Tabellen ein, und erhalten Sie mehr Kontext zu den Standorten, die Ihnen wichtig sind. Erkunden Sie Standorte recht schnell mithilfe von Pop-up-Infografiken.</p>
			<p>&gt; <a href="/de/maps-for-office/design-and-use/enrich-your-data.htm">Weitere Informationen</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>Freigeben von Karten aus Excel</h3>
			<p>Geben Sie Ihre Karte mit ArcGIS Online oder Portal for ArcGIS frei, oder fügen Sie sie in E-Mails, PowerPoint-Präsentationen oder Word-Dokumente ein.</p>
			<p>&gt; <a href="/de/maps-for-office/design-and-use/share-a-map-on-arcgis.htm">Weitere Informationen</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>Neuerungen</h2>	
	<p>&gt; Haben Sie eine Idee für eine neue Funktion, welche Sie gerne in ArcGIS Maps for Office implementiert haben möchten? Teilen Sie uns Ihre Vorschläge auf der Website <a href="http://ideas.arcgis.com/ideaList?c=09a300000004xET&category=Esri+Maps+for+Office" target="_blank">ArcGIS Ideas</a> mit.</p>
 	<p>ArcGIS Maps for Office 4.0 ist jetzt verfügbar. Diese Version bietet signifikante Aktualisierungen und Verbesserungen. Im Folgenden sind einige der Highlights aufgeführt.</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<h3>Neuerungen in Version 4.0</h3>
		<p>ArcGIS Maps for Office 4.0 umfasst die folgenden neuen Funktionen:
			<ul>
				<li><b>Verwenden von <a href="/de/maps-for-office/design-and-use/change-a-layer-s-style.htm">Smart Mapping</a>, um ansprechende Karten im Handumdrehen zu erstellen</b>
					<p>Ob Sie Experte im Umgang mit Karten oder Einsteiger sind, noch nie war es so einfach, visuell ansprechende Karten zu erstellen, die aussagekräftige Informationen vermitteln. ArcGIS Maps for Office analysiert die Daten in Ihrem Arbeitsblatt und stellt Ihnen eine Auswahl von Styles zur optimalen Darstellung der Daten auf einer Karte bereit. Wählen Sie einen Style aus, und erstellen Sie sofort eine Karte, oder passen Sie die Styling-Optionen an Ihre Story an. Smart Mapping bietet außerdem die beliebte Option zum manuellen Festlegen von Klassenunterbrechungen für Ihre Layer.</p>
				</li>
				<li><b>Suchen von Mustern in Positionen im Zeitverlauf mithilfe von <a href="/de/maps-for-office/design-and-use/map-temporal-data.htm">zeitbasierten Animationen</a></b>
					<p>Wenn Ihre Daten Zeitdaten enthalten, können Sie einer Karte in Excel zeitbezogene Layer hinzufügen und eine Animation ausführen, um die Änderung von Mustern in den Daten im Zeitverlauf darzustellen. Diese Funktion unterstützt auch zeitbezogene Layer auf der ArcGIS Plattform und ermöglicht Ihnen den Vergleich zeitbasierter Muster in Ihren Daten mit ähnlichen Mustern aus Ihrer Organisation oder aus verbindlichen Quellen wie der US National Oceanic and Atmospheric Administration (NOAA).</p>
				</li>
				<li><b>Effizienteres Darstellen Ihrer Arbeit mit einer völlig neuen Benutzeroberfläche in <a href="/de/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">PowerPoint</a></b>
					<p>Die Benutzerführung zur Einbindung interaktiver, dynamischer Karten in PowerPoint-Präsentationen wurde in ArcGIS Maps for Office grundlegend überarbeitet, um die Suche nach Inhalten einfacher und effizienter zu gestalten. Nutzen Sie Inhalte aus Ihrer ArcGIS-Organisation, um Karten direkt zu PowerPoint-Präsentationen hinzuzufügen, oder bearbeiten Sie vorhandene Kartenfolien. Fügen Sie die Karte in eine Folie ein, und positionieren Sie sie wie gewünscht als eigenständiges Element oder in Kombination mit anderen PowerPoint-Features wie Diagrammen, Bildern und Text. Im Modus &quot;Bildschirmpräsentation&quot; können Sie die Karte zoomen und schwenken und Features zum Anzeigen detaillierter Informationen auswählen, sodass Sie Fragen, die während der Präsentation auftauchen, schnell beantworten können.</p>
				<li><b>Kartenbasiertes Filtern zum Fokussieren auf relevante Zeilen<a href="/de/maps-for-office/design-and-use/select-features.htm#ESRI_SECTION1_53FF2A6DECC04ED4A5AAED1BDDBC9515"></a></b>
					<p>Arbeitsblätter können schon seit langem nach Zellenwert gefiltert werden. Jetzt können Sie Ihr Arbeitsblatt mit ArcGIS Maps for Office filtern, indem Sie Elemente auf der Karte auswählen. Auf diese Weise lassen sich Features, mit denen Sie gerade arbeiten, direkt in den Fokus rücken. Filtern Sie das Arbeitsblatt, um nur die ausgewählten Features darzustellen, und verwenden Sie anschließend Standardfunktionen von Excel, um mit den Daten zu arbeiten, die Sie benötigen.</p>
				</li>
				<li><b>Nachverfolgen von geänderten Daten durch Festlegen eines <a href="/de/maps-for-office/design-and-use/set-refresh-interval.htm">Aktualisierungsintervalls</a></b>
					<p>Statische Layer, die aus ArcGIS hinzugefügt wurden, unterstützen Sie bei der Visualisierung unbeweglicher Objekte wie Gebäude, Straßen oder Grenzen. Jetzt können Sie mit ArcGIS Maps for Office Elemente nachverfolgen, die sich bewegen, ändern oder entwickeln, z. B. Stürme, Fahrzeuge oder Außendienststatus. Anhand des Aktualisierungsintervalls können Sie festlegen, wie häufig Aktualisierungen für einen Layer abgerufen werden sollen. Sie können auch auf eine Schaltfläche klicken, um den Layer sofort zu aktualisieren.</p>
				</li>
			</ul>
		</p>
	


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>Unterstützte Umgebungen</h2>
		<p>ArcGIS Maps for Office wird als Add-On für Microsoft Excel und Microsoft PowerPoint bereitgestellt. Damit ArcGIS Maps for Office ordnungsgemäß funktioniert, setzt Esri eine funktionierende Konfiguration dieser Anwendungen voraus. Esri testet ArcGIS Maps for Office nur in Softwareumgebungen, die von Microsoft Excel oder PowerPoint als unterstützt zertifiziert werden. Es wurden nicht alle von Excel oder PowerPoint unterstützten Umgebungen getestet bzw. zertifiziert. Weitere Informationen finden Sie unter <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Esri Regeln für unterstützte Umgebungen</a>.</p>
		
		<p><b>Hinweis:</b>Microsoft Word ermöglicht die Einbettung und Verwendung eines Excel-Arbeitsblattes in einem Dokument. Dieser Workflow wird nicht von ArcGIS Maps for Office unterstützt und auch nicht empfohlen.</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">Systemanforderungen</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office erfordert ein Konto, das Teil einer ArcGIS-Organisation ist, sowie Microsoft Office Excel oder PowerPoint (Microsoft Office 2010, 2013 oder 2016).</p>
			<p>Weitere Informationen u. a. zur erforderlichen Prozessorgeschwindigkeit, zum Arbeitsspeicher und zum Festplattenspeicher finden Sie in den Systemanforderungen für folgende Anwendungen:
			<ul>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li><a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">Erforderliche Software</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office erfordert eine <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a>-Organisationssubskription oder eine lokale Portal for ArcGIS-Bereitstellung. Es wird vorausgesetzt, dass die für den Zugriff auf die Plattform verwendete Authentifizierungsmethode ordnungsgemäß vom ArcGIS-Administrator konfiguriert wurde.</p>

			<p>Zudem muss die folgende Software auf Ihrem System installiert und konfiguriert sein:</p>
				<ul>
					<li>Microsoft Office 2010, 2013 oder 2016*</br>
						* ArcGIS Maps for Office unterstützt Microsoft Office 2016 16.0.4266.1003 und frühere Versionen.
					</li>
					<li>Internet Explorer 9, 10 oder 11**</li>
					<li>Microsoft Windows. Unterstützte Versionen:
						<ul>
							<li>Windows 7 (32 Bit und 64 Bit)</li>
							<li>Windows 8 (32 Bit und 64 Bit)</li>
							<li>Windows 8.1 (32 Bit und 64 Bit)</li>
							<li>Windows 10 (32 Bit und 64 Bit)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
				</ul>
			<p>** ArcGIS Maps for Office verwendet JavaScript in einem Webbrowser, um Karten anzuzeigen. Da Microsoft Excel die Verwendung von Internet Explorer (IE) erfordert, um Webinhalt anzuzeigen, besteht keine Möglichkeit, einen anderen Browser einzusetzen. Die Funktionen in der App erfordern die Verwendung von IE 9 oder höher; ältere Versionen werden nicht unterstützt.</p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">Unterstützte Sprachen</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office ist in den folgenden Sprachen verfügbar:</p>
			<p>Arabisch, Chinesisch (vereinfacht), Chinesisch (traditionell, Hongkong), Chinesisch (traditionell, Taiwan), Dänisch, Deutsch, Englisch, Estnisch, Finnisch, Französisch, Griechisch, Hebräisch, Italienisch, Japanisch, Koreanisch, Lettisch, Litauisch, Niederländisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rumänisch, Russisch, Schwedisch, Spanisch, Thailändisch, Tschechisch, Türkisch und Vietnamesisch.</p>
			
			<p>ArcGIS Maps for Office verwendet die Sprache, die in den Excel-Optionen angegeben ist, nicht das im Betriebssystem eingestellte Gebietsschema. Bei Verwendung einer nicht unterstützten Sprache verwendet die App Englisch.</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuerungen</a></li>
            <li><a href="#supportedEnvironments">Unterstützte Umgebungen</a></li>
			<li>Hilfe zu früheren Versionen:
				<ul>
					<li><a href="/de/maps-for-office/3.1/welcome.htm">3.1-Online-Hilfe</a></li>
				</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/143/esri-maps-for-office">Videos ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
