---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="es">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/es/web-appbuilder/">Inicio</a></li>
        <li><a href="/es/web-appbuilder/create-apps/">Crear aplicaciones</a></li>
        <li><a href="/es/web-appbuilder/manage-apps/">Administrar aplicaciones</a></li>
        <li class='current'><a href="/es/web-appbuilder/extend-apps/">Extender aplicaciones</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Ampliar Web AppBuilder con Developer Edition</h2> 

          <p>Crea tus propios widgets y temas utilizando Web AppBuilder for ArcGIS (Developer Edition). Visita <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> para descargar Developer Edition y obtener más información sobre crear tus propias aplicaciones personalizadas.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Da a tu empresa el impulso que necesita </h3>
          <p><ul>
            <li>Impulsa tu productividad para crear aplicaciones web que funcionan en ordenadores de escritorio, tablets y smartphones.</li>
            <li>Aprovecha el marco de aplicaciones y los widgets listos para usar para que puedas centrarte en crear componentes específicos para tus flujos de trabajo</li>
            <li>Personaliza tu aplicación creando un tema personalizado</li>
            <li>Crea nuevas aplicaciones utilizando widgets y temas compartidos por otros desarrolladores</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Construir aplicaciones para vender</h3>
          <p><ul>
            <li>Construye una aplicación para promocionarla y venderla en <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Crea widgets y temas personalizados que tus clientes puedan utilizar para configurar potentes aplicaciones nuevas en Web AppBuilder</li>
            <li>Crea un tema personalizado que sea único y tenga la marca de tu empresa</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Visita <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> para descargar y obtener más información.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

