---
title: Narzędzie Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="pl">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/pl/web-appbuilder/">Narzędzie Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/pl/web-appbuilder/">Strona główna</a></li>
        <li><a href="/pl/web-appbuilder/create-apps/">Tworzenie aplikacji</a></li>
        <li><a href="/pl/web-appbuilder/manage-apps/">Zarządzanie aplikacjami</a></li>
        <li class='current'><a href="/pl/web-appbuilder/extend-apps/">Rozwijanie aplikacji</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Rozszerzanie możliwości oprogramowania Web AppBuilder za pomocą Developer Edition</h2> 

          <p>Za pomocą narzędzia Web AppBuilder for ArcGIS (Developer Edition) można tworzyć własne widżety i motywy. Odwiedź stronę z oprogramowaniem <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, aby pobrać wersję Developer Edition i dowiedzieć się więcej o tworzeniu własnych niestandardowych aplikacji.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Zwiększ możliwości swojej firmy </h3>
          <p><ul>
            <li>Przyspiesz tworzenie aplikacji internetowych obsługiwanych na komputerach, tabletach i smartfonach</li>
            <li>Korzystaj ze struktury aplikacji i gotowych widżetów, aby tworzyć komponenty dostosowane do własnych procedur wykonywania zadań</li>
            <li>Dostosuj aplikacje, tworzące niestandardowe motywy</li>
            <li>Twórz nowe aplikacje przy użyciu widżetów i motywów udostępnionych przez innych twórców</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Twórz aplikacje, które się sprzedają</h3>
          <p><ul>
            <li>Opracowuj aplikacje przeznaczone do wypromowania i sprzedaży w sklepie <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Twórz niestandardowe widżety i motywy, dzięki którym Twoi klienci mogą skonfigurować nowe funkcjonalne aplikacje w kreatorze Web AppBuilder</li>
            <li>Utwórz niestandardowy motyw przeznaczony dla Twojej firmy</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Odwiedź stronę <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, aby pobrać oprogramowanie i dowiedzieć się więcej.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

