---
title: Narzędzie Web AppBuilder for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="pl">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Web AppBuilder for ArcGIS</h1>
        </div>
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="Przeszukaj oprogramowanie Web AppBuilder" class="leader">
	          <input type="hidden" name="collection" value="help">
            <input type="hidden" name="platform" value="detect">
	          <input type="hidden" name="product" value="web-appbuilder">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="pl">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link" href="/pl/web-appbuilder/">Strona główna</a>
        <a class="sub-nav-link" href="/pl/web-appbuilder/create-apps/">Utwórz aplikacje</a>
        <a class="sub-nav-link" href="/pl/web-appbuilder/manage-apps/">Zarządzaj aplikacjami</a>
        <a class="sub-nav-link is-active" href="/pl/web-appbuilder/extend-apps/">Rozszerz aplikacje</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-24 tablet-column-7">
    <h3 class="gray">Rozszerzanie możliwości oprogramowania Web AppBuilder za pomocą Developer Edition</h3>
    <h5>Za pomocą narzędzia Web AppBuilder for ArcGIS (Developer Edition) można tworzyć własne widżety i motywy. Odwiedź stronę z oprogramowaniem <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, aby pobrać wersję Developer Edition i dowiedzieć się więcej o tworzeniu własnych niestandardowych aplikacji.</h5>
  </div>
</div>

<div class="grid-container leader-1 trailer-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-2-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-widget-theme.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
 Zwiększ możliwości swojej firmy
          </h5>
          <ul>
            <li>Przyspiesz tworzenie aplikacji internetowych obsługiwanych na komputerach, tabletach i smartfonach</li>
            <li>Korzystaj ze struktury aplikacji i gotowych widżetów, aby tworzyć komponenty dostosowane do własnych procedur wykonywania zadań</li>
            <li>Dostosuj aplikacje, tworzące niestandardowe motywy</li>
            <li>Twórz nowe aplikacje przy użyciu widżetów i motywów udostępnionych przez innych twórców</li>
          </ul>
        </div>
      </div>
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-sell.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
 Twórz aplikacje, które się sprzedają
          </h5>
          <ul>
            <li>Opracowuj aplikacje przeznaczone do wypromowania i sprzedaży w sklepie <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Twórz niestandardowe widżety i motywy, dzięki którym Twoi klienci mogą skonfigurować nowe funkcjonalne aplikacje w kreatorze Web AppBuilder</li>
            <li>Utwórz niestandardowy motyw przeznaczony dla Twojej firmy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column-24 text-center leader-1">
    <p>Odwiedź stronę <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, aby pobrać oprogramowanie i dowiedzieć się więcej.</p>
  </div>
</div>
