---
title: Esri Maps for MicroStrategy

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for MicroStrategy Home page."><META name="last-modified" content="2016-05-04"><META name="product" content="esri-maps-micro"><META name="sub_category" content="Maps for MicroStrategy"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for MicroStrategy"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,BUSINESS,BI,MAPPING"><META name="version" content="micro-1.0,micro-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,BUSINESS,BI,MAPPING, MICROSTRATEGY"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-microStrategy/">Esri Maps for MicroStrategy</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for MicroStrategy" data-langlabel="search-esri-maps-micro">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-micro" />          
					<input type="hidden" name="version" value="micro-2.0.1" />
                    <input type="hidden" name="language" value="de" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-microstrategy/">Startseite</a></li>
        <li><a href="/de/maps-for-microstrategy/install-and-configure/">Installieren und Konfigurieren</a></li>
        <li><a href="/de/maps-for-microstrategy/design-and-use-map/">Entwerfen und Verwenden</a></li>
		<li><a href="/de/maps-for-microstrategy/build-a-model/">Erstellen eines Modells</a></li>
		<li><a href="/de/maps-for-microstrategy/use-maps-mobile/">Mobil</a></li>
        <li><a href="http://forums.arcgis.com/forums/233-Esri-Maps-for-MicroStrategy">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Holen Sie sich die App</h2>
          <span id="appVersion"><strong>Version:</strong> 2.0.2</span> <span id="appReleased"><strong>Verfügbar:</strong> November 2015</span>


          <p>Reichern Sie Ihre MicroStrategy Report Services-Dokumente mit interaktiven Live-Karten an, um Ihre Unternehmensdaten visuell und interaktiv zu analysieren. Esri Maps for MicroStrategy wurde für die nahtlose Integration in die alltäglichen Workflows von Designern und Analysten auf der Basis von MicroStrategy konzipiert, ohne dass benutzerdefinierte Codes oder GIS-Kenntnisse erforderlich sind. Erstellen Sie inhaltsreiche Karten, die mit anderen Daten in Ihren Dokumenten und Berichten interagieren, und kombinieren Sie veröffentlichte geographische Daten mit Unternehmensdaten in MicroStrategy, um die Durchführung von Analysen zu vereinfachen. </p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy/pricing">Erwerben Sie Esri Maps for MicroStrategy</a>

          </p>

        </header>
        <hr />
        <br />
<!--Feature highlights - first row -->		
<div id="simplifymapcreation-LA" class="column-12 phone-column-24">
          <img src="em4m_la.png" />

          <h3>Vereinfachen der Kartenerstellung</h3>
          <p>Erstellen Sie in Location Architect mit nur wenigen Klicks eine detaillierte Karte, die den unternehmenseigenen Style-Standards entsprechen.</p>
          <p>
            <a href="/de/maps-for-microstrategy/build-a-model/what-is-.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4149/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
			<video width="320" height="240" controls id="4149" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4149/mp4/480">
			</video>			
          </p>
		</div>
		
		 <div id="configureanduseselectors" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Konfigurieren der Auswahl</h3>
          <p>Fügen Sie Interaktivität zwischen Daten in Ihrem Dokument hinzu, indem Sie Ihre Karte als Auswahl oder als Ziel einer Auswahl konfigurieren. </p>
          <p>
		  <a href="/de/maps-for-microstrategy/design-and-use-map/configure-selectors.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
             <br/>
			 <a href="http://video.arcgis.com/iframe/4114/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
		   <video width="320" height="240" controls id="4114" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4114/mp4/480">
			</video>
	      </p>
        </div>
	<br/>		
		
	<!--Feature highlights - second row -->		
		<div class="clear"></div>
			
		<div id="addandconfigureamap-report" class="column-12 phone-column-24">
          <img src="em4m3b.png" />

          <h3>Erstellen eines Berichts mit aktivierter Karte</h3>
          <p>Fügen Sie Ihrem MicroStrategy Web-Bericht eine dynamische Karte von Esri hinzu, um bessere Unternehmensentscheidungen zu treffen. </p>
          <p>
            <a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4115/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
			<video width="320" height="240" controls id="4115" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4115/mp4/480">
			</video>			
          </p>
		
        </div>
		
<div id="addandconfigureamap-dashboard" class="column-12 phone-column-24">
          <img src="em4m1.png" />

          <h3>Hinzufügen von Karten zu Ihrem Dashboard</h3>
          <p>Verbessern Sie Ihr Dashboard mit interaktiven Karten, um Ihre MicroStrategy-Daten auf neue Weise darzustellen. </p>
          <p>
            <a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Weitere Informationen</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4113/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Video ansehen</a>
			<video width="320" height="240" controls id="4113" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4113/mp4/480">
			</video>
</p>
</div>

<div class="clear"></div>
       
		<!--Commenting out until we add another feature highlight to make a third row
		<div id="dynamiclinking" class="column-12 phone-column-24">
          <img src="em4m4.png"/>

          <h3>Add dynamic linking</h3>
          <p>Configure a dynamic link from a map in a report or document to launch an external document or report. </p>
          <p>
          <a href="/de/maps-for-microstrategy/design-and-use-map/configure-links.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>

        <div class="clear"></div>-->

<!--Commenting this section out until I get better screenshots
<div id="adddatafromarcgis" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Add data from ArcGIS</h3>
          <p>Add published geographic data from ArcGIS to your map-enabled document or report for easier analysis of your business data.</p>
          <p><a href="/de/maps-for-microstrategy/design-and-use-map/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>         
          </p>
        </div>
		
		<div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Share maps and layers</h3>
          <p>Share maps or individual map layers to ArcGIS for use by others in or outside of your organization.</p>
          <p><a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>
-->

	  
<div class="clear"></div>


<!-- What's new section -->
<hr />
<a name="whatsNew"></a>
<h2>Neuerungen</h2>
<p>Esri Maps for MicroStrategy bietet signifikante Updates und Verbesserungen für Dokument-Designer, Analysten und Entwickler. Im Folgenden sind einige der Highlights aufgeführt.</p>

<ul>
<li><b><a href="http://support.esri.com/en/downloads/patches-servicepacks/view/productid/210/metaid/2276" target=_blank>NEU! Patch-Version:</a></b> Support- und Aktualisierungs-Patch für Esri Maps for MicroStrategy-Server-Plug-Ins</li>
<li>Neue Esri Maps for MicroStrategy Mobile-App</li>
<li>Neues Werkzeug für automatische Kartenerstellung: Location Architect</li>
<li>Unterstützung für Portal for ArcGIS-Bereitstellungen ohne Internet</li>
<li>Neue Zeichenwerkzeuge zum Auslösen von konfigurierter Auswahl und von Links</li>
<li>Filterfunktionen, die mit dem Werkzeug &quot;Layer filtern&quot; auf der Karte angezeigt werden</li>
<li>Messen von Flächen, Entfernungen und XY-Koordinaten mit dem Werkzeug &quot;Messen&quot;</li>
<li>Geokodieren von Adressen und Suchen von Routen mit dem Werkzeug &quot;Route abrufen&quot;</li>
<li>Konfigurieren von Infografiken sowie anderen Kartenwerkzeugen und -einstellungen</li>
<li>Ändern der Kartenausdehnung mit einer Übersichtskarte und anderen Navigationswerkzeugen</li>
<li>Festlegen der WKID von XY-Koordinaten beim Hinzufügen von Punktdaten zu der Karte</li>
<li>Konfigurieren von mehreren Styles für einen Layer</li>
<li>Kritische Bugfixes</li>
<li>Zusätzliche Unterstützung für den Express-Modus</li>
<li>Software in Englisch, Japanisch und Deutsch verfügbar</li>

</ul>

<!-- Supported environments section -->
 <hr />
<a name="supportedEnvironments"></a>
        <h2>Unterstützte Umgebungen</h2>
          <p>Esri Maps for MicroStrategy umfasst zwei Komponenten:</p>
		<ul>
			<li>
			<p><a href="#em4mstr" onclick="exp(event,'div','exp1')">Esri Maps for MicroStrategy-Server-Plug-In</a>, das für den MicroStrategy Web-Server und den MicroStrategy Mobile-Server (bei Verwendung von Esri Maps for MicroStrategy Mobile) bereitgestellt wird
			</p>
			</li>
			<li>
			<p><a href="#em4mm" onclick="exp(event,'div','exp2')">Esri Maps for MicroStrategy Mobile</a> wird als iOS Client Framework geliefert. Dabei werden MicrosStrategy Mobile SDK for iOS sowie weitere Entwicklungswerkzeuge von Drittanbietern verwendet, um eine benutzerdefinierte iOS-App zu erstellen.</p> 
			</li>
		</ul>

<p>Durch die Bereitstellung des Server-Plug-Ins auf dem Webserver kann die Organisation Ihre MicroStrategy Business Intelligence (BI)-Daten in die ArcGIS Plattform integrieren. Wenn das Server-Plug-In auf dem mobilen Server der Organisation bereitgestellt wird, können die Benutzer der Esri Maps for MicroStrategy Mobile-App kartenfähige Dokumente auf ihren iPads aufrufen.</p>

<p>Bevor die mobile App freigegeben und verwendet werden kann, muss das iOS-Client-Framework zunächst für MicroStrategy Mobile kompiliert werden. Es wird empfohlen, die Services eines Entwicklers in Ihrer Organisation zu sichern, um die Esri Maps for MicroStrategy Mobile-App zu kompilieren.</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 
		 
		<!-- EM4M server plug-in expanding arrow -->
		<h3>
		<a name="em4mstr" class="icon-right-arrow" onclick="exp(event,'div','exp1')">Esri Maps for MicroStrategy-Server-Plug-In</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			
		<!-- MicroStrategy Web versions -->
			<h4>MicroStrategy Web-Versionen</h4>
			
				<p>Um die ordnungsgemäße Funktion von Esri Maps for MicroStrategy sicherzustellen, erfordert das Esri Maps for MicroStrategy-Server-Plug-In eine operationale Konfiguration dieser unterstützten Versionen von MicroStrategy Web:</p>
				<ul>
					<li>MicroStrategy 10.1</li>
					<li>MicroStrategy 10.0</li>
				</ul>	
				
				<p><a name="patch"><b><a href="http://support.esri.com/en/downloads/patches-servicepacks/view/productid/210/metaid/2276" target=_blank>&gt; NEU! Patch-Version:</a></b> MicroStrategy Web 10.2-Support- und Aktualisierung-Patch für Esri Maps for MicroStrategy 2.0.2</a></p>
				<p>Für folgende Elemente werden Zertifizierungstests durchgeführt:
					<ul>
						<li>MicroStrategy 10.2</li>
						<li>MicroStrategy 10.3</li>
					</ul>
				</p>
				
				<p>MicroStrategy empfiehlt, zertifizierte Konfigurationen anstelle der unterstützten Konfigurationen zu verwenden. Weitere Informationen zu zertifizierten Versionen anderer Drittanbieteranwendungsserver für die jeweilige Version von MicroStrategy finden Sie in den <a href="https://community.microstrategy.com/t5/Release-Notes/TN280885-Defects-and-Enhancements-Addressed-in-MicroStrategy-10/ta-p/280885 " target="_blank">Versionshinweisen zu MicroStrategy</a>.</p>
		
		
<!-- Web application servers subhead for EM4M -->
		<h4>Webanwendungsserver</h4>
		<p>In der folgenden Tabelle werden die Webanwendungsserver beschrieben, auf die Esri seine Testaktivitäten für die JSP-Server- und ASP.NET-Serverkonfiguration fokussiert hat. Wenn der von Ihrer MicroStrategy-Konfiguration verwendete Webanwendungsserver angezeigt werden soll, wenden Sie sich an den <a href="http://support.esri.com/" target="_blank">technischen Support von Esri</a></li>auch einige Serveradministrationsfunktionen ausführen. 
		<p>
				<table width="400" border="1" align="left">
					<tr align="left">
					<th scope="col">Webanwendungsserver</th>
					<th scope="col">Getestete Version</th>
					</tr>
					<tr align="left" valign="top">
						<td align="left" valign="top">Apache Tomcat</td>
						<td align="left" valign="top">7.0.x</td>
						</tr>
						
						<tr align="left" valign="top">
						<td align="left" valign="top">IBM WebSphere</td>
						<td align="left" valign="top">7.0.x</td>
					</tr>
					
					<tr align="left" valign="top">
						<td align="left" valign="top">JBoss Application Server</td>
						<td align="left" valign="top">6.2.x</td>
					</tr>
						
					<tr align="left" valign="top">
						<td align="left" valign="top">Microsoft Internet Information Services</td>
						<td align="left" valign="top">8.x | 7.x</td>
					</tr>
					
			
				</tbody>
				</table>
		</p>
			<div class="clear" style="padding:10px;"></div>
		
		<!-- Web browsers subhead for EM4M -->
			<h4>Webbrowser</h4>
			<p>Esri testet nicht alle Kombinationen von Webbrowsern (und die zugrunde liegenden Client-Betriebssysteme), die von MicroStrategy zertifiziert sind. Stattdessen wird eine Gruppe von zertifizierten Webbrowsern ausgewählt und es werden Tests für die aktuellen Betriebssysteme durchgeführt. Es werden nicht alle ausgewählten Browser für alle identifizierten Betriebssystem getestet.</p>

				<p>Esri hat zum Testen von Client-Browsern keine anderen Plattformen als Windows verwendet. Das Esri Maps for MicroStrategy-Plug-In sollte auf Nicht-Windows-Clients funktionieren, sofern einer der unten aufgelisteten Webbrowser verwendet wird. Ist dies nicht der Fall, wenden Sie sich an den <a href="http://support.esri.com/" target="_blank">technischen Support von Esri</a>, um Ihre spezifische Konfiguration testen zu lassen.</p>

				<p>Die folgenden Browser wurden getestet:</p>
				<p>
				<table width="400" border="1" align="left">
					<tr align="left">
					<th scope="col">Browser-Name</th>
					<th scope="col">Getestete Version</th>
					</tr>

					<tbody style="font-size:14px"> 
					<tr align="left" valign="top">
						<td align="left" valign="top">Internet Explorer</td>
						<td align="left" valign="top">11.x | 10.x | 9.x</td>
					</tr>
					
					<tr align="left" valign="top">
						<td align="left" valign="top">Mozilla Firefox</td>
						<td align="left" valign="top">27.x</td>
					</tr>
									
					<tr align="left" valign="top">
						<td align="left" valign="top">Google Chrome</td>
						<td align="left" valign="top">33.x</td>
					</tr>
					
				</tbody>
				</table>
				</p>
								</div>
			
		<div class="clear" style="padding:5px;"></div>
		
	<!-- Esri Maps for MicroStrategy Mobile -->
		<h3>
		<a name="em4mm" class="icon-right-arrow" onclick="exp(event,'div','exp2')">Esri Maps for MicroStrategy Mobile</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
				<!-- Developer prerequisites subhead for EM4MM section - no table -->
				<h4>Entwicklerrechner</h4>
			<p>Um die Erstellung der benutzerdefinierten mobilen App zu unterstützen, muss das Entwicklersystem die folgenden Anforderungen erfüllen:</p>	
				<ul>
				<li>ein Computer, auf dem Mac OS X 10.8.4 oder höher ausgeführt wird, mit mind. 4 GB RAM</li>
				<li>Xcode IDE 6.x</li>
				<li>iOS SDK 8.x</li>
				<li>MicroStrategy 10.1 Mobile-Client (siehe <a href="https://software.microstrategy.com/Download/index.aspx" target="_blank">MicroStrategy-Download-Site</a>)</li>
				</ul>
			
			<p>Weitere Informationen zu folgenden Themen:</p>
				<ul>
				<li>Weitere Informationen zum Kompilieren der App mit dem iOS-Client-Framework für Esri Maps for MicroStrategy finden Sie im <a href="/de/maps-for-microstrategy/install-and-configure/overview.htm">Esri Maps for MicroStrategy Mobile – Administratorhandbuch</a></li>
				<li>Weitere Informationen zum MicroStrategy Mobile SDK für iOS finden Sie in der <a href="https://lw.microstrategy.com/msdz/MSDZ_World2015/docs/projects/MobileSDK/output/vvitarello/HTML5/default.htm#topics/iOS/iOS_What_Can_You_Do_with_the_Mobile_SDK.htm" target="_blank">MicroStrategy Developer Zone</a>.</li>
				</ul>
				
				<!-- Mobile users subhead for EM4MM section -->
				<h4>Gerät für Benutzer mobiler Apps</h4>
				<ul>
				<li>iPad-Gerät, auf dem iOS 8.x ausgeführt wird</li>
				</ul>
			</div>	
		
		<!-- Support -->	
		<div class="clear" style="padding:5px;"></div>
	
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">Support</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			
			<p>Zur ordnungsgemäßen Funktion von MicroStrategy Web müssen mehrere Drittanbieterkomponenten konfiguriert werden. Zu diesen Komponenten zählen ein Anwendungsserver, ein Webserver und ein Java Development Kit. Der technische Support von MicroStrategy hilft Ihnen bei der Bereitstellung von MicroStrategy Web mit diesen Komponenten. Der <a href="http://support.esri.com/" target="_blank">technische Support von Esri</a> hilft Ihnen bei der Bereitstellung (und Verwendung) des Esri Maps for MicroStrategy-Plug-Ins in einer operationalen Konfiguration von MicroStrategy Web.</p>

			<p>Die Mitarbeiter des technischen Supports von Esri sind keine Experten für alle möglichen Konfigurationen von MicroStrategy Web. Entsprechend sind die Entwickler des technischen Supports von MicroStrategy keine Experten für alle Drittanbieterkomponenten, die für eine operationale Konfiguration von MicroStrategy Web erforderlich sind. Wenn beim Konfigurieren von MicroStrategy Web Probleme auftreten, ist es effizienter, den technischen Support von MicroStrategy um Unterstützung zu bitten. Entsprechend ist es effizienter, sich im Falle von Konfigurationsproblemen mit Drittanbieterkomponenten an die Support-Organisation des Drittanbieters zu wenden, um Unterstützung zu erhalten. In Fällen, in denen davon ausgegangen werden kann, dass das Problem beim Esri Maps for MicroStrategy-Plug-In liegt, kann der technische Support von Esri mit dem technischen Support von MicroStrategy und Drittanbietern bzw. deren Beratern zusammenarbeiten.</p>			
			</div>
			
		<div class="clear"></div>
</div>


<!-- Get started links -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="#whatsNew">Neuerungen</a></li>
            <li><a href="#supportedEnvironments">Unterstützte Umgebungen</a></li>
			<li>Hilfe zu früheren Versionen:
			<ul>
				<li><a href="/de/maps-for-microstrategy/1.1/">1.1</a></li>
				<li><a href="/de/maps-for-microstrategy/1.0.1/">1.0.1</a></li>
							</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/220/maps-for-microstrategy">Videos ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
