---
title: Esri Maps for MicroStrategy

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - 1.0/ui/jquery.colorbox.min
  - 1.0/ui/jquery.colorbox.init
  - 1.0/ui/video.init

metatags:
  - <META name="description" content="Esri Maps for MicroStrategy Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="esri-maps-microStrategy"><META name="sub_category" content="Esri Maps for MicroStrategy"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Esri Maps for MicroStrategy"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="esri-maps-2.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="de">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/de/maps-for-microStrategy/">Esri Maps for MicroStrategy</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for MicroStrategy" data-langlabel="search-esri-maps-micro">
                    <input type="hidden" name="collection" value="Hilfe" />
                    <input type="hidden" name="product" value="esri-maps-micro" />          
                    <input type="hidden" name="language" value="de" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/maps-for-microstrategy/">Startseite</a></li>
        <li><a href="/de/maps-for-microstrategy/install-and-configure/">Installieren und Konfigurieren</a></li>
        <li><a href="/de/maps-for-microstrategy/design-and-use-map/">Entwerfen und Verwenden von Karten</a></li>
		<!--<li><a href="/de/maps-for-microstrategy/use-maps-mobile/">Use Maps on Mobile - Beta 1</a></li>-->
        <li><a href="http://forums.arcgis.com/forums/233-Esri-Maps-for-MicroStrategy">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Abrufen der App</h2>
          <span id="appVersion"><strong>Version:</strong> 1.1</span> <span id="appReleased"><strong>Verfügbar:</strong> Januar 2014</span>


          <p>Reichern Sie Ihre MicroStrategy Report Services-Dokumente mit interaktiven Live-Karten an, um Ihre Unternehmensdaten visuell und interaktiv zu analysieren. Esri Maps for MicroStrategy wurde für die nahtlose Integration in die alltäglichen Workflows von Designern und Analysten auf der Basis von MicroStrategy konzipiert, ohne dass benutzerdefinierte Codes oder GIS-Kenntnisse erforderlich sind. Erstellen Sie inhaltsreiche Karten, die mit anderen Daten in Ihren Dokumenten und Berichten interagieren, und kombinieren Sie veröffentlichte geographische Daten mit Unternehmensdaten in MicroStrategy, um die Durchführung von Analysen zu vereinfachen. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy/pricing">Erwerben Sie Esri Maps for MicroStrategy</a>

          </p>

        </header>
        <hr />
        <br />

		<div id="addandconfigureamap-report" class="column-12 phone-column-24">
          <img src="em4m3b.png" />

          <h3>Erstellen eines Berichts mit aktivierter Karte</h3>
          <p>Fügen Sie Ihrem MicroStrategy Web-Bericht eine dynamische Karte von Esri hinzu, um bessere Unternehmensentscheidungen zu treffen. </p>
          <p>
            <a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow"> Weitere Informationen</a> <br/> <a href="http://video.arcgis.com/iframe/3098/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Sehen Sie dazu ein Video an</a>
			<video width="320" height="240" controls id="3098" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3098/mp4/480">
			</video>			
          </p>
		
        </div>
        
		
		<div id="addandconfigureamap-dashboard" class="column-12 phone-column-24">
          <img src="em4m1.png" />

          <h3>Hinzufügen von Karten zu Ihrem Dashboard</h3>
          <p>Verbessern Sie Ihr Dashboard mit interaktiven Karten, um Ihre MicroStrategy-Daten auf neue Weise darzustellen. </p>
          <p>
            <a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow"> Weitere Informationen</a> <br/> <a href="http://video.arcgis.com/iframe/3096/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Sehen Sie dazu ein Video an</a>
			<video width="320" height="240" controls id="3096" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3096/mp4/480">
			</video>
			
			
          </p>
		  <br/>
        </div>
		
		<div class="clear"></div>


        <div id="configureanduseselectors" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Konfigurieren der Auswahl</h3>
          <p>Fügen Sie Interaktivität zwischen Daten in Ihrem Dokument hinzu, indem Sie Ihre Karte als Auswahl oder als Ziel einer Auswahl konfigurieren. </p>
          <p>
		  <a href="/de/maps-for-microstrategy/design-and-use-map/configure-and-use-selectors.htm" class="icon-right-arrow"> Weitere Informationen</a> <br/> <a href="http://video.arcgis.com/iframe/3097/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge"> Sehen Sie dazu ein Video an</a>
		   <video width="320" height="240" controls id="3097" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/3097/mp4/480">
			</video>
			
			
          </p>
        </div>
		
		<div id="dynamiclinking" class="column-12 phone-column-24">
          <img src="em4m4.png"/>

          <h3>Hinzufügen dynamischer Links</h3>
          <p>Konfigurieren Sie einen dynamischen Link von einer Karte in einem Bericht oder Dokument, um ein externes Dokument oder einen externen Bericht zu starten. </p>
          <p>
          <a href="/de/maps-for-microstrategy/design-and-use-map/configure-and-use-links.htm" class="icon-right-arrow"> Weitere Informationen</a>
          </p>
        </div>

        <div class="clear"></div>

<!--Commenting this section out until I get better screenshots
<div id="adddatafromarcgis" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Add data from ArcGIS</h3>
          <p>Add published geographic data from ArcGIS to your map-enabled document or report for easier analysis of your business data.</p>
          <p><a href="/de/maps-for-microstrategy/design-and-use-map/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>         
          </p>
        </div>
		
		<div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Share maps and layers</h3>
          <p>Share maps or individual map layers to ArcGIS for use by others in or outside of your organization.</p>
          <p><a href="/de/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>
-->
      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
           <li><a href="/de/maps-for-microstrategy/design-and-use-map/what-s-new.htm">Neuheiten</a></li>
            <li><a href="/de/maps-for-microstrategy/install-and-configure/supported-environments.htm">Unterstützte Umgebungen</a></li>
			<li><a href="/de/maps-for-microstrategy/1.0.1/">Hilfe für Version 1.0.1</a></li>			
			<li><a href="http://video.arcgis.com/series/158/location-analytics/">Videos zu Location Analytics ansehen</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/js/1.0/ui/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
