---
title: Location Analytics med ArcGIS
css:
  - product-page
  - stat-page-specific
js: 
  - libs/jquery.easing.1.3
  - libs/jquery.quicksand

metatags:
  - <META name="description" content="Add smart maps, map-driven analysis, and rich geographic context to your BI, CRM, or ERP enterprise business system."><META name="last-modified" content="2014-2-26"><META name="product" content=""><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en"><META name="content-language" content="en">

mobile: true
---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Location Analytics</h1>
	  <!--<form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Location Analytics" data-langlabel="search-location-analytics">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="" />          
                    <input type="hidden" name="language" value="en" />
      </form>-->
    </header>
  </div>
</div>
<div class="container">
  <div class="row">
    <section class="feature-product">
    <div class="product-desc">
      <p>Lokasjonsanalyser gir GIS-egenskaper til ikke-GIS-publikumet, noe som gj&oslash;r det enkelt &aring; sette data p&aring; et kart og avdekke trender og m&oslash;nstre som er usynlige med tabeller, diagrammer og grafer. Dette betyr at n&aelig;ringslivsanalytikere, kundeansvarlige, markedsf&oslash;rere og driftsledere kan f&aring; mer ut av sine data uten &aring; forlate forretningssystemene de bruker hver dag. Bedre innsikt betyr mer effektive beslutninger og bedre resultater. Alle i organisasjonen drar nytte av dette.</p>
    </div>
    <div class="product-img">
      <img src="/en/location-analytics/img/main.jpg"
    </div>
  </section>
  </div>
  <hr>
  <div class="filter-nav">
    <form id="filter">
      <fieldset>
        <label class="active"><input type="radio" name="type" value="alle" checked="checked">Alle apper</label>
        <label><input type="radio" name="type" value="produktivitet">Produktivitet og samarbeid</label>
        <label><input type="radio" name="type" value="busintel">Business Intelligence</label>
        <label><input type="radio" name="type" value="crm">Customer Relationship Management</label>
        <label><input type="radio" name="type" value="focusolu">Focused Solutions</label>
      </fieldset>
    </form>
  </div>
  <div class="content">
    <ul id="applications" class="image-grid">
      <li class="product" data-id="id-1" data-type="focusolu">
        <a href="http://location-analytics.arcgis.com/en/bao/"><img src="/en/location-analytics/img/business-analyst.jpg"></a>
        <h3>Business Analyst Online</h3>
        <p>Lag egne kart og rapporter for valg av sted og markedsanalyse med Esris Tapestry Segmentation-data, kundeforbruksdata, salgsdata og mye mer.</p>
        <a href="http://location-analytics.arcgis.com/en/bao/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-2" data-type="focusolu">
        <a href="http://location-analytics.arcgis.com/en/community-analyst/"><img src="/en/location-analytics/img/community-analyst.jpg"></a>
        <h3>Community Analyst</h3>
        <p>Lag egne kart og rapporter for ressurstildeling og samfunnsanalyser med Esris Tapestry Segmentation-data, demografi, trafikk og mye mer.</p>
        <a href="http://location-analytics.arcgis.com/en/community-analyst/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-3" data-type="crm">
        <a href="http://location-analytics.arcgis.com/en/maps-for-dynamics-crm/"><img src="/en/location-analytics/img/dynamic-crm.jpg"></a>
        <h3>Esri Maps for Dynamics CRM</h3>
        <p>Bruk Esri Maps og lokasjonsanalyse sammen med Microsoft Dynamics CRM til &aring; forbedre kundelojalitetskampanjer, m&aring;lrette kampanjer mer effektivt og forst&aring; salgsomr&aring;der bedre.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-dynamics-crm/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-4" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/en/maps-for-cognos/"><img src="/en/location-analytics/img/ibm-cognos.jpg"></a>
        <h3>Esri Maps for IBM Cognos</h3>
        <p>Bruk Esri Maps sammen med IBM Cognos til &aring; visualisere, analysere og berike BI-data med lokasjonsbasert demografi, forbruk og forretningsdata for &aring; f&aring; ny innsikt.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-cognos/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-5" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/en/maps-for-microstrategy/"><img src="/en/location-analytics/img/microstrategy.jpg"></a>
        <h3>Esri Maps for MicroStrategy</h3>
        <p>Bruk Esri Maps sammen med MicroStrategy til &aring; visualisere, analysere og berike BI-data med lokasjonsbasert demografi, forbruk og livsstilsdata for &aring; besvare vanskelige n&aelig;ringslivssp&oslash;rsm&aring;l.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-microstrategy/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-6" data-type="busintel">
        <a href="http://location-analytics.arcgis.com/en/maps-for-sap-bobj/"><img src="/en/location-analytics/img/sap.jpg"></a>
        <h3>Esri Maps for SAP BusinessObjects</h3>
        <p>Bruk Esri Maps sammen med SAP Business Objects til &aring; visualisere, analysere og berike BI-data med lokasjonsbasert demografi, forbruk og livsstilsdata for &aring; f&aring; forretningene til &aring; g&aring; bedre.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-sap-bobj/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>      
      <li class="product" data-id="id-7" data-type="productivity">
        <a href="/no/maps-for-office/"><img src="/en/location-analytics/img/office.jpg"></a>
        <h3>Esri Maps for Office</h3>
        <p>Bruk Esri Maps og lokasjonsanalyse sammen med Microsoft Office for &aring; kartaktivere, berike og analysere data med Excel og dele live, interaktive kart via PowerPoint.</p>
        <a href="/no/maps-for-office/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-8" data-type="productivity">
        <a href="/no/maps-for-sharepoint/"><img src="/en/location-analytics/img/sharepoint.jpg"></a>
        <h3>Esri Maps for SharePoint</h3>
        <p>Bruk Esri Maps og lokasjonsanalyse sammen med Microsoft Sharepoint til &aring; kartaktivere Sharepoint-lister, berike datavarehusdata med demografi og forbedre samarbeidet.</p>
        <a href="/no/maps-for-sharepoint/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
      <li class="product" data-id="id-9" data-type="crm">
        <a href="http://location-analytics.arcgis.com/en/maps-for-salesforce/"><img src="/en/location-analytics/img/salesforce.png"></a>
        <h3>Esri Maps for Salesforce</h3>
        <p>Bruk Esri Maps og lokasjonsanalyse sammen med Salesforce for &aring; forbedre kundeengasjement og kampanjeresultatene, visualisere og analysere salg geografisk og f&aring; dypere forretningsinnsikt.</p>
        <a href="http://location-analytics.arcgis.com/en/maps-for-salesforce/"><h5 class="icon-right-arrow">L&aelig;r mer</h5></a>
      </li>
    </ul>
  </div>
</div>
<script>
// Custom sorting plugin
(function($) {
  $.fn.sorted = function(customOptions) {
    var options = {
      reversed: false,
      by: function(a) { return a.text(); }
    };
    $.extend(options, customOptions);
    $data = $(this);
    arr = $data.get();
    arr.sort(function(a, b) {
      var valA = options.by($(a));
      var valB = options.by($(b));
      if (options.reversed) {
        return (valA < valB) ? 1 : (valA > valB) ? -1 : 0;
      } else {
        return (valA < valB) ? -1 : (valA > valB) ? 1 : 0;
      }
    });
    return $(arr);
  };
})(jQuery);

// DOMContentLoaded
$(function() {

  // bind radiobuttons in the form
  var $filterType = $('#filter input[name="type"]');
  var $filterSort = $('#filter input[name="sort"]');
  var $clicked = $('#filter fieldset label');

  // get the first collection
  var $applications = $('#applications');

  // clone applications to get a second collection
  var $data = $applications.clone();
  $('#filter fieldset label').click(function(event) {
    $clicked.removeClass('active');
    var clicked = $(this).addClass('active');
  });

  // attempt to call Quicksand on every form change
  $filterType.add($filterSort).change(function(e) {
    if ($('#filter input[name="type"]:checked').val() == 'all') {
      var $filteredData = $data.find('li');
    } else {
      var $filteredData = $data.find('li[data-type=' + $('#filter input[name="type"]:checked').val() + ']');
    }

    // if sorted by size
    if ($('#filter input[name="sort"]:checked').val() == "size") {
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return parseFloat($(v).find('span[data-type=size]').text());
        }
      });
    } else {
      // if sorted by name
      var $sortedData = $filteredData.sorted({
        by: function(v) {
          return $(v).find('strong').text().toLowerCase();
        }
      });
    }   

    // finally, call quicksand
    $applications.quicksand($sortedData, {
      duration: 800,
      easing: 'easeInOutQuad'
    });

  });
  
  // This tmp fix is for documentation page specific only.
  $(".navigation-bar .leader").css("margin-top","2em")
});</script>
