---
title: Living Atlas of the World
css:
  - documentation
  - gallery-item


js:
  - libs/jquery.cookie
  - gallery.comments

metatags:
  - <META name="description" content="ArcGIS app for smartphones and tablets Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="android-app,ios-app,win-phone-app"><META name="sub_category" content="ArcGIS app"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS app"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/living-atlas/">Living Atlas of the World</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" placeholder="Search the Living Atlas">

      </form>
    </header>
	
  </div>
</div>

<!-- Page Content -->
		<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.arcgis.com/home/webmap/embedViewer.html?webmap=df8bcc10430f48878b01c96e907a1fc3&amp;extent=-115.9788,30.5161,-105.2012,37.4062"></iframe>
		
		<div class="container">
		<div class="row">	
			<div class="column-10">
			<!-- Need to derive H2 below from title in the iteminfo file -->
			<h2 class="no-leader no-trailer gray">US Wildfire Activity Map</h2>
					
			</div>
			<div class="column-6">
			<!-- Sharing links -->
					<div class="social">
					<!-- Need to derive actual sharing URLs for this item in these services -->
					<!-- RSS feed for updates to item & comments? -->
					<a class="icon-rss right" href="http://www.arcgis.com/sharing/rest/content/items/df8bcc10430f48878b01c96e907a1fc3/comments?f=rss"> </a>			
					<a class="icon-twitter right" href="http://www.arcgis.com/home/socialnetwork.html?t=US%252BWildfire%252BActivity%252BWeb%252BMap&n=tw&u=http://www.arcgis.com/home/item.html?id=df8bcc10430f48878b01c96e907a1fc3"> </a>					
					<a class="icon-google-plus right" href="https://plus.google.com/share?url=http://www.arcgis.com/home/item.html?id=df8bcc10430f48878b01c96e907a1fc3"> </a>
					<a class="icon-facebook right" href="http://www.arcgis.com/home/socialnetwork.html?t=US%252BWildfire%252BActivity%252BWeb%252BMap&n=fb&u=http://www.arcgis.com/home/item.html?id=df8bcc10430f48878b01c96e907a1fc3"> </a>
					
					
					</div>		
			</div>
			<div class="column-8">
				<!-- Ratings and Views -->					
				<div class="ratings">
					<!-- Need to derive actual ratings and views for this item -->
					<h5 class="icon-star icon-blue"></h5>
					<h5 class="icon-star icon-blue"></h5>
					<h5 class="icon-star icon-blue"></h5>
					<h5 class="icon-star icon-blue"></h5>
					<h5 class="icon-star icon-gray"></h5>
					<small>(4 ratings; 1,257,961 views)</small>
				</div>
			</div>
		</div>		

			  
		
		  
		  <div class="row">
				<main class="column-16">
				<!-- The ratings?f=pjson file contains username & dates -->
				<p>Map by <a href="https://www.arcgis.com/home/user.html?user=PDohertyDRP">PDohertyDRP</a>. Created June 18, 2012. Modified May 27, 2014.</p>
				<!-- Need to derive p below from snippet in the iteminfo file -->
				<p>This is a map of US wildfire locations (active/recent) and other sources of information related to wildfires, including social media. Click on the areas of interest, explore, and be sure to bookmark this map to stay informed as the map updates.</p>	
				<!-- Need to derive links below from item info -->
				<p><a href="http://www.arcgis.com/home/webmap/viewer.html?webmap=df8bcc10430f48878b01c96e907a1fc3" target="_blank" class="btn primary">Add to My Map</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="SomeURL" target="_blank" class="btn light">Download File</a></p>
				<small>Usage of this map and its data may be restricted. See <a href="#constraints">Access and use constraints</a> at right for details. </small>
				
				<hr />
				
				<h3>About this map and data</h3> 
				
				<div id="description">
				<!-- This comes directly from the description tag in the iteminfo.xml file -->
				<div><div><span style='color: rgb(89, 89, 89); font-family: Verdana, sans-serif; font-size: 10pt; line-height: normal;'>This map contains live feed sources for US wildfire reports (I-209), perimeters, MODIS hot spots, wildfire conditions / red flag warnings, wildfire potential and weather radar. </span><span style='color: rgb(89, 89, 89); font-family: Verdana, sans-serif; font-size: 10pt; line-height: normal;'>Each of these layers provides insight into where a fire is located, its intensity and the surrounding areas susceptibility to wildfire.</span><br /></div></div><div><p style='margin-top:0in;mso-add-space:auto; line-height:normal'><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; color:#595959;mso-themecolor:text1;mso-themetint:166'> </span></p> <p style='margin-top:0in;mso-add-space:auto;line-height: normal'><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; color:#595959;mso-themecolor:text1;mso-themetint:166'>Find out more about the Esri Disaster Response Program: </span><a href='http://www.esri.com/disaster' target='_self'><span style='font-size:10.0pt; font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;'>www.esri.com/disaster</span></a><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;'></span></p> <p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><b><span style='font-size: 10pt; font-family: Verdana, sans-serif;'> </span></b></p> <p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><u>About the Data :</u></span></p><p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><br /></span></p><p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><b>CAL FIRE Locations and Perimeters: </b>Since CAL FIRE does not always send daily updates to the USGS GeoMAC we are utilizing their </span><a href='https://maps.google.com/maps/ms?msa=0&amp;output=kml&amp;msid=208523333872813891131.0004c02beb4f2788337d0' target='_blank'>KML feed</a><span style='font-size: 10pt; font-family: Verdana, sans-serif;'> to keep this map up to date. Please note - these can conflict with information from the USGS Wildfire Activity feed below. </span></p><p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><br /></span></p> <p style='margin:0in;margin-bottom:.0001pt;mso-add-space:auto;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Wildfire Activity:</span></b><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(89, 89, 89);'>  This displays large active fire incidents and situation reports that have been entered into the </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: black;'><a href='http://www.nifc.gov/' target='_blank'><span style='color:#21759B'>National Interagency Fire Center (NIFC)</span></a> </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(89, 89, 89);'>database by local emergency response teams. The Active Fire Perimeters layer is a product of Geospatial Multi-Agency Coordination (GeoMAC).  </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif;'><a href='http://rmgsc.cr.usgs.gov/outgoing/GeoMAC/geomac_download_procedures.pdf' target='_self'><span style='color:#21759B'>Wildland fire perimeter data</span></a> </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(89, 89, 89);'>provided by the GeoMAC site are derived from data produced by GIS specialists working on each incident. Perimeter data displayed in and delivered by the GeoMAC application are not the final or official perimeters for any incident and are provided for informational purposes only. The final official perimeter should be obtained from the host unit, which can be determined by looking at the Unit Id for any specific fire. The host unit is responsible for producing official and final perimeters for all incidents in their jurisdiction. Data source:</span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif;'> <a href='http://rmgsc.cr.usgs.gov/outgoing/GeoMAC/current_year_fire_data/current_year_all_states/' target='_self'><span style='color:#21759B'>USGS Rocky Mountain Geographic Science Center Outgoing Data Sets</span></a>, </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(89, 89, 89);'>also see GeoMAC </span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif;'><a href='http://rmgsc.cr.usgs.gov/outgoing/GeoMAC/current_year_fire_data/current_year_all_states/perimeters_dd83_METADATA.htm' target='_blank'><span style='color:#21759B'>metadata </span></a></span><span style='line-height: normal; font-size: 10pt; font-family: Verdana, sans-serif; color: rgb(89, 89, 89);'>for more information.</span><br /></p> <p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'><br /></span></b></p><p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Hot Spot:</span></b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>  The MODIS thermal layer is created from the MODIS satellite detection system and represents hot spots that could be potential fire locations in the last 24 hour period at a horizontal resolution of 1 km and temporal resolution of 1 to 2 days. For information see our explanation in the description </span><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><a href='http://tmservices1.esri.com/arcgis/rest/services/LiveFeeds/MODIS_Thermal/MapServer' target='_blank'><span style='color:#21759B'>here</span></a>. </span><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Data source</span><span style='font-size: 10pt; font-family: Verdana, sans-serif;'>: <a href='http://earthdata.nasa.gov/data/near-real-time-data/firms/active-fire-data' target='_self'><span style='color:#21759B'>NASA EOSDIS website</span></a></span></p> <p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Wind Data (NOAA METAR):</span></b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>  </span><span style='font-size: 10pt; font-family: Verdana, sans-serif;'>Typical METAR contains data for the temperature, dew point, wind speed and direction, precipitation, cloud cover and heights, visibility, and barometric pressure. A METAR may also contain information on precipitation amounts, lightning, and other information.</span></p> <p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Wildfire Potential:  </span></b><span style='font-size:10.0pt; font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;; mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959;mso-themecolor:text1; mso-themetint:166'>This is a raster geospatial product produced by the</span><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:black'> </span><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#4D4D4D'><a href='http://www.firelab.org/fmi/data-products/229-wildland-fire-potential-wfp' target='_blank'><span style='color:#21759B'>USDA Forest Service, Fire Modeling Institute</span></a></span><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;; color:black'>,</span><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;; color:#595959;mso-themecolor:text1;mso-themetint:166'> intended to be used in analyses of wildfire risk or hazardous fuels prioritization at large landscapes (100s of square miles) up through regional or national scales.<b> </b></span></p> <p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>Red Flag Warnings:</span></b><span style='font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#595959; mso-themecolor:text1;mso-themetint:166'>  Filtered from the Weather Watches and Warnings layer as an aggregated live feed derived from the NOAA data provided through the </span><span style='font-size: 10pt; font-family: Verdana, sans-serif;'><a href='http://alerts.weather.gov/' target='_self'><span style='color:#21759B'>Common Alerting Protocol (CAP) Alert system</span></a>. </span></p> <b><span style='font-size:10.0pt;line-height:115%;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family: &quot;Lucida Sans Unicode&quot;;color:#4D4D4D;mso-ansi-language:EN-US;mso-fareast-language: EN-US;mso-bidi-language:AR-SA'>Radar:</span></b><span style='font-size:10.0pt; line-height:115%;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;mso-fareast-font-family: Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family:&quot;Lucida Sans Unicode&quot;; color:#4D4D4D;mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language: AR-SA'> Provided by AccuWeather, Inc.. For more information on the predictive services AccuWeather provides see the ArcGIS </span><span style='font-size:11.0pt;line-height:115%;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;; mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font: minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;; mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language: EN-US;mso-bidi-language:AR-SA'><a href='http://marketplace.arcgis.com/search.html#q=accuweather' target='_blank'><span style='font-size:10.0pt;line-height:115%;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-theme-font:major-fareast; mso-bidi-font-family:&quot;Lucida Sans Unicode&quot;;color:#21759B'>Marketplace</span></a></span><span style='font-size:10.0pt;line-height:115%;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;; mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;mso-bidi-font-family: &quot;Lucida Sans Unicode&quot;;color:#4D4D4D;mso-ansi-language:EN-US;mso-fareast-language: EN-US;mso-bidi-language:AR-SA'>.</span></div>
				</div>
				
						
				<h3 class="leader divider">Layers</h3>
				<p>The map contains these layers.</p>
				<div id="map-contents">
				<!-- This comes from?? -->
				<ul>
					<li>Where does this come from?</li>
				</ul>
				</div>
				
				<h3 class="leader divider">Extent</h3>
				<div id="map-extent">
				<!-- This comes directly from the extent tag in the iteminfo.xml file -->
				<!-- xmin=left, xmax=right, ymin=bottom, ymax=top -->
				<p>Left: -127.7319, Right: -101.8481, Top: 42.2248, Bottom: 30.539</p>
				</div>
					
				<h3 class="leader divider">Credits</h3>
				<div id="map-credits">
				<!-- This comes from accessinformation value in the iteminfo file -->
				<p>USGS GeoMAC, NHSS, NOAA, NASA, Twitter, Flickr, Instagram, USFS.</p>
				</div>
				
				<h3 class="leader divider">Tags</h3>
				<div id="map-tags">
				<!-- This comes from tag values in the iteminfo file -->
				<div class="map-tags">
				<ul>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Wildfire">Wildfire</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Forest Fire">Forest Fire</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:PIM">PIM</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Disaster">Disaster</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Live Feeds">Live Feeds</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Risk">Risk</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:DRP">DRP</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:USGS">USGS</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:GeoMAC">GeoMAC</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:MODIS">MODIS</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:AccuWeather">AccuWeather</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Hot Spots">Hot Spots</a></li>
					<li><a href="http://www.arcgis.com/home/search.html?t=content&q=tags:Wildfire potential">Wildfire potential</a></li>
				</ul>

				</div>
				</div>
				
				</main>
				<aside class="column-8">	
					
				<!-- Constraints -->
				<div class="panel white">
					<a name="constraints"></a><h3>Access and use constraints</h3>
				
				<div id="use-constraints">
				<!-- This comes directly from the licenseinfo tag in the iteminfo.xml file -->
				<div><p style='margin-top:0in;mso-add-space:auto; line-height:normal;background:white'><span style='font-size: 10pt; font-family: Verdana, sans-serif;'>This map can be shared via Social Networks, email, and embedded in websites using the share button. </span></p><p> <span style='font-size: 10pt; line-height: 115%; font-family: Verdana, sans-serif;'>Attribution to the <a href='http://www.esri.com/services/disaster-response' target='_blank'><span style='color:#21759B'>Esri Disaster Response Program</span></a> would be appreciated.</span><br /></p><p><img src='http://downloads.esri.com/blogs/arcgisonline/esrilogo_new.png' style='line-height: 1.3846153846153846;' /><span style='line-height: 1.3846153846153846;'> </span><br /></p></div><div><span style='overflow: auto;'>This work is licensed under the Web Services and API Terms of Use. <br /> <a href='http://links.esri.com/e800-summary' target='_blank'><b>View Summary</b></a> | <a href='http://links.esri.com/agol_tou' target='_blank'><b>View Terms of Use</b></a> </span><div><span style='color: rgb(68, 68, 68); font-family: &quot;verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt;'></span></div><div><span style='color: rgb(68, 68, 68); font-family: &quot;verdana&quot;,&quot;sans-serif&quot;; font-size: 9pt;'>This map is provided for demonstration and informational purposes and is not monitored 24/7 for accuracy and currency.</span><span style='color: black;'></span></div></div><p><font size='3'><font color='#000000'><font face='Times New Roman'> </font></font></font></p>
				</div>
				</div>
				
				<p>&nbsp;</p>

					<!-- Blog Feed -->
					<div class="panel">
					<h3>Comments on this map</h3>
					  <div id="blog">
						<!-- blog goes here -->
					  </div>
					  <a class="btn light" href="https://www.arcgis.com/home/signin.html?returnUrl=http://www.arcgis.com/home/item.html?id=df8bcc10430f48878b01c96e907a1fc3">Add a comment</a>
					</div>
					
					
				</aside>

			</div>

		</div> 

	<script src="/js/gallery.comments.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://www.arcgis.com/sharing/rest/content/items/df8bcc10430f48878b01c96e907a1fc3/comments?f=rss',
        max: 5,
        layout: 1
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
