---
title: Guida di ArcGIS Open Data
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Open Data Help Home page."><META name="last-modified" content="2014-07-02"><META name="product" content="arcgis-open-data"><META name="sub_category" content="ArcGIS Open Data"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Open Data"><META name="search-category" content="help-general"><META name="subject_label" content="OPEN DATA, ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="OPEN DATA, ARCGIS ONLINE"><META name="content-language" content="it">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/open-data/">ArcGIS Open Data</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Open Data Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-open-data" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/it/open-data/">Principale</a></li>
        <li><a href="/it/open-data/consumer/">Per gli utenti</a></li>
        <li><a href="/it/open-data/provider/">Per i fornitori</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Che cos'è ArcGIS Open Data?</h2>

          <p>Open Data consente alle organizzazioni di utilizzare la piattaforma ArcGIS per aprire al pubblico l'accesso ai propri dati autorevoli. Ogni organizzazione può configurare un sito Web in modo che rispecchi l'immagine aziendale e quindi impostare gruppi Open Data per condividere elementi specifici. Il pubblico generale può utilizzare siti Open Data per eseguire ricerche in base all'argomento o alla posizione, scaricare dati in più formati, nonché visualizzare dati in una mappa interattiva e in una tabella.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/consumer.jpg" />

          <h3>Per gli utenti </h3>
          <p>Interagisci con i dati tramite grafici, tabelle e mappe per acquisire maggiori informazioni sulla tua community. Scopri, esplora e scarica dati oppure condividi un collegamento a un dataset di interesse.</p>
          <p>

			<a href="/it/open-data/consumer/" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
           </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/producer.jpg" />

          <h3>Per i fornitori</h3>
          <p>Configura un sito Web personalizzato e seleziona i dati autorevoli che desideri condividere. Consenti a chiunque di fare ricerche, visualizzare e scaricare i tuoi dati in più formati.</p>
          <p>
            <a href="/it/open-data/provider/" class="icon-right-arrow">&nbsp;Mostrami come funziona</a>
               <br/>
          </p>
        </div>

        <div class="clear"></div>

<br/>
<div>
	         <a name="features"></a>
        <h2 class="divider">Feature</h2>

        <p>Crea e condividi i tuoi dati tramite flussi di lavoro già noti per creare un sito Open Data.</p>
		<ul>
			<li>Abilita Open Data per la tua organizzazione e i tuoi gruppi.</li>
			<li>Crea siti personalizzati per i tuoi dati.</li>
			<li>Consenti l'uso della ricerca federata in più organizzazioni e gruppi.</li>
			<li>Offri supporto delle tabelle spaziali e non spaziali.</li>
			<li>Fornisci filtri interattivi per esplorare i dati.</li>
			<li>Condividi i collegamenti a visualizzazioni filtrate dei dataset.</li>

		</ul>
         <p>&nbsp;</p>
        <div class="clear"></div>
		<a name="dataRequirements"></a>
        <h2 class="divider">Requisiti per i dati</h2>
        <p>ArcGIS Open Data supporta al momento i dati di feature layer ospitati, feature service di ArcGIS Server, map service di ArcGIS Server, image service di ArcGIS Server, file CSV e tabelle ospitate. ArcGIS Open Data offre un supporto limitato di URL, mappe Web e altri documenti (come documenti di Word e PDF) esterni.</p>

        <p>&nbsp;</p>

         <a name="whatsNew"></a>
        <h2 class="divider">Novità</h2>
		<p>Open Data è stato aggiornato a luglio 2015 con le seguenti feature e funzionalità: </p>
		
		<ul>
			<li>Visualizzazioni delle densità come griglia per i dataset più grandi (GeoHash).</li>
			<li>Supporto dei metadati formali da ArcGIS Online.</li>
			<li>Accesso e registrazione di account ArcGIS Online.</li>
			<li>Commenti sui dataset da parte di utenti e amministratori.</li>
		</ul>

        <p>&nbsp;</p>
		
         <a name="SneakPeek"></a>
        <h2 class="divider">In anteprima</h2>
		<p>ArcGIS Open Data è stato rilasciato di recente e sono già in progetto delle novità per il futuro:</p>
		
		<ul>
			<li>Informazioni statistiche sui dati per tenere traccia del numero dei download e dei dettagli visualizzati.</li>
			<li>Maggiore controllo amministrativo sui dataset e sulla raccolta dei dati.</li>
			<li>Migliore esperienza d'uso per la ricerca e l'applicazione di filtri ai dataset.</li>
		</ul>
		        <p>&nbsp;</p>
		<p>Condividi le tue <a class="" href="http://ideas.arcgis.com">idee</a> sul futuro di ArcGIS Open Data!</p>
        <p>&nbsp;</p>
 
      </div>
</div>


      <div class="column-8 tablet-column-24 blocks">

	          <div class="imgFrame block">
	  <h3>Dettagli</h3>
	          
	  <h4><a href="#features">Funzionalità</a></h4>
	  <h4><a href="#dataRequirements">Requisiti per i dati</a></h4>
	  <h4><a href="#whatsNew">Novità</a></h4>
	  <h4><a href="#SneakPeek">In anteprima</a></h4>
	          
        </div>

        <br />
		
        <div class="greyFrame">
          <h3 class="icon-orange icon-light-bulb">Sito idee ArcGIS</h3>
         <p>Condividi le tue idee sul futuro di ArcGIS Open Data! Inviare un suggerimento o assegnare un voto alle idee esistenti.</p> <br/>
         <p>Fornitori in cerca di idee? Qui è possibile visualizzare le necessità degli utenti. È possibile invitare i partecipanti al sito a una collaborazione privata per lo sviluppo delle idee.</p></br>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>


