---
layout: marketplace/layout

title: ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init
  - sitecfg.js
  - marketplace/init.js

metatags:
  - <META name="description" content="ArcGIS Marketplace Help Home page."><META name="last-modified" content="2013-6-18"><META name="product" content="arcgis-marketplace"><META name="sub_category" content="ArcGIS Marketplace"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS Marketplace"><META name="search-category" content="help-general"><META name="subject_label" content="Marketplace, MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="Marketplace, MAPPING">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container">
    <header>
      <h1><a href="/pl/marketplace/">Pomoc</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Marketplace Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="marketplace" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header> <nav>
      <ul>
        <li class='current'><a href="/pl/marketplace/">Strona główna</a></li>
        <li><a href="/pl/marketplace/consumer/">Dla klientów</a></li>
        <li><a href="/pl/marketplace/provider/">Dla dostawców</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Czym jest serwis Marketplace?</h2>

          <p>Serwis ArcGIS Marketplace to miejsce, w którym instytucje serwisu ArcGIS Online otrzymują możliwość wyszukiwania, przeglądania i pozyskiwania aplikacji oraz zestawów danych od wykwalifikowanych dostawców (firma Esri i jej partnerzy biznesowi oraz dystrybutorzy) do wewnętrznych zastosowań. Aplikacje i usługi danych wyszczególnione w serwisie Marketplace mogą zostać udostępnione dowolnej instytucji serwisu ArcGIS Online w dowolnym zakątku świata.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/help-power-your-enterprise.jpg" />

          <h3>Nadaj odpowiedni rytm swojej organizacji </h3>
          <p>Znajdź aplikacje i usługi danych dla swojej instytucji. Zakupione aplikacje i usługi danych można łatwo udostępniać grupom oraz użytkownikom w instytucji.</p>
          <p>

			<a href="/pl/marketplace/consumer/purchase-workflow.htm class="icon-right-arrow">&nbsp;Pokaż, jak to zrobić</a> <br/> 
			<a href="/pl/marketplace/consumer/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/help-reach-your-users.jpg" />

          <h3>Dotrzyj do użytkowników</h3>
          <p>ArcGIS Marketplace oferuje mechanizmy dla potencjalnych klientów, oferowania bezpłatnych wersji próbnych, przyznawania dostępu do Twoich zestawień oraz zarządzania subskrypcjami. Jak to zrobić?</p>
          <p>
            <a href="/pl/marketplace/provider/build-apps.htm" class="icon-right-arrow">&nbsp;Pokaż, jak to zrobić</a> <br/> 
			<a href="/pl/marketplace/provider/become-a-provider.htm" class="icon-right-arrow">&nbsp;Jak zostać dostawcą</a> <br/> <a href="/pl/marketplace/provider/faq.htm" class="icon-right-arrow">&nbsp;FAQ</a>

          </p>
        </div>

        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">Witryna ArcGIS Ideas</h3>
         <p>Nie możesz znaleźć potrzebnych aplikacji lub danych? Zgłaszaj propozycje lub głosuj na istniejące pomysły.</p>
         <p>Jesteś dostawcą szukającym inspiracji? Sprawdź, czego szukają klienci. Zapraszaj pomysłodawców do prywatnej współpracy, aby rozwijać pomysły.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div>

    </div>

