---
title: ArcGIS for Wrokforce
layout: workforce
css:
  - homepage
  - /cdn/css/colorbox

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING">

mobile: true

---

<header class="panel panel-no-border panel-no-padding">
  <div class="grid-container">
    <div class="column-24 wf-nav">
        <div class="column-23 text-rule">
          <div class="column-15">
				<h1 class="sub-nav-title">Resources</h1>
			 </div>
			 
			 <div class="column-8 search-bar">
				 <form id="helpSearchForm" target="_top">
					<input type="search" name="q" class="leader" placeholder="Search Workforce">
					<input type="hidden" name="collection" value="help" />
					<input type="hidden" name="product" value="esri-maps-office" />
					<input type="hidden" name="language" value="<%= current_language %>" />
					<button class="search-submit icon-ui-search" type="submit"></button>
				 </form>
			 </div>
        </div>
        
      </div>
    </div>
</header>

<div class="panel panel panel-no-border panel-no-padding">
	<div class="grid-container">
	  <div class="column-24 leader-2">
		  <div class="column-16">
			 <p>Workforce for ArcGIS enables a common view in the field and the office. Get the right worker to the right place with the right tools to do the right job. Use the web app in the office to create and assign work to mobile workers, who use the mobile app to work through their personal To Do list.</p>
		  </div>
		  <div class="column-8 tablet-column-12 right">
			  <div class="panel panel-dark">
				<h4 class="text-white icon-ui-announcement">What's new</h4>
				<p class="text-white">Workforce released in July 2016. It includes a web app for project owners and dispatchers and an iOS app for mobile workers.</p>
			  </div>
		  </div>
	  </div>
   </div>
</div>

<div class="panel panel panel-no-border panel-no-padding">
	<div class="grid-container">
		<div class="column-24 leader-1">
		  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
			 <hr class="leader-half trailer-half">
				<ul class="list-plain sdk-home-nav-list">
				  <li><a href="./requirements.html">Requirements & Downloads</a></li>
				  <li><a href="./sneakPeek.html">Sneak Peek</a></li>
					<li>FAQs for <a href="/en/workforce/project-owner/faqs-project-owner.htm">Project owners</a> · <a href="/en/workforce/dispatcher/faqs-dispatcher.htm">Dispatchers</a> · <a href="/en/workforce/ipad/mobile-worker/faqs-mobile-worker.htm">Mobile workers</a></li>
				</ul>
			 <hr class="leader-half trailer-half">
		  </nav>
	  </div>
	</div>
</div>

<div class="panel panel panel-no-border panel-no-padding">
<div class="grid-container trailer-1">
  <div class="column-24">
    <div class="block-group block-group-3-up tablet-block-group-1-up">
      <div class="block leader-1">
        <div class="panel-white" panel-no-padding">
          <a href="/en/workforce/project-owner/"><img class="trailer-1" alt="" src="projectOwnerBlockImage.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Project owner</h3>
            <p>Create and configure Workforce projects, defining assignment types and user roles.</p>
            <p class="trailer-0"><a class="icon-ui-right icon-ui-small" href="/en/workforce/project-owner/">Learn more</a></p>
				<p><a class="icon-ui-right icon-ui-small" href="https://github.com/Esri/workforce-scripts">See scripts on GitHub</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel-white" panel-no-padding">
          <a href="/en/workforce/dispatcher/"><img class="trailer-1" alt="" src="dispatcherBlockImage.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Dispatcher</h3>
            <p>Dispatch work, creating assignments and sending them to mobile workers, while also tracking your workers.</p>
            <p class="trailer-0"><a class="icon-ui-right icon-ui-small" href="/en/workforce/dispatcher/">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="block leader-1">
        <div class="panel-white" panel-no-padding">
          <a href="/en/workforce/iphone/mobile-worker/"><img class="trailer-1" alt="" src="mobileWorkerBlockImage.jpg"></a>
          <div class="gutter-right-1 gutter-left-1 trailer-1">
            <h3 class="font-size-2">Mobile worker</h3>
            <p>Work through your To Do list on your mobile device, completing assignments and getting notified as new work comes in. Integration             with other Esri apps improves your efficiency, and dispatchers are updated in real-time.</p>
            <p class="trailer-0"><a class="icon-ui-right icon-ui-small" href="/en/workforce/iphone/mobile-worker/">Learn more</a></p>
				<p><a class="icon-ui-right icon-ui-small" href="https://github.com/Esri/workforce-scripts">See scripts on GitHub</a></p>
          </div>
        </div>
      </div>
		  
    </div>
  </div>
</div>
</div>

<div class="panel panel-dark panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half text-white">Firsts</h2>
		<div class="block-group block-group-4-up">
		  <div class="card block">
			 <figure class="card-image-wrap">
				<img class="card-image" src="img/1-create-project.png">
			 </figure>
			 <div class="card-content">
				<h4><a href="/en/workforce/project-owner/create-your-first-project.htm">Create your first project</a></h4>
				<p class="font-size--1 card-last">Project owners create workforce projects, defining assignment types and assigning users dispatcher and mobile worker roles.</p>
			 </div>
		  </div>
		  
		  <div class="card block">
			 <figure class="card-image-wrap">
				<img class="card-image" src="img/2-create-assignment.png">
			 </figure>
			 <div class="card-content">
				<h4><a href="/en/workforce/dispatcher/create-your-first-assignment.htm">Create your first assignment</a></h4>
				<p class="font-size--1 card-last">Before work can begin, dispatchers create assignments, prioritizing and categorizing the work at hand.</p>
			 </div>
		  </div>
		  
		  <div class="card block">
			 <figure class="card-image-wrap">
				<img class="card-image" src="img/3-assign-assignment.png">
			 </figure>
			 <div class="card-content">
				<h4><a href="/en/workforce/dispatcher/assign-your-first-assignment.htm">Assign your first assignment</a></h4>
				<p class="font-size--1 card-last">Dispatchers assign work to mobile workers, notifying them of their tasks and deadlines.</p>
			 </div>
		  </div>
		  
		  <div class="card block">
			 <figure class="card-image-wrap">
				<img class="card-image" src="img/4-complete-assignment.png">
			 </figure>
			 <div class="card-content">
				<h4><a href="/en/workforce/iphone/mobile-worker/complete-your-first-assignment.htm">Complete your first assignment</a></h4>
				<p class="font-size--1 card-last">Mobile workers use smartphones and tablets to keep track of the work they are assigned and report on tasks they are working on.</p>
			 </div>
		  </div>
		  
	   </div>
	 </div>
  </div>
</div>


<!-- Blog -->
<div class="panel panel panel-no-border panel-no-padding">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our Blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/workforce-for-arcgis/">More Blog posts <span class="icon-ui-link-external icon-ui-small"></span></a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/workforce-for-arcgis/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/workforce-for-arcgis">More discussions  <span class="icon-ui-small icon-ui-link-external"></span></a>
        <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/discussion/create.jspa?containerType=700&containerID=4364">Start discussion  <span class="icon-ui-small icon-ui-link-external"></span></a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="//geonet.esri.com/groups/feeds/allcontent?socialGroup=4364" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>


<div class="panel panel-dark planel-no-border panel-no-padding">
    <div class="grid-container padding-leader-1">
      <div class="column-24">

        <div class="block-group block-group-2-up tablet-block-group-2-up phone-block-group-1-up">
            <div class="block trailer-1">
                <h4 class="icon-ui-question icon-ui-red"><a href="http://support.esri.com/en/">Get technical support</a></h4>
					<p class="trailer-0">
					  Contact Support through chat, email, or telephone.
					</p>
            </div>
				<div class="block trailer-1">
                <h4 class="icon-ui-notice-triangle icon-ui-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h4>
					<p class="trailer-0">
					  See the status of ArcGIS Online and report issues.
					</p>
            </div>
        </div>
      </div>
    </div>
	</div>

<script src="/assets/js/rssfeed.js" type="text/javascript"></script>
