---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ko">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/ko/web-appbuilder/">홈</a></li>
        <li><a href="/ko/web-appbuilder/create-apps/">앱 생성</a></li>
        <li><a href="/ko/web-appbuilder/manage-apps/">앱 관리</a></li>
        <li><a href="/ko/web-appbuilder/extend-apps/">앱 확장</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">모든 기기에서 실행되는 강력한 GIS 앱을 생성합니다. 코딩은 필요하지 않습니다.</h3>
	<h5>다른 사용자들이 생성한 앱을 확인하려면 <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">실시간 사이트 쇼케이스</a>를 클릭하세요.</h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>단 5분 안에 첫 번째 앱 생성</h3>
          
          <p>
            <a href="/ko/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>편리한 구성</h3>
          <p>간단한 구성 빌더 환경에서 응용프로그램을 생성합니다.</p>
          <p>
            <a href="/ko/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;앱 구성</a>
            <a href="/ko/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;위젯 구성</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>템플릿 내보내기</h3>
          <p>내 기관 응용프로그램 갤러리에 추가되는 구성 설정 응용프로그램 템플릿을 생성합니다. 
          <p>
            <a href="/ko/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>위젯 및 테마 생성</h3>
          <p>웹 서버에 앱을 다운로드하고 호스팅할 수 있습니다. 또한 사용자 정의 위젯 및 테마를 추가하여 앱을 확장할 수 있습니다.</p>
          <p>
            <a href="/ko/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;방법 보기</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">지원되는 브라우저</h2>
		<p>2D 앱에서 지원되는 브라우저는 다음과 같습니다.</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 이상</li>
		  <li>Edge</li>
          <li>Internet Explorer 9 이상</li>
        </ul>
		<p>3D 앱에서 지원되는 브라우저는 다음과 같습니다.</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 이상</li>
		  <li>Edge</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">라이선스</h2>

        <p>Web Appbuilder를 사용하려면 ArcGIS 기관 계정이 있어야 합니다. </p>

        <a name="features"></a>
        <h2 class="divider">주요 기능</h2>
        <ul>
          <li>모든 기기에서 실행되는 HTML/JavaScript 앱을 생성합니다.</li>
          <li>즉시 사용 가능한 위젯을 사용하여 필요한 앱을 생성합니다.</li>
          <li>구성 설정 테마로 앱의 모양을 사용자 정의합니다.</li>
          <li>앱을 온라인에 호스팅하거나 서버에서 실행합니다.</li>
          <li>사용자 정의 앱 템플릿을 생성합니다.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">새로운 기능</h2>
        <p>Web AppBuilder for ArcGIS는 2016년 6월에 업데이트되었습니다. 이 버전에는 다음과 같은 새 기능과 개선 사항이 포함되어 있습니다.</p>
        <ul>
          <li>테마에 색상 선택기 스타일을 추가하여 자신의 색상을 선택하거나 내 에이전시의 승인된 색상 팔레트와 맞출 수 있습니다.</li>
		  <li>속성 탭에서 앱의 제목과 부제목에 대한 사용자 정의 글꼴을 설정할 수 있습니다.</li>
		  <li>속성 탭에서 ArcGIS Online 프리미엄 서비스와 프리미엄 콘텐츠를 구성할 수 있습니다.</li>
          <li>새 선택 위젯은 다른 위젯과 통신하여 선택된 피처에 대해 작업을 수행합니다.</li>
		  <li>새 공유 위젯은 앱의 소셜 공유 경험을 활성화합니다.</li>
		  <li>새 데이터 추가 위젯을 사용하면 최종 사용자가 ArcGIS Online의 레이어를 검색하고 URL을 입력하여 맵에 데이터를 추가할 수 있습니다.</li>
          <li>새 필터 위젯을 사용하면 식을 기반으로 피처를 필터링할 수 있습니다. 해당하는 경우 다른 위젯이 필터 설정을 적용합니다. </li>
		  <li>새 스마트 편집기 위젯은 스마트 속성, 필드 값 프리셋, 레코드 유효성 검사, 편집 중의 팝업 표시 등과 같은 핵심 편집 위젯을 확장합니다.</li>
          <li>새 사선 뷰어 위젯은 이미지의 좌표체계를 사용하여 네이티브 좌표체계로 이미지를 나타냅니다. 이 위젯을 사용하면 사선 모드, 단일 시야각 또는 입사각에서 이동하여 관심 영역을 다양한 각도에서 볼 수 있습니다.</li>
		  <li>그룹 필터라는 새 위젯을 사용하면 필터 값이 적용될 레이어 그룹을 생성할 수 있습니다. 정의된 그룹을 저장한 다음 언제든지 다시 불러와서 작업을 계속할 수 있습니다.</li>
          <li>정보 요약 위젯은 더 이상 베타 버전이 제공되지 않습니다. 이 위젯을 사용하면 지정된 각 레이어에 대해 현재 맵 범위에 포함되어 있는 피처 수를 제공하고 피처 목록을 볼 수 있습니다. 필요한 경우 위젯에서 구성된 포인트 레이어를 군집으로 볼 수 있습니다.</li>
		  <li>쿼리 위젯을 사용하면 교차, 중첩, 포함 등의 공간 관계를 추가할 수 있으므로 다른 레이어에 있는 피처에 대한 쿼리를 수행할 수 있습니다.</li>
		  <li>편집 위젯에는 톨러런스와 피처 템플릿 필터링에 대한 옵션이 포함되어 있습니다.</li>
		  <li>속성 테이블에서 레코드를 선택하면 맵에서 피처를 강조 표시하며 그 반대의 경우에도 적용됩니다. </li>
		  <li>지오프로세싱 위젯은 피처 모음을 레이어, 팝업, 쿼리 또는 선택 위젯의 입력으로 사용합니다.</li>
		  <li>레이어 목록 위젯을 사용하면 목록에 표시하려는 레이어를 선택할 수 있습니다. 모든 레이어의 가시성을 제어할 수도 있습니다.</li>
		  <li>맵에 버퍼를 나타내고, 버퍼된 폴리곤 대신 교차 폴리곤을 반환하고, 버퍼 대신 선택한 피처로 확대하는 기능을 포함하는 추가 구성 매개변수로 내 주변 위젯 기능이 개선되었습니다.</li>
		  <li>디스트릭트룩업 위젯은 누적된 폴리곤을 지원하도록 개선되었습니다.</li>
		  <li>릴레이트 테이블 차트 위젯은 극좌표형 차트를 지원하도록 개선되었습니다.</li>
		  <li>기존의 3DFx 위젯은 3D 애니메이션에 대한 추가 효과가 포함되도록 향상되었습니다.</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">ArcGIS API for JavaScript의 지원되는 버전</h2>
        <p>Web AppBuilder는 ArcGIS API for JavaScript 3.17을 지원합니다.</p>

        <h3>지원되는 언어</h3>
        <p> 아랍어, 크로아티아어, 체코어, 덴마크어, 네덜란드어, 영어, 에스토니아어, 핀란드어, 프랑스어, 독일어, 그리스어, 히브리어, 이탈리아어, 일본어, 한국어, 라트비아어, 리투아니아어, 노르웨이어, 폴란드어, 포르투갈어(브라질), 포르투갈어(포르투갈), 루마니아어, 러시아어, 세르비아어, 중국어(간체), 스페인어, 스웨덴어, 태국어, 중국어(번체, 대만), 중국어(번체, 홍콩), 터키어와 베트남어를 지원합니다.</p>
        <p>앱에서 사용되는 언어는 브라우저의 언어 설정에 따라 결정됩니다.</p>

        <p><a href="http://ideas.arcgis.com/">아이디어</a>를 공유하고 <a href="http://support.esri.com/en/">피드백을 보내 주세요</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>세부정보</h3>
          
          <h4><a href="#features">주요 기능</a></h4>
          <h4><a href="#supportedBrowsers">지원되는 브라우저</a></h4>
          <h4><a href="#license">라이선스</a></h4>
          <h4><a href="#whatIsNew">새로운 기능</a></h4>
          <h4><a href="#supportedAPI">ArcGIS API for JavaScript의 지원되는 버전</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Esri 블로그</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">추가 블로그 게시물</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>GeoNet에서 토론</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">시작</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">자세한 내용</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
