---
title: Справка ArcGIS Online
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Справка ArcGIS Online</h1>
        </div>
        <div class="leader-1 text-right">
          <p><a href="http://www.arcgis.com/features/free-trial.html"><button class="btn margin-left-1 btn-clear">Бесплатная пробная версия</button></a></p>
        </div>
      </div>
    </div>
    <div class="column-24">
      <select class="tablet-show select-full trailer-half js-select-nav">
        <option value="/en/arcgis-online/" selected>На главную</option>
        <option value="/en/arcgis-online/get-started/">Начало работы</option>
        <option value="/en/arcgis-online/create-maps/">Создание</option>
        <option value="/en/arcgis-online/analyze/">Анализ</option>
        <option value="/en/arcgis-online/share-maps/">Публикация</option>
        <option value="/en/arcgis-online/administer/">Администрирование</option>
        <option value="/en/arcgis-online/reference/">Ссылки</option>
        <option value="/en/arcgis-online/apps/arcgis-apps.htm">Приложения</option>
      </select>
      <nav class="sub-nav-list tablet-hide">
        <a class="sub-nav-link  is-active" title="Справка ArcGIS Online" href="/ru/arcgis-online/">На главную</a> 
	<a class="sub-nav-link" title="Начало работы с ArcGIS Online" href="/ru/arcgis-online/get-started/">Начало работы</a> 
	<a class="sub-nav-link" title="Создание карт, сцен и приложений" href="/ru/arcgis-online/create-maps/">Создание</a> 
	<a class="sub-nav-link" title="Выполнение анализа" href="/ru/arcgis-online/analyze/">Анализ</a> 
	<a class="sub-nav-link" title="Публикация карт, сцен и приложений" href="/ru/arcgis-online/share-maps/">Публикация</a> 
	<a class="sub-nav-link" title="Администрирование организации" href="/ru/arcgis-online/administer/">Администрирование</a> 
	<a class="sub-nav-link" title="Ссылки" href="/ru/arcgis-online/reference/">Ссылки</a> 
	<a class="sub-nav-link" title="Приложения для всех" href="/ru/arcgis-online/apps/arcgis-apps.htm">Приложения</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Создание карт с точностью до минуты</h1>
      <h5>  ArcGIS Online - полнофункциональная облачная географическая информационная система для всего мира.</h5>
      <h5>Начните использовать ArcGIS Online прямо сейчас. <a href="http://www.arcgis.com/features/free-trial.html" >Войдите, чтобы получить бесплатную пробную версию ArcGIS.</a></h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Поиск в Справке ArcGIS Online">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="product" value="arcgis-online" />
              <input type="hidden" name="language" value="ru" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><strong>Текущее обновление:</strong> Март 2017</li>
        <li><a href="/ru/arcgis-online/reference/whats-new.htm">Что нового</a></li>
        <li><a href="/ru/arcgis-online/reference/faq.htm">Часто задаваемые вопросы</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="panel panel-blue panel-no-border panel-no-padding leader-half">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Начало работы <a class="btn btn-transparent text-white btn-large right" href="/ru/arcgis-online/get-started/online-quick-exercises.htm">Больше упражнений</a>
      </h2>
      <div class="block-group block-group-6-up tablet-block-group-2-up leader-0 padding-leader-half trailer-half" style="clear:right;">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ru/arcgis-online/get-started/quick-exercise-maps.htm">
              <img alt="" src="img/create-a-map.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ru/arcgis-online/get-started/quick-exercise-maps.htm">Создание карты</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 минут</p>-
            <p class="trailer-0 text-off-black">Создание веб-карты в рамках изучения больниц в округе Кларк, штат Невада.</p>
          </div>
          <a href="/ru/arcgis-online/get-started/quick-exercise-maps.htm" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ru/arcgis-online/get-started/quick-exercise-apps.htm">
              <img alt="" src="img/create-an-app.jpg">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ru/arcgis-online/get-started/quick-exercise-apps.htm">Создание приложения</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">20 минут</p>
            <p class="trailer-0 text-off-black">Создание веб-приложения для доступа к вашему бизнес-сайту.</p>
          </div>
          <a href="/ru/arcgis-online/get-started/quick-exercise-apps.htm" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="/ru/arcgis-online/get-started/quick-exercise-analysis.htm">
              <img alt="" src="img/solve-spatial-problem.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="/ru/arcgis-online/get-started/quick-exercise-analysis.htm">Решение пространственных задач</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">25 минуты</p>
            <p class="trailer-0 text-off-black">Использование инструментов анализа для определения кемпингов, вокруг которых растёт инвазивная трава.</p>
          </div>
          <a href="/ru/arcgis-online/get-started/quick-exercise-analysis.htm" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">
              <img alt="" src="img/set-up-an-arcgis-organization.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/">Настройка организации ArcGIS</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">60 минут</p>
            <p class="trailer-0 text-off-black">Настройка веб-сайта для новой организации ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/set-up-an-arcgis-organization/" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">
              <img alt="" src="img/get-started-with-scene-viewer.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/">Использование 3D и вьюера сцены</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">80 минут</p>
            <p class="trailer-0 text-off-black">Создайте 3D-сцену, отображающую пляжи и бухты Флориды.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-the-scene-viewer/" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>

        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/">
              <img alt="" src="img/get-started-with-survey123.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/">Работа с опросами</a>
            </h5>
            <p class="font-size--2 text-light-gray trailer-half">95 минут</p>
            <p class="trailer-0 text-off-black">Профилактическое обследование и инвентарная оценка состояния средств первой помощи с использованием Survey 123 for ArcGIS.</p>
          </div>
          <a href="http://learn.arcgis.com/en/projects/get-started-with-survey123/" class="btn btn-clear btn-fill leader-0">Начать упражнение</a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="panel panel panel-no-border panel-no-padding leader-0">
  <div class="grid-container">
    <div class="column-24">
      <div class="row">
        <h2>&nbsp;</h2>
        <h2 class="text-center">Что можно делать с помощью ArcGIS Online?</h2>
      </div>
      <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up leader-1 trailer-1">
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-maps text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Создание карт</h3>
            <p class="trailer-half">
               Более подробно о роли карт для предоставления общего доступа к вашей ГИС другим пользователям.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ru/arcgis-online/get-started/get-started-with-maps.htm">Основы создания карт</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/share-maps/share-maps.htm">Общий доступ к картам</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/get-started/view-maps.htm">Просмотр карт во вьюере</a>
              </li>
              <li>
                <a href="//storymaps.arcgis.com/">Использование карт-историй для презентации информации</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/storymap/how-to-smart-map">Изучите возможности умной картографии за три шага</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-globe text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Работа с 3D-ГИС</h3>
            <p class="trailer-half">
               Визуализация информации в 3D позволяет увидеть новые перспективы. Используйте возможности 3D-ГИС для решения проблем, которые невозможно решить, используя двухмерные понятия.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ru/arcgis-online/get-started/get-started-with-scenes.htm">Основы создания сцен</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/get-started/view-scenes.htm">Просмотр сцен во вьюере сцен</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/livingatlas-3d">Доступ к готовым 3D-сценам из Living Atlas</a>
              </li>
              <li>
                <a href="/ru/drone2map/quick-start-exercises/3d-mapping.htm">Использование Drone2Map for ArcGIS для создания 3D-слоев</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-line-chart text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Выполнение анализа</h3>
            <p class="trailer-half">
                Собирайте информацию из множества слоев и применяйте разнообразные пространственные операции для решения целого ряда проблем. Изучайте и визуализируйте полученные результаты для глубокого исследования проблемы и принятия решений.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ru/arcgis-online/get-started/get-started-with-analysis.htm">Начало работы с анализом</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/analyze/perform-analysis.htm">Выполнение анализа с данными карт</a>
              </li>
              <li>
                <a href="//learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/"> Изучение бедных районов с большим количеством детей при помощи демографического анализа.</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/create-maps/change-style.htm#ESRI_SECTION1_195BD40347774AEDAEC373A7A0898A80">Поиск ответов на пространственные вопросы с помощью умной картографии</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-layers text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Доступ к слоям Living Atlas</h3>
            <p class="trailer-half">
Наполните вашу ГИС данными, полученными из Living Atlas of the World, тщательно отобранной мировой коллекциии карт, приложений и данных, созданных пользователями ArcGIS, предоставляемых Esri и его партнерами.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="http://links.esri.com/agol-help/living-atlas">Доступ к слоям Living Atlas</a>
              </li>
              <li>
                <a href="//links.esri.com/agol-help/livingatlas-storymap">Изучите Living Atlas через карты-истории</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/create-maps/add-layers.htm#ESRI_SECTION1_D7E2513964E9429E990C8753FB328592">Находите и добавляйте на карту слои Living Atlas</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/create-maps/add-layers-to-scene.htm#ESRI_SECTION1_8FC6CAC878CB41CD8F4B21F978D57135">Добавьте ресурсы Living Atlas к вашей сцене</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/get-started/quick-exercise-explore-data.htm">Используйте карту Living Atlas для поиска пространственных закономерностей</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-collection text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Управление данными</h3>
            <p class="trailer-half">
               Вдохните жизнь в ваши данные Делитесь вашими находками, публикуя слои и предоставляя другим пользователям доступ к ним для использования в картах и сценах. Разрешайте редактировать ваши слои, чтобы использовать преимущества совместной работы.
            </p>
            <ul class="bulleted trailer-0">
              <li>
                <a href="/ru/arcgis-online/share-maps/hosted-web-layers.htm">Публикуйте пространственные объекты, листы и многое другое в виде слоёв</a></li>
              <li>
                <a href="/ru/arcgis-online/create-maps/edit-features.htm">Редактирование объектов</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/create-maps/take-maps-offline.htm">Перевод карт в автономный режим</a>
              </li>
              <li>
                <a href="/ru/arcgis-online/reference/best-practices-layers.htm">Изучите рекомендации по использованию слоев на картах</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-share text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Публикация работы</h3>
            <p class="trailer-half">
               Делитесь своей географической информацией с другими пользователями. Выкладывайте ценную информацию посредством предоставления доступа к многочисленным приложениям и картам-историям.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/ru/arcgis-online/get-started/get-started-with-sharing.htm">Начальные сведения о предоставлении общего доступа</a></li>
              <li><a href="//storymaps.arcgis.com/en/">Используйте приложения для доступа к вашей истории</a></li>
              <li><a href="/ru/arcgis-online/reference/best-practices-share.htm">Изучите рекомендации по открытию общего доступа</a></li>
              <li><a href="/ru/arcgis-online/reference/ogc.htm">Для доступа к данным используйте открытые стандарты</a></li>
              <li><a href="http://opendata.arcgis.com/">Пользуйтесь Open Data for ArcGIS</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white trailer-0">
            <h2 class="icon-ui-applications text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Используйте приложения</h3>
            <p class="trailer-half">
               ArcGIS, интерфейс и инструменты которых идеально подходят вашим картам, сценам и данным. Множества приложений ArcGIS Online позволяют вашей организации эффективно выполнять свою работу.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="//www.esri.com/software/apps/field">Посмотрите приложения для полевых работ</a></li>
              <li><a href="//www.esri.com/software/apps/office">Посмотрите приложения для офиса</a></li>
              <li><a href="//www.esri.com/software/apps/community">Посмотрите приложения для сообществ</a></li>
              <li><a href="//www.esri.com/software/apps/builders">Стройте ваше собственное приложение</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-search text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Изучение элементов и управление ими</h3>
            <p class="trailer-half">
               ArcGIS Online открывает вам доступ к ГИС всего мира через множество карт, сцен, слоев, аналитики и приложений, распространяемых ГИС-сообществом, вашей организацией и вами. Эти элементы организованы в информационные галереи, помогающие вам быстро подбирать необходимые ресурсы для вашей работы.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/ru/arcgis-online/reference/geo-info.htm">Познакомьтесь с информационной моделью ArcGIS</a></li>
              <li><a href="/ru/arcgis-online/share-maps/add-items.htm">Добавляйте ваши элементы в ArcGIS Online</a></li>
              <li><a href="/ru/arcgis-online/get-started/get-started-with-groups.htm">Используйте группы для обмена информацией</a></li>
              <li><a href="//links.esri.com/agol-help/living-atlas">Ищите карты и многое другое в Living Atlas</a></li>
              <li><a href="/ru/arcgis-online/reference/search.htm">Изучайте элементы в ArcGIS Online</a></li>
            </ul>
          </div>
        </div>
        <div class="card block trailer-1">
          <div class="panel panel-no-border panel-white primary trailer-0">
            <h2 class="icon-ui-settings2 text-center trailer-half"></h2>
            <h3 class="text-center trailer-0">Администрирование вашей организации</h3>
            <p class="trailer-half">
               В ArcGIS Online есть всё, что нужно для администрирования вашей организации, от настройки пользовательских ролей, управления лицензиями и настройками безопасности до просмотра отчетов от пользователей.
            </p>
            <ul class="bulleted trailer-0">
              <li><a href="/ru/arcgis-online/administer/get-started-with-administration.htm">Ознакомление с работой по администрированию</a></li>
              <li><a href="//links.esri.com/agol-help/administering-platform">Рекомендации и ресурсы для администраторов</a></li>
              <li><a href="/ru/arcgis-online/reference/roles.htm">Узнайте все об уровнях ролях и правах доступа</a></li>
              <li><a href="/ru/arcgis-online/reference/credits.htm">Сервисные кредиты</a></li>
              <li><a href="/ru/trust/security/security-overview.htm">Познакомьтесь с настройками безопасности ArcGIS</a></li>
              <li><a href="https://github.com/Esri/ago-admin-wiki/wiki/Tools">Найдите дополнительные инструменты администрирования</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container leader-2 text-center">
  <div class="column-24 text-center trailer-2">
    <h2 class="text-center trailer-0">Возьмите от ArcGIS Online всё что можно</h2>
    <p class="leader-1 trailer-0">
      <ul class="list-plain sdk-home-nav-list text-center">
        <li><a href="https://developers.arcgis.com/" title="ArcGIS для разработчиков.">ArcGIS for Developers</a></li>
        <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
        <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
        <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
      </ul>
    </p>
  </div>
</div>

<!-- Collapsible contents -->
<!-- Videos -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Посмотрите наше видео <a class="btn btn-transparent text-white btn-large right" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IulSSoNHnpaprsxhbWPa3B">Больше видеороликов </a>
      </h2>
      <!--h3 class="leader-half trailer-0 padding-trailer-0">Watch our videos</h3>
      <a class="btn btn-transparent btn-large right padding-leader-0 padding-trailer-0 text-white" href="https://www.youtube.com/playlist?list=PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf">More videos</a-->
      <div style="clear:right;" playlistid="PLGZUzt4E4O2IJt1O_OTDFR-3dUpiCZGKf" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div>

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Подключение к ArcGIS Online</h4>
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/ArcGISOnline"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://esri.github.io/#Online"></a>
    <a aria-label="Connect on Facebook" class="icon-social-sdk-home icon-social-facebook tooltip tooltip-top" href="https://www.facebook.com/LivingAtlas"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="trailer-0">Прочитайте наш блог <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online">Другие посты блога </a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group phone-block-group-1-up block-group-3-up blogHpFeed">
        <!-- Blog Content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="trailer-0">Присоединяйтесь к диалогу <a class="btn btn-transparent btn-large right" href="//geonet.esri.com/community/gis/web-gis/arcgisonline">Другие дискуссии </a>
      </h2>
      <hr class="padding-trailer-1 trailer-0 leader-half" style="clear:right">
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="block-group phone-block-group-1-up block-group-3-up geonetFeed">
        <!-- Forum content goes here -->
      </div>
    </div>
  </div>
</div>

<!-- Books -->
<div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Погрузитесь в книгу <a class="btn btn-transparent text-white btn-large right" href="http://esripress.esri.com/">Больше книг</a>
      </h2>
      <div style="clear:right;" class="block-group block-group-3-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/arcgis-book">
              <img alt="" src="img/arcgis-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/arcgis-book">Учебник ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Изучайте и используйте веб-ГИС для создания и обмена географической информацией. Зайдите на веб-сайт, скачайте интерактивный PDF или купите печатное издание.</p>
          </div>
          <a href="http://links.esri.com/book/arcgis-book" class="btn btn-clear btn-fill leader-0">Читать сейчас</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/instructional-guide">
              <img alt="" src="img/instructional-guide.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/instructional-guide">Учебное руководство Мир ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Практические примеры, уроки, ресурсы и данные, относящиеся к ArcGIS Online и веб-ГИС. Доступна в печатном издании.</p>
          </div>
          <a href="http://links.esri.com/book/instructional-guide" class="btn btn-clear btn-fill leader-0">Приобрести сейчас</a>
        </div>
        <div class="card block leader-0">
          <figure class="card-image-wrap">
            <a href="http://links.esri.com/book/imagery">
              <img alt="" src="img/imagery-book.png">
            </a>
          </figure>
          <div class="card-content leader-0 padding-leader-half">
            <h5 class="trailer-0 leader-0">
              <a href="http://links.esri.com/book/imagery">Книга Изображения в ArcGIS</a>
            </h5>
            <p class="trailer-0 text-off-black">Узнайте, как спутниковые изображения и данные дистанционного зондирования модернизируют ГИС. Зайдите на веб-сайт, скачайте интерактивный PDF или купите печатное издание.</p>
          </div>
          <a href="http://links.esri.com/book/imagery" class="btn btn-clear btn-fill leader-0">Читать сейчас</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Learn links -->
<div class="panel panel-dark panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://links.esri.com/agol-help/learn/agol">Попробовать углубленные уроки</a></h5>
          <p class="trailer-0">
             Зайдите на сайт Learn ArcGIS, найдите и выполните упражнения, иллюстрирующие решения реальных проблем с помощью ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://www.esri.com/training/main/arcgis-online-training">Найдите учебные курсы</a></h5>
          <p class="trailer-0">
             Узнайте больше об ArcGIS, посетите курсы с преподавателем, интерактивные веб-курсы и семинары.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://support.esri.com/en/">Получите техническую поддержку</a></h5>
          <p class="trailer-0">
             Свяжитесь с технической поддержкой Esri через чат, по email или телефону.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-light-blue trailer-half"><a class="link-light-blue" href="http://doc.arcgis.com/en/trust/system-status/">Проверьте состояние системы</a></h5>
          <p class="trailer-0">
Просмотрите статус ArcGIS Online и сообщения об ошибках.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
