---
title: Справка ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/arcgis-online/">Справка</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Справка ArcGIS Online" href="/ru/arcgis-online/">Главная</a></li>
        <li><a title="Использование карт" href="/ru/arcgis-online/use-maps/">Использование</a></li>
        <li><a title="Создание карт и приложений" href="/ru/arcgis-online/create-maps/">Создание</a></li>		
        <li><a title="Общий доступ к картам и приложениям" href="/ru/arcgis-online/share-maps/">Общий доступ</a></li>
		<li><a title="Администрирование вашей организации" href="/ru/arcgis-online/administer/">Администрирование</a></li>
		<li><a href="/ru/arcgis-online/reference/">Основа</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Используйте и создавайте интерактивные карты и приложения и делитесь ими с другими участниками вашей организации. Узнайте, как это сделать.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Использование карт</h3>
         
 
         <p>Используйте карты для изучения, понимания и измерения географических данных.</p>

      
         <p><a href="/ru/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Просмотр данных</a>
		<br/>
         <a href="/ru/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;&nbsp;Выполнение анализа</a><br/>
         <a href="/ru/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Редактирование объектов</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Создание карт и приложений</h3>
          <p>Создавайте интерактивные карты и приложения, доступ к которым ваша организация может получить в любое время из любой точки мира и с любого устройства.</p>


            <p><a href="/ru/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Создание вашей первой карты</a>
			    <br/>

            <a href="/ru/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Создание вашего первого приложения</a><br/>
			<a href="/ru/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Задание свойств карты и слоя</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Общий доступ к картам и приложениям</h3>
          <p>Предоставьте доступ к вашим данным и приложениям в пределах вашей организации или сообщества.</p>

         <p><a href="/ru/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Добавление элементов</a>
         <br/><a href="/ru/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Общий доступ к элементам</a>
         <br/>
	<a href="/ru/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Публикация размещенных объектов и листов карт</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Администрируйте вашу организацию</h3>
          <p>Расширьте возможности ГИС, настроив ArcGIS Online для вашей организации, пригласив пользователей и управляя всеми ресурсами.</p>
          <p>
            <a href="/ru/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Настроить веб-сайт</a>
               <br/> <a href="/ru/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Приглашение участников</a>
               <br/>
            <a href="/ru/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Просмотр статистики организации</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Готовые к использованию приложения</h3>
         <p>Узнайте больше о приложениях, включенных в ArcGIS Online.</p>
		 <p>
		  <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;Приложение ArcGIS для смартфонов и планшетов</a><br/>
		 <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector for ArcGIS</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for Office</a><br/>
		 <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps for SharePoint</a> <br/>
		 <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer for ArcGIS</a><br/>
		  <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard for ArcGIS</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>API разработчика</h3>
          <p>Платформа ArcGIS включает API и SDK для создания приложений для вашей организации и сообщества в целом.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Начало работы</h3>
		  <p>Для изучения основ создания карт воспользуйтесь этими пятью уроками</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/ru/get-started/web/explore-a-web-map.htm">Изучение карты</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ru/get-started/web/create-a-new-map.htm">Создание карты</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ru/get-started/web/add-data-to-a-map.htm">Добавление слоя из файла CSV</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/configure-popups.htm">Настройка всплывающих окон</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/make-a-web-application.htm">Создание приложения.</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Об ArcGIS Online</h3>
         <ul>
		 <li><a href="/ru/arcgis-online/reference/what-is-agol.htm">&nbsp;Что такое ArcGIS Online?</a></li>
		 <li>
		 <a href="/ru/arcgis-online/reference/whats-new.htm" >&nbsp;Что нового</a>
		 </li>
		 <li><a href="/ru/arcgis-online/reference/faq.htm">&nbsp;Часто задаваемые вопросы</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Создание карты</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>Узнайте, как использовать встроенный вьюер карт для создания карт.</p>
        <a href="/ru/arcgis-online/reference/videos.htm" class="btn secondary">Другие видеоролики</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Из нашего Блога</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Другие сообщения в блоге</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>На нашем форуме</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Другие сообщения на форуме</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
