---
title: Informar de un problema de seguridad
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - securityForm

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/es/Trust/">Confiar en ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="Confianza de ArcGIS Online" href="/es/trust/">Confianza</a></li>
        <li><a title="Estado del sistema de ArcGIS Online" href="/es/trust/system-status/">Estado del sistema</a></li>
        <li><a title="Seguridad de ArcGIS Online" href="/es/trust/security/">Seguridad</a></li>
        <li><a title="Privacidad de ArcGIS Online" href="/es/trust/privacy/">Privacidad</a></li>
        <li><a title="Privacidad de ArcGIS Online" href="/es/trust/compliance/">Conformidad</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Page Content -->
<div class="container feedback">

  <div class="row main">
	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="">Informar de un problema de seguridad</h2>
      </header>
	  <section>
		<p data-langlabel="">Rellene el formulario de la derecha con toda la información necesaria e incluya suficientes detalles sobre su problema. Sus datos de contacto se utilizarán para realizar un seguimiento de la información proporcionada. Seleccione el asunto correspondiente en el menú desplegable Asunto.</p>
		<ul>
			<li data-langlabel="">Vulnerabilidad: informe de una vulnerabilidad encontrada en el sitio o en la aplicación.</li>
			<li data-langlabel="">Correo electrónico sospechoso de Esri: si cree que ha sido objeto de un posible ataque de suplantación de identidad desde una dirección de correo electrónico de Esri o si ha recibido de Esri alguna otra correspondencia sospechosa por correo electrónico.</li>
			<li data-langlabel="">Problema de privacidad: si tiene una duda de privacidad relacionada con nuestra aplicación o nuestra organización.</li>
			<li data-langlabel="">Otros: para los demás problemas de seguridad, privacidad o conformidad.</li>
		</ul>
		
<div style="padding-bottom:15px;">		

  </div>   
	  <hr style="padding-bottom:20px;"/>
	  	  <header>
		<h3 data-langlabel="">Política de notificación de vulnerabilidades</h3>
	  </header>
      
        <p data-langlabel="">El equipo de seguridad de ArcGIS.com reconoce el importante papel que los investigadores de seguridad independientes desempeñan en la seguridad en Internet. Alentamos una notificación responsable de las vulnerabilidades encontradas en nuestro sitio o en nuestra aplicación. Esri se compromete a trabajar con la comunidad de seguridad para verificar las posibles vulnerabilidades notificadas y responder a ellas. Esri no iniciará procesos legales ni investigaciones de orden público contra usted si sigue esta política.</p>
	  <header>
		<h4 data-langlabel="">ArcGIS.com <strong>no</strong> permite los siguientes tipos de investigaciones de seguridad</h4>
	  </header>
	  <ul>
			<li data-langlabel="">Provocar o intentar provocar una situación de denegación de servicio (DoS).</li>
		<li data-langlabel="">Usar herramientas de seguridad automáticas sin el consentimiento explícito de Esri. El uso de herramientas automáticas puede dar lugar a una investigación o provocar un bloqueo de sus direcciones IP.</li>
		<li data-langlabel="">Acceder o intentar acceder a datos o informaciones que no le pertenecen.</li>
		<li data-langlabel="">Destruir o dañar o intentar destruir o dañar datos o informaciones que no le pertenecen.</li>  
	  </ul>

	 <header>
	  <h4 data-langlabel="">Compromiso del equipo de seguridad de ArcGIS.com</h4>
	  </header>
		<p data-langlabel="">Con todos los investigadores de seguridad que respeten la Política de notificación de vulnerabilidades de ArcGIS.com, el equipo de seguridad de ArcGIS.com se compromete a lo siguiente:</p>
		
		<ul>
		<li data-langlabel="">Responder con rapidez y confirmar que se ha recibido su informe.</li>
		<li data-langlabel="">Proporcionar un plazo estimado para resolver la vulnerabilidad.</li>
		<li data-langlabel="">Enviar una notificación al autor del informe cuando se haya resuelto la vulnerabilidad.</li>		
		</ul>
		
		<div class="dropdown-navigation dropdown-wrapper regular">
      <span class="dropdown btn small light" data-langlabel="trust-researchers-title"> Participating Security Researchers</span>
      <div class="dropdown-content">
        <div class="dropdown-menu">
          <p data-langlabel="trust-researchers-desc">We would like to thank the following security researchers for participating in our responsible reporting program:</p>
          <%= partial :"_partial/security_names" %>
        </div>
      </div>
    </div>
	
	 </section>
	 
  </div> 

    <div class="contact-form-signup">
		
		<div id="form-fields">
		  <form id="securityConcernForm" name="securityConcernForm" method="post" action="/apps/feedback/api/">
						
			<fieldset id="security-form-fieldset">

			  <label data-langlabel="" for="name">Nombre: </label>
			  <input type="text" autocomplete="off" id="name" name="name">
			  <label data-langlabel="email-address" for="email-address">Dirección de correo electrónico: </label>
			  <input type="text" autocomplete="off" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Número de teléfono: </label>
			  <input type="text" autocomplete="off" id="userPhone" name="userPhone">
			  <label data-langlabel="" for="organization">Organización <span class="optional">(opcional):</span> </label>
			  <input type="text" autocomplete="off" id="organization" name="organization">
			  <label data-langlabel="" for="subject">Tema: </label>
			  <select id="subject" autocomplete="off" name="subject">
				  <option value="" style="display:none;"></option>
				  <option value="Vulnerability">Vulnerabilidad</option>
				  <option value="Suspicious E-mail from Esri">Correo electrónico sospechoso de Esri</option>
				  <option value="Privacy Issue">Problema de privacidad</option>
				  <option value="audi">Otros</option>
			  </select>

			  <label data-langlabel="" for="description">Descripción: </label>
			  <textarea autocomplete="off" data-langlabel="" placeholder="I encountered a possible security problem with ..." name="description" id="description"></textarea>
			  <label data-langlabel="feedback-spam-note" for="spam">Para ayudarnos a evitar el spam automático, introduce los números que se indican: </label>
			  <input type="text" autocomplete="off" value="" name="txtCaptchaInput" id="txtCaptchaInput">
			  <label data-langlabel="numerals" for="captchaValue">Números: <strong><span id="txtCaptcha" class=""></span></strong></label>

			  <input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			  <input type="hidden" value="interno" name="source" id="source">

			  <input value="verbose" name="resultType" id="resultType" type="hidden">
			  <input value="Problema de seguridad" name="datablock" id="datablock" type="hidden">
			  <input value="/js/formConfig.json" name="fname" id="fname" type="hidden">

			  <input type="hidden" value="es" name="lg">
			
			</fieldset>
			<a class="btn orange" name="submit-concern" id="submit" data-langlabel="contact-us">Enviar</a>
			
		  </form>
		</div>

	  <div id="submission-confirmation" style="display:none;">	
		<p data-langlabel=""><h4>Gracias por informar de este problema. Investigaremos y resolveremos el problema en los próximos días laborables.</h4></p>
	  </div>
	  <div id="submission-error" style="display:none;">	
		<p data-langlabel=""><h4>Se ha producido un error durante el envío. Vuelva a enviar el problema en unos minutos.</h4></p>
	  </div>

	  <strong>
			<span style="display:none;" id="referPageLink">Regrese a la <a id="feedback-referring-link" href="">página de referencia</a>.</span>
			<span style="display:none;" id="resubmit"><a id="resubmit" href="" target="_self">Enviar</a> otro problema de seguridad</span>
	  </strong>

    </div>

  </div> <!-- end of row main -->

<script>
$(document).ready(function() {

	$('#submit').on ("click", function() {
      return doc.securityConcernForm.validateForm();
    });
    doc.securityConcernForm.DrawCaptcha();
});
</script>

</div>

