---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2014-7-7"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="de"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/de/collector/">Home</a></li>
        <li><a href="/de/collector/android/create-maps/create-maps.htm">Erstellen von Karten</a></li>
        <li><a href="/de/collector/android/collect-data/collect-tutorial.htm">Erfassen von Daten</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Verwenden Sie Ihr Smartphone oder Tablet, um Informationen im Au&szlig;endienst mit oder ohne Internetverbindung zu erfassen und zu aktualisieren.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Erstellen und Freigeben von Karten</h3>
          <p>Erweitern Sie den Anwendungsbereich von ArcGIS auf den Au&szlig;endienst und verbessern Sie die Genauigkeit und Aktualit&auml;t Ihrer r&auml;umlichen Daten. F&uuml;hren Sie die Erstellung und Freigabe von Karten in zwei Schritten aus.</p>
          <p>
            <a href="/de/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Erfassen von Daten</h3>
          <p>Erstellen Sie die Daten, die f&uuml;r Ihre Organisation wichtig sind, aus Schadensmeldungen und Service-Anforderungen an Orte von historischem Interesse. F&uuml;gen Sie einfach Bilder und Videos hinzu, und geben Sie Ihre Arbeit frei.</p>
          <p>
            <a href="/de/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Sehen Sie dazu ein Video an</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Verwenden des Offline-Modus</h3>
          <p>Im Au&szlig;endienst ist an vielen Orten keine Datenverbindung verf&uuml;gbar. Verwenden Sie Ihre Karten und Daten offline, erfassen Sie Daten, und synchronisieren Sie sie, sobald die Verbindung wieder hergestellt wurde.</p>
          <p>
            <a href="/de/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Vorgehensweise</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Starthilfe mit Vorlagen</h3>
          <p>Ihre Branche verf&uuml;gt &uuml;ber eigene allgemeine Datasets. Laden Sie Vorlagen herunter, um die grundlegende Datenstruktur erstellen, die Sie ben&ouml;tigen, und passen Sie sie f&uuml;r Ihren jeweiligen Auftrag an.</p>
          <p>
            <a href="http://esri.maps.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Downloads anzeigen</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Features</h2>
	<p>Erfassen und aktualisieren Sie Daten vor Ort, protokollieren Sie Ihre aktuelle Position, und verwenden Sie die Daten, um fundierte und zeitnahe Entscheidungen zu treffen. 
	Verwenden Sie Karten zur &Uuml;berpr&uuml;fung Ihrer Daten vor Ort, beobachten Sie unterschiedliche Vorg&auml;nge und reagieren Sie auf Ereignisse. 
	Sie verbessern die Effizienz Ihres Au&szlig;endienstteams und die Genauigkeit Ihres GIS.</p>
	
	<ul>
	<li>Laden Sie Karten auf das Ger&auml;t herunter, und arbeiten Sie offline.</li>
	<li>Verwenden Sie GPS, um Kartendaten zu erstellen und zu aktualisieren.</li>
	<li>Erfassen Sie Punkt-, Linien- und Fl&auml;chen-Features.</li>
	<li>F&uuml;llen Sie benutzerfreundliche, kartengesteuerte Formulare aus.</li>
	<li>Suchen Sie Orte, und rufen Sie Wegbeschreibungen ab.</li>
	<li>Verfolgen und Erfassen Sie Gebiete, die Sie besucht haben.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Systemanforderungen</h2>

        <p>F&uuml;r die Ausf&uuml;hrung von Collector m&uuml;ssen die Ger&auml;te sowie die Daten, die in der Anwendung verwendet werden, bestimmte Anforderungen erf&uuml;llen. Collector wird in einer Vielzahl von Sprachen unterst&uuml;tzt.</p>


        <h3>Datenanforderungen</h3>
        <p>Um die Karten in Collector verwenden zu k&ouml;nnen, m&uuml;ssen Sie &uuml;ber ein ArcGIS-Organisationskonto verf&uuml;gen. Ihre Karten k&ouml;nnen Daten aus ArcGIS Online, Portal for ArcGIS und ArcGIS for Server enthalten.</p>


        <h3>Ger&auml;teanforderungen</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)oder h&ouml;her</li>
          <li>Armv7-Prozessor</li>
          <li>Unterst&uuml;tzung f&uuml;r OpenGL ES 2.0</li>
          <li>Unterst&uuml;tzung f&uuml;r exakte Ortung (GPS- und netzbasiert)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7 oder h&ouml;her</li>
          <li>iPhone, iPad, iPod Touch</li>
        </ul></td><tr></table>


        <h3>Unterst&uuml;tzte Sprachen</h3>
        <p>Arabisch, D&auml;nisch, Deutsch, Englisch, Estnisch (<span class="icon-android"/>), Finnisch, Franz&ouml;sisch, Hebr&auml;isch, Italienisch, Japanisch, Koreanisch, Lettisch (<span class="icon-android"/>), Litauisch (<span class="icon-android"/>), Niederl&auml;ndisch, Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rum&auml;nisch, Russisch, Schwedisch, Spanisch, Tschechisch, T&uuml;rkisch und Vereinfachtes Chinesisch.</p>
        <p>Die von der App verwendete Sprache wird durch die Spracheinstellung des Ger&auml;ts festgelegt.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Neuheiten</h2>
        <p>Collector for ArcGIS 10.2.4 wurde im Juli 2014 ver&ouml;ffentlicht. Es enth&auml;lt die folgenden Verbesserungen:</p>
        <ul>
        <li>Suchen nach Features auf der Karte</li>
        <li>Wechseln zwischen lokalen Grundkarten</li>
        <li>Verschiedene Bugfixes und Verbesserungen</li>
        <!--<li>Support for additional languages</li>-->
        <li>Behobene Probleme: NIM102088</li>
        </ul>
        <p>Unterst&uuml;tzung von Offline-Workflows in Collector ab M&auml;rz 2014 (Version 10.2.2).</p>

	<a name="sneakPeek"></a>
	<h2 class="divider">Vorschau</h2>
	<p>Heute ist Collector eine gro&szlig;artige Anwendung f&uuml;r die Erfassung und Bearbeitung von Daten im Au&szlig;endienst. Aber das war noch nicht alles!
	Die folgenden Funktionen sind f&uuml;r diese App geplant:</p>
	
	<ul>
	  <li>Weitere Werkzeuge f&uuml;r die Planung von Offline-Vorg&auml;ngen im Au&szlig;endienst</li>
	  <li>Intelligentere Datenerfassungsformulare (einschlie&szlig;lich zugeh&ouml;riger Tabellen)</li>
	  <li>Datenerfassung mit Versatz<li>
	  <li>Unterst&uuml;tzung der Adhoc-Erfassung</li>
	  <li>Integration von Peripherieger&auml;ten (Lasermessger&auml;te, Barcode-Scanner usw.)</li>
	</ul>	
	
	<p>Teilen Sie uns Ihre <a href="http://ideas.arcgis.com/">Ideen</a> mit, und <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">geben Sie uns Ihr Feedback</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">Systemanforderungen</a></h4>
	  <h4><a href="#whatsNew">Neuheiten</a></h4>
	  <h4><a href="#sneakPeek">Vorschau</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
