---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Startseite</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Erstellen von Karten</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Erfassen von Daten</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">App herunterladen</h2>
          <span id="appVersion"><strong>Version:</strong> 10.2</span> <span id="appReleased"><strong>Veröffentlicht:</strong> November 2013</span>


          <p>Erfassen und aktualisieren Sie Informationen vor Ort mit Ihrem Smartphone, protokollieren Sie Ihre aktuelle Position, und verwenden Sie die Daten, um fundierte und zeitnahe Entscheidungen zu treffen.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Systemanforderungen</a> <a id="appWhatsNew" href="#whatsNew">Neuheiten</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Erstellen und Freigeben einer Karte</h3>
          <p>Erweitern Sie den Anwendungsbereich von ArcGIS auf den Außendienst und verbessern Sie die Genauigkeit und Aktualität Ihrer räumlichen Daten. Führen Sie die Erstellung und Freigabe von Karten in zwei Schritten aus.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow"> Vorgehensweise</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Erfassen von Daten</h3>
          <p>Suchen von Orten von Interesse, Berechnen von Entfernungen, Erstellen von Service-Anforderungen und Erfassen von Schäden, sind nur einige der Funktionen, die eine Karte für Datenerfassung bereitstellt. Erstellen Sie in fünf Schritten intelligente Daten mit Bildern und Videos und geben Sie sie frei.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow"> Vorgehensweise</a><br />

			 <a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">Video ansehen</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Systemanforderungen</h2>

        <p>Für die Ausführung von Collector müssen die Geräte sowie die Daten, die in der Anwendung verwendet werden, bestimmte Anforderungen erfüllen. Collector wird in einer Vielzahl von Sprachen unterstützt.</p>


        <h3>Datenanforderungen</h3>
        <p>Um die Karten in Collector verwenden zu können, müssen Sie über ein ArcGIS-Organisationskonto verfügen. Ihre Karten können Daten aus ArcGIS Online, Portal for ArcGIS und ArcGIS for Server enthalten.</p>


        <h3>Geräteanforderungen</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich)<br/>oder höher</li>
          <li>Armv7-Prozessor</li>
          <li>Unterstützung für OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 oder höher</li>
        </ul></td><tr></table>


        <h3>Unterstützte Sprachen</h3>
        <p>Arabisch, Tschechisch, Dänisch, Niederländisch, Englisch, Estnisch (<span class="icon-android"/>), Finnisch, Französisch, Deutsch, Hebräisch, Italienisch, Japanisch, Koreanisch, Lettisch (<span class="icon-android"/>), Litauisch (<span class="icon-android"/>), Norwegisch, Polnisch, Portugiesisch (Brasilien), Portugiesisch (Portugal), Rumänisch, Russisch, Vereinfachtes Chinesisch, Spanisch und Schwedisch.</p>
        <p>Die von der App verwendete Sprache wird durch die Spracheinstellung des Smartphones festgelegt.</p>


        <a name="whatsNew"></a>
        <h2>Neuheiten</h2>
        <p>Collector for ArcGIS Version 10.2 wurde im November 2013 mit den folgenden Verbesserungen veröffentlicht:</p>
        <ul>
        <li>Verbesserte Benutzerfreundlichkeit</li>
        <li>Dedizierte Tablet- und iPad-Benutzerfreundlichkeit</li>
        <li>Unterstützung für die Erfassung von Linien und Polygonen</li>
        <li>GPS-Streaming</li>
        <li>Verbesserte Erfassungs-Workflows</li>
        <li>Verbesserungen des Tippverhaltens bei Karten</li>
        <li>Verschiedene Bugfixes und Verbesserungen</li>
        <li>Unterstützung für Enterprise-Anmeldenamen</li>
        <li>Unterstützung für zusätzliche Sprachen</li>
        <li>Behobene Probleme bei Android: NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Behobene Probleme bei iOS: NIM094438, NIM094401</li>
        </ul>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Erste Schritte</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Einführung</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Erstellen und Freigeben von Karten</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Erfassen von Daten</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Aus unserem Blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
