---
title: ArcGIS Online Help
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/arcgis-online/">ヘルプ</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online ヘルプ" href="/ja/arcgis-online/">メイン</a></li>
        <li><a title="マップの使用" href="/ja/arcgis-online/use-maps/">使用</a></li>
        <li><a title="マップとアプリケーションの作成" href="/ja/arcgis-online/create-maps/">作成</a></li>		
        <li><a title="マップとアプリケーションの共有" href="/ja/arcgis-online/share-maps/">共有</a></li>
		<li><a title="組織サイトの管理" href="/ja/arcgis-online/administer/">管理</a></li>
		<li><a href="/ja/arcgis-online/reference/">リファレンス</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">対話型マップとアプリケーションを作成および使用して、それらを組織サイトのユーザと共有します。方法の表示。</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>マップの使用</h3>
         
 
         <p>マップを使用して、地理データを探索、理解、計測できます。</p>

      
         <p><a href="/ja/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;データの表示</a> <br/> <a href="/ja/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;解析の実行</a><br/> <a href="/ja/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">フィーチャの編集</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>マップとアプリケーションの作成</h3>
          <p>組織が任意のデバイスで時間や場所を問わずアクセスできる対話型マップとアプリケーションを作成します。</p>


            <p><a href="/ja/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;はじめてのマップ作成</a> <br/>

            <a href="/ja/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">はじめてのアプリケーション作成</a><br/> <a href="/ja/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">マップとレイヤ プロパティの設定</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>マップとアプリケーションの共有</h3>
          <p>マップとアプリケーションを組織サイトまたはコミュニティで共有することで、データを活用できます。</p>

         <p><a href="/ja/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;アイテムの追加</a> <br/><a href="/ja/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">アイテムの共有</a> <br/> <a href="/ja/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">ホスト フィーチャおよびタイトルの公開</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>組織サイトの管理</h3>
          <p>組織サイトの ArcGIS Online を構成し、ユーザを招待し、リソースを管理して、GIS の使用範囲を拡大します。</p>
          <p>
            <a href="/ja/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Web サイトの構成</a> <br/> <a href="/ja/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">ユーザの招待</a> <br/> <a href="/ja/arcgis-online/administer/view-status.htm" class="icon-right-arrow">組織サイトの統計情報の表示</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>すぐに使用できるアプリケーション</h3>
         <p>屋外でのデータ収集、管理用ダッシュボード、Microsoft Office、および Sharepoint 用のすぐに使用できるアプリケーションを利用することができます。</p>
		 <p>
		 
		 <a href="http://www.arcgis.com/features/apps/index.html" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS アプリケーション</a>
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>開発者 API</h3>
          <p>ArcGIS プラットフォームには、組織およびコミュニティ全体向けのアプリケーションを構築するための API および SDK が含まれています。</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>基本操作</h3>
		  <p>ArcGIS プラットフォームの使用方法を学習できるチュートリアル</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/ja/get-started/web/">マップの使用</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ja/get-started/services/">データの共有</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/ja/get-started/organizations/">組織サイトの管理</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>ArcGIS Online について</h3>
         <ul>
		 <li><a href="/ja/arcgis-online/reference/what-is-agol.htm">&nbsp;ArcGIS Online とは</a></li>
		 <li>
		 <a href="/ja/arcgis-online/reference/whats-new.htm" >&nbsp;新機能</a>
		 </li>
		 <li><a href="/ja/arcgis-online/reference/faq.htm">&nbsp;よくあるご質問（FAQ）</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>マップの作成</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>マップ ビューアを使用したマップの作成方法について説明します。</p>
        <a href="/ja/arcgis-online/reference/videos.htm" class="btn secondary">その他のビデオ</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">その他のブログ記事</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>Esri フォーラム</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">その他のフォーラム記事</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
