---
title: ArcGIS Online ヘルプ
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ja">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/arcgis-online/">ArcGIS Online ヘルプ</a></h1>
      <!--Commented this part out. Search bar on Header-->
	  <!--<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online Help">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="en>" />
      </form>-->
    </header>
	<nav>
      <ul>
        <li class='current'><a title="ArcGIS Online ヘルプ" href="/ja/arcgis-online/">ホーム</a></li>
        <li><a title="マップとシーンの使用" href="/ja/arcgis-online/use-maps/">使用</a></li>
        <li><a title="マップ、シーン、およびアプリの作成" href="/ja/arcgis-online/create-maps/">作成</a></li>		
        <li><a title="マップ、シーン、およびアプリの共有" href="/ja/arcgis-online/share-maps/">共有</a></li>
		<li><a title="組織サイトの管理" href="/ja/arcgis-online/administer/">管理</a></li>
		<li><a title="参照" href="/ja/arcgis-online/reference/">参照</a></li>
		<li><a title="すべての人のためのアプリ" href="/ja/arcgis-online/apps/arcgis-apps.htm">アプリ</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24" style="width: 66.666%;">

<div class="agol-search-box">
         <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
                
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">  
        <input type="hidden" value="ja" name="language">
      </form>  
        
      </div>
        <!--<input type="search" name="q" class="leader" placeholder="Search Help">
        <input type="hidden" name="collection" value="help">
        <input type="hidden" name="product" value="arcgis-online">          
        <input type="hidden" name="language" value="ja">
      </form>-->

                
	<hr>
<!--What's new information-->
	<a name="WhatsNew"></a>
	<h2>&nbsp;新しい機能 </h2>
		<p>2016 年 3 月のアップデートでは、3D Web アプリが導入されました。また、スマート マッピング、組織サイトの管理、およびアプリに関する機能強化も含まれています。<a href="/ja/arcgis-online/reference/whats-new.htm" class="">詳細を見る</a></p>
		<ul>
		     <li><a href="/ja/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_ABE7B08B9DD94D3AAD71B2A1A327B21C" class="">3D Web アプリ</a> - シーンに基づいた 3D Web アプリを作成します。</li>
		     <li><a href="/ja/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_511E424D3FC74BC0A8E7663C5B04CCA4" class="">スマート マッピング</a> - データの視覚化を実現するための新しいオプションが追加されました。</li>
		     <li><a href="/ja/arcgis-online/reference/whats-new.htm#ESRI_SECTION1_76123A29A4EE4FEE918D7644FF3EAB90" class="">組織サイトの管理</a> - サイトの設定をより詳細に制御できます。</li>
		</ul>
		
	<hr>
<!-- Videos -->
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		<img src="img/perform-analysis.jpg" title="マップとシーンの使用">
		<!--<video width="320" height="240" class="mobileVideo" id="247" controls="">
		<source src="http://video.esri.com/watch/3625/what-is-arcgis_question_"></source>
		</video>-->
	</section>
    
  </div> 
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
		 <img src="img/create-maps-apps.jpg" title="マップ、シーン、およびアプリの作成">
    </section>
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
     <section class="support-option">
      <img src="img/share-maps-apps.jpg" title="アイテムの共有">
   </section>
    
  </div>
  
  <div class="clear"></div>

  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/ja/arcgis-online/use-maps/use-maps.htm" class="">マップとシーンの使用</a></h3>
    </section>
  </div> 
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a href="/ja/arcgis-online/create-maps/create-maps-and-apps.htm" class="">マップ、シーン、およびアプリの作成</a></h3>
    </section>  
  </div>
  
  <div class="column-8">
  <!--<div class="row">-->
   <h3><a href="/ja/arcgis-online/share-maps/share-maps-apps.htm" class="">アイテムの共有</a></h3>
  </div>
  <div class="clear"></div>  
   
  <br>
  
  <div class="clear"></div>
<br>
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/perform-analysis.png" title="解析の実行">
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/publish-hosted-web-layers.png" title="ホスト Web レイヤーの公開">
    </section>
    
  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <img src="img/admin-org.jpg" title="組織サイトの管理">
    </section>
  </div>
  <div class="clear"></div>
  
<div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ja/arcgis-online/use-maps/perform-analysis.htm">解析の実行</a></h3>
     
    </section>

  </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ja/arcgis-online/share-maps/hosted-web-layers.htm">ホスト Web レイヤーの公開</a></h3>
      
    </section>
    </div>
  <div class="column-8">
  <!--<div class="row">-->
    <section class="support-option">
      <h3><a class="" href="/ja/arcgis-online/administer/admin-org.htm">組織サイトの管理</a></h3>
      
    </section>
 </div>
   <div class="clear"></div>
<hr>
<br/>

  <div>
    
<div class="column-8 phone-column-24">

    <section class="support-option">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/" target="_blank">Esri テクニカル サポート</a></h4>
      <p>チャット、電子メール、または電話でサポートに問い合わせます。</p>
    </section>
    
  </div> 
  <div class="column-8 phone-column-24" style="width: 33.333%;">

    <section class="support-option">
      <h4 class="icon-light-bulb icon-orange"><a href="http://ideas.arcgis.com/" target="_blank">ArcGIS Ideas</a></h4>
      <p>ソフトウェアのフィードバックを送信します。</p>
    </section>
    
  </div>
  <div class="column-8 phone-column-24" style="width: 33.333%;">

   <h4 class="icon-comment icon-blue"><a href="http://GeoNet.esri.com/" target="_blank">ArcGIS フォーラム</a></h4>
      <p>GeoNet での議論に参加します。</p>
    
  </div>
  <!--<div class="row">-->

  
</div>
</div>


 <div class="column-8 tablet-column-24 blocks">
	 <div class="imgFrame block">
          <h3>ArcGIS Online を初めてお使いの場合</h3>

			<p><a class="btn secondary" href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">レッスンの検索</a></p>
			<a title="ArcGIS Online の概要" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge"><img src="img/playbtn-small.png">ビデオを見る</a><br/><br/>
			<a href="http://www.esri.com/training/main/arcgis-online-training"><img src="img/training.png">トレーニング コースの検索</a>
      </div>	
		 <br />
		 <br />
		 
	 <div class="greyFrame">
          <h3>クイック リファレンス</h3>
         <ul>   <li><a href="/ja/arcgis-online/reference/troubleshoot-account.htm">&nbsp;サイン インに関するトラブルシューティング</a></li>
		<!--<li><a href="/ja/arcgis-online/reference/whats-new.htm" >&nbsp;What's new</a></li>-->
		<li><a href="/ja/arcgis-online/reference/faq.htm">&nbsp;よくあるご質問 (FAQ)</a></li>
		<li><a href="/ja/trust/system-status/">&nbsp;システム ステータス</a></li>
		<li><a href="/ja/living-atlas/about/">&nbsp;ArcGIS Online からの管理コンテンツ</a></li>
        </ul>
		</div>
		
		<br />
		<br />

<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>ブログ</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">その他のブログ記事</a>
        </div>
		 <br />  
        
		 <br />  
 </div>

<div>

</div>

	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"https://geonet.esri.com/community/gis/arcgis-online/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=2188&containerType=14&containerID=2055&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
			max: 3,        
			layout: 1
		  });

    });
	 
	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
