---
title: ArcGIS Online ヘルプ
css:
  - stat-page-specific
  - colorbox/colorbox
  - agolstart

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2014-07-09"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="ja">

mobile: true


---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ja/arcgis-online/">ArcGIS Online ヘルプ</a></h1>
    </header>
    <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online ヘルプ" href="/ja/arcgis-online/">ホーム</a></li>
        <li><a title="マップとシーンの使用" href="/ja/arcgis-online/use-maps/">使用</a></li>
        <li><a title="マップ、シーン、およびアプリの作成" href="/ja/arcgis-online/create-maps/">作成</a></li>
        <li><a title="マップ、シーン、およびアプリの共有" href="/ja/arcgis-online/share-maps/">共有</a></li>
        <li><a title="組織サイトの管理" href="/ja/arcgis-online/administer/">管理</a></li>
        <li><a title="参照" href="/ja/arcgis-online/reference/">参照</a></li>
        <li><a title="すべての人のためのアプリ" href="/ja/arcgis-online/apps/arcgis-apps.htm">アプリ</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="agol-search-box">
        <form target="_top" id="helpSearchForm" class="agolhomesearchForm">
        <input type="search" placeholder="Search ArcGIS Online Help" class="leader" name="q">
        <input type="hidden" value="help" name="collection">
        <input type="hidden" value="arcgis-online" name="product">
        <input type="hidden" value="ja" name="language">
      </form>
    </div>
    <div class="column-14 post-2 get-started">
      <!--<h2>Get started</h2>-->
	  <p>
		マップ、アプリ、分析、管理、共同作業、これらはすべて ArcGIS Online で操作できます。</p>
	
	<p> ArcGIS を初めてお使いの方 まずは、初めてのマップ、シーン、アプリ、グループを作成してみましょう。もっと詳しい内容を理解したくなったら、レッスンをお試しいただくか、一般的なトピックを検索できます。組織サイトの<a href="/ja/arcgis-online/administer/admin-org.htm">管理者</a>ですか？ カスタム ロール、セキュリティ設定、および柔軟な構成を利用する方法を学習します。
	</p> 
	<p>Esri の<a href="#blog">ブログ</a>や<a href="#community">コミュニティ</a>で最新のニュースをチェックしてください。
		</p> 
	
      <!--<p>
        Are you an ? Learn how to use custom roles, security settings, and flexible configurations that make sense for your organization.-->
      </p>
      <!-- <h2>Make your first</h2>
      <h4 class="icon-right-arrow"><a href="/ja/arcgis-online/create-maps/make-your-first-map.htm">Map</a></h4>
      <h4 class="icon-right-arrow"><a href="/ja/arcgis-online/create-maps/make-your-first-scene.htm">Scene</a></h4>
      <h4 class="icon-right-arrow"><a href="/ja/arcgis-online/create-maps/make-your-first-app.htm">App</a></h4>
      <h4 class="icon-right-arrow"><a href="/ja/arcgis-online/share-maps/make-your-first-group.htm">Group</a></h4> -->
    </div>
    <div class="column-8">
      <div class="panel dark">
        <h3 class="icon-announcement">新しい機能</h3>
        <p>2016 年 6 月の更新では、アイテム ページの機能強化、時間を表示するための新規オプション、3D メッシュ レイヤーのサポートなどが追加されています。
        </p>
			<!--<a href="/ja/arcgis-online/reference/whats-new.htm" class="btn light">Learn more</a>-->
			<a href="/ja/arcgis-online/reference/whats-new.htm" class="btn secondary">詳細</a>
      </div>

    </div>
    <div class="column-24">
      <h2>初めての</h2>
      <div class="make-first">
        <a href="/ja/arcgis-online/create-maps/make-your-first-map.htm"><h2 class="icon-map-trail">マップ</h2></a>
        <a href="/ja/arcgis-online/create-maps/make-your-first-scene.htm"><h2 class="icon-geo">シーン</h2></a>
        <a href="/ja/arcgis-online/create-maps/make-your-first-app.htm"><h2 class="icon-window-cursor">アプリ</h2></a>
        <a href="/ja/arcgis-online/share-maps/make-your-first-group.htm"><h2 class="icon-community">グループ</h2></a>
      </div>
    </div>
	<hr>
    <div class="column-24">
      <hr>
      <ul class="horizontal">
        <li><h4>一般的なトピックを見る:</h4></li>
        <li><a href="/ja/arcgis-online/reference/faq.htm">よくあるご質問 (FAQ)</a></li>
		<li><a href="/ja/arcgis-online/share-maps/add-items.htm">アイテムの追加</a></li>
        <li><a href="/ja/arcgis-online/use-maps/perform-analysis.htm">解析の実行</a></li>
		<li><a href="/ja/arcgis-online/share-maps/publish-features.htm">フィーチャの公開</a></li>
		<li><a href="/ja/arcgis-online/administer/view-status.htm">ステータスの表示</a></li>
      </ul>
      <hr>
    </div>
    <div class="column-24 trailer leader">
      <h2>レッスンを試す
	  <small><a href="http://learn.arcgis.com/en/gallery/" class="font-size-0 right">その他のレッスン<span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>
      <div class="column-6">
        <div class="card clear">
          <img src="img/get-started-with-arcgis-online.png" alt="Get started with ArcGIS Online" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/get-started-with-arcgis-online/">はじめての ArcGIS Online</a></h3>
          <p>
 マップをオンラインに公開する基本について学習します。
			</p>
   		<!--  <p>
		  <a title="ArcGIS Online Overview" href="http://video.arcgis.com/iframe/916/000000/width/960/0/00:00:00" class="colorbox-evlarge cboxElement"> Watch a video</a>
		  </p>-->
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/fight-child-poverty-with-demographic-analysis.png" alt="Fight child poverty with demographic analysis" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/fight-child-poverty-with-demographic-analysis/">人口学的分析とスマート マッピング</a></h3>
          <p>
            人口学的分析、スマート マッピング、および Web アプリを使用して、貧困状態にある子どもたちを捜し出します。
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/restaurant-report-cards-final-map.png" alt="Plan routes for food inspectors" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/plan-routes-for-food-inspectors/">ルートの計画</a></h3>
          <p>
 4 名の防疫官による、サンディエゴ郡内の 36 軒のレストラン調査を支援します。
          </p>
        </div>
      </div>
      <div class="column-6">
        <div class="card clear">
          <img src="img/live-above-shop-below.png" alt="Evaluate locations for mixed use development" />
          <h3 class="no-trailer"><a href="http://learn.arcgis.com/en/projects/evaluate-locations-for-mixed-use-development/">空間解析</a></h3>
          <p>
 多目的に利用可能な住宅の新規開発に最適なエリアを見つけます。
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<!--Blog feed-->
<div class="full-bkg off-white">
  <div class="container">
    <div class="column-24 trailer leader">
    <h2> Esri のブログを読む
		<small><a id="blog" href="https://blogs.esri.com/esri/arcgis/category/arcgis-online " class="font-size-0 right">その他のブログ記事<span class="icon-external-link">&nbsp;</span></a></small>
	</h2>
	<div data-blog-feed-url="https://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/" class="block-group block-group-3-up blogHpFeed">
		<!-- Blog Content goes here -->
	 </div>

    </div>
  </div>
</div>

<div class="full-bkg white">
  <div class="container">
    <div class="column-24 trailer leader">
      <h2 class="divider">会話に参加する
		<small><a id="community" href="https://geonet.esri.com/community/gis/web-gis/arcgisonline" class="font-size-0 right">その他のディスカッション<span class="icon-external-link">&nbsp;</span></a></small>
	  </h2>

	   <div data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2106" class="flexible-block-group flexible-block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
		</div>

    </div>
  </div>
</div>

<div class="full-bkg dark">
  <div class="container">
    <div class="column-6">
      <h4 class="icon-book icon-green"><a href="http://www.esri.com/training/main/arcgis-online-training">トレーニング コースの検索</a></h4>
      <p class="no-trailer">
        さらに詳しい内容を学習するために、Esri トレーニング コースを検索します。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-play icon-gray"><a href="https://www.youtube.com/channel/UCgGDPs8cte-VLJbgpaK4GPw">ビデオを見る</a></h4>
      <p class="no-trailer">
        ArcGIS Online について一連のビデオを視聴します。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-help icon-red"><a href="http://support.esri.com/en/">Esri テクニカル サポート</a></h4>
      <p class="no-trailer">
        チャット、電子メール、または電話でサポートに問い合わせます。
      </p>
    </div>
    <div class="column-6">
      <h4 class="icon-alert icon-blue"><a href="http://doc.arcgis.com/en/trust/system-status/">システム状態のチェック</a></h4>
      <p class="no-trailer">
        ArcGIS Online のステータスを確認して、問題を報告します。
      </p>
    </div>

  </div>
</div>


	<script src="/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">

	 if(window.location.pathname.match( /(\/arcgis-online\/)/)){
		$("#help-nav").attr("class", "active");
	 }


  </script>
