---
title: Navigator for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed
  - switchers/navigator-1

metatags:
  - <META name="description" content="Navigator for ArcGIS Home page."><META name="last-modified" content="2017-01-11"><META name="product" content="navigator-iphone,navigator-ipad,navigator-android-tablet,navigator-android-phone"><META name="sub_category" content="Navigator for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Navigator for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><META name="msApplication-TileImage" content="/img/app-tile/navigator.jpg">
mobile: true

---
<!--
This is a tamplate for a simple homepage.  Please search for and replace the following:
  CARD_IMAGE_x.png: Images for the cards.  These images should be at least 439px wide if using 4 or more cards, 461px wide if using 3 cards, or 704px wide if using 1 card.
  MORE_VIDEOS_LINK: Page to link to for more videos.
  YOUTUBE_PLAYLIST_ID: The ID for the playlist on Youtube
  TWITTER_LINK: Link to the product's Twitter page
  LINKEDIN_LINK: Link to the product's LinkedIn page
  GITHUB_LINK: Link to the product's GitHub page
  FACEBOOK_LINK: Link to the product's Facebook page
Please search for INSTRUCTIONS within the file for element specific instructions.
-->
<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Navigator for ArcGIS</h1>
        </div>
        <div class="leader-1 text-right">
          <a class="btn margin-left-1 btn-clear" href="https://marketplace.arcgis.com/signin.html?returnUrl=purchase.html%3Fid%3Db2d9a4dd70174fac8986dd2bf15a477a%26trial%3Dtrue">60-day Free Trial</a>
        </div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/en/navigator/">Home</a>
        <a class="sub-nav-link" href="/en/navigator/overview/overview.htm">Overview</a>
        <a class="sub-nav-link" href="/en/navigator/prepare-maps/prepare-maps.htm">Prepare maps</a>
        <a class="sub-nav-link" href="/en/navigator/ipad/navigate/guided-tour.htm">Navigate</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2 text-center">
  <div class="column-24">
    <div class="column-3">&nbsp;</div>
    <div class="column-18 text-center center trailer-1">
      <h1>Get Where You Need to Be</h1>
      <h5>Use the data provided, your own custom data, or both, to search and navigate directly to your organization's assets, unlocking efficiency and improving your field workforce's reliability.</h5>
    </div>
  </div>
  <div class="column-24">
    <div class="column-4">&nbsp;</div>
    <div class="column-16 center trailer-1">
      <div container="" class="panel">
        <div class="wf-nav" style="height:55px;">
          <div class="wf-nav search-bar column-16 trailer-0 leader-0 padding-right-3 padding-left-1">
            <form id="helpSearchForm" class="input-group" target="_top">
              <input type="search" name="q" class="leader input-group-input" placeholder="Search Navigator Help">
              <input type="hidden" name="collection" value="help" />
              <input type="hidden" name="platform" value="detect" />
              <input type="hidden" name="product" value="navigator-ipad" />
              <input type="hidden" name="language" value="<%= current_language %>" />
              <span class="input-group-button">
                <button class="icon-ui-search icon-ui-flush" type="submit"></button>
              </span>
            </form>
          </div>
        </div>
      </div>
      <!-- download badges -->
      <p class="trailer-0 leader-half font-size--2">
        <a href="https://itunes.apple.com/us/app/navigator-for-arcgis/id980973560"><img src="img/ios-app.png" alt="Download on the App Store" style="margin:10px; vertical-align:middle"/></a>
        <a href="https://play.google.com/store/apps/details?id=com.esri.navigator&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="height:58px; margin:10px; vertical-align:middle"/></a>
        
      </p>
    </div>

    <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
      <hr class="leader-0 trailer-half">
      <ul class="list-plain sdk-home-nav-list text-center">
        <!--li><strong>Current update:</strong> December 2016</li-->
        <li><a href="/en/navigator/overview/whats-new.htm">What's new</a></li>
	<li><a href="/en/navigator/overview/requirements.htm">Requirements</a></li>
	<li><a href="/en/navigator/prepare-maps/faqs-author.htm">FAQs for preparing maps</a></li>
	<li><a href="/en/navigator/ipad/navigate/faqs.htm">FAQs for navigating</a></li>
      </ul>
      <hr class="leader-half trailer-half">
    </nav>
  </div>
</div>

<div class="grid-container leader-1">
  <div class="column-24">
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/navigator/ipad/navigate/guided-tour.htm">
            <img alt="" src="img/guidedTour.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/navigator/ipad/navigate/guided-tour.htm">Guided tour</a>
          </h5>
          <p>Follow along and try out Navigator&mdash;download maps relevant to you, create a route, reorder your stops, configure travel modes, and route to your destination.</p>
        </div>
        <nav>
          <a href="/en/navigator/ipad/navigate/guided-tour.htm" class="btn btn-grouped btn-clear btn-half leader-0">Do it</a>
          <a href="http://video.arcgis.com/iframe/4633/000000/width/960/1" class="btn btn-grouped btn-clear btn-half leader-0">Watch it</a>
        </nav>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/navigator/prepare-maps/prepare-maps.htm">
            <img alt="" src="img/yourData.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/navigator/prepare-maps/prepare-maps.htm">Use your data</a>
          </h5>
          <p>Create navigation maps with your own data&mdash;search your assets, route on your roads, and view your layers.</p>
        </div>
        <a href="/en/navigator/prepare-maps/prepare-maps.htm" class="btn btn-clear btn-fill leader-0">Start the exercise</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/en/navigator/ipad/navigate/esri-app-integration.htm">
            <img alt="" src="img/collectData.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/en/navigator/ipad/navigate/esri-app-integration.htm">Integrate with Collector</a>
          </h5>
          <p>Easily connect with other Esri apps such as Collector for ArcGIS to navigate to work sites while in the field.</p>
        </div>
        <a href="/en/navigator/ipad/navigate/esri-app-integration.htm" class="btn btn-clear btn-fill leader-0">Learn how</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="https://github.com/Esri/navigator-integration">
            <img alt="" src="img/sendStops.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="https://github.com/Esri/navigator-integration">Send stops to Navigator</a>
          </h5>
          <p>Use the custom URL scheme so your users can start Navigator from your app, website, or email, and navigate based on parameters you've provided.</p>
        </div>
        <a href="https://github.com/Esri/navigator-integration" class="btn btn-clear btn-fill leader-0">See how on GitHub</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-grey panel-no-border panel-no-padding leader-2">
  <div class="grid-container padding-leader-2 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="text-center trailer-0">Get even more out of ArcGIS</h2>
      <p>
        <ul class="list-plain sdk-home-nav-list text-center">
          <li><a href="https://arcgis.com/" title="ArcGIS Online">ArcGIS Online</a></li>
          <li><a href="http://links.esri.com/agol-help/enterprise" title="ArcGIS Enterprise">ArcGIS Enterprise</a></li>
          <li><a href="http://links.esri.com/agol-help/pro-help" title="ArcGIS Pro">ArcGIS Pro</a></li>
          <li><a href="http://marketplace.arcgis.com/" title="ArcGIS Marketplace">ArcGIS Marketplace</a></li>
          <li><a href="https://developers.arcgis.com/" title="ArcGIS For Developers">ArcGIS for Developers</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!-- Videos -->
<!--div class="panel panel-blue panel-no-border panel-no-padding leader-0">
  <div class="grid-container padding-leader-1 padding-trailer-1 trailer-1">
    <div class="column-24">
      <h2 class="trailer-half leader-1">Watch our videos
        <a class="btn btn-transparent text-white btn-large right" href="MORE_VIDEOS_LINK">More videos</a>
      </h2>
      <div playlistid="YOUTUBE_PLAYLIST_ID" class="video-holder block-group block-group-5-up tablet-block-group-1-up leader-0 padding-leader-half trailer-half">
      </div>
    </div>
  </div>
</div-->

<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Connect with Navigator</h4>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285"></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href="https://github.com/Esri/navigator-integration"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/groups/navigator"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Read our blog
        <a class="btn btn-transparent btn-large right" href="https://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/">More posts</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="http://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Join the conversation
        <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/groups/navigator">More conversations</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/groups/feeds/threads?socialGroup=4109" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>

<div class="panel panel-white panel-no-padding">
  <div class="grid-container">
    <div class="column-24 leader-1 trailer-1 text-center">
      <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
        <div class="block ">
          <h5 class="icon-ui-review icon-ui-purple trailer-half"><a href="https://learn.arcgis.com">Take an in-depth lesson</a></h5>
          <p class="trailer-0">
            Search Learn ArcGIS to find and complete exercises that solve real-world problems with ArcGIS.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-layers icon-ui-green trailer-half"><a href="http://www.esri.com/training/main">Find training courses</a></h5>
          <p class="trailer-0">
            Learn more about ArcGIS through instructor-led courses, web courses, and seminars.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-question icon-ui-orange trailer-half"><a href="http://support.esri.com/en/">Get technical support</a></h5>
          <p class="trailer-0">
            Contact Esri Support by chat, email, or telephone.
          </p>
        </div>
        <div class="block ">
          <h5 class="icon-ui-notice-triangle icon-ui-white trailer-half"><a href="http://doc.arcgis.com/en/trust/system-status/">Check system health</a></h5>
          <p class="trailer-0">
            See the status of ArcGIS Online and report issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>