---
title: Navigator for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/navigator-1
  - libs/jquery.colorbox-min
  - video-init

metatags:
  - <META name="description" content="Navigator for ArcGIS Home page."><META name="last-modified" content="2016-03-17"><META name="product" content="navigator-iphone,navigator-ipad"><META name="sub_category" content="Navigator for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Navigator for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/navigator/">Navigator for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
       <input type="search" name="q" class="leader" placeholder="Search Navigator"> 
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="navigator-ipad" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/en/navigator/">Home</a></li>
        <li><a href="/en/navigator/prepare-maps/prepare-maps.htm">Prepare maps</a></li>
        <li><a href="/en/navigator/ipad/navigate/guided-tour.htm">Navigate</a></li>
        <li><a href="http://links.esri.com/geonet-navigator">Forum</a></li> 
      </ul>
    </nav>  
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
	   <h3 class="gray">Navigate to where you need to be, unlock efficiency, and improve your field workforce reliability.</h3>

        <p>
          <a href="http://links.esri.com/navigator-ios-install"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a> 
          <a style="font-size:1.23em; margin:10px; vertical-align:middle" class="btn primary icon-android" href="https://earlyadopter.esri.com/callout/?callid=%7b28F9956B-A1F0-4793-8B7E-BA0E9473D06A%7d">Android now in beta!</a>
        </p> 
        </header>
        <hr />
        <br />


        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" class="videoLink colorbox-evlarge cboxElement" title="Get Started with Navigator for ArcGIS"><img src="nav-home-1.png" /><img src="/img/playbtn.png" class="playbtn"></a>
		
          <h3>Guided tour</h3>
          <p>Download maps relevant to you, create a route, reorder your stops, configure travel modes, and route to your destination.</p>
          <p>
		<a href="/en/navigator/ipad/navigate/guided-tour.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />  
		<a href="http://video.arcgis.com/iframe/4633/000000/width/960/0/00:00:00" title="Get Started with Navigator for ArcGIS" class="videoLink colorbox-evlarge cboxElement icon-play">&nbsp;Watch a video</a>
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="nav-home-2.png" />

          <h3>Use your data</h3>
          <p>Create navigation maps with your own data&mdash;search your assets, route on your roads, and view your layers.</p>
          <p>
		  
		<a href="/en/navigator/prepare-maps" class="icon-right-arrow">&nbsp;Show me how</a><br />
				
          </p>
        </div>
        
        <div class="clear"></div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
		<img src="1.png" />
		
          <h3>Integrate with Collector</h3>
          <p>Easily connect with other Esri apps such as Collector for ArcGIS to navigate to work sites while in the field.</p>
          <p>
		  
		<a href="/en/navigator/ipad/navigate/esri-app-integration.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
				
          </p>
        </div>
        
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="4.PNG" />

          <h3>Send stops to Navigator</h3>
          <p>Use the Esri custom URL scheme so your users can start Navigator from your app, website, or email, and navigate based on parameters you've provided.</p>
          <p>
            <a href="https://github.com/Esri/navigator-integration" class="icon-github">&nbsp;See how on GitHub</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Features</h2>
        <p>Get directions, edit routes, and start navigating to get your workforce where it needs to be. Navigator is more than a consumer-level navigation app however. You can use custom navigation maps that route on your roads, search your assets, and display your layers.</p>
        <ul>
          <li>Use voice-guided, turn-by-turn directions with automatic route recalculation.</li>
          <li>Navigate completely offline with locally stored data.</li>
          <li>Access Esri's navigation data or use your own maps&mdash;search your assets, route on your roads, and view your layers.</li>
          <li>Complete stops one at a time, or create a work list for an entire day's work.</li>
          <li>Use vehicle-specific travel modes.</li>
          <li>Receive stops from an email, your own app, or other ArcGIS apps such as Collector for ArcGIS.</li>
        </ul>
        
        <a name="systemRequirements"></a>
        <h2 class="divider">System requirements</h2>
	<table><tr>
          <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
            <ul>
              <li>Version 8 or later</li>
              <li>iPad (fourth generation or later for best performance), iPhone (6 or later for best performance), iPod touch</li>
            </ul>
          </td>
          <td valign="top" width="250px;"><h4 class="icon-android">Android (Beta)</h4>
	    <ul>
	      <li>Android 4.2 (Jelly Bean) or later</li>
	      <li>ARMv7 or x86 processor</li>
	      <li>OpenGL ES 2.0 support</li>
	      <li>Precise location (GPS and network-based) support</li>
            </ul>
          </td>
        <tr></table>

	 <h3>Supported languages</h3>
	    <p>Arabic, Dutch, English, French, German, Greek, Hebrew, Italian, Japanese, Korean, Portuguese (Brazil), Portuguese (Portugal), Russian, Simplified Chinese, Spanish, and Turkish.</p>        


	<a name="arcgisRequirements"></a>
        <h2 class="divider">ArcGIS requirements</h2>
        <p>To use Navigator for ArcGIS, you must have an ArcGIS organizational account that has been configured with a Navigator for ArcGIS license. 
        For details about using ArcGIS Online, see <a href="/en/arcgis-online/administer/manage-licenses.htm#ESRI_SECTION1_C9282762EB1F4A72BB3D8794F2E4E516" target="_blank">About Navigator for ArcGIS licensing</a>. 
        For details about using Portal for ArcGIS, see <a href="http://server.arcgis.com/en/portal/latest/administer/windows/configure-navigator-for-arcgis-licenses.htm#ESRI_SECTION1_D9DCE11B3F03413BBD608ECFA8BC4A04">Configure Navigator for ArcGIS licenses for your organization</a>. 
        ArcGIS Online and Portal for ArcGIS 10.4 and later are supported. </p>
        
        <p>You can use Esri-provided navigation maps or you can create your own. Esri-provided maps are available in ArcGIS Online or Portal for ArcGIS and can be downloaded to your device. For more details on the provided maps, see <a href="http://server.arcgis.com/en/streetmap-premium/latest/coverage/navigator-maps.htm">Navigator Map coverage</a>.</p>
        <p>The requirements for creating or modifying a map for use in Navigator depend on what you want to edit. See <a href="/en/navigator/prepare-maps/faqs-author.htm#anchor3">Which licenses do I need to work with navigation maps?</a></p>
            
        <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>     
        
        <table>
	  <tr>
	    <td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
	      <p>Navigator for ArcGIS 2.0 was released in June 2016. It includes the following enhancements:</p>
	    </td>
	    <td valign="top" width="250px;"><h4 class="icon-android">Android (Beta)</h4>
	      <p>Navigator for ArcGIS went into beta in May 2016. It includes the following enhancements:</p>
	    </td>
	  </tr>
	  <tr>
	    <td valign="top"><ul>
              <li>Use your own maps&mdash;search your assets, route on your roads, and view your layers.</li>
              <li>Multiple stops can be automatically reordered into optimized routes.</li>
              <li>Pass addresses with Esri's custom URL scheme.</li>
              <li>Support for Portal for ArcGIS 10.4 and later.</li>
              <li>Localized into Arabic, Dutch, Hebrew, and Portuguese (Brazil).</li>
              <li>Various bug fixes and improvements.</li>
	    </ul></td>
	    <td valign="top"><ul>
	      <li>Includes all features listed as in development for Android in the <a href="#sneakPeak">Sneak peek</a> table. All features currently released on iOS are supported.</li>
	    </ul></td>
	  </tr>
        </table>
        
	<a name="sneakPeek"></a>
	<h2 class="divider">Sneak peek</h2>
	<p>	The following table outlines the progress of this app, showing capabilities for each device platform: </p>
	
	<style>
	  table.sneakPeek
	  {
	    text-align:center;
	  }
	  table.sneakPeek tr.heading th
	  {
	    background-color:lightgray;
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	  table.sneakPeek tr#deviceHeadings th
	  {
	    font-style:italic;
	    padding-top: 5px;
	    padding-bottom: 5px;
	  }
	</style>
        <table class="sneakPeek" border="1">
	  <caption>Functionality by platform<br/>
	  <span class="icon-check" style="color:black"></span> released, <span class="icon-check icon-orange"></span> in development, <span class="icon-check" style="color:lightgray"></span><span class="clear"/> later<br/>
	  Blank cells indicate unplanned functionality.<br/>
	  Support for desktops is currently not planned.
	  </caption>
	  <tr>
	    <td></td>
	    <td><span class="icon-apple"/></td>
	    <td><span class="icon-android"/></td>
	    <td><span class="icon-windows-8 icon-purple"/></td>
	  </tr>
	  <tr>
	    <td>Navigate using included maps</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Navigate using your own custom maps (geocoding, routing, and display)</td>
	    <td><span class="icon-check"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr> 
	  <tr>
	    <td>Work with ArcGIS Online</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>
	  <tr>
	    <td>Work with Portal for ArcGIS</td>
	    <td><span class="icon-check"></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	  <tr>
	    <td>Navigate, route, and search using maps stored on your device</td>
	    <td><span class="icon-check"/></td>
	    <td><span class="icon-check icon-orange"></td>
	    <td><span class="icon-check" style="color:lightgray"/></td>
	  </tr>	
	</table>
	
	<p>Share your <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Bnavigator-for-arcgis%5D">ideas</a>, and <a href="mailto:Navigator4ArcGIS@esri.com?subject=Navigator%20feedback">send us your feedback</a>.</p>
	
        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">System requirements</a></h4>
	  <h4><a href="#arcgisRequirements">ArcGIS requirements</a></h4>
	  <h4><a href="#whatsNew">What's new</a></h4>
	  <h4><a href="#sneakPeek">Sneak peek</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
       <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
          </div>
        </div> 

 </div>

    </div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/navigator-for-arcgis/feed/',
        max: 5,
        layout: 0
      });
    });
/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/
  </script>
