---
title: Web AppBuilder for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="fr">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Web AppBuilder for ArcGIS</h1>
        </div>
        <div class="search-bar">
      	  <form id="helpSearchForm" target="_top">
      		  <input type="search" name="q" placeholder="Parcourir Web AppBuilder" class="leader">
	          <input type="hidden" name="collection" value="help">
            <input type="hidden" name="platform" value="detect">
	          <input type="hidden" name="product" value="web-appbuilder">
	          <input type="hidden" name="version" value="">
	          <input type="hidden" name="language" value="fr">
	          <button class="search-submit icon-ui-search" type="submit"></button>
      		</form>
      	</div>
      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link" href="/fr/web-appbuilder/">Accueil</a>
        <a class="sub-nav-link" href="/fr/web-appbuilder/create-apps/">Créer des applications</a>
        <a class="sub-nav-link" href="/fr/web-appbuilder/manage-apps/">Gérer des applications</a>
        <a class="sub-nav-link is-active" href="/fr/web-appbuilder/extend-apps/">Etendre des applications</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-24 tablet-column-7">
    <h3 class="gray">Etendre Web AppBuilder avec Developer Edition</h3>
    <h5>Créez vos propres widgets et thèmes avec Web AppBuilder for ArcGIS (Developer Edition). Consultez le site <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pour télécharger Developer Edition et apprendre à créer vos propres applications personnalisées.</h5>
  </div>
</div>

<div class="grid-container leader-1 trailer-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-2-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-widget-theme.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
             Optimisez votre entreprise
          </h5>
          <ul>
            <li>Renforcez votre productivité pour concevoir des applications Web qui s'exécutent sur des ordinateurs, des tablettes et des smartphones.</li>
            <li>Tirez parti de la structure de l'application et des widgets prêts à l'emploi pour vous concentrer sur la conception de composants spécifiques à vos workflows</li>
            <li>Personnalisez votre application en concevant un thème personnalisé</li>
            <li>Créez de nouvelles applications en utilisant les widgets et thèmes partagés par d'autres développeurs</li>
          </ul>
        </div>
      </div>
      <div class="card block">
        <figure class="card-image-wrap text-center leader-1">
          <img alt="" src="../img/builder-sell.png">
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
             Concevez des applications pour les vendre
          </h5>
          <ul>
            <li>Concevez une application à promouvoir et vendre sur <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Créez des widgets et thèmes personnalisés sur lesquels vos clients peuvent s'appuyer pour configurer de nouvelles applications puissantes dans Web AppBuilder</li>
            <li>Créez un thème personnalisé qui est unique et adapté à votre société</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column-24 text-center leader-1">
    <p>Consultez <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pour procéder au téléchargement et en savoir plus.</p>
  </div>
</div>
