---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/fr/web-appbuilder/">Accueil</a></li>
        <li><a href="/fr/web-appbuilder/create-apps/">Créer des applications</a></li>
        <li><a href="/fr/web-appbuilder/manage-apps/">Gérer les applications</a></li>
        <li class='current'><a href="/fr/web-appbuilder/extend-apps/">Etendre des applications</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Etendre Web AppBuilder avec Developer Edition</h2> 

          <p>Créez vos propres widgets et thèmes avec Web AppBuilder for ArcGIS (Developer Edition). Consultez le site <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pour télécharger Developer Edition et apprendre à créer vos propres applications personnalisées.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Optimisez votre entreprise </h3>
          <p><ul>
            <li>Renforcez votre productivité pour concevoir des applications Web qui s'exécutent sur des ordinateurs, des tablettes et des smartphones.</li>
            <li>Tirez parti de la structure de l'application et des widgets prêts à l'emploi pour vous concentrer sur la conception de composants spécifiques à vos workflows</li>
            <li>Personnalisez votre application en concevant un thème personnalisé</li>
            <li>Créez de nouvelles applications en utilisant les widgets et thèmes partagés par d'autres développeurs</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Concevez des applications pour les vendre</h3>
          <p><ul>
            <li>Concevez une application à promouvoir et vendre sur <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Créez des widgets et thèmes personnalisés sur lesquels vos clients peuvent s'appuyer pour configurer de nouvelles applications puissantes dans Web AppBuilder</li>
            <li>Créez un thème personnalisé qui est unique et adapté à votre société</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Consultez <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a> pour procéder au téléchargement et en savoir plus.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

