---
title: Explorer for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-explorer-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Explorer for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="explorer-android,explorer-ipad,explorer-windows"><META name="sub_category" content="Explorer for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Explorer for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/explorer/">Explorer for ArcGIS</a></h1>
	  <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Explorer">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="ipad" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/explorer/">Home</a></li>
        <li><a href="/en/explorer/ipad/author-maps/create-a-map.htm">Author Maps</a></li>
        <li><a href="/en/explorer/ipad/use-maps/guided-tour-user.htm">Use Maps</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <h3 class="gray">Access your maps, search and visualize your data, and display presentations while mobile.</h3>

	<!--		  
          <span id="appVersion"><strong>Version:</strong> 10.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	-->
        
        <p>
          <a href="https://itunes.apple.com/us/app/arcgis/idneeded"><img src="ios-app.jpg" /></a>
        </p>
        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Create a map</h3>
          <p>Create a map in your ArcGIS organization to use it in Explorer.</p>
          <p>
            <a href="ipad/author-maps/create-a-map.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
			<a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>

          </p>
        </div>

	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Discover maps</h3>
          <p>Find maps relevant to your organization. </p>
          <p>
            <a href="ipad/use-maps/find-a-map.htm" class="icon-right-arrow">&nbsp;Show me how</a><br /><br/>
          </p>
        </div>  
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
	          <img src="story-graphic-4.png" />
	
	          <h3>Explore data</h3>
	          <p>Find your assets and view their details while working on your mobile device.</p>
	          <p>
	            <a href="ipad/use-maps/view-a-map.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
	            <a href="#" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
	          </p>
        </div>
	<div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Communicate with maps</h3>
          <p>Use your device to share presentations authored with your map. Show different basemaps, extents, and timeframes on each slide. Interact with the data, including sketching on the map, live as you present.</p>
          <p>
            <a href="ipad/use-maps/view-a-presentation.htm" class="icon-right-arrow">&nbsp;Show me how</a><br />
            <a href="" class="icon-right-arrow">&nbsp;See an example</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

        <a name="features"></a>
        <h2 class="divider">Features</h2>
        <p>Access your maps, search and visualize your data, and display presentations while mobile. </p>
        <ul>
          <li>Discover maps</li>
          <li>View your data</li>
          <li>Share maps and data as images or links</li>
          <li>Search your data</li>
          <li>Give presentations with interactive maps</li> 
        </ul>
        
        <a name="systemRequirements"></a>
        <h2 class="divider">System requirements</h2>

        <p> There are certain device requirements to run Explorer, as well as requirements on the data that is used within the app.</p>


        <h3>Data requirements</h3>
        <p>To use your maps in Explorer, you must have an ArcGIS organizational account. Your maps can include data from ArcGIS Online, Portal for ArcGIS, and ArcGIS for Server.</p>


        <h3>Device requirements</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>Version 7</li>
          <li>iPad, iPhone, iPod touch</li>
        </ul></td><tr></table>


        
        <a name="whatsNew"></a>
        <h2 class="divider">What's new</h2>
        <p>Explorer for ArcGIS version 10.2 was released in March 2014. It is the first release of the app.</p>

	<a name="sneakPeek"></a>
	<h2 class="divider">Sneak Peek</h2>
	<p>Today Explorer is a great app for working with your maps and presentations on iPhones and iPads. But there is more to come! 
	The following outlines where we'd like to take this app, showing capabilities we'll bring to each of your devices: 
	
        <table border="1" style="text-align:center">
	  <caption>Planned functionality by platform. <br/>
	  <img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"> current release, <img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"> future release.<br/>
	  Phones include iPhone and Android phone. <br/>
	  Tablets includes iPad and Android tablets. <br/>
	  Desktops include Mac computers. </caption>
	  <tr><td></td>
	    <th>Phone</th>
	    <th>Tablet</th>
	    <th>Desktop</th>
	  </tr>
          <tr><th>Create and configure maps</th>
	    <td></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>	  	  
	  <tr><th>Data exploration</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Discover related records</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	  </tr>
          <tr><th>Edit features</th>
	    <td></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Explore time-aware maps</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Filter your data</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Get directions</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	  </tr>
          <tr><th>Give presentations</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Locate your contacts</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Measure on the map</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Search for features</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Search for points of interest</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Share maps</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Sketch on the map</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Store important places</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Use 3D maps</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	  </tr>
          <tr><th>Use enterprise login security</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
          <tr><th>Use maps offline</th>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmarkGray.png"></td>
	    <td><img purpose="img" placement="inline" alt="Yes" title="Yes" src="checkmark.png"></td>
	  </tr>
	</table>
	<p>Share your <a href="http://ideas.arcgis.com/">ideas</a>, and <a href="mailto:TODO@esri.com?subject=Explorer%20feedback">send us your feedback</a>.</p>
	
        <p>&nbsp;</p>


      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Details</h3>
	          
	  <h4><a href="#features">Features</a></h4>
	  <h4><a href="#systemRequirements">System Requirements</a></h4>
	  <h4><a href="#whatsNew">What's New</a></h4>
	  <h4><a href="#sneakPeek">Sneak Peek</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>


	<!--	<script src="/js/main.js" type="text/javascript"></script>-->
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>