---
layout: marketplace/layout

title: Sign Up - ArcGIS Marketplace
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - feedback

js:
  - sitecfg
  - marketplace/providerSignUp

languageSelector: "No"

metatags:
  - <META name="robot" content="NOINDEX|NOFOLLOW">

mobile: true

---
<div class="section-bar marketplace">
  <div class="container feedback">
    <header>
      <h1 data-langlabel="provider-sign-up">Meld deg p&aring; som leverand&oslash;r</h1>
    </header>
	<nav>&nbsp;</nav>
  </div>
</div>

<!-- Page Content -->
<div class="container feedback">

     <div class="row main">
	 <p data-langlabel="sell-your-app-note">Selg appen din p&aring; ArcGIS Marketplace. F&aring; tilgang til den st&oslash;rste GIS-brukergruppen i verden. Vi gj&oslash;r det enkelt for deg &aring; f&aring; kontakt med brukere, gi ut gratis pr&oslash;veversjoner og generere potensielle kunder. Som appleverand&oslash;r, beholder du 100&nbsp;% av inntektene fra salg av appen din. Se <a href="/no/marketplace/provider/faq.htm">Vanlige sp&oslash;rsm&aring;l</a> for flere detaljer. </p>
	 
 	  
  <div class="warning-signup">
      <header>
        <h2 data-langlabel="already-an-esri-partner">Er du Esri-partner allerede?</h2>
      </header>

      <section>
        <p data-langlabel="reach-a-broader-audience">N&aring; et st&oslash;rre publikum ved &aring; f&oslash;re opp l&oslash;sningen din i ArcGIS Marketplace. Logg p&aring; <a href="http://partnerportal.esri.com/">Esri Partner Portal</a> for &aring; f&aring; informasjon om hva som kreves for &aring; bli leverand&oslash;r.</p>

      </section>

	  
    </div> 


    <div class="contact-form-signup">
		<h2 data-langlabel="new-to-esri">Ikke parner? Ikke brukt Esri f&oslash;r?</h2>
		<p data-langlabel="provider-signup-note">Vi er p&aring; jakt etter utviklere som &oslash;nsker &aring; bygge gode l&oslash;sninger for v&aring;re brukere. Fortell oss litt om deg selv og hva du driver med, s&aring; hjelper vi deg med &aring; komme i gang.</p>
		
		<div id="sign-up-form-fields">
		  <form id="sign-up-form" name="signUpForm" method="post" action="http://resources.arcgis.com/apps/contact-us/">
			
			
			<fieldset id="signup-form-fieldset">

			  <label data-langlabel="first-name" for="first-name">Fornavn: </label>
			  <input type="text" id="firstName" name="firstName">
			  <label data-langlabel="last-name" for="last-name">Etternavn: </label>
			  <input type="text" id="lastName" name="lastName">
			  <label data-langlabel="email-address" for="email-address">E-postadresse: </label>
			  <input type="text" id="userEmail" placeholder="johnsmith@esri.com" name="userEmail">
			  <label data-langlabel="phone-number" for="phone-number">Telefonnummer: </label>
			  <input type="text" id="userPhone" name="userPhone">
			  <label data-langlabel="comment" for="comment">Om deg: </label>
			  <textarea data-langlabel="comment" placeholder="I build apps that..." name="userComment" id="userComment"></textarea>
			  
			  <label data-langlabel="feedback-spam-note" for="spam">For &aring; unng&aring; automatisk s&oslash;ppelpost skriver du inn tallene som vises: </label>
			  <input type="text" value="" name="txtCaptchaInput" id="txtCaptchaInput">

			   <label data-langlabel="numerals" for="captchaValue">Tall: <strong><span id="txtCaptcha" class=""></span></strong></label>

			
			<input type="hidden" value="" name="txtHiddenCaptcha" id="txtHiddenCaptcha">
			<input type="hidden" value="intern" name="source" id="source">
			<input type="hidden" value="" name="redirectUrl" id="redirectUrl">
			<input type="hidden" value="no" name="lg">
			
			</fieldset>
			<a class="btn orange" id="sign-up-link" data-langlabel="contact-us">Send inn</a>
			
		  </form>
		</div>
	  <div id="signup-confirmation" style="display:none;">
		<p>&nbsp;</p>
		<p data-langlabel="provider-signup-confirmation"><strong>Takk for interessen for &aring; bli ArcGIS Marketplace-leverand&oslash;r. Vi tar kontakt i l&oslash;pet av de neste virkedagene.</strong></p>
	  </div>
    </div>

  </div> <!-- end of row main -->

  <p>&nbsp;</p>

<script>
$(document).ready(function() {

    /*$('#sign-up-form :button').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });*/
	$('#sign-up-link').on ("click", function() {
      return doc.signUpForm.validateSignUpForm();
    });
    doc.signUpForm.DrawCaptcha();

    
	});
</script>

  </div>
