---
title: Esri Maps for MicroStrategy

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Esri Maps for MicroStrategy Home page."><META name="last-modified" content="2016-07-04"><META name="product" content="esri-maps-micro"><META name="sub_category" content="Maps for MicroStrategy"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for MicroStrategy"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,BUSINESS,BI,MAPPING"><META name="version" content="micro-3.0"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,BUSINESS,BI,MAPPING, MICROSTRATEGY"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/maps-for-microStrategy/">Esri Maps for MicroStrategy</a></h1>
	  <form id="helpSearchForm" target="_top">
                    <input type="search" name="q" class="leader" placeholder="Search Esri Maps for MicroStrategy" data-langlabel="search-esri-maps-micro">
                    <input type="hidden" name="collection" value="help" />
                    <input type="hidden" name="product" value="esri-maps-micro" />          
					<input type="hidden" name="version" value="micro-2.0.1" />
                    <input type="hidden" name="language" value="en" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/maps-for-microstrategy/">Home</a></li>
        <li><a href="/en/maps-for-microstrategy/install-and-configure/">Install</a></li>
        <li><a href="/en/maps-for-microstrategy/design-and-use-map/">Design and Use</a></li>
		<li><a href="/en/maps-for-microstrategy/build-a-model/">Build a Model</a></li>
		<li><a href="/en/maps-for-microstrategy/use-maps-mobile/">Mobile</a></li>
        <li><a href="http://forums.arcgis.com/forums/233-Esri-Maps-for-MicroStrategy">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Get the app</h2>
          <span id="appVersion"><strong>Version:</strong> 2.0.2</span>
          <span id="appReleased"><strong>Available:</strong> November 2015</span>


          <p>Enrich your MicroStrategy Report Services documents with live dynamic maps, allowing you to analyze your business data visually and interactively. Esri Maps for MicroStrategy is designed to seamlessly integrate into the everyday workflows familiar to MicroStrategy designers and analysts, without the need for custom coding or GIS experience. Create rich maps that interact with other datasets in your documents and reports, and combine published geographic data with MicroStrategy business data for easier analysis. </p>

          <p>
             <a  class="btn primary" href="http://www.esri.com/software/location-analytics/esri-maps-for-microstrategy/pricing">Get Esri Maps for MicroStrategy</a>

          </p>

        </header>
        <hr />
        <br />
<!--Feature highlights - first row -->		
<div id="simplifymapcreation-LA" class="column-12 phone-column-24">
          <img src="em4m_la.png" />

          <h3>Simplify map creation</h3>
          <p>Create rich maps that meet corporate style standards in just a few clicks using Location Architect.</p>
          <p>
            <a href="/en/maps-for-microstrategy/build-a-model/what-is-.htm" class="icon-right-arrow">&nbsp;Learn more</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4149/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="4149" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4149/mp4/480">
			</video>			
          </p>
		</div>
		
		 <div id="configureanduseselectors" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Configure selectors</h3>
          <p>Add interactivity between datasets in your document by configuring your map as a selector or as a target of a selector. </p>
          <p>
		  <a href="/en/maps-for-microstrategy/design-and-use-map/configure-selectors.htm" class="icon-right-arrow">&nbsp;Learn more</a>
             <br/>
			 <a href="http://video.arcgis.com/iframe/4114/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
		   <video width="320" height="240" controls id="4114" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4114/mp4/480">
			</video>
	      </p>
        </div>
	<br/>		
		
	<!--Feature highlights - second row -->		
		<div class="clear"></div>
			
		<div id="addandconfigureamap-report" class="column-12 phone-column-24">
          <img src="em4m3b.png" />

          <h3>Create a map-enabled report</h3>
          <p>Add a dynamic Esri map to your MicroStrategy Web report to help you make better business decisions. </p>
          <p>
            <a href="/en/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-report.htm" class="icon-right-arrow">&nbsp;Learn more</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4115/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="4115" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4115/mp4/480">
			</video>			
          </p>
		
        </div>
		
<div id="addandconfigureamap-dashboard" class="column-12 phone-column-24">
          <img src="em4m1.png" />

          <h3>Add maps to your dashboard</h3>
          <p>Enhance your dashboard with one or more interactive maps to visualize your MicroStrategy data in new ways. </p>
          <p>
            <a href="/en/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
			<br/>
			<a href="http://video.arcgis.com/iframe/4113/000000/width/960/0/00:00:00" class="icon-play colorbox-evlarge">&nbsp;Watch a video</a>
			<video width="320" height="240" controls id="4113" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/4113/mp4/480">
			</video>
</p>
</div>

<div class="clear"></div>
       
		<!--Commenting out until we add another feature highlight to make a third row
		<div id="dynamiclinking" class="column-12 phone-column-24">
          <img src="em4m4.png"/>

          <h3>Add dynamic linking</h3>
          <p>Configure a dynamic link from a map in a report or document to launch an external document or report. </p>
          <p>
          <a href="/en/maps-for-microstrategy/design-and-use-map/configure-links.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>

        <div class="clear"></div>-->

<!--Commenting this section out until I get better screenshots
<div id="adddatafromarcgis" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Add data from ArcGIS</h3>
          <p>Add published geographic data from ArcGIS to your map-enabled document or report for easier analysis of your business data.</p>
          <p><a href="/en/maps-for-microstrategy/design-and-use-map/add-data-from-arcgis.htm" class="icon-right-arrow">&nbsp;Learn more</a>         
          </p>
        </div>
		
		<div id="sharemapsandlayers" class="column-12 phone-column-24">
          <img src="em4m2.png"/>

          <h3>Share maps and layers</h3>
          <p>Share maps or individual map layers to ArcGIS for use by others in or outside of your organization.</p>
          <p><a href="/en/maps-for-microstrategy/design-and-use-map/build-a-map-enabled-document.htm" class="icon-right-arrow">&nbsp;Learn more</a>
          </p>
        </div>
-->

	  
<div class="clear"></div>


<!-- What's new section -->
<hr />
<a name="whatsNew"></a>
<h2>What's new</h2>
<p>Esri Maps for MicroStrategy offers significant updates and enhancements for document designers,  analysts, and architects. Here are some highlights.</p>

<ul>
<li><b><a href="http://support.esri.com/en/downloads/patches-servicepacks/view/productid/210/metaid/2276" target=_blank>NEW! Patch release:</a></b> Esri Maps for MicroStrategy server plug-in Support and Update Patch</li>
<li>Streamlined map application</li>
<li>Quickly edit MicroStrategy layer properties after data has been added</li>
<li>Style data using manual breaks classification</li>
<li>New floating, resizable map legend</li>
<li>Change the order of groups in the legend</li>
<li>Improved user experience for configuring map tools and settings</li>
<li>Customize the availability of map tools and elements in the map</li>
<li>Change the map's look and feel using predefined or custom themes</li>
<li>Improved heat map algorithm with support for weighted measures heat maps</li>
<li>Improved user experience for working with feature attribute tables</li>
<li>Automatic clustering when features exceed a specified threshold</li>
<li>Enhanced visible range widget</li>
<li>Create and use labels on the map</li>
<li>Set the outline color for point shapes and polygon features</li>
<li>Additional number, data, and currency formats available</li>
<li>Support for ArcGIS roles and privileges</li>
<li>Support for vector tile layers and basemaps</li>
<li>Software available in English, Japanese, and German</li>
<li>Documentation available in English and German</li>

</ul>

<!-- Supported environments section -->
 <hr />
<a name="supportedEnvironments"></a>
        <h2>Supported environments</h2>
          <p>Esri Maps for MicroStrategy has two components:</p>
		<ul>
			<li>
			<p><a href="#em4mstr" onclick="exp(event,'div','exp1')">Esri Maps for MicroStrategy server plug-in</a>, which is deployed to both the MicroStrategy Web server and the MicroStrategy Mobile server (if using Esri Maps for MicroStrategy Mobile)
			</p>
			</li>
			<li>
			<p><a href="#em4mm" onclick="exp(event,'div','exp2')">Esri Maps for MicroStrategy Mobile</a>, which is delivered as an iOS client framework that uses MicroStrategy Mobile SDK for iOS and other third-party development tools to build a custom iOS app.</p> 
			</li>
		</ul>

<p>Deploying the server plug-in to your web server allows your organization to integrate your MicroStrategy business intelligence (BI) data with the ArcGIS platform. Deploying the server plug-in to your organization’s mobile server allows Esri Maps for MicroStrategy Mobile app users to access map-enabled documents on their iPads.</p>

<p>Before the mobile app can be shared and used, the Esri Maps for MicroStrategy Mobile iOS client framework must first be compiled. It is recommended that you secure the services of a developer in your organization to compile the Esri Maps for MicroStrategy Mobile app.</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 
		 
		<!-- ArcGIS support -->	
		<div class="clear" style="padding:5px;"></div>
	
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">ArcGIS</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			
			<p>Esri Maps for MicroStrategy requires an ArcGIS Online organizational subscription or an on-premises Portal for ArcGIS deployment. It is assumed that the authentication method used to access the platform has been properly configured by the ArcGIS administrator.</p>
			<p>Esri Maps for MicroStrategy 3.0 supports the following ArcGIS versions:
				<ul>
					<li><b>ArcGIS Online:</b> current version</li>
					<li><b>Portal for ArcGIS:</b> 10.4, 10.4.1</li>
				</ul>
			</p>
			
			</div>
		 
		 
		<!-- EM4M server plug-in expanding arrow -->
		<h3>
		<a name="em4mstr" class="icon-right-arrow" onclick="exp(event,'div','exp2')">Esri Maps for MicroStrategy server plug-in</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			
		<!-- MicroStrategy Web versions -->
			<h4>MicroStrategy Web versions</h4>
			
				<p>For Esri Maps for MicroStrategy to operate properly, the Esri Maps for MicroStrategy server plug-in requires an operational configuration of these supported versions of MicroStrategy Web:</p>
				<ul>
					<li>MicroStrategy 10.3</li>
					<li>MicroStrategy 10.4</li>
				</ul>	
								
				<p>MicroStrategy recommends using certified configurations over the supported configurations. Check <a href="https://community.microstrategy.com/t5/Release-Notes/TN280885-Defects-and-Enhancements-Addressed-in-MicroStrategy-10/ta-p/280885 " target="_blank">MicroStrategy Release Notes</a> for certified versions of other third party application servers for each corresponding version of MicroStrategy.</p>
		
		
		<!-- Web application servers subhead for EM4M -->
		<h4>Web application servers</h4>
		<p>The following table outlines the Web application servers on which Esri has focused its testing efforts for both the JSP server and ASP.NET server configurations. If you would like to see the web application server used by your MicroStrategy configuration, contact <a href="http://support.esri.com/" target="_blank">Esri Technical Support</a></li>. 
		<p>
				<table width="400" border="1" align="left">
					<tr align="left">
					<th scope="col">Web application server</th>
					<th scope="col">Tested version</th>
					</tr>
					<tr align="left" valign="top">
						<td align="left" valign="top">Apache Tomcat</td>
						<td align="left" valign="top">8.x</td>
						</tr>
						
						<tr align="left" valign="top">
						<td align="left" valign="top">IBM WebSphere</td>
						<td align="left" valign="top">7.x</td>
					</tr>
					
					<tr align="left" valign="top">
						<td align="left" valign="top">JBoss Application Server</td>
						<td align="left" valign="top">7.4.x</td>
					</tr>
						
					<tr align="left" valign="top">
						<td align="left" valign="top">Microsoft Internet Information Services</td>
						<td align="left" valign="top">8.x | 7.x</td>
					</tr>
					
			
				</tbody>
				</table>
		</p>
			<div class="clear" style="padding:10px;"></div>
		
		<!-- Web browsers subhead for EM4M -->
			<h4>Web browsers</h4>
			<p>Esri does not test all combinations of web browsers (and the underlying client operating systems) certified by MicroStrategy. Rather, a subset of certified web browsers is selected, and testing is performed on the most recent operating systems. Not all selected browsers are tested on all identified operating systems.</p>

				<p>Esri has not performed any client browser testing on platforms other than Windows. It is expected, however, that the Esri Maps for MicroStrategy plug-in will function as expected on non-Windows clients if one of the web browsers listed below is used. If this is not your experience, contact <a href="http://support.esri.com/" target="_blank">Esri Technical Support</a> to ask that your particular configuration be tested.</p>

				<p>The following browsers have been tested:</p>
				<p>
				<table width="400" border="1" align="left">
					<tr align="left">
					<th scope="col">Browser name</th>
					<th scope="col">Tested version</th>
					</tr>

					<tbody  style="font-size:14px"> 
					<tr align="left" valign="top">
						<td align="left" valign="top">Internet Explorer</td>
						<td align="left" valign="top">11.x</td>
					</tr>
					
					<tr align="left" valign="top">
						<td align="left" valign="top">Microsoft Edge</td>
						<td align="left" valign="top">Latest</td>
					</tr>
					
					<tr align="left" valign="top">
						<td align="left" valign="top">Mozilla Firefox</td>
						<td align="left" valign="top">41 and later</td>
					</tr>
									
					<tr align="left" valign="top">
						<td align="left" valign="top">Google Chrome</td>
						<td align="left" valign="top">42 and later</td>
					</tr>
					
				</tbody>
				</table>
				</p>
								</div>
			
		<div class="clear" style="padding:5px;"></div>
		
	<!-- Esri Maps for MicroStrategy Mobile -->
		<h3>
		<a name="em4mm" class="icon-right-arrow" onclick="exp(event,'div','exp3')">Esri Maps for MicroStrategy Mobile</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
				<!-- Developer prerequisites subhead for EM4MM section - no table -->
				<h4>Developer machine</h4>
			<p>To support the creation of the custom mobile app, the developer system must meet the following requirements:</p>	
				<ul>
				<li>A Mac OS machine running OS X version 10.8.4 or later and 4G RAM or greater</li>
				<li>Xcode IDE 7.x</li>
				<li>iOS SDK 9.x</li>
				<li>MicroStrategy 10.4 Mobile client (see the <a href="https://software.microstrategy.com/Download/index.aspx" target="_blank">MicroStrategy download site</a>)</li>
				</ul>
			
			<p>For more information, about:</p>
				<ul>
				<li>Compiling the app using the Esri Maps for MicroStrategy Mobile iOS client framework, see <a href="/en/maps-for-microstrategy/install-and-configure/overview.htm">Esri Maps for MicroStrategy Mobile Administrator’s guide</a></li>
				<li>MicroStrategy Mobile SDK for iOS, see the <a href="https://lw.microstrategy.com/msdz/MSDZ_World2015/docs/projects/MobileSDK/output/vvitarello/HTML5/default.htm#topics/iOS/iOS_What_Can_You_Do_with_the_Mobile_SDK.htm" target="_blank">MicroStrategy Developer Zone</a></li>
				</ul>
				
				<!-- Mobile users subhead for EM4MM section -->
				<h4>Mobile app user device</h4>
				<ul>
				<li>iPad device running iOS 9.x</li>
				</ul>
			</div>	
		
		<!-- Support -->	
		<div class="clear" style="padding:5px;"></div>
	
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp4')">Support</a>
		</h3>
			<div exp4='yes' style="display:none;padding:0 15px;">
			
			<p>MicroStrategy Web requires several third-party components to be configured in order to function properly. These components include an application server, web server, and Java Development Kit. MicroStrategy Technical Support aids in the deployment of MicroStrategy Web  with these components. <a href="http://support.esri.com/" target="_blank">Esri Technical Support</a> aids in the deployment (and use) of the Esri Maps for MicroStrategy plug-in within an operational configuration of MicroStrategy Web.</p>

			<p>Esri Technical Support analysts are not experts in all possible configurations of MicroStrategy Web. Similarly, MicroStrategy Technical Support engineers are not experts in all the third-party components required for an operational configuration of MicroStrategy. If you are experiencing a problem configuring MicroStrategy, it is often more efficient to obtain help from MicroStrategy Technical Support. Similarly, if you are if you are experiencing a configuration problem with third-party components, it is more efficient to get help from the third party's support organization. In cases where a problem is deemed to be in the Esri Maps for MicroStrategy plug-in, Esri Technical Support can be available to work with MicroStrategy Technical Support and third-party vendors or their consultants.</p>			
			</div>
			
		<div class="clear">
	</div>
</div>


<!-- Get started links -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Get started</h3>
          <ul>
           <li><a href="#whatsNew">What's new</a></li>
            <li><a href="#supportedEnvironments">Supported environments</a></li>
			<li>Help for previous versions:
			<ul>
				<li><a href="/en/maps-for-microstrategy/2.0.2/">2.0.2</a></li>
							</ul>
			</li>
			<li><a href="http://video.arcgis.com/series/220/maps-for-microstrategy">Watch videos</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>