---
title: Web AppBuilder for ArcGIS
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="fr">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/fr/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	 <nav>
      <ul>
        <li class='current'><a href="/fr/web-appbuilder/">Accueil</a></li>
        <li><a href="/fr/web-appbuilder/create-apps/">Créer des applications</a></li>
        <li><a href="/fr/web-appbuilder/manage-apps/">Gérer des applications</a></li>
        <li><a href="/fr/web-appbuilder/extend-apps/">Etendre des applications</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <div class="column-16 tablet-column-24"> 

    <h3 class="gray">Concevez des applications SIG puissantes qui s'exécutent sur tous les périphériques. Aucun codage n'est nécessaire.</h3>
	<h5>Pour voir ce que d'autres utilisateurs ont conçu, cliquez sur <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
  
    <hr />

        <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.jpg" />
          <p></p>

          <h3>Cinq minutes vous séparent de votre première application</h3>
          
          <p>
            <a href="/fr/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Comment</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.jpg" />
          <p></p>

          <h3>Configuration simple</h3>
          <p>Créez des applications avec un générateur de configuration simple à utiliser.</p>
          <p>
            <a href="/fr/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configurer l'application</a> <a href="/fr/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configurer les widgets</a>
          </p>
        </div>

        <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.jpg" />
          <p></p>

          <h3>Exporter des modèles</h3>
          <p>Créez des modèles d'applications configurables qui sont ajoutés à la bibliothèque d'applications de votre organisation. 
          <p>
            <a href="/fr/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Comment</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.jpg" />
          <p></p>

          <h3>Concevoir des widgets et des thèmes</h3>
          <p>Vous pouvez télécharger et héberger l'application sur votre serveur Web. Vous pouvez également étendre l'application en ajoutant des widgets et des thèmes personnalisés.</p>
          <p>
            <a href="/fr/web-appbuilder/extend-apps/" class="icon-right-arrow">&nbsp;Comment</a>
          </p>
        </div>

        <div class="clear"></div>
		

        <a name="supportedBrowsers"></a>
        <h2 class="divider">Navigateurs pris en charge</h2>
		<p>L'application 2D prend en charge les navigateurs suivants :</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3 et supérieur</li>
		  <li>Segment</li>
          <li>Internet Explorer 9 et version supérieure</li>
        </ul>
		<p>L'application 3D prend en charge les navigateurs suivants :</p>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 7.2 et supérieur</li>
		  <li>Segment</li>
          <li>Internet Explorer 11</li>
        </ul>
		
        <a name="license"></a>
        <h2 class="divider">Licence</h2>

        <p>Pour utiliser Web Appbuilder, vous devez disposer d'un compte d'organisation ArcGIS. </p>

        <a name="features"></a>
        <h2 class="divider">Fonctionnalités clés</h2>
        <ul>
          <li>Créez des applications HTML/JavaScript qui s'exécutent sur tous les périphériques.</li>
          <li>Créez les applications dont vous avez besoin à l'aide de widgets prêts à l'emploi.</li>
          <li>Personnalisez l'aspect de vos applications grâce à des thèmes à configurer.</li>
          <li>Hébergez vos applications en ligne ou exécutez-les sur votre propre serveur.</li>
          <li>Créez des modèles d'applications personnalisés.</li>
        </ul>
        

         <a name="whatIsNew"></a>
        <h2 class="divider">Nouveautés</h2>
        <p>Web AppBuilder for ArcGIS a été mis à jour en juin 2016. Il inclut les améliorations et nouvelles fonctionnalités suivantes :</p>
        <ul>
          <li>Ajoutez le style Sélecteur de couleurs dans les thèmes afin de choisir votre propre couleur ou de respecter la palette de couleurs approuvée par votre organisme.</li>
		  <li>Dans l'onglet Attributs, vous pouvez définir des polices personnalisées pour le titre et le sous-titre de l'application.</li>
		  <li>Dans l'onglet Attributs, vous pouvez configurer l'accès public aux services premium et au contenu premium ArcGIS Online.</li>
          <li>Le nouveau widget Sélectionner permet de communiquer avec d'autres widgets pour effectuer des opérations sur les entités sélectionnées.</li>
		  <li>Le nouveau widget Partager permet de partager des applications sur les réseaux sociaux.</li>
		  <li>Le nouveau widget Ajouter des données permet à l'utilisateur final de rechercher des couches dans ArcGIS Online et de saisir des URL pour ajouter des données à la carte.</li>
          <li>Le nouveau widget Filtrer vous permet de filtrer des entités en fonction d'une expression. D'autres widgets respecteront les paramètres de filtre, le cas échéant. </li>
		  <li>Le nouveau widget Editeur intelligent optimise le widget de mise à jour principal avec des attributs intelligents, des valeurs de champ prédéfinies, la validation d'enregistrements et l'affichage de fenêtres contextuelles au cours d'une session de mise à jour.</li>
          <li>Le nouveau widget Visionneuse oblique affiche les images dans leur système de coordonnées natif à l'aide du système de coordonnées de l'image. Ceci permet de vous déplacer en mode oblique, dans un angle de vue unique ou de changer d'angle pour consulter une zone d'intérêt sous plusieurs angles.</li>
		  <li>Le nouveau widget Filtrer les groupes permet de créer des groupements de couches auxquels appliquer un filtre. Vous avez la possibilité d'enregistrer et de recharger vos groupements définis afin d'y revenir et de reprendre votre travail à tout moment.</li>
          <li>Le widget Résumé infos n'est plus en version bêta. Ce widget permet d'indiquer un nombre et d'afficher une liste des entités figurant dans l'étendue de la carte actuelle pour chaque couche spécifiée. Les couches ponctuelles configurées dans le widget peuvent être affichées sous forme de grappes.</li>
		  <li>Le widget Requête permet d'ajouter des relations spatiales (intersecter, superposer et contenir, par exemple) afin que vous puissiez exécuter la requête sur les entités d'une autre couche.</li>
		  <li>Le widget Modifier comprend des options de tolérance et de filtrage de modèles d'entités.</li>
		  <li>En sélectionnant des enregistrements dans la table attributaire, vous mettez en surbrillance leurs entités sur la carte et inversement. </li>
		  <li>Le widget Géotraitement utilise en entrée un jeu d'entités provenant d'une couche, d'une fenêtre contextuelle, d'un widget Requête ou Sélectionner.</li>
		  <li>Le widget Liste des couches vous permet de sélectionner les couches à afficher dans la liste. Vous pouvez également contrôler la visibilité de toutes les couches.</li>
		  <li>Le widget Autour de moi propose des paramètres de configuration supplémentaires permettant notamment d'afficher la zone tampon sur la carte, de renvoyer des polygones d'intersection plutôt que des polygones bufférisés et d'appliquer un zoom sur les entités sélectionnées plutôt que sur la zone tampon.</li>
		  <li>Le widget Recherche de secteur est amélioré pour prendre en charge des polygones empilés.</li>
		  <li>Le widget Diagrammes de tables liés est amélioré pour prendre en charge des diagrammes polaires.</li>
		  <li>Le widget 3DFx existant a été optimisé afin d'inclure plus d'effets pour l'animation 3D.</li>
	
        </ul>

         <a name="supportedAPI"></a>
        <h2 class="divider">Versions prises en charge d'ArcGIS API for JavaScript</h2>
        <p>Web AppBuilder prend en charge ArcGIS API for JavaScript 3.17.</p>

        <h3>Langues prises en charge</h3>
        <p> Allemand, anglais, arabe, chinois simplifié, chinois traditionnel (Hong Kong), chinois traditionnel (Taïwan), croate, danois, espagnol, estonien, français, finlandais, grec, hébreu, italien, japonais, coréen, letton, lituanien, néerlandais, norvégien, polonais, portugais (Brésil), portugais (Portugal), roumain, russe, serbe, suédois, tchèque, thaï, turc et vietnamien.</p>
        <p>La langue utilisée par l'application est définie par la configuration de langue du navigateur.</p>

        <p>Partagez vos <a href="http://ideas.arcgis.com/">idées</a> et <a href="http://support.esri.com/en/">envoyez-nous vos commentaires</a>.</p>
  
        <p>&nbsp;</p>

  </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Détails</h3>
          
          <h4><a href="#features">Fonctionnalités clés</a></h4>
          <h4><a href="#supportedBrowsers">Navigateurs pris en charge</a></h4>
          <h4><a href="#license">Licence</a></h4>
          <h4><a href="#whatIsNew">Nouveautés</a></h4>
          <h4><a href="#supportedAPI">Versions prises en charge d'ArcGIS API for JavaScript</a></h4>
          
        </div>


        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
          <a href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/" class="btn secondary">Plus de billets de blog</a>
        </div>

        <br />
     
        <section id="forum-container">
        <div class="panel">
        <h3>Discussions sur GeoNet</h3>
        <div id="forum"></div>
        <a href="https://geonet.esri.com/discussion/create.jspa?containerType=14&containerID=2150" class="btn secondary">En commencer une</a>&nbsp; <a href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light">En savoir plus</a>
        </div>
        </section> 

      </div>
</div>


	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script></Comment>--&gt;  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 2,
        layout: 0
      });

      $("#forum").rssFeed({
       url:"https://geonet.esri.com/view-browse-feed.jspa?containerType=14&browseSite=place-content&filterID=contentstatus[published]~objecttype~objecttype[thread]&userIDs=-1&browseViewID=placeContent&containerID=2150", 
       max: 3,        
       layout: 1
      }); 

    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
