---
title: Web AppBuilder for ArcGIS
css:
  - homepage
  - /cdn/css/colorbox
  - video-play-button

js:
  - /cdn/js/libs/jquery.colorbox-min
  - video-playlist
  - rssfeed

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="fr">

mobile: true

---


<header class="sub-nav sub-nav-blue">
  <div class="grid-container">
    <div class="column-24">
      <div style="display:table;" class="sdk-home-banner">
        <div class="sdk-home-banner-content">
          <h1 class="sub-nav-title leader-1 trailer-1 text-white">Web AppBuilder for ArcGIS</h1>
        </div>

      </div>
    </div>
    <div class="column-24">
      <nav class="sub-nav-list">
        <a class="sub-nav-link is-active" href="/fr/web-appbuilder/">Accueil</a>
        <a class="sub-nav-link" href="/fr/web-appbuilder/create-apps/">Créer des applications</a>
        <a class="sub-nav-link" href="/fr/web-appbuilder/manage-apps/">Gérer des applications</a>
        <a class="sub-nav-link" href="/fr/web-appbuilder/extend-apps/">Etendre des applications</a>
      </nav>
    </div>
  </div>
</header>

<div class="grid-container leader-2">
  <div class="column-16">
    <div class="wf-nav" style="height:55px;">
      <div class="wf-nav search-bar column-16 trailer-1 leader-0 padding-right-2">
        <form id="helpSearchForm" target="_top">
          <input type="search" name="q" class="leader" placeholder="Parcourir Web AppBuilder for ArcGIS">
          <input type="hidden" name="collection" value="help" />
          <input type="hidden" name="product" value="web-appbuilder" />
          <input type="hidden" name="language" value="<%= current_language %>" />
          <button class="search-submit icon-ui-search margin-right-2" type="submit"></button>
        </form>
      </div>
    </div>


    <div class="column-16 tablet-column-7">
 
	  <h3 class="gray">Concevez des applications SIG puissantes qui s'exécutent sur tous les périphériques. Aucun codage n'est nécessaire.</h3>
	<h5>Pour voir ce que d'autres utilisateurs ont conçu, cliquez sur <a href="http://www.arcgis.com/apps/MapAndAppGallery/index.html?appid=1e3085af6e1a48c8908fa624bdfef768">Live Sites Showcase.</a></h5>
    </div>

    <!-- INSTRUCTIONS: If you don't want to use an image in this section, uncomment the div above and remove the two divs below.
    <div class="column-4 right margin-right-1 padding-left-0">
      <img src="img/PRODUCT_IMAGE_231x149.png">
    </div>
    <div class="column-11 tablet-column-7">
      <p>MAIN_TEXT</p>
    </div>-->


  </div>
  <div class="column-8 tablet-column-12 right">
    <div class="panel">
      <h4 class="icon-ui-announcement">Nouveautés</h4>
      <p>La mise de jour de décembre 2016 inclut un nouveau widget permettant de naviguer dans la carte vers l'étendue suivante ou précédente, l'amélioration de plusieurs widgets existants, ainsi que d'autres optimisations.</p>
      <a class="btn secondary" href="/fr/web-appbuilder/create-apps/what-s-new.htm">En savoir plus</a>
    </div>
  </div>
</div>

<div class="grid-container leader-1">
  <nav aria-labelledby="thirdnav" role="navigation" class="column-24 text-center">
    <hr class="leader-half trailer-half">
      <ul class="list-plain sdk-home-nav-list">
        <!--<li><a href="POPULAR_LINK_1">POPULAR_TEXT_1</a></li>-->
        <li><a href="/fr/web-appbuilder/create-apps/what-is-web-appbuilder.htm#GUID-80FD326A-705E-4CBC-8514-8600D723182C">Fonctionnalités clés</a></li>
	      <li><a href="/fr/web-appbuilder/create-apps/what-is-web-appbuilder.htm#GUID-0ECD95DE-A8F6-4169-B9CE-E85E45490A45">Licence</a></li>
        <li><a href="/fr/web-appbuilder/create-apps/supported-browsers.htm">Navigateurs pris en charge</a></li>
      </ul>
    <hr class="leader-half trailer-half">
  </nav>
</div>

<div class="grid-container leader-1 trailer-1">
  <div class="column-24">
    <!-- INSTRUCTIONS: If you want to use more or fewer than 4 cards, change "block-group-4-up" to the number you will use.  Keep in mind that using fewer cards would be better with wider, shorter images. -->
    <div class="block-group block-group-4-up tablet-block-group-2-up phone-block-group-1-up">
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/fr/web-appbuilder/create-apps/make-first-app.htm">
            <img alt="" src="img/builder-firstapp.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/fr/web-appbuilder/create-apps/make-first-app.htm">Cinq minutes vous séparent de votre première application</a>
          </h5>
          <p>Créez votre application en cinq petites minutes.</p>
        </div>
        <a href="/fr/web-appbuilder/create-apps/make-first-app.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/fr/web-appbuilder/create-apps/themes-tab.htm">
            <img alt="" src="img/builder-widgets.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/fr/web-appbuilder/create-apps/themes-tab.htm">Configuration simple</a>
          </h5>
          <p>Créez des applications avec un générateur de configuration simple à utiliser.</p>
        </div>
        <a href="/fr/web-appbuilder/create-apps/themes-tab.htm" class="btn btn-clear btn-fill leader-0">Configurer l'application</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/fr/web-appbuilder/manage-apps/export-as-template.htm">
            <img alt="" src="img/builder-template.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/fr/web-appbuilder/manage-apps/export-as-template.htm">Exporter des modèles</a>
          </h5>
          <p>Créez des modèles d'applications configurables qui sont ajoutés à la bibliothèque d'applications de votre organisation.</p>
        </div>
        <a href="/fr/web-appbuilder/manage-apps/export-as-template.htm" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
      <div class="card block">
        <figure class="card-image-wrap">
          <a href="/fr/web-appbuilder/extend-apps/">
            <img alt="" src="img/builder-customize-encinitas.jpg">
          </a>
        </figure>
        <div class="card-content">
          <h5 class="trailer-half leader-0">
            <a href="/fr/web-appbuilder/extend-apps/">Concevoir des widgets et des thèmes</a>
          </h5>
          <p>Vous pouvez télécharger et héberger l'application sur votre serveur Web. Vous pouvez également étendre l'application en ajoutant des widgets et des thèmes personnalisés.</p>
        </div>
        <a href="/fr/web-appbuilder/extend-apps/" class="btn btn-clear btn-fill leader-0">En savoir plus</a>
      </div>
    </div>
  </div>
</div>


<!-- Social -->
<div class="panel panel-dark panel-no-border">
  <div class="grid-container">
   <div class="column-24 text-white text-center trailer-half leader-half">
    <h4 class="trailer-half">Se connecter à Web AppBuilder for ArcGIS</h4>
    <!-- INSTRUCTIONS: Remove any links that are not applicable. -->
    <a aria-label="Connect on Twitter" class="icon-social-sdk-home icon-social-twitter tooltip tooltip-top" href="https://twitter.com/esri_apps"></a>
    <a aria-label="Connect on LinkedIn" class="icon-social-sdk-home icon-social-linkedin tooltip tooltip-top" href="https://www.linkedin.com/groups/47285 "></a>
    <a aria-label="View GitHub projects" class="icon-social-sdk-home icon-social-github tooltip tooltip-top" href=" https://esri.github.io/"></a>
    <a aria-label="Join the community" class="icon-social-sdk-home icon-social-geonet tooltip tooltip-top" href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/"></a>
    <a aria-label="Send us feedback" class="icon-social-sdk-home icon-social-contact tooltip tooltip-top" href="/feedback"></a>
   </div>
  </div>
</div>

<!-- Blog -->
<div class="panel panel-white panel-no-border panel-no-padding leader-1">
  <div class="grid-container padding-leader-1 padding-trailer-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Lire notre blog <a class="btn btn-transparent btn-large right" href="http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/">Autres billets de blog</a>
      </h2>
      <div data-post-limit="3" data-blog-feed-url="https://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/" class="block-group block-group-3-up blogHpFeed">
			  <!-- Blog Content goes here -->
			</div>
    </div>
  </div>
</div>

<!-- Forum -->
<div class="panel panel-white panel-no-border panel-no-padding">
  <div class="grid-container padding-trailer-1 padding-leader-1">
    <div class="column-24">
      <h2 class="text-rule padding-trailer-half">Rejoindre la conversation <a class="btn btn-transparent btn-large right" href="https://geonet.esri.com/community/gis/web-gis/web-appbuilder/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D">Autres discussions</a>
      </h2>
      <div data-post-limit="3" data-geonet-feed-url="https://geonet.esri.com/community/feeds/threads?community=2150" class="block-group block-group-3-up geonetFeed">
				<!-- Forum content goes here -->
			</div>
    </div>
  </div>
</div>
