---
title: AppStudio for ArcGIS 社群
description: Get social with the AppStudio for ArcGIS user community

  
js:
  - libs/jquery.cycle2.min
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - /en/asset/js/rssfeed
  - sitecfg
    
metatags:
  - <META name="description" content="AppStudio for ArcGIS user community"><META name="last-modified" content="2015-07-15"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="zh-hk">

mobile: true
---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/zh-hk/appstudio/">AppStudio for ArcGIS (Desktop Edition)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li ><a href="/zh-hk/appstudio/">首頁</a></li>
        <li><a href="/zh-hk/appstudio/create-apps/">建立應用程式</a></li>
       <!-- <li><a href="/zh-hk/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/zh-hk/appstudio/extend-apps/">延伸應用程式</a></li>
    <li class='current'><a href="/zh-hk/appstudio/community/">社群</a></li>
	    <li><a href="/zh-hk/appstudio/download/">下載</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->

<div id="features" class="container">
  <h3 class="pull-quote gray">
進行社交活動。提出問題，並在 Esri 的<a href="#geonet">使用者討論平台</a>上尋找答案，GeoNet。用<a href="#twitter">推文</a>在 @AppStudioArcGIS 上聯絡我們。透過 <a href="#blog">ArcGIS 部落格</a>向開發團隊詢問提示與秘訣。<!--Tell us your <a href="ideas">ideas for vNext</a>.  -->
  </h3>
  
  <hr><a name="blog"></a>

  <div class="feature" id="blog-sect">
  <div class="feature-text">
      <h2 class="leader-half trailer-half">直接來自開發團隊</h2>
      <p>AppStudio for ArcGIS 團隊部落格會在 ArcGIS 部落格上定期發佈。您會發現即將推出之版本的相關消息、改善工作流程的提示，以及說明作法的文章。</p>
      <p>請定期檢查或訂閱摘要，並取得推送到我的最愛讀取器應用程式的更新。</p>
      <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">閱讀部落格</a> &nbsp; <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/" class="btn light icon-rss icon-orange">透過 RSS 訂閱</a>
  </div>
  <div class="feature-block">
    <div class="panel white">
    
      <div id="blog">
            <!-- blog goes here -->
          </div>
    </div>
  </div>
</div>



<hr><a name="geonet"></a>

  <div class="feature" id="geonet">
  
  <div class="feature-block" style="margin-left: 0;">
      <div class="panel white">  
		  <div id="forum">
            <!-- forum goes here -->
         </div>
		</div>
  </div>
  
      
  <div class="feature-text">
  
   <h2 class="leader-half trailer-half">在 GeoNet 上提問</h2>
      <p>此網站的資源必然有些時候沒有您需要的答案；此時在 GeoNet，Esri 的使用者討論平台會接聽您的 SOS 來電。<a href="https://geonet.esri.com/groups/appstudio/content">AppStudio for ArcGIS 集團</a>會收集您的使用者同儕對軟體、工作流程、GIS 及更多事項的相關問答集。</p>

      
      
      <p><a href="https://geonet.esri.com/discussion/create.jspa?containerType=700&containerID=4076" class="btn secondary icon-help">提問</a> &nbsp; <a href="https://geonet.esri.com/groups/appstudio/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light icon-comment icon-blue">瀏覽討論文章</a></p>

      <p>且如果您在 GeoNet 上獲得的知識，可以且應該加入這裡所發現的 AppStudio for ArcGIS 資源中，<a href="/feedback/">請告訴我們</a>。</p>
   

  </div>
  
  
  
  
</div>
<hr>

<a name="twitter"></a>

<div class="feature flip" id="twitter">
  <div class="feature-text">
<a class="twitter-timeline" href="https://twitter.com/search?q=%23appstudio%20%23arcgis" data-widget-id="621075523536486400">#appstudio #arcgis 的相關推文</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   

 </div>
  <div class="feature-block">
	
			
			 <h2 class="leader-half trailer-half">Follow us on Twitter</h2> 
      <p>Want your news in 140 characters or less? We've got you covered.</p>
      <p>Follow @AppStudioArcGIS or join the #AppStudio #ArcGIS conversation.</p>
      <a href="https://twitter.com/AppStudioArcGIS" class="btn secondary icon-twitter">Follow us</a> &nbsp; <a href="https://twitter.com/intent/tweet?hashtags=AppStudio,ArcGIS" class="btn light icon-twitter icon-blue"> #AppStudio #ArcGIS </a>

  </div>



  
</div>





</div> 

  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 3,
        layout: 0
      });

    $("#forum").rssFeed({
      url:"https://geonet.esri.com/groups/appstudio/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=-1&containerType=700&containerID=4076&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
      max: 3,        
      layout: 1
      });

       

    });


  </script>

