---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2015-1-29"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="fr"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/collector/">Accueil</a></li>
        <li><a href="/fr/collector/android/create-maps/create-maps.htm">Créer des cartes</a></li>
        <li><a href="/fr/collector/android/collect-data/collect-tutorial.htm">Collecter des données</a></li>
        <li><a href="https://geonet.esri.com/community/gis/applications/collector-for-arcgis">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Utilisez votre smartphone ou votre tablette pour collecter et mettre à jour les informations sur le terrain, que vous soyez connecté ou déconnecté.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.png" style="margin:10px; vertical-align:middle"/></a>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" style="margin:10px; vertical-align:middle"/></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Créer et partager une carte</h3>
          <p>Offrez ArcGIS à votre personnel sur le terrain afin d'améliorer la précision et la circulation de vos données spatiales. Créez et partagez des cartes pour la collecte de données en deux étapes.</p>
          <p>
            <a href="/fr/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Comment</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Collecter des données</h3>
          <p>Créez les données qui comptent pour votre organisation, qu'il s'agisse de rapports sur les dommages, de demandes de services ou de sites historiques. Intégrez facilement des images et des vidéos et partagez votre travail.</p>
          <p>
            <a href="/fr/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Comment</a><br />

			<a title="Collecter des données" href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vidéo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Mode hors connexion</h3>
          <p>Sur le terrain, vous êtes amené à travailler dans des zones sans connexion aux données. Utilisez vos cartes et données en mode hors connexion, collectez des données et resynchronisez-les une fois reconnecté.</p>
          <p>
            <a href="/fr/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Comment</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>Démarrer rapidement avec des modèles</h3>
          <p>Votre secteur d'activité possède ses propres jeux de données courants. Téléchargez des modèles pour créer la structure de base dont vous avez besoin pour les données, puis personnalisez-la en fonction de votre tâche spécifique.</p>
          <p>
            <a href="http://www.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Afficher les téléchargements</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Entités</h2>
	<p>Collectez et mettez à jour les données sur le terrain, enregistrez votre position actuelle et utilisez les données que vous capturez afin de prendre des décisions informées et opportunes. Utilisez les cartes pour appliquer la réalité du terrain à vos données, émettre des observations et réagir aux événements. Vous améliorerez l'efficacité de votre personnel sur le terrain et la précision de vos données SIG.</p>
	
	<ul>
	<li>Télécharger des cartes sur votre appareil et les utiliser en mode hors connexion</li>
	<li>Utiliser le GPS pour créer et mettre à jour des données cartographiques.</li>
	<li>Collecter des points, des lignes et des entités surfaciques.</li>
	<li>Renseigner des formulaires cartographiques faciles à utiliser.</li>
	<li>Rechercher des sites et obtenir un itinéraire.</li>
	<li>Suivre et signaler les zones visitées.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Configuration du système</h2>

        <p>L'exécution de Collector implique certaines conditions en termes de périphériques, mais aussi de données utilisées dans l'application. Collector est pris en charge dans plusieurs langues.</p>


        <h3>Conditions requises pour les données</h3>
        <p>Pour pouvoir utiliser des cartes dans Collector, vous devez disposer d'un compte d'organisation ArcGIS. Vos cartes peuvent contenir des données provenant d'ArcGIS Online, de Portal for ArcGIS et d'ArcGIS for Server.</p>


        <h3>Configurations des périphériques</h3>
        <table><tr><td valign="top" width="320px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android 4.0 (Ice Cream Sandwich) ou version ultérieure</li>
          <li>Processeur ARMv7 ou x86</li>
          <li>Prise en charge d'OpenGL ES 2.0</li>
          <li>Prise en charge des emplacements précis (basée sur le réseau et GPS)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS 7 ou version ultérieure</li>
          <li>iPhone, iPad, iPod Touch</li>
        </ul></td><tr></table>


        <h3>Langues prises en charge</h3>
        <p>Arabe, anglais, chinois simplifié, danois, néerlandais, espagnol, estonien (<span class="icon-android"/>), français, finlandais, grec, allemand, hébreu, italien, japonais, coréen, letton (<span class="icon-android"/>), lituanien (<span class="icon-android"/>), norvégien, polonais, portugais (Brésil), portugais (Portugal), roumain, russe, suédois, tchèque, thaï, turc et vietnamien.</p>
        <p>La langue utilisée par l'application est définie par la configuration de langue de l'appareil.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Nouveautés</h2>
        <table><tr><td valign="top" class="column-12"><h4 class="icon-apple">iOS</h4>
	        <p>Collector for ArcGIS 10.3.5 a été publié en octobre 2015. Cette version inclut les améliorations suivantes :</p>
	        <ul>
	          <li>Correction de divers bogues</li>
	        </ul>
                </td>
	        <td valign="top" class="column-12"><h4 class="icon-android">Android</h4>
	        <p>Collector for ArcGIS 10.3.4 a été publié en octobre 2015. Cette version inclut les améliorations suivantes :</p>
	        <ul>
	          <li>Plusieurs résolutions de bogues et améliorations, notamment BUG-000088627, BUG-000088139, NIM104688, BUG-000090264 et BUG-000089932</li>
        </ul></td><tr></table>

	<a name="sneakPeek"></a>
	<h2 class="divider">Aperçu furtif</h2>
	<p>Aujourd'hui, Collector est une formidable application de collecte et de mise à jour des données sur le terrain. Mais ce n'est pas terminé ! Voici d'autres améliorations prévues pour cette application :</p>
	
	<ul>
	  <li>Prise en charge de Windows et Windows Phone</li>
	  <li>Formulaires de collecte de données plus intelligents</li>
	  <li>Prise en charge de récepteurs GNSS externes</li>
	  <li>Davantage d'outils de planification des opérations hors connexion sur le terrain</li>
	  <li>Collecte de données avec décalages</li>
	  <li>Intégration de périphériques (télémètres à laser, scanners de codes barres, etc.)</li>
	</ul>	
	
	<p>Partagez vos <a href="http://ideas.arcgis.com/">idées</a> et <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">envoyez-nous vos commentaires</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>Détails</h3>
	          
	  <h4><a href="#features">Entités</a></h4>
	  <h4><a href="#systemRequirements">Configuration du système</a></h4>
	  <h4><a href="#whatsNew">Nouveautés</a></h4>
	  <h4><a href="#sneakPeek">Aperçu furtif</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>   <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
