---
title: Collector for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox
  - jquery.smartbanner

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init
  - libs/jquery.smartbanner
  - smartbanner.init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS"><META name="content-language" content="en"><meta name="apple-itunes-app" content="app-id=589674237"><meta name="google-play-app" content="app-id=com.esri.arcgis.collector"><META name="msApplication-TileImage" content="/img/app-tile/collector.jpg">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Collector">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="collector-android" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>

    </header>
	<nav>
      <ul>
        <li class='current'><a href="/fr/collector/">Accueil</a></li>
        <li><a href="/fr/collector/android/create-maps/create-maps.htm">Cr&eacute;er des cartes</a></li>
        <li><a href="/fr/collector/android/collect-data/collect-tutorial.htm">Collecter des donn&eacute;es</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

        <h3 class="gray">Utilisez votre smartphone ou votre tablette pour collecter et mettre &agrave; jour les informations sur le terrain, que vous soyez connect&eacute; ou d&eacute;connect&eacute;.</h3>

	  <!--
          <span id="appVersion"><strong>Version:</strong> 10.2.2</span>
          <span id="appReleased"><strong>Released:</strong> March 2014</span>
	  -->
	  

        <p>
	    <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a>
	    <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
        </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Cr&eacute;er et partager une carte</h3>
          <p>Offrez ArcGIS &agrave; votre personnel sur le terrain afin d&apos;augmenter la pr&eacute;cision et l&apos;actualit&eacute; de vos donn&eacute;es spatiales. Cr&eacute;ez et partagez des cartes pour la collecte de donn&eacute;es en deux &eacute;tapes.</p>
          <p>
            <a href="/fr/collector/android/create-maps/create-maps.htm" class="icon-right-arrow">&nbsp;Comment</a><br />
            <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Collecter des donn&eacute;es</h3>
          <p>Cr&eacute;ez les donn&eacute;es qui comptent pour votre organisation, qu&apos;il s&apos;agisse de rapports sur les dommages, de demandes de services ou de sites historiques. Int&eacute;grez facilement des images et des vid&eacute;os et partagez votre travail.</p>
          <p>
            <a href="/fr/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">&nbsp;Comment</a><br />

			<a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge">&nbsp;Visionner un clip vid&eacute;o</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>
	<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-3.png" />

          <h3>Mode hors connexion</h3>
          <p>Sur le terrain, vous &ecirc;tes amen&eacute; &agrave; travailler dans des zones sans connexion de donn&eacute;es. Utilisez vos cartes et donn&eacute;es en mode hors connexion, collectez des donn&eacute;es et resynchronisez-les une fois reconnect&eacute;.</p>
          <p>
            <a href="/fr/collector/android/collect-data/offline-use.htm" class="icon-right-arrow">&nbsp;Comment</a><br />
          </p>
        </div>
        
        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="story-graphic-4.png" />

          <h3>D&eacute;marrer rapidement avec des mod&egrave;les</h3>
          <p>Votre secteur d&apos;activit&eacute; poss&egrave;de ses propres jeux de donn&eacute;es courants. T&eacute;l&eacute;chargez des mod&egrave;les pour cr&eacute;er la structure de base dont vous avez besoin pour les donn&eacute;es, puis personnalisez-la en fonction de votre t&acirc;che sp&eacute;cifique.</p>
          <p>
            <a href="http://esri.maps.arcgis.com/home/group.html?owner=esri_collector&title=Collector%20Templates" class="icon-right-arrow">&nbsp;Consulter les t&eacute;l&eacute;chargements</a><br />
          </p>
        </div>
        
        <div class="clear"></div>

	<a name="features"></a>
	<h2 class="divider">Fonctionnalit&eacute;s</h2>
	<p>Collectez et mettez &agrave; jour les donn&eacute;es sur le terrain, enregistrez votre position actuelle et utilisez les donn&eacute;es que vous capturez afin de prendre des d&eacute;cisions inform&eacute;es et opportunes. 
	Utilisez les cartes pour appliquer la r&eacute;alit&eacute; du terrain &agrave; vos donn&eacute;es, &eacute;mettre des observations et r&eacute;agir aux &eacute;v&eacute;nements. 
	Vous am&eacute;liorerez l&apos;efficacit&eacute; de votre personnel sur le terrain et la pr&eacute;cision de vos donn&eacute;es SIG.</p>
	
	<ul>
	<li>T&eacute;l&eacute;charger des cartes sur votre appareil et les utiliser en mode hors connexion</li>
	<li>Utiliser le GPS pour cr&eacute;er et mettre &agrave; jour des donn&eacute;es cartographiques.</li>
	<li>Collecter des points, des lignes et des entit&eacute;s surfaciques.</li>
	<li>Renseigner des formulaires cartographiques faciles &agrave; utiliser.</li>
	<li>Rechercher des sites et obtenir un itin&eacute;raire.</li>
	<li>Suivre et signaler les zones visit&eacute;es.</li>
	</ul>

        <a name="systemRequirements"></a>
        <h2 class="divider">Configuration du syst&egrave;me</h2>

        <p>L&apos;ex&eacute;cution de Collector implique certaines conditions en termes de p&eacute;riph&eacute;riques, mais aussi de donn&eacute;es utilis&eacute;es dans l&apos;application. Collector est pris en charge dans plusieurs langues.</p>


        <h3>Conditions requises pour les donn&eacute;es</h3>
        <p>Pour pouvoir utiliser des cartes dans Collector, vous devez disposer d&apos;un compte d&apos;organisation ArcGIS. Vos cartes peuvent contenir des donn&eacute;es provenant d&apos;ArcGIS Online, de Portal for ArcGIS et d&apos;ArcGIS for Server.</p>


        <h3>Configurations des p&eacute;riph&eacute;riques</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li>Android&nbsp;4.0 (Ice Cream Sandwich)<br/>ou version ult&eacute;rieure</li>
          <li>Processeur Armv7</li>
          <li>Prise en charge d&apos;OpenGL ES&nbsp;2.0</li>
          <li>Prise en charge des emplacements pr&eacute;cis (bas&eacute;e sur le r&eacute;seau et GPS)</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iOS</h4>
        <ul>
          <li>iOS&nbsp;7</li>
          <li>iPhone, iPad, iPod Touch</li>
        </ul></td><tr></table>


        <h3>Langues prises en charge</h3>
        <p>Arabe, anglais, chinois simplifi&eacute;, danois, n&eacute;erlandais, espagnol, estonien(<span class="icon-android"/>), fran&ccedil;ais, finlandais, allemand, h&eacute;breu, italien, japonais, cor&eacute;en, letton (<span class="icon-android"/>), lituanien (<span class="icon-android"/>), norv&eacute;gien, polonais, portugais (Br&eacute;sil), portugais (Portugal), roumain, russe, su&eacute;dois, tch&egrave;que et turc.</p>
        <p>La langue utilis&eacute;e par l&apos;application est d&eacute;finie par la configuration de langue de l&apos;appareil.</p>


        <a name="whatsNew"></a>
        <h2 class="divider">Nouveaut&eacute;s</h2>
        <p>Collector for ArcGIS&nbsp;10.2.3 est disponible depuis avril&nbsp;2014. L&apos;application pr&eacute;sente les am&eacute;liorations et r&eacute;solutions de bogues suivantes&nbsp;:</p>
        <p>Collector for ArcGIS&nbsp;10.2.2 est disponible depuis mars&nbsp;2014. L&apos;application pr&eacute;sente les am&eacute;liorations suivantes&nbsp;:</p>
        <ul>
        <li>Prise en charge des workflows en mode hors connexion</li>
        <li>Exp&eacute;rience utilisateur mise &agrave; jour</li>
        <li>Diverses r&eacute;solutions de bogues et am&eacute;liorations</li>
        <li>Prise en charge de langues suppl&eacute;mentaires</li>
        <li>Probl&egrave;mes li&eacute;s &agrave; Android r&eacute;solus&nbsp;: NIM098281, NIM096128, NIM098076</li>
        <!-- <li>iOS issues addressed: N/A at 10.2.2</li> -->
        </ul>

	<a name="sneakPeek"></a>
	<h2 class="divider">Aper&ccedil;u furtif</h2>
	<p>Aujourd&apos;hui, Collector est une formidable application de collecte et de mise &agrave; jour des donn&eacute;es sur le terrain. Mais ce n&apos;est pas termin&eacute; !
	Voici d&apos;autres am&eacute;liorations pr&eacute;vues pour cette application&nbsp;:</p>
	
	<ul>
	  <li>Davantage d&apos;outils de planification des op&eacute;rations hors connexion sur le terrain</li>
	  <li>Formulaires de collecte de donn&eacute;es plus intelligents (notamment des tables li&eacute;es)</li>
	  <li>Possibilit&eacute; d&apos;effectuer des recherches dans les donn&eacute;es<li>
	  <li>Collecte de donn&eacute;es avec d&eacute;calages<li>
	  <li>Prise en charge des collectes ad hoc</li>
	  <li>Int&eacute;gration de p&eacute;riph&eacute;riques (t&eacute;l&eacute;m&egrave;tres &agrave; laser, scanners de codes barres, etc.)</li>
	</ul>	
	
	<p>Partagez vos <a href="http://ideas.arcgis.com/">id&eacute;es</a> et <a href="mailto:Collector4ArcGIS@esri.com?subject=Collector%20feedback">envoyez-nous vos commentaires</a>.</p>
		
        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
	  <h3>D&eacute;tails</h3>
	          
	  <h4><a href="#features">Entit&eacute;s</a></h4>
	  <h4><a href="#systemRequirements">Configuration du syst&egrave;me</a></h4>
	  <h4><a href="#whatsNew">Nouveaut&eacute;s</a></h4>
	  <h4><a href="#sneakPeek">Aper&ccedil;u furtif</a></h4>
	          
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/collector/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
