---
title: Collector for ArcGIS
css:
  - documentation
  - screen
  - /en/asset/css/common
  - stat-page-specific
  - /en/asset/css/app-switch-1
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - /en/asset/js/app-collector-1
  - libs/jquery.colorbox-min
  - jquery.colorbox.init
  - video-init

metatags:
  - <META name="description" content="Collector for ArcGIS Home page."><META name="last-modified" content="2013-5-28"><META name="product" content="collector-android,collector-ios"><META name="sub_category" content="Collector for ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Collector for ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="MOBILE,MOBILE APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="MOBILE,MOBILE APPS">


mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1>Collector for ArcGIS</h1>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/collector/">Accueil</a></li>
        <li><a href="/en/collector/android/create-maps/create-maps.htm">Créer des cartes</a></li>
        <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Collecter des données</a></li>
        <li><a href="http://forums.arcgis.com/forums/224-Collector-for-ArcGIS">Forum</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">
        <header>

		  <h2 id="appTitle">Télécharger l'application</h2>
          <span id="appVersion"><strong>Version :</strong> 10.2</span><span id="appReleased"><strong>Date de sortie :</strong> Novembre 2013</span>


          <p>Utilisez votre smartphone pour collecter et mettre à jour des informations sur le terrain, enregistrer votre localisation et utiliser les données que vous capturez de sorte à prendre des décisions informées et opportunes.</p>

          <p>
             <a href="https://play.google.com/store/apps/details?id=com.esri.arcgis.collector"><img src="android-app.png" /></a> <a href="https://itunes.apple.com/us/app/arcgis/id589674237"><img src="ios-app.jpg" /></a>
          </p>
		 <p>
            <a id="appSysRequirements" href="#systemRequirements">Configurations requises</a> <a id="appWhatsNew" href="#whatsNew">Nouveautés</a>
          </p>

        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="app-collector-map.jpg" />

          <h3>Créer et partager une carte</h3>
          <p>Offrez ArcGIS à votre personnel sur le terrain afin d'augmenter la précision et l'actualité de vos données spatiales. Créez et partagez des cartes pour la collecte de données en deux étapes.</p>
          <p>
            <a href="/en/collector/android/create-maps/create-maps.htm" class="icon-right-arrow"> Comment</a><br /> <!--<a href="#" class="icon-play">&nbsp;Watch a video</a>-->
          </p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="app-collector-data.jpg" />

          <h3>Collecter des données</h3>
          <p>La recherche de points d'intérêt, le calcul de distances, la création de demandes d'intervention et la création de rapports sur les dommages sont quelques-unes des possibilités offertes par une carte pour la collecte de données. Créez des données intelligentes avec images et de la vidéo puis partagez-les avec le monde entier, en cinq étapes.</p>
          <p>
            <a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow"> <br /><a href="/en/collector/android/collect-data/collect-tutorial.htm" class="icon-right-arrow">Comment</a> <a href="http://video.arcgis.com/iframe/2194/000000/width/960/1" class="icon-play colorbox-evlarge"> Visionner une vidéo</a>
			<video width="320" height="240" controls id="2194" class="mobileVideo">
			  <source src="http://video.arcgis.com/download-video/2194/mp4/480">
			</video>
          </p>
        </div>

        <div class="clear"></div>


        <a name="systemRequirements"></a>
        <h2>Configuration du système</h2>

        <p>L'exécution de Collector implique certaines conditions en termes de périphériques, mais aussi de données utilisées dans l'application. Collector est pris en charge dans plusieurs langues.</p>


        <h3>Conditions requises pour les données</h3>
        <p>Pour pouvoir utiliser des cartes dans Collector, vous devez disposer d'un compte d'organisation ArcGIS. Vos cartes peuvent contenir des données provenant d'ArcGIS Online, de Portal for ArcGIS et d'ArcGIS for Server.</p>


        <h3>Configurations des périphériques</h3>
        <table><tr><td valign="top" width="250px;"><h4 class="icon-android">Android</h4>
        <ul>
          <li><br/>Android 4.0 (Ice Cream Sandwich)ou une version ultérieure</li>
          <li>Processeur Armv7</li>
          <li>Prise en charge d'OpenGL ES 2.0</li>
        </ul></td>
        <td valign="top"><h4 class="icon-apple">iPhone</h4>
        <ul>
          <li>iOS 6 ou version ultérieure</li>
        </ul></td><tr></table>


        <h3>Langues prises en charge</h3>
        <p>Arabe, anglais, chinois simplifié, danois, néerlandais, espagnol, estonien(<span class="icon-android"/>), français, finlandais, allemand, hébreu, italien, japonais, coréen, letton (<span class="icon-android"/>), lituanien (<span class="icon-android"/>), norvégien, polonais, portugais, portugais (Brésil), portugais (Portugal), roumain, russe, suédois et tchèque.</p>
        <p>La langue utilisée par l'application est définie par la configuration de langue du téléphone.</p>


        <a name="whatsNew"></a>
        <h2>Nouveautés</h2>
        <p>Collector for ArcGIS version 10.2, sortie en novembre 2013, présente les améliorations suivantes :</p>
        <ul>
        <li>Expérience utilisateur mise à jour</li>
        <li>Expérience tablette et iPad dédiée</li>
        <li>Prise en charge de la collecte de lignes et de polygones</li>
        <li>Mode continu GPS</li>
        <li>Workflows de collecte améliorés</li>
        <li>Améliorations apportées au comportement de toucher de carte</li>
        <li>Diverses résolutions de bogues et améliorations</li>
        <li>Prise en charge des identifiants de connexion d’entreprise</li>
        <li>Prise en charge de langues supplémentaires</li>
        <li>Problèmes liés à Android résolus : NIM090003, NIM090935, NIM091973, NIM092424, NIM092833</li>
        <li>Problèmes liés à iOS résolus : NIM094438, NIM094401</li>
        </ul>

        <p> </p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Commencer</h3>
          <ul>
            <li><a href="/en/collector/android/collect-data/guided-tour.htm">Visite guidée</a></li>
            <li><a href="/en/collector/android/create-maps/create-maps.htm">Créer et partager une carte</a></li>
            <li><a href="/en/collector/android/collect-data/collect-tutorial.htm">Collecter des données</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Sur notre blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/mobile/feed/',
        max: 5,
        layout: 0
      });

    });


  </script>

   <script src="/en/asset/js/app-collector-1.js" type="text/javascript"></script>
