---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Extend Apps with Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-9-18"><META name="product" content="web-appbuilder"><META name="sub_category" content="Web AppBuilder"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Web AppBuilder"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="ru">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ru/web-appbuilder/">Web AppBuilder for ArcGIS</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuilder" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li><a href="/ru/web-appbuilder/">На главную</a></li>
        <li><a href="/ru/web-appbuilder/create-apps/">Создание приложений</a></li>
        <li><a href="/ru/web-appbuilder/manage-apps/">Управление приложениями</a></li>
        <li class='current'><a href="/ru/web-appbuilder/extend-apps/">Расширение приложений</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">
        <header>

	<h2 id="appTitle">Расширьте возможности Web AppBuilder с помощью версии для разработчиков</h2> 

          <p>Создайте свои собственные виджеты и темы с помощью Web AppBuilder for ArcGIS (Developer Edition). Посетите сайт <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, чтобы загрузить Developer Edition и больше узнать о создании собственных приложений.</p>



        </header>
        <hr />
        <br />


        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-widget-theme.png" />

          <h3>Увеличьте эффективность вашей компании </h3>
          <p><ul>
            <li>Повысьте продуктивность построения веб-приложений, работающих на настольных компьютерах, планшетах и смартфонах</li>
            <li>Пользуйтесь рабочей средой приложения и готовыми виджетами, что позволит сфокусироваться на построении специфических компонентов именно для вашей работы</li>
            <li>Персонализируйте приложения с помощью собственных тем</li>
            <li>Создавайте новые приложения с помощью виджетов и тем, предоставленных другими разработчиками</li>
          </ul></p>


         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="/en/web-appbuilder/img/builder-sell.png" />

          <h3>Создавайте приложения на продажу</h3>
          <p><ul>
            <li>Создавайте приложения для продвижения и продажи на <a href="http://marketplace.arcgis.com/">ArcGIS Marketplace</a> <a class="icon-external-link" href="http://marketplace.arcgis.com/"> </a></li>
            <li>Создавайте собственные виджеты и темы, которые ваши потребители могут использовать для настройки новых приложений в Web AppBuilder</li>
            <li>Создавайте собственные, уникальные темы в соответствие с фирменным стилем компании</li>
          </ul>
          </p>
        </div>



        <div class="clear"></div>

        <div class="column-16 tablet-column-24">

        <p>Посетите сайт <a href="https://developers.arcgis.com/web-appbuilder/">ArcGIS for Developers</a> <a class="icon-external-link" href="https://developers.arcgis.com/web-appbuilder/"> </a>, чтобы загрузить ПО и получить дополнительные сведения.</p>

        <p>&nbsp;</p>

      </div>

      </div>


     <!-- <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3 class="icon-orange icon-light-bulb">ArcGIS Ideas site</h3>
         <p>Don't see the app or data you need? Post a suggestion or vote on existing ideas.</p>
         <p>Are you a provider looking for ideas? See what customers are asking for. Invite contributors to privately collaborate with you to evolve ideas.</p>
         <p><a class="" href="http://ideas.arcgis.com"> ideas.arcgis.com</a></p>
        </div>

        <br />


 </div> -->

    </div>

