---
title: Hj&aelig;lp til ArcGIS Online
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="ArcGIS Online Help Home page."><META name="last-modified" content="2013-9-25"><META name="product" content="arcgis-online"><META name="sub_category" content=""><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content=""><META name="search-category" content="help-general"><META name="subject_label" content="ONLINE,WEB,MAPPING"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="ONLINE,WEB,MAPPING"><META name="content-language" content="da">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/da/arcgis-online/">Hj&aelig;lp</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Online">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a title="Hj&aelig;lp til ArcGIS Online" href="/da/arcgis-online/">Hoved</a></li>
        <li><a title="Brug kort" href="/da/arcgis-online/use-maps/">Brug</a></li>
        <li><a title="Opret kort og apps" href="/da/arcgis-online/create-maps/">Opret</a></li>		
        <li><a title="Del kort og apps" href="/da/arcgis-online/share-maps/">Del</a></li>
		<li><a title="Administr&eacute;r din organisation" href="/da/arcgis-online/administer/">Administr&eacute;r</a></li>
		<li><a href="/da/arcgis-online/reference/">Reference</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="column-16 tablet-column-24">


    <h3 class="gray">Brug og opret interaktive kort og apps, og del dem med resten af din organisation. Se hvordan.</h3>
	
	<hr />
	
        <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/perform-analysis.jpg" />

          <h3>Brug kort</h3>
         
 
         <p>Brug kort til at udforske, forst&aring; og m&aring;le geografiske data.</p>

      
         <p><a href="/da/arcgis-online/use-maps/view-maps.htm" class="icon-right-arrow">&nbsp;&nbsp;Vis data</a> <br/> <a href="/da/arcgis-online/use-maps/perform-analysis.htm" class="icon-right-arrow">&nbsp;Udf&oslash;r analyse</a><br/> <a href="/da/arcgis-online/use-maps/edit-features.htm" class="icon-right-arrow">&nbsp;&nbsp;Rediger objekter</a></p>
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/create-maps-apps.jpg" />

          <h3>Opret kort og apps</h3>
          <p>Opret interaktive kort og apps, som din organisation kan f&aring; adgang til p&aring; alle enheder, hvor som helst, n&aring;r som helst.</p>


            <p><a href="/da/arcgis-online/create-maps/make-your-first-map.htm" class="icon-right-arrow">&nbsp;&nbsp;Opret dit f&oslash;rste kort</a> <br/>

            <a href="/da/arcgis-online/create-maps/make-your-first-app.htm" class="icon-right-arrow">&nbsp;&nbsp;Opret din f&oslash;rste app</a><br/> <a href="/da/arcgis-online/create-maps/set-properties.htm" class="icon-right-arrow">&nbsp;&nbsp;Angiv egenskaber for kort og lag</a>
			</p>
        </div>
		<div class="clear"></div>
		
       <div id="collectorMapFeature" class="column-12 phone-column-24">
          <img src="img/share-maps-apps.jpg" />

          <h3>Del kort og apps</h3>
          <p>Anvend dine data ved at dele kort og apps i din organisation eller dit f&aelig;llesskab.</p>

         <p><a href="/da/arcgis-online/share-maps/add-items.htm" class="icon-right-arrow">&nbsp;&nbsp;Tilf&oslash;j elementer</a> <br/><a href="/da/arcgis-online/share-maps/share-items.htm" class="icon-right-arrow">&nbsp;Del elementer</a> <br/> <a href="/da/arcgis-online/share-maps/hosted-web-layers.htm" class="icon-right-arrow">&nbsp;&nbsp;Udgiv &quot;hostede&quot; features og tiles</a></p>
         
        </div>


        <div id="collectorDataFeature" class="column-12 phone-column-24">
          <img src="img/admin-org.jpg" />

          <h3>Administrer din organisation</h3>
          <p>F&aring; mere ud af din GIS ved at konfigurere ArcGIS Online til din organisation, invitere medlemmer og styre ressourcer.</p>
          <p>
            <a href="/da/arcgis-online/administer/configure-site.htm" class="icon-right-arrow">&nbsp;&nbsp;Konfigurer webstedet</a> <br/> <a href="/da/arcgis-online/administer/invite-users.htm" class="icon-right-arrow">&nbsp;&nbsp;Inviter medlemmer</a> <br/> <a href="/da/arcgis-online/administer/view-status.htm" class="icon-right-arrow">&nbsp;&nbsp;Vis organisationsstatistik</a></p>
           
        </div>
		<div class="clear"></div>

        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Apps, der er klar til brug</h3>
         <p>L&aelig;r mere om de apps, der f&oslash;lger med ArcGIS Online.</p>
		 <p>
		  <a href="http://doc.arcgis.com/en/arcgis-app/" class="icon-right-arrow">&nbsp;&nbsp;ArcGIS-app til smartphones og tablets</a><br/> <a href="http://doc.arcgis.com/en/collector/" class="icon-right-arrow">&nbsp;&nbsp;Collector til ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/maps-for-office/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps til Office</a><br/> <a href="http://doc.arcgis.com/en/maps-for-sharepoint/" class="icon-right-arrow">&nbsp;&nbsp;Esri Maps til SharePoint</a> <br/> <a href="http://doc.arcgis.com/en/explorer/" class="icon-right-arrow">&nbsp;&nbsp;Explorer til ArcGIS</a><br/> <a href="http://doc.arcgis.com/en/operations-dashboard/" class="icon-right-arrow">&nbsp;&nbsp;Operations Dashboard til ArcGIS</a>
		
		 </p>
        </div>	
	
        <div id="collectorDataFeature" class="column-12 phone-column-24">

          <h3>Udvikler-API'er</h3>
          <p>ArcGIS-platformen indeholder API'er og SDK'er til opbygning af apps til organisationen og hele f&aelig;llesskabet.</p>
		 
		 <p><a href="https://developers.arcgis.com" class="icon-right-arrow">&nbsp;&nbsp; ArcGIS for Developers</a></p>
        </div>
	
        <div class="clear"></div>

        <p>&nbsp;</p>

      </div>


      <div class="column-8 tablet-column-24 blocks">

	  	  	 <div class="imgFrame block">
          <h3>Kom i gang</h3>
		  <p>L&aelig;r det grundl&aelig;ggende i, hvordan du opretter kort, i disse fem lektioner</p>
         <ul>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/explore-a-web-map.htm">Udforske et kort</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/create-a-new-map.htm">Opret et kort</a>
		 </li>
		 <li><a href="http://pro.arcgis.com/en/get-started/web/add-data-to-a-map.htm">Tilf&oslash;j lag fra CSV-fil</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/configure-popups.htm">Konfigur&eacute;r pop-up'er</a>
		 </li><li><a href="http://pro.arcgis.com/en/get-started/web/make-a-web-application.htm">Opret en app</a>
		 </li>
		 
		 </ul>
        
        </div>
	
		 <br />
	  
	 
	  		 	  	 <div class="greyFrame">
          <h3>Om ArcGIS Online</h3>
         <ul>
		 <li><a href="/da/arcgis-online/reference/what-is-agol.htm">&nbsp;Hvad er ArcGIS Online?</a></li>
		 <li>
		 <a href="/da/arcgis-online/reference/whats-new.htm" >&nbsp;Nyheder</a>
		 </li>
		 <li><a href="/da/arcgis-online/reference/faq.htm">&nbsp;Ofte stillede sp&oslash;rgsm&aring;l</a>
		 </li>
		 </ul>
        
        </div>
	
		 <br />
	
	<section id="video-column">
      <div class="panel">
        <h3>Opret et kort</h3>
        <a class="videoLink colorbox-evlarge" href="http://video.arcgis.com/iframe/253/000000/width/960/0/00:00:00"><img src="http://video.arcgis.com/thumbs/2011/04/253/making-a-map-d8a9f082b28f88c07545280c2934907a.jpg"><img class="playbtn" src="/img/playbtn.png"></a>
		<video width="320" height="240" controls id="2194" class="mobileVideo">
		  <source src="http://video.arcgis.com/download-video/253/mp4/480">
		</video>
        
        <p>L&aelig;r, hvordan du kan bruge den indbyggede kortviser til at oprette kort.</p>
        <a href="/da/arcgis-online/reference/videos.htm" class="btn secondary">Flere videoer</a>
      </div>
    </section>	
	
	<br />
		
<!-- Blog Feed -->
        <div class="greyFrame">
          <h3>Fra vores blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <a href="http://blogs.esri.com/esri/arcgis/category/arcgis-online/" class="btn secondary">Flere blogposter</a>
        </div>
		 <br />
		 
     <section id="forum-container">
      <div class="panel">
        <h3>P&aring; vores forum</h3>
        <div id="forum"></div>
        <a href="http://forums.arcgis.com/forums/30-ArcGIS-Online" class="btn secondary">Flere forumposter</a>
      </div>
    </section>      
	
		

	
 </div>

    </div>
	
	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/arcgis-online/feed/',
        max: 2,
        layout: 0
      });
	  
	  $("#forum").rssFeed({
			url:"http://forums.arcgis.com/external.php?type=RSS2%26forumids=30", 
			max: 3,        
			layout: 1
		  });

    });


  </script>
