---
title: Trust
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="it">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/it/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/it/trust/">Trust</a></li>
        <li><a title="ArcGIS Online System Status" href="/it/trust/system-status/">Stato di ArcGIS Online</a></li>
        <li><a title="ArcGIS Online Security" href="/it/trust/security/">Sicurezza</a></li>
        <li><a title="ArcGIS Online Privacy" href="/it/trust/privacy/">Privacy</a></li>
        <li><a title="ArcGIS Online Privacy" href="/it/trust/compliance/">Conformità</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">ArcGIS: la piattaforma sicura e affidabile per la ricerca di posizioni</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="Security data ownership" />
	      <div style="padding-top:30px; text-align: center;">
      <a href="/it/trust/system-status/" class="btn tertiary" style="width:75%;text-align:center; " >Verifica dello stato del sistema</a>
    </div>
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com è il sito dedicato alle informazioni su sicurezza, privacy e conformità.Trova:</p>
      <ul>
        <li>Disponibilità del servizio ArcGIS Online, prestazioni del sistema e cronologia degli stati</li>
        <li>Aggiornamenti della sicurezza ed avvisi correnti</li>
        <li>Informazioni sulla sicurezza dei prodotti per la piattaforma ArcGIS</li>
        <li>Procedure consigliate sulla sicurezza per l'organizzazione</li>
        <li>Informazioni su privacy e conformità</li>
      </ul>
      <p>Per Trust.ArcGIS.com Esri trae spunto dagli scambi di idee con i propri clienti.Invita pertantoa pubblicare gli eventuali suggerimenti su <a href="http://ideas.arcgis.com">ArcGIS Ideas</a>.</p>

	
 </div>

    <div class="clear"></div>
    <div class="" style="text-align:center; padding-top:75px;">
      <h4>&quot;La conformità a FedRAMP Moderate Revision 4 dimostra un avanzamento inesorabile della sicurezza della piattaforma ArcGIS verificata in modo indipendente&quot;.</h4>
      <p>Michael Young, architetto capo della sicurezza, Esri</p>

    </div>
    <div style="text-align:center; padding-top:45px;">
      <a href="http://cloud.cio.gov/fedramp"><img src="img/fedramp.png"/></a><a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">

    <br/>
	        <!-- Blog Feed -->
        <div class="imgFrame block">
          <h3 class="icon-announcement">Avvisi e annunci &nbsp;&nbsp;<a id="rssIcon" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" title="ArcGIS Blog"><img src="img/rss.png" /></a></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <div style="text-align:right;">
		  <a class="btn transparent" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">Visualizza tutti gli avvisi</a> 
		  </div>
        </div><br/>
		  		    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class="icon-alert icon-orange" href="/it/trust/security-concern/"> Segnala un problema di sicurezza</a>  </h4>
    </div>
    <br />

  </div>

 </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/',
        max: 3,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

