---
title: الثقة
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS Home page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ar">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ar/Trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
  <nav>
      <ul>
        <li class='current'><a title="ArcGIS Online Trust" href="/ar/trust/">الثقة</a></li>
        <li><a title="حالة نظام ArcGIS Online" href="/ar/trust/system-status/">حالة النظام</a></li>
        <li><a title="أمان ArcGIS Online" href="/ar/trust/security/">أمان</a></li>
        <li><a title="خصوصية ArcGIS" href="/ar/trust/privacy/">خصوصية</a></li>
        <li><a title="خصوصية ArcGIS Online" href="/ar/trust/compliance/">التوافق</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <div class="column-16 tablet-column-24">
    <h3 class="gray">يتم تصميم ArcGIS Online بصفته نظام آمن مع وصول محكوم</h3>
    <hr />
    <div id="collectorMapFeature" class="column-12 phone-column-24">
      <img src="img/features-security-data-ownership.jpg" alt="ملكية بيانات الأمان" />
	      <div style="padding-top:30px; text-align: center;">
      <a href="/ar/trust/system-status/" class="btn tertiary" style="width:75%;text-align:center; " >التحقق من حالة النظام</a>
    </div>
    </div>
    <div id="collectorDataFeature" class="column-12 phone-column-24">
      <p>Trust.ArcGIS.com هو مكان انتقالك لأمان الموارد والخصوصية ومعلومات التوافق. بحث: </p>
      <ul>
        <li>إتاحة خدمة ArcGIS Online ومعلومات أداء النظام ومخطط الحالة</li>
        <li>عمليات تحديث الأمان والتنبيهات الحالية</li>
        <li>معلومات أمان المنتجات لـ ArcGIS Online</li>
        <li>أفضل ممارسات الأمان للمؤسسة</li>
        <li>معلومات الخصوصية والتوافق</li>
      </ul>
      <p>يتم إطلاق Trust.ArcGIS.com من قبل المحادثات مع العملاء. ما تريد رؤيته هنا؟ إذا كان لديك اقتراحات، الرجاء انشرها على <a href="http://ideas.arcgis.com">أفكار ArcGIS</a>.</p>

	
 </div>

    <div class="clear"></div>
    <div class="" style="text-align:center; padding-top:75px;">
      <h4>"تلتزم Esri بتأمين النظام الأساسي للتعيين وكذلك تقوية ثقة العملاء خلال التفويض مثل FISMA".</h4>
      <p>ميشيل يونج، مهندس الأمان الأساسي، Esri</p>

    </div>
    <div style="text-align:center; padding-top:45px;">
      <a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="img/safeharbor.png"/></a>
    </div>
  </div>
  <div class="column-8 tablet-column-24 blocks" style="padding-bottom:60px;">

    <br/>
	        <!-- Blog Feed -->
        <div class="imgFrame block">
          <h3 class="icon-announcement">تنبيهات &amp; إعلانات &nbsp;&nbsp;<a id="rssIcon" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/" title="مدوّنة ArcGIS"><img src="img/rss.png" /></a></h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
		  <div style="text-align:right;">
		  <a class="btn transparent" href="http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/">إظهار جميع التنبيهات</a> 
		  </div>
        </div><br/>
		  		    <div class="" style="text-align:center;">
      <h4><a style="color:orange;" class ="icon-alert icon-orange" href="/ar/trust/security-concern/"> إقرار مشكلة الامان</a>  </h4>
    </div>
    <br />

  </div>

 </div>

	<script src="/ar/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/ssamymlgp/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>

