---
title: ArcGIS Maps for Office

css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.colorbox-min.js
  - video-init

metatags:
  - <META name="description" content="ArcGIS Maps for Office Home page."><META name="last-modified" content="2016-07-18"><META name="product" content="esri-maps-office"><META name="sub_category" content="Maps for Office"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Maps for Office"><META name="search-category" content="help-general"><META name="subject_label" content="LOCATION ANALYTICS,MAPPING"><META name="version" content="arcgis-maps-office-4.1"><META name="content_type" content="Help Topic"><META name="subject" content="LOCATION ANALYTICS,MAPPING"><META name="content-language" content="zh-tw">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
	<header>
		<h1><a href="/zh-tw/maps-for-office/">ArcGIS Maps for Office</a></h1>
		<form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search ArcGIS Maps for Office">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="esri-maps-office" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	
	<nav>
      <ul>
        <li class='current'><a href="/zh-tw/maps-for-office/">首頁</a></li>
        <li><a href="/zh-tw/maps-for-office/install-and-configure/">安裝和配置</a></li>
        <li><a href="/zh-tw/maps-for-office/design-and-use/">設計和使用地圖</a></li>
        <li><a href="https://geonet.esri.com/groups/arcgis-maps-for-office">GeoNet</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

    <div class="column-16 tablet-column-24">
        <header>
		<h2 id="appTitle">下載應用程式</h2>
        <span id="appVersion"><strong>版本：</strong> 4.1</span>
      <span id="appReleased"><strong>發行時間：</strong>2016 年秋季</span>

          <p>使用位置驅動型分析增加生產力。將全新的分析規模帶到 Microsoft Office。獲得全新的洞察力並立即制訂更明智的決策。將地圖地新增至 Excel 試算表和 PowerPoint 簡報。</p>

          <p>
             <a class="btn primary" href="http://www.esri.com/software/arcgis/arcgisonline/apps/download">取得 ArcGIS Maps for Office</a>
          </p>
		  
        </header>
        <hr />
        <br />

<!-- features top row -->
		<!-- Map your Excel data -->
		<div id="em4oFirstFeature" class="column-12 phone-column-24">
			<img src="Map-your-data.png" alt="Map your Excel data" />
		  
			<h3>製作 Excel 資料地圖</h3>
			<p>在 Excel 中直接製作更吸引人的試算表資料地圖。只要按幾下即可建立彩色編碼地圖、點狀地圖、叢集點地圖和熱點圖，並檢視有關您資料的深入資訊。</p>
			<p>&gt; <a href="/zh-tw/maps-for-office/design-and-use/add-a-map-to-excel.htm">瞭解詳細資訊</a></p>
		</div>

		<!-- Analyze data -->
        <div id="em4oSecondFeature" class="column-12 phone-column-24">
			<!-- REPLACE IMAGE > PPT -->
			<img src="Analyze-your-data.png" alt="Add a map to PowerPoint" />
			<h3>將動態地圖新增至 PowerPoint</h3>
			<p>將地圖從您的 ArcGIS 組織新增至 PowerPoint 以建立出色、動態的簡報。</p>
			<p>&gt; <a href="/zh-tw/maps-for-office/design-and-use/add-a-map-to-powerpoint.htm">瞭解詳細資訊</a></p>
		</div>
        <div class="clear"></div>

<!-- features second row -->
		<!-- Enrich your data -->
		<div id="em4oThirdFeature" class="column-12 phone-column-24">
			<img src="Enrich-your-spreadsheets.png" alt="Enrich your data" />

			<h3>豐富您的業務試算表</h3>
			<p>將 ArcGIS 人口統計和生活方式資料直接新增至 Excel 試算表，並取得更多重要位置的相關內容。使用快顯資訊圖表以即時、快速地探索位置。</p>
			<p>&gt; <a href="/zh-tw/maps-for-office/design-and-use/enrich-your-data.htm">瞭解詳細資訊</a></p>
		</div>

		<!-- Share maps -->
		<div id="em4oFourthFeature" class="column-12 phone-column-24">
			<img src="Share-your-data.png" alt="Share maps on ArcGIS" />
			<h3>從 Excel 分享您的地圖</h3>
			<p>使用 ArcGIS Online 或 Portal for ArcGIS，或在電子郵件、PowerPoint 簡報或 Word 文件中插入您的地圖來分享它們。</p>
			<p>&gt; <a href="/zh-tw/maps-for-office/design-and-use/share-a-map-to-arcgis.htm">瞭解詳細資訊</a></p>
        </div>
	<div class="clear"></div> 

		<br />
		
<!-- What's new section -->
	<hr />
	<a id="whatsNew"></a>
 	<h2>Portal for ArcGIS 10.4.1 的</h2>	
	<p>&gt; 您是否想要在 ArcGIS Maps for Office 中看到某個功能？ 請在 <a href="https://geonet.esri.com/community/arcgis-ideas/content?filterID=contentstatus%5Bpublished%5D~category%5Barcgis-maps-for-office%5D" target="_blank">ArcGIS Ideas</a> 網站上訴我們。</p>
	
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<p>ArcGIS Maps for Office 4.1 僅做些微更新，可增加速度、提供更好使用性及許多錯誤修正。以下是一些重要項目：</p>
			<ul>
				<li>ArcGIS Maps for Office 現在可辨識您組織的預設地理編碼器。</li>
				<li>ArcGIS Maps for Office 現在使用 Chromium 式的瀏覽器來顯示地圖，這意味可更快速地使用您的資料。即使在使用大量資料，您仍可輕鬆地平移和縮放地圖。</li>
				<li>ArcGIS Maps for Office 現在支援向量底圖和圖層，這表示您能在高解析度的監視器上看到更美觀的地圖。</li>
				<li>您現在可以選擇地圖上的項目，並將對應的資料列匯出至新的<a href="/zh-tw/maps-for-office/design-and-use/export-layer-data.htm#ESRI_SECTION1_C600AB636AC342D4A10E7F119CF29F21" target="_blank">工作表</a>或新的 Excel <a href="http://docdev.arcgis.com/zh-tw/maps-for-office/design-and-use/export-layer-data.htm#ESRI_SECTION1_CC8A61DBF1C94C8B805C25E9944047FF" target="_blank">活頁簿</a>，方便您使用所要的資料。</li>
				<li>改善<a href="/zh-tw/maps-for-office/design-and-use/add-layers-from-excel.htm" target="_blank">新增資料</a>和<a href="/zh-tw/maps-for-office/design-and-use/change-a-layer-s-style.htm" target="_blank">樣式圖層</a>介面的視覺效果，協助您更輕鬆地載入和視覺化資料。</li>
				<li><a href="/zh-tw/maps-for-office/design-and-use/view-infographics.htm" target="_blank">快顯資訊圖表設定</a>可跨圖層保留，讓您不需要變更每一個別別圖層。</li>
				<li>更新來源資料時，包含公式的儲存格會更新地圖。</li>
				<li>儲存格值變更時會正確渲染地圖和圖層樣式。</li>
				<li>您現在可以在<a href="/zh-tw/maps-for-office/design-and-use/export-layer-data.htm" target="_blank">匯出圖層</a>時指定要使用的空間參考系統。</li>
				<li>新增更多錯誤修正，包括本土化和國際化問題。</li>
			</ul>
		</p>


<!-- Supported environments section -->
	<hr />
	<a id="supportedEnvironments"></a>
        <h2>支援的環境</h2>
		<p>ArcGIS Maps for Office 是部署成 Microsoft Excel 和 Microsoft PowerPoint 的附加元件。為了讓 ArcGIS Maps for Office 正常運作，Esri 訂定了這些應用程式的操作配置。Esri 僅在已經證實受 Microsoft Excel 或 PowerPoint 所支援的軟體環境中測試 ArcGIS Maps for Office，而並未於所有 Excel 或 PowerPoint 所支援的環境中進行測試或驗證。有關詳細資訊，請參閱 <a href="http://support.esri.com/en/content/supportedenvironmentpolicy" target=blank>Esri 支援環境政策</a>。</p>
		
		<p><b>備註：</b>Microsoft Word 可讓您在文件中內嵌和使用 Excel 試算表。此工作流程不受 ArcGIS Maps for Office 支援，也不建議使用。</p>
		
		<!-- script for collapsible headings -->
		<script> 
		 function exp(e,strTag ,strAttribute){ 
		 var elem = document.getElementsByTagName(strTag); 
		 var elem1 = e.target;
		for (var i=0;i<elem1.children.length;i++){ 
		 elem1.children[i].innerText=="4"?elem1.children[i].innerText="6":elem1.children[i].innerText="4"; 
		 } 
		 for (var i =0;i<elem.length;i++) 
		 { 
		 if(elem[i].getAttribute(strAttribute)=="yes") 
		 { 
		 elem[i].style.display=='none'? elem[i].style.display='block':elem[i].style.display='none'; 
		 } 
		 } 
		 } 
		 </script> 

		<!-- Sys Reqs -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp1')">系統要求</a>
		</h3>
			<div exp1='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 需要 ArcGIS 組織和 Microsoft Office Excel 或 PowerPoint 的帳號 (Microsoft Office 2010、2013 或 2016)。</p>
			<p>如需其它資訊，包括必要的處理器速度、記憶體與硬碟空間，請參閱以下的系統要求：
			<ul>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351(V=OFFICE.14).ASPX" target="_blank">Microsoft Office 2010</a></li>
				<li><a href="http://technet.microsoft.com/EN-US/LIBRARY/EE624351.ASPX" target="_blank">Microsoft Office 2013</a></li>
				<li><a href="https://products.office.com/en-ca/office-system-requirements#SUITES" target="_blank">Microsoft Office 2016</a></li>
			</ul>	
			</p>
			</div>
			
		<div class="clear" style="padding:5px;"></div>

		<!-- Req'd SW -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp2')">Required software</a>
		</h3>
			<div exp2='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 需要 <a href="http://doc.arcgis.com/en/arcgis-online/reference/what-is-agol.htm" target="_blank">ArcGIS Online</a> 組織訂閱或內部的 Portal for ArcGIS 部署。假設 ArcGIS 管理員已妥善配置存取平台所用的驗證方法。</p>
			<p>ArcGIS Maps for Office 4.1 支援下列 ArcGIS 版本：
				<ul>
					<li>ArcGIS Online：目前版本</li>
					<li>Portal for ArcGIS：10.2、10.2.1、10.2.2、10.3、10.3.1、10.4、10.4.1</li>
				</ul>
			</p>

			<p>此外，您的系統上必須安裝與配置以下軟體：</p>
				<ul>
					<li>Microsoft Office 2010、2013 或 2016*</br>
						* <b>重要：</b>利用 Microsoft Office 2016 16.0.6326.1010 版時，ArcGIS Maps for Office 檔案功能表控制項將無法如設計般運作。支援所有其他 Microsoft Office 2016 版本。
					</li>
					<li>Microsoft Windows。支援的版本：
						<ul>
							<li>Windows 7 (32 位元和 64 位元)</li>
							<li>Windows 8 (32 位元和 64 位元)</li>
							<li>Windows 8.1 (32 位元和 64 位元)</li>
							<li>Windows 10 (32 位元和 64 位元)</li>
							<li>Windows Server 2008 R2</li>
							<li>Windows Server 2012</li>
							<li>Windows Server 2012 R2</li>
						</ul>
					</li>
					<li>Microsoft .NET Framework 4.0 或更新版本</li>
					<li>Microsoft Visual Studio 2010 Tools for Office Runtime</li>
					<li>Microsoft Visual C++ 2015 Runtime 組件</li>
				</ul>
			<p></p>
			</div>
			
		<!-- Supported languages -->
		<h3>
		<a class="icon-right-arrow" onclick="exp(event,'div','exp3')">受支援的語言</a>
		</h3>
			<div exp3='yes' style="display:none;padding:0 15px;">
			<p>ArcGIS Maps for Office 可使用下列語言版本：</p>
			<p>阿拉伯語、中文（簡體）、繁體中文（香港）、繁體中文（台灣）、捷克語、丹麥語、德語、希臘語、英語、西班牙語、愛沙尼亞語、芬蘭語、法語、希伯來語、義大利語、日語、韓語、立陶宛語、拉脫維亞語、荷蘭語、挪威語、波蘭語、葡萄牙語（巴西）、葡萄牙語（葡萄牙）、羅馬尼亞語、俄語、瑞典語、泰語、土耳其語和越南語。</p>
			
			<p>ArcGIS Maps for Office 使用在 Excel 選項中指定的語言，而非作業系統的文化設定中的語言。如果您使用未支援的語言，應用程式會使用英文。</p>
			
			</div>

        <p>&nbsp;</p>
	</div>
	
	
<!-- Sidebars -->
      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>入門</h3>
          <ul>
           <li><a href="#whatsNew">新功能</a></li>
            <li><a href="#supportedEnvironments">支援的環境</a></li>
			<li>舊版本的說明：
				<ul>
					<!-- TODO: verify URL for archived 4.0 help -->
					<li><a href="/zh-tw/maps-for-office/4.0/">4.0 版線上說明</a></li>
				</ul>
			</li>
			<li><a href="https://www.youtube.com/channel/UC-7QzZwqUK6gSxbXUf3qOQA">觀看影片</a></li>

          </ul>
        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>部落格</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

	 </div>


</div>

	 

<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script> <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/category/location-analytics/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
