---
title: AppStudio for ArcGIS Community
description: Get social with the AppStudio for ArcGIS user community

  
js:
  - libs/jquery.cycle2.min
  - libs/jquery.cookie
  - /en/asset/js/appstudio-1
  - /en/asset/js/rssfeed
  - sitecfg
    
metatags:
  - <META name="description" content="AppStudio for ArcGIS user community"><META name="last-modified" content="2015-07-15"><META name="product" content="appstudio,appstudio-browser"><META name="sub_category" content="AppStudio"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="AppStudio"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPLICATIONS,WEB,ARCGIS ONLINE"><META name="content-language" content="en">

mobile: true
---

<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/appstudio/">AppStudio for ArcGIS Desktop Edition (Beta)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search AppStudio for ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="appstudio" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
   <nav>
      <ul>
        <li ><a href="/en/appstudio/">Home</a></li>
        <li><a href="/en/appstudio/desktop/create-apps/">Create Apps</a></li>
       <!-- <li><a href="/en/appstudio/manage-apps/">Manage Apps</a></li>  -->
        <li><a href="/en/appstudio/extend-apps/">Extend Apps</a></li>
    <li class='current'><a href="/en/appstudio/community/">Community</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->

<div id="features" class="container">
  <h3 class="pull-quote gray">
  Get social. Ask questions and find answers on Esri's <a href="#geonet">user-to-user discussion platform</a>, GeoNet. <a href="#twitter">Tweet</a> us at #AppStudioForArcGIS. Learn tips and tricks from the Dev Team via the <a href="#blog">ArcGIS Blog</a>. <!--Tell us your <a href="ideas">ideas for vNext</a>.  -->
  </h3>
  
  <hr><a name="blog"></a>

  <div class="feature" id="blog-sect">
  <div class="feature-text">
      <h2 class="leader-half trailer-half">Direct from the Dev Team</h2>
      <p>The AppStudio for ArcGIS Team blogs regularly on the ArcGIS Blog. You'll find news about upcoming releases, tips to improve your workflow, and articles that boost your know-how.</p>
      <p>Check in regularly or subscribe to the feed and get updates pushed to your favorite reader app.</p>
      <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/" class="btn secondary">Read the blog</a> &nbsp; <a href="http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/" class="btn light icon-rss icon-orange">Subscribe via RSS </a>
  </div>
  <div class="feature-block">
    <div class="panel white">
    
      <div id="blog">
            <!-- blog goes here -->
          </div>
    </div>
  </div>
</div>



<hr><a name="geonet"></a>

  <div class="feature" id="geonet">
  
  <div class="feature-block" style="margin-left: 0;">
      <div class="panel white">  
		  <div id="forum">
            <!-- forum goes here -->
         </div>
		</div>
  </div>
  
      
  <div class="feature-text">
  
   <h2 class="leader-half trailer-half">Ask questions on GeoNet</h2>
      <p>Inevitably a time will come when the resources on this site don't have the answer you need; that's when GeoNet, Esri's user-to-user discussion platform, answers your SOS call. The <a href="https://geonet.esri.com/groups/appstudio/content">AppStudio for ArcGIS group</a> gathers your fellow users to ask and answer questions about the software, workflows, GIS, and more. </p>

      
      
      <p><a href="https://geonet.esri.com/discussion/create.jspa?containerType=700&containerID=4076" class="btn secondary icon-help">Ask a question</a> &nbsp; <a href="https://geonet.esri.com/groups/appstudio/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D" class="btn light icon-comment icon-blue">Browse discussions</a></p>

      <p>And if the knowledge you gained on GeoNet can and should be included in the AppStudio for ArcGIS resources found here, please <a href="/feedback/">let us know</a>. </p>
   

  </div>
  
  
  
  
</div>
<hr>

<a name="twitter"></a>

<div class="feature flip" id="twitter">
  <div class="feature-text">
<a class="twitter-timeline"  href="https://twitter.com/search?q=%23appstudio%20%23arcgis" data-widget-id="621075523536486400">Tweets about #appstudio #arcgis</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   

 </div>
  <div class="feature-block">
	
			
			 <h2 class="leader-half trailer-half">Follow us on Twitter</h2> 
      <p>Want your news in 140 characters or less? We've got you covered.</p>
      <p>Follow @AppStudioArcGIS or join the #AppStudio #ArcGIS conversation.</p>
      <a href="https://twitter.com/AppStudioArcGIS" class="btn secondary icon-twitter">Follow us</a> &nbsp; <a href="https://twitter.com/intent/tweet?hashtags=AppStudio,ArcGIS" class="btn light icon-twitter icon-blue"> #AppStudio #ArcGIS </a>

  </div>



  
</div>





</div> 

  <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/appstudio/feed/',
        max: 3,
        layout: 0
      });

    $("#forum").rssFeed({
      url:"https://geonet.esri.com/groups/appstudio/view-browse-feed.jspa?browseSite=place-content&browseViewID=placeContent&userID=-1&containerType=700&containerID=4076&filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bthread%5D", 
      max: 3,        
      layout: 1
      });

       

    });


  </script>
  