---
title: Web AppBuilder for ArcGIS
css:
  - documentation
  - /en/asset/css/common
  - stat-page-specific
  - colorbox/colorbox

js:
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - video-init

metatags:
  - <META name="description" content="Web AppBuilder for ArcGIS"><META name="last-modified" content="2014-8-26"><META name="product" content="webapp-builder"><META name="sub_category" content="ArcGIS app"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="ArcGIS app"><META name="search-category" content="help-general"><META name="subject_label" content="APPS,WEB APPS"><META name="version" content=""><META name="content_type" content="Help Topic"><META name="subject" content="APPS,WEB APPS"><META name="content-language" content="en">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/en/web-appbuilder/">Web AppBuilder for ArcGIS (Beta)</a></h1>
      <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Web AppBuilder ">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="platform" value="detect" />          
        <input type="hidden" name="product" value="web-appbuider" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li class='current'><a href="/en/web-appbuilder/">Home</a></li>
        <li><a href="/en/web-appbuilder/create-apps/">Create Apps</a></li>
        <li><a href="/en/web-appbuilder/manage-apps/">Manage Apps</a></li>
        <li><a href="/en/web-appbuilder/extend-apps/">Extend Apps</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

      <div class="column-16 tablet-column-24">

	       <h3 class="gray">Build powerful GIS apps that run on any device. No coding required.</h3>
	
        </header>
        <hr />
        <br />


      <div id="firstApp" class="column-12 phone-column-24">
          <img src="img/builder-firstapp.png" />
          <p></p>

          <h3>Five minutes to your first app</h3>
          
          <p>
            <a href="/en/web-appbuilder/create-apps/make-first-app.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="easyConfig" class="column-12 phone-column-24">
          <img src="img/builder-widgets.png" />
          <p></p>

          <h3>Easy configuration</h3>
         <!--  <p>Just a few clicks away to configure the look-and-feel of the app and widgets.</p> -->
          <p>
            <a href="/en/web-appbuilder/create-apps/themes-tab.htm" class="icon-right-arrow">&nbsp;Configure app</a>
            <a href="/en/web-appbuilder/create-apps/widget-attribute-table.htm" class="icon-right-arrow">&nbsp;Configure widgets</a>
          </p>
        </div>

      <div class="clear"></div>

        <div id="customTemplates" class="column-12 phone-column-24">
          <img src="img/builder-template.png" />
          <p></p>

          <h3>Export templates</h3>
          <p>Create custom web app template for your organization, hosted by ArcGIS Online or Portal for ArcGIS.</p>
          <p>
            <a href="/en/web-appbuilder/manage-apps/export-as-template.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div id="customize" class="column-12 phone-column-24">
          <img src="img/builder-customize-encinitas.png" />
          <p></p>

          <h3>Build widgets & themes</h3>
          <p>Customize and extend the app by creating your own widgets and themes.</p>
          <p>
            <a href="/en/web-appbuilder/extend-apps/developer-s-guide-overview.htm" class="icon-right-arrow">&nbsp;Show me how</a>
          </p>
        </div>

        <div class="clear"></div>


        <a name="supportedBrowsers"></a>
        <h2 class="divider">Supported browsers</h2>
        <ul>
          <li>Chrome</li>
          <li>Firefox</li>
          <li>Safari 3+</li>
          <li>Internet Explorer 9+. Internet Explorer 8 is not supported at beta</li>
        </ul>
        

        <a name="license"></a>
        <h2 class="divider">License</h2>

        <p>To use Web Appbuilder, you must have an ArcGIS organizational account.

        <a name="features"></a>
        <h2 class="divider">Key Features</h2>
        <ul>
          <li>Create HTML/JavaScript apps that run on any device.</li>
          <li>Build the apps you need using ready-to-use widgets.</li>
          <li>Customize the look of your apps with configurable themes.</li>
          <li>Host your apps online or run them on your own server.</li>
          <li>Create custom app templates.</li>
        </ul>
        
        <h3>Supported languages</h3>
        <p>Chinese (Simplified Han), Czech, Danish, Dutch, English, Estonian, Finnish, French, German,Italian, Japanese, Korean, Latvian, Lithuanian, Norwegian, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian, Spanish, Swedish, Thai, and Turkish. Arabic and Hebrew are not supported at beta.</p>
        <p>The language used by the app is determined by your device's language setting.</p>

      </div> 


      <div class="column-8 tablet-column-24 blocks">

        <div class="imgFrame block">
          <h3>Details</h3>
          
          <h4><a href="#features">Key Features</a></h4>
          <h4><a href="#supportedBrowsers">Supported Browsers</a></h4>
          <h4><a href="#license">License</a></h4>

        </div>

        <br />

        <!-- Blog Feed -->
        <div class="greyFrame">
          <h3>From our blog</h3>
          <div id="blog">
            <!-- blog goes here -->
          </div>
        </div>

 </div>

    </div>

	<script src="/en/asset/js/rssfeed.js" type="text/javascript"></script>
 <script type="text/javascript">
    $(window).load(function() {
      $('#blog').rssFeed({
        url:'http://blogs.esri.com/esri/arcgis/tag/web-appbuilder/feed/',
        max: 5,
        layout: 0
      });
    });

/*
N = # of article shown (default is 2)
L = 0, 1 (default is 0)
*/

  </script>
