---
title: Trust - 시스템 상태
css:
  - stat-page-specific
  - colorbox/colorbox

js:
  - video-init
  - libs/jquery.cookie
  - libs/jquery.colorbox-min.js
  - jquery.colorbox.init.js
  - sitecfg.js

metatags:
  - <META name="description" content="Trust ArcGIS System Status page."><META name="last-modified" content="2014-09-22"><META name="product" content="arcgis-online"><META name="sub_category" content="Trust ArcGIS"><META name="search-collection" content="help"><META name="content_type_label" content="Help Topic"><META name="sub_category_label" content="Trust ArcGIS"><META name="search-category" content="help-general"><META name="subject_label" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="version" content="1.0"><META name="content_type" content="Help Topic"><META name="subject" content="TRUST,ONLINE,SECURITY,PRIVACY,COMPLIANCE"><META name="content-language" content="ko">

mobile: true

---
<div class="navigation-bar blue">
  <div class="container">
    <header>
      <h1><a href="/ko/trust/">Trust ArcGIS</a></h1>
       <form id="helpSearchForm" target="_top">
        <input type="search" name="q" class="leader" placeholder="Search Trust ArcGIS">
        <input type="hidden" name="collection" value="help" />
        <input type="hidden" name="product" value="arcgis-online" />          
        <input type="hidden" name="language" value="<%= current_language %>" />
      </form>
    </header>
	<nav>
      <ul>
        <li><a title="ArcGIS Online Trust" href="/ko/trust/">Trust</a></li>
        <li class='current'><a title="ArcGIS Online 시스템 상태" href="/ko/trust/system-status/">시스템 상태</a></li>
        <li><a title="ArcGIS Online 보안" href="/ko/trust/security/">보안</a></li>		
        <li><a title="ArcGIS Online 개인 정보 보호" href="/ko/trust/privacy/">개인 정보 보호</a></li>
        <li><a title="ArcGIS Online 개인 정보 보호" href="/ko/trust/compliance/">규정 준수</a></li>
	</ul>
    </nav>
  </div>
</div>

<!-- Page Content -->
<div class="container">

     <div class="">
	
        <div id="collectorMapFeature" >

<iframe src="http://status.arcgis.com/" width="1000" height="1000" frameborder="0">오류: 포함된 데이터를 표시할 수 없습니다.</iframe>
        </div>
 </div>

<div>
	<p>ArcGIS Online 상태 대시보드에서는 대다수의 사용자가 영향을 받는 것으로 확인된 상태 정보를 제공합니다. ArcGIS Online은 대규모 클라우드 기반 플랫폼이므로 많은 이벤트가 보다 광범위한 사용자층에 제한적으로 영향을 미칩니다. 기관별 문제는 이 상태 페이지에 게시되지 않으며, Esri의 지원 서비스를 통해 해결해야 합니다.</p>
</div>

 <div style="text-align:center; padding-top:15px;">
			<a href="http://csrc.nist.gov/groups/SMA/fisma/"><img src="../img/fisma.png"/></a><a href="http://www.truste.com/privacy-program-requirements/TRUSTed-cloud/"><img src="../img/truste.png"/></a><a href="http://www.export.gov/safeharbor/"><img src="../img/safeharbor.png"/></a>
		</div>	
    </div>
 

		 		

	
 </div>
</div>
	
